[2022-08-23 17:59] RossComputerGuy commented on #6032
I'm also having the same problem, what should `redirectURI` be set to with `bitnami/keycloak 9.6.9`? I have Keycloak running at `https://cluster.tristanxr.com/keycloak/`.

[2022-08-23 19:12] farvour commented on #2677
I, too, am experiencing this issue. Why does the ArgoCD CLI behave differently with patch? I didn't profile it, but I suspect it's just re-pushing the entire spec for the PUT of spec Update instead of PATCH? Otherwise, my CLI would be failing I imagine, since I'm hitting the same endpoint for that...

[2022-08-23 19:32] ashutosh16 commented on #10398
fixed in the PR https://github.com/argoproj/argo-cd/pull/10421

[2022-08-23 19:32] #10398 closed

[2022-08-23 20:06] krancour opened #10437 "colons in filenames can cause problems"
#10141 introduced a regression of the issue that was previously corrected by #10183

I'd fix this myself, but I can't quite figure out how.

[2022-08-23 20:14] johnoct-au commented on #7898
We're running in to the same issue running ArgoCD `v2.4.6`

[2022-08-23 21:32] yeya24 opened #10438 "Server side apply cannot sync to desired state"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

After syncing the app with the server-side apply option, I got the following error indicating an out-of-sync error.

![image](https://user-images.githubusercontent.com/25150124/18626514

[2022-08-23 21:38] yeya24 commented on #10438
One thing I want to mention is that there is no way to view the different diffs when server side apply is not enabled at the app level. So I don't know whether the diff is expected when I want to use `server side apply` sync option.

[2022-08-23 21:47] yeya24 commented on #10438
Just tried another time. Even if the application is configured with SSA enabled, I still cannot fully sync it.
[code]

![image](https://user-images.githubusercontent.com/25150124/186272337-caa2d8c4-3b93-406f-a148-fa4a93ec4f8c.png)

[2022-08-23 21:47] aug70 commented on #4174
@jessesuen
I have flannel cni, on-prem cluster and still having the same issue, even after deleting the networkpolicies. I used openssl on the controller pod to reach out to api server, connects just fine. So there's connectivity after all, problem still persists.

[2022-08-23 23:40] akloss-cibo opened #10439 "Allow restricting branches permitted for manual sync"
# Summary

When manually sync'ing an Application, ArgoCD permits the user to specify an arbitrary branch to use for the sources.  This makes controlling the resources difficult.  It would be lovely to be able to restrict the branches that can be synced to a specific list.

# Motivation

Preventing a single individual from being able to create arbitrary resources in a cluster is desirable from a se

[2022-08-24 05:26] JessieTeng89 commented on #10008
@jsoref I agree, I saw the pull request created by @crenshaw-dev has been closed, so I tried to find a solution for this issue.
Maybe we can update the message and replace the quotes first.

[2022-08-24 05:26] martijnvdp commented on #10382
restarting the argocd server deployment seems to resolve it

[2022-08-24 05:50] #10382 closed

[2022-08-24 06:30] sadshwat commented on #2638
The exclude function is not working, either with files or directories. Any update on this?

[2022-08-24 07:29] chenger opened #10441 "No parameters in gui when values.yaml is absent"
Checklist:

* [ +] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ +] I've included steps to reproduce the bug.
* [ +] I've pasted the output of `argocd version`.

**Describe the bug**

When there are no values.yaml in git repo, only values-***.yaml there are no parameters in GUI even when any yaml selected. Previouse versions peads parameters from selected values-*

[2022-08-24 07:43] srinath-panda commented on #1329
same issue here.

[2022-08-24 08:25] Joseph94m commented on #10023
Hi, getting something similar when I tried adding a gitlab repo with argocd 2.4.9. Either with ssh or https.

[code]

[code]

Any ideas?

[2022-08-24 09:39] andreabenfatto commented on #8733
+1

[2022-08-24 11:10] filipjosifoski commented on #10411
Hello mueherizky.

The syncOption to create namespace seems to be working fine for me, could you give us more information about the version of your ArgoCD and possibly the Application manifest?

[2022-08-24 12:05] iluwatar commented on #10429
I was struggling with the same thing, but managed to solve it. Try first calling

`argocd login --core`

Then you can verify that `argocd version` and `argocd cluster add xxx` no longer produce the error "Argo CD server address unspecified".

[2022-08-24 13:10] RomainBelorgey commented on #10070
Would love also to have that to help configure `syncPolicy` when using `applicationSet` and have a way to remove the syncing of a specific app.

[2022-08-24 14:52] bmedici opened #10442 "ApplicationSet: generators: git: files: expose detected filename as a variable"
# Summary
When using a Git generator and detecting files, it can be useful to be able to use the matched filename as a variable.

# Motivation
For example, I'm detecting *.yaml files as environment values, implicitely declaring the "env" value. I can get the parent path, but not the final detected filename.

# Proposal
As `{{path}}` is exposed when using generators/git/directories, we could expose

[2022-08-24 14:57] bmedici opened #10443 "ApplicationSet: allow declaration of variables to be used everywhere in the CRD content"
# Summary
When using generators in a ApplicationSet, we can use the variables like `{{path}}` or `{{path[1]}}` containing parts of the path. Most of the time, directory parts have a special usage/meaning in the way we organise the file structure. to improve readability and abstraction, we could alias or name those parts explicitely.

# Motivation
When path[1] represents the app name, for example,

[2022-08-24 15:27] y509319 commented on #10263
An update for everyone who might encounter this or similar issue.

Had a discussion with Atlassian support as well.
Turned out we were hitting BitBucket API limits as described in their page here:
[https://support.atlassian.com/bitbucket-cloud/docs/api-request-limits](https://support.atlassian.com/bitbucket-cloud/docs/api-request-limits)

We had to distribute the requests with more authentication

[2022-08-24 15:27] #10263 closed

[2022-08-24 16:43] mdsjip commented on #9888
Changing `22.04` to `20.04` [here](https://github.com/argoproj/argo-cd/blob/master/Dockerfile#L1) fixed this issue for me.

[2022-08-24 17:09] mulhotavares commented on #9455
@crenshaw-dev I also think the above issue doesn't fix one scenario:
My PRs are automatically labeled. And if a PR is stale, I'll also label that PR with a stale tag (using [this](https://github.com/marketplace/actions/close-stale-issues)). It would be nice if we could exclude PRs with certain tags from the PR generator, so that we can get stale PRs to be uninstalled.
Something like:
[code]

[2022-08-24 17:35] Danny-m08 opened #10445 "Metric for repo connections"
# Summary

Would be nice to have a metric similar to argocd_cluster_connection_status but for repo connection status.

# Motivation

Will allow us to create prometheus alerting for improved observability. Send alerts when connections to git repos goes down

# Proposal

Create a new metric called argocd_repo_connection_status

[2022-08-24 17:48] Conrimaceogain commented on #2677
The CLI is likely talking via GRPC, instead of regular HTTP calls where this issue crops up.

[2022-08-24 19:00] mweibel commented on #10429
I'm sorry - maybe the issue description wasn't clear enough. The issue is *not* with `argocd version` or `argocd cluster add` or the error `Argo CD server address unspecified`.
Instead, the issue is about `argocd admin cluster generate-spec context` not working and erroring with `FATA[0000] configmap "argocd-cm" not found`. This works (still) in older (2.2.x) versions of the CLI but not in the new

[2022-08-25 05:30] JessieTeng89 commented on #10008
@jsoref Are you good with the message style change like following screenshot? I removed the unused quotes and display the resource/application name with bold, or do you have any other ideas?
![Screen Shot 2022-08-25 at 13 28 02](https://user-images.githubusercontent.com/101035990/186582476-b4db816e-25de-4ea1-a58d-8d270ed52ee4.png)

[2022-08-25 07:36] jankaderabek commented on #9455
@mulhotavares This is something that I would really appreciate also. Have you found any support or workaround for this scenerio?

[2022-08-25 08:34] #10111 closed

[2022-08-25 11:09] jsoref commented on #10008
If we could have the equivalent of `<tt>` (monospace font) instead of bold, I'd prefer it. But, what you have is better than the current.

[2022-08-25 12:43] magf opened #10453 "No such entrypoint in argocd-applicationset image"
**Describe the bug**

argocd-applicationset-controller deployment says:

**To Reproduce**

Just try to install any versions newer 2.3 (_latest 2.4.11 today, for example_) where is file `manifests/base/applicationset-controller/argocd-applicationset-controller-deployment.yaml` present

Or just run container with command from `argocd-applicationset-controller-deployment.yaml`

[code]

You'll see:

B

[2022-08-25 13:09] rouke-broersma opened #10454 "Sync Order UI column not showing results for app-of-apps apps"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When sync-waves are configured on resources of type Application (app-of-apps) the sync order column in argocd is empty. The sync order column is filled for other types of resources.

**

[2022-08-25 13:29] mulhotavares commented on #9455
No, haven't found any workaround yet.
A workaround would be to remove labels once a PR is stale, but I can't find an easy way to automate that.

[2022-08-25 13:38] cehoffman commented on #2720
This is almost possible with the `argocd-cmd-params-cm`, but the HA install in particular sets [inline CLI flags ](https://github.com/argoproj/argo-cd/blob/a23bfc3acaa464cbdeafdbbe66d05a121d5d1fb3/manifests/ha/base/overlays/argocd-application-controller-statefulset.yaml) even though these values are plumbed to come [through the environment](https://github.com/argoproj/argo-cd/blob/a23bfc3acaa464cb

[2022-08-25 15:33] michalschott opened #10456 "prune option doesn't play nice with CiliumIdentity resource"
Hey,

I'm running on EKS with Cilium as CNI, deploying apps with kustomize with prune option enabled.

Given my kustomization looks like this:

[code]

Cilium automatically creates CiliumIdentity object, which ArgoCD obviously catch up and here is where story begins:
* app (especially CiliumIdentity) is constantly marked as Out-Of-Sync
![Zrzut ekranu 2022-08-25 o 17 32 10](https://user-images.gith

[2022-08-25 16:34] ashutosh16 opened #10457 "When modifying the live manifest, a save button should be visible at the top of the page."
# Summary
When argocd user edits the resource live manifest too frequently on the ui, the user needs to scroll up to save the changes. The save button should be accessible w/o having to scroll  up

# Motivation

Normally save buttons should be fixed at the top of documents that are not scrolled off the screen when one scrolls their resource manifest.

# Proposal

How do you think this should be im

[2022-08-25 17:49] HariSekhon commented on #9443
I've used Git's AskPass to inject credentials in a similar case.

Git askpass script in a configmap:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/git-askpass.configmap.yaml

patch the ArgoCD repo server with this script and environment variables to use the above script and whatever standard k8s secret credentials you want:

https://github.com/HariSekhon/Kubernetes-configs/blob/mas

[2022-08-25 17:49] HariSekhon commented on #8820
I've used Git's AskPass to inject credentials in a similar case.

Git askpass script in a configmap:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/git-askpass.configmap.yaml

patch the ArgoCD repo server with this script and environment variables to use the above script and whatever standard k8s secret credentials you want:

https://github.com/HariSekhon/Kubernetes-configs/blob/mas

[2022-08-25 18:23] swarren83 commented on #4441
+1, spent 2 days trying to figure out why an Application was in Unknown state.

[2022-08-25 19:33] leoluz commented on #8820
@HariSekhon can you please confirm the ArgoCD version you are running?
Thank you.

[2022-08-25 20:05] james-ransom commented on #10422
Confirmed working 2.3.7

[2022-08-25 20:28] HariSekhon commented on #8820
@leoluz I did this on an ArgoCD 2.0 that I use in production to solve my Kustomize external bases not working.

[2022-08-26 01:22] JessieTeng89 commented on #10008
By researching, it seems `<tt>` is already deprecated in HTML5, please see this blog https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tt.
Instead it recommends us to use the more semantically helpful `<code>`, `<kbd>`, `<samp>`, or `<var>` elements for inline text that needs to be presented in monospace type
I tried all in my local environment, please check if any style you preferrer to u

[2022-08-26 02:18] jsoref commented on #10008
Ah, I didn't necessarily mean the literal html `<tt>`, just a conceptual monospace w/o me writing a css style.

That said, `<kbd>` appears to both be semantically correct and have a reasonable rendering.

[2022-08-26 03:24] zephyros-dev commented on #8820
I'm doing something similar for the sidecar plugins. While it works, this methods only allows using a single credentials rather than reusing the pattern matching of the Credential Templates from argoCD (though I'm not sure if the older version works like that, I haven't tested it yet).

[2022-08-26 04:56] icicimov commented on #3709
@flaviomoringa I think the `Application` name variations per cluster is also not good in terms of persistent service names across the clusters. In case of helm some plugins do not provide name override thus the `Application` name becomes the Helm  release name which then propagates across the chart. This means instead of always having a `metric-server` clusterIP service in the `metrics-server` nam

[2022-08-26 05:42] ashutosh16 commented on #10456
@michalschott   You can add an annotation to the specific object `CiliumIdentity`, preventing it from pruning. Is this option work for you?
[code]
https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#no-prune-resources

[2022-08-26 07:12] nazarewk commented on #2720
I've worked around it with:
[code]

the performance skyrocketed after 100/50 processors kicked in.

[2022-08-26 07:18] mtavaresmedeiros commented on #7703
+1

[2022-08-26 07:18] bigwheel commented on #8635
$$oidc ?
I thought this issue might be related to https://github.com/argoproj/argo-cd/issues/6878 .

[2022-08-26 07:49] yushiwho commented on #9040
Hi. I am trying to add a feature for socks proxy. Maybe this PR can help.
https://github.com/argoproj/argo-cd/pull/10451

[2022-08-26 08:11] HariSekhon commented on #8820
In the above simple example this is true, but actually the git askpass mechanism can pass in variables, which means you can add logic to the script to return different credentials based on different protocol, host and repo path:

https://git-scm.com/docs/git-credential#IOFMT

[2022-08-26 08:32] pmcenery-bl opened #10459 "Unable to disable LFS"
My repository has a number of large LFS files which do not relate to any kustomize resources. I also have a number of projects with bases specified as follows:

[code]
My repository is configured with `enableLfs: "false"`

I can see that the /tmp directory of the repo-server is being filled because all the LFS files are being downloaded every time `kustomize` is executed. LFS does not appear to be

[2022-08-26 09:52] pmcenery-bl commented on #10459
I was able to work around this by setting the following environment variable on the `argocd-repo-server` Deployment:

`GIT_LFS_SKIP_SMUDGE=1`

[2022-08-26 10:04] michalschott commented on #10456
@ashutosh16 not really, as these objects are not included in kustomization and are created by cilium itself

[2022-08-26 10:05] EugeneLugovtsov opened #10461 "ArgoCD UI buttons/search not working in top bar"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The top bar buttons stop working after upgrading from 2.4.7 to 2.4.11.
On the second screenshot, I can click the buttons at the bottom of the top bar.

**To Reproduce**

**Expected beha

[2022-08-26 10:24] souravsk commented on #8795
[code]
Same Problem I can't use Argo-CD CLI

[2022-08-26 12:38] dan1el-k opened #10463 "resourceTrackingMethod: annotation or annotation+label looses Health Status of custom resources"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When enabling the new resourceTrackingMethod functionality, the status of custom resource become "Unknown".
When just using resourceTrackingMethod: label (old behaviour), those custom r

[2022-08-26 13:20] decipher27 commented on #10422
This worked. But after upgrading i'm getting this error on my cluster when I do a argo list:
[code]

[2022-08-26 13:45] decipher27 commented on #10422
Current argo CD CLI version: 2.3.7
k3s version: v1.24.3-k3s1
ARGO workflows CLI : v3.1.3

[2022-08-26 13:55] bauerjs1 commented on #9809
Experiencing the same issue here

Thanks @nice-pink for this workaround 👍🏻

[2022-08-26 14:09] Diliz commented on #10200
Hello!

Any news about this issue? :)

[2022-08-26 14:38] romilpunetha commented on #5810
I'm facing the same issue.  How did you solve this?

[2022-08-26 14:58] jannfis commented on #10422
It seems that the cluster doesn't have the proper CRDs installed.

However, I think you should move that to the [Argo workflows](https://github.com/argoproj/argo-workflows) issue tracker.

[2022-08-26 15:01] 13013SwagR commented on #5202
FYI, this project provides a decent workaround https://github.com/kuuji/helm-external-val

[2022-08-26 15:01] 13013SwagR commented on #3640
FYI, this project provides a decent workaround https://github.com/kuuji/helm-external-val

[2022-08-26 16:24] ashutosh16 commented on #10392
/assign

[2022-08-26 16:36] ashutosh16 commented on #10289
Argocd's top banner UI provides users with access to the commit id. The inclusion of the same information on the summary page would be redundant. Please let me know if this is acceptable, can we close the issue?
![Screen Shot 2022-08-26 at 9 32 17 AM](https://user-images.githubusercontent.com/11219262/186951150-10126ba2-31ae-4d7f-87b3-72e135eb3db8.png)

[2022-08-26 16:53] CH-DrewWatson commented on #5116
I know this is a bit old, but it seems to be a bug with the "isCA" field. The field exists in my live manifest but Argo shows it does not. I also cannot get ignoreDifferences to actually ignore it. I didn't modify values to reproduce the bug as the OP described, it has been out of sync since initial deployment.

ArgoCD 2.1.7 using cert-manager

[2022-08-26 17:39] SharifiFaranak opened #10464 "Permission error on `History and Rollback` tab on Argo UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Some Argo users (not all) are seeing the following error when they are on the `History and Rollback tab` on the ArgoCD UI.
[code]
The way that their permissions are set up is not any di

[2022-08-26 20:55] #10457 closed

[2022-08-26 21:32] janosmiko commented on #9368
I also faced the same issue.

I tried to use the annotation below, but didn't help.

[code]

[2022-08-27 03:32] packdhe commented on #3642
Hi, there is posible to rebranding the argo login page ?
And wany to say Thanks you @saumeya for the shortblog ,very usefull. But not working for login page

[2022-08-27 11:07] hutger commented on #2789
Hi There,

I've followed the workaround proposed by [Softrams](https://softrams.com/insights/external-value-files-in-argo-cd-with-applicationsets/) and the works like a charm.

However, for some apps I make use of _argocd-image-updater_  plugin that injects back into the repo an `.argocd-source.yaml` file that ArgoCD uses as a [parameter overrides](https://argo-cd.readthedocs.io/en/stable/user-gui

[2022-08-27 18:52] dradetsky commented on #6813
@roi-codefresh Did you ever finish implementing this?

[2022-08-28 05:19] romilpunetha commented on #5810
How did you manage to fix this? The annotations on PVC didn't help.

[2022-08-28 10:50] begemotik commented on #2953
Did you have a possibility to implement it?

[2022-08-28 12:01] FischerLGLN commented on #2789
@hutger

Helm secrets is compatible with ArgoCD. You can make use of external values, if you install for example static curl and helm-secrets into the repo server: https://github.com/moparisthebest/static-curl
(yes it makes the applicationset crd hack redundant too).
Docs are here: https://github.com/jkroepke/helm-secrets/wiki/Values

[code]
In  your case:

[code]

Funny is, your secrets.yaml or .

[2022-08-28 13:52] irishandyb opened #10467 "Helm resource generated by helper function not rendered or created"
I am having a problem in which resources templated by a Helm _helper function are not being rendered or generated when deploying the chart via argo.

I have the following Helm helper function defined in _cert.tpl.
It serves to generate a cert-manager Certificate resource based on provided inputs.

[code]

This function is invoked in the tls.yaml template file as follows:

[code]

This is then comb

[2022-08-28 17:13] mmerrill3 commented on #4314
I ran into this issue as well.  Temporarily, I just updated the filed that were defined as v1Time object, to type string and format date-time.  I was using swagger codegen from the swagger.json as well.

[2022-08-29 09:21] elgamala commented on #9589
I have similar issue without haproxy, we have the "Getting starting" kind of setup for ArgoCD using the helm chart. We have only one instance of argocd-server and redid as well.

[2022-08-29 10:22] andrewkaczynski commented on #9890
+1 :)

[2022-08-29 13:18] rtalipov opened #10472 "Critical vulnerability in haproxy - SQLite3 CVE-2019-8457"
Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*] I've pasted the output of `argocd version`.

**Describe the bug**

AWS ECR and Trivy show scan that Critical vulnerability is present in haproxy image.
Vulnerability is old, however I did not find any info about the impact and the fix

CVE-2019-8457 De

[2022-08-29 13:51] decipher27 commented on #10422
Found this error on argoCD after upgrading the ArgoCD Cli version, hence resources are not getting created.

`the server could not find the requested resource`

<img width="1229" alt="image" src="https://user-images.githubusercontent.com/30067293/187216831-afb8a876-c9ef-4325-97f1-ab182aef561c.png">

[2022-08-29 14:11] kosksq commented on #10453
I got the same error too, but I deployed with Rancher. I also got "TypeError: Cannot read properties of null (reading 'Version')" while I try to access the GUI.

[2022-08-29 16:10] vhsantos opened #10473 "ApplicationSet not works as expected when parameter inClusterEnabled is "false""
# Summary

If you set the parameter **inClusterEnabled** to **"false"** and create an **ApplicationSet**, argo-cd will still try to deploy the application on local cluster (kubernetes.default.svc) and it will show the app on local cluster as **"Status = Unknown"**

## Logs and manifests

### app output
[code]

### argocd-applicationset-controller logs

[code]

### applicationset

[code]

## Propos

[2022-08-29 17:18] bimmerv commented on #10384
same thing

[2022-08-29 19:07] neoakris commented on #8591
**Hi I want to point out a workaround and play a bit of devil's advocate to point out a reason not to implement your feature / why the current implementation / doing nothing might be better than what you're suggesting:**

**Workaround:**
1. You can install Flux v2 which is an alternative to ArgoCD that does use the helm cli. So deploying helm charts with Flux v2 is one option.
2. Another option is

[2022-08-29 19:52] BMonsalvatge opened #10474 "Allow Custom Plugins to use helm variables via the GUI"
# Summary

Currently when using a plugin like the argocd vault plugin, I am no longer able to see the values of the helm chart via the gui and have to set it manually.  Ref: https://github.com/argoproj-labs/argocd-vault-plugin/issues/385#issuecomment-1230484255

# Motivation

When using a CMP, it'd be nice if we could still have the default features of the way helm works in argocd.

# Proposal

No

[2022-08-29 20:25] Eugst commented on #8591
It would be nice to have feature in the tool than switch the tool. If people would like to use another tool, they won’t ask here for the feature.
reminds me apple-pear discussion. 🤷‍♂️

[2022-08-30 01:24] dodwmd commented on #5467
bumping this request as we're running into `fetch-pack: invalid index-pack output` issues

[2022-08-30 05:07] JessieTeng89 commented on #10008
@jsoref
Created a PR for this issue, please help to check if it is good for merging.

[2022-08-30 06:00] CUBITECH commented on #9040
Hi, looks good to me. Hope it goes quickly into master.
Thanks yushiwho!

[2022-08-30 06:20] jannfis commented on #10392
Do you think it makes sense to handle this similar to as in the CLI, @alexmt ?

E.g. having only the `Name` field, and if someone specifies the application name as `guestbook` or `argocd/guestbook` it will be created in the control plane's namespace, and if someone specifies `default/guestbook`, it would be created in the `default` namespace.

I was initially thinking about that, but I was going t

[2022-08-30 07:35] ido-vcita commented on #9123
Any update on this?
Is it expected to be resolved? Why can't we set a namespace?

I have also tried to create another context with the argocd namespace and then pass to the command like so but no success as well

[code]

[2022-08-30 08:18] kosksq commented on #10413
Hi, I have the same issue. Did you find any solution?

[2022-08-30 17:14] msvechla commented on #9679
We have the same issue running argocd on AWS EKS. This prevents us from updating the argocd CLI since quite some time.

I've implemented option 3, adding an optional `--skip-test-tls` flag that skips the problematic check, see #10484

Would be nice if we can get this merged, I assume this is affecting multiple users. Otherwise, please let us know how we can continue.

Thanks a lot for your help!

[2022-08-30 18:56] sandeepitachi opened #10485 "argocd-server pod crashing with Liveness probe failed and restarts"
argocd-server pod is crashing and restarting the container. Error shown in events is below
`Liveness probe failed: Get "http://x.x.x.x:8080/healthz?full=true": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`

argocd version - v2.4.0

![image](https://user-images.githubusercontent.com/25717719/187519193-817845cd-4b5e-42ec-ae2e-6b2af2efa336.png)

The other pods (repo-serv

[2022-08-30 19:01] alexec opened #10486 "Show more information about images in the UI"
# Summary

When I click on a pod, one of the key pieces of information I see is the image. This is sometimes the only indication of what code the app is running. I want to see more information.

# Motivation

To make it easier to understand what an app is doing.

# Proposal

Image meta-data can be queried from the repository, like Argo Workflows does:

https://github.com/argoproj/argo-workflows/bl

[2022-08-30 20:35] #10392 closed

[2022-08-30 22:19] elementalvoid commented on #8027
Related: https://github.com/argoproj/argo-cd/issues/8027

[2022-08-30 23:37] wmgroot commented on #10258
PR is here for those following.
https://github.com/argoproj/argo-cd/pull/10432

[2022-08-31 01:44] ashutosh16 commented on #10291
The issue was fixed in v2.4 against the [PR](https://github.com/argoproj/argo-cd/pull/9130)

[2022-08-31 02:27] yangtian9999 opened #10487 "2.4.10 installation issue: standard_init_linux.go:220: exec user process caused "permission denied""
Checklist:

* [y ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ y] I've included steps to reproduce the bug.
* [y ] I've pasted the output of `argocd version`.

**Describe the bug**

simply installation via
kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.10/manifests/install.yaml

pod: argocd-dex-server
container: dex
error logs

[2022-08-31 04:14] shaoxt opened #10489 "Labels on VPA are missing after synced"
[code]

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Version**

[code]

**Logs**

[code]

[2022-08-31 04:44] bentocin commented on #7786
I was also expecting it to work in generic and not just for `clientSecret`. Putting the issuer into the config map fixes the issue, but maybe you actually want to put the issuer into the secret.

[2022-08-31 08:08] nazarewk commented on #10077
this might be caused by hardcoded processors, see https://github.com/argoproj/argo-cd/pull/10458 for a fix

[2022-08-31 11:22] irvifa commented on #7773
Is this issue still ongoing?

[2022-08-31 11:54] bauerjs1 opened #10490 "Cannot resolve git repo domain without privileges"
Hi there,

First of all thank you very much for this awesome piece of software! After upgrading the helm chart and thus the version of Argo CD to 2.4 we encountered an issue with the git clients in repo-server and application-controller. By default, workloads in our clusters are assigned a restricted PodSecurityPolicy that drops all the capabilities from the containers. If we run these two pods wi

[2022-08-31 12:23] LeartBeqiraj commented on #3415
Is this supported yet?

[2022-08-31 13:18] #9988 closed

[2022-08-31 15:50] tharpooljha commented on #10384
Confirmed on 2.4.11 as well.

[2022-08-31 18:13] mmerickel commented on #10298
I believe the issue is with helm itself, I opened a bug report here https://github.com/helm/helm/issues/11286.

[2022-08-31 21:13] mmerickel commented on #7075
I was getting this error with `passCredentials: true` when I didn't need it. I set it to false and refresh starting working.

[2022-09-01 02:25] kf-rammanokar commented on #7425
Hi @slawekgh I'm not suggesting to turnoff istio-sidecar for whole arogcd deployment.
disable sidecar only for **argocd-repo-server**  not for other deployments.

[2022-09-01 06:19] #2720 closed

[2022-09-01 06:48] lukonjun commented on #9455
Hi @jankaderabek, @mulhotavares
we actually found a workaround, however it is a bit hacky as it needs additional configuration in your GitHub Actions. Every time we want to create an Argo Application via PR generator we simply tag this branch. This is a workflow you can just add to your GitHub Actions
[code]
Now in your ApplicationSet you define to only look for certain Labels
[code]
This way you

[2022-09-01 07:21] kschjeld commented on #3039
+1
Much better than commenting out contents of YAML-file if you want to temporarily disable

[2022-09-01 08:00] gauravkcldcvr commented on #10422
any update on this? Is there any solutions, we are waiting for response to get this fixed

[2022-09-01 09:37] joe-bricknell opened #10495 "Allow multiple crds to be shared under a single key in config-map"
# Summary

Currently it is not possible to have multiple crds under a common key in the config map when adding custom health checks.

# Motivation

We have 40 unique crds which we'd like to add health checks for which all require the same health check script. This requires a lot of duplication and each time we add a new crd the existing health check needs to be duplicated again.

# Proposal

When

[2022-09-01 12:37] EugeneLugovtsov commented on #10461
I found that for div element with class page__top-bar is 100px and it covers buttons (new app, sync apps and etc). The same element on the https://cd.apps.argoproj.io/ is 50 px

![image](https://user-images.githubusercontent.com/34510252/187914726-ae92e179-a5a4-4da9-9579-cfa1fa1bdd92.png)

[2022-09-01 13:22] mulhotavares commented on #9455
@lukonjun I already use labels as I mentioned in my previous message.
The problem is that sometimes we may have conflicting labels. And I don't know of any way of removing a label if it conflicts with others...

More specifically, in my case I also label PRs as stale. And I would like to delete their respective applications once they are marked as so.

[2022-09-01 13:48] leoluz commented on #10489
It doesn't seem to be a general issue with VPA as I wasn't able to reproduce locally.

[code]

[2022-09-01 14:30] sjqnn opened #10496 "This repository cant be cloned/ master branch cant be checked out on Windows Machines"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

On a windows machine, cloning and attempting to check out the repository's master branch fails. I'm guessing because of the colons (`:`) in the file names.

**To Reproduce**

On a windo

[2022-09-01 14:35] #10008 closed

[2022-09-01 15:01] PiePra commented on #9607
+1 same

[2022-09-01 15:19] lukonjun commented on #9455
@mulhotavares upppps, missed that, sorry. Yea for that case support for ignoring labels would be great!

[2022-09-01 15:42] mulhotavares commented on #9455
@lukonjun No problem at all. You actually gave me some ideas. I didn't know there was such a thing as `gh pr` CLI.
If that CLI allows us to query the tags for the PR, we could implement some custom logic to add and remove tags... so if I find the `stale` label, I could remove the `auto-deploy` one...

[2022-09-01 18:32] vgrigoruk commented on #10089
Hi @crenshaw-dev. Is there an issue already for moving applications webhook handler to ArgoCD API server? I am not well familiar with ArgoCD codebase, but I will be willing to contribute with a PR to make this happen sooner than later (we also use AWS ALB and currently blocked with setting up applicationset webhook because of a missing health check endpoint).

[2022-09-01 19:44] mhumeSF commented on #2932
@tarun9715m I created a second okta app
- Create a new app integration
Sign-in method: OIDC - OpenID Connect
Application type: Single-Page Application

- Set redirect_uri: http://localhost:8085/auth/callback
- Set cliClientID: <SPA application clientID> to in oidc.config

[2022-09-01 20:50] tharpooljha opened #10499 "Error Generating Manifest: argocd-repo-server service account doesn't have access to argocd namespace to get secret for AVP"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

argocd-repo-server service account cannot access the argocd namespace 'vault-configuration' secret.
[code]

**To Reproduce**

create vault-configuration secret in argocd namespace.

[co

[2022-09-01 23:52] jessesuen opened #10500 "applicationset controller should not clear `argocd.argoproj.io/refresh` annotation"
**Describe the bug**

When refreshing an application, the appset-controller will blindly replace the Applications `.metadata.annotations` with the annotations specified in the template. This means it will also clear the `argocd.argoproj.io/refresh` annotation that gets set on the application during a refresh

This could lead to situations where the app-controller could miss the refresh request bec

[2022-09-01 23:58] jessesuen commented on #10500
The fix can be similar to what we do for `notified.notifications.argoproj.io` annotation, in that it is preserved when updating an app

https://github.com/argoproj/argo-cd/blob/master/applicationset/controllers/applicationset_controller.go#L530-L537

[2022-09-02 00:46] mueherizky commented on #10411
Sorry, only this time i can reply your comment. I use minikube cluster with docker driver. I use Pop OS 22.04 before, now in fedora 36.
btw, i'm not use argo cli, i just apply argo manifest file from [this method](https://argo-cd.readthedocs.io/en/stable/getting_started/#1-install-argo-cd)
I just want to test argo on CD step. My CI use jenkins, but now i want to use github actions.

1. My argo set

[2022-09-02 06:40] jkleinlercher commented on #10052
Yes I also experienced today that it seems the presync hook gets triggered on every commit in the specified source repo, not only if there is really a change between desired state and current state of the application which needs to get synced. Is this observation correct and works as designed?

[2022-09-02 07:25] nxhuy-github commented on #3847
@crenshaw-dev When would the release 2.5 be available, please?
And I feel like the fact that the `sourceNamespaces` is not available too in argocd v2.4.11, no? Because I tried to add `sourceNamespaces` in my `AppProject` but it always says: `<nil>: Invalid value: "The edited file failed validation": ValidationError(AppProject.spec): unknown field "sourceNamespaces" in io.argoproj.v1alpha1.AppProje

[2022-09-02 08:42] tomjohnburton opened #10502 "{{branch_slug}} does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using the pull_request generator, I want to use the `branch_slug` template var to create a namespace. When I reference it in my application, argocd just outputs `{{branch_slug}}` a

[2022-09-02 09:08] poenneby commented on #7898
Same issue as above on `v2.3.3`

[2022-09-02 09:44] mtovmassian opened #10503 "Web Shell - Unable to type commands into Alpine based pods"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

From the UI when I connect to an Alpine based pod the terminal window opens and the cursor is blinking on the first line.
But when I type any key nothing is printed.
Even if I blindly t

[2022-09-02 11:01] LinAnt commented on #10489
Labels need to be strings, ie 'yes', '1' or 'true' works

I think argocd should error out here, instead of dropping invalid labels.

Thoughts?

[2022-09-02 12:09] meons commented on #9626
Facing the same issue, we also added the following to argocd-cm.yml but deprecated calls still happen...
[code]

`extensions/v1beta1` is the exact api group name, but shall we set `extensions` instead?

[2022-09-02 12:10] tomjohnburton commented on #10502
I see now that this was removed, any reason why? And can I do something to replicate the functionality of branch slug?

[2022-09-02 12:35] saurabhp0119 opened #10507 "argocd issue"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Version**

[code]

**Logs**

[code]

[2022-09-02 12:35] #10507 closed

[2022-09-02 15:10] cnjohnniekwok commented on #9626
Yes, in our case we were able to stop argo from listing the deprecated API by excluding `extensions` API group.

[code]

[2022-09-02 15:11] cnjohnniekwok commented on #9626
Yes, in our case we were able to stop argo from listing the deprecated API by excluding the `extensions` API group.
[code]

[2022-09-02 20:17] tiwarisanjay opened #10511 "SSH agent requested but SSH_AUTH_SOCK not-specified\\\"\",\"type\":\"ComparisonError"
Checklist:

* [. ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ .] I've included steps to reproduce the bug.
* [ .] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to access a private repository in declarative way. For  which I have followed:
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repository-cred

[2022-09-02 20:52] egkelly opened #10512 "Declarative Application - Cannot disable auto sync"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I am defining our applications via yaml and upon applying the files, each application has auto sync turned on despite defining the syncPolicy as follows:

[code]

**To Reproduce**

Crea

[2022-09-02 20:59] tiwarisanjay commented on #10511
Seems like I was missing following lable on template and I was using repository instead.
[code]

[2022-09-02 21:25] lamebear commented on #7575
Similar to what @mohammedshirine is doing, we use Argo to create vClusters via a Helm chart for various environments.
* We have a `Job` annotated with `helm.sh/hook: post-install` that creates cluster credential secrets for Argo.
* We have a `Job`s annotated with `helm.sh/hook: pre-delete` that will delete any applications deployed to the vCluster and then delete the cluster credential secret.

Si

[2022-09-03 03:20] wgzhao commented on #4296
still happens on v2.4.6 with 10 clusters and 50 applications

[2022-09-03 06:35] jessesuen commented on #10512
This is working as intended. See: https://argo-cd.readthedocs.io/en/stable/user-guide/auto_sync/#automated-sync-policy

[code]

The `{}` indicates it should be used (similar to `emptyDir: {}`)

[2022-09-03 06:35] #10512 closed

[2022-09-03 14:28] ducvo-kms opened #10514 "Broken Synchronous When Upgrade ArgoCD 2.3.3 to 2.4.11"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have issue when upgrade ArgoCD from 2.3.3 to 2.4.11
The issue like https://github.com/argoproj/argo-cd/issues/4071
`But` when fixed duplicate env issue, always be `ComparisonError`

*

[2022-09-04 11:15] ozbillwang commented on #876
Still get the same issue with latest argocd, any fixes?

[2022-09-04 12:15] artemkozlenkov commented on #7121
[code]

[2022-09-04 15:19] songmeo opened #10519 "UI doesn't support exclude files"
# Summary
There is no field to add should-be-excluded files in argoCD UI.

# Motivation
When adding new applications, I should be able to exclude certain files.

For example, when I want to exclude `blobby-blob.json`, I have to use `edit as YAML` option to add `exclude: blobby-blob.json`

[2022-09-05 01:50] hillbun commented on #9214
@crenshaw-dev

current release is v2.4.11, so this bug is not fixed yet?

[2022-09-05 04:02] Lobstrosity opened #10522 "feat: Allow Matrix generator to have two Git child generators without conflict"
# Summary

Matrix generators don’t allow items from the child generators to have identical keys with distinct values. This prevents having a Matrix generator where both child generators are Git generators, since they’ll auto-generate conflicting `path`-related parameters.

# Motivation

Ability to do something like the following, where there are no conflicting parameters:

[code]

# Proposal

Base

[2022-09-05 06:05] hutger commented on #2789
Hi @FischerLGLN , thanks for your suggestion.

However, I haven't grasped the point of bringing Helm secrets into the equation, sorry!

Not sure if you are proposing the secrets just to illustrate the possibility of adding .argocd-source.yaml  in valueFiles list (same you did by pulling the secrets from git). That would be the case?

In my use case, it would look like this:
[code]
Is that what you

[2022-09-05 09:01] Syntax3rror404 opened #10524 "argocd not find values files in source dir"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I used a git with some templates with many applications. I have a templates folder for the helm templates and a values dir which includes the values from specific apps to keep it clean.

[2022-09-05 09:36] the-technat commented on #8272
Hello there!

As we @swisspost are affected by issue #8272 I'd like to contribute this enhancement to Argo CD. I'm not new to Go but new to OIDC/JWTs so I used [this here](https://github.com/gageorsburn/argo-workflows/commit/e88221952d285ba5209cbf41b962fa9c085c147a) as reference and started doing the same in [argo-cd](https://github.com/swisspost/argo-cd/commit/909159eb153d080d28ca4bf5319175dee116

[2022-09-05 10:44] #8378 closed

[2022-09-05 11:45] stephenpmurray commented on #10464
+1 We are also seeing this error

[2022-09-05 11:59] hobti01 commented on #8501
We also do not want manual steps required when rolling out an application.

What about adding a SyncOption so that we could declare replacement with the kubernetes cascade option?
[code]

[2022-09-05 12:52] tliechti commented on #9574
This error also occurs if the repo is empty and argocd is trying to connect to it (with .git in the url)

[2022-09-05 13:50] dpiraud commented on #10298
Sounds good, thx!

[2022-09-05 15:52] meons commented on #9626
Thanks @cnjohnniekwok it works! But now I am wondering how to exclude `/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions`.

It does the trick for Ingress because `extensions/v1beta1` is replaced by `networking.k8s.io/v1` as per [this](https://cloud.google.com/kubernetes-engine/docs/deprecations/apis-1-22#ingress-v122) doc. In other terms we can safely exclude extensions for Ingress kind

[2022-09-05 16:57] ADustyOldMuffin commented on #9731
If this is open, I'd like to see what I can do here. This would be very useful as our server URLs are unique IDs which our consumers won't know.

[2022-09-06 01:55] ozbillwang commented on #7629
my question is,

if "current sync status" and "last sync status" are targetting on different commit id, what I need do?

I have set `auto-sync` already, how to trigger argocd to do the deployment automatically?

[2022-09-06 09:08] vvatlin commented on #5592
still have the same issue in 2.4.11

[2022-09-06 10:50] decipher27 commented on #10422
[jannfis](https://github.com/jannfis) Any updates here?

[2022-09-06 11:13] jannfis commented on #10422
I'm pretty sure this is a problem with the cluster, not with Argo CD. "The server could not find the requested resource" usually means that the appropriate CRDs are not installed.

[2022-09-06 12:37] #10500 closed

[2022-09-06 13:03] #9681 closed

[2022-09-06 13:35] tooptoop4 commented on #9549
yes pls @crenshaw-dev

[2022-09-06 13:36] #9550 closed

[2022-09-06 13:46] daro1337 opened #10529 "argoCD resource events impacts to etcd db size"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I had a network problem to the kubernetes API (flaps), so argoCD applications got a timeout when trying to sync.
This led to constant changes in the status of the app, and I hadt housan

[2022-09-06 16:27] nthienan commented on #8742
This is very useful when authenticating/authorizing is done via OIDC.

[2022-09-06 16:37] viktorradnai commented on #10442
The filename is returned by path.flename. But annoyingly, path.basename returns the name of the containing directory, not the filename. In particular there is no way to get the filename without the extension, which is what I would expect `basename` to do.

[2022-09-06 17:20] Daemonslayer2048 opened #10533 "Upgrade Kustomize to >= 4.5.6 to mitigate CVE-2021-29923"
# Summary
The argocd:v2.4.11 container ships with kustomize v4.4.1 which is vulnerable to [CVE-2021-29923](https://nvd.nist.gov/vuln/detail/CVE-2021-29923) as it is compiled with golang 1.16, there has been a similar chore task [here](https://github.com/argoproj/argo-cd/pull/8229) to build argo with a more up to date compiler. In short simply bumping the kustomize version up would help resolve mul

[2022-09-06 17:26] crenshaw-dev commented on #10533
@Daemonslayer2048 that's a pretty big hop in versions for a patch release of Argo CD.

If we had a really compelling description of how this vulnerability severely impacts Argo CD, I'd be okay with adding it to the 2.4.x series with clear release notes warning of any surprise issues.

Alternatively, we could write some docs encouraging folks to install and use a new version of Kustomize for themse

[2022-09-06 18:42] dimisjim opened #10534 "zsh autocompletion doesn't work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

zsh autocompletion doesn't work, with the instructions given in https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/commands/argocd_completion.md

**To Reproduce**

- add th

[2022-09-06 19:00] dimisjim commented on #10534
A workaround that worked for me was to add this line in the top of the file generated by: `argocd completion zsh`

[code]

and then add in my ~/.zshrc this: (in the same style as `kubectl`'s [autocomplete instructions](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-zsh/))
[code]

[2022-09-06 19:10] richardjennings opened #10536 "Allow merging Cluster Decision values key into Template params["values"] and "values.%s""
# Summary

The ClusterDecisionResource generator passes the 'name', 'server' and any other key/value in the duck-type resource's status list as parameters into the ApplicationSet template. For example an additional key clusterName.

Allow specifying a values key in the resources status list that is merged into the params["values"] or params["values.%s"] scopes.

# Motivation

For example when comb

[2022-09-06 19:14] Daemonslayer2048 commented on #10533
I wont say this issue severely impacts argo so rushing to get the updated binary in is probably not necessary.  So I think waiting for 2.5 release is reasonable, I consider this more of a "chore" task and lacks urgency.

Is there a release date scheduled for 2.5? If the release date is particularly far out I wouldn't mind helping write some docs for updating kustomize.

[2022-09-06 19:33] crenshaw-dev commented on #10533
@Daemonslayer2048 I'd put the first 2.5 release candidate about two weeks out. I know @34fathombelow has been keeping an eye on the Kustomize releases and plans to put up a PR to get a recent version bundled before we ship 2.5.

It might still be worth writing the docs for the 2.4 branch. Folks don't always upgrade quickly. 😬

[2022-09-06 22:58] andrewm-aero opened #10539 "[CLI] Misleading error message with whitespace in --auth-token"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If the argument to --auth-token mistakenly contains whitespace (e.g. a newline accidentally captured when base64-encoding a secret), the following misleading error will be produced:

[c

[2022-09-07 06:43] tooptoop4 commented on #8122
did u solve?

[2022-09-07 09:02] raosharadhi commented on #8965
Hi @crenshaw-dev,
Is this bug solved? What I am trying to do is that:

- I have my tgz helm file in jfrog which contains values.yaml which has global var
- In argocd I have added jfrog repo server URL and it is successful
- I need to pass a env-specific values.yaml and deploy the application. I was not able to pass these values.yaml
- If I try to deploy from the UI by giving a URL getting this err

[2022-09-07 10:38] vhsantos opened #10540 "bump of kustomize version from 4.4.1 to 4.5.X"
# Summary

kustomize version should be upgrade to 4.5.X on argo-cd

# Motivation

Actually, argo-cd 2.4.11 is using kustomize version 4.4.1 (last on this branch).
Which contain some bugs, like [this 4406](https://github.com/kubernetes-sigs/kustomize/pull/4406) preventing argo-cd to work correctly when an image contain the NAME:TAG:SHA, example:
[code]

# Proposal

We should upgrade it to version 4

[2022-09-07 13:06] crenshaw-dev commented on #10540
Let's track this discussion in https://github.com/argoproj/argo-cd/issues/10533

[2022-09-07 13:06] #10540 closed

[2022-09-07 13:06] crenshaw-dev commented on #10533
https://github.com/argoproj/argo-cd/issues/10533 suggests we should upgrade due to kustomize bugs. I still think sticking to the 4.4.x series in 2.4.x is the right approach, but docs about upgrading would help.

[2022-09-07 13:30] carslen opened #10541 "HELM chart with dependency: no repository definition for https://charts.bitnami.com/bitnami"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

When trying to deploy self hosted HELM charts (don't know if it's the correct term) with dependencies in it and using ArgoCD Vault Plugin, then application creation fails with error:

[code]
When using the G

[2022-09-07 13:37] jmmclean commented on #10257
@crenshaw-dev just following up on this one. still scares the hell out of me to run multiple Argo in one cluster. FWIW, I have a ton of AppProjects in pending deletion, but failed to delete bc of finalizers as a result of this event.

[2022-09-07 14:02] hextrim commented on #9679
Any version above v2.3.7 of the argocd CLI does not work.
Tried v2.4.8 onwards and outbound calls from the tool stuck at:
tcp        0      0 FROM_MY_IP:44702    TO_ARGOCD_LOADBALANCER_AWS_IP:443       TIME_WAIT   -

[2022-09-07 14:09] thomrohit commented on #5592
Same here still facing the issue in 2.4.11

[2022-09-07 14:40] saumeya commented on #3642
You will have to add the css for logo image, probably something like
[code]
You can right click and inspect element to get the style of the element you want to change.

[2022-09-07 16:34] TomHellier opened #10542 "Auditing for Parameter Overrides"
# Summary

Parameter overrides are an easy way to change the behaviour of Applications on an ad-hoc basis. I feel like Argocd should provide a method for listing all of the parameter overrides which are currently set across the Applications it manages, and ideally allow some information to be attached to the parameter override.

ArgoCD is great for gitops, my current process is whenever parameter

[2022-09-07 16:37] iakpabio commented on #1944
Solved by Sync - select Prune, Force, and Replace options to recreate the pods or application. You may want to de-select any ingress or namespace resources so you are not stuck or deleting all your resources in the namespace.

[2022-09-07 17:03] crenshaw-dev commented on #10542
The different config management tools (Helm, Kustomize, directory, plugins) have different parameter mechanisms, so both these features would need to be implemented for each.

Obviously not very user-friendly, but a simple CLI version of this could probably be built in a few lines of shell script (kubectl + jq).

This seems relatively easy - a "description" or "reason" field for each parameter in

[2022-09-07 17:21] pp185214 commented on #9830
This will be good for us as well. Because we use PostSync Hooks for running containerized tests after deployment. And when we will update just version of containerized tests which are just for PostSync Hooks ArgoCD will not do autosync.

[2022-09-07 17:31] simonmcc opened #10543 "Twistlock Detected Vulnerabilities on quay.io/argoproj/argocd v2.4.11"
To meet FedRAMP requirements for these vulnerabilities existing in our Container Scanning results, we are reporting these vulnerabilities to Argo, because we are dependent on Argo for a fix.
We will report this ticket number to FedRAMP as our tracking mechanism for these vulnerabilities for monthly check-in.

CVE-2022-1587
CVE-2022-1586
CVE-2021-43618
CVE-2022-35252
CVE-2022-37434
CVE-2020-9991
CV

[2022-09-07 17:39] crenshaw-dev commented on #10543
The Argo CD team primarily uses Snyk to identify and resolve vulnerabilities. We currently target resolving all critical- and high-severity vulnerabilities (as classified by Snyk). Snyk provides us a report which identifies precisely _where_ the vulnerability is introduced (package manager and dependency) as well as resolution instructions, if applicable.

We'll continue to tackle vulnerabilities

[2022-09-07 18:41] mnacharov commented on #10485
Lack of information...

check logs and make sure argocd-server has enough resources

[2022-09-07 18:57] sandeepitachi commented on #10485
Forgot to close this. Yes had to bump resources

[2022-09-07 18:57] #10485 closed

[2022-09-07 19:04] tiwarisanjay commented on #7425
@slawekgh What is the solution you applied to get the deployment work with istio?

[2022-09-07 20:33] TomHellier commented on #10542
Had a try, got the following CLI which seems to work
[code]

I am unfamiliar with how overrides work for Kustomize, and plugins so will do some investigation

[2022-09-08 04:30] abdennour commented on #3539
Fixed for `kind: ArgoCD` ! i mean using ArgoCD Operator or Red Hat Openshift GitOps Operator.

So basically, if you run `k explain argocd.spec.repo`, you will find that it supports:
- `env`
- `volumes`
- `volumeMounts`
And these 3 attrs are enough to implement the SSL_CERT_DIR mentioned above

Then:

[code]

For the configmap `user-ca-bundle` , i did not need to create it from scratch as I've alre

[2022-09-08 05:46] saumeya commented on #10153
Not able to reproduce this bug @warmfusion, any further info that you can add?

[2022-09-08 06:51] mcanevet commented on #5944
Hi, when configuring user authentication with direct OIDC with Gitlab I can also connect but I don't have any group. This is normal because according to [Gitlab's documentation](https://docs.gitlab.com/ee/integration/openid_connect_provider.html),

And indeed, I can see my direct groups in the `groups_direct` claim when I'm decoding my JWT.

I'm wondering if there is a way to use this claim for gr

[2022-09-08 07:42] mcanevet commented on #5944
Actually I found a solution:
just put this in `argocd-rbac-cm`:
`scopes: '[groups_direct]'`

[2022-09-08 10:30] jgn-epp opened #10548 "Proposal: Allow negative/inverse selection for label and resource selectors"
# Summary
When using the `argocd app wait` and `argo app sync` commands, it is possible to use the `-l / --selector` parameter filter based on labels and their values. It is also possible to use the `--resource` filter to only target certain types of resources. Unfortunately it is (as far as I can tell) not possible to do negative/inverse selection on these - for example so that you could filter o

[2022-09-08 11:35] crenshaw-dev opened #10549 "Make `permitOnlyProjectScopedClusters` the default"
# Summary

@blakepettersson [added](https://github.com/argoproj/argo-cd/pull/10237) the `permitOnlyProjectScopedClusters` flag, because it allows the intuitive behavior (if there are only project-scoped clusters, those should be the only ones allowed). We should make that the default in 3.0.

# Motivation

The current behavior is counter-intuitive, which may cause security issues for admins who ar

[2022-09-08 12:26] crenshaw-dev commented on #3491
[zap](https://github.com/uber-go/zap) and [zerolog](https://github.com/rs/zerolog) look like strong candidates.

[2022-09-08 12:35] cconnert opened #10550 "Argocd App health check"
# Summary

The documentation of the Argcd App health check needs to be updated (https://argo-cd.readthedocs.io/en/stable/operator-manual/health/#argocd-app)

# Motivation

The issue we encountered is the given LUA script only consider the health of the resource but not the sync status. Thus we ended up that sometimes sync waves got triggered even though Apps were not yet synced properly

# Proposa

[2022-09-08 13:00] crenshaw-dev opened #10551 "Enable logs RBAC enforcement by default"
# Summary

In 2.4 we introduced new RBAC for logs. In 2.5, we should enable that enforcement by default as [promised in the 2.3 -> 2.4 upgrade guide](https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/upgrading/2.3-2.4.md#enable-logs-rbac-enforcement).

# Motivation

We said we'd do it. :-)

# Proposal

Set the flag to true by default, and add a note to the 2.4 -> 2.5 upgrade not

[2022-09-08 15:29] xashr commented on #9015
Sorry for not replying earlier. Our solution works fine for us, but in order to integrate it into official releases, more work is needed. E.g. currently valuesArray is not reflected in the ArgoUI.

Not sure if/when https://github.com/argoproj/argo-cd/issues/2936 will be implemented. This would also affect this ticket I think.

[2022-09-08 17:24] DerekTBrown opened #10554 ""error getting cached app state: cache: key is missing" when running `app diff` via CLI"
**Describe the bug**

I am unable to run the `app diff` command from the CLI successfully, although the UI correctly returns app diff results.

**To Reproduce**
[code]

**Version**

[code]

**Logs**

[code]

[2022-09-08 18:04] brunocascio opened #10555 "Deploying Helm charts does not work (remote error: upload-pack: not our ref)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Setting application pointing to a helm chart stored in a git repo fails.
If I include this helm-chart into a kustomization.yml, it works but I would like to avoid it in this case.

**To

[2022-09-08 22:04] jkurek1 commented on #10070
+1

[2022-09-09 03:37] gsgs-libin opened #10559 "can't auth by azure"
I configure it through this document: [https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/microsoft/#azure-ad-saml-enterprise-app-auth-using-dex](https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/microsoft/#azure-ad-saml-enterprise-app-auth-using-dex)

but,I got some error in pod (argocd-dex-server):

{"level":"error","msg":"Failed to authenticate: no a

[2022-09-09 03:39] gsgs-libin commented on #10559
there is some config in azure:
![image](https://user-images.githubusercontent.com/22513159/189266911-eea8dabb-32d7-4ca1-b530-36aebe63b06b.png)
![image](https://user-images.githubusercontent.com/22513159/189266939-764dce8e-427b-41cc-97d5-57dac52371d0.png)

[2022-09-09 04:26] gsgs-libin commented on #10559
I solved this problem by set the self account email addr in azure console.
![image](https://user-images.githubusercontent.com/22513159/189271895-16a6212e-14af-4fd9-a546-8c3ee671a4b0.png)

[2022-09-09 05:24] eagergirl2010 commented on #4174
I am still getting the below error after deleting all argocd network policies. I have deployed argocd on minikube cluster, it seems to be ArgoCD does not work well with minikube cluster:
Unable to connect SSH repository: connection error: desc = "transport: Error while dialing dial tcp: lookup argocd-repo-server: i/o timeout"

Anyone can help please. it is very annoying

[2022-09-09 07:42] mtovmassian commented on #10503
Found more  logs dealing with websocket and an `unexpected reserved bits 0x60` issue:
[code]

[2022-09-09 08:27] decipher27 commented on #10422
@jannfis Thank you, found that since we are using latest version of k3s i.e  v1.24.3+k3s1, it requires latest CRD's updated with the latest apiVersion.

[2022-09-09 08:27] #10422 closed

[2022-09-09 08:33] phyzical commented on #9861
👍 to this, i was hoping when a Job resource becomes unhealthy it would update the application to unhealthy to trigger a notification for use to action the issue.

I also tried the argocd-cm approach but it doesnt seem to have any affect

[code]

      @mdrakiburrahman  did you happen to have any luck with this since you posted?

[2022-09-09 11:14] cbrdy commented on #10232
I guess Argo Workflows can be leveraged ? Make the application manual sync but use workflows to sync upon approval step completed within workflows.

[2022-09-09 11:32] richardjennings commented on #10522
Great idea!

[2022-09-09 11:34] richardjennings commented on #10536
+1

[2022-09-09 11:36] #9962 closed

[2022-09-09 12:21] alexef commented on #7689
Hi @crenshaw-dev / @scalen ! did the meeting take place? Is there any update on the state of this proposal?

[2022-09-09 13:56] tback commented on #9177
I think the issue number for multi source applications is #677

[2022-09-09 14:31] tenczardavid commented on #9101
Hi Everyone,

The main problem we have currently with `ApplicationSet` is the fact that it removes some built-in features of ArgoCD.

One of them is to disable automated sync on Application level. This also has the side-effect that ArgoCD rollbacks can't function in this setup. This causes a lot of confusion for our developers when we would like to on-board them.

As `ApplicationSet` became a core

[2022-09-09 15:13] crenshaw-dev commented on #9101
I think we should probably create another issue to track the no-rollbacks problem (if an issue doesn't already exist for that). I'm not sure the solution will be the same as the solution to the parameter preservation issue.

@tenczardavid I'm open to the idea of trying to implement the fix as proposed - basically create a boolean field in ApplicationSet indicating that `spec.source` fields should

[2022-09-09 15:22] #9980 closed

[2022-09-09 15:43] DerekTBrown commented on #10554
I was able to resolve this error by performing an `argocd login` as admin, and then omitting the `api-key` parameter from the `argocd diff` command.

It seems like the `api-key`/`server` flags are being ignored?

[2022-09-09 16:26] jgoeres opened #10561 "ArgoCD sync stuck in "waiting for healthy state of argoproj.io/Application/abc" after programmatically deleting an application"
Hi,

we are observing a problem with our ArgoCD-based deployment (originally we used 2.0.3, but updated to the latest 2.4.11, where we still observe the same behavior). What we do is probably a bit unorthodox, but let me first try to briefly explain what we do and how it fails - if you are interested in the "Why", I wrote a bit about that at the end of the description. Maybe there are much better

[2022-09-09 16:56] ashutosh16 commented on #10337
duplicate of [9980](https://github.com/argoproj/argo-cd/issues/9980). The issue is fixed in this PR[pull/10556](https://github.com/argoproj/argo-cd/pull/10556)
@crenshaw-dev Can we close the issue? thx!

[2022-09-09 16:59] ashutosh16 commented on #10291
@crenshaw-dev  Issue seems to be resolved. Please check the fix [pull/9130]
(https://github.com/argoproj/argo-cd/pull/9130) and close the issue as needed. Thx!

[2022-09-09 17:56] crenshaw-dev commented on #10337
Yep! The fix will be in 2.4.12.

[2022-09-09 17:56] #10337 closed

[2022-09-09 17:58] #10286 closed

[2022-09-09 17:59] #10291 closed

[2022-09-09 18:01] crenshaw-dev commented on #10551
I think we should save this for 3.0.

Project-scoped roles can currently only hold RBAC for the `applications` resource. So this change would break logs for anyone who relies on a Project-scoped role implicitly granting logs access via `applications, get`.

[2022-09-09 18:29] s-sardar opened #10562 "Argocd Server is selecting TLS version v 1_3, but required TLS 1_2"
Hi,

I have deployed argocd application in Azure AKS using AGIC with End to End TLS connection.
But facing issue in connectivity because the ARGOCD server taking TLS version v1_3 and the Cipher suite: TLS_AES_128_GCM_SHA256
Output of below command:
openssl s_client -connect <argocd-server-pod ip>:8080
![image](https://user-images.githubusercontent.com/64829303/189409551-c395d17e-84b0-4d73-8a7f-35e

[2022-09-09 19:33] c4po commented on #9153
I got a similar issue with Argocd V2.4.11 to deploy a statefulset and configmap with `configMapGenerator` by kustomize. The pod was stuck on the old version of configmap.
using `disableNameSuffixHash` will work, but it will not restart the pod when configuration change.

[2022-09-09 20:58] RuiGuo34 commented on #7601
@paragones92 I doubt it. I am using cobra `1.1.3` and argo-cd/v2 `v2.2.3` and yet I still encounter this problem.

[2022-09-10 01:51] RuiGuo34 commented on #7601
It turned out be a bug in old version of argo-cd/v2. I am not able to reproduce this for argo-cd/v2 `v2.4.11`

[2022-09-10 13:12] marcportabellaclotet-mt commented on #10232
Thanks for the comment,
Yes, using argo workflows or argo rollouts this can be achieved.
I was thinking in a native integration to make it more secure.

[2022-09-10 17:12] tooptoop4 commented on #10543
this list looks bogus, just sampling https://github.com/advisories/GHSA-45qj-m3fv-x87x its about iTunes nothing to do with argo :) I remember when I scanned with aqua there were around 3 CVEs, one being perl related

[2022-09-10 17:18] tooptoop4 commented on #10503
@mtovmassian  try latest release as https://github.com/argoproj/argo-cd/pull/9895 might have fixed this

[2022-09-10 18:35] ron1 commented on #10404
How about using matchExpressions with the NotIn operator?

[2022-09-11 10:00] jannfis commented on #10543
I want to remind about https://github.com/argoproj/argo-cd/security/policy#a-word-about-security-scanners

Please re-evaluate the list of CVEs reported for the image. I did some random check of some of the CVEs from your list, and I agree with @tooptoop4 here. Some seem to be odd and should not be listed at all.

For example [CVE-2022-30632](https://github.com/advisories/GHSA-hc24-7m29-5vj7) is a

[2022-09-11 10:03] jannfis commented on #10543
Another random one from your list: [ CVE-2022-21235](https://github.com/advisories/GHSA-6635-c626-vj4r), which affects the package `github.com/Masterminds/vcs`. However, this is not even part of our dependencies.

I wonder how Twistlock would come up with this for the Argo CD image.

[2022-09-11 11:05] simonmcc commented on #10543
I apologise for this drive by dump of Twistlock results, I'd be happy to share the results in full if that's of interest, but I think I should groom the list properly first, as recommended.  I have to confess that creating the issue was part of a poor process internally, where we're required to create issues against vendors for discovered vulnerabilities by a certain time frame in order to meet an

[2022-09-11 23:19] crenshaw-dev opened #10568 "In Application Details, link the `path` field directly to the path in the repo"
# Summary

The bottom field should be a link.

![Screenshot of Argo CD Application Details page. The bottom field is `path`, and the value is just text. It is not a link.](https://user-images.githubusercontent.com/350466/189553163-c465cf1f-d693-45b5-8d00-b36157dd17d8.png)

# Motivation

It would be nice to be able to navigate directly to the directory containing the resources which are to be deplo

[2022-09-12 06:27] tooptoop4 opened #10570 "UI Logs - 'previous logs' button and 'download' will download current logs instead of previous logs"
viewing 'previous' pod logs works but 'download' button always downloads the current logs instead of the previous logs

version 2.4.11

[2022-09-12 06:54] jgoeres commented on #10561
This is the output of argocd app get on the "app of apps":

    Name:               dts-az-we-1
    Project:            default
    Server:             https://kubernetes.default.svc
    Namespace:          dts-az-we-1
    URL:                xxxxxxxxxxxxxxxxxxxxxx
    Repo:               xxxxxxxxxxxxxxxxxxxxxx
    Target:             master
    Path:               compiled/dts-az-we-1/application

[2022-09-12 07:55] roelvdberg commented on #10550
I have tried this health check but unfortunately it keeps waiting when hitting a sync window.
Unfortunately we can't detect sync windows in the application manifest.

[2022-09-12 08:00] cconnert commented on #10550
What exactly do you mean by sync windows?

We noticed that too and decided it's better then having a non synced rollout in our scenario.

I guess we could extend it to check the retryCount and limit, I'll take a look and get back to this issue

[2022-09-12 08:49] mtovmassian commented on #10503
Thanks you @tooptoop4 indeed [v2.4.11](https://github.com/argoproj/argo-cd/releases/tag/v2.4.11) fixed the issue.

[2022-09-12 08:49] jabbors commented on #9809
We experienced the same error after upgrading from 2.2.x to 2.4.11.

In our case we had patched the deployment with the below patch. After removing it, the error disappeared and repo server could start up.

[code]

[2022-09-12 08:50] #10503 closed

[2022-09-12 11:14] mnacharov commented on #4441
I did some investigation of this Issue

When we don't pass any auth to gitlab we have this output
[code]

When we pass ssh-key which not added to deploy keys of cloned repository we got this
[code]
As I understood only first line of git output passes to the Application Status

So, we have a choices here:

1. Just though away all `remote:` lines.
   This way we will have the same message in app sta

[2022-09-12 12:19] Keramblock commented on #10429
same here with argocd admin cluster generate-spec

[2022-09-12 14:57] roelvdberg commented on #10550
Most resource customization don't have to check sync windows. They don't check the ArgoCD applications. Even the current check doesn't break on sync windows because he doesn't check the sync state.

This change introduces the issue that the application is processing as long as the application isn't in sync. Which is correct in almost all the scenarios I can think off except when someone is using a

[2022-09-12 16:45] paralika commented on #3553
This is really useful feature. Any plan to consider it?

[2022-09-12 20:15] leoluz opened #10574 "ArgoCD UI should display the container which is failing to start for Deployment and Rollouts"
# Summary

Argo CD UI should help users to easily visualize which container is failing.

# Motivation

More and more Pods are running with several init-containers and sidecars. Given this scenario, it become much harder to dig in the live manifest and inspect the status field to find the failing container. Many users are even unaware of the status field and can't find the proper logs for the faili

[2022-09-12 20:43] ashutosh16 commented on #9928
@crenshaw-dev  This issue is fixed, can we close this issue?

[2022-09-12 20:47] rafilkmp3 commented on #3067
this still not works

[2022-09-12 20:55] rafilkmp3 commented on #5723
I want to deploy latest v1 tag

 Unable to save changes: application spec for prod-app-survey is invalid: InvalidSpecError: Unable to generate manifests in manifests: rpc error: code = Unknown desc = Unable to resolve 'v1' to a commit SHA

[2022-09-12 21:10] jsoref commented on #9928
At least in v2.4.11+3d9e9f2 we're still seeing the top area scroll off.

Note that this image is not an example of a "fixed" state:
![scrolling the wrong scrollbar](https://user-images.githubusercontent.com/11219262/185480486-1d3e8c3d-d61c-4efc-a432-8e1654796ff8.gif)

the fact that it shows the scrollbar scrolled offscreen is an indication that it's broken. There's also an outer scrollbar, and the

[2022-09-12 23:12] rafilkmp3 commented on #5609
This would make it possible to use argocd with TDB https://trunkbaseddevelopment.com/ which is in my humble opinion, the holy grail of gitops

[2022-09-13 00:55] tooptoop4 commented on #10543
this is what i see in aqua scan results for 2.4.11:

CVE-2020-16156 (perl 5.34.0-3ubuntu1)
CVE-2021-20193 and CVE-2019-9923 (tar 1.34+dfsg-1build3)
CVE-2016-2781 (coreutils 8.32-4.1ubuntu1)
CVE-2018-1000021 (git 1:2.34.1-1ubuntu1.4)

[2022-09-13 08:13] cconnert commented on #10550
Thanks for the explanation.

Ihmo. the sync of an Application can only be aborted a controller and not within the custom resource check.

Anyhow I enhanced the check to respect retry limit and count (not tested yet):

[code]
Where did you add the extra annotation?

[2022-09-13 08:16] carslen commented on #10541
In the meantime I've found a solution by myself for this issue. Changing the init part of ArgoCD Vault Plugin configuration from `helm depedency build` to `helm dependency update` did the job.

Possibly this could be added to AVP documentation (ok, other repo, i know).

Hope this helps others running into similiar probems.

[2022-09-13 08:16] #10541 closed

[2022-09-13 08:28] simonplattner opened #10576 "Affinity rule changes are not contained in Diff"
**Describe the bug**

ArgoCD seems to ignore affinity rules when calculating diffs.

Did search in docs and FAQ, could not find a statement that this is expected.

**To Reproduce**

- Create some `deployment` via Argo
- In the Argo UI, manually add an affinity rule to the deployment

At this point, the Argo UI shows the affinity setting in _Live Manifest_ and not in _Desired Manifest_ (which is ex

[2022-09-13 08:57] nazarewk commented on #10077
this is a symptom of:
1. https://github.com/argoproj/argo-cd/blob/9fac0f6ae6e52d6f4978a1eaaf51fbffb9c0958a/controller/sync.go#L465-L485 - there is a fix suggested
2. https://github.com/argoproj/argo-cd/issues/4669

[2022-09-13 09:31] nazarewk commented on #10077
note: seems as if the issue stopped happening after we switched to rendering helm templates ahead of time (committing manifests to git + using `directory` source

[2022-09-13 11:20] mdrakiburrahman commented on #9861
@phyzical I came up with a hack a "`Job` deleter `Job`". Basically, this:

Here's the code and the Kustomize overlay, feel free to use it: https://github.com/mdrakiburrahman/openshift-app-of-apps/blob/main/kube-arc-data-services-installer-job/kustomize/base/job-deleter-job.yaml#L12

[2022-09-13 13:06] adamdecaf commented on #10145
We plan/apply using the native Kubernetes TF provider so being able to use that without a rewrite would really help us. Terraform also serves as a fallback if our ArgoCD deploy has issues or during disaster recovery planning - as we need to simulate partial failures within our environment.

[2022-09-13 13:21] vprasad-Arcadia commented on #10156
@eltalkarim
Refer below doc
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories:~:text=tlsClientCertKey%3A%20...-,Resource%20Exclusion/Inclusion,%C2%B6,-Resources%20can%20be

[2022-09-13 14:16] mnacharov commented on #4441
Looks like this error comes from github.com/go-git/go-git/v5 client used by [getRefs](https://github.com/argoproj/argo-cd/blob/9fac0f6ae6e52d6f4978a1eaaf51fbffb9c0958a/util/git/client.go#L431) method.
When I [provide commit sha](https://github.com/argoproj/argo-cd/blob/9fac0f6ae6e52d6f4978a1eaaf51fbffb9c0958a/util/git/client.go#L524-L525) I see good and verbose error message
![image](https://user-

[2022-09-13 15:13] crenshaw-dev commented on #10257
Hey, @jmmclean, I haven't forgotten about this. ArgoCon and 2.5 have kept me very busy. But this is still very much on my mind. Will test as soon as I think I have enough time to both test and do something to fix it.  :-)

[2022-09-13 15:56] jonathon2nd commented on #1673
I do not even want to deploy the same app to multiple clusters. But the fact that I can not create two apps with the same name deployed to two different clusters makes me sad.

[2022-09-13 18:09] jannfis commented on #10257
If you are running multiple Argo CD instances in the same cluster, it is strongly advised to set a unique `application.instanceLabelKey` per instance, so that similar application names across multiple instances

Please also refer to https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/ for further details

[2022-09-13 23:27] phyzical commented on #9861
@mdrakiburrahman thanks for the reply :)

sadly don't think this will serve our use case, its less about fixing a broken state job (well maybe this will be useful in the future less hands on 😆 ) But more about alerting us that this state has occurred in the first place.

Looking at your demo gifs its occurred to me that if we just used plain Job resources it probably would be working, but as we us

[2022-09-14 03:20] #8614 closed

[2022-09-14 03:21] Zhaikuku commented on #8614
..

[2022-09-14 05:11] cconnert commented on #10550
Thanks for the suggestion, I'll try out both approaches and report my results

[2022-09-14 07:40] lacarvalho91 opened #10587 "Support webhooks with the git daemon protocol"
# Summary

When using webhooks to trigger refreshes, git servers running using [Git Daemon](https://git-scm.com/book/en/v2/Git-on-the-Server-Git-Daemon) should be supported.

# Motivation

My use case is for automated tests. In my tests I initialise bare repos and serve them using Git Daemon. This results in a URL beginning using the Git protocol which is documented on [this page](https://git-scm.

[2022-09-14 10:37] jannfis commented on #10562
To me it seems that the kubelet performing the readiness check does not like TLS 1.2, and wants TLS 1.3 on the probe?

[2022-09-14 10:49] zdraganov commented on #6287
Anyone having idea for a workaround in the Koncrete (https://www.koncrete.dev/) hosted ArgoCD?

[2022-09-14 12:28] ItsJustMagic commented on #10524
I'm also having the same issue, unable to find the files specified in spec.source.helm.valueFiles

[2022-09-14 12:30] hajdukd commented on #8464
Added those params:

        - name: controller.metrics.service.annotations.prometheus\.io/port
          value: "10254"
        - name: controller.metrics.service.annotations.prometheus\.io/scrape
          value: "true"

Result is:

unable to decode "/dev/shm/2558446607": json: cannot unmarshal number into Go struct field ObjectMeta.metadata.annotations of type string

None of the provided examp

[2022-09-14 13:03] thatsmydoing commented on #8986
Is there a way for plugins to check which version of argocd is running to decide what env var to use? Or is it expected to just try both variable names?

[2022-09-14 13:35] crenshaw-dev commented on #8986
@thatsmydoing it's currently expected to try both. If that's causing trouble, lmk, and we can try to figure something else out!

[2022-09-14 14:21] thatsmydoing commented on #8986
Got it, the changelog suggested updating plugins but not how to be compatible with previous versions so just wanted to confirm what the suggested approach is.

[2022-09-14 14:26] WakeupTsai commented on #8771
Encounter the same error while I set the dependencies version as `*`

[code]

Error log
[code]

Env
[code]

[2022-09-14 15:43] jkroepke commented on #820
Please mention that ArgoCD v2.5 is introducing an option to perform a manifest sync with side-server apply.

https://github.com/argoproj/argo-cd/pull/9711

This would resolve this issue, because side-server apply would not create an annotation like `kubectl.kubernetes.io/last-applied-configuration`.

Until its release, you can read about this feature here and why it would resolve this issue inside

[2022-09-14 17:43] illeatmyhat opened #10590 "Health checks based on a CRD's derivative objects"
# Summary

To ensure that the health status can be propagated up to the app level, health checks occasionally need to be written for Custom Resources. Health checks currently only support reading a status field from the specified object. However, some CRs are simply templates for Deployments and do not actually have status fields, hence the need to be able to perform health checking on objects der

[2022-09-14 18:55] kksudo commented on #1329
Remove finalizer in the all apps in the current namespace and delete:
`for app in $(kubectl get applications  --output=jsonpath={.items..metadata.name}); do \
echo $app &&\
kubectl patch app $app  --type json -p='[{"op": "remove", "path": "/metadata/finalizers"}]'; \
kubectl delete $app; \
done
`

[2022-09-14 18:58] kksudo commented on #8813
If you have a lot of apps like me (> 1500)
[Here](https://github.com/argoproj/argo-cd/issues/1329#issuecomment-1247176754) is short cmd to delete all shucked apps

[2022-09-14 19:06] crenshaw-dev commented on #10548
Looks like kubectl supports this. It would be nice to have feature-parity with kubectl. https://stackoverflow.com/a/58936877/684776

[2022-09-14 19:08] crenshaw-dev commented on #10496
Thanks for the report! Closing as duplicate in favor of #10437.

[2022-09-14 19:08] #10496 closed

[2022-09-14 19:13] crenshaw-dev commented on #10473
To clarify, `cluster.inClusterEnabled` is a setting in the argocd-cm ConfigMap. The ApplicationSet controller will have to read that value. I assume we'd also want it to auto-update the parameters when the ConfigMap changes, which might make this a little tricky.

[2022-09-14 19:23] crenshaw-dev commented on #10420
Despite the presence of the `pkg/apis/applicationset` directory, the Argo CD server does not currently (in 2.4) support ApplicationSet actions via the UI.

Starting in 2.5, the API does have ApplicationSet support, and the API is reflected [in the swagger doc](https://github.com/argoproj/argo-cd/pull/9584/files#diff-fca8af0c804a13385d047b2e8e75375db50af129252899f9f42f773950139d8c).

[2022-09-14 19:25] crenshaw-dev commented on #10418
@Gimbitgaram I don't think this is an Argo CD issue. Argo CD is just reporting the Event associated with your Pod. Kubernetes tried to pull a container and got an error. This will have to be debugged at the Kubernetes/image-pull level. Argo CD is just the messenger.  :-)

[2022-09-14 19:25] #10418 closed

[2022-09-14 19:45] crenshaw-dev commented on #10197
@jimsnab per point 3 in [this section](https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/#ssh-private-key-credential):

I think the prefix is only required for non-standard ports.

[2022-09-14 20:36] crenshaw-dev opened #10592 "Wrap error objects to include context"
# Summary

There are a lot of places in source where we `return err` without adding context with `fmt.Errorf()`.

# Motivation

Error messages without wrapping context are difficult to debug.

# Proposal

Find places where we return unwrapped errors and add context.

This is a top-level issue and probably won't be solved with any single PR.

[2022-09-14 21:13] crenshaw-dev commented on #10091
Daniel has opened a PR, but I'd [much prefer](https://github.com/argoproj/argo-cd/pull/10118#discussion_r940678585) to do the filtering server side.

[2022-09-14 21:15] crenshaw-dev commented on #10089
I don't think there's currently an issue for this.

I'd be willing to help with dev env setup and PR reviews!

[2022-09-14 21:16] #10072 closed

[2022-09-14 21:24] crenshaw-dev commented on #9936
We could introduce this feature in a similar way to how we introduced logs RBAC enforcement - use a feature flag in argocd-cm to opt into enforcing `rollback` instead of `sync`.

[2022-09-14 21:27] crenshaw-dev commented on #9928
@jsoref so your preference would be for the Save/Cancel buttons to be "sticky" - i.e. stick to the top of the screen when the _outer_ scrollbar scrolls down the editor.

I believe this is possible with recent CSS features (hopefully no JS necessary). @ashutosh16 would you be up for taking another crack at this?

[2022-09-14 21:35] crenshaw-dev commented on #9706
@valvin1 okay to close?

[2022-09-14 21:44] jsoref commented on #9928
You can definitely do this w/ pure CSS.

The problem is that right now you have a whole bunch of overflowing-scrolling divs nested and the save button is inside one (or more) of them.

Note that the screenshot that was provided was for a *resource* whereas this bug's steps are for editing an `application` -- I've updated the summary to make it clearer.

Here's my sample application:
<img width="15

[2022-09-14 22:42] r0bj opened #10593 "ArgoCD namespace install and deploy to the same cluster broken"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
ArgoCD is installed as a namespace install (https://github.com/argoproj/argo-cd/tree/release-2.4/manifests). After adding local cluster with inputted credentials, deploy to the same clus

[2022-09-15 02:28] sl1pm4t opened #10594 "Unable to add multiple destinations to a project, when adding by cluster name."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When adding destinations to a project by cluster **name** instead of **server** address, it is not possible to add more than one cluster if the namespace is the same.
For example, let's

[2022-09-15 04:50] flying-solo commented on #10592
@crenshaw-dev i would like to work on this issue

[2022-09-15 06:37] logamanig commented on #9247
Hi @CVanF5 , I tried enabling ssl-passthrough and changing the secret name to argocd-server-tls and haven't set --insecure mode as well, but the issue persist, here's my ingress config in helm values.yaml,
Argocd: v2.4.11
Helm Chart: v5.4.3
ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "

[2022-09-15 06:41] vicky4u65 commented on #5620
facing the same issue with github runner , everything inside the cluster seems running & health , argocd ui also says healthy & syced but pod status keeps on saying progressing ,
arocd v2.4.11

[2022-09-15 07:21] chrisduong commented on #8097
I had tried to use @fokolo tool but once I migrated my App to purely Helm, I faced "Manifest error cache hit", it remembered the old CMP, and don't run the `helm registry login`, hence it failed to download the chart from ECR.

And this cache is very hard clear, I delete all pods and use UI "Invalidate Cache" for the cluster, but it keep coming up.

CC: @wanghong230 , this is what happen, have thi

[2022-09-15 09:27] valvin1 commented on #9706
Yes of course.

[2022-09-15 09:27] #9706 closed

[2022-09-15 10:29] moriyahazan commented on #2532
This can be achieved only by `argocd-image-updater`, right?

[2022-09-15 11:16] machine3 commented on #7352
Are all UI/API/CLI supported?

[2022-09-15 11:18] s-sardar commented on #10562
Hi @jannfis , Thanks for your response!!!
is there any way we can make sure kubelet to support TLS 1.2.
But when i ran below command inside that node:
[code]
I got this output, seems the linux node has these many cipher suites supported which contain , tls v1, 1,2 and 1.3.

[2022-09-15 11:53] crenshaw-dev commented on #7352
Good catch, @machine3! Just the API and CLI for now.

[2022-09-15 11:56] crenshaw-dev commented on #10568
@surbhiahuja probably [this file](https://github.com/argoproj/argo-cd/blob/e53ab49cb5f5647973b32fa956170f8db7111340/ui/src/app/applications/components/application-summary/application-summary.tsx#L142).

[2022-09-15 11:56] machine3 commented on #7352
@crenshaw-dev  Why is it not supported to edit applicationset in api ?

[2022-09-15 13:10] karlderkaefer commented on #876
drop https port https://github.com/argoproj/argo-cd/issues/2784#issuecomment-645643227

[2022-09-15 14:53] jryberg commented on #9070
No, that does not work. Applications that for some reason are crashing for example a pod restarts are first healthy very short period in time and then flaps between healthy and progressing. It never becomes unhealthy

Is there no way of finding a stable trigger that waits until all pods and all resources are working before triggering?

I think an application should be unhealthy if it's not stable

[2022-09-15 15:02] antoniolucasnobar opened #10600 "Argocd fails to sync suspended job"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

ArgoCD hangs and fails when I try to sync a app which has a Job in suspended state.

I have a job suspended:
[code]

I can see in ArgoCD the job status:

[code]

But, if I try to sync this Job, it never fire

[2022-09-15 15:43] #9679 closed

[2022-09-15 16:22] sa-spag opened #10601 "Disable/hide irrelevant UI elements according to user permissions"
# Summary

Disable/hide irrelevant elements on Argo CD UI according to user permissions configured through [RBAC](https://argo-cd.readthedocs.io/en/stable/operator-manual/rbac/).

# Motivation

Today, [as reported on Slack](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1663255592122069), users with limited permissions can see all UI controls as if they could perform any action. For instance

[2022-09-15 17:46] brunocascio commented on #2600
I'm facing the same problem, installing kyverno (through argocd + kustomize + helm) and seems the applicationset get wrong, because I don't have 2 apps writing the same CRDs

[2022-09-15 18:40] brunocascio commented on #2600
I solved it removing `app.kubernetes.io/instance` labels from CRDs

[code]

[2022-09-16 03:24] rkevin-arch opened #10602 "`argocd login` should fail more explicitly if network is flaky"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

A couple of days ago we started running into this error in our CI/CD setup, which has a k8s pod that logs into ArgoCD to trigger actions. This is the result of running `argocd login --g

[2022-09-16 06:09] bestrand opened #10605 "Use the same semantics for manual sync button in UI when auto sync is enabled"
# Summary

Use the same semantics as auto sync for manual sync (button in UI) when auto sync is enabled. Track the last commit that was actually applied, and not update it to the same as was reconciled regardless (current sync status).

# Motivation

If auto sync is enabled, but some users want to use the manual button it would be nice if the behaviour of last sync result being the same as if auto

[2022-09-16 06:43] bestrand commented on #7629
Regarding the second request, a commit SHA in a repo does not necessarily involve changing the desired state for a particular application and in my view the "last sync result" field should always point to the last commit that actually made the application OutOfSync and synced it. Auto sync does this, but not the manual sync button (it updates the commit SHA regardless).

If you have 9 commits not

[2022-09-16 06:54] bestrand commented on #7629
@ozbillwang It depends if the commit sha in "current sync status" actually changed something for the particular application.

"current sync status" is the latest commit that ArgoCD has looked at in the repo.
"last sync status" is the latest commit ArgoCD has applied to k8s for this particular application based on seeing a diff / app being out of sync.

So if your commit in "current sync status" di

[2022-09-16 08:55] joyartoun commented on #7799
I am also very keen to seeing this come out. We are using argocd in openshift 4.11 and we are deploying a lot of different operators which in one way or another needs to use privileged SCC. Openshift 4.12 will enforce security violation policies as of openshift 4.12 and will terminate pods which are run with privileged. You can apparently disable this function by adding a label to a namespace.

ht

[2022-09-16 09:42] ledroide commented on #7799
@joyartoun : I have finally used a workaround to add specific metadata to namespaces at creation time, for namespaces matching a specific regexp. I use OpenPolicyAgent GateKeeper, that embed a mutation webhook. When ArgoCD creates the namespace, it asks the apiserver, so the mutation webhook comes here and changes the api call to add a label to the Namespace resource.

It looks like this :
[code]

[2022-09-16 10:34] michalschott opened #10610 "argocd app repo sync seems to pick up first argocd-server pod from list (with direct access auth)"
Seems that `argocd app repo sync` tries to send requests to first pod from the list:

[code]

In my case, these pods where evicted due to node condition. Once ghost pod gets removed, it works again:

[code]

Would be good if there is some sort of failover, or even check pod status before trying to setup connection.

[2022-09-16 13:11] crenshaw-dev commented on #10610
I don't think the CLI connects directly to the repo-server. Instead, it connects to the API server which then sends a request to the repo server. I believe it uses the repo-server Service. I feel like k8s should have directed the request appropriately, but I'm not 100% sure how the networking is set up when there are multiple repo-server replicas.

[2022-09-16 13:41] michalschott commented on #10456
@debu99

Apparently this fixed the issue for me:

[code]

Should be included as a default IMHO.

[2022-09-16 13:42] waza-ari opened #10614 "Repo server crashing (segmentation violation) on null values"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We're using Jsonnet to generate the code that is being applied by ArgoCD. When having a conditional entry in a list (see the conditional generation of `templates.private_repo`) below:

[2022-09-16 14:06] djhoese commented on #7629
"last sync status" is the latest commit ArgoCD has applied to k8s for this particular application based on seeing a diff / app being out of sync.

I think this is the opposite of what I thought these meant. It really seems like "sync" is referring to two different things being synced here, right? One is syncing to argocd (what does ArgoCD know about the manifest "source") and one is argocd syncing

[2022-09-16 14:10] webcoderz commented on #8643
any update on this? maybe something like taking the revision number generated from argo and passing it in as a value to where the manifests would normally  look for helms revision number? or something like this? for the migration job example its mostly looking for a new container number to be generated because it looks for when the job completes.  (i.e. migration-job-1x and the init containers for

[2022-09-16 14:13] RutviShukla commented on #10568
@crenshaw-dev , If this issue isn't already solved, can I also work on this?

[2022-09-16 14:17] crenshaw-dev commented on #10592
@flying-solo go for it! lmk if you need any help. There are a lot of places with un-wrapped errors, so feel free to open multiple PRs rather than tackling them all at once.  :-)

[2022-09-16 14:20] mayurwaghmode opened #10615 "Upgrade dex to v2.34.0, for adding ppc64le support"
# Summary

A recent Dex release([v2.34.0](ghcr.io/dexidp/dex:v2.34.0)) has added ppc64le support. With this ArgoCD can also be fully functional on ppc64le architecture, as already it supports the rest of the images(argocd:v2.4.6, redis:7.0.0-alpine).

# Motivation

PPC64Le users can use Argo CD for their use case

# Proposal

Replace the existing dex image tag with the latest [v2.34.0](ghcr.io/dex

[2022-09-16 14:23] crenshaw-dev commented on #10615
@mayurwaghmode are you willing to put up a PR? Would love to get this into 2.5.

[2022-09-16 14:26] mayurwaghmode commented on #10615
@crenshaw-dev yes, I am going to create it :)

[2022-09-16 14:27] crenshaw-dev commented on #10601
Here's an example of how this might be done: https://github.com/argoproj/argo-cd/pull/9828/files#diff-a5340e598cfacef4e52f66ac8f8a9174006c508fd12448cd4588a8de4c97e498R264

[2022-09-16 14:29] m1mohamad commented on #8945
so I updated my cert-manager , kes and ingress controller manifests with the cluster URL , and that worked fine before , it fails with errors like this when trying to re-sync the apps :

Sync operation to failed: ComparisonError: rpc error: code = NotFound desc = cluster "https://xxxxx.gr7.eu-central-1.eks.amazonaws.com" not found;ComparisonError: rpc error: code = NotFound desc = cluster "https:/

[2022-09-16 14:36] mmerickel commented on #8643
I suffered from the lack of this feature and so just wanted to point out the improvement/workaround I made in our helm charts when moving to argo-cd. Basically the new `{{ include "myapp.initJobName" $ }}` below can be used in places that depend on the init job, and it will only change when certain attributes of the init job like the image/tag change. This actually means you run migrations less (b

[2022-09-16 14:57] webcoderz commented on #8643
Ahh interesting, what are you using to check for job completeness, we are using k8s wait for that sleeps and detects completeness by checking the job name , what solution did you use?

[2022-09-16 15:03] mmerickel commented on #8643
Prior to argo-cd I was (and still am) using [k8s-wait-for](https://github.com/groundnuty/k8s-wait-for) but argo-cd has sync waves which also help coordinate the rollout. I've never deployed it with **only** sync waves so I'm not sure they fully solve the problem. You can see here what I apply to a deployment that waits for the job before starting. It does require granting the deployment's service

[2022-09-16 15:15] mayurwaghmode commented on #10615
@crenshaw-dev I have opened a PR for the same - https://github.com/argoproj/argo-cd/pull/10617 :)

[2022-09-16 15:29] martijncalker opened #10618 "Overview of installed apps and available updates"
# Summary

I noticed that Argo CD is a brilliant platform to manage multiple Kubernetes clusters and applications at scale. It does a very good job in keeping the state of the application with the desired state in Git or Helm.
Sometimes however, it's hard to track if all versions are up to date and figure out if there are updates available. I think it would be very helpful to provide an overview o

[2022-09-16 15:52] monicadelaine commented on #10437
I would like to tackle this one

[2022-09-16 16:02] webcoderz commented on #8643
sweet will try this out, thats exactly my setup.. thanks

[2022-09-16 16:11] MeNsaaH commented on #8643
@webcoderz unfortunately this will be very difficult to implement because Helm does not allow modifying the `Release` object from the `helm template` command which is what [Argocd uses](https://argo-cd.readthedocs.io/en/stable/faq/#after-deploying-my-helm-application-with-argo-cd-i-cannot-see-it-with-helm-ls-and-other-helm-commands). So, Argocd cannot technically modify those variables. Maybe in f

[2022-09-16 16:13] Aym3nTN commented on #10502
@tomjohnburton this feature didn't yet been release in a stable version.
You can follow these steps provided by @crenshaw-dev and `cherry-pick` these 3 commits "dd4dbe2a811586dd411a7dd8ee39f00727cd3dd6", "8a1d9fe76d15699de21a4f2203574bdf203ea3c5" and  "f209ae197520328085e6f5c0e7ca0dd689fc72e4"

https://github.com/argoproj/argo-cd/pull/9264#issuecomment-1125274276

[2022-09-16 16:30] Aym3nTN opened #10622 "Fix: Sticking to DNS label standard in branch_slug (Gitlab PR Generators)"
# Summary

When using the "Build" job from Gitlab auto-devops, the image name includes the slugified version of the branch ( using this variable `CI_COMMIT_REF_SLUG`) which is limited to 63 characters. So when trying to use the `branch_slug` key to building the path of the image, Argo won't find it because in my old PR https://github.com/argoproj/argo-cd/pull/9462 I hardcoded the slug max length t

[2022-09-16 16:37] MeNsaaH commented on #9200
Wierd one that I've installed the latest release and the changes in the PR are not there 🤦🏿

[2022-09-16 16:41] MeNsaaH commented on #9200
Seems it'll be on version `2.5 RC`: https://github.com/argoproj/argo-cd/pull/10019#issuecomment-1249566344

[2022-09-16 17:07] alexminder commented on #6303
For me it works using values:
[code]

[2022-09-16 17:22] webcoderz commented on #8643
yea actually seems @mmerickel had the right idea , i ended up making a sha of the tag `{{- sha1sum .Values.tag | substr 0 8 }}` and that seems to work well

[2022-09-16 17:25] jonathon2nd commented on #10413
Happens even when using yaml
[code]
It would be nice to be able to just go though Rancher Proxy, instead setting up something else (nodeport, ingress, port-forward, etc.)

[2022-09-16 17:26] jonathon2nd commented on #10413
Exact same issue observed here: https://github.com/argoproj/argo-cd/issues/8281

[2022-09-16 18:32] alexec opened #10624 "All logs icons are unclear"
# Summary

I have to hover over each of these icons to understand what they do:

![image](https://user-images.githubusercontent.com/1142830/190707371-3055dccd-e5c3-43b7-8a5c-6236a640ba85.png)

As a result, I missed the fact that there is a "containers" icon and I need to use to find the right container. I wasted an hour thinking that it was a bug and using `kubectl logs` intead with all the attend

[2022-09-16 18:34] alexec opened #10625 "Indicate log velocity"
# Summary

I'd like to see what velocity logs are being produced at. It tells me if my app is spinning. I think there's something in this:

![image](https://user-images.githubusercontent.com/1142830/190707989-81f2d215-c9d5-4911-bb02-f7e5544fd941.png)

When I show timestamps, I'm getting something there. Perhaps only show 1 timestamp per second. Does this make sense, I'm finding it hard to describe

[2022-09-16 18:48] Zeratoxx commented on #6048
Hi, is it possible to mount `argocd-tls-certs-cm` in Pods outside of the `argocd` namespace?

[2022-09-16 19:29] celanthe commented on #10568
@RutviShukla -- Yes, you can absolutely work on this as well! :) If you need any assistance, please feel free to send a message in the #argo-proj Open Source Day Slack channel.

[2022-09-16 21:01] crenshaw-dev commented on #10539
Reproduced it in 2.4.12:

[code]

[2022-09-17 00:22] #10376 closed

[2022-09-17 05:23] jkdihenkar commented on #8471
Hi, same issue - did anyone figure out some solution?

[2022-09-17 06:05] bogdanmuresan commented on #8471
In our case this helped: https://github.com/argoproj/argo-cd/issues/4358#issuecomment-1031983396
We still had the old 1.7.8 deployment running - after deleting it, the CPU usage went back to normal.
Hope it helps.

[2022-09-17 06:08] flying-solo commented on #10592
✌️okay cool, I am a beginner for the open sourcing stuff, will try my best to complete this.

[2022-09-17 09:58] Cowboy-coder opened #10627 "Using `master` and server-side-apply I get a inline-diff for `resources: {}` for all my apps"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In order to get access to server-side-apply I tried out `master` of argocd. This caused me to get an inline diff like this on all my apps like this
<img width="1240" alt="Screenshot 202

[2022-09-17 13:23] mohankumarbm opened #10629 "SAML Authentication Issue: Missing signature referencing the top-level element"
### Discussed in https://github.com/argoproj/argo-cd/discussions/10628

<div type='discussions-op-text'>

<sup>Originally posted by **mohankumarbm** September 17, 2022</sup>
While Integrating ArgoCD with SAML 2.0 running in to below error.

Has anyone come across this error ?

{"level":"error","msg":"Failed to authenticate: verify signature: response does not contain a valid signature element: Mis

[2022-09-17 13:49] leoluz commented on #10627
Can you please provide an example of ArgoCD application that causes this issue? I didn't have this behavior during my tests.

[2022-09-17 14:14] Cowboy-coder commented on #10627
It's a private repo, but I can copy and paste the relevant parts

[code]

Which picks ups and installs this yaml

[code]

[2022-09-17 19:19] the-technat commented on #4651
From what I see the easiest thing would be if the argocd-controller would watch the cluster-api's `Cluster` resource and add clusters that are created there (maybe with matching labels) to Argo CD by fetching the secret with the kubeconfig that cluster-api creates and generating it's own secret out of it.

Would that be an enhancement that the Argo CD codebase accepts? Because it would mean a 'har

[2022-09-17 22:23] #4722 closed

[2022-09-17 22:33] xlanor commented on #4174
I replaced flannel with calico.
That worked magically. No idea how or why.

[2022-09-17 23:56] crenshaw-dev opened #10630 "Settle on one glob language, and document it"
# Summary

We use glob patterns in several places. We use different libraries to evaluate those glob patterns.

Some libraries support double star (`**`) while others do not. Some support multiple patterns (`{pattern-1,pattern-2}`) while others do not.

We should settle on one pattern library.

# Motivation

It's confusing for users to have to track down which language a given pattern will be eval

[2022-09-18 01:35] Avni-Sharma commented on #10290
<img width="1155" alt="Screen Shot 2022-09-17 at 9 26 32 PM" src="https://user-images.githubusercontent.com/18097007/190881875-0cb844d2-11c4-4b64-987d-306566d07a8b.png">
Sync failed, imo,  should be a part of Sync status

[2022-09-18 08:46] my-git9 commented on #10602
My argocd version is 2.5 and it doesn't seem to have this problem

[2022-09-18 11:47] jkleinlercher commented on #10618
Hey, do you know tools like [renovate](https://github.com/renovatebot/renovate)? They can scan your gitops repo and create pull requests whenever newer versions of your apps are available.

[2022-09-18 15:38] yydzhou commented on #8428
hi @leoluz what do you mean about the "broken destination server", are you using a destination server that does not exists in the system, or a destination server that in unhealth/failed status?
When we have this issue, the problematic application points to a non-existing destination.

[2022-09-18 16:14] abdennour commented on #1373
based on @abhi-kapoor 's answer, this is my automated solution :

[code]

[2022-09-18 19:40] alexmt opened #10633 "Application details page crashes with JS error"
**Describe the bug**

Application details page crashes with the following JS error:

[code]

**To Reproduce**

1. Navigate to https://cd.apps.argoproj.io/applications/argocd/argo-cd
2. Keep switching between tree->pod->network->list views
3. after couple attempts UI crashes

**Expected behavior**

**Version**

[code]

[2022-09-19 07:39] mabhi commented on #10539
@crenshaw-dev, I would like to work on this issue and analyse further. If this is still unassigned, can you assign it to me.

[2022-09-19 09:33] maheshbaliga commented on #10548
Hi @crenshaw-dev. I would like to attempt this one. Could you please assign this to me?

[2022-09-19 14:18] cconnert commented on #10550
Hi,

so it turned out that we actually did not need to look the retry count / operation status. Instead we added a check for error conditions:
[code]

[2022-09-19 15:55] tianomagdaong commented on #4174
Thank you. Solved by adding the SGs for basic rules as mentioned here.

[2022-09-19 16:40] crenshaw-dev opened #10638 "Add note at top of proposal docs about the status of the proposal"
# Summary

When you search the docs, proposals often appear in the results.

# Motivation

Looking at the proposal page, it's not clear whether the feature has been implemented or not. And where the feature has been implemented, it's not always clear whether it was implemented in the same _way_ as proposed.

# Proposal

Add a block to the beginning of proposal docs nothing 1) whether the feature w

[2022-09-19 18:24] dublinsubway commented on #10638
If I can figure out the status of current proposals, I can give a hand with that.

I suggest adding something like this would fit?
[code]

[2022-09-19 19:13] jsoref opened #10639 "SEO Adding Webhooks for ArgoCD so that refreshes aren't slow after pushes"
# Summary

When a user of ArgoCD pushes to a git backed repository (e.g. GitHub), and complains "it's taking too long for ArgoCD to refresh", they should be able to search the internet, the docs, the blogosphere, and other places and find a page that says "you should set up a webhook and then ArgoCD will sync instantly".

# Motivation

Coworkers complained that pushing to github repositories force

[2022-09-19 20:06] jsoref commented on #9626
Ok, the feedback I got was that ArgoCD should be honoring the `preferredVersion` field:

[code]

[code]

It sounds like ArgoCD should only be using `preferredVersion` APIs. If it did that, GKE Autopilot/OpenShift/friends wouldn't be screaming.

[2022-09-19 22:22] cdobbyn commented on #8272
I'd have to defer to @crenshaw-dev.

[2022-09-19 23:08] alexef commented on #6686
I'm taking a stab at it in https://github.com/argoproj/argo-cd/pull/10641 - feedback is welcome.

[2022-09-19 23:20] #10633 closed

[2022-09-20 00:24] rkevin-arch commented on #10602
This is mostly about having better debug messages when there are transient DNS or other networking failures. The root cause in this instance is our DNS servers and is unrelated to ArgoCD, but I think ArgoCD's error messages can be improved.

[2022-09-20 00:41] appellod commented on #2936
This is the only thing keeping me from switching from Flux to Argo CD, and trust me, I want to use Argo CD very badly.

[2022-09-20 03:24] minhnnhat commented on #8097
I'm using the cronjob to renew both the ecr registry and helm chart. You guys can give it a try:
`
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ecr-credentials-sync
  namespace: argocd
rules:
- apiGroups: [""]
  resources:
  - secrets
  verbs:
  - get
  - create
  - patch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ecr-credentials-sync

[2022-09-20 03:26] minhnnhat commented on #8097
You guys can give this cronjob a try:
[code]

[2022-09-20 05:34] mabusaa opened #10643 "Update pull request generator docs for requeueAfterSeconds indentation"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

when you apply the yaml example in this page https://github.com/argoproj/argo-cd/blob/v2.4.12/docs/operator-manual/applicationset/Generators-Pull-Request.md

you will get an error for r

[2022-09-20 05:37] mabusaa commented on #10643
/assign

[2022-09-20 05:37] mabusaa commented on #10643
I have created PR to fix the indentation #10642

[2022-09-20 08:52] chrisduong commented on #8097
My problem was complicated because the logging system didn't say anything about the App was not allowed to access to the Helm repo.

After I configured the Project to allow the Apps to access the repo (Chart Museum repo), I didn't have the "caching error hit" anymore ('helm pull failed - Authorisation problem')

I haven't tried with Helm OCI repo but I think it would work as well.

[2022-09-20 09:57] shizhz commented on #9809
The same issue with version v2.4.12, this workaround works for me! Thanks

[2022-09-20 11:44] alexellis commented on #4651
@Moglum thanks for linking to the inlets blog post [Learn how to manage apps across multiple Kubernetes clusters](https://inlets.dev/blog/2021/06/02/argocd-private-clusters.html) where we gave the example on adding a remote cluster delcaratively.

This doesn't seem to work with the newest change in K8s 1.24 where service accounts and tokens are not created in the same way as before.

https://githu

[2022-09-20 11:55] alexellis commented on #4651
Edit: Looks like we may have an alternative now for K8s 1.25:

[code]

[2022-09-20 13:39] simtuitive-jay opened #10647 "TypeError: Cannot read properties of null (reading 'kind')"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Version**

[code]

**Logs**

[code]

[2022-09-20 14:06] bitbreakr opened #10648 "Unable to create a project"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X ] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
After a fresh install and reading the doc, I've tried to create an app. But I'm unable as I get an error message that I can't resolve.
It looks like argo list and read through the sourc

[2022-09-20 15:25] mewa commented on #7786
@bentocin I also think this is the sane thing to do.

One thing worth pointing out is that the [documentation](https://argo-cd.readthedocs.io/en/release-2.4/operator-manual/user-management/#sensitive-data-and-sso-client-secrets) is currently wrong about it as well.

[2022-09-20 16:11] sergeyshevch commented on #4722
I guess it will be great to automatically detect OS light/dark mode and use it for the theme in ArgoCD. I will very much like such feature. (Github works in similar way)

[2022-09-20 17:34] pmula-onbe opened #10651 "--enable-helm flag added to argocd-cm but ArgoCD deployment fails: "must specify --enable-helm""
Checklist:

* [X ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
* [ X] I've pasted the output of `argocd version`.

**Describe the bug**

I'm testing deploying the datadog agent with kustomize and helm and I'm getting this error:

rpc error: code = Unknown desc = `kustomize build .qa/apptest` failed exit status 1: Erro

[2022-09-20 17:50] ltmleo commented on #4297
Same problem here, my user and email are shown in argocd-server, but not in the UI.
Sync Actives are shown in the logs like`"msg="Unknown user initiated sync to main ..."`

[code]

I'm doing SSO using  Azure AD App Registration Auth using OIDC

[2022-09-20 18:21] bitbreakr commented on #10648
For anyone falling on the same path. I've post about this concern on #argocd slack channel. This is not a bug, but rather my fault. Thanks to @alexef for giving me some hints. **Path** is the folder where are located all your k8s definition files (deployments, services, pods, ingress, etc...)

[2022-09-20 18:21] #10648 closed

[2022-09-20 19:11] jdmaguire commented on #10511
Thanks @tiwarisanjay, I was experiencing a _similar_ issue. Search engine results kept bringing me to old (ex 1.x) issues or non-applicable issues (ex. misspelled repo names).

Initially, the connect would work for me but after some time I'd see `Unable to connect to repository: error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK not-specified"`.

By swapping the label from `argocd.ar

[2022-09-20 19:29] DaytonG opened #10652 "SCM Provider Enhancement: Exclusion Labels"
# Summary

I'm using the SCM provider to gather a list of repositories from a private gitlab enterprise server. I would like to use a label to _exclude_ repos, like `block-deploy` to instead deny certain repos from being deployed.

# Motivation

We split our gitlab groups into separate areas per company effort. Some of those projects are in the incubation phase, and should be ignored in certain en

[2022-09-20 21:02] crenshaw-dev commented on #4722
@sergeyshevch can you open an enhancement request for that?

[2022-09-20 21:09] ltmleo commented on #4297
https://github.com/argoproj/argo-cd/issues/6390#issuecomment-986830942
This work for me.

[2022-09-20 21:10] ltmleo commented on #6390
Thanks!!! This works for me!

[2022-09-21 03:48] TMaYaD opened #10655 "Multi-namespace support for applicationset"
# Summary

Following  #9755 and #10270, it would be nice to have similar support for applicationsets as well.

# Motivation

We are currently using SCM discovery to deploy new environments for each branch. Each environment consists of multiple applications following app of apps pattern and it would be nice to setup each environment in its own namespace and project.

# Proposal

applicationset-cont

[2022-09-21 09:09] nazarewk opened #10656 "Set up dedicated Field Manager for edits done by Resource Actions"
# Summary

Either of:
1. set up hardcoded, but separate from `argocd-application-controller` field manager for edits done by Actions
	1. make it configurable on ArgoCD instance level
2. allow Action to specify it's own field manager

# Motivation

It would allow actions to temporarily override fields managed by Application template, by combining it with `resource.customizations.ignoreDifferences`

[2022-09-21 09:19] nazarewk opened #10657 "Implement handling of `ResourceAction.Params`"
# Summary

While looking into how Actions work I stumbled upon piece of dead code (as in not implemented/used anywhere) on [`ResourceAction.Params`](https://github.com/argoproj/argo-cd/blob/93aa192ff0fcdcf5d02a1afc526526dcfc68d766/pkg/apis/application/v1alpha1/types.go#L1514).

I believe the intention was for Actions to handle user-provided parameters, but this was never implemented after initial

[2022-09-21 09:32] nuget1991 commented on #4297
guys, I have found sollution. Need go to  code and find that username field in argo is parsing from email field! In keycloak - choose your argo realm - than to client scopes - username - mappers - and chose token claim name "email". After this you should not have problems with displaying username in your argo interface.

[2022-09-21 10:59] AydinChavez commented on #10453
have the same issue. But adjusting the entrypoint in the deployment part to
`- applicationset-controller`
did not help. Still same error

[2022-09-21 12:10] hakobmkoyan772 opened #10659 "JumpCloud SSO Support"
### Discussed in https://github.com/argoproj/argo-cd/discussions/10658

<div type='discussions-op-text'>

<sup>Originally posted by **hakobmkoyan772** September 21, 2022</sup>
Hi.
Does your application support Single Sign On for JumpCloud Custom SAML app, if you answer is yes, below will be my info about my mess in that with all configurations that I have, can you help me with that mess?
**So here

[2022-09-21 12:11] hakobmkoyan772 commented on #10659
HELP!

[2022-09-21 13:34] ranajoy-dutta commented on #4204
This works great with minikube. Thanks!

[2022-09-21 14:19] AydinChavez opened #10662 "argocd ha via helm: UI returns 404 page not found"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When executing
`kubectl port-forward svc/argocd-server -n argocd 9999:443`

I get a 404 in the browser (localhost:9999)

**To Reproduce**

**Chart.yaml**

[code]

**values.yaml**
[code]

[2022-09-21 14:57] doug62 commented on #2638
Bump: I wish to ignore directories, and perhaps files.  I feel that this feature should be triggered by something in the GIT repo rather than argo/crd because that way it could be source controlled.   Suggested resolutions:
1) .argoIgnore - file in each nested directory using a .gitIgnore pattern
2) .argoManifest.yaml - that would apply Kustomize like patch pattern to that directory and desendants

[2022-09-21 15:01] rikirolly commented on #10662
Could it depend on "insecure: true" setting?

[2022-09-21 15:10] AydinChavez commented on #10662
It is set. Tried setting it with extraParams before also

[2022-09-21 15:12] Syntax3rror404 commented on #10662
Get same error since updated argo from 4.4.0 to 5.5.0

[2022-09-21 15:14] Syntax3rror404 commented on #10662
Restarting pods also not helped

[2022-09-21 16:00] keithchong commented on #10647
Hi @simtuitive-jay , this sounds like a UI issue. Could you please provide more information.

[2022-09-21 16:22] tiwarisanjay commented on #10511
@jdmaguire Just wanted to keep my comment as I know there will be many making this small mistake like me :)

[2022-09-21 16:28] keithchong commented on #10570
I can reproduce this.  Cursory glance at this shows that possibly, issue is that the `getDownloadLogsURL` API doesn't allow for `showPreviousLogs`, unlike the `getContainerLogs` API.

[2022-09-21 16:30] crenshaw-dev opened #10663 "Document where we use globs vs. where we use regex"
# Summary

We use globs in many places. We use regex in a few places. We should be very clear which is used where.

# Motivation

Where patterns are expected, it's not always clear what _kind_ of pattern is expected. For example, I think the ApplicationSet spec accepts regex in some places and globs in others.

# Proposal

Make a list of everywhere our specs accept globs and regexes. Update docume

[2022-09-21 16:55] converge commented on #3895
is there any update about this bug?

[2022-09-21 16:56] keskad commented on #677
I wrote about this topic on my blog, maybe somebody could be interested on how to handle this in few different ways: https://medium.com/p/424bc3a6bc8

[2022-09-21 17:19] MeNsaaH commented on #10662
Same issue here. DOes it worth opening an issue in https://github.com/argoproj/argo-helm/issues

[2022-09-21 17:21] ADustyOldMuffin opened #10664 "Error from git fetch `cannot lock ref` caused by incorrect branch paths"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When 2 branches are created that are in a format of `mybranch/mychange` `mybranch/mychange/subchange` this causes issues in Git and as such also causes issues in ArgoCD when running a f

[2022-09-21 18:27] AydinChavez commented on #10662
done
https://github.com/argoproj/argo-helm/issues/1479

[2022-09-21 18:29] Syntax3rror404 commented on #10662
Its a bug with 5.5.0 latest 4.4 version works (4.4.8)

[2022-09-21 18:38] AydinChavez commented on #10662
mind you share your values.yml? I still get same issue with 4.4.8.
Which helm image tag is chart v4.4.8 using, do you know?

[2022-09-21 18:39] Syntax3rror404 commented on #10662
I use rancher :D i just set select version an then select 4.4.8 and it works again.

[2022-09-21 18:44] Syntax3rror404 commented on #10662
[code]

      ### HA mode without autoscaling

[code]

      ### Synchronizing Changes from Original Repository

      In the original [Argo CD repository](https://github.com/argoproj/argo-cd/) an [`manifests/install.yaml`](https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml) is generated using `kustomize`. It's the basis for the installation as [described in the docs](https://a

[2022-09-21 18:44] AydinChavez commented on #10662
Workaround is described here guys:
https://github.com/argoproj/argo-helm/issues/1479#issuecomment-1254089715

[2022-09-21 18:47] Syntax3rror404 commented on #10662
I think I basicly waiting for 5.5.1 :D and go with 4.4.8 instead of dirty hacks

[2022-09-21 18:51] bestrand commented on #7629
Yea exactly as you say about two different things:

`git repo <--- (current sync)--- argocd --- (last sync status) ---> kubernetes cluster`

If you want the same behaviour as auto sync in UI you can use "Refresh" which diffs manifest and only sync changes if it see any changes.

Imo a bit confusing that manual sync button in UI and auto sync behaves differently. Refresh button and auto sync seems

[2022-09-21 20:38] #10662 closed

[2022-09-21 20:59] sklarsa commented on #9679
I'm still running into this issue on the following version:
[code]

`argocd login <my-argo-instance> --skip-test-tls` just hangs with no output

[2022-09-21 21:00] alindeman commented on #9679
@sklarsa Does it work if you use `--skip-test-tls --grpc-web` ?

[2022-09-21 21:07] sklarsa commented on #9679
Ah yes, that does work! Thanks @alindeman

[2022-09-21 21:49] pawanbony opened #10666 "ARGOCD- Cache error (Unable to load data: error getting cached app state: cache: key is missing)"
I tried to update our tst environment ArgoCD from  v2.3.0 to 2.4.0. update was successful. I was able to login and see all the applications. But when I open the application and click on a resource(pod, deployment, etc) it is giving me the following error instead of showing the details

![image](https://user-images.githubusercontent.com/74630240/191616646-cd03db10-6f78-453f-ba1f-f0763c26aa25.png)

[2022-09-22 07:33] RammusXu commented on #7575
In our case, we are trying to manage a service lifecycle by Helm. So it needs to implement in `helm.sh/hook: post-delete`

[2022-09-22 10:38] Wojciech-Chilinski opened #10669 "Possibility to revert app based on commit hash not revision ID"
# Summary

Right now to revert the app you need to specify (or find in UI) the revision ID of the app, it is mapped to the commit hash. To expand the capabilities of this functionality it would be nice to be able to revert the app to a particular commit hash from the git repository.

# Motivation

argocd storing only the last 10 IDs of the revisions. if you want to revert the app to an older revis

[2022-09-22 12:59] chrisduong commented on #4979
my workaround is to delete the APP with "non cascade option".

[2022-09-22 14:07] nazarewk opened #10670 "`useOpenLibs` is always off for action discovery & execution"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

https://github.com/argoproj/argo-cd/pull/6087 implemented stdlib only for Health checks, but left out Actions.

**To Reproduce**

try to define actions using `string.gmatch` or just `pr

[2022-09-22 15:02] MikeK184 opened #10671 "ArgoCD not creating correctly defined resources"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've pasted the output of `argocd version`.
`v2.3.6`

**Describe the bug**

I'm currently facing the issue that ArgoCD isn't creating a RoleBinding, and no errors can be found. However templating with Helm shows me the resource.
We're using the Apps of apps pattern and the root application is creati

[2022-09-22 15:48] clive2000 commented on #5958
@zhang-xuebin
Hello, I followed your guide and was able to connect to private GKE cluster using connect gateway.

However, in the last step when creating secret for external cluster. I need to change the server URL from `server: https://connectgateway.googleapis.com/v1beta1/...` to `server: https://connectgateway.googleapis.com/v1/...` in order to make it work.

[2022-09-22 16:52] raafatseif opened #10673 "ArgoCD Notifications Troubleshooting CLI Not Working"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug and Steps to reproduce**

I'm not able to troubleshoot ArgoCD Notifications using the instructions from the [docs](https://argo-cd.readthedocs.io/en/stable/operator-manual/notifications/tr

[2022-09-22 17:02] pawanbony commented on #10666
Can anyone help me here

[2022-09-22 17:22] lalitmathwani commented on #4314
+1 - we ran into this @ adobe as well on our roll out of argo.

[2022-09-22 17:34] ejhayes commented on #10273
Hey @crenshaw-dev any idea when the 2.5 RC will be created?

[2022-09-22 17:47] crenshaw-dev commented on #2785
I think this is solve by apps-in-any-namespace, but I'm holding off closing the ticket until we have docs for the feature (and specifically how it solves this use case).

[2022-09-22 17:49] crenshaw-dev commented on #7673
I encountered an issue yesterday where deleting a repo cred secret 1) did not update the list of repos in the UI and 2) did not allow an App using that repo to fall back to a credentials template (it errored on refresh with "secret not found).

I think a watch would solve this issue.

[2022-09-22 17:51] crenshaw-dev commented on #10273
@ejhayes given that we really want to get multi-source apps into this release, and that PR is still under heavy review/testing, I think Friday of next week (9/30) would be a _very_ aggressive timeline for the first RC.

[2022-09-22 18:07] crenshaw-dev commented on #4314
Does anyone have time to investigate one or both of these?

- v1Time object being returned as string
- v1alpha1ResourceNode response doesn't match the spec

I'd be happy to help w/ dev env. and review a PR.

[2022-09-22 21:30] mmerrill3 commented on #9460
if this is not being worked on, I'll work on a PR for it.

[2022-09-22 21:38] da6d6i7-bronga commented on #10249
I am seeing the same issue. I also was able to resolve it with the above fix.

`ports:
  - appProtocol: TCP
    name: http
    port: 5556
    protocol: TCP
    targetPort: 5556`

[2022-09-22 23:31] #9963 closed

[2022-09-22 23:51] ozbillwang commented on #7629
In between of `current sync status` and `last sync status`, if I used the image with `latest` tag, the whole kubernetes deployment codes (yaml files) have no changes, but the image itself with change, but same tag.

Can ArgoCD detect the difference and synd (I mean `pull image` always option) ?

[2022-09-22 23:55] ozbillwang commented on #7629
So my final question is,

Can we ask to merge `current sync status` and `last sync status` into one. Sync is sync, no concept of last or current sync status.

The `last sync status`, will always mislead me to think about this feature is used for rolling back to preview successful deployment

[2022-09-23 00:07] amarjayr opened #10675 "argocd-application-controller does not timeout when getting child resources for the resource tree"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I recently ran into a case where Argo CD was getting stuck "refreshing" an app. It would never finish refreshing the app and would never show the resource tree in the UI. The applicatio

[2022-09-23 00:19] #10273 closed

[2022-09-23 01:55] djhoese commented on #7629
@ozbillwang As described above, sync is not just sync. There are two things being synced here. Repo -> ArgoCD -> Cluster. I personally would like to have at least some way of knowing both statuses. The main problem is that the UI only makes a distinction between these two (I think? that's how confusing it is to me) by using "current" versus "last".

[2022-09-23 04:49] zhang-xuebin commented on #5958
@clive2000 thanks for sharing the feedback. That's interesting, would you mind sharing what's the problem when you use `https://connectgateway.googleapis.com/v1beta1/...`?  v1beta1 should behave very similar with `v1`.

[2022-09-23 06:36] narutolied commented on #7534
you can access the Source repositories through https. You just need to click on the 3. tab and generate a git cookie. Just look through it. You can find user and password inside and connect via that.

[2022-09-23 06:52] timbuchwaldt commented on #7657
@crenshaw-dev We seem to be affected by the same issue, in our case the git-http-url and git-ssh-url are different for Kubernetes reasons. argo-cd uses the Repo URL `ssh://git@git-ssh.corp.dev/corp/ops/argoapps.git`

[code]

[2022-09-23 06:53] ebini opened #10676 "Proxy support for helm repo in dependency or better description for requirements.yaml"
# Summary

There is an example with this file:
[argo-cd](https://github.com/argoproj/argo-cd)/[applicationset](https://github.com/argoproj/argo-cd/tree/master/applicationset)/[examples](https://github.com/argoproj/argo-cd/tree/master/applicationset/examples)/[git-generator-directory](https://github.com/argoproj/argo-cd/tree/master/applicationset/examples/git-generator-directory)/[cluster-addons](h

[2022-09-23 07:57] nice-pink opened #10677 "ArgoCD UI: Toolbar not clickable since v2.4.11"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The toolbar in ArgoCD UI does not react to clicking since v2.4.11 (also v2.4.12). When typing `/` I can search, but selecting either the search bar or the buttons nothing happen. On dou

[2022-09-23 08:02] Diliz commented on #10200
Hello! Is there any news regarding this issue? :)

[2022-09-23 08:33] sunmd01 commented on #5592
Same here still facing the issue in 2.4.12

[2022-09-23 09:06] sharmajee1 commented on #2401
In my case, it was `action/apps/Deployment/restart` ,  how it differs from `extensions` ?

[2022-09-23 09:40] david-becher commented on #7534
The git cookie is only valid for 60 minutes however. I guess you will have something more permanent. That's the reason for this PR

[2022-09-23 09:41] dbaudracco opened #10679 "auto-sync on monorepo effectively equals to self-heal"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When enabling auto-sync any commit to the repo will trigger a sync operation once, however if the application is in a synced state when a new commit is detected no sync is performed for

[2022-09-23 09:55] minhkhang97nt commented on #2339
same issue on v2.4.7+81630e6. Sometimes it autosyncs after I made changes on git repo. but most of the time not syncing until I hit Refresh button.

[2022-09-23 10:15] narutolied commented on #7534
are you sure about that ? i connected a repo yesterday and it is still syncing

[2022-09-23 12:54] ckazimie commented on #8122
Same error here with 3 worker nodes trying to install argocd 2.4.10 og 2.4.12

[2022-09-23 13:17] vhsantos commented on #8122
Add one extra node (04 in total) fixed this issue for us !!!:-(

[2022-09-23 13:29] nazarewk opened #10680 "Add json/yaml libs to Lua engine"
# Summary

If/after https://github.com/argoproj/argo-cd/issues/10670 is covered I think it would be great to make additional Lua libraries available in Actions to make them more useful, for example:
- https://github.com/gvvaughan/lyaml to parse and store YAML annotations
- one of [4 JSON modules](https://search.nixos.org/packages?channel=unstable&from=0&size=50&buckets=%7B%22package_attr_set%22%3A

[2022-09-23 13:44] nazarewk opened #10681 "Handle dynamically created actions from `discovery.lua`"
# Summary

`discovery.lua` returns a (dynamic) map of available actions, but `definitions` are purely static.
It would be useful to enable dynamic handling of such actions.

# Motivation

Creating Action to create/delete sync windows for a single application on the Project level based on CSV of managed apps from annotation.

# Proposal

Create a 3rd key for example `handler.lua` which would hold a

[2022-09-23 14:30] ltmleo opened #10682 "Sync status is unkown and App Health is Healthy even with error"
Hi Guys,

I just noticed that when sync status is unknown because it has some configuration errors (e.g. missing folder...), the health status is healthy, this is confusing because the app is not healthy, should be added a new condition, like **error**?. This is a little annoying when there are hundreds of apps.

![image](https://user-images.githubusercontent.com/43857006/191983502-61a19cba-209c-4

[2022-09-23 15:11] jsoref opened #10684 "`...repoURL and ...path either ...chart are required` message isn't grammatical"
https://github.com/argoproj/argo-cd/blob/02bf903dd9b25c141d073bab3c7588d190145eb3/util/argo/argo.go#L308

I'm not sure what it's trying to say.

[2022-09-23 15:22] mkilchhofer commented on #9809
We @swisspost are also facing this issue on VMware TKGI 1.22 (= TKGI `1.13.4-build.15`). Argo CD v2.4.7 (via helm chart version 4.9.16) is working fine on AWS EKS and Azure AKS but not on TKGI.

TKGI runs really old worker OS:
[code]

I then suspected that Ubuntu 16 worker with Ubuntu 22 base image has some compat issues (Argo 2.4 container image is based on Ubuntu 22).

Unfortunately this theory

[2022-09-23 15:56] bukowa commented on #8613
[code]

[code]

[code]

[code]

[2022-09-23 16:38] crenshaw-dev commented on #10684
It should be "spec.source.repoURL and either spec.source.path or spec.source.chart are required".

[2022-09-23 17:36] preethignanesh opened #10686 "User info in UI not displaying the currently logged in user after integration with keycloak"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
On login to the Argo CD UI, if the user needs to know the name of the logged in user, then he has to click on the User Info tab on the left panel. If the user is logged in via keycloak t

[2022-09-23 17:59] nstires-ctgx commented on #9500
+1

[2022-09-23 20:55] dyasny commented on #7575
Same here, need a way to do cleanup after the app is deleted. Was expecting helm hooks to work, and was very surprised when they didn't.

[2022-09-24 07:52] Ferix9288 commented on #8795
Also encountered the same issue and was able to figure out the solution. Hope this helps
tl;dr remember to first log-in to the appropriate argo server lol 🤦‍♂️

Setup / pre-steps:

1. I port-forwarded the argo server to localhost port 8080  `kubectl port-forward svc/argocd-server -n argocd 8080:443`
2. Get the initial admin password via `kubectl -n argocd get secret argocd-initial-admin-secret -o

[2022-09-24 08:39] dbaudracco commented on #10679
The behaviour doesn't change when setting the annotation `argocd.argoproj.io/manifest-generate-paths` [as instructed in the documentation](https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#webhook-and-manifest-paths-annotation).
It appears that the annotation only prevents cache busting but doesn't update the revision of the last operation sync.

[2022-09-24 11:18] ozbillwang commented on #1809
@Exodus

Is the feature ready or not?

[code]

I still get error that it can't automatically create the namespace

[code]

[2022-09-24 14:11] via-justa commented on #8826
@crenshaw-dev sorry for the (very) late response. I decided to remove the applicationSet in favor of some helm magic as I needed to create a much more complex system to manage multiple environments with different applications and settings in one mono repo

[2022-09-24 18:45] Enity commented on #7786
Same thing. Cant beat it

<img width="432" alt="image" src="https://user-images.githubusercontent.com/2884517/192113834-eb98805d-8296-4c3c-99e9-360ef2826b8c.png">

[2022-09-25 07:28] cleverhu commented on #10684
I'd like to work on this issue, please assign to me, thanks.

[2022-09-25 07:50] aprams opened #10695 "Support Bitbucket Cloud Pull Request Generator"
# Summary

ArgoCD already supports the following SCMaaS providers for pull request generators: (According to [these docs](https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Pull-Request/#bitbucket-server))
- Github
- Gitea
- Bitbucket Server (not the same as BB Cloud)

# Motivation

As Atlassian's cloud products are a large segment of their users, it would be great

[2022-09-25 08:19] cleverhu commented on #10614
I'd like to add null pointer judgment for this.

[2022-09-25 14:22] cleverhu commented on #10622
I'd like to fix this, can this issue been assigend to me ?

[2022-09-25 14:45] cleverhu commented on #10622
@Aym3nTN I pulled a request for this, I don't know is it ok. PTAL.

[2022-09-25 14:52] cleverhu commented on #10610
I checked the code, I'd like to fix it. Can this issue been assigned to me? @crenshaw-dev

[2022-09-25 15:13] ericb-summit commented on #8731
That's not really a fix though.

[2022-09-25 15:16] ericb-summit commented on #8731
This is what's missing (of course names+namepaces will vary for each install)

[code]

[2022-09-25 15:17] ericb-summit commented on #8731
And here is the original PR commit that fixed argo-cd on openshift: https://github.com/argoproj/argo-cd/pull/4660

[2022-09-26 04:00] adiii717 commented on #3941
having a similar issue while creating an app using ArgoCd CLI, and getting different error while adding cluster

[code]

[2022-09-26 06:55] Aym3nTN commented on #10622
Have you tested the case when 63 characters cuts a word in 2?
I tested the gosimple/slug library but it doesn't cover that case, so I created a PR https://github.com/gosimple/slug/pull/75 in that repo to remediate to that use case and waiting for the maintainer to have a look at it

[2022-09-26 07:21] jannfis commented on #10610
@michalschott Have you installed Argo CD in `core` mode when you encounter this bug?

[2022-09-26 07:41] #10684 closed

[2022-09-26 08:01] #10614 closed

[2022-09-26 09:01] alejandrolr commented on #10439
+1, very useful feature. Any update?

[2022-09-26 09:56] lchastel commented on #10601
I need these feature too.

In my case, I created a role "none" and used it as policy.default. So users can't do anything if they are not in the correct groups.
The issue is that the user could still see the "create" buttons for applications, repositories, ..., click on them.
It's only after filling the form and click on "save", that he received the message telling him he don't have the rights to p

[2022-09-26 10:45] nazarewk opened #10703 "Ability to run Action locally (offline) on a manifest during development"
# Summary

I think it would be great to be able to test actions locally:
1. without uploading it to server (`argocd-cm`)
2. on a specific resource manifest (stdin/local file)

# Motivation

Currently it's not possible to test actions in a restricted ArgoCD interpreter. Using separate Lua 5.1 is far from ideal.

# Proposal

Action could be runnable using the same command [`argocd app actions run`](

[2022-09-26 10:49] jannfis commented on #8820
Reading through this issue, I think this bug affects only plugins that use kind of `git` integration themselves, right? E.g. those which need access to Git _after_ Argo CD has provided the set of manifests it rendered to the plugin.

[2022-09-26 11:28] cleverhu commented on #10539
@mabhi Is there any progress? I checked the code and I'd like to fix it. Can the issue been assigned to me?
@crenshaw-dev

[2022-09-26 11:54] cleverhu commented on #10622
I tested for it, it passed!

[2022-09-26 12:57] RonaldFindling opened #10705 "Feature Request: Add an option to Refresh all apps (e.g. "Refresh Apps" button)"
# The problem

When I update the deployments of many services argoCd takes quite a long time (around 5-15 minutes) to update the status of all the apps from `Synced` to `OutOfSync`.

Atm we can just wait this time until we can apply all the changes or as a workaround we need to go into every app and press refresh there (very cumbersome if you have a lot of apps).

# The request

We'd like to have

[2022-09-26 14:59] michalschott commented on #10610
@jannfis what's core mode? I've used HA manifest.

[2022-09-26 15:13] vx-github opened #10707 "argocd-server services randomly new / old / expired cerificate from secret argocd-server-tls"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.

**Describe the bug**

Since version 2.4.3 I noticed argocd-server is sometimes serving older / expired certs that should not be served any more. We first noticed this after the upgrade from 2.2.5 to 2.4.11. The problem exists in 2.4.12 too.

**To Reproduce*

[2022-09-26 16:10] Jacobh2 commented on #7898
Same issue on `v2.4.12` when using the git-generator for an applicationset

[2022-09-26 16:17] mabhi commented on #10539
Hi @cleverhu , i had completed the work, but was waiting for assignment. But now since you have raised PR. you go forward.

[2022-09-26 16:36] jannfis commented on #10539
Hey folks. We don't work with issue assignments on small things usually. You see an issue you are able to fix, you write code, you submit PR - easy as that :) Obviously, someone else could do similar in the meanwhile.

For larger things, where redundant work could actually hurt, assignment makes sense. Or, if there is a bug for a particular piece of code someone has contributed recently, it makes

[2022-09-26 16:45] mabhi commented on #10539
Thank you @jannfis . This clarifies for me, would do as suggested.

[2022-09-26 17:09] Aym3nTN commented on #10622
Run a test with this branch name `feature/areally+longer_pull_request_name_to_test_argo_slugifications_and_branch_name_shortening_feature` the expected slug should be `feature/areally+longer_pull_request_name_to_test_argo_slugifica`

[2022-09-26 17:50] QuinnBast commented on #6079
I agree, it would be very nice to see this added. Sometimes we just want to completely remove applications from our cluster and there is no easy way to do that. Clicking the "Delete" button in the GUI deletes the entire ArgoCD application, which means that the Application completely disappears from the GUI. In order to get it back, we need to `kubectl apply -f ourArgoApplications.yaml` which is a

[2022-09-26 18:27] blakepettersson commented on #7799
An updated PR (draft) can be found here: #10672 and argoproj/gitops-engine#465

[2022-09-26 19:17] harshitasao commented on #10592
Hi @flying-solo, are you still working on this? If not, I'd like to work on it.

[2022-09-26 19:44] EugeneLugovtsov commented on #10461
https://github.com/argoproj/argo-cd/issues/10677

[2022-09-26 20:08] shuker85 commented on #10673
Looks like the binary is not under `app` anymore. Docs would need update.

[code]

[2022-09-26 20:13] rbreeze opened #10710 "bug(ui): Version panel is transparent"
<img width="427" alt="CleanShot 2022-09-22 at 17 21 23@2x" src="https://user-images.githubusercontent.com/6250584/192370949-c67e8e91-ae4a-4f2c-b2ce-471eded8bfeb.png">

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

[2022-09-26 20:21] shuker85 commented on #10673
Ah, https://github.com/argoproj/argo-cd/pull/10589 could be related

[2022-09-26 20:39] shuker85 commented on #10673
@raafatseif the functionality is now part of the `argocd` CLI:
[code]

[2022-09-26 21:57] Chakki1301 commented on #1415
I'm using Traefik in EKS. AWS NLB is just a pass-through but it throws "Internal server error".
argocli throws error as well

`FATA[0004] rpc error: code = Unknown desc = POST https://argocd-dashboard.xxx.com:443/argocd/session.SessionService/Create failed with status code 500`

My Traefik config - Intried inclusing certResolver as Default and my clusterissuer name, still the same result.

`apiVer

[2022-09-26 22:58] forexpiphunter commented on #9335
I'm on 2.4.9 and it's still not working for me.

[2022-09-26 23:00] winston0410 commented on #3181
I am getting an error mentioned by [this ticket](https://github.com/kubernetes-sigs/kustomize/issues/738), when I tried to use a yaml with `kind: Kustomization`. How did you workaround and apply that yaml with argocd at the end?

The error that I got:

[code]

[2022-09-27 00:06] jessesuen commented on #10707
Is this a problem that clears itself after a restart of argocd-server pods? I feel the randomly generated certs should no longer be generated so long as argocd-server-tls is populated with explicit ones.

[2022-09-27 00:08] jessesuen commented on #10705
It's a reasonable request, especially given the fact that we have a mutli-sync button. The implementation would be UI feature (just like the sync apps button). There is no API to perform bulk sync/refresh and so the UI just iterates the selected apps and makes N requests.

[2022-09-27 00:15] jessesuen commented on #10703
I think it's an interesting idea. This would be a CLI only feature and would leverage our existing resource edit feature. It would only run the lua interpreter to modify an object.

From the perspective of the API server, it will not know that an action was invoked, but only see it as a resource edit.

One potential issue is that it's possible this could impact the `argocd` CLI size since it will

[2022-09-27 00:18] jessesuen commented on #10686
Are you able to paste an example JWT token to understand what claims KeyCloak does return? Just the payload/data portion, not the whole JWT. What OIDC configuration did you use for keycloak including requested scopes?

[2022-09-27 00:23] jessesuen commented on #10682
This is actually working as intended. Health assessments only require live resource (and not desired version in git) to ascertain the health because we can tell if a Deployment/Pod/etc... is healthy just by looking at it. It is valuable to know that all of the resources of an app is healthy, despite not being able to talk to git.

[2022-09-27 00:23] #10682 closed

[2022-09-27 00:40] cleverhu commented on #10610
It might be a bug, and I fixed the code so that I would find the running one instead of choosing the first one.

[2022-09-27 00:44] jessesuen commented on #10677
Duplicate of https://github.com/argoproj/argo-cd/issues/10461

[2022-09-27 00:44] #10677 closed

[2022-09-27 00:46] jessesuen commented on #10461
@EugeneLugovtsov @nice-pink - are either of you happen to be using the rollout extension or any other UI extension for that matter? There was a bug in v0.2.0 and below, fixed in rollouts v0.2.1, that caused the same issue.

https://github.com/argoproj-labs/rollout-extension/releases/tag/v0.2.1

[2022-09-27 03:08] jessesuen commented on #10669
Rollback is really just a convenience for sync at a specific commit sha that is in the last 10 syncs. To achieve your use case, you should just do a normal sync, but type the commit SHA in the input field.

<img width="378" alt="image" src="https://user-images.githubusercontent.com/12677113/192422643-70f61fd5-c2eb-48fa-859c-56d5687c072b.png">

Unless I'm missing something, this use case is already

[2022-09-27 03:16] jessesuen commented on #10664
I think you're right about this. I also can't think of a reason why prune would be bad, since our local copy should mirror the remote.

[2022-09-27 03:19] jessesuen commented on #10659
Answered in https://github.com/argoproj/argo-cd/discussions/10658

[2022-09-27 03:19] #10659 closed

[2022-09-27 04:56] cleverhu commented on #10622
You mean that there will be a word divided into two at the end. I misunderstood your meaning, and this may not be fixed.

[2022-09-27 05:44] vx-github commented on #10707
Yes a pod restart fixes if for a while but the problems returns. In our original setup we use cert-manager and after the upgrade to 2.4.11 we saw Argo CD serving expired (old) certificates. I narrowed the problem down to argocd-server by leaving out cert-manager. So it is not about Argo CD creating new selfsigned certs, but using old ones instead. Does argocd-server cache these certificates somewh

[2022-09-27 06:05] nice-pink commented on #10461
@jessesuen we are using rollouts extension. I'll check if the update fixes the issue for us.

[2022-09-27 07:30] nazarewk opened #10714 "Application Controller stops processing tasks after reloading `argocd-cm`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

While working on a custom Action I noticed Application Controller stops processing the workqueue (metrics report increased depth + stop reporting durations) every time I updated `argocd

[2022-09-27 09:22] audunsol commented on #3941
I was having this exact issue yesterday.

[code]

Output:
[code]

The issue was actually that the certs in my local context (from `~/.kube/config`) were expired a few days ago (even though `kubectl` worked just fine), so just resetting the context credentials worked for me!

In my case, on an Azure AKS cluster, that involved the following Az CLI command:
[code]

This is of course different for oth

[2022-09-27 10:17] nazarewk commented on #10703
I have a poor man's substitute using `lyaml` and `std.io` libraries:

<details>
<summary> run.lua </summary>

[code]

</details>

[2022-09-27 10:22] nazarewk commented on #10703
you are right, could be measured and/or worked around by introducing a separate binary?

[2022-09-27 10:26] TimVerbois commented on #3709
I have the same problem when managing multiple clusters from one argocd instance.  It would be good to make a distinction between the application name (which is created in the argocd namespace and which is displayed in the argocd interface) and the name that helm uses.  As icicimov commented, this creates different cluster services which has other consequences to other services (e.g. services that

[2022-09-27 11:02] willemm commented on #3709
https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#helm-release-name

[2022-09-27 11:03] TimVerbois commented on #3709
I found a fix for it.  You can use the releaseName key in the helm block in the Application manifest.

So, like this:

[code]

[2022-09-27 12:04] RonaldFindling commented on #10705
@jessesuen thx for the quick reply, yeah even even without a bulk api in the background this would be a big improvement from the usability side

[2022-09-27 12:36] fabioaraujopt commented on #10070
This is really needed.

[2022-09-27 15:10] vsychov opened #10716 "Feature Request: Pre-defined filters (tabs)"
# Summary

![argo-cd](https://user-images.githubusercontent.com/2186303/192546835-b37dea4a-baad-4eb0-a2bc-75ea50bb0dfa.png)

It would be nice to have pre-defined filters (based on LABELS, PROJECTS, CLUSTERS, NAMESPACES) via config

# Motivation

if you have many applications in argo in many projects, then it is very inconvenient to switch between them every time (you need to adjust filters every t

[2022-09-27 15:37] jessesuen commented on #3593
This issue was brought up in Argo security meeting. I think impersonation is the right way to achieve granular RBAC for the use case requested in this issue. So rather than introduce more syntax in the casbin RBAC rules (of which I'm opposed to), I rather we implement https://github.com/argoproj/argo-cd/issues/7689 and provide the option for users to use standard Kubernetes RBAC in lieu of Argo CD

[2022-09-27 15:48] #9752 closed

[2022-09-27 15:58] Exodus commented on #1809
Yes, that's correct. If you're having issues with it, there's an ArgoCD Slack Channel in the CNCF Slack, there you could get help with support in the #argo-cd channel. You may want to check what version, post your applications yaml definition there, there might be something wrong with the syntax. Review the application.yaml that I link to in my previos post.

[2022-09-27 18:13] rodrigo14miguel commented on #9752
Thank you @saumeya !!

[2022-09-27 18:15] EugeneLugovtsov commented on #10461
I can confirm after updating the rollout extension to 0.2.1; everything works as expected. Thanks @jessesuen

[2022-09-27 18:15] #10461 closed

[2022-09-27 19:20] alexef commented on #9528
Please see my solution in #10641 - successfully tested on our set up (using AWS ECR as OCI repo for helm) trying to find a reviewer 🙏

[2022-09-27 19:28] TomHellier commented on #10384
@lukpep - Did this release fix your log-in loop?

I've tried to deploy it to an environment I use and it hasn't addressed the problem.

[2022-09-27 19:45] margueritepd commented on #6880
To add some information here, we are running into the same issue ("waiting for completion of hook" when the hook has already completed), and it happens when we are attempting to sync to a revision that is not the targetRevision for the app. When we sync an app with hooks to the same revision as the targetRevision, we do not run into this.

<details><summary>expand for argo version</summary>

[code

[2022-09-28 03:40] gsgs-libin opened #10721 "how to sync applicationset"
I am use applicationset to manage application,but how to sync applicationset when applicationset was update(such as update the imageversion).
Currently I use `kubectl apply  -f applicationset.yaml` to update.
[code]

[2022-09-28 03:42] rodrigopztpedro900 opened #10722 "Is it possible to specify the type of connection in the web terminal (sh or bash) in the Application of the project?"
This is because I had some cases where the pod could be accessed by sh and bash but for some reason when they ran a command to launch migration in the terminal with bash it appeared that variables were missing and the migration couldn't run, but it did access the pod by sh the migration if it ran since if it recognized the variables

It would be great if it could be specified if it is by sh, bash

[2022-09-28 04:13] mabhi commented on #7992
@jannfis if no one is working on this, can I start analysing here and start working on it. In case of any questions could you let me know which channel to post questions.

[2022-09-28 07:16] ofirshtrull commented on #5082
HI all,
any update on this?

[2022-09-28 07:55] bh-tt commented on #5223
I just ran into this, have you tried adding the `openid` scope to the requestedScopes in oidc.config? That fixed it for me.

[2022-09-28 08:19] eroznik opened #10724 "Make secrets available for notification templates"
# Summary

ArgoCD internally uses `argoproj/notifications-engine` which exposes the ability to configure which variables are available when executing notification templates. Within ArgoCD this is done [here](https://github.com/argoproj/argo-cd/blob/master/util/notification/settings/settings.go#L36) where ArgoCD sets `app` and `context`.

# Motivation

Sometimes you have to provide secrets in notif

[2022-09-28 09:04] chenger commented on #10441
any movements on that?

[2022-09-28 09:17] petur opened #10728 "Sync hangs after "lost connection to pod" error if pod restarts during sync"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The `argocd app sync --timeout <timeout>` command hangs forever after a "lost connection to pod" error.

**To Reproduce**

1. Run `argocd app sync -l <labels> --timeout <timeout>`
2. Wh

[2022-09-28 10:55] cleverhu commented on #10728
I think this might be livenessProbe causes the reboot container,
[code]
I thount the timeoutSeconds of 1s is not very reasonable.

[2022-09-28 11:27] cleverhu commented on #10728
I thought it reasonable to set the timeoutSeconds to 5s, therefore  I pulled a request for this.

[2022-09-28 11:39] petur commented on #10728
While there does seem to be an unusual number of pod restarts for some argocd pods (especially `argocd-application-controller` and `argocd-server`), I feel like that's a completely separate issue (that also needs fixing).

For example, one time that this happened, there seemed to be a node instance refresh at the same time. Changing the liveness probe would not have prevented the pod from being ki

[2022-09-28 12:33] petur commented on #10728
If it helps, the error log is slightly more helpful when using an older version (2.2.13) of the `argocd` cli:

[code]

This message repeats endlessly after this.

[2022-09-28 14:11] preethignanesh commented on #10686
I followed the argo documentation for integrating with keycloak and these are the requested scopes added in the cm - requestedScopes: ["openid", "profile", "email", "groups"]
Regarding the JWT token, I havent created any for keycloak integration, should I be doing it? If so what steps to be followed ?

[2022-09-28 14:18] mehdicopter commented on #8563
how did you manage to make it work ?

[2022-09-28 14:22] nerzhul commented on #9256
Hello,
I just fall on the same usecase on my side :)

[2022-09-28 17:42] marjun786 commented on #5620
i have same issue is there any solution?

[2022-09-28 19:28] nbjohnson opened #10731 "Gitlab Pull Request Generator by group"
# Summary

The Gitlab Pull request generator is great, but I think it could be even better by supporting groups rather than just individual projects.

# Motivation

Adding each Gitlab project by id is tedious, it would be much nicer to be able to provide a group id for it to pull all merge requests underneath that group

# Proposal

The existing Gitlab Pull request uses `/api/v4/project/<project i

[2022-09-28 20:11] larsks opened #10732 "ArgoCD uses wrong key id when verifying commits"
**Describe the bug**

I configured ArgoCD to require GPG signatures on commits but ran into a number of problems. I'm signing my commits with this key:

[code]

From the above output, we see that the key ID is `0x362D63A80853D4CF`, and if I import this key into ArgoCD with `argocd gpg add`, we see:

[code]

So I configured the `default` project to require commits signed using this key:

[code]

Bu

[2022-09-28 21:55] alexmt opened #10733 "Toast error message looks strange on application details page"
**Describe the bug**

Toast error message has red background and text is hard to read:

**To Reproduce**

* Navigate to any app details page
* Somehow trigger API error on app details page (e.g. run UI/API without repo-server)
* See error message with red background

**Expected behavior**

I think background should be just white

**Screenshots**

<img width="474" alt="image" src="https://user-imag

[2022-09-29 06:28] girstenbrei commented on #9978
Greets, I just stumbled into a situation wanting to use the merge generator for a git generator (using path elements) and a cluster generator (using cluster metadata labels). If I guess right (argo newbie here), adding the `values` field to the git generator and being able to interpolate inside them would enable this.

IMHO this would greatly improve possibilities for the merge generator. Are ther

[2022-09-29 08:17] nazarewk opened #10737 "Web UI: make Applications and Project's Actions accessible from details view"
# Summary

Currently Application's/Project's actions can only be accessed through details view of parent Application.

This does not allow actions to be run in the web UI for apps/projects not managed by an Application at all.

# Motivation

1. It's currently not possible to run actions on apps/projects managed externally (not through Application)
2. It is very cumbersome to run actions on this th

[2022-09-29 08:24] deaamoflih commented on #3709
I had such a problem with names and staging, but now i have the solution and it works!
solution tested on : **_ArgoCD v2.3.7_**
so assume you have two Service, and you want to deploy these two services (_and you have already prepared the HelmCharts_), which have the same name and have to be deployed on two different namespaces i.e. dev and test, so let us name this service "nginx".
### steps to ac

[2022-09-29 08:35] vx-github commented on #10707
@jessesuen
So maybe to make it more visual. We have some monitors in Elastic that show the expiry dates of the certs that is on the Argo CD endpoint.

For some environments we still run Argo CD v2.4.11 and the below a screenshot shows `argocd-server` returning an older (previous) cert some times:
![argocd_v2-4-11](https://user-images.githubusercontent.com/1324946/192981300-39ce9f1c-2a79-498e-970c-

[2022-09-29 08:53] nazarewk opened #10738 "Docs: advanced use case on combining Actions with Argo Workflows"
# Summary

I think combining simple actions (current state) with RBAC rules and Argo Events watching the k8s objects to trigger Argo Workflows could make a very solid and secure use case.

I don't know much about Workflows/Events yet, but storing idea in an issue for later :)

# Motivation

1. giving out secure access (eg: Argo CD access to a single action) to trigger arbitrary/advanced workflows

[2022-09-29 09:33] frenkyj commented on #10707
Hello, I can confirm that we see the same behaviour in our env. Running v2.4.9. thanks for your help

[2022-09-29 11:16] nazarewk commented on #10714
related to https://github.com/argoproj/argo-cd/issues/10703

[2022-09-29 11:24] stefan-caraiman commented on #9840
Bump

[2022-09-29 11:36] mmalyska commented on #10265
I have same problem. I have configured helm repos with credentials in argo, but cannot use them in CMP sidecar.
Also similar thing with kustomize and private git repositories in resources.

[2022-09-29 12:45] iam-veeramalla opened #10740 "Out of Sync on Argo CD Server Side Apply for existing resource."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I was testing the Argo CD Server Side Apply feature by building Argo CD from master.

I used the Argo CD SSA on an existing resource on the cluster and noticed that Argo CD was able to a

[2022-09-29 13:11] zswanson commented on #7645
This seems to be a k8s issue - https://github.com/kubernetes/kubernetes/issues/72519
The closing comment is
[code]
We were hoping actually that argo might be able to detect/reconcile this edge case

[2022-09-29 13:23] Cayan commented on #5609
This would be a great feature indeed

[2022-09-29 14:55] iamnoah commented on #9978
@girstenbrei I ended up making do with some other changes and the existing functionality in the merge generator, and I don't really have the slack to pick it back up right now, but you are [welcome to](https://github.com/argoproj/argo-cd/pull/9977).

[2022-09-29 15:10] yossicohn commented on #9637
@crenshaw-dev @ftsell from what I see when using a proxy (LB and k8s ingress resource) I get the CSP error and I guess it relates to what you are discussing here

[2022-09-29 15:26] from-nibly commented on #6303
Same issue. Any news? this is breaking a helm chart for us.

[2022-09-29 16:01] yoshigev commented on #9226
We encountered a similar issue with AKS.

We have a CronJob that creates Job + Pod resources. Those resources are automatically deleted due to either `ttlSecondsAfterFinished`, `successfulJobsHistoryLimit` or `failedJobsHistoryLimit` configuration of the CronJob.

Quite often, ArgoCD continues displaying those deleted resources for months after they were deleted, both for failed and for successful

[2022-09-29 16:22] brsolomon-deloitte commented on #10023
Having this issue as well and it defintely points to an outright inability for ArgoCD to reach its own repo server.

From an `argocd app sync` we receive `ComparisonError: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 172.xx.xx.xx:8081: i/o timeout"`

While a `k logs deploy/argocd-repo-server` doesn't show any evidence at all the repo server

[2022-09-29 16:59] keithchong commented on #10710
I _think_ this might be related to the changes made to support dark mode. FYI @saumeya  (I tried the UI without the dark mode changes)

<img width="1268" alt="Screen Shot 2022-09-29 at 12 57 29 PM" src="https://user-images.githubusercontent.com/7726022/193093045-d2a92fb8-0441-41c7-ae61-b50a868a78f4.png">

[2022-09-29 17:48] #10464 closed

[2022-09-29 17:51] sandoichi opened #10745 "Application using Kustomize with Helm cannot access private remote helm repo"
Checklist:

* [:heavy_check_mark:] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [:heavy_check_mark:] I've included steps to reproduce the bug.
* [:heavy_check_mark:] I've pasted the output of `argocd version`.

**Describe the bug**

When using a Kustomize app that references a remote helm chart in a private repo, credentials are not pass into it.

**To Reproduce**

[2022-09-29 18:45] cleverhu commented on #10732
It looks like the crd lacks the fields defined by the private key, so it will not be verified.

[2022-09-29 19:31] iam-veeramalla commented on #10740
Thanks @ashutosh16

[2022-09-29 20:11] leoluz commented on #10740
@iam-veeramalla tks for the detailed issue.
I am closing it as this bug is already being tracked in: https://github.com/argoproj/argo-cd/issues/10627
It would be great if you could give it a try once we merge the gitops-engine PR and update Argo CD master with it.

[2022-09-29 20:11] #10740 closed

[2022-09-30 01:56] ashutosh16 commented on #10710
I see the CSS applied when I use a dark theme, but when I disable the theme, I don't see the default(light) . Is it the right assumption? (Sorry if question is  irrelevant, I am not an expert in UI)

`.theme-dark .sliding-panel__wrapper {
    background-color: #303237;
    color: #ffffff;
}`

Issue  [argoproj/argo-cd/issues/10733](https://github.com/argoproj/argo-cd/issues/10733) could be related

[2022-09-30 05:09] yuha0 commented on #9332
Chatted with the team on slack, and was pointed to this issue. I didn't know that `kubectl` binary was replaced by native requests implemented in `client-go` until now and was confused why I couldn't find `kubectl` in argocd's container image...

Agree that the flag is misleading and should be deprecated/replaced by something else.

[2022-09-30 08:02] mmalyska commented on #10265
@crenshaw-dev Please don't deprecate current plugin via configmap, as sidecars approach is not usable and incomplete.

[2022-09-30 12:09] saumeya commented on #10710
Checking

[2022-09-30 12:14] tobilarscheid commented on #820
Hi @jkroepke, any ETA on when ArgoCD v2.5 will be released?

[2022-09-30 14:58] girstenbrei opened #10751 "Allow values to be added & interpolated in Git and SCM generators"
# Summary

After reading #9978 , I figured it would be nice to extend the functionality to set and interpolate `values` from the cluster ApplicationSet generator to other generators as well.

# Motivation

I have multiple clusters and multiple applications configured in their own repositories. I want these applications to be able to deploy themselves to clusters by having a dedicated branch per cl

[2022-09-30 15:43] jkroepke commented on #820
No. The Milestone on github says something like 1 month passed (https://github.com/argoproj/argo-cd/milestone/26)

[2022-09-30 15:51] lacarvalho91 opened #10756 "Argo CD loses ability to track application resources"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Argo CD has seemingly lost the ability to track resources for some applications. I am using annotation based tracking but I still have the problem if I revert to label based too. On the

[2022-09-30 16:02] leoluz commented on #10274
@ixxeL2097 I'm closing this issue as it seems it isn't related to Argo CD. Feel free to reopen if you find it is not the case.
Thank you.

[2022-09-30 16:02] #10274 closed

[2022-09-30 16:54] crenshaw-dev commented on #8820
@jannfis that is my understanding as well. I do not believe that plugins which do not use `git` (either directly or indirectly) are impacted.

[2022-09-30 18:53] nilivingston commented on #10023
I ran into this issue with Argo CD deployed to an EKS cluster managed by Terraform. The problem was that I had configured the managed node group defaults in Terraform with `attach_cluster_primary_security_group = false`. This meant that the cluster security group was not attached to the nodes. The only rule in the cluster security group was a self-referential rule allowing all traffic.

Attaching

[2022-09-30 18:53] jmagder commented on #10534
I just ran into the same problem.  https://github.com/argoproj/argo-cd/issues/10534#issuecomment-1238538079 is right about the fix.  It looks like the generated output from `argocd completion zsh` has `#compdef _argocd argocd` as the first line.  ie:

Running `argocd completion zsh | head` returns:

[code]

The source of the problem is probably that being accidentally commented out in the generati

[2022-09-30 20:34] sandoichi commented on #10745
Followup:

I got a workaround working by doing the following:

1. Put a secret into my argocd cluster with helm credentials in it, and mount it to `fromEnv` values for argocd repo server.
2. Build a config management plugin that starts off by doing `helm repo add` using the secret data that is now available in the env (and of course `> /dev/null` the result of the helm setup commands because any s

[2022-09-30 22:42] deybhayden opened #10759 "Previous CronJob Jobs have been deleted, but show in ArgoCD UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have a CronJob resource that runs every 10 minutes and has `ttlSecondsAfterFinished` set to delete the Job resource after `100` seconds. K8s is behaving correctly, however when I view

[2022-09-30 23:08] #10643 closed

[2022-10-01 06:06] maheshbaliga commented on #10548
Hi @crenshaw-dev, can you please review PR #10729 and let me know if any changes are required.

[2022-10-01 13:18] mstrYoda commented on #7189
Hi, I would like to work on this issue. Can you assign it to me @crenshaw-dev ? Thanks.

[2022-10-01 18:19] ADustyOldMuffin commented on #10664
@jessesuen Would you mind if I made a PR for this? Is there a process such as a proposal I need to follow for this?

[2022-10-01 22:51] crenshaw-dev commented on #10664
@ADustyOldMuffin a PR is fine, no proposal needed!

I'm a little worried about whether there's a performance impact associated with running `--prune` on every fetch. The repo-server has the potential to do a _lot_ of fetches. Personally I'd rather see the `cannot lock ref` error added to the messages which trigger a one-off prune [here](https://github.com/argoproj/argo-cd/blob/master/util/git/clie

[2022-10-01 23:03] #10091 closed

[2022-10-01 23:14] ADustyOldMuffin commented on #10664
👍🏻 When this was initially mentioned in the chat on Slack I did a bunch of timing with fetch and prune on various repositories we use since they change very often.

I'll do some more testing to double check, but on initial viewing the difference was in the milliseconds for a repo getting hundreds to thousands of commits an hour and lots of branches coming and going and on less busy repos the diffe

[2022-10-01 23:21] crenshaw-dev commented on #10664
Cool, that sounds worth it. Would also get rid of the weird fallback logic we have now.

The extra validation would be helpful!

[2022-10-01 23:44] ADustyOldMuffin commented on #10664
Posted the small PR to start the process, I'll note if I can manage to get the custom build working and/or any findings I get.

[2022-10-02 04:26] crenshaw-dev commented on #10737
Thinking just an item in the dropdown for the root node in the App resource tree?

[2022-10-02 04:28] crenshaw-dev commented on #10722
Can you clarify what you mean by "migration" in this context?

[2022-10-02 04:30] crenshaw-dev commented on #10721
You can kubectl apply, or add the applicationset to an application and manage synchronization via gitops.

You could also use a merge generator and pull the current image version from a git generator to combine with your cluster generator.

[2022-10-02 04:31] crenshaw-dev commented on #10716
Can you provide an example of how you would like these presets configured?

[2022-10-02 05:13] agmtr commented on #10756
I have the same issue when adding
kustomize.buildOptions: --enable-helm

[2022-10-02 12:35] michalschott commented on #10610
Nice, hoping for quick release soon :)

[2022-10-02 21:17] morey-tech opened #10763 "Helm User Guide missing declarative examples"
# Summary
Some of the examples in [the Helm section of the User Guide](https://argo-cd.readthedocs.io/en/stable/user-guide/helm/) are missing examples of what the equivalent is in the Application CRD. Specifically:
- [Values Files](https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#values-files)
- [Parameters](https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#helm-parameters)
  - [A

[2022-10-03 05:47] iam-veeramalla commented on #2437
This issue is solved by #9711 .

**Note**:  `Server-Side Apply` is a feature that is not released yet. It is part of the milestone v2.5.

**TL;DR**
Enable `Server-Side Apply` and turn off `Schema Validation`(might not be needed in this case, but required when you update replicas or anything else in the `.spec`) as shown below.

![Screenshot 2022-10-03 at 10 47 45 AM](https://user-images.githubuser

[2022-10-03 08:04] nazarewk commented on #10737
yeah, also thought actions dropdown at the top would work fine

[2022-10-03 10:27] allanian commented on #9579
+1

[2022-10-03 11:03] lacarvalho91 commented on #10756
When I reinstall Argo CD and recreate the application I can see some of the resources on the UI but they each have status `Unknown`

[2022-10-03 11:32] bellaned opened #10766 "Argo doesn't update api-versions after it's deployed"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I've tried to deploy an application (aws-ebs-csi-driver) that needs specific api-version for some of it's containers ({{- if or (.Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v

[2022-10-03 11:41] smartbit commented on #10467
Have you tried [`sync-wave`](https://argo-cd.readthedocs.io/en/stable/user-guide/sync-waves/#how-do-i-configure-waves) to ensure cert-manager is deployed first? This is a snippet from our deployment of cert-manager:

[code]

[2022-10-03 13:05] maheshbaliga commented on #10548
Hi @crenshaw-dev. Are we looking at implementing the --resource filtering as well? If yes, which wildcard characters should be supported apart from `!` negation?

Currently, looks like the resources are selected only if it matches all the criteria - Group, Kind & Name (Namespace, if specified). Filtering based on `apps:Deployment:guestbook-ui` works, but `:Deployment:` or `:Deployment:guestbook-ui

[2022-10-03 13:22] Nayana-Nagaraj opened #10771 "Not able to deploy application through Argo-CD in Kubernetes cluster"
### Discussed in https://github.com/argoproj/argo-cd/discussions/10768

<div type='discussions-op-text'>

<sup>Originally posted by **Nayana-Nagaraj** October  3, 2022</sup>
Hello Team,

I am trying to deploy through argocd in kubernetes cluster. But unfortunately i am getting the below error:
rpc error: code = DeadlineExceeded desc = context deadline exceeded

![image](https://user-images.githubu

[2022-10-03 13:33] #10664 closed

[2022-10-03 13:37] Jellyfrog opened #10772 "UI: Ultrawide support"
# Summary

When using Argo CD on a ultrawide monitor, you still need to zoom out to 10-20% if you want to see all resources at the same time,

# Motivation
Currently it looks something like this when deploying argo cd itself:
![screenshot](https://user-images.githubusercontent.com/759887/193584919-a9ccc1b7-e19f-4217-955a-7563f3d9f10d.png)

# Proposal
I'd suggest we add a new mode that shows the re

[2022-10-03 13:50] crenshaw-dev commented on #10772
You'd recommend making the nodes horizontal as well, to accommodate the resource name? That would make the tree very, very wide, but maybe that's fine.

[2022-10-03 14:00] lacarvalho91 commented on #10756
OK...managed to get to the bottom of this. The applications that were working properly we realised were only applications targetting external clusters, which we use GCP auth to connect to. The applications that were not working were applications syncing with the local cluster. Turned out that we had resource inclusions configured only for the local cluster and that inclusions list did not contain

[2022-10-03 14:00] #10756 closed

[2022-10-03 14:06] Jellyfrog commented on #10772
Didn't mange to test it in a good way, but yes it looks like it would case the same issue as vertical, but horizontally :)

[2022-10-03 14:10] crenshaw-dev commented on #10772
How would you feel about a narrow node containing truncated text with a tooltip to reveal the whole resource name? That would narrow the presentation (but make it a bit more difficult to read).

[2022-10-03 15:00] Jellyfrog commented on #10772
Not sure I follow, Which part would be narrower? Horizontal resources but less wide? Could work

[2022-10-03 15:17] leoluz opened #10774 "Incorporate gitops-engine back in Argo CD repo"
# Summary

Bring `gitops-engine` code back inside Argo CD repo to reduce development friction. Currently there is a need to sync library releases with Argo CD. This development model is not ideal as it turns maintenance and releases harder to manage.

# Motivation

`gitops-engine` is a library that provides the Argo CD core functionality when it comes to calculating diffs and syncing resources in

[2022-10-03 15:41] crenshaw-dev commented on #10774
So we'd keep the gitops-engine code sequestered in its own directory, so we know what to push back to the gitops-engine repo?

I'd suggest that, if no one else is really using the gitops-engine library (seems like a very real possibility), we consider abandoning that repo entirely.

[2022-10-03 15:44] leoluz commented on #10774
Correct. That is the idea.

@alexmt mentioned that there are some library users. That's why he suggested to update that repo during Argo CD releases. This would be the only method to update the gitops-engine repo once this proposal is implemented.

[2022-10-03 15:44] snuggie12 commented on #9626
@meons Presuming they are not misusing the term `apiGroups` to actually mean `groupVersion` or `apiVersion`, there is no way of doing what you're asking. You would need to put in a feature request to add a `versions` field to resource exclusion/inclusion.

[2022-10-03 15:47] crenshaw-dev commented on #10772
Each "node" would be narrower - so, the little white card that has the resource name and sync status, etc. Seems if we leave it wide enough to accommodate the whole resource name, even the wide view would be hopelessly overrun.

[2022-10-03 15:48] raafatseif commented on #10673
Thanks @shuker85 I think we can close this then as #10589 is tracking the documentation update

[2022-10-03 15:48] #10673 closed

[2022-10-03 15:59] brianpooe commented on #1936
@emirot i have the exact same issue how did you resolve yours?

[2022-10-03 17:45] #10710 closed

[2022-10-03 17:51] emirot commented on #1936
@brianpooe  In my case I had to do add to add ` --set global.networkPolicy.create=true `  in my helm install

[2022-10-03 18:52] #10615 closed

[2022-10-03 20:36] jacek-jablonski opened #10779 "ArgoCD renders Helm charts differently then local `helm template` (overriding objects with nulls)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD renders Helm charts differently then local `helm template` command. I have specified a default value for some parameter as an object in my subchart's `values.yaml` and in the par

[2022-10-03 20:39] rcfja commented on #2532
Keel can also solve this problem - https://keel.sh

[2022-10-03 21:13] Tronix117 commented on #4424
Same here, it should be possible to disable the web-browser opening and just show the URL, or just display a warning instead. It would be great to not be blocking.
On tools using `xdg-open`, there is usualy the possibility to disable it.

On my hand, I'm using the cli on a remote session, and there is no desktop environment.

[2022-10-03 21:30] alexmt opened #10780 "Settings/Help/User info pages are not centered anymore"
**Describe the bug**

Settings/Help/User info pages are not centered anymore

**To Reproduce**

Navigate to https://cd.apps.argoproj.io/settings

**Expected behavior**

Page content should be centered with max width limit.

**Screenshots**

![image](https://user-images.githubusercontent.com/426437/193686024-8e0cfa9d-e54c-4c7a-b7a2-6fefbe3c69b1.png)

**Version**

[code]

[2022-10-03 22:25] ashutosh16 commented on #10733
@alexmt Argo CD UI in version 2.5 uses Toastify [ v9](https://github.com/argoproj/argo-ui/blob/master/package.json#L38), which changes the background color from red/blue to icon-based and adds icons based on the notification type.

From the Docs - https://fkhadra.github.io/react-toastify/migration-v8
[code]
The new screenshot will looks like this
![Screen Shot 2022-10-03 at 2 56 09 PM](https://use

[2022-10-03 22:37] alexmt commented on #10780
Fixed by https://github.com/argoproj/argo-cd/pull/10758

[2022-10-03 22:37] #10780 closed

[2022-10-03 22:53] todaywasawesome commented on #10779
Can you share the app settings? The most likely is there is a misconfiguration there.

[2022-10-03 22:55] todaywasawesome commented on #10771
@Nayana-Nagaraj We're use the repo is accessible from the cluster?

[2022-10-03 23:10] alexmt commented on #10733
The notification on screenshot looks as expected. However the same notification on the application details page looks different:
![image](https://user-images.githubusercontent.com/426437/193701839-19d71e7f-244e-4d16-8bf5-2106738fc49c.png)

[2022-10-03 23:18] alexmt commented on #10733
@ashutosh16 Ah, this is happening because of rollout extension - sorry for confusion. Moving ticket to the https://github.com/argoproj-labs/rollout-extension repo.

[2022-10-03 23:18] #10733 closed

[2022-10-04 04:08] tooptoop4 commented on #10543
a lot more CVEs are being flagged now on the /usr/local/bin/helm file:

1. github.com/docker/docker (v20.10.12) resource which attracts:  CVE-2022-1705,CVE-2022-1962,CVE-2022-24769,CVE-2022-27664,CVE-2022-28131,CVE-2022-29162,CVE-2022-30630,CVE-2022-30631,CVE-2022-30632,CVE-2022-30633,CVE-2022-30635,CVE-2022-32148,CVE-2022-32189,CVE-2022-32190,CVE-2022-36109
2. github.com/Masterminds/vcs (v1.13.1)

[2022-10-04 04:57] Nayana-Nagaraj commented on #10771
@todaywasawesome yes its accessible.. i even tried to clone the repo in the server. I am able to do

[2022-10-04 06:17] mikutas commented on #9014
In our environment ExternalSecret/ClusterExternalSecret cause this issue

[2022-10-04 06:39] jacek-jablonski commented on #10779
Application Manifest:
[code]

[2022-10-04 08:45] vsychov commented on #10716
@crenshaw-dev, something like this:
[code]

[2022-10-04 11:17] lacarvalho91 commented on #6880
i had this problem when i was configuring resource inclusions, i wrote down what happened here: https://github.com/argoproj/argo-cd/issues/10756#issuecomment-1265488657

[2022-10-04 11:17] BKShalini opened #10783 "Azure key vault secret to be retrieved in ArgoCD"
# Summary

We have stored the secrets in Azure key vault and want to retrieve in ArgoCD.

# Motivation

We are trying to secure our credentials in Azure key vault as we have hosted our microservices on AKS cluster.

# Proposal

If a plugin similar to ArgoCD vault plugin which integrates with Hashicorp vault can be provided it will be helpful

[2022-10-04 11:18] tobilarscheid commented on #820
Yes, I saw this as well. Though you might know more...

[2022-10-04 13:14] pp185214 opened #10785 "Argo CD banner autorefresh"
# Summary

We will appreciate to have Argo CD banner with auto refresh

# Motivation

We use Argo CD banner to show latest deploy version of our Application and if it can be option to set auto refresh it will be nice.

![image](https://user-images.githubusercontent.com/65968286/193828029-0e8b0e45-b089-4574-8288-633b64aaa537.png)

# Proposal

There can be optional checkbox which can do this setting

[2022-10-04 13:23] #10627 closed

[2022-10-04 13:25] rajeshnair opened #10786 "Argocd Upgrade path"
### Discussed in https://github.com/argoproj/argo-cd/discussions/10683

<div type='discussions-op-text'>

<sup>Originally posted by **rajeshnair** September 23, 2022</sup>
We have been using an argocd deployment 2.0.5 with some 80+ applications deployed.

We now need to upgrade to latest 2.4.0 and I have been trying to find a safe upgrade path documentation but could not find it.

The [upgrading d

[2022-10-04 13:25] crenshaw-dev commented on #820
I'm optimistic that we'll have an RC by the end of this week (i.e. by Friday, October 7).

We've been trying to get multi-source apps into the release, which is the reason for the delay.

[2022-10-04 13:25] rajeshnair commented on #10786
Creating an issue as the question posted on discussions forum did not elicit any response

[2022-10-04 13:38] crenshaw-dev commented on #10786
It is generally safe to move _forward_ in Argo CD versions. As you pointed out, it's important to read the [upgrading](https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/overview/) documentation for all versions which you are moving through.

It is also generally safe to skip minor versions. For example, you should be able to upgrade from 2.0.5 directly to 2.4.13 (currently the lat

[2022-10-04 13:58] crenshaw-dev commented on #10543
2.4 currently ships with Helm 3.8.1. We could (and should) upgrade to 3.8.2, but I doubt it would resolve the vulnerabilities (3.8.2 is a fairly old release).

Argo CD currently does not upgrade minor Helm versions within a minor Argo CD version. Looks like that's becoming a problem, because we maintain minor Argo CD versions for security issues longer than Helm maintains minor Helm versions for s

[2022-10-04 14:35] leoluz commented on #10627
@Cowboy-coder @iam-veeramalla
We just merged the gitops-engine in Argo CD master.
Can you please give it another try and re-open this issue if the problem persists?
Thank you!

[2022-10-04 14:47] schmel commented on #9830
same trouble. argocd 2.4.13
manual sync - is work. Autosync - ignored job hook.
app source: helm

[code]

[2022-10-04 15:24] todaywasawesome commented on #10785
@pp185214 I didn't follow the issue you're having. You can create a new banner, is the issue the old one doesn't clear?

[2022-10-04 15:30] todaywasawesome commented on #10783
[External Secrets](https://github.com/external-secrets/external-secrets) essentially does the job. The Argo CD Vault plugin is an Argo Labs project so it wouldn't fit in here either.

[2022-10-04 15:31] dllegru opened #10788 "Github rate limit hit, even when using `scmProvider.filters`"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

Our Github org has about 250 repositories.
When using `scmProvider.github` with `scmProvider.filters` combination of `repositoryMatch` + `branchMatch` in order to restrict the tracki

[2022-10-04 15:31] crenshaw-dev commented on #8851
We've updated all three dependencies in 2.5 (to be released soon). @rimasgo feel free to reopen if you need something done in 2.2-2.4.

[2022-10-04 15:31] #8851 closed

[2022-10-04 15:41] #2442 closed

[2022-10-04 15:48] #2772 closed

[2022-10-04 15:50] todaywasawesome commented on #2803
Should have been closed with #7963

[2022-10-04 15:50] #2803 closed

[2022-10-04 15:51] #2906 closed

[2022-10-04 15:56] corinz commented on #2143
+1 Would like to see this

[2022-10-04 15:57] #2987 closed

[2022-10-04 15:58] crenshaw-dev commented on #10522
@Lobstrosity this is still on my radar, just don't want it to be a blocker for 2.5. 2.6 should have a relatively quick turnaround.

[2022-10-04 15:59] Aym3nTN commented on #10622
@cleverhu I can take it from if you'd like, I might have a solution for it, alright?

[2022-10-04 16:05] AmmarovTou commented on #2347
Hi @jannfis, sorry if I have disturbed you.

Do you reckon I should open a separate issue for my previous comment above?
If so, which issue type would be better, open a bug report or a question?
or is the comment above visible enough, and there is no need for a separate issue?

Thanks.

[2022-10-04 16:07] akloss-cibo commented on #10439
FYI, I have worked around this by enabling automatic synchronization on everything in environments that are sensitive.

[2022-10-04 16:07] dllegru commented on #9413
I think it would help in terms that using GitHub App secret may allow to make more api calls compared to PAT, although imo we're not fixing the root issue which is that we're overusing api calls when we have `scmProvider` regexed into a repo + branch.

[2022-10-04 16:11] crenshaw-dev commented on #2789
Good news, bad news time.

Good news: [the code](https://github.com/argoproj/argo-cd/pull/10432) is really really close to being ready. Ishita has been working really hard to get the feature ready. I've been testing locally, and it looks awesome.

Bad news: we're pushing it to 2.6. There are a _lot_ of features packed into 2.5, and we want to make sure we can maintain a really high quality standar

[2022-10-04 16:16] reginapizza commented on #10745
@sandoichi is this workaround sufficient for you or are you still requesting this as a feature? Otherwise we can probably close this issue

[2022-10-04 16:28] #3488 closed

[2022-10-04 16:29] todaywasawesome commented on #3527
Closed with #2267

[2022-10-04 16:29] #3527 closed

[2022-10-04 16:30] todaywasawesome commented on #3536
Answered here.

[2022-10-04 16:30] #3536 closed

[2022-10-04 17:37] fbozic commented on #7898
Same issue as above on `v2.4.11`

[2022-10-04 17:39] alexmt commented on #10310
API is done. Thanks @aborilov

[2022-10-04 17:39] sandoichi commented on #10745
@reginapizza I think that this should be relabeled as a feature request. The workaround is sufficient at the moment but it seems like a common enough thing to support passing in multiple source repos for a single application.

[2022-10-04 17:57] rhyswilliamsza commented on #9522
I'm experiencing the same issue :)

[2022-10-04 18:53] reginapizza commented on #10745
That's ok, I can label this as an enhancement and keep this issue open. Anyone looking to do the same can use the workaround in the meantime

[2022-10-04 18:58] #10536 closed

[2022-10-04 19:38] raygervais commented on #10283
I'd like to explore implementing this

[2022-10-04 21:04] amohamedhey commented on #2789
Thank you @crenshaw-dev for update - the image build sometimes fails and sometimes work in my setup. what's the requirement to be able to build a custom image, error:

[code]

[2022-10-04 21:18] abhishekmukherg commented on #4973
Not to resurrect a 2y old issue, but would like to agree with @h2ho. If it helps, a use case I'd like to support is that Argo CD can deploy to (several) other kubernetes clusters, while managing its own configuration (AppProjects, Applications) via the [Declarative](https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/) configuration. In other words, in an ideal world, the Ar

[2022-10-04 21:40] crenshaw-dev commented on #2789
@amohamedhey looks like we're losing the logs due to `make`. Can you try just pulling the appropriate `docker build` command from the Makefile and running it? Personally I use this one:

[code]

I add the `--load` flag so I can use the image in Docker Desktop's Kubernetes cluster.

[2022-10-04 23:11] rbreeze opened #10792 "bug(ui): Resource list loading slowly due to Sync Wave sorting"
In [this PR](https://github.com/argoproj/argo-cd/pull/8902), the Resource List displays each resource's sync wave; to do this requires retrieving that resource's entire manifest from the API. For large applications this can mean hundreds of separate API calls and several megabytes worth of data, and results in slow loading of the Resource List page.

To fix this we need to add sync wave data to th