[2022-11-01 13:27] leoluz commented on #11074
@hsharrison This is actually expected. There is currently a limitation in Argo CD that avoids default values to be considered during diff calculation. This affects Argo CD Application status as it thinks it is out-of-sync when in fact it isn't. All Application's resources in the cluster are correctly applied.
This limitation just affects Argo CD diff logic.

[2022-11-01 14:26] rumstead commented on #11116
Duplicate of #8386? Relevant [docs](https://github.com/argoproj/argo-cd/blob/9353328eb8ae7357538146269d41aa692d99c4cf/docs/operator-manual/application.yaml#L123)

[2022-11-01 14:29] nouseforaname commented on #9809
What IaaS is this running on? AWS/GCP/Azure/vSphere/Openstack or something else?

[2022-11-01 14:45] denysvitali commented on #9809
I think vSphere.
For sure not AWS, GCP nor Azure.

Anyways, see the analysis [here](https://github.com/argoproj/argo-cd/issues/9888#issuecomment-1271819234) and the [Ubuntu tracker issue I've opened](https://bugs.launchpad.net/ubuntu/+bug/1992485): it seems like the issue is with pthread + Ubuntu 22.04 on an Ubuntu 16.04.7 LTS host running in TKGi.

The affected TKGi versions so far seems to be:

[2022-11-01 15:15] lacarvalho91 opened #11138 "Patch applicatiion revision when a refresh is triggered"
# Summary

When a sync operation happens, the `Application` is patched with the revision. This does not seem to happen for a refresh, I think this should be changed so that a refresh also patches the `Application` with the revision the refresh has triggered from.

# Motivation

We are using Argo CD notifications to send out events to say when an app has deployed successfully, when a sync has faile

[2022-11-01 15:33] brunocascio commented on #11074
I installed it using this way:

[code]

Where `patchAnnotationTooLong.yml` contains:

[code]

It fixes the annotation too long error

[2022-11-01 16:22] krishgu commented on #9809
We had the same issue (argocd-repo-server erroring out with GPG errors) when installing from kustomize from [cluster-install](https://github.com/argoproj/argo-cd/tree/master/manifests/cluster-install) manifest. The setup works off the shelf for minikube, but for a "real" cluster had this issue. Just removing the `seccompProfile` section from the `securityContext` section solved it.
[code]

[2022-11-01 16:25] mubarak-j commented on #11135
Blog release by OpenSSL.org: https://www.openssl.org/blog/blog/2022/11/01/email-address-overflows/

A: Any OpenSSL 3.0 application that verifies X.509 certificates received from untrusted sources should be considered vulnerable. This includes TLS clients, and TLS servers that are configured to use TLS client authentication.

[2022-11-01 16:26] krishgu commented on #9809
just removing the `seccompProfile` sub-section worked for us ([details](https://github.com/argoproj/argo-cd/issues/9809#issuecomment-1298785315)). Thank you, @jabbors ! How did you narrow down to this part?

[2022-11-01 16:30] hi-artem commented on #11135
Looks like it is not as bad, as it could have been:

I assume this particular issue with be resolvable as soon as Ubuntu team publishes 3.0.7 in their apt repo.

[2022-11-01 16:35] hi-artem commented on #11135
Actually, looks like the correct patched version for Jammy is `3.0.2-0ubuntu1.7` - https://launchpad.net/ubuntu/+source/openssl/3.0.2-0ubuntu1.7

[2022-11-01 16:36] 34fathombelow commented on #11135
[Ubuntu](https://ubuntu.com/security/cves?q=&package=openssl&priority=&version=&status=) is on it, they usually have a fix within 24hrs.

[2022-11-01 16:49] leoluz opened #11139 "Retrieve CRD schemas from the Server so default values can be considered during SSA diff calculation"
# Summary

When ServerSideApply is enabled, the new diff logic is currently unable to consider CRD default values. Argo CD should be able to retrieve CRD schemas from Kubernetes server and add to the controller cache so default values can be considered during SSA diff calculation.

# Motivation

Currently Argo CD is unable to consider CRD default values while calculating diffs when SSA is enabled.

[2022-11-01 16:52] leoluz commented on #11074
Like mentioned above, there are a few approaches that can be used to address this issue in Argo CD:

1. If deploying with Kustomize and patch the CRDs with `Replace=true` annotation
2. If deploying with Helm, first wrap it inside a kustomize project so you can patch CRD like in 1
3. Create multiple Argo CD applications: One without CRDs syncing normally and another one just with CRDs syncing with

[2022-11-01 16:52] #11074 closed

[2022-11-01 18:28] Cowboy-coder commented on #11074
But how come this works without any diff when using client-side apply? Does client-side-apply have some special handling for these issues that server-side-apply doesn't?

[2022-11-01 18:42] blakepettersson commented on #11136
Which version of k8s are you using?

[2022-11-01 18:55] Dbzman commented on #11136
We use 1.22.14.

[2022-11-01 19:09] blakepettersson commented on #8952
Looks like it's related to #10218.

Another way this could be done in the near future is with external-secrets, a PR got recently merged which could be relevant for this use case: external-secrets/external-secrets#1539.

[2022-11-01 19:15] crenshaw-dev commented on #11135
We'll be pushing patch releases for 2.3.x, 2.4.x, and 2.5.x.

We might also push a patch release for 2.2.x, since we already had some other bug fixes cherry-picked onto that release series. If we do, it'll be the last patch in the 2.2.x series.

2.5.1 won't actually contain any code changes. Just building the image will pull in the patched openssl release.

[2022-11-01 19:23] ThomasVitale commented on #5068
I tried 2.5.0 and I still keep getting this error. Any recommendation on how to fix it permanently?

[2022-11-01 19:28] duxing commented on #2789
@crenshaw-dev thanks for the hard work! will wait for 2.6GA and upgrade.

[2022-11-01 19:31] duxing commented on #9214
the correct fix has been postponed to v2.6 ([reference](https://github.com/argoproj/argo-cd/issues/2789#issuecomment-1267242015))

an alternative solution: https://github.com/argoproj/argo-cd/issues/2789#issuecomment-1176820186

[2022-11-01 19:39] leoluz commented on #11074
@Cowboy-coder `client-side-apply` diff is based on patches calculated with 3-way-diff using desired state, live state and last-applied-configuration annotation. `Server-side-apply` diffs is a brand new implementation that uses [the same library](https://github.com/kubernetes-sigs/structured-merge-diff) used by kubernetes while applying resource server side which leverages the `managedFields` to in

[2022-11-01 19:43] leoluz commented on #11074
@Cowboy-coder Can you confirm if this diff is in StatefulSet? If so, this is another edgecase with statefulsets and it is better if tracked as a separate issue.

[2022-11-01 19:54] TeamDman commented on #1936
#10831 might be related

I had this

[code]

[code]

[code]

## Workaround

Manually specifying `server.secretKey` as an empty string in `argocd-secret` seems to have fixed the problem without having to manually restart anything after helm applying...
idk if everything is actually working, but the pod stopped crashing and logs look healthy now

[2022-11-01 20:15] leoluz commented on #11074
@Cowboy-coder yes please.. Just copy/paste the statefulset details in the new ticket from your previous comment:
https://github.com/argoproj/argo-cd/issues/11074#issuecomment-1294634254

[2022-11-01 20:43] Cowboy-coder opened #11143 "StatefulSet with volume claim causes diff with `ServerSideApply=true`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

As described in https://github.com/argoproj/argo-cd/issues/11074 I get OutOfSync diff when installing loki using ServerSideApply. I haven't double checked but Im pretty sure this is not

[2022-11-01 21:09] skandragon opened #11145 "Cannot delete application through UI without manual intervention to remove finalizer"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

When I use the UI delete an application, the finalizer is added (either foreground or background, tried both, same issue) and then apparently nothing happens.

The logs show that the ap

[2022-11-01 22:10] alexef commented on #10218
@blakepettersson Agree we shouldn't reinvent the wheel, just want to check how ESO would work.

For a Helm OCI ECR repository, we have a secret like this:

[code]

While username and password would be mapped from the [AWS ECR generator output](https://external-secrets.io/main/api/generator/ecr/), I wonder how would the secret get to fill `url`, `name`, `type` and `enableOCI`?

I checked the extern

[2022-11-01 22:16] alexef commented on #10218
Nevermind, I guess this can be achieved with templating: https://external-secrets.io/main/guides/templating/

[2022-11-01 22:25] pdrastil opened #11148 "Enable leader election by default for ApplicationSet controller"
# Summary

ApplicationSet can run in active / passive mode with leader election to ensure HA. This should be enabled by default to simplify kustomization.

# Motivation

I want to patch the number replicas without configuring additional arguments.

# Proposal

Enable leader election by default and necessary rbac verbs.

[2022-11-01 22:36] mmerrill3 commented on #10143
@jdomag yeah, I see, looks like the new files are there, and the updated files are not.

[2022-11-01 22:52] crenshaw-dev commented on #11135
2.2.16, 2.3.11, 2.4.16, and 2.5.1 are out with the patched openssl version. Thanks everyone for help keeping on top of this!

[2022-11-01 22:52] #11135 closed

[2022-11-02 01:21] 34fathombelow commented on #11002
@crenshaw-dev are you ok with closing this issue?   The last round of releases patched these 2 vulnerabilities.

[2022-11-02 02:08] #11002 closed

[2022-11-02 05:37] jabbors commented on #9809
We had 2.4.11 running in a temporary playground environment where it ran fine. Then we started comparing the setups and found the seccompProfile was missing in the playground environment. We removed it in our production environments and Bingo!

[2022-11-02 06:02] YanzhaoLi commented on #9888
@denysvitali  Have you tested your 22.04 images well against the vanilla ubuntu 16.04?    Looks like the ldd command in the container doesn't show libpthread.
[code]

[2022-11-02 06:20] denysvitali commented on #9888
As per my comment above: yes, `ubuntu:22.04` from Docker (+ `apt-get install -y git`) shows that `libpthread` is missing.

This might (or might not) be the source of the problem. The strange thing is that it faiks only in a TKGi environment, for some reason.

[2022-11-02 06:37] tooptoop4 opened #11152 "CVEs on 2.5.0 docker image"
CVE-2021-46848
CVE-2021-20193
CVE-2022-3358
CVE-2018-1000021
CVE-2016-2781

![image](https://user-images.githubusercontent.com/33283496/199416305-a2f010d3-d1f0-4a1e-a8f9-bd4c7e1ed2b0.png)

[2022-11-02 07:34] eimarfandino commented on #11135
IO just installed version 2.5.1 in the cluster and I see `OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)` shouldnt it be 3.0.7?

[2022-11-02 07:42] an-tex commented on #10882
this worked for me https://github.com/argoproj/argo-cd/issues/9809#issuecomment-1298785315

[2022-11-02 07:49] eimarfandino commented on #11135
ok, found out that the the version it is still 3.0.2,  @hi-artem was correct here on the versioning

[2022-11-02 07:56] an-tex commented on #10490
I had the same issue on the applicationsetcontroller and repo-server but upgrading from 2.4.11 to 2.5.1. This https://github.com/argoproj/argo-cd/issues/9809#issuecomment-1298785315 helped

[2022-11-02 08:02] mrysavy commented on #11116
No, it doesn't. Mentioned issue is about the namespace of resources from
Application's source but my issue is about the namespace which the
Application.argoproj.io resides in - the new feature comming from this pull
request: https://github.com/argoproj/argo-cd/pull/9755 (I edited the issue
while ago).
út 1. 11. 2022 v 15:26 odesílatel Ryan Umstead ***@***.***>
napsal:

[2022-11-02 08:14] florianzimm commented on #9809
to sum that up, because i had the same issue (for me it was podsecuritypolicies), working from @sass1997 solution to allow the repo-server anything. creating a role with all permissions with [alcideo(s) rbac-tool](https://github.com/alcideio/rbac-tool) and assigned to argocd-repo-server. reduced permissions bulkwise, applied and restarted argocd-repo-server after every change lead to this role

[c

[2022-11-02 08:16] nilic commented on #6362
I have tested ArgoCD v2.5.0+a765c14 with Azure DevOps 2022 RC2 and can confirm that the `ssh-rsa` workaround is no longer needed.

[2022-11-02 08:26] jdomag commented on #9526
looks like it solves the problem

[2022-11-02 08:26] #9526 closed

[2022-11-02 09:26] blakepettersson commented on #10218
@alexef exactly, in theory the ExternalSecret would look like this:

[code]

We'll see how this actually pans out once this goes GA though 😄

[2022-11-02 09:27] lucj commented on #2143
As it seems helmfile is not planned to be a first-class thing in argocd, the way to go is to define a plugin using the sidecar approach.
I've started a demo project here: https://github.com/lucj/argocd-helmfile-plugin do not hesitate to follow the readme and provide feedback :)

[2022-11-02 09:30] blakepettersson commented on #11152
There's a [2.5.1](https://github.com/argoproj/argo-cd/releases/tag/v2.5.1) release now

[2022-11-02 09:57] blakepettersson commented on #11136
Could be the case that this is something that needs to be handled when doing the diff in gitops-engine, but I'm not familiar enough with SSA to say for sure. @leoluz?

(potentially related to #11139?)

[2022-11-02 10:09] danielpsf-grover commented on #9213
Any updates on this?

[2022-11-02 10:10] danielpsf commented on #9213
Any updates on this?

[2022-11-02 10:15] alswl opened #11157 "Using hight resolution of cluster cache, for more detail info during controller start"
# Summary

The cluster cache in gitops-engine holds a lock during the controller starting. So we cannot get metrics before cluster synced successful.

While I am managing a huge cluster, it will takes more than 1h to sync, I cannot get metrics in the 1 hour.

# Motivation

Using a `GetClusterInfoInstant` instead of `GetClusterInfo`, it will not acquire the lock, and get the info instant.

# Propos

[2022-11-02 10:17] alswl commented on #11157
Discussed with @michael12312 in slack.

https://cloud-native.slack.com/archives/C020XM04CUW/p1667186103863489

[2022-11-02 10:25] maheshbaliga commented on #10200
Hi @pranayraut, are you working on this issue? If not, I would like to take it up.

[2022-11-02 12:07] 123MwanjeMike opened #11161 "AirQo is missing under the organisations that have officially adopted ArgoCD"
# Summary

[AirQo.](https://airqo.net/) is a new user of ArgoCD. It needs to be added to the users list

# Motivation

To update the list of organizations who have officially adopted Argo CD

# Proposal
By updating the https://github.com/argoproj/argo-cd/blob/master/USERS.md file

[2022-11-02 12:37] crenshaw-dev commented on #11076
@stephaneetje when do you get the error? When trying to `helm install` the ApplicationSet, or when the ApplicationSet _runs_?

[2022-11-02 12:52] stephaneetje commented on #11076
<img width="1508" alt="Capture d’écran 2022-11-02 à 13 52 02" src="https://user-images.githubusercontent.com/73826402/199494392-a928664b-ab6f-4213-8495-3dc0426c1461.png">
Here it is

[2022-11-02 12:53] stephaneetje commented on #11076
I'm just realizing that what changed is you can't have a '-' anymore

[2022-11-02 12:54] crenshaw-dev commented on #11128
I like this, potentially as a part of UI Extensions support. Except I think I'd want the extensions framework to provide a "node" hook to add something to the UI, and leave it up to the extension code to decide what resource defines that node (e.g. it could simply be a ConfigMap which is annotated to not show up in the normal resource tree).

@zachaller you might find this interesting.

[2022-11-02 12:55] stephaneetje commented on #11076
There has been sort of regexp validation of Key of annotations that was added since 2.5, which prevents me from templating it

[2022-11-02 13:21] alexef commented on #11102
Correct!

[2022-11-02 13:40] Starslider commented on #11086
@crenshaw-dev I will try to contribute that - maybe I can join tomorrow in the weekly argo cd call to discuss that. I am still not happy to have egress rules for only one of the Argo CD pods.

[First docu draft](https://github.com/Starslider/argo-cd/blob/%2311086-add-service-mesh-docu/docs/operator-manual/service-mesh-integration.md
)

[2022-11-02 13:43] #11161 closed

[2022-11-02 13:47] rumstead commented on #10952
@crenshaw-dev / @jgwest what are your alls thoughts on someone taking a stab at increasing [MaxConcurrentReconciles](https://github.com/kubernetes-sigs/controller-runtime/blob/8ad090e0663e046c5a9dad68a572af0e30626c85/pkg/controller/controller.go#L40) and making sure the current generators are thread safe?

I still think the repo server should probably be used for git operations in the future but i

[2022-11-02 13:50] crenshaw-dev commented on #11076
Turns out there's no new validation... we just broke key-templating in 2.5. Working on a PR.

[2022-11-02 14:09] crenshaw-dev opened #11164 "Allow advanced templating in ApplicationSet"
People want to be able to do advanced things in ApplicationSet templates.

One way to accomplish this is to provide a plain ol' string field for the template instead of an Application spec. But then you lose nice IDE support.

Another way, which I think would require fewer changes, is to allow templating _keys_ instead of just values in the Application spec.

Something like this:

[code]

When `au

[2022-11-02 14:15] crenshaw-dev commented on #11164
cc @speedfl because I think you'll find this entertaining.  :-)

[2022-11-02 14:18] crenshaw-dev commented on #10952
@rumstead I'd be interested to know the results... the ApplicationSet controller is using a copy/pasta of old repo-server code, so it might have locking logic in place already.

[2022-11-02 14:21] leoluz commented on #11136
@Dbzman Please inspect your Argo CD controller logs and see if you find an entry with this message:
[code]
If so, can you provide the full message in the log?

[2022-11-02 14:34] prein commented on #10675
According to the manual resource inclusions/exclusions are configured by manual edit to the cm. Am I correct? Is it not configurable in declarative way?

[2022-11-02 14:36] todaywasawesome commented on #9522
Closing in favor of #6061, lets keep focus on a single issue.

[2022-11-02 14:36] #9522 closed

[2022-11-02 14:37] todaywasawesome commented on #6061
This issue sees to persist, see #9522 which was marked duplicate in favor of this issue.

[2022-11-02 14:47] crenshaw-dev commented on #11152
2.5.1 looks clear of critical/high vulnerabilities on our scan: https://argo-cd.readthedocs.io/en/latest/snyk/#v251

[2022-11-02 15:14] crenshaw-dev commented on #11111
Started a draft with the backend work: https://github.com/argoproj/argo-cd/pull/11165

I got lost in trying to pass down the setting from the top level of the app to the applications list. I want to avoid excessive blocking calls to the settings endpoint.

@keithchong or @rbreeze would you be able to help?

[2022-11-02 16:14] Dbzman commented on #11136
We noticed a very strange behavior here. We saved the affected CronJob manifest locally, deleted it on Kubernetes and re-created it again. (so it's the exact same manifest, just re-created) After that, Argo was able to sync the application.
One thing is that those CronJobs were created with an older api version in the past, but we upgraded them to `batch/v1` long ago and also in Kubernetes it show

[2022-11-02 16:41] YanzhaoLi commented on #9809
@denysvitali  Could you please try out in your env by excluding the `seccomProfile` ?

[2022-11-02 17:17] chris93111 commented on #10675
Yes you can with argocd operator

[2022-11-02 17:26] bobertrublik opened #11166 "Exec in apps outside of ArgoCD namespace not working"
Together with the 2.5.0 update I deployed all ArgoCD apps apart from ArgoCD itself to their respective namespaces. When I want to exec into an ArgoCD pod everything works as usual. However when I try to exec into a pod in a different namespace I receive the error `Terminal Connection Error: Internal error`.

My policy.csv

[code]

Checking the RBAC permissions for the argocd-server serviceaccount

[2022-11-02 17:33] denysvitali commented on #9809
### Results

[code]

[code]

[code]

[code]

[code]

So, my best assumption(s):
- This new TKGi version sets the [new `--seccomp-default` flag](https://kubernetes.io/docs/tutorials/security/seccomp/#enable-the-use-of-runtimedefault-as-the-default-seccomp-profile-for-all-workloads) or something similar in some way (beta in Kubernetes 1.25, alpha in Kubernetes 1.22)
- Ubuntu 22.04's git (?) can't ru

[2022-11-02 17:41] crenshaw-dev commented on #11166
I bet we just failed to parameterize the request to terminal.go with the appNamespace.

[2022-11-02 17:42] dairta opened #11167 "argocd-initial-admin-secret password invalid"
kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | echo
returns the password

using argocd-initial-admin-secret or admin and the secret returns Invalid username or password

[2022-11-02 17:44] iam-veeramalla commented on #11167
Hey @dairta , the password is base64 encrypted.

Please use the below command
`kubectl -n argocd-e2e get secrets argocd-initial-admin-secret -o jsonpath='{.data.password}'|base64 -d`

In future, you can use the `argocd admin initial-password` command being added by this
#11117

[2022-11-02 18:22] dairta commented on #11167
running this from windows 10 cmd connected to a aks cluster I get
'base64' is not recognized as an internal or external command,
operable program or batch file.

kubectl get namespaces
NAME              STATUS   AGE
argocd            Active   70m
default           Active   5h11m
kube-node-lease   Active   5h11m
kube-public       Active   5h11m
kube-system       Active   5h11m

[2022-11-02 18:23] sagimedina1 opened #11168 "Manual sync takes forever - until refresh."
Checklist:

* [V] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [V] I've included steps to reproduce the bug.
* [V] I've pasted the output of `argocd version`.

**Describe the bug**
When running the sync command using the CLI, sometimes it takes a very long time to return any output. (10+ Minutes)
**BUT**,  if I will run a refresh on the same app while the CLI is wa

[2022-11-02 18:30] lvijnck commented on #7875
+1

Would be very relevant for current setup.

[2022-11-02 18:33] dairta commented on #11167
So for anyone else confused by the documentation. If you are in VSCode and at a terminal don't use cmd, pwsh, or powershell. Open a Git Bash prompt and execute the the line above iam-veeramalla suggested but replace the argocd-e2e with the namespace which by default is argocd.

kubectl -n argocd get secrets argocd-initial-admin-secret -o jsonpath='{.data.password}'|base64 -d

[2022-11-02 18:33] #11167 closed

[2022-11-02 19:33] galibozek commented on #11058
Maybe it need add the possibility to modify default project for example when deploying by Helm and add:

[code]

[2022-11-02 19:45] 34fathombelow commented on #11126
@busser by any chance have you tried running the manifest that contains your fix? If so do all the pods come up?  I'd do believe your fix would solve the problem with NodeLocal DNSCache,  but we may be also facing a separate issue.

[2022-11-02 20:15] leoluz commented on #11136
Thanks for the additional info. That actually makes sense. What is strange to me is that from your error message it seems that Argo CD is trying to convert from `v1.CronJob` to `v1beta1.CronJob`. Not sure why it is trying to go with an older version. That would only make sense if you are applying a CronJob with v1beta1.

I'll try to reproduce this error locally anyways.

[2022-11-02 20:37] crenshaw-dev commented on #11058
@galibozek is that something that should be done on the argo-helm repo?

[2022-11-02 20:43] galibozek commented on #11058
@crenshaw-dev probably yes, but probably there is no default project added there

[2022-11-02 23:05] jerryjren opened #11172 "ArgoCD showing terminated pods"
Hi there,

I'm having an issue where ArgoCD showing terminated pods.

I have tried both prune and replace, neither will remove the terminated pods in display. Delete then re-create deploy managed to fix the issue.

Any idea of how to fix this by not to delete the deploy?

Here are some screenshots, hope that helps

![group_by_node](https://user-images.githubusercontent.com/5989009/199618786-823985

[2022-11-02 23:43] booleanbetrayal opened #11173 "ArgoCD Applications List Tile Titles Prefixed with `argocd/`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Every Application in the Applications > Tiles view has its title prefixed with "argocd/" for some reason, despite living in different namespaces / clusters. In the Application detail vi

[2022-11-03 00:24] chalin opened #11174 "Build fails in GitPod, from a fresh clone, including build-docs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] ~I've pasted the output of `argocd version`.~

**Describe the bug**

The repo build fails when opening in GitPod from a fresh clone of this repo. The terminal window shows the following errors:

[code]

Followed by many lines of `permission denied`.

*

[2022-11-03 00:25] chalin opened #11175 "[docs] deploy to gh-pages?"
The main site and other Argo docs are published via gh-pages:

- https://argoproj.github.io/
- https://argoproj.github.io/argo-workflows/
- https://argoproj.github.io/argo-rollouts/
- https://argoproj.github.io/argo-events/

In contrast, Argo CD docs are available from:

- https://argo-cd.readthedocs.io/

Have you considered publishing to gh-pages?

The main motivation to publishing to gh-pages wo

[2022-11-03 00:26] chalin commented on #10850
Related:

- #11174
- #11175

[2022-11-03 00:59] tooptoop4 commented on #11152
2.5.1 has:

![image](https://user-images.githubusercontent.com/33283496/199629264-5660b5d3-c529-4ae2-8b27-094a1dc57b8a.png)

CVE-2022-3715 is new one on bash

[2022-11-03 05:29] alecgerona commented on #9533
Weird that this works for Dex Google tho. We're also using a custom rootpath.

[2022-11-03 05:32] alecgerona opened #11178 ""OpenID Connect plus Google Groups using Dex" docs should include `issuer` key in `dev.config`"
# Summary

In the [Configure Dex](https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/google/#configure-dex) section of "OpenID Connect plus Google Groups using Dex", the instructed `dex.config` lacks the `issuer` key that is needed to get Dex running.

# Motivation

Dex does not work without this key.

# Proposal

Update docs

[2022-11-03 05:55] alecgerona commented on #8742
Bump.

[2022-11-03 06:23] n0nvme commented on #9076
same problem with argocd v2.5.1 and gitlab as OIDC provider

[2022-11-03 06:23] abdennour commented on #3365
getting same issue & we found a typo as following:

[code]
Where it should be

[code]

Yaml typo

[2022-11-03 07:21] Brice187 opened #11179 "[helm + kustomize]Wrong evalutation of kubeVersion"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD wrongly evaluates the kubernetes Version of the target cluster, so that helm charts with version constraints can not be deployed (see logoutput at the bottom of this issue)

Envi

[2022-11-03 07:42] Brice187 commented on #11173
Please paste the (sanitized) output of `kubectl get applications.argoproj.io -A`

[2022-11-03 08:50] suraj2410 commented on #11173
there was a similar discussion https://github.com/argoproj/argo-cd/issues/11111
but none the less some flag to disable this behavior of namespace grouping in the UI would be nice

[2022-11-03 08:58] maartengo commented on #7673
This is no longer a problem for me. My current workaround is to just avoid spaces in repository credentials or replace them with %20, which works OK.

[2022-11-03 09:26] krstosavic commented on #11071
Solution @niqdev proposed does not work in our environment.
Our ClusterIssuer is configured:

`apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
  namespace: cert-manager
spec:
  acme:
    email: k.savic@domain.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # Secret resource that will be used to store the account's priva

[2022-11-03 09:39] prein commented on #8100
Disabling `orphanedResources` didn't do the trick for me. I am observing around 2k / min of `"Refreshing app status (controller refresh requested)` in logs with only 170 apps. ArgoCD v2.4.11

[2022-11-03 09:55] iam-veeramalla commented on #11173
This seems to be introduced by apps in namespace feature, please see #11111

[2022-11-03 10:30] arnaudclerc commented on #2779
encountered the problem too, happens when either having a trailing carriage return in the base64 encoded secret or Argo not refreshing his secret if an update occurs.

`oidc.keycloak.clientSecret: "*****<REDACTED>*****"`

solution is to put double quotes around your encoded secret and purge all pods (probably not everything but idk which are responsible for this secret substitution) when changing

[2022-11-03 10:32] busser commented on #11126
@34fathombelow yes, with the manifest from PR #11127 all pods reach a Ready state 👍

[2022-11-03 11:56] rouke-broersma commented on #11139
This feature is a must have  to consider using server side apply because most CRDs will have some default values and applying ignoreDifferences to all applications for CRD default values is an immense task.

[2022-11-03 12:27] pablo-de commented on #4174
Another one here that I can fix by adding: `cluster_security_group_additional_rules` & `node_security_group_additional_rules`

[2022-11-03 12:46] Fredouye commented on #2143
Hi Luc

thanks, working as expected :)

We're really looking into Helmfile support, especially for public Helm charts (without the need to mirror them internally).

I've tested your plugin with a basic Helmfile file :

repositories:
- name: bitnami
  url: https://charts.bitnami.com/bitnami
[code]

I guess official support in Argo CD could bring a way to differentiate Kustomize / Helm / Helmfile in

[2022-11-03 12:52] crenshaw-dev commented on #2143
We plan to have somewhat better UI support for plugins in 2.6. :-) https://github.com/argoproj/argo-cd/pull/9216

[2022-11-03 12:56] lucj commented on #2143
Looking forward to see that 👍

On Thu, Nov 3, 2022 at 1:52 PM Michael Crenshaw ***@***.***>
wrote:

[2022-11-03 12:57] lucj commented on #2143
Thanks a lot @Fredouye for your feedback.

[2022-11-03 13:23] Dbzman commented on #11166
I think we have even more cases where this is missing:
* terminating a sync
* marking an app as favorite

[2022-11-03 13:29] bobertrublik commented on #11166
Additionally using the App of Apps concept when I click on "Open application" the link is missing the namespace and it can't open the app. :)

[2022-11-03 13:57] danieljkemp opened #11180 "Orphaned resources no longer have a distinct color in the UI"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Orphaned resources no longer have a distinct color in the UI.

**To Reproduce**

View an application in the UI, and select "Show Orphaned"

**Expected behavior**
In the past, orphaned r

[2022-11-03 14:15] holgerson97 commented on #11071
I was just able to fix the issue for me. The fix was to provide the secret which holds my TLS certificate used for ArgoCD ingress was'nt populated with the fullchain. After adding the fullchain everything worked like a charm. @krstosavic

[2022-11-03 14:26] leoluz commented on #11139
@rouke-broersma Clarifying things. The current limitation just applies for CRDs that define default values at the schema level.

In `openAPIV3Schema` the CRD can define property's default value like in the example below:

[code]

This is the case that will cause problems in the diff logic for SSA.

However, controllers can still define and consider internal default values (only applied in runtime)

[2022-11-03 15:11] leoluz commented on #3491
@edoger We are aware and discussed this in the contributors when @iam-veeramalla presented this issue. This will require a huge refactor in Argo CD. We will need help coordinating all this work. I believe that it is better to map every package that needs to be migrated and provide smaller PRs. This way we will be able to gradually migrate to the new log approach and refactor everything.

@iam-veer

[2022-11-03 15:13] BlastillROID opened #11182 "401 upon logging using Google SSO"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When trying to login to argocd throught Google SSO, `GET api/v1/clusters` and `GET api/v1/applications?fields=items.metadata.name%2Citems.metadata.annotations%2Citems.metadata.labels%2C

[2022-11-03 15:23] booleanbetrayal commented on #11173
Closing as a duplicate of #1111 which is anticipated to be fixed by #11165

[2022-11-03 15:23] #11173 closed

[2022-11-03 15:35] crenshaw-dev commented on #11102
If we add more than those 2, maybe collapse by default. Crutchfield's filter system is pretty good, and it does that. The most popular filters are expanded, others are collapsed.

Example: https://www.crutchfield.com/g_359550/Audiophile-Headphones.html

<img width="400" alt="filters on ecommerce site Crutchfield with popular filters like 'rating' expanded and others collapsed" src="https://user-im

[2022-11-03 15:35] todaywasawesome commented on #11102
It would be great if we had an additional filter drawer for options like auto-sync, or other sync options like self-heal etc. It would be nice to have a more generic way of bringing in additional filters for sync options. I'd also like a filter for apps that are defined in git vs apps that are defined via the UI/CLI only.

Maybe we could do a larger UI update that would enable lots of generic opti

[2022-11-03 15:43] fredleger commented on #3941
This is the solution for thoose landing here because they are trying to add a k8s cluster that is managed by Rancher (and still want to go through it):

[2022-11-03 17:56] mktgbnk commented on #4106
@nicc777 were you able to figure it out? We're seeing similar behavior, .ssh/config settings are being ignored

[2022-11-03 18:03] eddie-knight commented on #10852
The only thing pending on this checklist is the License Scanner. Not a security issue, but it'll be good to have regardless. FOSSA will likely be the best tool to implement for this.

[2022-11-03 18:05] speedfl commented on #11164
Hi @crenshaw-dev

Thank you for the notification.
Not sure I will have time to work on this one :-(

But definitely a great idea.

[2022-11-03 18:47] maheshbaliga commented on #10200
Hi @crenshaw-dev, these hard-coded component names can be defined as environmental variables (name & value pair) for the respective containers; and then accessed in the CLI code. Is this approach OK?

[2022-11-03 18:52] crenshaw-dev commented on #10200
@maheshbaliga I think env vars are fine! I'd recommend also providing CLI flags which fall back to env vars. We've used that pattern for quite a few things.

[2022-11-03 20:21] UiP9AV6Y opened #11186 "Add support for custom oauth token header lookup"
we want to incorporate the argocd api as datasource in our grafana instance. both grafana and argocd are configured to use the same identity provider. grafana (or actually, the datasource [plugin](https://github.com/grafana/grafana-json-datasource)) is able to forward the oauth token to argocd via the `Authorization` header. unfortunatly the access token generated by our IDP is an opaque token, i.

[2022-11-03 20:39] #8105 closed

[2022-11-03 21:12] crenshaw-dev commented on #11152
We cut releases to resolve high- and critical-severity issues as reported by Snyk.

If you have particular concerns about this bash vulnerability, please describe how it is a particularly dangerous one for Argo CD. Otherwise it'll either be automatically resolved when Ubuntu pushes a patch (and we cut a new release which includes the update) or it will remain unresolved.

Closing for now, lmk if y

[2022-11-03 21:12] #11152 closed

[2022-11-03 21:25] eliax1996 commented on #2961
@rachelwang20  any update on that?

[2022-11-03 23:17] #11076 closed

[2022-11-04 02:09] snuggie12 opened #11188 "Elements cut off in browser depending on width of window"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
We just installed argocd 2.5.1 and I noticed the application details page doesn't layout correctly and things overlap. At first I thought it was because in firefox I run an extension cal

[2022-11-04 02:11] zachaller commented on #11128
Yea @crenshaw-dev I think this is one extra data point for our UI v2 extensions framework it would support things like the and more.

[2022-11-04 02:52] abdennour commented on #1944
Rollout all deployment/statefulset of argocd. `kubectl -n $ns rollout restart $(kubectl  -n $ns get deploy -o name)`
That's fix the same issue which happen for us after a downgrade (I mean after `helm -n $ns rollback argocd`)

[2022-11-04 03:06] czchen opened #11189 "Serious performance issue when upgrading from CMP-v1 to CMP-v2"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We have serious performance issue when upgrading from v2.4.15 ConfigMap CMP to v2.5.1 sidecar CMP. The following are some detail:
* The Argo CD uses App of Apps pattern. The largest rep

[2022-11-04 03:14] joshuasimon-taulia commented on #8145
i'm seeing this error
[code]
when running `argocd app diff jx-preprod --server-side-generate --local "$PWD"` from the directory that contains my helmfile.yaml. my app uses [this helmfile CMP](https://github.com/travisghansen/argo-cd-helmfile)

this is the argocd application object
[code]

[code]

[2022-11-04 04:02] saumeya commented on #11125
this should fix https://github.com/argoproj/argo-cd/pull/11101

[2022-11-04 07:33] Dbzman commented on #11136
Thanks for checking. Indeed, it's really weird that it tries to convert to an older version.

We had this issue on 60 of our 400 apps. Yesterday we fixed them all with the above mentioned workaround. Today all of those 60 apps show the error again. So it seems that it has nothing to do with old manifests that were upgraded.

[2022-11-04 08:09] marcofranssen commented on #5202
I was also looking for a solution to use helm lookup or maybe some equivalent solution using Kustomize. Our usecase looks like this:

- We have a single gitops repo which we apply on a whole bunch of clusters
- In this repo I preferably don't want to define a different version for each cluster (values for charts)
- Preferably I rely on the lookup function so ArgoCD can lookup the values from a Con

[2022-11-04 10:40] amfred commented on #7799
I'm looking forward to this as well.  I'm trying to add network policy audit logs, and to do that I need to annotate my ArgoCD-created namespaces per https://docs.openshift.com/container-platform/4.11/networking/network_policy/logging-network-policy.html

[2022-11-04 12:22] divya-prakash2 commented on #10942
Im seeing the same issue as well with argocd version 2.4.14 , do we have any fix for the same

[2022-11-04 12:41] crenshaw-dev commented on #10942
I wonder if there's leading whitespace in one of these env vars. Could you try quoting them?

[code]

It's a good practice to quote env vars anyway, to avoid word-splitting.

[2022-11-04 12:52] crenshaw-dev commented on #8145
You get that consistently? The checksum check is meant to prevent tampering or data corruption. I'd be really surprised to see it consistently.

Can you run a hard refresh to make sure you don't keep getting a cached error?

[2022-11-04 12:53] crenshaw-dev commented on #11189
You mentioned on Slack that the repo is >1GB even with `.git` excluded. What's making the repo so big? Is there some file extension we could exclude?

[2022-11-04 12:59] #4628 closed

[2022-11-04 12:59] #6215 closed

[2022-11-04 12:59] #7799 closed

[2022-11-04 13:10] leoluz commented on #11136
@Dbzman just confirming.. Are the steps to reproduce still valid with your latest findings??

[2022-11-04 13:29] csscriptplus opened #11195 "Sync with Nexus repository doesn't work"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I used Jenkins to build my application and the build generated the Helm charts and put them into the Nexus repository as xxx.1.0.1-SNAPSHOT.tgz.
In ArgoCD I created a new app and it chec

[2022-11-04 14:07] miroslav-staffa commented on #11071
Same issue here, downgrade of dex server helped.
Our  configuration is similar to everyone else's
`apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cmd-params-cm
data:
  server.insecure: "true"

---

apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app

[2022-11-04 14:49] crenshaw-dev commented on #11195
I'm not familiar with Nexus... if it's an OCI registry, we don't currently support targetRevision ranges (though there is a [PR](https://github.com/argoproj/argo-cd/pull/10641) for that). If it's a standard Helm repo, you can specify a range, and Argo CD will automatically pick up new versions. https://argo-cd.readthedocs.io/en/stable/user-guide/tracking_strategies/

[2022-11-04 15:22] Dbzman commented on #11136
@leoluz I would say yes.

[2022-11-04 15:25] crenshaw-dev commented on #10265
Related: https://github.com/argoproj/argo-cd/issues/7995

[2022-11-04 15:29] czchen commented on #11189
* The repository is 1.7Gi with `.git`, and 227Mi without `.git`. There are some large files due to the following reason:
   * We use `helm dep update` to cache all depended chart tarballs into repository. This is to workaround <https://github.com/helm/helm/issues/9903>.
   * There are lots of submodule to include third party kustomize packages.
* We also found a potental improvement that can great

[2022-11-04 15:41] csscriptplus commented on #11195
Hi @crenshaw-dev, thanks, when I specify a range it works. I built a new Helm tgz and ArgoCD found the new version. But the sync has an error:
`Failed sync attempt to 1.0.3-SNAPSHOT: one or more objects failed to apply, reason: StatefulSet.apps "user-rest" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', 'updateStrategy', 'persistentVolumeClaim

[2022-11-04 15:54] crenshaw-dev commented on #11195
Certain changes can't be applied without re-creating the resource. I think the Replace sync option is appropriate for this case.

[2022-11-04 15:59] crenshaw-dev commented on #11189
I like this idea. Though we'd need some mechanism to clean up the cache.

[2022-11-04 16:49] todaywasawesome commented on #11188
https://user-images.githubusercontent.com/3849900/200030768-4d94a931-4fb0-4e98-b442-86597f404076.mp4

Confirmed.

[2022-11-04 16:57] #11117 closed

[2022-11-04 18:02] ashutosh16 commented on #10574
/assign

[2022-11-04 18:11] schakrad commented on #10574
Leo, Could you please assign me as well.

[2022-11-04 18:43] kxs-sindrakumar commented on #9443
@HariSekhon do you have to run the script manually? or definite it in the plugin commands?

[2022-11-04 19:50] joshuasimon-taulia commented on #8145
i tried
- hard refresh in the ui
- adding `--refresh` to the cli command
- narrowing down the files sent with `--local-include helmfile.yaml`
same result. the command also fails against a different app
[code]
argocd log logs
[code]

is there an example of the directory context and files to include when using `--server-side-generate`?

[2022-11-04 19:53] kxs-sindrakumar commented on #10265
Having the same issue, going to revert back to older version. Is there a chance a fix might be available soon @crenshaw-dev?

[2022-11-04 20:20] todaywasawesome opened #11198 "Improve support for monorepo by supporting git options such as depth, and sparse checkout"
# Summary
There are many situations where having more control over how git operates is very valuable.

### Set checkout directory
This would checkout only the subfolder specified.
[code]
This could be the equivalent of `git checkout <remote>/<branch> -- relative/path/to/file/or/dir` or a true sparse checkout like `git config core.sparseCheckout true` if doing the latter it would need to be a setti

[2022-11-04 20:24] deadwanderer commented on #3537
We've experienced the same behavior every time we've upgraded Argo (we have our self-hosted Github SSH key in known-hosts). argocd-ssh-known-hosts-cm gets overwritten (reverted to the default keys) every time we upgrade.

[2022-11-04 20:48] corinz commented on #3454
@ruzickap @sfynx Do sync waves work an ArgoCD Application? i.e. this resource type?
[code]

[2022-11-04 20:51] mpatters72 commented on #11198
- I think this is exactly what I need.  Ability to have Repo-Server only keep track of a single branch, max-depth 1 of folders that matter for applications.

- In my scenario I have a single git repo with many argo Applications on the same branch.  They have a common base path `/cloud` and yaml manifests are in sub-directories.

- If the argo-repo-server is doing a "sparse" checkout .. in the exam

[2022-11-05 02:03] todaywasawesome commented on #11198
So I think the method might be to just do a folder checkout. That preserves paths and won't interfere with other caches. A true sparse might create issues. I need to try it out.

[2022-11-05 02:09] czchen commented on #11189
Since all the combination of `(repo, commit)` are comming from `Application` CRD. Maybe file name (e.g. `${repo}-${commit}.tgz`) cache with janitor to enumerate `Appilication` and remove unused cache is doable. Need to trace more to see how to implement it.

[2022-11-05 11:47] alexef opened #11201 "bug: helm dependency conditions are not respected"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

When a helm uses subcharts that are only conditionally enabled, and the condition is false, they should not be rendered. Argo renders all subcharts at all times by default.

**To Reprod

[2022-11-05 14:33] 34fathombelow commented on #11201
@alexef Which version of helm are you using locally?  Argo CD v2.5.x is now using helm-3.10.1, previous v2.4.x was using helm-3.8.1  Currently looking into [issues ](https://github.com/helm/helm/issues) for upstream helm.

[2022-11-05 15:06] alexef commented on #11201
@34fathombelow I'm using 3.9 and argo has 3.10 inside.

after hitting my head on the wall for hours, I figured it out:
- in `chart1/Chart.yaml` I am missing this crucial line:
[code]
- because of that, when I package and upload to the registry for Argo Consumption, although the subchart (chart2) is packaged, the `dependencies: ...` section of `chart1/Chart.yaml` is wiped out, including conditions.

[2022-11-05 17:11] timblaktu commented on #9177
@crenshaw-dev FWIW we also have need for your second use case: ApplicationSet encapsulating Applications of heterogeneous types: specifically source.helm and also sources that refer to "normal" Kubernetes manifests.

After researching the relevant issues I am now proposing to my team that we workaround this limitation by defining Kustomize overlays as a wrapper around our helm charts, removing our

[2022-11-05 18:26] strowi commented on #1673
We're also very interested in this. Currently testing [Ranchers Fleet](https://fleet.rancher.io/) to distribute applications like prometheus, external-secrets etc. to a multitude of clusters.
As of now all with the same specs, but in the future it will probably require overriding values.
The big problem with fleet as of now is that it is very beta and doesn't support encryption (like git-crypt, so

[2022-11-05 21:06] LS80 opened #11203 "User Info text in sidebar is not aligned"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

A minor UI issue - some text in the sidebar is not properly aligned. See the screenshot.

**Screenshots**

<img width="282" alt="image" src="https://user-images.githubusercontent.com/49

[2022-11-05 21:49] CRASH-Tech opened #11204 "Support "v" pregixed semver"
# Summary

Many git repos use "v" prefixed git tags, like "v1.0.0". Will be good, to support it as semver for app manifest. Like ^v1.0.x or just ^1.0.x

[2022-11-06 01:39] snuggie12 opened #11206 "kiali custom health check broken if using older version"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
In https://github.com/argoproj/argo-cd/pull/10995 kiali's health check was updated to handle `v1.57.1`. I'm going to assume it's fine, but if you are using an earlier version then you ar

[2022-11-06 02:21] Ryu-Z opened #11207 "argocd-k8s-auth aws command dont have flag for region-code"
# Summary

we have six eks clusters, and we have a ops eks cluster, deploy argocd in the ops eks cluster.
use an iam role sts assume for other aws accounts role to mange eks cluster

# Motivation

my argocd serviceaccount have an iam role for sts assume to other accounts
[code]
can argocd-k8s-auth aws command have the region-code flag set?
like this
[code]

# Proposal

https://aws.amazon.com/premi

[2022-11-06 07:28] #11041 closed

[2022-11-06 14:39] #11201 closed

[2022-11-06 15:08] alexef opened #11209 "feat(ui): show application's age in the application list view"
# Summary

Show application age (time since created) in the application list view.

# Motivation

While dealing with a large number of applications (and some of them short lived), it would be useful to see when the application was created (or what age does it have in the cluster).

This is only possible atm by clicking on a panel and checking the root node of the application details view.

# Propo

[2022-11-06 18:21] EladDolev commented on #11166
Not sure if it is related, but the Restart/Resume buttons are missing when expanding the menu on a Deployment

[2022-11-06 18:24] EladDolev commented on #2401
https://argo-cd.readthedocs.io/en/stable/operator-manual/rbac/#the-action-action

[2022-11-07 05:44] mabhi commented on #9610
Hi @crenshaw-dev , I am working on this issue. Would be raising a PR soon

[2022-11-07 06:11] divya-prakash2 opened #11211 "configManagementPlugin usage for argocd 2.4.14"
Hi ,
With the below configManagementPlugins , argocd application were working fine with v2.2.9
However with the upgrade to 2.4.14 , we are seeing an issue where the values are not getting overridden for the applications and hence the charts are not getting synced

argocd-cm
![image](https://user-images.githubusercontent.com/55496734/200237882-e1f57ac2-2499-430f-a4d7-1248328a90ea.png)

I dont see a

[2022-11-07 07:39] reggie-k commented on #9810
This change breaks Openshift ArgoCD installations. Solvable by adding new SCC with seccomp profile for use of each ArgoCD workload. Should be in the docs. Perhaps integration tests on OKD in addition to k8s is beneficial, but obviously a big change

[2022-11-07 08:05] mrmm opened #11213 "feat(ApplicationSet): Templating - Add possibility of using advanced templating across template field"
# Summary

Currently, with the ApplicationSet templating system, we cannot use the advanced function (although we have https://github.com/argoproj/argo-cd/pull/10026) on the whole body of the `template` field as the rendering is scoped per field.

# Motivation

* Usecase 1: When using `git` generator with the `files.path` set we can delegate some specific configs to the maintainer of the path with

[2022-11-07 08:45] blakepettersson commented on #3403
Think this can be closed since we have ApplicationSets nowadays

[2022-11-07 09:25] blakepettersson commented on #1673
I'm not sure why you'd want to do that, but that use case is possible with ApplicationSets.

[2022-11-07 09:35] camabeh commented on #10600
I had similar problem, as a workaround I overridden default behaviour with custom lua script (put it in argocd-cm):

[code]

[2022-11-07 09:44] blakepettersson commented on #2554
If I understand correctly you want to be able to override the default `targetRevision` based upon environment, and/or have the ability to override on a cluster-by-cluster basis. This is possible with [ApplicationSets](https://argo-cd.readthedocs.io/en/stable/user-guide/application-set/).

For example this ~monstrosity~ snippet would enable an application to set its `targetRevision` based upon the

[2022-11-07 09:46] blakepettersson commented on #1640
We do pretty much the same; all our Applications are in fact [ApplicationSets](https://argo-cd.readthedocs.io/en/stable/user-guide/application-set/). When migrating an app, the app can deploy automagically to the new cluster, and once it's provisioned we can then remove the old cluster.

[2022-11-07 09:52] balajisa09 commented on #11028
Hi Madhu,

Did you try to reproduce this behaviour in the latest version. If it still persist, i am willing to take up this issue.

[2022-11-07 10:15] joebowbeer commented on #9810
According to the discussion below, this change is compatible with OpenShift 4.11+ right?

https://github.com/redhat-openshift-ecosystem/community-operators-prod/discussions/1417

[code]

[2022-11-07 10:30] hontarenko commented on #7752
Version argo server - `quay.io/argoproj/argocd:v2.4.11`
Command:
`argocd app wait ${{ env.APP }} --operation --plaintext && argocd app sync ${{ env.APP }} --plaintext && argocd app wait ${{ env.APP }} --health --plaintext`
Error:
`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x48 pc=0x29baa06]

goroutine 1 [running]:

[2022-11-07 10:34] hontarenko commented on #10071
@crenshaw-dev

**Version argo server** - `quay.io/argoproj/argocd:v2.4.11`

**Command:**
`argocd app wait ${{ env.APP }} --operation --plaintext && argocd app sync ${{ env.APP }} --plaintext && argocd app wait ${{ env.APP }} --health --plaintext`

**Error:**
[code]

[2022-11-07 10:55] GeorgiDimv opened #11215 "Apllications in ArgoCD UI not visible but deployed when exposed via Ingress."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When I expose my ArgoCD via ingress, my applications are not visible in the UI. When I change from ingress to clusterIP or load balancer they are visible.

**To Reproduce**

Deploy Argo

[2022-11-07 11:19] hontarenko opened #11216 "Via argo cli often get nil pointer dereference"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Via argo cli often get nil pointer dereference

**To Reproduce**
Used command - `argocd app wait ${{ env.APP }} --operation --plaintext && argocd app sync ${{ env.APP }} --plaintext &&

[2022-11-07 11:38] hontarenko commented on #5592
@alexmt I have this issue again

[2022-11-07 12:58] #3403 closed

[2022-11-07 13:22] crenshaw-dev commented on #9437
I'll be reviewing and pushing to get this as an alpha feature into 2.6.

[2022-11-07 14:40] kxs-sindrakumar commented on #10942
I am seeing the same issue, any update on this?

[2022-11-07 14:49] danieljkemp commented on #11180
![image](https://user-images.githubusercontent.com/10280889/200339163-535ee443-fd88-419a-8f51-7733d4e7965d.png)
https://argo-cd.readthedocs.io/en/stable/user-guide/orphaned-resources/

example in the docs of what it should look like. In the screenshot above, both of the resources should be grey.

[2022-11-07 14:58] alexef commented on #11180
I can confirm they show white and not grayed out. Will take a look at the code.

[2022-11-07 15:20] alexef commented on #11180
Seems like the problem was introduced along with themes:
<img width="328" alt="Screenshot 2022-11-07 at 16 05 42" src="https://user-images.githubusercontent.com/346576/200343577-a859c815-0fd8-46d2-8f63-8b0c584a073b.png">

The fix is to add the class to the theme.

[2022-11-07 16:49] dejanzele commented on #6880
Hello Argo community :)

I am fairly familiar with ArgoCD codebase and API, and I'd happily try to repay you for building such an awesome project by trying to have a stab at this issue, if there are no objections?

[2022-11-07 18:10] harshitasao commented on #2769
Hi, @alexec @dmizelle . Is this issue still open for contribution? I'd like to try.

[2022-11-07 18:45] nxf5025 commented on #3709
Is this possible now that https://github.com/argoproj/argo-cd/pull/9755 is merged?

[2022-11-07 18:48] crenshaw-dev commented on #2769
@harshitasao I believe this has been implemented: https://argo-cd.readthedocs.io/en/latest/user-guide/commands/argocd_app_logs/

Someone let me know if I'm wrong, and I'll reopen.

[2022-11-07 18:48] #2769 closed

[2022-11-07 19:45] bauerjs1 commented on #10490
Thank you @an-tex for the hint, that is interesting. For now, i worked around it by disabling the GPG check (which I don't need atm), as proposed in the same thread. This way I do not need to modify the security profile.

[2022-11-07 21:42] flaviomoringa commented on #3709
As far as I understood it does not solve my issue because the namespace is the same for all apps… what changes is the cluster, not the namespace. 🙁

[2022-11-08 04:28] reggie-k commented on #9810
Thanks for the link.
We run Openshift 4.8, currently removed the seccomp from ArgoCD workloads,
and it is up just fine. But still investigating

On Mon, Nov 7, 2022, 12:15 Joe Bowbeer ***@***.***> wrote:

[2022-11-08 08:22] trasyia commented on #7259
I have same issue too with spark operator.
Many operators make pods' restart policy to Never.

[2022-11-08 09:44] mjeco commented on #11179
Hi,

I'm facing the same issue installing Rancher `v2.6.4` chart with kustomize + helm on Argo CD`v2.5.2`

chart: `kubeVersion: < 1.24.0-0`
target cluster: `v1.21.9`

I believe this is an issue with helm `v3.10.1` as it worked fine with `v3.4.2` for me locally. Once I upgraded helm to `v3.10.1` I get the same error as in the Argo CD UI

[2022-11-08 09:58] csscriptplus commented on #11195
A revision with wildcards works. The auto sync found the new version. But the sync option "replace" is not enough. Sync can't replace my StatefuleSet I need the option "force" too. But this option I have only by the manual sync.

[2022-11-08 12:16] Cr4mble commented on #9678
Facing also the same issue. Here is a simple PoC of the error to reproduce it:

[code]

If you change the image tag from `1.23.2-debian-11-r2` to `1.23.2-debian-11-r1` the app will be shown as out-of-sync. If you sync now the pod will not be replaced and after the sync the diff is still there:
<img width="1372" alt="Screenshot" src="https://user-images.githubusercontent.com/26489465/200561302-0666

[2022-11-08 12:33] iam-veeramalla commented on #11215
Hi @GeorgiDimv , Can you please provide the correct Argo CD version ?

[2022-11-08 13:10] noaabarki commented on #11129
Hi @crenshaw-dev! Thank you for the quick response and sorry it took me so long to reply.
As you said `argocd app diff --local` does help with some of the use cases but unfortunately not all of them. Anyway, I'm onboard and willing to add `--local` support to `argocd app manifests`.

[2022-11-08 14:47] emon5122 commented on #10666
@SebastianBakala-TomTom I am having the same issue. Your solution has partially worked for me but [ Unable to load data: error getting cached app state: dial tcp 10.43.94.157:6379: i/o timeout ] this is what I am getting when I am trying to open details.
![image](https://user-images.githubusercontent.com/92997182/200595307-626796ed-5ad2-42e6-abab-60b02fc6f7ec.png)

[2022-11-08 15:32] mile-misan commented on #11136
Using 2.5.1 version and having similar issues.
`error calculating structured merge diff: error calculating diff: error while running updater.Apply: converting (v1beta1.PodDisruptionBudget) to (v1.PodDisruptionBudget): unknown conversion`
and
`error calculating structured merge diff: error calculating diff: error while running updater.Apply: converting (v2beta2.HorizontalPodAutoscaler) to (v1.Horiz

[2022-11-08 15:45] dbackeus commented on #9123
Being forced to globally configure `kubectl` to use the `argocd` namespace makes `argocd --core` kind of useless.

Defaulting to use `argocd` namespace would make sense since that's the documented namespace suggested for argocd installations, maybe one fallback attempt to default `kubectl` namespace would make sense as well. Then being able to explicitly override via ENV var, CLI argument or entry

[2022-11-08 15:53] danielhelfand commented on #9123
I think there was some work done to allow Apps to be created in any namespace: https://github.com/argoproj/argo-cd/pull/9755

I also believe there was some work done to add this feature to the CLI. It does not look like it's enabled by default though.

[2022-11-08 17:39] ccjette-logmein commented on #9731
💯 This would be very useful.

Something like an `argocd_cluster_labels` metric, like we have for `argocd_application_labels` would also be very useful, so we could cluster characteristics with the labels in the metrics and build queries upon this.

[2022-11-08 17:43] Cr4mble opened #11227 "Support annotation to prevent argo from deleting resources if app gets deleted"
# Summary

What change you think needs making.
Support flags/annotations that prevents resources from being deleted if the argo app gets deleted.

# Motivation

If you have multiple customers with dev and prod systems it's sometimes necessary to stop a system of a customer to save resources and costs. If you have a dynamically created persistent volume it's getting deleted if the argo app gets del

[2022-11-08 17:53] morey-tech opened #11228 "Application wizard shows destination URL instead of name"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When creating an Application from YAML that is using the `destination.name` for the cluster, after clicking save, the UI shows the empty cluster destination URL instead of the name.

**

[2022-11-08 18:31] zelig81 opened #11229 "Add all CNRM (GCP ConfigConnector) custom health check or wildcard custom health checks"
# Summary

I want to add a custom health check to every ConfigConnector resource. Currently ArgoCD includes a health check for up to 20 ConfigConector resources (not all).

# Motivation

Argocd out of the box shows ConfigConnector resources as healthy, although in those resources in status they can be degraded.

# Proposal

One of the 2 options:
- add all the CNRM resources health checks one by on

[2022-11-08 19:50] leoluz commented on #6429
This is a duplicate of https://github.com/argoproj/argo-cd/issues/4628
We are currently implementing this issue and is targeted to Argo CD 2.6

[2022-11-08 19:50] #6429 closed

[2022-11-09 00:20] vx-github commented on #10707
@jessesuen
The problem still exists in v2.5.2 and in v2.4.17.
I created a repository with some steps to easily reproduce the problem locally: https://github.com/vx-github/vx-argocd-cert-bug

[2022-11-09 02:27] praveenperera opened #11231 "ArgoCD repo server fails on refreshing token for GitHub app"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Setup a brand new ArgoCD deployment using helm. v2.5.2. Added a repo using a Github application.

At first it was failing with the error `Unable to load data: Failed to fetch default: c

[2022-11-09 03:43] zbup opened #11232 "Unable to use Helm with any valueFiles, Application prepending period to every path"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
I am having issues picking up helm values values.. I have a pretty simple application setup:
[code]
It seems like it's prepending my values file with a `.` but I'm not sure why... It end

[2022-11-09 06:00] Mahesh-Gunda-Maersk commented on #3039
+1 very useful.

[2022-11-09 08:12] GeorgiDimv commented on #11215
2.5.1, sorry for mistake

[2022-11-09 08:52] xgt001 opened #11233 "argo-cli: app restart fails with "unable to find workspace""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`argocd app actions run my-app restart --kind Deployment` fails with the following error message.

[code]
I have tried all different types of ClusterRoles and Rolebindings for the servi

[2022-11-09 09:53] manish-agrawal-ai opened #11234 "bug: resourceTree is not giving health status as 'missing' for the rollout node if rollout is deleted manually using kubectl"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

resourceTree is not giving health status as 'missing' for the rollout node if rollout is deleted manually using kubectl.

**To Reproduce**

Deploy an application using argo-cd and delet

[2022-11-09 10:23] lukas-unity commented on #11080
I've had this same issue with 2.4.14 and fixed it by adding `resource.exclusions` that's mentioned above.

[2022-11-09 10:54] #11215 closed

[2022-11-09 11:34] rahul-mourya commented on #4044
For me, it seems that the recent [commit](https://github.com/argoproj/argo-cd/commit/2a3c69279f478612bea2fcf64800d036d7747c75) introduced RLock() in the controller/cache/cache.go which is leading to a deadlock scenario.
Write lock here https://github.com/argoproj/argo-cd/blob/b0dab38c7d6dd348c4352df1518dab11bfe12a9a/controller/cache/cache.go#L375
Without realease the above write lock trying to acq

[2022-11-09 11:36] hcelaloner commented on #10952
Hi everyone,

I wanted to share something with you since it may be something to consider about this subject. In our company, we are testing the sharding approach. We deployed 10 pods of app set controller in one ArgoCD instance to speed up the appset processing process.

Yesterday, it resulted in an increase in requests sent to kube API server. Some master nodes become unavailable momentarily beca

[2022-11-09 11:48] #11211 closed

[2022-11-09 11:49] divya-prakash2 commented on #11211
closing this issue.

[2022-11-09 12:03] csscriptplus commented on #11195
Quarkus Helm has an option to remove the version information of the labels.

[2022-11-09 12:03] #11195 closed

[2022-11-09 12:05] divya-prakash2 opened #11238 "configManagementPlugin usage in argocd version 2.4.14"
Previously the argocd plugin via argocd-cm.yaml was working fine
argocd-cm.yaml used in argocd version 2.2.9 was as follows
apiVersion: v1
data:
  configManagementPlugins: |
    - name: sops
      init:                          # Optional command to initialize application source directory
        command: ["/bin/sh", "-c"]
        args: ["echo \"$VALUE_FILE\" > plainValues.yaml && echo \"$SOP_FILE

[2022-11-09 12:46] karlschriek opened #11239 "Terminating sync leads to "error getting application by name""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Since the release of v.2.5.0 we have been making use of the feature that allows us to deploy Application resources into namespaces other than the default `argocd` Namespace. The full im

[2022-11-09 12:58] darthale commented on #4174
Just to reiterate, also for me this was the fix. Specifically adding the below, helped:

[code]

[2022-11-09 13:15] mabhi commented on #9610
Hi @crenshaw-dev,
With reference to the document shared by @danielhelfand, while implementing the token request api in argocd-server, the decision whether to go for existing token generation old way or the using the new api in the code should come from ENV of the argocd-server or this can also be overriden with flags ?
What do you recommend here

[2022-11-09 13:22] #11105 closed

[2022-11-09 13:22] #11182 closed

[2022-11-09 13:22] #11071 closed

[2022-11-09 14:34] jsinme commented on #8579
+1

[2022-11-09 14:35] jsinme commented on #2936
also running into this issue requiring us to be very careful with promoting changes between envs. would love to see this added

[2022-11-09 14:41] prima101112 commented on #11232
Also facing this in previous argo version but i could solve thia by save the value inside chart so the folder structure will be

For template
`repo/manifest/helmchart/template`
For value
`repo/manifest/helmchart/myvalue.yaml`

And that work just by

helm:
      valueFiles:
        - myvalues.yaml

I dunno is this the right behaviour but i think when using helm your working dir is inside the path a

[2022-11-09 15:56] kxs-sindrakumar commented on #8820
same with me. Works on 2.2.5 fine. @crenshaw-dev any chance we can get a fix in for the latest version?

[2022-11-09 17:27] fbuinosquy1985 commented on #10942
same thing here.

[2022-11-09 18:44] rogerrum opened #11240 "Webhook incorrectly misses cache on GetManifests due to different clusterInfo.APIVersions"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

As I was investigating a bug regarding cache mismatch on webhook, I noticed that logs were displaying errors related to Redis cache (cache: key is missing).
When checked further, it was

[2022-11-09 19:00] strowi commented on #8892
Any update on this? Trying to deploy to multiple clusters kinda requires this functionality if values differ...

[2022-11-09 19:08] HariSekhon commented on #9443
@kxs-sindrakumar I've tested it using the 2 files I pasted above in ArgoCD and it worked.

This is a very generic Git mechanism that you can test on the command line by just setting the environment variable point to a script that returns the right credentials. Obviously adjust the script to output your credentials.

[2022-11-09 19:10] EppO commented on #9145
Use `argocd app manifests` command to see how the manifests look like when ArgoCD processes your Helm Chart, there might be something wrong with your Helm Chart that produces wrong HPAs. Any ArgoCD version >= 2.4.0 is using a GitOps Engine library that supports `autoscaling/v2`

[2022-11-09 19:38] diclophis commented on #8686
This would be a huge win in usability... would it work if we made a `syncPolicy.manual` sub-key?

[2022-11-09 19:46] #11180 closed

[2022-11-09 20:32] zbup commented on #11232
Yeah, perhaps I am expecting something that isn't possible...

[2022-11-09 21:18] crenshaw-dev commented on #11232
The period is a red herring. The actual absolute path of the file is randomized. The randomized part is sensitive and so is scrubbed from error messages and replaced with a `.`.

It's a bad UX. I'll put up a PR to replace with an empty string instead.

[2022-11-09 21:27] zbup commented on #11232
Should this work though? The documents seem to indicate that it's fine to use a relative path for the values as long as it's in the repo?

[2022-11-09 22:30] chalin commented on #10850
Friendly ping @alexmt et al. Can someone update mkdocs-material to v7.1.8+? Also see the issues listed in the comment above. Thanks.

[2022-11-09 22:42] ryanzhang-oss commented on #9007
I think currently the only way to add a label to a cluster is to edit secrets directly. I don't think that's not very user-friendly either.

[2022-11-09 22:42] ryanzhang-oss commented on #9007
I don't know how argoCD can automatically discover new clusters though.

[2022-11-09 23:09] chalin commented on #10850
Btw, the Argo workflows website is built using v8.x of `mkdocs_material`: https://github.com/argoproj/argo-workflows/blob/1487bbc197a54a2e8caae4205aa98283583956f1/Makefile#L636-L637. If this repo could update to v8 as well, that would be grand, but I understand that that might be too big of a version jump.

[2022-11-09 23:10] alexef commented on #10850
@chalin see: https://github.com/argoproj/argo-cd/pull/11248 as a starting point

[2022-11-09 23:21] chalin commented on #10850
Great, thanks @alexef! I'll track that PR.

[2022-11-09 23:39] rodrigo14miguel opened #11249 "UI: Customize Argo CD UI colors by overriding colors.scss variables with a configmap"
# Summary

Add the ability to easily customize Argo CD UI colors by overriding the variables defined in argo-ui "v2/styles/colors.scss".

# Motivation

The current option is to use [Custom Styles](https://argo-cd.readthedocs.io/en/stable/operator-manual/custom-styles/) but this requires CSS knowledge.
It would be nice to have a simple way to edit the UI colors only.

# Proposal

It seems that most

[2022-11-10 01:35] iamyeka commented on #9884
I got the same case. I need to specify the token when doing helm installation. After the installation, i can simply use the token in my program to create application or other things.

[2022-11-10 02:49] cilindrox commented on #4651
Tangential, but in trying to mimic this behavior using Terraform, I noticed by default the secret name seems to be `cluster-` + the cluster's api endpoint without the protocol extension, and that's passed via the `metadata.generateName`. On EKS at least, this creates a name that exceeds the 63 char limit, eg:

`cluster-f00barbazfooquuxbazfoobarbazfoobaz.gr1.us-east-1.eks.amazonaws.com-12345678` -

[2022-11-10 02:59] JMarji commented on #9122
So I was having trouble with creating an app in ArgoCD after successfully connecting to my repo over ssh in ArgoCD.

I was using bitbucket as a repository. by reading the error message that ArgoCD output when I hit app create. Which went something like "argocd@bitbucket.org unable to "git fetch... etc" (Public Key)". I realized that Argo was trying to authenticate with bitbucket using the username

[2022-11-10 07:30] ArchdukeNavaron opened #11252 "Notifications for applications in namespaces do not work"
**Describe the bug**

We migrated our applications to specific namespaces which made it easier for us to logically group applications within Kubernetes. After we migrated them we also wanted to configure notifications for them but it does not work. We had a quick look into it and it seems that first, that the notification controller does not have permissions to get all applications in all namespac

[2022-11-10 08:05] darox commented on #1364
I don't know whether this is the right place to ask, but let's go.
What's the recommended way to apply plain Kubernetes secrets encrypted with SOPS? For Kustomize we will use https://github.com/viaduct-ai/kustomize-sops but what if we have plain YAML files?

[2022-11-10 08:30] kkimdev opened #11253 "[Feature Request] app of apps relative path specification"
# Summary

When using app of apps, support relative path to the target apps directory.

# Motivation

I have a group of apps that's released together, and they are versioned in different directories in a Git repository e.g., /dev/ /staging/ /v1.1/ /v2.3/ /v3.3/ .... It's handy to use ArgoCD's app of apps to manage them, but one inconvenience is that the path of the root application yaml should be

[2022-11-10 08:55] ZeBidule opened #11254 "Customize the text of application badges"
# Summary

I would like to be able to customize the text of my argo CD application badges.

# Motivation

The same git repository is deployed in many clusters as different applications, and I would like to differentiate which badge belongs to which cluster :

![img](https://user-images.githubusercontent.com/19585080/201044605-efd0af50-d9db-40d5-b786-3293ecbda93d.png)

# Proposal

You could add a p

[2022-11-10 09:06] kkimdev commented on #11253
Missing detail: this is relevant when app of apps is nested more than a single level.

[2022-11-10 09:26] Zorkbomb commented on #11254
+1

[2022-11-10 10:08] ctron commented on #9721
Just running into this issue again today.

[2022-11-10 10:55] strowi opened #11261 "Prometheus-operator sync stuck progressing"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Trying to deploy prometheus as a crd, the resource ist synced ok but stuck progressing `waiting for healthy state of monitoring.coreos.com/Prometheus/rancheer-monitoring-prometheus`.

*

[2022-11-10 12:46] larstiq commented on #10759
I am seeing the same problem with `v2.2.10`, 22 `job` objects in the Argo UI spawned from a single `cronjob`, but only 7 in the cluster.

[2022-11-10 13:31] yellowhat commented on #10265
Hi,
I am not sure if my issue is related to the above.
I am able go use plugins via the "old" way by loading plugins via configMap; now I am trying to use the new way via sidecar.
Even if my repository are public (my own helm chart + prometheus one) I am still getting:

[code]

Should the cache be mounted across the 2 containers?

Thanks

[2022-11-10 13:36] crenshaw-dev commented on #10265
@kxs-sindrakumar we won't be able to revert, because the solution I merged was insecure. We can't allow all CMPs full access to repo creds. There needs to be some kind of system for an admin to permit CMPs to access secrets for certain repos.

@yellowhat this looks like a different issue, can you open a new one? I don't think the Helm cache needs to be shared, but I could be wrong about that. Mayb

[2022-11-10 13:40] yellowhat commented on #10265
Are you referring to [this}(https://github.com/argoproj/argo-helm/blob/1f42ea74f55e1d1f87115c9e31a91eeefd8ccaa0/charts/argo-cd/templates/argocd-repo-server/deployment.yaml#L198) location?

[2022-11-10 13:44] mmalyska commented on #10265
@yellowhat You need to fetch dependency yourself in plugin `helm dependency update` or when doing the template you need to use option `--dependency-update` ex. `helm template . --dependency-update` to make help auto fetch dependencies in plugin(because there is no share of helm cache in plugin sidecar).

[2022-11-10 14:32] yellowhat commented on #10265
Yes the `init.command` is `helm dependency update`.
I will try to mount the `helm-working-dir` volume.

[2022-11-10 14:42] James-Riordan commented on #3124
This is still a very much needed feature 3 years later!

[2022-11-10 14:52] EugeneLugovtsov opened #11262 "ArgoCD Server - main.js returns 404 Error"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After updating to version v2.5.2, developers started getting a 404 error for the main.***.js request. I found that ArgoCD Server generates a different hash for the main.js file.

**To R

[2022-11-10 14:56] sthomson-wyn commented on #11126
Noting that the fix in https://github.com/argoproj/argo-cd/pull/11176 did not work for us when using NodeLocal DNSCache...

Workaround #1 still works for us, however

[2022-11-10 15:37] yellowhat commented on #10265
I can confirm that was due to a missing folder.
I am assuming that it is looking for the env var `HELM_CACHE_HOME`, `HELM_CONFIG_HOME`, `HELM_DATA_HOME`.
The following works for me:

[code]

I think the documentation should include an example for helm/kustomize usecases.

[2022-11-10 16:00] todaywasawesome commented on #11172
@jerryjren Can you use `kubectl get po` to show the pods? This one is marked with an unknown status. Maybe it's stuck on the Kubernetes side.

[2022-11-10 17:00] diptripa commented on #9122
This really helped solve this problem! Thanks

[2022-11-10 17:09] crenshaw-dev commented on #10265
@yellowhat I'd be happy to review a docs PR if you have a chance to write it up!

Have you tried mounting a _different_ Helm temp dir for the sidecar vs. the one used by the main repo-server container?

The point of the sidecars is to be as stateless/ephemeral and share as little information as possible with the main container.

[2022-11-10 17:11] crenshaw-dev commented on #3124
2.6 will introduce some [additional UI integration for config management plugins](https://github.com/argoproj/argo-cd/pull/9216), and we plan to continue to invest in config management plugins features. I anticipate a robust third-party plugin will be how Argo CD achieves Tanka support.

It's possible that some company/org will commit to writing and maintaining first-class Tanka support in Argo CD

[2022-11-10 17:40] joaosilva15 commented on #11261
Hey @strowi 👋 I don't think this is an argocd bug. What version of Prometheus operator are you using? The status was only added in version 0.56 of the operator. If you use something previous to that the health check won't be in the CRD and the health will be always progressing

[2022-11-10 20:46] roee-landesman opened #11267 "Customize default container selected in UI"
# Summary

It would be great to be able to customize the default container that gets selected when browsing the pod definition in the UI.

# Motivation

We run Istio sidecar proxies on all of our deployed user applications which means that often the logs and/or terminal selection in the UI will default to Istio which confuses our developers.

# Proposal

Either passed in via config or container ar

[2022-11-10 23:47] lancehudson commented on #11261
In my case, there is a pod remaining from a job. it is NOT ready since it is completed. causing the check to fail.

[2022-11-11 01:25] blairdrummond commented on #8342
In case anyone finds this helpful, the workaround I am using is to overwrite the repo-server's `/etc/gitconfig` file and rewrite the SSH url into an HTTPS url with a PAT in it. Like this:

[code]

(in the container the actual values are in there, there's no magic env vars)

Then you just make that content a secret and volumeMount it over the /etc/gitconfig. The kustomize files still have ssh urls

[2022-11-11 05:06] drogbeer commented on #11261
After upgrading to 2.5.0 I've had the same issue. Also noticed the same behaviour on the demo site https://cd.apps.argoproj.io/applications/prometheus-operator?resource=

[2022-11-11 08:42] DimitarKapashikov commented on #11126
We still experience issues with version 2.5.2 . It is stuck waiting for the ArgoCD server health check.

[2022-11-11 09:15] yellowhat commented on #10265
As you can see in my example above, I am mounting `helm-temp-dir` not `helm-working-dir` volume (the one mounted on the `repo-server` container).
My usecase seems to work with either volumes.
I am not sure if sharing `helm-working-dir` would be required for a private repository.

[2022-11-11 10:31] S0n98 commented on #11097
Any solution on this problem?

[2022-11-11 13:29] nice-pink opened #11270 "Argo UI: "Something went wrong!" when deleting resource"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD UI:
* In detail view of a resource of an app
*  click DELETE
* the resource is deleted
* BUT UI ends in error screen with stracktrace

[code]

<img width="1412" alt="Screenshot 2

[2022-11-11 13:44] nice-pink commented on #11270
It doesn't happen always, but pretty often.

[2022-11-11 14:29] divya-prakash2 commented on #11238
Tried installing helm and pre-requisite packages into the cmp container. Now facing the following issue
time="2022-11-11T14:28:11Z" level=info msg="manifest error cache hit: &ApplicationSource{RepoURL:https://harbor.ba12.cgw-hpe.net/chartrepo/library,Path:,TargetRevision:3.2.0,Helm:nil,Kustomize:nil,Directory:nil,Plugin:&ApplicationSourcePlugin{Name:,Env:[]*EnvEntry{&EnvEntry{Name:VALUE_FILE,Value

[2022-11-11 16:31] FischerLGLN commented on #2789
What I wrote isn't quite true.
The internal app isn't updating, if our own helm chart hasn't changed.
However, one could Cronjob an update script updating the dependency app version inside the git repository and thus triggering an ArgoCD update process:
https://blog.promaton.com/how-to-set-up-automated-helm-chart-upgrades-e292192a9aad

Or we just wait for ArgoCD 2.6GA :grin:

[2022-11-11 16:33] nickjj opened #11271 "Argo CD 2.5.X added green labels for healthy pods, I'd love to see red tinted labels for resources with error events"
# Summary

After upgrading to Argo CD 2.5.X I was happy to see a few UI tweaks. One of them is you can see green tinted healthy pods, such as:

![image](https://user-images.githubusercontent.com/813219/201385526-02d8d31e-ada4-490d-8962-17aaea8fb2d8.png)

Yesterday I encountered a really unexpected error from an ingress. Long story short the ingress was throwing repeated error events.

The label wa

[2022-11-11 16:50] jlewi commented on #8027
Same issue occurs when using Google's IAP as an identity aware proxy. Google's IAP works by setting a JWT in a given header. So if Argo makes it easy to configure the OIDC issuer and JWT header Argo should just need to verify the JWT and extract the email.

[2022-11-11 18:12] Jamess-Lucass opened #11273 "Pull request generator - Bitbucket cloud support"
# Summary
Same enhancement as [#10695](https://github.com/argoproj/argo-cd/issues/10695) with a slightly different proposal following ideas from #11150 and the existing implementation for `bitbucket-server` referenced in the docs [here](https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Pull-Request/#bitbucket-server)

What change you think needs making.

# Motivati

[2022-11-11 18:15] Jamess-Lucass commented on #11273
Once feedback is received on the proposal I will work on this feature

[2022-11-11 23:47] genehand opened #11277 "Update ApplicationSets to use the sprig library v3"
# Summary

Go templates in ApplicationSets are a nice addition, but I was surprised to find some missing sprig functions from the [linked documentation](https://masterminds.github.io/sprig/).

# Motivation

I was looking to specify defaults for config not passed through the values field.  Because `{{ .values }}` now comes through as an object like [metadata](https://argo-cd.readthedocs.io/en/stabl

[2022-11-12 03:23] mukundparmar commented on #3913
This worked thanks for the update.

[2022-11-12 06:04] tooptoop4 opened #11278 "link to argoWorkflows for related CRDs"
argoWorkflows users will often also use argoCD
there are certain CRDs in argoWorkflows (ie cronworkflow, workflowtemplate, sensor, eventsource..etc), idea is to have a link on the specific object (ie cronworkflowXYZ) that will open up that object in argoWorkflows UI (ie the cronworkflow page for that specific named object)

basic implementation idea:
optional config for argoWorkflows base URL (or

[2022-11-12 06:25] tooptoop4 commented on #11103
this would be great, as currently can't exec into distroless images

[2022-11-12 08:31] krzwiatrzyk commented on #4002
Another case when this issue occur:

All of my apps (Application CR) are using remote values (via URL) to supply it to helm. Any change in those values won't occur in Sync or Refresh. Only Hard Refresh can help. Thus, if changes will be made in those values, I am not aware of them until manually clicking Hard Refresh.

[2022-11-12 15:41] EladLeev commented on #8097
Thanks @minhnnhat, nice walk-around.
For future ref - In my case I needed to change and add a few keys to make it work (`type: helm`, `enableOCI: true`, etc), so the quickest way to figure out what was missing on my version, was simply to add the creds once from the CLI -
[code]
Check the created secret, and merge it to the cronjob solution.

[2022-11-12 15:42] rajnikhil17 opened #11279 "Enabling SSO on ArgoCD with OIDC Configuration using Helm Chart"
### Discussed in https://github.com/argoproj/argo-cd/discussions/11222

<div type='discussions-op-text'>

<sup>Originally posted by **rajnikhil17** November  8, 2022</sup>
I am trying to enable SSO on ArgoCD.
I am trying the OIDC Way.
I was able to make things work by editing the configmap and the secret.
But, If we again do the Helm Upgrade. There is a chance that we might loss the configuration

[2022-11-12 17:20] SomniVertix commented on #7898
Is there a workaround?

[2022-11-12 18:02] ArjonBu commented on #9884
@crenshaw-dev after the deletion of server.secretkey, then the token will not work anymore.

[2022-11-12 21:06] piotrkochan commented on #3537
In my case applying custom `argocd-ssh-known-hosts-cm.yaml` configuration has no effect and I can't see my known host in the GUI.

[2022-11-13 05:23] jhodnett2 commented on #3181
I think Argo-CD is getting confused about the apiVersion and kind as was mentioned before:
[code]

The problem is that it tries to apply that file but there is no controller/api service to handle that kind.

I've just removed those 2 lines and all is fine.

I'm researching if I should have a controller/custom resource def for that type (for completeness).  kubectl works fine without those lines.

[2022-11-13 06:16] alexef commented on #4002
@De1taE1even I see https://github.com/argoproj/argo-cd/pull/8928 has been merged in April, did that fix the bug mentioned in this issue or only offered a way to mitigate it?

[2022-11-13 15:06] De1taE1even commented on #4002
@alexef You are correct, my only concern is not being able to properly expire helm chart cache.  The new flag should solve this for me, and I like that it can be set to a different, less frequent interval than the normal refresh.  Thank you for pointing it out, I missed it.  I haven't tested it yet, but assuming it does what it's supposed to do, this is great solution to this ticket, from my persp

[2022-11-14 01:58] De1taE1even commented on #4002
@alexef Well, I don't know why it isn't working, but that flag did nothing.  I confirmed 100% that the flag is applied, and I set it to 3600 to hard refresh once per hour.  It's been several hours, and no automatic hard refresh was performed.  I manually performed a hard refresh and immediately saw the change, so this flag isn't working properly.  I even cycled every single pod as part of the argo

[2022-11-14 05:21] alexef opened #11284 "Conflict in OCI helm authentication during force refresh"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

While force refreshing an application in the UI, two calls to the repo server (1. to refresh manifests 2. get app details) race each other, and as the registry login/logout is global th

[2022-11-14 05:28] alexef commented on #4002
@De1taE1even thank you for the updates.
I did the same (set the `timeout.hard.reconciliation` to `120s` in the `argocd-cm` ConfigMap and restarted the application controller StatefulSet). For me the flag worked, as I saw the reposerver pulled again the tar.gz chart from registry, every 2m. I'm on the 2.5/latest branch. Not sure what's going on with your setup.

[2022-11-14 08:28] mabhi commented on #9610
Hi @crenshaw-dev
While working on the enhancement, I came across few scenarios for which answers from your end would help.
I have the following questions:

1. Can a cluster user with the certificates be able to create/refresh the service account tokens?
2. Should a cluster user with a valid bearer token be the only one to create/refresh the service account tokens?
3. Should an error message be dis

[2022-11-14 09:30] alexef commented on #11284
Unfortunately this doesn't seem to be enough. I'll continue debugging.

[2022-11-14 10:12] thomasender opened #11286 "Small CSS Bugfix for PopUp Modal"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
CSS alignment of Close button on modal when trying to delete app

**To Reproduce**

click delete button on an app in the dashboard
<img width="296" alt="Screenshot 2022-11-14 at 11 08 12

[2022-11-14 10:47] lukonjun commented on #8097
Hey @minhnnhat also thanks from my side, got it working. Just wanted to share some insights I had during doing this
- Might be really obvious, but I first did not get that repositories in Argo are represented via Kubernetes Secrets with the annotation `argocd.argoproj.io/secret-type: repository`
- If you pass the Secret with option stringData you need to quote some string to make it work, otherwis

[2022-11-14 12:31] rdramana85 opened #11287 "Documentation or examples on how to use argocd go-packages"
Hi - we want to use argocd go-packages to perform the tasks usually done with argocd-cli. Eg : "argocd app create". Can you provide documentation or examples on how to use go-packages?

[2022-11-14 13:28] #10919 closed

[2022-11-14 13:36] yevgeniyo commented on #11166
Same here, web terminal stopped work for us after the upgrade to 2.5

[2022-11-14 13:50] #10850 closed

[2022-11-14 13:58] crenshaw-dev commented on #11279
I think the correct syntax is something like this:

[code]

https://stackoverflow.com/questions/49522776/helm-how-to-override-value-with-periods-in-name

[2022-11-14 13:59] crenshaw-dev commented on #11277
Honestly, can't believe I missed that there was a new major version.

Would love to see a PR to update. Can you check for any breaking changes or potential backwards-compatibility issues?

[2022-11-14 15:38] schakrad commented on #11015
Hi @vsfomin,

Could you please provide the cronjob manifests?
Could you please tell me why you are trying to delete job manually instead of changing the configuration of cron job manifests, which deletes the job automatically.

[2022-11-14 18:38] De1taE1even commented on #4002
@alexef Is there some documentation I missed about adding `timeout.hard.reconciliation` to the `argocd-cm` configmap?  The ticket that worked this feature shows it as an application controller run flag, as does [this](https://argo-cd.readthedocs.io/en/stable/operator-manual/server-commands/argocd-application-controller/) documentation, so that's how I implemented it.  I can't find a reference to s

[2022-11-14 19:06] schakrad commented on #11209
I would like to work on this issue.

[2022-11-14 19:33] keithchong commented on #11270
Hi @nice-pink , I can't reproduce this.  Could you elaborate on "BUT UI ends in error screen with stracktrace".  Could you screenshot this?  When you see the stack trace again, try using the chrome tools and format the source to see where in the code it is failing. (There's a button {}).

[2022-11-14 20:18] jessesuen opened #11290 "CMPv2 support for explicit `plugin.name`"
# Summary

CMPv2 currently relies on discovery to know the plugin to use. This is different than CMPv1 which needed explicit choice in plugin. e.g.:

[code]

We need CMPv2 to also honor `plugin.name`.

# Motivation

In order for backwards compatibility, CMPv2 should support choosing the plugin explicitly by name since not all source types can be solved via discovery/inference.

Because of current

[2022-11-14 22:10] mmerrill3 commented on #9890
@crenshaw-dev, this looks interesting, is anyone working on this yet?  I guess redis would be ideal for keeping the link between code verifier and the authorization token?

[2022-11-14 22:17] genehand commented on #11277
No worries, tests are running for the PR now.  Sounds like no breaking changes from [v3](https://github.com/Masterminds/sprig/releases/tag/v3.0.0) but an abundance of caution:

[2022-11-15 01:46] #8892 closed

[2022-11-15 03:37] magf commented on #2954
maybe that's better?

[code]

[2022-11-15 10:48] myrondev commented on #9200
I still have this issue, is there any resolutions?

[2022-11-15 10:55] MeNsaaH commented on #9200
@myrondev you should be able to upgrade your argocd and use serverside diffs now

[2022-11-15 11:09] myrondev commented on #9200
What do yo mean? I just added to argo cm: helm.valuesFileSchemes: http, https, secrets. But still the same issue?

[2022-11-15 11:09] myrondev commented on #9200
What do yo mean? I just added to argo cm: helm.valuesFileSchemes: http, https, secrets. But still the same issue?

[2022-11-15 11:28] alexef commented on #9200
@myrondev can you try with:

```argocd app diff <app-name> --local . --local-repo-root . --server-side-generate``` ?

[2022-11-15 11:33] myrondev commented on #9200
I can't use CLI. Can I change this in values.yaml for ArgoCD? Now my app-of-app looks this way:

![argo33](https://user-images.githubusercontent.com/92361461/201909571-2d631408-cd8f-41be-9712-10159d43fa5b.png)

[2022-11-15 11:41] alexef commented on #9200
@myrondev what version of argocd does the UI report?

[2022-11-15 11:42] myrondev commented on #9200
Argo CD
v2.2.5+8f981cc

[2022-11-15 11:45] myrondev commented on #9200
This command **argocd app diff <app-name> --local . --local-repo-root . --server-side-generate**  will not change anything, right? I mean in values.yaml file.

[2022-11-15 12:10] alexef commented on #9200
@myrondev the issue you are facing has been fixed in version 2.5, so you need to upgrade argocd, as you are running version 2.2

[2022-11-15 12:36] jeliseocd commented on #9229
Same issue here. With a non standard SSH port it's not possible to add an ArgoCD repo. I have add in GitLab the ArgoCD SSH public key (I have tested that it connects correctly to GitLab repository by git clone ssh://git@server.example.com:2222/user/repository).

Then I have add the SSH public host keys for the server to ArgoCD:
ssh-keyscan -p 2222 server.example.com | argocd cert add-ssh --batch

[2022-11-15 12:56] tanphan-vn commented on #3642
Hi @saumeya new argocd version 2.5.2 that can't use `.nav-bar__logo img { content: url(https://your-logo.png); }` because can't change the logo
Could you please give us new method?

Thanks

[2022-11-15 13:02] ilyassikai commented on #5620
Same here.
is there any solution?

[2022-11-15 13:34] Marvin9 commented on #3642
@tanphan-vn

[code]

[2022-11-15 13:54] ropsii opened #11302 "Sidebar design polish"
# Summary

There are various typographic and other visual inconsistencies in the sidebar — like vertical rhythm, font size, element hierarchy, mixed icon styles, and such. I propose a polished version that addresses all those issues.

# Motivation

Couple of examples of the visual issues in the current design:
1. **Font-size hierarchy**: Different font sizes between main navigation items and filte

[2022-11-15 14:15] zbup commented on #11232
Helm dictates you can't reference any files outside of the helm chart directory. So it should take relative paths but only in the chart directory right which wasn't what I was trying to do... So this is my own fault.

[2022-11-15 14:15] #11232 closed

[2022-11-15 14:19] ropsii opened #11303 "Top bar design polish"
# Summary

The top bar could have a better arrangement of elements, and also slightly nicer typography. This proposal removes content duplication, rearranges the position of the `login` button, and improves the typographic hierarchy. Also, I propose changes in button style and introduce several new icons from the [Material Design](https://github.com/google/material-design-icons) icons pack.

# Mot

[2022-11-15 14:28] ropsii opened #11304 "App Card / List Item design polish"
# Summary

As part of the overall redesign effort (already documented [here](https://github.com/argoproj/argo-cd/issues/11302) and [here](https://github.com/argoproj/argo-cd/issues/11303)), I propose the slight update to the design of App Cards and List Items. There are no functional changes, only visual interventions that should improve the look and feel of one of the main views in Argo CD.

# Pr

[2022-11-15 14:43] wojtekidd commented on #11302
+1 for `Collapsed Alt` - with descriptions and filters.
This is soo nice 😍

[2022-11-15 14:48] llavaud commented on #11136
Same here with `2.5.2`:
`error calculating structured merge diff: error calculating diff: error while running updater.Apply: converting (v2beta1.HorizontalPodAutoscaler) to (v1.HorizontalPodAutoscaler): unknown conversion`

[2022-11-15 15:05] tobiasake opened #11305 "ArgoCd Dockerfile/Image base on Ubuntu image that have BerkleyDb libraries that comes with a license that gives warnings during 3rd party library scans"
# Summary

I write this ticket behalf for a CI project within Ericsson company where ArgoCd is used as CI Flow Orchestrator.

All 3rd party tools and libraries that is used within the company is scanned for vulnerabilities and if an approved license is used in the 3rd party tool/library.
The internal 3rd party scan of ArgoCd component itself gives no warnings, but the Dockerfile/Image gives warnin

[2022-11-15 16:29] Alex-1801 commented on #8742
Googling how to stop unauthorised users from logging in has led me here
Plus 1 for this issue, as said above, this is needed for production.

[2022-11-15 16:47] nattvasan commented on #2779
@arnaudclerc the solution suggested is not working. but I have tried setting the secret  in the helm install command.

helm install argo . --debug -n argocd --set "configs.secret.extra.oidc\.azure\.clientSecret=******clientsecret****" and added the value "clientSecret: $oidc.azure.clientSecret" in values.yaml like this and it worked for me.

Thanks for your suggestion :)

[2022-11-15 17:20] packdhe commented on #3642
hi @tanphan-vn , can you change the logo on the argocd login page ?

[2022-11-15 17:28] echung808 commented on #8839
I'm also seeing this behavior on Argocd v2.5.0+b895da4

[2022-11-15 17:53] 34fathombelow commented on #11305
@tobiasake I'm curious what license scanning software do you use?   Can you provide the details of the warning?   It's possible this is a false positive, more information would be very helpful

[2022-11-15 19:17] brightdroid commented on #6665
This also happens to me with version v2.5.2+148d8da and a helm chart in git directory (`source.path`)

The `helm.parameters` from Application is not merged with `.argocd-source-....yml`

[2022-11-15 20:14] jeliseocd commented on #9229
Updating ArgoCD to the latest version (v2.5.2) does not fix the problem.

[2022-11-15 21:16] cehoffman commented on #11086
Want to add that the current network policy for HA is also blocking redis bring up because of the DNS egress definition. The to definition that is allowing 0.0.0.0/0 is blocking successful DNS resolution for the haproxy and redis statefulset init containers. Leaving the DNS egress configuration and removing the `to` definition fixes the issue.

[2022-11-15 21:42] TheAnachronism commented on #10499
I have the same issue. How can I tell the repo-server service account that it can access a secret aswell?

[2022-11-15 22:02] TheAnachronism commented on #10499
Alright, I solved it by adding these two files in my kustomize deployment:
[code]
[code]

I discovered, that there is a service account for the repo server, but it doesn't have any role bindings. So, I created one, so it could access a secret in the same namespace.

[2022-11-15 22:49] hyei commented on #7430
We worked around this by using generateName for unique job names, so no longer see immutable failures anymore.  However it looks like preSync and syncFail hooks aren't being deleted based on the deletion policy of HooksSucceeded, and we start collecting dangling jobs.

[2022-11-16 05:20] 24601 commented on #1639
We have a workaround that we are using with relatively good success. Check out https://github.com/kubernetes-sigs/kustomize/issues/641#issuecomment-1316367513 for details.

[2022-11-16 05:23] 24601 commented on #7430
@hyei We have a workaround that we are using with relatively good success that works on all versions of kustomize that support namesuffix and Argo. Check out https://github.com/kubernetes-sigs/kustomize/issues/641#issuecomment-1316367513 for details.

We also set the job TTL to avoid dangling jobs, and the hooks to delete are working, too.

[2022-11-16 06:34] maheshbaliga commented on #11027
Hi @sekizi, I tried to reproduce this issue in the latest code, this functionality works as expected.

Used this CLI command - `argocd app create guestbook --repo https://github.com/argoproj/argocd-example-apps.git --path guestbook --dest-server https://kubernetes.default.svc --dest-namespace default --set-finalizer` to create the app and the same gets created successfully.

Can you please paste t

[2022-11-16 07:00] maheshbaliga commented on #11018
@felix-dpg You are running the command on an older version of the ArgoCD CLI, which does not include this functionality. Kindly update the same to the latest version from [here.](https://argo-cd.readthedocs.io/en/stable/cli_installation/)

[2022-11-16 07:16] felix-dpg commented on #11018
I open this issue 26 days ago, so at this time the version available was v2.2.15. Version v2.2.16 was released since 14 days ago. Thanks for your reply but your comment is comming too late.

[2022-11-16 07:19] #11018 closed

[2022-11-16 07:19] felix-dpg commented on #11018
Solved in later version.

[2022-11-16 07:26] alexef commented on #11304
@ropsii would you be able to integrate this other enhancement proposal into yours? https://github.com/argoproj/argo-cd/issues/11209

Also, are you able to join today's [Argo SIG UI](http://calendar.google.com/calendar/u/0/embed?src=argoproj@gmail.com) meeting to discuss your proposals?

[2022-11-16 10:44] ropsii commented on #11304
@alexef In terms of design, it's not a problem. I'll leave it for others to comment on the function.

Re: Meeting: I won't be able to join this time, I have another meeting. If things change, I'll try to make it.

<img width="439" alt="Screenshot 2022-11-16 at 11 35 47" src="https://user-images.githubusercontent.com/1923393/202158312-7b3c9176-7710-4943-a759-8e2b9babb56c.png">

[2022-11-16 10:58] csscriptplus opened #11310 "Sonatype Nexus Repository connection failed"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I have 2 Kubernetes clusters. 1 large internal and 1 small MicroK8s in the DMZ. ArgoCD is running in both clusters. In internal cluster is running Sonatype Nexus repository. ArgoCD in i

[2022-11-16 11:08] alexef opened #11311 "Improve error display in the UI"
# Summary

Reduce the amount of text shown to the user, when manifest generation fails. See [slack message](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1668068172542909)

# Motivation

Reading a wall of text is not friendly and time consuming.

# Proposal

1. The red error pop up should respect screen size, instead of a fixed width it can use a percentage of the screen
2. the long CLI com

[2022-11-16 11:49] rajeshnair opened #11312 "Argocd ssh client is causing key exchange mismatch"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Unable to add git repo with ssh argo as the key exchange algorithm do not match. Curiously I am able to ssh using the same identity file on my system and I tried logging into the pods an

[2022-11-16 13:07] kxs-sindrakumar commented on #9631
I get this error with github. When using https. My format is:

https://github.com/myorg/ce-cluster-addons/cert-manager/overlays/tenant/myenv?ref=v0.3.5

[2022-11-16 14:38] #11027 closed

[2022-11-16 16:40] HariSekhon commented on #9443
@kxs-sindrakumar I don't do the double hop. The script could in theory account for this based on the repo path, but if you configure the repos to use https and the https creds are in the repo in Argo that should work too as I've tested it with one repo.

[2022-11-16 17:21] rbreeze commented on #11304
@ropsii Can you potentially integrate this age information into the design:

https://github.com/argoproj/argo-cd/issues/11209

[2022-11-16 17:21] rbreeze commented on #11304
Never mind. Didn't refresh the page and see new comments 😅

[2022-11-16 17:30] alexef commented on #11209
@schakrad see also comment on #11304 . if you're implementing it, just add it as a new row under Namespace :)

[2022-11-16 17:36] mmerrill3 commented on #9890
@crenshaw-dev  you can assign to me

[2022-11-16 17:41] kxs-sindrakumar commented on #9443
@HariSekhon so i can confirm it does look like mine is a git related issue. I copied my kustomization.yaml file which is below into my repo server, then ran kustomize build . from that location and i got a prompt asking me for git username and password, if i didn't enter and just pressed enter enter, I get the error shown below.

I have your gitaskpass in there with the correct credentials but it

[2022-11-16 17:53] kxs-sindrakumar opened #11318 "Argocd-2.4.17 CMP plugin fails to "kustomize build ." on remote repo. Getting Error: accumulating resources"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [x ] I've pasted the output of `argocd version`.

**Describe the bug**

1. We upgraded argocd from 2.2.8 to 2.4.17 maintaining the same cmp (defined in configmap below).
2. Once we completed the upgrade, apps fail to sync generating an accumulating resou

[2022-11-16 18:09] kxs-sindrakumar commented on #9443
@HariSekhon quick update, so the gitaskpass does work if i am running kustomize build . after shelling into the pod. But automatically it does not. Have you experienced that?

[2022-11-16 19:37] jessesuen commented on #11262
I'm quite certain this is by design. The hash changes with every ui change and prevents situation where old UI might be used. index.html will always be updated to point to the new bundle and is never cached by browser so browser refresh will know to load the new bundle

[2022-11-16 19:38] jessesuen commented on #11279
Proper procedure explained

[2022-11-16 19:38] #11279 closed

[2022-11-16 19:43] jessesuen commented on #11310
@csscriptplus this is most certainly a problem specific to your environment and not an Argo CD bug. It appears to be trying to resolve hostnames over localhost but no server listening on port 53.

[2022-11-16 19:43] #11310 closed

[2022-11-16 20:06] jessesuen commented on #11318
I think this may have more to do with change in kustomize version from argo-cd v2.2 to v2.4 rather than Argo CD bug. I suggest downgrading kustomize to the version in v2.2 to verify.

Also, you appear to be using the legacy URL format of resource references.
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#legacy-url-format

Newer kustomize resource references shoul

[2022-11-16 21:18] F1ko opened #11321 "Make NetworkPolicies Cilium compatible"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using Cilium as a CNI in combination with the network policies defined in this repository, DNS requests are not permitted.
This is due to Cilium not checking pod cidrs as part of `

[2022-11-16 21:23] F1ko commented on #11321
Since all network policies define `0.0.0.0/0` as cidr this should be easy fixable (e.g. https://github.com/argoproj/argo-cd/blob/9bd0ed0d5601f6408ef822b282841464d9784a27/manifests/ha/base/redis-ha/argocd-redis-ha-proxy-network-policy.yaml#L40).
`0.0.0.0/0` maps to every possible IPv4. For that reason one could simply omit the `ipBlock` altogether and the effect is going to stay the same without im

[2022-11-16 22:58] lancehudson opened #11324 "Helm OCI Login is broken"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I am using a helm chart dependency on a OCI helm repo. Under 2.14.X my config worked  (I dont know when the error started exactly, the cache seems to be preventing it from affecting eve

[2022-11-16 23:39] kxs-sindrakumar commented on #11318
1. I downgraded to v4.2.0, which is in v2.2 of argo. Doing kustomize version in the pod shows:
[code]
2. In the existing deployment (v2.4.17) I formatted the url so it looks like below in terms of the two forward slashes, but still the same error. Just as a sanity check I also tried it with v2.2 but still the same error
[code]

My kustomization.yaml used the following to create the manifest:
[code

[2022-11-16 23:42] kxs-sindrakumar commented on #11238
@divya-prakash2 i think i am having similar issue? https://github.com/argoproj/argo-cd/issues/11318

[2022-11-16 23:58] lancehudson commented on #11324
Helm 3.8 acts the same, requires either no protocol or https://

[2022-11-17 00:24] lancehudson commented on #11324
Possible dup of #8563

[2022-11-17 01:12] lancehudson commented on #11324
I think i fixed it by creating

[code]

  but now i have apps that seem to want the full package name, and some that dont, while both use the same exact dependency line

[2022-11-17 01:51] alexef commented on #11324
I believe I was able to trace this down - and also understand why this is not happening to us:
- if the app.source is an oci:// helm repo, then the Repo object is registered _without_ the protocol in the URL;
- argo only logs in dependencies if they have _a different repo_ than the application itself; their Repos don't drop the protocol from Chart.yaml dependency definition
- checking for credenti

[2022-11-17 06:13] maheshbaliga commented on #3155
Hi @y4roslav, I think the option to deploy using a single file is now there in ArgoCD. `argocd app create --file path/to/manifest`. Were you looking at something like this back then?

[2022-11-17 07:17] tico24 opened #11328 "Argocd requires HPA metrics to be in a specific order"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When deploying a HorizontalPodAutoscaler, argocd will throw an OutOfSync issue unless you specify your metrics in a specific order. This feels anti-declarative to me.

**To Reproduce**

[2022-11-17 07:53] abkura commented on #9443
@kxs-sindrakumar @HariSekhon encountered a similar issue. Issue can be reproduced by following the setup laid out in the below repo. Any help is much appreciated.

https://github.com/abkura/argocd-kustomize.git

[2022-11-17 09:16] Gianluca755 commented on #11328
It is a known issue and nobody seems to be interested in fixing it https://argo-cd.readthedocs.io/en/stable/user-guide/diffing/

[2022-11-17 09:17] tico24 commented on #11328
Ah dang it. It's a k8s issue. Thanks.

[2022-11-17 09:23] #11328 closed

[2022-11-17 13:51] kxs-sindrakumar commented on #9443
@abkura i created a ticket yesterday related to this as well. see above mentions. I think this should be a high priority item as i've seen few posts related to it and no solution yet. Who can we tag to get attention on this asap? 2.2 is gong EOL and we can't upgrade at all due to this @crenshaw-dev sos!

[2022-11-17 14:12] iburrows opened #11332 "E1117 error"
Hello we received this error code and I am unable to find out more information. Argocd was unable to communicate with the clusters and deployments stopped. I narrowed down the error to the application-controller pod and after a restart the connection was re-established.
The first instance of the error was
[code]
and then it lost connection to the k8s api on all clusters.
I am assuming this is a lo

[2022-11-17 14:20] EtienneExalgo commented on #8218
Hi,
Same here. Any update ?

[2022-11-17 14:55] #9812 closed

[2022-11-17 15:30] vhsantos commented on #10533
Hello @crenshaw-dev , did you forgot to update the kustomize on the version 2.5 ??
I can't find any reference on the documentation.

[2022-11-17 15:36] 34fathombelow commented on #10533
@vhsantos Kustomize was upgraded to 4.5.7 https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.4-2.5/#upgraded-kustomize-version

[2022-11-17 15:36] vhsantos commented on #10533
I just found the info [here](https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.4-2.5/).
[code]
Thanks

[2022-11-17 15:39] keithchong commented on #11286
I pulled the latest code and tried this locally, and I don't see the problem.  Curious, what browser are you using?

<img width="1000" alt="closebutton" src="https://user-images.githubusercontent.com/7726022/202490451-57ba4e63-bab6-443f-a7a3-b6254e014b40.png">

[2022-11-17 16:21] jessesuen commented on #11278
Duplicate of https://github.com/argoproj/argo-cd/pull/10278

This should be solved with deep linking feature

[2022-11-17 16:21] #11278 closed

[2022-11-17 16:27] arturhoo commented on #8145
Following the original motivation, what do you think of `app manifests` also accepting `--server-side-generate`?

[2022-11-17 17:01] crenshaw-dev commented on #8117
If [this](https://github.com/argoproj/argo-cd/issues/11290) gets merged in time for 2.6, I think we should delay argocd-cm removal until 2.7 so there's a transition release for folks needing the `plugin.name` feature.

[2022-11-17 17:06] Valeriyy opened #11335 "Problems with the chart deployment: the server could not find the requested resource (get ClusterInformations.crd.projectcalico.org default)"
I just take chart with last version 5.13.8 and tried to deploy it to Kuber
And pods don't starting:
`# kubectl -n argocd get po
NAME                                                        READY   STATUS              RESTARTS   AGE
argo-cd-argocd-application-controller-0                     0/1     ContainerCreating   0          15m
argo-cd-argocd-applicationset-controller-68854c9dd5-9gvs5   0/1

[2022-11-17 17:12] mustafa89 commented on #4174
after restarting a bunch of deployments, nothing worked. I check the nodes on my cluster and there were not enough SPOT instances due to capacity issues. Just an FYI to check that as well if some one struggles with this.

[2022-11-17 21:43] pbtrudel commented on #5620
Same here, with Kiali Operator and CR, with latest version of argocd v2.5.2+148d8da.

[2022-11-17 22:23] #11284 closed

[2022-11-17 22:35] jessesuen opened #11339 "UI incorrectly states sync running a few seconds ago"
**Describe the bug**

We had a sync job which was lasting a long time (17 hours), but in UI it was stating it was run just a few seconds ago

<img width="352" alt="image" src="https://user-images.githubusercontent.com/12677113/202573898-1f8058bc-1d82-489a-9440-c4e35650c521.png">

<img width="655" alt="image" src="https://user-images.githubusercontent.com/12677113/202574071-2343953f-fca3-45fe-b0b2-

[2022-11-18 00:48] ileixe commented on #2532
How would other deal with this problem? I think it's core primitive to achieve "continuous deploy", and one of the most unclear part for user.

[2022-11-18 06:33] tooptoop4 opened #11340 "linking of icons related to role/binding/serviceacct"
the UI currently has a good linked view (ie arrows between) of deployment>replicaset>pod or ingress>service>pod

another set of linking could be: serviceaccount > rolebinding > role

[2022-11-18 07:26] neo502721 commented on #6048
This is not support by kubernetes to mount other namesapce's configMap or Secret.

[2022-11-18 09:23] sTb1337 commented on #7875
+1

Really need this :)

[2022-11-18 09:30] alexef commented on #4435
@blakepettersson does it overlap with: https://github.com/argoproj/argo-cd/issues/11196 ?

[2022-11-18 09:47] moensch opened #11343 "All fields in v1alpha1.ApplicationStatus should have omitempty json tag"
# Summary

When printing a `v1alpha1.Application` as YAML, several fields within `.Status` are rendered even when empty. Most fields do have the `omitstatus` json tag set, but some have it missing.

Examples:
https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/types.go#L1009-L1015

https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/types.go#L102

[2022-11-18 11:15] ktzsolt commented on #5882
@aldycool  the problem never really was with Deployments but with immutable types like job or cronjob to update their image spec to newer images for example myjobimage:1.0.0 to myjobimage:2.0.0

Any news about my proposed solution on this comment?  https://github.com/argoproj/argo-cd/issues/5882#issuecomment-1155492960

We need "Force" support in the manifest annotation, not just on the UI:

[code

[2022-11-18 11:56] maheshbaliga commented on #10204
Hi @itmustbejj, I am working on this issue. Will raise a PR soon. If the pull request has multiple labels - `exp1` & `exp2`, will the value of `labels` (new field) in the PullRequest struct be a comma separated string like `exp1,exp2`?

[2022-11-18 11:58] barzog commented on #7857
I have the similar problem with following helm chart:
[code]

field 'namespace' in 'subjects' after argocd deploy have value 'argocd'.
Solved it using [lfdominguez](https://github.com/lfdominguez) workaround, but slightly different (not rewrite rolebinding totally, but just replace namespace with following kustomize snippet:
[code]

[2022-11-18 12:28] hontarenko commented on #5592
Same here still facing the issue in 2.5.2
@alexmt

[2022-11-18 14:23] BalzGuenat opened #11348 "`argocd version` and other commands result in error when not in argocd namespace, even with `--namespace` option"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

While not in the `argocd` namespace, the command `argocd version --namespace argocd` fails with the error `FATA[0001] configmap "argocd-cm" not found`. This started to happen after upda

[2022-11-18 15:15] christophercutajar commented on #11088
We're seeing the same issue whereby the UI is showing as `Syncing`.

<img width="762" alt="image" src="https://user-images.githubusercontent.com/60098546/202737515-17b6f54c-cc54-4772-92ad-955fb8b7b87c.png">

Logs showing that `No operations is in progress`

[code]

When I try to manually `Terminate` via the `Terminate` button, nothing happens and get an error highlighting the log as above

<img wi

[2022-11-18 15:25] giepa commented on #4651
We managed to achieve automated vcluster registration with a kyverno policy:
[code]
Thanks @ron1 for the rancher example

[2022-11-18 16:12] the-technat opened #11351 "Allow to save proxy information in credentials template"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When looking at the UI for connecting a Repo and then saving this as credentials template, one can set the proxy:

![image](https://user-images.githubusercontent.com/28305481/202735451-

[2022-11-18 16:17] rumstead commented on #9423
Could this be achieved using the[Git generator](https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Git/#git-generator-files)?

[2022-11-18 18:14] alexef opened #11352 "Helm chart metadata naming convention"
# Summary

Introduce naming convention and expose chart annotations in the ui.

# Motivation

When using helm as an application source, the only revision information shown is the version (as opposed to Git which offers: committer, commit message, date etc). Some users use helm the same as git (any commit to stable branch builds and pushes a new helm chart version). Being able to understand what ge

[2022-11-18 18:28] chrisdoherty4 commented on #7430
@hyei I recall seeing the same thing. The workarounds @24601 suggest seem like they'd smooth things out but certainly wouldn't fix it :(

[2022-11-18 19:07] drewboswell opened #11354 "2.5.x+ navigation bar reduce excessive scrolling"
# Summary

The following navigation area eats into valuable real-estate for operations needing to do filtering. Please allow hiding/collapsing this or even better move the logos somewhere else like the white bar on top.

![image](https://user-images.githubusercontent.com/6523434/202779298-768faef4-2e2a-46ef-ba72-c216413ad8cf.png)

# Motivation
The new navigation pane makes it more aggravating to u

[2022-11-18 19:10] YGwen commented on #11354
Completely agree on that, the new UI feels a bit cluncky.

[2022-11-18 19:28] agaudreault-jive opened #11356 "Allow to sync resources even with ComparisonError"
# Summary

We have remote clusters configured in ArgoCD with restricted permissions in the argocd-manager-role. When a CRD is added to the cluster, either with ArgoCD or with something else, all ArgoCD application will start failing with ComparisionError on that cluster (until the permission is given or the resource is excluded).

[code]

We gave permission to the argocd-manager role to elevate it

[2022-11-18 20:04] agaudreault-jive commented on #11136
Same behavior with `2.5.2`:
`ComparisonError: error calculating structured merge diff: error calculating diff: error while running updater.Apply: converting (v1.Ingress) to (v1beta1.Ingress): unknown conversion`

adding Ingress in case someone hits the issue with that resource.

[2022-11-18 20:39] alexef commented on #11354
Overlap with https://github.com/argoproj/argo-cd/issues/11302 ?

[2022-11-18 20:54] myrondev commented on #9145
I have this issue with ArgoCD 2.2.2 and autoscaling/v1. Hpa works fine:
- pod is running well.
- it scales when the load is happening.

So only one issue here, in Argo in events I see that it's no healthy with the message: unsupported HPA GVK: autoscaling/v2, Kind=HorizontalPodAutoscaler. But I am using autoscaling/v1, strange...

Kubectl:
Client Version: v1.25.2
Kustomize Version: v4.5.7
Server V

[2022-11-18 22:36] crenshaw-dev opened #11359 "Pin all GitHub actions to specific hashes"
To further secure our Argo CD build pipeline, we should [pin all GitHub actions to specific hashes](https://devopsjournal.io/blog/2021/12/11/GitHub-Actions-Maturity-Levels).

[2022-11-19 01:56] #11321 closed

[2022-11-19 02:55] crenshaw-dev commented on #10852
@eddie-knight I just requested Argoproj access from FOSSA.

[2022-11-19 15:48] nmohoric commented on #7352
As far as I can tell the rest API is not exposed (ie /api/v1/applicationsets) as this returns a 404 despite the swagger docs saying it should exist. Am I correct that only a grpc endpoint exists for this right now, or is there something wrong on my end?

[2022-11-19 16:42] sysarch-repo opened #11372 "Support of --set-file during the Helm install/upgrade process"
# Summary

Deployment specific artifacts (e.g. config files, kestores) are linked into the Helm install/upgrade task using the --set-file parameter that associates a values parameter with the external text file, e.g.
`--set-file global.cfgFile=myCfg.json`

Such option does not exist in ArgoCD that only provides for one or more values.yaml files. With this, the config file must be embedded in (one

[2022-11-19 19:46] IvanovOleg opened #11374 "SkipDryRunOnMissingResource doesn't work"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I am configuring an istio virtualservice for the ArgoCD. Resource configuration located in the same sync. Since istio is not installed yet, I need to skip virtualservice. I decided to a

[2022-11-20 01:14] WillAbides opened #11376 "Cache github api requests in ApplicationSet"
# Summary

Make the github api client used by ApplicationSet cache responses.

# Motivation

Using an `scm_provider` generator with `allBranches` leads to a lot of queries to the GitHub API. This takes some time and eats through GitHub's rate limit.

We can save time and rate limit by caching responses and using the `If-None-Match` and `If-Modified-Since` headers to check whether the cached respon

[2022-11-20 09:19] jarviliam commented on #11348
Yeah seems to be an issue with the core installation. It seems that the headless server doesn't use the --namespace flag and defaults to the namespace in the user's kube context.

@crenshaw-dev I can submit fix for this if you don't mind assigning me to it 👍 .

[2022-11-20 17:10] sagimedina1 commented on #11168
@todaywasawesome, why you labeled it as low?
It's extremely problematic and I didn't do anything unusual. I just installed argocd using the bitami helm chart - I guess more ppl have the same problem...

[2022-11-20 17:42] todaywasawesome commented on #11168
I marked it low because it eventually comes back correct and there's a workaround available.

[2022-11-20 18:44] zelig81 opened #11380 "Add almost all Gloo custom health check"
# Summary

I want to add a custom health check to almost every Goo resource. Currently ArgoCD does not include Gloo healthchecks at all.

# Motivation

Argocd out of the box shows Gloo resources as healthy, although in those resources in status they can be degraded.

# Proposal

add all the Gloo resources health checks one by one (I made that in [my PR](https://github.com/argoproj/argo-cd/pull/112

[2022-11-21 00:31] mrysavy opened #11381 "Exposing Application labels in events"
# Summary

I would like to have Application labels also in argo-cd events, the same way as it is possible to have them in Prometheus metrics (see https://argo-cd.readthedocs.io/en/stable/operator-manual/metrics/#exposing-application-labels-as-prometheus-metrics)

# Motivation

Our use-case is almost the same as the one stated in the documentation for [`Exposing Application labels as Prometheus met

[2022-11-21 02:44] drpaneas commented on #9229
I have the same problem with GitHub. Surprisingly the config map has the correct key.

[code]

It’s the same key there is at the argocd repo from [argocd installation](https://github.com/argoproj/argo-cd/blob/a259654e32ea93b1252eaad09d4422930112b85d/manifests/install.yaml#L9983) and it is also the same key I have in my `~/.ssh/known_hosts`.

The problem is:

[code]

Fails.

But with insecure, it w

[2022-11-21 03:55] zhaomingcheng01 opened #11382 "The dex configuration file redirectURIs generated by sso is not prefixed with the unified /api/dex/ prefix"
![image](https://user-images.githubusercontent.com/46734892/202961991-6dba7d67-abee-43b8-9e84-d0afde7002d5.png)

version 2.5.2

[2022-11-21 05:29] theluckiesthuman commented on #9558
@crenshaw-dev I can work on this issue.

[2022-11-21 08:29] StepanKuksenko commented on #10426
@s7an-it hey did you figured out why it happens ? we faced the same issue...

[2022-11-21 08:52] StepanKuksenko commented on #10426
we faced the same issue, in our case it was `argocd-repo-server` lack of CPU issue

[2022-11-21 12:43] quadrinho opened #11385 "Error with field managedNamespaceMetadata"
Checklist:

* [X ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
* [X ] I've pasted the output of `argocd version`.   I have pasted the version of the Argo-Cd chart

**Describe the bug**
Following this documentation:

https://argo-cd.readthedocs.io/en/latest/user-guide/sync-options/#namespace-metadata

I tried to config

[2022-11-21 13:48] jowko commented on #9861
We use ArgoCD in version 2.4.11.

We deploy helm chart which contains a few jobs with Sync hooks and they can take long time to process. We get info, that app is healthy and send emails to users after that when in fact our app is not ready yet. As a fix for now, we will also check if there is an syncing operation before doing any actions, since the operation state for sync is Running when sync job

[2022-11-21 14:18] crenshaw-dev commented on #11385
The `managedNamespaceMetadata` feature was merged, but will not be available until the 2.6 release (about 1 month from now).

[2022-11-21 14:24] nazarewk commented on #9284
Did anyone figure out yet how to implement it using existing tools?

[2022-11-21 14:36] bliemli commented on #3539
On OpenShift, simply create a ConfigMap with the following content:

[code]

This way, the user-ca-bundle content from `openshift-config` automatically gets injected into this ConfigMap, even merged with the system ca-bundle.
Source: https://docs.openshift.com/container-platform/4.11/operators/admin/olm-configuring-proxy-support.html#olm-inject-custom-ca_olm-configuring-proxy-support

[2022-11-21 15:57] crenshaw-dev opened #11386 "Enable password-protected Redis by default"
# Summary

Enable password-protected Redis by default.

# Motivation

Password-protecting Redis is [currently an undocumented feature](https://github.com/argoproj/argo-cd/issues/3130). Adding password protection provides an additional layer of security to protect cached information (e.g. rendered manifests) from unauthorized access.

# Proposal

Randomly generate a password, and store it in a Secr

[2022-11-21 15:58] crenshaw-dev opened #11387 "Enable password-protected Redis for HA"
# Summary

Our HA manifests should support running Redis with password protection. The redis-haproxy config [doesn't currently support auth](https://github.com/argoproj/argo-cd/issues/3130).

# Motivation

Password-protecting Redis is https://github.com/argoproj/argo-cd/issues/3130. Adding password protection provides an additional layer of security to protect cached information (e.g. rendered man

[2022-11-21 16:40] quadrinho commented on #11385
hello @crenshaw-dev ,

so it means we cannot use this feature from now.

Thanks for the reply,

[2022-11-21 16:45] musabmasood commented on #6125
Same here. We have 8 application-controllers and 8 clusters managed by this ArgoCD instance. As you can see the usage is really not distributed.

![image](https://user-images.githubusercontent.com/8170066/203111923-b0af03b3-0521-4548-b8ae-4fd0082f9680.png)

[2022-11-21 16:48] Akinorev opened #11388 "Unable to deploy ArgoCD with HA"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD is unable to deploy correctly with HA. This happens on the namespace of argocd-installation

**To Reproduce**

Upgrade from 2.4.6 to 2.5.1 or 2.5.2

**Expected behavior**

ArgoCD

[2022-11-21 16:57] crenshaw-dev commented on #11385
Correct, you'll have to wait until 2.6 to use this feature.

[2022-11-21 16:57] #11385 closed

[2022-11-21 17:07] Cr4mble commented on #11227
@slig2008 awesome, didn't know that there is an existing workaround for this, that's why i implemented it by myself. My code looks nearly the same except i'm checking also for the name and not only the namespace and the status because it's possible that there are multiple released volumes in the same namespace. Thanks for sharing the link to the workaround.

[2022-11-21 18:14] alexec opened #11389 "Product-market gap for recent log viewer?"
I think there's a gap in the market for a simple log viewer. Currently both workflows and CD use the `PodLogs` API to get logs. This API is good for real-time log streaming. Typically otherwise users go to Splunk or another long term logging facility to get historic logs.

Problems with `PodLogs`:

* No search or filter capability.
* Only suitable for real-time logging.

Problems with logging faci

[2022-11-21 19:05] WillAbides opened #11390 "Generate mocks with make gogen"
I'm not sure this should be an enhancement, but it seems like the best fit of the issue templates.

# Summary

Generate mocks with `make gogen`.

# Motivation

I was doing some recreational coding to explore argo-cd and made a change to a mocked interface. This caused build errors that I expected `make gogen` to fix. I did some searching and eventually found [a PR comment](https://github.com/argop

[2022-11-21 20:33] leoluz commented on #11136
Just to provide some direction for users that might get into this error, the current workaround is disabling SSA in the failing resources by adding the annotation: `argocd.argoproj.io/sync-options: ServerSideApply=false`.
For example, if the error is related to `Ingress` conversion then add the annotation to your `Ingress` resource.

[2022-11-21 20:33] mconigliaro opened #11392 ""invalid session token: failed to verify signature: failed to verify id token signature" with argocd v2.5.2 and dex >= v2.35.x"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I found https://github.com/argoproj/argo-cd/pull/11219, which supposedly fixes https://github.com/argoproj/argo-cd/issues/11071 by using `ghcr.io/dexidp/dex:v2.35.3` instead of `ghcr.io

[2022-11-22 00:53] saddique164 commented on #4174
I am facing the following issue.

Unable to create application: application spec for app1 is invalid: InvalidSpecError: repository not accessible: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp: lookup argocd-repo-server: i/o timeout"

I am running my cluster with bare metal Linux VMS. I have deleted all the network policies by reading the ab

[2022-11-22 04:36] makeittotop commented on #11388
In my tests, a vanilla HA installation of v2.5.2, or an upgrade to it (v2.5.1 -> v2.5.2 for example) both fails at the redis-ha component.

[code]

[2022-11-22 07:28] hyt05 commented on #11392
I encountered the same problem, I integrated with keycloak, click logout on the UI interface, and re-use keycloak to log in to the browser, the following error will appear
[code]
I need to fail 3 times before I can log in successfully

[2022-11-22 10:22] bobertrublik commented on #11166
Are there any updates? :) I would really dislike having to revert all apps to the ArgoCD namespace due to this bug.

[2022-11-22 10:34] YGwen commented on #11302
In my opinion (and experience), filters are the most used feature for day to day operations, and unfortunately having those icons on top of the filters harms the user experience of operators, our company ops team still has 1080p monitors, and it means that they have to scroll down in order to use the filters.
I do think that in this regard, the previous UI was more user friendly and that the UI sh

[2022-11-22 10:51] RamazanKara commented on #4242
Still valid for us. Happens with statefulsets like Loki in combination with PVC Creation with the default gp2 EKS Storage Class

[2022-11-22 11:35] luber commented on #10651
Same on v2.5.0

[2022-11-22 12:46] crenshaw-dev commented on #11166
@yevgeniyo did you also enable apps-in-any-namespace? If not, that sounds like a different bug.

[2022-11-22 12:48] yevgeniyo commented on #11166
@crenshaw-dev no, we have apps on the namespace `argocd`
but web terminal to pods is not working

[2022-11-22 12:57] DeChinees opened #11399 "ArgoCD triggering of grafana annotation not working"
### Problem
We try to create grafana annotations based on argocd statuses' by following this guide: https://argocd-notifications.readthedocs.io/en/latest/services/grafana/
Argocd does not seem to create annotations.

We are running version Argocd 2.5.2 (latest) an several Azure Kubernetes cluster.

Connectivity was tested successfully on the argcd-notification pod with the following curl command
[

[2022-11-22 13:03] crenshaw-dev commented on #11166
@yevgeniyo can you open a new issue for that? This one is specific to apps outside `argocd`.

[2022-11-22 13:09] crenshaw-dev commented on #11166
Threw this together as a start (I can't dedicate too much time to it at the moment): https://github.com/argoproj/argo-cd/pull/11400/files

Would someone be willing to give that a test?

[2022-11-22 16:04] cilindrox commented on #8145
Also seeing the "file checksum validation error" consistently when running `app diff --local apps/foo --server-side-generate` both locally and on the CI server (ephemeral containers, git clone -> helm dep up -> argocd app diff)

[code]

Seems the crc is not being properly computed or there's a difference in the way it's being generated.

[2022-11-22 16:34] Lirt commented on #9198
Any chance someone from ArgoCD team could look at it?

[2022-11-22 16:53] crenshaw-dev commented on #9198
Yep, to reiterate @Lirt's comment, the solution is documented here: https://argo-cd.readthedocs.io/en/stable/user-guide/import/

[2022-11-22 16:53] #9198 closed

[2022-11-22 19:43] cilindrox commented on #8145
Thanks for the quick reply @crenshaw-dev - I'm not seeing any relevant logs on `app.kubernetes.io/name=argocd-server` - (checked every other instance, just in case and still no dice).

Here's the crc client-side:

[code]

Should I be running this with a `debug` log level or similar?

[2022-11-22 20:40] junjunjunk commented on #10679
I think this is a similar issue. https://github.com/argoproj/argo-cd/issues/9594

[2022-11-22 20:57] gnunn1 opened #11402 "Using annotation tracking with multiple Argo CD instances collides on tracking-id"
Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*] I've pasted the output of `argocd version`.

**Describe the bug**

When using Argo CD you can have it track deployed resources by either using labels or annotations. When using labels Argo gives you the ability to set the instance label key so that res

[2022-11-22 21:31] viktorradnai commented on #10442
Thanks @crenshaw-dev I've got it working using the sprig function:
`{{ index (splitList "." .path.filenameNormalized) 0 }}`

[2022-11-22 21:32] crenshaw-dev commented on #8145
Yep, `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` is the same "calculated" checksum as what @joshuasimon-taulia was getting - zero bytes.

Wouldn't hurt, but I don't think there will be much more info. I think the issue is pretty low-level.

Quite possibly. I doubt that the server is receiving the bytes and then just ignoring them. I bet they're not making it over the network

[2022-11-22 21:37] larsks opened #11403 "Ignoring erroneously labelled resources?"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In some situations, OpenShift creates copies of resources: for example, when adding a custom logo to the UI, it copies a ConfigMap from the `openshift-config` namespace to the `openshif

[2022-11-22 21:45] sysarch-repo commented on #9583
@aarontavio , @barthy1
As the helm task provides for a stringArray used as a value into the -f parameter, I have successfully tried out the following setup:

Application set (note, how the valuesFile is set):
[code]

The GIT file (JSON):
[code]

With this, you can define multiple values files to be used.
The applicationSet CR, the application CR and Argo CD seem to deal with this setup correctly,

[2022-11-22 22:34] sysarch-repo commented on #11372
Withdrawn - addressed using helm.fileParameters

[2022-11-22 22:35] #11372 closed

[2022-11-22 22:56] joshuasimon-taulia commented on #8145
we tried the same exercise using `kubectl port-forward` to bypass nginx ingress, and the results were still the same

[2022-11-23 03:53] kxs-sindrakumar commented on #10265
@crenshaw-dev how are we supposed to use this side car for kustomize if we have a private repo to another private repo. When CMP runs kustomize build on the first repo, it doesn't seem to generate the manifest.

[2022-11-23 08:23] awca22 commented on #11388
I'm having the same issue in my namespaced ha install; it seems like the issue is similar to a previous problem with Redis and ipv6. After adding the bind to 0.0.0.0 in the config for sentinel and redis.conf it starts the DB fine, but the HA proxy still shows as 0 masters available, and also, argocd-server is complaining of a timeout against the database.

[2022-11-23 08:39] salaboy opened #11405 "Hide internal resources from graphical view (using annotations)"
# Summary

It will be great to have an annotation to hide internal resources that don't need to be shown to users on the graphical interface.

# Motivation

Some frameworks can add internal resources that are not user-facing and can add a lot of complexity to the visualization of the user facing resources.

# Proposal

Argo cd scans resources for a specific annotation and avoids displaying them in

[2022-11-23 08:44] salaboy commented on #11405
I am attaching here an example with Knative
<img width="1449" alt="Screenshot 2022-11-23 at 08 39 58" src="https://user-images.githubusercontent.com/271966/203502898-475a7d56-67f2-4433-9b0a-c2a6b002762b.png">

Where several resources are coming from `apiVersion: networking.internal.knative.dev/v1alpha1` that can be annotated with a `argocd/internal:true` annotation or ArgoCD can look for the inter

[2022-11-23 08:51] alexef commented on #11405
I have another example where such an annotation would make sense: `istio-root-cert` Secret which shows as an Orphan on every Application.

[2022-11-23 10:16] alexef commented on #11405
@salaboy it would be best if you can bring it to the [Contributors meeting](https://docs.google.com/document/d/1xkoFkVviB70YBzSEa4bDnu-rUZ1sIFtwKKG1Uw8XsY8/edit#) tomorrow (or every Thursday) for discussion

[2022-11-23 10:32] icy commented on #2143
I'm looking for the support too. My case is to execute some pre-hook command before my deployment, which is kinda impossible with argocd (but possible with helmfile).

[2022-11-23 10:52] lucj commented on #2143
@icy could you give this one a try ? https://github.com/lucj/argocd-helmfile-plugin

[2022-11-23 11:04] icy commented on #2143
@lucj , thanks a lot. I will take a look at your plugin.

[2022-11-23 11:55] nitinchavan01 commented on #6076
Hey is it fixed in latest release?

[2022-11-23 12:01] EdmondShtogu commented on #11387
Is there any plan for adding this functionality any time soon?

[2022-11-23 12:04] maikelpoot commented on #11143
We run in to the same problem but not only with a StateFullSet but also with a custom resource where an optional field causes the resource to stay out of sync. This only occurred in the application with ServerSideApply enabled.

<img width="383" alt="afbeelding" src="https://user-images.githubusercontent.com/43137751/203541885-e9188e73-2059-45ab-85de-e84bcf710a42.png">
`password` is the default va

[2022-11-23 12:08] zengzhengrong opened #11407 "Different order helm parameters make save error"
[code]
![image](https://user-images.githubusercontent.com/23110784/203542611-59fadcb1-55df-4198-ab05-26a4071b315a.png)

Above  save is work but

If I change this order ```mongoExpress.enabled```  ```mongoExpress.ingress.enabled``` and save

[code]

![image](https://user-images.githubusercontent.com/23110784/203543021-02b2169a-e0bd-4504-a9c9-a8421aa64626.png)

helm

[code]

[2022-11-23 12:11] kilian-hu-freiheit commented on #11388
I'm also having a similar issue when using ArgoCD HA v2.5.2 all `argocd-redis-ha-haproxy` pods go into `Init:CrashLoopBackOff`. I'm running on a GKE cluster version 1.23.11-gke.300. Downgrading to ArgoCD HA v2.4.17 fixed it for me. I can provide more information about my setup if useful.

[2022-11-23 13:50] keithchong commented on #10772
@Sudhish2607 before you start coding away, could you perhaps show a design/mockup of what it will look like first?  First thing I thought of was what @crenshaw-dev mentioned....how to deal with the text and various bits of info on each card.

[2022-11-23 14:11] csantanapr commented on #11405
What about considering which persona or context?
like admins might want not want to hide when debugging something
Maybe a setting in the console to toggle the feature?

[2022-11-23 14:40] SergeyLadutko commented on #4116
Can i make this button with Lua ?

[2022-11-23 14:55] Tylermarques commented on #4174
Like to add that I am in the same position as @saddique164. I've been trying for the last 3 days to get ArgoCD running on a K3S cluster, made up of bare metal + VMs, without any luck. The message I am regularly running into is
[code]
in `argocd-server` and
[code]
in `argocd-application-controller`. These errors originate in the `controller/clusterinfoupdater.go` file on either line 70 or 80 [link]

[2022-11-23 14:59] alexef commented on #11405
I like this idea. A checkmark like "Show Orphaned" - "Show Hidden"?

[2022-11-23 17:05] 34fathombelow commented on #11388
If everyone could please provide me a few additional details about your particular cluster setup in your comments.
Cluster type?  Eg. GKE, AWS, Azure, Digital Ocean?
CNI your are using?
Kubernetes version
IP family?  IPv4, IPv6, dual stack, or IPv6 disabled
Are you using a service mesh?

[2022-11-23 17:44] williamcodes commented on #6880
I would also highly appreciate that!

[2022-11-23 18:41] IvanovOleg opened #11408 "Matrix generator of SCM + PullRequest doesn't work"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to get PRs automatically discovered by an application set that uses a cobination of SCM and PullRequest generators in matrix. It looks like they don't work together because

[2022-11-23 23:26] trevenrawr commented on #11204
Huge "plus one" here.  Would love to use this for [helm-based deployments](https://argo-cd.readthedocs.io/en/stable/user-guide/tracking_strategies/#helm) and it seems like it should be supported since Argo itself uses a ["v"-prefixed semantic version](https://github.com/argoproj/argo-cd/blob/master/common/version.go#L59).

[2022-11-23 23:29] EronWright commented on #3027
To recap, ArgoCD supports the ["exec" approach](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins) for obtaining client credentials.  See the documentation on [Declarative Setup - Clusters](https://argo-cd.readthedocs.io/en/release-1.8/operator-manual/declarative-setup/#clusters) for details.

Your ArgoCD image must contain any executables needed

[2022-11-24 00:29] Tylermarques commented on #4174
Thanks for replying @saddique164. I've added the cluster, deleted the network policies, and haven't used the demo. I'm trying to use a known good helm repo, one I wrote which works as expected when I run `helm install ___ .`

For anyone else having similar errors as below, I would recommend you go through the debugging process [found here](https://kubernetes.io/docs/tasks/administer-cluster/dns-de

[2022-11-24 01:41] tossmilestone commented on #10655
Hope this feature could be done in 2.6.0, it's very important if we want to support isolation of applicationset into multi-namespaces.

[2022-11-24 07:33] patrickbardo opened #11410 "Add namespace field to application creation in UI"
# Summary

We have adopted the apps in any namespace model with argocd, and would like teams to manage their own application resources. However if they create the resource using the UI (as we expect teams will when they first onboard using argocd), there is no way to set the namespace unless they edit the YAML (which will be unintuitive for most).  I am proposing adding a namespace field to the ap

[2022-11-24 08:02] nhuray commented on #11073
It's definitely a feature all ArgoCD users would benefit. At the moment the workaround is to deploy 2 ArgoCD instances.

[2022-11-24 08:21] salaboy commented on #11405
sounds good to me.. I would call it "internal" but I am biased by the knative API concepts.

[2022-11-24 08:50] tobiasake commented on #11305
Hi @34fathombelow

Sorry for late answer.

Here is the answer I got from internal Ericsson project:
“Through the Linux distribution currently provided in the Dockerfile for ArgoCD, the current version of ArgoCD has a dependency with BerkeleyDB library which is a free software licensed under Sleepycat license, which is a copyleft license. To be able to use ArgoCD without strict license obligations,

[2022-11-24 09:14] sboschman opened #11411 "Add applicationset metrics"
# Summary

The application controller exposes multiple app specific metrics (e.g. `argocd_app_info`). The applicationset controller on the other hand exposes just the default golang metrics (e.g. `go_info`) and some common controller metrics (e.g. `controller_runtime_active_workers`). The `ApplicationSet` resource itself does expose conditions (e.g. ApplicationSetUpToDate) in its status object. Ex

[2022-11-24 09:16] GretUp opened #11412 "Teams Notifications Application not working"
I have installed Argo CD Notifications, triggers and templates and followed the instructions on:
https://argocd-notifications.readthedocs.io/en/stable/services/teams/

When applying the application.yaml with " --validate=false":
[code]

I am getting following error:

[code]

I saw that others had the same issue: https://github.com/argoproj-labs/argocd-notifications/discussions/374

[2022-11-24 09:31] martijncalker commented on #10618
Yes, I think a badge would be great. I've looked into stuff like renovate as well, but it seems difficult to setup for what feels like a relative simple action.

I just noticed that Rancher already provide this information:

![rancher-upgradable](https://docs.portworx.com/img/rancher-upgarde-app.png)

[2022-11-24 10:37] benjamin-bergia commented on #3205
Hi,

sorry to come back on this but it looks like on v2.5.x this is back to the original behavior (cascade by default).
Is there any way to define on applicationsets and application that deletion shouldn't be cascading by default in the current version? Is removing the finalizer effective and the recommended way to go? I manage my applicationsets with argocd itself so I can really pass CLI options

[2022-11-24 11:34] rchinni-mn opened #11414 "UI getting crashed."
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Version**

[code]

**Logs**

[code]

[2022-11-24 11:34] #11414 closed

[2022-11-24 11:49] PengLingJun opened #11415 "parameters override not ready work for kustomize"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

parameters override not ready work for  kustomize

**To Reproduce**

**Expected behavior**

Project Yaml
[code]
then, I use that cli command to parameters override

[code]
wait 30s
sync

[2022-11-24 13:30] myrondev commented on #8818
Where did you change this? In ArgoCD values file?

[2022-11-24 13:37] otherguy commented on #11388
Same issue here.
* Cluster type: GKE
* Kubernetes version: 1.24 (v1.24.4-gke.800)
* IP family: IPv4
* Service mesh: no

[2022-11-24 14:04] myrondev commented on #6017
Where id you change argocd-repo-server image?

[2022-11-24 14:12] awca22 commented on #11388
I had the issue in version v2.5.1, and v2.5.2 had to rollback to 2.4.6 where it is working fine.
Cluster type: TKG-based Cluster
CNI: Antrea
Kubernetes: 1.19.9
IP family: IPv6 disabled
Are you using a service mesh: no

[2022-11-24 14:45] myrondev commented on #9200
Hi, on 2.5.2 there is the same issue.

[2022-11-24 15:11] dbaudracco commented on #10679
Yup that looks like the same issue.
In my experience it happens regardless of the `manifest-generate-paths` annotation however.

[2022-11-24 15:13] tsawada commented on #2224
has anybody got `--header` working with IAP?
I tried
[code]
and also with `--header "X-Goog-User-Project: my-project-name"` but no luck

[2022-11-24 15:13] Marvin9 commented on #11249
Might be similar to https://github.com/argoproj/argo-cd/issues/9754

I don't think it is possible to override scss as its declarations are lost once UI build is done.

[2022-11-24 16:06] yogeek commented on #10627
Hello @leoluz , is this fixed only in master for now ? and if it is, when will this fix be released please ?
because we just enable serverSide Apply in our ArgoCD 2.5.2 and we have a flapping Sync<=>OutOfSync issue on multiple resources like kyverno ClusterPolicy because of empty fields.

[2022-11-24 17:18] junjunjunk commented on #10679
To recap, this issue is probably caused by as below.
1. several Applications reference the main branch.
2. Commit changes to the main branch with changes made to files not referenced by the Application.
And then, All application update "CurrentSyncStatus".(perhaps app.Status.SyncStatus .SyncResult )
3. But there are no differences in manifests referenced by applications.
So applications don't perf

[2022-11-24 17:28] junjunjunk commented on #10679
To resolve this issue, one of the following patterns would be selected.

- Changes automated-sync-semantics
- Changes the behavior webhook & `manifest-generate-paths`
- Add a new annotation option to solve this issue.

Realistically, changing semantics is too big a change in specifications.
However, since `manifest-generate-paths` is an annotation about cache handling, it seems unhealthy to change

[2022-11-24 17:51] lfdominguez commented on #7857
I fixed using directly the `namespace` anotation on helmChart entry.

[2022-11-24 17:51] #7857 closed

[2022-11-24 19:11] 34fathombelow commented on #11388
I created PR #11418 if you could please test the [HA manifest](https://raw.githubusercontent.com/34fathombelow/argo-cd/redis-ha-ipv4/manifests/ha/install.yaml) in a dev environment and provide feedback.   This will be based on the master branch and is not suitable for production.  IPv6 only environments will not be compatible.

I will also conduct testing on my side over the next few days.

[2022-11-24 20:01] gabrielfsousa opened #11419 "helm chart in Harbor wont deploy"
Argocd Version : v2.5.2
Harbor  Version: v2.6.0

[code]
[code]
![image](https://user-images.githubusercontent.com/722744/203856728-01ea418d-1b2b-42a2-b8e8-61fc221b371c.png)
![image](https://user-images.githubusercontent.com/722744/203856842-18bd40d5-0896-47b5-9942-68a297beac67.png)

[code]
[code]

[2022-11-25 06:10] timgriffiths commented on #11100
Without the ca file being present the non-secure repo's don't work, you get certificate errors as we are using a self-signed certificate

[2022-11-25 07:44] nhuray commented on #9101
From my perspective that feature would be useful in certain cases but it probably bring more complexity to the controller code because of the diff computation to make.

One thing I would prefer it's to be able to define the policy (e.g `create-only`) at ApplicationSet level and not globally at controller level.

This would allow to define different strategy per-environment, so for instance:
 - a P

[2022-11-25 07:54] shukawam opened #11421 "Add discovery-endpoint to oidc.config"
# Summary

For example, I would like to be able to specify the discovery-endpoint in the `oidc.config` as follows.

[code]

# Motivation

I think that I need to support cases that the OIDC-Discovery Endpoint configuration is not in the bellow format.

`https://<issuer-url>/.well-known/openid-configuration`

[2022-11-25 08:28] quoc9x commented on #9809
I have the same problem when I upgraded ArgoCD to version 2.5.2
This workaround works for me.
Thank bro!

[2022-11-25 08:29] quoc9x commented on #9809
I have the same problem when I upgraded ArgoCD to version 2.5.2
This workaround works for me.
Thanks bro!

[2022-11-25 08:30] quoc9x commented on #9809
I have the same problem when I upgraded ArgoCD to version 2.5.2
This workaround works for me.
Thanks bro!

[2022-11-25 10:06] obiesmans commented on #9200
Hello, I have the same issue with and without the `--server-side` flag. Running 2.5.2 server and client.

[code]

[2022-11-25 10:10] BWagenerGenerali commented on #8818
This is in the ArgoCD custom resource: [docs](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#repo-options).

[2022-11-25 10:41] fabricepipart1a commented on #7521
I confirm this is an important improvement for us. Out Argo user is not cluster-admin and needs to be able to administer a set of namespaces. We expect Argo to scan the content of those namespaces and create the necessary objects in it. The list of namespaces is dynamic since we also need to be able to create namespaces (we already addressed that part with configuration at cluster level).
But we w

[2022-11-25 11:20] vedarths commented on #9422
Hello! Please could someone let me know what version of Argocd we are looking at with the fix for this issue?
I tried to use latest version (2.5.2) but I still see the issue. Please could you help me know what I am missing?
Thanks!

[2022-11-25 11:44] ku524 commented on #9014
@mikutas Could you explain your case, please?
I experienced same issue nowadays, and coincidentally, we are also using external-secret

[2022-11-25 12:30] gabrielfsousa commented on #11419
Manage to found out the issue.
This chart was using same old APIs, but in ARGOCD there are no logs about that

[code]

[2022-11-25 13:45] adrianmoisey opened #11426 "Disabling of build-in tools not working"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I am attempting to disable kustomize, as described here: https://argo-cd.readthedocs.io/en/stable/user-guide/tool_detection/#disable-built-in-tools
Unfortunately kustomize still works

[2022-11-25 13:53] adrianmoisey commented on #8437
I think https://github.com/argoproj/argo-cd/pull/8514 fixes this issue

[2022-11-25 14:09] unredundant opened #11427 "SSH Key Invalid format on app create despite valid repo connection status"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hey.  I'm trying to set up a private repo using an SSH key in argo cd, and am either running into a bug or a very opaque error.  I can (seemingly) successfully add the repository to arg

[2022-11-25 14:28] adrianmoisey commented on #11426
The more I look into this, the more I wonder if it's something being cached

[2022-11-25 17:08] praveenperera commented on #11427
Had the same problem, had to switch to RSA format keys:

[code]

https://github.com/argoproj/argo-cd/issues/9122#issuecomment-1275471409

[2022-11-25 17:22] alexef commented on #11419
So I guess this issue can be closed then?

[2022-11-25 17:42] gabrielfsousa commented on #11419
yes, but the log system could be improved.

[2022-11-25 20:02] KevDBG commented on #10651
Same here !

[2022-11-25 20:10] crenshaw-dev commented on #10651
Just to double-check... are y'all doing hard refreshes to bust the cached error message?

We should probably include this flag in the cache key.

[2022-11-25 20:11] GalvinGao commented on #8776
I think we can close this as #10311 is merged :D

[2022-11-25 20:26] unredundant commented on #11427
ah interesting I'll give that a go, the key I tried was in `Ed25519` format

[2022-11-25 20:48] KevDBG commented on #10651
Hello @crenshaw-dev ,

No, I haven't tried. I am doing test on Minikube, so at this step I'm starting a new cluster. How to do that ?

[2022-11-25 21:26] omBratteng commented on #8776
Unsure if it is actually out. I see @crenshaw-dev added, and then removed, the cherry-pick label.
Unsure how the release process for this works. But last time I checked (some while ago), the fix wasn't properly out yet.

[2022-11-25 21:28] omBratteng commented on #8776
Never mind, just checked now. It's out on the stable version of the docs.

[2022-11-25 21:51] #6686 closed

[2022-11-25 21:51] #9528 closed

[2022-11-25 21:52] #7443 closed

[2022-11-26 06:45] rowi1de commented on #6686
@crenshaw-dev awesome , thanks for fixing 🚀

[2022-11-26 11:02] rodrigo14miguel commented on #11249
Hi @Marvin9
yes it does seam similar. ill close this one in favor of #9754

[2022-11-26 11:02] #11249 closed

[2022-11-26 14:26] Glutamat42 commented on #11388
- Provider: DigitalOcean
- Kubernetes Version: 1.24.4-do.0
- Default settings (not sure if ipv6 is enabled, can't find an option for it)

My results:
v2.5.2 non HA: All pods are starting
v2.4.17 HA:  All pods are starting
v2.5.2 HA: Redis not starting
[code]
Most of the time Status of failing Pods is `Init:0/1`
@34fathombelow All pods are starting

[2022-11-26 19:43] crenshaw-dev commented on #11387
@EdmondShtogu in my mind, yes. 😄 I'm not precisely sure when I/someone will get to this though.

[2022-11-26 21:09] pasha-codefresh commented on #8776
Let close it @omBratteng ?

[2022-11-26 21:10] #8776 closed

[2022-11-26 21:45] omBratteng commented on #8776
Should be closed now.

[2022-11-26 23:51] crenshaw-dev commented on #11426
Even if the response is cached, changing the allowed tool setting should probably bust the cache (or otherwise preclude returning manifests from a disallowed build tool).

[2022-11-27 04:12] leotomas837 commented on #2437
@iam-veeramalla Thanks for the tip, especially that is now released. Yet that is based on the strategic merge patch I assumed, is there any way to apply a json patch ? Json patches offer more complex patch possibilities that the strategic merge patch does not support and I am typically using one, which a lot of people are certainly using: a json patch to patch the `aws-auth` cm to map AWS roles to

[2022-11-27 05:39] cyrus-mc opened #11444 "New sidecar plugin does not support repositories that contain `symlinks`"
**Describe the bug**

I am attempting to upgrade from 2.2.5 to 2.5.2 and moving our custom plugins to the new style `sidecar` approach. Our repositories contain some `symlinks` used to share helper code, etc.

In attempting to setup the new sidecar plugin I am receiving the following error:

[code]

**To Reproduce**

Create an application source repo that contains `symlink` files and configure App

[2022-11-27 08:25] cyrus-mc commented on #8820
This is an issue still and is blocking me from upgrading past 2.2.x version.

In 2.2 git-ask-pass.sh were trivial as the GIT_USERNAME and GIT_PASSWORD were exposed via the environment.

In 2.5 that isn't the case.

[2022-11-27 14:14] liorfranko opened #11446 "Override sync-options per resource"
# Summary

We want to override the Application's Prune config per specific resources that we know that are not critical.

# Motivation

A common operation of us, is to disable autoscaling and manually set number of replicas.
We use Keda, so this change, delete ScaledObject, and set a number of replicas, and for applications with Prune=False we need to go to the UI and manually sync + prune.
We con

[2022-11-27 14:33] crenshaw-dev commented on #11444
Due to a few [symlink](https://github.com/argoproj/argo-cd/security/advisories/GHSA-q4w5-4gq2-98vm)-[following](https://github.com/argoproj/argo-cd/security/advisories/GHSA-6gcg-hp2x-q54h) [vulnerabilities](https://github.com/argoproj/argo-cd/security/advisories/GHSA-63qx-x74g-jcr7), we [disabled](https://github.com/argoproj/argo-cd/issues/9738) all out-of-repo-bounds symlinks by default starting

[2022-11-27 17:38] joyrex2001 commented on #11399
This looks related to: https://github.com/argoproj/notifications-engine/issues/77

[2022-11-28 00:27] tooptoop4 opened #11448 "one bad app blocks other apps in app-of-apps"
steps to reproduce:
1. have 5 well formed apps deployed in your app-of-apps
2. commit a badly formed 6th app, errors as expected
3. commit a well formed 7th app (but don't touch 6th app so its still bad) - 7th app fails to sync (when expectation is that it should)

see
![image](https://user-images.githubusercontent.com/33283496/204168128-5c249a6d-4a32-42cb-a462-34031f154f40.png)

by badly formed i

[2022-11-28 00:39] tooptoop4 opened #11449 "option to show helm dry-run/debug output in the UI"
if a helm app fails to deploy due to yaml issues now it just shows 1 line error. would be great if it could show the dry-run/debug output in the UI

[2022-11-28 00:40] tooptoop4 opened #11450 "option to pause repo connection"
if git connection uses user/pw, a pw rotation can cause the user account to get locked as repo server freqently queries git. would be great to have button in the ui to pause the repo connection, update pw that argo knows for the repo then unpause the connection

[2022-11-28 00:44] tooptoop4 opened #11451 "option to temporarily scale down all apps from the ui, then back to normal"
if some apps use a user/pw, a pw rotation can cause the user account to get locked as the apps still trying to use old pw

would be great to have  button in the ui to scale down the apps to 0 replicas, do the rotation inc update k8s secrets, click button to rescale up all apps to their original replicas

[2022-11-28 05:05] dhirschfeld opened #11455 "Allow filtering pod logs by regex"
# Summary

The ability to filter pod logs is very useful however it appears that you can only filter by simple strings. This feature would be even more useful if you could provide a regex to use to filter the logs.

# Motivation

e.g. I want to filter out DEBUG and TRACE logs, or only include WARNING or ERROR logs, or generally to filter by more than one condition. Other examples might be to only

[2022-11-28 05:06] dhirschfeld commented on #11455
It appears the original feature was implemented in https://github.com/argoproj/argo-cd/pull/5319

[2022-11-28 05:13] dhirschfeld commented on #10772
I'm interested in this feature as I have a wide tree and more vertical screen real estate than horizontal.

![image](https://user-images.githubusercontent.com/881019/204198937-56ef1b7a-6b6e-4a96-ad38-48a220834662.png)

[2022-11-28 05:18] dhirschfeld commented on #10772
With graphviz the ability to toggle the direction of the graph is called `rankdir`:
https://graphviz.org/docs/attrs/rankdir/

Just mentioning as a datapoint - I don't think `rankdir` is a particularly good/obvious/discoverable name for this feature!

[2022-11-28 08:00] adrianmoisey commented on #11426
Agreed!

Another method I've been using for testing:

1. Deploy ArgoCD to a cluster (using the argo-cd helm chart)
2. Restart all ArgoCD components
3. Login to the ArgoCD UI and add a project pointing at https://github.com/argoproj/argocd-example-apps/tree/master/kustomize-guestbook
4. Watch it deploy
5. Delete the said app
6. Edit the ConfigMap named argocd-cm
7. Add kustomize.enable: "false" to

[2022-11-28 09:29] attiferosisal opened #11457 "Problem integrate oracle cloud client as authentication provider"
### Discussed in https://github.com/argoproj/argo-cd/discussions/11423

<div type='discussions-op-text'>

<sup>Originally posted by **attiferosisal** November 25, 2022</sup>
Hi,

I'm trying to use the execProviderConfig to authenticate throw oracle cloud client.

 I will try to explain what I did.

1) I recompiled the 2.5.2-debian-11-r6 argo image and I install into that the package needed to inst

[2022-11-28 10:54] andreasschramm opened #11458 "argocd applicationcontroller stops working/syncing"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After running for some time, application controller stops working, just sitting there and not watching/syncing objects. We can observe the goroutines within the controller dropping shar

[2022-11-28 14:29] danhawkins commented on #11071
I found I had to set this in:
[code]

In latest helm chart, there is a separate config map that the dex chart references here

[code]

[2022-11-28 15:21] crenshaw-dev commented on #11071
@danhawkins you had to disable TLS even when running non-distroless Dex?

Just for folks landing here from search: **disabling TLS is a security downgrade, and you should not do it if you can at all avoid it!!!** If at all possible, focus on finding the root cause of the issue and solving it without disabling encryption of the very sensitive Argo CD <-> Dex traffic.

[2022-11-28 18:00] gaeljw commented on #4191
This also applies to every operations. On top of my head: Sync button should not appear. Probably some other buttons as well.

[2022-11-28 19:28] IxDay commented on #11116
Got exactly the same bug. I also tried to scope the default appproject to the defined namespaces just in case. It did not work and I am in the same situation as @mrysavy

[2022-11-28 21:11] frantjc opened #11464 "ApplicationSet w/ SCM Provider generator + GitHub Enterprise maintenance = generated Applications deleted"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When you create an ApplicationSet that uses the SCM Provider generator pointed at an Organization in GitHub Enterprise and it generates an Application, when that GitHub Enterprise insta

[2022-11-28 21:21] crenshaw-dev commented on #11464
@frantjc the ApplicationSet controller uses the GHE API to populate the output of the SCM Provider generator. Do you have samples of what the GHE API returns for those API calls when GHE is in maintenance mode?

My hope is that it would return a non-200 response code, and the ApplicationSet controller would refuse to proceed with reconciliation. But it sounds like either a 200 is returned, or the

[2022-11-29 00:45] aarosil opened #11466 ""Importing Argo CD go packages" workaround isn't working"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I'm following the doc [here](https://argo-cd.readthedocs.io/en/stable/user-guide/import/#importing-argo-cd-go-packages), but instead of the `v0.0.0` error, I get a different one which i

[2022-11-29 02:11] #11466 closed

[2022-11-29 03:42] yujunz opened #11473 "App health displayed healthy despite of degraded pods"
**Describe the bug**

App displayed healthy despite of degraded pods

**To Reproduce**

Make some pod of daemon degraded, e.g. image pull error

**Expected behavior**

App health displays degraded health

**Screenshots**

<img width="383" alt="Screen Shot 2022-11-29 at 11 38 22" src="https://user-images.githubusercontent.com/6813397/204432972-621af3e1-ae2b-4eb7-a4f2-c5542e6a0b4b.png">

**Version**

[2022-11-29 04:59] geowalrus4gh commented on #11100
we are also affected by this while upgrading ArgoCD from v2.3.4 to v2.4.17. Any workaround for this or any fix planned ?

[2022-11-29 07:39] emoxam commented on #4410
now keel takes docker images and loads it to the k8s. I want argo to do this. Does argo support docker container registries ? I am using gitlab. How to setup this CR repo?

[2022-11-29 09:16] nagavijayan-nagarathinam commented on #9593
Any Update on this issue ?

[2022-11-29 11:02] ChristianZaccaria commented on #1640
Hi Pau, that's exactly what I'm looking for with Argo CD. Is there any documents I can read more about how this can be done? Thanks so much!

[2022-11-29 11:34] drewboswell commented on #11354
It doesn't really address the same problem although @YGwen's cross posting on this might end up merging both.

[2022-11-29 11:35] drewboswell commented on #11302
This would be way better than the current layout for sure (see issue #11354 )

[2022-11-29 13:59] Tylermarques commented on #4174
@irizzant Are your argo pods all on the same node? My issue only showed it's head once a pod was scheduled on a separate node from the others.

[2022-11-29 14:39] alexef commented on #11302
@ropsii should filters take all vertical space? (so move the page title and the action buttons to the right to make space for them)?

[2022-11-29 14:58] ropsii commented on #11302
@alexef I understand the motivation, but that would be logically incorrect since they control what's right of them. I think that would make the page hierarchy confusing.

[2022-11-29 15:14] crenshaw-dev opened #11477 "bump github.com/xanzy/go-gitlab from 0.60.0 to 0.76.0"
# Summary

go-gitlab needs to be updated.

# Motivation

Just to avoid falling behind the latest bugfixes.

# Proposal

Manually update, because the [dependabot PR](https://github.com/argoproj/argo-cd/pull/11470) was failing checks. I think a public method was removed.

[2022-11-29 15:19] crenshaw-dev commented on #11111
@ashutosh16 looks like we missed a spot.  :-)

[2022-11-29 15:33] mhonorio commented on #6055
Looking forward to this feature too. I have a lot of applications getting stuck and timeout would be great to not block the others resources that it's not related.

[2022-11-29 15:56] alxivanov commented on #10391
I know this an old issue, but for anyone who stubles across this problem there is a workaround that might help:
`oc edit deploy argocd-server` -> Add the following annotations:
              traffic.sidecar.istio.io/excludeOutboundIPRanges: "172.30.0.1/32"
              traffic.sidecar.istio.io/excludeOutboundPorts: "443"
I think they can be added to your kustomization.yaml file along with sidecar

[2022-11-29 15:57] aslafy-z opened #11478 "Cascade sync app-of-apps"
# Summary

Add an option in the CLI that cascade syncs to all sub-apps (multi-level app-of-apps).

# Motivation

In my test deployments I want to ensure that I'm in a synced state.

# Proposal

Add a `--cascade=true` flag to the `argocd app sync` subcommand.

# Additional informations

ref #1932

[2022-11-29 16:13] attiferosisal commented on #11457
Hi all,
I did some debug with breakpoint and I saw that when I arrive add an application with cluster setup with execProviderConfig I execute the function

	func request_ApplicationService_Create_0(ctx context.Context,
				marshaler runtime.Marshaler,
				client ApplicationServiceClient,
				req *http.Request, pathParams map[string]string) (proto.Message, runtime.ServerMetadata, error)
	{
	var pro

[2022-11-29 17:03] caerulescens commented on #5608
The latest releases for `argo-cd` helm chart and `kube-prometheus-stack` helm chart work together now; see [here](https://github.com/argoproj/argo-cd/issues/820#issuecomment-1246960210). The important part is specifying `- ServerSideApply=true` for `kube-prometheus-stack`. This issue should be closed because the default valued charts work together; I tested using `minikube` locally.

[2022-11-29 17:13] #11359 closed

[2022-11-29 17:28] frantjc commented on #11464
Hi! GitHub Enterprise appears to be properly reporting its "error" state when in Maintenance mode:

Normal:
[code]

[code]

[2022-11-29 17:34] crenshaw-dev commented on #11464
Thanks! I bet this needs to check the response status. I'm guessing the GitHub client doesn't return an error for a non-200 response code. https://github.com/argoproj/argo-cd/blob/362abff610d81a4878e53cecb78dcb2902776f5b/applicationset/services/scm_provider/github.go#L48

[2022-11-29 17:38] frantjc commented on #11464
I suspected the same. Looking here: https://github.com/argoproj/argo-cd/blob/362abff610d81a4878e53cecb78dcb2902776f5b/applicationset/services/scm_provider/github.go#L73

I see that this particular function call appears to potentially return information about the request outside of just the parsed body (the `resp` variable)--perhaps that contains the HTTP status code that could be checked?

[2022-11-29 20:15] cyrus-mc commented on #11444
I am going to close this off. I re-factored our repo layout to remove dependency on `symlinks`.

[2022-11-29 20:15] #11444 closed

[2022-11-29 20:33] PeterSR commented on #8771
I ended up bumping from `argoproj.github.io/argo-helm` chart version `3.33.0` to `5.14.3` which bumps ArgoCD from `2.2.3` to `2.5.3`. This solved the issue for me.

[2022-11-29 20:49] irizzant commented on #4174
@Tylermarques my pods are all in the same node

[2022-11-29 21:47] jacek-jablonski opened #11492 "Support for authenticating to helm OCI repositories with tools like `docker-credential-gcr`"
# Summary

Related discussion: https://github.com/argoproj/argo-cd/discussions/10644

ArgoCD should have some kind of support for authenticating to cloud-hosted OCI repositories (f.e. GCP Artifact Registry) using tools like docker-credential-gcr.

# Motivation

As the popularity of cloud-hosted repositories is increasing, the possibility of using them in ArgoCD should be easier. Currently, to be a

[2022-11-29 22:16] saddique164 commented on #4174
@irizzant  also check coredns pods. If they have been restarted then check the logs for any error. If you find any issue. Just restart coredns pods.

[2022-11-29 22:34] #11277 closed

[2022-11-29 23:44] jlewi opened #11494 "Retrying failed sync's block newer commits; how to achieve declarative, level based gitops semantics?"
I originally raised this in https://github.com/argoproj/argo-cd/discussions/11276
I have since observed this behavior repeatedly and so I'm raising it as an issue.

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD will keep ret

[2022-11-30 04:41] dowlingw opened #11496 "Build environment variables not always rendered in manifest"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When updating the Target Revision from an empty string for an application, the rendered manifest is intermittently rendering without Build Environment variables being substituted.

**To

[2022-11-30 04:43] dowlingw commented on #11496
Actually, just now we've seen this present differently - same reproduction steps but in this scenario it is rendering in the diff output but failing when syncing.

![image](https://user-images.githubusercontent.com/1167455/204709437-a19e544b-5098-46e4-b131-0c0a9721df7e.png)

[2022-11-30 05:38] alexef commented on #11492
is this a duplicate of https://github.com/argoproj/argo-cd/issues/10218 ?

[2022-11-30 06:24] tossmilestone commented on #7689
@jannfis , a `ServiceAccount` maybe not enough to specify an `user`, a `subject` like the `subjects` in `RoleBinding` will be more adequate. Our platform have been deeply bound to k8s RBAC, every user in our platform has it's particular RBAC configuration. And the user is not authorized by `ServiceAccount` but `username`, such as:

[code]

[2022-11-30 06:26] zetti12345 commented on #9607
Is there a workaround possible?

[2022-11-30 06:34] irizzant commented on #4174
@saddique164 I checked coredns pods and found no errors

[2022-11-30 06:55] yyzxw opened #11497 "check the legitimacy when creating the repository"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

1. when creating a helm repository, if the URL format is incorrect or the repository cannot be connected, it can still be created successfully.
<img width="1722" alt="image" src="https:

[2022-11-30 06:56] scalen commented on #7689
This is how k8s impersonation (using `--as` on the command line) works 🙂 It should be very possible (though a massive refactor) to define a mapping between ArgoCD users/groups/roles and k8s users/groups/service accounts, then use k8s impersonation to carry out any k8s commands from ArgoCD as the appropriate k8s user/group/service account.

See my previous comment for more detail: https://github.co

[2022-11-30 08:07] chakch opened #11498 "Create a centralized UI for multiple Argocd instances"
# Summary

When we deploy multiple Argocd instances, It's difficult to follow what happens in all cluster. We need to login to each UI.
Having a centralized Argocd to deploy in all cluster, may lead to high privilege.

# Motivation

Having an centralized UI can make user management easier by providing a core deployment for each cluster and unified user management.

# Proposal

api-server should su

[2022-11-30 08:08] tossmilestone commented on #7689
Yes, that's exactly what we want. Hope the feature is done quickly!

[2022-11-30 08:53] developer-guy opened #11499 "Add mastodon as new notification channel"
# Summary

[Mastodon](https://joinmastodon.org) is free and open-source software for running self-hosted social networking services.

# Motivation

Mastodon will become one of the leading social networks in the industry. So, there is considerable interest in moving out from Twitter to Mastodon these days.

# Proposal

There is a Go SDK of the Mastodon API[^1], so we can add Mastodon as a new notif

[2022-11-30 09:00] myrondev commented on #9200
Hi, I updated ArgoCD to 5.14.1 and added  **config:
    helm.valuesFileSchemes: http, https, secrets** and issue seems to be resolved.

[2022-11-30 09:02] attiferosisal opened #11500 "Problem integrate oci client with execProviderConfig"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hi,

I'm trying to use the execProviderConfig to authenticate throw oracle cloud client.

I will try to explain what I did.

- I recompiled the 2.5.2-debian-11-r6 argo image and I insta

[2022-11-30 09:38] saddique164 commented on #4174
@irizzant  after deleting the policy restart redis-server , argocd server and argocd-repo-server pods. Kill them and let them be alive. If you are not working on production server, also restart coredns pods. I believe that tit will resolve your issue.

[2022-11-30 09:40] jacek-jablonski commented on #11492
Yes, it seems like its a duplicate. I like the upcoming solution with ESO. Closing in favour of #10218 .

[2022-11-30 09:40] #11492 closed

[2022-11-30 10:19] bobertrublik commented on #11166
Yes it worked! I built the image from your PR, deployed it to my dev environment and was able to create a terminal for apps in other namespaces. The only bug I have left is the App links in App of App configurations being broken since the namespace is missing in the URL call.

However thank you very much!

[2022-11-30 10:22] otherguy commented on #11388
I can confirm that this is solved with 2.5.3.

Thank you!

[2022-11-30 10:28] irizzant commented on #4174
@saddique164 the workaround you described seems to work for me ( like I said, no problem was detected at DNS level) but that's also a confirmation that there's something wrong with the NetworkPolicy resources

[2022-11-30 10:31] radoslav-tomov commented on #11126
Had the same issue and traced it to NodeLocal DNSCache. In our case the DNS was using different port than 53 TCP/UDP.  Adding the port to the egress configuration solved it for me.

[2022-11-30 10:42] otherguy opened #11503 "Issue with ArgoCD behind Authenticating Proxy (custom headers?)"
We're using ArgoCD behind [Cloudflare Access](https://www.cloudflare.com/products/zero-trust/access/), which enforces SSO login but I imagine the issue would be the same with other authenticating reverse proxies.

Basically, internal API requests are not authenticated and redirect to the login page, making things like the `Events` tab fail to load.

<img width="1460" alt="CleanShot 2022-11-30 at 1

[2022-11-30 11:22] abdulbello5 opened #11504 "Argocd GO Vulnerabilities (CVE-2022-41715 CVE-2022-30630 CVE-2022-30630)"
Is there any plan to resolve "CVE-2021-38297". I have just upgraded my argocd to v2.5.2 hoping that would resolve the vulnerability but i am still getting alert for that CVE and CVE-2022-23806 as well (GO).

[2022-11-30 12:43] alexef commented on #11499
I believe this issue belongs to this project instead: https://github.com/argoproj/notifications-engine

[2022-11-30 13:09] RomanBats commented on #8209
I have the same issue on v2.5.0+981a1f1. All applications are constantly spinning with unknown status:
![image](https://user-images.githubusercontent.com/5024978/204804466-ddd705ae-d996-41ca-8404-0a56e75724a1.png)

[2022-11-30 13:18] developer-guy commented on #11499
Sorry, I'm going to open it in the right repository, let me close this one, thx.

[2022-11-30 13:18] #11499 closed

[2022-11-30 14:28] #11504 closed

[2022-11-30 14:48] SmaineTF1 commented on #8097
Is the solution proposed by @minhnnhat , the one recommended for now please?
Because I used the yaml proposed [here](https://github.com/argoproj/argo-cd/issues/8097#issuecomment-1313465601) and it's only working temporarily.
I'll give a try to the cronjob option and let you know.

[2022-11-30 14:50] fleeco commented on #9145
I'm having the same issue here.  Argo helm chart 3.35.4 app version v2.2.5

[2022-11-30 15:24] crenshaw-dev commented on #11166
Remaining bugs:

- [ ] terminating a sync
- [ ] marking an app as favorite
- [ ] App links in App of App configurations

[2022-11-30 15:27] crenshaw-dev commented on #11498
repo-server just renders manifests. I think what you're describing will require a much bigger architectural change.

How would that be avoided by having a centralized interface? What would you imagine the central UI giving you the ability to do/see?

[2022-11-30 15:49] Iceforestik opened #11506 "the button on remove override does not work"
the steps are pretty standard, I go in and change the parameters in applications, then I want to press the remove override button, but it doesn't work

for example, I want to erase the image tag line with this button, I fall into edit and I try to press the button , but it doesn 't respond
![изображение](https://user-images.githubusercontent.com/47591939/204843759-d2e6864b-fbbb-4162-92e8-84bf1343d

[2022-11-30 15:56] attiferosisal commented on #11500
After other check and debug I saw that the GetServerVersion mensioned in previous message prepare a config of type rest.Config.

In particular in function

`func (c *Cluster) RESTConfig() *rest.Config `

in pkg/apis/application/v1alpha1/types.go

In this function I saw that:
- first of all it get the info for the config object and fill the data
    `config := c.RawRestConfig()`
- then it run this

[2022-11-30 16:00] knjoroge opened #11507 "Can't remove the argo prefix in the application title in the UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hello,
I have deployed argo-cd via kubernetes using [git-generator](https://argocd-applicationset.readthedocs.io/en/stable/Generators-Git/)

I have set the namespace to `argo` in the Ap

[2022-11-30 16:29] alexef commented on #11507
This is now fixed in 2.5.3, please upgrade and check again.

[2022-11-30 17:42] chakch commented on #11498
Each Argocd will deploy in-cluster and having a unique interface to see all Argocd instances

[2022-11-30 19:35] crenshaw-dev opened #11509 "fix TestSimpleSCMProviderGenerator"
# Summary

A lot of the e2e flakiness is from `TestSimpleSCMProviderGenerator`. I suspect it's because that test hits the GitHub API.

# Proposal

Mock the necessary API calls to avoid flakiness. There should already be unit tests from which we can borrow the code.

This makes it not quite properly an e2e test, but it's worth it to avoid the flakiness.

[2022-11-30 19:45] mktgbnk opened #11510 "RBAC blocks app sync when Application namespace is omitted"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When Application object doesn't specify **application.spec.destination.namespace** in non-default project appsync fails with
`application destination {https://kubernetes.default.svc/ }

[2022-11-30 20:21] nikolay-te commented on #9256
I have the same issue, and I was thinking of probably exposing the warnings also as kubernetes resource Events, but the trouble is the warnings are generated in the admission webhook before the resource exists in the cluster, so I either have to find a way to pass them to the controller or re-run the whole validation again after the resource is applied.

[2022-11-30 20:39] ashutosh16 commented on #11111
The format is not consistent with how it is displayed on the UI. I have put another [PR](https://github.com/argoproj/argo-cd/pull/11493) to fix search

[2022-11-30 21:14] andrew-aiken commented on #10666
Also running into issue with getting cached app state

[code]

[2022-11-30 21:44] mkilchhofer commented on #6564
`additionalApplications` had multiple caveats and it was removed in chart version 5.x (https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd#500). I'd suggest to onboard your app(-of-apps) via the new/separate helm chart: https://github.com/argoproj/argo-helm/tree/main/charts/argocd-apps

[2022-11-30 21:50] 4wdonny commented on #10951
Out of curiosity, if you remove `and app.status.health.status
        == 'Healthy'` from the `when` block, does it work? I've been having issues with the `and app.status.health.status
        == 'Healthy'` portion and wondering if it is the same issue.

[2022-11-30 23:03] #11507 closed

[2022-11-30 23:09] crenshaw-dev commented on #9607
I'm not aware of any workaround. We need to provide a way to set TLS configurations for various endpoints.

For certain generators (PR generator?) it might make sense to pull the TLS config from any already-configured repo creds in the argocd namespace. For others (SCM generator), we'll probably need a separate ConfigMap (maybe reuse argocd-cm?) to store the TLS config.

As always, PRs welcome. If