[2022-07-21 16:30] crenshaw-dev commented on #8773
Found and tested the fix. https://github.com/helm/helm/pull/11172

If this is urgent enough, we could build a Helm fork to bundle with Argo CD until they release the fix. Sounds like most folks have found work-arounds thought?

[2022-07-21 16:35] rumstead commented on #4465
I suggest creating a discussion question. Happy to take a look

[2022-07-21 16:45] chrism417 commented on #10060
In the other versions we couldn't get terminal working consistently, this latest version is the first one where it seems like it's consistent so we decided to configure permissions above. All this to say I'm not sure if the other versions have this issue

[2022-07-21 17:43] dry4ng commented on #9626
I've had similar experience contacting google support. They are pointing fingers at ArgoCD and refusing to further investigate as to why they are returning deprecated API resource. Looks like we will have to use the exclusion moving on.

[2022-07-21 18:33] cobyrne09 commented on #7629
Is this just waiting on a PR? I think this would greatly help non-daily users quickly understand the UI.

[2022-07-21 18:37] simbelmas commented on #10017
Exactly same behavior here trying to pull from gitea repository on the same k3s cluster.

Argocd version:
[code]

Gitea version:
[code]

Tried scenarii:
1. reach repo by ingress (traefik)
2. reach repo directly on service (using svc.cluster.local)

Obviously the key work outside of argocd.
Diffed argocd ssh-privatekey b64 stanza with another secret used to pull from comman line.

On git server sid

[2022-07-21 18:37] roiromanoclick commented on #7429
Anyone?

[2022-07-21 18:54] rbabyuk-vs commented on #7575
I was surprised that none of helm 'delete' hooks are supported, there is a need on my side to do extra clean-up when deleting the app, intentially I was about to create k8s job and execute it automatically if the argocd app is being deleted.

[2022-07-21 18:57] simbelmas commented on #10017
Answering my question.
By digging into open issue, i found [#9122](https://github.com/argoproj/argo-cd/issues/9122#issuecomment-1102065907)

This solves the issue for me.

[2022-07-21 20:35] achebel commented on #7429
Hello

Anyone has already faced this kind of issue.?

[2022-07-21 23:45] jeehunseo commented on #4174
In my case, there is some dump files when kubespray made. So, after I recreate instance(master & worker), the message has be gone.

[2022-07-22 00:12] herzogf commented on #7122
This would tremendously help us with helm charts that use the lookup function - which atm does not work as ArgoCD uses "helm template" which in turn does not support the lookup function :-(

[2022-07-22 02:27] wgzhao commented on #9478
I has the same promblem with V2.4.6, this problem is making me crack up.

[code]

[2022-07-22 06:31] prasobhen commented on #9631
@fantasticnaveen  This is for argocd  and when I run the kustomize build I am getting this error.   is there anything I need to add additionally?

[2022-07-22 06:43] fantasticnaveen commented on #9631
@prasobhen from your machine test kustomize build <base url> and paste the output

[2022-07-22 07:39] fantasticnaveen commented on #9631
[@prasobhen](https://github.com/prasobhen) from your machine test kustomize build and paste the output

[2022-07-22 07:49] prasobhen commented on #9631
Error: accumulating resources: accumulation err='accumulating resources from 'https://dev.azure.com/myorg/myproject/_git/my_repo/k8s/backend/bases': yaml: line 6: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch
--depth=1 origin HEAD': exit status 128

[2022-07-22 08:35] nazarewk opened #10077 "Argo CD considers `PreSync` phase finished even though the Job was just created"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I've noticed a weird behavior blocking our deployments every now and then (couple times a day), where ArgoCD considers `PreSync` hook finished even though `Job` was just created. The `J

[2022-07-22 08:46] nazarewk commented on #10077
I've tracked down some of the responsible code, but found nothing wrong with it:
- https://github.com/argoproj/gitops-engine/blob/v0.6.2/pkg/sync/sync_context.go#L611-L621
- https://github.com/argoproj/gitops-engine/blob/v0.6.2/pkg/sync/sync_context.go#L277-L300
- https://github.com/argoproj/gitops-engine/blob/v0.6.2/pkg/health/health_job.go

[2022-07-22 08:48] nazarewk commented on #10077
There is also Kubernetes side code for our version (EKS 1.20.5):
- Pod Phase logic https://github.com/kubernetes/kubernetes/blob/6b1d87acf3c8253c123756b9e61dac642678305f/pkg/kubelet/kubelet_pods.go#L1378-L1378
- Job Completed logic https://github.com/kubernetes/kubernetes/blob/6b1d87acf3c8253c123756b9e61dac642678305f/pkg/controller/job/job_controller.go#L537-L572

[2022-07-22 10:24] samnano commented on #10073
Hi,

so after comparing the manifests of 2.3.5 and 2.4.6, we found that there are 2 new things :

1- a new var is being used instead of **${helm_args}** which is **${ARGOCD_ENV_helm_args}**
2- the image being used in applicationset-deployment.yaml is **quay.io/argoproj/argocd:latest**

[2022-07-22 10:24] #10073 closed

[2022-07-22 13:27] CVanF5 commented on #9247
If it helps, I also experienced this, but only when using `--insecure` mode and allowing the ingress controller to manage the TLS certificate.

Doesn't seem to happen when using ssl-passthrough mode.
(Page auto refreshes when adding an app and the overall UI experience is much better).

I just reused the same TLS certfificate ingress was using, and created it with the name `argocd-server-tls`

[2022-07-22 13:36] jullianow commented on #9007
+1

[2022-07-22 14:25] jmmclean commented on #8773
I do not have a workaround, but i can wait til a fix is released :) OOM killing basically resolves the issue

[2022-07-22 14:42] crenshaw-dev commented on #8773
Sweet! You could also build a custom Argo CD image and copy in the custom Helm binary. That's a lot of work though for something that can kinda fix itself with a restart.

[2022-07-22 14:58] jmmclean commented on #8773
agreed....i can wait :) yall do really well with cutting release for Argo, so im sure it won't take long! Thanks for digging in

also, i recognize you need your PR to be merged into helm repo, then you likely need to upgrade helm version in Argo (chore)

[2022-07-22 15:59] iamnoah opened #10079 "applicationset - use GitHub Apps for generators when available"
# Summary

For any generator that connects to GitHub, it should default to using any existing GitHub App repo-creds that have already been configured, or specific application credentials may be configured.

# Motivation

The best practice for giving ArgoCD (or any other code) access to repos on GitHub is to a setup an App with contents permissions (and potentially a limited set of repos.) If I am

[2022-07-22 16:48] genslein commented on #4116
bump here, there is a real desire to run things like seed data migrations as one-off jobs in real environments from the UI.

This unblocks regular deployment pipelines and allows better management of multiple environments. Any updates?

[2022-07-22 17:20] DavidKittleSEL commented on #10023
I had a similar issue with the v2.4.7 version of install.yaml. It seems to indicate that the argocd server pod can't communicate with the argo repo server pod. For me the fix was to delete/disable all the network policies, after a few minutes everything started working.

[2022-07-22 22:21] chris93111 commented on #10009
@ashutosh16 i have resolve the problem with resourceInclusions, this limit the browse of all api available, it's work fine now

[2022-07-23 05:15] ron1 commented on #5585
It seems the fix for the original issue here was to enable application health checking.

The recent discussion concerning the non-functional 'App of ApplicationSets' pattern may be addressed by https://github.com/argoproj/argo-cd/issues/9437.

[2022-07-23 21:39] amitde69 commented on #4296
still happens on v2.3.3 with 23 clusters and 1612 applications.

[2022-07-23 21:43] lknite commented on #9478
also seeing this, after installing latest chart today

[2022-07-23 23:32] agardnerIT commented on #8613
Something similar happening on `v1.24.0`

[code]

This partially load but then the port forwarding breaks.

![image](https://user-images.githubusercontent.com/26523841/180626059-bae882e7-f89a-401e-b9fa-f8145ce2b4ac.png)

[code]

Server Pod Logs:
[code]

[2022-07-24 16:51] spzala commented on #9352
Hi @crenshaw-dev I was looking at this issue from a triage perspective, and I think the needed work is nicely done by you under https://github.com/argoproj/argo-cd/pull/9466 (i.e. new security doc, referencing it to other appsets doc etc), so I guess we can close this issue? Also, not sure if my understanding is correct :) but have I opened a related PR https://github.com/argoproj/argo-cd/pull/100

[2022-07-24 20:49] yellowmegaman opened #10088 "App health status is Healthy even if repoURL is wrong and Application healthcheck is enabled"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

App health status is `Healthy` even if repoURL is wrong and `resource.customizations.health.argoproj.io_Application` is in place.
**To Reproduce**

1. Install ArgoCD on kubernetes
2. Ad

[2022-07-25 01:29] jeehunseo commented on #4174
In my case, there is some wrong in k8s network. Kubernetes network doesn't only use tcp/udp. If you use AWS, check if your security-group allow all-protocol.

[2022-07-25 03:20] reefland commented on #9599
The fix for the `rootpath` is working well.  However, the other issue from above:
[code]
Still not right.   Click Log Out I still get a 404 page not found because it is switching from HTTPS to HTTP.

[2022-07-25 03:44] aagu commented on #10088
same problem here, be closed without solution

#9745

[2022-07-25 04:05] jarviliam opened #10089 "applicationsets - Allow for users add a prefix to the webhook url"
# Summary

I think it would be nice/necessary if the applicationset config allowed users to override the default webhook path instead of the fixed path `/api/webhook` (conflicting with argocd's webhook path).

# Motivation

This is especially useful for when users want to use the applicationset PR/git generator web-hook feature and do not want to have to create a whole separate load-balancer along

[2022-07-25 04:55] yellowmegaman commented on #10088
Thanks for the reply!
The difference is that I do address ComparisonError in health.lua for kind: Application

[2022-07-25 07:21] arturkasperek commented on #9101
Hi,
our team needs that cause we wanna give a possibility to rollback

[2022-07-25 09:25] giovanism opened #10090 "Sidecar aware log viewer"
# Summary

ArgoCD log viewer already separated init-container with the rest of the containers, let's also add sidecar container. User can directly see the log relevant to them instead of switching from sidecar container every time they open log viewer.

# Motivation

My project use sidecar and the new log viewer UI hides the container selection to an obscure button. This gives a hard time to someo

[2022-07-25 10:12] pentago opened #10091 "Can we get -l or --label CLI flag to delete apps by label?"
Currently, apps can be deleted from CLI only by listing each of them individually while adding the ability to delete apps by the label can provide much-needed flexibility.

For example, `argocd sync` command has `--label` flag, we should have one for delete subcommand as well.

Thoughts?

[2022-07-25 16:05] crenshaw-dev commented on #9428
@nicolas-vivot I believe Argo CD constructs the tree based on `metadata.ownerReferences`. Is that populated in the ClustExternalSecret resource?

[2022-07-25 17:40] crenshaw-dev commented on #10058
@jmmclean have you been able to validate that the fix works for you?

[2022-07-25 18:01] #5525 closed

[2022-07-25 18:04] crenshaw-dev commented on #1936
@emirot can you confirm that the API server is successfully coming up?

[2022-07-25 18:44] crenshaw-dev commented on #9599
Re-opening to track the "log out" issue.

[2022-07-25 18:46] crenshaw-dev commented on #10089
@jarviliam would it be possible to setup a rewrite in your load balancer? I'm not very familiar with their configuration options.

[2022-07-25 18:49] crenshaw-dev commented on #9101
@raelga would a "pause" label or annotation solve your use case?

[2022-07-25 19:13] yellowmegaman commented on #10088
If relevant, if `wrong` app is part of app-of-apps, everything is almost great. Almost because app-of-apps is degraded, `wrong` app is degraded too, but the UI is showing Health OK if I go to the `wrong` app.

App-of-apps:
<img width="753" alt="image" src="https://user-images.githubusercontent.com/3943191/180855876-119fadf2-42d5-425d-99c4-af466b7997e9.png">
Wrong app:
<img width="649" alt="image"

[2022-07-25 19:49] cubanp3te commented on #4344
Weirdly I wasn't getting this issue, but since upgrading to 2.4.7 (from 2.4.3 I think) I am now getting this problem.

For full disclosure, the CA cert is loaded in arcocd-tls-certs-cm for my internal git system (gitea) with a key matching the internal dns name for this system but the certificate being the CA certificate, so I don't know if this was being used previously to validate keycloak's cer

[2022-07-25 20:00] ab-arao commented on #9998
We updated again and I had to run through the restart dance to restore the janky login.

Current version:
[code]

What appears to work is the following:

1. edit `server.dex.server` in `argocd-cmd-params-cm` to be whichever of `http` or `https` it isn't already
2. `kubectl rollout restart deployment argocd-server -n argocd`

Then it is possible to log in with the following steps as before:

1. cli

[2022-07-25 20:04] cubanp3te commented on #4344
Ok ignore this, I've just found https://github.com/argoproj/argo-cd/pull/6712 which allows specifying the root CA of a private CA Server specifically for oidc, but it's not on the Keycloak page, it's on https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#configuring-a-custom-root-ca-certificate-for-communicating-with-the-oidc-provider

[2022-07-25 20:06] raelga commented on #9101
Is not as straight forward as the SyncPolicy update, but it can work.

For our use case, we ended reproducing the ApplicationSet outcome using kustomize. So now we have a base with the applications manifests and then several overlays to create all the applications environments. This generates the same combination you can generated with a `matrix` ApplicationSet from a list of Components (apps from

[2022-07-25 22:21] TdSch commented on #9996
Unfortunately that expects the context to be present on my local kubeconfig to perform the operation. For various segregation concerns I do not have this config.
However, when done through the web interface it calls a PUT endpoint with simply the ˋupdatedFields` set to namespace.

[2022-07-25 22:47] evgeny-goldin opened #10095 "Application navigation buttons - move Refresh between App Details and App Diff"
# Summary

When looking at the Argo CD application - it feels like Refresh button is located in the wrong place. Naturally, it would follow App Details and precede App Diff, as that's the order of operations a human operator may click the buttons: configure/check App Details, Refresh, then view App Diff, then Sync.

<img width="1115" alt="Screen Shot 2022-07-25 at 15 39 29" src="https://user-image

[2022-07-25 23:11] danielhelfand commented on #9996
Thanks for this detail. Makes sense as a feature to me then.

[2022-07-25 23:19] rsmets commented on #7799
@rufreakde looks like @isac322 was just referencing a workaround he did, which was to create an Argo app to handle defining a namespace with labels.

Anyways, I am anxiously awaiting support for this: labels definitions in the create namespace definition.

[2022-07-26 01:48] tuananh commented on #10066
agree. the ux on this one could use some improvement imo.

[2022-07-26 05:03] Alceatraz commented on #9893
I ran into this issue, But If I use another cluster, Everything just find. But most wired is, There are two already deployed namespace can sync with argo, But anyothers will show this error. How to provide logs to help solve this issue ?

[2022-07-26 05:05] anjuls commented on #3491
any idea when this is going to be fixed?

[2022-07-26 07:17] rshiva777 opened #10097 "Argocd application is synced and came to healhy state. Again is started to sync withhout any changes and keep on stuck there"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Argocd application is synced and came to healthy state. Again it started to sync automatically without any changes and keep on stuck there in "Syncing" state

**To Reproduce**

Deploy a

[2022-07-26 08:54] #9915 closed

[2022-07-26 09:49] nice-pink commented on #9809
@sass1997 Not even adding the role and role binding solves the issue for me. Still get exactly the same error. Hm.

[2022-07-26 10:43] paragones92 commented on #1640
We are actually doing a bit different in our setup, as we cannot afforf to have downtime while moving applications across clusters, we actually define a new cluster where we sync the application in the new cluster while we keep it in the old one, such traffic is served at both clusters at the same time. Once we make sure the app is correctly deployed on the new cluster, we then proceed to delete t

[2022-07-26 10:58] Marvin9 commented on #9946
Please assign it to me

[2022-07-26 13:15] #9352 closed

[2022-07-26 13:18] RonRaviv commented on #4590
@jessesuen Any updates on this feature?

[2022-07-26 13:18] ADustyOldMuffin commented on #9903
Go for it!

[2022-07-26 13:20] crenshaw-dev commented on #4344
Yeah, there was a [security issue](https://github.com/argoproj/argo-cd/security/advisories/GHSA-7943-82jg-wmw5) where we simply didn't validate the cert at all. Now it's necessary to set the root CA.

[2022-07-26 13:43] crenshaw-dev commented on #3491
@iam-veeramalla did [some research](https://github.com/sirupsen/logrus/issues/403) and put up a [draft PR](https://github.com/argoproj/argo-cd/pull/5574). The conclusion of the PR review seems to have been that the performance hit associated with getting logrus to split output between stdout and stderr was not worth it and that we should just change loggers (which needs to happen anyway).

I think

[2022-07-26 13:45] iam-veeramalla commented on #3491
True, we did not evaluate the modern day loggers and choose one which is a best fit.

[2022-07-26 13:58] jasonhao518 commented on #7799
also want the same feature, in my case I want the new namespace to be labeled with istio-injection=true, to make istio sidecar injected.

[2022-07-26 14:31] fbuinosquy1985 commented on #8586
same problem and situation here .

[2022-07-26 14:58] fbuinosquy1985 commented on #8586
ok  , i setup the job with

  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  backoffLimit: 3
  activeDeadlineSeconds: 300
  ttlSecondsAfterFinished: 120

and is working fine at least with Rollout where i have set

argocd.argoproj.io/sync-wave: "1"

[2022-07-26 16:54] endophage commented on #1927
Adding my voice to the requests for this feature. I update a CDN in a hook and on a rollback, I want the hook to run and update the CDN to the appropriate JS/CSS for the application code that's being deployed.

[2022-07-26 17:08] endophage commented on #9891
@scalen apologies if I've been unclear. I do not want to run Deployments in a PreSync hook, and I understand the difference between Phases, Hooks, and Waves.

Boiling it down to the simplest example, I have an ArgoCD application thats made up of a Deployment, an AWSSecret (DB credentials), a ServiceAccount, and 2 tasks (updating a CDN, and running database migrations) that need to run before the D

[2022-07-26 17:12] crenshaw-dev opened #10102 "Cherry-pick back vulnerability fixes"
# Summary

Just a TODO list for myself.

- [ ] CVE-2022-31129, CVE-2022-2216, CVE-2022-28948
   - [ ] [Patch](https://github.com/argoproj/argo-cd/pull/10101)
   - [ ] 2.4
      - [ ] Cherry-pick
      - [ ] Release
   - [ ] 2.3
      - [ ] Cherry-pick
      - [ ] Release
   - [ ] 2.2
      - [ ] Cherry-pick
      - [ ] Release
- [ ] CVE-2022-0691, SNYK-JS-UNSETVALUE-2400660, CVE-2018-11694, CVE-20

[2022-07-26 17:14] ashutosh16 commented on #10009
@chris93111  Thanks for the update, Can you close the issue?

[2022-07-26 19:48] #10009 closed

[2022-07-26 20:16] hcelaloner commented on #4004
As stated in https://github.com/argoproj/argo-cd/issues/7193#issuecomment-939043182,  it seems that https://github.com/argoproj/argo-cd/pull/7393 implements this feature, therefore the issue can be closed?

[2022-07-26 21:08] Mikerium commented on #10058
+1 also experiencing this with dex configured for oidc with okta

[2022-07-26 21:48] emirot commented on #1936
@crenshaw-dev sorry about the noise, I figured it out, it's not related, it is due to Open Policy Agent

[2022-07-27 05:50] scalen commented on #9891
Thanks for clarifying, and it sounds like you found the solution. I think I would personally have tried making the Deployment part of Wave 1, rather than jump all the way to 10, or made the config resources Wave -2 and the Sync hooks -1, but that is personal preference.

Using Waves, you have basically created for yourself what  you requested in the OP. I assume that means that this Issue is close

[2022-07-27 06:06] xieyanke opened #10109 "Restart one or multiple applications in one operation"
# Summary

Restart one or multiple applications in one operation

# Motivation

As an operator need this feature when there are too many micro services to restart

# Proposal

![image](https://user-images.githubusercontent.com/4100306/181172621-568e033a-6d4e-418f-ba97-2df8e61e4390.png)

[2022-07-27 06:21] nicolas-vivot commented on #9428
@crenshaw-dev

If ArgoCD constructs the tree based on `metadata.ownerReferences`, then why i can build a tree with configuration map & so on when these objects has no `metadata.ownerReferences` ?

From what i see, currently only the external secrets has `metadata.ownerReferences` specified, referring to the cluster external secrets owning it.

[2022-07-27 06:44] graipher commented on #1989
Seeing it again:
![Unbenannt](https://user-images.githubusercontent.com/984262/181179421-2852deb3-349e-4e5f-881e-4401032fd3e0.png)

k8s version: 1.21
argocd version: v2.4.0+91aefab

[2022-07-27 10:11] manlme commented on #6108
We met the high CPU too after upgrading from 2.1.x to 2.2.9. we don't have cpu issues in 2.1. it didn't work even i changed orphan warn to false.

![Xnip2022-07-27_18-07-42](https://user-images.githubusercontent.com/12684110/181222268-e5825de5-21bb-4a11-ac73-c25c4cac165b.jpg)

[2022-07-27 10:25] manlme commented on #6108
after totally disable orphaned resource monitor. the cpu usage gets down.

![Xnip2022-07-27_18-24-08](https://user-images.githubusercontent.com/12684110/181224923-d42cc009-af6c-4621-87a6-0b71109778b1.jpg)

[2022-07-27 13:08] jmmclean commented on #10058
@crenshaw-dev I will try to test it out today....TBH though I'm not sure how to reproduce (even tho i created the ticket). I think just hitting the argo-cd base href would show the issue (can you confirm)? I dont feel great reproducing the error, then quickly slinging the fix you have bc it impacts our dev environment...but ill talk w/ my team

[2022-07-27 13:08] jgray1206 opened #10110 "Invalid label after label+annotation tracking truncation"
We have some apps with long names. Thankfully, in label+annotation resource tracking mode, we are able to sync most all of them! We sadly had to rename one app because it was unfortunate enough to end in a hyphen when the label was truncated to 63 chars.

Would it be possible to strip labels of ending hyphens (and other potential invalid chars) after truncating in label+annotation tracking mode? T

[2022-07-27 13:12] my-git9 opened #10111 "Inter-service connection failed because of Networkpolicy"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
When I deploy argocd, there lots of error for connections because of Networkpolicy, like:
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/76980726/181252801-

[2022-07-27 14:32] jmmclean commented on #10058
@crenshaw-dev I rebuilt the image from your feature branch and tested, the login is now working.

Steps taken:
1. upgrade to v2.4.7
2. reproduced issue
3. upgrade only argocd-server to `image: carbonnexus/argocd:2.4.8-rc1`
4. could no longer reproduce the issue

[2022-07-27 16:32] frmrm commented on #4415
@jessesuen Bumping this request as this is something that I would like to see. Any chance of getting this on the roadmap?

[2022-07-27 16:37] rodrigo14miguel opened #10112 "metrics: Add "server_name" to Application Controller metrics"
# Summary

What change you think needs making:
Add "server_name" label to the application controller metrics.

# Motivation

Please give examples of your use case, e.g. when would you use this:
Application controller metrics, like "argocd_cluster_api_resource_objects", have a label "server". This label's content is the api server url (k8s cluster managed by argocd) for that metrics. In some cases,

[2022-07-27 17:34] rumstead opened #10113 "Expose the Argo CD User ID in the Dockerfile"
# Summary

Set the Argo CD user ID as an Arg

# Motivation

Clients that need to amend the argocd image sometimes need to change users to install things. Ie,

1. Adding a custom CA
2. Adding a different version of templating tools (outside of the plugin framework)

It would be nice to not have to hardcode the `999`.

# Proposal

Make the ID an ENV in the Dockerfile just like the [USER](https://git

[2022-07-27 17:38] crenshaw-dev commented on #9226
Just encountered it an Intuit for (afaik) the first time. A force refresh and controller restart cleared the error.

Argo CD version: v2.4.6
Kubernetes provider: EKS
Kubernetes version: v1.21.12-eks-a64ea69

[2022-07-27 17:58] endophage commented on #9891
At minimum I'd suggest there's a documentation update that needs to be made. It definitely sent me down the wrong path by suggesting PreSync hooks are where to run DB migrations.

I still think a better solution would be to have the "Resources" phase I proposed at the top, or even simply allow the PreSync phase to to apply resource changes (that's another weird problem imo, as far as configuration

[2022-07-27 19:01] Kazetsukai commented on #3889
Seeing this issue as well

[2022-07-27 19:07] scalen commented on #9891
Oh, the Helm Hooks directly translate into ArgoCD Hooks (actually, you lose some functionality from what Helm supports natively, instead of gaining any in ArgoCD).

What we do to support PreSync hook Jobs that need ConfigMaps and Secrets is have duplicates of those resources as higher priority Hooks, i.e. the ConfigMaps dedicated to the PreSync Jobs are themselves Hooks with hook weight -10 and, t

[2022-07-27 20:36] mkilchhofer commented on #7594
We (@swisspost) also encountered this behavior with newest 2.4.7. Our AWS EKS clusters cannot reach the internet directly, only via proxy. Until now we did not configure proxy settings in Argo at all as we use our onpremise Bitbucket servers which are reachable via AWS direct connect.
But now our first customer want to use their own GHE (github enterprise, cloud hosted) which requires setting the

[2022-07-27 20:57] vherzog-sauce commented on #9626
We are running into this issue with GKE as well. Will try out the exclusion trick in the meantime.

[2022-07-27 22:34] emirot commented on #8086
I just encountered the same issue using `Amazonlinux:2` any ideas on how to fix that?

[2022-07-27 23:59] emirot commented on #8086
Except setting ARGOCD_GPG_ENABLED to false, is there a better way?

[2022-07-28 04:41] OmerKahani commented on #10077
Hi, can you please add the definition (YAML) of the PreSync job?

[2022-07-28 04:52] lgoral commented on #5389
Hi!

Any progress on this proposal ?

[2022-07-28 06:53] nazarewk commented on #10077
done, you can find it collapsed at the bottom of description

[2022-07-28 07:42] nazarewk commented on #10077
Looks like the issue happens less frequently after putting Argo CD on half number of twice as large instances and adjusting reservations and limits:
![screenshot-2022-07-28_09-39-54](https://user-images.githubusercontent.com/3494992/181449400-094c028a-29c3-46c4-9ca1-945cf2508600.jpg)
I reconfigured the cluster around 13-15 on Monday 25th, then there were some trailing issues until 18 and almost no

[2022-07-28 09:12] jarviliam commented on #10089
@crenshaw-dev My current company is leveraging AWS and as far as I'm aware of, AWS's ALB doesn't support path rewrites on forwarding. Looking into it more, I think there's two ways I can approach this issue. The first is routing to the applicationset-controller from the path as mentioned earlier.
The other way would be to forward the request via the headers (Github's X-Hook-ID header sent on each

[2022-07-28 09:46] yatakoi opened #10122 "No dump is created when during OOM"
Hello.

ArgoCD 2.3.3
Kubernetes 1.22.2

We have an application in Java. When OOM occurs, the application writes a memory dump to `/var/tmp/dump`. Dump argument `-XX:HeapDumpPath=/var/tmp/dump/${HOSTNAME}_dump.href`
The `/var/tmp/dump/` directory when inspecting PersistentVolume.

Before ArgoDD, we launched the application using Helm, and when we met OOM, , the dump was successfully created.

When

[2022-07-28 09:52] couloum commented on #9776
As an alternative to the gray bar, you could use the diff structure with `@@` lines. These lines would be in grey or blue. You can mimick github style or gitlab style.

github style:

![image](https://user-images.githubusercontent.com/600871/181476636-d1315f99-3884-47e9-b180-b9a27a74349f.png)

gitlab style:

![image](https://user-images.githubusercontent.com/600871/181477001-df87fe85-fa3c-4a00-a5b

[2022-07-28 10:22] mohammedshirine commented on #7575
We are tussling with similar use case but with applicationSets. I am looking for a nice argo driven clean up hook points to run a little clean up for following use cases.

- We use PR generator to create preview envs with configurations living in an ephemeral pr branch. This branch has to go away once PR is merged (when application is removed).
- We use createNamespace sync option. ArgoCD does not

[2022-07-28 12:14] lorelei-rupp-imprivata commented on #5389
you can already implement the things above FYI, there is support to make argo least priv today its just not really documented other then this ticket

[2022-07-28 12:20] BeyerJC opened #10126 "User does not get logged out when session is expired - causing argocd to crash"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

We use OIDC (Keycloak) to log into ArgoCD.

An internal user used the ArgoUI to check the logs of a pod but did not close his browser when he finished. When the token expired, the re

[2022-07-28 13:10] wadexu007 commented on #2953
Fixed via this

`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    ingress.kubernetes.io/force-ssl-redirect: "true"
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: nginx

    # If you encounter a redirect loop or are getting a 307 response code
    # then you need to force the nginx ingress to connect to the backend using HTTPS.
    nginx.i

[2022-07-28 13:19] crenshaw-dev commented on #10122
I don't think Argo CD is the root of the problem. Kubernetes restarts the container on OOM, not Argo CD. So you'll need to develop a strategy to detect and OOM and store the memory dump to a persistent location. (Example: https://medium.com/@pamir.erdem/how-to-dump-oomkilled-process-on-kubernetes-b77cccf421a2)

[2022-07-28 13:21] crenshaw-dev commented on #10089
Yep, a new issue for the lack of health checks would be good!

I think probably what needs to happen is that the applicationset webhook hander should live on the Argo CD API server instead of the applicationset controller. Now that the code bases are merged, I think that'll be a viable solution.

[2022-07-28 13:28] #7555 closed

[2022-07-28 13:43] FireDrunk opened #10129 "feat: Seperate Project Role Create & Token Create permission from 'project:update'"
# Summary

Currently creating JWT Tokens in a project requires the project:update permission, which I don't want to give end-users. I want to give them the ability to generate roles & tokens within their own project.

# Motivation

We strictly bind projects to namespaces, and don't want users to change that.
If we give users the 'project:update' permission, they can change a lot more than we want

[2022-07-28 13:43] ksaffarian commented on #2532
Is "ArgoCD Image Updater" a suitable solution for you? https://argocd-image-updater.readthedocs.io/en/stable/

[2022-07-28 15:45] karlschriek commented on #7978
I would actually like to see the ability to explicitly define dependency between two applications. E.g.:

App1 doesn't depend on anything:

[code]

App2 to depends on App1 and will only start syncing if App1 has been sync. If App1 re-syncs, App2 will re-sync as well after App1's sync has completed.

[code]

I can understand how the current sync-wave approach works only with the app-of-apps approac

[2022-07-28 16:07] ashutosh16 commented on #7006
@jcputter Can you provide more information on this issue? I tried reproducing the issue on argocd v2.4 & v2.0.5 but haven't been able to reproduce it.

[2022-07-28 17:19] Tarasovych commented on #9076
Still an issue

[2022-07-28 19:29] #7691 closed

[2022-07-28 19:40] crenshaw-dev commented on #9637
@ftsell fwiw I just tested without unsafe-eval. It works if and only if I do a production webpack build instead of a development build.

[2022-07-28 23:35] y-takuya commented on #9962
Hi @deepto98 , are you still working on this issue? If you don't have enough time to work on it, I can do it.

[2022-07-29 02:29] too-z commented on #9898
I've got a similar issue (empty page), but I installed argocd with yaml
and it solved the problem
Thanks you, you saved my day

[2022-07-29 02:51] ale-conekta commented on #8808
HI,
We are running v2.4.7 and dependency chart, the issue is still present ?
The values and parameters looks ok and are corrected read from values.yaml, but when I sync it, the values applied are the default.

[2022-07-29 05:59] yatakoi commented on #10122
Hello.

Thanks for the link and sorry to disturb you. The problem really was in our application.

[2022-07-29 05:59] #10122 closed

[2022-07-29 06:00] Haebuk commented on #9885
I deleted all things(argocd helm, namespace ..) and reinstall, it works fine.

[2022-07-29 06:05] mvlbarcelos commented on #9464
Hello.
Would be amazing this feature.

[2022-07-29 06:06] alfredo-gil commented on #9464
Hello,
It would be great to have this feature!

[2022-07-29 08:51] grezar commented on #6055
+1

[2022-07-29 09:01] blakepettersson commented on #9464
Need some final approvals on #9652 for that to happen :smile:

[2022-07-29 09:35] kashitaka commented on #9443
I stuck on same issue by updating latest version of argoCD. My kustomize manifests refers to other version of same repository using [remote targets feature](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) of kustomize and it couldn't build with plugin. Applications without plugin work well.
ArgoCD version: v2.4.7

[2022-07-29 11:43] #9464 closed

[2022-07-29 12:03] hasland commented on #9440
Our ArgoCD server is showing this logs too but it doesn't look just a warning for us because our repos connection fail to connect from time to time. We can see it in Argo config > repositories - from time to time some repos got Failed status in Connection Status, then after sometime it connects back and change the status to Successfull

[2022-07-29 13:47] crenshaw-dev commented on #9464
This will be in 2.5 (~mid-August). Thank you @blakepettersson!

[2022-07-29 13:48] crenshaw-dev commented on #10122
No worries! Glad you were able to sort it.  :-)

[2022-07-29 15:44] crenshaw-dev commented on #8808
@ale-conekta I believe this issue was about values not appearing in the UI but actually applying.

If you're having an issue with values appearing in the UI but not applying, I think that's a new issue.

[2022-07-29 15:46] ale-conekta commented on #8808
@crenshaw-dev thanks you for your feedback, I will try to open an issue.
Thanks

[2022-07-29 15:51] crenshaw-dev commented on #9998
I don't follow the last two. What does it mean to navigate to https://? Looks like you're already redirected to an https:// URL.

[2022-07-29 16:15] ab-arao commented on #9998
@crenshaw-dev sorry, the formatting got messed up for some reason.

Basically the redirect does not result in the argocd ui being loaded. Instead we see a page that just shows the jwt token from our IdP.

However, the redirect does add the correct cookie, so if we rewrite the url in the browser to being the argocd homepage we are able to log in.

[2022-07-29 16:54] michtek commented on #9192
The site is down again

[2022-07-29 17:16] crenshaw-dev commented on #9192
@leoluz do you have time to take a look?

[2022-07-29 17:42] Colbize commented on #3280
So every OTS helm chart repo has to be listed Settings > Repository? I'd rather not have to worry about managing let alone automating that. We are already using umbrella/proxy charts and the repo is specified in the Chart.yaml. To also specify and manage that in the Settings > Repository feels redundant and clunky.

[2022-07-29 17:53] tarun9715m commented on #2932
getting this:-

FATA[0011] oauth2: cannot fetch token: 401 Unauthorized
Response: {"error":"invalid_client","error_description":"Invalid client credentials."}

my oidc-config:-

  oidc.config: |
    name: google
    issuer: https://dex.testing.in
    clientID: argocd
    clientSecret: C1NABUFDIHRS78
    public: true
    requestedScopes:
      - openid
      - profile
      - email
      - groups

[2022-07-29 18:22] mayzhang2000 opened #10138 "argocd app wait with --degraded flag"
# Summary
command `argocd app wait` should support --degraded.

What change you think needs making.

# Motivation
Please give examples of your use case, e.g. when would you use this.
* application is already in degraded
* sync this application and there are no resources out of sync
* argocd app wait --health will not return until timeout
If we have argocd app wait --health --degraded, then it will

[2022-07-29 18:40] hobti01 commented on #9919
We are seeing that ApplicationSets also incorrectly remain in 'Degraded' state when using a templated field as the `template.metadata.name`.

[code]

[2022-07-29 20:36] leoluz commented on #9192
Issue is remediated. Need to invest time to fix the root cause.

[2022-07-29 20:36] #9192 closed

[2022-07-29 20:55] gnubibi33 commented on #2789
Hello,

I have a strange issue, and no idea why it's not working....

ArgoCD v2.4.0+91aefab

1 git repo (ssh credentials) to manage values.yaml and Chart.yaml
1 oci helm repo on europe-west1-docker.pkg.dev with auth (json key) => called repo1
1 oci helm repo on europe-west1-docker.pkg.dev with auth (json key) => called repo2

Argocd and  repo1 are on same GCP project.

I am able to deploy app with

[2022-07-29 21:18] jdomag opened #10143 "Merge bitbucket cloud SCM generator from previous applicationset repo"
The bitbucket cloud SCM provider was added [in this PR](https://github.com/argoproj/applicationset/pull/556/files)
Unfortunately that PR was not included when the applicationset project has been merged into arogcd.
Would be great to have this feature.

[2022-07-30 01:30] lancehudson opened #10144 "Enable setting default syncOptions server wide"
# Summary

Enable setting default syncOptions server wide

# Motivation

I would like to configure `FailOnSharedResource=true` globally, I have a few engineering that get copy paste happy and then resources continuously self heal over each other. I think `RespectIgnoreDifferences=true` globally would be useful as well.

# Proposal

Enable setting default syncOptions server wide

[2022-07-30 08:57] n1kk0 commented on #6108
yes @manlme fully disable orphaned resources monitoring, and as @Vladyslav-Miletskyi said in https://github.com/argoproj/argo-cd/issues/8100#issuecomment-1111520296, don't forget to restart your application controller pod !

[2022-07-30 21:03] yuriy-yarosh opened #10145 "terraform and terraform-consul-sync support"
# Summary

Add an ArgoCD sidecar plugin for either [terraform](https://www.terraform.io/) or [terraform-consul-sync](https://github.com/hashicorp/consul-terraform-sync) (CTS) support.

# Motivation

All my yamls are in tf already, I'd like yet another config management integration, with the respective infrastructure state atomicity and locking. [tf-controller](https://github.com/weaveworks/tf-cont

[2022-07-30 21:04] yuriy-yarosh commented on #10145
There could be also a [docker](https://registry.terraform.io/providers/kreuzwerker/docker/latest/docs) provider integration there, as well.

[2022-07-30 21:19] irishandyb commented on #4002
+1

This is a pretty big issue for me. My development workflow involves re-releasing a Helm chart with the same version but containing updates to the templates within the chart.

I am using the Application custom resource referencing a Helm chart from a Helm repository and not a git repository.

When I build and publish an update to the Helm chart i.e., adding a new resource, syncing the applicati

[2022-07-31 09:50] y-takuya commented on #9962
Hello @crenshaw-dev, the work on this Issue seems to be on hold. Is it possible for me to take over and work on it?

[2022-08-01 06:34] pierluigilenoci commented on #4002
@irishandyb I am very interested in this problem being solved and obviously everyone is free to use things as they prefer.

IMHO I believe that changing the templates of a chart without changing the version number of the chart itself is against the paradigm of versioning itself. Even if this caching problem gets solved I doubt it solves your problem because solving such anti-paradigm stuff doesn't

[2022-08-01 07:12] oscrx commented on #9654
CRD's are not namespaced in Kubernetes, you cannot install the same CRD twice.
You can find out what api's are namespaced in your cluster with this command: `kubectl api-resources --namespaced`

[2022-08-01 09:19] JessieTeng89 commented on #10095
I can try with this issue, please assign this to me if needed

[2022-08-01 09:47] karlschriek commented on #3454
I don't think this issue should actually have been closed. Yes, there is a similar solution using the App-of-Apps, but the original request was actually something more fundamental.

[2022-08-01 09:59] warmfusion opened #10153 "List view breaks with circular structure json error"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When viewing an application, when switching to the `List` view _after_ viewing the `Pods` view, the interface crashes.

[code]
**To Reproduce**

1. Open an app
2. View `Pods`
3. View `L

[2022-08-01 10:19] protosam commented on #9122
Argo CD only half supports PEM keys. The error is confusing because of history like #2890 and from that history you'll notice mention that Argo does not consistently handle the git URLs and the disparity is visible when attempting to use PEM formatted private keys, which you'll have if you're migrating from fluxcd.

The error presents as follows for the application:
[code]

Viewing the repo status

[2022-08-01 10:33] karlschriek opened #10154 "Add explicit "dependsOn" functionality to Applications"
# Summary

We would love to have the ability to define an explicit "dependsOn" field on Applications. For example:

App1 doesn't depend on anything:

[code]

App2 depends on App1:

[code]

At this stage I would like to clarify a misunderstanding that I have come across in various (now-defunc) issues. See for example:
https://github.com/argoproj/argo-cd/issues/3454
https://github.com/argoproj/argo-

[2022-08-01 11:27] rouke-broersma commented on #10154
[code]

It seems to me your whole problem rests on and is caused by this issue you're describing. Dynamic composition of app-of-apps is very possible by using helm chart templating imo so I think your 'we cannot use app-of-apps' needs clarification. Right now it reads more like you don't want to use app-of-apps, but if you would use app-of-apps the dependsOn would not be neccesary.

[2022-08-01 12:13] m-yosefpor opened #10155 "applicationset controller not respecting project scope repositories"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Project scoped repositories is introduced in argocd v2.2, in which users can add repositories themselves in their project and admins does not need to specify them in `AppProject.spec.so

[2022-08-01 12:28] ItayZviCohen commented on #4212
Would like this feature as well!
Use case: Health checks for Crossplane managed resources from same provider.

[2022-08-01 13:06] eltalkarim opened #10156 "Resources that are NOT managed with ArgoCD are always OutOfSync"
# Summary

We currently rely on ArgoCD to apply most of our Kubernetes resources. However, we have a couple of them that are managed with Terraform for a custom use case. Currently, we are adding the following label so that ArgoCD can display the resource to have a holistic view over the applied resources. Moreover, we are adding annotations so that it does not try to prune it or affect the overal

[2022-08-01 13:37] crenshaw-dev opened #10157 "Make ARGOCD_GIT_MODULES_ENABLED configurable in argocd-cmd-params"
# Summary

For some reason `ARGOCD_GIT_MODULES_ENABLED` must be set directly on the repo-server Deployment instead of being set in the argocd-cmd-params-cm ConfigMap like most env vars. It should be configurable in that ConfigMap, and the new way of configuring it should be documened.

# Motivation

Not following the pattern [causes confusion](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1

[2022-08-01 14:02] irishandyb commented on #4002
Hi @pierluigilenoci, thank you very much for your message. I am very grateful for your feedback.

I completely understand the importance of correct versioning for releases. However, during the development stage I often make quick and small changes to the chart that I wish to test without the need for version or release management. For example, if I add a new Service to a chart and wish to test it,

[2022-08-01 14:07] rouke-broersma commented on #10154
We use app-of-apps to construct app-of-apps which are modules that contain applications + external resource manifests (like terraform operator and such) using templating. 🤷‍♀️

[2022-08-01 14:23] crenshaw-dev commented on #3454
@karlschriek I think since OP's issue was solved, we can continue to track the request here: https://github.com/argoproj/argo-cd/issues/7437

[2022-08-01 14:31] crenshaw-dev commented on #9962
Thanks @y-takuya!

[2022-08-01 14:35] crenshaw-dev commented on #9919
@hobti01 that error seems legitimate to me. `{{path.basenameNormalized}}` should not appear in that error message unless variable substitution did not happen. In other words, `{{path.basenameNormalized}}` is unresolved.

[2022-08-01 14:39] karlschriek commented on #10154
@crenshaw-dev thanks, I have not come across those two issues before. The topic seems to be already quite splintered, so my apologies for opening up yet another one. #7437 seems like the right home for this one (altough #3517 actually hits the nail on the head by giving it right name: what we need is the ability to define a DAG).

Shall I close this issue in favour or #7437?

[2022-08-01 14:55] pierluigilenoci commented on #4002
@irishandyb I understand the particular need but I find it to be a bit overdoing.
There are leaner ways to test if a chart is valid and does what it takes than going through ArgoCD.
For example by generating the manifests locally or by manually installing them on a cluster.

However, there are tools to automate versioning.
For example https://github.com/sstarcher/helm-release
And a precise strateg

[2022-08-01 15:08] De1taE1even commented on #4002
@irishandyb @pierluigilenoci You both bring up valid points, I have a similar dev cycle that re-uses tags, knowing that isn't the "best practice standard".  All this aside though, I think we need to step back and look at what is actually being asked which would be beneficial in more than one situation, and that is to either:
(1) the ability to hard refresh automatically, periodically
or much less

[2022-08-01 16:00] jeffhoek commented on #5452
We have observed the same behavior with ArgoCD v2.3.5 (part of OpenShift GitOps 1.5.4 operator) when there's an unresolved sync/diff between the live resource and what we have in Git.  After resolving that inconsistency the constant Sync checking stops.

[2022-08-01 16:02] sharpyy commented on #10090
+1 on this.

The log viewer in v 2.3.X was better suited for ops troubleshooting by having the list of all containers display on a left panel. With the new 2.4.X, going through a sub menu to select the container to display the logs is doubling the number of clicks we need to access container logs.

[2022-08-01 16:17] junjunjunk commented on #9594
Maybe this issue related to https://github.com/argoproj/argo-cd/issues/4272

[2022-08-01 16:43] hobti01 commented on #9919
OK thanks for the confirmation.  I think I see the issue: There is no mechanism for a custom generator (allowing a filter of invalid results) - so this means that if the generator does not supply full objects for the templating I see this error.
I used your example for my situation, but `{{path.basenameNormalized}}` would always exist and therefore isn't appropriate.  In my case I'm using a `files

[2022-08-01 18:03] rumstead commented on #4204
You can also use the `--in-cluster` flag

[code]

[2022-08-01 19:41] irishandyb commented on #4002
@pierluigilenoci - thank you very much for your input. I will research further and consider changing my process.

That being said, I do agree with @De1taE1even and would like to see some options around caching of Helm charts.

[2022-08-01 20:11] sharpyy opened #10166 "UI: Revisit new pod logs containers viewer introduced in v2.4 to get back to a fast single click"
# Summary

The new pod logs container viewer introduced in argo v2.4 via https://github.com/argoproj/argo-cd/issues/8531 is slowing down operation work when wanting to reviewing quickly all the container logs of a pod. In the previous UI, it was taking a single click to view each container logs. WIth the new UI, it takes one click to go to the list of the containers and a second click to view the

[2022-08-01 21:39] danielnazareth89 commented on #2347
we had the below config working great

[code]
but [this](https://github.com/argoproj/argo-cd/pull/8032) pr appears to have introduced a new CLI for auth without any docs for how to update the config for EKS. Still experimenting and will post back if we can figure out new config.

[2022-08-01 22:15] sidewinder12s commented on #8945
Also appears declarative setup fails when you try and use `in-cluster` with the following error:

[code]

[2022-08-01 22:36] sidewinder12s commented on #4712
Just ran into this since I couldn't use cluster names in declaratively defined AppProjects (though I can on Applications).

[2022-08-02 04:46] ayan4all opened #10167 "ArgoCD deleting an Application on Secret token Update"
Hi Friends,

Introduction
We need your expert guidance on one of the Argocd issues that we have faced on production recently. We have deployed Argocd on Openshift Version 4.8.43 cluster, where Argocd is running as containers.

**Version of Argocd is as below**

[code]

Background about the issue

We are a Platform administration team where we deploy all infra related/Openshift cluster related chan

[2022-08-02 05:17] karlschriek commented on #10154
@rouke-broersma that is an interesting approach. That means you cloud resources with controllers running on Kubernetes, correct?

[2022-08-02 05:55] rouke-broersma commented on #10154
Yes exactly. I thought you did as well but I guess your modules are external from kubernetes so I see how that could be an issue then.

[2022-08-02 06:55] AmoghHegde21 opened #10168 "Importing existing k8s cluster resources into argocd"
We have already applied the helm chart in our k8s cluster manually long back. now we want to manage the deployment process through argocd. we have created the repo where we keep all the argocd application file which specify the source and destination where it should apply. now instead of syncing with already existing resource in the cluster it is recreating it

can u help me how can i sync existin

[2022-08-02 08:39] dadav commented on #3451
Also having this problem in the latest OpenShift version + gitops operator.

[2022-08-02 09:25] prein commented on #4435
It sounds like a dangerous feature to me unless it would prevent deleting a namespace containing objects not directly managed by the app being deleted.

[2022-08-02 09:50] pleic commented on #9809
I am seeing the same issue too, but also only in the production cluster not on my local minikube. Adjusting the roles also does not change anything.

Setting the log level to debug reveals the error:
[code]

@nice-pink is that the same for you ?

[2022-08-02 09:55] nice-pink commented on #9809
I'm seeing the original error still.

[code]

The whole argo setup is running in a managed OVH cluster. Haven't tried in minikube or any similar cluster so far.

[2022-08-02 10:02] pleic commented on #9809
Mhh, might be two unrelated issues then, I will keep you posted if I find out more

[2022-08-02 10:46] pierluigilenoci commented on #4002
@De1taE1even @irishandyb IMHO the discussion here is overlapping different themes:
- versioning of the charts
- the invalidation of ArgoCD caches
- the caching bug that generated this issue

Regarding the versioning of the charts, invalidating the cache is not necessary because Semantic Versioning supports pre-releases and therefore each test can have its own clear tag (and in this way it is also

[2022-08-02 12:36] pradeepnnv commented on #10157
I would like to work on this.

[2022-08-02 14:44] soudaburger commented on #3799
For the helm chart:
[code]

[2022-08-02 15:16] crenshaw-dev commented on #10157
@pradeepnnv go for it!

[2022-08-02 15:17] crenshaw-dev commented on #3799
I'd be in favor of a new field in the Application spec to disable submodules for a specific App.

Also trying to improve discoverability of the global config item: https://github.com/argoproj/argo-cd/issues/10157

[2022-08-02 15:28] rumstead commented on #2902
I am also interested in this API. It feels like it would be a similar change to the filer by [repos PR](https://github.com/argoproj/argo-cd/pull/5603/files). If we all agree it would be, I am happy to take a stab.

[2022-08-02 16:08] romuduck commented on #2789
@crenshaw-dev @satyamkapoor maybe i overlooked it but it looks like the basic usage of appset git config generators no?

If yes, we do adopt it on simple projects as the main issue with it is that you cannot "factorize" among your config files. Indeed, you end up with one config file per application instance, and if some params are shared between some instances it s duplicated in each config file.

[2022-08-02 16:13] soudaburger opened #10174 "Git Submodules should be configurable to ignore upstream, private submodules"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

We instead attempted to leverage git submodules to clone down the teleport repository with a specific tag, e.g., v10.1.0. We were able to get this to properly work locally, but because

[2022-08-02 16:58] mars64 commented on #9440
tldr; I hit this issue, and it was related to node egress security groups.

I ran into this issue using versions of argocd that previously worked in other clusters (`2.4.5`-`2.4.8`), and was confused why suddenly I started seeing this issue on `2.4.8`. As it happened, a colleague had constructed an incomplete EKS configuration using the `terraform-aws-eks` provider -- by default, the provider only

[2022-08-02 17:00] mars64 commented on #4174
This got me on the right path, thank you so much!

We're using the [`terraform-aws-eks` module](https://github.com/terraform-aws-modules/terraform-aws-eks) which only configures security groups for control plane by default. By adding the [basic rules as per the complete example](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/examples/complete/main.tf#L67), I was able to res

[2022-08-02 17:17] crenshaw-dev commented on #10174
I think we could tackle this and https://github.com/argoproj/argo-cd/issues/3799 at the same time.

I'd propose adding these fields:

[code]

I've seen other issues where folks wanted finer-grained control over how fetches happened. This new field would be a great place to add those features.

[2022-08-02 17:17] De1taE1even commented on #4002
@pierluigilenoci Separating these topics seems fine to me.  Honestly, correct me if I'm wrong, but if the cache invalidation worked properly, and I set it to 24 hours, then the first sync check after the cache was invalidated would be forced to pull from source, and that'd be good enough for my use case.

[2022-08-02 17:17] crenshaw-dev commented on #10174
Would a per-app config be sufficient, or would you want a global setting?

[2022-08-02 17:23] soudaburger commented on #10174
I think I'm more concerned with being able to restrict pulling _certain_ upstream, recursive submodules.

For example:
My helm chart would like to use the `teleport` helm chart as a submodule.  So we add that submodule in our local `.gitmodules.`.  But the `teleport` helm has it's own `.gitmodules`.  It's THOSE submodule(s) that I'd like to be able to tell argo NOT to pull or otherwise skip.

So i

[2022-08-02 17:25] crenshaw-dev commented on #10174
Yeah, I don't think #3799 would solve your use case. But I wonder if `fetch.submodules.recursive: false` would. i.e., if we ran `git submodule --init` instead of `git submodule --init --recursive`, could you get the top-level submodule that you need without also pulling the secondary submodules?

[2022-08-02 17:26] soudaburger commented on #10174
Yes that might work, especially if it's per argo application.  That might just be sufficient! Thanks!

[2022-08-02 17:29] crenshaw-dev commented on #10174
I'll try to piece together a PR real quick, but if it ends up being involved, will probably have to leave it as a draft to see if someone else can pick it up.

[2022-08-02 17:55] crenshaw-dev commented on #10154
Yeah @karlschriek, let's continue to track this in https://github.com/argoproj/argo-cd/issues/7437. Depending on where most engagement goes, we can decide whether to consolidate on #3517 or #7437.

[2022-08-02 17:55] #10154 closed

[2022-08-02 17:55] crenshaw-dev commented on #10154
"Not planned" is a terrible name for this "closed" state - just means duplicate in this context.

[2022-08-02 18:37] crenshaw-dev commented on #4628
@insanemal how would you feel about this?

[code]

I like @KarstenSiemer's suggestion to add new fields, but those are big (breaking?) changes. Might be a good idea for v3.0.

@ashutosh16 want to see if you have time to work on this?

[2022-08-02 19:37] crenshaw-dev opened #10176 "Upgrade to go 1.19"
# Summary

Upgrade to go 1.19.

# Motivation

There are new features/improvements. I'm particularly interested in [go gc metrics reporting](https://tip.golang.org/doc/gc-guide).

# Proposal

The PR upgrading to 1.18 can be used as a guide.

We should document that plugins might be affected by this from the [release notes](https://tip.golang.org/doc/go1.19):

Plugin users might be relying on a bina

[2022-08-02 19:58] egkelly opened #10177 "Helm parameter overrides not applying from .argocd-source-<appname>.yaml"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Helm parameter overrides are not being applied from my argocd-source-<appname>.yaml file that is being generated via argocd-image-updater. It looks like `appName` is not being set accor

[2022-08-02 20:00] egkelly commented on #10177
Link to original issue in argocd-image-updater for more context: https://github.com/argoproj-labs/argocd-image-updater/issues/461

[2022-08-02 20:32] crenshaw-dev commented on #10174
This is an example of something else that could be configured in a new `fetch` field: https://github.com/argoproj/argo-cd/issues/8938

[2022-08-02 20:36] jimsnab opened #10178 "argocd version hangs if server is unreachable"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Similar to [login issue](https://github.com/argoproj/argo-cd/issues/9679)

I am in the middle of redeploying and my argocd is down. I have a CLI that was logged in. I do `argocd version

[2022-08-02 21:12] crenshaw-dev commented on #10177
While `.argocd-source.yaml` was supported starting in 1.8, `.argocd-source-<app name>.yaml` is [only supported starting in 1.9](https://argo-cd.readthedocs.io/en/stable/user-guide/parameters/#store-overrides-in-git).

Aside: I would strongly recommend updating to a more recent minor version. 2.2.x is the earliest version currently receiving security updates, and the prior versions have a number of

[2022-08-03 01:18] insanemal commented on #4628
I need annotations not Labels. But the syntax is good

[2022-08-03 01:57] pookus commented on #10166
+1

[2022-08-03 07:14] rshiva777 opened #10179 "Exclude option enhancement in argocd application CRD"
# Summary

I want an exclude particular directories/files with exact path or regex pattern  from the git repo in application manifest

What change you think needs making.

At present i am able to exclude only files with regex pattern

# Motivation

Please give examples of your use case, e.g. when would you use this.

I have the below directory structure,
**github
  -- app-front
  -- app-backend

[2022-08-03 08:30] pierluigilenoci commented on #4002
@De1taE1even theoretically, when a cache is invalidated, the software should be forced to re-download the content from the original source.

How to use this mechanism then I'll leave to you. 😜

[2022-08-03 08:40] OmarKalloush commented on #10176
If this is as simple as upgrading to 1.18 I would like to do this please.

[2022-08-03 11:07] ybelleguic opened #10180 "proxy environnement variables are not taken into account when using gprc-web option with the argocd cli"
Hello !

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

When running the following command :
`argocd login $ARGOCD_URL --username admin --grpc-web-root-path / --password $PASSWORD` on a workstation which is behind a corporate proxy

[2022-08-03 11:52] renjithvchandran opened #10182 "ArgoCD url become unresponsive and need to exit or refresh to get back to the page"
Hi, We have seen argocd become unresponsive frequently while click on applications and the page either need to exit or refresh every time to get back to the page.

[2022-08-03 15:42] crenshaw-dev commented on #10176
@OmarKalloush sure! If you want to do the upgrade part, I can add the plugin docs notes later. Let me know if you need any help.

[2022-08-03 15:45] crenshaw-dev commented on #2789
@romuduck yep, an AppSet with a git file generator would probably do a fine job of this. But you're right, it'll introduce duplication. And if you're only working with a single App, wrapping it with an AppSet is a bit weird/cumbersome.

[2022-08-03 19:06] #10177 closed

[2022-08-03 19:12] crenshaw-dev commented on #10174
@ashutosh16 does this draft PR look like something you could pick up?

[2022-08-03 20:03] crenshaw-dev commented on #10058
Fix released with 2.3.7 and 2.4.8. https://github.com/argoproj/argo-cd/pull/10116

[2022-08-03 20:03] #10058 closed

[2022-08-03 20:16] ralf-cestusio commented on #8683
I have a question.
I am on 2.4.8 so the fix for this should be in
i have the following 2 objects (the network Claim "owns" the XNetwork) and from my understanding on how the tracking-id works XNetwork should not be considered for Pruning.
But it does get pruned on synch.
Is there something i misunderstand?
[code]

[2022-08-03 21:50] crenshaw-dev commented on #10179
I think we already support a single exclude pattern:

https://github.com/argoproj/argo-cd/blob/3f858f58f42aeafd4029872e1fe7690d5c7d1cbd/docs/operator-manual/application.yaml#L100-L105

That field is evaluated by a [glob library](https://pkg.go.dev/github.com/gobwas/glob#Compile) that supports multiple patterns.

So I think you could use `{app-db,app-exporter}` as your exclude pattern.

[2022-08-03 21:54] jmccrumm opened #10189 "A Merge Generator with two git generators does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have values files for my helm application in two different external repositories that I would like to apply to my single application. I tried using a merge generator as pasted below,

[2022-08-04 00:42] jessesuen commented on #8683
The fix doesn't seem to work in v2.4.8. Here is a repo which can reproduce the issue:
https://github.com/jessesuen/bug-self-ref-pruning

[2022-08-04 00:49] jessesuen commented on #8683
Video proof:

https://user-images.githubusercontent.com/12677113/182739188-4b9483b8-ed56-4364-8fcd-18ddd7e5ba19.mov

[2022-08-04 02:19] ashutosh16 commented on #4628
I'm thinking to add the annotation to the `createnamespace` sync option itself.
[code]
I made the [code](https://github.com/ashutosh16/argo-cd/blob/feat/customnamespace-annotation/controller/sync.go#L236-L247) change and tested it in local. I'm able to create a namespace with/without annotation. Do we still need a separate sync option?

[2022-08-04 04:28] rshiva777 commented on #10179
@crenshaw-dev  Thanks for the inputs, but seems like the pattern {app-db**,app-exporter**} is not working.  Its expecting only string

error: error validating "app.yaml": error validating data: ValidationError(Application.spec.source.directory.exclude): invalid type for io.argoproj.v1alpha1.Application.spec.source.directory.exclude: got "map", expected "string"; if you choose to ignore these error

[2022-08-04 05:29] rshiva777 commented on #10179
@crenshaw-dev  Thanks for the quick support. Seems to be the pattern is working fine.

[2022-08-04 06:57] iam-veeramalla commented on #10182
Hi @renjithvchandran , Can you please provide additional information about issue ?
1. What is the Argo CD version ?
2. Can you see any error in the Argo CD Server logs ?

[2022-08-04 07:31] renjithvchandran commented on #10182
Hi @iam-veeramalla , We are not seeing any error during the time of issue, as its just hung in the console and we need exit the page and refresh.

Currently we are using [argocd:v2.2.9]
![Error ](https://user-images.githubusercontent.com/51434515/182789785-10ed3701-7e20-4244-815d-66495cd84308.png)

[2022-08-04 07:35] iam-veeramalla commented on #10178
Hi @jimsnab , I was trying to reproduce the issue using the same Argo CD CLI version and the steps that you mentioned.
[code]

Am I missing something ?

[2022-08-04 07:49] iam-veeramalla commented on #10168
Hi @AmoghHegde21 , Alex has answered a similar question in one of the previous issues. Please find the response below.

[code]

Issue comment for your reference:
https://github.com/argoproj/argo-cd/issues/2437#issuecomment-542244149

[2022-08-04 09:26] jannfis commented on #8683
I have found the bug and fixed it.

Will write some e2e test around it and then submit a PR.

[2022-08-04 10:21] jimsnab commented on #10178
I see that response and it would be the expected one. But there are times argocd will hang. I've given it 10 minutes. My argocd setup is relying on GKE and its load balancers, so apparently, the CLI is able to maintain a socket connection to the LB but isn't communicating.

I have automation that initially checks for argocd version and the job will get stuck.

Bottom line, getting a version should

[2022-08-04 11:21] jimsnab opened #10197 "Docs: ssh repo guidance specifies url incorrectly"
The documentation contributes to the difficulty of troubleshooting ssh repo connections by a minor oversight. [This page](https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/) shows entering an ssh URL without the `ssh://` prefix.

The prefix is required.

[2022-08-04 11:49] iam-veeramalla commented on #10178
@jimsnab so this is an intermittent issue at your end. I am only trying to reproduce the issue to understand the issue :).

[2022-08-04 12:13] jannfis commented on #8683
In order to fix this, first https://github.com/argoproj/gitops-engine/pull/436 should be merged. Then, I'll update https://github.com/argoproj/argo-cd/pull/10198 to include new changes from gitops-engine.

After that, we can cherry-pick both changes into their appropriate release branches.

[2022-08-04 12:26] jimsnab commented on #10178
Even if you can't reproduce it, because perhaps it is related to infrastructure such as GKE that you might not have, fundamentally the repo doesn't matter because networks by definition are unreliable. Getting a local version shouldn't assume otherwise.

[2022-08-04 12:35] zfrhv commented on #2600
hello, is there any way to still use shared resources?

we have RHSSO and LDAP (as a backup) in our openshift environment.
so we want in each application to add a block of its own configuration into the `OAuth/cluster` instance under `spec.identityProviders[]`, for example:
[code]

we prefer not to have a separate application only for the OAuth instance.

also is there any way to tell agrocd to ap

[2022-08-04 12:39] jimsnab commented on #10178
Are you sure you can't reproduce this? I just tried this -

1. argocd login (success)
2. go to kubernetes and delete argocd namespace
3. argocd version (hung)

It would be nice to have `--local` and `--server` flags to `version` command, and then a timeout around network i/o.

[2022-08-04 12:54] Diliz opened #10200 "Pod selectors labels hardcoded in the argocd cli"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

The argocd deployment matchLabels are hardcoded in the argocd cli:
https://github.com/argoproj/argo-cd/blob/master/cmd/argocd/commands/admin/app.go#L262
https://github.com/argoproj/argo

[2022-08-04 13:46] crenshaw-dev commented on #10179
@rshiva777 ah yeah, it's trying to parse the pattern as yam. Try this:

[code]

The quotes should force the YAML parser to treat the pattern as a string.

[2022-08-04 17:24] endophage commented on #9891
I hear you that there's a way to do it. My issue is that there's a huge gap between the docs, which don't address or provide any guidance on the complexities you've highlighted with needing duplicate ConfigMaps/Secrets. Being blunt, it often feels like a lot of projects omit these types of complexities from the docs to make the feature seem better than it is. I don't expect the info to be included

[2022-08-04 17:59] jsoref commented on #10050
@jannfis: Do you want to reopen this to cover https://github.com/argoproj/argo-cd/pull/10056#pullrequestreview-1062377967

[2022-08-04 18:00] crenshaw-dev commented on #10050
Yep, my bad, that PR didn't cover everything asked here.

[2022-08-04 18:06] jannfis commented on #10050
Yes, I actually merged the linked PR without looking at this issue.

I'm totally in favor of this enhancement proposal. Thanks.

[2022-08-04 18:10] jannfis commented on #10050
I'm not necessarily fond of exposing it as a first class command.

I think the right place where it should live is at `argocd admin account` - WDYT?

[2022-08-04 18:23] jsoref commented on #10050
If that's the only place that needs it, that sounds good.

(I wasn't trying to ask for a first class command, just a thing to cover whatever argocd needs users to use bcrypt to do)

[2022-08-04 18:25] yeya24 commented on #9925
I think this is a possible option as the source.
Flux already supports the bucket source which generates manifests from object storage. https://fluxcd.io/docs/components/source/buckets/

I agree there is no explicit versioning in this case so it is not able to do Git-related operations like rollback, pin to a specific commit, etc.

[2022-08-04 18:26] crenshaw-dev commented on #4628
@ashutosh16 I think we'll probably want to provide the option to accept the labels/annotations JSON-encoded so people are free to include and `=` or `,` in their config. Like this:

[code]

[2022-08-04 18:26] YachikaRalhan commented on #7072
I would like to contribute here @servo1x @alexmt
I have gone through the issue and the related side of code. Could you please tell if we want to modify the resources API to get the namespace as a node also and Service/Deployments will have the namespaces as parent ref OR do we want modify the array of nodes at the UI side only
I think modifying the resource API makes sense to me, what do you say?

[2022-08-04 18:35] crenshaw-dev commented on #7072
I think either client-side or server-side is fine. I think we'd want this to be an optional mode, so I think rather than modifying the existing resource tree API endpoint, we'd want to create a new one to produce the desired structure (maybe by taking an existing resource try and applying some algorithm, rather than re-writing the tree logic from scratch).

[2022-08-04 18:41] zfrhv commented on #2600
why not to enable shared resources, merge the fields, and only if there are 2 applications that use the same field inside the same resources then make the warning? : >

[2022-08-04 18:51] YachikaRalhan commented on #7072
okay I got your one point that we have to write a new endpoint to get the desired structure of data
But how do we make this view optional? @crenshaw-dev

[2022-08-04 18:54] crenshaw-dev commented on #7072
@YachikaRalhan I was thinking some kind of toggle button, near or in the zoom settings box.

[2022-08-04 18:56] YachikaRalhan commented on #7072
Got it, what would be the label for that toggle? @crenshaw-dev

[2022-08-04 18:56] YachikaRalhan commented on #7072
And I can work here, can you please assign that to me?

[2022-08-04 18:59] crenshaw-dev commented on #7072
I think something like "Group by namespace". Sure!

[2022-08-04 19:23] andrewm-aero commented on #2785
@crenshaw-dev  Here's an approach that might work for a short-term band-aid fix: Add a field to AppProject called, something like, `.spec.appOfAppsSandboxed`. Its a bool, defaults to false (or maybe make it a breaking change and default to true to be secure by default, or maybe make the default configurable via cmd arg), and if set to true, if an Application in that AppProject creates another Appl

[2022-08-04 19:34] crenshaw-dev commented on #2785
@andrewm-aero yep, I'd be in favor of a very-limited feature like that, just to get the basic problem solved.

Maybe the field could be nested to allow future expansion:

[code]

[2022-08-04 20:05] andrewm-aero commented on #2785
I like the nested field idea. I've got some time this weekend, this seems simple enough that I can start on a PR if you'd like me to.

[2022-08-04 20:07] crenshaw-dev commented on #2785
@andrewm-aero that would be awesome! lmk if you need help with the dev environment or anything else.

[2022-08-04 20:23] crenshaw-dev commented on #10126
@e1ven when `getClaims` returns an error, the `claims` set on the request context is eventually set to an empty string, so the eventual RBAC check on the logs request will fail, causing an unauthorized error. https://github.com/argoproj/argo-cd/blob/fc15731c3fcfde804566e9a4e992e585f6af152d/server/server.go#L1113

I think the main problems are 1) the UI keeps asking for logs, even when an error is

[2022-08-04 20:59] itmustbejj opened #10204 "Expose pull request labels in Pull Request generator template"
# Summary

Expose pull request labels in the template context for applicationsets using the pull request generator.

# Motivation

As a user I would like to use pull request labels to customize the templating of application sets using the pull request generator
# Proposal

How do you think this should be implemented?
Extend the[ PullRequest struct](https://github.com/argoproj/argo-cd/blob/master/a

[2022-08-04 21:49] scalen commented on #9891
I agree about documentation, in so much as I fully support a use-case that mixes Sync Waves and Sync Hooks to implement InterWave Hooks: it's a very common use-case to which there is a good (but not immediately obvious) solution that exactly implements your intuitive feature request.

In terms of my solution with duplicated ConfigMaps as PreSync Hooks, I don't think that should be documented expli

[2022-08-04 22:09] mfabricanti opened #10205 "Is it a good idea to move url from out of configMap argocd-cm?"
# Summary

For now, we have around 20+ clusters with one ArgoCD instance per cluster.
In order to manage (mainly thinking in the update process) we've installed one instance to rule all other instances.

When I download the new [installation manifest](https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.8/manifests/ha/install.yaml) and commit to the repo, this ArgoCD instance (named as One Ring

[2022-08-05 00:03] ffluk3 commented on #9451
Attempting to solve this [here](https://github.com/argoproj/argo-ui/pull/263) by allowing fuzzy searches instead of wildcards that would augment all search fields used through Argo UIs. Does that seem reasonable?

[2022-08-05 01:39] castaneai commented on #9626
Hi, I too was having trouble with the deprecated API: customresourcedefinitions.v1beta1.apiextensions.k8s.io calls.

After some research, it seems that ArgoCD calls the v1beta1 API in ArgoCD v2.2 or earlier. The solution was to bring ArgoCD up to date (v2.3 or higher) as this has been fixed in #8515 .

[2022-08-05 07:28] gauravkcldcvr opened #10210 "Detailed audit logs for argoCD applications"
Hi team,

How we can have audit logs enabled for the argoCD apps to track who disabled the auto sync?

`
Use case: This will help in tracking audit logs for someone enabling/disabling the auto sync for the application. So that this can be alerted`

The argoCD events do not give much info on who updated the resource and what is updated in the application spec.

Example :

```51s         Normal    R

[2022-08-05 07:31] decipher27 commented on #10210
Yo yo

[2022-08-05 09:55] suraj2410 opened #10214 "High Network traffic on the argocd-redis-ha pods (both in and out)"
**high network I/O traffic seen on the argocd-redis-ha-server side**

We recently noticed a high spike of inbound traffic to the argocd-ha-server workload by the fact that our monitoring and APM metrics indicate that to be in TB's

we are running with 3 pod argocd - ha server directly from github.com/argoproj/argo-cd/manifests/ha/cluster-install?ref=v2.4.7 without any big changes

**To Reproduce**

[2022-08-05 10:16] kubermihe commented on #6666
I have the same behaviour on my side. When i try to increase the disk from loki-stack StatefulSet, the size changes in the sts if it's deleted in "NON-CASCADING (ORPHAN) DELETE" mode. Then the size is correct in the StatefulSet, but not in the PVC, which is managed by the StatefulSet.

If the change is done manually in ArgoCD by editing the PVC, the change is reverted directly by ArgoCD and the di

[2022-08-05 10:50] rosscdh opened #10215 "Feature - application notes"
# Summary

As a deploying user id like to write notes to other users of argocd that can describe the current state and potential side effects
so that critical information can be displayed as a flash at the top of an application view
so that medium to long term status can be better described

# Motivation

describe why an app is deployed but in incongruent state
deprecation notices
notes and team a

[2022-08-05 13:05] jeremydescamps commented on #8952
Is there any workaround for now ?

[2022-08-05 13:06] joshmue opened #10218 "[Feature] Implement option to fetch repository credentials at runtime"
I could not find an existing GH issue covering that, so here we go. If you want, I could take a look on how to implement this.

# Summary

Implement option to fetch repository credentials at runtime.

# Motivation

For cluster access, ArgoCD already offers setting `ExecProviderConfig` to fetch cluster credentials dynamically using a [Kubernetes credential plugin](https://kubernetes.io/docs/referen

[2022-08-05 13:53] tukak commented on #8952
@jeremydescamps workaround is to use https://mike7515.github.io/argocd-ecr-updater/

[2022-08-05 13:56] Marvin9 commented on #10182
Can you try [this](https://stackoverflow.com/a/46186556/8329916) when page become unresponsive and share the screenshot of code from dev tools at which point it is stuck? @renjithvchandran

[2022-08-05 14:25] crenshaw-dev commented on #10205
Have you considered using a Kustomize overlay to modify the install manifests? I'm not sure how powerful Kustomize's ConfigMap-overriding capabilities are, but at the very least it should be possible with a JSON patch.

[2022-08-05 15:04] gmcbrien commented on #9256
We have a similar requirement. We use OPA Gatekeeper to enforce policies in higher environments. We want to set the enforcement policy to 'Warn' in lower, development environments. Trouble is, the developers don't see these warnings in ArgoCD.

[2022-08-05 15:44] jeremydescamps commented on #8952
What about this ? https://github.com/argoproj/argo-helm/blob/aa418962922d5967aaebe7a7fb362fa21d1104e2/charts/argocd-image-updater/values.yaml#L89-L95

Did you try ?

[2022-08-05 15:53] meln5674 commented on #2785
I've switched to my personal account (and time) just to ensure no complications with the DCO. PR is up, which I think you saw. Wasn't able to run the e2e tests locally, both the start-e2e and start-e2e-local targets fail in different ways w/ go package installs, despite working in the CI, not sure if that's a known issue or if I just have an unsupported setup.

[2022-08-05 16:04] crenshaw-dev commented on #5886
Note that `argocd-default-cluster-config` is a feature of the [Argo CD Operator](https://argocd-operator.readthedocs.io/en/latest/).

If you're not using the Argo CD Operator but are using declarative cluster configs, use the `clusterResource` key. I've opened a [PR](https://github.com/argoproj/argo-cd/pull/10219) to document that key.

[2022-08-05 16:09] blakepettersson opened #10220 "Permit only Project-scoped clusters to be a valid Destination"
# Summary

It seems to be the case that project-scoped `Application`s can be installed onto clusters which are not a part of the same project.

[code]

# Motivation

So far this has not been a problem, but it would be nice to ensure that this situation cannot happen at all. We have a bunch of developers that are slinging `Applications` left and right, and we'd like to ensure that mistakes (or some

[2022-08-05 16:14] crenshaw-dev commented on #2785
Thanks for putting that up! Yeah tbh e2e has always been annoying for me locally too, so I just rely on CI.

[2022-08-05 16:20] crenshaw-dev commented on #10220
Would you be up for writing a PR?

[2022-08-05 16:39] zbialik commented on #7636
would love to see this for `namespaceResourceBlacklist`, as well

[2022-08-05 16:42] blakepettersson commented on #10220
Yes, of course 😄

[2022-08-05 16:59] #10176 closed

[2022-08-05 18:41] leoluz commented on #4628
@insanemal can you please elaborate on why @rishabh625 suggestion above doesn't satisfy your use-case? I don't use Rancher UI but would like to understand the implications a bit better.

[2022-08-05 19:03] crenshaw-dev commented on #4628
Reasons for CreateNamespace, per the original issue thread:
* Using external Helm charts that might not come with their own namespace; you'd have to create a second app for the namespace - https://github.com/argoproj/argo-cd/issues/1809#issuecomment-553101410
* If a presync hook depends on the ns, you have to create it in the presync hook; afaik this isn't a huge burden, just a bit more complexity

[2022-08-05 19:17] #10113 closed

[2022-08-05 22:43] cesarmesones commented on #9809
For us it was pod security policies that needed updating- try this for a quick test giving the namespace priviledged access

[code]

[2022-08-05 23:16] #2267 closed

[2022-08-05 23:16] #2268 closed

[2022-08-05 23:36] rouke-broersma commented on #10205
Either that or use helm if Kustomize is not sufficient.

[2022-08-05 23:42] rouke-broersma commented on #10167
The logs suggests one of your users clicked delete in argocd on the application containing all your resources. This smells like user error.

[2022-08-06 00:42] ejhayes commented on #9931
Any thoughts on how this could be moved forward @crenshaw-dev?

[2022-08-06 08:17] cwachira commented on #2789
If you have multiple values.yaml files, you can use the [Merge Generator](https://argocd-applicationset.readthedocs.io/en/stable/Generators-Merge/#merge-generator), to merge the values for the template.

For example, if you have 2 values file,

values1.yaml
[code]

values2.yaml
[code]

You can use the `unique` key-value to merge the 2 value files in Merge Generator, e.g.,

[code]
In the template,

[2022-08-06 08:47] ayan4all commented on #10167
@rouke-broersma - Thanks for your reply.
We had inquired with the user "bachamn" on this. He said he had updated the secret from GUI and after restarting the ArgoCD pods, he only logged into ArgoCD GUI to check the sync window,
This pod restart was needed for "argo-cd-repo-server" pod mainly, otherwise it was picking up the old secret from its env variables.

Is there any possibility of similar lo

[2022-08-06 08:55] rouke-broersma commented on #10167
A maintainer of argocd would have to answer that question because I don't know, but to me the log message is very clear. It specifies this user initiated the delete. If it was initiated by auto sync I would expect it to say initiated by auto sync or something like that. Now it could be that if the user initiates a hard refresh, and the application does not exist in the git repo, that argo classifi

[2022-08-06 19:25] joebowbeer commented on #677
See https://github.com/argoproj/argo-cd/issues/2789#issuecomment-1207172980

[2022-08-06 19:27] joebowbeer commented on #9177
See https://github.com/argoproj/argo-cd/issues/2789#issuecomment-1207172980

[2022-08-07 02:20] emirot commented on #8086
building new gpg version on al2: https://github.com/emirot/amazon-linux-gpg

[2022-08-07 08:07] marcportabellaclotet-mt opened #10232 "Add 2FA option when syncing applications"
# Summary

I would like to have a 2FA method when running an argocd sync.

# Motivation

We are running critical applications deployed with argoCD. We would like to have an option to add an "approval" via 2FA when a critical and sensitive application is being updated.
We are applying zero trust policies.
There have been several cases where github accounts have been compromised, and this opens the

[2022-08-07 09:30] Mais316 opened #10233 "All 2.4.x images have critical Vulnerbilites after Scanning it with Trivy"
Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*] I've pasted the output of `argocd version`.

**Describe the bug**

We have been using ArgoCD for Prod env since Jan 2022, recently as its being used by more of our divisions we are caching and scanning all our tools images in Harbor via Trivy.

We noti

[2022-08-07 12:35] Enity opened #10234 "ApplicationSet Gitlab PR generator hooks support"
# Summary

Currently Gitlab webhooks have no effect on ApplicationSet PR Generator.

# Motivation

This will improve the user experience as updates will be delivered faster. We'll also get consistency between gitlab and github behavior.

# Proposal

As far as I understand, this is due to the fact that the _getPRGeneratorInfo_ function does not support Gitlab events
https://github.com/argoproj/argo

[2022-08-07 19:58] jannfis commented on #8086
I believe CentOS 7 uses a pretty old 2.0.x version of GnuPG. I think it makes no sense in adding support for something to Argo CD which is not supported upstream anymore. https://gnupg.org/download/index.html lists 2.2.x as the LTS version, and 2.3.x as the current stable one.

Probably it makes more sense to install a recent version of GnuPG to your CentOS 7 based container images.

[2022-08-08 05:51] rshiva777 commented on #10179
yes, it is working with double quotes. Thanks @crenshaw-dev

[2022-08-08 05:51] #10179 closed

[2022-08-08 07:41] sboschman commented on #9931
By chance I did have time last week to have a better look at it and was able to make a fix.

[2022-08-08 08:50] tukak commented on #8952
We don't use argocd-image-updater at the moment, so no experience with that.

[2022-08-08 10:38] itai-gendler commented on #3157
any chance there is an update on this one?

[2022-08-08 12:51] jimsnab opened #10239 "known_hosts configmap stopped working"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

I use Helm to install ArgoCD, via Terraform. It does a helm update every time even if there is no change. (Some day I'll look into why.)

The helm update takes a minute but usually does no harm, and so for m

[2022-08-08 13:19] krayne commented on #2785
The childAppProjectAllowList approach fits much better than appMustUseThisProject in my opinion.

As long as Applications must be created within the argocd namespace, you always need to grant argocd namespace as destination as well in the appProject. But with appMustUseThisProject you can't restrict the resourceWhitelist for argocd namespace independent to the other namespaces.
This causes, that m

[2022-08-08 13:25] jimsnab commented on #10239
I found the issue.

The key name can't be arbitrary. It must match the form specified in the error message: `[bitbucket.myserver.io]:7999`. I don't have an explanation for "why now?" - and it is strange that argo Repositories UI doesn't have the same issue.

[2022-08-08 13:28] trudesea opened #10240 "Cannot get email to work: notification service 'email' is not supported""
### Discussed in https://github.com/argoproj/argo-cd/discussions/10208

<div type='discussions-op-text'>

<sup>Originally posted by **trudesea** August  4, 2022</sup>
Hi,

I just started using argocd a few days ago. I'm having an issue getting emaill to work. I have an smtp that does not require authorization. My configmap is as follows

[code]
I am getting this error in the gke logs:

[code]
What

[2022-08-08 14:53] aelbarkani commented on #5389
Good news @lorelei-rupp-imprivata ! Any hint about where we can find how to do that ?

[2022-08-08 14:57] lorelei-rupp-imprivata commented on #5389
You can do this with the helm chart, they expose a way to customize the things outlined in the description of this issue.  See my PR add as well, which allowed the cluster role configuration customization

[2022-08-08 15:18] rbounds opened #10241 "CHANGELOG.md is out of date"
Change log is currently at `v2.4.0 (Unreleased)`  despite the current release being `v2.4.8`

[2022-08-08 15:50] #9961 closed

[2022-08-08 15:57] crenshaw-dev commented on #10233
CVE-2022-1966 should be safe to ignore. go-restful is a transient dependency used in generating the swagger.json file, and it is not used at runtime.

CVE-2021-44716 should also be safe to ignore. Argo CD uses go 1.18 for the whole 2.4.x series. The scan is probably catching go versions for the bundled Kustomize and/or Helm binaries, neither of which should be handling HTTP requests on the Argo CD

[2022-08-08 17:22] zillani opened #10243 "error while creating application"
**How to reproduce?**

From argocd UI,
New App -> specify helm chart repo URL -> chart -> version

**Error**
The network call from argocd is giving 500x error with the log,

{"error":"lstat /tmp/31b66186-770d-48e3-aa6a-7e3ad6c99ca8/mychart: no such file or directory","code":2,"message":"lstat /tmp/31b66186-770d-48e3-aa6a-7e3ad6c99ca8/cuup: no such file or directory"}

the logs of argocd repo serve

[2022-08-08 17:29] zillani commented on #10243
This is happening only for a specific version of my chart.

[2022-08-08 17:37] #8683 closed

[2022-08-08 17:58] slamer59 commented on #9440
Lose 4h... to see that it works even with the error message ...

[2022-08-08 18:30] AlexDHoffer opened #10244 "App history in CLI doesn't contain health results"
# Summary

When you run ``argocd app get [my-app] -o yaml`` and check an Application's history, the entries don't contain Health statuses. For example, I think it would be useful if the history list looked like:

[code]

There may also be a case for containing the sync status from this operation, but it isn't relevant to our current situation.

# Motivation

We'd like to know the currently active

[2022-08-08 19:03] #9968 closed

[2022-08-08 19:05] #10239 closed

[2022-08-08 19:44] #10241 closed

[2022-08-08 20:18] #10234 closed

[2022-08-08 20:27] #9920 closed

[2022-08-08 21:19] #8320 closed

[2022-08-09 02:49] robozb commented on #3913
Thanks a lot, It solved my problem! (The sync was failed with namespace creation problem)

[2022-08-09 04:54] dhirschfeld opened #10248 "Allow grouping in the UI by custom label/annotation"
# Summary

At the moment it appears that grouping groups the same resource types together.

it would be good if there were an option to group by a custom label or annotation.

# Motivation

Some of my helm charts deploy multiple different services each of which deploys a number of resources of different types. It would be useful if there were some way to group *"related"* resources i.e. resources

[2022-08-09 04:56] dhirschfeld commented on #10248
If the group surfaced info showing if any of the underlying resources were unhealthy it would make it quicker to figure out which microservice had a problem and hence aid debugging,

[2022-08-09 06:50] jannfis commented on #2785
As @crenshaw-dev mentioned, I'd favor implementing this with the features introduced by #9755 instead of introducing a new setting in the `AppProject` spec for something that is also achievable in another way.

For example, you will be able to setup an application namespace for tenant A (let's call it `tenant-a`), then setup an `AppProject` like this:

[code]

Now, someone able to use AppProject `

[2022-08-09 09:21] Prarthana29 opened #10249 "Failed to query provider <url>/api/dex: 503 Service Unavailable: upstream connect error or disconnect/reset before headers. reset reason: connection termination"
I had set up the SSO auth using GitHub which resulted in this 503 service being unavailable
Checklist:

*   [SSO setup with dex ](https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management)

**Describe the bug**
When I tried to set up the SSO resulted in the `503 Service Unavailable: upstream connect error or disconnect/reset before headers. reset reason: connection termination
`

**

[2022-08-09 09:24] Prarthana29 commented on #10249
the issue got resolved by adding field appprotocol as TCP in  **argocd-dex-server** service as per the [istio documentation ](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/). I am not sure if it is a bug

[2022-08-09 12:06] aostrovsky commented on #2789
That approach is not really comfortable when you want to see changes done in DevOps repo
On UI you will see commits related to public Chart repo and no any signs of your changes in values.yaml

[2022-08-09 12:15] aostrovsky commented on #7257
Where you refer in application definition to repo where prometheus-stack-vaules.yaml exist?

[2022-08-09 12:17] aostrovsky commented on #7257
Any news when 2.5 will be out?

[2022-08-09 12:55] nazarewk commented on #10077
Could it be that events are received/processed out of order?

[2022-08-09 12:58] jetersen commented on #9413
Perhaps it would help if ApplicationSet SCM generator used the exist secrets so it could pick up the GitHub App secret?

Instead of having to reference a separate token secret.

https://github.com/argoproj/argo-cd/search?q=GithubAppInstallationId

[2022-08-09 14:01] crenshaw-dev commented on #9413
@jetersen I think that might be what this PR does: https://github.com/argoproj/argo-cd/pull/10092

Hoping to review it today.

[2022-08-09 14:14] jetersen commented on #9413
@crenshaw-dev thanks for cross linking, I was searching for issues and PRs but found this one first and dropped my comment here 😅

[2022-08-09 14:19] crenshaw-dev commented on #2785
@meln5674 would the solution Jann is describing be sufficient, or do you see additional value in the "lock" feature you've written?

I'm annoyed at myself that I didn't think of Jann's suggestion first. Might have saved you some time.  :-)

[2022-08-09 14:25] cbl315 commented on #10233
CVE-2022-1966 is not relevant(related to CORS) but confusing, `client-go` and `kube-openapi` have already upgrade this module version, see [commit of client-go](https://github.com/kubernetes/client-go/commit/7e1edab3f7bc910b9e5f729d2b8a0b668995d87a) and [commit of kube-openapi](https://github.com/kubernetes/kube-openapi/commit/77c5a1ef51a049e07e19342b134205530a56776d), so I think upgade the `clien

[2022-08-09 14:29] crenshaw-dev commented on #10233
@alexmt is https://github.com/argoproj/argo-cd/pull/9932 the kind of thing that can be cherry-picked back? Looks pretty extensive.

[2022-08-09 14:30] #8015 closed

[2022-08-09 14:31] crenshaw-dev commented on #7257
@aostrovsky I think an RC will be cut in the next 2-3 weeks.

[2022-08-09 14:52] crenshaw-dev commented on #10248
@dhirschfeld is breaking the Helm chart into multiple Applications a viable option? You could still manage them from one app-of-apps.

[2022-08-09 14:55] crenshaw-dev commented on #3913
For people who arrive here via search: start by just enabling namespaces, and add resources as necessary.

[code]

[2022-08-09 15:08] crenshaw-dev commented on #8086
Closing this in favor of Jann's suggested workaround (upgrade GnuPG on your CentOS image. Will reopen if that workaround isn't viable!

[2022-08-09 15:08] #8086 closed

[2022-08-09 15:27] Anishmourya opened #10255 "Need to add support to edit the ARGOCD application from the --file like the way it does work from the create option"
# Summary
I have come across automating the ARGOCD application. So when creating an application in ARGOCD does support --file option which can pass any file which contains the manifest of the ARGOCD. but after sometime later I may need to edit something in the Application, therefore i can use `argocd app edit app_name--port-forward-namespace argocd_namespace --port-forward ` but this doesn't suppo

[2022-08-09 15:58] crenshaw-dev commented on #10233
I'm thinking perhaps we can just go to 0.23.9: https://pkg.go.dev/k8s.io/client-go/kubernetes?tab=versions

[2022-08-09 16:10] crenshaw-dev commented on #10205
Closing for now. @mfabricanti let me know if the proposed workarounds aren't sufficient!

[2022-08-09 16:10] #10205 closed

[2022-08-09 17:41] krayne commented on #2785
Thanks a lot for your feedbacks. Unfortunately I wasn't aware of https://github.com/argoproj/argo-cd/pull/9755 but this one fits
 perfect for our needs.

[2022-08-09 18:07] crenshaw-dev commented on #2785
@krayne that's my bad. I'm glad this will work! I'll close your PR, and then we can reevaluate if namespaced apps don't solve all the problems.

[2022-08-09 18:34] eburnette commented on #8021
[#6901](https://github.com/argoproj/argo-cd/pull/6901) uses https if you have any tls hosts, which is good enough for me.

[2022-08-09 18:44] jmmclean opened #10257 "Argo crushes other Argo's in the same cluster"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [] I've pasted the output of `argocd version`.

**Describe the bug**
When running multiple Argo's on the same cluster (separated by namespace), Argo will crush other argo's if the `in-cluster` is being declaratively managed and the `namespaces` key is remo

[2022-08-09 20:00] ashutosh16 commented on #10174
@soudaburger  You can manage submodules at [git config level.](https://git-scm.com/docs/gitmodules#Documentation/gitmodules.txt-submoduleltnamegtfetchRecurseSubmodules).  Add the option `fetchRecurseSubmodules = false` in your `.gitmodules` that should  restrict access to private repo. Can your try and let me know if that resolve your issue?

[code]

[2022-08-09 20:21] gigi206 opened #10258 "Allow to add additional resources to an Application"
# Summary

Add the possibility to add custom resources yaml to an `Application`.

# Motivation

Some charts don't allow to add custom yaml values. In some cases, it could be great to add custom code to the original chart.

# Proposal

[code]

[2022-08-09 20:38] crenshaw-dev commented on #10258
Would a multi-source application fit your use case? https://github.com/argoproj/argo-cd/pull/8322

[2022-08-09 20:48] soreshin opened #10259 "Deployment doesn't inherit "progressing" status from replicaset"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have an app with some workload. And in this app there is a deployment. When there are some problems in child workload I don't see it in health status of the deployment neither the app

[2022-08-09 20:52] gigi206 commented on #10258
Yes it could :)

I see that I must wait until the 2.5 release ;)

[2022-08-09 22:10] gopaljayanthi opened #10260 "webhook trigger default method is GET and ignores the value of the field in template webhook.<name>.method"
Checklist:

* [yes ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [yes ] I've included steps to reproduce the bug.
* [ yes] I've pasted the output of `argocd version`.

**Describe the bug**
webhooks with POST methods are failing as default method GET is not being overwritten.

**To Reproduce**

http://ip.jsontest.com/ can be used to test rest api
curl -X POST -H "C

[2022-08-09 22:34] crenshaw-dev commented on #10258
Yep! An umbrella chart (pulling in your Helm chart as a dependency of a new, top-level chart) is probably the way to go until then.

[2022-08-10 00:00] gopaljayanthi commented on #10260
the trigger part of the argocd-notification-cm requires the name of the template in the send filed. If not the request is sent as GET  and template is ignored.

[2022-08-10 00:00] #10260 closed

[2022-08-10 01:53] qixiaobo commented on #9440
Time killer 😢

[2022-08-10 02:18] kenchan0130 commented on #9440
I have already made tentative corrections [here](https://github.com/argoproj/argo-cd/pull/9836).
I am waiting for your vote as it seems to be a low priority for review.

[2022-08-10 03:12] icicimov opened #10261 "Setting "eks\.amazonaws\.com/role-arn" as part of helm parameter name failes domain regex"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I already posted this as question in Slack and here https://github.com/argoproj/argo-cd/discussions/10250 so that can help as a reference. Basically I'm struggling with annotating Servi

[2022-08-10 07:31] KlavsKlavsen commented on #6391
hoping for this one too

[2022-08-10 07:55] dnnnvx commented on #8128
That's also the way to go for me, I always tried to replace everything (it was my first run so I wasn't worried of losing data) but it kept failing- a manual sync to CRDs only solve the problem... for now at least 👀

[2022-08-10 08:03] jannfis commented on #8683
@ralf-cestusio Just as a heads-up, the upcoming v2.4.9 release will contain a proper fix for the pruning bug.

[2022-08-10 08:12] VanTigranyan commented on #1672
@alexec Can this be added in the official docs? I tried to find this information there but didn't find it, and I think this is an important piece of information that users should be aware of.

[2022-08-10 08:12] jyotibhanot commented on #7799
Is this issue resolved? We are also trying to inject some labels in namespace elbv2.k8s.aws/pod-readiness-gate-inject=enabled but don't know how to do with argo cd.
@nickjj : Were you able to resolve the issue with argo cd?

[2022-08-10 08:55] icy commented on #2143
May we reopen the ticket? I am not sure "custom_tools" can help to address the problem. The tool https://github.com/travisghansen/argo-cd-helmfile as @travisghansen mentioned is active but I expect something from the mainstream support (aka the first-class support as @GolubevV shared).

[2022-08-10 08:58] y509319 opened #10263 "ComparisonError rpc error: code = Unknown desc = unknown error: max connections reached"
**Checklist**:

 - [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.

**Describe the bug:**

I'm having multiple K8S clusters deployed.
Many of them are running with over 50 CRDs each. Syncing with a private BitBucket repository.
On a lot of them, I see errors in the ArgoCD UI apps that state:

`rpc error: code = Unknown desc = unknown error: max connections reached`

[2022-08-10 09:12] haarvester opened #10264 "Tag tracking"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Hello. I noticed that when i pushed new image with tag 1.10 in the argocd ui i see 1.1. Its means argocd delete last zero. How to resolve this bug?

**To Reproduce**

**Expected behavio

[2022-08-10 09:39] #3474 closed

[2022-08-10 09:52] Blamas opened #10265 "Sidecar CMP plugin cannot use private dependencies"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I cannot use my custom cmp sidecar plugin with private helm dependencies.
It seems that the cached helm registry is not passed to the sidecar plugin.
When I use the same Application wit

[2022-08-10 10:56] JasonHao123 commented on #7799
My workaround is similar, to create namespace in another argocd application before hand.

[2022-08-10 11:13] ledroide commented on #7799
This workaround can't satisfy our use case. Our ArgoProjects are allowed to create namespaces from Applications specs if matching a specific pattern, then the deployment is fully automated. After the branch merges, there is no "human" operation in the "continuous deployment" process.
The app.yaml is applied/created in argocd namespace from a gitOps mechanism, then argoCD creates the app's namespac

[2022-08-10 11:31] jyotibhanot commented on #7799
@ledroide : How are you adding the labels in argocd?

[2022-08-10 12:40] ledroide commented on #7799
@jyotibhanot

ArgoCD does not set labels on namespaces.
I have tried to deploy a Namespace manifest with labels, but it conflicts with the namespace creation/sync that requires specific privileges, and moreover it loops on deleting the namespace and its contents when you need to sync.prune. See messages above for the explanation.

[2022-08-10 12:45] ralf-cestusio commented on #8683
Yes i saw the fix. Thank you for this really quick resolution!

[2022-08-10 13:22] crenshaw-dev commented on #4628
@leoluz some additional use cases are described in similar PRs here:
* https://github.com/argoproj/argo-cd/issues/6215
* https://github.com/argoproj/argo-cd/issues/7799

[2022-08-10 13:31] crenshaw-dev commented on #7799
I think this is probably a duplicate of https://github.com/argoproj/argo-cd/issues/7799?

[2022-08-10 13:33] pasha-codefresh commented on #7799
@crenshaw-dev i also have draft on this solution, i am working on opening PRs on it

[2022-08-10 15:35] roelvdberg opened #10269 "ArgoCD not auto syncing when using annotation based resource tracking"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Diffing/syncing is not working correctly when using annotation based tracking.
We see this clearly when we deploy a custom resource which is not compliant with its CRD.

**To Reproduce*

[2022-08-10 16:45] VerdonTrigance commented on #2789
Hi guys, I'm trying to implement a workaround with helm that reference public helm repo with my git values.yaml file in my private git ssh repo. But i've got an error:
[code]
My repo is:
[code]
And cred are:
[code]
I also have a known hosts:
[code]

So what is the problem with absolute path? I also tried relative path './helm/cluster-bootstraper', but it tells 'path not found'.
By the way, my app

[2022-08-10 16:49] joaofhenriques commented on #3598
+1

[2022-08-10 18:34] nice-pink commented on #9809
Hm, also no change for us.

[2022-08-10 18:35] jimsnab commented on #10178
`argocd version --client`

[2022-08-10 18:35] #10178 closed

[2022-08-10 19:11] matthewhembree commented on #2789
@VerdonTrigance `path: helm/cluster-bootstraper` should work fine. Have you tried that?

[2022-08-10 20:33] pleic commented on #9809
For me neither, however changing the underlying VM image of the worker nodes did resolve the issue for us. On a standard ubuntu based image everything is fine now, without changing anything else

[2022-08-10 20:49] crenshaw-dev commented on #3709
Question for the folks landing on this issue: does the ability to create a same-named Application in two different namespaces ([will be possible in 2.5](https://github.com/argoproj/argo-cd/pull/9755)) solve your use case? If not, what use case is not solved?

[2022-08-10 21:48] flaviomoringa commented on #3709
Hi @crenshaw-dev ,

on my case we are using argocd to handle multiple k8s clusters. Each cluster is associated with a team/project that can install whatever they want, and on any namespace.

But we from security/infrastructure must make sure there is a set of applications that are running in all these clusters. For that we create an app-of-apps that installs our landscape apps. All those are insta

[2022-08-10 23:09] gigi206 opened #10272 "Missing metrics for the grafana dashboard"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I import [examples/dashboard.json](https://github.com/argoproj/argo-cd/blob/master/examples/dashboard.json) in Grafana but metrics called by the dashboard don't exist and generate empty

[2022-08-11 00:52] crenshaw-dev commented on #3709
Would a viable solution be to create a new namespace for each cluster (maybe called `{{clustername}}-apps`), and keep the apps for that cluster in that namespace, i.e. taking advantage of #9755?

[2022-08-11 01:06] #9931 closed

[2022-08-11 01:42] crenshaw-dev opened #10273 "Update built-in tools for 2.5"
We'll be cutting an RC for 2.5 soon and, as such, we should probably get all the built-in tools as up to date as possible.

https://github.com/argoproj/argo-cd/blob/master/hack/tool-versions.sh

In particular, I known Helm 3.9.3 includes some transient security fixes, I believe due to upgrading golang.

[2022-08-11 03:25] yujunz commented on #4044
Still encounter this issue in v2.4.8

[code]

[2022-08-11 04:06] schmiman commented on #9076
Getting the same error using AWS Cognito with AWS SSO as SAML provider.

[2022-08-11 04:37] jsoref commented on #9076
Error:
https://github.com/argoproj/argo-cd/blob/fd8ecf49b2ad2acc5227c8a899354e39a7b51ea1/util/crypto/crypto.go#L43-L54

Caller:
https://github.com/argoproj/argo-cd/blob/fd8ecf49b2ad2acc5227c8a899354e39a7b51ea1/util/oidc/oidc.go#L181-L192

Not entirely certain about the caller, it's one of these two:
https://github.com/argoproj/argo-cd/blob/fd8ecf49b2ad2acc5227c8a899354e39a7b51ea1/util/oidc/oidc.go

[2022-08-11 05:46] souravsk commented on #10008
Hi, @deepto98 did you solve this issue and if you did then can you please how did you do that I know to this so it will be very helpful to understand how to work on this type of issue.

[2022-08-11 07:23] willemm commented on #3709
Yes, this would be very useful for our case!  In the meantime, I've created a small controller that syncs Applications from specific (user) namespaces to the argocd namespace (and syncs the status back), and this would be a drop-in replacement.

I've noticed you extended the AppProject spec to allow a specific set of namespaces.  So can I infer that means I can just tell argocd to allow all namesp

[2022-08-11 07:32] flaviomoringa commented on #3709
Hi @crenshaw-dev,

not really, because we want to take advantage of a new feature that will also be part of the next release Which is to be able to deny deploy access to some namespaces, so that we can protect them from changes by normal users ( for instance kyverno policies, security tools, etc). If namespaces on each cluster have different names, again it it would make this harder to setup and m

[2022-08-11 08:22] danieleharel commented on #2789
This link is not available:
https://www.softrams.com/insights/external-value-files-in-argo-cd-with-applicationsets

@cwachira
I tried your way but its not working for me.
If i have the {{values}} the argo is stuck in unknown, once i remove this value, i get an error that ApplicationSet is not found.

Any ideas?

[2022-08-11 08:36] joebowbeer commented on #2789
https://www.softrams.com/post/external-value-files-in-argo-cd-with-applicationsets-softrams

[2022-08-11 09:38] ixxeL2097 opened #10274 "cmd argocd app wait never return on Healthy/Synced application"
**Describe the bug**

I'm using CI pipeline to deploy Applications with ArgoCD CLI and I have a problem with the command `argocd app wait <app-name> --health --sync` taking a very long time to return whereas my is synced and healthy.

**Expected behavior**

The `argocd app wait <app-name> --health --sync` return 0 as soon as application is Healthy and Synced.

**Screenshots**
Application is health

[2022-08-11 09:54] wd commented on #7182
here is the code https://github.com/argoproj/gitops-engine/blob/master/pkg/health/health_pod.go#L119
they hardcoded the return value.

[2022-08-11 12:14] dhirschfeld commented on #10248
I'll have to look into the app-of-apps angle - I'm aware it exists but have never looked into it.

It sounds like it might fit the bill, *if* I was all in on ArgoCD, however I'd ideally like to ensure things also Just Work as a plain helm install, and having a laundry-list of `helm (un)install` commands to run is a significant step backwards in terms of UX.

I'm trying to sell ArgoCD as The Way Fo

[2022-08-11 12:15] dhirschfeld commented on #10248
If app-of-apps is the way to solve this problem in ArgoCD, I'm happy for this issue to be closed as `wontfix`.

[2022-08-11 12:34] ixxeL2097 commented on #10274
I've just found out that my pb is solved downgrading ArgoCD from `2.4.8` to `2.3.7`
[code]
Don't know what's going on here but it's a major concern for me...

[2022-08-11 13:46] crenshaw-dev commented on #5664
Having secrets on the repo-server means that secrets will be stored (somewhat) long-term in plaintext on 1) the repo-server disk space and 2) the Redis manifest cache. They'll also be visible in UI diffs (and therefore available via the Argo CD UI) unless either they are injected into Secrets (which we already redact) or we build some new mechanism to track where a secret was injected and then red

[2022-08-11 14:37] jyotibhanot commented on #7799
@nickjj : This is a off the track question but do you have any idea what should be the value of deregistration delay, terminationgraceperiod and sleep in order to achieve zerodowntime deployments.  I am following this doc : https://easoncao.com/zero-downtime-deployment-when-using-alb-ingress-controller-on-amazon-eks-and-prevent-502-error/

[2022-08-11 14:45] crenshaw-dev commented on #10248
That's fair. Anything that's kept in Argo CRDs (e.g. Helm chart names and potentially parameters/settings in an Application) represent lock-in. I can imagine an App-of-Apps where the Application manifests are as minimal as possible and have a logical mapping to plain-Helm constructs so it's reasonably easy to switch over.

I'd save give App-of-Apps a test run. If it fits your use case, feel free t

[2022-08-11 14:46] crenshaw-dev commented on #7799
@pasha-codefresh, @ashutosh16 also has draft gitops-engine and argo-cd PRs up, so may the best PR win.  😆

[2022-08-11 14:51] Xtigyro commented on #2143
+1

[2022-08-11 14:55] crenshaw-dev commented on #3709
@willemm that's correct!

@flaviomoringa gotcha. In other words, due to the sheer number of, and dynamic naming of, destination clusters, disambiguation-by-namespace isn't really scalable. You need a way for the Applications to live in a single namespace (or small, static number of namespaces), and yet still share the same name, so that it's easy to configure external tools to deal with them.

Cou

[2022-08-11 15:01] nickjj commented on #7799
@jyotibhanot I think this thread is way OT to have that discussion since it'll ping everyone, but I use https://github.com/foriequal0/pod-graceful-drain to do zero downtime deploys without worrying about lifecycle sleep times and graceful timeouts. Feel free to email me (it's in my GH profile) instead of replying here.

[2022-08-11 15:16] crenshaw-dev commented on #2143
I don't love Argo CD directly handling plaintext secrets, because those end up on the repo-server disk, in redis, and (potentially) in Argo CD API responses (e.g. in diffs sent to the UI).

But I'm not super familiar with the other features provided by helmfile, and I don't think plugins are full-featured enough yet to offer support on-par with a native experience. So re-opening for further discus

[2022-08-11 15:19] flaviomoringa commented on #3709
@crenshaw-dev maybe… but a human readable name would definitely be easier when we just want to go to Argo, select the cluster and see all apps.

Due to this issue we had to a add a label to all tools, for instance all crossplane apps have  “crossplane=true”, so we can see search by label “crossplane”, and see all crossplane deploys across all clusters (to check upgrades, compare, etc). If the app

[2022-08-11 15:26] travisghansen commented on #2143
What leads you to believe helmfile usage would result in plain text secrets?

I’m interested in knowing if those who have used my plugin find something lacking in the integration and if so what those things are? If it’s generally considered to be feature complete then we could look at replicating the functionality into core.

[2022-08-11 15:36] crenshaw-dev commented on #2143
It might not. @GolubevV just pointed out that helmfile makes it really easy to integrate with external secrets providers like Vault. That integration would rely on loading some Vault access secret into the repo-server (either by env var or by file) and then using that Vault access to inject secrets into manifests which are stored on the repo-server and in redis and potentially returned by API requ

[2022-08-11 15:38] VerdonTrigance commented on #2789
in that case I get

[code]

[2022-08-11 15:40] crenshaw-dev commented on #2789
@VerdonTrigance would you be up to create a new issue for that error? There's clearly something wrong, but I'm not sure it's super relevant to this issue. Feel free to link to it here so folks can follow and help out.  :-)

[2022-08-11 16:01] jmabecassis commented on #6686
+1 for having OCI helm urls + Wildcard tag tracking working on ArgoCD.
Is there an ETA on the Argo side to have this fixed by any chance? We desperately need it for what we are implemented...

[2022-08-11 16:03] VerdonTrigance commented on #2789
Ok.
By the way. For this topic I ended with terraform script instead of helm + git:

[code]

It's much easy to achieve and maintain neither helm+git. At least for public helm repos with your own values.yaml. Of course both .tf and values.yaml files are in same repo. For infrastructure tools it works fine. For custom developed applications - still don't know.

[2022-08-11 16:17] ejhayes commented on #9931
Much appreciated @sboschman!!!

[2022-08-11 16:23] jaredmcqueen commented on #3847
fyi this would be a great feature and would help assist with any related tasks to get it merged.  Does anything else need to be done?

[2022-08-11 16:29] crenshaw-dev commented on #3847
@jaredmcqueen it's merged and will be part of 2.5! Any help testing either the `latest` build or 2.5.0-rc1 when it comes out would be very appreciated.

I believe #9755 was also very light on docs. So if you test and happen to write up some docs, I'd be more than happy to review a PR.  :-)

[2022-08-11 18:09] cwachira commented on #2789
@danieleharel perhaps you did not include the key `values` in your values.yaml

[2022-08-11 18:20] ashutosh16 commented on #7799
@pasha-codefresh  I'm thinking of adding new key  to syncOption `NamespaceMetaData`  with Json  as a value that contain  namespace metadata like annotation, and labels. WDYT?
[code]

[2022-08-11 18:44] GalvinGao commented on #8776
Was trying to fix the highlights in #10280 then I noticed such issue here. Any helps needed? I can file a new PR to pick up the fix if you'd like :D

[2022-08-11 18:51] omBratteng commented on #8776
There is a PR open to fix the latest broken section https://github.com/argoproj/notifications-engine/pull/97

[2022-08-11 18:56] GalvinGao commented on #8776
I noticed that the indentation of the code block in Step 8 is invalid
<img width="671" alt="image" src="https://user-images.githubusercontent.com/12567059/184217660-9c32fa20-9268-426f-a02f-d90632cb12fe.png">

Mind me contribute to your branch so you could also bring this fix to upstream?

[2022-08-11 19:00] Avni-Sharma opened #10283 "Provide aggregate count of pods"
# Summary

The count of Pods degraded/scaled-Count would be helpful as it becomes impractical to count the pods and resources.

# Motivation

When large apps are being deployed, for eg load testing, then having a total count of the pods is currently manual. Attaching a screenshot for reference. This activity becomes arduous for large apps.
![Screen Shot 2022-06-28 at 10 11 28 AM](https://user-imag

[2022-08-11 19:04] omBratteng commented on #8776
I see that now. Sure, go ahead. I can cherry-pick the fix into the PR branch.

[2022-08-11 19:21] shmargum opened #10285 "ApplicationSet no longer honoring ARGOCD_GIT_MODULES_ENABLED env var"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading ArgoCD from 2.2.3 to 2.4.8 and removing the extra applicationset helm chart dependency, the applicationset controller no longer seems to respect the `ARGOCD_GIT_MODULES_

[2022-08-11 19:26] Avni-Sharma opened #10286 "Summary Information at resource level can be enhanced"
# Summary
Summary Information can be enhanced with more information for more visibility, like the total time of a resource.

# Motivation

While right now we get to see the resource's time elapsed attached as a block on the resource tile/node, it was seen during interaction with end users that they intuitively went to the summary information level to view all the info for that particular resource.

[2022-08-11 19:57] crenshaw-dev commented on #10285
Is this with a git files generator or a git directory generator? (Might not matter, just trying to narrow my search in the code.)

[2022-08-11 20:00] crenshaw-dev commented on #10285
Ah, both suffer from the same bug. The submodule flag is hard-coded as true.

https://github.com/argoproj/argo-cd/blob/b38ff175245465f1da07b5f32208c4535ed09602/applicationset/services/repo_service.go#L146

I'll see if I can open a PR in the 1.5hr break I have between meetings. 😆

[2022-08-11 20:49] pasha-codefresh commented on #7799
@ashutosh16 i just opened my draft prs:

https://github.com/argoproj/gitops-engine/pull/443/files
https://github.com/argoproj/argo-cd/pull/10288

I think about such addition to sync options
[code]

[2022-08-11 21:33] ashutosh16 commented on #7799
@pasha-codefresh  I like your approach of using callback function in that way - label & annotation are set in argocd. Will you be able to  expand the `createNamespaceLabels `  to more generic ones that can support other namespace objects and multiple labels and annotations?

[2022-08-11 22:20] Avni-Sharma opened #10289 "Surface which commit last affected the resource"
# Summary

To surface at summary info level - which commit last affected this resource.

# Motivation

User wants to be able to check which commit last updated the resource.

# Proposal
Have another field like commit at the summery info level and tag it to the Git commit that caused the change to it

#### priority: medium
#### difficulty: low

[2022-08-11 22:49] Avni-Sharma opened #10290 "Eliminate ambiguity by using consistent icons"
# Summary
Some icons on the UI are not well documented or are inconsistent. That leads to ambiguity.

# Motivation
On the ArgoCD UI, we see some icons whose purpose/value is not documented or not clearly known. Fixing issues as follows will help in eliminating ambiguity

- For example the tick mark icon and a star on it.
- The to-be-pruned(yellow cross icon) icon seems to be the same as out-of-syn

[2022-08-11 23:41] saddique164 commented on #8619
I am facing the exactly same issue. could you please tell me how did you resolve it?

[2022-08-11 23:49] Avni-Sharma opened #10291 "Too large app names are not so useful when viewed on the UI"
# Summary
 Sometimes users can give extremely large App Names which are not very helpful when viewed on the ArgoCD.

# Motivation
Sometimes the App names can be too large, given by the user or being generated

<img width="1242" alt="184260697-0c92bca3-4c33-4957-b778-d84c324727a9" src="https://user-images.githubusercontent.com/350466/184942358-2ee801b2-5595-4fd4-81c0-213d34c53150.png">

# Proposal

[2022-08-12 00:10] ronaknnathani commented on #7689
Having this feature would be very valuable to our use case as we prefer managing RBACs within k8s. For an env with multiple clusters and multiple tenants, this already comes with an overhead and then dealing with another set of RBAC permissions that are ArgoCD specific make this quite painful.

A couple implementations that support this in other platforms:
* Another thing that many terraform provi

[2022-08-12 00:16] Avni-Sharma opened #10292 "App Tree View gets cramped with large apps"
# Summary

App Tree View gets cramped with large apps which makes it futile to use. Improving this will enhance the user experience.

# Motivation
For large apps spinning up many resources, eg for load testing cases, then it becomes impractical to view anything on the ArgoCD UI and gets really cramped. To view the app it needs to be zoomed out.
![Screen Shot 2022-06-28 at 10 09 11 AM](https://user

[2022-08-12 00:37] Avni-Sharma opened #10293 "Network Topology View gets cramped and extremely slow with large apps"
# Summary

Network Topology View gets cramped and extremely slow with large apps. Refining this view will help in providing a better user experience.

# Motivation

When viewing the network topology view with large apps, the view hangs, loads slowly, and is extremely cramped.

<img width="798" alt="Screen Shot 2022-06-28 at 1 13 55 PM" src="https://user-images.githubusercontent.com/18097007/184264

[2022-08-12 04:57] yabeenico commented on #6055
+1

[2022-08-12 06:04] scalen commented on #3593
I was looking into this again recently, and found that this can be done simply by setting `rest.Config{}.Impersonate{User: "<username>", Groups: []string{"<groupname1>", ...}`.  We could specify this in ArgoCD RBAC as a new line type:
[code]
where `i` stands for "impersonate"; `<type>` is one of `user` or `group`; and `<k8s name>` is the name of the user or group. This line can be specified once p

[2022-08-12 06:04] bindubc opened #10295 "UI to expose last synced timestamp for the app resource"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Version**

[code]

**Logs**

[code]

[2022-08-12 06:24] scalen commented on #7689
I have added detail to my proposal for deferring to k8s RBAC [here](https://github.com/argoproj/argo-cd/issues/3593#issuecomment-1212758881).

[2022-08-12 07:03] 34fathombelow commented on #10273
Feel free to assign this one to me as well.

Holding off on Kustomize at this time.  Bumping from v4.5.5 --> v4.5.7 does not provide much functionality nor does it address 2 high CVE's in the binary.

[2022-08-12 09:08] ledroide commented on #7799
@ashutosh16 : I totally agree. Namespaces annotations are often used by operators for various behaviors.
`createNamespaceAnnotations` is obviously relevant, and therefore should be supported within `createNamespaceLabels`

[2022-08-12 09:44] pre commented on #7799
For what it’s worth - i suggest the naming would follow declarative naming conventions.

The term ”create” is imperative and leaves undefined what would happen after the first create. Should the attributes defined in this be relevant during the whole life-time of the resource or only in the initial ”create” action.

in other words - i suggest the attributes be named in such a way that they describ

[2022-08-12 10:25] pasha-codefresh commented on #7799
Sure, i will extend it will annotations today, should not be complicated

[2022-08-12 10:37] dpiraud opened #10298 "Random 401 using hard refresh againt OCI repository"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using the "hard-refresh" btn on ArgoCD, I randomly get 401 error. If no 401 error occurred, everything works fine.

We declare 6 OCI repo for our HelmChart in our ArgoCD:
- all are

[2022-08-12 10:47] nazarewk commented on #10077
Another case of a hiccup. I suspect Argo CD application controller might not be handling cache properly under load? Seems like it thinks it has a job from 3 seconds before (before deletion due to hook deletion policy)?

![screenshot-2022-08-12_12-42-15](https://user-images.githubusercontent.com/3494992/184338749-f4fa2baa-214b-4e78-bb93-ce3e88117763.jpg)

seems like this is correlated with higher C

[2022-08-12 10:57] nazarewk commented on #10077
Continuing on previous one there is `patch` on `Application` just before deletion of Secret, I don't have content of the patch, but I'm pretty sure it could be status update for PreSync completed.
![screenshot-2022-08-12_12-56-43](https://user-images.githubusercontent.com/3494992/184340798-06aa3750-9619-4100-ad9d-5326f9574026.jpg)

[2022-08-12 12:05] nazarewk commented on #10077
maybe we could clear cache in here? https://github.com/argoproj/gitops-engine/blob/2bc3fef13e0712cf177ba6cbcfb52283f3d9ca73/pkg/sync/sync_context.go#L1085-L1112

[2022-08-12 12:38] gustavo1ms opened #10299 "How to enable Terminal Access for project members only?"
Hi guys.
How can I enable terminal access for project members only?
I've a Argocd and I enabled the terminal access to pods in my projects, but each project has its own members and this members can only access their own project. These members are in the Developer group.
I need members of developer group to be able to access your projects terminal.  The admin users are able to login normally.

Can

[2022-08-12 12:50] reefland opened #10300 "revisionHistoryLimit Not Enforced"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have `revisionHistoryLimit` set to 3 for all my applications but many RS expand to the default 10.

**Expected behavior**

I expect this to be set to 3 and applied to controllers with

[2022-08-12 13:48] crenshaw-dev commented on #10300
The Application spec `revisionHistoryLimit` only limits the history of the Application itself, not the resources managed by that Application. To limit revision history for the Deployment, you'll have to set the field on the Deployment.

https://github.com/argoproj/argo-cd/blob/b38ff175245465f1da07b5f32208c4535ed09602/controller/state.go#L639

[2022-08-12 13:54] pasha-codefresh commented on #7799
What about such structure ?

[code]

[2022-08-12 13:54] crenshaw-dev commented on #10299
@gustavo1ms this should be possible with a line something like this in the argocd-rbac-cm:

[code]

Docs for Web Terminal: https://argo-cd.readthedocs.io/en/stable/operator-manual/web_based_terminal/

[2022-08-12 13:56] crenshaw-dev commented on #7799
I like this. I'm a little worried that, at a glance, `namespaceMetadata` might be understood as "metadata applied to _all_ namespaces managed by the App" (not just those auto-created). How about `createNamespaceMetadata`? It's clunky, but maybe slightly less ambiguous?

[2022-08-12 14:00] pasha-codefresh commented on #7799
yes, that's what i thought initially :) changing

[2022-08-12 14:19] crenshaw-dev commented on #7689
@scalen I'll bring up this issue/your proposal in the next [Security SIG meeting](https://docs.google.com/document/d/1nl1adCRf4tD87Y01i3JcrLcHvtm1O5a7slqzNstct94/edit#). Feel free to drop into that meeting if you'd be interested in discussing it with the team!

[2022-08-12 14:22] crenshaw-dev commented on #6055
I've also seen "Terminate" simply cause the sync operation to get stuck in "Terminating." This was in an app with ~1k resources.

[2022-08-12 14:24] gustavo1ms commented on #10299
@crenshaw-dev Works dude!!! Thank you so much.
I needed add this line in my projectapp.yml too
`- p, proj:{{ $project.name }}:developer, exec, create, {{ $project.name }}/*, allow`

thank you so much.

[2022-08-12 14:25] #10299 closed

[2022-08-12 14:36] omBratteng commented on #8776
I have fixed the indentation, and put you as the author @GalvinGao, so you can get the credit for it.

[2022-08-12 14:37] omBratteng commented on #8776
Once it gets merged, I'll open a PR here to get the correct version of the go module

[2022-08-12 15:08] oscrx opened #10303 "Argocd does not honour sync waves in partial syncs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When a namespace with resources managed by Argocd is manually deleted Argocd does not honour sync waves or the default helm generated.

**To Reproduce**

Create a simple helm chart with

[2022-08-12 15:10] outofrange commented on #8128
For others that might come to this issue, this is what we ended up doing:

[code]

[2022-08-12 15:39] crenshaw-dev commented on #10274
@ixxeL2097 is it consistently hanging forever in 2.4.8, or random like in 2.3.7?

[2022-08-12 15:42] pasha-codefresh commented on #7799
@crenshaw-dev @ashutosh16 i have updated PR, please take a lot, it is not the final version ( missed unit tests ) , want make sure that logic is correct here first. Thanks

https://github.com/argoproj/argo-cd/pull/10288
https://github.com/argoproj/gitops-engine/pull/443

[2022-08-12 15:45] QuingKhaos commented on #8683
From an operator and user viewpoint, this is more confusing. We would have preferred the non-selfreferencing resource is shown as pseudo-child. When we see a top-level resource we expect that this resource is defined in the application source, but the copied resource is basically not.

A pseudo-child relationship would have made it more clear, e.g. from which secret a copied secret originates. Whi

[2022-08-12 15:46] crenshaw-dev commented on #10008
Here's an attempt: https://github.com/argoproj/argo-cd/pull/10305

I haven't tested it yet.

[2022-08-12 15:49] crenshaw-dev commented on #7799
Added one comment on the gitops PR.

[2022-08-12 15:51] rassie commented on #7799
@ledroide I've added the `argocd.argoproj.io/sync-options: Prune=false` annotation on the namespace and don't seem to see any namespace pruning. Would you consider this an acceptable workaround for people needing namespace annotations right now?

[2022-08-12 16:40] jannfis commented on #8683
The distinction can be made from the sync status - a resource not existing in Git does not have a sync status, and the corresponding icon is also not displayed. I agree that rendering a parent/child relationship would be better, though. I think that we can use the resource that is fully qualified in the annotation to map to the "parent", but I need to think this through for a while.

[2022-08-12 16:47] Avni-Sharma opened #10306 "Network topology view colored lines are not clear"
# Summary

Network Topology View is unclear - what do the lines mean and their respective colors?

# Motivation
We  need to be able to identify what the color coding in the network view means

<img width="1512" alt="Screen Shot 2022-08-12 at 9 45 47 AM" src="https://user-images.githubusercontent.com/18097007/184405666-8468747f-e6a7-4a9d-b81c-1c3801b88b82.png">

<img width="1506" alt="Screen Shot 2

[2022-08-12 17:09] ashutosh16 commented on #9928
/assign

[2022-08-12 17:28] mskazy commented on #8620
I was having this same issue with an ArgoCD deployed onto OpenShift using RedHat's GitOps operator 1.4.5.

**Cause**
I was able to fix it without changing the SA.  The issue in my environment is that OpenShift ran the argocd-controller as a random user with $HOME set to `/`.  This prevented the kubernetes client in the controller from creating the `.kube` folder leading to very long sync times.

*

[2022-08-12 17:53] alexmt opened #10307 "Web terminal should print errors messages instead of failing request with error code"
**Describe the bug**

Web terminal API returns errors if something is misconfigured. For example, if the user doesn't have permissions, then API just returns 500:

![image](https://user-images.githubusercontent.com/426437/184415231-954bbff6-9de4-4395-bf0c-059c4cc2f2e7.png)

It makes it pretty difficult to troubleshoot any errors and user experience is not great.

**To Reproduce**

* Enable web ter

[2022-08-12 18:03] fe-ax opened #10308 "ignoreDifferences on image effects imagePullPolicy default value"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

When using `ignoreDifferences` on the `image` field it effects the field `imagePullPolicy`. The field `imagePullPolicy` changes its default value from `Always` to `ifNotPresent`, althou

[2022-08-12 18:05] alexmt opened #10309 "Validation/auto-completion in resource YAML editor"
# Summary

Argo CD has access to JSON schema of every k8s resources. The YAML editor should leverage schema to provide validation and auto-completion

# Motivation

The auto-completion and validation should really improve user experience and simplify modifying k8s resources.

# Proposal

API should load schema on the fly and configure Monaco editor

[2022-08-12 18:12] alexmt opened #10310 "Ability to subscribe to notification from Application Details page"
# Summary

It should be possible to subscribe to a notification from the Application Details. The user should be able to open the Application Details page and add required subscriptions using input with auto-completion.

# Motivation

It is already possible to subscribe to notifications by modifying annotations hoverer this is a pretty poor user experience. User have to understand annotation struc

[2022-08-12 18:37] #10285 closed

[2022-08-12 18:42] alexmt commented on #4281
Proposal had been created https://github.com/argoproj/argo-cd/pull/10278

[2022-08-12 19:01] crenshaw-dev opened #10312 "Persist resource health in Redis instead of the Application CR by default"
# Summary

[As of 2.5](https://github.com/argoproj/argo-cd/pull/10191), we'll have the option to persist resource health statuses in Redis instead of in the Application CRD. In 3.0, we should default to persisting in Redis.

# Motivation

# Proposal

Flip the switch.  Maybe even remove support for CRD persistence entirely.

[2022-08-12 19:07] aborilov commented on #10310
working on it

[2022-08-12 20:08] timofey-drozhzhin commented on #4438
For anyone else having issues, in my case adding `- PruneLast=true` to `.spec.syncPolicy.syncOptions` did the trick.

[2022-08-12 21:27] dctrwatson opened #10314 "Cluster resources are no longer considered tracked"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Cluster resources are no longer tracked when using `annotation` or `annotation+label` method

Bug was introduced by: https://github.com/argoproj/argo-cd/pull/9791

In order to known the

[2022-08-12 22:23] antonio-te commented on #4424
I'm having this issue on WSL, but it's because of https://github.com/skratchdot/open-golang/issues/29.

[2022-08-13 06:44] rushins commented on #6669
getting same error ..i dont have proxy (home lab) ? any solution

[2022-08-13 09:51] lazychanger opened #10320 "Can not use helm chart dependency "@xxx". got "Please add them via 'helm repo add'""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
[code]
[code]

**Screenshots**
<img width="378" alt="image" src="https://user-images.githubusercontent.com/20916944/184478557-66ff96d5-90c1-4381-a0af-4742966fc525.png">

**Version**

[co

[2022-08-13 15:30] QuingKhaos commented on #8683
As an external operator which supports whole corporate teams with lesser experience, the distinction of the sync status on a top-level resource is not so obvious for most of my team. They wouldn't expect a top-level resource to be not a synced resource at the first look, as a small icon not present is not very clear from UX/DX standpoint vs. a clear parent-child relationship.

A clear pseudo paren

[2022-08-13 17:29] jannfis commented on #8683
Please feel free to open an enhancement request for this.

[2022-08-14 02:19] linjun0703 commented on #10307
I was in the same situation

[2022-08-14 06:28] m-yosefpor commented on #9581
We have the same problem and it is causing many troubles for devs. Also I think the project of each repo should be showed in argocd UI (setting > repositories).

[2022-08-14 06:53] danieleharel commented on #2789
Yes,
I have this in the values file:

![image](https://user-images.githubusercontent.com/109030480/184525961-4b7ce687-559a-479d-a041-4794791eba32.png)

[2022-08-14 08:48] jannfis commented on #10307
We should make sure not to pass too detailed error messages to the user, as they could contain sensitive information.

Generally, from the recent security audits, we came to the conclusion that the less details are included in an error message displayed to the user, the better and that details belong to the log files.

In this case, it probably makes sense to return a 401 and maybe even display "U

[2022-08-14 08:48] jannfis commented on #10307
Also, maybe it even makes sense to hide the Terminal tab in case when the user doesn't have permission to access the web terminal for a given application.

[2022-08-14 12:52] holooloo opened #10325 "argocd-applicationset-controller CrashLoopBackOff"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

i`ve installed a argo-cd-3.26.3 helm chart and got argocd-applicationset-controller CrashLoopBackOff:
[code]

try to install argo-cd-3.26.3 helm chart

**Expected behavior**

working chart

**Screenshots**

[2022-08-14 13:07] OmerKahani commented on #8657
Hi,

Omer here from Snyk. I would want to peak this up :)

Has there been any progress since March?

[2022-08-14 13:38] jannfis commented on #10325
I believe this should live in the repository where the Helm charts are maintained, thus I'm transfering this issue.

[2022-08-14 18:46] Jojoooo1 opened #10327 "restart button on deployment actions list is getting automatically remove"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [x ] I've pasted the output of `argocd version`.

**Describe the bug**

Click on deployment action button and see the restart appearing very quickly and then disappearing

![Screenshot from 2022-08-14 15-42-33](https://user-images.githubusercontent.com/1

[2022-08-14 20:29] reefland commented on #10300
Thank you for the response.  I cold not find anything on this setting:

![image](https://user-images.githubusercontent.com/16230914/184553668-0a3b378c-3989-43fe-a8b7-2b3e2fe9ab05.png)

The best I could find was a command line reference, which felt a bit ambiguous.
[code]

[2022-08-14 20:29] #10300 closed

[2022-08-15 07:29] nicc777 commented on #7006
Hi - we had the same issue and we have been able to replicate the problem and observe the conditions. In our case we had a process using ArgoCD to monitor logs while a service was deploying. In this specific instance, a lot of logs were generated, and ArgoCD eventually ran out of memory (using defaults for the Helm chart). It also appears that several days after a large data fetch which did not cr

[2022-08-15 10:47] jaqfassqlf opened #10329 "Auto refresh doesn't work, but manual hard-refresh does"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
ArgoCD doesn't refresh the deployed applications on it's own and never pulls down latest changes from the Harbor Helm repo. If we however do hard-refresh via UI or CLI then it immediatel

[2022-08-15 11:11] DesislavaNPetrova commented on #10263
Any updates on this? I'm also facing this issue.

[2022-08-15 12:56] AndiDog opened #10330 "Health and sync status overview does not cover fatal error conditions (example: wrong Git repo or path)"
# Summary

Currently, users can filter for these values in the web interface:

![Values of health/sync status](https://user-images.githubusercontent.com/1376043/184635689-c7ca3577-c488-4139-bffe-1f4872841f14.png)

If an application has a fatal error condition such as a wrong `repoURL`, or the specified `Application.spec.source.path` does not exist in that Git repo, Argo CD's web interface only sho

[2022-08-15 14:02] crenshaw-dev commented on #8657
Hey, @OmerKahani, would love to have some help!

There's been a bit of progress. I added a GitHub workflow to write Snyk scans and summaries to the docs: https://github.com/argoproj/argo-cd/pull/9856

It runs weekly to avoid using up the private scan limit and to avoid pushing too many commits to master.

Unfortunately, the scan failed this weekend. I still haven't had a chance to look into it: ht

[2022-08-15 14:33] jsmcnair opened #10335 "Document concurrent-safe aspects of sidecar CMP since 2.4"
# Summary

When using the config management plugin, is was not clear to me what the best option was for enabling concurrent processing of applications that share a repository and use a custom config management plugin. When I asked about thus in slack @crenshaw-dev gave me some really useful information that could not be found in the documentation.

This should be added to the documentation in thes

[2022-08-15 15:28] gaurav517 opened #10337 "Web Terminal link is shown for Deployment/Replicaset objects"
Version: `v2.4.9`.

Web Terminal link is shown for Deployment/Replicaset objects. Which fails. On the left side, containers section does not show the containers (it same if we go to logs link).

![image](https://user-images.githubusercontent.com/15346341/184664873-4e734add-12f9-416f-a6b6-f0c4f168c48d.png)

[2022-08-15 16:18] #9440 closed

[2022-08-15 16:24] crenshaw-dev commented on #9440
Thanks for y'alls patience! I just merged and cherry-picked the fix. I'll see if folks are okay with a release of 2.4.10 today.

[2022-08-15 16:57] OmerKahani commented on #8657
@crenshaw-dev can you please add me to the Snyk org, so I can debug the script locally?

[2022-08-15 17:06] mktgbnk commented on #4155
We had a similar issue today, which resulted in the denial of service (even unrelated resources wouldn't sync to the cluster).

`failed to load initial state of resource XXX: conversion webhook for XXX, Kind=XXX failed: the server could not find the requested resource`.

I know we can exclude resources, but what if they are part of some of the applications? Any other option to reduce the impact du

[2022-08-15 18:25] alexmt commented on #8489
Fixed by https://github.com/argoproj/argo-cd/pull/9618

[2022-08-15 18:25] #8489 closed

[2022-08-15 18:44] martintene commented on #10329
I am playing with combinations of those options in an attempt to make it work but still remain unsuccessful. Probably because of https://github.com/argoproj/argo-cd/issues/4002

![image](https://user-images.githubusercontent.com/97596714/184695575-a5f71f5f-b316-401e-85d1-ea2e590994bb.png)

And yes, I am aware of the anti-pattern of such a short cache. This is only me trying to make it work. Afterw

[2022-08-15 18:46] jaqfassqlf commented on #10329
I am playing with combinations of those options in an attempt to make it work but still remain unsuccessful. Probably because of https://github.com/argoproj/argo-cd/issues/4002

![image](https://user-images.githubusercontent.com/111269663/184696587-61851176-5f89-4d84-8c53-e0a68139086f.png)

And yes, I am aware of the anti-pattern of such a short cache. This is only me trying to make it work. After

[2022-08-15 18:52] jaqfassqlf commented on #10329
I am playing with combinations of those options in an attempt to make it work but still remain unsuccessful:

![image](https://user-images.githubusercontent.com/111269663/184697509-4880e82c-ab66-408e-8f2f-7b4d03348a12.png)

And yes, I am aware of the anti-pattern of such a short cache. This is only me trying to make it work. Afterwards I'll tweak and optimise it accordingly.

Another ugly hack is

[2022-08-15 20:06] #10335 closed

[2022-08-15 20:27] crenshaw-dev commented on #8117
Deprecation will happen in 2.5, actually removing support will be in 2.6.

[2022-08-15 20:36] crenshaw-dev commented on #7799
Closing this in favor of (I think) duplicate https://github.com/argoproj/argo-cd/issues/7799

[2022-08-15 20:51] crenshaw-dev commented on #10330
The intent behind "health status" so far has been to communicate the health of the App's managed resources.

The "sync status" has been used to communicate Argo CD's success in reconciling the resources with the git/Helm source of truth.

I'm not 100% in favor of shoehorning "were we able to construct manifests" into either of those. But I agree that the error state should be surfaced more effecti

[2022-08-15 20:55] crenshaw-dev commented on #10263
Unfortunately that error message has very little context, so it's difficult to tell what connections are maxing out.

More recent versions of Argo CD wrap these error messages more effectively to give more context. I'd highly recommend upgrading, both because of that and because there are a large number of security vulnerabilities applicable to 2.0.3.

@DesislavaNPetrova what version are you runni

[2022-08-15 20:59] crenshaw-dev commented on #7006
@nicc777 were you able to identify what precisely was using up memory? Was it the logs themselves, or something else?

There's a known issue with Helm where, if an App points at a version that no longer exists, Helm downloads large files and fails to clean them up. That can cause a disk space issue. https://github.com/helm/helm/issues/11171

[2022-08-15 21:00] endophage commented on #6640
If this feature were added it would need a specific permission. There are users that I'd want to have readonly access to be able to see a service is running and check logs, but not be permitted to view any sensitive data.

[2022-08-15 21:06] crenshaw-dev commented on #10307
@alexmt that should have been fixed in 2.4.9 with this change: https://github.com/argoproj/argo-cd/issues/9920

What's the exact error on the backend?

[2022-08-15 21:09] crenshaw-dev commented on #9581
I think a lot of Argo CD code assumes that a repo (of a given URL) is a repo. I agree, we should provide a mechanism to use the same repo using different credentials. It would take some work on the backend, but should be possible.

[2022-08-15 21:15] AndiDog commented on #10330
I have the same issue in mind for both meanings which is why the PR is only a first suggestion (meant to get me going with Argo CD development...).

_Sync status_ has no "Failed" variant but probably should have:

[code]

At least in certain cases, it's clear that sync cannot continue and is therefore failed. Unfortunately, the repo server's `GenerateManifest` method only returns unspecific RPC er

[2022-08-15 22:17] ashutosh16 commented on #10329
Can you try adding this annotation `argocd.argoproj.io/refresh: hard`? And does this solve your use case?
https://github.com/argoproj/argo-cd/blob/cc4eea0d6951f1025c9ebb487374658186fa8984/pkg/apis/application/v1alpha1/application_annotations.go#L6

[2022-08-15 23:27] vn516yc commented on #5134
@jessesuen May I know if it is the same for ldap connector as well? Because I don't fine the documentation for ldap connector for logout API. I can only found it for OIDC connector. https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#configuring-a-custom-logout-url-for-your-oidc-provider

[2022-08-16 04:44] nicc777 commented on #7006
It appears to be the logs themselves. We can recreate the problem by deploying a known problematic application and consuming the logs through the ArgoCD API. The way we found it was that one of our pods were creating a crazy amount of log messages (mostly exception stack traces, btw). The memory consumption was constantly growing and the moment we deleted that application, memory usage growth stop

[2022-08-16 08:25] iamstarkov commented on #9078
FYI https://github.com/argoproj/argo-cd/pull/10092

[2022-08-16 11:29] jaqfassqlf commented on #10329
Yes, this works even though it would have been nice if ArgoCD could do this automatically on a configurable time internval when used with private Helm repo.

[2022-08-16 11:33] rassie commented on #7799
@crenshaw-dev I'm sorry if I'm misunderstanding something, but are you sure you intended to close this issue? The issue number is the same and besides that I was under an impression that this issue was forthcoming, with PRs by @pasha-codefresh reviewed by yourself.

[2022-08-16 12:09] pasha-codefresh commented on #7799
Yeah, also not sure why it was closed, probably we have duplication but @crenshaw-dev put wrong link

[2022-08-16 13:08] nuget1991 commented on #4297
Any progress? How can we fix empty username in argocd? The same situation, we haven't email and username fields in argocd log.

time="2022-08-16T12:54:18Z" level=info msg="received unary call /session.SessionService/GetUserInfo" grpc.method=GetUserInfo grpc.request.claims="{\"acr\":\"0\",\"at_hash\":\"ulYGjhjfjfjcc\",\"aud\":\"production_argocd\",\"auth_time\":1660638821,\"azp\":\"production_argoc

[2022-08-16 13:30] ericdurandsymphony opened #10350 "ArgoCD Application Controller sets Health from Progressing to Missing which deletes app content"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [x ] I've pasted the output of `argocd version`.

**Describe the bug**

When running on a cluster that has lots of Secrets (we had 346k Secrets when this occurred), we saw that ArgoCD switched the health status of the applications from Progressing to Mis

[2022-08-16 13:55] marcofranssen commented on #3181
Thanks to @crenshaw-dev I was able to resolve the issue.

**Solution**

All applications have to be installed in the argocd namespace.

So like

[code]

Following is not yet supported and will probably land in the next `2.5.x` release.

[code]

So `namespace: argocd` is a hard requirement with current release of ArgoCD.

[2022-08-16 14:59] tback opened #10353 "Allow PullRequestGenerator to authenticate the same way repositories and repo-creds do"
# Summary

It's confusing that the pull request generator needs specific credentials even if the same repository is configured already as an argocd repository or accessible as via repo-creds through the prefix.
It'd be great if the pullrequest generator would have access this authentication methods.

# Motivation

It'd be great for a concise user experience.

# Proposal

How do you think this shou

[2022-08-16 16:11] Va1 commented on #3039
+1

[2022-08-16 19:23] wesbrownfavor opened #10355 "Can't view Promote Full button on rollouts"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I recently updated from 2.3.3 to 2.4.9 and when I try to manually promote a rollout I am not presented with the button to do so.  I see the rollout in a paused state and the button does

[2022-08-16 19:44] dene14 opened #10356 "ApplicationSet unable to fetch repo"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I have a weird issue where applicationset is unable to fetch the repo.

The most miserable thing is that another repo (I've created a new repo and copied some manifests from original) wo

[2022-08-16 19:50] wesbrownfavor commented on #10355
Just to update reverting to 2.4.8 fixes the issue.

[2022-08-16 20:26] anthony-zawacki commented on #10029
We use keycloak + argocd and could never get the -sso to work because it requires launching a browser.  In the end, we use keycloak to log into the argocd web UI, but in a pod at the command line we use the argocd admin user and password and not the keycloak-based login, like this:
[code]
where the password is the admin.password configured in the argocd-secret.

The same secret typically has a key

[2022-08-16 21:58] crenshaw-dev commented on #10355
Thanks for the report! Closing as a duplicate of #10327. Putting up a fix soon...

[2022-08-16 21:58] #10355 closed

[2022-08-17 01:54] icicimov commented on #7844
Doesn't this beat the purpose of having a central ArgoCD when we need to deploy (and maintain) ArgoCD everywhere?

[2022-08-17 10:29] nerzhul commented on #9681
hello, it's clearly a usecase we'd like to see, for example {{product.name | default 'undefined' }} or a similar syntax depending on the language you selected. It prevent appset failure when a label is not set :)

[2022-08-17 13:48] kartik-579 opened #10367 "Manual sync after gitops commit for an automatic sync enabled app makes new deployment rollback for a while"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I have a use case where I invoke the api for manual sync after committing on gitops and patching an application. The application has autp sync enabled. With this setup, there is a bug t

[2022-08-17 14:43] diodel-agr opened #10369 "Lots of logs on application-controller due to info logs related to CRDs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

By default, ArgoCD ignores the "status" and "spec.preserveUnknownFields fields" of the CRDs. These actions are logged as INFO in the code, which generates a lot of logs.

For instance,

[2022-08-17 15:07] notfromstatefarm opened #10370 "seclog: API access"
# Event to be logged

All calls to the API server. Currently we only have payload logs for certain endpoints and not full access logs.

# Proposed level

1/Low for successful access, 2/Medium for denied access

# Common Weakness Enumeration

None

[2022-08-17 15:19] ragnarpa commented on #3150
This worked for me in argocd-cm config map.
[code]

See [here](https://github.com/argoproj/argo-cd/blob/471685feae063c1c2e36a5ff268c4da87c697b85/util/argo/normalizers/diff_normalizer.go#L132) how patching works. It's done in a loop with `del(<your jq path expression here>)`.

[2022-08-17 15:42] jessesuen commented on #10369
I agree that the `Ignore '/spec/preserveUnknownFields' for CustomResourceDefinitions` message is annoying and should be removed

[2022-08-17 16:08] mikebryant opened #10373 "ComparisonError strconv.ParseBool: parsing “\xb6\xbb\x9e”: invalid syntax"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

A bad Secret object was mistakenly deployed to our cluster using SealedSecrets:

[code]

This was supposed to be the string `true` base64-encoded, but ended up being the literal string,

[2022-08-17 16:18] mikebryant commented on #10373
We think the error came from https://github.com/argoproj/argo-cd/blob/6b08a23a0132667c71a9497ad0f043689b66b686/util/db/repository_secrets.go#L328

I think what I'd really want here is just for more context to have showed up in the UI

[2022-08-17 18:41] rafilkmp3 commented on #6429
would be nice have it

[2022-08-17 20:30] #10327 closed

[2022-08-17 20:44] endophage commented on #9069
I've just run into this (only recently enabled notifications). I found that Github appears to be using windows line endings, `\r\n` when squashing commits. There's a clear error in my notification controller logs for `invalid character '\\r' in string literal`.

I chained an additional `.strings.ReplaceAll` to simply remove the carriage returns and in my template and it seems to be working now.

[2022-08-17 20:45] ashutosh16 commented on #10309
/assign

[2022-08-17 20:46] kmlamkin9 opened #10376 "Docs: Getting Started Page containing broken link, 404 pages not formatting correctly, and missing step for creating apps via CLI"
# Summary

Docs: Getting Started Page containing broken link, 404 pages not formatting correctly, and missing step for creating apps via CLI

# Use Cases

1. On the [getting started page](https://argo-cd.readthedocs.io/en/stable/getting_started/) under step 1, there is the text "Follow the [instructions to configure a certificate](https://argo-cd.readthedocs.io/en/stable/getting_started/operator-m

[2022-08-17 21:46] ashutosh16 commented on #9928
I have added the scrollbar to the manifest view.  Does this improve user experience?

![Screen Shot 2022-08-17 at 1 44 04 PM](https://user-images.githubusercontent.com/11219262/185248620-e3eaab4b-757e-4e99-8773-10d79a86c31c.png)
![Screen Shot 2022-08-17 at 1 44 17 PM](https://user-images.githubusercontent.com/11219262/185248606-6e98c060-2bfb-41eb-b719-5de1d0795187.png)

[2022-08-17 22:53] icicimov commented on #10261
This is already implemented and there is even an example here https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/application.yaml#L29 which I somehow managed to miss.

[2022-08-17 22:53] #10261 closed

[2022-08-17 23:40] robozb opened #10378 "Argocd malfunction after VMWare Workstation pause(suspend)/resume"
Pause and restart VMWare Workstation Virtual machine causes malfunction of ArgoCD in Kubernetes.

expected operation:
Appropriate working, refresh everything

Screenshots below

**Version**

VMWare Workstation 16 Pro: 16.1.1.build-17801498

OS:
root@kubernetes-master-ubuntu:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4

[2022-08-17 23:55] robozb commented on #10378
Hups: I solved the problem with restarting all pods in all namespaces especially kube-system I guess

kubectl rollout restart deployment -n kube-system
Probably it is not needed, but who knows :) kubectl rollout restart deployment -n kubernetes-dashboard

[2022-08-17 23:55] #10378 closed

[2022-08-18 00:14] robozb commented on #10378
Restart all pods in all namespaces

#!/bin/bash

for ns in `kubectl get ns | tail -n +2 | cut -d " " -f1`
do
    kubectl rollout restart deployment -n $ns
done

kubectl get all --all-namespaces

[2022-08-18 01:27] Drugoy commented on #10029
@anthony-zawacki basically confirmed the ticket, we are experiencing the same.

[2022-08-18 02:57] HenryXie1 commented on #9323
I use below to fix
[code]

[2022-08-18 07:16] zhang-xuebin commented on #5958
Based on the nice work in #9190, here is an example with detailed instructions (based on Helm): https://github.com/zhang-xuebin/argo-helm/tree/host-on-gke is an example.

You can use ArgoCD to manage Private GKE clusters. VPC-peering, master Authorized Networking, etc, are NOT needed.

[2022-08-18 07:16] martijnvdp opened #10382 "cipher: message authentication failed when logging in with okta since v2.4.9"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
Since upgrading to argo cd
`v2.4.9+1ba9008` from `v2.3.4+ac8b7df` users sometime get the error when trying to access argocd using okta:
`cipher: message authentication failed`

workaroun

[2022-08-18 09:53] mikutas opened #10384 "Failed to walk extensions directory: failed to iterate files in '/tmp/extensions/': lstat /tmp/extensions/: no such file or directory"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

Launch Argo CD without using UI extensions feature

**Expected behavior**

No error log even if UI extensions feature not used

**Screenshots**

**Version**

2.4.10 (H

[2022-08-18 12:43] sharadhirao commented on #8965
Did anyone find the solution to this?
I also have the same dependency. Helm tgz file is stored in Jfrog repo.
What I am doing is:
1. Created git webhook to trigger workflow
2. Argo Workflow will run and deploy application to Argo CD
I need to trigger workflow whenever there is commit or upgrade in the jfrog repo.
Is this possible?
@alexec @deadmandrive

[2022-08-18 13:32] keithchong opened #10386 "CVE-2021-44906: insufficient fix for prototype pollution in setKey()"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Argo CD indirectly pulls in minimist that has a security vulnerability

See https://github.com/substack/minimist/issues/164

The fix for that is in minimist v1.2.6.

It looks like the f

[2022-08-18 13:33] DesislavaNPetrova commented on #10263
@crenshaw-dev Thanks! We gonna to upgrade and check it again.

[2022-08-18 13:33] keithchong commented on #10386
FYI, @crenshaw-dev

[2022-08-18 14:10] crenshaw-dev commented on #10386
I'm hesitant to backport the fix for a [low-severity vulnerability](https://security.snyk.io/vuln/SNYK-JS-MINIMIST-2429795). Our policy recently has been to backport only critical- and high-severity vulnerability fixes. I think that level of support lines up with our current capacity to test and validate patches.

But if you feel strongly that this one needs a patch, I'm not opposed to trying to g

[2022-08-18 14:19] crenshaw-dev commented on #8965
Does anyone have local reproduction steps for this bug? I believe it would involve spinning up jfrog as a Docker image or in minikube?

[2022-08-18 14:24] danielbraun89 commented on #677
The use case of creating a cluster-role and a role-binding for an app separately is ridiculously common
Many Helm charts create service accounts for you but understandly never create the roles for you and this adds another layer for provisioning alongside argocd

[2022-08-18 15:10] jessesuen commented on #10314
This seems like it would be a serious issue if true. I'm not seeing this issue myself running v2.4.8. @jannfis could you verify this is really the case?

[2022-08-18 15:14] jannfis commented on #10314
Thanks for the heads-up, checking.

[2022-08-18 16:24] kanwalnainsingh commented on #820
This helped me fix.

[2022-08-18 16:36] jeunii commented on #9034
I pointed redirectURI to my dex service

[code]

and now atleast the request goes to dex server. On gitlab I was asked to authorize my access to gitlab but then ArgoCD says "login failed"

Dex logs state

[code]

[2022-08-18 16:51] jannfis commented on #10314
Yep. Can verify. The `annotation` tracking method sets a namespace in the annotation for the cluster scoped resource, and the new code for checking for self-reference obviously returns false, thus marking the resource as unmanaged.

[2022-08-18 17:13] ashutosh16 commented on #4435
seems to be duplicate #[4435](https://github.com/argoproj/argo-cd/issues/4435)

[2022-08-18 17:32] jeunii commented on #9034
I got this working.

So my final config looks like

[code]

I was getting a 502 when redirected back so I added the following to the ingress

[code]

And to make sure that members of the gitlab group are admins on ArgoCD, added the following cm

[code]

[2022-08-18 18:08] jannfis commented on #10269
@todaywasawesome Thanks, it actually is related. I have a patch ready that I'm currently writing e2e tests for.

[2022-08-18 18:32] Nello-Angelo opened #10389 "bug values files"
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: backend
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - appName: nginx1
      - appName: nginx2
  template:
    metadata:
      name: '{{appName}}'
    spec:
      project: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
      source:
        repoURL: 'https

[2022-08-18 18:47] karlschriek commented on #8613
On v1.23.5 I am also seeing this. I.e. the portforward is initially established, but the moment you try to connect to localhost:xxx via browser or CLI, the connection is broken. This only happens when argocd-server is deployed in `--insecure` mode.

See https://github.com/argoproj/argo-cd/issues/10371#issuecomment-1219788302

[2022-08-18 18:51] mulhotavares commented on #4435
I use an ApplicationSet with a PullRequest generator with CreateNamespace, and this is an issue... it would be nice if we could have the namespaces deleted when the application is deleted by the ApplicationSet as well.

[2022-08-18 18:51] karlschriek commented on #2784
On what version of ArgoCD is this?

On v2.4.0, for me `$ argocd --grpc-web login argocd.example.com` produces the following error:

[code]

See also #10371

[2022-08-18 19:26] karlschriek opened #10391 "Pulling ArgoCD into Istio service-mesh leads to configmap/secret informers failing"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Pulling ArgoCD into the Istio service mesh (e.g. by setting the `istio-injection: enabled` label on the argocd namespace) so that all deployed Pods start with an istio-proxy sidecar, le

[2022-08-18 19:27] tyler-harpool commented on #9323
To keep  istio-sidecar-injector in sync here is what you would need.
[code]

[2022-08-18 19:30] jannfis commented on #10314
Thank you @dctrwatson , your analysis was spot on.

[2022-08-18 20:15] #10314 closed

[2022-08-18 20:15] #10269 closed

[2022-08-18 20:17] dctrwatson commented on #10314
Thank you for @jannfis for fixing!

[2022-08-18 20:20] MeNsaaH commented on #9200
@arthurk how are the two different? Maybe we could propose a merge request

[2022-08-18 20:26] alexmt opened #10392 "Namespace field in New Application panel is confusing"
**Describe the bug**

The new `Application Namespace` field is confusing. Users ( including myself ) confuse this field with the project field. The error message sounds like the application destination namespace is not allowed in the project.

**To Reproduce**

Reproduced it trying to create guestbook app in new Argo CD version

**Expected behavior**

I think `Application Namespace` field should b

[2022-08-18 20:40] paul-civitas opened #10393 "Separate argocd-sercret into separate secrets"
# Summary

Currently the secrets for oauth are mixed together with the server.secretkey

# Motivation

This is painful because secrets for oauth you might be managing through terraform, helm some kinda configuration management or something.

However the sever.secretkey can not be touched. That need to be generated by argo upon server startup.

# Proposal

Separate them out into separate secrets. O

[2022-08-18 20:51] crenshaw-dev commented on #10393
I think this might be a duplicate of https://github.com/argoproj/argo-cd/issues/6642

[2022-08-18 20:55] paul-civitas commented on #6642
@alexmt that's a good feature, but so long as you're putting in that kinda ${} via helm or some other kind of source control, you still need to worry about whatever thing you're using to set the argocd-secret blanking out the server.secretkey

see: https://github.com/argoproj/argo-cd/issues/10393

The better solution is to get stuff that's programmatically generated by argo, far far away from stuf

[2022-08-18 20:56] paul-civitas commented on #10393
Don't really want to close as a duplicate considering I think #6642 is kinda erroneously tagged as answered.

Allowing the argocd secret to reference other secrets still doesn't change the fact that we're asking for part of the secret to be set by the user, and part of the secret to be set by the API server and to not be touched under any circumstances.

[2022-08-18 20:59] paul-civitas commented on #10393
I think the problem #6642 is trying to solve is some kind of compliance, requiring them to use sealedsecrets for sso keys.

The problem I'm trying to solve is helm wiping out my server.secretkey until I do a rollout restart

[2022-08-18 21:04] jannfis commented on #10393
I think there's a misunderstanding. You can refer to arbitrary secrets from e.g. `argocd-cm`. You don't have to touch `argocd-secret` at all.

Probably the Helm chart could be modified to not modify `argocd-secret`, and to create unique secrets for everything else. Then, referring to these secrets from their version of the `argocd-cm`.

[2022-08-18 21:19] ashutosh16 commented on #10286
User can  use basic math to compute the total time since the resource was created. Adding one more key/value is not recommended as it will push the manifest block further down. Any suggestions?

[2022-08-18 21:32] paul-civitas commented on #10393
@jannfis you don't have to touch it after initial setup.

But you still need to touch it to configure it to refer to other secrets. So if you change your SSO provider then you need to change your argocd-secret config map and oops.

[2022-08-19 02:31] ashutosh16 opened #10398 "Failed to save live manifest on argocd ui"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Deployed the latest argocd in my local. While saving the manifest on argocd UI,  I'm getting the error
[code]

**To Reproduce**
- Launch  ArgoCD latest from the master.
- Deploy the appl

[2022-08-19 06:51] ericdurandsymphony commented on #10350
Thanks for having a look at this.
Indeed I don't understand why it went from Missing to deleting the application content. The content of the git repo did not change at that time.
The k8s control plane was in a bad state for sure, but as its GKE we don't have much details on what was broken. We know that the Secrets api was not available for some time.
The appctl service account is the one used by

[2022-08-19 08:30] Laffs2k5 opened #10399 "applicationset-controller logging not respecting `logformat` and `loglevel` flags"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm not able to have applicationset-controller respect the `--logformat` and `--loglevel` flags. Logging format seems to be `text` even though I specify `json` and logging level is `inf

[2022-08-19 11:19] richie-tt commented on #5202
I run into the same issue, but maybe the lack of this function is a good reason to move to the fluxv2, which already supports it

https://github.com/fluxcd/helm-operator/issues/335

[2022-08-19 13:42] Nello-Angelo commented on #10389
i resolved my problems

apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: backend
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - appName: nginx1
          - appName: nginx2
  template:
    metadata:
      name: '{{appName}}'
    spec:
      project: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

[2022-08-19 13:43] #10389 closed

[2022-08-19 15:05] crenshaw-dev commented on #10286
@ashutosh16 what if we added the "duration" form of the time on the same line? Like "12/16/2021 16:37:35 (5 hours ago)".

[2022-08-19 17:07] #9108 closed

[2022-08-19 17:27] AmmarovTou commented on #2347
Hi, I have EKS clusters in the same account(the cluster where argocd is running and the external clusters are in the same account).

## Approach 1:

 I am able to add an external cluster by:
- creating a kubernetes service account in the external cluster(with a service account token).
- get the service account token from the external cluster, and provide it in the external cluster config file, in

[2022-08-19 17:42] blackandred commented on #677
I have a workaround for this - it may be helpful for somebody.

Instead of using Helm directly use Helm via Kustomize - just set a source type in `kind: Application` to point to a kustomization.yaml, and in kustomization.yaml use e.g. Helm Chart, or multiple Helm Charts + plain YAML resources you would like to mix as part of one application.

In order to use Helm in kustomize you need also to chan

[2022-08-19 17:46] alexmt commented on #10307
It is fixed indeed. Terminal no longer visible if user don't have permissions.

[2022-08-19 17:46] #10307 closed

[2022-08-19 18:10] RossComputerGuy commented on #10145
I've been looking into this since I'm looking to deploy AWS and Kubernetes things through ArgoCD. I've determined that `terraform plan --out=[file]` can output the stack in a weird binary format then use `terraform show -json [file]` to get a JSON formatted version of that. A sidecar would have to build YAML files unless there's a way to override the apply.

[2022-08-19 18:35] leoluz commented on #7799
@pasha-codefresh

As stated by @pre [above](https://github.com/argoproj/argo-cd/issues/7799#issuecomment-1212927621) I would suggest to change the terminology to avoid confusion. Maybe instead of `createNamespaceMetadata` we could have something like `managedNamespaceMetadata` ? Those values should be reconciled with the cluster state if the values in the `Application` changes and not just when th

[2022-08-19 19:07] yuriy-yarosh commented on #10145
@RossComputerGuy there are couple of limitations and caveats - the exact pending terraform plan shouldn't break the argocd deployment itself.

My primary motivation is to simplify operator/CRD deployments by replacing them with Terraform Sync.

TF Kubernetes provider itself gives you yaml.

[2022-08-19 19:11] crenshaw-dev commented on #7799
I think this behavior would be fine, but personally I'd also be okay if the metadata were only applied once on create.

afaik Applications don't really "manage" these auto-created namespaces. It creates them, as a convenience, and then never concerns itself with these namespaces again.

But I could be incorrect, it's possible there's more management than I'm realizing.

[2022-08-19 20:57] #10079 closed

[2022-08-19 21:13] lknite opened #10404 "cluster generate: ability to use not match"
# Summary

In the cluster generator of an applicationset, the ability to include all clusters minus specified clusters.

# Motivation

I have an argo instance which installs common addons to all clusters which I add.  This works except for one addon which I need to avoid installing on two clusters.  For an actual use case:  I install 'external-dns' and on each cluster and set it up using parameter

[2022-08-20 10:29] driv commented on #4204
For anyone using minikube on linux. I was able to make it work using kvm2 and forcing the VMs to be on the same network.
[code]

[2022-08-20 15:18] pre commented on #7799
As a term for namespace, `managedXyz` sounds better than `createXyz`.

Concrete example: add label for `istio-injection: enabled` which enables
The istio sidecar injection. If terminology was `createXyz` what would happen when this label is removed from `Application` defined labels? In other words: it should be possible to also remove a label which is set by argocd `Application` labels. Which `cre

[2022-08-21 01:32] ghost opened #10411 "ArgoCD can't create namespace automatically on cluster"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.

**Describe the bug**
ArgoCD can't create namespace automatically.

**To Reproduce**
I have follow [this](https://github.com/argoproj/argo-cd/issues/1809#issuecomment-860123674) for declarative setup on my yaml file.
But the namespace didn't create automatic

[2022-08-21 04:59] OmerKahani commented on #10367
Hi @kartik-579 can you please share the ArgoCD CLI commands you are using?

[2022-08-21 06:02] giz33 opened #10413 "Can not open ArgoCD UI after Helm Install using rancher"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [ X] I've pasted the output of `argocd version`.

**Describe the bug**

I installed ArgoCD on my cluster using helm chart via Rancher and when I click on my https service[argocd-server](https://172.104.198.160/dashboard/c/c-m-v4rg789q/explorer/service/de

[2022-08-21 13:29] Ziphone commented on #9411
Fixed by #10010, @sarabala1979?

[2022-08-22 00:40] Gimbitgaram opened #10418 "http: server gave HTTP response to HTTPS client"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
I created a pod by importing the image in the nexus docker repo, but I get an error

**To Reproduce**

**Expected behavior**
creation of pods

**Screenshots**
![image](https://user-image

[2022-08-22 00:56] james-callahan commented on #10204
This is my #2 request to make the pull request generator usable for us: we only want to deploy pull requests with a certain github label.

[2022-08-22 00:57] james-callahan commented on #7875
This is a duplicate of https://github.com/argoproj/argo-cd/issues/4435

[2022-08-22 02:34] tooptoop4 commented on #10384
@mikutas does argocd crash or is this just some spam in the logs?

[2022-08-22 03:12] mikutas commented on #10384
@tooptoop4 It's just some spam.

[2022-08-22 03:18] arthurk commented on #9200
If I remember correctly the ClusterClient fetches the settings from the Cluster (the configmap) and the other one didn't.

With the recent merge of server-side-generate https://github.com/argoproj/argo-cd/issues/8145 this issue might be solved, need to try it out sometime

[2022-08-22 04:18] RossComputerGuy commented on #4344
I deployed Keycloak through the Bitnami Help and I am having this problem. Internally, everything is HTTP but externally, its HTTPS. Not sure what the solution to fix this is.

[2022-08-22 05:51] kartik-579 commented on #10367
Hi @OmerKahani, I used `argocd version` for getting the cli version. Apart from this I am doing other things through importing argo-cd library.

[2022-08-22 06:34] wangli1030 opened #10419 "App health status is not accurate"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
This might not be a bug. Just an edge case should be considered and may improve the user experience.
When using the ArgoCD and Argo Rollouts for B/G deployment, the App health is Suspend

[2022-08-22 06:52] saumeya commented on #7560
That would be great @RyanTalbot

[2022-08-22 08:33] shuker85 commented on #10320
I believe dependency repositories should also be available in the setup.

[2022-08-22 08:41] nice-pink commented on #9809
@pleic which Ubuntu version do you use for the base image?

[2022-08-22 09:22] nice-pink commented on #9888
I'm encountering the same issue only by setting ARGOCD_GPG_ENABLED as described in: https://argo-cd.readthedocs.io/en/stable/user-guide/gpg-verification/.
Tried with v2.3.6, v2.3.7, v.2.4.5

[2022-08-22 09:34] nice-pink commented on #9888
@ralfovelgoenne are you experiencing this issue https://github.com/argoproj/argo-cd/issues/9809 when not adding the `ARGOCD_GPG_ENABLED` env var? Do you already found a fix?

[2022-08-22 10:23] ixxeL2097 commented on #10274
sorry for the late reply @crenshaw-dev. Behaviour is kinda the same between both version, randomly succeeding or failing.
Actually I think this is an ingress issue. I noticed that when I'm using internal kubernetes routing e.g `argocd-server.argocd.svc.cluster.local` I do not have this problem, but as soon as I give a full hostname like `argocd.example.com` then it takes a very long time and then

[2022-08-22 10:27] pleic commented on #9809
I am using ubuntu bionic, the current cloud image

[2022-08-22 10:30] jannfis commented on #10314
Just as a heads-up, v2.4.11 which includes the fix for this issue has been released today.

[2022-08-22 10:30] jannfis commented on #10269
Just as a heads-up, v2.4.11 which includes the fix for this issue has been released today.

[2022-08-22 11:27] ralfovelgoenne commented on #9888
Thanks for the input. I will try out setting ARGOCD_GPG_ENABLED to true and give feedback.
I do not have a solution yet. I moved to version v2.4.7+81630e6. With this version and the same parameter values as before it does work on 2 environments as expected, but on one environments it still fails with this error.

[2022-08-22 11:45] kfkonrad opened #10420 "ApplicationSet: Add API spec to swagger"
# Summary

`assets/swagger.json` claims to provide a "Description of all APIs" but the API for ApplicationSet is not documented. There is text-based documentation on readthedocs but there is no human-readable API specification. Can you extend the API reference to include ApplicationSet?

# Motivation

When looking for specific (niche) features I (and certainly others as well) look towards API refe

[2022-08-22 14:35] lukpep commented on #10384
For us this log is also an indicator of login loop happening - users are redirected to login page (with google) several times, and in the end:

![image](https://user-images.githubusercontent.com/2960580/185947532-a5dfd7ac-4bcf-4127-8970-bcafdabca482.png)

clearing cookis / using different browse helps - but the problem returns after a while. Started happening with 2.4.10

[2022-08-22 16:00] andrii-shevchyk commented on #10240
Hi, you missed service configuration - https://argocd-notifications.readthedocs.io/en/stable/services/email/

[2022-08-22 16:44] martijnvdp commented on #10382
update havent gotten this error for a few days now, i'm also unable to reproduce it

[2022-08-22 16:54] barthy1 commented on #9583
Same problem. Are there any workaround?

[2022-08-22 17:13] HummingMind commented on #1672
it is in the official docs. It's one of the FAQ:
https://argo-cd.readthedocs.io/en/stable/faq/

[2022-08-22 17:38] decipher27 opened #10422 "Upgrading k3s version to v1.24.3 fails to perform argocd commands"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Production Environment:
K3s Version:
k3s:v1.21.4-k3s1

Cluster Configuration:
Eks clusters having 4 spot nodes.

We noticed our workflows are failing due to this error - "Failed to wait

[2022-08-22 17:57] ralfovelgoenne commented on #9888
I tried out to not adding the ARGOCD_GPG_ENABLED env var. I got the same error as mentioned in [https://github.com/argoproj/argo-cd/issues/9809].

[2022-08-22 17:59] jannfis commented on #10422
What is the version of your Argo CD CLI please?

[2022-08-22 18:04] ralfovelgoenne commented on #9888
@nice-pink: I did not get the meaning of this part of your post:

[2022-08-22 18:38] dctrwatson commented on #10314
Awesome! thanks for the heads-up

[2022-08-22 23:09] kmlamkin9 opened #10424 "Rollouts Extension UI More Tab Displays "Something went wrong with Extension for Rollout""
**Describe the bug**

When traversing through rollout detail tabs, under more I see the message: "Something went wrong with Extension for Rollout". This takes place when a rollout has no pods currently running and in other instances as well.

**To Reproduce**

* Navigate to ArgoCD UI
* Select an application to go to the Application Details Tree View
* Select the rollout object in the Application D

[2022-08-22 23:11] jeffreyc opened #10425 "Multiple "allow" sync windows can prevent an app from syncing"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The [sync window documentation](https://argo-cd.readthedocs.io/en/stable/user-guide/sync_windows/) states "If there are any `allow` windows matching an application then syncs will only

[2022-08-23 00:42] s7an-it opened #10426 "ComparisonError rpc error: code = Unknown desc = `helm dependency build` failed signal: killed"
Asked - no reply -> https://cloud-native.slack.com/archives/C01TSERG0KZ/p1661211863236989, in fact asked multiple times.

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

On refresh of app repo server throws above errors on ui and doe

[2022-08-23 07:02] nice-pink commented on #9888
I use the same Argo CD instance to manage multiple clusters. There is one repository containing the manifests for each cluster. Only the apps which are running in the same cluster than the Argo CD instance with their manifests saved in the same repository as the ones from Argo CD are showing the error "unable to fork off sideband demultiplexer". All other apps are synced properly.

[2022-08-23 08:23] mweibel opened #10429 "argocd CLI admin cluster generate spec does not work in v2.4.9"
**Describe the bug**
When executing `argocd admin cluster generate-spec clustername` an error is printed instead of the cluster config. This used to work in an older version of argocd CLI.

**To Reproduce**
[code]

[code]

[code]

**Expected behavior**
[code]

[code]

[2022-08-23 08:30] JessieTeng89 commented on #10008
Can I work on this issue and assign to me if it is still needed?
@crenshaw-dev @jsoref

[2022-08-23 08:54] JessieTeng89 commented on #10008
Following is the plan, I will firstly use some HTML elements to instead of quotation marks for the resource name, and then I will disable the text selection for the resource name so that we can force user to input the resource name by manually without copy/paste.
![image](https://user-images.githubusercontent.com/101035990/186115652-e6fc9f79-89d2-499f-a45e-10d101b2d024.png)

[2022-08-23 10:09] iam-veeramalla commented on #7131
Hi @crenshaw-dev , I see that you have re-opened the issue. Any reason ?

I was testing this feature for one of the users and everything is working as expected.

This is the dummy configmap which I used for testing.
https://github.com/iam-veeramalla/argocd-example-apps/tree/master/large-cm

Steps:
1. Install OpenShift-GitOps operator v1.6.0
2. Create the Argo CD Application as shown below. This wi

[2022-08-23 10:37] NPellet opened #10430 "[UI] - Show applications on more than 2 levels"
# Summary

We work with apps of apps of apps of apps, and it would really be awesome to have

- A way to see multiple levels of apps
- When looking at a particular app, a button to view the parent (controlling) app of that app (just like we have a button to open the app and view its controllees)
- When looking at an app that has multiple apps, show the root app, its apps and the controllees of the

[2022-08-23 10:40] NPellet commented on #10430
For example, consider my following app-of-apps pattern to handle multiple deployments:

![image](https://user-images.githubusercontent.com/1484251/186137951-d80ceea9-4388-4158-b502-16fc99362347.png)

I have no way of knowing whether my child app's dependencies are synced:

![image](https://user-images.githubusercontent.com/1484251/186138049-56c99e35-d876-42a6-afa6-6ccc3be2167d.png)

And I have to

[2022-08-23 10:54] jsoref commented on #10008
Disabling text selection is a no-no in my book. That's just torture. Lots of sites try to do such things and it's a really bad anti-pattern.

I'm reasonably happy w/ the theoretical changes @crenshaw-dev made, although I'd like to know if they work...

[2022-08-23 13:00] martijnvdp commented on #10382
upgraded 2 other deployments and now i've seen the error again a few times , refreshing cache seems to resolve it as wel

[2022-08-23 13:10] zaal-io opened #10433 "Block Scaler issue with spec.source.helm.parameters.name values longer then 70 chars ArgoCD v2.4.10"
**Describe the bug**

When providing an ArgoCD Application for deploying a Helm chart, I also specify overriding values with `spec.source.helm.parameters`. But when the `name` of the parameter `extends 70 chars` it transforms into a block scaler.
Normally this would not be a direct issue, but it actually does for a specific one:
Providing an annotation for a `Service` of type `LoadBalancer` for de

[2022-08-23 13:10] decipher27 commented on #10422
ArgoCD CLI version is v2.3.4

[2022-08-23 13:25] FireDrunk commented on #5614
We've come across this issue, and after some debugging found out that on the spec of a `Job` we had a different `app.kubernetes.io/instance` annotation than on the pod template spec. That caused the error in question.

Leaving this here for future reference on googling people :)

[2022-08-23 14:11] kf-rammanokar commented on #7425
I have resolved this issue by disabling sidecar injection for argocd-repo-service deployment,

[code]
[https://istio.io/v1.9/docs/setup/additional-setup/sidecar-injection/#policy:~:text=sidecar.istio.io/inject%3A%20%22false%22](https://istio.io/v1.9/docs/setup/additional-setup/sidecar-injection/#policy:~:text=sidecar.istio.io/inject%3A%20%22false%22
)

[2022-08-23 15:01] jannfis commented on #10422
Please use a CLI either 2.4.x or >= 2.3.7, as those version will contain the fix https://github.com/argoproj/argo-cd/pull/9546 which added support for Kubernetes >=1.24

[2022-08-23 15:29] slawekgh commented on #7425
it is not the solution :-)
finding similar solutions -  you can also disable istio for the whole cluster and disable argocd and disable the whole cluster

[2022-08-23 15:39] sthapa-ping commented on #2347
We am experiencing same with argocd@v2.4.6

[2022-08-23 16:15] kf-rammanokar commented on #7425
Hi @slawekgh, yes you can disable the whole cluster, nobody will stop you. 🥇

Isio sidecar requires a service-account to spin up a pod, but Argocd does not recommend using a service account for repo-server deployment.

The best option for me is to disable "sidecar injection" for Argocd repo server deployment. I have posted here because this may help to someone else who is facing the similar issue.

[2022-08-23 17:39] RossComputerGuy commented on #10029
I'm also having the same problem, trying to get Keycloak to work with my setup but it dumps me back on the login screen. [This is the configuration of how I deploy ArgoCD](https://github.com/RossComputerGuy/kluster/blob/master/main.tf#L77-L257).

[2022-08-23 17:50] slawekgh commented on #7425
this is issue about running argocd with istio

so solutions like "turn of the istio for argo" doesnt make any sense