[2021-11-26 13:33] jetersen commented on #7502
I ended up removing argocd from our EC2 cluster and moving it to bare metal cluster on prem.
Seeing much better numbers. I guess AWS does not like the spikey CPU and Memory argocd somtimes has.

[2021-11-26 13:44] lukpep opened #7788 "Could not create directory '/home/argocd/.ssh' when using .repo.GetCommitMetadata in argocd notifications"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-26 13:44] lukpep commented on #7788
not sure is is more connected to argocd or to argocd notifications so I've also created: https://github.com/argoproj-labs/argocd-notifications/issues/366

[2021-11-26 13:55] zczc0128 commented on #6741
Same issue reported in https://github.com/argoproj/argo-cd/issues/7576,but it seems no one can help on this.

[2021-11-26 14:02] zczc0128 commented on #7576
Met same issue in ArgoCD v2.1.5 , any one can help on this? Thanks!

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x574482]

goroutine 8034 [running]:
bufio.(*Writer).Flush(0xc0028c22c0, 0x1, 0x7f5ecc56fe18)
/usr/local/go/src/bufio/bufio.go:607 +0x62
net/http.(*response).Flush(0xc002dfe460)
/usr/local/go/src/n

[2021-11-26 15:18] giskou commented on #7768
Another thing we did was also recreate the repositories as custom resources and not create them in the webpage.
Argo 2.1 has changed the way those are handled
https://argo-cd.readthedocs.io/en/latest/operator-manual/upgrading/2.0-2.1/#replacing-repositories-and-repositorycredentials-with-secrets

[2021-11-26 16:45] pasha-codefresh commented on #7377
hi @jjohnson-ah, Thank you for report an issue. I just checked it and it is working fine in case if the tag is signed. The problem appears if the tag is not signed.

[2021-11-26 16:46] pasha-codefresh commented on #7776
Thank you @keithchong

[2021-11-26 17:13] #7647 closed

[2021-11-26 17:47] nnachefski commented on #5886
I'm getting the same issue....

ComparisonError: Cluster level Namespace "elastic-test" can not be managed when in namespaced mode

ServiceAccount has cluster-wide policy.  this whole thing worked fine until the auto-update on my argocd cluster/operator that occurred today.

[2021-11-26 17:49] nnachefski commented on #5886
Ugh, i just checked on my other "prod" clusters for a different customer... same issue.  broke everything.

[2021-11-27 09:35] FernFerret commented on #1704
@enys Thanks for the great tip, I've ended up at this issue several times, but for those of us traefik users yours is the correct answer (as it actually fixes the issue rather than ignoring it). The documentation you linked is absolutely correct but when I read it I was still a bit confused so here are a few details for others that might stumble upon this issue.

The traefik `publishedService` con

[2021-11-27 12:24] enys commented on #1704
@FernFerret thanks and yes. Your write up here could be added to the docs !

[2021-11-28 13:22] itshaungmu commented on #7774
Thank you very much, our team is waiting for the merger of this feature

[2021-11-28 17:17] Gaikanomer9 commented on #5187
Hello @jessesuen, sorry for the delay, took me some time to get to know the project 😄
I've opened the [PR](https://github.com/argoproj/argo-cd/pull/7790) and I implemented the refresh from the UI on box unchecking but I'm not sure if that's the original idea. Could you tell if the refresh should be started like in the PR or in the background after the new settings are saved from the UI?

[2021-11-28 22:18] dthomson25 opened #7793 "Support generating short-lived credentials to access Argo CD"
# Summary

My company uses Github Actions and Argo CD to deploy our services. We currently store a long-lived credential of a [local user](https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#local-usersaccounts-v15) as a secret in GitHub, and our CI workflow uses this credential to sync our application via Argo CD. Storing long-lived credentials in CI is generally considered

[2021-11-29 02:55] vanko1987 commented on #6665
I am running argocd v2.1.7 and have labeled an app for usage with image updater v0.11.0. I am using argocd-image-updater.argoproj.io/write-back-method=git.
What happens is that:
1) once a parameter is modified for the first time via the ArgoCD UI -its value is stored in the argocd-source-appname.yaml and the application is properly synced/updated
2) any further changes to that same parameter (via

[2021-11-29 04:02] sbose78 commented on #7351
Definitely a lot cleaner.

[2021-11-29 06:35] magf commented on #5886
are you done that?

[code]
it was described [here](https://docs.openshift.com/container-platform/4.7/cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/configuring-an-openshift-cluster-by-deploying-an-application-with-cluster-configurations.html#creating-an-application-by-using-the-oc-tool_configuring-an-openshift-cluster-by-deploying-an-application-with-clu

[2021-11-29 09:47] Cuball0 commented on #5886
We are experiencing the sames issues, after the auto-update of ArgoCd everything is messed up, apparently ArgoCD cannot manage the namespaces anymore.

Namespace "yyyy" for ConfigMap "jenkins-rrrrr" is not managed

Did you find a solution for this?  We are running ArgoCD v2.1.6 in Openshift 4.6

[2021-11-29 09:53] jkroepke commented on #3937
@ErikLundJensen

You can do a proposal in form as a Pull Request here and ask this question in form as an own review. Then you have the attention of the correct people who maintain this project.

[2021-11-29 11:52] oblazek commented on #1491
The issue I had was missing repo when I got this error. The solution was to do:
[code]

[2021-11-29 12:37] stephaneetje commented on #3054
Hello,

I'm have the same problem and could not find how to make it work with keycloak.
Can anyone explain me how to set it up ?

i get :
[code]

I also added the callback url to my client on keycloak:
`http://localhost:8085/*`

Thanks !

[2021-11-29 14:10] utkuozdemir commented on #1786
I solved my problem in the way I described in my comment above, but I think this is the one biggest thing missing in ArgoCD. I heard the same complaint from other people with them ending up choosing Flux over Argo for this sole reason.

I would therefore suggest addressing this issue with priority. Something as simple as `valuesFrom->secretRef` would solve the problem for good for a lot of people.

[2021-11-29 17:01] LuisRodri21 commented on #7757
Hi there! I was struggling with the same issue and finally, I realized that the helm repo wasn't allowed in the project as a source repo. 3 hours through the toilet :(

I hope to be helpful.

[2021-11-29 19:13] nickjj opened #7799 "Add ability to create custom labels for namespaces created with syncOptions CreateNamespace"
First up let me just say thank you for making such a wonderful tool!

# Summary

At the moment we can configure ArgoCD to create a namespace for us with:

[code]

But we can't add custom labels to that namespace.

# Motivation

To achieve zero downtime deployments with the AWS Load Balancer Controller they recommend adding a specific custom label to each namespace you deploy your application into.

[2021-11-29 21:44] itewk opened #7800 "app create --upsert does not auto refresh repository any longer"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-29 22:05] alexmt commented on #7800
Hello @itewk , I believe issue was fixed in https://github.com/argoproj/argo-cd/releases/tag/v2.1.6 by https://github.com/argoproj/argo-cd/pull/7508

Can you try upgrading please?

[2021-11-29 22:12] alexmt opened #7801 "Stale RBAC checks"
**Describe the bug**

During v2.2.0-rc1 release candidate testing, one user reported that the API server was incorrectly returning `permission denied` error even though RBAC was configured to allow requests. The issue disappeared after restarting API server which indicates caching issue.

**To Reproduce**

No clear steps to reproduce :(

**Expected behavior**

API should correctly apply configured

[2021-11-29 22:12] alexmt commented on #7801
The https://github.com/argoproj/argo-cd/pull/7587 introduced RBAC checks caching to improve API server performance.

[2021-11-30 03:49] jaipalkomakula commented on #5886
Hello, Any solution for this issue:  Namespace "yyyy" for "resources" "jenkins-rrrrr" is not managed

[2021-11-30 04:56] jgwest commented on #7351
Presuming that we want to go the route of maintaining ApplicationSet controller as a standalone `Deployment`, rather than integrating it into the application-controller process in the original proposal, the work would look like this:
- Wait for ApplicationSet 0.3.0 to be out (timed roughly with Argo CD v2.2), before we proceed with any of the following steps.
- Move applicationset repo from 'argop

[2021-11-30 06:30] blackandred commented on #677
For me the use case would be to install Helm & provide externally a secret that Helm requires but does not create. The same for service accounts and optional configmaps.

[2021-11-30 06:42] epg-mori-k commented on #7657
If you have an SSH connection with a Repository URL starting with git@, the refresh on receiving the webhook doesn't seem to be executed.
For HTTPS connections starting with https, Gitlab now also refreshes on receipt of the webhook

[2021-11-30 07:03] gkmahendran09 commented on #5886
We are able to fix this issue by adding the below key/value in the `argocd-default-cluster-config` secret.

[code]

![image](https://user-images.githubusercontent.com/3875338/144000902-850e8115-489f-4101-939c-324fd737a65f.png)

We are running ArgoCD v2.1.6 in Openshift 4.7.30

[2021-11-30 07:18] Cuball0 commented on #5886
We are you are using the ArgoCD Operator (in Openshift).  I'm not sure, but it could be that the operator reconciles the default secret.

We solved it by adding
[code]
the following env variable to the Subscription of the Operator  (where the value is the namespace of the argocd installation)

[2021-11-30 08:44] Alan-pad commented on #6665
@vanko1987 I don't know if it's the same issue, what I observed is that helm parameters you set in Application CRD are not taken into account at all in the `helm template` command launched even if you those helm parameters are not defined in .argocd-source-.yml

[2021-11-30 09:03] RyanW8 opened #7806 "v2.2.0-rc1 - Helm Template Bug"
**Describe the bug**

API Versions/Kinds not being provided to `helm template` command.

**To Reproduce**

We are trying to upgrade one of our helm charts (https://github.com/cortexproject/cortex-helm-chart) from 0.7.0 to 1.0.1, part of that is they have made a change to some of the pod disruption budget templates, specifically they've added in checks to see if clusters support an API version http

[2021-11-30 09:51] Orenus commented on #2677
@naimo84 seems that currently it is not resolved and there is not other choice than invoking the cli...

[2021-11-30 10:13] ddevaal commented on #6106
This also happens in 2.2.0-rc1.

[2021-11-30 13:17] itewk commented on #7800
@alexmt I am currently experincing this on an externally managed cluster where I can't do the upgrade, so I will have to spin up another cluster to install newer argo version to try. But I can take you at your word and the issue description that this is fixed in newer version. i will close htis.

[2021-11-30 13:17] #7800 closed

[2021-11-30 13:29] APoniatowski opened #7810 "dashboard login middleware needed?"
### Discussed in https://github.com/argoproj/argo-cd/discussions/7795

<div type='discussions-op-text'>

<sup>Originally posted by **APoniatowski** November 29, 2021</sup>
Hi there,

I was wondering, does the dashboard utilize the same secrets as the actual application? as I can login via the CLI client, but when trying to log into the UI/dashboard, the admin credentials do not work and neither do

[2021-11-30 14:13] patchon commented on #5886
Thanks a lot for the tip @gkmahendran09, really saved our day.
I've had issues finding this in the documentaion, but thanks to you we are all good again with our "namespaced argocd which handles cluster-wide resources".

😄 👍 💯 🚀 🥇 🍰

[2021-11-30 16:47] empath-nirvana commented on #7655
I took a pass at updating it but this doesn't seem to have fixed it:

[code]

[2021-11-30 18:10] #7698 closed

[2021-11-30 18:51] #7801 closed

[2021-11-30 21:10] svend opened #7813 "Sync window cluster matching fails for apps using `.spec.destination.name`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Sync window cluster matching fails for apps using `.spec.destination.name`. For an app that uses destination name `in-cluster`, none of the following sync window `cluster` specifiers ma

[2021-11-30 21:31] crenshaw-dev commented on #7351
@jgwest that item might be the result of bad note-taking on my part. I know that Argo CD has an API server. My impression was that there'd be a similar API specifically for AppSet. But that might be not at all a thing.

[2021-11-30 22:16] salineselin commented on #7285
We're also running into this issue in our environment. I thought it might have been the webhookactive bit repeatedly updating, but I don't believe that is the case.

[2021-11-30 22:27] PDQDakota commented on #7285
This issue on the Kyverno side might add some context to this issue. https://github.com/kyverno/kyverno/issues/2269

I still think having the option to work around this on the ArgoCD side would be very helpful for not just this issue but others that may manifest on other deployments as well.

[2021-12-01 14:22] trv-jsmith10 commented on #7680
@jessesuen @alexmt Thanks for your responses. We don't believe that this is a corner case since we are simply executing the manual sync use case. If we refresh before manual syncing, the sync works fine but we shouldn't have to refresh before a manual sync.

[2021-12-01 15:02] jmclean-starburst opened #7819 "Support helm remote values from private repository"
# Summary

I would like to have the ability to reference a value file, from a remote private repository which uses an environment variable in the URL string. An example of this is below:
[code]

This will currently not work as the `${GITHUB_TOKEN}` does not inject environment variables that are already present within the `argocd-repo-server` pod; rather ArgoCD will interpret `${GITHUB_TOKEN}` as a

[2021-12-01 15:44] paragones92 commented on #7601
Not a bug from argocd, it eas related to cobra version used alongside it, which we downgraded to version `1.1.3` from `1.2.1`, for anybody interested in this issue. Thanks!

[2021-12-01 15:44] #7601 closed

[2021-12-01 15:52] sagikazarmark commented on #7638
@jessesuen Please see the linked PR.

[2021-12-01 16:23] zonnie opened #7820 "Ignore Differences doesn't ignore differences"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm want to integrate HPA and as a setup phase I want to add the `IgnoreDifferences`
Initially I'm only trying to modify the `Deployment` with `kubectl edit` and ArgoCD auto-syncs and t

[2021-12-01 16:58] #7813 closed

[2021-12-01 16:59] creosonic commented on #7237
Same issue with helm hooks - Job is not listed (and not available for sync) when there are no any other resources but Job with hooks itself.
[code]

Version:
[code]

[2021-12-01 19:57] adrianbjordan commented on #7716
Thank you @jessesuen !

[2021-12-01 20:37] benreynolds-drizly commented on #6878
Inability to escape the $ is a pretty significant issue. It's currently blocking us from having ArgoCD manage itself via Helm with SSO due to the way [ArgoCD references secrets containing client ID and secret](https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#alternative).

[code]

[2021-12-01 20:41] bgolding355 opened #7821 "Trailing line in Filter Dropdown Menus"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-01 21:03] zonnie commented on #7820
nm, my bad...

[2021-12-01 21:03] #7820 closed

[2021-12-01 21:27] bgolding355 opened #7822 "On the applications list, there is no way to quickly see all the apps that are degraded"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-01 21:41] bgolding355 commented on #7822
Note: The same behaviour appears with `unknown` when the application is a helm application, and the `helm template` command fails

[2021-12-01 23:21] #7208 closed

[2021-12-01 23:28] #7256 closed

[2021-12-02 03:06] hzliangbin commented on #7669
@jannfis I would like to give it a try, may I take this ?

[2021-12-02 04:07] pjaak commented on #7291
We are facing the same issues at the moment when we try to update our ingress API versions. Looking forward to the changes aswell @alexmt

[2021-12-02 06:32] sunshine69 commented on #3887
I hit the problems as well. Just some time ago when I first install it it works and today stop working.

[2021-12-02 07:42] tuananh commented on #7285
this seems to be on argocd side because it does the comparison here when get health status https://github.com/argoproj/gitops-engine/blob/master/pkg/health/health_deployment.go#L77

[2021-12-02 08:20] jgwest commented on #7352
Back in May, I wrote up and presented the [the backend work required](https://github.com/argoproj-labs/applicationset/issues/244) for this.

[2021-12-02 08:53] thuandt commented on #7788
Ref: https://github.com/argoproj-labs/argocd-notifications/issues/347

[2021-12-02 10:36] pjamenaja commented on #5958
Guys, I spent my entire day to make this works. I hope this will help the others to save time.

1. I created my own custom docker image below.

2. Create a custom bash script "get-gcloud-kube-config" to authen with gcloud

3. In the ArgoCD secret I set it as below.
[code]
Thanks

[2021-12-02 10:40] pjamenaja commented on #6749
See my comment here - https://github.com/argoproj/argo-cd/issues/5958#issuecomment-984502516.

[2021-12-02 11:16] jMarkP opened #7828 "An application with an invalid destination cluster causes status conditions to oscillate"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I noticed this when testing an upgrade. My app is an app-of-apps and one of the apps had a destination `name` (not `server`) set to a cluster which doesn't exist (I'd removed it tempora

[2021-12-02 12:12] chillum opened #7830 "argocd docker image bundles binaries for windows and mac"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm using ArgoCD from the official helm charts.

Upon browsing the Docker container of reposerver, I've found out there're two more ArgoCD files bundled: a Mac executable and a Windows

[2021-12-02 12:40] nahum-litvin-hs commented on #3487
I cannot find if something like this already exists
do we have something link proposed kind: ArgoCDInterfaceTile?
or any other way to create a contextual menu for tiles?

[2021-12-02 12:58] Anishmourya commented on #1648
nahhh it just update the Kubernetes deployment application image, not the CloudOps tag. @vikas027

[2021-12-02 13:02] Demonsthere opened #7831 "Upgrade v2.0 to v2.1 causes Applications to enter Unknown status"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
*

[2021-12-02 13:16] Demonsthere commented on #7831
Update: I was experimenting with the config field for ignoreDifference, and tried setting it to
[code]
This however did nothing. But removing the field altogether resulted in a proper upgrade (meaning the Application was in the expected status)

[2021-12-02 14:09] #7831 closed

[2021-12-02 15:06] carsonoid commented on #3487
You can add links to tiles by adding annotations to resources. That is merged into main.

The interface tile proposal has not had any approval or progress yet. Although I would love to see it get pulled in. I still feel  like the left half of the app page is a lot of empty space that we should make usable by users.

[2021-12-02 15:50] crenshaw-dev opened #7833 "docs: Add a link to docs/operator-manual/security.md from root-level security.md"
# Summary

Add a link to docs/operator-manual/security.md from root-level security.md.

# Motivation

Reduce friction when users are trying to find in-depth security recommendations.

# Proposal

Add a new section to the root-level security.md with a brief sentence and link to the operator docs.

[2021-12-02 16:01] #7349 closed

[2021-12-02 16:20] reginapizza commented on #5587
Is this still being worked on @glebk? If not, I'm interested and have some capacity this sprint to take it on. Please let me know!

[2021-12-02 16:28] reginapizza commented on #5176
@jsoref @saumeya should this issue be closed now?

[2021-12-02 16:38] #7563 closed

[2021-12-02 16:46] srouil commented on #7436
Hi, I could solve this problem by defining the helm repo for the dependency as source repository for the Argo CD project.
It look like this change in behavior has been introduced by bug fix #6090 in Argo CD 2.1.0-rc1. Starting from 2.1.0-rc1, Controller only uses "permitted repos" instead of all helm repos when generating manifest.
In my opinion, the limitation of this concept is that once a proje

[2021-12-02 19:39] djfinnoy opened #7835 "document support for --enable-helm flag for kustomize"
# Summary

I would like to utilize the `--enable-helm` [feature of Kustomize (v4.1.0)](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md), without writing my own custom plugin.

# Motivation

Kustomize provides a neat way to handle last mile modification of Helm charts. At the moment, I believe the textbook solution for this is to make a [custom plugin utilizing Helm's pos

[2021-12-02 20:00] keithchong opened #7836 "Compact application resource tree - Implement Toggle button instead of a view"
# Summary

This is a follow-on enhancement to https://github.com/argoproj/argo-cd/issues/7349
In its initial design and implementation, a new Compact view was added to show the compact/collapsed resource tree.

Instead of using a new Compact view, add a toggle button to collapse/expand the resource tree to the existing Tree view.

# Motivation

In some cases, the tree has no collapsed nodes so the

[2021-12-02 20:19] keithchong opened #7837 "Compact application resource tree - Add pagination in collapse node details sliding panel"
# Summary and motivation

This is a follow-on enhancement to #7349

In its initial design and implementation, the sliding panel that appears (after you click on the collapsed-group node) shows the list of the child leaf nodes that were collapsed.  This list could potentially be long and the user will then have to scroll up and down.

Implement pagination (Somewhat similar to the existing Applicati

[2021-12-02 21:21] jessesuen commented on #7774
This was discussed in today's contributors meeting. Providing a control knob to perform hard refreshes with every reconciliation will have a performance impact which we don't want to incur. Argo CD design is to be able to reconcile an application early and often, and quickly with little to no performance consequence. By adding an option to always perform hard refreshes for applications, it causes

[2021-12-02 22:06] crenshaw-dev commented on #7351
@jgwest I've got some time to put into this. I put up a draft PR to start working through the items in the list. https://github.com/argoproj/argo-cd/pull/7841

[2021-12-02 23:02] danopia commented on #6067
I just ran into this with the error message `ClusterRoleBinding.rbac.authorization.k8s.io "example" is invalid: subjects[0].namespace: Required value`. Maybe that now helps other users find this issue via search.

Since the helm integration seemingly plumbs namespace through for the chart to rig up, I expected the `Application.spec.destination.namespace` value to be enough, but `Application.spec.s

[2021-12-03 02:33] kimhongji opened #7843 "cannot add new application using UI"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-03 03:40] Nankeadream opened #7844 "argocd cannot deploy the application to a remote cluster"
**Describe the bug**

I added my cluster through kubeconfig in argocd, and when I deployed the application to this cluster, it prompted the server could not find the requested resource, although my cluster connection status is normal

[code]

**argocd Version**

[code]

[2021-12-03 03:43] itshaungmu commented on #7774
There are still two questions here:
1. During the deployment of helm, the version of Chart is unchanged, only the value changes can support upgrade and rollback, but argcd does not seem to support the rollback of history records of the same version of the same Chart.
2. When the cache time set by the repo-cache-expiration of the helm application expires, shouldn't the tgz files in the /tmp/ direct

[2021-12-03 07:35] sedovandrew commented on #5804
Also interested in realizing this.

[2021-12-03 07:39] isaidashev commented on #5804
Requires the ability to exclude RBAC creation when you don't want to make changes to the external helm chart

[2021-12-03 09:21] saumeya commented on #5176
yes it can be closed

[2021-12-03 09:21] #5176 closed

[2021-12-03 10:00] knusperkrone opened #7846 "OutOfSync for HPA, due not sorted yaml keys"
**Describe the bug**

When adding a HPA, with memory and cpu limits, then argoCD application appears `OutOfSync`.

This is because of not consequent sorting the `live` manifest and the `desired` manifest.

**To Reproduce**

Applying a hpa like:

[code]

**Expected behavior**

ArgoCd shoulnd't mark such projects `OutOfSync`

**Screenshots**

![Screenshot from 2021-12-03 10-57-26](https://user-image

[2021-12-03 10:11] pasha-codefresh commented on #7350
Done: https://github.com/argoproj/argo-cd/pull/7744

[2021-12-03 10:11] #7350 closed

[2021-12-03 11:13] Nankeadream commented on #7844
After adding crd resources to the remote cluster, it can run normally

[2021-12-03 11:13] #7844 closed

[2021-12-03 14:02] mikebryant opened #7850 "Strategic patch merge / server side apply support"
# Summary

I'd like to have the list markers set in the Helm section of the Application CRD

# Motivation

I want to be able to use strategic patch merge with the parameters (in a Kyverno mutation rule), so I can add overrides dynamically at runtime.

# Proposal

Following [the docs](https://kubernetes.io/docs/reference/using-api/_print/#merge-strategy), add this to the relevant places:

[code]

I

[2021-12-03 14:04] mikebryant commented on #7846
Related upstream issue: https://github.com/kubernetes/kubernetes/issues/74099

[2021-12-03 15:56] keithchong commented on #7837
FYI @alexmt

[2021-12-03 15:56] keithchong commented on #7836
FYI @alexmt

[2021-12-03 17:29] fardin01 commented on #2347
In my case, the problem was that only the ArgoCD server (`argocd-server` pod) had access to the IAM role. It turns out that the application controller (`argocd-application-controller` pod) also needs to have access to the IAM role for it to work.

[2021-12-03 21:46] #6089 closed

[2021-12-03 23:10] lfdominguez commented on #7835
Hi, I'm using `--enable-helm` already, you must customize in `argocd-cm` ConfigMap with key `kustomize.buildOptions`, only add: `--enable-helm`, currently I'm using `--load-restrictor LoadRestrictionsNone --enable-helm` to allow refer to others common components outside kustomize folder.

[2021-12-03 23:26] lfdominguez opened #7857 "ArgoCD not respect (change) a resourece namespace already defined"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-12-03 23:53] lfdominguez commented on #7857
Workaround:

1. Create a RoleBinding identical to the generated by helm one:
[code]
2. Create a patch on the kustomization.yaml:
[code]
3. Now ArgoCD not change the namespace and the application is synced
![image](https://user-images.githubusercontent.com/5604131/144686985-1a42ce68-5d53-41be-8829-fd669d8b5917.png)

Why with this workaround that generate the same .yaml RoleBinding works? It's like

[2021-12-04 00:32] Sahaquielxo opened #7858 "Private helm repo as dependency doesn't use creds"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-12-04 17:51] glebk commented on #5587
@reginapizza please go ahead!

[2021-12-04 18:22] djfinnoy commented on #7835
@lfdominguez thanks for the tip, that's definitely better than a custom plugin.

[2021-12-04 19:39] cydergoth opened #7859 "Docker build for ArgoCD is using old version of kubectl"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
*

[2021-12-04 19:42] cydergoth commented on #7859
From here: https://github.com/argoproj/argo-cd/blob/master/hack/installers/install-kubectl-linux.sh
the version should be
https://storage.googleapis.com/kubernetes-release/release/stable.txt

[2021-12-04 19:43] cydergoth commented on #7859
Looks like this file:
https://github.com/argoproj/argo-cd/blob/master/hack/tool-versions.sh

Needs updating for kubectl and maybe kubectx too

[2021-12-05 16:25] dsaintilma-flinks commented on #7835
I've added `--load-restrictor LoadRestrictionsNone --enable-helm` to my argocd-cm ConfigMap then reloaded deployment of argocd-server: it' still not working on my end. Any clue why this might be happening?

ArgoCD image: quay.io/argoproj/argocd:v2.1.6

[2021-12-05 19:19] jannfis commented on #7859
The kubectl version report from the API's version endpoint is actually the version of Kubernetes API we're using. For some weird reason, `0.22.2` here means the API from Kubernetes 1.22.2 release.

The kubectl binary itself is not bundled anymore with the Argo CD container image. However, it still is bundled with the toolchain container image for setting up CI, and is used within the GitHub Action

[2021-12-05 22:13] dhess opened #7860 "Can't delete `argocd` namespace when Argo CD is self-managed"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When Argo CD is self-managed (i.e., there's an `Application` installed in the `argocd` namespace that's keeping Argo CD itself up-to-date), it doesn't seem possible to delete the `argoc

[2021-12-06 00:09] dhess commented on #7860
Answering my own question, this seems to work:

`gitops/argocd/argocd.yaml`:
[code]

`apps/argocd/kustomization.yaml`:
[code]

Bootstrap Argo CD installation:

[code]

Set up the repo creds for your `https://github.com/your/repo.git`.

Now use `kubectl` to apply the `Application` manifest above:

[code]

Wait for the `argocd` app to sync and become healthy. Then you can safely delete the namespace

[2021-12-06 03:43] zmx commented on #2424
The solution provide @AbhinayGupta741 works for me on Dex Google Connector

Another trap: `scopes: [email]` won't works

[2021-12-06 08:02] duncan485 commented on #6390
Hi @Piroddi , did you ever find a work around for this issue ? I'm having the same issue.

[2021-12-06 08:49] Piroddi commented on #6390
Hi @duncan485, Currently running a fork of argoCD with a small code change to resolve the above. Hoping this issue can be acknowledged/triaged so that I can submit a PR.

[2021-12-06 09:18] EwdAger commented on #7430
sames here

[2021-12-06 13:14] crankl commented on #7857
We have the same issue in our cluster.
When upgrading from 2.0.0 to 2.1.0 suddenly all namespaces were out of sync because namespace isolation was active.
After adding the label `argocd.argoproj.io/managed-by: argocd`, all the necessary roles were added to the project but the rolebindings were missing
[code]

In the controller logs we found the following error
[code]

As far as I understood it, th

[2021-12-06 13:36] schmitch commented on #2913
btw. we found that out and figure that it is really really bad that `ignoreDifferences` is only for the status value. currently we use autoscaling and argocd and tought that replicas will stay the same when running argocd sync, however that is not the case, argocd will just use the default value.
so the only workaround is a s static manifest that is used for autoscaling that is not managed by argo

[2021-12-06 13:46] chicocvenancio commented on #2913
@schmitch leaving `replicas` out of the resource is the way [recommended in the docs](https://argo-cd.readthedocs.io/en/stable/user-guide/best_practices/#leaving-room-for-imperativeness) for autoscaling.

[2021-12-06 14:32] duncan485 commented on #6390
@Piroddi Good to know, thanks ! fyi: as an alternative, I was able to work around this issue using the claimMapping option from Dex.

[code]

[2021-12-06 16:44] wanghong230 commented on #7819
Related to https://github.com/argoproj/argo-cd/issues/2789

[2021-12-06 18:16] #7576 closed

[2021-12-06 18:46] kcrawley-supernatural commented on #7858
Hit this as well, started happening after I bumped from `3.25.0` -> `3.26.12` as a result of the github host keys changing.

[2021-12-06 18:57] kcrawley-supernatural commented on #7858
@Sahaquielxo confirmed that rolling back to `3.25.0` (but including the new github host keys) fixes the issue.

[2021-12-06 19:57] keithchong commented on #7843
Hi @kimhongji , curious, when you clicked on the 'Values file' field, does the combo box drop down show the list of yamls?

[2021-12-06 20:45] keithchong commented on #7822
@alexmt, not sure why we don't have a sync status for 'Sync failed'.  Think UI will have to change as well as the API (types.go).

[2021-12-06 20:50] bgolding355 commented on #5949
The problem is that there are 2 different unknown states, one for sync and the other for health. This is very confusing. It would be very helpful if these had distinct names.

![argo-cd-unknown](https://user-images.githubusercontent.com/60831565/144920214-c6a9f509-ca29-46a2-b055-e581d54907d4.png)

[2021-12-07 03:53] kimhongji commented on #7843
@keithchong
Hi, thank you for the response,
When I click the 'Value File' field, I can't see any drop box.
my helm chart directory is like this.
[code]

[2021-12-07 08:07] MikeK184 opened #7872 "Backing from /applications/{applicationName} to /applications not working"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Backing from /applications/{applicationName} to /applications is not working. (Firefox, Edge have been tested).
As example from `https://argocd.prod-002.k8s.m086/applications/dynatrace-fullstack-addon?` to `https://argocd.prod-002.k8

[2021-12-07 10:35] schmitch commented on #2913
@chicocvenancio i've tried that but it did not work, it still set the replicas field back

[2021-12-07 11:09] saumeya commented on #5463
@rbreeze @jsoref, can this be closed?
![icon-labels](https://user-images.githubusercontent.com/17771352/145018613-3439c8fa-84bd-422d-acdc-ea23e2ad351a.png)

[2021-12-07 11:53] kostis-codefresh commented on #7772
Related https://github.com/argoproj/argo-cd/issues/4110

[2021-12-07 12:01] HariSekhon commented on #4110
@kostis-codefresh thanks for the link

@u2m4c6 @chronicc @tomaszdudek7 I've sized and tuned my ArgoCD resources based on my Goldilocks recommendations - you can find my resource settings for my production ArgoCD with a dozen+ apps at my git repo below as well as Goldilocks deployment too, which is a handy thing to run for all your k8s resource sizing:

https://github.com/harisekhon/kubernetes-conf

[2021-12-07 12:23] nnahaliel opened #7875 "Delete namespaces created by "CreateNamespace=true" sync option when application is deleted"
# Summary

As far as i've seen, when using the sync option "CreateNamespace=true" in an Application resource, the namespace is created if it does not exist, but when/if the application is deleted, the (now empty) namespace gets left behind, unmanaged.

If that's not true or already solved, please let me know what i'm doing wrong (and no need to continue reading, i guess...)

I am aware that deleti

[2021-12-07 12:54] wagfeliz commented on #4344
Posting to also request this feature. For me this is an security issue because it forces you to expose both, keycloak and argocd into extranet, and that is not an option for us.

[2021-12-07 13:35] KipsasJaujoj opened #7876 "sync windows do not show inherited ones from global projects"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Sync windows inherited from global projects are not shown on project's window view. They are also not printed when using `argocd proj windows list <project>` command.

Sync windows are

[2021-12-07 13:42] andreasschramm commented on #4314
there are more discrepancies, the swagger.json does not contain any info about auth, and the V1alpha1ResourceNode Type does not match the object the apis delivers... i see the codegen is pulled from an old version, something tells me that there are some dragons sleeping there...

[2021-12-07 13:57] keithchong commented on #7843
Hi @kimhongji , could you try moving the values yaml file out of the values folder, to the parent folder?  I think Helm expects that structure.  Then see if it shows up.  If it doesn't show up, then try renaming it to values.yaml, and try again.

[2021-12-07 14:06] LiorLieberman commented on #7858
I face the same error, does rolling back to 3.25.0 is the only solution?

[2021-12-07 14:15] patchon commented on #5886
Hm, I noticed today that this secret actually gets deleted when setting the environment variable in the subscription.
So it seems that you only would need to update the subsciption to get desired functionality.

Just thought I should share this knowledge.

[2021-12-07 14:38] #7787 closed

[2021-12-07 14:39] JimFran commented on #7787
The issue has been resolved using ApplicationSet. I did not find any way to use different namespaces with regular application files. ApplicationSet it's needed when using different namespaces.

[2021-12-07 14:42] vineetsingh5 opened #7877 "Child App Sync Failed with error failed exit status 1: Error: Chart not found"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-12-07 14:47] JimFran opened #7878 "Secret issue in argoCD Helm deployment"
Hello team,

this is not really a bug but I was not sure how to ask about this issue.

When deploying ArgoCD through Helm I cannot find any way to specify the KeyVault (from Azure) for the secret needed when integratin ArgoCD with SSO.

The secret is called **$oidc.azuread.clientSecret** and I should use KeyVault.
This variable is usually deployed inside argocd-secret.yml. However, when using Helm

[2021-12-07 15:00] LiorLieberman commented on #7858
@kcrawley-supernatural Rolled back to 3.25.0 and still same issue, any idea?

[2021-12-07 15:16] jsoref commented on #5463
@saumeya: try a narrower window?

[2021-12-07 15:20] saumeya commented on #5463
Got it

[2021-12-07 15:28] jsoref opened #7879 "Scheduled ... First occurred is unix epoch"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-07 15:39] michael-barker commented on #6252
I'd love to have this feature. Any update on when this might be available?

[2021-12-07 16:22] alias-rahil opened #7880 "apply default helm transformation"
# Summary

When I specify `namespace` on a argocd application, it only populates the `Release.Namespace` template variable, whereas when running `helm install --namespace <namespace>` , helm seems to actively add an `metadata.namespace` entry before applying the templates to the cluster. Many charts unfortunately don’t have the `Release.Namespace` variable but instead rely on the aforementioned he

[2021-12-07 18:23] ciiay commented on #6936
Is this one similar with [Compact application resources tree #7349](https://github.com/argoproj/argo-cd/issues/7349)?

[2021-12-07 19:10] ddevaal commented on #6106
These crashes stopped happening when we switched from Standard_B2s to Standard_D2s_v3 VM's on AKS (Azure). I initially used a B series VM for development. I think ArgoCD crashes easily when the hardware is insufficient.

[2021-12-07 21:58] keithchong commented on #7872
Hello @MikeK184, taking the errors that you see aside, I think the Back button issue you are seeing has been addressed by

PR https://github.com/argoproj/argo-cd/pull/7327, where it is in the release-2.2 branch.
Issue https://github.com/argoproj/argo-cd/issues/7090

which will further be updated and enhanced by:

https://github.com/argoproj/argo-cd/issues/7776

Could you please confirm that if you

[2021-12-07 23:22] keithchong commented on #7876
Hi @KipsasJaujoj , I can't seem to reproduce this.  Once I added the label a=b, and then I switched over to the WINDOWS tab, I see the sync window populated.

[2021-12-08 01:02] kimhongji commented on #7843
@keithchong Thanks!
now I can see the list on the values file field, when I move the values.yaml to the parent folder and renaming to values.yaml. But, I want to separate the values file like feature/develop/prod .. etc..

so I'd like to know what is the best practice to separate values file for multi cluster environment.

[2021-12-08 01:39] jessesuen commented on #7819
I think we can duplicate this to https://github.com/argoproj/argo-cd/issues/2789. As part of https://github.com/argoproj/argo-cd/issues/2789, the requirement should be that we can re-use credentials configured in Argo CD for that repo.

[2021-12-08 01:39] #7819 closed

[2021-12-08 02:22] jthunderbird commented on #3039
+1

[2021-12-08 05:13] alias-rahil commented on #7880
I was wrong, helm doesn't set the metadata field, it seems to be set by kubectl while applying the rendered template. So, while the output of `helm template` doesn't have a  `metadata.namespace`, the applied manifests has the field. So, `hem install` effectively seems to be doing something like:
[code]
Is it possible to replicate this behaviour for argo-cd apps too?

[2021-12-08 09:19] #7546 closed

[2021-12-08 09:25] KipsasJaujoj commented on #7876
@keithchong Just to double check: you are not checking sync window on the global project, are you? I'll try this exercise on more time :)

[2021-12-08 11:54] HariSekhon commented on #6106
@ddevaal thanks for the feedback, I had tuned ArgoCD resources as per this ticket below because it didn't come with resource requests which would alleviate this resource issue, I haven't had this issue in a while:

https://github.com/argoproj/argo-cd/issues/7772

This issue links to my resources settings and configs I've provided on github too.

[2021-12-08 12:58] jmclean-starburst commented on #7819
@jessesuen I believe #2789 is hitting some hard scope creep. This request was able to be resolved from a 3rd party plugin within 24hours, so i know its pretty simple to implement. Being that 2.3 is months away (since 2.2 is still going through RC), I would like for this to be considered in the 2.2 release.

Also, within this enhancement request was a bug, called out below:

I look forward to your

[2021-12-08 15:01] gadiener commented on #1672
Hey @jsoref 👋🏻

Out of curiosity, what is the reason behind this design choice? Can't we achieve the same using `helm upgrade --install` instead of `helm template` (if that is how ArgoCD use Helm behind the scene)?

I think that will give more flexibility to those who, like me, have other tools built on top of Helm working on the same releases deployed with ArgoCD. This design choice forces us to

[2021-12-08 15:09] jsoref commented on #1672
I'm not the person who made the choice. But the idea is that ArgoCD owns the resource, so if you want information about it, you should be using the ArgoCD system. That could be looking at the git configuration to see what you asked for, or the ArgoCD ui/cli to see how synced the git state is with the kubernetes deployment.

If you want to upgrade a resource, edit the git configuration for the reso

[2021-12-08 15:09] pentago commented on #6287
While approach above works, it's rather a workaround than a solution. We should solve this on an argocd-notifications side of things somehow..

[2021-12-08 15:23] gadiener commented on #1672
I see, but to be honest, I don't see any bad with that.

Wouldn't that be the same behavior if someone changed a resource directly with kubectl?

I understand how ArgoCD owns the resource but, at the same time, it is not the only system using/managing it. There are cases where an operator in the cluster can touch a resource deployed with ArgoCD. The expected behavior would be that ArgoCD reverts a

[2021-12-08 15:28] cslovell commented on #5824
Is there any update on this? It would be nice to provide teams with basic self-service capabilities relating to their project. As it is, even with full project permissions, teams cannot list clusters when creating apps, even if they have permission; they cannot list or create repositories, even if the repo matches the regex in the project permissions, etc. It should be possible to indicate that a

[2021-12-08 15:35] jsoref commented on #1672
Frankly, this is a closed ticket that you're hijacking. Use a discussion or Slack or something.

Kubectl can make a single change, and ArgoCD will stomp on it too. The amount of damage you're likely to experience from that is much lower than using helm and being surprised by the huge jitter you'd get.

[2021-12-08 17:23] zonnie opened #7888 "Constantly getting "runtime error: invalid memory address or nil pointer dereference""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Every time I apply an "app-of-apps" it's stuck as `Unknown` for quite a while with an error `runtime error: invalid memory address or nil pointer dereference`

Refreshing the app manual

[2021-12-08 18:05] alexmt commented on #6032
Looks like solution was found. Closing the issue

[2021-12-08 18:05] #6032 closed

[2021-12-08 18:05] #2925 closed

[2021-12-08 20:29] bgolding355 opened #7889 "Unhelpful error message when a kind does not exist for some api version"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-08 20:40] bgolding355 opened #7890 "Sync Stuck for 2 months but shows 9min duration"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-08 22:30] zonnie commented on #7888
I see it's aiming for `v2.3`, I'd appreciate if someone could give me a workaround or explain what's triggering this...
Thanks 🙏🏻

[2021-12-08 23:21] keithchong commented on #7879
The UI is getting back a null timestamp

[2021-12-08 23:51] jurgen-weber-deltatre commented on #2932
@judexzhu Did you get this working? I am trying all of these things also but only the UI works. Keycloak v15

[2021-12-09 00:43] keithchong commented on #7879
We're getting the events from the k8s client api. Looks like we just have to handle the null firstTimestamp and null lastTimestamp.

[2021-12-09 01:26] ryane opened #7891 "configurable listen address for argocd admin dashboard"
# Summary

When using ArgoCD  core and the `argocd admin dashboard` command, I would like to be able to specify a listen address other than `localhost`.

 # Motivation

 When working on remote development environments, having the ability to specify a listen address (like a specific IP or `0.0.0.0`) would allow users to (more) easily access the dashboard from a local browser.

# Proposal

Add a new

[2021-12-09 05:58] keithchong commented on #7879
Reproduced issue:
<img width="1089" alt="7879-Issue" src="https://user-images.githubusercontent.com/7726022/145342362-214d572f-47ce-4006-aa05-47f686497918.png">

With Fix:
<img width="1088" alt="7879-WithFix" src="https://user-images.githubusercontent.com/7726022/145342395-40f2e6b2-c2b3-4b24-9efb-5640c53261d6.png">

Describe Pod - Events:
<img width="1038" alt="7879-DescribePod-Events" src="https:

[2021-12-09 06:29] keithchong commented on #7843
np @kimhongji , there can still be some usability improvements here, like feedback or validation whenever an invalid values file is detected.  That way, you will see immediately that an invalid file was entered in.  Perhaps this issue could address this usability problem.

I'm not an expert at Helm so I'd prefer not to advise you on what is the best practice at this time.  Maybe this example could

[2021-12-09 07:03] kimhongji commented on #7843
@keithchong
 ok, thank you for recommendation.
I think the values file's name doesn't problem. If I just move the values file to parent folder, the drop box is shown.
I solved this issue by moving the values file to parent folder.  But, I think , I hope to improve this way like feedback  as you told me . thanks and I will closing this issue.

[2021-12-09 07:04] #7843 closed

[2021-12-09 07:39] pawandwivedi opened #7893 "argo-cd does not sync until 3 minutes after push."
**Describe the bug**

when there is change in the code. i sync argo-cd manually and after that i see the argo shows it is syncing but actually there is no change or nothing happens and then after 3 minute wait again auto sync happen automatically and all is up to date. So the thing is there is delay of 3 min in auto-sync. before there was no problem of auto-sync like this. i am facing this from la

[2021-12-09 07:42] MikeK184 commented on #7872
Hi there @keithchong, thanks for letting me now! And yes, there are multiple entries:
![image](https://user-images.githubusercontent.com/56921065/145354294-d32a6bb9-c763-4e6e-af37-04d74bc2c568.png)

I'll be waiting for the new release then.

[2021-12-09 07:42] #7872 closed

[2021-12-09 08:11] DanielB1990 commented on #4441
Same here as for Varesa, thanks to Alexander Dalloz on the [ArgoCD Slack](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1638978466372600?thread_ts=1638965338.363300&cid=C01TSERG0KZ), an improvement on the message would help a lot I reckon.

[2021-12-09 08:46] nneram commented on #7033
Hi @vijay-dcrust, I got the same problem with this example with no `finalizer`:
[code]

When I remove a file in the Git (custom resource) which deploys other resources **they are also deleted by argocd**. I expected that it didn't because the resources deleted are handle by an operator and argocd make conflict with it.
_Notice_ that the expected behavior happen when I used to delete the CR with th

[2021-12-09 09:32] jannfis commented on #7891
I like this idea. WDYT @alexmt?

[2021-12-09 13:00] sekthor opened #7894 "Can not set a token for a user in the `argocd-secret`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*

[2021-12-09 13:07] kcrawley-supernatural commented on #7858
@LiorLieberman did you manually specify the hostkeys for the recent google key expiration?

[code]

[2021-12-09 13:58] keithchong commented on #7872
Hi @MikeK184 , the console errors that you were seeing might be a different/separate problem. Not sure why it could not connect to the API server. So perhaps open another issue for this, if that is reproducible, or if there are other issues related to that.

[2021-12-09 13:59] jizi commented on #5068
Experiencing the same issue.

How to reproduce:
1. Navigate to application detail page in web UI.
2. Restart redis pod (non-HA setup)
3. Click on any app resource
4. Message mentioned in https://github.com/argoproj/argo-cd/issues/5068#issuecomment-878594783 is displayed.

Refresh of the page doesn't help. The issue eventually disappears but not in minutes, rather in tens of minutes.
It can be reso

[2021-12-09 14:28] EppO commented on #2267
server-side apply hit GA with 1.22, it would be neat that Argo CD embraces it like Flux did. Having to add manually an annotation on one of the helm chart's CRD is really painful

[2021-12-09 14:49] LiorLieberman commented on #7858
@kcrawley-supernatural I did, it is still failing on helm repo add 401 unauthorized when using chart as dependency as described in the issue
Are you able to use charts dependencies with helm repos?

[2021-12-09 14:49] St4NNi commented on #4326
There is an example in: https://argo-cd.readthedocs.io/en/stable/user-guide/diffing/
I could only solve this issue by adding:
[code]
to my argo-cm configmap.

[2021-12-09 17:30] skinnyxpuppy opened #7896 "SAML SSO with Azure AD"
Hello guys,
Apologies if this is the wrong location for the post - I have actually tried joining the Slack community to ask, but the slack link on the support page is stating the URL is no longer active.

I am currently following the steps to configure Azure AD SAML using the provided documentation
 https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/microsoft/
After setting u

[2021-12-09 17:53] skinnyxpuppy commented on #7896
This can be closed, I have resolved the issue.

For some reason, when I used "all groups" it does not work, but it works fine if I select "groups assigned to this application"

[2021-12-09 22:03] alexmt opened #7897 "Cluster API does not support updating labels and annotations"
**Describe the bug**

The cluster API supports creating clusters with labels and annotations but does not allow changing labels and annotations without specifying the whole cluster body.

**To Reproduce**

1. Create cluster
2. Try to add labels/annotations using update method:

**Expected behavior**

To by consistent with other fields it should be possible to change labels/annotations using `updat

[2021-12-09 22:25] perezjasonr commented on #4344
would also like to request this, its pretty common for people to run something like keycloak internally and with a custom ca. we just ran into this as well

[2021-12-09 22:47] alexmt opened #7898 "Repo server unable to checkout commit"
**Describe the bug**

Repo server unable to checkout commit with the following error. Only workaround is to restart it:

[code]

**To Reproduce**

No clear steps to reproduce

**Expected behavior**

Repo server should be able to self recover from such issue
.

**Version**

[code]

[2021-12-09 22:48] warroyo commented on #4424
@jannfis can this be reopened? for some users creating a local account is not acceptable for the company's auth policies. we need a way to login without a browser using . Dex supports the `resource owner password credentials grant` type which should support this.

https://github.com/dexidp/dex/pull/1621

[2021-12-09 23:41] Chris-Carmichael commented on #696
@g8081 - If you update your helm charts or deployments to use different instance labels per installed app, ArgoCD will manage them separately.  Make sure the value for the `app.kubernetes.io/instance:` key is different per object, and you'll be good to go.

[2021-12-10 00:16] sunshine69 commented on #3008
I have the similar issues with v2.1.6+a346cf9

[2021-12-10 00:39] #7897 closed

[2021-12-10 01:16] eestolano commented on #6222
Should this be reopened? The issue was fixed in the above gitops-engine PR, but it looks like argo-cd itself hasn't yet been updated to use a gitops-engine version containing the fix.

[2021-12-10 05:42] jwenz723 commented on #6252
If you have 2 ArgoCD applications which are syncing the same CRD then ArgoCD will continuously re-sync the 2 applications because the ownership of the CRD will conflict between the 2 applications.

For example, in my clusters I install the kube-prometheus-stack helm chart which includes the `ServiceMonitor` CRD. I would like to put the `ServiceMonitor` CRD inside my `crds` ArgoCD application, but

[2021-12-10 05:44] jwenz723 commented on #6252
I believe this issue is a duplicate of https://github.com/argoproj/argo-cd/issues/4723

[2021-12-10 10:05] sathieu commented on #3698
I think ArgoCD should focus on implementing the most used kustomize features, in the same way as flux (https://github.com/fluxcd/helm-controller/pull/202). At least, support for [patchesStrategicMerge](https://kubectl.docs.kubernetes.io/references/kustomize/patchesstrategicmerge/) and [patchesJson6902](https://kubectl.docs.kubernetes.io/references/kustomize/patchesjson6902/) :

[code]

As I needed

[2021-12-10 10:31] alias-rahil commented on #7893
After pushing, you have to click on refresh.

Sync option checks if the desired state is same as actual state in the cluster. But argo-cd doesn't know yet that the desired state itself has changed.

[2021-12-10 10:43] alias-rahil commented on #7878
Not sure if this is the best way but one way is to maintain the argocd-secret entirely yourself. For that you will need to disable the auto-generation of the secret:

[code]

You can now create argocd-secret with the extra data keys that you'd like.

PS: `admin.password` and `server.secretkey` are mandatory keys that you will have to maintain with your other extra keys.

[2021-12-10 11:14] tyrken commented on #3487
The current feature is as merged in #4380 is ok, but it's annoying that the early returns such as https://github.com/argoproj/argo-cd/blob/a51169e8c03693b145c5d82c5af1b4de106d7eec/controller/cache/info.go#L41-L46 skip lines 55-62 which read the annotation into ExternalURLs.

My use case is adding a link to an AWS ALB ingress - TBH I'd rather override the existing one lifted from the status/loadBal

[2021-12-10 13:04] #7896 closed

[2021-12-10 13:42] ismailyenigul commented on #5991
I experienced the same issue. I deleted helm chart that already had `--update-status` and created again
but argo-cd was still reporting `Waiting for Sealed Secret to be decrypted`
deleting manually CRD did not help.
deleted with helm uninstall did not help too.

I deleted everything about sealed-secret with
kubectl delete -f `https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.16.0

[2021-12-10 14:56] avodaqstephan commented on #2347
I'm happy to came across this thread. Without that issue you'll probably burn day(s) to figure out how this works. The documentation is lacking detailed information here.
If you have all the information in your kubeconfig and you can just add an external cluster by pointing to the correct context everything is fine, if you need to fiddle around with EKS you are simply lost.
Thanks to everyone who

[2021-12-10 15:43] carsonoid commented on #3487
I have no problem with adding annotation based links to all resources. I think the original proposal was just trying to make a minimal change. But I would be happy to create a PR to include links from annotations for all resources, even those with native link support. It should be a very simple and minimal change.

---

Coming up with a way to skip one or all links that would normally be generated

[2021-12-10 16:54] lienerieksta opened #7906 "Gitlab webhook does not work if targetRevision contains slash symbol"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
We have a naming scheme for our branches that follows the pattern `environment/cluster`. After upgrading ArgoCD from v2.0.0 to v2.1.5 the the gitlab webhook stopped to trigger the app re

[2021-12-10 16:55] Jmainguy commented on #7189
We are currently using a plugin to get these vars, but that stops us from using the helm: block. So this would be a great feature to add.

[2021-12-10 17:57] JimFran commented on #7878
Hello,

Thanks for your message.

I expected to be able to update easier the OICD secret which I need when integrating ArgoCD with SSO to sign with my Azure credentials.

If I need to maintain entirely the secret not sure if this is the best way for us.

However I have a couple of questions:

1- May you please write an example of how I would deploy the secret enturely including the mandatory keys

[2021-12-10 18:13] christianh814 commented on #2267
Circling back on this as this has come up again from our end users.

[2021-12-10 18:32] #7879 closed

[2021-12-10 22:03] alexmt commented on #7888
Hello @zonnie ,

@jomenxiao  just implemented fix for this issue. Merging it and cherry-picking into v2.1 and releasing patch release shortly.

[2021-12-10 22:06] #6132 closed

[2021-12-10 22:25] zonnie commented on #7888
Thanks @alexmt !
ArgoCD is the only project I actually open bugs because you guys actually handle them !

[2021-12-11 05:23] #7888 closed

[2021-12-11 06:22] alias-rahil commented on #7878
I am not sure about this.

You can create a seperate chart with argocd chart as a dependency then set `argocd.configs.secret.createsecret` to false in values.yaml. In templates folder you can create an argocd-secret.yaml. This way argocd and the secret will be deployed to argocd namespace together. Here is an example:

https://github.com/comprehensive-turkey/infrastructure/tree/a8023837125e01ed5a6

[2021-12-11 12:36] om3171991 commented on #6880
@alexmt - We are using the below version of ArgoCD and seeing the same issue with Contour helm. Application is waiting for  PreSync Job to complete whereas on a cluster I can see the job is completed.

{
    "Version": "v2.1.3+d855831",
    "BuildDate": "2021-09-29T21:51:21Z",
    "GitCommit": "d855831540e51d8a90b1006d2eb9f49ab1b088af",
    "GitTreeState": "clean",
    "GoVersion": "go1.16.5",

[2021-12-11 16:09] simonlsk commented on #3843
It would be useful to use this hook as the substitute for helm's hook `pre-install` instead of `PreSync`, which is by the way both misleading and wrong. Generating a secret once at install time sounds like a trivial use case to me. I find it very hard to do, especially since argo-cd doesn't generate a virtual `.Release.IsUpdate` on sync. Please someone correct me if I'm wrong or missing a somethin

[2021-12-11 20:21] amoravek commented on #3709
+1

[2021-12-13 07:47] #7660 closed

[2021-12-13 09:17] psibi opened #7912 "EventSource requests are always failing"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When I'm in the applications page of ArgoCD, I can observe that the event source requests are failing. Attaching a snapshot demonstrating it:

![argocd_eventstream](https://user-images.

[2021-12-13 10:53] YannickLecroart21 opened #7913 "Unable to connect private repository using SSH and private key"
**Describe the bug**

When trying to add a private repository using SSH and a private key, I get the following error message:

`Unable to connect SSH repository: error unmarshaling JSON: json: cannot unmarshal string into Go struct field Repository.insecure of type bool`

**Screenshots**

![argocd1](https://user-images.githubusercontent.com/85626425/145799619-994e1cb4-7fd7-464d-8dd0-167890ddbcf9.p

[2021-12-13 13:49] thedewpoint opened #7914 "Unable to start argo on ampere (arm) cluster"
I have done a fresh install of k3s on an Oracle ampere 4 core vm. This is an ARM architecture. Upon installing argo the application-controller, the dex-server, repo-server, and server all get stuck in a crashbackoffloop. Many have this error in the logs
[code]
Some googling shows that this is related to using the wrong docker image for the architecture, but I'm unsure what to do to get this to ins

[2021-12-13 14:36] AllexVeldman commented on #6061
@ttk I reproduced this using v2.1.7+a408e29
It seems to happen on any resource managed by ArgoCD, not just Application.

When the file is deleted from git the resource just disappears from the UI.
Adding the `app.kubernetes.io/instance` label manually will cause the resource to show up in the UI as `OutOfSync (requires pruning)`

Maybe this will be solved with the annotation introduced in v2.2 as

[2021-12-13 17:29] davem-git commented on #3039
+1

[2021-12-13 18:06] pasha-codefresh commented on #7913
@YannickLecroart21 i have reproduced this issue only when
1. I changed repository secret manually ( break data )
2. After doing the same actions as you

<img width="458" alt="Снимок экрана 2021-12-13 в 20 05 52" src="https://user-images.githubusercontent.com/39732895/145865022-6cbebd17-6db2-4de3-b580-f911d7e3c617.png">

Verify that you don't have a repository connected to your argucd with broken i

[2021-12-13 21:10] #7914 closed

[2021-12-13 21:14] YannickLecroart21 commented on #7913
Thanks for your reply @pasha-codefresh but I am not really sure to understand what you want me to check or to do here.

[2021-12-13 21:39] zonnie commented on #7888
Sorry for being annoying but what's the estimation on the patch release ?
Our deployments currently require manual intervention otherwise the process doesn't converge...
Appreciated 🙏🏻

[2021-12-13 21:39] #7836 closed

[2021-12-13 21:49] crenshaw-dev commented on #7906
@lienerieksta thanks for reporting this! Do you have an example payload I can use? I see that there's a test payload in the argo-cd tests, but it doesn't include a `targetRevision` field.

[2021-12-13 23:32] alexmt commented on #7888
Patch release has been published https://github.com/argoproj/argo-cd/releases/tag/v2.1.8

[2021-12-14 06:26] Ailsa-Wu opened #7918 "Support automated login to Argo CD via SSO from web UI"
# Summary

Hi team, I'm not sure what I'm thinking makes sense, but I just wonder if Argo CD could support automated login via SSO after open the web UI instead of having to click the login button again.

# Motivation

We have a web application and integrate the ArgoCD link on the UI, so we hope users could login automatically after open the Argo CD link. We have configured the SSO using ourself I

[2021-12-14 07:18] jomenxiao commented on #7906
@lienerieksta  you can solve it by change `targetRevision` from `environment/cluster` to `refs/heads/environment/cluster`.

[2021-12-14 08:32] #7236 closed

[2021-12-14 12:16] aslamkhan-dremio commented on #7723
@jannfis - I am seeing similar issue while connecting to source.developers.google.com repos. I have upgraded to v2.1.7 but not luck.

`         [source.developers.google.com]:2022 ecdsa-sha2-nistp256 XXXXXXXXX
          [source.developers.google.com]:2022 ssh-rsa XXXXXXXXXX
          [source.developers.google.com]:2022 ssh-ed25519 XXXXXXXXX`

[2021-12-14 12:17] KipsasJaujoj commented on #7876
Hi @keithchong I am not able to get WINDOWS tab populated. Could you clarify you checked that on your inheriting project? Also, which version did you use? I used `v2.1.6`.

Maybe second eyes on my projects will help. `projects.yaml` (stripped destination part):
[code]

[2021-12-14 12:24] tyrken commented on #3487
Thanks & agree overriding the normal ingress link can wait - I've created https://github.com/argoproj/argo-cd/pull/7923 to allow all resources to add links, if you could please approve it so it can build & run tests.

[2021-12-14 14:15] KlavsKlavsen opened #7924 "Updating Opensearch Helm chart fails"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2021-12-14 15:04] azamafzaal commented on #4174
Hi, i am also facing the same problem, any solution yet ?

[2021-12-14 15:07] zonnie commented on #7888
It still fails, the error is different but the end result is the same...I still need to manually "Refresh" the app...
![Screen Shot 2021-12-14 at 10 06 11 AM](https://user-images.githubusercontent.com/7836993/146024165-a6732f2e-4dc5-4daa-a90f-d90ac5c6b2ac.jpg)
Which log should I check ? `controller` and `server` doesn't have anything interesting...

[2021-12-14 15:55] leoluz opened #7926 "Allow configuring system-wide ignore differences for managed fields managers for all resources"
# Summary

Provide the possibility for users to configure ArgoCD to ignore differences made by managed fields managers for all resources (api-group + kind) at the system level.

# Motivation

With the introduction of `Application.spec.ignoreDifferences.managedFieldsManagers` it is now possible to configure ArgoCD to trust specific managers which is how a controller is identified in `managedFields`

[2021-12-14 16:07] pasha-codefresh commented on #7906
I think this is PR that affect this behavior
https://github.com/argoproj/argo-cd/pull/6800/files
Before it worked just because it compared revision as is.

[2021-12-14 16:32] fdelucchijr commented on #7914
This is a weird issue. The last week I run ArgoCD in one Amphere Cluster without problems. Yesterday in the night I’ve tried to run with same helm chart parameters but getting the same @thedewpoint error.

[2021-12-14 16:37] pasha-codefresh commented on #7913
@YannickLecroart21 Could you please share with me your browser network information when you press the "Connect" button. Unfortunately, I can’t reproduce this issue. So I hope these details should help me.

I need details about this request
Request URL: {host}/api/v1/repositories
Request Method: POST

Thank you!

[2021-12-14 17:26] kadamanas93 opened #7927 "[argo-cd] Deploy repo-server as StatefulSet instead of Deployment"
# Summary

In the High Availability document (https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/), it mentions that `argocd-repo-server` uses `/tmp` directory store git repository. If we encounter an issue with disk space, then use a persistent volume. This usage of persistent volume in a deployment prevents the deployment from being scaled up.

# Motivation

Our git repos

[2021-12-14 17:48] alexmt commented on #7888
Can you please share how do you start sync operation?  Do you use UI or CLI?

[2021-12-14 18:03] zonnie commented on #7888
It's all my fault...
We are interacting with ArgoCD programmatically using the Golang interface.
Seems like we kept passing nil for the Sync pointer and since it eventually converges on it's own we missed it.

[2021-12-14 18:48] mayzhang2000 opened #7928 "Argocd admin import does not clear out application.operation field"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-12-14 18:50] #7928 closed

[2021-12-14 19:29] jessesuen opened #7929 "Upgrade AWS CLI"
# Summary

Some scanning tools are reporting our python libraries are out of date. We only install python only because we install `awscli` which at a relatively older version (1.18.80). The current AWS CLI version is v2.4.6. This should be updated to prevent scanners from falsely reporting underlying python vulnerabilities.

[2021-12-14 19:40] alexmt commented on #7888
@zonnie we've got a meaningful error message :)  Now it became clear why sync was failing

[2021-12-14 20:07] hetpats opened #7931 "RBAC policy to hide values.yaml to increase security"
# Summary

Argo is a useful tool for not only CD process but for developers to view apps in real time, however the current version we cannot limit the visibility of values.yaml , this might be a risk as anyone who has access to application can see secrets in values.yaml if present.Having RBAC we can limit the visibility of values.yaml to certain groups and users.

# Motivation

This can give us ab

[2021-12-14 20:13] edwardcookemacu opened #7933 "Jobs result in application staying in a Progressing state"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-14 20:16] LiorLieberman commented on #7858
any updates ?

[2021-12-14 20:21] jessesuen commented on #7933
This is expected / intended behavior. Jobs are commonly used as presync/sync/postsync hooks as well as sync waves in order to orchestrate more complex deployments. So it is intended to block until Jobs are completed.

If you need Jobs to not affect health, you are free to override the built-in resource customization health script to return Healthy (regardless of status). However, this is likely no

[2021-12-14 20:21] #7933 closed

[2021-12-14 21:19] acjohnson commented on #7924
+1

[2021-12-14 21:46] YannickLecroart21 commented on #7913
Here is what I get, hope that helps.

`POST https://localhost:8080/api/v1/repositories 500 (Internal Server Error)`

[2021-12-14 21:59] YannickLecroart21 commented on #7913
[code]

[2021-12-14 23:08] jrhoward commented on #4174
Given there were so many different issues I don't believe the problem is with ArgoCD.

[2021-12-14 23:10] alexmt opened #7938 "Diffs ignored by trusted managers and tracking method normalization does not work for Secrets"
**Describe the bug**

The trusted managers and tracking method normalization is not working for secrets.

**To Reproduce**

The simplest way to reproduce is to:
1. Create an app with an empty secret.
2. Switch tracking method to annotation: add `application.resourceTrackingMethod: annotation` to `argocd-cm` ConfigMap.
3. Refresh app and **click** on secret

**Expected behavior**

The secret should

[2021-12-14 23:11] alexmt commented on #7938
The error is happening because the controller re-compares secrets to hide secret data:

https://github.com/argoproj/argo-cd/blob/6a1472371f3a39b8f69fefe49e35671f44c3cec8/controller/appcontroller.go#L563

We need to apply normalization here as well.

[2021-12-14 23:55] beyondbill commented on #6222
@eestolano The latest ArgoCD [v2.2.0](https://github.com/argoproj/argo-cd/blob/v2.2.0/go.mod#L11) updated gitops-engine to 0.5.1, which includes the [fix](https://github.com/argoproj/gitops-engine/commit/e8d9803a2bb015f9a7c64751bba63ef060bb0b26)!

[2021-12-15 00:21] kahirokunn commented on #1636
Is there any progress?

[2021-12-15 01:18] beyondbill commented on #6222
@eestolano Sorry that did not fix the issue. I still see the following error after upgrading ArgoCD to v2.2.0

[code]

Can we reopen the issue as https://github.com/argoproj/gitops-engine/pull/335 did not really fix it

[2021-12-15 02:15] yeya24 commented on #7531
Close due to #7882

[2021-12-15 02:15] #7531 closed

[2021-12-15 03:22] jomenxiao commented on #7780
Fixed by argoproj/pkg#47

[2021-12-15 05:45] alexmt commented on #7780
Fix is available in v2.1.8 and v2.2.0

[2021-12-15 05:45] #7780 closed

[2021-12-15 05:59] acjohnson commented on #7924
This is a opensearch helm chart issue, nothing to do with argo-cd https://github.com/opensearch-project/helm-charts/pull/37#discussion_r769264518

[2021-12-15 07:50] KlavsKlavsen commented on #7924
so we're sure a helm upgrade would fail in this? seems to me someone would have noticed.. I'll have to try and install + upgrade with helm to see if thats the case then :)

[2021-12-15 08:43] GiGurra opened #7940 "cli login using google sso not working (but works fine in UI)"
Installed 2.2.0 using helm

Our config (again, which works fine in the UI)

[code]

**Steps to reproduce**
1. Install argocd using helm (with google sso and also add localhost as valid redirect url for sso app)
2. verify it works logging through the ui
3. verify that local account cli logins work
4. try sso login through the cli

` argocd login *********:443 --grpc-web --name test --sso`

You get

[2021-12-15 10:57] illagrenan commented on #6880
I have the same problem in version `2.2.0`.

[2021-12-15 11:04] damian-keska commented on #1731
@sunnoy I have the same issue - I cannot get the group name when pairing with gitlab.

[2021-12-15 12:02] andrein opened #7941 "Service with allocateLoadBalancerNodePorts set are always OutOfSync"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Starting with Kubernetes 1.20 there is alpha support to disable the nodePorts for LoadBalancer services using the allocateLoadBalancerNodePorts field. When using this field, the service

[2021-12-15 13:21] kvendingoldo commented on #7502
I see the same behavior
![Screen Shot 2021-12-15 at 5 10 08 PM](https://user-images.githubusercontent.com/11614750/146193875-b705035e-c830-4d2f-88c1-f65082171b3f.png)

[2021-12-15 13:29] acjohnson commented on #7924
We did notice :sweat_smile:

[2021-12-15 15:29] facundoalarcon opened #7944 "Add cluster via API Rest and deploy Application Fails"
I'm trying to add cluster via the [API](https://argo-cd.readthedocs.io/en/stable/developer-guide/api-docs/) and works, but when try to deploy an application this fails. This works if I add the cluster via CLI. For example.

If I'm login via the terminal `argocd login localhost:8080`
and then use  `argocd cluster arn:aws:eks:region:account-id:cluster/name`

I think this use my kubeconfig file, but

[2021-12-15 16:37] alexmt commented on #7502
If you are using helm/kustomize then repo-server needs to fork/exec appropriate command which might consume a lot of memory and CPU. You can limit the number of concurrent fork execs using `--parallelismlimit` flag.

[2021-12-15 18:56] #7906 closed

[2021-12-15 19:46] crenshaw-dev commented on #2803
@chihaiaalex it looks to me as if that payload will always be ignored anyway since it does not contain links. https://github.com/argoproj/argo-cd/blob/17c6daa9ea897936bb5f472455b520c1de41fc2b/util/webhook/webhook.go#L204-L207

I can fix the nil reference error, but I'm not sure that it would solve the problem of the webhook not being handled.

@haandude do you have another example payload?

[2021-12-15 20:41] lukpep commented on #7788
solved by using 1.2.1 version of argocd-notifications <3

[2021-12-15 20:41] #7788 closed

[2021-12-15 21:47] ciiay commented on #7821
I'd like to work on this.

[2021-12-15 22:36] ninjaslothx opened #7946 "Add application project as build env var"
# Summary

Add a env var that would pass the applications project to the build vars for use with plugins etc.
Currently it supports things like ARGOCD_APP_NAME, but would be good to have access to ARGOCD_APP_PROJECT.

https://argo-cd.readthedocs.io/en/stable/user-guide/build-environment/

# Motivation

This would enable easier configuration of various plugins and also help drive some RBAC logic at

[2021-12-15 22:56] Bengreen commented on #3709
+1

[2021-12-16 00:11] agaudreault-jive opened #7948 "Forbidden error when saving Application/Cluster in UI"
**Describe the bug**

We have ArgoCD connected to a cluster with a custom CA. When we create an Application/ApplicationSet as code for that cluster, the resources are deployed properly in the cluster. However, if we go the the Application Details, click Edit, then Save without changing any config, we get the following error:

[code]

In the console, one of the call performed causing the error is `

[2021-12-16 02:28] gurnben commented on #4487
I've also just encountered this issue when deploying the cert-manager operator on Argo 2.1.2.

[2021-12-16 04:53] mnasruul commented on #3864
thanks a lot man, i follow this and i fix my issue. before i googling 3 days to fixed it.

[2021-12-16 07:17] philipp1992 opened #7951 "No difference in appproject detected"
Hi,

i am syncing an appproject with ArgoCD from a normal Git repoistory along with other resources.
When i make manual changes to the appproject from the argo UI or through kubernetes, agrocd wont detect any changes to the live manifest and will therefore not overwrite the changes / sync.

Selfheal is activated.

**To Reproduce**

Sync an appproject, make changes to it, see the live manifest diff

[2021-12-16 08:15] thatsmydoing opened #7952 "Groups can only be assigned permissions if they're assigned to a role first"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Upgrading from 2.0.5 to 2.1.8, the RBAC doesn't seem to allow `p` lines to reference groups unless the group has been assigned to a role first.

[code]

does not let someone in `someorg

[2021-12-16 11:27] BalzGuenat opened #7953 "`argocd account list` and other commands fail with SIGSEGV on new installation"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I get a SIGSEGV error when running `argocd account list`, `argocd repo list` or `argocd app list`.

**To Reproduce**

1. Go through steps 1 and 2 of the [Getting Started Guide](https://

[2021-12-16 15:21] Sujimoshi opened #7960 "Add JSON logs parsing into `pod-logs-viewer`"
# Summary
Add JSON logs parsing into `pod-logs-viewer`

# Motivation
it would be very convenient

# Proposal
On click on log line try to parse it, if it is possible stringify it again but with indentation enabled

<img width="505" alt="Screenshot 2021-12-16 at 17 16 39" src="https://user-images.githubusercontent.com/10153611/146399017-cca6e47f-c21d-419b-903f-6830b507f950.png">

[2021-12-16 15:27] Sujimoshi commented on #7960
Possible solution: https://github.com/argoproj/argo-cd/pull/7962

[2021-12-16 15:47] yndo97 commented on #7960
It would be great! Since sometimes it's pretty hard to read logs

[2021-12-16 16:36] alexmt commented on #7951
Argo CD uses the same logic as `kubectl diff` to detect differences. The resources change is reported as a diff if the same field is specified in Git (or was specified). If you added a new field then it won't be detected as a diff.

So most likely current behavior is expected. To be sure can you specify which field did you modify in the project?

[2021-12-16 16:39] philipp1992 commented on #7951
ive added the "spec.role" section. Kubectl apply does apply a difference. Why would kubectl diff not show a difference when theres a difference in the spec?

[2021-12-16 18:03] sashankavrn opened #7967 "Unable to add repository while adding in configmap. Credentails secret already present in cluster"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-12-16 18:17] #7953 closed

[2021-12-16 18:24] taylorsmithgg opened #7968 "Button to manually trigger a cronjob"
# Summary

It would be extremely useful to have the ability to manually trigger cronjobs after a sync is sucessful.

# Motivation

Our developers are currently pushing cronjobs with argo, but do not have an immediate way to test them and verify. They have to either manually request our assistance to trigger them or wait until the schedule triggers.
Even if we allowed devs to delete/recreate or for

[2021-12-16 19:42] wips commented on #7960
yes, please!

[2021-12-16 19:54] trv-smaksym3 opened #7969 "ArgoCD v2.2.0 - Helm - The username and password is not getting passed to helm subchart(401 Unauthorized)"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

We had issue with passing credentials to helm subchart in Argo CD version 2.1.*. Hence we upgraded to v2.2.0 and updated ArgoCD application helm options to passCredentials: true
[code]

[2021-12-16 22:12] crenshaw-dev commented on #7657
@epg-mori-k do you have an example of a failing gitlab webhook payload?

[2021-12-16 22:25] wreed4 commented on #2355
Having this feature in the CLI alone would be really amazing.  I'm looking for this ability currently to prove that a release to staging was good, and I want the diff of what was applied last, but I can't find out how to get it other than roll back and then get the diff and roll forward again. which isn't really an option.

[2021-12-16 22:41] nathanwong91 opened #7972 "Unable to use Multiple Project Scoped Repositories from a single file"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Trying out the new feature released in v2.2.0 - Project Scoped Repositories.
Using the example in the docs works as intended, however when attempting to add more than 1 URL/Git Repo per

[2021-12-16 23:04] KelvinVenancio commented on #6215
+1 Completely agree! Special if we are working with Istio, for example.

[2021-12-16 23:37] #7929 closed

[2021-12-16 23:37] abdennour commented on #3709
I shared my solution above. Just scroll up

[2021-12-17 01:25] agaudreault-jive commented on #7948
Same thing after updating argocd to 2.2.0

[2021-12-17 01:33] alexmt commented on #7951
If you added role using `kubectl edit` then both `argocd` and `kubectl diff` won't report it as a difference. Both tools assume that change was performed by a controller. Quick summary is here: https://argo-cd.readthedocs.io/en/stable/user-guide/best_practices/#leaving-room-for-imperativeness

More detailed description is in k8s documentation: https://kubernetes.io/docs/tasks/manage-kubernetes-obj

[2021-12-17 08:12] duncan485 opened #7974 "Helm build dependencies do need seem to be cached if the Chart.yaml is not in the root directory"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2021-12-17 08:16] amoravek commented on #3709
@abdennour, this is rather a workaround, not the solution.

[2021-12-17 10:37] bygui86 commented on #7967
@sashankavrn it would be really helpful to have a detailed description, not just a title ;)

[2021-12-17 10:38] unb9rn opened #7975 "Temporary per-resource sync disable"
# Summary

Having some annotation like in flux (fluxcd.io/ignore: "true") would be great. It will allow users to tamper with dev resources in real-time as well as integrate ArgoCD with tools like Okteto.

# Motivation

I am trying to set up in-cluster app development with [Okteto](https://okteto.com/docs/reference/faqs/)
It substitutes the running deployment to some development one while syncing l

[2021-12-17 11:13] jMarkP commented on #7828
I have a minimal reproduction. Create a file called `app-broken.yaml` with the following config:

[code]

And then create it:

[code]

It will constantly flip between status conditions:

[code]

I'm testing a fix now

[2021-12-17 11:35] jannfis opened #7977 "All commands return argocd-cm not found in core mode"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-12-17 11:49] duncan485 commented on #7974
Seems that the issue was not with the directory, but with the .gitignore file. removing the /charts from .gitignore fixed the issue

[2021-12-17 11:49] #7974 closed

[2021-12-17 11:56] smallc2009 opened #7978 "Add sync-waves/dependencies at the application level"
# Summary

We'd like to see application-level sync waves where we can express dependencies at the application level.

# Motivation

Our product is made of different microservices, echo microservice has its own deployment folder. we deploy these folders as applications in ArgoCD.

For example, our core service is called the Base which is a fundamental service,  and other services depend on it. we u

[2021-12-17 12:58] jannfis commented on #7977
As it seems, my Kubernetes context is not properly taken into consideration. The following works:

[code]

While this doesn't:

[code]

However, my Kubernetes context definitely is set to `argocd` namespace:

[code]

[2021-12-17 13:25] jannfis commented on #7977
OK, turned out to be a local issue on my system. Using K3s, the `kubectl` delivered by K3s uses `/etc/rancher/k3s/k3s.yaml` to store all context information. There's been a default `~/.kube/config`, which didn't get touched by `config set-context ...`, but instead the `k3s.yaml` has been modified.

This is where the discrepancy between Argo CD and my kubectl came from.

[2021-12-17 13:25] #7977 closed

[2021-12-17 13:42] pasha-codefresh commented on #7972
hi @nathanwong91, thank you for trying this feature. The problem comes originally from how argocd persist secrets and is not directly related to scoped resources and 2.2 release.
You can see here how ArgoCD serializes secret to the entity. https://github.com/argoproj/argo-cd/blob/master/util/db/repository_secrets.go#L295

[2021-12-17 14:02] mcjhknauf commented on #7969
Experienced the same issue, solve after run:
`argocd app get APPNAME --hard-refresh`

https://argo-cd.readthedocs.io/en/stable/user-guide/commands/argocd_app_get/#options

[2021-12-17 14:28] sathieu commented on #7969
What is the `helm repo add` command when `passCredentials: true` is not set?

[2021-12-17 15:32] mcjhknauf commented on #7858
After upgrade to v2.2.1 the issue is solved.

The next feature was added to v2.2.2

If after the upgrade the issue still persist try
`argocd app get APPNAME --hard-refresh`

[2021-12-17 15:59] sebastien-coavoux opened #7982 "Argo syncing/healing on a "temporary" state state and fails"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Hi there !

I've try to asked for insights on the [CNCF slack](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1639673227225000 ) and I feel like I might be experiencing an unexpec

[2021-12-17 16:47] fabricepipart1a opened #7983 "Authentication when retrieving a Helm chart value files via HTTP"
# Summary

When a Argo CD `Application` or `ApplicationSet` references a value file via HTTP the file must be accessible without any authentication. It would be preferable to be able to use some authentication for the cases when the file is stored in a repository that is protected by authentication.

# Motivation

In some cases, we want to store the value files separately from the repository that

[2021-12-17 17:06] crenshaw-dev commented on #7657
I think the use case you're describing is covered by tests in this PR: https://github.com/argoproj/argo-cd/pull/7981

But those tests pass, so I'm still not sure what's up.

[2021-12-17 19:43] li3 commented on #2913
We're really interested in this one as it might solve some problems with CRDs that we've built that manage external entities. Any idea when this will be released?

[2021-12-17 23:01] jessesuen opened #7986 "`argocd version --client` does not work offline in --core mode"
When using ArgoCD in --core mode, I had just wanted to see argocd client version, and I did not have a connection to k8s or argocd server. But `argocd version --client` still tries to connect:

When k8s access is unavailable:
[code]

When k8s is available, but argocd is not installed:
[code]

The expectation is that `argocd version --client` should always work in an offline mode.

To reproduce:

[

[2021-12-18 13:42] LiorLieberman commented on #7858
Thank you @mcjhknauf
Are you sure it solves the issue? I have updated to 3.29.1 and still have the same problem

[2021-12-18 14:08] mcjhknauf commented on #7858
You are welcome.
At least, that is what I did. I'm using helm to install ArgoCD, so I needed to update the CRDs directly.
After that the issue was still present until I run `argocd app get APPNAME --hard-refresh`.

Also, I needed to add the repository credentials with `argocd repo add ...`

[2021-12-18 14:14] LiorLieberman commented on #7858
I use helm to install argo as well.

for the app itself I am using umbrella charts - so the helm repo is a dependency.

I have the helm repo is secret - and see that it is green in the settings/repositories screen.
However when the app is still on error status with `helm repo add 401 Unauthorized`

tries `argocd app get APPNAME --hard-refresh` through the UI and it did not help

any other ideas?

[2021-12-18 18:41] abdennour commented on #4419
@jessesuen I need your urgent support for https://github.com/argoproj/argo-cd/discussions/7989

[2021-12-18 19:06] taintedkernel commented on #2875
Just putting this in here in case someone else hits it, for my version & deployment of docker-registry I had to use the following:

[code]

[2021-12-18 19:30] mcjhknauf commented on #7858
That is my case precisely.

I added the repository initially with the `argocd` cli, e.g.:
`argocd repo add example.com --type helm --name example --enable-oci --username <username> --password <passwowd>`

in my case I'm using the `argocd` cli for all the operations

check the repository secret and try using `argocd` cli

[2021-12-19 06:15] datton94 commented on #5514
Hi @jannfis , #5522 does not help, I'm still getting the same issue with ArgoCD v2.2.0 and Kustomize.

[2021-12-19 06:48] LiorLieberman commented on #7858
I did and then it showed me the same error, just with `--pass-credentials` so it was `helm repo add --pass-credentials.....401`

Will try through the cli now, does `--enable-oci` necessary ?

[2021-12-19 06:58] datton94 commented on #5514
Update: changing the application name to `ingress-nginx` solved the issue, my previous application name is `nginx-ingress`.

With the application name being `nginx-ingress`, If I disable the selfHeal feature, I will get a warning about shared resources between `nginx-ingress` and `ingress-nginx` application and  `ingress-nginx-admission` serviceAccount is not created. That make me confused, I have

[2021-12-19 07:16] hjorth commented on #5514
see https://argo-cd.readthedocs.io/en/stable/faq/#why-is-my-app-out-of-sync-even-after-syncing

[2021-12-19 08:23] mcjhknauf commented on #7858
--pass-credentials is an option for the application only

declarative approach:
[code]
from the `argocd` cli:
[code]

only if a Docker registry is used to store the Helm Charts, for a HTTP based one is not needed

[2021-12-19 09:51] jannfis opened #7990 "Misleading output in App Details view when Retry is not enabled"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-12-19 10:44] navrenga opened #7991 "ingress.md"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-12-19 11:20] jannfis opened #7992 "Core mode should allow persistent usage of custom K8s client configuration"
# Summary

The Argo CD core mode should allow the user to set a permanent path to a K8s client configuration file, instead of either using `~/.kube/config` per default or having to specify `--kubeconfig` for each command.

# Motivation

Some K8s distributions by default install a Kubernetes client CLI (`kubectl`) which uses a custom path for its configuration. For example, K3s uses `/etc/rancher/k

[2021-12-19 11:39] jannfis commented on #7991
Hi. Sorry, but what's actually the bug here?

[2021-12-19 15:51] navrenga commented on #7991
private Contour  should point to  contour-internal  right. its pointed to external here.   so it should be contour-internal instead of contour-external

[2021-12-19 16:54] jordan-seemplicity commented on #3181
I suppose it makes sense that this wouldn't work, since there is ambiguity in how to handle a directory containing both an `Application` manifest as well as a Kustomize entrypoint in some sub-directory with recursion enabled - do we deploy the Kustomize manifest as part of the base app or as part of the dependent app?

It would be nice if Argo was "smarter" about how to deploy the app of apps when

[2021-12-19 18:53] #7833 closed

[2021-12-19 18:54] #5454 closed

[2021-12-19 20:37] jannfis commented on #7986
This affects much more parts of the CLI. E.g. when your `kubectl` context is not set up correctly, top level commands behave weird:
[code]
Surprisingly, explicitly calling  a top level command with `--help` works:
[code]

[2021-12-20 04:17] davemann-mgl opened #7995 "Private repo credentials deleted from disk before plugin is run"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-20 04:21] davemann-mgl commented on #7995
https://github.com/argoproj/argo-cd/blame/6d8ff61b16163e960126f2205166513d924a64a9/reposerver/repository/repository.go#L1167 on this commit message you can see it talks on the change being made to support kustomize remote bases.

We use these, but via a plugin, so that we can pass environment variables down to kustomize (as this is now supported in Kustomize - https://github.com/kubernetes-sigs/ku

[2021-12-20 09:32] d-selifanov opened #7997 "Fluentd chart. ArgoCD does not replace "fileConfigs" values"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-20 09:58] jannfis commented on #3073
I think we should be fine with that by now :)

[2021-12-20 10:36] GiGurra commented on #7940
Fixed.

Cause: bad config.

The recommended setup for google is to use `dex.config` and not `oidc.config`.
After switching over to the recommended dex.config both web ui and cli auth work.

[2021-12-20 10:36] #7940 closed

[2021-12-20 11:22] Gowlar commented on #6222
I am using v2.2.1+122ecef and same issue

[2021-12-20 12:46] TSASM commented on #2789
@m-yosefpor Thanks for the guide, I have tried a proxy chart pointed at ingress-nginx helm chart and that worked fine. However when pointing a proxy chart at my own helm chart hosted in a GCP bucket I get a weird error in argocd

`rpc error: code = Unknown desc = `helm template . --name-template project-chart --values values.yaml` failed exit status 1: Error: template: project/charts/project/templ

[2021-12-20 13:04] jannfis commented on #6713
Closed by #6712

[2021-12-20 13:04] #6713 closed

[2021-12-20 14:39] trv-smaksym3 commented on #7969
1.
2.

[2021-12-20 14:40] trv-smaksym3 commented on #7969
1. The `--hard-refresh` option did not work for us.
2. @sathieu This is the command` helm repo add https://helmrepo https://helmrepo`

[2021-12-20 14:43] qazaqstan2025 opened #7998 "[Security] Workflow gh-pages.yaml is using vulnerable action actions/checkout"
The workflow gh-pages.yaml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-20 15:49] jannfis commented on #7998
That workflow was removed a month ago by https://github.com/argoproj/argo-cd/pull/7785

[2021-12-20 15:49] #7998 closed

[2021-12-20 17:25] romachalm commented on #5958
I have handled the GKE authentication with a slightly different approach. Instead of modifying the argocd image, I have transformed the `gcp-exec-creds` binary into a small API server that I deploy as a sidecar to the application controller container.

The deployment of the sidecar is made by patching the application controller kustomization.
Because I run argocd in GKE, I have bound with workload

[2021-12-20 21:17] jannfis commented on #7968
I first thought this could have been implement as a resource action, such as the ones we already have for [Deployment](https://github.com/argoproj/argo-cd/tree/master/resource_customizations/apps/Deployment/actions) resources.

But to trigger a Cronjob in K8s requires creating a new `Job` resource, using the `CronJob` as a template, e.g. `kubectl create job --from=cronjob/somecronjob new-job-name`

[2021-12-21 05:28] rkatti commented on #7752
I am seeing this on Argo CD v2.1.8+unknown
Build Date
2021-12-14T23:25:40Z
Go Version
go1.16.6
Go Compiler
gc
Platform
linux/amd64
ksonnet
unable to determine ksonnet version: exec: "ks": executable file not found in $PATH
jsonnet
v0.17.0
kustomize
v4.2.0 1970-01-01T00:00:00Z

[2021-12-21 10:23] reggie-k commented on #7211
Regarding the parameter for the intermediate release:

- As agreed, It will be "false" by default
- For a "false" value, what should be the expected behavior if an RBAC policy allowing/denying getting logs is defined by user (either globally or on a project)? (An edge case of mis-usage, but still needs to be taken care of, imho)

1. Policy considered invalid (as if the "logs" RBAC subresource didn

[2021-12-21 11:22] yasintahaerol commented on #7992
/assign Hey, could you assing me for this issue ? Thanks 🙏

[2021-12-21 14:47] mitch-mckenzie commented on #2401
Small tweak to the above example to get this to work on argo 2.0.1 (apps -> extensions):
`p, role:developers, applications, action/extensions/Deployment/restart, dev/*, allow`

[2021-12-21 17:41] jemag commented on #2785
I feel like this is an essential feature for proper self-service with multiple tenants. Currently ApplicationSets are too limiting and not as practical.

Seems like there is some work being done here : https://github.com/argoproj/argo-cd/pull/6409
Hopefully it gains traction in the near future.

[2021-12-21 19:09] jpaille opened #8005 "Refresh github webhook doesn't work with branch name using a slash `/`"
**Describe the bug**

We use Argocd application on different branches named as `environment/<team_name>`  for example environment/b2b
The refresh webhook is ignored in argocd-server because of this check `appRevisionHasChanged`
https://github.com/argoproj/argo-cd/blob/master/util/webhook/webhook.go#L238
and this function
[code]
This function removes `/` from the revision so `environment/b2b` becom

[2021-12-21 23:09] khalilswdp commented on #7986
Hi, I'm interested in solving this problem since it is tagged good first issue. Can I get some more help or guidance on how to do contribute?

[2021-12-22 02:15] jomenxiao commented on #8005
Fixed by #7939

[2021-12-22 03:27] yujunz opened #8007 "Improve hook managed resource display in UI"
# Summary

Currently resources created by hooks are displayed as to be deleted in diff.

# Motivation

Users are confused on the display indicating resources to be deleted. In fact they will be recreated in sync. Current UI is misleading on the expected behavior.

# Proposal

Have a specific UI to display resources to be deleted and createted, e.g. in yellow?

<img width="582" alt="Screen Shot 202

[2021-12-22 05:15] mkaiserincomm commented on #1391
Look at your load balancer.  I was running my Rancher through an Azure Load Balancer.  When I left "load_distribution" on default it was slow.  When I set "load_distribution" to "SourceIP" the performance on the managed cluster was equal to the local cluster.

[2021-12-22 09:53] awasilyev opened #8008 "'archive already exist' issue when multiple apps use the same helm chart"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-12-22 12:55] saumeya commented on #5149
Hi @jsoref, looks like this is not a problem in the latest code, can we close this? I will try to take a look at 5147

[2021-12-22 13:10] #1524 closed

[2021-12-22 13:10] #5149 closed

[2021-12-22 13:30] brsolomon-deloitte opened #8009 "argocd login errors with "received the unexpected content-type "application/json"""
**Describe the bug**

[code]

Even when using `--loglevel=debug`, I don't have any visibility into what's going on here.

How can I get a more informative stacktrace here?

**To Reproduce**

Tough to do, wish I had more information to provide. K8s cluster has been running with zero issues for about 3 months.

`k cluster-info` and other diagnostics all show what looks like a normal cluster.

**Expe

[2021-12-22 13:44] joeynaor opened #8010 "Unnecessary pod restart following replicaSet downscale via values.yaml"
**Describe the bug**

I'm deploying an Helm chart through Argo. The chart has a built in replicaSet in its values.yaml, where each replica is a single pod. When scaling down from 2 replicas to 1 by editing the values and pushing to git, I see pod 2 being terminated as expected. However, I then see pod 1 being terminated as well and started again.

**To Reproduce**

1. Create the following Applicat

[2021-12-22 13:56] chetan-rns commented on #7969
@trv-smaksym3 Does the sub chart repository have credentials or has it been registered with Argo CD? Providing the credentials for the private sub chart will fix this issue.

[2021-12-22 14:00] jpaille commented on #8005
Indeed the issue is already fixed by #7939
Thank you

[2021-12-22 14:00] #8005 closed

[2021-12-22 15:09] mcbenjemaa opened #8013 "Ability to customise values section when deploying a helm chart"
# Summary

I want to customise and patch argocd application resources using `kustomize`,
 there's no support for patching values because `spec.source.helm.values` is a string.

The only way is to patch with `spec.source.helm.parameters` but that's annoying when you have many nested values.

# Motivation

I'm maintaining apps of apps for many platforms, and I would avoid DRY.

Using  kustomize to

[2021-12-22 15:40] ciiay opened #8014 "Grouped node list missing resources on Compact resources view"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

On Compact resources view, click into a grouped node to open the resources list sliding panel, observe that length of the list resources sometimes not matching the total amount of the g

[2021-12-22 15:47] ciiay commented on #8014
I'll make a PR for this issue.

[2021-12-22 16:25] chicocvenancio opened #8015 "Support kubectl.kubernetes.io/default-container annotation"
# Summary

Support `kubectl.kubernetes.io/default-container` annotation. Currently the main use-case is reordering containers on logs view.

# Motivation

`kubectl.kubernetes.io/default-container` is used to define the container kubectl will pick in operations that act in a container and have none defined (logs, exec, attach, cp). Viewing logs seems to be the relevant operation for argo-cd for now

[2021-12-22 16:46] nistei opened #8016 "Opening app details shows UI error on some apps"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

UI shows 'Something went wrong!' when opening App Details on apps with partial retry options.

**To Reproduce**

* Create an app with the following syncPolicy:
[code]
* Open the app in

[2021-12-22 16:57] #7938 closed

[2021-12-22 17:02] ishitasequeira commented on #7986
Thanks @khalilswdp. You can follow this [link](https://argo-cd.readthedocs.io/en/stable/developer-guide/toolchain-guide/)

[2021-12-22 17:10] jsoref opened #8017 "Improve `the server could not find the requested resource` message"
# Summary

# Motivation

<details><summary>If a user has some static resources</summary>

https://raw.githubusercontent.com/cert-manager/website/af4632143ef001f4a4fa2c946504c462b760dc7b/content/en/docs/tutorials/acme/example/production-issuer.yaml

[code]
</details>

<details><summary>And they have an argocd helm managed system</summary>

from https://cert-manager.io/v1.5-docs/installation/helm/:

[2021-12-22 18:23] alexmt opened #8020 "Controller panics if resource manifest has incorrect annotation"
**Describe the bug**

Controller panics if resource manifest  annotation is a string instead of map:

[code]

**Version**

[code]

[2021-12-22 19:06] #8016 closed

[2021-12-22 19:38] #8014 closed

[2021-12-22 19:58] kirt13 commented on #1731
@sunnoy @alwaysastudent i got gitlab integration working with the following cofigmap settings:

argocd-cm:

[code]
argocd-rbac-cm
[code]
in argocd-cm, under dex.config, if you remove gitlab groups and login, you can see all the groups you are part of in the dex-server logs.

[2021-12-22 21:41] brsolomon-deloitte opened #8021 "ArgoCD UI Ingress go-to links only use HTTP?"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In the ArgoCD UI, the external link button for Ingress resources points to http rather than https. Our load balancer is only exposed over https/443, so the links from ArgoCD are effecti

[2021-12-22 21:45] brsolomon-deloitte commented on #8021
I believe that HTML is generated here:

https://github.com/argoproj/argo-cd/blob/master/ui/src/app/applications/components/application-urls.tsx

[2021-12-23 00:49] ChetHosey commented on #6175
@kshamajain99 is the previous method still supported? The current Operator docs [still reference it](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#resource-customizations-example). Specifically:

[code]

I couldn't find anything in the CRD that seemed to support generating the newer format.

[2021-12-23 03:49] lancehudson opened #8024 "Make hostname for status badges configurable"
# Summary

Make hostname for status badges configurable.
This only matters for the Add Details UI, where the user gets the URL for the status badge.

# Motivation

Our instance is on an internal IP, but I have a separate public endpoint that is filtered and allows particular requests to get through.
For status badges to work when you are not on our network, users must use the public endpoint, whic

[2021-12-23 07:33] yasintahaerol commented on #7992
Hey, we check the code. Do i need to define kubeconfig flag in`root.go` file and pass the flag in `headless.InitCommand ` function? Could you clarify me? I need a good start point.

[2021-12-23 09:07] jannfis commented on #8015
I actually like this proposal from a UX point of view :+1:

[2021-12-23 09:08] Snaipe opened #8027 "Auto-login with SSO"
# Summary

There should be a way to automatically log-in users when there is only one OIDC provider configured, so users don't have to click one extra button (or effectively re-login when they're already logged in)

# Motivation

We deployed ArgoCD to our internal cluster, and integrated our OIDC stack. Ambassador takes care of authenticating our users before the request even hits ArgoCD, and walk

[2021-12-23 10:59] saumeya commented on #6335
@ciiay - I think you have implemented this in this #7632, can this be closed?

[2021-12-23 14:36] theadisoni commented on #8009
@brsolomon-deloitte Can you try adding --grpc-web at the end of the previous command and test it?

[2021-12-23 16:14] #8020 closed

[2021-12-23 17:12] #7487 closed

[2021-12-23 18:14] saumeya commented on #5936
@hritikgupta if you are working on this please let me know, if not, I'd like to work on this.

[2021-12-23 18:17] hritikgupta commented on #5936
Hi @saumeya, I haven't started on it, please feel free to take it up!

[2021-12-23 19:49] saumeya commented on #4079
@jsoref this can be closed

[2021-12-23 21:07] #4079 closed

[2021-12-24 07:04] jay-lee-otsk opened #8033 "Cannot read properties of null"
**Describe the bug**

![argocd-issue-8033](https://user-images.githubusercontent.com/48072944/147611865-ac32b002-9b3f-44e1-b9dc-c7dc6bb0131f.gif)

When I click **Sync** button, ArgoCD UI crashes with the following error log:

[code]

**To Reproduce**

(Edited)
_It happened one day of a sudden, so I cannot imagine how to list up the steps to reproduce the issue. Even cannot figure out how to work a

[2021-12-24 09:03] KlavsKlavsen commented on #2789
Unfortunately we're using OCI - which kostumize helm chart support doesn't handle (we use OCI so we have a local cache of charts - in the same repo we use for caching docker images - so we're stuck waiting for 2.3.0 to get this to work properly.

[2021-12-24 11:43] Joibel commented on #8013
This is the problem I have written https://github.com/crumbhole/argocd-lovely-plugin to solve for myself.

[2021-12-25 06:08] #7837 closed

[2021-12-25 07:23] ChetHosey commented on #7756
This is a bit of a drive-by but that URL has a colon in an unexpected place.

Aside from the suggestion @jannfis already made, I wonder about a check for well-formed URLs. This could be added to git.NewClient, where the present check is failing, to align with the call to uri.parse in util/helm/client.go.

[code]

When running the above code net/url's parse method reports:

which is a lot more usef

[2021-12-26 17:22] debu99 commented on #7986
any update?

[2021-12-26 19:08] pasha-codefresh commented on #7990
Thank you @plakyda-codefresh

[2021-12-26 19:08] #7990 closed

[2021-12-26 19:08] #7972 closed

[2021-12-26 19:34] hornv commented on #7983
As for me, I have the same issue. I have to have separate values set for different environments. And yes, I need to set some auth on it.
But the way @fabricepipart1a proposed probably might not work everywhere. I want to store values files in Google Cloud, so I have the service account json file for authentication, but argo-cd does not have that type of auth. Could you add that type of auth at lea

[2021-12-27 07:50] woniuzhang commented on #2347
Hi, when I created the argo app, the following error occurred:
  getting credentials: exec: executable aws failed with exit code 255

Must argocd be installed to aws eks?

[2021-12-27 09:54] woniuzhang commented on #2347
In the v2.2.0 version, use https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters, the test is available, and the operation is also very simple

The awsAuthConfig field is not required

[2021-12-27 13:40] headyj commented on #7144
I still have @mayzhang2000 issue (dependency are resolved but are empty, ArgoCD status is "Missing") with v2.2.1:
plugin:
`- name: kustomized-helm
  init:
    command: ["/bin/sh", "-c"]
    args: ["helm dependency build"]
  generate:
    command: ["/bin/sh", "-c"]
    args: ["helm template .  --values inject-values.yml --values values.yaml"]
`
Chart.yml:
`
---
apiVersion: v2
name: my-project
type:

[2021-12-27 13:42] headyj commented on #7144
still have @mayzhang2000 issue (dependency are resolved but are empty, ArgoCD status is "Missing") with v2.2.1:
plugin:
[code]

Chart.yml:
[code]
Any idea?

[2021-12-27 18:54] wimo7083 commented on #3282
Not to highjack this but here some of our performance metrics, if further metrics are useful they can be supplied.

argo cluster1: 9 clusters, 12 apps, 2 app projects.
[code]

argo 21 clusters, 140 applications, 27 app projects
[code]

We use app-of-app pattern, with a single applicationset and app project for each argocd cluster.

1. app-of-app (argocd instance -> each cluster managed by argocd)

[2021-12-27 18:55] eestolano commented on #6222
This appears to be time sensitive for those of us who have ingresses managed by ArgoCD on GKE:

* The beta version of the Ingress API is going away in GKE in Kubernetes v1.22: https://cloud.google.com/kubernetes-engine/docs/deprecations/apis-1-22#removed_apis_in_122
* We've received a notification from Google saying that they will delay automatic updates to Kubernetes 1.22 until March 2022, becaus

[2021-12-27 19:13] JasonKAls commented on #2347
@woniuzhang you'll need to create a token for the connection to work. Also, ArgoCD does not need to be on the actual cluster you're deploying to, however you will need to add the cluster and the appropriate namespace to it in order to establish the correct connection.

[2021-12-27 20:20] khalilswdp commented on #7986
Hi @debu99, I found out that we're using cobra go client for the cli, and that this is the exact line in cobra that deals with the entered command https://github.com/argoproj/argo-cd/blob/b37eee1054e42c873699460dd5e2447c2f9fe5a6/cmd/argocd/commands/version.go#L80 . I still need some more time and some help to get used to Go, Cobra, ArgoCD and reproduce the problem myself and try to understand why

[2021-12-27 20:59] brsolomon-deloitte commented on #8009
`--grpc-web` fails also, 403s with a different error message.

[code]

I am able to successfully log in to ArgoCD UI using this username/password.

ArgoCD is exposed through Ingress, but I am calling `login` using the Kube control plane host from `kubectl cluster-info`.

[2021-12-27 21:39] khalilswdp commented on #7986
I think we should find a way to deal with an error if one occurs especially in this line:
https://github.com/argoproj/argo-cd/blob/b37eee1054e42c873699460dd5e2447c2f9fe5a6/cmd/argocd/commands/version.go#L89
please, if you have advice or suggestions, let me know

[2021-12-27 22:33] debu99 commented on #7986
haven't checked the root cause yet but my workaround is change the default namespace to arogcd then no more errors

[2021-12-27 23:21] wimo7083 opened #8040 "Documents around syncing options and selfHeal have non-obvious behavior"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
*

[2021-12-28 03:37] annkam opened #8041 "Permission denied when adding a project scoped repository"
Hello!

I've upgraded to ArgoCD v2.2.1, but I'm unable to use the new feature.

I expected this to work if I add policies to the AppProject manifest:

[code]

but it doesn't (used web UI to connect repo):

[code]

Here is my argocd-rbac-cm (tried to add policies related to project scoped repositories there as well):

[code]

Normally I use more restricted default policy, but I kept the default rea

[2021-12-28 03:37] woniuzhang commented on #2347
@JasonKAls Thank you for your reply. Using https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters is very simple, I test it in v2.2.0 version, I'm not sure if the lower version is also feasible.

[2021-12-28 06:34] karthikvijayan3 opened #8042 "issue - 7158 still persist on latest version"
**Describe the bug**

https://github.com/argoproj/argo-cd/issues/7158 - URL check issue resolved but commit message pop out issue still persist on latest version of ArgoCD.

**To Reproduce**

Commit message with more than 100 or 200 words.

**Expected behavior**

Message should not pop out of the box

**Screenshots**

![Screenshot 2021-12-28 at 11 53 53 AM](https://user-images.githubusercontent.co

[2021-12-28 10:15] yasintahaerol commented on #7992
//cc @jannfis 🙏

[2021-12-28 12:27] headyj commented on #7144
I finally found what was the issue, so I post it for the people who might have the same issue: it was due to the .gitignore file. removing the /charts from .gitignore fixed the issue, as commented here: https://github.com/argoproj/argo-cd/issues/7974#issuecomment-996663010

[2021-12-28 14:44] jboesh opened #8043 "Unable to create application: application spec is invalid"
Checklist:
* [YES] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [YES ] I've included steps to reproduce the bug.
* [YES ] I've pasted the output of `argocd version`.
[code]
**Describe the bug**
Ive forked a chart (https://github.com/jboesh/pubiek) and trying to create a new application in Argocd.
After set of all the options, and when I click on the Create button,

[2021-12-28 14:59] pasha-codefresh commented on #8033
@jay-lee-otsk I have added secret same as you and it works for me, maybe somebody else can reproduce it

[2021-12-28 15:20] #8043 closed

[2021-12-28 17:57] voldemortensen commented on #5592
I just started having this issue after updating to v2.2.1 from v2.1.7. I don't have 2 controllers running (however I *do* have the statefulset scaled up to 3). I also don't have auto-sync enabled, but I do hit this when doing a manual sync in our pipeline.

[2021-12-28 18:06] pasha-codefresh commented on #8041
Thank you @annkam for bringing it. Here is a bug with project rbac ( I already reproduced that ). But in any case there is no way to create a repo from UI with project RBAC. You can do it only with cli in such way

1. argocd proj role create-token argocdtest admin
2. argocd repo add https://github.com/argoproj/argocd-example-apps --auth-token ${token} --project argocdtest

Another option that you

[2021-12-28 22:06] benr commented on #1704
For K3S Users that should come across this that are confused about how to actually implement the fix above, edit /var/lib/rancher/k3s/server/manifests/traefik.yaml and add the above-provided lines, so that it looks roughly like this:

[code]

Then restart K3S.  You should then look at the config map ('kubectl -n kube-system get cm/traefik -o yaml') and you'll see these lines added:

[code]

Thanks

[2021-12-28 22:39] jay-lee-otsk commented on #8033
Hi @pasha-codefresh

Thanks for your kind input.
I guess it probably does not match with your ArgoCD version.
My colleagues at my workplace are also facing this issue.
In addition, I included the related video on the top capturing at the moment.
It should happen when you try `ArgoCD Self Management` with the existing Cluster Secret resource.

[2021-12-29 03:17] annkam commented on #8041
Hello @pasha-codefresh , thank you for the quick fix!

Why is there no way to create a repo from UI with project RBAC? While other actions can be done from the UI, users will still have to install cli only to connect repos.  Also, we wanted to avoid modification of argocd-rbac-configmap for every project.

The documentation is confusing by the way!

[2021-12-29 09:34] pasha-codefresh commented on #8033
Thank you @jay-lee-otsk . I have reproduced that.

[2021-12-29 09:42] jay-lee-otsk commented on #8033
Thank you @pasha-codefresh . Please let me know if there is anything I can help.

[2021-12-29 16:57] armenr commented on #5704
I have also run into this, just today...and I have no clue how to debug this or otherwise fix/approach it.

[2021-12-29 16:59] armenr commented on #7131
This still appears to be an issue. I've seeing it currently.

I tried to read around, google a bit, but haven't come up with much...and I'm not sure how to fix or debug this. ANY help would be much appreciated.

In ArgoCD, the Error being displayed is:

I've adapted my approach by following the same pattern that argocd-autopilot takes with its bootstrap method...with my own slight modifications.

[2021-12-29 17:52] CarpathianUA opened #8055 "Application syncPolicy retry is backward incompatible between v2.1.x and v2.2.x in Declarative configuration"
[code]

When defining a manifest for Applciation, we set a customized retry limit only, e.g.:
[code]

According to the docs and CLI, there are defaults for other retry parameters like:
[code]

This worked flawlessly in v2.1.x.

Today we've upgraded our ArgoCD to v2.2.1. After upgrade:
* App Details button produces a stack trace - I assume it can't render `Retry` fields.
* Manual Sync requires expl

[2021-12-29 19:03] alexisbel1 commented on #5082
We have the same problem here using [Kubevela](https://github.com/oam-dev/kubevela) as mentionned in #8047. Since v1.1.x, Kubevela does not use `ResourceOwner` to track generated resources. It uses a `ResourceTracker` cluster scope CRD.

Kubevela applies Open Application Model (OAM), which eases Kubernetes resources creation for Application Engineers less familiar with Kubernetes, using components

[2021-12-29 19:07] #8033 closed

[2021-12-29 19:17] #4666 closed

[2021-12-29 19:18] joebowbeer opened #8057 "Create Core HA install with several repo-server replicas"
# Summary

Create Core HA manifest with several repo-server replicas.

# Motivation

Paraphrasing @alexmt

# Proposal

@alexmt

[2021-12-29 19:51] Mohjive commented on #4424
The [PKCE flow](https://auth0.com/docs/authorization/flows/authorization-code-flow-with-proof-key-for-code-exchange-pkce) should be possible to support as well.

[2021-12-30 00:20] jsoref opened #8060 "Provide more info for `failed to apply` `invalid JSON document`"
# Summary

Enhance error reporting for `failed to apply`

# Motivation

We received this message:

While it may or may not be factually accurate, the message was functionally content free.

# Proposal

It'd be kinda nice if the error included:
* a SHA of the json document (this is a proxy for providing the whole document, as the whole document could be fairly large and may be generated)
* an offse

[2021-12-30 01:35] snuggie12 commented on #5976
allow/block are not natural opposites (could easily be allow/deny, permit/block, etc). I don't think the replacement should be of lower quality than the original.

If you are going to make this change, my company started using `yeslist` and `nolist` as it removes all ambiguity should you only see one value. I know it's not standard but perhaps one could make it the new standard?

[2021-12-30 04:10] cheesimp opened #8061 "Can't use repocreds declarative way with ArgoCD v2.0.4"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-12-30 04:25] cheesimp commented on #8061
Oups, not an issue.
I was using a wrong version of argocd. Closing.

[2021-12-30 04:25] #8061 closed

[2021-12-30 08:58] jboesh opened #8063 "argocd doesn't show all fields from the values.yaml (for example the comments)"
Hi,
Ive added a helm repository and I'm trying to create a new application from it.
[code]
I can choose the values.yaml file from the chaert or edit it manually in this screen:
![image](https://user-images.githubusercontent.com/71582854/147736581-d8425b7f-0105-4048-a0a7-86039808bf8c.png)
but it seems it doesn't show ALL values from the values.yaml in Argocd.
when I view the actual values.yaml from

[2021-12-30 16:20] nmorey-ratehub commented on #7285
For anyone who had a similar thought to me, adding an `ignoreDifferences` entry for the `observedGeneration` does not address the issue.
[code]
I am assuming this is because AgroCD `getAppsv1DeploymentHealth` function does not take into account the `ignoreDifferences`.

[2021-12-30 17:09] #8041 closed

[2021-12-30 18:04] jannfis commented on #8057
The difference between HA and non-HA manifests for the repo-server is _nil_. The main difference is with Redis, which is a multi-instance primary/secondary setup in HA.

If you want multiple replicas of the repo server, you can always go for increasing just the `replicas` count in the `argocd-repo-server` Deployment resource.

IMHO, multipe repo-server replicas don't justify a unique set of instal

[2021-12-30 19:19] rdeteix opened #8067 "AWS alb + Ingress + k8s 1.22"
**Describe the bug**

I tried to follow the "AWS Application Load Balancers (ALBs) And Classic ELB (HTTP Mode)" tutorial, it is not compatible with k8s 1.22. I've changed the configuration and it is still note working.

**To Reproduce**
I used the latest stable argo-cd.
Service:
[code]

Ingress:
[code]

**Expected behavior**
I don't see any load balancer created.

**Screenshots**

If applicable, a

[2021-12-30 19:49] joebowbeer commented on #8057
@jannfis I can't speak for @alexmt, I'm just paraphrasing the discussion we had in IM a few months ago. At the time, he said he would create an issue. I'm just following up. I hope someone, anyone, knowledgeable can resolve.

[2021-12-30 20:34] haarchri commented on #4212
any updates here ? - in crossplane eco-system we also very interested in wildcards/shared custom health check https://github.com/crossplane/crossplane/issues/2444

[2021-12-30 21:00] #8055 closed

[2021-12-30 21:25] ably77 opened #8068 "Provide guidance on exposing Argo CD with Gloo Edge in Ingress Configuration Docs"
# Summary

[Ingress Configuration](https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#ingress-configuration) docs provides examples on how to expose Argo CD using multiple ingress solutions, but is missing Gloo Edge.

# Motivation
For users of Gloo Edge OSS or EE, these configurations will be helpful to get one up and running with the UI and CLI

# Proposal

**Describe the requested

[2021-12-30 21:55] cydergoth commented on #7859
Thanks!

[2021-12-31 02:16] joebowbeer commented on #7986
I see several issues that at first glance seem related to this.

#7721
#7426
#7226
#5473
#5219

They all involve the argocd namespace and/or context that the CLI uses.

[2021-12-31 04:25] GitHubFor122 commented on #4351
what is status ?

[2021-12-31 09:25] khalilswdp commented on #7986
I think we can propose instead of checking the version and getting an error immediately afterwards if there's an error:
`	v, err := versionIf.Version(context.Background(), &empty.Empty{})
	errors.CheckError(err)

	return v
`
We check if there's no error, we return the version as usual, otherwise, we get it from common (which doesn't return an error):
`	v, err := versionIf.Version(context.Backgroun

[2021-12-31 10:55] NickLarsenNZ opened #8071 "Bundled argocd-notifications troubleshooting commands aren't available"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm not sure if it's a bug, or just not yet updated docs...
The docs suggest running commands such as `argocd-notifications template get`

**To Reproduce**

Follow the steps as per docs

[2021-12-31 19:03] dirien commented on #5991
Hi @ismailyenigul @haim-ari @shibumi,

can confirm with the `commandArgs` is working fine! Finally no Lua stuff needed :) thanks!

[2022-01-01 06:01] alexmt commented on #4296
@yydzhou the API was improved in v2.2. During performance testing, we've reduced API response time from 10 seconds to ~0.5 seconds. Can you please give it a try?

[2022-01-01 06:01] #4296 closed

[2022-01-01 18:06] sid-habu commented on #7858
@mcjhknauf looks like `passCredentials` isn't supported in v2.2.1 ApplicationSet CRD

<img width="258" alt="Screen Shot 2022-01-01 at 10 05 25 AM" src="https://user-images.githubusercontent.com/92833044/147857240-1497b5e2-0b44-416e-868a-f0c93e25aa56.png">

[2022-01-02 12:52] guspio commented on #2347
Hi!

I'm using ArgoCD version 2.2.1 and this is the solution I managed to implement with Terraform on an EKS 1.21 cluster:

**I am using the Terraform Provider Kubernetes 2.7.x with the addition of `_v1` in the resources and data.**
If you use a version lower than 2.7 remove all the `_v1` in each resource name and data

#### Target Kubernetes Cluster

[code]

#### ArgoCD Kubernetes Cluster

[code]

[2022-01-02 14:35] joggeli34 commented on #8013
This would also be handy for changing the values with yq more easily. We are using this to change the image tags when releasing a new image directly from a ci/cd pipeline.

[2022-01-03 05:34] jay-lee-otsk commented on #8033
I have checked and confirmed that `ArgoCD v2.2.2` resolved the described issue. Thanks a lot! :)

[2022-01-03 13:05] Meza1923 opened #8073 "application spec is invalid: InvalidSpecError: unable to get app details: rpc error: code= Unknown desc = Istat /tmp/helm/078724886/<my-app>: no such file or directory>"
Hey,

I created helm chart and now I am trying to deploy it using argocd. when I click create the application on argocd the above error is show.
When I trying to deploy "real" helm chart, the creation is succsesful.

[2022-01-03 13:22] mbuccarello commented on #702
Hello @jessesuen and happy new year to you and argo-cd team, during the past week we digged into the documentation to understand how to configure an external dex but we didn't find any documentation that relates anything about this topic.
Please could share to us any evidence that there is a way to configure external dex?
We tried different configuration in the argocd-cm configmap but nothing work

[2022-01-03 14:06] edib opened #8074 "keycloak documentation groupname syntax error"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

**Describe the bug**

[In documentation / Configuring ArgoCD Policy](https://argo-cd.readthedocs.io/en/latest/operator-manual/user-man

[2022-01-03 14:17] velann21 opened #8075 "Ubuntu image version has to be upgraded"
# Summary

Currently, I can see that we are using the ubuntu docker image version 21.04, based on the official release documents from ubuntu this version is sooner going to end of life to it.

# Motivation

If this happens then it would make all the users who using this argo version will encounter an issue

# Proposal

Proposing to upgrade the image version to `21.10` because it has the support un

[2022-01-03 15:11] #8073 closed

[2022-01-03 15:13] Meza1923 commented on #8073
After a week I found the problem, I has to change the way I create my chart, I did it step by step with reference of the k10 chart.

[2022-01-03 17:22] alexmt commented on #8057
Found discussion in slack. Thank you for creating the issue @joebowbeer . I forgot to do it.

The `core` installation manifests are based on non HA manifests version. I did it mostly because `core` does not have `api-server` component but did not really think about redis and repo-server. So I've suggested to use HA redis and repo server by default.

[2022-01-03 17:51] #7767 closed

[2022-01-03 18:19] alexmt commented on #8071
Thank you for reporting it @NickLarsenNZ ! We need to upgrade documentation to use `argocd admin notifications` subcommand (currently it is `argocd admin argocd-notifications` but should be changed to `argocd admin notifications` )

@pasha-codefresh can you please take a look when you have time? No rush!

[2022-01-03 18:39] korncola commented on #2638
Price Quesdtion: **And how do i use it?** didnt found anything in Docs or Github Issues how to use the commit https://github.com/argoproj/argo-cd/pull/4686/files/a47ccaa8a8fd017c13ce8fdf5281a030b19e3bbf

[2022-01-03 19:10] alexmt opened #8076 "Support specifying cluster by name in addition to API server URL in Cluster API"
# Summary

Cluster API should support specifying cluster by name in addition to API server URL.

# Motivation

Cluster name is used in multiple places to identify cluster. It is already supported in Application destination, Project destination, CLI commands and gRPC API. The only missing thing is support in REST API.

Supporting cluster name in REST API would help users to make integration with Ar

[2022-01-03 19:20] lusid commented on #5958
@romachalm Thank you so much for providing this solution. I've gotten it mostly working, but I've run into a small snag and I don't know exactly what is causing it, and I was hoping you might have some idea. At this point, I can do the following:

- I can exec a bash prompt in my argocd-application-controller and manually run the python3 -c "etc etc" and it returns a token as expected.
- After ena

[2022-01-03 22:21] ajski1701 opened #8079 "Support Volumes and Volume Mounts in the ArgoCD Resource"
# Summary

As with the ArgoCD Helm chart--support being able to mount configmaps/secrets into the containers for ArgoCD's microservices deployed by the ArgoCD operator installed on generic Kubernetes clusters.

# Motivation

Extremely useful for use cases where a transparent or explicit proxy is required in the environment that has it own CA authority especially when an Application is pulling a He

[2022-01-03 22:21] dobesv commented on #1639
The workaround above works in kustomize 3.8.6 but not in the latest version 4.4.1, so I guess something changed in kustomize to break this.

[2022-01-03 23:26] #8076 closed

[2022-01-03 23:47] alexmt opened #8081 "Automate SBOM generation"
# Summary

Automate [SBOM](https://www.linuxfoundation.org/blog/what-is-an-sbom/) generation and include it as part of release artifacts.

# Motivation

SBOM would be useful for end-users and partners to quickly find out which components are used by Argo CD and help to identify components that may be subject to security vulnerabilities, catch components with incompatible licenses etc.

# Proposal

[2022-01-03 23:57] seblaz opened #8082 "Broken link in docs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The docs have a broken link.

**To Reproduce**

Go to the [docs](https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/#declarative-configuration) and click on "decla

[2022-01-04 00:07] #2892 closed

[2022-01-04 00:53] snuggie12 commented on #4935
@yujunz Any chance you can update to 2.2.X? Wanted to test if it fixes our issues. I figured that's necessary for the PR anyways.

I inquired about getting the PR reviewed, and if the test container works I'll def push hard to get it reviewed.

[2022-01-04 00:58] #8079 closed

[2022-01-04 00:59] ajski1701 commented on #8079
Posted this in the incorrect repository--meant to write this in the operator's repo!

[2022-01-04 02:07] yujunz commented on #4935
@snuggie12 please check https://quay.io/repository/yujunz/argocd?tab=tags for the custom build. The latest release was `2.3.0-be4156fd` 14 days ago

[2022-01-04 02:22] alexmt commented on #8082
Fixed by https://github.com/argoproj/argo-cd/pull/8080

[2022-01-04 02:22] #8082 closed

[2022-01-04 06:57] abdennour commented on #4733
Any activities on this great feature ?
Do you want some ideas/acceptance criteria ?

# Acceptance Criteria ( Proposal)

- [UI] adding button with icon whether notes icon, or doc icon or info icon.
- [UI] adding this button in the right place : it can be with the same group of "Sync", "Refresh".. or  another place . I am not UX guy :)
- [Plugin] ArgoCD Plugin should not only support "init" & "gener

[2022-01-04 07:00] abdennour commented on #4733
@jessesuen  please check my proposed **acceptance criteria** above

[2022-01-04 07:32] olvesh commented on #5958
I ended up adding `github.com/sl1pm4t/gcp-exec-creds` to my argocd image.
[code]

This seems to work well.

The argocd k8s service account is connected via workload identity to a GCloud service account on that has access to the other cluster via cluster-role-binding like this (note the extra User subject):
[code]

[2022-01-04 08:44] lusid commented on #5958
I finally figured out what I was doing wrong. I'm using the helm charts provided here:
https://github.com/argoproj/argo-helm/tree/master/charts/argo-cd

It splits the deployment into four parts: application-controller, repo-server, redis, and server

In my case, I needed to add the sidecar container to both application-controller (needed at the time of a deployment) and server (for the GUI to work

[2022-01-04 10:16] NickLarsenNZ commented on #8071
Perfect, thanks @alexmt.

Feel free to close this issue if there's another one covering doc updates.

[code]

[2022-01-04 14:33] Voigtus opened #8083 "Metric and filter option for "Last Sync Result""
# Summary

Hey there ArgoCD Community

following issue and feature request:
An application (as you can see on the screenshot) has 3 distinct statuses. "APP HEALTH", "CURRENT SYNC STATUS" and "LAST SYNC RESULT". As you can see, our application is failing in the "LAST SYNC RESULT" status in the Application-Page. Unluckily for us, it is neither possible to filter in the Application-List for this, nor

[2022-01-04 15:01] whyvez opened #8084 "SSH agent requested but SSH_AUTH_SOCK not-specified"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.
* [x] asked in slack argocd channel

**Describe the bug**

I am getting a SSH agent requested but SSH_AUTH_SOCK not-specified error every time I trigger a hard refresh from the ArgoCD UI. I only have one repo

[2022-01-04 15:27] avinashupadhya99 commented on #7891
Hi, can I work on this? Can you please assign me this? Thanks

[2022-01-04 16:03] roitalpaz opened #8085 "OCI Helm charts with different repo name and actual folder name fails to work"
Checklist:

* [V] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [V] I've included steps to reproduce the bug.
* [V] I've pasted the output of `argocd version`.

**Describe the bug**

When using helm charts installation and having a chart name of `X` and the actual chart is saved in a folder called `Y` you will fail to install the helm chart.

In the below, you can s

[2022-01-04 16:04] #8085 closed

[2022-01-04 16:04] roitalpaz commented on #8085
This is actually ok!
Maybe leave this here for docs?

https://helm.sh/docs/topics/charts/#the-chart-file-structure

[2022-01-04 17:10] miguelaeh opened #8086 "Repo server incompatible with legacy GPG keyring format"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The regular expressions used at `utils/gpg/gpg.go` are not valid for the legacy keyring format. In other words, they fail with the following error when the keyring file is `.gpg` instea

[2022-01-04 17:24] pasha-codefresh commented on #8071
Sure @alexmt , i will take a look as first thing once back from vacation :)

[2022-01-04 17:59] svend commented on #7813
@alexmt @pasha-codefresh Could this fix be backported to the 2.2 release branch?

[2022-01-04 19:09] #7821 closed

[2022-01-04 20:04] ciiay commented on #6335
Hi @alexec, It seems the compact view (#7349) resolves this issue, could you confirm if we can safely close this one?

[2022-01-04 20:30] ciiay commented on #2355
I'd like to work on this.

[2022-01-04 22:22] robertogyn19 commented on #6032
I had the same problem and needed to configure the redirectURI to oidc.config.

`time="2022-01-04T21:46:36Z" level=info msg="Web login successful. Claims: {\"acr\":\"0\",\"at_hash\":\"ZItG36m1NkQlNC5hj9dl_w\",\"aud\":\"argocd\",\"auth_time\":1641332565,\"azp\":\"argocd\",\"email\":\"roberto.junior@gogeo.io\"
time="2022-01-04T21:46:37Z" level=info msg="Initializing OIDC provider (issuer: https://au

[2022-01-05 00:32] snuggie12 commented on #4935
FWIW my test was successful. I don't have bit bucket so I have no clue if it will still pose a problem but the code looks sound to me.

Also as I'm sure you all saw it should be reviewed soon! Excited for this change as it solves some of our argo diff bot issues we've had (see #5532.)

[2022-01-05 00:33] snuggie12 commented on #3227
This might have been specific to the helm chart in question. Either way, we now use kustomize's helm generator and have no issues around hooks.

[2022-01-05 00:33] #3227 closed

[2022-01-05 08:13] chetniks commented on #1894
I am still having this issue. Any news ?

[2022-01-05 08:31] BWagenerGenerali commented on #8083
While we were able to find the following workaround, we would love for the status.operationState.phase value to be present as label in the mentioned metric and filterable in the application list.

Workaround:
Custom health check for argoproj.io/Application
[code]

In an app of apps setup this will mark the health of the parent application of the application which fails to sync as Degraded.

[2022-01-05 09:17] roitalpaz opened #8097 "Helm OCI Registry with refresh token"
# Summary

Right now when using AWS ECR as an OCI Helm chart registry you need to manually refresh the token.

as the below said, you get the password as an input and not a command line.
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#helm-chart-repositories

as you can see below, in AWS docs one always generate the password
[code]
https://docs.aws.amazon.com/AmazonECR/

[2022-01-05 09:25] wd opened #8098 "Expose ARGOCD_APP_NAME to the kustomize build command"
# Summary

Expose `ARGOCD_APP_NAME` to the `kustomize build` command.

# Motivation

I'm using kustomization to manage my manifests for the clusters now. I have created several overlays for each namespace. The layout is like below.

[code]

I include different apps in the `namespaceN/kustomization.yaml`. This is the `kustomization.yaml` for namespace1.
[code]
The reason I organize it this way is I

[2022-01-05 11:23] romuduck commented on #2789
Hello all.

Thanks @m-yosefpor but I probably did not get it right and Im not sure to understand how this solve the current issue.
We may indeed provide different value files, and have them merged in a way that makes sense but these files must sit together with the chart ArgoCD syncs from.
This means that either these value files are present in original chart --> this is what we want to avoid.
Or

[2022-01-05 12:48] n1vgabay opened #8099 "Some applications are getting removed/deleted after sometime"
Hi everyone!

Hope to get some help here about 1 really weird issue !

- In our company we deployed ARGOCD via Terraform as helm_release resource, so far so good.
- We have 1 directory that includes all argocd's yamls who's pointing on the current repos in our git, so far so good.
- K8s cluster is up, applications are running .

**Describe the bug**

What happens is, suddenly, without reason, some

[2022-01-05 13:13] Funk66 opened #8100 "Reconciliation loop"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Upon upgrading from v2.1.7 to v2.2.1, the argocd application controller started performing continuous reconciliations for every app (about one per second, which is as much as CPU capaci

[2022-01-05 13:50] AtzeDeVries commented on #5958
I've also succeeded using GKE and Workload Identity.
I've been using the helm chart, but this should also work for kustomize. For the helm config i have:
[code]

And then the secret is:
[code]

The gcp sa used by argo needs to have access to the remove cluster using gcp iam roles.

[2022-01-05 16:37] sushilalert commented on #8067
Same issue with k8s 1.21 AWS alb ingress

error: error validating "argocdingresstrafic.yml": error validating data: [Valid.IngressBackend, ValidationError(Ingress.spec.rules[0].http.paths[0].backend): up.paths[1].backend): unknown field "serviceName" in io.k8s.api.networking.v1.Ing.api.networking.v1.IngressBackend]; if you choose to ignore these errors, turn validation off with --validate=false

[2022-01-05 17:57] anhdle14 commented on #2424
Testing it on Dex GitHub without Org as well. Nothing from the discussion above can solve this.

The log coming from `argocd-dex`:

[code]

The RBAC configmap:

[code]

None of these work. Normally this solution is likely to handle very few users or only 1 user, so it is not the end of the world with `policy.default: role:admin`.

[2022-01-06 08:00] mbuccarello commented on #702
after some digging we figured out the configuration, the point was to use oidc.config and configure external dex to use oauth2 to communicate with argo. Should be good to do a documentation about external dex scenario. Have a good day!

[2022-01-06 11:20] ledroide commented on #6215
I'm also looking ad labelled namespaces for NetworkPolicies.
When ArgoCD creates a namespace, there is not label that I can use in a NetworkPolicy, except kubernetes.io/metadata.name, but it can be used only once (because the same as namespace name), and cannot be "product=myapp"

[2022-01-06 12:57] AtzeDeVries commented on #6289
So if you create a PAT for a user (not just a PAT for a specific repo, which is only available in non azdo server) and then create a random username it works.

[code]

[2022-01-06 12:58] AtzeDeVries commented on #6362
So if you create a PAT for a user (not just a PAT for a specific repo, which is only available in non azdo server) and then create a random username it works.

[code]

[2022-01-06 14:07] prein commented on #2554
I'm not sure if we share the same goals, but I'm looking for a solution to testing PRs without allowing overrides in the UI.
Ideally some kind of integration allowing for creating ephemeral preview app deployments or at least updating the targetRevision in a given environment when a PR is open - can't think of how to support multiple PR with different resolutions though. Came across [this](https:/

[2022-01-06 19:29] burkempers opened #8105 "Option to not allow users to dismiss the ui.banner"
# Summary

I would like a flag in the argocd-cm to be added that would remove the dismiss options in the ui banner.

# Motivation

I have multiple argocd instances per my development, integration, and production environments.  Each of the envs has a different LDAP server that I have argocd configured for user login.  Users between the envs have different LDAP role to give higher or lower privilege

[2022-01-06 19:52] alexmt commented on #8105
Hello @burkempers ,

I think this is already supported. You can add `ui.bannerpermanent: "true" ` setting to disable close button:

https://github.com/argoproj/argo-cd/blob/37851b165e539a1117f2dfd2532adf05d272be21/docs/operator-manual/argocd-cm.yaml#L240

[2022-01-06 20:04] gajus commented on #2554
This is badly needed and I cannot really think of a workaround.

[2022-01-06 20:35] nicolastakashi commented on #8084
Same here

[2022-01-06 20:40] burkempers commented on #8105
ah, yes it is.  it doesnt work for me currently since i am running 2.1.2.
also https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#atomic-configuration
the argocd-cm.yaml link in that page does not link to that version to show the added options

thank you.

[2022-01-06 21:50] exocode commented on #4651
Hi there, maybe someone cen help me:

Is there a way how to

1. create a cluster via `kubectl apply -f cluster.yml``
2. "connect" or "point" this config to the ArgoCD created cluster? Something like `kubeConfigSecretKeyRef`?

**Details:**

I have the ArgoCD server running and wanna define a `Cluster` without the CLI. I wanna practice **GitOps**, so I wanna declare my ArgoCD-cluster config in Git.

[2022-01-06 21:58] korncola commented on #2638
never mind i found out with reading the source code, CLI options and some trial and error:

`spec.source.directory.exclude`, but also `spec.source.directory.recurse` has to be set to `true`

BTW i really love argocd! Would be nice if you update documentation and the example `application.yml`

example in `application.yml`:
[code]

[2022-01-06 22:05] hannesknutsson opened #8106 "Adding a GitHub repository resolves the domain name to my routers public IP"
I have asked for help on Slack, StackOverflow and some Discord servers in which I usually receive good advice. None of those channels have yielded any solution, so now I come here in hope of help.

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describ

[2022-01-06 22:30] rayterrill commented on #5068
We're continuing to run into this as well periodically, but restarting the argocd-application-controller pod does not appear to resolve it for us.

[2022-01-06 23:26] exocode opened #8107 "Declarative creation of clusters"
# Summary

Is there a way how to

1. create a cluster via `kubectl apply -f cluster.yml``
2. "connect" or "point" a kubec-config to the ArgoCD created cluster? Something like `kubeConfigSecretKeyRef: "cluster-details-my-cluster-kube-config"`?

# Motivation

I have the ArgoCD server running and wanna define a `Cluster` without the CLI. I wanna practice **GitOps**, so I have to declare and commit my

[2022-01-07 04:55] chetan-rns commented on #8107
Hi @exocode, Argo CD uses secrets to represent clusters. You can find more details here https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters

[2022-01-07 07:25] #7891 closed

[2022-01-07 07:35] adamzhoul commented on #2640
what if we add a format check before passing to GitLab?

[2022-01-07 08:37] exocode commented on #8107
ah ok. If I understand that correct: It's not possible to handle over the kubeconfig like described here:
(I opened a feature request) https://github.com/argoproj/argo-cd/issues/8107

[2022-01-07 08:58] Moglum commented on #4651
@exocode I don't have a GitOps ready declarative solution for this - currently using Terraform + k8s provider talking to both clusters to do it - but I can point you in the right direction, maybe you'll find a more elegant way.

`argocd cluster add` does 2 things
1. it creates a ServiceAccount, ClusterRole, and ClusterRoleBinding in the target cluster (it uses your local `kubeconfig` context to do

[2022-01-07 11:28] renaudguerin commented on #5882
Happy new year ! Any update on this please ?

[2022-01-07 12:05] andycockerill-cpi opened #8110 "arm64 Docker build"
# Summary

Can we have a Docker image for arm64

# Motivation

Running on a Raspberry PI 4

# Proposal

This could be implemented docker buildx

[2022-01-07 15:09] ravi-cldcvr opened #8113 "ArgoCD Application Stuck In Syncing/Terminating State"
ArgoCD Application deployment is stuck in an infinite loop of Syncing the Application. Initially it works but after sometimes it get stuck in Syncing state.
We have tried Terminating the sync but after terminating it got stuck in Terminating State.

Can Anyone Help to sort this out. What would be the possible issue!!

**Screenshots**

![image](https://user-images.githubusercontent.com/94841190/148

[2022-01-07 16:20] gevraud opened #8114 "Issue with plugin and git-crypt"
Hello,

We are trying to use the new plugin management v2 with ArgoCD 2.2.0 on Openshift 4.8

We created a sidecar container containing git-crypt, gpg-agent and gpg. This image is called argocd-tools.

We use ansible + kustomize to deploy the argocd config.

Here is the config of the kustomize patching :

[code]

The plugin.yaml config :

[code]

.gitattributes is encrypting every *secret.yaml.*

[2022-01-07 16:53] bhupenderS012 opened #8115 "unable to promote rollouts from argocd console"
Hi Team,

I am facing issue to promote argo rollouts from argocd console.

I have allowed default access as read-only under argocd RBAC for developers group.
But at project level I have allowed below access to developers group.
Actions: get, create, update, delete, sync, override, action

still facing issue to do promote argo rollouts from argocd console.

Only possible solution i see is to allow

[2022-01-07 18:10] utkarsh-devops commented on #8113
time="2022-01-07T18:08:00Z" level=warning msg="finished unary call with code FailedPrecondition" error="rpc error: code = FailedPrecondition desc = another operation is already in progress" grpc.code=FailedPrecondition grpc.method=Sync grpc.service=application.ApplicationService grpc.start_time="2022-01-07T18:08:00Z" grpc.time_ms=484.012 span.kind=server system=grpc

[2022-01-07 19:42] crenshaw-dev opened #8117 "drop support for argocd-cm Config Management Plugins in favor of sidecars"
# Summary

Argo CD should drop support for CMPs installed via argocd-cm. Installing CMPs via sidecars on repo-server should be made as simple as possible (via docs/examples).

# Motivation

1. Having two ways to configure CMPs is confusing.

   The docs are longer, and it's difficult to tell which comments apply to which install method.
2. Having two ways to _use_ CMPs is confusing.

   argocd-cm

[2022-01-07 21:22] #4211 closed

[2022-01-07 21:22] #8110 closed

[2022-01-07 21:22] #7035 closed

[2022-01-08 02:10] DWSR commented on #7655
Hi there,

Any update on this? Happy to take a look at fixing it myself, but don't want to start from scratch if someone already has some ideas.

[2022-01-08 02:11] exocode commented on #8107
@chetan-rns Thank you, I have to investigate that deeper.  Nevertheless it would be really nice to have a more "simpler setup" (especially for Crossplane).

Because - _if I understand that correct, and please bear in mind, that I am a Argo noob_ - we have to "remap" a regular `kubeconfig` somehow to match the ArgoCD cluster definitions, which are scattered in different secrets.

**That opens anoth

[2022-01-08 15:15] rampatnaik opened #8122 "when I am using ha-install it giving error for redis"
I have run

kubectl create namespace argocd
kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/v2.2.2/manifests/ha/install.yaml

Warning  FailedScheduling  15s (x20 over 19m)  default-scheduler  0/2 nodes are available: 2 node(s) didn't match pod affinity/anti-affinity rules, 2 node(s) didn't match pod anti-affinity rules.

I have 2 nodes running .

This error for redis

[2022-01-08 16:54] sathieu commented on #2267
Proposal: https://github.com/argoproj/gitops-engine/pull/363

I think the only needed fix in the argocd repo is to bump the deps and of course documentation.

[2022-01-08 21:00] gw0 commented on #2789
Did anyone try out the [Argocd Helmfile plugin](https://opensourcelibs.com/lib/argo-cd-helmfile) as an alternative to the proxy chart? It makes more sense to have the chart version next to the inline values both in the same file (instead of in Chart.yaml and values.yaml).

[2022-01-08 21:34] hannesknutsson commented on #1510
I am experiencing an issue similar to the one @srinivasraojangiti is having. I am trying to set up a github.com repository, instead ArgoCD tries to connect to the public IP of the router that serves my network. Because of this I get "Connection refused".

Any solution to this type of problem?

[2022-01-09 09:34] dudicoco commented on #2789
@gw0 we are using the following argocd-helmfile docker image: https://hub.docker.com/r/chatwork/argocd-helmfile.
Note that you only need it within the argocd repo server.

[2022-01-09 17:58] shimont commented on #2532
A much needed feature :)

[2022-01-09 19:11] mprzygrodzki commented on #8114
So, i've just recently updated my ArgoCD deployment from Argo version 2.1.3 to 2.1.6,2.2.1,2.2.2 and I see all versions above have issues while trying to use git-crypt implementation - i'm building pretty simple Docker image based on @kvaps repo for that purpose and never had any issues with that.

Anyway, the main issue is that i'm unable to add new applications, or sync existing one due to follo

[2022-01-10 02:42] brsolomon-deloitte commented on #8021
I think this was administrator error.

Using `ingress-nginx` Helm chart, we had kept the defaults at

[code]

while only opening up inbound allow rules for 443, not 80.

Once we set `enableHttp: false` to only allow HTTPS traffic, Ingress link buttons in the ArgoCD UI go straight to the HTTPS URL.

Perhaps, if anything, there could be an option to tell ArgoCD to use the HTTPS links, even if HTTP i

[2022-01-10 03:06] brsolomon-deloitte commented on #8021
It looks like the crux of this happens here:

https://github.com/argoproj/argo-cd/blob/a940cb591498a46c76e83e4b1f0c42951c6eab39/controller/cache/info.go#L163

with the determination of `stringPort`.

The defect of how `stringPort` is configured is that it is _entirely dependent on whether TLS is configured within the Ingress definition_. This is not the only want to enforce/induce HTTPS. Another v

[2022-01-10 06:46] Rahulsharma0810 commented on #4326
@St4NNi can you share snippet, not working

[code]

[2022-01-10 07:38] mprzygrodzki commented on #8114
OK - nevermind, forgot about the issue above - it was caused by lost permissions on git execution, had to add additional line in Dockerfile to set correct permissions for that purpose and there's no more issue.

[2022-01-10 10:15] romachalm commented on #5958
@lusid that's strange. I only have the sidecar running on `application-controller` and not on `server`
[code]
And I have no error shown in the GUI, the status is sucessful.
I have tested on version v2.2.0+6da92a8. What's yours ?

[2022-01-10 10:37] rouke-broersma commented on #8107
@exocode you can use the cluster name instead of the IP/url instead.

[2022-01-10 12:25] St4NNi commented on #4326
@Rahulsharma0810 This looks like an application spec. I used the global configmap (argocd-cm) to change this. My kustomize overlay looks like this:

[code]

[2022-01-10 13:06] paulliss commented on #2472
same problem!

[2022-01-10 14:44] patrickjahns commented on #8100
@Funk66
We are experiencing a similar situation, but on ArgoCD `v1.8.4+28aea3d`. Something strange we noticed is, that we encounter this issue currently only on EKS clusters. We have identical clusters in Azure and the problem does not occur there.

Mind me asking if your ArgoCD setup is in AWS? Did the issue happen around the 4th of Januar - at least that what happened with our idendical environm

[2022-01-10 14:50] brsolomon-deloitte commented on #8021
On 2nd bullet above, perhaps the ArgoCD controller could listen to an environment variable such as `ARGO_INGRESS_LINK_PROTO`, which accepts a string pointing to a protocol to use.

[2022-01-10 14:54] gga-kialo commented on #8100
@patrickjahns, yes, this is running on AWS. It started in December, on the day we upgraded to v2.2.1, as explained in the description. I have no reason to think this is related to the underlying infrastructure. If you have any indication to the contrary, please let me know and I will try reaching out to the AWS support team.

[2022-01-10 14:57] Funk66 commented on #8100
@patrickjahns, yes, this is on AWS. It started in December, on the day we upgraded to v2.2.1, as explained in the description. I have no reason to think that this is related to the underlying infrastructure. If you have any indication to the contrary, please let me know and I'll try reaching out to the AWS support team.

[2022-01-10 15:41] shinebayar-g opened #8128 "Cannot deploy kube-prometheus-stack helm chart (Prometheus Operator CRD). metadata.annotations: Too long: must have at most 262144 bytes,unable to recognize "/dev/shm/682053370""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD Cannot deploy [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) helm chart. Specially `prometheuses.monitoring.c

[2022-01-10 15:57] zfrhv opened #8129 "feature: run setup script after sync"
# Summary

after deploying the application for the first time (applying the yaml files), add option to run job (with some service account), that runs some custom setup script and configures the application through its api with basic curl queries.

# Motivation

after installing any operator like keycloak,eck... or any other applications, it would be cool to have an option to run a job that will co

[2022-01-10 16:15] jgwest commented on #8128
https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#replace-resource-instead-of-applying-changes

For the CRD is invalid error, see the [Skip Dry Run for new custom resources types](https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#skip-dry-run-for-new-custom-resources-types), which describes the case where CRDs are . However, I would have thought that Argo CD would a

[2022-01-10 16:18] jgwest commented on #8128
Dupe of #820

[2022-01-10 16:18] #8128 closed

[2022-01-10 16:22] jgwest commented on #8122
Hi @rampatnaik , the HA installation will require at least three different nodes due to pod anti-affinity roles in the specs: https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/

What is the configuration of the cluster you are attempting to install to?

[2022-01-10 16:36] prein commented on #7657
@epg-mori-k would you mind explaining "GitHub webhooks work fine when SSHing into URLs starting with git@."?
If a repo url in argocd starts with git@, should https webhook from Github work or not?

[2022-01-10 16:41] gouravjoshicldcvr commented on #8113
I think every-time when argocd sync with git in the backend it creates a revision and append in same application yaml file.
if it syncs for 5-6 times then it will create more revisions and same will be appended in application.yaml and then finally it reaches to the state where argocd unable to update yaml and app stuck in **syncing** state.

[2022-01-10 16:56] shinebayar-g commented on #8128
That was correct. Regular `kubectl apply -f https://raw.githubusercontent.com/prometheus-community/helm-charts/main/charts/kube-prometheus-stack/crds/crd-prometheuses.yaml` command fails with `The CustomResourceDefinition "prometheuses.monitoring.coreos.com" is invalid: metadata.annotations: Too long: must have at most 262144 bytes` error.

[2022-01-10 17:12] gmalkov opened #8131 "5-second GRPC timeouts causing sync failure in sidecar plugin"
**Describe the bug**
I'm trying to get [Tanka](https://tanka.dev/) working as a sidecar plugin, and I think I'm mostly there, but I'm getting the following error when trying to sync my app:
[code]
When I look at the logs of the Tanka container, I see that the init and generate commands are succeeding, but taking up to 30 seconds. I also see log messages like this one:
[code]
I've googled around an

[2022-01-10 17:17] crenshaw-dev commented on #8131
@alexmt I think [this line](https://github.com/argoproj/argo-cd/blob/3fe924ebd6ed1493a8e82b1394d6942f6cebcceb/util/app/discovery/discovery.go#L92) sets the timeout for the CMP client. Am I correct about that? If so, should we make that value configurable at either the repo-server level or (somehow) the CMP level?

[2022-01-10 17:21] alexmt opened #8132 "Cluster name in application destination affects controller performance"
**Describe the bug**

The cluster name in the application destination affects controller performance. See attached CPU profile:

 https://share.polarsignals.com/fbdddca/
![image](https://user-images.githubusercontent.com/426437/148809519-64790088-01a2-4a29-8b49-4e87fae0a318.png)

**To Reproduce**

The issue is visible on a large Argo CD instance with multiple applications. Each application should

[2022-01-10 17:23] yeya24 commented on #8132
Hi @alexmt, are you working on this issue now or is it open to take?

[2022-01-10 17:25] alexmt commented on #8132
Hello @yeya24 , I'm working on it. Just created PR with the fix: https://github.com/argoproj/argo-cd/pull/8133

[2022-01-10 17:28] nikcollins commented on #3039
+1

[2022-01-10 17:36] hannesknutsson commented on #8106
I solved my problem!

My /etc/resolv.conf had two lines that caused trouble:
[code]

These lines were put there as a step in the installation of my host machine's OS that I did not realize would affect me in this way. After removing these lines, everything is now working perfectly.

[2022-01-10 17:36] #8106 closed

[2022-01-10 17:38] hannesknutsson commented on #1510
I solved my problem!

My /etc/resolv.conf had two lines that caused trouble:

domain <my domain>
search <my domain>

These lines were put there as a step in the installation of my host machine's OS that I did not realize would affect me in this way. After removing these lines, everything is now working perfectly.

[2022-01-10 18:08] joaosilva15 opened #8134 "Argocd cli app sync fails for apps with resources with "Prune=false""
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2022-01-10 18:10] anggutie-dev commented on #5991
upgrading sealed secrets tov0.17.1 did the trick, Argocd is now showing "Healthy"

[2022-01-10 18:18] dirien commented on #5991
Hi @anggutie-dev, so its safe to use the latest version of the chart?

[2022-01-10 19:43] alexmt commented on #6366
CI is building ARM images now. Next release will include ARM image as well.

[2022-01-10 19:43] #6366 closed

[2022-01-10 20:02] crenshaw-dev commented on #8131
I'm convinced that this is the correct line. I've tested with `sleep 5` in the CMP, which fails. And then I've tested again after building a new image with timeout=60 and `sleep 30`, which succeeds.

I'll look at adding a parameter to configure a default timeout for all sidecar CMPs. I think we should consider making this configurable at the individual CMP level, but that can wait for later. One w

[2022-01-10 20:38] #8132 closed

[2022-01-10 22:15] shinebayar-g commented on #4723
Any progress on this? kube-prometheus-stack is causing huge pain..

[2022-01-10 22:15] shinebayar-g commented on #6252
Any progress on this? kube-prometheus-stack is causing huge pain..

[2022-01-10 22:56] shinebayar-g commented on #8128
For reference:  Adding `Replace=true` fixers too large Prometheus CRD problem but breaks helm hooks.
![image](https://user-images.githubusercontent.com/3091558/148851824-d7eed6a1-7ce6-4878-b8ae-5c2f8e41177f.png)

![image](https://user-images.githubusercontent.com/3091558/148851736-f2238311-02f1-4489-9b48-13ee0b317c99.png)

Looks like I can't deal with this helm chart..

[2022-01-10 23:20] teejaded commented on #4275
@joaosilva15 can you try this resource customization?

https://github.com/teejaded/argo-cd/blob/cert-healthcheck-fix/resource_customizations/cert-manager.io/Certificate/health.lua

[2022-01-11 00:34] shinebayar-g opened #8138 "ApplyOutOfSyncOnly=true doesn't work as expected. It's applying already in sync resources."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I deployed a helm chart with following options trying to make a workaround on #8128 following https://github.com/prometheus-community/helm-charts/issues/1500#issuecomment-999925370. Wor

[2022-01-11 02:46] fatalc commented on #8100
I met the same problem, but at version `v1.7.14+92b0237`

[2022-01-11 03:26] Markieta commented on #7600
We just went [final brownout (January 11, 2022)](https://github.blog/2021-09-01-improving-git-protocol-security-github/#when-are-these-changes-effective) and I am experiencing this same issue with SHA256 keys.

Does the `argocd-repo-server` SSH client [not support SHA-2](https://github.blog/2021-09-01-improving-git-protocol-security-github/#libgit2-and-other-git-clients)?

[2022-01-11 04:01] Markieta commented on #7600
Switching to **Ed25519** as per [GitHub's recommendation](https://github.blog/2021-09-01-improving-git-protocol-security-github/#libgit2-and-other-git-clients) worked for me. You can update existing repositories this way.

[code]

Add `cat ~/.ssh/id_ed25519.pub` as a new repo deploy key in GitHub/Bitbucket/etc.

[code]

[code]

Replace `sshPrivateKey: <encoded_private_key>` with your new encoded p

[2022-01-11 04:46] awknode commented on #7600
Thanks for the info but this didn't work for me with argocd for some reason. IDK why all the sudden it won't accept the same keys I've been using all month.

[2022-01-11 04:53] rayshoo opened #8139 "ARGOCD_SESSION_MAX_FAIL_COUNT seems not working"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ v ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ v ] I've included steps to reproduce the bug.

[2022-01-11 08:03] chetan-rns commented on #8139
Hi @rayshoo, according to the [code](https://github.com/argoproj/argo-cd/blob/27af0b4924e58aeea51b0cd2b5fd6be8748152f8/util/session/sessionmanager.go#L86) `ARGOCD_SESSION_FAILURE_MAX_FAIL_COUNT` is the right env variable for specifying max fail count. Updated the doc here https://github.com/argoproj/argo-cd/pull/8140

[2022-01-11 08:18] patrickjahns commented on #8100
@Funk66
It might be a red herring, but I can elaborate shortly what lead me down the path for asking:

We have several kubernetes environments in AWS and Azure. ArgoCD is installed locally - from alls clusters, there are 3 EKS clusters in the same region and their version is  1.18-eks.8 and 1.19-eks.6. We are seeing the issue on 3 of our clusters from the same region, and it started to surface on

[2022-01-11 08:29] johnathan-walker commented on #7600
I just got bit by this as well. Was using an `ssh-rsa `. Our ArgoCD instance is new, so I don't have the experience of the previous brownout

After reading the above article, Argo is probably using an older git client which does not support SHA2 sigs (or it is not configured).

As the above shows (and the article explains) moving away from `ssh-rsa` should fix this (`ed25519` is "more secure", as

[2022-01-11 08:49] Funk66 commented on #8100
@patrickjahns, did the issue by any chance start after an application controller pod restart? We're on EKS 1.20 and see this happening on every cluster in every region. The only change around the time it started was the ArgoCD upgrade, which is why I'm inclined to think that this problem is caused by ArgoCD being unable to properly keep track of the apps it has already refreshed. That said, I have

[2022-01-11 09:04] sathieu commented on #6252
@shinebayar-g The `kube-prometheus-stack` problem will probably be fixed with server-side apply instead.

See https://github.com/argoproj/argo-cd/issues/2267#issuecomment-1008060233

[2022-01-11 09:47] rayshoo commented on #8139
@chetan-rns I am glad for your kindness. happy New Year!

[2022-01-11 09:47] #8139 closed

[2022-01-11 09:53] mariusandersen opened #8141 "Add nodeSelector linux to Deployment and StatefulSet"
# Summary

Change installation so all pods are created on linux nodes.

# Motivation

We have a Kubernetes cluster with both windows and linux nodes. Without nodeSelector the pods will randomly be created on the windows node, and will fail pulling down the container image.

Currently I have to [download ](https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml) the manifes

[2022-01-11 10:42] TomaszSzusterTR commented on #3691
Hey @dmizelle

The image will be bigger obviously, but from my point of view a lot of K8s clusters sits on fast storage thus loading container with ArgoCD shouldn't take sooo much time.
Even if we follow a security rule of thumb to kill container every 24 hours then this will be a blip to recreate new pod.

There are options to mitigate slower startup time... from top of my head:
* create dedicate

[2022-01-11 11:16] Rahulsharma0810 commented on #4326
Doesn't been resolved yet

![image](https://user-images.githubusercontent.com/9934859/148933090-887f780d-69f0-492d-bccb-211d699fa664.png)

[code]

[2022-01-11 12:30] w4rgrum opened #8144 "route.openshift.io/v1 resource Health stuck in "Progressing" with details "Route is still getting admitted""
**Describe the bug**

Openshift Route resources stuck in `Progressing` Health status with details `Route is still getting admitted`

**To Reproduce**

Register your route on multiple routers to get more than 1 element in `.status.ingress[]`

Example:
[code]

**Expected behavior**

2 ingresses are detected as admitted `"True"` thus status should be `Healthy` instead of `Progressing`

**Screenshots*

[2022-01-11 12:50] gouravjoshicldcvr commented on #8113
@jgwest Can you suggest something on this to make it work in our current production env bcz all our application got stuck in syncing state which is very painful.

[2022-01-11 13:25] erkerb4 commented on #5609
I found this enhancement to share this same point.. I am a bit late to the party, but I also support this  enhancement idea.

[2022-01-11 13:43] lvidarte commented on #8097
I'm facing the same issue:

[code]

[code]

[2022-01-11 14:40] crenshaw-dev opened #8145 "`argocd app sync/diff --local` doesn't account for sidecar CMPs"
**Describe the bug**

`argocd app diff <appname> --local .` fails when `<appname>` is handled by a sidecar CMP. Specifically, it fails with this error:

[code]

`argocd app sync <appname> --local .` fails with the same error.

**To Reproduce**

1. Install a sidecar CMP. The [one from the docs](https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/) works fine.
2. Add an app

[2022-01-11 14:47] patrickjahns commented on #8100
We didn't perform any operations on the controllers. By chance they controllers must have all three been restarted around the same time (same day, within 1 hour from each other)

[2022-01-11 15:07] crenshaw-dev commented on #8145
# Proposal: server-side diffing for local code

Local diff/syncing is currently implemented by running repo-server code on the CLI's host machine. It's the user's responsibility to install the necessary CLIs (like Helm or Kustomize).

We shouldn't expect users to configure their local machine to run the same CMPs as those installed on the repo-server. Instead, we should have the CLI send the user'

[2022-01-11 15:31] shinebayar-g commented on #6252
Yeah hopefully.. What if I want to deploy multiple instance of the chart? `--skip-crds` is necessity.

[2022-01-11 15:44] sathieu commented on #6252
@shinebayar-g If you deploy the same version of the chart, it'll work without skipCRD, unless you set [`FailOnSharedResource=true`](https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#fail-the-sync-if-a-shared-resource-is-found). But I agree this is suboptimal, and skipCRD at application level is definitively needed.

Also, I think that the skipCRDs parameter should be available at d

[2022-01-11 16:44] shinebayar-g commented on #6252
I see, as long as it works even without skip crds I'm OK. Currently cannot confirm this until https://github.com/prometheus-community/helm-charts/issues/1500 is fixed.
Subscribed to your helm dependency suggestion, nice idea.

[2022-01-11 17:02] #7828 closed

[2022-01-11 17:20] MrSaints commented on #8100
We are seeing this on our k3s cluster (v1.22.4+k3s1) with ArgoCD v2.1.8. CPU generally high too.

[2022-01-11 19:22] dcardellino commented on #5608
Is there any update on this issue?

[2022-01-11 20:25] camba1 commented on #1894
Any news on this front? Thanks!

[2022-01-12 00:59] kerthcet commented on #1894
refer to the solution this week if I have time.

[2022-01-12 06:01] pratyushmck opened #8151 "Config Map support when deploying application via argocd using helm"
Hello Team, We had a scenario where we were looking forward to your opinion- We utilize an enterprise-wide helm chart that has extensive vetted logic. The chart is provided with a values,yaml file and additionally with config map and secrets files via the helm --set-file argument. These are application specific and housed in an external git repository. Our query is when we use argocd coupled with

[2022-01-12 06:19] ONordander commented on #7894
Hi. I recently looked into doing this as well and wanted to give my input.
If you inspect a token that has been created by ArgoCD:
`kubectl get secret -n argocd argocd-secret -o jsonpath="{.data.accounts\.<argo-account>\.tokens | base64 -d`

You should get an output like this:
`[{"id": "token-id", "iat": 123}]`

You should be able to append similar objects to this secret, just remember that the JW

[2022-01-12 07:09] #6176 closed

[2022-01-12 07:09] #6878 closed

[2022-01-12 08:05] #7638 closed

[2022-01-12 08:27] benruland opened #8154 "Allow reference of secrets for Git Webhook Secrets"
# Summary

As cluster operator managing ArgoCD declaratively, I want to reference other Kubernetes secrets than argocd-secret for storing [Git Webhook Secrets](https://argo-cd.readthedocs.io/en/stable/operator-manual/webhook/#2-configure-argo-cd-with-the-webhook-secret-optional).

# Motivation

**Why is this feature required:** Securing ArgoCD Webhooks is common practice and recommended by ArgoCD.

[2022-01-12 09:13] fokolo commented on #8097
Someone posted on slack this workaround:
https://github.com/smcavallo/argocd-ecr-updater

[2022-01-12 09:35] patrickjahns commented on #8100
Further digging in our environments revealed, that there were permanent updates to k8s secrets (status field) by the [external-secrets](https://github.com/external-secrets/kubernetes-external-secrets) controller. In our environments that was triggered through expired certificates (mTLS authentication of external-secrets) which we didn't catch.

We've resolved the underlying issues with the certifi

[2022-01-12 11:40] jgwest commented on #8113
I'm not aware of any Argo CD settings that you can tweak here to reduce the size/verbosity of the status field (you could ask on Argo CD slack to see if anyone else has hit this or similar issue), my only suggestion would be to refactor your Argo CD application to use fewer resources.

[2022-01-12 11:48] jgwest commented on #8151
https://github.com/argoproj/argo-cd/discussions/8150

[2022-01-12 11:50] jgwest commented on #8144
@ishitasequeira can you take a look?

[2022-01-12 11:58] gouravjoshicldcvr commented on #8113
@jgwest Thanks for your response.
I can not remove the resources from app.
Can you please tell me how much time argocd team will take to assign this issue to someone.

[2022-01-12 13:37] jgwest commented on #8113
@gouravjoshicldcvr Argo CD planning is not that formally organized, each bug and feature is evaluated by individual teams/companies/contributors for contributions, such I can't give you such an estimate.

[2022-01-12 15:53] crenshaw-dev commented on #2789
Just chatted with someone who wants to pass not just a values file but also files-as-values using `--set-file name=/path`. Seems reasonable to support external `--set-file`s along with `--values` files.

[2022-01-12 17:14] romachalm commented on #5958
@lusid I detected the issue you mentioned. TIL `argocd-server` also uses the cluster secret to fetch the logs from from  the pods. So indeed the server needs also to run with the sidecar.

To do so, I had to modify the port of my sidecars to listen on port 7070 (simply adding the `args: ["-port", "7070"]` to the sidecars), because it conflicts with 8080 used by `argocd-server`. My exec cmd became

[2022-01-12 21:06] #4420 closed

[2022-01-13 07:04] gouravjoshicldcvr commented on #8113
@jgwest Can we restrict argocd to store only certain number of revision like 3 or 5, in this limit will never breach.

[2022-01-13 08:14] sumitnagal commented on #4204
I have tried to above work around, but none is working for me
Executing on local cluster
`argocd cluster add kind-dev-cluster --insecure`
Error
[code]
we are able to connect `https://127.0.0.1:62826/version?timeout=32s` as this is not authenticate, here is the argocd server error
[code]
However API server require authentication, and give this error while unauthenticated connection
[code]

[2022-01-13 08:21] sumitnagal commented on #4204
@jannfis / @jessesuen , I am using Kind cluster. This issue is not resolved yet

[2022-01-13 11:39] ltmleo commented on #1673
It would be great if there was a way to configure multiple destinations:
i.e.

[code]
this example is thinking in helm cases.

[2022-01-13 11:44] gdubya commented on #1673
@ltmleo have you looked at [ApplicationSets](https://argocd-applicationset.readthedocs.io/en/stable/)?

[2022-01-13 12:56] br95187 commented on #3039
+1

[2022-01-13 14:05] inductor opened #8162 "Update Ingress Configuration for GKE"
# Summary

The current document has two main problems with GKE Ingress

- It unnecessarily  uses `NodePort` unnecessarily while `ClusterIP` works fine.
- Ingress API version is not v1 but is v1beta1 which is deprecated

# Motivation

Update the document

# Proposal

Update the document

[2022-01-13 14:37] alcidesmig commented on #5218
For me it solved the problem too!

[2022-01-13 15:10] pavan-kumar-ceemala opened #8167 "General questions on ArgoCD"
### Discussed in https://github.com/argoproj/argo-cd/discussions/8164

<div type='discussions-op-text'>

<sup>Originally posted by **pavan-kumar-ceemala** January 13, 2022</sup>
Hi,
1st of all, thanks for creating such a wonderful tool, I really liked the ease of deployment, the Git as a source approach, pull mechanism, the sync process etc, this satisfies my small projects, which I've worked till

[2022-01-13 15:25] gevraud opened #8168 "Plugin not present in the plugin list"
Hello,

I am using the new management plugin system.

I created a plugin called "encrypted-yaml". I can see the sidecar is running well

But when I create an application , I can"t see it in the plugin list. It displays "No result"

I guess it should be present in the plugin section.

Any clue on this ?

Regards

[2022-01-13 15:33] nabadger commented on #7513
This is causing us a few problems (especially when it happens on lots of apps).

Are there any solutions from argo here (don't really like the idea of having a fake-annotation to work around this).

[2022-01-13 16:23] rbreeze commented on #5468
This was addressed for the normal tree view, but not the network tree view

[2022-01-13 16:39] ravishtiwari commented on #3941
running into the same issue trying to add a rancher managed cluster to argo:
[code]

[2022-01-13 17:17] jessesuen commented on #8113
This issue was discussed in the contributing meeting today.

The history of syncs normally contributes very little to the size. However, it's possible it may get quite large if you are leveraging inlined helm values. Is that the case?

For example, here is example of items in history:

[code]

Yes, if history is contributing to your CR size, you can reduce this using:

[code]

Outside of that, the

[2022-01-13 17:59] Roshick commented on #4314
Just ran into this issue which is quite annoying as our service automatically generates the necessary models from the openapi specification and we need to fix it manually afterwards now.

[2022-01-13 18:40] gouravjoshicldcvr commented on #8113
@jgwest yes are providing values with --values-literal-file <file name> and as per my understanding it appends the values in application.yaml file only.

[2022-01-13 20:00] klamkma opened #8172 "Resource tree slow refresh"
Hello,

**Describe the bug**

We have a big kubernetes cluster with almost 3000 argocd applications.
Currently we are running ArgoCD 2.2.2.
Since upgrade to version 2 we noticed that refresh of the resource tree for applications is much slower. For example:
I click on "Restart" for a deployment
ReplicaSet appears immediately
New pod appears sometimes after 40 seconds
I've tried increasing values -

[2022-01-13 20:11] janwillies commented on #8107
note that this kind of referencing is possible with crossplanes [provider-argocd](https://github.com/crossplane-contrib/provider-argocd): https://doc.crds.dev/github.com/crossplane-contrib/provider-argocd/projects.argocd.crossplane.io/Project/v1alpha1@v0.1.0#spec-forProvider-destinations

[2022-01-13 21:00] #2913 closed

[2022-01-13 21:06] sidewinder12s commented on #7682
@jessesuen @alexmt I also don't think I see workqueue_depth on version 2.1.5 anymore.

[2022-01-13 22:11] sidewinder12s opened #8175 "Large Dynamic Applications resulting in stale resource state"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I've got a set of very large Kubernetes clusters, but a fairly low number of ArgoCD Applications.
However, some of those applications are tracking daemonsets like Prometheus-operator wh

[2022-01-14 04:07] BWagener commented on #8129
Sounds like your use case can be covered using resource hooks: https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks/

[2022-01-14 06:44] StephanSalas commented on #8084
Same here!

[2022-01-14 09:02] #8144 closed

[2022-01-14 10:35] iMartyn commented on #7623
Just to add my input here :

In my opinion secrets injection is the big thing here.  Both the methods I would like to use require "faking" `helm` in the `argocd-repo-server` container in a very hacky way.

- First would be with something like `sops` and `helm-secrets`, which requires the encrypted secrets in the repo, and requires kludging in the helm binary with a wrapper manually.
- Secondly, wi

[2022-01-14 10:47] karlschriek opened #8178 "Add `envFrom` and `env.valueFrom` to ApplicationSourcePlugin"
# Summary

Instead of only being able to explicitly declare variables in the `env` field when using a `plugin` source, I would like to be able to read those vars from a Secret instead, using the typical `envFrom` and/or `valueFrom` syntax.

i.e. instead of using this:
[code]

I would like to have this:
[code]

# Motivation
I am using the plugins interface (https://argo-cd.readthedocs.io/en/stable/

[2022-01-14 11:20] tgolsson opened #8179 "Non-cascading application delete orphans ownership annotations"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`

**Describe the bug/To Reproduce**

* I had a monolithic application consisting of multiple pods, services, etc, deployed all at once.
* I changed my deployment flow to have five different deploy targets with

[2022-01-14 14:48] pasha-codefresh commented on #8071
@NickLarsenNZ @alexmt im working on this ticket

[2022-01-14 14:52] jannfis commented on #8021
I think that using an environment variable for this would be too narrow as well

An idea would be to use an annotation on the resource itself to specify the URL for the link-out directly, either an URL or just the protocol, and use this value for rendering the link. We do have a mechanism to add links to the Application resource itself using the `link.argocd.argoproj.io/<linkname>: <url>` annotati

[2022-01-14 14:53] exocode opened #8181 "Cannot convert undefined or null to object"
Checklist:

* [ X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X ] I've pasted the output of `argocd version`.

**Describe the bug**

I often try to open an application which is still deploying/syncing, then this errors appears in the UI: `Cannot convert undefined or null to object`

[code]

**Expected behavior**

Normally I expect an drawer appearing from right

[2022-01-14 16:42] redno2 commented on #3799
Especially useful if you have repo pointing to github.com, and your argocd is in offline mode, because of security constraints. The deployment fail like;
[code]

[2022-01-14 17:23] tyriis commented on #1672
@gadiener have started a discussion on this topic here: https://github.com/argoproj/argo-cd/discussions/7759 but obviously, the interest to change it is really limited :/

[2022-01-14 17:27] der-eismann opened #8184 "Panic when trying to create an app that already exists"
**Describe the bug**

We just upgraded from argocd 2.1.6 to 2.2.2 and now our deployment chatbot doesn't work anymore. What we usually do is:
- Call http://example.com/api/v1/applications/example to grab a "parent" application
- Set some metadata & specs like plugin
- Send the new manifest back via POST to http://example.com/api/v1/applications
- If there is an error and it contains `use upsert fl

[2022-01-14 17:41] jannfis commented on #8179
A sync of another application that manages the same resources should replace ownership. Before you sync, you will receive a shared ownership warning because Argo CD think it is still managed by the old (removed) Application.

Is the behavior you're seeing different from that?