[2020-10-15 20:12] rbreeze commented on #4004
@denniswebb are you still willing to do server side changes for this? I'm happy to do the UI change.

[2020-10-15 20:20] alexmt commented on #4225
Done

[2020-10-15 20:20] #4225 closed

[2020-10-15 20:20] #3520 closed

[2020-10-15 20:36] jessesuen commented on #4570
After we split out the helm/kustomize/kubectl version from the version endpoint, I dont think this provides any benefit to security. The Argo CD version can be inferred based on the UI elements that we (publically) release and so go version and argocd version could always be inferred.

[2020-10-15 20:37] jessesuen commented on #4572
Thanks @shokada would you like to submit the PR for this?

[2020-10-15 20:38] jessesuen commented on #4573
Thanks for triage @jannfis . we'll cherry pick this into 1.7

[2020-10-15 20:38] #4573 closed

[2020-10-15 20:42] alexmt commented on #4573
Cherry-picked the fix into 1.7

[2020-10-15 20:43] jessesuen commented on #4577
Because of numerous bugs like this with the app-of-apps pattern, we're actually removing the health status in Apps in the v1.8 release -- we can't seem to get the sync waves with apps working correctly.

The long term solution is to introduce a AppSync CRD which can deal with coordinating syncing of multiple apps, correctly.

[2020-10-15 20:43] shokada commented on #4572
@jessesuen OK, I will submit the PR for this.

[2020-10-15 20:47] jessesuen commented on #4579
Your assumptions are correct. Basically you run `argocd-util export` to export everything (which is close but not exactly the same as `kubectl get ___ -o yaml > backup.yaml`), followed by `argocd-util import` to create everything in the backup cluster.  We have a cron job which does exactly that.

The docker image is a convenience to gain access to the CLI, but not strictly required.

[2020-10-15 20:58] ap185395 opened #4581 "Question: use of flagger?"
I'm curious to know whether I can use `flagger` instead of `argo roll-outs` with `argo-cd`?

[2020-10-15 21:03] jessesuen commented on #4581
Yes, in fact there is already a flagger health check that is bundled with Argo CD.

[2020-10-15 21:03] #4581 closed

[2020-10-15 21:14] jessesuen commented on #1483
@rbreeze you will want to add a Node informer/lister like we do with application and projects:

https://github.com/argoproj/argo-cd/blob/master/server/server.go#L214-L218

And use the node lister in the new "nodes" endpoint, similar to:

https://github.com/argoproj/argo-cd/blob/master/server/application/application.go#L133

[2020-10-15 21:18] jessesuen commented on #1483
For the nodes endpoint, I don't think we should return the entire node object because it will be a security concern to expose all node information (which includes images being run on the node). We should redact the node object to only the information we are interested in presenting in the UI, such as:
* memory/cpu usage and capacity
* hostname
* os/version/architecture

[2020-10-15 21:30] hintofbasil commented on #4577
Thanks for the heads up Jesse, we were investigating a design that relied on that status being accurate so very glad to know early.

Looking forward to reading the spec mentioned in https://github.com/argoproj/argo-cd/issues/1283.

[2020-10-15 22:39] jaideepr97 commented on #4513
@RichiCoder1
I see
Then I think maybe it could be helpful to have an option to let the users toggle between the yaml input and key value pairs on demand?

[2020-10-15 22:47] tetchel commented on #4520
The other common solution to this issue is to put an [integrity check](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity#Examples) inline

[2020-10-15 22:57] alexmt opened #4583 "Improve repo-server performance"
# Summary

Repository server performance should be improved to better handle mono-repositories with multiple Argo CD applications. One repo-server instance processes only one request per repository. The restriction is required because each instance maintains only one local copy of each repository. So repo-server serves on repo at the time to avoid switching to another commit in a middle on manifes

[2020-10-15 23:56] tetchel commented on #4578
I think the reason it is not versioned right now is because the only consumers of argo-ui are argo CD and workflows, which basically always want the latest version and can test for regressions easily enough.

So, the overhead of deciding when to release, tagging, packaging, and publishing is not worth the effort.

[2020-10-16 04:30] charles-woshicai commented on #4570
FYI we got a security issue about this API with low priority issued by our security team, maybe the standard is too strict.

[2020-10-16 04:31] charles-woshicai commented on #4570
Well, as the priority of this enhancement is low, I would close this issue as you won't adjust this.

[2020-10-16 04:31] #4570 closed

[2020-10-16 10:13] SimoneFalzone opened #4590 "Enhance submodule support - Change detection in submodule branches and resync"
# Summary
Enhance submodule support of ArgoCD to enable working with different branches in submodules and improve the developer workflow as well as mantainance of infrastructure tools.

# Motivation
Our working environment looks like the following:
* We have many clusters in the following stages: __dev__, __qa__ and __prod__, each of them has their own git repository. The structure of the reposito

[2020-10-16 10:46] servo1x commented on #3789
Monorepo performance improvements tracked in: #4583

[2020-10-16 14:04] LukeChannings commented on #4175
I have been experiencing this issue for some time. I've just upgraded to 1.7.6 and the bug is still present.
A temporary workaround is to sync with "Apply Only" after the first regular sync.

[2020-10-16 14:53] jannfis commented on #4520
I agree that this solution would be good, but in this case we can't do it. This is because the HTML for Redoc is generated by `github.com/go-openapi/runtime/middleware` (see https://github.com/argoproj/argo-cd/blob/e09cacba659fcb0dbf65b24118c70fef3857b11b/util/swagger/swagger.go#L12).

That library can be parametrized to set the URL from where the script is loaded, but alas no additional parameter

[2020-10-16 15:31] delucca commented on #2953
I was struggling with this issue for ours, and finally found this thread.

@georgepaoli suggesiton worked. Adding `--insecure` fixed the issue. I suggest adding this to [Argo's Traefik docs](https://argoproj.github.io/argo-cd/operator-manual/ingress/#ingressroute-crd) while the issue persists.

[2020-10-16 15:32] dewan-ahmed commented on #4393
@alexmt is the assumption that argocd is already installed and the user/session is connected to a K8s cluster? Or do we need to install the req'd dependency within the script?

[2020-10-16 15:38] dewan-ahmed commented on #4393
This is the verification I'm thinking for `argocd app create`:

1. `argocd app list --insecure` checking if an app with <some-app-name> already exists. If yes, exist the program and request the user to delete existing <some-app-name> app.
2. If an app with <some-app-name> does not exist, execute:
`argocd app create <some-app-name> --repo <some-repo-name>.git --path <some-path> --dest-server https:

[2020-10-16 18:16] corestackdev commented on #2953
Spent half a day with ingress settings only to figure out this small piece of information missing. Thanks @leandro-manifesto

[2020-10-16 18:29] ams0 commented on #2953
Thanks for this, I wrote a little patch [here](https://github.com/ams0/argocd-azure-k3s-traefik/blob/main/patch.yaml) and the IngressRoute CRD I use [here](https://github.com/ams0/argocd-azure-k3s-traefik). I wrote an article about all of this and more [here](https://medium.com/cooking-with-azure/managing-multiple-clusters-with-argocd-in-azure-k3s-secured-w-traefik-lets-encrypt-2de7daabbefa).

[2020-10-16 19:59] qingkunl commented on #2730
+1. This is a blocking issue for us.

[2020-10-16 19:59] yydzhou commented on #2730
+1, same issue here.

[2020-10-16 20:15] leewardbound commented on #3901
I have encountered this with the Nextcloud chart v2.2.1 https://github.com/nextcloud/helm/tree/master/charts/nextcloud, but I want to note that it only began when I changed from the "remote-chart" Application model (`application.yaml` has the remote chart URL, with values included under the `helm:` key) to the "depenency-chart" Application model (`application.yaml` points to a directory with `Char

[2020-10-16 20:24] aekrohn commented on #3901
I was able to resolve this, and it doesn't appear to be a bug, just a missing parameter on my part. My argocd application points to a repo directory that contains `Chart.yaml`, `requirements.yaml`, and `values.yaml`. The `requirements.yaml` file is what actually contains the Hashicorp repo information:

[code]
And `Chart.yaml` lets argocd know we're doing a helm chart:

[code]
All I needed to do w

[2020-10-16 20:56] jessesuen commented on #4590
@SimoneFalzone thank you for such a complete and thorough explanation and accompanying pull request. We'll take a look. This could have wide reaching changes so we'll need to take our time with this.

[2020-10-17 00:13] mars64 commented on #4134
Confirming: [`v1.7.8`](https://github.com/argoproj/argo-cd/releases) fixes the `namespace` filter issue. Thank you!

[2020-10-17 01:17] jeenx commented on #3593
Same here, we want to allow the deletion of resources but not the Argo App itself as that can be problematic

[2020-10-17 20:09] leewardbound commented on #3901
@aekrohn This also fixed it for me, I was just misusing helm! Thanks for sharing the link to the helm docs, this was super helpful!

[2020-10-17 22:29] davidkarlsen commented on #2785
Also see https://blog.kintone.io/entry/production-grade-delivery-workflow-using-argocd#Multi-tenancy which describes the same problem.

[2020-10-18 13:51] shaikatz commented on #4521
What is the reason to sync objects that are already in synced state anyway?

[2020-10-18 16:27] OmerKahani commented on #4521
So I think these settings should directly under `syncPolicy`, and not under  `automated`

[2020-10-18 17:44] Rude-Monkey commented on #4463
Hi! I opened a PR to update the [declarative setup documentation](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/) as it seemed to be the best place to clarify this point.

Changes can be seen on the PR (#4597). Feel free to share feedback (it's my first contribution to this repository 😄 )

[2020-10-19 03:20] keithchong opened #4598 "Add QE ID's to support test tool locators"
# Summary

Add QE ID attributes to the HTML elements so that automated test tools can locate them more easily.  It will make the test code easier to maintain and the locator 'constant's more manageable.  This will affect the ArgoUI component.

# Motivation

Selenium locates 'widgets' by using locators.  You can locate by ID, by XPath, by name, by CSS, etc.  The locator 'target' values should be ma

[2020-10-19 11:07] mnach commented on #4549
Looks like there are podAntiAffinity rules in HA installation for argocd-server and repo-server: https://github.com/argoproj/argo-cd/tree/303925f4a016d7fee80bbe357341df7d3febe298/manifests/ha/base/overlays

In base installation all apps has only one replica, so podAntiAffinity relevant only for scaled-up cases.

Though we can add `preferred` based not only on `app.kubernetes.io/name` label but als

[2020-10-19 11:53] jMarkP opened #4600 "Allow generic ExecProvider settings in Cluster config"
# Summary

The K8s client-go `rest.Config` ([ref](https://godoc.org/k8s.io/client-go/rest#Config)) supports an `ExecProvider` option which allows users to define an external executable to call on-demand to retrieve API creds.

ArgoCD already supports one specific example of this with the `AWSAuthConfig`, which gets mapped to a `rest.Config.ExecProvider` object ([src](https://github.com/argoproj/ar

[2020-10-19 12:28] dlmorais-pbh opened #4601 "Make Argo UI aware of OpenShift objects, such as Route and DeploymentConfig"
# Summary

In UI, when Argo renders a Route object box, it does not show the link to the URL it represents, as it happens to Ingress objects.
The same is true for a application box in Dashboard, which shows ingresses links, but not routes.
It seems to me that the problem is that Argo is not specifically aware of OpenShift objects.

# Motivation

Make Argo better to use when integrated to OpenShift

[2020-10-19 18:01] #4520 closed

[2020-10-19 18:55] tetchel opened #4602 "Applications List view is missing data labels"
The Applications "list" view lacks labels for the data it displays, so it is not obvious what the table is communicating.

![image](https://user-images.githubusercontent.com/8888438/96499060-e5df5300-121a-11eb-94ef-9fd60b4607f5.png)

As opposed to the tiles view where every field is clearly labeled.

![image](https://user-images.githubusercontent.com/8888438/96499095-f394d880-121a-11eb-8f82-a01c3a

[2020-10-19 18:57] LeonardAukea opened #4603 "Add commonAnnotations configuration option for kustomize"
# Summary

I noticed in the [docs](https://argoproj.github.io/argo-cd/user-guide/kustomize/
) that you currently only support:

* `namePrefix` is a prefix appended to resources for Kustomize apps
* `nameSuffix` is a suffix appended to resources for Kustomize apps
* `images` is a list of Kustomize image overrides
* `commonLabels` is a string map of an additional labels

https://argoproj.github.io/a

[2020-10-19 18:59] tetchel opened #4604 "Consider redesigning action buttons in applications list view"
The Sync/Refresh/Delete buttons in the Tiles view are useful:

![image](https://user-images.githubusercontent.com/8888438/96499242-276ffe00-121b-11eb-8e47-eee25c3ddefe.png)

But, the List view hides these in an overflow menu

![image](https://user-images.githubusercontent.com/8888438/96499278-335bc000-121b-11eb-8dc9-2f762ad3f8f0.png)

If I were to redesign this, ideally each application (row) woul

[2020-10-19 19:03] alexmt commented on #4578
I think publishing to NPM is the next step. The creation of `release` branch allows us to "batch" testing work that is required to upgrade Argo CD/Argo Workflows UI. In addition to that, we can configure CI to build and publish every commit of `release` branch to NPM. The version might be inferred from e.g. VERSION file that is manually managed.

[2020-10-19 19:29] RichiCoder1 commented on #4578
Both [semantic-release](https://github.com/semantic-release/semantic-release) and [auto](https://github.com/intuit/auto#readme) are pretty great at making that process nice and trivial. Latter especially if you wanna batch changes instead of just continuously releasing.

[2020-10-19 19:36] wtam2018 opened #4605 "Generate Markdown Docs ArgoCD CLI"
# Summary
ArgoCD CLI is an important interface but it lacks documentations.    We should take advantage of the markdown documentation generation feature of cobra to create CLI documentation.

# Motivation
We only cover a small subset of CLI when it comes documentation.  Keeping CLI documentation up to date is a chore but [spf13/corba](https://github.com/spf13/cobra/blob/master/doc/md_docs.md) is c

[2020-10-19 19:41] LeonardAukea commented on #4603
@jannfis Could you provide any pointers as to where the related code might reside. eg. where is the implementation for `commonLabels` and if this is potentially manageable for a non go developer I would be willing to give it a shot

[2020-10-19 20:39] alexmt commented on #4600
Agree with your fisrt proposal (add `ExecProviderConfig` ) and the spec changes. PR would be very welcome.

[2020-10-19 20:59] dewan-ahmed commented on #4393
Another approach for CLI testing would be to have source code level testing added [here](https://github.com/argoproj/argo-cd/blob/master/test/e2e/accounts_test.gol)

[2020-10-19 21:08] wrdls commented on #4175
I tried reinstalling Prometheus with ArgoCD (previously installed with Helm) on a non-private GKE cluster and had the same issue happening.
So my assumption about a firewall issue was wrong as others above pointed out.

[2020-10-19 21:13] borzozoo commented on #2640
I added .git but still not working for me.  what you see below is from the  pod when I click on connect:

time="2020-10-19T21:04:11Z" level=error msg="finished unary call with code Unknown" error="unexpe
ent error: unexpected requesting \"https://git.blah.blahhhhh/uip-devops.git/info/refs?se
t-upload-pack\" status code: 400" grpc.code=Unknown grpc.method=Create grpc.service=repository.Re
Service g

[2020-10-19 21:24] #4486 closed

[2020-10-19 21:38] alexmt commented on #4583
Another slowness reasons: manifests cache of all applications invalidated every time when a new commit is pushed to the repository. This is especially bad when manifest generation is taking a lot of time and resources.

The enhancement proposal is described in https://github.com/argoproj/argo-cd/pull/4273#issuecomment-696440801 . The PR already implements %50 of required changes so we need to merg

[2020-10-20 00:30] #4605 closed

[2020-10-20 00:36] ecda909 opened #4607 "Argo-cd API Call to Create Deployment"
Hi, I have an Argo-cd configuration running locally and have it all running appropriately. I can deploy my Kubernetes objects and my pods within their respective namespaces and all my applications are updating when I make commits to my github repository, as expected. What I would like to do now is take my deployment process up a notch. I would like to deploy new argo-cd applications via API calls.

[2020-10-20 00:42] ecda909 opened #4608 "Argo-cd API Call to Create Deployment"
Hi, I have an Argo-cd configuration running locally and have it all running appropriately. I can deploy my Kubernetes objects and my pods within their respective namespaces and all my applications are updating when I make commits to my github repository, as expected. What I would like to do now is take my deployment process up a notch. I would like to deploy new argo-cd applications via API calls.

[2020-10-20 03:27] jsoref opened #4609 "Add ssh known host form is missing white background"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Unlike most forms in argocd, there's no white background in the add ssh known host form

**To Reproduce**

A list of the steps required to reproduce the issue. Best of all, give us the

[2020-10-20 03:44] jsoref opened #4610 "Update swagger docs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

1. Visit https://cd.apps.argoproj.io/swagger-ui#tag/AccountService
   * https://cd.apps.argoproj.io/swagger-ui#ope

[2020-10-20 03:52] jsoref opened #4611 "Login page link should be "Log in" (the verb phrase)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`Login` is a noun, `Log in` is the act of logging in
(The same applies for `sign in`.)

**To Reproduce**

1. Open an incognito session
    1. Visit https://github.com/
    1. Visit http

[2020-10-20 06:08] jgwest commented on #3663
## Short version

- This issue references a number of behaviours (which I carefully work through below), but with the possible exception of A, none of them are 'bugs' in Argo CD.
- As part of this issue, @alexmt has added additional improvements over the last few months to make it more obvious that a sync operation is in progress, which should reduce any confusion over what Argo CD is up to during

[2020-10-20 06:24] jgwest commented on #4175
Hey all, it turns out this is not an Argo CD issue, but rather due to the behaviour of the prometheseus-operator itself.

As mentioned, when you look at the difference between what Argo CD expects (desired state), and what it finds (live state), you will see the only difference is this:
[code]

Argo CD expects to find the above field in annotations, but the CRD itself does not contain it. Why is t

[2020-10-20 07:20] imranismail opened #4614 "Resource hooks and sync loop bug"
https://youtu.be/uWuKi32SGeY

Whenever a resource hook fails, it somehow doesn't stop the app from resyncing and somehow goes into a sync loop.

The resources gets created but deleted as soon as it is recreated. This goes on an on until the sync is terminated and reattempted.

[2020-10-20 09:38] GerbenWelter opened #4615 "Unable to schedule all pods on nodes with specific role"
Checklist:

* [✓] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [✓ ] I've included steps to reproduce the bug.
* [✓ ] I've pasted the output of `argocd version`.

**Describe the bug**
We wish to run all ArgoCD pods on a set of designated nodes. We can only partially achieve this.

When we set the default annotations for node selection and tolerations on the namespac

[2020-10-20 11:24] AlphaWong opened #4617 "argocd do not support `env` in `Kustomization`"
if the Kustomization comes with `env` inside the `configMapGenerator`
[code]

it cannot be recognized and fail to deploy.

# reference
https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#configmapgenerator

[2020-10-20 12:29] KarstenSiemer commented on #3086
Additionally I'd like to add that apps provide a far greater rate limit, have fine grained access control and as a huge plus, you don't even need to manage users for it.
Overall a pretty damn fine feature if you ask me.
But would mean quite some work with the ttl of the tokens and would only benefit users of github.

[2020-10-20 12:51] hendrikmaus commented on #3086
I have started to work on the feature last week, but after reading through https://github.com/argoproj/argo-cd/issues/4348 I am not confident that github-specific code might make it into argo-cd at all. Could someone from the maintainer team shed some light if it is worth to continue on the feature?

[2020-10-20 13:45] gaganhegde commented on #4230
Hey @alexmt , Ive included a new component called ui-banner in the argo-ui library, would it be okay to exclude it from the gitignore and raise a PR?

[2020-10-20 14:14] suppix opened #4618 "can't create namespace with CreateNamespace=true"
Hello.

What I do wrong ?

Here is my app.yaml for argocd, I also use 1.7.8 argocd release.
[code]

But I get `namespaces "ingress-nginx" not found`

[2020-10-20 14:41] Stephan3555 commented on #4468
Is there any timeline when and in which version this feature will be released?

[2020-10-20 16:20] darshanime commented on #4348
The issue is that the token created by using the jwt token (encoded with the github app's private key) has an expiry of 1 hour only. So, without explicit support of Github apps in ArgoCD, users will have to write external logic that will regenerate the token and update `argocd-cm` every hour.

[2020-10-20 16:35] der-eismann opened #4619 "Logs of finished init containers are repeating indefinitely"
**Describe the bug**

When looking at the logs of a finished init container it first only shows the original log output . After 3 seconds the same output is appended at the end. After another 3 seconds again. This goes on indefinitely and makes the logs endlessly long even though the container has finished already.
This happened after we upgraded from 1.7.4 to 1.7.8.

**To Reproduce**

Open the lo

[2020-10-20 17:40] jsoref opened #4620 "Make it easier to discover how to add documentation to swagger.json"
# Summary

Add a contact field to the top of the swagger.json file which links to a page that explains how to update the file (and potentially how to file bugs/etc.)

# Motivation

For #4616, I went through a lot of trouble trying to figure out how to properly update the `swagger.json` file.

# Proposal

Add a `contact` field to the `info` element of `swagger.json`. The `url` field could link to a

[2020-10-20 18:03] mayzhang2000 commented on #4618
Hi @suppix,
I used the app.yaml you provided and only modified source/path and sourth/repoURL as below. After creating this app, I can see namespace `ingress-nginx` is created. Namespace creation step is also listed in the sync result for the first time it is synced.

[code]

![image](https://user-images.githubusercontent.com/7737306/96625871-95700000-12c3-11eb-868f-5337303f334c.png)

Here are my

[2020-10-20 18:06] xsreality commented on #4013
Came across similar issue with same symptoms and log messages as OP. In my case the issue was because the node was under memory pressure. Moving the application controller pod to a different node fixed the issue.

[2020-10-20 20:36] mayzhang2000 commented on #4610
Since the PR is merged already, I am closing it.

[2020-10-20 20:36] #4610 closed

[2020-10-20 20:38] mayzhang2000 commented on #4608
Here is the documentation: https://argoproj.github.io/argo-cd/developer-guide/api-docs/.

[2020-10-20 20:38] mayzhang2000 commented on #4607
This is duplicate of #4608

[2020-10-20 20:38] #4607 closed

[2020-10-20 21:09] jsoref opened #4623 "Integration tests badge and link are wrong"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2020-10-21 04:41] jgwest opened #4627 "Data race between gitops-engine's pkg/cache/cluster.go and itself, on Argo CD startup"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.

### Describe the bug

There appears to be a data race within gitops-engine's clusterCache (`pkg/cache/cluster.go`), between `synced()` and `EnsureSynced()`. This _appears_ to be intentional, as my guess is the author wanted to allow the synced value to be r

[2020-10-21 07:18] hawksight commented on #3735
In case it helps I've noticed Helm 2 is EOL as described [here](https://helm.sh/blog/2019-10-22-helm-2150-released/#helm-2-support-plan). Also you can see the main charts repo has an end of support for [Novemeber 2020](https://github.com/helm/charts#deprecation-timeline).

So I know that configurable helm version is part of the [1.8](https://github.com/argoproj/argo-cd/milestone/20) milestone for

[2020-10-21 07:27] insanemal opened #4628 "Add the ability to add annotations to all automatically created namespaces"
# Summary

Currently Argo CD can automatically create namespaces. We use Rancher UI. These namespaces do not have the RancherUI annotation for Rancher Projects. It would be nice to be able to define on the Project or even application level annotations that get added to automatically created Namespaces.

# Motivation

When using ArgoCD and Rancher UI

# Proposal

I think it could be a project level

[2020-10-21 08:29] Sonlis opened #4629 "Cannot login with initial admin password"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

I just cannot login to the argocd server. I followed the steps in the getting started guide, did not change anything, patched the argocd-server service to be LoadBalancer, but I cann

[2020-10-21 10:15] dmitry-semenov-rtl opened #4631 "Declarative approach and plugins support"
We can define our own plugins and then create an app like this `argocd app create MyApp --config-management-plugin <pluginName>` and it works, the plugin is called for `MyApp`.
But when `MyApp` is an app-of-apps (MyApp --> App1) then the plugin isn't called, my App1 definition is this:
[code]

I want the same plugin to be called on all apps.
Is it even supported? Is "plugin" section in this file a

[2020-10-21 10:20] theobarberbany commented on #4415
@jessesuen any chance of some thoughts on this? :)

[2020-10-21 11:19] andronux commented on #2737
🆙

[2020-10-21 11:21] rosscdh opened #4632 "argocd proj role create-token project role - missing ability to name a token"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2020-10-21 12:15] gaganhegde commented on #4230
A PR for this issue has been raised https://github.com/argoproj/argo-cd/pull/4626 .

[2020-10-21 13:56] jMarkP commented on #4600
Thanks! Will work on finishing off my change and raising a PR

[2020-10-21 14:03] tetchel commented on #4629
Hi, the secret is called `argocd-secret`, not `argocd-cluster`. But inspecting the secret won't give you the password anyway, since it is encrypted.

What does the command from [step 4](https://argoproj.github.io/argo-cd/getting_started/#4-login-using-the-cli
) print? After making sure the server pod is running.

`kubectl get pods -n argocd -l app.kubernetes.io/name=argocd-server -o name | cut -d'

[2020-10-21 14:12] jopit commented on #4576
/assign @jopit

[2020-10-21 14:36] darshanime commented on #4619
@alexmt I think [this commit](https://github.com/argoproj/argo-cd/pull/4315/files) introduced the regression. What do you think about adding back this [here](https://github.com/argoproj/argo-cd/pull/4315/files#diff-884cea1f0a354998c12cefc2b8097a881fe6d621fa91c1c549d241d6023fa5b5R70):

[code]

[2020-10-21 14:48] darshanime commented on #4629
you can reset the password like so:

[code]

Use the new argocd-server pod's name as the password

[2020-10-21 15:15] tetchel commented on #4632
I can pick this up.

[2020-10-21 15:43] tetchel opened #4633 "Long token names are cut off and cannot be read"
![image](https://user-images.githubusercontent.com/8888438/96744017-96239780-1392-11eb-91ca-588d1005fedd.png)

There should at least be hover help, but since the timestamps are cut off too, maybe this slidingpanel should just be made wider.

[2020-10-21 16:10] tetchel commented on #4632
There also doesn't seem to be a way to list the tokens for a given role, another feature that is available in the web UI.

[2020-10-21 16:51] jsoref opened #4634 "error message application conditions needs to convert newlines to brs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Some programs spit out formatted output that include new lines and whitespace to indent lines so that they look "pretty". Argo presents that output as a single `<div>` and doesn't conve

[2020-10-21 16:52] caseyclarkjamf commented on #4044
I think we're seeing something similar on 1.7.6. Refreshing is taking longer than it used to and App Diffs (either the diff for the entire app or individual resources) are not returning any results. When trying to view diffs the UI throws this error:

`Unable to load data: cache: key is missing`

And in argocd-server logs I see this message:

`argocd-server-75b6f956c-2wljl server time="2020-10-21T

[2020-10-21 18:34] jannfis commented on #3717
Should be fixed by #3966 - feel free to reopen if it isn't.

[2020-10-22 00:50] tetchel opened #4637 "Add CLI for listing the tokens available to a project's role"
There is a web UI which lists tokens that a role owns, but there is no CLI for it.

![image](https://user-images.githubusercontent.com/8888438/96805201-107a0900-13df-11eb-952e-c88e6e6b0607.png)

[2020-10-22 07:48] Sonlis commented on #4629
@tetchel , it prints me the argocd-server pod name, `argocd-server-67885bdcff-pdhr8`. When I try to use it as the admin password it does not work.

@darshanime , the first command returns `Error from server (NotFound): secrets "argocd-secret" not found`. I really do not know how this can be happening, I just applied the manifest from getting started and nothing else.

[2020-10-22 08:16] aaad opened #4639 "Add menu to get command to connect to container"
# Summary

When I debug a container in k8 I need to connect to the container. For this I need to query the pod, container and namespace. It would help me if I had a window in argocd that allows me to copy the command to exec into the container. The command may be: kubectl -n namespace exec -it pod-name -c container-name -- /bin/sh

# Motivation

It would help me work more efficient with k8.

# Pro

[2020-10-22 10:34] mikebryant opened #4640 "Add some printer columns for Application"
# Summary

There should be some more printer columns so `kubectl get applications` gives an overview of the status

# Motivation

I use kubectl heavily when in my dev cycle, this would let me quickly see what's happening with an application

# Proposal

Add kubebuilder annotations for Sync Status, Health Status, and Revision

[2020-10-22 14:03] tetchel commented on #4629
darshan's commands don't specify a namespace - add `-n argocd`. Or change your currnet context's namespace to `argocd`:

`kubectl config set-context $(kubectl config current-context) --namespace="$argocd"`

[2020-10-22 14:08] tetchel commented on #4639
hi, is this where you'd want it?
![image](https://user-images.githubusercontent.com/8888438/96883584-94b7a500-144e-11eb-8dff-d5638ca1eb3c.png)

[2020-10-22 14:16] aaad commented on #4639
Hi, thank you for the fast response.

Yes, but one line for each container that runs inside the pod. Or in the logs.

[2020-10-22 14:18] tetchel commented on #4639
The logs view already has the containers listed.

Maybe we could rename that view to "Containers" and have the kubectl command somewhere there too.

[2020-10-22 14:19] tetchel commented on #4619
I noticed this same problem in https://github.com/argoproj/argo-cd/issues/4450 - I expect a fix for this would fix that too.

[2020-10-22 14:22] aaad commented on #4639
Sounds great! Most of the time when I debug a problem I switch to the logs and sometimes decide to jump into the container. This would be a good place for me and help me a lot. :)

[2020-10-22 16:57] #4611 closed

[2020-10-22 18:18] Sonlis commented on #4629
Ok I am so stupid. Indeed resetting the password worked, thank you very much and sorry for your time loss !

[2020-10-22 18:22] tetchel commented on #4629
can you close the issue if you are satisfied?

[2020-10-22 18:26] #4629 closed

[2020-10-22 19:37] mleklund commented on #4128
Yes! I would love to be able to add ArgoCD Applications from any repo, but not touch the rest of the items in the argocd namespace.  Thus allowing each argo app to manage itself.  Another option would be to allow Argo to watch for application CRDs in any namespace.

[2020-10-22 20:06] #4231 closed

[2020-10-22 21:07] #4640 closed

[2020-10-23 00:13] rbreeze commented on #4476
@Subreptivus Have you tried on the latest version? I'm unable to reproduce with the resource tree you sent me.

[2020-10-23 06:34] Subreptivus commented on #4476
Sorry, there is no change. Just tried v1.7.8. Have sent details you were asking for in Slack DM.

Thanks!

[2020-10-23 10:52] jgwest opened #4643 "Data race between processAppRefreshQueueItem and processAppOperationQueueItem, in appcontroller.go"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.

This data race occurs because separate goroutines running `processAppRefreshQueueItem` and `processAppOperationQueueItem` (both in `appcontroller.go`) read and write from the indexer cache object within the same timeframe (in this case, `processAppOperation

[2020-10-23 11:24] hendrikmaus commented on #4348
Please see https://github.com/argoproj/argo-cd/issues/3086#issuecomment-712826175 - I have started working on the integration, but am quite uncertain if the code would be accepted at all due to its github-specific nature.

[2020-10-23 11:34] rajivml opened #4645 "Display List of Git Branches as Drop Down"
HI,

# Summary

Is it possible to display list of all branches under a github repo. Since you guys support both branches and tags may be an additional drop drop where user will select he needs branches or tags , if branches is selected then show list of branches as an other drop and if tags is selected then fetch and show list of tags as drop down

![image](https://user-images.githubusercontent.co

[2020-10-23 12:03] hacktron95 opened #4646 "Add argocd disaster-recovery to Amazon S3 example"
# Summary
Add an example to the [Argocd disaster recovery page](https://argoproj.github.io/argo-cd/operator-manual/disaster_recovery/), on how to create a cronjob backup from within the cluster to amazon S3.

# Motivation
I spent some time trying to figure a good way on how to backup from within the cluster, and thought it might be helpful for others if there was an example on that.

# Proposal
ad

[2020-10-23 12:12] jetersen commented on #4348
We already have vendor specific webhooks in code. Why stop there. If Bitbucket or Gitlab users are interested in adding additional support for authentication they should be welcome to contribute the support?

if it is not possible, than ArgoCD should offer some sort of extensible model where the community can add in features.

[2020-10-23 13:26] varshabhijeet opened #4648 "Argocd"
I want to create application in argocd only using my custom values.yaml which present in local machine or cluster how to configure application.yaml??

[2020-10-23 14:12] ronaldour commented on #4577
@jessesuen Is there any known workaround to orchestrate the deployment order of applications in the meantime?
We are facing the same issue, the sync-waves work perfectly on the initial deployment, but not when syncing the app after that. It seems that it just updates the Application resource but it doesn't wait for the actual resources of the application to be updated.

[2020-10-23 15:16] oboukili opened #4649 "Support Kustomize commonLabels --force option"
# Summary

ArgoCD should support overriding Kustomize common labels when they are already present in the target repository/path declarative manifests.

# Motivation

ArgoCD already supports setting Kustomize commonLabels imperatively through the CLI, however there is one use case where Kustomize will fail when trying to overwrite existing commonLabels keys present in the declarative manifests. Kus

[2020-10-23 15:31] tetchel commented on #4645
I will pick this up

[2020-10-23 15:52] aafishman commented on #3573
I am having the same issue I believe - has anyone been able to set up with OneLogin recently? I am new to our orgs one-login setup, though I believe I have set up ArgoCD to default to read-only at least if the creds are not valid.

[2020-10-23 16:13] darshanime commented on #4348
seems fair to include it IMO.
@jessesuen @alexmt @jannfis thoughts?

[2020-10-23 16:18] MPV opened #4651 "Create ArgoCD cluster with declarative setup using existing secret containing kubeconfig"
# Summary

Does declarative setup for ArgoCD already support creating new clusters using an existing secret containing a `kubeconfig` file?

If this isn't already supported: this is what I'm after.

# Motivation

I'd like to use ArgoCD + Cluster-API for:
1. Creating new clusters using Cluster-API + ArgoCD.
2. Letting ArgoCD become aware of (get access to) those clusters.
3. Letting ArgoCD deploy a

[2020-10-23 17:27] jannfis commented on #4348
I can definitely see the use case, and looking at #3086 also the demand for this feature.

I think it might be worth to explore a more generic approach to get an authentication token for Git, so it could also be extended to other providers that use similar mechanisms. IMHO, a possible implementation should already be designed generic enough to consider the possibility of other similar auth provide

[2020-10-23 18:46] keithchong commented on #4393
Hi @alexmt , just wanted to give you an update.

Here's a 480p video that demonstrates the test in action.
- Create the app
- Sync it
- Wait for status flags (Healthy and Synced - see console on right side of the video)
- Delete the app
- Wait for the delete operation to complete

This can also be run in headless mode (no browser is launched).

[initialUiTest-480p.zip](https://github.com/argoproj/

[2020-10-23 20:33] #4643 closed

[2020-10-23 20:36] alexmt commented on #4646
Thank you @hacktron95 . PR is very welcome.

[2020-10-23 20:38] alexmt commented on #4648
Hello @varshabhijeet ,

I think you have two possible options:

Embed value into `values` field on application CRD:

[code]

or move values into git

https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/application.yaml#L35

[2020-10-23 20:44] alexmt commented on #4651
It seems strange to reference secret from another secret. Can you please clarify why don't create argocd compatible secret? Do you need to share one secret with Kubeconfig between Argo CD and some other tool?

[2020-10-23 22:14] MPV commented on #4651
Yes, that kubeconfig secret is created/managed by another tool:

The new cluster is created dynamically from custom resources. After its creation, the "Cluster API" controller that created the cluster creates a new secret which contains just the kubeconfig.

[2020-10-23 22:25] alexmt commented on #4651
Thank you for the information @MPV ! So config is created by Cluster API.

In the past, we've made changes to get smooth integration with other opensource project. E.g. changed secret key to `tls.crt`/`tks.key` in order to simplify using cert manager.

How do you think, is it possible to do something similar in this case? E.g. Argo CD might support a new secret like `kube.config` and "Cluster API"

[2020-10-24 00:23] alexmt commented on #4619
Thank you for the investigation, @darshanime !

I've removed the above code because it appears that SSE API restart request automatically when it get closed and totally forgot about logs API where we need to avoid automatic restart.

I've changed code above because SSE API does not provide a reliable way to detect closed streaming connection so application watch API was flaky. I've changed the app

[2020-10-24 01:54] #4135 closed

[2020-10-24 05:08] darshanime commented on #4619
Hmm, that seems like a good idea, I can raise a PR for this.

An alternative is avoiding client retries and solving the long lived connection timeouts(for which client retries were introduced afaik) with the server sending keepalive pings(see [this](https://github.com/argoproj/pkg/pull/30) and [this](https://github.com/argoproj/argo-cd/pull/4564)).

What do you think we should proceed with?

[2020-10-24 07:08] suppix opened #4654 "kustomize resources external git repo cache"
Hello.

I want to keep some part of my configuration in another git repo .

In my main.git repo I have something like this:

kustomization.yaml
[code]

But when I change conf.git repo, argocd doesn't see any changes. As I can see in the logs argocd sees that main.git doesn't have any changes and doesn't check conf.git

Is it possible somehow to fix this ? or it's wrong idea to use external repo li

[2020-10-24 08:54] MPV commented on #4651
I'm after something like this, but also automatically deploying apps into the newly created cluster, just after its creation:

https://youtu.be/9pFBgxDa7Aw

...and without needing to push more than one git commit, containing all of:
- the cluster definition (in cluster API resources) for creating the cluster.
- the ArgoCD cluster config/secret for the new cluster.
- multiple ArgoCD apps instructed

[2020-10-24 08:55] MPV commented on #4651
@alexmt Yeah, let's investigate. I opened up a mirror issue over at https://github.com/kubernetes-sigs/cluster-api/issues/3866

[2020-10-24 11:49] janwillies commented on #4651
I'd love to see this too. Currently you have to jump through hoops to make this work, e.g. https://github.com/janwillies/crossargo-sync, https://github.com/infracloudio/crossplane-secrets-controller, ...

It would be very convenient if argocd would take a regular kubeconfig

[2020-10-24 16:39] rajivml opened #4655 "Tool Tips against text Boxes rendered via values.yaml files"
# Summary

HI,

Can you guys add this functionality where when you are rendering the values.yaml file as an form with text boxes, if there an way to add tool tips or info icon that would be great from an end user experience standpoint

something like this,

![image](https://user-images.githubusercontent.com/46923567/97086879-b037d100-1643-11eb-8f75-22c59f0216ca.png)

# Motivation

We have just now

[2020-10-25 05:57] gaurav517 commented on #3688
Did you find a workaround for this @wmcnamee-tunein ? We have a similar issue where our base jsonnet libraries are in different repo (shared by many other repos).
One idea is to keep all app manifest files in one repo only.. but we don't prefer that.

Also I got confused by `prefixed by repoRoot` in `--jsonnet-libs stringArray           Additional jsonnet libs (prefixed by repoRoot)`. Which `repoR

[2020-10-25 09:36] kgaurav2 commented on #3688
we changed our strategy and we are going to keep all app manifest files in same repo as library.

[2020-10-25 10:02] kgaurav2 opened #4656 "Possible to read jsonnet tla(s) from a file?"
jsonnet gives a way to read tla(s) from a file.
[code]
Also kubecfg gives this option:
[code]

Is this possible to do with argo-cd?
It would handy:
- CI commits/pushes a change of docker-tag to a properties file
- before syncing, argo-cd reads the properties file and updates its tla(s)
- sync app.

I am new to argoCD and not sure how this can be achieved with argo-CD?

Thanks,

[2020-10-25 13:21] sergkkaltura opened #4657 "unable to sync deployment with pod topologySpreadConstraints configured"
**Describe the bug**

On a k8s v1.17 cluster, Pod Topology Spread Constraints won't sync once applied to a deployment. Deployment does not get the update and stays in 'OutOfSync' state.

**To Reproduce**

1) Add topologySpreadConstraints object to a pod spec under a deployment manifest, for example:
[code]

2) Sync the deployment in ArgoCD UI.

**Expected behavior**

Application should sync proper

[2020-10-25 13:35] sergkkaltura commented on #4657
After reviewing Kubernetes documentation one more time, it seems that topologySpreadConstraints is in beta state only since k8s 1.18 and EvenPodsSpread=false until that version.
That might explain why the feature is not able to sync on my cluster which is running on v1.17.
Still, I'm not sure that the expected behaviour in ArgoCD is to leave the change "Un-syncable".

[2020-10-25 23:45] dewan-ahmed commented on #4393
This is my[working file](https://github.com/dewan-ahmed/argo-cd/blob/dewan-4393/test/smoke/app_create_cli_test.go) for the first test - app creation. Per the discussion from community call, these are my assumptions:

- argocd cli is installed
- argocd server variable is set
- argocd cli is authenticated with username 'admin'

However, I'm getting the following error when running my test script:
`t

[2020-10-26 08:21] nicolas-geniteau commented on #4175
Thanks @jgwest for your detailled answer !

I tried to add this, but still have a diff:

[code]

Any idea ?

[2020-10-26 13:18] jannfis commented on #4393
@dewan-ahmed Looking at what's happening in `test/e2e/fixture/fixture.go`, I'd assume that authentication only works with hard-coded credentials also on the server side. That means your server must be set-up with an admin password of `password` - then `RunCli()` should work as expected.

[2020-10-26 14:00] darshanime commented on #4656
how about using the [`--file`](https://github.com/argoproj/argo-cd/blob/master/cmd/argocd/commands/app.go#L201) argument?

[2020-10-26 14:02] dewan-ahmed commented on #4393
Hi @jannfis that was the issue, thank you! Now the authentication error is gone.

[2020-10-26 14:07] #4633 closed

[2020-10-26 14:12] jgwest commented on #4175
Hi @nicolas-geniteau, this worked for me:
[code]
Think the main difference is I used `/metadata/annotations` rather than `/metadata/annotations/`

[2020-10-26 14:13] darshanime commented on #4657
ArgoCD compares the live state and git state and if they don't match, marks the resource as not synced.

Since in this case, the kube-apiserver won't accept the state as present in git, the state cannot be reconciled.
Check [diffing customization](https://argoproj.github.io/argo-cd/user-guide/diffing/) to see how to handle this

[2020-10-26 14:22] hendrikmaus commented on #4348
My implementation was purely targeting github apps and I did not touch on the token ttl at all; it simply created a new token for each request. I wanted to make it work first, then make it pretty. However, my org decided to drop the topic and pay for a github machine user to solve the issue.

[2020-10-26 14:34] GerbenWelter commented on #4615
Hmm, I just realized this more of an operator problem so I'm going to retest and if needed open an issue on the [operator github](https://github.com/argoproj-labs/argocd-operator).

[2020-10-26 14:34] #4615 closed

[2020-10-26 14:39] jetersen commented on #4348
@hendrikmaus would you be willing to push the code, so I could continue the work?

[2020-10-26 14:42] hendrikmaus commented on #4348
Sure, can do. I'll add a couple of comments though to indicate where I left off so you can get up to speed.

[2020-10-26 14:57] hendrikmaus commented on #4348
@jetersen here you go https://github.com/hendrikmaus/argo-cd/commit/5fa181b16839b827105bec2feee403d1f719c19a hope it helps

[2020-10-26 15:06] jetersen commented on #4348
Much appreciated, I'll see what I can do.

[2020-10-26 15:11] MPV commented on #4651
For reference, this is how such a secret looks like (in the Cluster-API example):

[code]

[2020-10-26 15:13] MPV commented on #4600
This seems related to #4651 (being able to config a Cluster using regular Kubeconfig), but while #4651 prefers referring to an existing secret with a base64-encoded, I understand that your proposal here @jMarkP is about embedding the full Kubeconfig inside the Cluster config. Just wanted to mention this, to see if there's any values in syncing ideas/solutions based on similar/common use cases.

[2020-10-26 15:18] MPV commented on #4651
#4600 talks about making ExecProvider available in the Cluster config.

Maybe it could become a way/workaround to solve #4651 (by running something that gets the credentials from the existing secret and outputs it to stdout, [as per default `ExecConfig` behaviour](https://godoc.org/k8s.io/client-go/tools/clientcmd/api#ExecConfig)).

[2020-10-26 15:48] josecv commented on #4249
This same issue seems generally applicable to e.g. `ControllerRevision`s but also operator-managed resources such as argo-rollouts' `AnalysisRun`s

[2020-10-26 16:00] jsoref commented on #4249
@josecv: I think that my PR isn't actually specific to ReplicaSets, it should work for those as well (please review/test).

[2020-10-26 16:23] BartoszZawadzki opened #4661 "Diff remains empty after making manual changes via kubectl"
Checklist:

* [/] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [/] I've included steps to reproduce the bug.
* [/] I've pasted the output of `argocd version`.

**Describe the bug**

We've made manual changes via kubectl to our DeamonSets. Those changes included adding a Label, a volumeMount and a Volume. We can clearly see the difference in ArgoCD UI (Live Manifest

[2020-10-26 17:29] igaskin opened #4662 "Dockerize *-docs Makefile commands"
# Summary

Add an option to build the documentation for a docker container

# Motivation

Running `make build-docs` calls out to `mkdocs` directly, which assumes that contributors have `mkdocs` installed locally and has dependencies on various python packages

# Proposal

All `*-docs` make commands should be have options to execute in a dockerized environment.  This brings this generation command

[2020-10-26 17:39] #4416 closed

[2020-10-26 17:42] jsoref opened #4663 "Automatically renew credentials / Fix reporting of auth rejected"
# Summary

If the user has an `argocd.token` cookie, and a request for `/api/v1/clusters` or `/api/v1/applications` returns a `401`, the current response is:

![Failed to load data, please try again.](https://user-images.githubusercontent.com/2119212/97184723-9c8c8780-1775-11eb-89ad-b06d481f9540.png) and
![Unable to load data: Request has been terminated Possible causes: the network is offline, Or

[2020-10-26 17:51] aafishman commented on #3573
Update - looks like the documentation needs to be updated - I tried entering the clientsecret **without** base64 encoding and it worked.

[2020-10-26 18:50] AceHack commented on #2892
I don't understand the colors

[2020-10-26 19:41] tetchel opened #4665 "No error marker/message if an invalid filter is applied"
If you enter an invalid filter, IE a project, cluster, or namespace that does not exist, there is no feedback.

The Filters box already knows what valid entries are - you can see them in the autocomplete. So if a filter that will never be satisfied is applied, we should draw the user's attention to that filter in some obvious way.

![image](https://user-images.githubusercontent.com/8888438/9722044

[2020-10-26 20:10] tetchel commented on #4645
1. Is there a use-case for tags here, too? Or are we only interested in branches?

Obviously I don't want to show every revision, since a list of all commit hashes would not be very useful.

2. Is there any preference for the order to display the branches in?
eg.
  - Most recently updated
  - Lexographic
  - something else?

[2020-10-26 20:25] jsoref opened #4666 "Root icons aren't aligned with text unlike other icons"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-26 20:35] jessesuen commented on #4654
Correct. This behavior is expected and is a pattern we discourage because the commit SHA can change meaning, when the remote changes, so things like rollback are not deterministic.

[2020-10-26 20:38] jetersen commented on #4348
After exploring the issue, I feel there would be a lot of copy paste to have a working implementation since I would need to support pagination, token extract to properly extract the github app installations to generate an github installation access token.

[2020-10-26 20:39] jessesuen commented on #4656
I think the proposal seems reasonable. We need to update the spec to introduce a new field, which is a relative path to a json tla file

https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/application.yaml#L71-L84

[2020-10-26 20:40] jessesuen commented on #4656
This is for an application CR file, and unrelated to the jsonnet.

[2020-10-26 20:42] jessesuen commented on #4657
This is expected behavior. Since your cluster doesn't yet support the field, it gets dropped and Argo CD correctly reports the diff.

[2020-10-26 20:45] jessesuen commented on #4661
This is expected behavior. Your changes are treated the same as if a controller made an out-of-band edit of your manifests. The only diff that we report, are the ones that are on fields managed by the user. This behavior matches `kubectl diff`.

[2020-10-26 20:47] jessesuen commented on #4662
Argo-rollouts takes this approach. We were able to use an off-the-shelf mkdocs image. See:
https://github.com/argoproj/argo-rollouts/blob/master/Makefile#L155-L156

Here are Argo CD dependencies:
https://github.com/argoproj/argo-cd/blob/c7c554674ec23c4c130ba5a6710e846a48ceb0c0/.github/workflows/gh-pages.yaml#L22

[2020-10-26 20:50] suppix commented on #4654
Hm. Can you please advice what is the best way to manage several conf files externally ?
Create a separate application ?  I need to delegate access to some parts of application  among several teams.

[2020-10-26 20:50] jessesuen commented on #4663
@jsoref we're actually supposed to be doing this already (seamless OAuth relogins). See:

https://github.com/argoproj/argo-cd/blob/master/ui/src/app/app.tsx#L72

Maybe theres just a bug/corner case we're not handling?

[2020-10-26 20:56] jetersen commented on #4348
@jannfis the problem with generalizing is that each of the vendor have slightly different methods for implementing the authorization from an application perspective.
I am not sure you can effectively generalize without knowing each implementation fully.

On the other hand some findings, the GitHub installation authorization token have a life time of one hour while our JWT claim we need to use to f

[2020-10-26 21:01] ncdc commented on #4651
Hi @alexmt! I'm one of the Cluster API maintainers. I'm curious about your statement:

Cluster API is currently creating a secret that contains a kubeconfig. However, this secret is only created after you declaratively request a new cluster (e.g. you create a `Cluster`, `AWSCluster`, `AWSMachineTemplate`, `KubeadmControlPlane`, `KubeadmConfigTemplate`, and `MachineDeployment` - this gets you a rea

[2020-10-26 21:10] hendrikmaus commented on #4348
I feared for that when writing the pseudo function.

Same feeling here. I reckon it would take a redesign of the entire credentials code.

Aside: https://github.com/palantir/go-githubapp has, at a glance, an appealing implementation of a cached client. And I agree, storing stuff in memory is fine as one can re-create tokens at any time.

[2020-10-26 21:16] jetersen commented on #4348
looks like a nicer library yet it still uses github-go 😅

[2020-10-26 21:52] jsoref commented on #4663
Maybe. Talk me through debugging? We see this consistently. We're using GitHub as our oauth provider.

[2020-10-26 22:09] jetersen commented on #4348
Based on https://github.com/palantir/go-githubapp/issues/46 I think we are best off actually using that go library and I have already implemented the get installation by repository. With the supported caching feature it should hopefully reduce the amount of code needed to implement the installation access token.

[2020-10-26 22:21] jetersen commented on #4348
Hmm actually now that I think about it.

It might be simpler to implement when using [`/repos/{owner}/{repo}/installation`](https://docs.github.com/en/free-pro-team@latest/rest/reference/apps#get-a-repository-installation-for-the-authenticated-app)
As you only need to find the installation id for a single repo and than if the installation id is the same as for another repo it still means we can ca

[2020-10-26 22:37] jessesuen opened #4669 "Argo CD might progress through waves/PostSync prematurely"
**Describe the bug**

After applying a manifest, Argo CD may assess the health of the resource too quickly, thereby progressing through the waves/PostSync before the 3rd party controller could update status. I think this problem was recently exposed with the performance improvements made in Argo CD, allowing us to reconcile much quicker than before.

**To Reproduce**

The sequence of events which

[2020-10-26 22:50] jessesuen opened #4670 "Support actions for CRDs that use status subresource"
# Summary

We currently have a Argo Rollouts action which updates status to "resume" a rollout. Rollouts is soon going to switch to using status subresources. See https://github.com/argoproj/argo-rollouts/issues/771. When this happens, this will break the Rollout resource action, because updates on status will be dropped by the K8s API server.

Argo CD needs a feature which will understand to Patc

[2020-10-27 03:59] darshanime commented on #4656
ah, gotcha thanks @jessesuen. I'll look into this 👍

[2020-10-27 07:25] #4632 closed

[2020-10-27 08:47] BartoszZawadzki commented on #4661
Could you tell me if that behavior changed recently? If yes, what made that change? I'm asking because we're pretty sure that when we added volumes or volumeMounts the app was marked as being out-of-sync.

[2020-10-27 10:21] Subreptivus commented on #4476
Hey @rbreeze!
Just to let you know that we accidentally found a workaround. For completely another issue, we've risen the values of resource limits for `argocd-server` and now there are no UI crashes anymore on newer versions of ArgoCD.
Here are the limits we're using now:
[code]
And here are the limits we were using previously:
[code]
Curious thing, that there were no crashes or OOM kills of `arg

[2020-10-27 10:52] srearnold commented on #4451
same question in gitlab.
Gitlab said rate limit of download archives is 5 requests per minute per user whatever through the UI or the API.

[2020-10-27 11:12] jetersen commented on #4348
I opened: #4673 where I added the token retrieval.

my experience with golang is not the strongest. So feel free to add suggestions to the pull request.

[2020-10-27 11:25] jMarkP commented on #4600
@MPV - thanks for that link, I think we are both trying to solve similar problems.

Not directly. My proposal here is more limited to just extending the existing ArgoCD cluster secret format (the `ClusterConfig` struct) to add support for the `ExecProvider` options. Having said that, being able to supply an arbitrary kubeconfig file for a `Cluster` that ArgoCD could just deserialize straight into

[2020-10-27 13:58] keithchong commented on #4393
Hi @alexmt, please have a look at my commit and my comment.  I think the ui-tests should be 'independent' of the rest of the ArgoCD code.

[2020-10-27 14:55] OmerKahani opened #4675 "Add Istio objects to the Network view"
# Summary

Add Istio objects to the network view, to better visualis the network of the application.
Istio has serval objects: Virtual service, Gateway, Ingress-gateway.

# Motivation

We have applications with Istio, so the traffic goes from an Ingress to a service and pods (ingress-gateway), and from there using virtual service and gateway to anther service and pods (the businss pods)

Today we

[2020-10-27 15:32] keithchong commented on #4393
Hi @alexmt , here is the outline of what needs to be done.

1. Review and merge this ArgoUI PR: https://github.com/argoproj/argo-ui/pull/69

2. After it is merged into master, then I will submit a PR for this commit.  It depends on the ArgoUI change above.
https://github.com/keithchong/argo-cd/commit/2da52b74a3e06c6fe5dd1bd9e607beb9cb4ed82d

3. After, I will then submit a PR for the following comm

[2020-10-27 16:17] szalapski commented on #781
Yes.  How can I read the top of the log when it keeps scrolling to the
bottom for me?

On Thu, Oct 15, 2020 at 3:10 PM Remington Breeze <notifications@github.com>
wrote:

[2020-10-27 16:42] tetchel opened #4679 "Expand aliases in CLI"
Adding aliases is a good improvement! The only concern is to have it consistently in all commands.

Can you please remove aliases in this PR and add them in a separate PR for all commands?

_Originally posted by @alexmt in https://github.com/argoproj/argo-cd/pull/4674#discussion_r512841803_

[2020-10-27 16:45] jsoref opened #4680 "Deleting root app which has a child app which is the argo that owns the root app is a mess"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-27 16:48] #4598 closed

[2020-10-27 16:52] alexmt commented on #4393
Thank you for summarizing the current state @keithchong ! The https://github.com/argoproj/argo-ui/pull/69 has been merged.

[2020-10-27 16:52] rbreeze commented on #4476
@Subreptivus Thanks for letting us know! Thanks to the data you sent me on Slack I've narrowed it down to a small segment of code, so this will be fixed even for those who don't want to increase the resource limits of their `argocd-server`.

[2020-10-27 17:46] vrodomista opened #4682 "Unable to use multiple GitHub orgs/team for argo-rbac-cm"
Hey all - we are trying to setup RBAC with OAuth to GitHub with Dex - and so far it has worked fabulously with a single role/group binding. We recently updated the `policy.csv` to contain the following:

[code]

After making these changes - not only were users in `redacted-org-2:redacted-team-3` unable to login to argoCD via GitHub - but my test account who is part of both team-1 and team-2 is onl

[2020-10-27 18:12] fbaier-fn commented on #3124
+1

[2020-10-27 19:08] vrodomista commented on #4682
Issue was because I did not list teams and orgs in argocd-cm dex config

[2020-10-27 19:08] #4682 closed

[2020-10-27 19:11] keithchong commented on #4393
Hi @alexmt, thanks for reviewing/merging.  The PR for the second step is created.  See:

https://github.com/argoproj/argo-cd/pull/4683

[2020-10-27 19:45] davidkarlsen commented on #3709
Related: https://github.com/argoproj/argo-cd/issues/2785

[2020-10-27 19:56] #4637 closed

[2020-10-27 19:58] dewan-ahmed commented on #4393
Thanks for the review comment on https://github.com/argoproj/argo-cd/pull/4676/ @alexmt . I'm summarizing the new approach here:

1. The user is expected to run `argocd login ....` prior to running the smoke tests. We cannot assume using `admin/password` combination. Thus, we cannot use existing `fixture, RunCli` packages and need new helper functions.
2. The helper function will run the `argocd`

[2020-10-27 20:20] alexmt commented on #4578
Seems like no one has objections about your proposal @tetchel .

As a first step we can introduce `stable`/`release` branch. I would prefer `release` ( `stable` makse it sound like master branch is not stable). Next we can automate publishing to NPM using semantic-release or auto, as @RichiCoder1 is proposing.

What do you think?

[2020-10-27 20:40] jessesuen commented on #4680
Theres a lot that needs to be improved with regards to app-of-apps, but we'd like to avoid special case handling as much as possible.

[2020-10-27 20:52] jessesuen commented on #4298
Closing, but please file a new issue if you see further problems

[2020-10-27 20:52] #4298 closed

[2020-10-27 20:55] jessesuen commented on #3502
correct

For CRDs (i'm not talking about CR instances), we ignore hooks completely and they are installed up front.

These features have been implemented in v1.8. Closing

[2020-10-27 20:55] #3502 closed

[2020-10-27 21:10] jessesuen commented on #4432
Decision is to:
1. introduce an exclusions field for the directory source
2. by default, the exclusion will ignore hidden files/directories (anything beginning with `.`)

[2020-10-27 22:38] #3349 closed

[2020-10-27 22:38] alexmt commented on #3349
Implemented by https://github.com/argoproj/argo-cd/pull/4018

[2020-10-28 04:17] rajivml commented on #4655
@jessesuen just want to check if this is feasible or not ?

[2020-10-28 09:52] msvechla opened #4688 "Add optional TLS encryption for Redis"
# Summary

Add optional TLS encryption for Redis.

# Motivation

All cloud-based Redis offerings have TLS encryption by default today to improve security. ArgoCD should support today's security standards.

# Proposal

This can be implemented by adding a new boolean flag `redis-use-tls`, which allows opt-in to TLS encryption. The default value can be false to not break backward compatibility.

[2020-10-28 10:38] vjtm commented on #1491
Hi there,

I am having issues using the declarative setup for the repositories. I am using argo-cd (v1.7.8) on k8s v1.18.8 (kind 0.9.0). ArgoCD is up and running fine.

This is the content of my ```argocd-cm``` from the ```argocd``` namespace (This is a test repo from a private project in Azure DevOps):

```argocd-cm.yaml```:
[code]
This is the ```repo-secret.yaml``` that references the ```argocd-

[2020-10-28 12:26] paveq opened #4691 "Cluster name should be supported on AppProjects"
# Summary

Cluster name feature introduced in v1.7 should be supported in AppProjects as well.

# Motivation

Should be able to give easy to remember name, instead of URL for the destination clusters in AppProject CRD.

[2020-10-28 12:29] hintofbasil opened #4692 ""failed to create new OS thread" application controller error"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2020-10-28 13:29] simran3695 opened #4693 "PVC Resizing through ArgoCD"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-10-28 14:27] keithchong commented on #4393
Hi @alexmt, I created the PR for step 3.  https://github.com/argoproj/argo-cd/pull/4694.  See PR for instructions on how to run the tests.

[2020-10-28 15:18] danylohetmantsev opened #4695 "Failed to unmarshal manifest if it doesn't have Kubernetes api definition (api, kind, metadata)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have argo application with two files in directory. One of them is a valid kubernetes manifest (eg. ingress), another one is helm values.yaml file (which is not the kubernetes manifest

[2020-10-28 16:40] jsoref opened #4697 "Filter by changed date"
# Summary

Currently you can filter by status (progressing/healthy) or kind (daemonset/pod)

It'd be nice to be able to filter by date.

# Motivation

We have a thing accumulates lots of old replicasets and similar objects. Argo performed a deployment, and everything had "settled", we wanted to be able to see what changes had actually happened. It'd be simple to see if we could filter by objects c

[2020-10-28 19:01] keithchong opened #4698 "docs: Add section on how to handle Argo UI changes in dependencies.md"
# Summary

Add documentation to describe how to handle Argo UI dependent changes in Argo CD.  This should be in the developer docs section under the dependencies chapter.

# Motivation

I came across this so it will be helpful for others in the future.

[2020-10-28 19:01] keithchong commented on #4698
Hi @alexmt, please assign this to me.

[2020-10-28 19:47] ecda909 commented on #4435
This would be a big help, because there are no other features I could find that handle this.

[2020-10-28 20:25] mac9416 opened #4700 "Add `/` keyboard shortcut to move focus to search in UI"
# Summary

A lot of sites (like GitHub) have a keyboard shortcut `/` to move focus to the search input. It would be handy for the Applications page of the UI.

# Motivation

It's just a tiny bit more efficient. I don't have to reach for the mouse or tab through an unknown number of elements to get to the search box.

# Proposal

Looks like a keyup event handler would do the trick. https://stackove

[2020-10-28 20:45] jessesuen commented on #4692
Could you provide some information about the size of your environment?
* # clusters
* # applications
* # resources in cluster(s)
* kubectl api-resources

Do you use the AWS exec plugin auth?

Consider tuning down the number of concurrent kubectl interactions using `--kubectl-parallelism-limit`. See: https://argoproj.github.io/argo-cd/operator-manual/high_availability/#argocd-application-controller

[2020-10-28 20:47] jessesuen commented on #4693
This is not the responsibility of Argo CD. Argo CD simply `kubectl applies` desired manifests. If the controller which handles the PVC doesn't resize it, then that is the issue of the backend controller.

[2020-10-28 20:47] #4693 closed

[2020-10-28 20:48] jessesuen commented on #4695
This behavior is expected. We don't yet have an exclusion feature to ignore non-kubernetes manifests. #4432 will address the ability to exclude/ignore other yaml files.

Duplicate of #4432

[2020-10-28 20:50] jessesuen commented on #4697
Note that only creationTimestamp is the only metadata which we could use, which might not be very useful for long lived objects. Theres no way to determine mtime.

[2020-10-28 21:13] roy-tonal opened #4701 "Bearer token missing in secrets when adding external cluster ( EKS )"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-10-28 21:18] jsoref commented on #4697
Creation time is what we need for our use case. Typically we have pods that are replaced by new pods, or replicas that are replaced (but that leave older empty replicas).

[2020-10-28 21:27] jaideepr97 commented on #4412
Hi @jessesuen
Curious to learn more about this issue and maybe take a crack at it
Are there any places you could point me to for building context around the involved components and their usage in argoCD?

[2020-10-28 21:35] jessesuen commented on #4701
I'm confused. EKS uses IAM auth, and not bearer tokens, so it's expected that we would not store/use bearer tokens.

[2020-10-28 21:47] torstenwalter commented on #4695
@jessesuen If I understand it correctly then #4432 is mainly about dot files. The goal of this one would be to have an option to ignore yaml files which are not Kubernetes manifests.

A simple way would be to check for `apiVersion` and `kind` fields and only treat yaml files, which contain both as Kubernetes manifests.

It's kind of blocking us from upgrading to newer Argo CD version as we have qu

[2020-10-28 22:44] MPV opened #4703 "app diff --local doesn’t detect additions of helm value files"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When you have an app that does helm templating, not all changes related to helm values files are detected by local diff.

**To Reproduce**

1. Define an app that uses 1 helm values file

[2020-10-28 22:57] #4476 closed

[2020-10-28 23:30] #4236 closed

[2020-10-29 04:08] wtam2018 commented on #4362
Hmm ...  The link does take me to "security considerations".   I don't have problem.

[2020-10-29 04:15] wtam2018 commented on #4392
@alexmt
Please assign to @wtam2018

[2020-10-29 05:51] foxracle commented on #2737
Is there a timeline for this fix to be released? I am still running into this issue with ingress Nginx

[2020-10-29 06:29] amitkrout opened #4704 "Unit test fails in github.com/argoproj/argo-cd/util/git package"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-10-29 07:41] wenwenxiong opened #4705 "argo-server will connect kube-apiserver failed"
https://github.com/argoproj/argo-cd/blob/f02115af155447f47d1921b7220af1effbf7d8e9/util/settings/settings.go#L1261

 hard code k8s cluster will choose cluster.local as dns_domian ,in k8s cluster choose different dns_domain will be connect failed for InitializeSettings with wrong  TLS cert.

[2020-10-29 08:13] jannfis commented on #4704
Unfortunately, we rely on some external assets in unit tests, mainly connections to remote Git repositories on GitHub and Azure DevOps iirc.

In this case, the root cause seems to be either your system (or Docker daemon) cannot access GitHub or GitHub had a hiccup, as can be clearly seen in the logs that `git fetch` from `https://github.com/argoproj/argo-cd.git` timeouts:

[code]

Anyway, I think

[2020-10-29 10:02] jsoref commented on #4362
It links to a page and says to look for `limitations`, there's only one instance of that word, and it isn't close to `local users`.

[2020-10-29 11:35] mikebryant opened #4706 "argocd app diff for app-of-apps"
# Summary

`argocd app diff --new-application-file app.yaml` should give a diff of what would be generated for a change to an Application object

# Motivation

I'm trying to build a CI pipeline using the app-of-apps pattern, so my git repo contains a bunch of yaml files each of which contains an Application definition. The root app applies this whole directory.

I want to be able to (pre-merge, in

[2020-10-29 11:39] foxracle commented on #3714
@alexmt  Is there a timeline for this fix to be released? I am still running into this issue with ingress Nginx.

argocd version: 1.7.7

[2020-10-29 11:39] mikebryant commented on #4706
Also the current diff behaviour only works for changes to the chart, it doesn't work for changes to `Application.spec.source.helm.values`

[2020-10-29 11:46] wtam2018 commented on #4362
I see.

[2020-10-29 11:57] jopit commented on #3744
I can take a look at this one.  Please assign to me.

[2020-10-29 13:20] roy-tonal commented on #4701
Ohh...I will take a look into this, I thought it uses bearer token just like KOPS cluster. The problem is I'm not able to get any guide for connection between Argo and EKS ( external cluster ). Thanks for the quick reply.

[2020-10-29 13:44] jgwest commented on #4412
Hi @jaideepr97

Was something like this what you were looking for? You should be able to do something like:
- Create an Argo CD sample app (with https://github.com/argoproj/argocd-example-apps/ always being a good place to start) that contains a manifest YAML with a newer version of `HorizontalPodAutoScaler` (for example, `apiVersion: autoscaling/v2beta2` at the root)
- Add and sync that app to th

[2020-10-29 15:34] roy-tonal commented on #4701
So it appears that the secret does adds the "bearerToken" when an external cluster is added. I create an IAM role for argo service accounts and then allowed it in aws_auth config map. I was able to add external cluster to argo and deploy apps too. I cross-checked the secret which gets created on argo server and found that bearerToken for the EKS cluster exists now.

[2020-10-29 16:01] OmerKahani commented on #4675
Hi, about the Gateway and the ingress-gateway:
Gateway uses a selector to config the ingress gateway according to the relevant virtual service.
The virtual service has the name of the relevant gateway in his spec.

This is kind of the ingress object in the `ResourceNetworkingInfo`, where the service added his upstream ingress.
The gateway should have the option to set the upstream labels (select t

[2020-10-29 16:08] #4403 closed

[2020-10-29 16:22] alexmt commented on #4412
A little more info:

I suspect the bug is on the UI side. UI uses `GET /api/v1/applications/<name>/resource` API to load resource but requests incorrect version. The request is initiated here:

https://github.com/argoproj/argo-cd/blob/0767dff025d6394ac6bdc357a2dc3fd567c3ab1a/ui/src/app/applications/components/application-details/application-details.tsx#L270

[2020-10-29 16:38] #4619 closed

[2020-10-29 16:39] #3781 closed

[2020-10-29 17:15] pavanfhw commented on #4192
Can someone with knowledge or a successful experience comment on this? In my case for example I can't deny get access to apps/projects in a role. The user with the role can see all apps and projects.

[2020-10-29 17:24] hintofbasil commented on #4692
33

35 (3 app of apps + 32 high resource apps)

~2100 deployed by each of the high resource apps.

~100 api-resources per cluster - varies slightly depending on the cluster.

No

If we see the issue again we will try using that flag.  So far it seems to be a one off.

[2020-10-29 17:52] amitkrout commented on #4704
Understood, May be some workaround would be helpful, let me try. I will update it here and keep using the the workaround until the issue is fixed.

Can you please share your thoughts on what are the possibility to mitigate use of external dependencies

[2020-10-29 19:48] mayzhang2000 commented on #2737
I think it is safe to cherry-pick to 1.7. I will take care of that if you approve.

[2020-10-29 19:52] alexmt commented on #2737
Thank you @mayzhang2000 ! Please, go ahead.

[2020-10-29 20:17] #4583 closed

[2020-10-29 20:40] jessesuen commented on #4701
[code]

optionally you can add:
[code]

[2020-10-29 20:47] jessesuen commented on #4705
Are you saying it is possible to configure these differently? How is this possible?

The auto-generated cert is meant as a temporary self-signed cert (just to have one), but the certs are intended to be replaced with one provided by the user (e.g. with cert-manager)

[2020-10-29 21:18] jessesuen commented on #4695
We discussed this and we agree that if we encounter a object that "looks like" a K8s object, and by "look like" it has fields: `kind`, 'apiVersion`, 'metadata`, and that object fails to unmarshal, then we will error. Otherwise we will ignore the file.

[2020-10-29 21:32] #4480 closed

[2020-10-29 22:54] DirtyCajunRice opened #4712 "Cluster names cannot be used via RBAC"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-30 04:30] tetchel commented on #4645
![image](https://user-images.githubusercontent.com/8888438/97660093-fc6d8180-1a46-11eb-8f46-8bae592acbad.png)

I went with HEAD, then branches, then tags. I think a way to toggle "show branches" and "show tags" options would be useful, but I will keep it simpler for now.

[2020-10-30 04:31] tetchel commented on #4645
I added it to the App summary page too.
![image](https://user-images.githubusercontent.com/8888438/97660184-33439780-1a47-11eb-94b4-5a3b080e54ee.png)

[2020-10-30 04:39] darshanime commented on #4450
closed in https://github.com/argoproj/argo-cd/pull/4696

[2020-10-30 06:44] amitkrout opened #4714 "Running ArgoCD locally fails on mac host"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-30 09:29] codeBehindMe commented on #2593
Would be nice for a GKE native integration to this.

[2020-10-30 14:38] tetchel commented on #4714
I don't know about the RBAC problem but to fix the UI failing to start you should `npm i -g webpack webpack-dev-server`.

I see your config is called `k3s.yaml`. What is the content of `~/.kube/config` ?

[2020-10-30 15:19] lanmarti commented on #3537
I'm still experiencing problems when upgrading. I moved from 1.5.8 to 1.7.8 today, and as in my previous comments, the contents of both argocd-cm and argocd-ssh-known-hosts are overwritten.

[code]
upgrade statement:
[code]

argocd-cm before upgrading
[code]

argocd-cm after upgrading
[code]

[2020-10-30 15:21] lanmarti commented on #3537
@jannfis any clue as to what may be causing this?

[2020-10-30 16:36] roy-tonal commented on #4701
So what I have done is using IRSA ( IAM role for service account ), where I'm creating a role with trust identity for EKS OIDC provider and argocd k8s service accounts. Now when I shoot below command it works.
[code]
But if I give ```--aws-cluster-name``` and ```--aws-role-arn``` flags it give me error ```FATA[0003] rpc error: code = Unauthenticated desc = the server has asked for the client to pr

[2020-10-30 16:58] #4600 closed

[2020-10-30 18:40] rajivml opened #4718 "Quit Deployment if PreFlight Job Failed"
# Summary

Hi,

I have a requirement where I need to validate the inputs by running a container and if all the inputs are right then only trigger the actual deployment.

So, I have modeled my pre-flight checks as a job and am sequencing it through **helm.sh/hook-weight** . But now the problem am facing is,  kubernetes doesn't take into account the exit status of the script i.e. triggered via kuber

[2020-10-30 19:00] DirtyCajunRice opened #4719 "Use casbin regex match in RBAC"
# Summary

Allow regex definition in casbin model

# Motivation

* glob matching is not explicit enough and allows for crossover and mismatching unintentionally
* regex matching would allow multiple policies on one line

# Proposal

Use the casbin builtIn regexMatch function shown in this issue: https://github.com/casbin/casbin/issues/175
Placed instead of glob in places like https://github.com/ar

[2020-10-30 20:38] jessesuen commented on #4714
You seem to be missing a bunch of dependencies including goreman webpack-dev-server

[2020-10-30 20:40] jessesuen commented on #4718
Yes it does.

If a job fails, Argo CD will refuse to proceed to the next phase or sync wave. I think the problem is your job is probalby exiting with code 0, otherwise your job would show up failed.

[2020-10-30 20:40] jessesuen commented on #4718
Please paste job object to confirm.

[2020-10-30 20:45] jessesuen commented on #4719
Rather than try to support glob/regex simultaneously, we're thinking of a different way to allow users to customize their casbin rbac model (i.e. https://github.com/argoproj/argo-cd/blob/master/assets/model.conf). I think theres a different issue for this.

[2020-10-30 20:49] jessesuen opened #4720 "After the switch to logr, logs from controller are not useful"
After the switch to logr, it seems logs from controller are not useful:

[code]

namely, the tasks are shown as {} .

[2020-10-30 22:51] mayzhang2000 commented on #2737
When I am trying to cherry-pick to 17, I realized there are too many merge conflicts. It is quite risky.

[2020-10-31 05:16] rajivml commented on #4718
@jessesuen you are right, the mistake I am doing was, am editing an environment variable in a child process and exiting in the parent process based on the edit that I have made in the child process but the parent process won't be aware of this edit if we don't source the child shell script https://stackoverflow.com/questions/16217064/change-environment-variable-in-child-process-bash

You can close

[2020-10-31 08:51] lcostea commented on #4712
I am taking a look at this, pretty familiar with cluster names and urls.

[2020-10-31 09:18] jannfis commented on #4704
I guess, the correct mitigation for these unit tests that are testing Git client would be to use mocks instead. If something needs testing against a real repository, it should be moved to the end-to-end tests. The e2e test suite already provides a local Git repository, accessible via HTTPS and SSH. An edge case might be testing for quirks of real Git providers, such as GitHub and Azure DevOps repo

[2020-10-31 09:52] jannfis commented on #4603
Implemented by #4613

Sorry @LeonardAukea, seems @igaskin was quicker sending in a PR than me answering your question.

[2020-10-31 09:52] #4603 closed

[2020-10-31 14:34] rajivml opened #4721 "ArgoCD UI just keeps on refreshing even if the Pod is in Failed/Completed State"
Environment: 1.7.8

# Summary

HI,

When we are on the Pod logs page, even if the job is in failed/completed state, the UI just keeps on polling the backend to fetch the latest logs and it makes copying the logs very difficult not difficult but almost impossible

# Motivation

Am trying to copy the logs from pod logs UI , but UI just keeps on polling backend and content is getting refreshed even a

[2020-10-31 18:43] rajivml commented on #4721
Recorded a short demo here about the issue:

https://uipath.zoom.us/rec/share/GfcDP51kTdsTjI9SM0pZLLsZV-WGdTDCg4eHKkxciEon-J6_25Y6VBm-atDZbDMl.2VqYwGrUItQDUfE0

Access Passcode: 7Zeq!#AD

[2020-10-31 21:59] LeonardAukea commented on #4603
Next time @jannfis :)

[2020-11-01 07:54] ittennull commented on #3024
Hi guys,
I created a project that lets Argocd use sops-encrypted secrets in Helm applications.
https://gitlab.com/ittennull/sopshelm
It's easy to install and works great!

[2020-11-01 07:56] ittennull commented on #1364
Hi guys,
I'd like to add another solution to the Argocd's pool of secret management tools.
I created a project that lets Argocd use sops-encrypted secrets in Helm applications.
https://gitlab.com/ittennull/sopshelm
It's easy to install and works great!

[2020-11-01 16:21] jannfis commented on #4721
This might be the for the same reason as reported in #4619, which was fixed by #4696 to be released with v1.8.

[2020-11-01 17:02] rajivml commented on #4721
Thanks @jannfis for looking into this, I will use 1.7.4 for my demo in that case

[2020-11-01 18:08] ellisvalentiner commented on #4211
@RichiCoder1 are you looking for help with this issue?

[2020-11-01 18:16] RichiCoder1 commented on #4211
Hmmm. I could certainly take a swing, but the docker build is deeply baked into ArgoCD's make so I'd likely need guidance (or a long weekend which I won't have for a little bit haha)

[2020-11-01 20:42] servo1x commented on #4705
@jessesuen, kubespray lets users specify their own `dns_domain`: https://github.com/kubernetes-sigs/kubespray/blob/master/docs/vars.md#cluster-variables

[2020-11-01 23:48] StianOvrevage opened #4722 "Add dark mode"
# Summary

Add a dark mode to web console.

# Motivation

Winter is coming up north and my eyes are hurting.

# Proposal

CSS?

[2020-11-02 03:25] #4645 closed

[2020-11-02 04:17] servo1x opened #4723 "Support for --skip-crds when using Helm."
# Summary

When deploying duplicate helm charts with crds, there should be an option to skip rendering crds.

# Motivation

We have a helm v3 chart that has crds but also supports deploying controllers that are namespaced, so there can be cases where the chart could be deployed under separate releases. We're not sure it makes sense to have every chart render with the crd, how would ArgoCD handle t

[2020-11-02 07:48] amitkrout commented on #4714
@tetchel I used multipass to spinnup the environment and exported kubeconfig file from a different path.

[code]

@jessesuen AFAIU `$ make start` does all the dependency installation to start the argo-cd service in virtualized toolchain environment, no ?

In the doc https://argoproj.github.io/argo-cd/developer-guide/running-locally/#running-argocd-locally there is no such reference of dependency t

[2020-11-02 08:37] vjtm opened #4726 "Declarative setup: Unable to connect to repository: authentication required"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hi there,

I am having issues using the [declarative setup](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/) for the repositories. I am using argo-cd (v1.7.8) on k

[2020-11-02 09:16] dobegor opened #8424 "gpg: ability to fetch gpg public keys from github"

[2020-11-02 10:09] #4670 closed

[2020-11-02 12:25] peterrosell commented on #4651
The task that we would like to automate is this step (https://argoproj.github.io/argo-cd/getting_started/#5-register-a-cluster-to-deploy-apps-to-optional)
[code]

ArgoCD shall monitor for secrets that is created by cluster-api. There is a label/annotation that can be used and the secret name ends with `-kubeconfig`.
When it finds a matching secret it shall extract the info just like the CLI.
When

[2020-11-02 14:29] jgwest opened #4728 "Data race in RandString()/RandStringCharSet() of argo/pkg, affecting Argo CD unit test"
`rand/rand.go` in the argo/pkg repo contains a call to `rand.NewSource()`, which returns a `rand.Source` for use in the other two functions in `rand.go`:
[code]

However, as the docs note, the source returned by `rand.NewSource()` is not thread-safe: "NewSource returns a new pseudo-random Source seeded with the given value. Unlike the default Source used by top-level functions, **this source is no

[2020-11-02 15:04] rajivml commented on #4721
@jannfis I have downgraded to 1.7.4 but I do see this issue there as well but not as bad as 1.7.8 but the issue is still there... If I click on refresh then the polling gets stopped till then even though pod completes its execution pod will be still shown as running and logs keep on getting override

[2020-11-02 16:29] jwenz723 commented on #1283
Is there any details that are documented or branches that can be used to track the progress of this issue?

I'm interested in setting up a particular argo application to be deployed to multiple environments in sequential order. I attempted to set this behavior up using sync-waves with the app-of-apps pattern, but that doesn't work reliably as @jessesuen mentioned in #4577, so hoping to be able to

[2020-11-02 20:17] #4669 closed

[2020-11-02 21:47] jessesuen commented on #4721
Closing as duplicate of https://github.com/argoproj/argo-cd/issues/4619

[2020-11-02 21:47] #4721 closed

[2020-11-02 21:47] jessesuen commented on #4722
FYI, CSS can already be customized so technically this is already possible.

[2020-11-02 21:48] jsoref opened #4730 "(?) icon is used both for unknown and help"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-02 21:51] jessesuen commented on #4723
This proposal makes sense with helm 3. We'll need a new helm setting `helm.skipCRDs` and honor that in `helm template` command

@servo1x are you willing to put forward a fix?

Relevant documentation:
https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2020-11-02 21:53] jessesuen commented on #4726
@vjtm

Can you look at the end result of what the UI is doing and replicate that with your declarative config?

[2020-11-02 21:56] jessesuen opened #4731 "Revision is not signed is misleading"
**Describe the bug**

People are often confused that "Revision is not signed" is an error, but it's not. We should conditionally display this only if the project is enabled with signed commits.

**Screenshots**

![image](https://user-images.githubusercontent.com/12677113/97923680-3a9ec580-1d13-11eb-9a6d-213d45d2e76f.png)

**Version**

[code]

**Logs**

[code]

[2020-11-02 22:02] jannfis commented on #4731
I agree, this is bad.

I recently had a chat on Slack who had an even worse experience if the revision is actually signed, but GPG has not been configured. Status reads "Invalid signature..." then (because it could not be verified), and in combination with a sync error of different cause this message is awfully misleading.

[2020-11-02 22:03] jessesuen opened #4732 "Rollout health lua script needs to be updated for v0.9"
**Describe the bug**

There is some changes in the logic in rollouts health assessment that needs to be propagated to Argo CD (consideration of status.stableRS and observedGeneration)

**Version**

v1.7.8

**Logs**

[code]

[2020-11-02 22:06] jsoref opened #4733 "Retain and expose helm template for argocd applications"
# Summary

`helm template` when run will print out the results of templating the `NOTES.txt` file which can have valuable information.

# Motivation

The [bitnami/postgresql-ha](https://github.com/bitnami/charts/) helm chart [NOTES.txt](https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/templates/NOTES.txt) includes commands for connecting / getting the password, but since we used

[2020-11-02 22:13] #4432 closed

[2020-11-02 22:26] jessesuen opened #4734 "argocd CLI dry-run to produce declarative resources"
# Summary

Users often struggle creating the declarative objects in the same way the API server does.

[code]

which would produce the underlying objects (e.g. Repo or cluster secret and config map entry) that need to exist in the argo-cd namespace, so that users could create these object out-of-band.

[2020-11-03 00:41] alexmt commented on #4720
Attempting to push an improvement to upstream: https://github.com/bombsimon/logrusr/pull/1

[2020-11-03 04:42] rajivml opened #4736 "ArgoCD while rendering UI don't show passwords as clear text"
# Summary

ArgoCD UI when it renders the UI it shows the passwords as clear text which is a big no no for many enterprises

![image](https://user-images.githubusercontent.com/46923567/97950528-26af9e00-1dbd-11eb-8ca2-4d2851f1f9bc.png)

Can we instead have passwords displayed as  ******

# Proposal

In the values.yaml file specify that it's an password field via a specific character combo basis whi

[2020-11-03 08:42] vjtm commented on #4726
Hi @jessesuen

I already tried that. As I mentioned in the description, it auto generates a secret called repo-ddddddd (d for digit) and uses that secret in the `argocd-cm` for the repositories configuration, which is exactly the same from the Web UI and in my YAML (declarative config).
The name of the secret if the main difference.

It seems it cannot find or match the secret name I am using. The

[2020-11-03 09:03] jannfis commented on #4726
I think this might be related to the base64 encoded credentials. Have you encoded a trailing newline into your base64 string maybe, i.e. please check the difference between

[code]
(correct encoding)

and
[code]
(possibly incorrect encoding)

Same probably goes for the username.

You could also try to generate secret using `kubectl`, i.e.
[code]
(`--dry-run=client -o yaml` being optional and used

[2020-11-03 09:31] vjtm commented on #4726
You are totally right @jannfis!

The encoded password was not correct.
I knew it was a silly mistake. Sorry.

Thanks!!

[2020-11-03 09:31] #4726 closed

[2020-11-03 09:54] Unb9rn opened #4737 "Resources in whitelist\blacklist are ignored with ComparisonError"
**Describe the bug**

I've tried placing a namespaced resource which I don't have permissions for into a blacklist, yet the app won't deploy with "ComparisonError" stating that
`cannot list resource "prometheusrules" in API group "monitoring.coreos.com" in the namespace "equeo-argocd"`
I've also tried replacing this blacklist with a whitelist:
[code]
The result is still the same. It tries to list

[2020-11-03 10:54] jannfis commented on #4737
Please have a look [here](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#resource-exclusioninclusion) for how to prevent Argo CD from accessing any resources it is not allowed to by cluster RBAC.

[2020-11-03 10:58] Unb9rn commented on #4737
Oh, thanks! Those features don't "overlap"...

[2020-11-03 10:58] #4737 closed

[2020-11-03 11:03] jannfis commented on #4737
I guess whitelist/blacklist on project level enforce what may exist in the source manifest, while resource exclusion/inclusion determine which resources Argo CD will access on the cluster level.

I agree that it can be confusing, however. Maybe there should be a hint in the project documentation to the resource exclusion/inclusion feature and vice versa, better explaining the use cases for the two

[2020-11-03 14:21] jopit commented on #3744
I have not been able to reproduce this with the latest code from the master branch.  When I follow the steps described, the custom health checks do run as shown by the output to the application-controller's logs, and the custom resources are successfully synched.
[code]

[2020-11-03 15:30] jaysiee opened #4738 "kustomized-helm"
# Summary

Make kustomized-helm a first-class citizen of Argo-CD. Right now the combination of the tools has to be configured through configManagementPlugins (ref: https://github.com/argoproj/argocd-example-apps/tree/master/plugins/kustomized-helm) which doesn't cover all use-cases that plain Helm functionality in Argo-CD covers (e.g. providing certificates for Helm repositories etc).

# Motivatio

[2020-11-03 16:04] #4698 closed

[2020-11-03 16:10] alexmt commented on #4423
Implemented by https://github.com/argoproj/argo-cd/pull/4708

[2020-11-03 16:10] #4423 closed

[2020-11-03 16:13] alexmt commented on #2573
Reproduced this behavior during upgrading argocd. https://github.com/argoproj/argo-cd/issues/4423

Issue was fixed by https://github.com/argoproj/argo-cd/pull/4708

[2020-11-03 16:13] #2573 closed

[2020-11-03 16:41] #4720 closed

[2020-11-03 16:42] rajivml commented on #4731
yeah this is very misleading, first time when I tried argo, I don't know whether it's a sync error or it's due to GPG, I went on editing all the deployments to disable GPG completely but still the error didn't disappear and then I realized it's something else

[2020-11-03 17:43] #4731 closed

[2020-11-03 18:46] v1k7g85 commented on #3124
+1

[2020-11-03 18:54] #4293 closed

[2020-11-03 19:22] alexmt commented on #4511
Implemented by https://github.com/argoproj/argo-cd/issues/4511

[2020-11-03 19:22] #4511 closed

[2020-11-03 19:24] #4412 closed

[2020-11-03 21:41] jessesuen commented on #4733
How does `helm template` produce the output of notes since it's only supposed to produce apply-able YAML? As comments?

[2020-11-03 21:44] jessesuen commented on #4736
Theres not much of a point to hide sensitive data. This data would still be exposed in multiple places:
* git
* application spec
* API sever
* debug logs

This would only cause users to have a false sense of security. I'm against this

[2020-11-03 21:47] jessesuen commented on #4738
Argo CD intentionally does not want to keep adding first-class support for specific tooling, which is the reason we added configManagementPlugins.

I think you should consider using https://kots.io/ and the documentation could be how to configure kots as a config management plugin

[2020-11-03 21:54] jsoref commented on #4733
Sorry, it might be [helm get notes](https://helm.sh/docs/helm/helm_get_notes/) -- I really haven't figured this stuff out, but it seems important.

[2020-11-03 22:31] jsoref opened #4747 "DevTools failed to load SourceMap(s)"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-03 23:47] #4695 closed

[2020-11-04 08:12] dimitarKiryakov opened #4748 "Update redis version"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Currently, the version of redis (5.0.8) contains a vulnerability CVE-2020-14147 with a score of 7.7. Please update the redis version to 6.0.9

**To Reproduce**

No steps

**Expected beh

[2020-11-04 08:57] jannfis commented on #4748
Hey, thanks for reporting this.

I have had a quick look, but it seems that a fix for this issue was backported to the 5.x branch and is actually included with the 5.0.8 release of redis that we are using. According to [CVE-2020-14147](https://nvd.nist.gov/vuln/detail/CVE-2020-14147), the issue is a regression of CVE-2015-8080, and from the [release 5.0.8 changelog](https://github.com/redis/redis/

[2020-11-04 09:41] rajivml commented on #4645
@tetchel Thanks for picking this up so quickly, I was on vacation, so I missed your comments....if we can add toggle option as well i.e. tags vs branches defaulting it to branches it will be more helpful as we use both branches and tags

shall I raise a different ticket for the toggle feature ? BTW in which argoCD version this feature will be available ?

[2020-11-04 09:55] irizzant commented on #4656
This would be great, having to manually manage files injection in jsonnet is really something you don't want to do.

[2020-11-04 12:41] rajivml commented on #4736
okay, that makes sense then, that we cannot hide it at multiple other places...

[2020-11-04 14:09] jannfis commented on #4362
I think the warning message is an artefact from when there has been some security issues (user enumeration, etc) were found in Argo CD and were not fixed.

The warning message can imo be removed without any further consequences. The bugs have long been fixed long ago.

[2020-11-04 14:13] dimitarKiryakov opened #4749 "Update version of redis due to lua vulnerabilities"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

A version of Lua used in redis docker image used by redis-server contains severe vulnerabilities some of which have the highest score:
Current version: 5.1.5

Vulnerability | Date | CVS

[2020-11-04 14:57] tetchel opened #4751 "Allow configuring Revisions drop down to show only branches or only tags"
As per https://github.com/argoproj/argo-cd/issues/4645#issuecomment-719164409
https://github.com/argoproj/argo-cd/issues/4645#issuecomment-721624622

The [new component](https://github.com/argoproj/argo-cd/blob/master/ui/src/app/applications/components/revision-form-field/revision-form-field.tsx) would require these changes.

[2020-11-04 14:58] tetchel commented on #4645
Hi Rajiv, I opened a new issue for your request.

I _believe_ this feature will be available in the next argocd release, 1.8. But Alex can confirm

[2020-11-04 17:25] elemental-lf opened #4753 "PreSync hooks failing due to missing namespace even though CreateNamespace=true is set"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I've observed that `PreSync` hooks are failing if the namespace doesn't exist even though `CreateNamespace=true` is set. In the case described below synchronization of the application f

[2020-11-04 18:52] jaysiee commented on #4738
Thanks for your input, Jesse. I get that adding specific tooling doesn't necessarily make sense for Argo-CD. The problem we are currently facing is as follows:

* We have setup Argo-CD using the Helm chart.
* We have provided configuration for Helm within Argo-CD through the Helm chart (i.e. custom Helm repos, custom certificates for these repos, etc).
* Using the configManagementPlugin with Helm

[2020-11-04 19:36] #4362 closed

[2020-11-04 19:45] jannfis commented on #4749
Hey @dimitarKiryakov, I am unable to find information about used Lua libraries in the Docker image.

Can you point me to some more information, please?

[2020-11-04 19:51] mayzhang2000 commented on #4753
I tried the following steps and could not reproduce it.

1. Create an app
[code]
2. Source contains PreSync hook: https://github.com/mayzhang2000/argocd-example-apps/blob/master/bug/presynchook.yaml
3. Sync and verified namespace `bug1104` is created.

![image](https://user-images.githubusercontent.com/7737306/98161069-01419380-1e94-11eb-9396-9133713839b5.png)

[2020-11-04 20:09] jannfis commented on #4749
Nevermind, found it - it comes bundled with the redis source code in `deps/lua`. Unfortunately, not all issues mentioned above are fixed in either 5.x or 6.x branch. Seems they backport fixes very selectively.

[2020-11-04 20:16] dimitarKiryakov commented on #4749
Hi,
It seems like they use very old version(5.1) and do not plan to upgrade.

Found this where the cve's were reported: https://github.com/redis/redis/issues/7715

It seems that due to using too old version, some of the CVE's are not relevant because of missing functionalities.

I think that this issue could be closed.

Thanks for the assistance @jannfis

[2020-11-04 20:54] jannfis commented on #4749
Thanks for your reports and insights, @dimitarKiryakov! Much appreciated.

But I agree, we should at least go to 5.0.10 asap and consider migrating to stable 6.x branch after Argo CD 1.8 has been released. I'm closing this issue then, and we'll track upgrade to 5.0.10 with the other issue you've created, #4748

[2020-11-04 20:54] #4749 closed

[2020-11-04 21:26] #4618 closed

[2020-11-04 21:33] dewan-ahmed commented on #4393
Further discussion on design of smoke test: https://argoproj.slack.com/archives/CEWCP8TV5/p1604506062335700

[2020-11-04 21:35] jsoref opened #4754 "Recognize failures to decrypt sealed secrets"
# Summary
Make it easier to recognize that a node has not properly reached its final happy state. (e.g. a sealedsecret constructing a secret)

# Motivation

We tried to deploy an update to a sealed secret. Unfortunately, the new sealed secret was sealed against a different secret sealer, which meant that it couldn't be decrypted by the cluster.

What we actually did was overwrite the sealed-secret

[2020-11-04 21:46] jessesuen commented on #4754
I'm pretty sure SealedSecrets has status which was built specifically so that tools like Argo CD could display it

[2020-11-04 21:46] jessesuen commented on #4754
It does:

https://github.com/bitnami-labs/sealed-secrets/blob/661b73ca3da52b2cccaffb61c829549222144e6d/RELEASE-NOTES.md#status-field

[code]

[2020-11-04 21:52] alexmt commented on #4747
Looks like Chrome does it for all javascript files: https://support.google.com/webdesigner/thread/71102880?hl=en
Seems like there is no way to stop it and it does not affect any one, so I think we can just ignore it. Do you agree @jsoref ?

[2020-11-05 00:34] jgwest opened #4755 "Intermittent failure when running TestWatchClusters_LocalClusterModifications with -race, likely due to race condition"
The `TestWatchClusters_LocalClusterModifications` test is intermittently failing when`-race` is enabled, BUT oddly enough it's **not** failing with a data race error (no data races are reported).

Rather it's failing due a timeout in the test itself, and on further investigation, it's failing because events are being missed in the failing case that are correctly received in the passing case (the `

[2020-11-05 04:34] keithchong commented on #4751
Hi @jessesuen , please assign this to me.

[2020-11-05 04:49] alexmt opened #4758 "E2E test TestCRDStatusSubresourceAction failed."
Failure probably related to https://github.com/argoproj/argo-cd/pull/4690

[code]

[2020-11-05 07:12] rajivml commented on #4655
As one of the other argo user has pointed out on #argo-cd slack channel a more viable way would be to use an schema file like this, I think with this approach each values.yaml file can be accompanied by a schema file like this and if schema file exists then render the UI according to those rules

We can have,

- Tool Tips
- Required Vs Not Required
- DataType Restrictions
- Min and Max Length Rest

[2020-11-05 11:02] elemental-lf commented on #4753
@mayzhang2000 thank you for looking into this. I tried your code with our local installation and I still see the problem. If I'm reading the log correctly ArgoCD's order of execution is Secret -> Namespace -> Pod and this fails in the first step because the namespace doesn't exist yet. If I create the namespace beforehand it says `time="2020-11-05T10:57:03Z" level=info msg="Namespace bug1104 is al

[2020-11-05 11:29] elemental-lf commented on #4753
I can also reproduce the problem with `1.7.8`. Log looks the same:

[code]

Version info (I only upgraded the server components):

[code]

[2020-11-05 12:05] jannfis commented on #4753
@elemental-lf I think this is because your resources actually contain a `Namespace` resource:

[code]
I think the `CreateNamespace` option only works if the resources do **not** contain a dedicated `Namespace` resource: https://github.com/argoproj/gitops-engine/blob/9a6cf9d611a59473346fad521266858a9c42a7a6/pkg/sync/sync_context.go#L622

[2020-11-05 12:12] jannfis commented on #4753
@mayzhang2000 Is this behaviour intended? I think it would make sense to auto-create the name space despite there being a dedicated `Namespace` resource in the source manifest (i.e. for applying labels or annotations to the namespace), while the automatic creation of namespaces could benefit PreSync hooks that create intermediate resources in the target namespace.

[2020-11-05 12:24] elemental-lf commented on #4753
@jannfis I used the example by mayzhang2000 as is and there is no dedicated Namespace resource in it. There is just a Pod and a Secret resource.

[2020-11-05 12:30] elemental-lf commented on #4753
@mayzhang2000 I just tried with current master (commit hash 9ee0d2c6) and the problem does not occur there. And I'd guess that this PR is the reason: https://github.com/argoproj/gitops-engine/pull/159.

[2020-11-05 12:57] jannfis commented on #4753
@elemental-lf Ah, yeah, you're right. Thanks. Behaviour has changed with the PRs you linked. They will be part of v1.8.

@mayzhang2000 Please ignore my previous comment then. :)

[2020-11-05 12:58] jannfis commented on #4753
Is it ok for you to close this issue then, @elemental-lf ?

[2020-11-05 15:31] phajduk commented on #3573
@aafishman you are right. I faced same problem and removing base64 encoding fixed the problem.

I've created a PR that updates the doc:
https://github.com/argoproj/argo-cd/pull/4763

[2020-11-05 15:32] elemental-lf commented on #4753
Yes, thak you!

[2020-11-05 15:32] #4753 closed

[2020-11-05 16:59] jopit commented on #4519
I can investigate this, please assign to me

[2020-11-05 17:13] AmitBenAmi opened #4764 "Resources with custom `OwnerReference` not deleted when removed from Helm Chart"
**Describe the bug**

I'm using ArgoCD for deploying my applications on Kubernetes.
I am using my own chart with CRDs I created: `Host` and `Check` CRDs.
The chart templates both the `Host` and `Check`, in a way that a single `values.yaml` holds one `Host` resource and multiple `Check` resources.
The logical hierarchy is that `Host` contains multiple `Checks`. In my custom controller for the CRDs,

[2020-11-05 19:09] mayzhang2000 opened #4765 "Create project token: Cannot read property 'metadata' of undefined"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-05 20:23] jannfis opened #4768 "Update redis to v6 and refresh downstream redis-ha to latest version"
# Summary

We're currently using the 5.x (aka `old`) branch of redis instead of the `stable` branch 6.x. Also, our `redis-ha` chart still uses haproxy 2.0.4 (latest patch release is 2.0.18) This should get a refresh after v1.8 has been released.

# Motivation

Prevent usage of outdated dependencies in possibly critical production environments.

# Proposal

* Move redis to latest patch release of v

[2020-11-05 20:33] jannfis commented on #3573
Thank you for the documentation update, @phajduk!

With the PR merged, I think this issue can be closed. @alesabater if you still encounter the issue with updated instructions, feel free to reopen this issue please.

[2020-11-05 20:33] #3573 closed

[2020-11-05 20:39] aafishman commented on #3573
Right on, thanks @phajduk! In other news - Is anyone able to get the ArgoCD CLI working at the same time as the webUI on the same OneLogin app? I can work around by creating a second OneLogin app with the 'Native' Application type and PKCE tokens - that seems to work for the CLI - but the UI stops working. I'd rather not have a second OneLogin app for the same endpoint (more to manage). Not openin

[2020-11-05 20:44] jsoref opened #4769 ""is part of a different application" should be more verbose"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-05 20:47] jsoref opened #4770 "Application conditions should handle color codes"
# Summary

Currently, color escapes are partially rendered (most likely the raw color escapes are sent to the web browser which ignores the escape character and shows the rest)

# Motivation

This is ugly:
[code]
Specifically, `[1;31m`

# Proposal

Either add support for color parsing, or add enough to suppress color output

[2020-11-05 21:41] jessesuen commented on #4764
The reason it will not be considered for pruning/OutOfSync, is because it is not a top-level resource (it has a parent). By design, we only consider TLRs for pruning and sync status.

[2020-11-05 21:46] jessesuen commented on #4770
Are you suggesting to strip out the codes or having the UI interpret them properly?

[2020-11-05 21:58] #4748 closed

[2020-11-05 22:10] #4765 closed

[2020-11-05 22:30] keithchong commented on #4751
Proposed solution:

<img width="1074" alt="Screen Shot 2020-11-05 at 5 28 10 PM" src="https://user-images.githubusercontent.com/7726022/98303638-6ed0eb00-1f8c-11eb-922c-08c02b60dfeb.png">

<img width="1051" alt="Screen Shot 2020-11-05 at 5 27 25 PM" src="https://user-images.githubusercontent.com/7726022/98303685-860fd880-1f8c-11eb-878c-0ed904636e88.png">

[2020-11-05 23:37] rajdas98 commented on #3657
It is solved by getting the existing resource version and add it to the update object before applying.
[code]

[2020-11-06 00:15] jgwest commented on #4175
Hi @wrdls, are you happy with the explanation and can close this issue?

[2020-11-06 03:09] jsoref commented on #4730
For my reference, it's in fact the *same* icon: https://github.com/argoproj/argo-cd/search?q=fa-question-circle
https://github.com/argoproj/argo-cd/blob/416969730235593181ab88dc0d6efb80ff0e7902/ui/src/app/settings/components/project-sync-windows-edit/project-sync-windows-edit.tsx#L12-L17
https://github.com/argoproj/argo-cd/blob/3e19b2fdf144bb924ecb92614f9ff4d5eb2b5d35/ui/src/app/settings/component

[2020-11-06 03:20] jsoref commented on #4730
Possible icons for unknown:
* https://fontawesome.com/icons/cloudversify
![cloudversify](https://user-images.githubusercontent.com/2119212/98321954-4957d780-1fb4-11eb-9bdc-253c6ba352c0.png)
* https://fontawesome.com/icons/cloud?style=solid
![cloud](https://user-images.githubusercontent.com/2119212/98322051-88862880-1fb4-11eb-9eb6-21416bc6d0e9.png)
* https://fontawesome.com/icons/meh-blank?style=re

[2020-11-06 03:26] jsoref commented on #4730
Alternatively, the help icon could be replaced by an info icon, as it isn't really help.
* https://fontawesome.com/icons/info-circle?style=regular
![info-circle](https://user-images.githubusercontent.com/2119212/98322639-ec5d2100-1fb5-11eb-8134-faf4e9fc0139.png)

[2020-11-06 03:31] jsoref opened #4772 "Favicon should be circular w/ transparency instead of having a solid white background"
# Summary

Currently the (circular) argo-cd icon is placed on a solid white field.

# Motivation

![github looks good with white background - argo-cd looks bad with gray background](https://user-images.githubusercontent.com/2119212/98322774-3fcf6f00-1fb6-11eb-9b5b-f13b8852581f.png)
![github looks good with gray background - argo-cd looks ok with white background](https://user-images.githubusercont

[2020-11-06 03:42] jsoref opened #4773 "too many scroll bars / can scroll way too far"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-06 04:42] jgwest opened #4774 "Add a GitHub action that runs unit tests with -race, to CI build"
# Summary

At present, the Argo CD unit tests run as part of every CI build, but they do not run with with `-race` parameter which may be used to detect [data races](https://golang.org/doc/articles/race_detector.html).

Since data races, in production applications, may lead to application instability and crashes, it's beneficial to ensure that we prevent data races from being introduced into Argo

[2020-11-06 06:23] I327358 opened #4776 "Issue during adding app to cluster"
Stacktrace:

TypeError: Cannot read property 'split' of undefined
    at m.match (https://dashboard.ingress.argocd.lp.shoot.live.k8s-hana.ondemand.com/main.2e65a524d04617fac156.js:33:480154)
    at h (https://dashboard.ingress.argocd.lp.shoot.live.k8s-hana.ondemand.com/main.2e65a524d04617fac156.js:33:474962)
    at https://dashboard.ingress.argocd.lp.shoot.live.k8s-hana.ondemand.com/main.2e65a524d

[2020-11-06 08:44] nicolas-geniteau commented on #4175
@jgwest Sorry for my very late response.

I will try this ! Thanks !

[2020-11-06 09:19] jessesuen commented on #3615
Dont think this is valid anymore

[2020-11-06 09:19] #3615 closed

[2020-11-06 11:12] mbolek commented on #3024
@lokiwins does your solution show proper values when trying to access "History and Rollback"? I get 404 and think it might be connected with the custom tool stuff. Could you please verify on your end? I guess it's because argocd doesn't really show the values anymore as you've mentioned

[2020-11-06 14:52] reguengos opened #4781 "Add extra column in application list that will reflect the summary.images"
# Summary
Adding an extra column in application list that will reflect the summary.images  -> applications list

# Motivation
Having a list of all docker images deployed for every application in a single place instead of having to navigate into each of the apps to get this information. Empower ops and Product owners to access the current deployment status.
The details can be get from API: **api/v1

[2020-11-06 15:56] lokiwins commented on #3024
@mbolek I ended up moving away from requiring sops for our apps. Instead I decided to have a single chart to manage all the secrets. Secret changes are actually handled by a custom tool instead but for us changes to secrets don't happen too often so it all works out well. From there I modified all the helm charts to reference the kubernetes secret and just pull out the secrets I need for that part

[2020-11-06 16:15] jopit commented on #4519
I've put together a minimal app to reproduce this: https://github.com/jopit/argocd-4519 which has an authorization.openshift.io role and a rolebinding

I created the app in argocd with autosync off, and before it is synchronized, the authorization.openshift.io resources do show in the tree view, but they disappear after synchronizing.

I'm continuing to investigate.

Role and rolebinding
[code]

/

[2020-11-06 18:15] alexmt commented on #4730
I think ghost is the best option

* https://fontawesome.com/icons/ghost?style=solid
![ghost](https://user-images.githubusercontent.com/2119212/98322284-13ffb980-1fb5-11eb-9d66-f602f9aa50ea.png)

Argo CD has to show unknown when it does not know status or cannot show it because user don't have permissions.  I think ghost  works well for both cases.

[2020-11-06 18:56] #4772 closed

[2020-11-06 19:54] josecv opened #4784 "Applications list should dynamically update available filters"
# Summary

Imagine I go into the applications list and filter the apps based on some label. If I then want to apply a second filter based on a different label, argo-cd will offer me all possible label values, regardless of whether any applications will match both the second and the first label.

Similarly, the checkboxes will show how many applications are Healthy/Degraded/etc, and allow us to fil

[2020-11-06 20:29] #4730 closed

[2020-11-06 21:37] jessesuen commented on #4776
Could you provide more details (e.g. procedure to reproduce, app to reproduce, etc...). Also what version?

[2020-11-06 21:40] jessesuen commented on #4781
Not sure how this would scale when an application comprises a lot of images/deployments (sidecars, init containers, etc...)

[2020-11-06 21:42] jessesuen commented on #4784
Just discussed this with @alexmt and we agree the counts are confusing when filters are applied and should be updated to current counts (after filters are applied). The label filtering would also be useful.

[2020-11-06 21:53] alexmt commented on #4776
The Javascript file name matches v1.7.7 version. I think this bug was fixed in v1.7.8 release https://github.com/argoproj/argo-cd/issues/4134

@I327358 please try upgrading to v1.7.8

[2020-11-06 22:37] jessesuen opened #4786 "Argo CD events show firstTimestamp instead of lastTimestamp"
**Describe the bug**

we should show lastTimestamp

[code]

[2020-11-06 22:38] jessesuen commented on #4786
![image](https://user-images.githubusercontent.com/12677113/98421239-bfece780-203d-11eb-8a37-39034cc626c4.png)

[2020-11-06 23:16] #4732 closed

[2020-11-06 23:17] jessesuen commented on #4776
Duplicate of https://github.com/argoproj/argo-cd/issues/4134

[2020-11-06 23:17] #4776 closed

[2020-11-07 03:43] jgwest commented on #4755
As seen in a conversation on #argo-dev Slack this afternoon, it also appears to intermittently occur when run as a GitHub action during CI build w/o race detection enabled.

I was personally never able to reproduce w/o `-race` when running locally, but it would make sense that it would be more common on a CPU-limited GitHub runner as it appears _the slower the compute_ (for example, when running w

[2020-11-07 06:00] keithchong commented on #4784
Hi @jessesuen / @alexmt, I can take a look at this one.  I agree, the numbers should be updated too, and not just the list view, when a filter is applied

[2020-11-07 09:52] SimoneFalzone commented on #4378
Hi everyone, it does not work because the path has changed slightly in the new version.

This works for me in eck version 1.2.1

[code]

[2020-11-08 00:55] jsoref opened #4790 "clicking filters widget doesn't expand filters"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-08 00:56] jsoref commented on #4790
One could argue that clicking anywhere in the box while it's collapsed should expand it. I could go either way.

[2020-11-08 00:59] jsoref opened #4791 "clicking the magnifying glass by search applications should focus the text area"
# Summary

Clicking the 🔍 should focus the application search field

# Motivation

Currently, the 🔍  in ArgoCD does absolutely nothing

![ArgoCD search applications](https://user-images.githubusercontent.com/2119212/98454529-66ff7b00-2133-11eb-949a-8d0f38511a80.png)

For reference, clicking a similar 🔍  in macOS Finder focuses the Search field:
![macOS Finder search](https://user-images.githubuser

[2020-11-08 07:59] AmitBenAmi commented on #4764
Is there a way I can set both an `OwnerReference` for that resource and also that it would be a TLR?
I added this ability in order to show the resources better with hierarchy, but currently, as I stated, it has its drawbacks.

[2020-11-08 10:49] jessesuen opened #4792 "Health message for unmanaged objects are not displayed in details"
**Describe the bug**

In the resource tree view, we have health statuses for all objects, not just top level resources.

![image](https://user-images.githubusercontent.com/12677113/98462952-c4fc8480-216c-11eb-801c-a93eb4967222.png)

However, when clicking into a resource, we do not display the health status or message. We should:

![image](https://user-images.githubusercontent.com/12677113/9846293

[2020-11-08 17:22] myspotontheweb commented on #3988
Could I suggest an alternative that would require no ArgoCD modifications? In a nutshell, use an Argo CD "Application" object to record the helm settings for each deployment.

Here's what we do:

**Helm Charts**

Our Helm charts are stored alongside the source code. So, the release of each helm chart is managed in lock-step with the code it deploys.  This idea is not mandatory, could just as easil

[2020-11-08 18:10] jsoref opened #4793 "pop out buttons go to various broken places"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-08 18:44] lcostea commented on #4712
I don't know what kind of rules the user will define for cluster access, he can define all with cluster url, all with cluster name or a mix.
So my initial idea was to apply the enforce on both url and name and then if one gives a deny then it is not allowed (no matter what the other result would be).
But there are scenarios for which it doesn't work, like this one:
- we have a cluster minikube/htt

[2020-11-08 18:50] alexmt commented on #2251
I think we should work on it in v1.9 . @jessesuen any objections?

[2020-11-08 21:30] wtam2018 opened #4794 "Generate server command line documentation"
# Summary

Server commands `argocd-server`, `argocd-application-controller`, and `argocd-repo-server` have quite a few optional flags.   Many of these flags are not mentioned in our documentation.   We should generate documentation from command source to create documentation and they will be kept up-to-date automatically.

# Motivation
Most of the server command line options are not documented.  U

[2020-11-08 23:32] olevitt commented on #2251
This would be really great. We face the same issue at my org, isolation between projects is close to perfect except permissions on repositories not being tied to a project.
I would be happy to discuss and help on this subject although I have close to zero `go` programming knowledge but I may help on the react / UI side.

[2020-11-09 01:24] lindsaygrace commented on #4614
We're getting this too. If a database migration hook fails, it never stops syncing. You can see that the earlier hooks get created / destroyed every few seconds.

ArgoCD version v1.7.6
Kubernetes 1.16

I believe this started happening for us after upgrading to 1.7.x

We're using the following annotations on a Kubernetes job thats having the issue.

[code]

![image](https://user-images.githubuserco

[2020-11-09 03:30] DirtyCajunRice commented on #4712
We actually build all of our oidc group scopes to where we allow cluster by group. When the regex implementation is decided as a replacement for glob, this should address your issue inherently. Until then we are just being verbosely specific. Will be easier with just names too.

[2020-11-09 08:15] jgwest commented on #4774
Merged 🎉🎉🎉

[2020-11-09 08:15] #4774 closed

[2020-11-09 08:28] lcostea commented on #4712
This is related to the action we are trying to validate, not the policies. The action _get cluster_ can be validated on cluster url or cluster name and they can have different results. The question is which one will we chose as correct? I can't find a good balance until now. I don't see how regex introduction is going to help, this will modify the policies, not the action.

[2020-11-09 17:27] shahadarsh commented on #4055
I saw the workaround recommended above but was wondering if we are looking at a better solution any time soon. Thanks.

[2020-11-09 17:59] jannfis commented on #4712
I think this is due to the [Casbin model](https://casbin.org/docs/en/supported-models) we use. Currently, we are using `allow-and-deny`, but for a policy such as above, we should migrate to `deny-override` model.

[2020-11-09 18:10] lcostea commented on #4712
@jannfis I still don't think it is related to the policies
For example the line below checks Get action for Clusters on q.Server (which is the cluster url). I wanted to check also on q.Name, but then I will have 2 results that might contradict each other. I can't find a good logic to combine the 2 results
https://github.com/argoproj/argo-cd/blob/master/server/cluster/cluster.go#L107

[2020-11-09 18:21] #4769 closed

[2020-11-09 18:26] jannfis commented on #4712
I think it would be a bad policy to deny `https://kubernetes.default.svc` but allow `in-cluster` (or vice versa).

So can we safely assume the following?

[code]

[2020-11-09 18:32] lcostea commented on #4712
In such a case if you want to deny production cluster only and allow access to all others what would be the policy?

The below will give allow on url and deny on name, so the final result will be allow, but I think the user wanted no access for production (no matter if url or name was used).
[code]

So I think we will end up using both url and name to deny.

[2020-11-09 18:45] jannfis commented on #4712
`deny` rules won't override an existing `allow` rule with our current RBAC model.

This is what I was trying to say in https://github.com/argoproj/argo-cd/issues/4712#issuecomment-724176472

[2020-11-09 19:08] lcostea commented on #4712
I made a unit test specific for this case, with the current rbac logic.

Policy will be

[code]

And I will query for cluster
[code]

The enforce will fail.
You can see the test here: https://github.com/lcostea/argo-cd/blob/lcostea/rbac_cluster_names/server/cluster/cluster_test.go#L149

[2020-11-09 19:29] jannfis commented on #4712
So the `require.NoError(t, err)` does fail?

That is weird. I just tested the following policy with two apps in the cluster, `guestbook` and `guestbook2` (`policy.default` is set to empty)

[code]
Logged in as local user `test`:
[code]
Likewise, when I change policy to
[code]
the outcome is:
[code]

[2020-11-09 19:55] lcostea commented on #4712
Yes, it fails.
But if you say the above scenario with applications is correct I will check again the code, maybe I am missing some initialisations on rbac.
Thanks for the help.

[2020-11-09 20:06] shahadarsh commented on #4055
@sidheshdivekar29 What did you end up doing? I'm also having the same issue.

[2020-11-09 20:07] jannfis commented on #4712
Sorry, my fault. I used wrong format for the policy. Please ignore everything I wrote about allow/deny.

[2020-11-09 20:16] Nuru commented on #4629
@tetchel Can we reopen this? I am having the same issue. The initial password is not the server pod name.

[2020-11-09 21:01] tetchel commented on #4629
what does `kubectl get pods` print? make sure your current context targets the `argocd` namespace.

[2020-11-09 21:14] sidheshdivekar29 commented on #4055
Hi Adarsh,

I ended up not importing the library.
Since rest apis just post json body, I just defined my own structures for
required rest api.

On Mon, Nov 9, 2020 at 12:06 PM Adarsh Shah <notifications@github.com>
wrote:

--
-Siddhesh.

[2020-11-09 21:58] Nuru commented on #4629
@tetchel asked

[code]
So I would expect the password to be `argo-argocd-server-7db5dfc6c8-xq8ps` but it is not.

[2020-11-09 22:02] tetchel commented on #4629
i am not sure why your pod names are prefixed with "argo". Usually they are just eg. `argocd-server`. can you confirm how you installed it?

the password may just be `argocd-server-7db5dfc6c8-xq8ps`

[2020-11-09 22:04] Nuru commented on #4629
I installed it using the [helm chart](https://github.com/argoproj/argo-helm/tree/master/charts/argo-cd). The password is NOT `argocd-server-7db5dfc6c8-xq8ps` either.

[2020-11-09 22:04] tetchel commented on #4629
OK, please open a new issue because i'm not sure what's wrong.

[2020-11-09 22:05] tetchel commented on #4629
Also, it's more of a workaround, but please see darshan's comment above re: resetting the password.

[2020-11-09 23:26] jsoref opened #4799 "Report when there's upstream configuration drift"
# Summary

Provide a way to recognize when upstream values' changes aren't being realized.

# Motivation

I had a helm chart which had a values file and an override values file. The override file overrode a value in the main values file. I made a change to the main values file and nothing happened. It took a while of scratching my head to remember the override.

Conceptually, this is the equivalen

[2020-11-10 01:02] alexmt commented on #4747
Looks like we cannot do much to get rid of this warning message. Chrome just shows it when dev console is open,.

[2020-11-10 01:02] #4747 closed

[2020-11-10 05:47] jgwest opened #4802 "Malformed bulleted list in Global Projects section of Projects docs"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

The new [Configuring Global Projects](https://argoproj.github.io/argo-cd/user-guide/projects/#configuring-global-projects-v18) section of Projects has a malformed bullet point list.

![

[2020-11-10 07:13] jannfis commented on #4793
The hyperlinks are generated from the `.spec.rules.host` property of the underlying `Ingress` resource.

So what is this issue about? The URLs that don't point to invalid/unexpected destinations in 'cd.apps.argoproj.io` or URLs that point to invalid/unexpected URLs in your own installation?

[2020-11-10 08:03] jannfis commented on #4786
IMHO showing both timestamps would be much better than to just show the first or last time, because I guess it's also good to know when the event occurred the last time (i.e. whether it's ongoing or not, I can think of intermittent image pull failures or similar).

So we could either introduce a new column and title one "First occurred" and the second one "Last occurred", or we could just put both

[2020-11-10 08:33] jannfis commented on #4786
So either like this:

![image](https://user-images.githubusercontent.com/3942683/98649063-6a635400-2337-11eb-9113-dbda4f3d5d46.png)

Or like this:

![image](https://user-images.githubusercontent.com/3942683/98649271-b3b3a380-2337-11eb-99dc-a340ae4156f3.png)

[2020-11-10 10:08] h3poteto opened #4806 "Add IgnoreMissing as a compaire-option"
# Summary

Add `IgnoreMissing` which is opposite of `argocd.argoproj.io/compare-options: IgnoreExtraneous` .

# Motivation
In my case, my project has some resources Deployment, ConfigMap and Job. And I don't want sync some jobs, because these jobs are one-off job to manual operation. So it is not required to apply when deploy.

I tried to set Job in resource.exclusions. But it ignores all Job reso

[2020-11-10 10:19] h3poteto commented on #4806
@jessesuen This is an option I talked with you before, what do you think?

[2020-11-10 11:12] janwillies commented on #4651
crossplanes `kubeconfig` secret look like this:
[code]

[2020-11-10 13:30] nabadger commented on #3124
+1 on this too.

[2020-11-10 15:49] jsoref opened #4808 "Provide a way to pause syncing an application"
# Summary

Provide a way to pause syncing an application

# Motivation

I have an application which is broken. I can delete the application in argocd and then argocd will recreate it. Currently that just recreates it in its broken state. I'd like to be able to tell argocd to "pause" its syncs for this application, let me delete the application, and then after I fix the underlying state (possibly b

[2020-11-10 15:58] jannfis commented on #4808
Isn't this basically achievable by just turning off auto sync?

[2020-11-10 17:11] jsoref commented on #4808
I think that autosync in my case is controlled by the parent application which means that if i try to turn it off, when the parent syncs, it's overridden, although i could be wrong.

Certainly, if I try to change the branch of a child application then when the parent application syncs it overwrites the branch.

[2020-11-10 17:12] jsoref commented on #4808
Note:
1. If the behavior of these two things is different (i.e. that one can safely change one but not the other), then the UI should make that clear.
1. The UI should really make it clear that fields (e.g. branch on a child application) will be overwritten on the next sync of their parent.

[2020-11-10 17:25] shaikatz commented on #4663
@jessesuen, as @jsoref pointed in the updated title, this issue happens with linked sidecar, so the issue is when the response is coming from a connection that was upgraded to HTTP2 - I guess the response looks a bit different so it doesn't trigger the re-authentication.
Can you help us find a fix for that?

[2020-11-10 18:34] #4802 closed

[2020-11-10 19:01] #4794 closed

[2020-11-10 21:35] jessesuen commented on #4799
So we can't do anything until the underlying tool supports it?

[2020-11-10 21:44] jessesuen commented on #4808
I agree with @jannfis that this just sounds like auto-sync enabled/disabled.

Wouldn't you just have the same problem with a new pause field?

[2020-11-10 21:57] mayzhang2000 commented on #4806
If your application source  is 'directory' type, one option is to exclude some resource manifest file by setting glob expression to exclude files from application source path. https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml#L135. This is available in V1.8.

[2020-11-10 22:32] jurgenweber opened #4810 "chart unable to install, helm hooks not available and not being executed."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
*

[2020-11-10 22:49] jsoref commented on #4799
Yeah, I expect to have to write issues asking for such a feature from the underlying tools... I'll tie them together...

[2020-11-10 22:50] jsoref commented on #4808
It would have to not be something which is controlled by the versioned content -- a strict local overlay.

[2020-11-10 23:44] marcozov opened #4811 "Sync gets stuck and must be terminated/restarted manually in order to work"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to deploy an ArgoCD Application that contains a configmap, two certificates (Certificate custom resource from cert-manager) and a KafkaConnect instance (from Strimzi operator

[2020-11-11 05:31] Bemosi commented on #4811
I have been playing with a similar issue on version `v1.7.8+ef5010c`, in an app of apps scenario.

When the syncing hit a "Degraded" state, as part of the certificate issuing, it seems that the application syncing started waiting on everything all over again and would never get the healthy notifications.

I think it is an issue with the certificate health check, I overrode the default check by cha

[2020-11-11 09:19] marcozov commented on #4811
Thanks a lot, this seems to work for this specific ArgoCD Application! On other applications I have similar issues that require further investigation, but now at least I know how I can start approaching the problem.

Just wondering: it looks like the Certificate health check proposed by argocd itself (mentioned in https://argoproj.github.io/argo-cd/operator-manual/health/ and in https://github.com

[2020-11-11 10:53] infa-mperiasa opened #4814 "Vulnerability in Argocd Images with CVSS score of 8 and above"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-11 11:21] james-nduka commented on #1415
🙏 @kamal94

[2020-11-11 12:07] cmaster11 commented on #4811
I can say this is happening also to us.

We have a very odd situation, where we have 4 environments, with pretty much the same configuration, e.g. same ArgoCD application deployed in all of them. And only ONE of those, very frequently has this sync issue.

I'd like to understand how to debug it, because there is no apparent problem, other than random syncs getting stuck D:

Our setup does not incl

[2020-11-11 13:44] jannfis commented on #4814
Hi, and thanks for your concerns and the report. I'm unsure what scanner you are using, but results of those automated scanners should always be approached with care, and need deeper inspection upon brought to the surface.

I've had a quick look at what came up, and the following are my thoughts on the issues:

As several people and vendors stated already, this is expected behaviour of `tar`. Howe

[2020-11-11 16:57] #4786 closed

[2020-11-11 18:37] jannfis commented on #4814
@jessesuen @alexmt I do not see any urgent todo items for us here, but I'd like to get other opinions.

[2020-11-11 21:02] sudarshntn commented on #3462
@alexmt Do we have any update on getting this issue fixed as its a breaking the SSO part even in 1.5.4 or 1.5.8 and we are blocks us.

[2020-11-11 21:03] jannfis commented on #4810
Hm, I've just tested to install the kube-prometheus-stack v11.1.1 in a local installation, and it worked out fine.

The post-sync job executed successfully:

![image](https://user-images.githubusercontent.com/3942683/98863968-73544280-2469-11eb-961b-517e04e9f3be.png)

Have there been other errors?

[2020-11-11 21:08] jurgenweber commented on #4810
well, I don't have those jobs... is this toggeled somewhere? Why dont' I have them?

[2020-11-11 21:19] jurgenweber commented on #4810
I looked at the logs and things, no other errors.. this was a new cluster but an old install of argocd. I just don't understand why I don't have those resources.

[2020-11-11 21:30] jannfis commented on #4810
OK, judging from some of the information you provided above, there might be something else preventing this from being correctly synced.

There are several entries like the following:
[code]

So it seems that the required CRDs are not installed along with the Chart. Quick template using Helm 2 (this is a Helm2 chart) suggests that is true:

[code]
So probably you will have to install the CRDs befor

[2020-11-11 21:36] jurgenweber commented on #4810
yeah, rrriigght... but then why did it work for you?

[2020-11-11 21:37] jannfis commented on #4810
Because I had the CRDs already in the cluster, I guess ;)

[2020-11-11 21:41] jurgenweber commented on #4810
so I am just going to make a separate argocd app, that has the url/path of the CRDS and let it install. Job done.

[2020-11-12 02:15] jsoref commented on #4770
There are three choices really:
1. set the terminal to something which prevents color code generation in the first place
1. strip color codes
1. handle color codes

Offhand, I suspect that the first option is the easiest (possibly a handful of lines of code).

I'll take any of the above.

[2020-11-12 02:37] jsoref opened #4817 "Use a distinct icon for something"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-12 09:31] peterbosalliandercom commented on #2437
Within openshift for example the default scc's (security context constraints) are owned by Openshift but there is a need to patch those scc with additional users and serviceaccounts (which is documented as a manual proces by doing oc adm or by oc patch (oc patch scc privileged --type=json -p '[{"op": "add", "path": "/users/0", "value":"system:serviceaccount:default:router"}]'). We need this to be

[2020-11-12 14:59] MrJinggles commented on #1491
Hi, I just can say, that I have the exact same problem!

Versions are:
- ArgoCD v1.7.8+ef5010c
- K8s 1.19.3

On an "older" server everything works fine including the declarative setup!
The versions on the older ones:
- ArgoCD v1.7.6+b04c25e
- K8s 1.17.4

[2020-11-12 15:01] MrJinggles opened #4818 "Authentication required with declarative setup"
Hi there,

I am having issues using the declarative setup for the repositories. I am using argo-cd (v1.7.8) on k8s v1.18.8 (kind 0.9.0). ArgoCD is up and running fine.

This is the content of my ```argocd-cm``` from the ```argocd``` namespace (This is a test repo from a private project in Azure DevOps):

```argocd-cm.yaml```:
[code]
This is the ```repo-secret.yaml``` that references the ```argocd-

[2020-11-12 15:03] vjtm commented on #1491
Hi @MrJinggles

My mistake was https://github.com/argoproj/argo-cd/issues/4726

Cheers

[2020-11-12 17:44] keithchong commented on #4784
Demo:

[NewFilterBehaviour480p.zip](https://github.com/argoproj/argo-cd/files/5532254/NewFilterBehaviour480p.zip)

[2020-11-12 17:54] dewan-ahmed opened #4819 "Setting up the environment for running smoke test"
# Summary
Breaking down [the parent issue](https://github.com/argoproj/argo-cd/issues/4393) into two separate independent tasks.

What change you think needs making.
This task will handle setting up a docker container against which the smoke tests will be run.

# Motivation
Due to the challenges faced with setting up the environment, @dewan-ahmed was not able to push the smoke test scripts althoug

[2020-11-12 17:59] dewan-ahmed opened #4820 "Writing smoke tests that mimics user behavior via CLI"
# Summary
Breaking down [the parent issue](https://github.com/argoproj/argo-cd/issues/4393) into two separate independent tasks.

What change you think needs making.
This task contains writing the smoke test scripts only and not setting up the environment. That work will be tracked by [this issue](https://github.com/argoproj/argo-cd/issues/4819)

# Motivation
Due to the challenges faced with setti

[2020-11-12 18:00] dewan-ahmed commented on #4393
https://github.com/argoproj/argo-cd/issues/4819 and https://github.com/argoproj/argo-cd/issues/4820 issues have been created to break down the task regarding CLI part.

[2020-11-12 18:32] MrJinggles commented on #1491
Hi!

Thanks for your hint!

It worked out for me too :)

Br

Am Do., 12. Nov. 2020 um 16:03 Uhr schrieb vjtm <notifications@github.com>:

[2020-11-12 19:35] keithchong commented on #4784
@alexmt @jessesuen  why is the label filter behaviour different compared to the other filters?  Specifically, the filter options for each filter, except the label filter, are ‘OR-ed’.  eg. For Health, we show apps that are Healthy **OR** Progressing.  For Project, we want to show apps from ProjectA **OR** ProjectB.

However, for Labels, the Logical operator used is AND.  For example, it will show

[2020-11-12 21:39] jessesuen commented on #4810
I think this can be closed?

[2020-11-12 21:40] jurgenweber commented on #4810
Yeah, cool.

works-for-me.. lol, only via hacks and limitations.

[2020-11-12 21:40] #4810 closed

[2020-11-12 21:43] jessesuen commented on #4811
Yes, if the health check is not functioning, please send a PR.

[2020-11-12 21:44] jessesuen commented on #4814
Thanks for taking a look @jannfis. We'll also review and update the issue.

[2020-11-12 21:48] jessesuen commented on #4818
Can you create the repo manually via the UI and compare the way the secret is created vs. the way you created it manually?

[2020-11-12 21:50] jessesuen commented on #4819
@dewan-ahmed can I assign this to you?

[2020-11-13 00:00] Bemosi commented on #4811
Thinking about this a bit more - It may be that the application syncing issue is just a symptom of a wider issue?
The health check does eventually get to a Healthy state and is in a "Degraded" state when the certificate issuance is pending.

I can make a PR for the small change above, which reduces issues when using cert-manager certificates, but that won't fix the underlying sync issue. Where aft

[2020-11-13 12:37] dimitarKiryakov opened #4824 "Update Redis version to 6.0.9"
**Checklist:**

 I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
 I've included steps to reproduce the bug.
 I've pasted the output of argocd version.
**Describe the bug**

Currently, the version of redis (5.0.8) contains a vulnerability CVE-2020-14147 with a score of 7.7. Please update the redis version to 6.0.9.

Unfortunately, upgrade to 5.0.10 still contains this vu

[2020-11-13 12:37] dimitarKiryakov commented on #4824
Also, https://github.com/argoproj/argo-cd/issues/4748 does not resolve it

[2020-11-13 15:35] jannfis opened #4827 "GPG signature verification chokes on additional fields in the output of verify-commit"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-13 15:40] Chabane commented on #3430
same issue
how did you please fix the issue @jasvinder-tp ?

[2020-11-13 15:48] jannfis commented on #4827
Closed by #4825

[2020-11-13 15:48] #4827 closed

[2020-11-13 16:04] jannfis opened #4828 "GnuPG signature verification should fail gracefully on parse errors"
# Summary

When parsing unknown or invalid GnuPG signature verification results (i.e. output of `git verify-commit`), the GPG sub-module should fail gracefully instead of throwing an error.

# Motivation

Currently, when there is an error parsing the GnuPG verification result (invalid or unexpected data), Argo CD will throw a user visible error message. The source of the error is not clear on firs

[2020-11-13 16:07] dewan-ahmed commented on #4819
Hi @jessesuen I'd like to focus on https://github.com/argoproj/argo-cd/issues/4820 as I've not been able to make progress with the environment setup part of https://github.com/argoproj/argo-cd/issues/4393. I'd like someone else to take on this issue. I can discuss more during the weekly call and add an agenda item.

[2020-11-13 16:13] jannfis commented on #4824
Can you point us to the information that it's still included with 5.0.10 please?

All vendor SAs I have seen state that the issue is fixed in the 5.x branch, i.e.:

https://security.gentoo.org/glsa/202008-17
https://security-tracker.debian.org/tracker/CVE-2020-14147

[2020-11-13 16:40] shahadarsh commented on #4055
@sidheshdivekar29 Thanks. I was actually able to make it work with v1.5.5.

Added following:

[code]

[2020-11-13 17:39] jannfis commented on #3422
I will take on this after 1.8 has been branched out.

[2020-11-13 17:59] sidheshdivekar29 commented on #4055
Great Adarsh, Thanks for letting me know.

On Fri, Nov 13, 2020 at 8:41 AM Adarsh Shah <notifications@github.com>
wrote:

--
-Siddhesh.

[2020-11-13 18:21] jsoref opened #4829 "enter should work in dialogs where a button is shaded to indicate default"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-13 21:45] PatrickSplice commented on #1105
So, I'm assuming including a helm wrapper script is still the only way to use an installed plugin?  For example, 'helm secrets install'.

[2020-11-14 19:29] MrJinggles commented on #4818
I´m sorry, I already solved the issue because @vjtm gave me a hint to [the solution](https://github.com/argoproj/argo-cd/issues/4726#issuecomment-720989934)

[2020-11-14 19:29] #4818 closed

[2020-11-14 21:05] megakoresh opened #4831 "Custom config management plugin commands are executed at application path, not repository root"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Custom plugins execute `init` and `generate` commands at specified application path, not root of the repository.

**To Reproduce**

Patch `argocd-cm`:

[code]

Application:

[code]

Hav

[2020-11-15 02:24] peimanja commented on #2638
Any Update on this one

[2020-11-15 16:52] mayzhang2000 commented on #2638
This is fixed by https://github.com/argoproj/argo-cd/issues/4432.

[2020-11-15 17:40] DolevAlgam commented on #3881
Any helpers?

[2020-11-15 20:06] jsoref opened #4836 "Rewrite resource exclusion performance note"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2020-11-15 20:31] jsoref opened #4837 "Reference to GitHub account to access argocd install is misleading"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2020-11-15 21:36] jsoref opened #4838 "Suspended shouldn't use the same icon as Healthy"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-15 21:37] jsoref commented on #4838
I'd propose:
https://fontawesome.com/icons/icicles?style=solid
suspended:
![icicles](https://user-images.githubusercontent.com/2119212/99197483-ccb9bb80-2760-11eb-85ac-ead3aa907eaf.png)

[2020-11-16 07:31] dimitarKiryakov commented on #4824
Closing the issues, since it was false positive in our scanning tools.

[2020-11-16 07:31] #4824 closed

[2020-11-16 10:39] antonionappi88 opened #4839 "Problem with jsonnet lib"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-16 14:18] Numblesix opened #4840 "Unable to pull from self signed repo"
**Describe the bug**
Hello :)

at my work we have a gitserver which is only reachable internally thereby signed by our inhouse CA while im able to add the Server Cert under the Settings/Repositories im not able to create an application with this repo.
I get the following error

Unable to create application: application spec is invalid: InvalidSpecError: Unable to get app details: rpc error: code =

[2020-11-16 14:25] keithchong opened #4841 "test: Allow individual application tiles to be selectable"
# Summary

We need to add unique class values in order to use selectors to identify each application tile so that the UI test tool can uniquely identify each app easily, and perform actions on them.

# Motivation

As it stands, it's likely not possible to uniquely identify each app.

# Proposal

Add some unique test-specific identifier to the class attribute.

This is in addition to the changes ma

[2020-11-16 14:25] keithchong commented on #4841
Hi @alexmt , please assign this to me.

[2020-11-16 15:12] antonionappi88 commented on #4839
The problem was that i have to put the `prometheus-operator-v3/vendor`  in the libs instead of only `vendor`

[2020-11-16 15:12] #4839 closed

[2020-11-16 16:56] jannfis commented on #4840
Hi @Numblesix - have you added the server cert to your repository, or the certificate of your inhouse CA - I would be guessing the former?

The error message suggests that the `git`-Client (using GnuTLS) does a more strict check of the server's certificate than the Go implementation does.

Most likely, if you added the server cert, it is not allowed to perform validation of TLS connections.

Can y

[2020-11-16 17:03] #3495 closed

[2020-11-16 17:12] jannfis opened #4842 "Provide tooling to test & debug RBAC policies"
# Summary

We should provide a mechanism/tool so that users can test & validate RBAC policies before configuring them in live Argo CD instances.

# Motivation

RBAC policies currently can be hard to understand, test and troubleshoot. There is no convenient way for users to check whether the RBAC policies they configure actually do what they expect them to do. This can lead to frustration, as well

[2020-11-16 17:31] #4648 closed

[2020-11-16 17:58] Numblesix commented on #4840
I added the server certificate.
I will try to add the root ca der tomorrow aber Share the result :)

[2020-11-16 19:30] #2707 closed

[2020-11-16 21:08] sethgrid opened #4844 "Design Flaw leading to errant delete"
Not sure if a design flaw is a bug, but this one should be addressed and I think is easy to fix.
In the UI, on a deploy, when you click on it, you can "sync, delete, restart". A very destructive delete is an errant click away from a restart. We just did that. Accidentally clicked delete instead of restart resulting in 10s of thousands of user facing errors before we realized and re-synced.

Fix su

[2020-11-16 21:14] alexmt commented on #4844
I agree. Adding to v1.9 milestone as well as https://github.com/argoproj/argo-cd/issues/3205  (application cascade delete) .

[2020-11-16 21:43] jessesuen commented on #4831
It was intentional to run commands inside the application path. We could provide an environment variable for the git root path. But it's too late to change the current behavior since I'm sure many people depend on current behavior.

[2020-11-16 21:44] jessesuen commented on #4837
yes, this was written back when we did not have anonymous access feature.

[2020-11-16 21:46] jessesuen commented on #4838
How about a pause icon for suspended?

[2020-11-16 21:49] jessesuen commented on #4842
Agree this would be useful

[2020-11-16 21:53] jessesuen commented on #4675
This is fixed

[2020-11-16 21:53] #4675 closed

[2020-11-16 22:07] kshamajain99 commented on #4734
I am looking into this issue.

[2020-11-16 22:28] jsoref commented on #4838
Wfm

[2020-11-17 02:30] aweis89 commented on #1442
I think it would be ideal if the CLI was able to indicate whether a secret is being changed. Perhaps we can expose a specific endpoint that accepts a secret and responds `true/false` whether there's a diff with the live secret. That way the CLI can indicate whether a secret is being changed without needing to expose actual secret values

[2020-11-17 03:28] jsolbrig commented on #4174
I've run into the same problem and decided to test a bit to figure out what is going on. I In answer to @jessesuen the application controller pod does not seem to be able to connect to the API server.

To figure this out, I built a version of the argocd docker image that copied `curl` from another base image, then used that image for my application controller. When I exec into the container and ru

[2020-11-17 04:20] jasvinder-tp commented on #3430
It was permission issue to user, which try to run argocd bin, change source image of "Debian GNU/Linux 9 (stretch)" to other, then working fine

[2020-11-17 06:47] Numblesix commented on #4840
I added the whole chain now server -> intermediate -> root-ca but it still doesnt work, same error.
I tried a git clone on a normal RHEL7 which has the intermediate in the trust store and there git runs without any issues

[2020-11-17 07:28] james-callahan opened #4852 "argocli --dest-name argument fails with "Destination server missing from app spec""
**Describe the bug**

Trying to use `argocd app create --dest-name myclustername` fails with e.g.

**Expected behavior**

An app would be created.

**Version**

Using the argocd cli out of the docker image `argoproj/argocd:v1.7.6@sha256:e561b4caa56a7ec41f59ba305b1f8158ada2c7eaee7a87d29fad8d88da650fec`

Edit: confirmed to also exist with 1.7.8

[2020-11-17 07:57] jannfis commented on #4840
I believe there might be a difference in the git clients between the one used by Argo CD (Debian package, built against GnuTLS) and the RHEL one (most likely built against OpenSSL, at least on my Fedora system).

I think that the GnuTLS implementation checks the extended usage bits on the cert of the server as to whether the usage is allowed (server authentication), while the OpenSSL implementatio

[2020-11-17 08:58] Numblesix commented on #4840
Thanks for the fast reply :)

checking my cert i can see the following:

[code]

I am also able to recreate that issue with a docker container running latest ubuntu image
[code]

curl works tough

[2020-11-17 09:46] jannfis commented on #4840
It might be that the X509v3 Key Usage is missing the `Digital Signature` bit, which probably is also required for server certificates.

While I think that GnuTLS should not be that strict on non-critical extensions/constraints (at least, they are not marked as critical from your above output), I'm afraid we have no possibility to change the current behaviour.

However, you might want to ask the Gi

[2020-11-17 09:47] james-callahan opened #4853 "Ability to diff a remote branch"
# Summary

I'd like to be able to see a diff against a remote branch/tag/commit; this could be used to
  - review pull requests/tags
  - see what was different in an old revision

# Motivation

Currently to diff against an arbitrary commit you need to check it out locally and use `--local`: this in turn requires that you have all renderers (kustomize/helm and any plugins) installed and able to do

[2020-11-17 09:52] jannfis commented on #4840
The GnuTLS folks even have a dedicated FAQ entry for it: https://www.gnutls.org/faq.html#key-usage-violation

[2020-11-17 09:55] ArjonBu opened #4854 "Admission controller is being created before the namespace"
**Describe the bug**

I am trying to deploy an environment using Kustomize and Argocd.

I have noticed that Argocd will try to create the admission controller objects before actually creating the namespace. I can see in the UI that the admission controller objects are in the "pre-sync" phrase. This is not done by me via annotations but it's done by Argocd.

I tried to add the "pre-sync" flag to th

[2020-11-17 10:23] jannfis commented on #4854
This behaviour has been fixed w/ https://github.com/argoproj/gitops-engine/pull/159, which will be released with the upcoming v1.8

[2020-11-17 10:52] fredleger commented on #3349
Can you precise in which release this has/will be included ? Looking forward to use this to replace old chartmuseum.

[2020-11-17 10:54] jannfis commented on #3349
@fredleger This will be part of the upcoming v1.8 (as indicated by the target milestone)

[2020-11-17 11:55] ArjonBu commented on #4854
Closing this issue then. Thanks

[2020-11-17 11:55] #4854 closed

[2020-11-17 13:36] wrdls commented on #4175
Yeah sure. Thanks for investigating.

[2020-11-17 13:36] #4175 closed

[2020-11-17 14:12] AmitBenAmi commented on #4764
@jessesuen

[2020-11-17 14:35] keithchong commented on #4841
The PR has been created. Here is a short demo selenium test script in action to take advantage of this change.  It launches the ArgoCD Ui where 4 apps already exist.  It clicks on the Delete button on the sockshop app. (Note, there are 4 app delete buttons in the tiles view).  The confirmation window appears to confirm that the delete button has been pressed.

[4841-ClickDeleteButtonOnAppTile.zip]

[2020-11-17 15:28] fredleger commented on #3349
@jannfis thanks for the info didn't pay attention to the milestone, sorry for that

[2020-11-17 15:43] dmizelle commented on #3691
We're thinking about using cdk8s for some stuff in our org, and we 100% solely use ArgoCD for deployments. Some thoughts I wanted to ask the group about before I took a swing at this one:

1. It looks like this is going to require nodejs in order to run cdk8s. Its going to bloat the image slightly.
2. For projects generated with cdk8s, they can either be "written" in Javascript, Python, or Java. T

[2020-11-17 16:03] #4841 closed

[2020-11-17 18:15] keithchong commented on #3205
@alexmt, should the CLI's default be changed to false as well?

[2020-11-17 18:36] jannfis commented on #3205
IMHO, I would wish for the CLI to behave as follows:

- If cascade is set to true, ask the user whether he really wants to delete the application and all of its resources
- For automation, either a `--force` or `--yes` option should specify to skip a dialogue like above and assume yes on the answer

[2020-11-17 19:25] alexmt commented on #3205
I really like your suggestion @jannfis . And pseudo terminal check is a nice workaround to prevent breaking existing automation.

[2020-11-17 19:40] keithchong commented on #4844
Hi @alexmt, I can have a look at this one.  Maybe something like this:

<img width="1073" alt="Screen Shot 2020-11-17 at 2 39 50 PM" src="https://user-images.githubusercontent.com/7726022/99439167-d539ff80-28e2-11eb-85bc-cb2fb599f82c.png">

[2020-11-17 19:47] keithchong commented on #4844
Or, check video:

[4844-DesignFlawDeleteResource.zip](https://github.com/argoproj/argo-cd/files/5555856/4844-DesignFlawDeleteResource.zip)

[2020-11-17 19:51] alexmt commented on #4844
@keithchong ,

I was thinking the same. First I was thinking to require a typing resource name before deletion. This might be too much, sometimes we need to delete a lot of resources. I think the prominent color is enough.

[2020-11-17 21:41] jessesuen commented on #4852
I think this only affects when adding using the cluster *name*, but not cluster URL.

[2020-11-17 21:42] jessesuen commented on #4853
This feature has been implemented and is coming in v1.8

Duping to https://github.com/argoproj/argo-cd/issues/4162

[2020-11-17 21:42] #4853 closed

[2020-11-17 22:22] james-callahan commented on #4852
That's correct.

[2020-11-17 23:06] aindeev commented on #4057
We were also running into this issue on every command `version`, `login`, etc.

Were able to solve by connecting through **grpc-web**. After that, all commands were working 🎉🚀
[code]

------

I think this happens because the grpc ingress is not correctly configured. We have the following networking setup and somewhere along the way the connection seems to be broken:
`Client` -> `GCE Ingress on GKE

[2020-11-18 01:48] PatrickSplice commented on #1105
So, I was able to get my helm wrapper script to work so that it executes helm2 secrets template when building the manifests to install.  However, the resulting values are messed up.  How are the values in the UI built?  If I include helm charts and secrets.yaml, etc on my custom argocd image, I can do a helm template command that properly reads my secrets and spits out the expected manifests.

[2020-11-18 09:06] Numblesix commented on #4840
Thanks that did the trick :) :partying_face:

[2020-11-18 09:06] #4840 closed

[2020-11-18 12:22] philipp1992 opened #4856 "argocd cant delete egressnetworkpolicy on openshift 4"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-18 14:18] elg0ch0 commented on #3941
[This](https://gist.github.com/janeczku/b16154194f7f03f772645303af8e9f80) worked for me

[2020-11-18 16:22] jannfis opened #4858 "Better handling of base64 encoded passwords/credentials"
# Summary

Argo CD should strip off any trailing CR and LF characters from passwords that are stored base64 encoded in Argo CD's configuration secrets.

# Motivation

When Argo CD needs to store a base64 encoded somewhere (i.e. oAuth secrets, repository passwords, etc), users tend to base64 encode these passwords in the following way:

[code]

This will encode the trailing newline added by `echo`,

[2020-11-18 16:54] #4751 closed

[2020-11-18 18:59] arikmaor commented on #2437
I also would love this feature
My use case is configuring [_workload identity_ for _Stackdriver Adapter_](https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/custom-metrics-stackdriver-adapter/README.md#configure-cluster) that comes pre-installed in _gke_ clusters

Currently, I have to manually run alongside `argocd`
[code]

[2020-11-18 20:18] keithchong commented on #4844
We could instead use, or also use, an icon. Although there is code there in place to accommodate an icon, but the layout is a bit off.  The header colour will have to be separate property.

<img width="1040" alt="Screen Shot 2020-11-18 at 3 11 54 PM" src="https://user-images.githubusercontent.com/7726022/99582694-793dac80-29b0-11eb-8f67-977766910985.png">

<img width="1402" alt="Screen Shot 2020-1

[2020-11-18 20:21] raffaelespazzoli commented on #2437
@arikmaor take a look at: https://github.com/redhat-cop/resource-locker-operator

[2020-11-18 21:02] jsoref commented on #4858
assuming there's a log, for initial setup, it's probably worth logging if the system encounters and strips these characters. -- This isn't for validating later, just the first time a given credential is used (assuming that's a thing).

[2020-11-18 21:34] jessesuen commented on #4856
I'm pretty certain this would not be an Argo CD issue and probably a finalizer preventing deletion. Can you share the metadata of the egressnetworkpolicy? If it has a deletionTimestamp, then Argo CD has done it's job and something else is preventing the deletion of that object.

[2020-11-18 21:56] jessesuen commented on #4734
Since repos and clusters are underlyingly Secrets, we can't do this through API server. Proposal is to do this in argocd-util, like:

[code]

Syntax TBD

[2020-11-19 00:30] alexmt commented on #3947
Hello @ghostsquad ,

In Argo CD v1.8 we've added exclude settings to directory-based application sources. E.g.

[code]

So in v1.8 you can exclude all files except the required one. This is not perfect though. I think we just need to add `include`. Do you agree it will cover your use case?

[2020-11-19 00:35] alexmt commented on #3689
Hello @ghostsquad,

I've just checked - right now Argo CD expects a single JSON encoded Kubernetes resource. I think this is a bug. All other tools might produces JSON/YAML and might have one or more resources. I'm sending PR with the fix soon.

[2020-11-19 02:36] ghostsquad commented on #3947
does exclude work like `.gitignore`? such that I can do something like:

[code]
?

[2020-11-19 02:46] ghostsquad commented on #3947
I do agree that it would be nice to have an include as well. Though `* + !` is essentially "exclude everything except"

[2020-11-19 05:25] manfredliuactive commented on #4451
hi i run argocd 1.7.5, but I don't see any metrics related to ssh on both argocd-metrics and argocd-server-metrics.

[2020-11-19 08:10] philipp1992 commented on #4856
it has the following finalizer set:

  finalizers:
  - foregroundDeletion

[2020-11-19 09:15] marmelin commented on #3811
Somehow it does not work for adding an app:
[code]

However, other commands are working:
[code]

What is missing here?

[2020-11-19 09:39] asafdl opened #4861 "Argo missing managed cache leads to reconcile and downtime on HA app"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2020-11-19 11:03] jessesuen opened #4862 "Anonymous mode does not relogin user with expired token"
**Describe the bug**

When a JWT token expires, Argo CD UI/API server will re-initiates a OAuth2 login flow when the server returns 403, and the user does not notice a difference, other than a few browser redirects.

However, when read-only anonymous access is enabled, the user's cookie is not detected as expired, and the oauth login flow is never re-initiated. Instead, the user will attempt to pe

[2020-11-19 11:06] jessesuen commented on #4861
Can you explain how did this led to downtime? What exactly was down your app? Argo CD?

[2020-11-19 11:18] jessesuen commented on #4856
Does it have a deletionTimestamp?

[2020-11-19 11:18] philipp1992 commented on #4856
yes

[2020-11-19 11:23] jessesuen commented on #4856
Then it's no longer an ArgoCD issue. It's up to kubernetes to carry out the delete

[2020-11-19 11:38] philipp1992 commented on #4856
thanks a lot for the hint.

[2020-11-19 11:38] #4856 closed

[2020-11-19 12:10] asafdl commented on #4861
Both pods were down, I suspect since argocd reconciled the whole chart, that the deployment was reconciled and that led to both pods to go down at the same time instead of the conventional rolling update k8s would do if just the pods needed to reconcile. but this is only my suspicion

[2020-11-19 12:45] jonaslar opened #4863 "ArgoCD Application stuck in state Progressing and Synced too long"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
*

[2020-11-19 13:09] smitthakkar96 commented on #4732
Can we backport this to 1.7 URGENTLY as updating Argo Rollouts version is breaking the UI for argocd

[2020-11-19 14:00] megakoresh commented on #4831
Yes if they had to code around this problem, changing it would break. I don't think it's necessary to add this as an environment variable since `git rev-parse --show-toplevel` does the job well enough anyway. Confusing as to why such a design decision would be made, but this issue can be closed.

[2020-11-19 14:00] #4831 closed

[2020-11-19 14:30] laserb opened #4864 "App stays out of sync after manual change of port"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-19 14:48] danbirle commented on #1604
commit sha doesn't work though..... and i'm supplying the correct format as i'm getting some other error if i supply only the first 7 / 8 / 9 characters from the sha ........ neither supplying a branch name that's not merged into master...

[2020-11-19 17:02] alexmt commented on #4852
@james-callahan I was able to reproduce the issue but only with `--validate=false` flag. Without this flag, the application is created successfully. Can you please confirm you were using `--validate=false` as well?

[2020-11-19 18:03] alexec opened #4865 "Provide recommendations using something like Checkov"
# Summary

Argo CD has access to everyone's apps manifests. I could use a tool like Checkov to provide recommendations in the UI to users.

# Motivation

Reduce the risk of problems in apps.

Pros:

* Zero-configuration [`O(0)`] cost for users. Shift-left into Jenkins would be `O(N)` cost

Contra:

* Move Argo CD towards application security enforcement (we're in the app-deliver space already).
*

[2020-11-19 18:47] HumairAK commented on #3045
+1 Our case is nearly identical, would love this feature.

[2020-11-19 19:13] jessesuen commented on #4732
Which version of Rollouts?

I originally mislabeled the title of this as Argo Rollouts v0.9. In fact, the work I did was make Argo CD v1.8 compatible with Rollouts v0.10

[2020-11-19 19:18] jessesuen commented on #4732
Argo CD v1.7 should be fully compatible with Rollouts v0.9. The current problem is that rollout actions in Argo CD v1.7 do not work well with Rollouts v0.10.

The change will be difficult to backport because it depended on a gitops-engine change that is hard to consume from Argo CD v1.7.  If this is urgent, you rollback Rollouts back to v0.9.3

[2020-11-19 20:51] trim777 opened #4867 "Add possibility to trigger sync with CRD"
# Summary

It would be great to have an option to trigger sync by patching existing CRD (kind: Application).

# Motivation
I have application which should be synced only by after external request (preferably, from Argo WorkFlow).
ArgoWF can patch existing manifests, this is example of already working patch:
[code]
So if this feature would be implemented, I'd just add into k8s-manifest above few li

[2020-11-19 21:42] alexmt commented on #4864
This is expected behavior. Argo CD uses `kubectl diff`/`kubectl apply` to compare and patch K8S resources. The port is used as a key to merge ports array so merged result has two ports with the same name.

[2020-11-19 22:00] kshamajain99 commented on #4852
Taking a look into this issue.

[2020-11-19 22:26] james-callahan commented on #4852
Yes I am.

[2020-11-19 23:07] alexmt opened #4868 "Use streaming API for Application List UI view"
# Summary

If Argo CD instance is managing 3k+ applications then API response might be more than 100mb. Without server side pagination API server might use a lot of memory and get OOM killed. API Server should support server-side pagination to handle 3k+ applications.

# Proposal

Implement server-side pagination so that UI can load applications in chunks.

[2020-11-20 06:37] chris-vest commented on #4852
I am also seeing this issue after switching to use the cluster name rather than the server URL in our Application definitions. I have a job which scales certain Applications down overnight using `argocd app set`, then another which scales them back up using `argocd app unset`. This is now failing with the error:

```level=fatal msg="rpc error: code = InvalidArgument desc = application spec is inva

[2020-11-20 09:33] vrodomista opened #4872 "Question: what's the best way to add a GitHub Organization without specifying a team?"
Hey guys! Thanks for your awesome product. I am wondering how to use the `argocd-rbac-cm` to bind a role to a GitHub organization. Was wondering if the following would work?

`your-github-org:*`

Thanks!

[2020-11-20 09:50] samuel-sujith opened #4873 "go mod vendor not fetching latest argocd packages"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ Yes] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ Yes] I've included steps to reproduce the bug

[2020-11-20 10:10] #3845 closed

[2020-11-20 10:14] marmelin commented on #3811
Solved it .

Netpolicies were required for the argocd namespace ... this request is working now.

[2020-11-20 17:42] snowping commented on #4614
We have the same issue after we have upgrade to version 1.7.x. We also tried the argocd annotations instead of the helm but same effect. It looks like it's related to the delete policy in our case "before-hook-creation".

[2020-11-20 17:45] tomjohnburton opened #4875 "Duplicated logs in pod logs view"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-20 18:19] #4572 closed

[2020-11-20 18:32] mayzhang2000 opened #4877 "panic: interface conversion: interface {} is string, not []interface {}"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-11-20 18:44] jessesuen commented on #4875
Did the pod restart?

[2020-11-20 18:46] jessesuen commented on #4872
It depends on your dex configuration, users are also members of `your-github-org`

[2020-11-20 18:52] tomjohnburton commented on #4875
No pod restarts. It seems to happen if I leave the Logs tab open for some time. When I exit out of the tab and go back the logs are normal again.

[2020-11-20 18:52] vrodomista commented on #4872
@jessesuen so you should be able to omit team?

[2020-11-20 18:56] tomjohnburton commented on #4875
I watched the network logs and this call was triggered
![image](https://user-images.githubusercontent.com/39559415/99839094-75ee2080-2b6a-11eb-9596-a2d5df672f34.png)

[2020-11-20 19:15] wmgroot commented on #4723
Would it make sense to allow a generic `extraArgs` field? That might help future-proof against new helm features.
[code]

[2020-11-20 19:17] wmgroot commented on #4723
This is a large pain when dealing with the kube-prometheus-stack chart, which can easily be applied multiple times in the same cluster to create additional prometheus clusters.

[2020-11-20 19:18] jessesuen commented on #4875
Probably what's happening is we lose the log stream, restablish the log request stream, without clearing the UI buffer.

[2020-11-20 19:19] #4452 closed

[2020-11-20 19:41] jessesuen commented on #4872
Yes, you configure RBAC as: `your-github-org` and not `your-github-org:*` to allow all of `your-github-org` permissions

[2020-11-20 20:19] catsgotmytongue opened #4879 "helm2 binary is used when the helm version specified is 'v3' in the application manifest yaml"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-20 20:19] keithchong commented on #4844
The title colour can be customized to be red, yellow or gray.

<img width="1094" alt="Screen Shot 2020-11-20 at 3 16 37 PM" src="https://user-images.githubusercontent.com/7726022/99845947-74f5c880-2b43-11eb-8680-461397277cb6.png">

[2020-11-20 21:38] alexec opened #4880 "Add meta-data (blame) to created/update objects"
# Summary

When syncing an app add the following meta-data annotations directly to each resource (not just the app):

* `argocd.argoproj.io/creator: SSO username`
* `argocd.argoproj.io/git-revision: g23phou`
* `argocd.argoproj.io/git-repo: ssh://...`

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

[2020-11-20 21:43] jessesuen commented on #4873
Duplicate of https://github.com/argoproj/argo-cd/issues/4055

[2020-11-20 21:43] #4873 closed

[2020-11-20 21:44] jessesuen commented on #4875
How many of these log requests was there?

[2020-11-20 21:45] jessesuen commented on #4875
@darshanime is this something you can take a look at?

[2020-11-20 21:47] jessesuen commented on #4879
[code]

That feature is coming in Argo CD v1.8.

As a workaround, we auto-detect helm v3 if it has the new required fields in Chart.yaml

[code]

If it has these, we will invoke helm3

[2020-11-20 21:49] jessesuen commented on #4880
Principally, we don't currently inject any data to the rendered manifests aside from the tracking label. This will go against that.

[2020-11-20 22:03] catsgotmytongue commented on #4879
well I don't see anything that documents that it wasn't available in my version of argocd.

I'm not following what you mean here but the yaml for the Chart I was trying to use is:
[code]
I was merely trying to use a 3rd party chart that says helm 3 as a requirement and then all their Chart.yaml files specified apiVersion v1.

Making my own chart based on theirs with apiVersion set to v2 in the Cha

[2020-11-20 22:44] andrewm-aero commented on #2785
My team has recently started bumping up against this as well. While not a perfect solution (and we must remember not to let the perfect be the enemy of the good), we had the following thought on how to fix this issue:

1. Allow "child" apps (i.e. apps created by apps) in a project to be restricted to a set of projects
2. Allow "child" projects (i.e. projects created by projects, or projects create

[2020-11-20 23:10] jessebye commented on #3688
@wmcnamee-tunein @gaurav517 I have this working using a [plugin](https://argoproj.github.io/argo-cd/user-guide/config-management-plugins/). In addition to the plugin I had to add `jb` to a custom docker image for argo.

In our case, we're using jb and tanka, and got it to work like this:
[code]

Then you can create an Argo app like this:
[code]

The only issue I'm still trying to solve is how to u

[2020-11-21 06:23] alexmt commented on #4867
Hello @trim777 ,  You can manually trigger synchronization using `operation` field. E.g. :

[code]

Argo CD should start synchronization once the field is set and will remove it when the sync is completed. Using Argo Workflows you might simulate "argocd app wait" using `resource` step and `successCondition`/`failureCondition` [docs](https://github.com/argoproj/argo/blob/6e2b0cf37bdd14022d0fe6437a0

[2020-11-21 06:24] alexmt commented on #4867
We already have sync CRD proposal here: https://github.com/argoproj/argo-cd/issues/1283 . Planning to work on it next release

[2020-11-21 06:27] #4361 closed

[2020-11-21 06:27] #4410 closed

[2020-11-21 06:28] #4579 closed

[2020-11-21 06:28] #4657 closed

[2020-11-21 06:30] #4608 closed

[2020-11-21 06:32] #4057 closed

[2020-11-21 06:33] #4378 closed

[2020-11-21 18:57] Chabane commented on #2424
@wojtek-viirtue did you find a solution since August ?

[2020-11-21 19:52] tiagocborg commented on #2347
@helenabutowatcisco just to see If I understand: on step 6 you added to the aws auth cm running on account B the same role you created on account A with and annotated to the argo service roles?

[2020-11-23 05:13] Gangaram-Dewasi commented on #2108
Team,
I'm using SAML for login for normal users, now i want to create a local user for login and api access but post addition of the user in the argocd-cm and also in the RBAC, the login is failing with the error msg saying

           "FATA[0010] rpc error: code = Unauthenticated desc = Bad local superuser username"

My argocd-cm:
[code]

My RBAC:

[code]

Would request if someone can help me on

[2020-11-23 05:21] Gangaram-Dewasi commented on #120
Team,
I'm using SAML for login for normal users, now i want to create a local user for login and api access but post addition of the user in the argocd-cm and also in the RBAC, the login is failing with the error msg saying

           "FATA[0010] rpc error: code = Unauthenticated desc = Bad local superuser username"

My argocd-cm:
[code]

My RBAC:

[code]

Would request if someone can help me on

[2020-11-23 05:25] gaganhegde commented on #4858
Hi @jannfis , had a query? is the boolean verbatim field expected in the argocd cm?

[2020-11-23 07:21] jannfis commented on #4858
Hey @gaganhegde, having this externally configurable is not required. It should just be an additional option for the programmatic interface for now, so that we can reuse it throughout the code base to decode base64 credentials.

[2020-11-23 07:50] jannfis commented on #4858
I'm not sure whether it's viable to figure out whether it's the first the credential is used/decoded. But I agree printing a warning is a good thing, so the user will know and has the possibility to fix this small mistake. We could issue the warning when the credential is decoded, and needs to be trimmed from trailing CRLFs.

[2020-11-23 08:16] infa-kparida commented on #4723
Agree with @wmgroot . While dealing with kube-prometheus-stack this option will be life saviour

[2020-11-23 08:17] samuel-sujith commented on #4873
I dont think this is the same as #4055 .

WHen i try to vendor argo-cd into the vendor folder, I am not getting the latest source code.

One of the examples is the types.go in v1alpha1 folder where the EnableOCI flag in the repository type is missing.

Even go get github.com/argoproj/argo-cd is not retrieving the latest source code from github.

Sujith.

[2020-11-23 08:26] samuel-sujith opened #4885 "Go get github.com/argoproj/argo-cd does not get the latest source code"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ yes] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ yes] I've included steps to reproduce the bug

[2020-11-23 08:56] jannfis commented on #4885
Hey @samuel-sujith , as far as I can tell, you are pulling `github.com/argoproj/argo-cd v1.7.10` in your go.mod.

The Helm OCI feature however is part of upcoming v1.8, and therefore not included in the v1.7.10 source code

You could use a git commit SHA to a commit in the `release-1.8` branch for the argo-cd dependency until v1.8 is released.

[2020-11-23 09:08] samuel-sujith commented on #4885
Thanks a lot for reply. I will close this now.

[2020-11-23 09:08] #4885 closed

[2020-11-23 11:33] snowping opened #4886 "Sync gets stuck if using job hooks with multiple replicas on argocd-application-controller"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-11-23 14:16] jannfis commented on #4886
Hi @snowping - controller sharding is available from the upcoming v1.8 release, and is not yet supported at all.

Sorry for the confusion, as it is already available from the documentation. This confuses quite a few people.

Versioning of documentation is on our priority list, please bear with us.

I'm closing this bug. Feel free to reopen if you encounter the same issue with v1.8.

[2020-11-23 14:16] #4886 closed

[2020-11-23 14:26] tiagocborg opened #4887 "RBAC policy to apps from other groups"
I want to show each group only apps that belong to their project.

The project policy is working fine, only people from `myproject:guest` can sync, other people can´t sync, but still can see the apps on the dashboard. I want other groups to not be able to see at all.

Policy on the project manifest:
[code]

I tried to add this to the RBAC config file, but no dice:
[code]

[2020-11-23 14:35] jannfis commented on #4887
Please set `policy.default: ""` to your `argocd-rbac-cm`.

The default policy is applied to all subjects, and it is `role:readonly` by default.

[2020-11-23 14:40] tiagocborg commented on #4887
@jannfis Perfect. Thank you!

[2020-11-23 14:44] jannfis commented on #4887
So can we close this issue? :)

[2020-11-23 14:58] dewan-ahmed commented on #4393
[Note on argo-cd slack](https://argoproj.slack.com/archives/CEWCP8TV5/p1605811922010900) regarding smoke test scripts

cc: @alexmt

[2020-11-23 15:34] snowping commented on #4886
HI @jannfis

Thanks for the quick response and info.

[2020-11-23 17:14] Chabane commented on #4096
the admin user must be enabled during the password change of a new local user
the default password of a new user can be retrieved from `kubectl get pods -n argocd -l app.kubernetes.io/name=argocd-server -o name | cut -d'/' -f 2`

[2020-11-23 17:24] chetan-rns commented on #4413
Hi, does it involve writing a custom check using `lua` under resource_customizations? I'm happy to work on it

[2020-11-23 17:46] #4791 closed

[2020-11-23 17:56] kingdonb commented on #4358
I still get comparisonerror, is this change in a release? (It seems by now it would be, there have been a couple of releases since Oct 14, but I can't find it mentioned in any release notes.)

[2020-11-23 19:32] #4887 closed

[2020-11-23 19:37] krisdevopsbot opened #4889 "helm url values.yaml not refreshing"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X