[2021-06-17 18:06] jbapu commented on #6489
Just found out that the annotation needs to be added to the CustomResources and not to the parent app deploying the CRs.

[2021-06-17 18:06] #6489 closed

[2021-06-17 19:32] jessesuen opened #6494 "Rollback in middle of Sync operation should terminate/override existing"
# Summary

Some feedback received from our users during a recent Argo CD demo:

Currently, if you attempt to perform rollback while an sync operation is running, it fails with an error stating that another operation is in progress. So a user has to first terminate the existing operation, then perform rollback.

The request was that rollback would automatically do this for them (with a warning that

[2021-06-17 20:11] sidewinder12s commented on #5742
This might have been solved for me by restarting the argocd-server after making the dex config change.

[2021-06-18 09:15] asaorgad commented on #2892
I suggest that the colors will change depending on the data traffic between the services

[2021-06-18 12:15] romachalm opened #6498 "Unit tests do not cover resource_customizations"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I work to add a custom health check. Adding on purpose an error in my `health_test.yaml` file, I found that `make test` does not cover any of the customizations.

The test `TestLuaHealt

[2021-06-18 13:04] fabricev opened #6500 "argo-repo-server deployment in HA manifests is using the default serviceaccount"
# Summary

All statefulsets / deployments in the current (2.0.3) HA manifests have their own service account, except argocd-repo-server which is using the default service account.

# Motivation

Consistency in the solution.

# Proposal

Add a service account, a role and a role binding for the repo-server deployment.

[2021-06-18 15:41] romachalm opened #6501 "Configure health check for Google ConfigConnector Resources"
# Summary

I use [the operator Config Connector](https://cloud.google.com/config-connector/docs/overview) from Google to provision with argo-cd some infra assets (IAM service account, policies, GCS buckets) together my applications provisioning.

I have seen that the status of  [iam.cnrm.cloud.google.com/IAMServiceAccount](https://cloud.google.com/config-connector/docs/reference/resource-docs/iam/

[2021-06-18 16:07] romachalm commented on #6501
I have open a draft PR #6502 to integrate the work I have already integrated in our argo-cd instance (`argocd-cm`) and help the discussion about the feature.

[2021-06-18 23:19] mdreizin commented on #3941
Do you have any updates on this issue?

[2021-06-19 19:21] rajivml opened #6507 "App of Apps Incorrect Health status"
HI,

Right now we are relying on the Lua code documented here for monitoring the health of app-of-apps application
https://argoproj.github.io/argo-cd/operator-manual/health/#argocd-app

But this logic doesn't capture some other scenarios where for example if an helm chart path is wrong or the github URL is wrong i.e. basically if there any issue w.r.t application spec, then this logic simply ignor

[2021-06-21 07:05] NargiT commented on #5595
the hash it really a good option with annotation for readability :tada: which I knew golang :pray:

[2021-06-21 08:48] joseftw opened #6510 "Can't add repository via cli (or UI) - getting "Forbidden" response"
**Describe the bug**
Getting the following error when trying to add a repository using **argocd repo add**
[code]

I've also tried using ```--grpc-web``` to no avail.

Im running ArgoCD in OpenShift using the ArgoCD operator. I've used the following YAML when creating it:

[code]

**To Reproduce**

[code]

**Expected behavior**
Repository gets added

**Version**

[code]

**Logs**

[code]

[2021-06-21 15:49] jetzlstorfer opened #6513 "Integration with Keptn"
# Summary

Provide an integration with [Keptn](https://keptn.sh).

# Motivation

It would be great to have an integration with ArgoCD for deploying the applications, and have Keptn for orchestrating deployments, test, evaluation etc.

Therefore, it is needed that Keptn provides a Git repo that can be leveraged by ArgoCD.
From the ArgoCD side, it is necessary to have an integration that sends back

[2021-06-21 18:20] yydzhou commented on #3474
@alexmt Any progressing on this? This becomes a main pain point for our use case. We have tested that users can easily destroy or crush others' service by creating an application with same name and setup auto-sync policy.  In a multi-tenant environment, It's a big risk and also it's hard to prevent without sacrificing user experience/flexibility.

We need either global naming mechanism or allowing

[2021-06-21 18:22] jannfis commented on #3474
@yydzhou There is an ongoing proposal being discussed at https://github.com/argoproj/argo-cd/pull/6409

[2021-06-21 19:18] jdfalk commented on #6062
Would it be possible to get a argocd native way to do this through the AWS SDK in argocd? Or is that not possible? I'm not super excited by a cron job that if/when it fails my entire argocd installation comes to a halt. It's a great work around for now, but was just hoping a flag could be added --ecr or something like that which enables it automatically refreshing the token.

[2021-06-21 23:02] jessesuen commented on #6513
We actually have Argo CD notification controller which was built for this use case. Applications can be annotated to send a custom payload to a web endpoint. You could leverage the [`on-deployed`](https://argocd-notifications.readthedocs.io/en/stable/catalog/) trigger to send a custom template (with a keptn specific payload) to a [webhook template](https://argocd-notifications.readthedocs.io/en/st

[2021-06-21 23:05] alexmt commented on #6513
Thank you @jessesuen . I was about to add the same suggestion. Most common notification triggers and templates are stored in argocd notifications catalog: https://github.com/argoproj-labs/argocd-notifications/tree/master/catalog/ . I would suggest to create keptn specific templates/triggers and store them in keptn git repository so that Argo CD users could include them into Argo CD installation.

[2021-06-22 00:43] Lapeyus opened #6520 "Inconsistent behaviour with the ignoreDifferences function"
while declaring an argocd application the ignoreDifferences function behaves unexpectedly, it only works if the deployment manifest has no replica declaration in the deployment definition file

I take this block directly from the documentation
[code]

if the deployment.yaml specifies the desired replicas the ignoreDifferences section fails
[code]
but this one works
[code]

[2021-06-22 00:59] Lapeyus opened #6521 "Modification to existing keys in configmaps are rolled back regardless of the ignoreDifferences block in the app definition"
this ignore request has no effect in the configMap resource

[code]
after this is applied and if a new key value is added to the configmap Argo retains the new values, but after the sync operation any modification to existing keys in the configmap are rolled back regardless of the ignoreDifferences block in the app definition.

[code]
both have no effect

[2021-06-22 07:15] thetruechar opened #6525 "Can not use google.golang.org/grpc other than v1.15.0"
[code]

[code]
after `k port-forward argocd-server-78cc9876b9-z8tsz  8080:8080`, run the test, it will block forever if the `google.golang.org/grpc` version is not v.1.15.0

[2021-06-22 14:50] dudicoco opened #6527 "Statefulset healthcheck does not work"
When updating a statefulset with a bad configuration which causes a pod to crashloopbackoff, the statefulset health never reaches a degraded state:

[code]

With deployment resources, the deployment will reach a degraded state when the `progressDeadlineSeconds` exceeds, however with statefulset (and I assume daemonset as well) it seems that argocd cannot tell the degraded state.

Using argocd v1.8

[2021-06-22 15:07] Cajga commented on #5826
The "proxy chart" solution does not work if you have your chart in a private helm repo which requires auth. In the final solution we should have the possibility to have both the values.yaml and the chart in two separate (git and helm) private repos.

[2021-06-22 15:17] Cajga commented on #5065
@jessesuen, that workaround cannot be used in case you use a private helm chart repository with authentication.

[2021-06-22 15:28] Cajga commented on #2789
Well as this is the oldest ticket, let me link here all the tickets that I found so far about the same subject:
* https://github.com/argoproj/argo-cd/issues/5826 (this seems to have someone who is working on a solution)
* https://github.com/argoproj/argo-cd/issues/6094
* https://github.com/argoproj/argo-cd/issues/4129
* https://github.com/argoproj/argo-cd/issues/5065

Proposed workarounds (if we w

[2021-06-22 15:33] echoboomer commented on #2789
We have been using option 3 for months since it's the only way to accomplish this. Our Helm charts are in a private repository that ArgoCD can authenticate to, but we never found a clean way to say "go use the values file located here" since that would also be in a private GitHub repository somewhere else.

We we end up doing is building an application CRD in CI/CD and merging a file called `k8s-v

[2021-06-22 16:49] xlanor commented on #4424
Has anyone figured out a way to do this for google SSO?

It seems like creating a user seems to require an admin user being enabled in the first place. we could script this via terraform, but would prefer a cleaner approach.

[2021-06-22 16:58] #6401 closed

[2021-06-22 17:19] teejaded commented on #5529
Sure!  Generating self-signed certificates is easy in golang.  We would want to store the certificates somewhere in the config and make sure the file is readable only by the user.  Most users will want to trust the certificate to prevent security popups, and you wouldn't want an attacker to have easy access to a trusted private key.

[2021-06-22 18:59] nwang92 opened #6529 "Add support for refined permissions used by ArgoCD role"
# Summary

Add support for:
* Customized role permissions during `argocd cluster add` phase
* Using a pre-defined `Role` for `argocd-manager-role` - the current behavior always upserts
* Allowlist/denylist of which cluster API resources are scanned/reconciled during `argocd app sync` phase

# Motivation

For bullet 1: I've been evaluating the use of ArgoCD in a Kubernetes cluster with a tighter se

[2021-06-22 19:08] joseftw commented on #6510
Solved. Our provider had blocked access to Bitbucket/Github. Solved by opening up port 22 and 443.

[2021-06-22 19:08] #6510 closed

[2021-06-22 20:32] jessesuen commented on #6525
Does this also happen without port-forwarding?

[2021-06-22 20:32] jessesuen commented on #6527
What does `kubectl rollout status` return for the statefulset? We are supposed to match that behavior.

[2021-06-22 20:33] rbreeze commented on #6521
This is expected behavior. `ignoreDifferences` only applies when Argo CD is determining diffs (e.g. when determining SyncStatus); it will always apply whatever is in git regardless of `ignoreDifferences`.

[2021-06-22 20:40] rbreeze commented on #6520
When you say "fails", do you mean that upon Syncing, the desired replicas in `deployment.yaml` is honored?

If so, this is desired behavior; Argo CD only uses `ignoreDifferences` when calculating diffs, not when Syncing (see #6521)

[2021-06-22 21:56] alexec opened #6533 "Support inputs to resource actions (e.g. scale resources from the UI)"
# Summary

I'd like to be able to scale resources in the UI, e.g `kubectl scale ... --replicas 2`.

# Motivation

Scaling up and down my app without having to use `kubectl`.

# Proposal

How do you think this should be implemented?

[2021-06-23 00:20] #6498 closed

[2021-06-23 01:13] alexmt commented on #6507
Hello @rajivml , I've checked current behavior. The app health changes to `Unknown` if controller is unable to get resources, access cluster etc. I think this is correct behavior. Any "Error" condition means controller cannot really tell if app is Healthy or Degraded so `Unknown` is correct status in this case. What do you think?

[2021-06-23 01:15] alexmt commented on #6329
Fixed by https://github.com/argoproj/argo-cd/pull/6534

[2021-06-23 01:15] #6329 closed

[2021-06-23 01:20] #6490 closed

[2021-06-23 07:31] lucheng-wh commented on #6362
I met same problem with nilic

[2021-06-23 09:18] dudicoco commented on #6527
@jessesuen `kubectl rollout status` also hangs indefinitely. So perhaps that is not a behaviour which should be replicated by ArgoCD?

[2021-06-23 14:13] thetruechar commented on #6525
yes, when run in cluster, the host is `argocd-server.argocd`, it blocks forever.

[2021-06-23 16:19] joebowbeer commented on #5952
#6059

[2021-06-23 16:45] tonythomasm opened #6539 "use management with OIDC provider seems not working (argo-cd v1.7.11)"
Our argo-cd deployment is running with verison 1.7.11 (Deployed using helm ctart). We have an OIDC provider, and configured it with argo for user management as per  https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#existing-oidc-provider.

From the `argocd-server` log  I could see

```time="2021-06-23T16:24:11Z" level=info msg="Web login successful. Claims: {............```

[2021-06-23 17:41] #6148 closed

[2021-06-23 17:46] #5436 closed

[2021-06-23 17:53] jessesuen commented on #6527
I think the problem is that, unlike Deployments, StatefulSets do not have a `spec.progressDeadlineSeconds`, which in the case of Deployments, determines if something is Degraded. In other words, Argo CD (or `kubectl rollout status` for that matter), is not at liberty to determine a StatefulSet is degraded because there is no field to indicate how long the CrashloopBackoff is considered excessive.

[2021-06-23 18:12] dudicoco commented on #6527
@jessesuen yes that's what I wrote in the first comment:

Perhaps argocd should check the number of pods restarts to check the statefulset/daemonset health?

[2021-06-23 19:09] jessesuen opened #6541 "Workflow as Sync/PostSync hook does not wait for completion"
**Describe the bug**

I was assisting a user who is trying to use an Argo Workflow as a PostSync hook. However, the actual ArgoCD sync operation did not wait until the workflow was completed, before it marked the operation as Successful. See screenshot where workflow was created but sync operation only lasted 1s

![image](https://user-images.githubusercontent.com/12677113/123153313-61347c80-d41a-1

[2021-06-23 19:14] jessesuen commented on #6533
I think this would be an enhancement to our resource Actions feature, but with the added ability to accept inputs to the action. We've always considered allowing this, but never implemented it. There might even be an existing issue for this.

In other words, we would allow people to create a "scale" resource action as a lua script, which accepts a replicas field as an input, and the action would m

[2021-06-23 19:56] cgetzen commented on #5989
Same experience here. Not being able to trust a diff is a big concern of mine, especially for resources that are non-namespaced and effect the entire cluster.

[2021-06-23 20:05] jessesuen commented on #6527
Health assessments can only be done looking at the resource in question (e.g. the statefulset itself). So even if we wanted to examine child resources to determine health (which I don't think we should in this case), it's currently not technically possible.

[2021-06-23 20:51] alexmt commented on #2913
wow, it has a lot of thumbs-ups. Adding to proposal discussion queue to make sure it is prioritized appropriately.

[2021-06-23 20:52] alexmt commented on #6521
Yeah, this is known behavior and we have feature request to improve it: https://github.com/argoproj/argo-cd/issues/2913

I think it is safe to close this issue do discuss in 2913

[2021-06-23 20:52] #6521 closed

[2021-06-23 21:00] jessesuen commented on #6541
I think the problem might be that we are returning Healthy when the Workflow has an empty status.phase. We should return Progressing instead.

[code]

[2021-06-23 21:02] alexmt commented on #6541
ah, it could be the reason. We had exact same bug in argoproj.io/Application health check.

[2021-06-23 21:32] #6541 closed

[2021-06-24 00:00] alexec opened #6545 "Why is it now very hard to get running locally?"
I started trying to get it running at 10am today. It is now 5pm and it is still not working.

* `node-sass` is broken. Should use `sass`.
* Very long confusing instructions.
* Slow, often running `go mod vendor`.
* `make start-local` is not documented. Was `make start`. Is broken I think.
* Does not install correct configuration.
* `goreman` never cleanly exists. Leaves old containers running.

An

[2021-06-24 00:18] jessesuen commented on #6529
The argocd-manager role can be explicitly specified with the `--service-account` flag:

[code]

The permissions which Argo CD needs, can be fine-tuned with resource inclusions and exclusions:
https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#resource-exclusioninclusion

The use case is that if Argo CD needs to run with a limited RBAC role, you would also include/exclude resourc

[2021-06-24 00:19] jessesuen commented on #6529
The argocd-manager role can be explicitly specified with the `--service-account` flag:

[code]

The permissions which Argo CD needs, can be fine-tuned with resource inclusions and exclusions:
https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#resource-exclusioninclusion

The use case is that if Argo CD needs to run with a limited RBAC role, you would also include/exclude resourc

[2021-06-24 05:06] adeepsri opened #6548 "Download Pod Logs button not honouring argocd-server rootpath"
**Describe the bug**
Clicking Download Pod Logs button redirects to baseurl without rootpath.

**To Reproduce**
1. Create argocd-server deployment with command as:
`- command:

[2021-06-24 11:04] sourabhyadavgit opened #6549 "Argocd cli login issue"
While configuring argocd with Openldap the web gui works fine but cli login fails.
Web gui works fine and lists out the users info and the groups it is part of but cli throws the error of invalid credentials.

I've also tried using -grcp-web and --grcp-web-root-path option but it's still gives 503 error while using it.

Is cli only allows local users to login via cli?

[2021-06-24 11:07] PatTheSilent commented on #6125
Having an option to shard by something else than cluster would be much appreciated. Because I really dislike having single points of failure I have an ArgoCD stack in each of my clusters and due to this limitation I can only vertically scale the Application Controller, which is far from ideal.

[2021-06-24 11:28] alexanderdalloz commented on #5590
The issue still exists in Argo CD v2.0.0

[2021-06-24 11:51] Cajga opened #6550 "Create custom health checks for trident.netapp.io/TridentOrchestrator and trident.netapp.io/TridentBackendConfig"
# Summary
trident implements a FOSS CSI driver for kubernetes using NetApps appliances as backends. Trident and it's operator using several CRDs to achieve native kubernetes experience.
There are two important CRDs which are interesting with simple installation through ArgoCD:
# trident.netapp.io/TridentOrchestrator (used by the trident-operator to install trident itself)
# trident.netapp.io/Tride

[2021-06-24 12:36] HariSekhon commented on #6106
I'm also seeing this on ArgoCD 2.0.3

[2021-06-24 12:48] abhinayguptapeoplegrove opened #6554 "Argocd is unable to connect with Private GKE | URGENT"
### Discussed in https://github.com/argoproj/argo-cd/discussions/6553

<div type='discussions-op-text'>

<sup>Originally posted by **abhinayguptapeoplegrove** June 24, 2021</sup>
PROBLEM STATEMENT:

-  Unable to add private GKE cluster in Argocd

SUMMARY:
- We have created a public GKE cluster for hosting all ArgoCD components
- We are using this cluster to deploy k8 resources to other multiple pr

[2021-06-24 15:24] gw0 commented on #2789
I noticed that Flux v2 provides another option, `valuesFrom` field to load values from a ConfigMap or Secret:
- https://fluxcd.io/docs/components/helm/helmreleases/#values-overrides

[2021-06-24 17:29] jgwest commented on #6405
@alexmt In which namespace would the `argocd-source-cm` resource be defined? I assume it would be defined in the AppSource controller namespace, rather than in the same namespace as the `AppSource`? (if it WERE in the same namespace as the AppSource, then tenants would likely have write access to `ConfigMap`s in that namespace, and would be able to alter it to point at whichever project they wante

[2021-06-24 17:53] jgwest commented on #5566
Re: this test, see https://github.com/argoproj/argo-cd/issues/4755 for investigation (the race condition causes the timeout).

[2021-06-24 19:04] usrlocalang opened #6558 "I've included steps to reproduce the bug."

[2021-06-24 20:13] margani007 commented on #4096
After hours of struggle i figured out that admin user password is the current-password to reset.
Make sure to enter admin password as current-password and then enter new password of your choice to reset.

Hope this helps.

[2021-06-24 20:25] reginapizza opened #6559 "`#f4c030 minus #111` is deprecated and will be an error in future versions"
[Line #123 of pod-view.scss](https://github.com/argoproj/argo-cd/blob/master/ui/src/app/applications/components/application-pod-view/pod-view.scss#L123) has a function that will be deprecated and will cause an error in future versions, I suggest we modify that line to use Sass color functions instead like the warning suggests.

Checklist:

* [x] I've searched in the docs and FAQ for my answer: htt

[2021-06-24 20:39] jessesuen commented on #6548
Workaround is to click on link and add root path to URL.

[2021-06-24 23:43] alexmt opened #6561 "Optimize argocd controller memory usage"
# Summary

Argo CD is used to manage multiple K8S clusters. Clusters number might be very high, so optimal memory/cpu usage is very important.

# Motivation

Using this ticket to document finding about memory usage and possible ways to optimize memory usage.

[2021-06-25 06:40] mvvveen commented on #6012
Fixed it for me

[2021-06-25 08:52] marksugar commented on #5620
my environment is manual sync. But occasionally there will be `ComparisonError
rpc error: code = Unknown desc = ssh: handshake failed: read tcp 10.244.1.188:33662->GITLAB:22: read: connection reset by peer`. This seems to be a problem with my GITLAB network.

there is no problem with kustomize configuration. But APP HEALTH is always Progressing
I see that the configuration of ARGOCD_CLUSTER_CACHE_

[2021-06-25 09:32] djfinnoy opened #6564 "repo-server race condition bug when deploying ArgoCD with an application"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When deploying ArgoCD with the  [official Helm chart](https://github.com/argoproj/argo-helm/tree/master/charts/argo-cd), and including an app within the helm chart, there appears to be

[2021-06-25 12:02] thetruechar commented on #6525
@jessesuen  can you reproduce this issue?

[2021-06-25 13:08] der-eismann opened #6566 "Add expiry parameter for creating JWT via SessionService API"
# Summary

While we were on ArgoCD 1.8 we created a JWT via the /api/v1/session endpoint for our chatbot to use the ArgoCD API. After upgrading to ArgoCD 2.0 we needed to create a new one, but additionally it expired after 24 hours which didn't happen before. The [argocd cli](https://argoproj.github.io/argo-cd/user-guide/commands/argocd_account_generate-token/) offers an `--expires-in` option whic

[2021-06-25 13:09] gw0 commented on #3698
I noticed that Flux v2 supports defining `postRenderers` and their configuration directly in the `HelmRelease` CRD (equivalent to `Application`). If I understand correctly, `kustomization.yaml`, overlays, and all referenced files need to be embedded in the CRD. This is probably not so bad if they are small one-off patches, but can represent a lot of copy-pasting if you want to re-use some overlays

[2021-06-25 13:19] der-eismann commented on #6566
Seems like this is a bug because admin token shouldn't expire according to the docs:
https://argo-cd.readthedocs.io/en/stable/operator-manual/security/#authentication

[2021-06-25 13:19] #6566 closed

[2021-06-25 13:33] der-eismann opened #6567 "Admin token expired after 24h, but it shouldn't"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We have a chatbot interacting with ArgoCD, so it needs a JWT to communicate. With ArgoCD 1.8 this wasn't a problem, the token never expired. After the ArgoCD 2.0 upgrade we needed to cr

[2021-06-25 15:01] mgarstecki opened #6570 "Redis resources have misleading Helm labels in HA mode"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
~* I've pasted the output of `argocd version`.~ I believe this is irrelevant

**Describe the bug**

Redis manifests for HA deployment include helm-release-related labels even though they will not be installed by Helm. They are also incosistent with the label

[2021-06-25 15:43] SaigyoujiYuyuko233 opened #6572 "App sync stuck in "waiting for health state" but actually the resources is already in ready state"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-06-25 16:01] SaigyoujiYuyuko233 commented on #6572
Sorry guys, I found the solution after a long time of searching (I probably used wrong keywords to search before I open this issue).
You can using flag ``--update-status`` or env ``SEALED_SECRETS_UPDATE_STATUS=1`` in order to update the state of secrets

For helm:
![image](https://user-images.githubusercontent.com/39913604/123452988-91923b80-d611-11eb-89a9-5d58ba331775.png)

https://github.com/arg

[2021-06-25 16:01] SaigyoujiYuyuko233 commented on #6572
1.

[2021-06-25 16:01] #6572 closed

[2021-06-25 16:15] alexmt commented on #6567
Hello @der-eismann ,

You increase expiration duration by changing `users.session.duration` ([example](https://github.com/argoproj/argo-cd/blob/0e9aa8e6b61e3135422042b16b6f0a5b8cc74ab1/docs/operator-manual/argocd-cm.yaml#L19)) but this is not recommended.

I would recommend creating a system account and generate a token:

* Add `accounts.my-account: apiKey` to `argocd-cm` ConfigMap.
* Grant permis

[2021-06-25 19:06] touchthesun commented on #876
getting the same issue now, only with argocd, and it was working fine yesterday. any idea what's going on here?

andling connection for 8080
E0625 12:03:58.359264   35218 portforward.go:340] error creating error stream for port 8080 -> 8080: Timeout occurred
E0625 12:04:01.072451   35218 portforward.go:340] error creating error stream for port 8080 -> 8080: Timeout occurred
Handling connection for

[2021-06-25 19:20] aceamarco commented on #6405
Hello @jgwest I've been working on the first MVC @alexmt described, and in my opinion I think the config should be and is being created within the RBAC configured argocd namespace that only admins have access to.

[2021-06-25 20:13] joebowbeer commented on #6545
Release v2.0.4?

[2021-06-25 23:47] matoszz commented on #6206
We follow an app-of-app pattern and really like the ability to delete an app at the top level to clear out the resources, re-create the app, and re-sync. It would be great to have an option to turn off the newly introduced behavior around needing to type the full application name. Also, as a user aspect of this, many of our app names are very long so _actually_ typing them is quite cumbersome. Wou

[2021-06-26 03:07] bravecobra commented on #5585
I seem to have hit the same issue. Argo is not waiting for the helm chart release of App A to become healthy before helm releasing App B.

[2021-06-26 07:36] jannfis commented on #6570
I agree. Probably this is due to the fact that we take the [redis-ha Helm chart](https://github.com/DandyDeveloper/charts/tree/master/charts/redis-ha) and template it. We're then running [Kustomize](https://github.com/argoproj/argo-cd/blob/master/manifests/ha/base/redis-ha/kustomization.yaml) over the template to modify some of the resources before including them into `install.yaml`, and probably

[2021-06-26 07:41] jannfis commented on #6567
I think we forgot to fix some places in the docs.

The unlimited validity of admin token was considered a [security issue](https://github.com/argoproj/argo-cd/security/advisories/GHSA-9h6w-j7w4-jr52), as was the usage of `admin` account for API access.

We need to clarify this in the documentation.

[2021-06-26 07:47] jannfis commented on #6559
Good catch @reginapizza, I think this should be fixed.

[2021-06-26 07:56] jannfis commented on #6564
I think the application would refresh automatically at the next app refresh interval (which is 3 minutes by default).

But thinking about it, when the app refresh interval is set to a very high value (which would not be uncommon in large setups), a transient error with the repo server when Argo CD receives an external refresh event (e.g. a web hook from the repository) could result in hard to reso

[2021-06-26 07:59] #6558 closed

[2021-06-26 11:02] #6549 closed

[2021-06-26 11:03] jannfis commented on #6554
Not a bug. Discussion opened in parallel: https://github.com/argoproj/argo-cd/discussions/6553

[2021-06-26 11:03] #6554 closed

[2021-06-26 11:58] schollii commented on #3376
@zoetrope can you explain how it solved it?

[2021-06-26 12:22] aslafy-z commented on #5585
Same issue, were my app is not an helm chart but points to a Git remote directory. It looks like it only happens sometimes, I was not able to reproduce this behavior consistently.

[2021-06-26 18:03] jannfis commented on #6545
I agree that it's quite a mess and needs some context to set-up all swiftly. Just a nitpick: it always has been.

Would appreciate some more details on what's confusing, so that we can fix it.

`go mod vendor` is usually not slow when the modules have already been downloaded:

[code]

Could you please elaborate a little more on that? What configuration do you mean?

Yup, agreed. That's one very an

[2021-06-26 18:37] alexec commented on #6545
FWW I just want to run a single command and have it up and running with no fuss. I think that command `make start-local` should do that.

[2021-06-26 18:52] jannfis commented on #6545
`make start` does exactly that, it will run your local Argo CD code within a Docker container that has everything inside required to run Argo CD correctly. Hasn't it worked for you?

[2021-06-27 07:14] jannfis commented on #6539
Duplicate of #3462

[2021-06-27 07:14] #6539 closed

[2021-06-27 07:16] jannfis commented on #3462
This has since been fixed from v1.8.4 and v2.0 upwards.

[2021-06-27 07:16] #3462 closed

[2021-06-27 07:34] jannfis commented on #6525
This is a known issue with `cmux` in combination with `grpc-go`, refer to https://github.com/grpc/grpc-go/issues/2406

I just submitted #6577 to fix that.

In order for us to upgrade to a more recent version of gRPC server-side, we need to get rid of `gogoproto` (because we need to updated `protobuf`, and `gogoproto` is orphaned). I'm already working on the update.

[2021-06-27 14:57] meiblorn opened #6578 "Replace=true sync option has greater priority than namespace creation"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Application resources sync fails because namespace doesn't exist. I've tried to add/remove `CreateNamespace=false/true` at the app level, but that didn't help. The only way to fix that

[2021-06-28 00:46] sanzenwin commented on #2789
@rbkaspr, thanks, it works. 👍

[2021-06-28 03:37] thetruechar commented on #6525
@jannfis thank you!

[2021-06-28 05:15] adeepsri commented on #6548
@jessesuen  @jannfis Can we please pick this on priority , because none of the pod logs are downloading when we use rootPath.

[2021-06-28 06:02] #6525 closed

[2021-06-28 07:48] duclm2609 commented on #3941
I have the similar issue.

[2021-06-28 08:13] msuthar-splunk commented on #5110
Seeing the same issue as @simax on v2.0.3. @shubhamagarwal19 are you planning on creating a PR for your fix?

[2021-06-28 08:23] jannfis commented on #5110
Reading above error messages, especially:

[code]
Does istio (or Envoy sidecar, for that matter) require the main pod to mount a service account token? If yes, the `argocd-repo-server` explicitly choses not to, due to security reasons.

[2021-06-28 08:25] jannfis commented on #5110
This should be `--disable-tls` for `argocd-repo-server`, and `--repo-server-plaintext` for `argocd-server` and `argocd-application-controller` workloads, depending on your needs.

[2021-06-28 09:16] kostis-codefresh commented on #5635
I think the revised documentation can be improved by adding a top level section called "how-tos" or "common tasks" or something similar that describes repeatable actions for readers who want to get started fast.

Some examples for this task-based section:

* How to add your Helm application to ArgoCD
* How to add your Kustomize application to ArgoCD
* How to handle the "out of sync". status of you

[2021-06-28 09:48] jannfis commented on #5585
For people hitting this issue, have you enabled health assessment for Argo CD `Application` resources - https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/1.7-1.8/#health-assessement-of-argoprojioapplication-crd-has-been-removed ?

[2021-06-28 10:43] der-eismann commented on #6567
Hello @alexmt, thanks for your workaround/fix! I just set it up and it works perfectly. :slightly_smiling_face:

We were running 1.8.3 before, so we didn't encounter the issue earlier, I thought it was because of the major version change. It would probably still be helpful to clarify the session duration constraints in places like the [API docs](https://argo-cd.readthedocs.io/en/stable/developer-g

[2021-06-28 11:05] irizzant commented on #4174
in my case DNS was working fine, and I'm also running k8s on bare metal with Kubespray.

I had no luck restarting the pods either and I had ArgoCD managed with ArgoCD itself, so I decided to follow the following procedure (read carefully before doing anything):
1. Read very carefully https://argoproj.github.io/argo-cd/operator-manual/disaster_recovery/ and create a backup of ArgoCD (just in case)

[2021-06-28 12:45] jannfis commented on #5635
That's an excellent suggestion @kostis-codefresh and I agree that the documentation lacks concrete tutorials further than the most simple Getting Started one.

[2021-06-28 13:02] sanzenwin commented on #4811
I'm facing this issues too.
ArgoCD v2.0.1+33eaf11

[2021-06-28 15:36] joebowbeer commented on #5635
Missing is an overview discussing some of the high-level decisions such as bootstrapping versus centralized management (from a management cluster, hub-and-spoke style).

For bootstrapping, there is a lot of context and unwritten knowledge missing. For example, there is a deployments project on GH, which probably should be referenced more, but there is no information or scripts explaining how these

[2021-06-28 16:14] process0 opened #6580 "shift-click to force delete resource without typing name of resource"
# Summary

Resources that are protected from deletion requiring typing the name of the resource.  Shift clicking the resource can also prevent the deletion of the resource and prevent requiring typing long resource names.

# Motivation

I have resources with long names and typing each one when developing is time consuming

# Proposal

Allow shift click to force delete without typing the resource n

[2021-06-28 19:55] collinbowers opened #6583 "Syncing a missing deployment within an application, fails."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Using argocd cli to sync a missing deployment within an application, argocd prints status of application, rather than actually syncing the deployment specified.

This could be resolved

[2021-06-28 20:32] ofrivera commented on #6222
Running into same issue when using `networking.k8s.io/v1`
[code]

[2021-06-28 21:01] SimonGurney commented on #5947
Thank you, this fixed it for me after a lot of troubleshooting

![image](https://user-images.githubusercontent.com/22961341/123703463-4ddf4200-d85c-11eb-9c7b-b31959252455.png)

[2021-06-28 21:04] bravecobra commented on #5585
I don't have health assessment enabled for `Application` and I'm still having the issue.

[2021-06-28 23:27] aslafy-z commented on #5585
@bravecobra try enabling it!

[2021-06-29 00:50] Omniscience619 opened #6587 "Add a note in docs for whitelisting ports 8081 and 8084"
# Summary

It should be mentioned in the documentation that 8081 and 8084 ports are necessary to be whitelisted for incoming traffic in a K8S Cluster, especially for people trying ArgoCD on bare-metal K8S.

# Motivation

I was trying to use ArgoCD and right after setting up, it gave me errors like **All Subconn Failing** and **timeout request**.

`rpc error: code = Unavailable desc = all SubConns

[2021-06-29 01:41] Omniscience619 commented on #6587
It seems that there were some --insecure flags that I haven't yet tried. Will debug and reopen if needed.

[2021-06-29 01:41] #6587 closed

[2021-06-29 06:55] #5810 closed

[2021-06-29 07:30] lukeocamden opened #6588 "More info about rollbacks in "history and rollback" panel"
# Summary

For each item in the "history and rollback" panel it would be useful to be able to distinguish items that were deployed as a result of a rollback operation. Even better would be to have the ability to tag history items with a message when manually initiating a sync/rollback.

# Motivation

The enhancement would help operators quickly answer the questions "has this application been rolle

[2021-06-29 10:07] scalen opened #6591 "Support use of Git repository credentials during Helm dependency update"
# Summary

Support should be added for using private Git repositories as the repositories for Helm sub-chart dependencies.  This is currently not available.

# Motivation

Say you have an umbrella chart containing many inter-connected sub-applications, each managed in their own private Git repository, with their Helm chart source alongside them.  You want to use Git for versioning your Charts, rat

[2021-06-29 13:06] Manoj-07 opened #6594 "getting isssue many times"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-06-29 13:29] whereismyjetpack opened #6595 "OIDC Groups claim mapping"
# Summary

Allow a user to change the claim that contains ones `groups`

# Motivation

We use AzureAD, and the `groups` claim for some users is too large, and gets omitted in the cookie. See: https://github.com/argoproj/argo-cd/issues/2165

# Proposal

Something like this in oidc.config

[code]

This would be akin to --oidc-groups-claim in kubectl oidc config.

[2021-06-29 14:51] alexmt commented on #6594
Unlikely someone will be able to help without description.

[2021-06-29 14:51] #6594 closed

[2021-06-29 16:30] alexmt commented on #6595
Hello @whereismyjetpack ,

I think this is already supported. You can specify which claim has groups using `scopes` setting of `argocd-rbac-cm` ConfigMap: https://github.com/argoproj/argo-cd/blob/1d0b5fc7ecabfd511829f81df0b0e9cc0ca29a7f/docs/operator-manual/argocd-rbac-cm.yaml#L29

Additionally, you can control which scopes and claims should be requested by Argo CD using oidc config: https://githu

[2021-06-29 18:30] whereismyjetpack commented on #6595
@alexmt  -- thank you so much, I overlooked the '`scopes:'` parameter in the rbac config, i was able to se that to use `roles` instead of `groups` and like magic it started working..

Thank you so much!

[2021-06-29 18:30] #6595 closed

[2021-06-29 20:27] musabmasood commented on #2559
We're seeing these CPU spikes as well, something should definitely buffer this out. I haven't yet tried scaling up the repo server too much but with your comment it seems it won't really help that much.

[2021-06-29 20:32] #5817 closed

[2021-06-29 21:48] sidewinder12s commented on #6062
Can the --enable-oci flag/config be set if you are declaratively configuring your repositories through the argocd configmap?

[2021-06-30 03:50] rogfut opened #6599 "argocd repo add fails when using --enable-oci with self-signed certificate"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-06-30 06:27] saumeya commented on #5176
I'm interested to work on this issue.

[2021-06-30 06:38] yujunz opened #6600 "Support retry in cli command"
# Summary

Support retry in cli commands

# Motivation

CLI may fail to establish connection to server when the network is unreliable. It would be nice to have retry options on temporary failures.

# Proposal

Add option `--retry-limit=3` to let client retry on specific failures, e.g. `Failed to establish connection to argocd-server:443:`

[2021-06-30 07:44] KlavsKlavsen commented on #6062
Yes - I use Helm - and we put this in values values file:
[code]
Which is exactly what is put in configmap.

[2021-06-30 12:34] marqc opened #6601 "API patch application: Received HTTP/0.9 when not allowed"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to PATCH existing application using API, but curl reports error "Received HTTP/0.9 when not allowed".
GET method on same resource works ok.

**To Reproduce**

Create app from

[2021-06-30 15:16] Aenima4six2 commented on #1533
This is still happening to use in ArgoCD `2.0.4`.

[2021-06-30 15:27] saumeya commented on #5176
@jsoref @jessesuen
This usually will happen when the browser window is not in full screen.
![original5176](https://user-images.githubusercontent.com/17771352/123988031-4a2af700-d9e5-11eb-8463-4620e19dab44.png)

One possible solution is to increase the size of the **Count** column but for doing that one other column would have to be reduced in size (change from small-1 to small-2, see code).  [Code

[2021-06-30 17:07] jsoref commented on #5176
@saumeya: I'd endorse both options. Make it able to handle at 6 characters minimum and add a tooltip so if it still gets truncated people can see.

It sounds like you're able to reproduce it, so please go ahead and make a PR. Thanks!

[2021-06-30 19:22] #6578 closed

[2021-06-30 19:28] meiblorn commented on #6578
Extremely quick fix. Great job folks

[2021-06-30 19:32] alexmt commented on #4908
Implemented by https://github.com/argoproj/argo-cd/pull/6328

[2021-06-30 19:32] #4908 closed

[2021-06-30 19:50] meiblorn commented on #5293
Is it possible to add an ability to specify what repositories to preload when using custom management plugins? Or you can give an ability (or provide an example how) to call `argo template` from the custom management plugins to reuse existing default Argo's behaviour in these plugins.

As for example, lets assume I use popular `kustomized-helm` plugin. When I use it and declare private helm OCI re

[2021-07-01 12:49] jannfis commented on #6601
This seems like a dupe of #2677

[2021-07-01 13:13] jacek-jablonski commented on #4691
So at the moment despite the fact that `AppProject` CRD allows specifying target cluster as name, it doesn't work, unfortunately. You need to specify cluster in `AppProject` by IP:
[code]

and you can specify Application by cluster or IP:
[code]

[2021-07-01 13:31] saumeya commented on #5176
#6611

[2021-07-01 13:36] dtaniwaki opened #6614 "Unable to Set Headers to CLI Login with SSO"
* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

My ArgoCD is running behind a basic-auth protected proxy, but the CLI cannot log in with SSO because it doesn't set headers.

**To Reproduce**

Just prepare a basic-auth protected proxy in front of

[2021-07-01 14:07] TannerGabriel commented on #6513
I just tried to rewrite a simple Keptn cloud event to an Argo webhook using `argocd-notifications` but ran into some problems. Let me know if you prefer Slack for these kinds of conversations or if Github is fine.

Here is the JSON body of the cloud event I'm trying to recreate as well as a CURL example:

[code]

[code]

Here is the Argo notification file I came up with:

[code]

After deploying t

[2021-07-01 16:13] saumeya commented on #5176
#6611

[2021-07-01 16:29] alexmt commented on #5995
Fixed by https://github.com/argoproj/argo-cd/pull/6091

[2021-07-01 16:29] #5995 closed

[2021-07-01 17:20] #6445 closed

[2021-07-01 17:22] jannfis commented on #5862
Sorry for the late reply and for the bad experience. I do agree that the error message presented is not helpful at all and should be improved.

And also, thanks for sharing your solution on this issue.

[2021-07-01 17:59] alexmt opened #6616 "Cluster filter is broken on applications list page"
**Describe the bug**

Cluster filter is broken on applications list page

**To Reproduce**

* Try to apply any cluster-level filter:
* See no applications is shown

**Expected behavior**

Applications should be filtered correctly.

**Version**

v2.1.0-unreleased

[2021-07-01 18:20] alexmt opened #6617 "Filters does not have retry option if data failed to load"
**Describe the bug**

Applications list page have filters that needs additional data. E.g. cluster filter loads list of clusters. The call might fail and users should be able to retry loading by clicking retry button. The retry button is missing now

**Expected behavior**

If data failed to load then retry button should be shown

[2021-07-01 19:04] ionutleca commented on #3539
Same here. ArgoCD 2.0.1. The certs are mounted on the pods but it only worked after setting the `SSL_CERT_DIR` env var.

[2021-07-01 22:18] mohanrajatnetapp commented on #6289
Adding ADO repo as https repo, with any non-empty username and PAT in place of password works fine. I am using
[code]

[2021-07-02 01:19] jessesuen commented on #6614
[code]

@dtaniwaki can I understand your use case a bit better? So you are using both `--port-forward` flag as well as `--sso` ? Am I to understand that your use case requires that the Argo CD API server be accessible only when user has `kubectl` access to `argocd` namespace, but at the same time Argo CD is secured via SSO? I don't think we ever anticipated this combination. I also question if the

[2021-07-02 01:35] jessesuen commented on #6614
Also, if it is behind a proxy, then port-forwarding would completely bypass that proxy, no?

[2021-07-02 03:01] dtaniwaki commented on #6614
@jessesuen Thank you for your comment.

Here's my environment.

![Untitled](https://user-images.githubusercontent.com/1162120/124213306-4e612c80-db2b-11eb-9f03-d2a62783c395.png)

[Roles]
Operators: Release updated Kuberentes manifests via ArgoCD
Developers: Set up ArgoCD and Applications and AppProjects

The operators don't have access directly to Kubernetes so using the local UI is not possible.

[2021-07-02 07:26] exe-r commented on #5910
Tried to deploy argocd using helm (latest charts) with redis disabled but I was unable to get it working past SSO login is giving error: failed to verify app state eDJFHSJS: dial tcp: lookup argocd-redis on x.x.x.x:53: server misbehaving. So I ended up with the same question, is redis a requirement or not? if it is it should be clearly stated on the docs IMO.

[2021-07-02 07:38] #5910 closed

[2021-07-02 08:12] jannfis commented on #6583
argocd app sync my-app --resource :Deployment:my-deployment

`Deployment` is not part of the core API group, so it really should be specified as `apps:Deployment:my-deployment` imho. Have you tried that as well?

[2021-07-02 10:28] scalen commented on #6591
# Other Usecases

The proposed solution above has wider application than during `helm dependency update` when using the `helm-git` plugin.  It applies to any use of Git outside the scope of the Argo CD binary.

An example of this that does not involve extending the Argo CD Docker image with helm plugins is the use of Argo CD Config Management plugins.  Consider the following example:

A project is

[2021-07-02 14:49] akhalyavka commented on #3975
@hanzala1234
Port name affects how istio routes requests. If you call it tcp-*, Istio will just treat it as raw TCP and won't do any HTTP-specific routing. Here's the new istio [doc](https://deploy-preview-9800--preliminary-istio.netlify.app/latest/docs/ops/configuration/traffic-management/traffic-routing/) that explains some lower-level details of traffic routing.

[2021-07-02 17:06] #6507 closed

[2021-07-02 17:31] alexmt opened #6623 "Autocomplete dropdown expands direction"
**Describe the bug**

Autocomplete dropdown should expand to the top if there is not enough space at the bottom.

**To Reproduce**

Issue is reproducible using https://cd.apps.argoproj.io/applications

https://user-images.githubusercontent.com/426437/124310141-9f1f5800-db20-11eb-8ff8-a8bef8835465.mov

**Expected behavior**

Dropdown should detect that there is not enough space below and expand to

[2021-07-02 18:50] iam-veeramalla opened #6624 "Fix the Unstable Docs Version Warning banner to Header"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
The Unstable docs version warning banner is not fixed to the header.

When someone lands on Old/Unstable docs page from google search they see a warning banner and a link to stable docs,

[2021-07-02 18:52] iam-veeramalla commented on #6624
@reginapizza, @saumeya I think this should be an easy bug to fix If I am not mistaken :)

[2021-07-02 18:55] alexmt opened #6625 "Application list page filter counts are confusing"
**Describe the bug**

Application list page filter counts are not updated when user change filter values.

**To Reproduce**

* Navigate to https://cd.apps.argoproj.io/applications and apply project filter.
* Health and Sync filter counts stays the same.

**Expected behavior**

Health and Sync filter counts should be updated accordingly. Note: if user changes e.g. Sync filter it should not affect S

[2021-07-02 19:19] alexmt commented on #6548
Created PR with the fix https://github.com/argoproj/argo-cd/pull/6627 and will cherry-pick into 2.0

[2021-07-02 19:56] andrewm-aero commented on #4505
+1, getting bit by this too.

Given that ArgoCD is founded on the concept of declarative management, it seems bewildering that there's no single operation that says "Wait until synced to the latest, do whatever you need to ensure that happens, only fail if that is impossible or takes too long". In order to get pipelines which don't spuriously fail, we've been reduced to scraping the log output for

[2021-07-02 20:11] EHSchmitt4395 opened #6628 "Unable to Connect Repo Via SSH"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**
When adding ssh key for repository i recieve:
[code]
Via the gui or via adding a private key results in same error.
**To Reproduce**

[code]
A list of the steps required to reproduce

[2021-07-02 20:29] jessesuen commented on #6614
So it sounds like even if we make the client fix in Arog CD, your use case is not resolved until there is a fix in dex?

[2021-07-02 20:31] jessesuen commented on #6628
Is this url representative of what you were adding? Because it is missing the repo so I would not expect this to work

[2021-07-02 20:42] EHSchmitt4395 commented on #6628
negative that is a sanitized url - i removed it for this report

[2021-07-02 21:03] jessesuen commented on #6628
Just to be clear, the URL should have a colon `:` and a slash `/` in it. e.g. `git@github.com:argoproj/argo-rollouts.git`

Is that true in your case?

[2021-07-02 21:07] EHSchmitt4395 commented on #6628
[code]
Yessir

[2021-07-02 21:17] dtaniwaki commented on #6614
Yes. I’m still not sure if it’s an issue of dex. Using basic auth for OAuth2 client verification a standard way. I’m thinking to send a PR in the dex repo to identify the client verification method, or maybe, let the basic auth proxy drop the Authorization header. In either way, ArgoCD need to put headers to OIDC requests in SSO login.

[2021-07-02 21:36] jessesuen commented on #6628
Ok. That is strange. Here is the code that you are hitting:
https://github.com/argoproj/argo-cd/blob/master/util/git/client.go#L126-L133

specifically:

[code]

For you to reach this error, root would have to be equal to `/tmp`

NormalizeGitURL calls https://github.com/argoproj/argo-cd/blob/ba4c65540b178f50078f138e171b2b282842b06d/util/git/git.go#L55-L72

Which only returns empty string if `url.Pa

[2021-07-02 22:05] EHSchmitt4395 commented on #6628
I appreciate the haste in help!  i entered my url and it did print and change to :
[code]
it was initially this
[code]
I inputed this url into the gui with key for adding ssh connectivity to repository and received
[code]

Which tells me its not a fan of our new format?
thanks!

[2021-07-03 00:02] #6625 closed

[2021-07-03 00:40] rogfut commented on #5585
Had this same issue with argocd v2.0.3, the fix linked [here](https://github.com/argoproj/argo-cd/issues/5585#issuecomment-869541606) to modify the config map worked, but I also had to enable autosync on my child apps.

Is sync wave supposed to work with autosync disabled?  I have a 4 wave app of apps deployment and could not get sync waves to work without the configmap update and enabling autosyn

[2021-07-03 02:49] yujunz commented on #6600
Consider leveraging https://github.com/hashicorp/go-retryablehttp

[2021-07-03 11:36] arnitolog opened #6631 "TypeError: Cannot read property 'kind' of null"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-03 11:57] arnitolog commented on #6631
it looks like it was an issue on my side. closing this

[2021-07-03 11:57] #6631 closed

[2021-07-03 17:54] nwang92 commented on #6529
The resource exclusion/inclusion seems to be what I was looking for regarding my second issue! I guess I missed that from the docs.

For the first point, I thought I was using the `--service-account` option but looking back I might be mistaken. I'll go back through and see if this solves this issue (a cursory glance through the code seems to suggest it would work).

[2021-07-04 19:04] voldemortensen opened #6635 "Support --all-containers flag in argocd app logs."
# Summary

Currently `argocd app logs` doesn't support specifying a container at all. #6320 adds the ability to specify the `--container` flag. It would be helpful to also expose `--all-containers`.

# Motivation

We use a small script in a gitlab job to sync applications for our "deployments". When a sync fails we grab the latest 20 lines of logs from the app to display in the gitlab job for easi

[2021-07-04 21:56] kevanslumin commented on #4424
I'd like to automate the argocd login with headless chrome via chromedp or puppeteer.  Could you possibly add a flag like
`--browser=none` to just print out the SSO URL without popping up the browser?

[2021-07-04 22:12] rgeraskin opened #6636 ""no such file error" on specifying helm values file with protocol"
**Describe the bug**

I`m trying to use [the helm downloader plugin](https://helm.sh/docs/topics/plugins/#downloader-plugins) with [helm secrets](https://github.com/jkroepke/helm-secrets) as described [here](https://github.com/jkroepke/helm-secrets/blob/main/USAGE.md#alternative-decrypt-via-downloader-plugin). Doing so I try to avoid implementing a wrapper to helm binary to use helm secrets.

**To

[2021-07-05 00:31] rgeraskin commented on #1105
I think we could use the helm secrets plugin without wrapper script. It is possible to specify secrets values like `secrets://secrets.yaml` instead of `secrets.yaml`. But there is validation error #6636 for now

[2021-07-05 00:50] rgeraskin commented on #6636
My mistake. I should not only add the helm secrets plugin but also set the HELM_PLUGINS variable as mentioned in the docs and #1153.

So now I can use a plugin without a wrapper.

[2021-07-05 00:50] #6636 closed

[2021-07-05 05:23] parasappafluke opened #6637 "Unable to add Repository Configuration as Secrets ?"
Hi,
As documented in _https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/_ i have created _**argocd-repositories.yaml and argocd-repo-creds.yaml**_ files as per the spec provided in the example. I applied this to argocd ns using _**kubectl apply**_ command. In the UI i couldn't see any repositories and credentials template added. Below is my sample credentials template and repo s

[2021-07-05 05:35] saumeya commented on #6624
I'll take a look.

[2021-07-05 07:57] sathish-kumar-narayanan commented on #6637
yeah, Its not working as expected with v2.0.4.
I tried to use the UI to configure credential template and, Argocd stores it in [legacy format](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#legacy-behaviour)

[2021-07-05 13:25] jannfis commented on #6637
Hi @parasappafluke, I'm afraid you are looking at the wrong documentation and this feature has not been released with the 2.0 branch of Argo CD yet (it comes with v2.1).

For documentation on the current stable version, please refer to https://argo-cd.readthedocs.io/en/stable/ instead.

[2021-07-05 13:25] #6637 closed

[2021-07-05 14:01] jackivanov commented on #2347
Will ahh the above, I still getting `the server has asked for the client to provide credentials`. Has anything changed since then?

[2021-07-05 14:38] meerkampdvv commented on #6477
i had the same issue and found a workaround by mounting the ca-store of my kubernetes nodes which includes our root ca into the pods.

For example the with the following values of the argocd helm chart :
[code]
same for repoServer and Server.

we use centos7 on our hosts so your host path may vary.

[2021-07-05 16:08] fhopfensperger opened #6640 "Show content of a secret"
# Summary

Currently it's not possible to view the data of a `Secret` in the ArgoCD Web UI, instead of the real base64 encoded values only `++++++++` is displayed. To make the values visible, annotate the secret with `argocd.argoproj.io/show-secret-value: "true"`.

# Motivation

If the secret is created by a Kubernetes controller such as a Crossplane provider and the user does not have access to t

[2021-07-05 17:27] jannfis commented on #6628
Just for completeness, there are subtle differences in how Git repositories are referenced when accessing via SSH:

* The `scp`-Style way: `<user>@<host>:<repo>`, where the colon `:` separates host from path and no port specification is possible.
* The `ssh://`-URL way: `ssh://<user>@<host>[:<port>]/<repo>`, where the `/` separates the host from path and the (optional) colon `:` can be used to den

[2021-07-05 17:31] parasappafluke commented on #6637
@jannfis Thanks for the update and documentation reference.

[2021-07-05 17:53] cilindrox commented on #3594
Running into the same issue with the recently updated OAuth2-proxy chart. [The ingress resource makes a](https://github.com/oauth2-proxy/manifests/blob/f3a551d82348a9ce76f1bf0638c190c90c533db2/helm/oauth2-proxy/templates/ingress.yaml#L8) `.Capabilities.APIVersions.Has` call on `networking.k8s.io/v1/Ingress` and on k8s 1.20 and argo 2.0.4 this check fails and makes it fall back to the `extensions/v

[2021-07-05 17:59] jannfis commented on #6206
There is an interesting idea for this at #6580

[2021-07-06 01:24] aloysius-lim opened #6642 "Separate user-defined secrets, to allow SealedSecrets to work for SSO, webhooks, private repos etc."
# Summary

The `argocd-secret` Secret should be divided into auto-generated secrets and user-defined ones, such as secrets for SSO, webhooks and private repositories.

# Motivation

I would like to use SealedSecrets to manage the secrets for ArgoCD. I have defined a SealedSecret for these secrets. But ArgoCD generates certain secrets during install and creates the `argocd-secret` Secret resource.

[2021-07-06 05:48] 13567436138 opened #6643 "Operation has completed with phase: Error"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-06 06:41] jannfis commented on #5707
Hey @lcostea, how's the state of the things regarding Redis TLS? I'm asking because release 2.1 is due soon. If you still have no time to work on this, maybe I can pick up where you are at right now?

[2021-07-06 10:01] #6643 closed

[2021-07-06 10:12] #6600 closed

[2021-07-06 10:53] PigNatovsky opened #6645 "RBAC based on groups from GitLab doesn't work."
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

After integrating Dex with our GitLab, I cann't set proper permissions to my users. I was trying with base group, with separated subgroup, with boths.

**To Reproduce**

1. Integrate

[2021-07-06 11:24] jannfis commented on #6645
Hi, there might be a typo in your policy (extraneous whitespace):

is:

[code]

should be:

[code]

Note that `role:admin` should be just a single, verbatim string and does not contain any logical tokens.

[2021-07-06 11:53] PigNatovsky commented on #6645
Thank You, this it's very useful hint and reason of my fault.
It was my misunderstanding of these fields - from RBAC perspective every reference is just a string.
Im closing this issue.

[2021-07-06 11:53] #6645 closed

[2021-07-06 13:07] Kraego commented on #6289
Upgraded to Version
[code]
Unable to create application: application spec is invalid: InvalidSpecError: Unable to get app details: rpc error: code = Internal desc = Failed to fetch fe43f82efbf3b5d9f0f538ffe83ce3d927ff5e3e: `git fetch origin --tags --force` failed exit status 128: fatal: Authentication failed for [Repo Name]
[code]

[2021-07-06 16:52] reginapizza commented on #6275
hey @rbreeze! I started to work on this and I have a few questions that I was hoping you can provide some input on it. First of all, should Suspended health status be included in this status bar? It's a health status but I don't see it listed as part of healthColors in applications-summary.tsx (it's not even listed in this file at all):
[code]

The colors for Missing and Unknown, as well as Suspen

[2021-07-06 17:54] jannfis commented on #6642
I think this goes in the same direction as #6460

[2021-07-06 17:57] jannfis commented on #6642
As a workaround (since you're already using Kustomize), you can use the following patch for `argocd-secret` to allow sealed-secrets to unseal an `SealedSecret` resource to an existing `argocd-secret`:

[code]
You can specify this in your `kustomization.yaml` as follows:

[code]
Of course, you'd need to pull in `server.secretkey` and others into your `SealedSecret` (you can use the values created b

[2021-07-06 20:03] akath19 opened #6647 "RBAC not enforced with Google OIDC"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Creating RBAC policies backed by Google OIDC SSO doesn't work, all users get assigned the `policy.default` permission regardless of what `argocd-rbac-cm` says even though Dex is passing

[2021-07-06 20:58] jannfis commented on #6647
I'm unsure whether that's a typo in your c&p, but

[code]
should be
[code]

(note indentation and `policy.csv` vs `policies.csv`)

[2021-07-06 21:46] voidlily commented on #3685
I ran into this as well - I use external-secrets to manage github creds, but argocd also wants to store api keys in the same argocd-secret, so external-secrets will overwrite the tokens and lose them, without backing up the tokens to secretsmanager first.

It would be ideal if we could not put argocd-managed things in the same place as externally managed secrets.

[2021-07-06 22:09] joaopereirafarfetchcom opened #6648 "Security vulnerability in ArgoCD:2.0.1 Image"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-07-06 23:16] maxbrunet commented on #2559
For now, we are using a Cron scaler for business hours:

[code]

On Slack, Alexander also pointed out another area of improvement: the repo-server should re-use the cloned Git repositories, right now it clones them on each request.

[2021-07-06 23:38] akath19 commented on #6647
@jannfis well, that's embarassing, the `policy.default` & `scopes` were a typo but I did have `policies.csv` instead of `policy.csv` on my cm and now it's working correctly.

Can I hijack this ticket to add docs for Google OIDC SSO? the Dex docs recommend moving away from the SAML connector and the Google SAML connector doesn't have a lot of granularity

[2021-07-07 06:14] jannfis commented on #6648
Hi @joaopereirafarfetchcom,

I want to kindly point you to https://github.com/argoproj/argo-cd/blob/master/SECURITY.md#a-word-about-security-scanners and also to the fact, that the current version of Argo CD is v2.0.4, not v2.0.1.

Thanks.

[2021-07-07 06:14] #6648 closed

[2021-07-07 06:31] jannfis commented on #6647
Hey @akath19, glad to hear that it was just a typo, not a bug in RBAC :) I think going forward, we may want to issue some warning on invalid/unknown fields found in the RBAC ConfigMap.

Regarding the docs, we're happy for anyone contributing - much appreciated! Feel free to just submit an update. We won't need this issue for that, and I will be closing it now.

[2021-07-07 06:31] #6647 closed

[2021-07-07 06:33] Kraego commented on #6289
Seems to be the same problem like #6362

[2021-07-07 06:36] Kraego commented on #6362
Same Problem here #6289

[2021-07-07 08:09] PatTheSilent commented on #2559
@maxbrunet I can imagine that could lead to problems if repo cleanups aren't properly implemented. Due to how repo-server currently works it's completely not a problem to use force-pushing, floating tags, custom plugins that may create new files or change existing ones during manifest generation (for example decrypting secrets encrypted with SOPS).

[2021-07-07 09:26] joaopereirafarfetchcom commented on #6648
Thank you @jannfis for pointing me that.

I'll take a look on the latest version.

[2021-07-07 11:12] KlavsKlavsen commented on #5107
Just hit this in v2.0.1 also.. when doing recovery test.. so syncing many (10+) applications (all helm applications) reproduces it.

[2021-07-07 12:17] jannfis commented on #5181
The successor to this is apparently https://github.com/golang-jwt/jwt, according to https://github.com/dgrijalva/jwt-go/issues/462 and the update of the README in jwt-go repository.

[2021-07-07 13:39] aloysius-lim commented on #6642
Thank you for the suggestion, @jannfis. That is pretty much what I did to work around the issue. I created a bash script to perform these steps outside of ArgoCD. Once the values created by ArgoCD are merged with my user-defined secrets, everything is checked into Git and works well from there on.

[2021-07-07 14:05] chtiouiha opened #6659 "getting invalid_user_credentials with my keycloak oidc configuration"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to configure argocd with keycloak via oidc. (I did this conf for many other application vault, grafana etc..)
I did all the config mentionned in the doc https://argo-cd.readt

[2021-07-07 14:22] Rishabhraghwendra18 commented on #5655
Hi @jannfis . I like to work on this issue

[2021-07-07 14:23] Rishabhraghwendra18 commented on #6086
Hi @jessesuen . First timer this side . I will like to give it a try

[2021-07-07 14:23] Rishabhraghwendra18 commented on #3608
Hi . Is this issue open ?

[2021-07-07 14:48] #6659 closed

[2021-07-07 14:56] chtiouiha opened #6660 "getting invalid_user_credentials with my keycloak oidc configuration"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to configure argocd with keycloak wich using an saml idp. (I did this conf for many other application vault, grafana etc..)
I did all the config mentionned in the doc https:/

[2021-07-07 15:21] ciiay commented on #5481
I would like to work on this issue. Thanks.

[2021-07-07 15:55] #6660 closed

[2021-07-07 18:10] reginapizza commented on #4924
@keithchong this issue can be closed right?

[2021-07-07 18:15] ciiay commented on #5481
@jsoref Could you please confirm if you are able to reproduce it now? If not we can close this issue. Thanks.

[2021-07-07 19:08] ciiay commented on #5462
I would like to work on this. Thanks.

[2021-07-07 20:04] EHSchmitt4395 commented on #6628
That errors to be expected - i am still struggling with initial unexpected bug error. The regular format for ssh://user:repo etc fails before it even attempts to authenticate. I can put any fake user and ill still receive initial error
[code]
Again repo is in correct proper format
[code]
Key is being passed as kubernetes secret. but i get the same error when using argocli and referencing key file.

[2021-07-07 20:57] EHSchmitt4395 commented on #6628
just gave it another go -- apologies it was formatting, however instruct make it seem like you require the ssh:// heading, when in reality it wants the ssh format, without it similar to scp , thanks all !

[2021-07-07 20:57] #6628 closed

[2021-07-07 21:12] Enrico204 commented on #6032
This is strange because I have ArgoCD with Keycloak running without issues. I have `v2.0.3+8d2b13d` and I followed that guide

[2021-07-08 07:14] Kraego commented on #6362
Duplicate of #6289

[2021-07-08 07:16] rcjames commented on #5833
Are you able to provide any more clarity on what this means in terms of a release timeline? I can't find anything in your docs about the significance of a minor version release, so I'm unsure about what this means.

[2021-07-08 08:43] alexisph opened #6664 "Typo in namespace-install.yaml and install.yaml"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-07-08 09:25] Alan-pad opened #6665 "Helm parameters defined in Application CRD are overriden by .argocd-source-<app>.yml"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Helm parameters defined in Application CRD are overriden by .argocd-source-<app>.yml

**To Reproduce**

Create an Application with Helm parameters and valueFiles defined (I didn't test

[2021-07-08 12:47] diodel-agr opened #6666 "ArgoCD does not update PVC managed by StatefulSet"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have encountered an issue with ArgoCD while updating the size of a Persistent Volume Claim managed by a StatefulSet.
In the StatefulSet manifest, the volumeClaimTemplates storage size

[2021-07-08 13:38] tgruenert opened #6667 "external-links not shown in Application if it is part of AppsOfApps"
**Describe the bug**

Normaly a link given by annotation `link.argocd.argoproj.io/external-link` should shown in app rectangle in application overview. If application is part of AppsOfApps, link is shown at umbrella application level.

**To Reproduce**

Given app
[code]

and AppOfApp within startup config for argocd
[code]

**Expected behavior**

If annotation is for an application the link should

[2021-07-08 13:53] jorioux commented on #3539
Couldn't find a way to add an env var when using ArgoCD Operator (https://argocd-operator.readthedocs.io/en/latest/reference/argocd/)

I'm deploying the operator with the `ArgoCD` resource kind, like this:

[code]

[2021-07-08 17:18] jannfis commented on #5833
@rcjames You can have a look at our [v2.1 release milestone](https://github.com/argoproj/argo-cd/milestone/22), it now has an (approx) release date attached to it.

As for the docs, it's not yet visible in the stable docs, but we have recently added something to the docs here: https://argo-cd.readthedocs.io/en/latest/developer-guide/release-process-and-cadence/

[2021-07-08 17:59] jsoref commented on #5481
@ciiay: here you go:
![image](https://user-images.githubusercontent.com/2119212/124969387-a0ef8c80-dff4-11eb-8fbd-ad562c2e69ae.png)
fresh off:
[code]

[2021-07-08 18:20] ruici-hong opened #6669 "ArgoCD is not able to access public git repo after set up HTTP vars inside pods"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-08 19:11] jannfis commented on #6669
Judging from the error message, your proxy server (or the upstream) is returning an HTTP 503 error page, possibly without sending a 503 status code. I hardly believe this is a bug in Argo CD.

[2021-07-08 19:15] jannfis commented on #6669
[code]
Seems you may have specified a wrong destination host for the repository.

[2021-07-08 19:36] jannfis commented on #6664
Hm. What exactly do you mean? The volume and volume mount are there:

https://github.com/argoproj/argo-cd/blob/0842d448107eb1397b251e63ec4d4bc1b4efdd6e/manifests/install.yaml#L2772

and

https://github.com/argoproj/argo-cd/blob/0842d448107eb1397b251e63ec4d4bc1b4efdd6e/manifests/install.yaml#L2783

Btw, as shown on a banner on the top of the docs served at https://argoproj.github.io/argo-cd/operato

[2021-07-08 19:41] jannfis commented on #6666
Dupe of #4693

[2021-07-08 20:05] etho201 opened #6672 "Exclude sync (IgnoreExtraneous) on immutable secret not working"
### Discussed in https://github.com/argoproj/argo-cd/discussions/6662

<div type='discussions-op-text'>

<sup>Originally posted by **etho201** July  7, 2021</sup>
Argo CD Version: `v2.0.0+f5119c0`

I have a secret created for a database that I'd like to make immutable because the helm chart tries to randomize the password values in that secret during each Helm upgrade. So I made this secret immuta

[2021-07-08 20:47] ciiay commented on #5481
@jsoref Thanks for the quick reply. The issue was I filtered with wrong item. Now I'm able to reproduce it locally. Will work on this. Thank you!

[2021-07-09 01:10] #6623 closed

[2021-07-09 01:11] #6617 closed

[2021-07-09 03:17] vikas027 commented on #4808
Yes, it is but it is still useful to have a _maintenance_ mode which just stops all syncing across the cluster.

[2021-07-09 03:37] 13567436138 opened #6673 "FATA[0004] rpc error: code = FailedPrecondition desc = improper constraint:"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-09 05:18] 13567436138 opened #6674 "FATA[0000] rpc error: code = FailedPrecondition desc = another operation is already in progress"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-09 06:18] #6673 closed

[2021-07-09 06:19] #6674 closed

[2021-07-09 10:49] saumeya commented on #6624
#6682
@reginapizza Please could you review.

[2021-07-09 12:56] rhysjtevans commented on #3336
Looking for an update too @mayzhang2000

[2021-07-09 15:21] bozerkins commented on #6268
I'm having the same problem with Authelia ingress configurations, which uses this extensively
https://github.com/authelia/chartrepo/blob/master/charts/authelia/templates/ingress.yaml

[2021-07-09 16:05] fredleger commented on #5282
/reopen

Why this is closed ?
Seems to have a workaround but i guess this is not realy a wanted feature but sounds more like a bug ?

[2021-07-09 18:09] suresh-sivanantham-irm opened #6686 "OCI Helm Chart Application with Version Range is Not Working"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to deploy a Helm Chart with version range as "*" and automated sync policy. It works fine if the chart is HTTPS hosted but does not work if the chart is OCI registry hosted

[2021-07-09 21:02] #5462 closed

[2021-07-09 22:24] mt185257 opened #6687 "Token Generated from Argo CD UI via Accounts Section Disappears Almost Immediately"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to generate a token from the Argo CD UI using an admin account that has apiKey permissions. These permissions were provided from a config YAML. When I generate a token from

[2021-07-09 22:55] #5481 closed

[2021-07-10 00:03] alexmt commented on #5535
@jannfis , agree - it has been long enough since we switched to read the docs. I also think it is safe to do hard cut now.

[2021-07-10 00:03] alexmt commented on #5535
Created PR to stop publishing docs: https://github.com/argoproj/argo-cd/pull/6688

[2021-07-10 04:10] djvs commented on #4002
Related, manual syncs should probably always do a hard refresh.  There's maybe a five minute lag with default application setup even if you manually go into the UI and hit Sync.

[2021-07-10 08:28] jannfis commented on #5535
We still need to make the warning sticky in `gh-pages` branch.

[2021-07-11 08:23] #6624 closed

[2021-07-11 10:39] alexisph commented on #6664
Hi @jannfis

I mean that the `argocd-repo-server-tls` secret is mounted in all deployments and its contents (cert, key, CA) are used for TLS. i.e. the `argocd-server`, the `argocd-repo-server` and the `argocd-application-controller` all use the same secret.

I thought that it was unintentional and that each service should have been using its own TLS cert and key.

Thanks for the tip regarding stab

[2021-07-11 10:54] jannfis commented on #6664
Thanks for additional context, @alexisph. The secret is mounted to `argocd-server` and `argocd-application-controller` workloads so they will be able to verify the TLS certificate of `argocd-repo-server`.

But now as we're talking about it, there actually is a bug here - the `tls.key` should obviously not be mounted into the `argocd-server` and `argocd-application-controller` workloads, because th

[2021-07-11 22:55] mohanrajatnetapp commented on #6289
Cloud Azure DevOps.
I was aware of the issue but went ahead set it up it and it works.
![image](https://user-images.githubusercontent.com/62022863/125212126-1f039b80-e260-11eb-8179-f2d57eb6dbb1.png)

[2021-07-12 07:26] RjYogi7880 opened #6695 "Injecting Jaeger sidecar annotation to argo kind: rollouts."
Hello, I have argocd and argo-rollout setup on my digital ocean Kubernetes cluster, I tried deploying one sample application with "sidecar.jaegertracing.io/inject": "true"  annotation (kind: Rollout) but sidecar injection didn't work. Any help on this?

[2021-07-12 07:29] RjYogi7880 commented on #6695
logs of the argocd-application-controller
[code]

[2021-07-12 14:29] itewk opened #6698 "RFE: ability for argo to create namespaces/projects without full cluster read permissions"
# Summary
Currently you can put ArgoCD into `all namespaces` mode or `namespace scoped` mode. We need a "create new namespaces but not ready anything you didn't create" mode. This woudl be equivlant of giving a user `self-provisioner` in OpenShift to a user. I attempted giving that to the `application-controller` ServiceAccount a rolebinding that could create Projects and Namespaces and tried putt

[2021-07-12 14:36] #6559 closed

[2021-07-12 15:54] Kraego commented on #6289
Okay we are using Azure Devops Server 2020, so maybe it‘s just a Problem of the on prem version.

[2021-07-12 16:05] alexmt commented on #5535
Warning is updated now. Closing.

[2021-07-12 16:05] #5535 closed

[2021-07-12 16:09] #6548 closed

[2021-07-12 16:14] Kampe commented on #4811
Seeing the same issues with 2.0.3

[2021-07-12 16:26] #5974 closed

[2021-07-12 16:45] alexmt commented on #6687
Thanks for reporting it @mt185257 . Looks like a bug specific for admin account only. The only workaround I see is to create another account . Will try to get fix into 2.1 and will cherry-pick it into 2.0

[2021-07-12 16:47] alexmt commented on #6695
I think this is most appropriate in argo-rollouts repo. Moving issue there

[2021-07-12 17:00] joberdick-rcd commented on #2789
I don't want pile on, but we might have to pause our POC of Argo-cd until this solved. Our entire enterprise strategy revolves around centralized helm charts.

[2021-07-12 17:42] rbreeze opened #6701 "UI Unusable on Safari"
Caused by #6700

UI Crashes in Safari with error:

[code]

To reproduce:
Visit https://cd.apps.argoproj.io in Safari - a white screen appears.

Safari `v14.1.1`

[2021-07-12 18:59] lcostea commented on #5707
@jannfis unfortunately I didn't have too much progress, so if you want to pick it up to make it in time for 2.1 it is fine with me. Most of my work has been around getting to start redis with the custom generated certificates, let me see if I can wrap it all together and push it to my remote.

[2021-07-12 20:00] ernelio commented on #4722
+1

[2021-07-12 20:51] #6701 closed

[2021-07-12 21:05] lzm0 commented on #5068
![image](https://user-images.githubusercontent.com/7163127/125355484-1c25ab00-e333-11eb-8e15-94500281edce.png)
This is what happens when a user clicks on an object that should take them to a detail page.

[2021-07-13 00:29] rbreeze commented on #6275
I think `Suspended` should be included in the bar - maybe the same yellow as `OutOfSync`. Then we could group `Unknown`, and `Missing` into one group for the bar and leave the grey color, or black.

[2021-07-13 08:28] jannfis commented on #6687
Please keep in mind that we don't encourage using `admin` for API access at all, and that's why (by default), the `admin` user has no `apiKey` capabilities.

[2021-07-13 12:26] yellowmegaman commented on #2789
Thank you so much @cronik !

In case someone wanted real-world working example without typos and with parameters, here you go:
Repo and plugin:
[code]
Application:
[code]

Important parts here:
 Parameter `--include-crds` for helm template, since it's not doing that by default.
 Path in git repo where values file is stored `base/worldr-manifests`

[2021-07-13 12:44] alexei-matveev opened #6706 "Errors deploying YAML manifests with unicode in comments. MSG = ... yaml: invalid trailing UTF-8 octet"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-07-13 13:18] collinbowers commented on #6583
This ended up helping us. Thank you so much!

[2021-07-13 13:18] #6583 closed

[2021-07-13 13:20] mt185257 commented on #6687
We tried generating tokens from another account we created with apiKey permissions and the tokens are still disappearing. We have also tried restarting the Argo instance as well.

[2021-07-13 13:29] jannfis commented on #6687
Do you, by any chance, sync your `argocd-secret` from Git maybe?

[2021-07-13 15:23] jb185555 commented on #6687
Can you elaborate on what that means?

[2021-07-13 20:25] ciiay commented on #6616
I would like to work on this issue.

[2021-07-13 20:51] alexmt opened #6707 "argocd-repo-server crashed"
**Describe the bug**

Repo server was continuously crashing with the error below:

[code]

Error not reproducible locally. Fixed by deleting all keys from redis.

**To Reproduce**

No clear steps to reproduce

**Version**

https://github.com/argoproj/argo-cd/commit/3bba77c36fd2518c02e8757e502b786624f41c2e

[2021-07-13 21:38] LS80 opened #6708 "Incorrect health status for app of apps"
**Describe the bug**

The health status of a parent app is briefly 💚 when a child app has status "missing". This becomes "progressing" as soon as the child application changes from "missing" to "progressing". This means that applications with a higher sync wave number start syncing before they should.

**To Reproduce**

1. Follow the instructions at https://argoproj.github.io/argo-cd/operator-manu

[2021-07-13 22:31] ReggieCarey opened #6709 "ArgoCD Fails to install per https://argo-cd.readthedocs.io/en/stable/"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-07-14 00:02] rbreeze commented on #6616
@ciiay You're welcome to take a look - if you change your mind or want help let me know. Thanks!

[2021-07-14 07:24] dinpau commented on #4204
I wonder if that statement holds true also for the /version call, as the log shows that some kubectl api calls could reach the cluster.
I have a similar problem where I'm behind a proxy, I do configure the
`proxy-url` inside .kubectl/config context which is used for the argocd cluser add, but maybe the version calls seems to ignore the proxy config of the .kubectl/config context?

[2021-07-14 09:37] abdennour commented on #2730
This is fixed in the new phenomenal release v2 🎉
![image](https://user-images.githubusercontent.com/1788384/125600073-68f59e09-5329-4ddc-8a13-711abddf1da7.png)

[2021-07-14 11:16] abangser commented on #3593
I want to check in on this as I am looking for a custom RBAC for `rollback` so as to avoid granting the `update` permission which is so broad.

This seems like the place where the bigger question about how to handle more specific RBAC requests is being discussed and I don't want to pile on with more enhancement requests unnecessarily.

Thanks!

[2021-07-14 13:04] Ailsa-Wu opened #6711 "OCI chart version cannot begin with "v""
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-14 14:40] clive-jevons opened #6713 "Allow specifying root CA to use for external OIDC provider"
# Summary

When configuring an external OIDC provider it should be possible to optionally specify a root CA to use to verify the certificates served by that provider in the case that it uses a private PKI.

# Motivation

We have a Keycloak running in our cluster which is to be used for OIDC integration with ArgoCD in order to authenticate and authorise our users. The Keycloak uses certificates sig

[2021-07-14 19:00] #6616 closed

[2021-07-14 19:16] gitromba commented on #6672
https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/diffing.md#application-level-configuration
`ignoreDifferences` says:

[2021-07-14 20:48] MattFanto opened #6719 "Outdated documentation for argocd custom health check defintion"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I tried to implement an health check for a custom resource, as part of the argo-cm as decribed here https://argoproj.github.io/argo-cd/operator-manual/health/#way-1-define-a-custom-heal

[2021-07-14 21:22] alexmt commented on #6711
Hello @Ailsa-Wu ,

The 1.8 had a bug: it actually incorrectly handled several edge cases related to OCI registries. The bug was fixed by https://github.com/argoproj/argo-cd/pull/5888. The fix is available in latest stable Argo CD version (https://github.com/argoproj/argo-cd/releases/tag/v2.0.4). Please try to upgrade.

[2021-07-14 21:27] alexmt commented on #6706
Looks like error happened in kustomize. I've found several similar bug reports in kustomize github. E.g. https://github.com/kubernetes-sigs/kustomize/issues/3778

The suggested workaround is to disable kyaml. You should be able to do it by adding `kustomize.buildOptions: --enable_kyaml=false` in `argocd-cm` ConfigMap

[2021-07-14 21:30] alexmt commented on #6711
Double checked with latest version and confirmed that Argo CD pull corrected chart version. Closing issue. @Ailsa-Wu  let me know please if upgrade to 2.0 did not help and issue should be reopened.

[2021-07-14 21:30] #6711 closed

[2021-07-14 22:55] tdongsi commented on #4505
+1, getting this problem.

We want to have parallel pipelines to do `argocd app sync` and, optionally, `argocd app rollback` if there is a problem.

`argocd app wait APPNAME --operation` can only help if there are two active parallel parallel pipelines. More than that, we have the same problem as described by @robermar23 above.

[2021-07-14 23:01] #6081 closed

[2021-07-14 23:01] #6331 closed

[2021-07-14 23:01] #6379 closed

[2021-07-14 23:16] tdongsi commented on #4505
The workaround for me is to discard `argocd app wait` entirely and coordinate ArgoCD access (i.e., any `argocd app` commands) with some lock service in your CI system.

For example: My CI system happen to be Jenkins, so the Jenkins-specific solution looks like this

[code]

In this case, multiple pipelines (and their forks due to `parallel` steps) will wait for and obtain the lock named `service/a

[2021-07-15 01:09] alwaysastudent commented on #4002
I think we need a way to selectively and periodically hard refresh applications that have some sort of annotation in there.

[2021-07-15 02:53] jim3ma commented on #6561
argocd controller tries to list and watch all resources (include crds). I think  lots of memory is used for caching.
While some resource and crds are not used any time.

[2021-07-15 03:15] alexmt commented on #6561
Hello @jim3ma , I'm still investigating and looking for potential improvements. In your case I would suggest to look at `resource.exclusions` and `resource.inclusions` ([example](https://github.com/argoproj/argo-cd/blob/2b3601cfa3782e7a37c1b5c5a8ca4e576325d2f1/docs/operator-manual/argocd-cm.yaml#L147)). These two settings allow to control which resources should be monitored by Argo CD. So you migh

[2021-07-15 05:21] acacrni opened #6726 "It should be possible to change/configure date-time format"
# Summary

Instead of using hard coded date time  format:
https://github.com/argoproj/argo-cd/blob/b37eee1054e42c873699460dd5e2447c2f9fe5a6/ui/src/app/applications/components/application-summary/application-summary.tsx#L136
Make it configurable.

# Motivation

ArgoCD is used around the globe. Not everyone is using 'MM/DD/YYYY HH:mm:ss' format.
https://en.wikipedia.org/wiki/Date_format_by_country

[2021-07-15 06:02] vivekjainx86 opened #6727 "Does not create kubernetes objects in Helm Install Order"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2021-07-15 07:54] Hunter-Thompson opened #6728 "SharedResourceWarning when deploying cert-manager"
[code]

When deploying cert manager CRD's, this error comes up. This causes Argo notifications to spam our MM channel with these warnings.

[2021-07-15 07:55] Hunter-Thompson commented on #6728
Turns out, cert manager CRD's have an annotation that is also used by ArgoCD Application, which causes this warning.

Removing the following annotation from the CRD's helped.

[code]

[2021-07-15 07:55] #6728 closed

[2021-07-15 10:07] jim3ma commented on #6561
Great, thanks.

[2021-07-15 11:57] jim3ma commented on #6561
After update `resource.exclusions`, cache info:

[code]

Currently, argocd controller costs 20Gigabytes memory.
We need know the object count fro every APIs.

[2021-07-15 12:40] wesleimp opened #6729 "The UI crashes when trying to access some application with an empty commit message"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The UI crashes when trying to access some application with an empty commit message

**To Reproduce**

Commit an empty stuff just to trigger argo

[code]

**Screenshots**

<img width="14

[2021-07-15 14:39] dsuievalov commented on #3856
Hello, the same issue exist on version `v1.7.6+b04c25e`.

[2021-07-15 14:49] mley commented on #6726
The UI could also use the browser locale to decide how to display the date/time.

[2021-07-15 15:33] reginapizza opened #6733 "UI: Text overlap in source field on list view"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The text in the source field for apps when viewed in list view is overlapped by the target revision and label of metadata.

**To Reproduce**
Have apps (with a longer name for a source r

[2021-07-15 16:08] cnukwas commented on #5529
Our OIDC provider(F5 APM) also won't allow HTTP callback URLs, so getting following error with argocd CLI -sso option. Is there any workaround until an improvement is in place as mentioned in this post?
Added https://localhost:8085/auth/callback to allowed callback URLs list for Argo APM set up.

[code]

[2021-07-15 16:10] cnukwas commented on #5529
It would be helpful to allow callback URL parameter option as mentioned here. Would this be available anytime soon?

[2021-07-15 16:31] #6545 closed

[2021-07-15 16:33] alexec opened #6734 "UI: add resource filter for last sync time"
My recent PR added a filter for resources created recently. But that is not really what I wanted. My use case

* As a ops engineer
* I want to know what resources were recently synced in an app
* So I have confidence the right resources were synced

[2021-07-15 16:38] alexec opened #6735 "UI: resource filter tweaks"
- [ ] Change "Owners" and "Owned" to "Parent" "Children"
- [ ] Filters should always be visible, e.g. float.
- [ ] When you have many kinds, kinds is very tall, maybe it should be 2x wide?

[2021-07-15 18:10] ciiay commented on #6337
Due to the fix of #6616 this issue showed up again. After a discussion with @alexmt the below solutions for both issues were made.

- Allow fuzzy search on cluster name and exact search on cluster URL.
- Base on the starts-with of input string to create autocomplete result list. If a string starts with `https`, use exact search for cluster URL and fetch the exact cluster with URL of the input stri

[2021-07-15 18:59] alexei-matveev commented on #6706
Yes the workaround seems to help, I checked with 2.0.4 here: https://github.com/alexei-matveev/hello-argocd#workaround-for-yaml-invalid-trailing-utf-8-octet

Thanks for workaround and the product! Someone will probably still need to update the buggy dependency though. Are there chances for v2.1?

[2021-07-15 20:18] wobo-mattmencel opened #6736 "TypeError: Cannot read property 'group' of undefined"
**Describe the bug**

**To Reproduce**

I had drilled in to an application and was selecting some of the filter parameters when I got the "Something went wrong" screen.

Possibly related to having the "Show Orphaned" box checked?

**Expected behavior**

UI works as expected.

**Version**

[code]

**Logs**

[code]

[2021-07-16 08:38] Ailsa-Wu commented on #6711
Hi @alexmt , thanks for your response, I will try to upgrade to 2.0.

[2021-07-16 09:07] dinpau commented on #6043
We have a similar problem, I could manage to make the kube config use a proxy config by using the following
`argocd cluster add <kubeconfig-context>` :
There is an (almost) non documented config option of kubectl with that you can configure a proxy inside your <kubeconfig-context>:
https://stackoverflow.com/a/66547565

With the above I can manage the kubectl being called by argo to access the clus

[2021-07-16 11:14] juris commented on #6287
Having the same issue with degraded HPA. Looks like it happens because HPA does not have enough metrics during a rollout. Potentially, it can be mitigated by increasing HPA cpu initialisation period `--horizontal-pod-autoscaler-cpu-initialization-period`
In my case it is not an option, as EKS does not support it [yet](https://github.com/aws/containers-roadmap/issues/159).

[2021-07-16 12:32] brunokoeferli commented on #5606
I have a similar issue with ArgoCD (v2.0.1+33eaf11) and a wrong resources order. In my case I'm using a `ServiceAccount` and a `Secret` referrencing this `ServiceAccount`. If I am using `kubectl apply -f secret.yaml` all works fine/as expected. Even with helm the installation order is correct: first the `ServiceAccount` and then the `Secret`.
When applying the `secret.yaml` via ArgoCD the result i

[2021-07-16 13:27] ingshtrom opened #6741 "argocd-server crashes v2.0.4"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2021-07-16 14:06] hammadzz opened #6743 "docs: add information on behaviour on failed sync"
# Summary

The docs need to clarify the behaviour on failed sync. Will it leave the application in a broken state or bring it back to previous state.

# Motivation

When trying to use ArgoCD it is important to know the behaviour on a failure.

# Proposal

Clarify what happens in the docs

[2021-07-16 15:38] seed-248 commented on #2018
On new Ubuntu WSL instances wslview is pre-installed. You can create a pseudo xdg-open like this
sudo ln -s $(which wslview) /usr/local/bin/xdg-open
Also see https://github.com/cli/cli/issues/826

[2021-07-16 18:38] rwong2888 opened #6749 "Exec plugin returning bad version"
I'm trying to use exec plugin and I'm getting this error. I tried v1, v1beta1, v1alpha1 to no avail. Any suggestions?

[code]

[code]

[code]

[2021-07-16 20:47] jessesuen commented on #6749
This issue seems to indicate the client is the problem:
https://github.com/kubeless/kubeless/issues/1037

[2021-07-16 22:12] peterwhitesell commented on #6075
👍 I agree the `error` log is confusing if it's expected behavior

[2021-07-16 22:30] pnowy commented on #5609
I have to say that would be great to have this feature.

We have the similar problems that branching strategy is super complex for human tracking when there is a lot merges between branches and additionally when you store a couple of configs in one repo that you have to merge all or nothing.

Also with quite popular app of apps patter if you want use parent app pinned to specified tag on the CI yo

[2021-07-16 22:32] tomasfreund commented on #3709
This is a serious issue at our company. I'm pitching a single instance of ArgoCD running "as a service" as the solution to Kubernetes CD for the whole company and this will definitely be a big pain point. We can't have people accidentally overwriting other teams apps or getting errors because other teams already have an app with that name in another project/cluster. We could set a prefix conventio

[2021-07-17 14:08] tommyknows commented on #6268
I also stumbled upon this when trying to get the Authelia Chart to work, no success either.

A few interesting things I found:
- The Authelia Chart [allows to overwrite](https://github.com/authelia/chartrepo/blob/348b9d6e4cad113a31afc3352fd002dff1966519/charts/authelia/templates/_helpers.tpl#L535) the Kubernetes version. This either doesn't work at all or is just ignored during a `helm template`,

[2021-07-17 15:14] jannfis opened #6750 "Project filter selector does not get unset upon clear filters"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When selecting a project from the left hand filter pane that has no applications associated to it, user is shown the following page:

![image](https://user-images.githubusercontent.com/

[2021-07-17 15:18] jannfis commented on #6750
This is actually affecting _all_ the left hand side filters, not only projects.

[2021-07-18 13:28] ronengloat commented on #3837
I had this same issue. I have a pvc created with `argocd.argoproj.io/hook: PreSync`. When I re-synced the app, the pvc was recreated. It was unsuccessfull since it was still attached to a pod so the sync broke.

For my case I solved it by adding the annotation `argocd.argoproj.io/hook-delete-policy: "HookFailed"`. Im not sure if this is appropriate to your case however, but this ensures my pvc isn

[2021-07-18 14:07] rajivml opened #6751 "Argocd sync transparently skipping applying few resources"
Checklist:

**Describe the bug**

we are seeing this issue many a times where Argo is transparently skipping applying few resources (RoleBindings, configmaps, pvc's etc.) and on manual sync they are getting created. Is this a known issue and is there any fix we could try ?

**Expected behavior**

Argo should sync all resources committed to git

**Screenshots**

![image](https://user-images.githubu

[2021-07-18 17:11] jakirpatel opened #6752 "Dropdown menu doesnt work for allowed resources in projects for SSO users- ArgoCD UI"
**Describe the bug**

Bug : ArgoCD UI doesn't dropdown the resources allowed under specific project for users other than admin.

**To Reproduce**

1. Create a new project
2. Add repo to new project
3. Try to deploy through UI - Dropdown menu of repositories doesnt show up allowed repos.

**Expected behavior**

1. Dropdown menu should load the allowed resources same like admin user.

**Screenshots*

[2021-07-19 06:49] pavankumar-go commented on #2373
@alexec This will still require applications to be created with unique name.
for example:
I want deploy an application called "sms-service" in `dev, integration, qa` environments
so this will require applications to be created with unique name : `qa-sms-service, dev-sms-service, integration-sms-service`. but we want the application name to be `sms-service` under projects `dev, integration, qa`

it

[2021-07-19 09:38] doctornkz commented on #4192
We are having the same issue and even worse - our SSO applies too many groups to user automatically, so it's very impossible to implement `deny` mechanic there - default access will be leaked again with every new group. Could someone fix that IRL ?

[2021-07-19 13:28] brunokoeferli commented on #5606
Ok, I've found the order definition in [code](https://github.com/argoproj/gitops-engine/blob/master/pkg/sync/sync_tasks.go#L27). This order definition is based on an old helm release (see also comment [some lines before](https://github.com/argoproj/gitops-engine/blob/master/pkg/sync/sync_tasks.go#L23)).

The current order in helm can be found [here](https://github.com/helm/helm/blob/main/pkg/relea

[2021-07-19 14:25] Anishmourya opened #6753 "Create Application throwing error "api/v1/applications" POST 504"
I have been using Argocd for the last 6 months, I have deployed 10 services on this and many revisions have also been added too. I recently noticed that It has been very slow responding in Sync and creating the application also throwing 504 error too.

I think the increasing number of revisions becomes slow the ARGOCD. However, I am using the HA solution for Argocd.

To Reproduce this error.

- In

[2021-07-19 15:45] rwong2888 opened #6754 "coredns application sync looping"
I'm using app of apps to create coredns via helm chart and it is on a sync loop, deleting the deployment and syncing over and over. Any suggestions?

Application yaml after helm template completed
[code]

coredns chart.yaml
[code]

coredns values.yaml
[code]

[2021-07-19 16:33] suharevA commented on #2953
cluster rancher
added in container and works
 - command:
    - argocd-server
    - --staticassets
    - / shared / app
    - --insecure # <- this thing needs to be added

[2021-07-19 18:24] alexmt commented on #6736
Thank you @wobo-mattmencel ! The bug was introduced by  https://github.com/argoproj/argo-cd/pull/6171. Created fix here: https://github.com/alexmt/argo-cd/pull/new/6736-js-crash

[2021-07-19 18:58] #4502 closed

[2021-07-19 19:40] rbreeze commented on #6753
Can you post logs for the Argo CD API server and repo server?

[2021-07-19 20:30] jessesuen commented on #6751
Do you have auto sync enabled with self healing?

[2021-07-19 20:34] rbreeze commented on #6754
Could you take a look at the FAQ? If you're still having trouble afterward, feel free to comment again:

https://argoproj.github.io/argo-cd/faq/#why-is-my-application-still-outofsync-immediately-after-a-successful-sync

[2021-07-19 20:34] rbreeze commented on #6752
This is expected behavior. A couple solutions: Change default policy to readonly
or explicitly introduce role that allows read of list of repos

[2021-07-19 20:38] rwong2888 commented on #6754
I have tried that with replicas, as well as removing my values.yaml to remove autoscaler, as well as putting the health configmap described in
https://argoproj.github.io/argo-cd/operator-manual/health/#argocd-app
The problem is, I am not able to figure out what to put in the ignore differences.
I've determined it is a combination of the configmap, service, and deployment which are going out of syn

[2021-07-19 23:51] #6729 closed

[2021-07-19 23:51] #6736 closed

[2021-07-20 01:15] alexmt commented on #6233
Looks like I reopened ticket by mistake. No longer can reproduce the issue

[2021-07-20 01:15] #6233 closed

[2021-07-20 01:16] #6741 closed

[2021-07-20 07:02] andrei-dascalu opened #6759 "Azure AD RBAC for group inconsistent behaviour"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-07-20 08:48] lukascuper opened #6760 "Integration issues of ACR helm repo and ArgoCD"
In case of use Azure Container registry absolute path, ArgoCD is not able to determine it and puts the duplication of ACR OCI path twice after "/".

Example:
ArgoCD version - v2.0.4
repoURL = vashelmregistry.azurecr.io
Chart name = vashelmregistry.azurecr.io/test:0.0.1

ArgoCD project yaml:
  - name: Deploy cert-manager
    k8s:
      name: cert-manager
      state: present
      context: "{{ k8s_

[2021-07-20 09:06] Wikiwix opened #6761 "Application controller sends non json log messages"
The ArgoCD Application Controller with `logFormat` set to `json` still gives son non-json loglines:

[code]
**Steps to reproduce**

To reproduce simply start the applciationcontroller with `--logFormat json` and force a warning by e.g. defining an Ingress with a deprecated `apiVersion` as in the sample above.

**Expected behavior**

All loglines follow the same *JSON* format it `logFormat` is sett

[2021-07-20 09:39] andrei-dascalu commented on #6759
I believe I found the issue - still testing.

The documentation for OIDC says about creating the AD Application: "Also, on "Token Configuration" page add groups claim for the groups assigned to the application"

This is slightly misleading. On the DEX configuration part, it specifically mentions that you should add those groups that should access Argo to the application, but there's no hint that y

[2021-07-20 10:06] #6759 closed

[2021-07-20 11:04] agrevtcev commented on #1533
Hello!
This is still happening to use in ArgoCD 2.0.4. We are managing argocd w/ argocd, and noticed unusual high CPU usage on argocd-application-controller pod (on version 2.0.3). So decided to try 2.0.4, and got the same result.

Br, Alexey

[2021-07-20 12:42] Aenima4six2 commented on #4925
Any progress on this item? Executing a single set of git operations per repo (vs per app) would be huge. We are running ArgoCD `v2.0.4` and this behavior has brought down our BitBucket server on more than one occasion.

[2021-07-20 12:53] rajivml commented on #6751
We don't have self healing enabled, we didn't enabled it thinking it, if pods are evicted during Memory/Disk pressure then if we have this enabled argo will try to sync the deployments again and the eviction will keep going on

[code]

[2021-07-20 13:37] rajivml commented on #6751
btw enabling self healing is just a workaround right and not the root cause for the issue

[2021-07-20 16:23] alexmt commented on #4925
Thanks for reminding about this issue @Aenima4six2 . I forgot to post an update:

Caching had been implemented by https://github.com/argoproj/argo-cd/pull/6102 . We run pre-release version on an internal Argo CD instance and observed pretty good results. Chart below illustrates how number of `git ls-remote` changed after deploying the fix:

![image](https://user-images.githubusercontent.com/426437

[2021-07-20 16:24] alexmt commented on #4451
The issues probably fixed in v2.1.0-rc1 (coming soon). See https://github.com/argoproj/argo-cd/issues/4925#issuecomment-883525567

Will update as soon as release is published

[2021-07-20 16:55] Aenima4six2 commented on #4925
This is great! Thanks so much for the update.

[2021-07-20 17:16] Aenima4six2 opened #6764 "ARGOCD_GIT_ATTEMPTS_COUNT - Utilize a backoff for retried operations."
# Summary

The `ARGOCD_GIT_ATTEMPTS_COUNT` environment variable dictates how many attempts should be made while performing git operations. The current retry implementation appears to invoke the git operation in a tight loop, up to the specified attempt value. We should employ a monotonically incrementing (and capped) backoff (potentially with random jitter) between attempts, in the event the failu

[2021-07-20 17:46] hak33m16 commented on #4059
Is there any documentation related to how someone would use a private helm repository/chart with this source type?

[2021-07-20 18:57] rwong2888 commented on #6754
Any idea @rbreeze ?

[2021-07-20 20:06] gberenice opened #6767 "Changes to spec.source.helm.values and spec.source.helm.parameters do not trigger Job update"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

We use ArgoCD Application to manage our custom helm chart that includes k8s Job. We pass some values (like environment variables) to that job via `spec.source.helm.values` and `spec.sou

[2021-07-20 20:41] rbreeze commented on #6754
Are you saying you have `ignoreDifferences` configured already, but it's not working? If so, could you paste your `ignoreDifferences` field? It sounds like if the ConfigMap, Service and Deployment are going out of sync you could add those to the `ignoreDifferences` field of your App Spec and it would fix your problem.

Here's a sample for ignoring a deployment with a container called "injected-ini

[2021-07-20 20:45] rwong2888 commented on #6754
I added below to my application, however the out of sync is triggered by configmap, service, and deployment. Nor did below resolve the issue for deployment. I am unable to determine what paths if any that need ignoring.

[code]

[2021-07-20 21:55] #6275 closed

[2021-07-20 23:33] alexmt commented on #6707
The crash happened due to upgrade from one commit to another within one release so users of officially released version won't be affected.  However even if redis has dirty data repo server should be able to handle it gracefully - just reject dirty data in cache and regenerate it.

[2021-07-20 23:36] alexmt commented on #6599
Fixed by https://github.com/argoproj/argo-cd/pull/6458

Thank you to @elucidator

[2021-07-20 23:36] #6599 closed

[2021-07-21 01:37] cnukwas commented on #5824
@suhas316380 I believe the issue is similar to what I ran into [here](https://github.com/argoproj/argo-cd/discussions/6650).
This could be because the UI where the user is trying to create a repository has no Argo Project scope, hence the error. I was able to work it around by adding `p, role:TeamA-admin, repositories, *, *, allow` as I mentioned there.
I agree that this approach requires admins t

[2021-07-21 01:51] hakuno commented on #1533
@alexmt I found this bug tonight. I was looking for what's the reason my pod restarted.

[2021-07-21 01:59] etho201 commented on #6672
That seems like the way to go with this, but where does this get applied? In my case, the application I'm working with is a standard helm chart and does not contain any Argo CD boilerplate around it. Can I apply the `spec.ignoreDifferences` directly to the manifest for the secret?

[2021-07-21 08:24] chtourou-youssef opened #6768 "cannot sync application"
Environnement:

Gke , argo cd installed , using the official documentation

Something went wrong!

Consider submitting an issue here.

Stacktrace:

TypeError: Cannot read property 'forEach' of undefined
    at https://XXXXXXX/main.782fadfd9a299d06c15e.js:33:335352
    at Array.forEach (<anonymous>)
    at t.processTree (https://XXXXXX/main.782fadfd9a299d06c15e.js:33:335175)
    at Object.children

[2021-07-21 09:00] rouke-broersma commented on #4691
We are looking for this feature as well because we use app-of-apps with argo to provision other clusters with argo from automation. This automation does not know the the api url is going to be but it does know the cluster name.

[2021-07-21 12:04] rouke-broersma commented on #3988
+1 we need this

[2021-07-21 14:54] X-dark commented on #5738
You need to put the `SkipDryRunOnMissingResource` annotation to your `RuntimeComponent` [1] and maybe put it as well in sync wave "1" [2]

[1] https://argoproj.github.io/argo-cd/user-guide/sync-options/#skip-dry-run-for-new-custom-resources-types
[2] https://argoproj.github.io/argo-cd/user-guide/sync-waves/#how-do-i-configure-waves

(now back to why my operator is not deploying...)

[2021-07-21 15:51] likaiwen123 commented on #3988
Then with so many users posting their feature request on this, would developers make a response please? @andrei-dascalu or some other people?

[2021-07-21 16:25] maxvt-tonal commented on #4391
Same here. A better error message would certainly be helpful. Does this verbose error message come from Argo, though?

"Helm is rendering the correct value" in the comments above, to me, seems misleading: according to a similar issue in https://github.com/kubernetes/kubernetes/issues/59113, annotations are `map[string]string` and having unexpected booleans in the YAML causes (at least, has caused

[2021-07-21 17:07] #4688 closed

[2021-07-21 18:18] DWSR commented on #6501
@romachalm Is #6502 ready to be reviewed?

[2021-07-21 22:03] MattMencel commented on #6759
Hi @andrei-dascalu can you show where you added the group, according to the DEX config?

I've set up the OIDC auth and I get this exact error when trying to sync when logged in with my AAD account. But only if the default policy is set to `role:readonly`.

[code]

If I set the `policy.default: role:org-admin` then it works fine.

[2021-07-22 00:00] #5307 closed

[2021-07-22 04:09] andrei-dascalu commented on #6759
@MattMencel  your config looks ok (where the ADD-GROUP-ID is the group's object ID). You should check that  after logging in to Argo, your AAD users have the expected group-id.

In my case, the immediate issue was that Argo wasn't receiving the group ID along with the user so it would only apply the default.

[2021-07-22 07:07] romachalm commented on #6501
Yes, it is. Sorry, forgot to remove the draft tag.

By the way, I have also the healthcheck ready for IAMPolicyMember.
What do I add a PR linked to this issue, or is it better to open one issue per GCP resource ?

[2021-07-22 07:40] kanavdevops commented on #2789
I am also using the similar kind of approach where the plugin in argocd-cm downloads the values.yaml file from git and  the chart from nexus.
[code]

This is working and i am able to create an argocd application. The problem which i am facing is w.r.t to updates to values.yaml which is not getting autosynced. If i do any change in the values.yaml, the argocd app is ignoring the change and mentioni

[2021-07-22 12:37] saprette opened #6785 "Webhook does not trigger refresh when using target revision format refs/heads/<branch name>"
**Describe the bug**

We need to track branches and ignore tags with ArgoCD.
For this, we use in our ArgoCD Applications, target revision: refs/heads/<branch name>
This target revision works fine for us, we track our branches and any tag that would use the branch name is ignored.

We also use Webhooks to trigger automated sync of applications on push events.
Using target revision refs/heads/<branc

[2021-07-22 14:27] AlfredHudson commented on #3379
@Rajeskumar Can you share your code, we are having the same issue trying to connect Argocd from GKE to GCP Source Repo.

We don't have the ability to use GServiceAcount keys so it is possible maybe with WorkloadIdentity to grant acces to Source repo with KSA/GSA binding?

[2021-07-22 14:28] jiribroulik commented on #5982
Also for large applications with tens of resources it is quite slow to load the application page.

[2021-07-22 14:35] DWSR commented on #6501
I'm not a project maintainer, but I think adding all the PRs to this issue makes the most sense.

[2021-07-22 14:37] kannamr opened #6787 "unable to find the argocd-initial-admin-secret when upgraded to v2.0.4"
### Discussed in https://github.com/argoproj/argo-cd/discussions/6786

<div type='discussions-op-text'>

<sup>Originally posted by **kannamr** July 22, 2021</sup>
Hi,
    I have upgarded argo to v2.0.4. The last version I used was v1.7. I see after v1.9, the pod name is no longer admin password. From the docs, argocd-initial-admin-secret has be in the secrets. But unfortunately, I couldn't find th

[2021-07-22 15:39] alexmt commented on #5707
Implemented by https://github.com/argoproj/argo-cd/pull/6742

[2021-07-22 15:39] #5707 closed

[2021-07-22 15:48] alexmt commented on #6687
I incorrectly assumed that argocd always drops admin account tokens but could not reproduce it. Tried with both v2.0 and 1.8. Joining @jannfis question.

@jb185555 Any chance that `argocd-secret` is managed by Argo CD itself or some other controller?

[2021-07-22 15:55] jb185555 commented on #6687
Yes. We have argocd deployed in GCP on a GKE cluster. We use the Kubernetes external secrets controller. We store all our secrets inside GCP secret manager.

[2021-07-22 17:16] alexmt commented on #4188
I believe this is implemented by https://github.com/argoproj/argo-cd/pull/4342 . Now secret value can be referenced from any secret labeled with `app.kubernetes.io/part-of: argocd` label.

Let me know if I'm missing something please

[2021-07-22 17:16] #4188 closed

[2021-07-22 17:16] rwong2888 commented on #6754
@rbreeze , trying to focus on one manifest to isolate. Ignoring metadata and spec is still failing. Any ideas?

[code]

[2021-07-22 17:23] kannamr commented on #6787
New update from the discussion. It seems the upgrade doesn't create ```argocd-initial-admin-secret```. Is there way to do this? If not how to I retrieve the admin.password from ```argocd-secret```

[2021-07-22 17:51] alexmt commented on #6687
Probably this is the reason. I suspect Kubernetes external secrets controller removes key if it does not expect in it the secret.

The upcoming 2.1 release (rc-1 is expecting by Monday) has a feature that might help: https://github.com/argoproj/argo-cd/issues/4188 : now secret value can be referenced from any secret labeled with app.kubernetes.io/part-of: argocd label.

[2021-07-22 20:28] jessesuen commented on #6785
@saprette sounds like  you have a good handle on the issue. Would you like to contribute the fix?

[2021-07-22 21:31] richardfelkl commented on #4722
+1

[2021-07-22 23:23] seizadi commented on #3988
I landed with this issue trying to get a PoC to work for our production environment. Since I can not share the details of our production environment and demonstrate the issues I made a public repos:
https://github.com/seizadi/cmdb
https://github.com/seizadi/dc-repo

I wanted to be able to add the two repos:
[code]

Add additional parameters for tracking the values from the dc-repo when creating an

[2021-07-23 08:46] rouke-broersma commented on #3988
We use app-of-apps to provision all your helm apps. Ideally I would want to be able to reference a file sitting right next to the application manifest in the git repo and have argocd understand that they should do something with that values file when deploying the helm application manifest.

[2021-07-23 09:41] sitilge opened #6795 "ArgoCD UI not showing repository"
**Describe the bug**

I created a new repository

apiVersion: v1
kind: Secret
metadata:
  name: private-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: git@gitlab.com:user/project.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----

The public key of the PKI has been uploaded to Gitlab, an

[2021-07-23 11:04] igorGevaerd commented on #6795
I'm facing the same issue.

The argocd version being used is:
[code]
[code]

The repository manifests is defined like follows:
[code]

I didn't change anything inside the configmap `argocd-cm`, since after 2.0 the [references to repositories were completely removed](https://argoproj.github.io/argo-cd/operator-manual/argocd-cm.yaml) because it is now deployed as a Secret.

[2021-07-23 12:04] dimitarKiryakov opened #6797 "ArgoCD initial password get reset on argocd-server restart"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD initial admin password gets reset if the `argocd-server` pod gets restarted for some reason. The user is not able to login with the initial admin password.
I tried to delete a

[2021-07-23 12:27] saprette commented on #6785
Hello, done

[2021-07-23 13:43] KarstenSiemer commented on #4628
Any update or workarounds for this? This is a great feature and this is the somewhat first question you ask yourself when using it.

[2021-07-23 14:58] seizadi commented on #3988
@rouke-broersma, If I understand your requirements, for your use case you would specify the --values-repo parameter to be the same value as your --repo parameter when creating an application.

[2021-07-23 15:03] rouke-broersma commented on #3988
Yep we could do that, but the issue is that the values used could be out of sync with the sync action argo is doing at the moment. Argo could be sync'ing an application with the values from a later commit.

To fix this argo should be able to 'understand' using the same commit sha for the target revision as the commit sha used to create/update the argo application.

[2021-07-23 15:12] seizadi commented on #3988
@rouke-broersma, You have a revision for the  chart repo and a revision for value repo, in your use case you need to set them to the same git commit e.g. tag or commit to get that desired behavior. In the above command line where I did not specify the revision it would track latest in main.

[2021-07-23 15:41] rouke-broersma commented on #3988
@seizadi It is not the chart revision and the values.yaml revision that need to be the same. It is the gitops repo revision and the values.yaml revision that need to be the same.

It is like this:

- helm OCI repo
-- ingress chart: 3.2.1
-- ingress chart: 3.2.2

- gitops repo
-- commit 12345abcde
-- ingress application references ingress helm chart 3.2.1
-- ingress application references values.ya

[2021-07-23 17:42] moustafab commented on #3688
FWIW, `jb update` will update your dependencies, so to use the pinned versions from your lock file you should probably use `jb install` when setting up the repo

[2021-07-23 22:57] insanemal commented on #4628
Yeah, it's still an issue for us. It would be super great for other reasons as well. Using Filebeat/Logstash being able to set project wide annotations is also a boon.

[2021-07-24 04:40] puru86 commented on #3002
Would it possible to have a label/annotation on a deployment/pod to tell argocd that its managed by an HPA?

If a fully automated solution is not possible - then a managed solution would be helpful.

[2021-07-25 02:07] patrickjahns commented on #6795
Found in a different post, that this will come with 2.1 - so most likely a duplicate of #6637

Source: of https://github.com/argoproj/argo-cd/issues/6637#issuecomment-874112487

[2021-07-25 03:43] seizadi commented on #3988
@hi-usui Thx for the link to PR
https://github.com/argoproj/argo-cd/pull/6280
It looks like it addresses my issuses.

[2021-07-25 18:58] #3777 closed

[2021-07-26 07:36] mehran-prs commented on #4013
Same issue here!

[2021-07-26 09:51] Syntax3rror404 commented on #2953
i also have this problem

[2021-07-26 10:38] romachalm opened #6805 "Error in doc for kustomize `load_restrictor` option"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have set `load_restrictor` option for default `kustomize` as written in documentation stable (version 2.0.5) https://argo-cd.readthedocs.io/en/stable/user-guide/kustomize/#kustomize-b

[2021-07-26 13:00] raman-nbg commented on #5958
@damadei-google is there any update? I'm quite new to argo, but would be interested to contribute somehow.

[2021-07-26 17:36] #6768 closed

[2021-07-26 20:31] #6805 closed

[2021-07-26 20:41] rbreeze opened #6808 "ui: Applications list filters layout is broken"
<img width="1186" alt="Screen Shot 2021-07-26 at 1 39 57 PM" src="https://user-images.githubusercontent.com/6250584/127056086-df587374-0042-4b1b-bd3c-7fce8c46309b.png">

<img width="1265" alt="Screen Shot 2021-07-26 at 1 40 10 PM" src="https://user-images.githubusercontent.com/6250584/127056095-e7876cb5-5f75-4450-9e71-356c33c4c1df.png">

<img width="1059" alt="Screen Shot 2021-07-26 at 1 42 06 PM"

[2021-07-26 21:54] #6808 closed

[2021-07-27 01:56] rogfut opened #6812 "no matching key exchange method found"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x ] I've included steps to reproduce the bug.

[2021-07-27 07:56] roi-codefresh opened #6813 "Argo-CD EventSource type"
# Summary

I started working on implementing the [generic eventsource](https://argoproj.github.io/argo-events/eventsources/generic/) contract within Argo-CD server to allow me to natively listen for Argo-CD Application events using Argo-Events. Then I wondered if it could become an interesting contribution.

# Motivation

Natively listen for Argo-CD Application events from Argo Events.

# Proposal

[2021-07-27 08:13] jiribroulik opened #6814 "History and rollback showing old but not latest syncs"
I am running v2.0.4 version and if I click on 'history and rollback' it shows 5 days old deployed versions even though the application is synced 3 times a day, so basically either there is some offset or not sure. Do you know why it is not showing latest deployed sync jobs. This way it is not possible to do proper rollback.

<img width="582" alt="Screen Shot 2021-07-27 at 10 13 15" src="https://us

[2021-07-27 09:38] #6814 closed

[2021-07-27 11:39] Elyytscha commented on #5178
if you just ignore the secrets it will be not possible to change the secret reference from e.g.
`REFLECTPROJECT_Sentry__Dsn: "${vault:secret/data/argocd/password2#key2}"`
to
`REFLECTPROJECT_Sentry__Dsn: "${vault:secret/data/argocd/sentry#dsn}"`

which is not cool

[2021-07-27 12:07] xiaoyaocloud opened #6816 "argocd account delete-token doesn't work"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x ] I've included steps to reproduce the bug.

[2021-07-27 12:08] jpdoria commented on #2339
same issue. here's the version that i'm using.

[code]

[2021-07-27 16:23] pasha-codefresh commented on #5318
@alexmt i would take it

[2021-07-27 16:43] alexmt commented on #6813
Just checked the description of the contract.

The event source implementation is very lightweight and it ensures get better integration with Events.  I agree - it makes sense to support it natively in Argo CD.

[2021-07-27 17:00] #6321 closed

[2021-07-27 17:27] clly commented on #5944
@asafhm: Okta requires passing custom claims (assuming you haven't configured that already). I've had success using Dex instead of the built in OIDC integration using Dex and enabling both `getUserInfo` and `insecureEnableGroups`. The group information is good until the token is reissued so if stale group information is a problem you can mitigate it by reducing the lifetime of the token.

@sbose78

[2021-07-27 19:05] rbreeze commented on #6750
@jannfis This seems to be fixed, at least in my browser. Could you verify that this bug is no longer happening?

[2021-07-27 19:14] jannfis commented on #6750
@rbreeze I use Firefox 90.0, and the issue is still there on the latest build. Let me try using Chrome tomorrow on a different laptop.

[2021-07-27 20:12] rbreeze commented on #6750
Ah that makes sense, I was using Safari. I'll debug it with Firefox

[2021-07-27 20:18] alexmt commented on #6812
Please try removing path from repo url. Path should be specified in app spec
[code]

[2021-07-27 20:56] mayzhang2000 commented on #6816
I tried below and it is working for me.
[code]

[2021-07-27 21:19] rogfut commented on #6812
Path in the URL is the root of the git repo, I was following this example in the argocd repo add examples:
[code]

`git@myrepo.example.com` is actually the git server itself, and the repo url is `git@myrepo.example.com:some/path/_git/myproject`

Tried it, got the following failure:

` argocd repo add git@myrepo.example.com --ssh-private-key-path /home/rfutrell/.ssh/tfs
FATA[0000] rpc error: code =

[2021-07-27 22:18] #4661 closed

[2021-07-27 22:18] Matroxt commented on #5958
There has been a discussion [here](https://github.com/argoproj/argo-cd/issues/3027) about this
And even a PR [here](https://github.com/argoproj/argo-cd/pull/6514)
But the PR got closed for some reason without any obvious reason 😢

[2021-07-27 22:33] rogfut commented on #6812
I see that this was tagged as "works for me".  To confirm @alexmt , you successfully connected argocd-server to a git repo that only offers diffie-hellman-group1-sha1 and/or diffie-hellman-group14-sha1 Kex Algorithms?

[2021-07-27 22:41] alexmt commented on #6812
hello @rogfut ,

Looks like I changed labels too quickly - adding bug label again. I assumed that error happens due to path in the repo URL but did not validate that Argo CD works with diffie-hellman-group1-sha1 and/or diffie-hellman-group14-sha1 Kex Algorithms.  I think you are correct that there is an issue, sorry for the confusion.

[2021-07-27 23:43] alexmt commented on #6706
Checked kustomize [issue](https://github.com/kubernetes-sigs/kustomize/issues/3778) it is still open. Unfortunately, there is no much we can do on Argo CD side. Will upgrade kustomize version once new version is available.

[2021-07-27 23:43] alexmt commented on #6706
Closing issue since there is no actionable items from argocd

[2021-07-27 23:43] #6706 closed

[2021-07-28 01:28] karthikvijayan3 opened #6821 "Application page load very slowly"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-28 02:44] xiaoyaocloud commented on #6816
`argocd account delete-token -a account-name Token-ID` also works for me, but I did not see this form of command in the documentation （https://argo-cd.readthedocs.io/en/stable/user-guide/commands/argocd_account_delete-token/). Anymore, Is there an error in the example in the documentation？
![image](https://user-images.githubusercontent.com/20721018/127255370-8adba320-dd87-489f-835b-927da0926bc4.pn

[2021-07-28 06:10] charles-woshicai commented on #6767
This is strange, as I know argo-cd application controller would auto-sync application per 3min by default, and it should be equal to click `Sync` button.(please be free to correct me if there is any incorrect).

[2021-07-28 07:25] jakirpatel commented on #6000
I face same issue please let me know if there is any fix.

[2021-07-28 07:29] jakirpatel commented on #2438
Hello is there any update on this ?

[2021-07-28 09:56] awasilyev opened #6822 "grpc-web-root-path setting ignored in ARGOCD_OPTS"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-07-28 10:12] mkasinat opened #6823 "Cert health check is not woking as expected in argocd"
i Team,

**Issue Description** - Recently we have implemented the cert health check on argocd but it is not considering the cert health condition failure.

**Expected Result:** When ever the certificate is not auto renewed or cert status as degrade we need to make the app status as degrade instead of healthy.

**Code Used to implement the cert health check -**
resource.customizations.health.cert-m

[2021-07-28 10:13] jannfis commented on #6750
It's also reproducible with Chrome 91.0.4472.114 (on Linux)

[2021-07-28 10:57] Raskosk opened #6824 "OIDC with http-Keycloak"
I want to integrate Keycloak as IdentityProvider.
Therefore, I followed the instructions of the official [documentation](https://argoproj.github.io/argo-cd/operator-manual/user-management/keycloak/).

Unfortunately, I'm ending up with the response of "invalid return_url"

1. Install Keycloak via kubectl to default-namespace
Keycloak-Deployment
[code]

Keycloak-Service:
[code]

For ingress, I'm usi

[2021-07-28 12:10] jdomag opened #6825 "Add parameter to "argocd app rollback" to rollback to previous revision without providing its ID"
# Summary

Add additional parameter to command `argocd app rollback [APP]` that will perform rollback to previous release. As for now we need to find out previous revision ID from the history and then issue the rollback command.

# Motivation

In our CICD we deploy the app with `argocd app sync` and then run the tests of the application. When the tests fail for any reason, in the next step of CICD

[2021-07-28 12:31] raman-nbg commented on #5958
There is another discussion related to this: https://github.com/argoproj/argo-cd/discussions/6553

[2021-07-28 13:56] gberenice commented on #6767
@charles-woshicai yes, it should, and it works for the rest of `spec` updates. But for described particular `spec` change it doesn't.

[2021-07-28 15:23] mayzhang2000 commented on #6816
Yes, the usage example is not correct. I created https://github.com/argoproj/argo-cd/pull/6831.

[2021-07-28 16:55] alicepaixao opened #6832 "Access to settings/repos it disappeared"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
*

[2021-07-28 18:25] DoumLaberge commented on #4001
I've look at the project badge, but for me this is not complete.  It should have the option to generate a list of status based on every apps of the project.  Not a summary, but a list.  Right now, I have to add every app badge, and maintain the list when I add a new app to argoCD.  Thank you

[2021-07-28 18:25] alexmt commented on #6832
Hello @alicepaixao ,

The error is reproducible if the settings have a repository with an empty URL. The UI should gracefully handle it. Created PR to fix it: https://github.com/argoproj/argo-cd/pull/6833

To unblock you I recommend checking `repositories` key in `argocd-cm`  and see if you have an entry with empty URL.

[2021-07-28 18:29] alexmt commented on #6735
Implemented

[2021-07-28 18:29] #6735 closed

[2021-07-28 19:17] alexmt opened #6835 "Autocomplete enhancements"
**Describe the bug**

Noticed few unexpected changes in autocomplete:

* Autocomplete stop suggesting after user select an option using enter key
* Autocomplete suggestions are case-sensitive. E.g. if user enter `pod` the `Pod` won't be suggested

**Version**

[code]

[2021-07-28 20:05] #6832 closed

[2021-07-28 20:10] rbreeze commented on #6750
Thanks for checking @jannfis. It's very odd, I can't reproduce this in Firefox 89, or 90, or Brave (Chromium) 92. Do you have any non-default settings turned on in your browser? (The only settings I could imagine would affect this is ones involving cookies or local storage)

[2021-07-28 20:23] alexec opened #6837 "Prevent resource theft - i.e. one app "stealing" resources belonging to other apps"
# Summary

Don't allow an app to "steal" resources.

# Motivation

When syncing an app yesterday, I accidentally cerated an app that had the same resources as another app. When I synced the new app the label (app.kubernetes.io/name?) changed, so I "stole" those resources. The I made a changeandi synced my app using prune, deleting the other users resoures.

These were never my resources to change

[2021-07-28 20:40] #6816 closed

[2021-07-28 21:30] alexmt opened #6838 "Improve Replace sync option description in UI"
# Summary

The `Replace` sync option might potentially cause K8S resource recreation. Right now the visualization of the option is not much different from other sync options.

# Motivation

As a result, some users enable this option without understanding the consequences and recreate resources by mistake.

# Proposal

The sync panel should be changed in a following way:

* Replace option should be

[2021-07-28 21:32] jaydipdave commented on #3282
Not sure why this topic didn't get the boost, it needs. Awesome initiative.

[2021-07-28 21:55] #6835 closed

[2021-07-28 22:00] rwong2888 opened #6839 "sso not working on gke w/ coredns"
I have ha argocd deployed on gke, where i've scaled down kubedns to 0 and installed coredns.

I set up SSO w/ okta and dex following https://argoproj.github.io/argo-cd/operator-manual/user-management/okta/#saml-with-dex

However when I try to login via SSO, I am getting below error. It is trying to resolve argocd-redis via kubedns and not coredns. Any suggestions? Is there a way to use the coredns

[2021-07-28 22:28] alexmt opened #6840 "v2.1 Release"
# Summary

Ticket to track v2.1 Release:

- [x] All merged PRs and verified (verify and remove `needs-verification` label):
  - [x] [alexmt](https://github.com/argoproj/argo-cd/pulls?q=is%3Apr+label%3Aneeds-verification+author%3Aalexmt)
  - [x] [jannfis](https://github.com/argoproj/argo-cd/pulls?q=is%3Apr+label%3Aneeds-verification+author%3Ajannfis)
  - [x] [chetan-rns](https://github.com/argoproj

[2021-07-28 23:57] alexec commented on #6837
@jessesuen @alexmt I think this will make Argo CD much safer.

[2021-07-29 05:11] miwurster commented on #6222
We experience the same issue. Just to recap and understand the full picture... The issue lies in Argo's template library, right? This means upgrading the cluster won't help. However, according to the comments above, changing the ingresses back to `networking.k8s.io/v1beta1` resolves the issue in ArgoCD?! Can anyone confirm this based on the latest versions?

[code]

[2021-07-29 07:04] xiaoyaocloud commented on #6816
@mayzhang2000  That's great. Thank you so much.

[2021-07-29 07:44] mick1627 commented on #6462
In azureAD, Authentification, I added the redirect URI http://localhost:8085/auth/callback in a"Mobile and desktop applications" platform instead of "Web" platform. It solved the issue for me.

[2021-07-29 09:53] hjorth commented on #6112
To accomplish this I use the workaround with:
argocd.argoproj.io/hook-delete-policy: HookFailed

[2021-07-29 10:12] mnacharov commented on #6821
Hi!
We had the same issue, and partially solved it by increasing ARGOCD_CONTROLLER_REPLICAS in StatefulSet argocd-application-controller. This option enables sharding.
Also, take a look at [High Availability](https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#argocd-application-controller) guide

[2021-07-29 12:54] cilindrox commented on #6222
This is my assumption as well. Haven't yet tested on k8s 1.22, but on 1.21 I'm seeing all sorts of issues with the `networking.k8s.io/v1` API for example.

Seems Argo is bundling an outdated Helm/apiserver library which lacks newer API versions and resources. This in turn makes some templates and checks fail due to a deprecated version being reported as available.

[2021-07-29 13:45] BenManifold opened #6843 "Feat: Cassandra Cluster Health Check"
# Summary

Adding a simple health check for the cassandra cluster CR

# Motivation

Easy visibility for Cassandra cluster state in the argo UI and the ability to incorporate this CR in sync waves

# Proposal

The standard way for CR health checks.

[2021-07-29 14:18] dornimaug opened #6844 "Multiple globalProjects do not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If multiple globalProjects are configured in the argocd-cm ConfigMap as documented here: https://argoproj.github.io/argo-cd/user-guide/projects/#configuring-global-projects-v18 and the

[2021-07-29 15:55] alexmt commented on #4925
The v2.1-rc1 is ready. https://github.com/argoproj/argo-cd/releases/tag/v2.1.0-rc1

@Aenima4six2 , @jetersen can you please give it a try and see if it resolves the issue?

[2021-07-29 15:55] alexmt commented on #4451
The v2.1-rc1 is ready. https://github.com/argoproj/argo-cd/releases/tag/v2.1.0-rc1

@ermazi  , @m-yosefpor can you please give it a try and see if it resolves the issue?

[2021-07-29 16:19] IbraheemAlSaady commented on #2789
Just a suggestion, can't this be just as easy as putting the value files paths relative to the root directory?

Example:

And in the `valueFiles` property would be `valueFiles: [dev/app1/value.yaml]`

[2021-07-29 17:00] alexmt commented on #3789
The PR https://github.com/argoproj/argo-cd/pull/6102 has implemented the proposed change. Now Argo CD executes `git ls-remote` only once per repo per resync period (3 mins by default)

[2021-07-29 17:00] #3789 closed

[2021-07-29 17:02] alexmt commented on #4296
Hello @cedricboesiger, @boskoop  ,

The v2.1 has a optimization that is supposed to significantly improve API server performance. The change is available in  https://github.com/argoproj/argo-cd/releases/tag/v2.1.0-rc1. Can you give it a try please?

[2021-07-29 17:04] alexmt commented on #6821
This slowness might be caused by large number of groups in JWT token. @karthikvijayan3 can you please check https://github.com/argoproj/argo-cd/issues/4296 - does it looks like the same issue?

[2021-07-29 17:09] alexmt opened #6847 "Dockerize UI e2e tests dependencies"
# Summary

The https://github.com/argoproj/argo-cd/pull/4694 introduced e2e testing framework and the first test implementation. In order to simplify using it we need a way to package dependencies so that tests can be run easily.

# Proposal

Add a `Dockerfile` in `ui-test` directory that has required version of nodejs and headless Chrome. The file can be used to build an images that can run UI e2

[2021-07-29 17:41] schoki040 opened #6850 "ArgoCD Controller loglevel does not work 2.1-rc1"
**Describe the bug**
ArgoCD Controller Log output does not honour loglevel. Info will always be printed.
(both text and json mode)

**To Reproduce**
Add the newly implemented params-cm:
[code]
Shell into the controller container, shows the following:
[code]

**Expected behavior**
Setting controller.log.level: error should only allow for errors to be logged

**Screenshots**
.

**Version**

[code]

[2021-07-29 18:01] #6844 closed

[2021-07-29 18:02] alexmt commented on #6850
Thank you!

[2021-07-29 18:19] #6567 closed

[2021-07-29 18:29] rwong2888 opened #6851 "custom images should now use USER 999 for argo v2.1.0"
I'm using a custom image, it sets USER argocd, I am getting this error as the pod tries to come up. The documentation should be updated to reflect USER 999 should be set instead of USER argocd

[code]

Referencing:

https://argoproj.github.io/argo-cd/operator-manual/custom_tools/

https://github.com/argoproj/argo-cd/blob/v2.1.0-rc1/Dockerfile#L137

[2021-07-29 18:48] alexmt commented on #6839
Hello @rwong2888 , you might be facing https://github.com/argoproj/argo-cd/issues/6336 . Apparently redis go client caches IP address and does handle well redis service changes. Can you try to restart `argocd-server` and `argocd-application-controller` pods?

[2021-07-29 18:51] rwong2888 commented on #6839
Issue still persists after restart @alexmt

[2021-07-29 19:00] schoki040 commented on #6850
@alexmt, I just saw the same issue is present for repo server loggging. Will your merge fix both engines?

[2021-07-29 19:02] alexmt opened #6853 "Argo CD Code manifests should include admin cluster role & cluster role binding"
**Describe the bug**

The [argocd-core](https://github.com/argoproj/argo-cd/tree/master/manifests/core-install) installation manifests are supposed to be used by admins to manage clusters it is running it. The manifests should include cluster role binding otherwise it does not work out of the box

**To Reproduce**

* Run `kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-c

[2021-07-29 19:07] jutley opened #6855 "Add a metric to express connection status to each cluster"
# Motivation

In the past, we have occasionally made misconfigurations that caused ArgoCD to get disconnected from some clusters. This is easy to detect if we manually check for the connectivity, but this isn't a task we would do under normal circumstances. To enable proactive fixing of this issue, we would like to have a metric for ArgoCD's cluster connectivity which we can alert on.

# Proposal

[2021-07-29 19:07] alexmt commented on #6850
@schoki040 , that is correct. Changed function is used by all argocd components to set log level - so PR fixes all of them.

[2021-07-29 19:49] #6853 closed

[2021-07-29 20:01] #6850 closed

[2021-07-29 21:16] cnukwas opened #6857 "SSO issue with existing OIDC Provider"
Configured Argo with following OIDC configuration to work with our internal provider. Postman tool returns correct scopes but fails with Argo due to the way /authorize call is made as mentioned below.

OIDC configuration is below per Argo [docs](https://argo-cd-docs.readthedocs.io/en/latest/operator-manual/sso/#existing-oidc-provider)

[code]
RBAC enforcement YAML with following configuration as p

[2021-07-30 02:36] Rol111-hub commented on #6857
`tatrabanka.sk`

[2021-07-30 02:36] Rol111-hub commented on #6857
100006€

[2021-07-30 02:38] Rol111-hub commented on #6855
[Tatrabanka.sk](Tatrabanka.sk) VÚB banka.sk

[2021-07-30 02:39] Rol111-hub commented on #6855
Thanks

[2021-07-30 02:45] charles-woshicai commented on #3698
Mark.

[2021-07-30 11:45] Anishmourya commented on #6753
@rbreeze  Deleting the pod and adding `- '--parallelismlimit'
            - '10'` fixed the issue. going to close this.

[2021-07-30 11:45] #6753 closed

[2021-07-30 13:04] rwong2888 commented on #6839
Works when I remove HA install and redis goes to 1 pod and 0 haproxy.

Quoting text from slack conversation

@alexmt

https://github.com/go-redis/redis/issues/1127
I plan to fix issue soon and cherry pick it into 2.0/2.1

[2021-07-30 13:16] Junnplus commented on #6825
Can we support `argocd app rollback [APP]` to simply rollback to previous version, like `helm rollback [RELEASE]`?

[2021-07-30 14:25] ciiay commented on #6750
Hi @rbreeze , I am able to reproduce it on Chrome  (on MacOS). If you don't mind I can work on this. Thank you!

[2021-07-30 14:28] mmckane commented on #6287
Seeing this as well. This is causing our pipelines to fail as we validate application health as a step using `argocd app wait --health`, but there is about a 30second to 1min period where argocd marks the HPA as degraded and causes the argocd app wait --health to exit with an error code failing our pipeline.

Because we are using cloud clusters we can't change the flag --horizontal-pod-autoscaler-

[2021-07-30 14:59] sbose78 commented on #5944
Absolutely, please! 🙇

[2021-07-30 16:42] pasha-codefresh commented on #6825
i would take it

[2021-07-30 16:51] Junnplus opened #6865 "Support get cluster cmd by name"
# Summary

Support command `argocd cluster get [SERVER/NAME]` that get cluster by name.

# Motivation

It's a bit tricky to get the cluster through the server, especially when the server is represented by the ip.

[2021-07-30 18:01] rwong2888 commented on #6839
Was able to fix with @alexmt suggestion below

command:
[code]

[2021-07-30 18:01] #6839 closed

[2021-07-30 20:13] yydzhou opened #6867 "page navigator is missing on argocd v2.1.0-rc1"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-07-30 20:14] rwong2888 commented on #6867
I am seeing the same

[2021-07-30 22:04] rbreeze commented on #6867
Thanks for noticing this! I'll send a fix.

[2021-07-30 22:47] #6750 closed

[2021-07-31 05:33] dtaniwaki commented on #6614
@jessesuen I think handling this case in dex is not a great approach. We should remove unnecessary headers on the proxy so dex won't be affected by the proxy's restriction.

[2021-07-31 05:34] dtaniwaki commented on #6614
Please tell me if we should use a different flag for this headers.

[2021-07-31 07:32] atrakic commented on #2953
This works for me:
[code]

[2021-07-31 08:35] charles-woshicai commented on #6822
/assgin

[2021-07-31 15:31] vsfedorenko opened #6873 "Unable to delete application with ingresses and active acme challenges"
**Describe the bug**

Unable to delete application with ingresses and active acme challenges

**Expected behavior**

Project is deleted

https://user-images.githubusercontent.com/4069585/127744573-9d4fa4c4-994c-49e9-bf6a-48ec28a537ce.mov

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted t

[2021-07-31 17:56] jerryli-ctc commented on #4344
I am using this workaround when deploying argocd with helm chart (inspired by devops-stack approaches)
1. Create a TLS secret in the argued namespace with the issuing or Root CA in it for verifying your self-signed Keycloak certificate or other OIDC certs. i.e. "argo-tls-ca".
2. In the argocd override chart value file, customize the argocd "server" block with:
[code]
Deploy argocd and configure Ke

[2021-07-31 19:08] alexmt commented on #6822
Thank you @charles-woshicai , looking forward for the PR!

[2021-07-31 21:52] cnukwas commented on #6857
@jannfis any timeline to have this fixed?
Also our internal dev team is open to fix this issue, but not sure how this would get to OpenShift version of Argo since we're using OpenShift GitOps operator. Should we contact RH/OpenShift team?

Thanks

[2021-08-01 07:17] awasilyev commented on #6822
got it working with
export ARGOCD_OPTS="--grpc-web-root-path /argocd"

[2021-08-01 08:41] haim-ari commented on #5991
I'm using flux to install sealed-secrets with Helm Release.

[code]

[code]

I upgraded to 1.16.1 (app v.0.16.0) and added the following:

[code]

but when I'm checking the `deployment` I don't see the Env Var added even though I can see that the controller was restarted:

[code]

Should I manually delete the crd :

`sealedsecrets.bitnami.com                                    2021-05-25T07:44:35Z

[2021-08-01 15:43] ismailyenigul commented on #5991
Hi @haim-ari
I had the same issue on argo-cd.
Just upgrade sealed-secrets to 1.16.1 helm char with the following value `commandArgs`.  then argocd stop progressing and reports Healthy.

[code]

[2021-08-01 16:22] haim-ari commented on #5991
Yes, I tried that as well, same result:
[code]
But a new secret was created successfully:

[code]

[2021-08-01 17:04] haim-ari commented on #5991
Seems that this was related to CRD somehow (not sure why but could be related to the fact that this is was an upgrade of Helm)
removed the CRD and manually added it back.

Now ArgoCD shows the correct state.

[2021-08-01 17:15] haim-ari commented on #5991
I can confirm this also worked on another cluster.
After deleting and re-creating CRD.

[2021-08-01 18:46] Hongbo-Miao opened #6875 "Should skip TLS warning with --insecure even the server is not running"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Just a small UX issue.

One time, I forget to forward the port first

[code]

When I login with `--insecure`, I got TLS warning

[code]

**To Reproduce**

Just run

[code]

without port

[2021-08-01 21:44] booleanbetrayal opened #6876 "`CronJob` perpetually out of sync after `apiVersion: batch/v1` promotion"
**Checklist**

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

We updated our Kubernetes clusters to 1.21 and shortly after, updated our `CronJob` Helm templates to toggle `apiVersion` from `batch/v1beta1` to `batch/v1`. Upon syncing those chang

[2021-08-02 00:17] andrewm-aero opened #6878 "Documentation does not state how to escape $ substitution in helm Applications"
**Describe the bug**

In the official docs, the page for Helm notes that variables can be substituted using the $ character, but do not specify how to escape them. The user should not have to dig through the source code for this information. If this is not a supported feature, then the docs should state this very clearly.

**To Reproduce**

See https://argo-cd.readthedocs.io/en/stable/user-guide/h

[2021-08-02 02:30] charles-woshicai commented on #6822
Cool, seems like pkg `cobra` doesn't receive input arguments in format `foo=bar` but `foo bar` if so.
I will test later.

[2021-08-02 02:56] rajivml opened #6880 "waiting for completion of hook and hook never succeds"
HI,

We are seeing this issue quite often where app sync is getting stuck in "waiting for completion of hook" and these hooks are never getting completed

As you can see the below application got stuck on secret creation phase and some how that secret never got created

![image](https://user-images.githubusercontent.com/46923567/127797111-89cb30ef-3c97-447b-9f60-ad3bafa6bbd0.png)

Stripped out all

[2021-08-02 03:04] rajivml commented on #6880
I have terminated the app sync and re-synced it again and the sync is successful now but this can't happen because if it happens CI / CD runs and also the automation that we have done to install apps via argoCD CLI would fail.

[2021-08-02 06:03] spirosoik commented on #4441
I can get this

[2021-08-02 06:57] brunokoeferli commented on #5606
I've also found the old issue https://github.com/argoproj/gitops-engine/issues/212 which correlates to this one.

[2021-08-02 06:57] brunokoeferli commented on #6727
I've found an old issue argoproj/gitops-engine#212 which correlates to this one.

[2021-08-02 09:09] rouke-broersma opened #6883 "Allow a list of include/exclude patterns for app directories"
# Summary

You can exclude or include files and folders from being considered for syncing with the directory.include and directory.exclude options. However this allows for only one pattern. It would be great if this would allow a list of patterns (either yaml list or concatenated string with delimiter such as `;`)

# Motivation

We have a .vscode directory in our gitops repo which we exclude from

[2021-08-02 09:09] pasha-codefresh commented on #6667
@tgruenert i can see that it is working in latest version
<img width="748" alt="Снимок экрана 2021-08-02 в 12 07 52" src="https://user-images.githubusercontent.com/39732895/127835645-69a76f49-9906-4d23-913f-ef13ec2b104a.png">

[2021-08-02 10:24] rexhsu1968 commented on #4174
I got the same error happened at v2.0.x too. And tried several versions all got same error. Finally I remove all of the NetworkPolicy then all become working without any error. I just guess that NetworkPolicy restrict network traffic by the podSelector, but controller and server connect redis by the service IP:6379 port.

[2021-08-02 13:34] ciiay commented on #6474
I'd like to work on this.

[2021-08-02 13:35] jsoref commented on #6474
@ciiay: please be my guest

[2021-08-02 14:23] jngbng opened #6884 "application external url is exposed with http instead of https"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD dashboard shows external URL of app based on ingress host, but it uses "http" instead of "https".
It was originally fixed from https://github.com/argoproj/argo-cd/pull/4339.

But

[2021-08-02 15:20] silverraven691 commented on #5161
This looks fixed in 2.0.0

[2021-08-02 15:22] charles-woshicai commented on #6822
It's true that the argocd client doesn't recognize opts in format `foo=bar`, and this is caused by the pkg `shellquota` that argocd client used to load flags.
https://github.com/argoproj/argo-cd/blob/bcfc112d828476270c006a349be4c14228336be5/util/config/env.go#L24

pkg version: `github.com/kballard/go-shellquote v0.0.0-20180428030007-95032a82bc51`

I write some simple code to test this:
[code]

Her

[2021-08-02 15:35] charles-woshicai commented on #6822
@alexmt Please make a decision whether argo-cd client support opts in format `foo=bar`.

[2021-08-02 15:44] jsoref commented on #5161
Seems doubtful.  We're running newer than 2.0.0 and still hit it. We plan to upgrade to latest this week. But I'd be fairly surprised if it was fixed.

Post a video?

[2021-08-02 15:51] silverraven691 commented on #5161
No, it just works for me on Chrome with v2.0.0+e9ce61d installed, so it might be a browser compatibility issue.

[2021-08-02 15:58] jsoref commented on #5161
Seriously, please post a video (like the one here). It's still broken for me in current Chrome (macOS, as pictured before) in https://github.com/argoproj/argo-cd/commits/d085636.

[2021-08-02 16:00] silverraven691 commented on #5161
No, I don't care that you don't trust me, lol.

[2021-08-02 16:45] Raskosk commented on #6824
Mistake found:

At the official docs, right at 'Configuring ArgoCD OIDC' is the given url pointing to argocd-server.
In my configuration I've given the keycloak url.

My (wrong) configuration:
[code]

Correct configuration:
[code]

[2021-08-02 16:45] #6824 closed

[2021-08-02 17:37] alexmt commented on #6822
@charles-woshicai  I agree - we should support `foo=bar` format as well. Thank you for PR!

[2021-08-02 18:43] #6851 closed

[2021-08-02 18:51] #5161 closed

[2021-08-02 19:29] #6867 closed

[2021-08-02 19:53] rbreeze commented on #6876
A workaround would be to add these fields to `ignoreDifferences`. See https://argoproj.github.io/argo-cd/user-guide/diffing/

[2021-08-02 20:00] booleanbetrayal commented on #6876
Thanks @rbreeze . I had briefly considered going that route, and have done it for things that truly do change / rotate out from under out management, but I wouldn't want to ever ignore the container resource values, for example.

[2021-08-02 20:10] ciiay commented on #5482
It seems there's no available text wrap icon in the w3 icon libraries except for "wrap_text" from Google Icons. Is that acceptale to add google icons reference to the app or a text label such as "WRAP LOG" is preferred?

[2021-08-02 20:17] jsoref commented on #5482
@ciiay: personally I want the feature more than I care about the L&F (and to be clear, a significant portion of the bugs I file are L&F bugs). If that means I get a text button today and ArgoCD decides on a solution for an icon next year, that's fine w/ me.

That said, this does look nice:
https://fonts.google.com/icons?selected=Material+Icons&icon.query=wrap_text

[2021-08-02 20:20] ciiay commented on #5482
@jsoref Thanks for the quick reply. Let me confirm with other members.

@rbreeze Is that okay to add google icons library or a text button is preferred for now?

[2021-08-02 20:52] alexmt commented on #6883
Actually this is already supported . You can write `{dir1,dir2}` to match two expressions. @rouke-broersma, do you think it will be enough to document it and provide and example in docs?

[2021-08-02 20:54] alexmt commented on #6880
I suspect this is fixed by https://github.com/argoproj/argo-cd/pull/6294 . The fix is available in https://github.com/argoproj/argo-cd/releases/tag/v2.0.3 . Can you try upgrading please?

[2021-08-02 20:57] rouke-broersma commented on #6883
After diving into the code I eventually figured out which globbing library is used and that it actually is supported. I had initially assumed the built in go globbing was used which doesn't support this.

I think it would be good enough to document the supported globbing syntax, but I still think it could be nice configuration wise to be able to provide distinct patterns as a list. This will be mo

[2021-08-02 21:07] rbreeze commented on #5482
@ciiay I think we should go with a word button rather than introducing a whole library for just one icon. I've opened a PR for it (#6889)

[2021-08-02 23:23] rbreeze commented on #4924
This is fixed with the v2 autocomplete component: https://github.com/argoproj/argo-ui/blob/master/v2/components/autocomplete/autocomplete.tsx

[2021-08-02 23:25] stevesea opened #6894 "argocd out-of-sync on GKE's BackendConfig object"
**Describe the bug**

After recent k8s master upgrades on GKE (to v1.18.19+) , my argocd applications that have a BackendConfig report 'out of sync'

[code]

Per discussion in argocd slack https://cloud-native.slack.com/archives/C01TSERG0KZ/p1627918105136200 , there's at least one other user with the same problem.

I assume the issue with with the BackgroundConfig CRD or other API differences afte

[2021-08-03 00:56] #3509 closed

[2021-08-03 05:32] #6825 closed

[2021-08-03 05:44] charles-woshicai commented on #6865
Makes sense to me.

/assign  @alexmt

[2021-08-03 07:41] mkasinat commented on #6719
@MattFanto I have replaced my custom cert health as you defined but still cert health is not executing at all . Please see my config which is used .
cert-manager.io/Certificate:
      health.lua: |
        print ("LUA:CERT")
        hs = {}
        if obj.status ~= nil then
          if obj.status.conditions ~= nil then
            for i, condition in ipairs(obj.status.conditions) do

[2021-08-03 11:22] jannfis commented on #6857
After a little research, I'm unsure about this being an issue with white space. Are you sure that your OIDC provider actually can process the scopes you specify - they seem to look a little weird to me, considering you specify some group names as scope.

Have you successfully got it working by manually issuing the request using `%20` instead of `+` and inspecting the returned token?

[2021-08-03 13:14] cnukwas commented on #6857
We're using F5 APM and I see that scopes are returned correctly when tested using space delimited scopes using Postman tool. The scopes are not returned when I replace a space with plus sign for the requested scopes even with the Postman tool.
I'm not sure how to test with the OIDC provider(APM) manually, let me know how to do that and will give that a try.
On a side note, we found the plus sign i

[2021-08-03 14:11] erkerb4 commented on #4174
I've experienced a similar issue, where removing the NetworkPolicy for redis temporarily restored the connectivity. I restored the NetworkPolicy, then restarted the CNI agents on nodes running redis and argocd-server (_cilium_ in my case), and connectivity was restored.  I'd be cautious before restarting the cni agents. There was a blip in service communication (_as expected_). Proceed with cautio

[2021-08-03 15:45] Jonas18175 commented on #6878
It's currently a bug in helm-applications, because the go cmd exec interprets it as bash variables and when its undefined it erase the $ and the following text - because it try to set it to var content.
I thought I had created a issue about this in the past, but I don't find this one. I tried to create a fix with a escape lib, but it doesn't work for me.
A other problem is in Helm Applications to

[2021-08-03 15:50] andrewm-aero commented on #6878
If that is the case, don't you agree that the docs should have a big red warning somewhere explaining this, and that if such behavior is undesirable, to use 1.8 for the time being?

[2021-08-03 15:56] Jonas18175 commented on #6878
**Yes, because it can be a security risk or results in unexpected behaviour.** But better is to fix that bug.
I work very much with helm application argocd charts, because it is practical, but i think it need more attraction or a rework.
For example supporting types or helm's --set-string - for example for prometheus annotations - I have no chance to set it because it results in "'true'" in yaml.

[2021-08-03 16:21] andrewm-aero commented on #6878
I definitely agree that the bug should be fixed, however, the question is how long that will take, and if its more than a few days (And given that your issue has been untouched for months, I suspect it will be quite a bit longer than that), the best thing would be to document it immediately.

As for how to fix it, if I were doing it, I would make a breaking change where there are two fields, 'valu

[2021-08-03 16:31] andrewm-aero commented on #6878
Actually, something that just occurred to me, if parameters are just interpreted, as-is, by bash, could this be used for shell injection? If so, that seems CVE-worthy.

[2021-08-03 16:33] #6168 closed

[2021-08-03 16:51] Jonas18175 commented on #6878
No, its not a CVE - i tested it with a $(data) inside a string and it results in $(data) and not in a date - but its not sure if that is executed or not.

[2021-08-03 17:06] #6474 closed

[2021-08-03 18:35] rajivml commented on #6880
sure, thanks, we recently upgraded our develop to to use 2.0.5 and this happened on our prod build which is on 2.0.1. I will see if this can repro on our dev branch. Thanks !

[2021-08-03 20:56] alexmt commented on #6894
Most likelly BackendConfig controller set the security policy to the default value. Such controller behavior frequently causes Argo CD or `kubectl diff` to report the difference.

Technically this is controller bug. The workaround is described here: https://argo-cd.readthedocs.io/en/stable/faq/#why-is-my-application-still-outofsync-immediately-after-a-successful-sync

You might either change manif

[2021-08-03 21:28] stevesea commented on #6894
as a work around, I added ignoreDifferences to my Applications
[code]

[2021-08-03 22:39] rubenssoto commented on #2789
Hello guys,

Could you help me wich approach are working?

Because I tried with helm dependencies but my values.yaml was no applied, anybody could help me?

[2021-08-03 22:51] rubenssoto commented on #5826
Hello,

@KaiReichart thank you so much to solve this problem, do you have any idea when this PR will be merged?
Me and my team are testing argocd right now

[2021-08-03 23:05] #6838 closed

[2021-08-03 23:19] alexmt commented on #6727
The https://github.com/argoproj/gitops-engine/issues/212 is related but argocd is supposed to create namespace/CRD already. Thank you for providing an example. Will try to reproduce it and fix

[2021-08-03 23:53] #5606 closed

[2021-08-04 00:21] cpmoore commented on #4424
I had the same issue with using argocd with openshift oauth.
I was able to emulate the oauth flow in python pretty easily.  It should be possible to translate this to curl.

[code]

[2021-08-04 01:09] stevesea commented on #6894
Ahhh. Looks like our BackendConfig manifests are out-of-date. Once I change the apiVersion, argocd no longer reports out-of-sync.

previously:
`apiVersion: cloud.google.com/v1beta1`

now:
`apiVersion: cloud.google.com/v1`

[2021-08-04 01:09] #6894 closed

[2021-08-04 02:00] charles-woshicai commented on #3698
Is there any update about `post render`?

[2021-08-04 06:41] m-yosefpor commented on #2789
Make sure you put the variables under the chart name. For example if you have dependency with the name `webapp` like below:

[code]

You should have your values for `webapp` dependency chart like:

[code]

[2021-08-04 07:55] mohitsaxenaknoldus commented on #6878
I can mention it in the docs. Can I be assigned to this?

[2021-08-04 10:47] jannfis commented on #6857
Hey @cnukwas, I'm not very familiar with F5 APM but a little research suggests that it uses Okta as OIDC backend. Many people do integrate Argo CD successfully with Okta, but probably they set-up a little different. We do have community contributed docs for Okta integration at https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/okta/#oidc-without-dex

I think you need to put t

[2021-08-04 14:12] ChristopherLenz commented on #4391
from my point of view helm and kubernetes work correctly. I had following problem

This is not working with ArgoCD.
[code]

I had to change it to in order to be accepted by ArgoCD
[code]

[2021-08-04 14:26] jaideepr97 commented on #6215
Hi! I'd be interested in taking a shot at this

[2021-08-04 15:03] schoki040 opened #6907 "2.1-rc2: controller.repo.server.timeout.seconds not being accepted by engine"
**Describe the bug**
When setting `controller.repo.server.timeout.seconds: "180"` the app-controller will not accept the value

**To Reproduce**
Set the following option in your params-cm and restart your controller pods
[code]

**Expected behavior**

It ups the timeout to 180 seconds

**Screenshots**
 no

**Version**
[code]

**Logs**
From inside the container
[code]
Container level
[code]

[2021-08-04 15:32] Paragon1970 commented on #6106
Seeing the same `context deadline exceeded'` errors. (v2.0.0).

[2021-08-04 15:37] batthebee opened #6909 "Health check doesn't work when using `resource.customizations.health.*`"
Version 2.0.4

I am implementing a health check for the pulumi-operator.

My first try was the following config map:

[code]

This does not work, the deployment is marked as "Healthy".

After that I tried the following:

[code]

Now, as expected, the deployment is marked as "Progressing".

[2021-08-04 15:41] noam-codefresh opened #6910 "ParseDurationFromEnv almost always returns default value"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-04 15:51] alexmt commented on #6910
Thank you! Looking

[2021-08-04 15:53] batthebee commented on #6909
Sorry, read the wrong doc's

[2021-08-04 15:53] #6909 closed

[2021-08-04 15:58] alexmt commented on #6907
thank you!

[2021-08-04 16:33] #6884 closed

[2021-08-04 17:09] rubenssoto commented on #2789
@m-yosefpor

Im trying to do this with kube prometheus stack and there a lot of configs.

https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

Do I have to put everything in this yaml under kube-prometheus-stack chart name?

thank you so much

[2021-08-04 17:49] m-yosefpor commented on #2789
@rubenssoto only the ones you want to override the default values.

[2021-08-04 18:04] KaiReichart commented on #5826
Unfortunately the argocd team has not yet responded to the PR, so I can't really say when this will make it's way into argocd...

Irrespective of this I can only recommend argocd, it's powering a lot of client applications for us already and there's only more to come ✊

[2021-08-04 18:07] #6910 closed

[2021-08-04 20:00] cnukwas commented on #6857
We even reached out to F5 APM support and they have said that Argo implementation is not OAuth spec complaint with regards to the scopes. See [Access Token Scope](https://datatracker.ietf.org/doc/html/rfc6749#section-3.3) section.
Okta groups maybe working different, our set up requires client application requesting explicit scopes, instead of returning all the groups the user is part of.

   deli

[2021-08-04 20:05] #6337 closed

[2021-08-04 20:08] rwong2888 commented on #6754
I tried adding ```application.instanceLabelKey ``` to the config as per
https://argoproj.github.io/argo-cd/user-guide/helm/#helm-release-name

However, I am still getting sync looped.

When I remove all labels from the coredns chart, then it syncs fine.
https://github.com/coredns/helm/blob/master/stable/coredns/templates/service.yaml#L7
[code]

Are there any protected labels which may be interferi

[2021-08-04 20:51] #6907 closed

[2021-08-04 21:33] kxw9298 commented on #2953
also works with me

[2021-08-04 22:24] ciiay commented on #5480
@jsoref It seems the filter count is no longer existing in the latest version. Could you confirm if this is still a valid issue? Thank you!
<img width="225" alt="Screen Shot 2021-08-04 at 6 24 07 PM" src="https://user-images.githubusercontent.com/26255262/128263132-b433694d-e634-4eee-a746-2478cb77702f.png">

[2021-08-04 22:26] mmerrill3 commented on #5833
I see something very similar to the original reported issue, except on version 2.0.4 of argo-cd.  The default helm version for my helm2 chart (version v1.20.0) is always used as the value for .Capabilities.KubeVersion.GitVersion, no matter what the target cluster's version is.
As far as I can tell, the version from the app.spec.destination.server should be the source of the kubernetes version, and

[2021-08-04 22:49] jsoref commented on #5480
Hmm, indeed, at least in the demo it appears the counts are unfiltered.

We tried upgrading ArgoCD today and failed miserably because of some strange interaction between the latest Ubuntu and our container environment. I'm going to assume that if we succeed in upgrading, the demo'd behavior will apply.

[2021-08-04 22:49] #5480 closed

[2021-08-04 23:00] ciiay commented on #1524
@jsoref Comparing the dropdown menu items and the top bar menu items, it looks this Refresh button in the dropdown menu should do the same thing as the top bar button does. I'd like to work on this. Thank you!

cc @alexmt

[2021-08-04 23:48] #5483 closed

[2021-08-05 09:12] jannfis commented on #5833
@mmerrill3 Argo CD v2 changed default version of Helm to v3 - so unless you explicitly have `.spec.helm.version` set to `2`, it is probably rendered using Helm v3 (and thus, passes a static version identifier for the target cluster's K8s version).

[2021-08-05 09:26] alexanderdalloz opened #6915 "cluster connection fails with: The provided from parameter is too old to display a consistent list result"
Argo CD cluster communication goes into fail state due to a problem to enumerate images.

[code]

In consequence all deployed applications report the same errors and are in state unknown:

[code]

[code]
Restarting the Cluster API didn't change the situation, the error persists. The Argo CD Pod logs do not contain obvious hints about the root cause.
Besides Argo CD the cluster works without notica

[2021-08-05 09:45] alexanderdalloz commented on #6915
Hints about how to debug the error condition any further are highly welcome.

[2021-08-05 09:52] rajivml opened #6916 "Disable History and Rollback and Delete Options for certain users"
Hi,

Is there a way we can disable, "History and Rollback" and "Delete" options.

![image](https://user-images.githubusercontent.com/46923567/128330279-796e9d23-92e7-4c71-919a-d5051f9eb09b.png)

Motivation:
We want to disable "Rollback" because we don't have the rollback logic coded into our deployments so if any of our end users try to use this, the app might go into inconsistent state and we wan

[2021-08-05 10:02] #6614 closed

[2021-08-05 14:45] shibumi commented on #5991
@haim-ari  you said you added a new command flag to sealed-secrets version 1.16.1. However, I cannot find it in the sealed secrets repository:

https://github.com/bitnami-labs/sealed-secrets/tree/main/helm/sealed-secrets

Did you speak about a private fork?

[2021-08-05 15:12] rubenssoto commented on #2789
@m-yosefpor

Thank you so much for your help.

It worked!!!!

Do you see any problem or limitation on this approach?

[2021-08-05 15:37] iyenigul commented on #5991
Hi @shibumi
yes simply we are adding value to `commandArgs` in values.yml of helm chart
it is defined at https://github.com/bitnami-labs/sealed-secrets/blob/main/helm/sealed-secrets/templates/deployment.yaml#L49

[2021-08-05 15:38] ismailyenigul commented on #5991
Hi @shibumi
yes simply we are adding value to `commandArgs` in values.yml of helm chart
it is defined at https://github.com/bitnami-labs/sealed-secrets/blob/main/helm/sealed-secrets/templates/deployment.yaml#L49

[2021-08-05 16:35] #6687 closed

[2021-08-05 17:04] mayzhang2000 opened #6917 "Packages with security vulnerabilities in UI"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-08-05 17:36] m-yosefpor commented on #2789
@rubenssoto not much. Actually there are some remarks in the comments of this issue, such as https://github.com/argoproj/argo-cd/issues/2789#issuecomment-790720510 , however the proxy chart method works really well for us. We have deployed over 200 charts each on 6 different clusters (some staging, some production) with different parameters just fine with this method.

[2021-08-05 19:01] rubenssoto commented on #2789
@m-yosefpor

Thank you so much your help gain.

Only one more help please...

Its working now, but Im having some problems with a few options.

Im trying to install kube-prometheus-stack, in values.yaml has configs for grafana, alertmanager and prometheus I could config ingress for all of them but couldn't config resources and others configs.

This is the values default

https://github.com/prometh

[2021-08-05 19:49] sidewinder12s commented on #6686
I thought I was only running into permissions issues when trying to use a range with Harbor OCI (It has some RBAC bugs) but it appears that might not be the only issue. Mine fails with:

[code]

So, I'm not sure what API path ArgoCD is attempting to resolve. I was assuming this is the _catalog endpoint under the hood in the registry API.

[2021-08-05 19:59] suresh-sivanantham-irm commented on #6686
@sidewinder12s I think this issue is not specific to argocd but it is how OCI charts work in helm as of now. Helm charts backed by OCI registry requires version

So if we need to use wildcards, we need to move away from OCI registry.

ref: https://github.com/helm/helm/blob/88554882726eaec7a9949fadc5bd77265ab611f2/internal/resolver/resolver.go#L124

[2021-08-05 20:16] jessesuen commented on #6915
@sbose78 this looks openshift specific. Could someone on your team take a look.

[2021-08-05 22:24] sidewinder12s commented on #6686
That seems like a.... big regression compared to non-OCI :sob:

https://github.com/helm/helm/issues/9694

[2021-08-05 22:39] Aenima4six2 commented on #4925
Installed v2.1-rc2 today. Will keep you posted.

[2021-08-05 23:10] musabmasood commented on #4935
We are on github. For us:

[code]

I would really like to run the diff on the merged ref without locally merging it

[2021-08-05 23:23] Aenima4six2 commented on #6108
I can also confirm we having the same issue. From what I can gather, anytime a resource status changes, a reconciliation occurs. Use use Kubernetes External Secrets  and KEDA, which both poll and update resource status fields frequently. I have ArgoCD configured to ignore all status fields, but there are enough events flowing through the controller to cause considerable CPU burn, even though the c

[2021-08-05 23:24] musabmasood opened #6918 "Unable to diff with pull/<number>/merge ref"
Our codebase is on github. We occassionally run `argocd app diff` via the CLI. We would like to test our PRs before merging them in CI.

The following works:

[code]

but the following does not:

[code]

We would like to run the diff with the merged PR in order to understand the correct changes coming from the PR.

Kindly advice.

[code]

[2021-08-06 06:58] karthikvijayan3 commented on #6821
Looks like same issue..closing this ticket.

[2021-08-06 06:58] #6821 closed

[2021-08-06 13:07] Brice187 opened #6919 "basehref not set correctly on v2.1.0-rc2"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-06 15:14] mayzhang2000 opened #6922 "Non-cryptographically secure random function"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-08-06 16:44] jannfis commented on #6915
Maybe a cluster cache refresh (or recycling the Redis deployment in a non-HA setup) may help here.

Just as a side note: I guess you probably know that the underlying Kubernetes version is pretty outdated (1.11), and this might as well be a bug in K8s.

[2021-08-06 16:58] smark88 commented on #4979
Just ran into this, this week with v1.8.7. Is this resolved in v2.x.x ?

[2021-08-06 17:58] alexec opened #6924 "UI: change events tab to use "time ago" format to make it easier to use"
Consider this:

![image](https://user-images.githubusercontent.com/1142830/128552413-7a9a303d-7616-405d-8be3-ec0ca67b66e2.png)

Pretty hard to read eh? Was that recently, I have to stop and think.

Let see how workflows does that:

![image](https://user-images.githubusercontent.com/1142830/128552514-4fdf80fa-05b6-40de-a388-e5bcba533d53.png)

Oh yes! That is quite recenty.

[2021-08-06 19:22] mylesagray commented on #5107
I too keep hitting this when syncing a large number of applications (29 - but a few of those are app-of-apps) as part of cluster bootstrap.

However, the main problem we are seeing is that once an application enters the Error state with (for example):

[code]

Then it will stay with "Current Sync Status" as `Unknown` perpetually, and never retry.

<img width="1230" alt="image" src="https://user-im

[2021-08-06 19:28] mytunguyen opened #6925 "Create cluster with list of custom labels for secret"
# Summary

https://argocd-applicationset.readthedocs.io/en/stable/Generators/#label-selector
It would be nice to be able to add/configure the cluster to argocd with a list of custom labels to get propagated to the cluster secret.

# Motivation

I'm using ApplicationSets. I want to use label selectors to narrow the scope of targeted clusters.
If I add 20 clusters then I need to label 20 clusters

#

[2021-08-06 20:33] lorenzomenajem opened #6926 "Add option to emit application diffs in JSON"
# Summary

## What change you think needs making.

Add a `--diff-format` flag to the `argocd app diff` command, which could be set to `text` (default, and the current behavior) and `json` (the feature I'm proposing here)

Example invocation:
[code]

# Motivation

I would like to process the output of `argocd app diff` programmatically, and outputting json seems like the most straightforward way to

[2021-08-06 22:49] harikrongali commented on #6917
current vulnerabilities
[code]

[2021-08-07 06:07] rajivml opened #6927 "Not able to Delete Application when Redis is Down"
HI,

When I was deleting an application, I was not able to do so and then realized that redis is down due to imagePull errors. But based on this incident, I realized argo doesn't work if Redis is down.

If Redis is used as a throw away cache, the UI shouldn't it directly fall back to etcd ?

I just want to understand the limitations we have to be aware of.

ArgoCD Version: 2.0.5

![image](https://

[2021-08-07 11:54] alexanderdalloz commented on #6915
Thanks @jannfis for the hint. Unfortunately neither resetting the cluster cache, not restarting the redis pod, nor even completely re-deploying Argo CD has changed anything regards the connection failure. The same error message persisted.

We are aware of the age of the k8s release OpenShift 3.11 ships with. Curiously the described error happens now for the first time after months and only on a si

[2021-08-07 12:39] jannfis commented on #6915
Hey @alexanderdalloz, the error is actually thrown by `gitops-engine` when loading the available resources on the cluster. It uses Kubernetes client API for listing the resources using a paged approach. You are using Argo CD v2.0.0 which was built against gitops-engine v0.3.2.

You can have a look at the following methods:

Updates to resources:
https://github.com/argoproj/gitops-engine/blob/85ff5

[2021-08-08 00:46] alexmt commented on #6919
@mayzhang2000 can you take a look please?

[2021-08-08 00:54] alexmt commented on #6917
Just to clarify. Here is output of `yarn audit`. As you might see all vulnerabilities are dev tools dependencies and not even used by application. Only one vulnerability `normalize-url` URL is used by UI but totally not practical. Only admins can register Git repos, so if someone get access to register repo then slow UI is not so important issue.

<details>
<summary>yarn audit</summary>
<p>

[code

[2021-08-08 02:04] dmitry-mightydevops commented on #6916
I don't think that is possible at this time. You can only grant access to applications within the project with "ALL" functionality allowed
See more: https://github.com/argoproj/argo-cd/issues/6916

[2021-08-08 17:09] alexmt opened #6932 "`react-keyhooks` does not take into account key target"
**Describe the bug**

The `react-keyhooks` plugin does not take into account and fires all registered handers at once. This does not work if page has more that one hander:

**To Reproduce**

* Navigate to applications list page
* Click search box and use up/down buttons.
* See that selected application changed as well

https://user-images.githubusercontent.com/426437/128639746-c25d8c19-cbc9-4ea9-8

[2021-08-09 10:42] tomaszdudek7 commented on #4110
So, could anybody (basing on previous experiences) join the discussion and at least specify them here on GitHub?

[2021-08-09 12:08] jasvinder-tp opened #6933 "pubsub.go:168: redis: discarding bad PubSub connection: redis: ping timeout"
**Describe the bug**
there was an update in nodepool, or in maintenance and every pods of argocd come up new. After come up, we are facing pubsub.go:168: redis: discarding bad PubSub connection: EOF issue in argocd.

**Every pod is up: described as below**

pod/argocd-application-controller-0            1/1     Running   0          38h
pod/argocd-dex-server-7fd8d769bd-jpw8n         1/1     Running

[2021-08-09 12:36] spirosoik commented on #4441
@mattparkes do I miss something? could you give more details? This is what I see if I don't provide a deploy key

[code]

[2021-08-09 13:44] veerendra2 commented on #3008
I have same problem in v1.8.7. We observed this issue after we upgrade Argocd version from v1.7 to v1.8.
[code]
Below is the example deployment file
[code]

[2021-08-09 13:53] mattparkes commented on #4441
I'm not really sure sorry, we never went ahead with ArgoCD (just because of other priorities) and so I can't easily verify this.

I feel _reasonably_ confident that my original report was correct, so perhaps something else has changed to surface the correct error since my issue was opened.

Happy for this to be closed if that's the case! :)

[2021-08-09 17:42] ciiay commented on #3091
@dthomson25 Could you confirm if this issue still exists? I tried to reproduce it, after clicking update button, the JWT token still shows up.

[2021-08-09 17:51] rubenssoto opened #6934 "Argo RC 2.1 -config referenced '$google-auth-secret:oidc.auth0.clientid', but key does not exist in secret""
Hello Guys,

Im trying to configure SSO with secrets on the argocd 2.1 RC, could you help me?

Error:
`time="2021-08-09T17:48:59Z" level=warning msg="config referenced '$google-auth-secret:google.auth0.clientid', but key does not exist in secret"
time="2021-08-09T17:48:59Z" level=warning msg="config referenced '$google-auth-secret:google.auth0.clientsecret', but key does not exist in secret"`

but

[2021-08-09 17:56] rbreeze opened #6935 "UI: Tree elements overlap with filters"
<img width="477" alt="Screen Shot 2021-08-09 at 10 55 48 AM" src="https://user-images.githubusercontent.com/6250584/128751727-3839efd7-12f6-4c2e-ba6d-ca06f5958cfd.png">

[2021-08-09 17:59] rubenssoto commented on #6934
I forgot the label...thank you

[2021-08-09 17:59] #6934 closed

[2021-08-09 18:00] alexmt commented on #6934
Hello @rubenssoto ,

I think you are missing: `app.kubernetes.io/part-of: argocd` label on the secret. https://argo-cd.readthedocs.io/en/latest/operator-manual/user-management/#alternative . Can you give it a try please?

[2021-08-09 18:07] rbreeze opened #6936 "UI: Grid-tree view to improve information density and preserve visual hierarchy"
# Summary

A new view to supplement (or someday replace) the tree view to improve the amount of information shown on screen at a time. This view would pack Resources into a grid that can display parent/child relationships like the tree view, but uses smaller elements to represent tree nodes, like the Pod view.

# Motivation

It's true many Argo CD users use large monitors, where this is less of an

[2021-08-09 19:08] ciiay commented on #3143
@dthomson25 Hi, I tried to reproduce this issue, after application is synced up, the Diff button is disabled. Could you confirm if it's ok to close this issue? Thanks!

[2021-08-09 19:19] ciiay commented on #4233
@jsoref Hi, I checked out this issue and the check-box label is nicely wrapped in one line with 3 dots ellipsis now. Is a tooltip of the full label is needed for this scenario? If so, we can update this issue and I will work on it. Thank you!

[2021-08-09 19:27] jsoref commented on #4233
@ciiay: Thanks for checking, I've updated the steps (roughly) and expected results.

The ellipsis at the end is really a bad place for it. They should _probably_ be in the middle (or possibly the beginning? -- open to discussion, but I generally think middle is more common than beginning)

[2021-08-09 19:32] ciiay commented on #4233
@jsoref Thanks for the update. I have only seen the ellipsis at the tail of a long content. Do you have an image of your expectation as a reference?

[2021-08-09 20:09] ciiay commented on #4233
@jsoref Oh I think I got what you mean. You mean to show both the beginning and the ending of a content, and ellipsis the middle part of the content, right?

[2021-08-09 20:25] harikrongali commented on #6922
argoCd is refactored and require verification @mayzhang2000

[2021-08-09 20:46] alexmt commented on #6922
Ops, I was thinking this [PR](https://github.com/argoproj/argo-cd/pull/5138) fixed it but looks like it is not.

Can you please use "secure" rand string instead of insecure one here:
https://github.com/argoproj/argo-cd/blob/3091bc5b6f3d389376feaa999a63fc4986ae72a9/util/settings/settings.go#L1489

[2021-08-09 23:49] alexec opened #6939 "Factor defaults into UI diffs"
# Summary

Currently, default fields are marked as different, but they are defaulted. Example, "serviceAccountName" defaults to "pipeline":

![image](https://user-images.githubusercontent.com/1142830/128788148-e8392919-31dd-4b57-b6f6-3b9f1788d480.png)

The only real change here is the addition of `sidecar` and of `async`

# Motivation

Avoid confusing users about what will actually change.

# Prop

[2021-08-10 00:26] #5318 closed

[2021-08-10 00:29] reginapizza commented on #6206
@jannfis after trying to come up with something for #6580 I'm not sure it can be implemented without a lot of really intrusive changes, if not entirely impossible. I tried to give an event listener to the form as another field with validate and submit and while it could pick that up, it was losing the functionality of validate. I think just the way it's structured with react forms would make it a

[2021-08-10 00:32] reginapizza commented on #6580
I mentioned this on #6206, but including it here as well.

After trying to come up with something for this I'm not sure it can be implemented without a lot of really intrusive changes, if not entirely impossible. I tried to give an event listener to the form as another field with validate and submit and while it could pick that up, it was losing the functionality of validate. I think just the way