[2020-09-10 21:13] kvaps commented on #4288
Hi, I have similar problem with running kubernetes-in-kubernetes, I have hook which generates configmaps wiih kubeconfig files, some components are rely on these configmaps, thus synchronization is never finishing.

UI and log are saying:

[code]

but hooks are never executed:
![image](https://user-images.githubusercontent.com/7556217/92806616-732cbd80-f3ba-11ea-88fe-96ab416a61d7.png)

However hel

[2020-09-10 21:18] jsoref commented on #1524
Is the dropdown supposed to be the same as the top thing?
![image](https://user-images.githubusercontent.com/2119212/92808341-ab67d800-f389-11ea-9614-20229590b1af.png)

[2020-09-10 21:19] kvaps commented on #4288
I agree, Helm documentations [explains](https://helm.sh/docs/topics/charts_hooks/#the-available-hooks):

- **`post-install`** - Executes after all resources are loaded into Kubernetes
- **`post-upgrade`** - Executes on an upgrade after all resources have been upgraded

but [argo](https://argoproj.github.io/argo-cd/user-guide/helm/):
- **`helm.sh/hook: post-upgrade`** - Supported as equivalent to *

[2020-09-10 21:32] #4176 closed

[2020-09-10 21:49] sfc-gh-jkhan commented on #4302
Ah yes my mistake, thanks for clarifying @jessesuen .

The `object` value had me confused. Just to confirm, this format is specifically just for application permissions then? :

[code]

and for the other type of resources, the `object` at the end can be an application?
[code]

[2020-09-10 21:53] JaveriaK commented on #4302
Ah yes my mistake, thanks for clarifying @jessesuen .

The `object` value had me confused. Just to confirm, this format is specifically just for application permissions then? :

[code]

and for the other type of resources, the `object` at the end can be an application?

[code]

[2020-09-11 02:37] ramanNarasimhan77 commented on #4276
@jessesuen
I tried Suggestion#2, it did not work.
I will try Suggestion#1 and let you know.

I am doing this installation on `azure aks` and looks like the extra namespace selector is added by `aks`

[2020-09-11 02:50] ramanNarasimhan77 commented on #4276
@jessesuen  is there a way to debug `diffing customizations` defined in an application.

Currently I have written the ignoreDifferences spec as part of my `application spec`
Looks like to use the steps from the `troubleshooting guide` I have to move them to the `argocd-cm configmap`

I will try this out and let you know

[2020-09-11 06:07] erezo9 commented on #4298
@jessesuen Ill send an image on sunday, dont have it with me right now

[2020-09-11 06:10] erezo9 commented on #4298
@jessesuen I also see that the controller uses 14Gib at somepoint, is it considered normal behavior?

[2020-09-11 08:52] gaoshuai2020 opened #4305 "Helm repository unsupported protocol scheme "acr""
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-11 09:00] jessesuen commented on #4298
Yes. Memory usage is linear to # of clusters x # of managed resources in that cluster.

The previous screenshot was taken from our largest Argo CD instance which manages 176 clusters but with only 270 applications.

For comparison, another one of our Argo CD instances is on the opposite extreme, and only manages 15 clusters but with 1700 applications. It's graphs look like:
![image](https://user-i

[2020-09-11 09:02] jessesuen commented on #4298
Is the controller restarting because it's being OOM killed? If so, I would suggest trying to bump memory limits for v1.7 to see if v1.7 inherently needs more memory, or if there is really a leak in the controller.

[2020-09-11 09:43] jessesuen opened #4307 "WatchResourceTree does not enforce RBAC"
We don't examine claims here:

[code]

[2020-09-11 10:29] crazy-canux opened #4308 "can't login from cli when use ingress with path != /"
[code]

sysadmin@master1:~/k8s/cicd/argo$ argocd login --insecure --grpc-web k8s.devops.com:32443
Username: admin
Password:
FATA[0006] rpc error: code = Unknown desc = POST https://k8s.devops.com:32443/session.SessionService/Create failed with status code 404

[2020-09-11 10:29] crazy-canux commented on #4308
UI can login succeed.

[2020-09-11 10:43] kvaps commented on #3150
Is there any option to disable such verification in argocd?

[2020-09-11 12:12] erezo9 commented on #4298
@jessesuen well i dont know if there was a change in looping in non sync apps
but we have about 8 clusters and 200 applications
but 16 are not synced due to validation - whcih we need to add a flag to make it happen
any changes made on sync wave by any chance?

[2020-09-11 14:56] tetchel commented on #4234
this looks like a good first issue; I will add `titles` to the items in this table.

[2020-09-11 15:03] xsreality opened #4309 "UI shows resource for pruning even when app is healthy and synced"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

**Describe the bug**
When a resource created by another tool (like Strimzi) is annotated with below annotations, the application is healthy and sy

[2020-09-11 15:54] mayzhang2000 commented on #4295
Thank you for the detailed info.

I could not reproduce it using argocd-server: v1.7.4+f8cbd6b. Previous job is deleted.
[code]

[2020-09-11 18:34] tetchel commented on #4025
I see that the 'Heebo' font is loaded from `fonts.googleapis.com`, but it looks like all the css is correctly bundled to be inline. Is the "css loading issue" the same as the parent issue, or is there a problem loading some styles too?

[2020-09-11 18:39] jrkt commented on #4272
:+1: for this feature request. We have the same problem with one repo for about 600 services in six k8s clusters and have noticed a lot of pointless refreshes of apps across all our k8s clusters when only one app changes in one cluster. This would be a HUGE benefit for us.

[2020-09-11 18:59] jannfis commented on #4272
This is basically the same request as #3890

[2020-09-11 19:34] carsonoid commented on #4272
Except I have a more in-depth proposal and actual code for the feature tested and ready to go :)

[2020-09-11 19:51] nitpum commented on #4308
got same problem and i can't even use ui

[2020-09-11 20:36] mayzhang2000 commented on #4295
Saw a `Warning` on your screen. Wonder what is that warning message?

[2020-09-11 20:52] jessesuen commented on #4302
Correct. Only applications have the `<project>/<appname>` format.

Thanks for confirming the fix

[2020-09-11 20:52] #4302 closed

[2020-09-11 20:59] jessesuen commented on #4305
In order to support this I think

1. ACR plugin needs to be configured on repo-server like so:
https://github.com/argoproj/argo-cd/issues/2558#issuecomment-547099146

2. Argo CD needs to support different scheme and fork helm binary to query index.yaml

[2020-09-11 21:00] jessesuen commented on #4307
Fixed in https://github.com/argoproj/argo-cd/pull/4311

[2020-09-11 21:00] #4307 closed

[2020-09-11 21:02] jessesuen commented on #4308
For the CLI login issue, you need to also supply: `--grpc-web-root-path string`

[2020-09-11 21:06] jessesuen commented on #4309
This is actually the intended behavior. We will still mark the resource OutOfSync, but do not allow that condition to contribute to the overall Sync status of the application. See docs:

https://argoproj.github.io/argo-cd/user-guide/compare-options/

[2020-09-11 21:07] jessesuen commented on #4309
One fix we should make is to *not* mark the resource as "required pruning"

[2020-09-11 21:18] jsoref opened #4312 "Expose /api/version from gui"
# Summary

https://cd.apps.argoproj.io/api/version exists and actually has interesting/important information

# Motivation

especially the helm version, as some things require helm 3.3.1+.

# Proposal

One way to expose the version info would be from the octopus/version field at the top left:

![image](https://user-images.githubusercontent.com/2119212/92973705-bb97ba00-f452-11ea-9e5e-d378e715c732.

[2020-09-12 00:08] Woland2k opened #4314 "Swagger document is out of sync with API"
**Describe the bug**

{"Error converting value 7/14/2020 6:53:50 PM to type 'Models.V1Time'. Path 'items[0].metadata.creationTimestamp'

The swagger documentation defines timestamp as:

[code]

however the api returns just a date value in the following format:

`"creationTimestamp" : "2020-08-10T15:29:35Z",`

This breaks API generated from swagger since types don't match.

[2020-09-12 08:00] crazy-canux commented on #4308
@jessesuen  thans!

argocd login --insecure --grpc-web --grpc-web-root-path "argocd" k8s.devops.com:32443

[2020-09-12 08:00] #4308 closed

[2020-09-12 10:37] kvaps opened #4316 "Persistent GPG Server Key"
# Summary

Currently Argo CD generating new gpg key pair each start:

https://github.com/argoproj/argo-cd/blob/ea9b0b35d0a2f996066b2d41315ff575d38eadc9/util/gpg/gpg.go#L256-L267

Right now this key is not much useful because changing each restart.
But if it would be persistent, it would allow to use it to simple decrypt the repository using [git-crypt](https://github.com/AGWA/git-crypt) or [sops](

[2020-09-12 10:39] kvaps commented on #4316
Read my article how I made this working already now:
https://itnext.io/configure-custom-tooling-in-argo-cd-a4948d95626e#567a

[2020-09-12 10:46] kvaps commented on #1364
Hi folks, I found better workaround to implement git-crypt for ArgoCD, thus now it is working much better.

I even wrote small article about my advantages:
https://itnext.io/configure-custom-tooling-in-argo-cd-a4948d95626e#567a

However It would be nice to add native support for persistent gpg-keys from the ArgoCD side (see: https://github.com/argoproj/argo-cd/issues/4316)

[2020-09-12 11:10] davidkarlsen commented on #2785
Any thoughs on this - this would help a lot on the multi-tenancy.

[2020-09-12 16:42] jaideepr97 commented on #3492
@jannfis
Hi! @gaganhegde and I would be interested in taking a closer look at this issue
Is this still an open issue and in need of being addressed?

[2020-09-13 06:13] igaskin commented on #4291
https://github.com/argoproj/argo-cd/pull/4317 fixes this issue.

In the application spec  `app.sepc.destination.name` and `app.spec.destination.server` are mutually exclusive, which is where this information is coming from,  and why you see the full name of the cluster in one tile and not the other.  I think we could potentially do a lookup to see if the `server` maps to a `name` and prefer the `n

[2020-09-13 10:37] jannfis commented on #3492
@jaideepr97 It would be much appreciated if you take on this issue :)

[2020-09-13 16:54] posquit0 commented on #4295
<img width="1370" alt="Screen Shot 2020-09-14 at 1 53 00 AM" src="https://user-images.githubusercontent.com/1484002/93023874-0ec56480-f62d-11ea-8e0c-2cbb74361fef.png">

It's just orphan warning.

[2020-09-13 17:11] posquit0 commented on #4295
I just re-tested after re-installing argo-cd. but, the result is same.

[2020-09-13 17:21] posquit0 commented on #4295
AH, I found the differences.

- When I click the sync button with no different state, it works as I intended.
- When I click the sync button with different state(ex. nginx image version upgrade), it doesn't work as I intended.

[2020-09-14 02:46] igaskin commented on #4117
fixed in https://github.com/argoproj/argo-cd/pull/4319

[2020-09-14 03:00] igaskin commented on #3949
Btw, this is now available for use.  The cluster name can be specified in as `app.spec.destination.name` in the application spec.  We can probably close this issue now.

[2020-09-14 03:28] srearnold commented on #4090
if you added a new local user named "argocduser",you can edit secret resource argocd-secret where key is 'accounts.argocduser.password' and value is bcrypt(password) like https://argoproj.github.io/argo-cd/faq/ "I forget password" part said.

[2020-09-14 03:48] chetan-rns commented on #3476
Looks like the server doesn't return an error when the cluster secret is not found [here](https://github.com/argoproj/argo-cd/blob/89ee234634c10312d2fcb74c30e9d590fe01d4ff/util/db/cluster.go#L251). Can returning an error(`eg. Unable to find cluster: rubbish`) solve this issue? I'm happy to work on it

[2020-09-14 05:10] #3949 closed

[2020-09-14 05:57] reggie-k commented on #4298
Me and @erezo9 are in the same team.
There are a couple of issues we face after upgrading to 1.7.4:
1) High memory usage of the controller
2) Sync waves stopped working (namely, the sync is stuck forever when there are resources with sync waves in the ArgoApp) so I had to remove them and rely on the sync auto-retries (can live with that but the sync with the auto-retries is rather slow)
3) After d

[2020-09-14 07:12] xsreality commented on #4309
@jessesuen Yes that was the intention with this issue to not display the resource as "required pruning" in UI.

Would it make sense to somehow display the resource as "Extraneous" instead of just OutOfSync to distinguish from other resources that are _actually_ OutOfSync? That way these resources can be ignored at a glance instead of checking why they are OutOfSync.

[2020-09-14 09:28] Fixmetal commented on #4114
Of course. The network errors were due to the Dex server not having the CA. It is Dex server that must have the CA. I put it in the argocd-tls-certs-cm but that is injected in argocd-server and argocd-repo-server only.
So I had to patch argocd-dex-server like this:

[code]
Then I had to patch `argocd-cm` to obtain the CA (.data.dex.config.rootCA):

[code]

I once again remember you to correctly se

[2020-09-14 11:13] SayakMukhopadhyay opened #4320 "Implementing JsonPath for diffing customization"
# Summary

Right now Diffing Customization uses `jsonPointers` to indicate the patch to be ignored. This is sufficient when the tree contains non array objects. But, if an array is present, then it becomes infeasible to query the element to be ignored by array index. As such, support for `jsonPath`, which has the capability of making deeper queries, would go a long way.

# Motivation

Cert Manager

[2020-09-14 13:07] alinbalutoiu opened #4321 "Broken CLI "app wait" command after server upgrade to v1.7.4"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading the ArgoCD server to `v1.7.4`, there is an issue with `argocd app wait` on the client side. The command returns a timeout error even when the application is synced and h

[2020-09-14 14:10] BioSin commented on #4321
🐛 I had the same bug, downgrade to 1.6.2 fixed the issue.

[2020-09-14 16:50] brianlmoon commented on #2953
Nginx and other reverse proxies send the header [X-Forwarded-Proto](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto) to indicate that TLS is being handled by the proxy. This could be checked in addition to checking the secure setting in the [useSecure](https://github.com/argoproj/argo-cd/blob/89ee234634c10312d2fcb74c30e9d590fe01d4ff/server/server.go#L452) function. I ha

[2020-09-14 17:12] kotlak opened #4326 "Mutatingwebhook drifting at application level not working"
**Describe the bug**

Deploying vault secrets agent through argo and observed  vault-agent-injector-cfg keep out of sync

added this to ignore the differences but its still not working

  ignoreDifferences:
    - group: ""
      kind: MutatingWebhookConfiguration
      name: webhookignore
      namespace: "default"
      jsonPointers:
      - /webhooks

tried with

  ignoreDifferences:
    - group

[2020-09-14 17:36] alexmt commented on #4025
Implemented by https://github.com/argoproj/argo-cd/pull/4324

[2020-09-14 17:36] #4025 closed

[2020-09-14 18:01] tetchel commented on #4234
sorry for the commit spam. PR is https://github.com/argoproj/argo-cd/pull/4310

[2020-09-14 18:03] alexmt commented on #4321
1.7 has introduced deadlock in API server. It is possible that one api-server pod permanently goes into bad state and `argocd app wait` times out if request is served by affected pod.

I doubt downgrading CLI to v1.6.2 solves the problem, it could be a coincidence. The fix had been implemented already. We rolled out it internally and will know by end of day if it is not reproducible anymore.

[2020-09-14 18:23] 007 opened #4327 "Add App Diff button to dashboard page"
# Summary

Add the equivalent `App Diff` button from the detail page to the dashboard page.

# Motivation

When I have `Out of Sync` apps, I usually want to check the diff before applying. Currently, I can `Sync` / `Refresh` / `Delete` from the dashboard, but I need to go through to the detail page for each app to find the `App Diff` button.

# Proposal

Put the same button from the detail page on

[2020-09-14 20:41] jessesuen commented on #4309
I don't think we should introduce a new status, but I do think it would be nice to distinguish somehow in the UI extraneous resources differently than OutOfSync. I think this can be a UI feature.

[2020-09-14 20:42] jessesuen commented on #4312
I agree

[2020-09-14 20:44] jessesuen commented on #4314
We use the kubernetes openapi gen to generate the swagger from the kubernetes types. So the bug would be with the generator. We should see if theres a newer version that addresses incorrectly generated swagger.

Either that, or we perform some surgery on the swagger after the generation stage, ideally automated.

[2020-09-14 20:49] jessesuen commented on #4316
I think @jannfis should chime in here

[2020-09-14 20:51] jessesuen commented on #4320
I think this is a good idea. There's room in the spec to allow for jsonPath as an alternative.

[2020-09-14 20:55] jessesuen commented on #4326
You need to specify group as `admissionregistration.k8s.io`

[2020-09-14 20:55] #4326 closed

[2020-09-14 21:51] alexmt opened #4329 "No error/warning condition if application destination namespace not monitored by Argo CD"
**Describe the bug**

No error is shown If the cluster is connected in "namespaced" mode and application is trying to a namespace that is not listed in a cluster configuration.

**To Reproduce**

1. Add cluster in a namespaced mode

[code]

2. Create an application that deploys resources to any different namespace.
3. No error message is shown and all resources are shown as out-of-sync even if res

[2020-09-14 21:53] alexmt commented on #4298
Reopening issue until the fix is released and tested.

[2020-09-14 22:24] eric-intuit opened #4330 "In Network view, pods in same column as service"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x ] I've included steps to reproduce the bug.

[2020-09-14 22:29] #3943 closed

[2020-09-15 01:04] tetchel commented on #4234
I believe this can be closed

[2020-09-15 02:07] #4234 closed

[2020-09-15 02:08] jsoref commented on #4234
![image](https://user-images.githubusercontent.com/2119212/93156748-c1053680-f6d6-11ea-8bdd-4f4fb3bf1418.png)

[2020-09-15 02:21] kotlak commented on #4326
ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    name: webhookignore
    jsonPointers:
      - /webhooks
![image](https://user-images.githubusercontent.com/62711872/93157679-aaf87580-f6d8-11ea-8b15-76e53dde3ebe.png)

No change, still getting same issue

[2020-09-15 02:23] kotlak commented on #4326
tried with single tab or space at group too to cross verify yaml format issues, no change

[2020-09-15 06:18] #4156 closed

[2020-09-15 08:06] erezo9 commented on #4298
@alexmt
Thanks for fixing the issue, will update as soon as the release comes out and will update the issue if relevant

[2020-09-15 09:32] #4209 closed

[2020-09-15 11:22] chetan-rns commented on #4320
Hi @jessesuen , is this applicable to [system-level configuratio](https://argoproj.github.io/argo-cd/user-guide/diffing/#system-level-configuration)n as well? I'm happy to work on it

[2020-09-15 11:24] SayakMukhopadhyay commented on #4320
In my opinion, it should also apply there.

[2020-09-15 11:41] fabianmet opened #4331 "Enable ignore of helm hook annotations in specific hook resources"
# Summary

Some helm charts use helm hooks to achieve things that hooks were not intentionally designed for. For instance CRD lifecycle management since helm does not update existing CRD's itself. [Helm docs for CRD management](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations)

I would love to be able to have ArgoCD deploy a helm chart where main

[2020-09-15 13:23] ErikLundJensen commented on #4175
I get the same issue with CRD's from Istio Operator.
Argo CD version v1.7.3+b4c79cc

Might be too early to close this bug.

[2020-09-15 13:49] pyr0hu commented on #4272
Also 👍 , we are using a single repo that defines the whole infrastructure and it'd be a really good perf improvement. As the deploy process updates the infra repo with the new app image, all application will refresh and resync (if autosync enabled) if the deployment changes, even it it was only one webapp.

[2020-09-15 15:08] abangser commented on #4231
I am seeing this behaviour on `v1.6.1+159674e`. @pbecotte which version did you upgrade from? I am curious if we can track down if/where this may have been introduced.

[2020-09-15 15:28] sdputurn opened #4333 "argocd is not able to connect public repos when behind proxy even after setting HTTP proxy env variables"
our argocd is behind a proxy. i have setup proxy server details in env variable of argocd-repo-server by seeing at this - https://github.com/argoproj/argo-cd/issues/2243

**argocd version: v1.6.0+c10ae24**

env variables inside repo pod:
[code]

when i get into the pod i am able to clone repos from github.com
[code]

error i am getting, when trying to add any public repo from UI
```Unable to conne

[2020-09-15 16:22] jannfis commented on #4333
Hey, I think you need to also set `http_proxy` and `https_proxy` on the `argocd-server` pod, because the server does a connection check when you add a repo via the UI.

[2020-09-15 17:17] sdputurn commented on #4333
thanks @jannfis  let me give a try and let you know

[2020-09-15 17:45] jsoref opened #4335 "no original value should be indicated specifically"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-15 17:58] padmakumar05 commented on #4333
I think that did the trick.

Thank you!

[2020-09-15 18:07] jsoref opened #4336 "Reword no conditions to report!"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-15 18:17] mayzhang2000 commented on #4295
When resource is out of sync, click on sync, I do see new jobs are created and the previous job is not deleted.

This job's name is `generateName: app-job-test-`. Every time we get resource from git, we get a new job. This new job has no idea of the previous job. Thus the previous job is not deleted.

[2020-09-15 18:21] jsoref opened #4337 "Rethink page title construction"
# Summary

Favor the current application/object over the brand of argocd.

# Motivation

Imagine you have a bunch of argocd tabs open:

1. https://cd.apps.argoproj.io/applications/cert-manager?resource=&conditions=true
1. https://cd.apps.argoproj.io/applications/prometheus-operator
1. https://cd.apps.argoproj.io/applications/nginx-ingress
1. https://cd.apps.argoproj.io/applications/jenkins
1. http

[2020-09-15 18:38] mayzhang2000 commented on #4295
I am seeing the same issue in v1.6.2

[2020-09-15 18:41] tetchel commented on #4312
I can look into this.

Some details:
1. If the version-string becomes clickable, eg to open a modal with all this info, should the current tooltip which shows the full current version stay? Or should we remove it to encourage clicking?
2. In the modal, do we want to show all that info, or just select pieces?

Here is the full output from my dev environment:
[code]

[2020-09-15 18:45] jsoref commented on #4312
I've discovered that the information for things, esp helm version can vary between components (argocd-server vs argocd-repo-server), so a right anchored object ala https://cd.apps.argoproj.io/applications/cert-manager?resource=&conditions=true would be good.

I think the whole thing in a pretty form w/ a cute 📋  button to copy JSON.

As for the tooltip, I'm fine w/ keeping that, but it'd probably

[2020-09-15 19:20] jsoref opened #4338 "/api/version reports helm version from something other than `argocd-repo-server`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-15 20:13] jsoref commented on #4235
This also applies to `events`. It's really frustrating looking at:
![image](https://user-images.githubusercontent.com/2119212/93259752-51428a80-f76e-11ea-9e5f-3158aee34cd9.png)
and never being sure if the Failed item is the most recent or least recent item. (In this case, comparing the two timestamp fields doesn't help as they are equivalent.)

[2020-09-15 20:39] jessesuen commented on #4333
Please close the issue if things worked out. Thanks!

[2020-09-15 20:40] keithchong opened #4341 "Application detail labels can be truncated, but there are no tooltips to show the entire text"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

In the Applications page, the applications' details are shown in a tile.  The details include **Project**, **Repository**, **Target Revision** , **Destination**, etc.  These 'labels' ca

[2020-09-15 20:44] jessesuen commented on #4337
Both ideas sound nice to have. Feel free to submit a PR

[2020-09-15 20:46] jessesuen commented on #4338
Repo server should expose a version endpoint containing the tooling version and argocd version should make a call to the repo server to report version.

[2020-09-15 20:48] jessesuen commented on #4338
Lets also add query parameters to control what information is returned since to avoid hard dependency on repo-server

[2020-09-15 21:04] ayalam26 opened #4344 "Received cert error when configuring AroCD SSO to use OIDC with self signed certificate"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-09-15 21:07] jessesuen commented on #4295
BeforeHookCreation was never intended to use in conjunction with `generateName:`. If you'd like for the resource to be deleted, you'll need to use a static `name:`. Alternatively, you can annotate the resource to be deleted after it executes.

[2020-09-15 21:10] #3258 closed

[2020-09-15 23:42] jsoref opened #4345 "Logs should favor containers over init containers"
# Summary

Default active log for pods should not be an init container log.

# Motivation

Init Containers are rarely interesting if the application is running, and thus if a user is visiting a pod which has an active app, they probably want to see the log for the running app.

# Proposal

While init containers should be listed first in pod details (i.e. unchanged from today), the default log that

[2020-09-16 00:06] chancez commented on #4331
Relates to https://github.com/argoproj/argo-cd/issues/3502

[2020-09-16 04:38] jonathanendy commented on #4305
vote for this also, I'm trying to add helm repo on GCS with the prefix `gs://`

[2020-09-16 06:34] posquit0 commented on #4295
Thanks you for the reply! :)

[2020-09-16 06:34] #4295 closed

[2020-09-16 07:00] mcanevet commented on #4321
I don't know if it's the same issue, but I have my app of apps' sync that never finishes since upgrade to 1.7.5. It says `waiting for healthy state of argoproj.io/Application/prometheus-operator and 5 more resources` even though all my other apps are `Synced` and `Healthy`. It was working fine with 1.6.2.

[2020-09-16 09:19] gochist opened #4347 "CREATED_AT time in local time"
# Summary

Please display CREATED_AT time in local time

# Motivation

I would like Argo CD to display the time the k8s object was created in local time. Currently, it is displayed in UTC as shown below.

![Screenshot_2020-09-16 Argo CD - Applications cmp-console-dev9](https://user-images.githubusercontent.com/282159/93317880-f0d44b80-f848-11ea-9ba5-ff4be6074d25.png)

[2020-09-16 10:32] jetersen opened #4348 "Support GitHub organization app for git cloning."
# Summary

Instead of using username, password/token or ssh deploy keys.
It would be nice to support GitHub apps.

Much like
https://github.com/jenkinsci/github-branch-source-plugin/blob/master/docs/github-app.adoc

# Motivation

Reduce complexity in have multiple repos argocd can access across an GitHub organization

# Proposal

Could be implemented using https://github.com/bradleyfalzon/ghinstal

[2020-09-16 12:42] reggie-k commented on #4298
@alexmt Thanks a lot for the quick fix, we installed it, it seems that the memory usage is slightly less, but there are still OOM restarts. It looks like the deletion of apps behaves better now. Regarding the overall performance and the sync waves issue, I can't say enough yet, have to test it further and will update

[2020-09-16 13:30] sdputurn commented on #4333
thanks @jannfis. it worked :). closing this issue

[2020-09-16 13:30] #4333 closed

[2020-09-16 15:16] tonnyadhi commented on #3975
Anyone got any hints for this problem ? Apparently i'm also having the similar problem. Argocd reverse proxy to dex server returned 503.
`Failed to query provider "https://argocd.xyz.io/api/dex": 503 Service Unavailable: upstream connect error or disconnect/reset before headers. reset reason: connection termination`

[2020-09-16 15:44] RichiCoder1 commented on #4116
This would be an interesting feature standalone to be able to provide the ability to perform manual, but defined cluster actions via the ArgoCD UI/API

[2020-09-16 16:12] alexmojo commented on #4321
Same issue here.
After executing
```argocd app sync <app-name>```
utility seems to be hanging forever and never finish operation even though application is synced and healthy. If I use CLI version ```1.6.2```,  ```sync``` operation also hanging, but atleast it print  state of resources
[code]
but never complete execution
argocd version ```1.7.4```

[2020-09-16 16:15] jetersen opened #4349 "webhook.go: Limit application refresh according to application spec.source.path"
# Summary

Improve `webhook.go:HandleEvent` to parse paths from the events.
https://github.com/argoproj/argo-cd/blob/ba71ad934c79a5148eb171d6760c0553eecdb5c6/util/webhook/webhook.go#L145-L195

# Motivation

To speed up refreshing of a mono repository with apps of apps setup.

# Proposal

All the possible event sources usually gives us a set of paths that was changed.
Here is a snippet from a githu

[2020-09-16 16:28] alexmojo commented on #4296
We have about 800+ applications in 2 clusters.
My results with SSO login and RBAC:
![argocd1](https://user-images.githubusercontent.com/10939496/93365263-3d705480-f852-11ea-91a7-e7d68dcf0110.jpg)

Using built-in administrator account:
![argocd2](https://user-images.githubusercontent.com/10939496/93365609-af489e00-f852-11ea-9ed9-b92cdfc94a6b.jpg)

[2020-09-16 16:42] alexec commented on #4337
I think this is a good idea. I expect you'll then discover many pages have titles that need changing! @alexmt

[2020-09-16 16:53] alexmt commented on #4321
Hello @mcanevet , @alexmojo . I keep trying to find the possible reason. Is the issue reproducible consistently or happens intermittently?

[2020-09-16 17:12] alexmojo commented on #4321
@alexmt, hi! This issue reproducing constantly. But I've noticed that restarting argo-server pods resolving this issue for some time. We are running argocd in HA mode, with 2 argocd-server pods.
Also, I've noticed that argocd-server pods are constanlty killed with OOM ( I guess it is related to #4298). All this issues are constantly observed after upgrading to 1.7
I will upgrade today to version 1

[2020-09-16 17:28] alexmt commented on #4321
@alexmojo I'm 99% sure this is fixed in 1.7.5. API had a deadlock and OOM is one of symptoms. Trying to find what happened with app of apps

[2020-09-16 17:34] alexmt commented on #4298
Sorry for the troubles this upgrade cause @reggie-k , @erezo9 . The fix delivered in 1.7.5 should solve memory spike during controller initialization. Keep trying to OOM restarts reason and testing sync issues with app-of-apps. Will update as soon as I find something

[2020-09-16 17:51] Aenima4six2 commented on #3994
I believe this is an issue related to GnuTLS which is supplied with git and related to chunked http responses. Switching to git compiled with openssl appears to have fixed the issue for me. You may want to switch the default image to use openssl git.

[code]

[2020-09-16 19:03] yydzhou opened #4351 "Support web shell and enable user to exec into pod from argocd UI"
# Summary

What change you think needs making.

ArgoCD needs to support web shell or EXEC into pod.

# Motivation

The ArgoCD UI already exposes lots of info that helps users for developing and debugging. However, there is still one important feature missed. Currently user can't login into the pod from argoCD UI for live debugging or developing. So we have to deploy separate tools/authentication t

[2020-09-16 19:45] #4117 closed

[2020-09-16 19:46] alexmt commented on #2917
Good suggestion here about how to fix this issue: https://github.com/argoproj/argo-cd/issues/2085#issuecomment-680828829

[2020-09-16 20:37] jessesuen commented on #4344
We don't currently support configuring argo cd to a identity provider with a self-signed cert.

[2020-09-16 20:38] jessesuen commented on #4345
Definitely

[2020-09-16 20:43] jessesuen commented on #4348
Is GitHub apps an authentication protocol specific to GitHub.com (in lieu of username/pass, SSH keys) ? Currently we aren't supporting vendor specific protocol outside of what native git CLI can support. Also, we rely on a golang git client library, so support may need to be added there.

Also, are you aware that you can configure a central credentials to access multiple repos?

[2020-09-16 20:49] jessesuen commented on #4349
Instead of limiting application refresh according to application spec.source.path, we want to improve the throughput of the repo-server to parallelize concurrent repo operations.

[2020-09-16 21:01] jetersen commented on #4349
I haven't look too far into the repo-server implementation.

Wondering if we are reducing the git clone/fetch operation based on all the application with matching `repoURL` and `targetRevision`?

[2020-09-16 21:08] jetersen commented on #4348
one you have a github app installation token with the proper authentication. You can pass that token to the git clone url.

See here: https://github.blog/2012-09-21-easier-builds-and-deployments-using-git-over-https-and-oauth/

[2020-09-16 21:14] jessesuen commented on #2219
I think this can be closed. We have a button to invalidate cluster cache, and cluster cache is now invalidated much more frequently.

[2020-09-16 21:14] #2219 closed

[2020-09-16 21:15] jetersen commented on #4348
I'd like to avoid creating a github user with access to our repos as that would cost on licensing.
Much easier to add support for GitHub apps authentication and there should be no modification to the git client library.

[2020-09-16 21:18] jetersen commented on #4348
I would be happy to work on the feature 👍 In the upcoming month, Hacktoberfest 😉

[2020-09-16 21:20] #1047 closed

[2020-09-16 21:27] jessesuen commented on #1816
I think a special case for Endpoints to lexographically sort the endpoints before diffing would be ok.

[2020-09-16 21:31] jessesuen commented on #2802
This was caused by a breaking interaction between the controller and repo-serve in 1.2 -> 1.3, which going forward will be avoided, or at least be dealt with properly

[2020-09-16 21:31] #2802 closed

[2020-09-16 21:33] jessesuen commented on #2862
Closing. We switched to redis-ha with haproxy. This may have been environment specific issue.

[2020-09-16 21:33] #2862 closed

[2020-09-16 21:37] jessesuen commented on #3048
It's expected if controller workers increase, the repo server load will also increase. We have tunables in the repo-server to implicitly limit memory by limiting the number of concurrent fork/execs that happen inside the repo-server. See documentation:

https://argoproj.github.io/argo-cd/operator-manual/high_availability/#argocd-repo-server
[code]

[2020-09-16 21:37] #3048 closed

[2020-09-16 21:38] jessesuen commented on #3259
We now have exceptions feature for orphaned resource monitoring:

https://argoproj.github.io/argo-cd/user-guide/orphaned-resources/#exceptions

[2020-09-16 21:38] #3259 closed

[2020-09-16 21:44] jessesuen opened #4354 "Namespace/CRD creation should happen before PreSync phase"
# Summary

Namespace and CRD are special resources that need to be created before others, as they block creation of resources in that namespace or resources of that CRD kind. Therefore, these objects should be created before the PreSync phase (perhaps conditionally if we detect that there are PreSync resources in that namespace or of that CRD

# Motivation

Some helm charts will create a CRD and C

[2020-09-16 21:53] jessesuen opened #4355 "Support transition from a git managed namespace to auto-create namespace"
**Describe the bug**

In v1.7, we have the ability to auto-create a namespace as part of an application. However, users who previously managed the namespace in git, do not have an easy way to switch to this feature. Current procedure is:

1. remove label from live namespace object
2. remove namespace from git (app should remain Synced)
3. toggle on the auto-create namespace in app spec

Without do

[2020-09-16 21:56] jessesuen commented on #3502
Two changes to Argo CD are being made:
1. In v1.7, hook deletion now happens at the end of a sync operation
2. In v1.8, Namespaces and CRDs are being created at the beginning of the sync operation, so that PreSync resources can live in the namespace or be of the CRD Kind.

[2020-09-16 21:58] jessesuen commented on #3556
v1.7 significantly reduced etcd churn by utilizing redis as a pub/sub channel for application events. Previously, we caused much more updates in etcd. Can you confirm if v1.7 helped this behavior?

[2020-09-16 22:12] jessesuen commented on #3751
We believe this is happening because your Application is perpetually OutOfSync due to the difference in the cpu limit. This OutOfSync condition will cause a new operation to happen on every commit. To prevent this, the resources must remain Synced which will prevent an operation to automatically get invoked on a new commit.

Please try with v1.7 which has better diffing capability to prevent detec

[2020-09-16 22:24] jessesuen commented on #4349
We are definitely filtering by repoURL, but I don't think we are by targetRevision. That would be a good improvement.

[2020-09-16 22:26] jessesuen commented on #4348
If this is possible, then Argo CD should be able to do this today, by simply configuring it with username: `x-access-token` and password `<token>`.

In fact, internally we already use github access tokens to clone our users and not real github users.

[2020-09-16 22:28] jetersen commented on #4348
I don't want to provide a personal access token. That is bound to not have access to a org after that guy leaves the company.

[2020-09-16 22:30] jessesuen commented on #4288
We realize it's not a perfect mapping, but given that Argo CD applications do not have lifecycle information, it's not possible to have a perfect mapping.

[2020-09-16 22:33] jessesuen commented on #4288
FYI, I do sometimes recommend https://github.com/fluxcd/helm-operator when perfect helm installations are needed. Keep in mind, by doing this, it loses out on Argo CD project resource white/blacklisting, and `kubectl apply` semantics.

[2020-09-16 22:57] kvaps commented on #4288
@jessesuen you don't need any lifecycle information to run `post-upgrade` and `post-install` hooks **before** the synchronization is finished.

[2020-09-16 23:16] Prototik opened #4358 "ComparsionError when using networking.k8s.io/v1 Ingress"
**Describe the bug**

I tried to manage project that defined Ingress from `networking.k8s.io/v1` api group (k8s 1.19).
Initial sync is ok, but I cannot sync any more times because of following error:
[code]

**To Reproduce**
Just create any networking.k8s.io/v1 Ingress within 1.19 cluster

**Expected behavior**
ArgoCD works with v1 Ingress

**Version**
1.7.5

[2020-09-16 23:18] #2318 closed

[2020-09-16 23:59] jessesuen commented on #4348
Actually that wasn't my point. The fact that
[code]
works, implies that basic username/password cloning is possible, which we already support Argo CD. You simply need to configure the repo with username password credentials.

[2020-09-17 01:13] robinMcA opened #4359 "[Feature] Provide a filter to ignore previous replica sets"
# Summary

When ArgoCD UI shows resources like replica sets the view is either all the replica set revisions or none of them. Would like to show only those resources that have a child.

# Motivation

There is information that is not being shown when hiding resources like the replica sets, it is a quick way to see if the state of a deployment has changed.

# Proposal

Add an option to filter out pr

[2020-09-17 02:28] #4341 closed

[2020-09-17 05:01] sfc-gh-thardie commented on #2980
Sorry I didn't comment on this sooner. I believe you did not reproduce the issue correctly. You need to put enough parameters so it will wrap on to another line. You only put a few short parameters.

[2020-09-17 05:16] Ankitchandre opened #4360 "how to exclude sync of override parameters selectively in decalritive setup of app creating other apps."
how to exclude sync of override parameters selectively  in decalritive setup of app creating other apps.

[2020-09-17 05:46] mcanevet commented on #4321
@alexmt maybe my issue is not exactly the same. I observe it also in the web ui, not only using the CLI. And only on the app of apps. And 1.7.5 didn't fixed the issue. I have a pipeline that allows me to recreate my cluster from scratch and I can confirm that it happens every time since I upgraded to 1.7 (now I downgraded to 1.6.2 because of this issue, but I can upgrade and respawn everything if

[2020-09-17 05:59] alexmt commented on #4321
hello @mcanevet ,

Thank you for update. Still trying to reproduce issue. Good to know it is related to app-of-apps. Hope to find root cause tomorrow.

[2020-09-17 06:00] l15k4 commented on #3491
Most of argo-events components also logs to stderr. This should be revisited across the whole argoproj.

[2020-09-17 07:46] Kampe opened #4361 "Way to force argo to sync even when stuck out of sync"
# Summary
Is there a setting I can set on my apps to *force* current state sync?

# Motivation

We ship hardware out and utilize argocd to lay down software manifests, its possible resources get stuck in the lifecycle, if this happens argocd doesn't ever get to current state.

# Proposal
allow a setting to ensure rectifying of state against current git repo.

How do you think this should be implem

[2020-09-17 07:51] jetersen commented on #4348
We will need to provide a private key (RSA pem format) and github app id to do the initial authorization of getting a token to clone with.

[2020-09-17 07:56] jsoref opened #4362 "local users ref in Security Considerations seems to be dangling"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

[user-management local-usersaccounts-v15](https://argoproj.github.io/argo-cd/operator-manual/user-management/#local-usersaccounts-v15) links to [security considerations](https://argopro

[2020-09-17 10:49] bitfactory-henno-schooljan commented on #4321
I also have timeouts on an app that does not contain apps, it 504's a few times and eventually completes waiting. Sometimes it is instant. Both server and CLI on v1.7.5.

[2020-09-17 11:29] SayakMukhopadhyay opened #4363 "Application list UI has clickable region outside of card"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The ArgoCD application list UI has a region outside the card which is clickable.

**To Reproduce**

Open up the UI for the applications list and hover the cursor slightly right and outs

[2020-09-17 11:33] SayakMukhopadhyay commented on #4363
I am creating a PR with the changes which looks ok to me.

[2020-09-17 13:34] alinbalutoiu commented on #4321
I'm still having the same issue as described in the original post after upgrading to ArgoCD 1.7.5.

[code]

Using the CLI 1.6.2 with ArgoCD server 1.7.5 still works fine for the `app wait` command.

[2020-09-17 14:10] tetchel commented on #4312
Currently the Kustomize and Helm versions are stringified JSON objects in slightly different forms (note the kustomize version doesn't quote the values, so it's not actually parseable). The CLI reports these versions exactly as pasted above in `argocd version` too.

I think as part of this PR I would like to parse these versions on the server-side and turn them into a user-friendly form. If it's O

[2020-09-17 15:01] jopit opened #4367 "'prettier' rule throws an error in make lint-ui"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Introduced by PR #4332

Running `make lint-ui` outputs the following, but the check still shows green:
[code]

Looks to be a bug in 'prettier', but I've put in a change to prevent the e

[2020-09-17 15:29] lallinger-arbeit opened #4369 "Deleting application stuck deleting because of missing project"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
Consider an application (A) which deploys a project and an application (B), which uses this project. Both applications have set the finalizer. If you delete application A the project get

[2020-09-17 15:49] tnixa opened #4370 "RBAC errors when deploying Elastic Cloud on Kubernetes Operator"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-17 18:09] keithchong commented on #4227
Hi Alex, where do you want to see the progress indicator?  Currently the sliding panel disappears after the sync button is pressed.

[2020-09-17 18:32] wtam2018 commented on #1816
/assign

[2020-09-17 18:56] gaganhegde commented on #2917
self assign @gaganhegde !

[2020-09-17 19:17] jannfis commented on #4316
Actually, I do like the idea of Argo CD maintaining a GPG keyring for Git decryption purposes. However, I'm not sure if I fully agree with the above proposal. The current design makes some assumptions about the purpose of the keyring which it manages, the most important one being that the keys are non-critical when being leaked - i.e. they are public keys, and the necessary private key is transien

[2020-09-17 19:32] #3760 closed

[2020-09-17 19:32] #4367 closed

[2020-09-17 19:39] kvaps commented on #4316
@jannfis alternatively git-crypt allows to export symmetric key for the each repository.

Such keys might be stored separated per repository in ArgoCD, similarly Gitlab CI Sercret Variables, and will be used to decrypt only their specific repository.

to export key:
[code]
secretfile will contain binary data

to unlock repository using symmetric key
[code]

not sure if SOPS supports the similar ap

[2020-09-17 19:50] gaganhegde commented on #4231
Will take a look into this @jessesuen

[2020-09-17 20:30] munjalpatel commented on #4264
Hello,

I am running into this issue. Which build is this fix part of?
I just deployed the latest argo (1.7.5): https://hub.docker.com/layers/argoproj/argocd/v1.7.5/images/sha256-355e86fd22acd52a22e020ef761d47e8b87cd09d6940861bd6ca956837682be3?context=explore
I still have the same issue:
[code]

[2020-09-17 20:42] jessesuen commented on #4360
I'm not sure I understand your question. Could you rephrase and provide an example of what you are trying to do?

[2020-09-17 20:46] jessesuen commented on #4361
You can already make a resource report that it is Synced with the ignoreDifferences feature. This can be configured at system or application level.

[2020-09-17 20:52] jessesuen commented on #4369
This check is already in place, but it exists in the API server and would not be enforced if deleted out-of-band. Did you happen to delete outside of the argocd API server?

If you manage projects declaratively, you'll want to set the project finalizer to ensure this scenario won't happen.

[2020-09-17 20:53] jessesuen commented on #4370
I think this a permission problem for your controller specific to your environment. Did you install the cluster-scoped Argo CD set of manifests? Or the namespaced scope?

[2020-09-17 20:58] jessesuen commented on #4321
Fixed in https://github.com/argoproj/argo-cd/pull/4350 (will be available in v1.7.6)

[2020-09-17 20:58] #4321 closed

[2020-09-17 21:13] jessesuen commented on #4296
NOTE: The admin is special because it has no groups and therefore enforcement is simpler.

I think we need an optimization to use a temporary map to lookup oidc groups rather than current implementation to iterate the groups list

[2020-09-17 21:47] tnixa commented on #4370
I followed the install instructions in this link for the Console Install into the default `argocd` namespace:
https://argocd-operator.readthedocs.io/en/latest/install/openshift/
Then this link to create the ArgoCD cluster:
https://argocd-operator.readthedocs.io/en/latest/usage/basics/
I then tried to deploy ECK via ArgoCD app into the `elastic-system` namespace but I ran into the RBAC issues. I tr

[2020-09-17 23:21] jurgenweber commented on #2347
@helenabutowatcisco yes, I got it all working. I hope you did also.

[2020-09-17 23:23] aoighost commented on #4054
I'm having the same issue

[2020-09-18 00:48] pbecotte commented on #4231
We were on 1.4.2 before the upgrade

[2020-09-18 04:54] Ankitchandre commented on #4360
so when we use Declarative setup for App of Apps as mentioned here (example of guestbook) https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/ and here https://argoproj.github.io/argo-cd/operator-manual/cluster-bootstrapping/

I have a folder with multiple guestbook kind of applications say app1 and app2  .I also create AppProject and namespace using values file in the same folder

[2020-09-18 08:26] munjalpatel opened #4374 "Can not add external AKS cluster"
**Describe the bug**

Trying to add an external AKS cluster fails with the following error:
[code]

**To Reproduce**

1. Deploy ArgoCD to a cluster
2. Install ArgoCD CLI
3. Connect to ArgoCD using CLI
4. Run the following command to add an external AKS cluster
[code]

Notice the error:
[code]

**Expected behavior**

The AKS cluster specified above should be registered with ArgoCD

**Version**

[co

[2020-09-18 10:43] lallinger-arbeit commented on #4369
I provided an example structure [here](https://github.com/lallinger-arbeit/argocd-example).

The problem occurs when i now want to delete app1. I do this by deleting the folder `applications/app1` and remove `- app1/root-application.yaml` from `applications/kustomization.yaml`.

This triggers the delete correctly and ArgoCD tries to delete `applications/app1/root-application.yaml`, this triggers t

[2020-09-18 17:38] #4363 closed

[2020-09-18 17:49] alexmt commented on #4358
Probably fixed by https://github.com/argoproj/gitops-engine/pull/139

[2020-09-18 18:57] adrienjt commented on #1483
How about connecting pods to nodes in an App's tree view:

![](https://argoproj.github.io/argo-cd/assets/guestbook-tree.png)

In the picture above, to the right of pods, there would be node boxes that pods would connect to.

[2020-09-18 20:37] jessesuen commented on #4369
@lallinger-arbeit I think your issues will be solved by adding the finalizer in the project which i mentioned in your project spec here:

https://github.com/lallinger-arbeit/argocd-example/blob/master/applications/app1/manifests/project.yaml#L5

add:
[code]

[2020-09-18 20:40] jessesuen commented on #4370
I see. Our default installation gives the controller */*/* privileges to the cluster which it is installed in:
https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml#L2001-L2019

I think argocd-operator is doing it a bit differently, possibly the namespaced scope privilege, which may mean you need to `argocd cluster add CONTEXTNAME --in-cluster` the cluster to itself, in order to g

[2020-09-18 20:42] jessesuen commented on #4374
This was resolved https://github.com/argoproj/argo-cd/pull/4265 and will be backported to v1.7.6

[2020-09-18 20:42] #4374 closed

[2020-09-18 20:44] aweis89 commented on #4157
I'm still seeing this when running `argocd app diff` with the CLI

[2020-09-18 20:45] jessesuen commented on #4360
This not possible. The syncing process is nothing but a `kubectl apply` and so the change which you made out-of-band from the kubectl apply will get overridden if it is defined in git. This is the intended behavior of `kubectl apply` and therefore Argo CD.

[2020-09-18 21:08] #3831 closed

[2020-09-18 22:39] #4054 closed

[2020-09-18 23:00] munjalpatel commented on #4374
@jessesuen I am willing to upgrade to the version where this is fixed instead of waiting for the backport. Which version is this fix part of?

I thought I installed the latest v1.7.5 which was released 2 days ago.

[2020-09-19 00:44] alexmt commented on #4374
hello @munjalpatel , the change is cherry-pick into v1.7.6 already. Just started building release: https://github.com/argoproj/argo-cd/runs/1136507278 It will be ready in a few minutes.

[2020-09-19 09:52] Prototik commented on #4358
I don't think so, I suppose error throws from (here)[https://github.com/argoproj/argo-cd/blob/14fa7f954c1d2e9b4b6e5572e8fab7861958c7bf/controller/cache/info.go#L106]

In v1 Ingress there is no field `serviceName`, but object `service` with nested field `name`

[2020-09-19 12:24] irizzant opened #4378 "CRD for Beat costantly OutOfSync"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to deploy the ECK operator (https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-overview.html) and I can't get the CRD [Beat](https://www.elastic.co/guide/en/cloud-on-k8s

[2020-09-20 01:50] savealive commented on #4291
@igaskin yeah, it would be good to see server name if it's defined instead of long meaningless URL (especially in case of managed clusters like EKS)

[2020-09-20 13:43] loxley opened #4381 "Running make test-tools-image fails with: no space left on device"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Running `make test-tools-image` fails with `write /var/log/lastlog: no space left on device`. This prevents me from building the image needed for developing on ArgoCD.

**To Reproduce**

[2020-09-20 20:43] abdennour commented on #2953
For my case, i have AWS ELB where the SSL is offloaded, then ingress receives on port 80, then forward to argocd-server service on insecure port (80).

I fixed the issue of too-many-redirects by implementing the above solution:

[code]

[2020-09-20 21:03] wtam2018 commented on #4381
It looks like a docker issue when doing useradd with a large UID.  https://github.com/moby/moby/issues/5419.

[2020-09-21 06:22] Ankitchandre commented on #4360
The parameter is defined in git, i just want to change its value in override params in argo ui and want that not to get synced. Irony is that in some apps it works and in some it doesn't although all apps are defined in  same way as i mentioned above. As you said , if this is not possible then it should not be possible for any of the case.

[2020-09-21 08:01] mcanevet opened #4384 "Hook Deletion Policies HookSucceeded should be run after whole Hook succeed and not only Resource succeed"
I have an issue deploying gitlab's chart using ArgoCD (v1.7.6). One of the subchart, shared-secrets, uses helm hooks to temporarily create a Job, ServiceAccount, Role and RoleBinding (https://gitlab.com/gitlab-org/charts/gitlab/-/tree/v4.1.12/charts/shared-secrets/templates).

The Pod created by the Job fails to be created because of `Error creating: pods "gitlab-shared-secrets.1-l3b-" is forbidde

[2020-09-21 09:30] mcanevet commented on #4384
It should have been fixed by that : https://github.com/argoproj/gitops-engine/pull/92 but somehow it is not.

[2020-09-21 09:36] #4024 closed

[2020-09-21 10:14] lallinger-arbeit commented on #4369
@jessesuen That fixes the problem! Thank you very much!

[2020-09-21 10:14] #4369 closed

[2020-09-21 14:41] ArgTang opened #4385 "Remove kubectl in image and report client version in `api/version`"
currently installed kubectl version for `argoproj/argocd:v1.7.6`:
`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.8", GitCommit:"35dc4cdc26cfcb6614059c4c6e836e5f0dc61dee", GitTreeState:"clean", BuildDate:"2020-06-26T03:43:27Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}`

Is there any reason to not update to latest? We are testing argo-cd on a 1.18 cluster,

[2020-09-21 15:28] tetchel commented on #4347
https://github.com/argoproj/argo-cd/pull/4386

[2020-09-21 16:30] ayalam26 commented on #4344
Thank you for the information. Are there any plans to support a identity provider that uses a self-signed cert in the future, if so any idea of the time frame.

[2020-09-21 16:43] MeNsaaH opened #4387 "Unable to get application when namespace is not argocd"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-09-21 17:08] jsoref opened #4388 "duration/elapsed time should use `00:00:00` format instead of adding a `min` suffix"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-21 18:39] erezo9 commented on #4298
@jessesuen  upgrading to 1.7.6, same issue as well - wanted to update

[2020-09-21 19:28] keithchong commented on #4227
Hi @alexmt, @jessesuen , the sync spinner on the application-sync-panel page appears to be different than the sync spinner that is on the application-status-panel.  The sync panel spinner looks like it represents the sync submission Post request (starts spinning on setPending(true)).  It stops spinning when the request returns. (setPending(false)).   However, the latter spinner could be spinning l

[2020-09-21 20:29] jessesuen commented on #4378
It should be possible to ignoreDifferences. Can you paste the configuration that you tried and is not working?

[2020-09-21 20:32] jessesuen commented on #4381
Fixed in https://github.com/argoproj/argo-cd/pull/4379

[2020-09-21 20:32] #4381 closed

[2020-09-21 20:33] alexmt commented on #4227
Hello @keithchong ,

Probably the description is confusing. The progress indicator should be shown while PATCH/PUT API request is in progress.

The `Synchronize` button click on sync panel triggers  `/api/v1/applications/apps/sync` that starts sync operation. The sync panel is closed after `/api/v1/applications/apps/sync` is completed. If Argo CD has a lot of applications then the  request might t

[2020-09-21 20:39] jgwest commented on #4238
@alexmt I'll handle this one

[2020-09-21 20:44] jessesuen commented on #4385
We actually no longer use the `kubectl` binary because we switched to using the kubectl golang library code. So updating the binary accomplishes nothing then changing what gets reported in `/api/version`. I think we should remove the binary from the image and report the kubectl client golang version in `/api/version`.

[2020-09-21 20:45] jessesuen commented on #4385
We're actually already using v1.18 kubectl logic / library version.

[2020-09-21 20:45] jessesuen commented on #4387
This is actually the intentional behavior. ArgoCD only manages the Applications in the same namespace of the installation. This is described in our docs.

[2020-09-21 20:45] #4387 closed

[2020-09-21 20:56] #3476 closed

[2020-09-21 21:20] tetchel opened #4389 "Visible overflow from long 'sync error' blocks other elements"
It should probably be scrollable instead.

**Screenshots**
![image(1)](https://user-images.githubusercontent.com/8888438/93822696-9a8f5000-fc2e-11ea-87e9-5dc70f4e0c29.png)

**Version**
Latest

[2020-09-21 22:41] MeNsaaH commented on #4387
Any plans to support other namespace in future? @jessesuen

[2020-09-22 00:11] alexmt commented on #4272
Added one suggestion to PR https://github.com/argoproj/argo-cd/pull/4273#issuecomment-696440801 . it was also discussed it with @jessesuen offline.  @carsonoid , let me know what you think please.

[2020-09-22 00:30] gochist commented on #4347
Fixed in #4383

[2020-09-22 00:30] #4347 closed

[2020-09-22 03:07] vinaynaidu07 commented on #3187
@NormJohnIV What if the pod is recreated and the previous pod name is not available?How to reset it ?

[2020-09-22 04:21] arthurk commented on #1364
@kvaps I'm interested in reading your article but medium wants me to create an account to do so. Is it available on another platform to read?
<img width="320" alt="Screen Shot 2020-09-22 at 12 19 48 PM" src="https://user-images.githubusercontent.com/23406/93843893-0e346a00-fcce-11ea-9591-90ea43175eb4.png">

[2020-09-22 07:08] irizzant commented on #4378
It is in the repo link I shared:
https://gitlab.com/i.rizzante/eck/-/blob/master/apps/elasticsearch-operator.yaml

[2020-09-22 07:57] ArgTang commented on #4385
Ah Thanks for the info :+1:, is it the same state for helm (using the sdk)?

[2020-09-22 08:42] kvaps commented on #1364
@arthurk what's a pity, sure, I copied its content direct on GitHub project
https://github.com/kvaps/argocd-git-crypt#configure-custom-tooling-in-argo-cd

[2020-09-22 10:02] exu commented on #4013
We've also noticed a lot of those messages in logs:

[code]

but there were no restarts not OOM kills. ArgoCD with ~60 services.

[2020-09-22 10:39] reggie-k commented on #4298
We have installed 1.7.6 and still the umbrella app is stuck upon sync even
after manual terminate

On Wed, Sep 16, 2020, 20:34 Alexander Matyushentsev <
notifications@github.com> wrote:

[2020-09-22 11:00] reggie-k commented on #4298
Mentioned to sync the umbrella app, the controller entered crash loop back
state for an unknown reason, after deletion of the pod and successful
startup the app managed to sync.

On Mon, Sep 21, 2020, 21:39 Erez Tamam <notifications@github.com> wrote:

[2020-09-22 14:30] lucinvitae opened #4391 "Inaccurate sync error message when template value is passed as boolean instead of string"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When a boolean value is used in the environment variables section of a deployment template in a Helm chart (which `helm template` validates successfully as can be seen below), our ArgoC

[2020-09-22 17:42] alexmt commented on #4298
Hello @reggie-k , probably there are two separate issues.

Can please share more Does your umbrella app manages itself? There is a known chicken and egg problem. During syncing Argo CD waits when the umbrella became healthy what cannot happen until all resources are synced. https://github.com/argoproj/argo-cd/issues/3781

If this is the case you should see `waiting for ...` message in sync status

[2020-09-22 17:57] alexmt opened #4392 "E2E test that verifies popular Helm charts deployment"
# Summary

Popular off the shelf Helm charts contain a lot of edge cases related to resource diffing. The automated test that deploys such charts and ensures that Argo CD don't report any unexpected differences should help to catch bugs early and improve Argo CD quality.

# Proposal

* Implement E2E using framework in https://github.com/argoproj/argo-cd/tree/master/test/e2e
* Test potentially can

[2020-09-22 18:06] keithchong commented on #4227
Hi @alexmt , yes, it makes sense.   I'm also going to add the spinner to the Add Repo connection sliding panel.

<img width="747" alt="ConnectToRepoUsingSSH" src="https://user-images.githubusercontent.com/7726022/93920150-c537e200-fcdc-11ea-93a7-076babfb7a85.png">

[2020-09-22 18:12] alexmt opened #4393 "Automated smoke test that mimics user behavior UI and CLI"
# Summary

We need an automated test that simulates user behavior and can be run to catch transient errors related to racing conditions in code.

# Proposal

* Implement an automation script that periodically re-creates and synchronizes a specified number of Argo CD applications.
* It should be possible to configure application project, source and destination
* The script should support CLI and UI

[2020-09-22 18:21] mayzhang2000 commented on #4384
helm.sh/hook-delete-policy on hook-succeeded is executed per sync wave.

[2020-09-22 18:34] keithchong commented on #4227
Yeah, I was looking at the code for the sync operation. If that sync panel did not disappear (I made it so it did not hide), then the spinner on the synchronize button could potentially cause confusion because it could imply it's for the whole sync operation, and it would stop, whereas the sync spinner on the application page was still spinning.  I realized they are for two different things.

[2020-09-22 18:44] jsoref opened #4394 "Parameters page should have more space for the left column"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-22 18:55] lcostea commented on #4349
Never bothered to look at the code to see there is match by targetRevision, I took it for granted. I will take a look now as we heavily use different branches for different stages, like dev, test, preprod, prod. We have performance issues, everyday someone is complaining about his sync taking too long and this might be a lead.

[2020-09-22 19:27] abdennour commented on #2143
awesome community !
I want to give you more... and i want to know if really ArgoCD can replace helmfile  or they can work together ?

This is what i achieved/

I let developers use the same helmfile to run their apps locally.

I let .env file is the single source of truth for both:

- **docker-compose** : which natively read from `.env` file
- **helm** : which get the `.env` with `--set-file` , an

[2020-09-22 19:43] abdennour commented on #2826
So Offline environment and disconnected cluster ! Right ?
Then,
- Play with **CorDNS configmap** and let it resolve `kubernetes-charts.storage.googleapis.com` to existing ip (.i.e: Node IP).
- Run App (nginx) with ingress host is `kubernetes-charts.storage.googleapis.com`. Make sure that, the app can serve `/index.yaml`

[code]

In this example I resolved `kubernetes-charts.storage.googleapis.com.

[2020-09-22 20:05] alexmt commented on #4262
Fixed by https://github.com/argoproj/argo-cd/pull/4266 . Thank you @jsoref !

[2020-09-22 20:05] #4262 closed

[2020-09-22 20:26] keithchong commented on #4227
Demo of enable/disable auto sync

[enableDisableAutoSync.zip](https://github.com/argoproj/argo-cd/files/5263846/enableDisableAutoSync.zip)

[2020-09-22 20:32] jsoref commented on #4262
I'll need to file another bug about the `listview is missing letters/words` -- I couldn't figure out an easy way to do that. I suspect it'd involve refactoring a component.

[2020-09-22 20:35] jessesuen commented on #4389
@alexmt and I think we should just truncate it instead of scrollable since you can click into the error

[2020-09-22 20:37] jessesuen commented on #4391
[code]

According to the YAML linter I tried, `False` (even if capitalized), is considered a bool value and not a string. So this would be expected behavior.

[2020-09-22 20:39] jessesuen commented on #4391
Is this about a better error message? Or special handling of the situation?

[2020-09-22 20:40] jsoref opened #4396 "Listview icons are missing letters/words"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

List view icons have no letters/words, unlike tree view

Split from #4262

Note: I'm aware that two columns over, `Group/Kind`, has the information and that one can hover to get it, but

[2020-09-22 20:42] jessesuen commented on #4385
No, helm we're still forking the binary

[2020-09-22 20:42] keithchong commented on #4227
Demo of save

[saveAppChanges.zip](https://github.com/argoproj/argo-cd/files/5263904/saveAppChanges.zip)

[2020-09-22 20:45] jessesuen commented on #4384
I think it will be better to move it at end of sync to accommodate helm chart compatibility.

[2020-09-22 20:58] jopit commented on #4329
Hi @alexmt, based on your comment in my PR (https://github.com/argoproj/argo-cd/pull/4352#pullrequestreview-490200148) I've been experimenting with a change to the `GetManagedLiveObjs` method in the gitops-engine project

https://github.com/jopit/gitops-engine/blob/af9eedc5e8485a3098405f9758ff27f69595cb65/pkg/cache/cluster.go#L679

When an application is created in a non-managed namespace (if that

[2020-09-22 21:22] jessesuen opened #4397 "Application delete option to use background propagationPolicy: Background"
# Summary

Argo CD current deletes objects with Foreground deletion:

https://github.com/argoproj/gitops-engine/blob/90979fe432d46043ad753d9503f645f64e31abff/pkg/utils/kube/ctl.go#L205-L213

The only way to use background deletion in Argo CD is to perform a force delete (which is not the same since it also sets GracePeriodSeconds). There may be times when background deletion is preferred over fore

[2020-09-22 21:32] jessesuen opened #4398 "Argo Rollouts resource action to abort a rollout"
# Summary

We have a Pause and Resume button for a rollout in Argo CD. We should also have an abort.

# Motivation

During the middle of a rollout, I would like to manually abort.

# Proposal

Lua script should replicate what the `kubectl-argo-rollouts` plugin is doing

[2020-09-22 21:41] keithchong commented on #4227
Demo of connecting repo using HTTPS

[connectRepoUsingHttps.zip](https://github.com/argoproj/argo-cd/files/5264150/connectRepoUsingHttps.zip)

[2020-09-22 21:56] lucinvitae commented on #4391
@jessesuen better error message, since Helm is rendering the correct value and the fix is straightforward once the issue is understood. I tried documenting this in the "Expected behavior" section above.

[2020-09-22 22:51] dudadornelles commented on #1881
Is this solved in a newer version of argocd? If yes which version? Thanks!

[2020-09-22 22:54] alexmt commented on #4329
That looks correct @jopit. Can you please create PR to gitops-engine ?

[2020-09-22 22:57] alexmt commented on #4227
All three changes look great! Thank you @keithchong . Looking forward to the PR

[2020-09-22 22:59] #4355 closed

[2020-09-22 22:59] alexmt commented on #1881
This is available in 1.7 . Recommended to upgrade to use the most recent patch release: https://github.com/argoproj/argo-cd/releases/tag/v1.7.6

[2020-09-22 23:47] dudadornelles commented on #1881
Just upgraded to that version today, will give it a try later, thanks for the update!

[2020-09-23 03:24] donaldgifford opened #4402 "Bearer token missing on cluster add"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-23 03:47] jsoref opened #4403 "Tiles view should offer link to clear filters"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-23 07:41] ArgTang commented on #4385
ok, thanks for the info 😸 . i wont close this myself since you added a label.

[2020-09-23 07:48] ArgTang commented on #4385
the job would be to remove from here:
* https://github.com/argoproj/argo-cd/blob/master/hack/installers/install-kubectl-linux.sh
* https://github.com/argoproj/argo-cd/blob/master/hack/tool-versions.sh
* https://github.com/argoproj/argo-cd/blob/master/Dockerfile

should kubectx be removed as well? i see it referenced in the hacks scripts but not not in the dockerfile

[2020-09-23 09:23] bitfactory-henno-schooljan commented on #4175
I have the same with the Prometheus operator. After manually syncing it seems good until something changes in the manifest and an autosync happens.

[2020-09-23 10:17] xakraz opened #4404 "/api/v1/applications - wrong behavior for querying the application's name."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Using `/api/v1/applications` endpoint to get 1 application does not behave as stated in the doc

**To Reproduce**

1. Have at least 2 apps running on ArgoCD
2. Query as documented `/api

[2020-09-23 10:17] martinpovolny opened #4405 "Editing Clusers in the UI drops credentials from the secret"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have created a cluster definition at the command line. The definition includes an SA token. Like this:

[code]

Then editing the "Namespaces" field of the cluster in the UI causes the

[2020-09-23 11:54] SayakMukhopadhyay opened #4406 "[docs] Helm user guide incorrectly claims that values files needs to be in the same or subdirectory of chart"
The note attached to the [helm user guide](https://argoproj.github.io/argo-cd/user-guide/helm/#values-files) claims the following

I have tried keeping the `values.yaml` file outside the chart directory and I can still access it using relative path. Here' an example `Application` that works

[code]

As you can see that the `values.yaml` file is in a seperate root directory of the repo and using a

[2020-09-23 12:07] ryandawsonuk opened #4407 "switch monkeypatching implementation for license reasons"
Monkeypatching is being used for one of the tests - https://github.com/argoproj/argo-cd/search?q=bou.ke%2Fmonkey

The implementation is coming from archived git repo and the license says not to use it - https://github.com/bouk/monkey/blob/master/LICENSE.md

This has turned up in a license scan for our project that is using an argocd dependency as it's part of the argocd mod file,[ even though it's

[2020-09-23 12:28] c4m4 commented on #3032
@ruzickap what was the problem? I have the same issue

[2020-09-23 13:32] abdennour opened #4408 "Cannot login with Bitbucket Cloud"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Cannot login with Bitbucket cloud and always getting this message: "Failed to authenticate: invalid_scope: These requested scopes are beyond the OAuth client's own scopes: team"

**To R

[2020-09-23 13:36] robseidel commented on #677
In our company we want to use different levels in our ops repositories, like global/cluster/application. We are already using a custom management plugin to get all these things together, but we are running into the problem, that argo syncs only a single source. So if the application config gets changed, argo recognize the change and start the deployment, but if the cluster configuration gets chang

[2020-09-23 13:51] abdennour commented on #4408
Fixed with 2 changes ;

1- In helm release, scope is changed from "email" to :

[code]

2 - In bitbucket Oauth setting, i've checked "This is a private consumer"

![image](https://user-images.githubusercontent.com/1788384/94021516-c2acb980-fdbc-11ea-8d6b-76ebabb85951.png)

Which one fix the issue ? not sure.. but having them both, and it works now.

[2020-09-23 13:51] #4408 closed

[2020-09-23 14:18] jopit commented on #4329
PR is https://github.com/argoproj/gitops-engine/pull/143

[2020-09-23 14:27] darshanime commented on #4404
Hmm, can you elaborate on what the issue is?
Based on your screenshots, on `/api/v1/applications?name=APP_NAME` you are getting all the applications and on `/api/v1/applications/APP_NAME` you are getting only one as expected.

[2020-09-23 15:51] amitcmore opened #4410 "Private container registry with argocd"
How to use private container registry with argocd. I have a container registry where I push all my images and want to deploy those from argocd how do I do this.

[2020-09-23 16:38] arielhernandezmusa commented on #4002
@darshanime with argocd.argoproj.io/refresh=hard using helm repo not works

[2020-09-23 17:20] xakraz commented on #4404
Hi @darshanime ,

Yes this is exactly what I am saying :smile:

This is supposed to return me only 1 application, the one called `APP_NAME` but it returns all the applications
-> Not working as expected

The only way I found to get the data I am expecting is

-> Not documented

[2020-09-23 17:20] De1taE1even commented on #4002
@darshanime Yes that is one way to do it, but that defeats the purpose of CI and automated tools if you have to manually inject a k8s label.  Sure I could automate the injection, but that's a _really_ hacky solution.  This is a pretty fundamental interaction that Argo should support.  Whether it be by hard refresh, or some other option, right now ArgoCD simply doesn't support helm chart updates in

[2020-09-23 17:27] arielhernandezmusa commented on #4002
What about sync a chart that only changes the app version!

[2020-09-23 17:30] arielhernandezmusa commented on #4410
I thing argocd deploy your k8s yamls not the images directly

[2020-09-23 17:31] arielhernandezmusa commented on #4410
To deploy your images create a fit repo with your k8s yamls containing the specifications with how to deploy your images to Kubernetes and then setup your app on argocd

[2020-09-23 17:40] De1taE1even commented on #4002
@arielhernandezmusa If I'm understanding you correctly, that wouldn't help me out.  Nothing you can change on the helm chart would help, because Argo never re-pulls the chart itself, which is the problem at its core.  _Something_ has to tell Argo to, instead of using internal cache, go out and re-pull the helm chart from its source.  Right now the only way to do that is a manual 'hard refresh'.

[2020-09-23 17:41] arielhernandezmusa commented on #4002
Okay, maybe what I say can be an improvement

[2020-09-23 17:45] johnkost commented on #2424
I ran into an issue with the the above where specifying `policy.default: role:readonly` took precedence over what I had defined in `policy.csv` (note - I didn't apply scopes).

[2020-09-23 18:18] ruzickap commented on #3032
It was my mistake in yaml "indentation".

The issue was on my side in yaml.

[2020-09-23 18:20] jessesuen opened #4412 "Argo CD should present the live object in the resource version in git"
**Describe the bug**

We were trying debug a HPA object, but clicking on the live object in Argo CD shows the v1 version of the HPA, despite the v2beta2 version is the one being managed in git.

When clicking on the live object, we should show the version of the object that is managed in git. I believe we must be showing the preferred object.

**To Reproduce**

Manage a v2beta2 HPA and click on li

[2020-09-23 18:23] keithchong commented on #4227
Hi @alexmt , could you assign this to me? I created the PR.  Let me know if there could be other places you want a progress indicator. (I also looked at implementing a progress bar)

[2020-09-23 18:26] alwaysastudent commented on #1881
@alexmt - can we directly jump from v1.5.7 to v1.7.6 ?

[2020-09-23 18:29] jessesuen opened #4413 "HPA health check"
# Summary

HPA does not have status, but it uses annotations to indicate current problems with the HPA. We could write a health check to look at HPA annotations and mark an HPA as unhealthy based on the annotation.

# Motivation

Currently, problems with HPA are silent because they only emit Events when there are problems, which requires a user to click into the object.

# Proposal

Write a health

[2020-09-23 19:35] c4m4 commented on #3032
@ruzickap could you show me an example?

[2020-09-23 19:35] Dymanik opened #4414 "Self-Healing Independent of Auto-sync"
# Summary

`Self-Healing` is currently tied to `automatic sync` being enabled. We would like to be able to enable `Self-Healing` on the last commit synced, while still allowing to manual sync.

# Motivation

We would like to be able to override manual configuration/intervention made on the cluster, self-healing on the last commit synced. While still maintaining `automatic sync` disabled so we can

[2020-09-23 20:09] ruzickap commented on #3032
I'm sorry I do not have it anymore... :-(

[2020-09-23 20:16] abdennour commented on #3811
Confirmed!
You have to use `--grpc-web` even if you didn't configure ingress with gRPC forward.

[code]

[2020-09-23 20:40] alexmt commented on #4402
Can you share command that was used to add cluster? Did you use `--aws-cluster-name` flag?

[2020-09-23 20:45] alexmt commented on #4405
The problem is that GET API don't return cluster credentials and we don't have a way to patch some cluster fields. We need to add `PATCH /api/v1/cluster` API that can be used by UI to modify only cluster name, namespaces etc.

[2020-09-23 20:46] alexmt commented on #4406
Thank you @SayakMukhopadhyay / PR is welcome.

[2020-09-23 20:46] jessesuen commented on #4406
I believe we enforce that it should be in the same *repo* (for security reasons), you're right that it doesn't need to be under same path.

[2020-09-23 22:35] theobarberbany opened #4415 "Extend the sync api to allow target revision to be limited via RBAC?"
# Summary

Can ArgoCD (via RBAC?) be configured so an `argocd app sync` can only be issued to a certain target revision for a specific project? Or can a project be set up so only certain users can sync away from a target revision e.g `master`?

# Motivation

We want to be able to do this to allow code owners based review process to be put in place so only authorised code is deployable.

We want pe

[2020-09-23 23:10] mayzhang2000 opened #4416 "Global (inherited) project settings"
# Summary
Need support of global namespace allow list. Each project still has its own allow list. The final allow list is the concatenation of these two.

What change you think needs making.

# Motivation
Global namespace allow list eliminates the duplication of allow list for each project if they are the same.

Please give examples of your use case, e.g. when would you use this.

# Proposal
Confi

[2020-09-23 23:59] abdennour commented on #2424
@johnkost  then what's the fix ?

[2020-09-24 01:01] johnkost commented on #2424
I removed `policy.default`. I wasn't able to find any other workarounds

[2020-09-24 06:23] reggie-k commented on #4298
@alexmt
Ok, we have a direction here. For some reason, the controller is creating huge amount of files. We observed the following errors in the UI:
Failed to write manifest: write /dev/shm/862955259: no space left on device
Failed to write kubeconfig: write /dev/shm/550197066: no space left on device

On the node the controller runs on we see that:
The partition /var/lib/docker/containers/212e7d62

[2020-09-24 07:33] kazysgurskas commented on #3082
Based on https://argoproj.github.io/argo-cd/user-guide/parameters/ if I override image tag helm parameter only and raising chart version is an overkill, how do I go about rollbacking? I think this is a valid use case for those who do not want to go fully GitOps and pollute commit history with version bumps.

[2020-09-24 08:36] #4406 closed

[2020-09-24 10:06] Abhishek-Srivastava commented on #4106
@jessesuen I you added the tag "help wanted". Do you need any extra information on this bug from me?

[2020-09-24 11:02] jannfis commented on #4106
I think the problem is the difference between what's used to test access on the `argocd-server` (which is git-go and therefore also pure-Go SSH client) and actual repository cloning operations on the `argocd-repo-server` side (which is, forking git and using openssh).

I have done some research, and I think pure-go implementation of SSH does have proxy support, but will not support any intermediat

[2020-09-24 12:56] D-wenhao opened #4418 "Can app helm get gitlab ci variables???"
- How can app helm get gitlab ci variabels
![image](https://user-images.githubusercontent.com/56722758/94147671-311a7600-fea8-11ea-8af5-59ee099d160c.png)
[code]

[2020-09-24 14:35] aliusmiles commented on #4275
seems to work for me with this https://argoproj.github.io/argo-cd/operator-manual/health/#way-1-define-a-custom-health-check-in-argocd-cm-configmap but need to do some deployments to confirm -- not sure if custom healthcheck helped or me terminating sync

[2020-09-24 15:40] abdennour opened #4419 "Dex For Argocd does not support authentication with Atlassian Crowd Connector"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-24 15:41] r0kas commented on #3027
Was doing exactly this, but somehow argo does not report any cluster status. Is this expected?
![image](https://user-images.githubusercontent.com/15290539/94167752-8d27cf00-fe95-11ea-814d-a2a280cb8ba9.png)

[2020-09-24 15:44] jannfis commented on #4419
Hey, you need to also set `url` in configuration, refer to https://argoproj.github.io/argo-cd/operator-manual/user-management/#2-configure-argo-cd-for-sso
I believe there is an appropriate parameter for the Helm chart as well.

[2020-09-24 15:44] abdennour commented on #4419
@jannfis  I did .. But which URL ? crowd or argocd

[2020-09-24 15:45] jannfis commented on #4419
Oh, sorry, forget what I said - it clearly is about the connector. Sorry.

[2020-09-24 15:50] jannfis commented on #4419
So, turns out we are using Dex v2.22.0 and Atlassian Crowd connector was introduced in v2.23.0. So you can either try your luck with a manual upgrade of Dex image to v2.23.0 (might not work, for whatever reasons tho) or wait for us to provide an update.

[2020-09-24 16:10] jannfis opened #4420 "Streamline access checks for Git and Helm repositories and move them from API server to Repo Server"
# Summary

The check for Git and Helm repositories to determine whether a repository is reachable and accessible (using provided credentials) is performed by the API server. This check should be moved to the repository server.

# Motivation

Currently, when adding a Git or Helm repository to Argo CD via UI or CLI, the API server performs an access check to the remote repository before adding the r

[2020-09-24 18:41] Thakurvaibhav commented on #820
This does not seem to work in case of a grafana dashboards configmap. Please suggest a workaround / fix

[2020-09-24 20:12] jessesuen commented on #1283
Revisiting this again and expanding the scope of the proposal to allow the ability to sync multiple applications in a ordered manner. @jannfis will work on the spec/proposal and update with a working document.

[2020-09-24 20:29] #4257 closed

[2020-09-24 20:41] jessesuen commented on #4418
We don't have any specific integrations with git providers since the protocol Argo CD deals with is simply the git protocol. So it's not possible to retrieve provider specific information.

[2020-09-24 20:43] jessesuen commented on #4419
Let us know if it works, and we can upgrade dex.

[2020-09-24 20:43] jessesuen commented on #4420
I agree, theres things like proxy settings that don't work (or have to be duplicated configured) on API server.

[2020-09-24 22:10] jessesuen commented on #4416
Proposal is to:

1. Utilize existing AppProject for configuration to define a "global" project. e.g. create a AppProject whose settings would like to be applied to other projects.

2. Reference the project created in step 1 in the argocd-cm ConfigMap, and use Kubernetes `matchExpressions` syntax to map to other projects. For example, syntax might look like:

[code]

The above syntax would apply th

[2020-09-24 22:19] jessesuen opened #4423 "Repo-server has silent unmarshalling errors leading to empty applications"
**Describe the bug**

We noticed a situation where when retrieving cached manifests from redis, the cache **silently** returned an empty datastructure of cached manifests, despite there being content in the redis key. This made it appear that the manifests at the commit SHA had zero manifests, and Argo CD wanted to prune everything.

When investigating the issue, the problem was traced to the `git

[2020-09-25 08:26] mcouliba opened #4424 "SSO login via cli without WebBrowser"
Hello,

I would like to using argocd cli as a Tekton Task (running argocd inside a container).
ArgoCD is using OpenShift OAuth. When logging in I got the following error message

[code]

I could install xdg-open but inside my container, I do not have any browser

Is there a way to SSO login without webrowser redirection?

Thanks

[2020-09-25 08:53] jannfis commented on #4424
I'm afraid the OAuth with ArgoCD is only possible using a browser. However, you can create a [local (technical) user](https://argoproj.github.io/argo-cd/operator-manual/user-management/#local-usersaccounts-v15) and use it for automation purposes. Be sure to configure appropriate RBAC rules in Argo CD for the user, so that the user will be authorized to do what you need it to do.

[2020-09-25 09:04] mcouliba commented on #4424
Thanks @jannfis.
I will do that

[2020-09-25 09:06] herozabbix opened #4425 "helm repo values in git!!!"
### application config
[code]

* I want to update the app's helm Image.version to git Commit number when gitLAB commits. What should I do

[2020-09-25 10:54] jsoref opened #4426 "Upgrade typescript and other js modules"
# Summary

TypeScript https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html

# Motivation

This should enable the use of the `?.` operator in `.tsx` files...

# Proposal

How do you think this should be implemented?

[2020-09-25 11:39] MeNsaaH opened #4428 "Parameters passed declaratively needs to be quoted"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-25 16:06] aistein commented on #4404
@alexmt might I please take a crack at this?

[2020-09-25 16:15] alexmt commented on #4428
The helm parameters eventually translated to `helm template --set` so all parameters either way must be formatted as strings. There is an opposite issue: values like '1' or 'true' will be converted to integer or boolean. To force string type you can use `forceString`:

[code]

Add example to documentation: https://github.com/argoproj/argo-cd/pull/4431/files

[2020-09-25 16:21] alexmt commented on #4404
@aistein, sure!

[2020-09-25 16:44] #4270 closed

[2020-09-25 16:57] alexmt commented on #4298
@reggie-k , controller creates resource manifest file and kubeconfig to execute `kubectl apply`.  Do you have apps with auto-sync and probably self-heal ? I suspect that after upgrading to 1.7 some application is permanently is out-of-sync state and controller continuously trying to synchronize it. Can you check if this is that happening in your case?

In this case the controller should backoff an

[2020-09-25 17:46] drewboswell opened #4432 ""dot" files deployed after upgrade from 1.7.3 to 1.7.4"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-25 18:44] jannfis commented on #4432
Hey, I believe this is rather a side effect of #3942 - the files haven been loaded before, but any errors (i.e. invalid K8s resource YAML) were silently ignored, and now they raise an error.

[2020-09-25 20:38] reggie-k commented on #4298
Hmmm we suspected something of that kind and resolved the vast majority of out-of-sync apps after the upgrade to 1.6. But I will double check on Tuesday whethere some remained that way. It's now holiday time here. Yes, all of our apps are auto sync.

[2020-09-25 20:43] alexmt commented on #4425
hello @herozabbix please check https://argoproj.github.io/argo-cd/developer-guide/ci/ .

[2020-09-25 22:03] alexmt commented on #4432
https://github.com/argoproj/argo-cd/pull/3942 was reverted from 1.8 . This is a good change but we need to work more in 1.8 to handle edge cases better.

[2020-09-25 23:09] #4329 closed

[2020-09-25 23:10] booleanbetrayal opened #4435 "Support for DeleteNamespace SyncPolicy"
# Summary

Adding support for some mechanism to allow ArgoCD to delete the namespace of its underlying app. This could be limited to apps that were created with a `CreateNamespace` SyncPolicy set.

# Motivation

We're currently using ArgoCD to manage ephemeral environments, automatically spooled with `CreateNamespace` handling the initial namespace creation. It would be great if we could also rely

[2020-09-25 23:30] MeNsaaH commented on #4428
Also the error should be more clear. It should state the values been affected if possible.

[2020-09-25 23:32] MeNsaaH commented on #4428
I'll like to work on the error string. Can you please help point me to any useful resource @alexmt in the code I can start from

[2020-09-26 00:10] alexmt commented on #4298
The potential fix got merged into master: https://github.com/argoproj/argo-cd/pull/4434

I'm going to run it internally for few days, just in case, and will release in 1.7.7

[2020-09-26 04:15] jamesla opened #4438 "How to use the CreateNamespace option in syncOptions?"
I have an application with the following syncoptions:

[code]

When it syncs it throws the following error:

[code]

I can't understand why it is not creating this namespace even though I have CreateNamespace=true set.

Is there something else that needs to be set in order for argo to create namespaces automatically?

[2020-09-26 06:20] reggie-k commented on #4298
Thanks a lot, Alex!

On Sat, Sep 26, 2020, 03:11 Alexander Matyushentsev <
notifications@github.com> wrote:

[2020-09-26 09:13] cfarrend commented on #876
Experiencing the same, thought it was an issue with resources but after increasing them I still get time outs. Usually happens after the pod has been up for a few hours, the fix has just been to kill the pod.

[2020-09-26 21:19] jonathanendy opened #4439 "Private Helm repo on google bucket (GCS)"
Using argo-cd container with the plugin of helm-gcs, it seems that the repo server is not working with the plugin.

**Describe the bug**

level=error msg="finished unary call with code Unknown" error="`helm dependency build` failed exit status 1: Error: could not find : chart private-chart not found in gs://private-helm-repo/

**To Reproduce**
Build on argo existing container and run
[code]

insta

[2020-09-27 03:25] abdennour commented on #4419
Yep @jannfis ! I've checked dex release notes, and i can see that Crowd is well supported since [v2.24.0](https://github.com/dexidp/dex/releases/tag/v2.24.0).
 I updated helm values

[code]
And now it works like a charm 🎊 🎊🎊

[2020-09-27 03:25] #4419 closed

[2020-09-27 11:24] mssanjay commented on #2789
I see the exact behavior when I use this the way it is described. Did you ever got this working? How can I provide Application values ?  Thanks.

[2020-09-27 18:25] DirtyCajunRice opened #4440 "UI incorrectly shows helm values list as cascading nested lists"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

UI misinterprets lists as ever cascading nests.

**To Reproduce**

add a helm chart with a values.yaml that includes a list of long flags e.g.:
[code]

Then check the parameters in the

[2020-09-27 20:25] mprzygrodzki commented on #820
Same problem, annotations doesnt seem to work in case of Grafana chart.

[2020-09-27 20:55] gpkc commented on #2593
Is there some new solution for this?

[2020-09-28 02:24] keithchong commented on #3781
Hi @alexmt, please assign this to me

[2020-09-28 04:19] mattparkes opened #4441 "Better error message when using GitLab Deploy Keys but they're not enabled for that repo"
# Summary

When first adding a (self-hosted) GitLab repository to argocd with `argocd repo add` using a [Public Deploy Key](https://docs.gitlab.com/ee/user/project/deploy_keys/#public-deploy-keys), I forget to enable the Deploy Key in that project and got this rather unhelpful error:
[code]

Eventually, I used a combination of `ssh -v` and `git clone` to troubleshoot and realised that I was gettin

[2020-09-28 06:12] jannfis commented on #4441
I agree that this error message isn't particularly helpful at all, and I believe there are quite a few more places that provide an experience similar to this one.

Thanks for reporting.

[2020-09-28 09:13] amitcmore opened #4442 "How to integrate security tools like fortify, appscan for DAST scanning with Argocd."
How to integrate security tools like fortify, appscan for DAST scanning with Argocd.

[2020-09-28 10:46] raelga commented on #3781
+1

[2020-09-28 13:02] c4m4 commented on #1057
I have the same issue with argocd 1.7 and if I execute helm template . and helm lint . in my chart root directory, I don't have any errors :(

[2020-09-28 14:19] k9ert commented on #4059
Yes, this is indeed underdocumented. What i still don't understand is also how to pass valueFiles if one uses a helm-repository.

Above @yoshz listed an example on how to refer to the repo but out of this issue it's not clear on how to pass valueFiles.
I'm not sure when the docu gets updated but maybe someone can point to that last detail?

[2020-09-28 15:30] tetchel opened #4443 "Poor error message if an SSH repository URL is entered into "New App" wizard"
![image](https://user-images.githubusercontent.com/8888438/94452526-a1ade500-017d-11eb-8c90-ae96bea29699.png)

If you fill out all fields of the 'create app' wizard and are presented with this error message, it is not immediately obvious what you did wrong, and looks like it may even be an internal error of ArgoCD.

There should be better validation that the user entered an HTTPS repo URL. If the

[2020-09-28 15:53] tetchel commented on #4403
![image](https://user-images.githubusercontent.com/8888438/94455103-b3dd5280-0180-11eb-976d-57690b8677e1.png)
The filters are much more obvious when the window is wider.

When the window is narrow (as the screenshot above), the filters panel collapses into the FILTERS combo-box and the arrow to expand is it not too obvious.

I will add a way to 'clear filters' from the 'no applications found' mess

[2020-09-28 18:09] mayzhang2000 commented on #4438
Is "mayNamespace" what you defined in your application spec as below:
[code]

[2020-09-28 20:42] #4425 closed

[2020-09-28 20:46] jessesuen commented on #4439
Real problem is:

`failed exit status 1: Error: found in Chart.yaml, but missing in charts/ directory: temp`

Need to investigate difference is between `helm template` invoked by repo-server vs. manually.

[2020-09-28 20:48] jessesuen commented on #4440
Can you state what's incorrect? The UI is flattening the chart into a key/value  which does admittedly have a strange look, but I believe is still correct.

[2020-09-28 20:49] jessesuen commented on #4442
This seems like a very open ended question without knowing the nature of those tools. It is likely out-of-scope from argo cd

[2020-09-28 20:50] jonathanendy commented on #4439
@jessesuen I'm not sure but it seems that after the repo understands that it has a missing charts directory it runs the `helm dependency build` I didn't check if this it the flow in the code.

[2020-09-28 20:52] jessesuen commented on #4443
So the problem is someone puts in an SSH git url when they are in the HTTP mode? And we should prevent that/ direct them to use SSH mode instead?

[2020-09-28 20:54] jessesuen commented on #4439
yes that's supposed to be what happens. But we only run that when we get the error explicitly telling us to do it.

[2020-09-28 21:04] jonathanendy commented on #4439
I now look at the code, at `cmd.go` the 'run()' method is appending envars, I didn't use the when I created the container.
I need to understand what is the 'cmd.helmHome' value and recreate the container while installing the gcs plugin with these envars.
let me get back to you with it.

[2020-09-28 21:21] jessesuen commented on #4423
@alexmt and I agree we should introduce a new field in the cached manifest datastructure which contains a checksum of the rendered JSON manifests. This checksum would be verified whenever we retrieve manifests it from cache.

/cc @jgwest this might be a good one for you

[2020-09-28 21:27] DirtyCajunRice commented on #4440
@jessesuen What is incorrect is the notation in the ui. JSON flat lists are notated as
[code]
But argocd is notating them as if they are lists inside of lists, or nested lists like
[code]
Shown another way, an expected json output would be
[code]
but it shows as if it is
[code]

[2020-09-28 22:36] mattparkes opened #4445 "Inconsistency with CLI resource verbs"
# Summary

There seems to be a lot of inconsistency in the argocd CLI with regards to the subcommands/verbs of the various resources.

For example:
 - why is it `argocd repo add` but `argocd app create` and why is it `argocd repo rm` but `argocd app delete`?
 - why is it `argocd repo rm` but then `argocd repo ls` isn't an accepted command (you have to use the full word `list`)?

# Motivation

Make

[2020-09-29 00:40] gajus opened #4447 "Unable to use .Release.Name Helm variable in default values.yaml"
My project structure:

[code]

`mother` is an umbrella Helm application.

`applications/mother/templates/metabase.yaml` is:

[code]

Meanwhile, `applications/contra-metabase/Chart.yaml` declares dependency on `stable/metabase`:

[code]

`applications/contra-metabase/templates/sealed-secret.yaml` describes a sealed-secret to be used by `stable/metabase`:

[code]

The problem is in the `applications

[2020-09-29 01:13] keithchong commented on #3781
Is that slack link correct?  I'm seeing a thread that talks about issue 2924

Note, currently, if the child's health state is missing or unknown, it will not affect the parent's health state.

So, if the child app's health state is "degraded", then the parent app should still be healthy.

Before:

<img width="852" alt="3781-before" src="https://user-images.githubusercontent.com/7726022/94499728-76

[2020-09-29 06:17] imranismail opened #4450 "In logs view, request to retrieve logs are refetched unnecessarily"
**Describe the bug**

Even when reaching the end of the log, the request to /logs endpoint are reinvoked causing the UI to restream the logs.

**To Reproduce**

1. Create a job that logs to stdout
2. Let it run to finish
3. View pod log getting repeated unnecessarily

**Expected behavior**

Stops request once the end of the log is reached

**Screenshots**

![image](https://user-images.githubuserco

[2020-09-29 07:28] jonathanendy commented on #4439
Yes, it seems that the setting of `XDG_CACHE_HOME` `XDG_CONFIG_HOME` `XDG_DATA_HOME` `HELM_HOME` is causing the gcs plugin not functioning well :(
Do you have any suggestion?

[2020-09-29 08:26] hamza-tumturk opened #4451 "Sync: ssh: handshake failed: EOF"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-29 09:17] jayrmehta opened #4452 "Logout Redirect"
# Summary
Allow configuration to redirect user to custom URL after user clicks Logout button.

# Motivation
This feature will be very handy when third party integrations for authentications are user. Especially when argo heavily relies on 3rd party for authentication needs.

# Proposal
When Okta integrated, an Okta session will persist even after the user invalidates their session with the Logout

[2020-09-29 10:29] jannfis commented on #4451
I don't know whether Bitbucket has a rate limiting on Git requests via SSH, but with 100+ apps Git requests can become quite numerous with the default settings (especially the default refresh interval of 3m). The number of Git requests are exported as a metric from the repo-server, so this might give you a good indicator of how many they are indeed.

You could try to decrease the number of SSH req

[2020-09-29 11:03] reggie-k commented on #4298
I am making all the out-of-sync apps sync.
We will install 1.7.7.
Also working on sending the log.

[2020-09-29 11:42] llienard commented on #2779
Hi, I'm running into this issue with v1.7.7

[2020-09-29 13:03] jopit commented on #4407
/assign @jopit

@alexmt I can look at replacing `bou.ke/monkey` with `github.com/undefinedlabs/go-mpatch` (https://github.com/undefinedlabs/go-mpatch) if that package is acceptable

[2020-09-29 13:16] reggie-k commented on #4298
All the apps are now synced (some are degraded or progressing but as I understand this is not a problem  with regard to the controller restarts and slow sync).
Also we have installed 1.7.7
So far, only one controller restart and the sync seems faster now.
Can't tell whether 1.7.7 improved the sync time or the fact that all apps are now synced.
Will observe further.

[2020-09-29 14:01] tetchel commented on #4443
How do you switch modes?

[2020-09-29 14:10] tetchel commented on #4443
OK, I went to the Repositories page and see that there are separate options there for SSH vs HTTPS repos. I encountered the above when going through `New App` which does not appear to have an option for adding an SSH repo.

[2020-09-29 14:22] guyelia commented on #3901
Same here, the same chart.

[2020-09-29 14:59] Numblesix commented on #1171
I tried everything as described above in the [link](https://argoproj.github.io/argo-cd/user-guide/private-repositories/#managing-tls-certificates-using-the-argocd-web-ui). I check the server pod and i cant find the cert added. In the UI i can see that my repositories are in fact again connected but git wont fetch for new stuff

[2020-09-29 18:33] keithchong commented on #3781
Hi @alexmt , could you comment on this bug and whether there should be a setting of some sort to make the behaviour configurable, perhaps a preference setting from the Projects summary settings page (settings/projects/<projectName>) or somewhere else?  IMHO, I think anything elaborate like this should be considered an enhancement, and not a bug.

[2020-09-29 18:38] jannfis commented on #4443
I agree this is poor user experience.

I think this error message comes straight from the SSH client, when no private key has been configured. I think we can check for a private key being configuring prior trying to connect a repository via SSH, and if it's not configured spill out a more meaningful error message.

[2020-09-29 20:36] jessesuen commented on #4445
Slack conversation regarding this:

Matt Parkes  22 hours ago
Does anyone know why there is so much inconsistency in the argocd CLI? e.g why is it argocd repo add but argocd app create? Why is it argocd repo rm but then argocd repo ls doesn't work (you have to use list)?

jesse:argo:  22 hours ago
add and remove should have been named register, deregister

jesse:argo:  22 hours ago
add vs. create

[2020-09-29 20:38] jessesuen commented on #4447
This is not an Argo CD issue as it more a helm limitation. You can't use `{{variables}}` in helm values.yaml, AFAIK.

[2020-09-29 20:40] jessesuen commented on #4450
We may need to special case pods which are in completed state, and not retry retrieval of the logs.

[2020-09-29 20:42] jessesuen commented on #4452
I agree. Proper logout is important

[2020-09-29 20:43] jessesuen commented on #4452
API server needs to be changed to allow redirecting to something other than `/` upon logout.

[2020-09-29 21:22] #3993 closed

[2020-09-29 21:36] stsang-intuit opened #4454 "bad URL endpoint link"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*

[2020-09-29 22:15] jgwest commented on #4423
@jessesuen +1, feel free to assign to me.

[2020-09-30 04:01] mssanjay opened #4456 "rpc error: code = Unknown desc = `helm2 dependency build` failed exit status 1: Error: open /tmp/helm221478982/repository/cache/stable-index.yaml: no such file or directory"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-09-30 04:16] mssanjay commented on #4456
I found the problem. It is the Chart version.. I was using v1. Changed to v2 and it worked :) Sorry to open this too quickly.

[2020-09-30 04:16] #4456 closed

[2020-09-30 04:32] Asuforce commented on #4134
This issue still occur in v1.7.6 with Chrome  85.0.4183.121.

[2020-09-30 04:55] alexmt commented on #3964
implemented by https://github.com/argoproj/argo-cd/pull/4446

[2020-09-30 04:55] #3964 closed

[2020-09-30 04:58] igaskin commented on #4385
I think we only want to remove `kubectl` from the Dockerfile that runs the `argocd*` binaries.  The other occurrences are for devtools, and make sense to keep.  I was looking at this and wasn't sure how to accomplish retrieving the version of a library from a compiled binary, short of injecting it at build time.  For example we could append an additional variable to `LDFLAGS`

[code]

Is this a re

[2020-09-30 06:08] jamesla commented on #4438
@mayzhang2000 Yep namespace is being set and if I create the namespace manually it deploys it all properly into the correct namespace.

I use helm so don't mind the templating but here is the entire argo application:

[code]

[2020-09-30 06:21] jannfis commented on #4438
What version of Argo CD are you using, @jamesla? The `CreateNamespace` option was introduced with v1.7.

[2020-09-30 11:12] ramanNarasimhan77 opened #4459 "Patching a NodePort Service to ClusterIP fails"
Hello
I have a running Ambassador helm chart instance deployed using argocd.

In values.yaml, I had used serviceType NodePort

[code]

Application got deployed successfully.

[code]

Few days later, we decided to expose Ambassador service using an ingress, and so we decided not to use serviceType NodePort and hence changed the values.yaml file to have serviceType ClusterIP

[code]

The service doe

[2020-09-30 11:23] amitcmore commented on #4442
How we do/trigger the post deployment testing when the application deployed using ArgoCD

[2020-09-30 12:43] aliusmiles commented on #4275
It appears that cert-manager custom healthcheck is already bundled into Argo CD:  [health.lua](https://github.com/argoproj/argo-cd/blob/v1.7.7/resource_customizations/cert-manager.io/Certificate/health.lua),  [docs](https://argoproj.github.io/argo-cd/operator-manual/health/#way-2-contribute-a-custom-health-check), so no need for argocd-cm modifications.

so it should work by default, and it indeed

[2020-09-30 14:08] #4389 closed

[2020-09-30 15:40] ofirshtrull opened #4460 "dex server: Failed to authenticate: response did not contain a AttributeStatement"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [v] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [v] I've included steps to reproduce the bug.
* [v

[2020-09-30 15:41] ofirshtrull commented on #4460
and i Frogot
logger:
      level: debug
      format: json
dosnet enter DEBUG mode

[2020-09-30 15:55] MPV commented on #3024
An alternative could be to use something like [kubernetes-external-secrets](https://github.com/godaddy/kubernetes-external-secrets), which fetches your secrets into Kube from external secret backends, such as:

[2020-09-30 16:04] ademariag commented on #2593
Ingress liveness check depends on the application returning 200 on /

You can work around that by setting a readiness check in the deployment. Will try and then let you know

[2020-09-30 16:11] chrisob commented on #4297
:+1:, this would be really really useful for auditing who synced an application and when on OpenShift

[2020-09-30 18:17] hamza-tumturk commented on #4451
@jannfis thanks, I'll also raise a ticket with Bitbucket regarding this, and provide details here if any relevant to ArgoCD.

So far, I've run a continuous git clone with some verbose output on the same instance as the ArgoCD repo server is running, but even when I saw the ssh EOF error in ArgoCD, I wasn't able to see any interruptions in the ssh git clone.
Ran it as follows to catch any issues, b

[2020-09-30 20:34] jessesuen commented on #4459
This is not an Argo CD issue. Kubernetes does not like the fact that you wwitching back from nodePort to cluster IP while already have allocated node ports to the service. If you delete and recreate the service it should go through. Force option might work as well.

[2020-09-30 20:36] jessesuen commented on #4460
Hi @ofirshtrull i think you will need to get help from dex community on this since the error is coming from dex.

[2020-09-30 20:38] jessesuen commented on #4454
I think `path: /*` could be special cased in the UI to just not append it.

[2020-09-30 20:59] AceHack opened #4463 "Cannot connect to helm repo for application"
Checklist:

* [ X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
* [ X] I've pasted the output of `argocd version`.

**Describe the bug**

Cannot point repoUrl to helm repo in Application.

**To Reproduce**

Create an application that points repoUrl to helm repo.

**Expected behavior**

Point to helm repo with from appl

[2020-09-30 21:02] #4407 closed

[2020-09-30 21:15] mayzhang2000 opened #4464 "Autosync protection"
# Summary
When app has automated sync policy with prune on, if there are empty resources for this app in repo, app will end up with zero resources. We want to have a protection from any automation/human errors during auto-sync.

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal
[code]
Without this flag, we will have

[2020-09-30 22:16] #3751 closed

[2020-09-30 22:16] #3556 closed

[2020-09-30 22:25] rumstead opened #4465 "Azure DevOps - Kustomize remote bases"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-09-30 22:30] rumstead commented on #4465
Because our repositories are hosted externally, we have to go through a proxy. I will try setting up the ssh proxy tomorrow using an init container and see if that gets around it. I suspect it will.

[2020-09-30 23:16] rumstead commented on #4465
The issue was with the base URL I was using. I had a git config that redirected my https git to ssh. The below works.
[code]

[2020-09-30 23:16] #4465 closed

[2020-10-01 04:35] AceHack commented on #4463
Looks like changing `source.path` to `source.chart` fixes the issue and lets Argo know that `repoUrl` is pointing to a helm repo instead of a git repo.

FYI, this is not intuitive at all and does not seem to be covered in any documentation.  This should be converted to a documentation/usability issues instead of a bug on the code.

[2020-10-01 10:51] samuel-sujith commented on #3871
I get the same error when logging in from Git bash and from cmd prompt.

[2020-10-01 13:14] rosscdh commented on #709
does not seem to be resolved 1.7.6 in HA

[2020-10-01 13:55] jaideepr97 commented on #4452
HI, I'm curious about this issue and would like some more context if possible
How should a user be able to input their custom URL? Would this be a field in the UI somewhere?

[2020-10-01 14:05] Moadfinn commented on #4452
This is about giving admins, who are configuring their Argo environment, to set the redirect URL. Normal users will just see the behavior but have no control over it.

[2020-10-01 14:09] jaideepr97 commented on #4452
got it
I would like to take a crack at this if that's okay

[2020-10-01 14:59] wouter2397 opened #4467 "Question: How to ignore config differences in a serviceaccount code"
Hello,

We sync a serviceaccount through ArgoCD.
OpenShift is linking several secrets and imagepullsecrets to this serviceaccount which makes the actual config different.

I follow this documentation [Diffing Customization](https://argoproj.github.io/argo-cd/user-guide/diffing/#diffing-customization) to let ArgoCD ignore these configuration differences.

The only problem I have now is that the kin

[2020-10-01 16:11] rltvty opened #4468 "Helm `version` param doesn't exist in released CRD"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2020-10-01 17:03] tetchel commented on #4336
I think this can be closed https://github.com/argoproj/argo-cd/pull/4357

[2020-10-01 20:42] jessesuen commented on #4467
The "core" API resource types should omit group. This includes other resources like ConfigMap and Secrets.

[2020-10-01 20:43] jessesuen commented on #4468
This because the feature only exists in master and is not yet released. v1.7 does not have this feature.

[2020-10-01 20:43] #4468 closed

[2020-10-01 21:52] mars64 commented on #4468
How is a user supposed to know this?

* the [example application spec in the documentation](https://github.com/argoproj/argo-cd/blame/91e62bfc3b98b12cd7d0baba6c082edbf82fdc34/docs/operator-manual/application.yaml#L56) indicates this feature is available, makes no mention of version requirements, and is [actively referred to by argocd docs
](https://argoproj.github.io/argo-cd/operator-manual/declar

[2020-10-01 22:56] StarpTech commented on #1648
This will ends up in a scenario like GitHub and Bots (e.g dependabot) 😄 I have a very similar use case as mentioned in https://github.com/argoproj/argo-cd/issues/1648#issuecomment-581612729. We would like to roll out patches automatically for preview deployments. In that way, we don't need to maintain the versions in the helm values. Therefore the communication of updates is hard if you work on ma

[2020-10-01 23:27] aweis89 commented on #4384
Noticing the same issue with nginx-ingress chart: https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx

[2020-10-01 23:30] nassercarlos19 opened #4473 "downgraded argo failed"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-10-01 23:31] matlegit commented on #4384
Hi there, we are also experiencing this issue, any plans to fix it soon?

[2020-10-02 00:14] mayzhang2000 commented on #4384
PR for this fix is created: https://github.com/argoproj/gitops-engine/pull/144

[2020-10-02 03:30] ryancastle opened #4474 "Port CSS Transitions to argocd sync"
# Summary

There is a gap missing between hands-on soft launch patterns (canary, blue-green etc) and a true GitOps approach to deployments. I believe ArgoCD could bridge this gap with an abstraction of state transitions, in addition to orchestrating the discrete state change as it currently does.

# Motivation

Any virtual service (eg. Service Mesh) or weighted load balancer approach could benefit

[2020-10-02 03:33] booleanbetrayal commented on #3685
I would also like this functionality for the same reasons.

[2020-10-02 06:55] Subreptivus opened #4476 "UI crash on "big" applications (with many components) for Application Details page starting from v1.7.+"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [

[2020-10-02 06:58] unicell commented on #3843
Another solution I'm thinking for Helm based application is adding a value flag to turn on and off `argocd.argoproj.io/hook: Skip` annotation, so as to allow 1st-time creation and let ArgoCD skip the resource by flipping the value afterwards.

[2020-10-02 09:37] serain commented on #4096
@jessesuen the issue here is that the OP has created a new local user and can't set the local user's password.

there is nowhere in the documentation that states what a new local users password is, or how to fetch it.

[2020-10-02 11:26] martinpovolny commented on #4405
@alexmt : pardon me if I am mistaked, but does not the fact that I can do:
[code]
mean that the API is there already?

[2020-10-02 11:28] martinpovolny commented on #4405
Or does the change need to happen through the cluster API rather than the secret?

[2020-10-02 13:38] rltvty commented on #4468
Things that aren't released should not be in docs!

[2020-10-02 14:19] jannfis commented on #4468
I agree that we have some serious debt regarding documentation. We were already thinking of migrating the docs to a system that actually can handle versioned docs (such as readthedocs.org), so that users will be able to use the documentation for the specific version of Argo CD they are using. Currently, we are pretty much cluttering the docs with version information (available since vX, or only be

[2020-10-02 14:24] jaideepr97 commented on #4452
Hey @jessesuen @Moadfinn
I'm trying to test login/logout from the argocd-ui running locally by applying the manifests found in the tests folder but I'm unable to reproduce the login/logout behavior because it may be getting bypassed in a way (it lets me past the login page but doesn't actually show me any user info - says I'm not logged in)
is this the expected behavior while running locally, and

[2020-10-02 14:34] jannfis commented on #4405
I think what @alexmt was trying to say is that the Argo CD API for managing clusters does not return the cluster secrets on replies to a Get operation. When saving, we're doing a replace of the cluster configuration instead of patching only the things that have changed. This is why the cluster credentials are lost on update.

[2020-10-02 14:52] irizzant commented on #4378
This should be labelled as bug imho, I've tried to remove the `properties: {}` out of beats.beat.k8s.elastic.co  CRD using this simple kustomize jsonpatch:
[code]

and it worked fine, while if I apply the very same path to `ignoreDifferences` it doesn't work

[2020-10-02 15:01] mars64 commented on #4468
Huge thank you for the acknowledgement here, I think I'm not alone in my expectations of the docs site and knowing that the group at least has it on the radar is of much value to me. Perhaps I'll take a look at that [contribution guide](https://argoproj.github.io/argo-cd/developer-guide/contributing/)! (subtle plug eh ;) )

Thank you!

[2020-10-02 17:43] jaideepr97 commented on #4231
Hi @pbecotte
Do you mind sharing an example for how/where you're using ``ARGOCD_APP_REVISION``` in your manifests? Might help trace the problem

[2020-10-02 18:12] dulltz commented on #2913
It seems intuitive to me to prevent fields specified in `ignoreDifferences` from being overwritten by static values stored in git,
so I think we should solve this issue in a way that extends `ignoreDifferences`.

How about adding `respectExistingValue` field to skip updating the field ?
We can also keep the existing behavior by setting the default to `false`.

[code]

[2020-10-02 18:42] tetchel commented on #4450
it also looks like this can result in the output being duplicated

![Uploading image.png…]()

[2020-10-02 19:17] jopit commented on #2980
I could not reproduce this either.

I made a test app here: https://github.com/jopit/ttt, starting with the args defined in an array: https://github.com/jopit/ttt/commit/c3faa61c1cf89033488aea12e62327d8976c51d8#diff-a11d1078b1b1f2e3bdea27312f6ba513

After creating the app in argocd, I updated the manifest to have all the args in a single entry: https://github.com/jopit/ttt/commit/6b90e099694cf0890

[2020-10-02 19:25] thardie commented on #2980
Looks like that should've reproduced it. I guess we can close this as unreproducible.

[2020-10-02 19:25] #2980 closed

[2020-10-02 20:33] #4473 closed

[2020-10-02 20:38] jessesuen commented on #4474
@ryancastle are you aware of [Argo Rollouts](https://github.com/argoproj/argo-rollouts)? which is a canary/blue-green progressive delivery resource intended to allow gradual (progressive) shifts in traffic from old to new via integration with service meshes?

Outside of that, it seems that a gitops committer which gradually updates YAML numeric values may be out of scope from Argo CD.

[2020-10-03 00:18] unicell commented on #4175
Still seeing the issue with:

- ArgoCD v1.7.7
- kube-prometheus-stack 9.4.5

Webhook disabled with `prometheusOperator.admissionWebhooks.enabled=false` so `8443` firewall rule most likely not the cause here.

[2020-10-03 00:30] AntonBlomstrom opened #4478 "Minimal personal access token scope documentation"
# Summary

A short description of what scopes to allow in a personal access token within the docs.

# Motivation

I wouldn't want to put my git password in the cluster, but I haven't gotten personal access token working.
I've looked at the [doc about access tokens](https://argoproj.github.io/argo-cd/user-guide/private-repositories/#access-token) and tried the following scopes:
![image](https://use

[2020-10-03 09:53] AntonBlomstrom commented on #4478
Alright, so I tried a few more things after sleep and found that the "Full control of private repositories" scope was necessary to read a private repository. Are there any other scopes, such as webhooks, I should enable? Or is that enough?

[2020-10-03 15:44] kamal94 commented on #1415
I ran into this issue even after setting up two separate ingresses for http and grpc as describe [in the docs](https://argoproj.github.io/argo-cd/operator-manual/ingress/#option-2-multiple-ingress-objects-and-hosts).

`argocd login argocd.xxxxx.com --grpc-web` was the only thing that worked for me, per @Sicaine

[2020-10-03 17:16] yann-soubeyrand commented on #3594
Hi @jaideepr97,

To deploy Filebeat's ServiceMonitor, you need to add the following configuration to your values.yaml file:
[code]

With these values, Argo CD deploys the ServiceMonitor (if the ServiceMonitor CRD is present in the cluster). But when you do a local diff with Argo CD CLI, it tells you that the ServiceMonitor will be removed. That's because Argo CD CLI doesn't seem to pass the --api-

[2020-10-03 19:20] abangser commented on #4231
Thanks for looking into this! In my case we have a helm chart and are overriding a value.

E.g. having an Argo Application with:
[code]

and then a `values.yaml` with:
[code]

which then gets templated into a deployment manifest as the image tag like:
[code]

[2020-10-04 01:38] igaskin commented on #4454
opened https://github.com/argoproj/argo-cd/pull/4479 to address this.

[2020-10-04 07:57] ofirshtrull commented on #4460
Issue is closed, the it guy who setup the Okta app missed some configurations

[2020-10-04 07:57] #4460 closed

[2020-10-04 11:09] jannfis commented on #4478
According to the [official documentation from GitHub](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token), the permission required to access private repositories is the "repo" permission (aka "Full control of private repositories").

Maybe it's better to link to the respective platform's documentation on how to use repositories with acc

[2020-10-04 13:26] abhinavkhanna-sf opened #4480 "Unable to install jfrog helm charts as helm dependency"
**Describe the bug**

Unable to install jfrog helm charts as helm dependency from a git repo source

**To Reproduce**

1. create files in a git repo.

### Chart.yaml

`name: artifactory-oss`

### requirements.yaml

[code]

### values.yaml

[code]

**Expected behavior**

artifactory helm chart should be deployed

**Screenshots**

**Version**

[code]

**Logs**

[code]

Similar issue #3981
I tried to

[2020-10-04 15:19] AmitBenAmi commented on #4212
Is there any update regarding this issue?

[2020-10-04 15:40] jannfis commented on #4451
You should also take a look at the `ls-remote` metrics from the repo-server, because I imagine they count into the limits of BitBucket as well.

However, an `eof` error with SSH almost always indicates that the peer (or some intermediate component in between) has abruptly dropped the connection. Maybe this could also be related to #3994.

[2020-10-04 17:44] Binyamse commented on #4036
Hello @sbose78 sorry for late replay. I meant argocd build status notifications (fails, success ..). Not the metrics. But I guess it's a different topic not sure 😄. Is there any way we get those notifications?

[2020-10-04 18:33] AntonBlomstrom commented on #4478
I think this just confused me a bit, I haven't used access tokens before. Argo-cd's docs are already linking to the respective platforms, so that wasn't really the issue. I suppose if nobody else stumbled as I did, and it doesn't seem like people have, I think this could be closed.

Had I actually done what the GitHub docs said, I would've gotten it to work sooner. But I thought having to give rea

[2020-10-04 19:13] lcostea opened #4481 "Missing docs for installing cli on windows"
On the cli installation page there is only Linux and Mac: https://argoproj.github.io/argo-cd/cli_installation/

It would be good to have Windows also as there is binary built for the cli for Windows OS.

[2020-10-04 19:14] lcostea commented on #4481
Working now to create the PR for this

[2020-10-04 21:20] johannwagner opened #4483 "Create API objects, which are not within the server namespace"
I just tried to create an application through the API within a different namespace than my argo server lives in. My argo server uses `argocd` as namespace, I wanted to create an application within `mytenant-dev`. If I change the namespace within my request to `argocd` it works fine.

Error Message:
[code]

 I figured out, that it may be this piece of code, where you call the Kubernetes API server

[2020-10-04 21:22] johannwagner commented on #4483
Oh, this is technically not a bug, its a feature. The application object does not live within the destination namespace, it lives within the server namespace. Thats neat, but not documented anywhere.

[2020-10-05 06:59] CFR0901 commented on #4481
I just stumbled over the same problem. If you want to use Chocolatey, it is also installable here: https://chocolatey.org/packages/argocd/1.6.1

[2020-10-05 07:10] lcostea commented on #4481
You are right @CFR0901 but it was a one time upload. We are looking into making the upload on each release, part of the release pipeline (like it is done for homebrew on: https://github.com/argoproj/argo-cd/blob/master/.github/workflows/release.yaml)

[2020-10-05 08:33] jannfis commented on #4483
Actually, it is documented, but not sufficiently and admittedly somewhat hidden: https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#applications - I agree we have some serious debt regarding the docs.

Just as a heads-up for the reasoning behind this restriction: it is based on multiple assumptions, but one of the main reasons is that in multi-cluster environments, the Argo CD C

[2020-10-05 13:58] jaideepr97 commented on #4231
Thanks for providing context @abangser, I think I've been able to reproduce the issue locally
working on a fix now

[2020-10-05 14:46] AmitBenAmi commented on #3593
For us, allowing developers to have delete permissions on an application brings up the risk of whole application deletion, when all we want to do is give permission to delete everything inside the application, except the application itself.

[2020-10-05 14:50] rakeshr99 opened #4486 "Sync failure when trying to sync a deployment, Manifest not populating correctly as shown in Argo CD UI"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [yes] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ yes] I've included steps to reproduce the bug.

[2020-10-05 16:35] jfroche opened #4487 "Ignoring Extraneous Resources doesn't improve app's overall sync status"
**Describe the bug**

We configure our openshift identity providers resources using argocd. Extra Secrets are created in the openshift-authentication namespace by the operator.
We followed https://argoproj.github.io/argo-cd/user-guide/compare-options/#ignoring-resources-that-are-extraneous to ignore these secrets but our Application keeps being marked as "OutOfSync".

As you can see in the screens

[2020-10-05 17:06] jannfis commented on #4487
Is there actually anything in the app diff?

[2020-10-05 17:45] rdpa opened #4488 "kubectl explain doesn't work as expected"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
`kubectl explain application` and `kubectl explain appproject` only return the following:
[code]
[code]

**To Reproduce**
run `kubectl explain` for either application or appproject

**Ex

[2020-10-05 18:57] jannfis commented on #4488
Hey, good catch. I believe that is because we generate old-style. single-versioned CRDs using `trivialVersions=true` argument to the CRD generator [here](https://github.com/argoproj/argo-cd/blob/f93da5346c3dfe0ec75549fd78b2d30ce7d5cfad/hack/gen-crd-spec/main.go#L30). CRDs generated this way are not versioned, and probably `kubectl explain` expects a versioned CRD.

I believe this was done for comp

[2020-10-05 19:20] jfroche commented on #4487
Yes the app diff contains the two extraneous secrets. Here is the application diff:
![image](https://user-images.githubusercontent.com/207369/95121992-24bbd600-0750-11eb-9ed6-6b37c4c1382a.png)

Here is the diff of one of the extraneous secret:
![image](https://user-images.githubusercontent.com/207369/95122143-5d5baf80-0750-11eb-95c4-e02156c8e66e.png)

[2020-10-05 20:20] vjove commented on #4284
This is a very nice addition. Unfortunately it won't help in our case where we have a single cluster with +1000 apps.
Another idea is to allow selecting a specific controller in the App resource by means of an annotation (similar to sync-wave).
If Apps are generated automatically from a process (like in our case), then we could implement a more suitable sharding strategy.

[2020-10-05 20:57] jessesuen commented on #4480
Error is: `exit status 1: Error: found in requirements.yaml, but missing in charts/ directory: jfrog/artifactory-oss" `

I feel like there was another recent issue with a similar message. It implies we don't run `helm dep build` correctly.

[2020-10-05 20:59] #4483 closed

[2020-10-05 21:00] jessesuen commented on #4486
This error is the one which is returned from Kubernetes and not Argo CD.

Could you try `kubectl apply` manually and see if that works?

[2020-10-05 21:05] jessesuen commented on #4487
These annotations are supposed to be put on the resources you want to ignore and avoid pruning, not on the application spec.

[code]

How did these resources end up with the Argo CD tracking label? Were they at one point deployed using Argo CD?

[2020-10-05 21:07] jessesuen commented on #4488
I think it's time we can bump up our minimum version to support this use case.

[2020-10-05 21:16] jfroche commented on #4487
The extra resources are created by the operator so we have no control on their content (they are recreated by openshift if we try to remove them). Is there a way to exclude them in argocd from the application as we have no control on their content ?

I will do maybe a PR to improve the documentation because `This can be done by adding this annotation:`in https://argoproj.github.io/argo-cd/user-gui

[2020-10-06 01:37] keithchong opened #4491 "docs: Describe how to pull in gitops-engine changes to ArgoCD"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

There should be developer docs related to updating the go.mod file to pull in the updated version of the gitops-engine to pick up new changes.  That way, contributors can create the `re

[2020-10-06 09:00] jamesla commented on #4438
Ah yes that was it - thanks - will manually create the namespaces for now and wait for 1.7 of the operator - cheers 👍

[2020-10-06 09:00] #4438 closed

[2020-10-06 10:59] #4396 closed

[2020-10-06 11:14] hawksight commented on #4447
@jessesuen is right, this is an issue with how your using helm & parents charts:
https://helm.sh/docs/chart_template_guide/subcharts_and_globals/

If the sealed secret is using the `.Release.Name` in the chart `contra-metabsae` I guess you are trying to input that secret name into values.yaml for the chart `mother`?

What I would probably do is:

- In the child chart `contra-metabase`, use an env

[2020-10-06 13:52] keithchong commented on #3781
This is how the child applications will appear now with the changes.  There is no health status.  You must open the child app to see it's health state.

<img width="703" alt="StatusRemoved" src="https://user-images.githubusercontent.com/7726022/95210395-751b4e00-07b9-11eb-9f2d-3afff81368bc.png">

[2020-10-06 14:07] keithchong commented on #3781
Hi @alexmt , can this issue now be closed?

[2020-10-06 14:09] gajus commented on #4447
Took me a while to figure out, but @hawksight documented essentially the same solution that I landed on.

[2020-10-06 14:09] #4447 closed

[2020-10-06 15:35] mars64 commented on #4134
Still seeing the issue in `1.7.7`, Chrome `85.0.4183.121` also. Exact error:

[code]

* The error occurs reliably if I input _any_ `namespace` filter. All other filter methods seem to work properly for me.
* To recover, I "delete cookies and all site data" in Chrome, for my internal argocd domain name.
* Also happen in Safari `15610.1.28.1.9`, with the error:

[code]

[2020-10-06 16:13] hawksight commented on #4105
I had a similar issue for the last day or two. I was passing extra config to cert-manager to install into the `cert-manager` namespace. I was constantly get errors about cluster resources not being installable.

![Screenshot from 2020-10-06 09-58-05](https://user-images.githubusercontent.com/11051419/95228147-df9eaf00-07f6-11eb-9159-2df86c74ab39.png)

Resulting in this:
![Screenshot from 2020-10-0

[2020-10-06 16:40] mayzhang2000 commented on #4480
This is what I observed from the log.
[code]

[2020-10-06 17:30] jannfis commented on #4488
After a little more research, I think the root cause is that we generate the spec for the (now deprecated) CRD API `apiextensions.k8s.io/v1beta1`, which is GA as `apiextensions.k8s.io/v1` since K8s v1.16.

By generating `apiextensions.k8s.io/v1` version CRD, we would therefore break compatibility with K8s <= 1.15. Although 1.15 is out of support already, this is probably not a good thing to do. Th

[2020-10-06 17:31] #4491 closed

[2020-10-06 18:23] mayzhang2000 commented on #4480
I tried the following without using ArgoCD and seeing the same error
[code]

[2020-10-06 19:04] abhinavkhanna-sf commented on #2953
is there a way to add it if I am deploying using Helm?

[2020-10-06 20:45] aekrohn commented on #3901
I am also trying to install Hashicorp Vault using ArgoCD. The application has a requirements file pointing to the Vault helm chart repository, and that repo only has the latest version, so an older, working version of the chart and ArgoCD are not compatible for our use case.

Here is the full error given by ArgoCD

[code]

[2020-10-06 20:49] jessesuen commented on #4488
I agree we shouldn't remove support for <= 1.15. One thing I've seen other projects do is to generate two sets of CRDs, the v1 and the v1beta1. controller-tools has an option to generate both in one go. Maybe thats the way we should go?

[2020-10-06 20:58] jessesuen commented on #4480
@abhinavkhanna-sf this seems to just be the behavior of helm, are you able to get this to work without argo-cd?

[2020-10-07 00:36] jgournet opened #4498 "argocd cli: add app restart functionality"
# Summary
Since in the UI, we can restart an application by clicking on the deployment, it would be great to have that same feature in the argocd CLI.

# Motivation
I know the argocd kubectl plugin allows to do that, but we would need to give kubectl rights to our users and automations. At the moment, they don't have direct right access to the kubernetes cluster, but they do have access to argocd

[2020-10-07 02:21] abhinavkhanna-sf commented on #4480
@jessesuen
yes, I tried with helm3 and it works.
It even works in argo-cd if I do a straight install from helm source.  Below is the application.yaml

[code]

[2020-10-07 02:24] abhinavkhanna-sf commented on #4480
@jessesuen
my spidey senses tells me that after downloading the chart, the code  is looking for "jfrog/artifactory-oss-<version>.tgz" file instead it should look for  "artifactory-oss-<version>.tgz"
just like #3981 (normalize the chart name)

[2020-10-07 04:19] alexmt commented on #4498
This is actually supported. The following CLI command restarts all app deployments:

[code]

[2020-10-07 04:38] alexmt commented on #4105
The namespaced mode feature was designed to enable managing resources with namespace permissions only. If namespaces are specified in cluster configuration then Argo CD assumes it cannot manage cluster level resources.

However, it might be useful from a performance perspective to connect several namespaces and cluster level resources. We would need to add a cluster setting that enables/disables c

[2020-10-07 04:54] alexmt commented on #4134
Reproduced that bug with an application which does not have a destination namespace ( namespace field became optional in 1.7 release ). The workaround is to set non-existing namespace name. Fix is on the way: https://github.com/argoproj/argo-cd/pull/4499 . Will cherry-pick into next patch release.

[2020-10-07 04:54] alexmt commented on #4134
@Asuforce , can you please attache error stack trace? Does it look like https://github.com/argoproj/argo-cd/issues/4134#issuecomment-704356296 ?

[2020-10-07 06:42] Asuforce commented on #4134
@alexmt I just checked and it didn't reproduce. I would let you know if it happens again, along with a log.

[2020-10-07 08:18] peterbosalliandercom commented on #3877
We have a lot of resources sub helm charts etc

[2020-10-07 08:19] peterbosalliandercom commented on #3877
We use argo to deploy multiple namespaces with resources in one time.

[2020-10-07 09:38] shokada opened #4500 "Add labels to argocd_app_reconcile"
# Summary
I want to add `dest_name` and `dest_namespace` labels to `argocd_app_reconcile`.

# Motivation
To measure reconciliation performance per `dest_name` and `dest_namespace`.

# Proposal
Modify `controller/metrics/metrics.go` as follows.
[code]

[2020-10-07 09:43] hawksight opened #4501 "directory: false always out of sync (app of apps)"
I asked in [slack](https://argoproj.slack.com/archives/CASHNF6MS/p1601899970315600) channel but didn't see any response. As this is an easy 'fix' for now I happy just to open the ticket and see if I have spotted a bug or not.

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of

[2020-10-07 13:43] hawksight opened #4502 "Allow control of cluster level resources independent of namespace options"
# Summary

ArgoCD should allow some flexibility on managing cluster level resources, independent of what namespaces are selected.

# Motivation

I had an issue deploying cert-manager to a cluster in the `cert-manager` namespace. More details are [here](https://github.com/argoproj/argo-cd/issues/4105#issuecomment-704388745).

It was not apparent from the errors that it was ArgoCD's error, but it ra

[2020-10-07 15:15] mars64 commented on #4134
@alexmt I can at least confirm we _do_ have objects without `destination.namespace`. We're using `appOfApps` to infer namespace such that we don't have to repeat the definition. Thank you so much for the quick ID and turnaround \o/

[2020-10-07 16:26] rajivml commented on #3642
@aistein can we even customize the logo ? Thanks

[2020-10-07 19:43] jsoref opened #4503 "Show object counts in filter drop down menu"
# Summary

Filters from the main applications view shows me counts, but the filters later do not, this is unfair.
![filters -  synced(7); healthy(7)](https://user-images.githubusercontent.com/2119212/95379716-be4fc880-08b3-11eb-9d38-10e8d480e2d9.png)
https://cd.apps.argoproj.io/applications
![filters no counts](https://user-images.githubusercontent.com/2119212/95379687-b4c66080-08b3-11eb-9c5d-cc41

[2020-10-07 20:01] ryancastle commented on #4474
@jessesuen Yes. Argo Rollouts are awesome. This is a slightly different idea. It would be agnostic of the specific rollout mechanism. It's more about providing a general purpose mechanism to transition gradually from one resource set to another one.

[2020-10-07 20:01] #4474 closed

[2020-10-07 20:50] jgournet commented on #4498
Thanks @alexmt - I did not find this one
Closing this

[2020-10-07 20:50] #4498 closed

[2020-10-07 21:24] #4402 closed

[2020-10-07 21:37] jessesuen commented on #4500
Adding these two dimensions will explode the cardinality of this metric, so I don't think this can be a default.

[2020-10-07 21:38] jessesuen commented on #4501
Yes the default is to not recurse. And we use the `omitempty` json tag so when persisting, the field is dropped.  So to workaround this, the solution is to omit the field entirely when you don't wish to recurse.

[2020-10-07 21:39] jessesuen commented on #4501
I marked this works-for-me because just like other kubernetes resources where default value fields are dropped, the application behaves the same way.

[2020-10-07 21:42] jessesuen commented on #4503
Sounds good to me

[2020-10-07 21:51] jessesuen commented on #4480
Which version helm3 are you using? @mayzhang2000 told me it still didn't work in helm3

[2020-10-07 22:00] #4464 closed

[2020-10-07 22:17] jsoref commented on #4503
(fwiw, I don't plan to work on this anytime soon, my guess is it's fairly easy to do as the code is already there.)

[2020-10-07 23:32] mmckane opened #4504 "CLI argocd app sync <app> --retry-limit does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

argocd app sync myapp --retry-limit 5  does not work as expected. It does not seem to retry at all if another sync or operation is in progress. If another sync is running already via au

[2020-10-07 23:33] mmckane opened #4505 "CLI app sync --retry-limit does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

argocd app sync myapp --retry-limit 5  does not work as expected. It does not seem to retry at all if another sync or operation is in progress. If another sync is running already via au

[2020-10-07 23:34] #4504 closed

[2020-10-07 23:34] mmckane commented on #4504
Opened Duplicate due github strangeness

[2020-10-08 00:25] mmckane commented on #4505
Not familiar enough with the code base yet to make a PR to fix this. But to triage this for someone else it appears that the CLI calls this [Function](https://github.com/argoproj/argo-cd/blob/8995d0405af499ab9c4cf11a27696fdb6a0e847f/util/argo/argo.go#L378) which always exits with an error if an operation is in progress.

[2020-10-08 01:03] shokada commented on #4500
@jessesuen
Thanks for the reply.

I understand this.
I'm going to create reconciliation performance per `dest_name` metrics from the log using mtail or something.
https://github.com/argoproj/argo-cd/blob/286f98ba82a03f6f7989d1d177bb2c2d1609d6e1/controller/appcontroller.go#L1005-L1011

[2020-10-08 01:03] #4500 closed

[2020-10-08 02:01] keithchong commented on #4187
Hi @jsoref, @jessesuen , I can take this.

/assign @keithchong

[2020-10-08 02:21] abhinavkhanna-sf commented on #4480
I am using v3.3.4. it even works with 2. see my Application.yaml in above comment. it works in argo-cd when you do direct install from helm, just not as helm dependency

[2020-10-08 05:53] SubhakarKotta opened #4507 "argocd sync is not happening referring base remote repos"
Created base repo:
https://github.com/SubhakarKotta/hello-world-kustomize

Created child repo which uses base:
https://github.com/SubhakarKotta/hello-world-kustomize-preprod

Child repo kustomization.yaml referring the base repo.

[code]
Argocd:
Create Repository:-
https://github.com/SubhakarKotta/hello-world-kustomize-preprod
Create Application:-

[code]
Now when any changes happens to 'https://g

[2020-10-08 05:54] s-u-b-h-a-k-a-r opened #4508 "sync not happening when remote repos are referred in ArgoCD using Kustomize"
Created base repo:
https://github.com/SubhakarKotta/hello-world-kustomize

Created child repo which uses base:
https://github.com/SubhakarKotta/hello-world-kustomize-preprod

Child repo kustomization.yaml referring the base repo.

[code]
Argocd:
Create Repository:-
https://github.com/SubhakarKotta/hello-world-kustomize-preprod
Create Application:-

[code]
Now when any changes happens to 'https://g

[2020-10-08 06:10] #4507 closed

[2020-10-08 06:10] SubhakarKotta commented on #4507
since another issue was opened

[2020-10-08 07:22] Asuforce opened #4510 "Panic occurred when change target revision on web ui"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When I change target revision on web ui, Immediately argocd-server crashes.

**To Reproduce**

change target revision.

**Expected behavior**

do not crush

**Screenshots**

![Screen Sh

[2020-10-08 08:19] Asuforce commented on #4510
Seemed to be this problem
https://github.com/argoproj/argo-cd/issues/4117

[2020-10-08 09:02] #4510 closed

[2020-10-08 09:35] ajitkumar2797 commented on #2593
waiting for some better solution on this

[2020-10-08 10:59] avamonitoring opened #4511 "Upgrade helm2 binary to support deepCopy template function"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-08 12:32] igorcezar commented on #3502
For now there is no version of ArgoCD that allows the creation of CRD using PreSync, is that right?

At least in v1.5 when CRD has PreSync or helm hook, CRD is created in the cluster but the release keeps syncing forever, never creating the others resources.

The enhancement in v1.8 (#4354) will allow CRD to be installed even if there is some hook defined on it? Or it will be needed some feature l

[2020-10-08 16:11] RichiCoder1 opened #4512 "Pull-based Model"
# Summary

Enable a daemon-based pull model where a cluster agent manages diffs and reconciliation, and applies changes rather than the central Argo App.

# Motivation

With the launch of [Rancher's Fleet](https://rancher.com/docs/rancher/v2.x/en/deploy-across-clusters/fleet/) and [PipeCD](https://pipecd.dev/blog/2020/10/06/announcing-pipecd/), as well as the general friend-of-Argo Flux, there's a

[2020-10-08 16:43] jaideepr97 opened #4513 "UI Input form for helm parameters should be redesigned"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2020-10-08 18:55] mayzhang2000 commented on #4480
When use as git repo, the following helm commands are executed. See logs below. The same error encountered with both helm2 and helm3 without using ArgoCD.

It works when configured as helm repo since different helm commands are executed.

[code]

[2020-10-08 19:08] wouter2397 commented on #4467
@jessesuen Thank you for your quick reply. I finally found some time to verify this configuration and it's doing exactly what I wanted! Thank you for your quick support.

I will close the ticket.

[2020-10-08 19:08] #4467 closed

[2020-10-08 19:27] snuggie12 opened #4514 "API server tries to create "default" appproject on startup even if it exists"
# Summary

Create an option that allows argocd-server to start if it fails to create the `default` `appproject`. I see 3 or 4 different ways to achieve this:
- An option that says "skip creation if default exists"
- An option that says "skip updating if `default` exists but doesn't match the default settings
- Throw a warning instead of not proceeding with the rest of the startup
- (Very specific

[2020-10-08 19:37] snuggie12 opened #4516 "Make argocd-secret in kustomize work with sealed secrets"
# Summary

Somehow allow users to use this repo's kustomize manifests as a remote build but also allow for other tools like sealed secrets to work with the secret `argocd-secret`.

# Motivation

We use `github.com/argoproj/argo-cd/manifests/cluster-install` as a remote base in kustomize. This creates https://github.com/argoproj/argo-cd/blob/master/manifests/base/config/argocd-secret.yaml which is

[2020-10-08 20:38] jessesuen commented on #4505
This is actually unrelated to `--retry-limit`.  The error is `another operation is already in progress`, which is current design of Argo CD (we do not allow two operations to happen, nor do we allowed operations to queue up).

The workaround for this is:

[code]

[2020-10-08 20:40] jessesuen commented on #4508
This is current design. Argo CD caches the state of manifests by the commit hash (default 24h). If your remote base changes meaning within those 24 hours, it will not be detected unless a force refresh is performed.

We actually discourage this pattern where the remote base can change meaning since it is not gitops friendly (e.g. rollback is no longer deterministic).

[2020-10-08 20:43] jessesuen commented on #4511
We'll upgrade helm in next release (but not v1.7). Another workaround (in addition to updating the chart) is to customize the tool to get newer helm2 version.

[2020-10-08 20:48] jessesuen commented on #4512
With the new sharding feature coming in v1.8, the groundwork for this is starting to become possible. But, there would be a ton of extra effort surrounding the agent-controlplane communication, update and maintenance considrations.

[2020-10-08 20:50] jessesuen commented on #4513
I think the train for modifying the API spec has already left, but I believe the experience of what you are asking for should be achievable via UI changes alone.

[2020-10-08 20:54] RichiCoder1 commented on #4512
Absolutely, and may be out of scope or too large and effort. Was curious about starting a discussion though.

[2020-10-08 21:07] jessesuen commented on #4480
Yes this is our observation. We expect this to work as a dependency, but it does not (unlike most other helm charts). I think this may be an issue with the upstream chart. Can you check with upstream chart maintainers on why this doesnt work? (e.g. helm template doesnt work even without Argo CD).

[2020-10-08 21:28] jessesuen commented on #1483
Working on this in https://github.com/argoproj/argo-cd/pull/4497

[2020-10-08 21:29] jessesuen commented on #1483
Changes required:

1. Pod InfoItems need to be populated with Node information:
https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/types.go#L968
https://github.com/argoproj/argo-cd/blob/master/controller/cache/info.go#L167

2. New endpoint in API server to return nodes associated with an application.

[2020-10-08 23:21] rbreeze commented on #4476
Which Kubeflow manifest are you using? Do you have any other applications that cause this behavior?

[2020-10-09 03:48] keithchong commented on #4187
This also can be reproducible simply by resizing the browser and making its width as small or narrow as possible.  This exposes another issue with the layout and the `Sync` legend overlaps with the `Health` pie chart.

![Screen Shot 2020-10-08 at 11 47 25 PM](https://user-images.githubusercontent.com/7726022/95541175-a7e36300-09c0-11eb-9fe8-9072d01784d5.png)

[2020-10-09 03:54] keithchong commented on #4187
Here is a demo of the proposed new layout.  Note that the summary section on the left side does not take as much space.

[4187-ResizeRelayout.zip](https://github.com/argoproj/argo-cd/files/5352425/4187-ResizeRelayout.zip)

Compare it with the current behaviour by going here:

https://cd.apps.argoproj.io/applications?view=summary

[2020-10-09 04:22] igaskin commented on #4503
how do you find all these things? You certainly have an eye for detail.

[2020-10-09 04:39] jsoref commented on #4503
I'm a power user of anything/everything I use. I've been using software for decades. I also have a fairly good sense of how things work and thus can generally guess how they're likely to break. It helps that I build a mental model of things as I use them and then expect consistency as I go forward. I try to stop whenever something violates my expectations, but often it'll take me a couple of round

[2020-10-09 05:25] SubhakarKotta commented on #4508
Thanks for your reply. Means the base repository sync happens only after 24 hours ?. I tried doing force refresh but still the sync hasn't happened.

[2020-10-09 07:26] peterbosalliandercom opened #4519 "Openshift authorization.openshift.io resources are not clickable in list view and not visible in tree view and not syncable"
With argocd version 1.7.7 we experience the following.

The following resources (openshift resources in this case) are not clickable
![image](https://user-images.githubusercontent.com/9946020/95554845-2831b480-0a11-11eb-8f01-ae8de58ffd43.png)

and then not visible at all in the tree view.
![image](https://user-images.githubusercontent.com/9946020/95554868-3253b300-0a11-11eb-93e6-8bd931e7ddf2.png)

[2020-10-09 07:29] Subreptivus commented on #4476
This one with some customizations: https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml

Yes I do, unfortunately I can't share them, for now those are close sourced.

[2020-10-09 07:54] peterbosalliandercom commented on #3474
I would like to add the following suggestion. If you set a sort of scrape label like prometheus has on the namespace i.e. `argocd-scrape: true` then it is fully customizable.

[2020-10-09 08:58] peterbosalliandercom opened #4520 "Manipulation of argocd possible through third party scripts"
We have the following finding from our pentesters, we like to know what can be done to mitigate the risk

**Description**
JavaScript code from external domains is included in several parts of the website. In
two cases, JavaScript from an external domain is loaded to offer a user interface for
the API.
Included JavaScript executes in the security context of the including website. If the
external ho

[2020-10-09 08:59] hawksight commented on #4501
Thanks @jessesuen for replying. Is this documented anywhere? Only i found it difficult to find anything that referenced to what you mentioned.

I think in a normal argocd application, there wouldn't be an issue, as the key is dropped then diffed and not cause a sync issue.
But with app-of-apps its going to continually re-sync the exact yaml file across in the declarative setup. So that includes wi

[2020-10-09 11:42] jaideepr97 commented on #4513
Yes @jessesuen, wasn't suggesting any changes to the API spec, just the logic that's generating an incorrect manifest

Could you assign me or @tetchel to this?

[2020-10-09 11:43] hintofbasil opened #4521 "Apply only out of sync objects with auto sync"
# Summary

Currently when syncing using auto sync ArgoCD applies every object in the application.  For applications containing thousands of objects this takes quite a long time as puts undue pressure on the api server.

A setting in the `syncPolicy` stanza which allowed auto sync to only apply out of sync objects would mitigate this.

We are running v1.6.2

# Motivation

Currently we have multiple

[2020-10-09 11:44] storm1kk commented on #2785
Still relevant, it can help us to reinforce security in the multi-tenancy environments.

[2020-10-09 13:45] caseyclarkjamf commented on #4502
I think we're running into this exact issue for CustomResourceDefinitions. The jaeger-operator Helm chart requires a CRD to be installed while everything else can be installed to a namespace. The CRD deploys fine with Argo CD as part of the jaeger-operator Helm chart (after we gave the namespaced Argo CD ServiceAccount permissions to deploy CRDs) but afterwards Argo CD always shows that CRD resour

[2020-10-09 13:47] keithchong commented on #4187
Thanks for the thumbs up @jsoref.  @alexmt, if you like this new layout, I will submit a PR for it.

[2020-10-09 14:42] gaganhegde commented on #4230
Hey @jessesuen , would like to address this issue.

[2020-10-09 15:37] mmckane commented on #4505
So we are using that workaround but are still seeing errors 10-20% of the time in our pipeline. I was hoping this switch would help. Is there any plans to allow queuing or retry logic into the cli in the case a pipeline hits this error?

Is the solution to just turn of autosync so our deploy pipeline doesn't take this error, or are there other operations that could also result in this error?

[2020-10-09 16:13] #4312 closed

[2020-10-09 16:14] musabmasood opened #4522 "Show application diff with custom branch in UI"
# Summary

I would like to see application diff with my custom branch in the UI without actually updating the application definition.

# Motivation

When making changes in the CI, reviewers should be able to compare the desired change with the live cluster state easily. The only way to do this right now is to actually update the application's target revision to your custom branch which is not what

[2020-10-09 16:35] alexmt commented on #4187
Thank you for attaching the proposed layout video. It looks really good.

[2020-10-09 17:17] #4514 closed

[2020-10-09 18:25] rbreeze commented on #4476
Does the UI crash for both the networking and resource tree views, or just the resource tree view?

[2020-10-09 19:08] #4187 closed

[2020-10-09 19:36] dpennell commented on #3181
This works for app of apps where all of the children are apps.  If any of the children are simple resources (e.g. Secret), the end up being created in the local cluster and not the external one.

[2020-10-09 20:16] #4284 closed

[2020-10-09 20:21] #4227 closed

[2020-10-09 20:36] jessesuen commented on #4519
Could you share anything from the chome console when clicking on the resource? Is there an exception?

[2020-10-09 20:38] jessesuen commented on #4519
Not sure if you can share, butt what would also really help is the `/resource-tree` API payload response returned, which you can get from the developer console. You will want to redact information from that.

[2020-10-09 20:41] jessesuen commented on #4520
We have plans on switching off the redoc UI, so this particular piece of software will change.

A workaround would to be disabling this completely for example using a ingress rule that matches /swagger URLs to a 404.

[2020-10-09 20:43] #4384 closed

[2020-10-09 20:45] jessesuen commented on #4521
I think this proposal seems reasonable.

[2020-10-09 20:46] jessesuen commented on #4522
I think this has been requested before. There may be another issue for this.

[2020-10-09 20:47] #4238 closed

[2020-10-09 21:02] jgwest commented on #4513
@jaideepr97, just so we're on the same page:

**Values Files**: This row allows the user to select an existing values file in the git repository, and use that file as the user-supplied values file.

**Values**: This row allows the user to specify the contents of a Helm values files (eg in YAML, not strictly key-value pairs) file, passes that values file to `helm template` using `--values` (the man

[2020-10-09 22:34] amazingandyyy commented on #1809
Hi, I need to create a configmap before my presync job run, seems like the same issue as here, any ideas?

[2020-10-10 00:52] keithchong commented on #4393
Hi @alexmt, @jessesuen , I could start on the initial automated UI tests using selenium-webdriver.   This item could be divided into a couple of child items IMHO.

[2020-10-10 03:34] rajivml commented on #3642
@aistein @alxmt @astein-te sorry for bugging, can you please let me know if it's possible to change the logo as well , right now am working on a POC where we are evaluating various opensource tools to deliver our SaaS software onto onprem and re-branding is one important criteria over there

[2020-10-10 04:20] wtam2018 commented on #1816
https://github.com/argoproj/gitops-engine/pull/160 has been submitted to gitops-engine.

[2020-10-10 06:35] servo1x commented on #2730
This would also be useful for CRDs that are very large.

[2020-10-10 08:42] jgwest opened #4528 "Recent change to webpack proxy URL breaks proxying when running within container"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [

[2020-10-12 07:09] Subreptivus commented on #4476
As the default view is tree one, hence it's surely happening on tree view. But I can't really tell about networking one, because there is no ability to change the view at all. Basically when I'm clicking on the application in application list view to go to application details page, just after a fraction of a second crash happens. Sometimes I can see some of the resources which are trying to be ren

[2020-10-12 07:23] runzexia commented on #3837
We have also encountered such a problem.

Our deployment process is divided into the following steps.
1. create db
2. run db migrate job
3. deploy serverless workload

Because our workload is serverless, we need to complete the initialization of the database at deployment time and cannot use init container

[2020-10-12 07:25] runzexia commented on #3837
cc @alexmt @jannfis

[2020-10-12 07:47] peterbosalliandercom commented on #4519
![image](https://user-images.githubusercontent.com/9946020/95719348-f79b8600-0c6f-11eb-9323-85d778741699.png)

[2020-10-12 07:57] peterbosalliandercom commented on #4519
![Uploading image.png…]()

[2020-10-12 08:19] peterbosalliandercom commented on #4519
![image](https://user-images.githubusercontent.com/9946020/95722522-5662fe80-0c74-11eb-9458-407b769c5d56.png)

[2020-10-12 09:52] chetan-rns opened #4534 "Argo CD UI fail to delete apps that has no cluster URL"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-12 09:53] chetan-rns commented on #4534
I suspect it's because of the cluster URL missing in `application.spec.destination.server`. When the user selects a cluster name, the UI can also add the respective cluster URL behind the scenes.

[2020-10-12 11:45] peterbosalliandercom commented on #4519
I have tested with a rolled back version argocd 1.6.1 and there it still works fine
![image](https://user-images.githubusercontent.com/9946020/95742959-33931300-0c91-11eb-96b5-2d5ffa698ecb.png)

[2020-10-12 12:08] jaideepr97 commented on #4513
@jgwest
I see what you're saying from the perspective of how the backing code works for this, but from a user-experience perspective I'm not sure I fully understand what the purpose of this field is and what problem it's solving
If a user has an existing ```values.yaml``` file with predefined parameters, and they want to append some more parameters to that file, wouldn't it be easier for them to i

[2020-10-12 12:22] peterbosalliandercom commented on #4519
We get this error: {"error":"RoleBinding authorization.openshift.io jenkins-deploy not found as part of application openshift-generic-vs-ocp-dev-nb","code":3}

[2020-10-12 12:30] peterbosalliandercom commented on #4519
Looks to me that the group is not supported? Was looking in the source code:
https://github.com/argoproj/argo-cd/blob/master/server/application/application.go

	found := tree.FindNode(q.Group, q.Kind, q.Namespace, q.ResourceName)
	if found == nil {
		return nil, nil, nil, status.Errorf(codes.InvalidArgument, "%s %s %s not found as part of application %s", q.Kind, q.Group, q.ResourceName, *q.Name)

[2020-10-12 12:39] charlesguo404 commented on #3975
same problem with github Oauth
istio version: 1.4.6
argocd version: 1.7

[2020-10-12 12:58] peterbosalliandercom commented on #4519
The resource-tree does not return authorization.openshift.io as part of the tree, but it does return the rbac.authorization.k8s.io. Is there any reason for that? Don't know if this has to do with Openshift (we are running 4.5.9 now) . Could you please explain how this resource-tree is populated? We do not use any rbac rules. We are using these ones:   policy.csv: |
    p, role:org-admin, applicati

[2020-10-12 13:38] rayanebel opened #4535 "ArgoCD 1.7.6 updating allowed namespaces for a cluster from the UI broke the cluster config"
**Describe the bug**

Hi,

I'am trying to deploy a new instance of argocd _(1.7.6)_. I know that when argocd is installed, it create a new cluster object for it's own kubernetes cluster _(in-cluster)_ and by default this cluster use the service account of `application-controller`. Now, I would like to overwrite it and replace the default service account to use another one.

@alexmt already explain

[2020-10-12 13:41] BostjanBozic commented on #3602
I am not sure if I understood correctly, but to my understanding `ignoreAggregatedRoles: true` sets ArgoCD to ignore OutOfSync for `ClusterRoles` that have `aggregationRule` parameter set, right?
Since I am running into same issue - I am trying to sync some aggregating ClusterRoles and they get synced, but stay in OutOfSync (requires pruning) status (using Argo v1.6.1).

[2020-10-12 14:04] rayanebel opened #4536 "Argocd 1.7.6 - Unable to update namespaces list from the UI for an external cluster"
**Describe the bug**

Hi,

I'm trying to deploy a new instance of argocd in my kubernetes cluster. When I've finish the installation I've added a new external k8s cluster by creating a new secret.

Now in the UI, I saw my external cluster but with an `Unknown state` and with this message in the details:

`Cluster has no application and not being monitored.`

My first question is why I have this me

[2020-10-12 15:01] viggeh opened #4537 "ArgoCD not reporting diff in environment variable configuration"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-12 17:56] guigo2k opened #4539 "ArgoCD fails to add a K3S cluster"
I'm trying to add a `k3s` cluster to ArgoCD.

**To Reproduce**

1. Create a single node `k3s` cluster.
[code]

2. Copy `/etc/rancher/k3s/k3s.yaml` to your machine as `k3s.yaml` and replace `localhost` with the IP of your K3s server.

3. Add the `k3s` cluster to ArgoCD.
[code]

**Expected behavior**

Cluster is added successfully.

**Version**

[code]

**Logs**

[code]

[2020-10-12 23:07] davidkarlsen commented on #2785
Related: https://github.com/argoproj/argo-cd/issues/3474

[2020-10-12 23:40] tetchel commented on #4528
this should be resolved now

[2020-10-13 04:54] #4459 closed

[2020-10-13 06:22] shivpathak opened #4540 "ArgoCD not reporting diff in configMap object"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-13 06:59] foxracle opened #4541 "fails to parse json when argocd handle jsonnet with a shared libary"
I follow the step from this page to deploy jsonnet withe argocd:
https://github.com/prometheus-operator/kube-prometheus/tree/master/examples/continuous-delivery/argocd

argocd version:
I tried both 1.7.3 and 1.7.7, both can not work

**Describe the bug**
here is my content of my git. and the vendor dir and json files(jsonnetfile.json and jsonnetfile.lock.json) are created with jb install command:

[2020-10-13 07:19] timecast opened #4542 "I can login to ArgoCD UI even if user is created as apiKey only"
Hi,
I've created a local user with apiKey only option but still can login via UI. I've expected that this is not working

**how to reproduce:**
- edit cm/argocd-cm and add a user with apiKey
- change/update password
- login via webUI

**Version**
deployed wiht helm chart:
- chart version: argo-cd-2.9.0
- app version: 1.7.6

[code]

**Logs**

[code]

[2020-10-13 07:23] timecast commented on #4542
something that might help:
[code]
the detailed information seems to show the wrong capabilities

[2020-10-13 07:33] #4539 closed

[2020-10-13 09:38] hawksight commented on #4502
@caseyclarkjamf I think you're right that for any sort of operator this is problematic. Usually most work at a cluster level and implement whatever that custom resource needs.

I guess the current workaround is to go and manually configure the RBAC rules once argocd adds a cluster.

Does anyone know if you can declaratively add a cluster?
If there was a specification or some yaml, maybe rather tha

[2020-10-13 10:16] k9ert commented on #4059
Passing valueFiles from a different repo (than the chart-repo) doesn't seem to be possible currently. See #2719 and #2789 .

For a workaround, see https://argoproj.slack.com/archives/CASHNF6MS/p1601978216357200

[2020-10-13 10:22] ofirshtrull opened #4543 "Adding custom app-resync refresh interval per application"
# Summary

now in order to change the refresh interval, we need to add app-resync somewhere in the system
I couldn't find anywhere the option to have a custom interval per application

# Motivation

I have some applications where I prefer to change interval to every minute

# Proposal
How do you think this should be implemented?
maybe in the application CRD the option for reference interval

[2020-10-13 13:51] #4528 closed

[2020-10-13 16:28] shashanklmurthy commented on #4460
Mind telling me what those configurations were?

I'm getting the exact same error 😭 !

[2020-10-13 19:00] jgwest opened #4546 "Data races detected while running 'server/application' unit tests"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

There are a couple of data races that are reported by the go race detector, when running the `server/application` unit tests with race detection enabled.

Tested against recent master.

[2020-10-13 20:18] raogayathri opened #4548 "ArgoCD Memory Spike while syncing custom resource"
I am using ArgoCD version 1.5.1. I am seeing a spike in memory consumption by the application controller while syncing the custom resource. I would like to understand what causes this behavior and also get the fix for it.

[2020-10-13 20:23] robertrbruno opened #4549 "Pods ending up on the same node"
Found that if all pods end up on the same node (just happened to me) nothing works well at least on our cluster due to hairpin issues.  Any chance the yaml could have anti-affinity set for the pods so they don't end up on the same node by accident?

[2020-10-13 20:39] jessesuen commented on #4534
@chetan-rns would you like to take this?

[2020-10-13 20:40] jessesuen commented on #4535
This is a duplicate to something that will be fixed in v1.8 (alex will find the dup)

[2020-10-13 20:41] jessesuen commented on #4536
Variation of the same duplicate

[2020-10-13 20:43] jessesuen commented on #4537
This is expected. Argo CD behaves the same as kubectl diff, which would also not report the difference. Out-of-band edits of the environment variable list would be considered the same as a "defaulted" field, and not detected as a diff.

[2020-10-13 20:46] jessesuen commented on #4541
Duplicate of https://github.com/argoproj/argo-cd/issues/4432. Will be fixed in 1.7.8.

[2020-10-13 20:46] #4541 closed

[2020-10-13 20:49] #4546 closed

[2020-10-13 20:51] jessesuen commented on #4548
We addressed a lot of memory issues in v1.7. There were improvements when introducing CRDs into the cluster. Please try updating to see if the problem still exists. Closing for now.

[2020-10-13 20:51] #4548 closed

[2020-10-13 20:53] jessesuen commented on #4549
We have anti-affinity for the redis pods, but no repo-server or argocd-server. I suppose since we are doing it for redis, we can do it for the others. I think `preferred` is preferable than the hard requirement.

[2020-10-13 20:55] jessesuen commented on #4540
See explanation here : https://github.com/argoproj/argo-cd/issues/4537#issuecomment-707997759

[2020-10-13 20:55] #4540 closed

[2020-10-13 21:42] viggeh commented on #4537
Thank you for your reply and clearing things up!

It might make sense to be able to configure an application to pick up drift like this from manual changes but that might be a non-trivial change.

[2020-10-13 23:52] alexmt commented on #4405
Unfortunately PATCH requests with [grpc-gateway](https://grpc-ecosystem.github.io/grpc-gateway/docs/patch.html) and [gogo/protobuf](https://github.com/gogo/protobuf) are not supported.

The grpc-gateway requires to use well known type using `Mgoogle/protobuf/field_mask.proto=github.com/gogo/protobuf/types` and grpc-gateway "not entirely obey the -M parameter ": https://github.com/grpc-ecosystem/gr

[2020-10-13 23:53] #1816 closed

[2020-10-14 00:11] jgwest opened #4550 "Data race in SettingsManager.GetRepositories(), via util/db unit tests"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.

`GetRepositories()` in `SettingsManager` (`util/settings/settings.go`) is making an unsynced check on its internal `reposCache`. See data race log below.

To reproduce:
[code]

Reproduced on recent `master`.

### Data race in `GetRepositories()`:

`GetRepos

[2020-10-14 01:40] wtam2018 commented on #4236
Please assign to @wtam2018 .  I will take a look.

[2020-10-14 02:42] foxracle commented on #4378
we have the same problem when I install the eck 1.2.1 with the same crd: https://download.elastic.co/downloads/eck/1.2.1/all-in-one.yaml

can not work with the same ignoreDifferences config as @irizzant

ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: beats.beat.k8s.elastic.co
    jsonPointers:
    - /spec/validation/openAPIV3Schema/properties/spec/p

[2020-10-14 04:44] foxracle commented on #4378
@jessesuen  any point why ignoreDifferences here did not work?

[2020-10-14 05:03] alexmt commented on #4536
Closing as duplicate of #4405 (fix is on the way: https://github.com/argoproj/argo-cd/pull/4553)

[2020-10-14 05:03] #4536 closed

[2020-10-14 05:03] alexmt commented on #4535
Closing as duplicate of #4405 (fix is on the way: https://github.com/argoproj/argo-cd/pull/4553)

[2020-10-14 05:03] #4535 closed

[2020-10-14 10:37] ofirshtrull commented on #4460
@shashanklmurthy They didn't add groups to the application

[2020-10-14 11:25] peterbosalliandercom commented on #4520
Does this mean that argocd is not depending on any other third party scripts in the future? Any idea when?

[2020-10-14 12:07] esys commented on #1105
@toninis did you make this work?
I have the same error using a wrapper script, did your suggestion to install `helm secrets` as the argocd user in the Dockerfile. One thing I don't understand is that when I `kubectl exec` to the argocd server pod, the helm secrets wrapper seems to be working. But when argocd run the helm template command, it seems to still use the non-wrapped helm binary.

[code]

[2020-10-14 12:25] amitkrout opened #4554 "Awesome to have a test specific label"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.
When we use enhancement label, it looks like too generic. As a test contributor i would be happy to search test related task using label something like ```enhancement-test``` or may be  ```enhancement-testing```

# Proposal

How do you think this should be implemented?

[2020-10-14 12:34] dewan-ahmed commented on #4393
I can take on the CLI testing part. @jessesuen please let me know if there will be a separate task for CLI testing.

[2020-10-14 12:40] jannfis commented on #4520
@jessesuen For when it is planned to get rid of the Redoc UI? I think there's a pretty simple, non-intrusive solution to serve the Redoc JavaScript from Argo CD itself.

[2020-10-14 13:16] #4550 closed

[2020-10-14 14:06] tetchel commented on #4001
is this complete?

[2020-10-14 14:21] gaganhegde commented on #4001
Yes, its Merged  @tetchel

[2020-10-14 14:30] bigkevmcd opened #4555 "Settings parsing incorrectly parses empty strings into nil maps"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
If a configmap key is an empty string, then it's parsed as YAML into a _nil_ map.

https://github.com/argoproj/argo-cd/blob/master/util/settings/settings.go#L472

[code]

A clear and con

[2020-10-14 14:41] conhumi commented on #3573
I have tried it with v1.7.1 / v1.7.7 and think it has the same problem.

[2020-10-14 14:49] Prototik commented on #4358
That's fixed by 3ae1d13dfd541c34a2b970b7a6d8f32f2369d31a

[2020-10-14 14:49] #4358 closed

[2020-10-14 15:11] Timoses commented on #4344
@jessesuen  Does this also apply when the SSO host is using a certificate from a private/custom CA? If not, how would one permit the CA? [This](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#repositories-using-self-signed-tls-certificates-or-are-signed-by-custom-ca) sounds like it only applies to repositories.
Background: We face this problem occasionally right after deployi

[2020-10-14 15:55] jutley opened #4558 "New Applications with misconfiguration show up as "Healthy""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When a new Application is created in a configuration that produces an error when generating the manifests, the Application misleadingly reports as Healthy. When we create a new Kubernet

[2020-10-14 17:32] #4534 closed

[2020-10-14 17:45] #4405 closed

[2020-10-14 18:05] jgwest opened #4561 "Data race in SettingsManager.GetRepositoryCredentials()"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.

### Describe the bug

A clear and concise description of what the bug is.

`SettingsManager.GetRepositoryCredentials(...)` in `util/settings/settings.go` contains a data race (see log below). This fix for this is essentially the same as https://github.com/a

[2020-10-14 18:31] #4542 closed

[2020-10-14 18:34] #1787 closed

[2020-10-14 18:37] #4354 closed

[2020-10-14 19:11] alexmt commented on #4393
Ops, missed your message @keithchong . Please go ahead.

@dewan-ahmed is it ok to use this ticket to track CLI and UI testing, and coordinate in comments? I can create separate ticket otherwise .

[2020-10-14 19:13] alexmt commented on #4358
thank you for updating the issue @Prototik !

[2020-10-14 19:15] #4555 closed

[2020-10-14 19:20] dewan-ahmed commented on #4393
Hi @alexmt that's fine; I'll use this same issue to ask questions and track the work.

[2020-10-14 19:46] tetchel commented on #2928
From above, it looks like this is complete

[2020-10-14 19:52] tetchel commented on #4060
@manuNCL have you made any progress on this? otherwise, I will look into improving the applications 'list' view to include sorting.

[2020-10-14 20:38] jessesuen commented on #4554
We just created component:test label for this:

https://github.com/argoproj/argo-cd/labels/component%3Atest

Thanks for the suggestion!

[2020-10-14 20:38] #4554 closed

[2020-10-14 20:40] jessesuen commented on #4558
This is expected behavior. Health and Sync status are orthogonal status which do not affect each other. e.g. you can have a completely healthy/running app, but if git is not reachable then we will still report it as healthy.

I think the one exception is that we will show applications which have missing resources as a Missing health status.

[2020-10-14 20:41] #4558 closed

[2020-10-14 20:45] manuNCL commented on #4060
@tetchel feel free to work on this. I've got caught up with work stuff and could not look into this.

[2020-10-14 20:48] jutley commented on #4558
I understand that this is the current expected behavior, but I think it is a design flaw and a bug from a UX perspective. The application shows green in the list of applications even though there is clearly something wrong. If Argo CD is unable to generate an expectation of what the current state _should_ look like, how can it conclude that the application is healthy overall?

[2020-10-14 20:55] rbreeze commented on #4476
Would you mind including the dev console output when you get this error, and the API response from the `resource-tree` endpoint?

If either contains sensitive information, feel free to reach out to me in the [Argo Project Slack channel](https://argoproj.github.io/community/join-slack)

[2020-10-15 02:34] charles-woshicai opened #4570 "Add authentition config for /api/version"
# Summary

Add authentition config to control whether enable `AuthFuncOverride` for the API of `/api/version`

# Motivation

At present we could call `/api/version` without signing in, which means anonymous user could get information of go version, argocd version, etc. Those information might help someone to hack the server, which is dangerous.

# Proposal

Add a config switch in `values.yaml` to

[2020-10-15 07:31] shokada opened #4572 "CLI argocd app patch remove does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

annotations are not removed by `argocd app patch prober --patch='[{"op": "remove"}]'`.

**To Reproduce**

[code]

**Version**

[code]

**Fix**

I have confirmed that initializing `app`

[2020-10-15 09:27] gymlt commented on #2730
+1 on this issue.
ConfigMap "grafana-dashboard-redis-haproxy" is invalid: metadata.annotations: Too long: must have at most 262144 bytes

[2020-10-15 09:49] gnu300 commented on #2730
+1

[2020-10-15 09:50] Keralin commented on #4428
I'm using ArgoCD 1.7.7 version and this behaviour it's happenning.
[code]

And the answer from ArgoCD stills like @MeNsaaH
[code]

[2020-10-15 10:33] imrenagi opened #4573 "Cant create new argocd application by using argocd cli"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

when run `argocd app create`, we got this error:
[code]

However when we run the other command like
[code]
This command works as expected

**To Reproduce**

we run
[code]
it returns
[co

[2020-10-15 11:18] #4561 closed

[2020-10-15 12:30] jannfis commented on #4573
I think this might be related to logging in JSON format, therefore this issue might be a duplicate of #4117. It has been fixed, but not released yet.

@alexmt we might want to cherry-pick #4319 into 1.7 branch, what do you think?

[2020-10-15 12:49] dewan-ahmed commented on #4393
These are the steps I'm planning for CLI testing part:

Pseudo script for `argocd app create`
1. On a container, install all pre-reqs including k3d and spin up an argocd instance.
2. execute `argocd app create`
3. From the docs, understand what could be the validation after the above command executes e.g. some specific pods would be created. The script will query for those resources for the test t

[2020-10-15 15:02] OmerKahani commented on #4522
Using application set, it's very problematic to change the application manifest. This proposal will solve this :)

[2020-10-15 15:38] hintofbasil commented on #4521
Yes, this also happens with manual sync.
It even happens when the only change is deleting objects.

[2020-10-15 16:05] chris-downs opened #4576 "Web UI - Cannot add helm values file in New App"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

In the initial `+NEW APP` slideout in the UI, you are unable to enter a custom entry in the Helm `VALUES FILES` field. It looks as though you need to press enter for the value to be acc

[2020-10-15 16:53] hintofbasil opened #4577 "Sync waves complete when objects are still "Progressing""
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a
question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2020-10-15 18:03] tetchel opened #4578 "Possible release process for argo-ui"
ArgoCD always pulls the master version of argo-ui, which is somewhat risky if breaking changes go into argo-ui, which means argo-ui `master` has to be highly stable.

Short of a proper semantically versioned release cycle, one easy way to stabilize this dependency is to create a 'stable' branch which is manually rebased on the development branch. The development branch in GitHub terms would be the

[2020-10-15 18:39] RichiCoder1 commented on #4578
Is there a reason not to publish the UI project as a normal NPM package, and then automate bumping it via Dependabot/Renovatebot? It would be as seamless, but it align more nicely with how other projects tend to manage this short of thing.

[2020-10-15 18:44] RichiCoder1 commented on #4513
Honestly, my vote is both. There are times I want to (via automation or manually) specify the value for a single key, but there are also times it's clear to paste in a yaml values block.

[2020-10-15 20:01] eroji opened #4579 "Question: Backup HA ArgoCD deployment configuration for migration"
I'm looking for the procedures to migrate an existing HA ArgoCD deployment deployed to Kubernetes to a different cluster. Looking up the documentations [this](https://argoproj.github.io/argo-cd/operator-manual/disaster_recovery/) is the closest thing I found, although I am not clear by just reading this page. Can someone give me a rundown of what is the correct way of doing this? I imagine there a

[2020-10-15 20:09] rbreeze commented on #781
@szalapski What do you mean by keeping the window stable? That the logs should not move when new lines are written?