[2021-08-10 02:23] alexmt commented on #6922
Fixed by https://github.com/argoproj/argo-cd/pull/6938

[2021-08-10 02:23] #6922 closed

[2021-08-10 06:47] jannfis commented on #4110
It is not easy to come with a one-size-fits-all recommendation (and that's why we don't deliver resource limits by default), because the requirements vary on a lot of factors.

For the application controller, you need to consider at least the following variables:

* How many applications are being managed?
* How many clusters are being managed?
* How many APIs and resources are there in any of the

[2021-08-10 09:10] jetersen commented on #6707
I think we are seeing this in the argocd v2.1-rc2 😅

[2021-08-10 09:12] jetersen commented on #6707
Similar but not quite:

[code]

[2021-08-10 10:26] spirosoik commented on #4441
@jannfis I think we can close this.

[2021-08-10 11:41] cpflaume commented on #4997
I would appreciate a feature like this too. It would help us to implement a more sophisticated alerting on this metric.

[2021-08-10 12:18] ghost opened #6940 "It is impossible to override an ingress annotation with helm."
We try to override a chart helm by modifying an ingress annotation.

[code]

When we try with the above syntax we have an error since helm can not template.

For this to work with a helm template, we need to escape the point of the last block of our annotation.

[code]

But when we add the double escape directly in our yaml, argocd interprets it as a new annotation which is not the desired behavio

[2021-08-10 14:45] GagarinX opened #6942 "Perform a diff against the live state and a particular revision of a helm app with new values"
# Summary

There should be a possibility to perform a diff against the live state and a particular revision of a helm app using new values.

For example, I have the following Application deployed:

[code]

Say I want to update the values and see what difference will it make, without pushing the updated Application manifest to the git branch that ArgoCD is tracking (e.g. `main`). So I push the upda

[2021-08-10 15:02] rajdeep2001 commented on #6933
I am getting the same exact error as soon as installed HA version of argocd:-

 $**k logs -f argocd-redis-ha-haproxy-59dfb5c7c7-9wwmr -n argocd**

[NOTICE]   (1) : New worker #1 (7) forked
[WARNING]  (7) : Server check_if_redis_is_master_1/R0 is DOWN, reason: Layer7 timeout, info: " at step 5 of tcp-check (expect string '172.20.58.12')", check duration: 2753ms. 2 active and 0 backup servers left.

[2021-08-10 17:30] jaideepr97 commented on #6215
Hey @TPX01 do you mind sharing some use cases where argo-cd creates its own namespaces? Might help with testing etc

[2021-08-10 17:53] slayer commented on #4979
We didn't experience it anymore.

I am not sure, but I believe we cause of the problem was migrating from non-HA setup to HA without cleanup redis resources.

[2021-08-10 18:26] TPX01 commented on #6215
Sure thing! One of the easiest things to do is use the helm example: https://github.com/argoproj/argocd-example-apps/tree/master/helm-guestbook

Next, when creating the application you can enable the checkbox in ArgoCD (upon creation of the application) to auto-creatie namespaces as depicted in the printscreen.

![Screenshot_20210810-202210](https://user-images.githubusercontent.com/12391965/12891

[2021-08-10 18:29] jaideepr97 commented on #6215
Sure does, thanks!

[2021-08-10 20:14] rwong2888 commented on #6754
@rbreeze , I've found the issue is related to the label `kubernetes.io/cluster-service: "true"` in the configmap, service, and deployment.

However, oddly enough it is fine in the cluster role and cluster role binding.

Any idea why it is causing it to go out of sync?

[2021-08-10 20:37] bgolding355 opened #6944 "content area bleeds through between actions/status bars"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-10 20:56] bgolding355 opened #6945 "Horizontal filters on applications screen waste space"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-10 21:37] bgolding355 opened #6946 "Node list jumping on unschedulable button press"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-10 21:46] bgolding355 opened #6947 "Strange spacing in force delete checkbox"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-10 21:51] alexmt commented on #6945
Agree - I'm trying to improve it in this PR: https://github.com/argoproj/argo-cd/pull/6931#issuecomment-895705410

[2021-08-11 00:10] #6945 closed

[2021-08-11 02:25] #6707 closed

[2021-08-11 02:30] jetersen commented on #6707
@alexmt would appreciate a rc3 if possible? At the moment our argocd is just crash boot looping 😅

[code]

[2021-08-11 06:03] edlee2121 commented on #3269
Done

[2021-08-11 06:03] #3269 closed

[2021-08-11 06:03] edlee2121 commented on #2462
Exists now.

[2021-08-11 06:03] #2462 closed

[2021-08-11 06:45] jetersen commented on #6707
Fixed by deleting the redis pod 😄

[2021-08-11 08:13] alexanderdalloz commented on #6915
Hi @jannfis, thank you for your last comment. It brought me to some new results for which I like to get your opinion and advice.

The exact error message we are seeing in Argo CD comes from this code
[
https://github.com/kubernetes/kubernetes/blob/v1.11.0/staging/src/k8s.io/apiserver/pkg/storage/etcd3/errors.go](
https://github.com/kubernetes/kubernetes/blob/v1.11.0/staging/src/k8s.io/apiserver/pk

[2021-08-11 09:31] kirinnee commented on #5576
Hi this is still causing problems for me

[2021-08-11 09:56] KlavsKlavsen commented on #5107
Seeing as this issue is "resolved" temporarily - by killing repo-server pods, so they get recreated - its clearly a caching problem.
My guess is that reposerver runs Helm in parallel on SAME pod - which Helm does not actually support - and hence once you hit 2 simultaneous Helm runs on same pod - Helm breaks and never recovers from that (due to caching).
A simple "lock" around Helm - ensuring it i

[2021-08-11 10:40] ThoTischner commented on #6719
Can you fix your code block please ?
Why the print ("LUA:CERT") ? Try to remove this line.

[2021-08-11 10:41] ThoTischner opened #6956 "Feat: confluent Health Check"
Summary
Adding a simple health check for the confluent CR

Motivation
Easy visibility for confluent state in the argo UI and the ability to incorporate this CR in sync waves

Proposal
The standard way for CR health checks.

[2021-08-11 11:00] mkasinat commented on #6719
Yes I have removed the print statement and executed the code is it not at all considering even my certificate is unhealthy but still instance is showing as helathy only.i want the custom cert health suppose certificate is unhealthy I want my instance as unhealthy

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ThoTischner ***@***.***>
Sent: Wednesday, August

[2021-08-11 11:06] jkroepke commented on #1364
@Hariharasuthan99

We tried Azure Vault using https://github.com/Azure/secrets-store-csi-driver-provider-azure

It works, but since its way more complex then Sealed Secret, we are going to use SealedSecrets.

[2021-08-11 11:19] raman-nbg commented on #5958
I tried to extend the argocd image and add the gcloud SDK. But I got stuck somewhere...

My `Dockerfile`
[code]

The `get-gcloud-kube-config` script is a basic shell script:
[code]

After that I tried to add a cluster config to argo:
[code]

But I always get the the following error
[code]

Maybe this is somehow related to https://github.com/argoproj/argo-cd/issues/6749?

[2021-08-11 12:27] raman-nbg commented on #5958
@jannfis can you give us some guidance here, please? Or at least do you know somebody who knows somebody...? :)

[2021-08-11 14:12] ciiay commented on #4233
Made a PR to add tooltip for resources and changed ellipsis from end to middle. Bellow screenshot is an example of how it looks like with the change.
<img width="568" alt="Screen Shot 2021-08-11 at 10 09 41 AM" src="https://user-images.githubusercontent.com/26255262/129044745-3c58f4a7-96b3-45e2-b083-cc168a2032a0.png">

[2021-08-11 15:02] veerendra2 commented on #4979
We have same issue after we upgrade our ArgoCD 1.6 to 1.8. Before upgrade I completely removed `application-controller`  and deployed `v1.8`. Is there any fix? or workaround?

[2021-08-11 15:59] jsoref commented on #4233
Looks pretty good, I'm a little puzzled by the `/SERVICE/` vs `APPS/` at the left for the two rows -- I'd expect them to have the same prefix (`/` or not at all).

[2021-08-11 16:03] wtam2018 commented on #2462
It is currently a argoproj-labs project https://github.com/argoproj-labs/argocd-operator.

[2021-08-11 16:07] rwong2888 opened #6958 "label causing sync loop"
tried deploying an application with the helm chart and it sync loops
https://github.com/coredns/helm/tree/master/stable/coredns

the label `kubernetes.io/cluster-service: "true"` in configmap, deployment, and service is causing the application to go out of sync.

when I remove it manually it works.

I tried adding ignore to the application spec, but it did not work.
[code]

[2021-08-11 17:17] alexmt commented on #6707
Ah, I'm a little late. The rc3 is out

[2021-08-11 17:44] alexmt commented on #6707
Sorry, I did not notice that release job failed to create release :( . Fixing it soon

[2021-08-11 17:45] ciiay commented on #4233
@jsoref The beginning of the resource is the real data from test app, I just chained a long string to the end of the original data to simulate a long resource string. Both of the format are very common in the demo app. Please refer this demo link to confirm. Thank you.
https://cd.apps.argoproj.io/applications/istio-operator?resource=kind%3ADeployment%2Ckind%3AService%2Ckind%3APod%2Ckind%3AStateful

[2021-08-11 17:52] smark88 commented on #4979
Circling back but we appear to be running 3 statefulset successfully in v1.8.7, initially we l over looked this environment var that is in the [docs](https://argoproj.github.io/argo-cd/operator-manual/high_availability/)
[code]

[2021-08-11 18:32] jsoref commented on #4233
ok, so, your picture is perfect.

---
It appears the notation is:

`[APIExtensionSpace]/{RESOURCE_TYPE}/[namespace]/{NAME}`

So, Kubernetes core resources don't have an `APIExtensionSpace` and thus appear to start with `/`, some things are global (e.g. Namespaces and ClusterRoles) and thus don't have namespaces and appear to have `//` later on.

At some point I'd like to know if this specific nota

[2021-08-11 18:40] musabmasood commented on #6942
Why not just push the new values you want to that branch in a values file and simply pass `--revision=<your-new-branch>` in `argocd app diff` ?

[2021-08-11 18:40] sidh opened #6959 "ArgoCD ignores LimitRange manifest"
Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*] I've pasted the output of `argocd version`.

**Describe the bug**

We have argocd helmfile-based application configured to autosync. This application has a LimitRange manifest.

This manifest is rendered and installed manually via helmfile without any

[2021-08-11 20:13] mayzhang2000 commented on #6919
@Brice187 wonder if you could please post your deployment manifest that you used with ArgoCD v2.1.0-rc2?

[2021-08-11 20:19] pasha-codefresh commented on #6944
@alexmt i would take it

[2021-08-11 20:21] ciiay commented on #3608
This issue still exists, I'd like to work on this.

[2021-08-11 20:21] rbreeze commented on #6754
Duping to https://github.com/argoproj/argo-cd/issues/6958

[2021-08-11 20:21] #6754 closed

[2021-08-11 20:24] alexmt commented on #6959
Looks like use are using this command to produce manifests:

[code]

Can you try to run it locally and confirm that LimitRange present?

[2021-08-11 20:47] rwong2888 commented on #6958
@alexmt below is still failing

[code]

syncing

![image](https://user-images.githubusercontent.com/61470342/129100985-efaa45df-8fc1-47a7-b1b3-94050b8ec2f1.png)

out of sync

![image](https://user-images.githubusercontent.com/61470342/129100812-4e30b71b-b3bd-4a55-8612-878557afac14.png)

[2021-08-11 22:37] RyanSiu1995 opened #6963 "Actor in Logs for ArgoCD operation"
# Summary
Currently, the audit logs for all the ArgoCD application operation are limited. We can get some basic information but not include the actor.
We should try to include the actor inside the logs such that we can easily know who made the changes, like disabling or enabling the sync in the past.

# Motivation
Our engineers take advantage of the sync option to make sure their testing environme

[2021-08-11 23:36] lowkeyliesmyth commented on #6108
We are likewise seeing the same behavior where we see a steady state ~5500m CPU utilization with only 173 applications across 8 clusters  and an average ~25k reconciliations/5min. Both KEDA and External Secrets are deployed in each of our target workload clusters.

[2021-08-11 23:56] musabmasood commented on #6147
May be its easier to implement without `autosync` enabled, but with `autosync` in place it becomes even trickier.

A "Healthy" application when "autosync" is enabled implies that the deployed version is the same as the branch HEAD / latest commit. If the deployment fails and it points to the last commit, the implication does't hold true anymore.

May be there could be another status like "Rolled b

[2021-08-12 00:03] BenManifold opened #6965 "Can't log in after upgrading redis to 6.2.2"
Upgrading from 1.8.1 to 2.0.5. Using Redis-HA. The upgrade process went fine until we loaded the new images for the redis-server statefulset. Now logging in via LDAP either produces a complaint about unknown app state, or we are dumped back into the login screen with a 401 error. Logs for the application controller and the server show lots of auth errors like this following

│ E0811 23:59:41.94398

[2021-08-12 02:56] jessebye commented on #6108
Hmm, we use KEDA as well. No External Secrets though. I wonder if there is something about the way these operators work that causes this problem in Argo?

@Aenima4six2 @lowkeyliesmyth have either of you tried the Argo CD 2.1 release candidate? I noticed in [the blog post](https://blog.argoproj.io/argo-cd-v2-1-first-release-candidate-is-ready-c1aab7795638) it mentioned reductions in memory use, fas

[2021-08-12 07:05] GagarinX commented on #6942
@musabmasood If an Application's source is helm repository, I can't pass `my-new-branch` in `--revision`, it only accepts chart version.

[2021-08-12 08:16] Reamer opened #6968 "Regression in Release Candidate 2.1"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

PR #5814 changes the root file system to read-only. During startup in Openshift the entrypoint script `uid_entrypoint.sh` is called, the attempt to add an [additional line in `/etc/pass

[2021-08-12 09:37] sidh commented on #6959
You are absolutely correct! I completely forgot we use this custom command line with sed. `sed -e '1,/---/d'` removes first block with '---' in it and that block happens to be LimitRange.

Closing this ticket.

[2021-08-12 09:37] #6959 closed

[2021-08-12 09:40] atze234 opened #6969 "Resource Black/Whitelist per Destination (Appproject)"
As of now i can create Multiple Destinations for one Appproject.
The Resource Black and Whitelists are global for all those destinations. I'd like to have the Black/Whitelists per Destination.

There are numerous Helm Charts that create Ressources in one Namespace and need a Rolebinding to ServiceAccount in kube-system Namespace. For example https://github.com/linkerd/linkerd2/blob/main/viz/charts

[2021-08-12 10:46] saumeya commented on #6946
I will work on this.

[2021-08-12 11:19] Lirt commented on #6351
Hello, I had similar issue today and what I did to fix it was:
1. Open Web UI.
2. Go to Settings -> Clusters.
3. Open Cluster that has issue you described.
4. Hit button `Invalidate Cache`.
5. Open Application list.
6. Find Application that cannot be synced.
7. Hit Hard Refresh button (needs to be Hard).

If it doesn't help, then it's not the same issue (but symtoms identical).

[2021-08-12 11:39] Reamer commented on #5584
I can also confirm this with argocd v2.1.0-rc2
As a workaround you can insert a small dummy value.

[code]

[2021-08-12 14:05] mikebryant commented on #5882
/reopen

[2021-08-12 15:08] cwwarren commented on #6125
Use case: we deploy a number of QA/Staging/Preview environments for one product in a single cluster to save costs. In addition to having many more environments (ArgoCD Applications) these environments are much higher churn, being updated anywhere from a few times a day to many times per hour at peak.

Ideally applications would be evenly distributed across shards to balance load so we aren't stuck

[2021-08-12 15:11] rwong2888 opened #6974 "github webhooks stopped working on 8/11/21"
Nothing changed on my end, but webhooks stopped working.

I confirmed secret is same and I can hit /api/webhook endpoint and receive a "Unknown webhook event" in the browser.

I even tried removing secret.

Looks like there is maintenance going on for 24 hours.

They have removed oauth endpoints on 8/11 and are removing query params on 9/8.

I also notice a new version of github released on 8/10.

[2021-08-12 16:21] ciiay commented on #1524
I have debugged this issue and I found out that if I remove this line it will fix the bug and I have tested all dropdown functionalities on all pages as far as I'm aware of. Could you explain if this line is needed and if I can safely remove it? Thanks!
`dropDownOpened.next(this);`

https://github.com/argoproj/argo-ui/blob/e81faeb971180151796ab5aeca8e8740ed4a3578/src/components/dropdown/dropdown.t

[2021-08-12 16:36] pasha-codefresh commented on #6974
hi @rwong2888 , looks like it is working for me, could you share your argocd server version please?

[2021-08-12 16:39] rwong2888 commented on #6974
@pasha-codefresh I am using argocd v2.1.0-rc2

[2021-08-12 16:45] pasha-codefresh commented on #6974
@rwong2888 could you add your github webhook payload , please?

[2021-08-12 16:48] pasha-codefresh commented on #6974
`switch {
  //Gogs needs to be checked before GitHub since it carries both Gogs and (incompatible) GitHub headers
  case r.Header.Get("X-Gogs-Event") != "":
    payload, err = a.gogs.Parse(r, gogs.PushEvent)
  case r.Header.Get("X-GitHub-Event") != "":
    payload, err = a.github.Parse(r, github.PushEvent)
  case r.Header.Get("X-Gitlab-Event") != "":
    payload, err = a.gitlab.Parse(r, gitlab.Pus

[2021-08-12 16:54] rwong2888 commented on #6974
@pasha-codefresh I am not sure about the headers. How do I retrieve those?

payload
[code]

[2021-08-12 16:59] pasha-codefresh commented on #6974
@rwong2888 please go to
Settings -> Webhooks -> Recent deliveries -> Open failed delivery -> You can see headers section here

[2021-08-12 17:01] rwong2888 commented on #6974
@pasha-codefresh I am not seeing headers. Github is saying

[2021-08-12 17:04] pasha-codefresh commented on #6974
You just described that you got "Unknown webhook event", you are getting other error now?

<img width="690" alt="Снимок экрана 2021-08-12 в 20 03 14" src="https://user-images.githubusercontent.com/39732895/129238359-c27a9861-4ef0-4c3d-8b6a-c5839b479c16.png">

[2021-08-12 17:09] rwong2888 commented on #6974
I have been getting this since yesterday.

![image](https://user-images.githubusercontent.com/61470342/129238873-12d7b69b-5a31-493a-8b6c-c456680b0041.png)

[2021-08-12 17:11] rwong2888 commented on #6974
![image](https://user-images.githubusercontent.com/61470342/129239276-9e132413-80cd-4492-a52d-dc979bb27e8e.png)

[2021-08-12 17:13] pasha-codefresh commented on #6974
ah, so you have some connectivity issue with your argocd server, my assumption

[2021-08-12 17:25] pasha-codefresh commented on #6935
@alexmt i would take it

[2021-08-12 17:25] jessesuen commented on #6215
This was discussed in contributors meeting. Some points:

1. Aside from the resource tracking use case mentioned in the description, namespace labeling/annotations are used in other use cases such as: sidecar injection (OPA, istio, vault, aws load balancer). **_If_** we do decide to support this feature, it would need be flexible enough to support arbitrary labels and annotations (e.g. `istio-inje

[2021-08-12 17:28] cilindrox commented on #6351
Not following @Lirt - how does invalidating the cache result on the apiserver bundled with argo returning a newer version?

[2021-08-12 17:40] rwong2888 commented on #6974
@pasha-codefresh , I figured it out... GitHub updated their hook cidrs

https://api.github.com/meta

Needed to add it to my ingress' allowlist

Thanks for the support!

[2021-08-12 17:40] #6974 closed

[2021-08-12 17:41] pasha-codefresh commented on #6935
@rbreeze could you please add details how to reproduce it?

[2021-08-12 17:45] #6965 closed

[2021-08-12 17:50] BenManifold commented on #6965
The login issue was resolved by bouncing the argocd server after manually changing the redis image to 5.0.8, the problems listing resources in reflector.go were caused by a missing application-controller clusterrole, which had to be manually applied. Still unsure exactly why the clusterrole was missing, or if the new redis version somehow caused us to lose the application-controller clusterrole.

[2021-08-12 18:47] lukasmrtvy commented on #6462
@mick1627 Can You send screenshoot ( or azure cli commands } of Your AAD application, please?

[2021-08-12 18:57] ksummersill2 opened #6977 "Sorting by Namespace on App Screen"
Something went wrong!

Consider submitting an issue here.

Stacktrace:

TypeError: Cannot read property 'split' of undefined
    at m.match (https://<URL>/main.2e65a524d04617fac156.js:33:480154)

[2021-08-12 18:58] #6977 closed

[2021-08-12 19:05] #6947 closed

[2021-08-12 19:23] alexmt commented on #6959
Thank you for confirming!

[2021-08-12 20:00] Lirt commented on #6351
Hmm I think my scenario was different, I apologise.

In my case I installed `cert-manager` to cluster. The helm chart I was installing was checking API version capabilities of cert-manager (for example `cert-manager.io/v1` or `cert-manager.io/v1alpha3`). I encountered templating error because argo didn't see `cert-manager.io/v1` in the capabilities (the api resource / CRD was installed in the clus

[2021-08-12 20:18] #6865 closed

[2021-08-12 20:57] sbose78 commented on #6968
Note, there's no official Red Hat support for Openshift versions below 4.7 at the moment.

[2021-08-12 21:06] sbose78 commented on #6968
@Reamer which version of OpenShift do you usually run Argo CD run?

[2021-08-12 21:06] cilindrox commented on #6351
got it - and agreed, seems those versions are coming from the different chart versions, and thus your suggestion for refreshing the dep cache makes sense. This issue however is related to the apiserver and the versions available there vs what argo's bundling and checking the `helm template` against.

[2021-08-12 21:11] rbreeze commented on #6935
Looks like it's been fixed with the latest improvement to filters

[2021-08-12 21:11] #6935 closed

[2021-08-12 23:26] jmaaks commented on #4174
I had been struggling with similar problems this week getting ArgoCD working in a small Vagrant/VirtualBox environment.  I switched from Flannel to Calico and everything just magically started working.

[2021-08-12 23:32] alexmt commented on #6917
Discussed with the team and agreed to introduce one more release procedure: before every release team should triage all critical vulnerabilities reported by the `yarn audit` and ensure that there are no exploitable ones.

[2021-08-12 23:59] #6917 closed

[2021-08-13 02:24] kerthcet commented on #1894
any solution? ping the issue.

[2021-08-13 04:36] MehrCurry opened #6984 "Docs: missing repository type for declarative setup"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When added repository secrets as describe in the docs the repos are not accessible.

**To Reproduce**

Apply secrets as described in https://argo-cd.readthedocs.io/en/latest/operator-ma

[2021-08-13 05:00] MehrCurry opened #6985 "Docs: Hint how to use labels for sealed secrets"
# Summary

When creating `argocd.argoproj.io/secret-type: repo-creds` and using `kubeseal` the labels got lost.

# Motivation

The secret seams to be used anyway but is not shown in the UI.

# Proposal

The labels have to be re-added to the sealed secret like described here: https://github.com/bitnami-labs/sealed-secrets#sealedsecrets-as-templates-for-secrets

Perhaps a small notice should be adde

[2021-08-13 06:51] Reamer commented on #6968
At the moment Argo CD is running on okd 4.7.

[2021-08-13 07:48] xlanor commented on #4298
@eddycharly , we are running into the same issue, using the latest helm chart with argo v2.0.5.

So far, our fix has been to terminate the pods and spawn argo pods (which should be automatic due to the RS), which is a hacky way around it, but for anyone who urgently needs to get it up and running.

[2021-08-13 08:21] trathailoi commented on #2784
Exellent work @Cajga !! Thank you so much !
Just a note here for others who are doing the same thing, I did change a little to make it work:
1. in the `istio_patches.yaml` file. From `kind: Deployment` to `kind: StatefulSet` for the `name: argocd-application-controller` resource thing.
2. change the file name from `kustomizations.yaml` to `kustomization.yaml`.

And then, it works perfectly.
Thank

[2021-08-13 14:26] pasha-codefresh commented on #6733
@alexmt i would take it

[2021-08-13 15:24] pasha-codefresh commented on #6875
hi @Hongbo-Miao , i can`t reproduce this issue with 2.0.5, please update your cli and try it again

[2021-08-13 15:37] andrii-codefresh opened #6988 "Buttons change their sizes in different states"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2021-08-13 15:47] #6988 closed

[2021-08-13 15:48] Aenima4six2 commented on #6108
![image](https://user-images.githubusercontent.com/2087362/129385242-4f58a920-b436-4ce9-8ece-3afb020fb023.png)
It seems about the same after upgrading to `v2.1-RC3`

[2021-08-13 15:49] alexec opened #6989 "Support resource request tuning for cost optimistation"
# Summary

Enhance the node view with information highlighting pods that are using much more or less that they request.

# Motivation

I want to cost optimise and quickly. Nothing I've yet used makes that possible. But Argo CD is well place to make this easy.

# Proposal

![image](https://user-images.githubusercontent.com/1142830/129385377-0b2086e1-b524-4f77-8e91-65010f05aff7.png)

1. This view on

[2021-08-13 16:02] sbose78 commented on #6968
@Reamer thank you, that's helpful.

Would you have a chance to make a PR with solution (2) ?

[2021-08-13 16:11] pasha-codefresh commented on #6403
@alexmt i would take it

[2021-08-13 18:27] pasha-codefresh commented on #6424
@alexmt i would take it

[2021-08-13 21:26] #6932 closed

[2021-08-13 21:54] rubenssoto commented on #3118
Hello Guys,

Im having the same problem,
I have a repo that has a submodule when I tried the first time I got the error:
Unable to create application: Unsuccessful HTTP response

when I tried the second time:
 fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository exists. fatal: clone of 'git@github.com:company_name/terraform.git' into

[2021-08-14 02:24] maxbrunet commented on #6125
I have written a script parsing the output of the `argocd-util cluster stats` command and suggesting a shard number for each cluster based on their resources count:

https://gist.github.com/maxbrunet/373374690b5064203e5e714de97d37fa

The script currently works offline, but we could imagine integrating such logic in the application controller or build a dedicated service around it. The result would

[2021-08-14 06:22] jannfis commented on #6985
Hey @MehrCurry, would you be willing to contribute this to the docs?

[2021-08-14 06:25] jannfis commented on #6984
Hey @MehrCurry, would you like to submit a PR for this?

[2021-08-14 19:46] m-yosefpor commented on #5282
Tested with argocd v2.1-rc3, dash nor "chart" in helm chart name is not an issue (anymore?). I could create apps with the name `health-chart` . The issue in our case was that the `name` in Chart.yaml, must exactly match the image name you have pushed in OCI registry.

Just in case, if you are using the same registry for both your application image and chart image, and want to make your chart image

[2021-08-14 22:14] m-yosefpor commented on #5856
I'm facing this issue again with argocd v2.1-rc3 !!

[code]

argocd version:

[code]

[2021-08-14 23:02] m-yosefpor commented on #6062
I've tested this with argocd v1.2-rc3, and there is still an issue with supporting OCI charts as dependency.

I've created a `git` application with some dependency to an OCI helm chart:

[code]

Then I added this private OCI repository to argocd with the following command:

[code]

Then I faced this issue:

[code]

This is a clear bug as it is trying to run `helm repo add` with an OCI chart (which

[2021-08-15 03:26] IgorGee commented on #4174
Yep, same here. Went from K3s Flannel to Calico and all issues are gone.

[2021-08-16 01:18] dejanzele commented on #4055
Hello,

Here is my `go.mod` file where I managed to reference `github.com/argoproj/argo-cd/v2 v2.0.5`

[code]

[2021-08-16 01:25] shahadarsh commented on #4055
Gracias @dejanzele

[2021-08-16 02:24] mballoni commented on #6062
@m-yosefpor you don't need to (can't) specify the OCI protocol in the registry URL, this is already covered by the flag --enable-oci

So it will become something like this:

argocd repo add registry.private.snappcloud.io/mydep  --type helm --name myrepo --enable-oci --username sth --password sth

[2021-08-16 07:19] sagar-jadhav opened #6996 "Unable to login to Argo CD using auto generated initial password"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Unable to log in to freshly installed Argo CD UI using the username as `admin` and auto-generated initial password. I have followed the steps mentioned [here](https://argo-cd.readthedoc

[2021-08-16 07:27] jannfis commented on #6996
Did you follow the instructions for pre-2.0 versions or post-2.0? I.e. did you get the password from the pod name or using the following snippet?

[code]

[2021-08-16 07:27] sagar-jadhav commented on #6996
I am able to log in with the password I retrieved using the below command:

[code]

If it's the right step to fetch the auto-generated initial password then documentation needs to be updated.

[2021-08-16 07:28] sagar-jadhav commented on #6996
Password as Pod name not working. I tried the other approach i.e. getting the password from `argocd-initial-admin-secret`

[2021-08-16 07:30] jannfis commented on #6996
The method has been changed starting with 2.0 release of Argo CD. We tried denoting that in the documentation with "Version 1.8 and earlier" and "Version 1.9 and later". We removed that in the current HEAD of the documentation (https://argo-cd.readthedocs.io/en/latest/getting_started/#4-login-using-the-cli), which will become the stable docs with the 2.1 release.

[2021-08-16 07:30] #6996 closed

[2021-08-16 07:32] sagar-jadhav commented on #6996
Thank you @jannfis I was following the `stable` version docs.

[2021-08-16 09:36] unb9rn opened #6997 "Auto-creation of namespace defined with Kustomize"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

It looks like ArgoCD won't create a namespace if it's not explicitly set in application.
My case is auto-creating apps (with ApplicationSet) defined with kustomize. And namespace may be

[2021-08-16 13:01] m-yosefpor commented on #6062
@mballoni Thanks. you are right. Adding repo like that with result in error, I've written the comment from top of my head and not copy pasting my commands history, actually I've executed the command that you have commented.  I've edited my comment.

However the issue that I mentioned does still exist.

[2021-08-16 15:26] Reamer commented on #6968
@sbose78 I created a PR against Branch release-2.1 or should I create a PR against master?
I have also tested this change manually.

[2021-08-16 16:31] alexmt commented on #6968
Thank you @Reamer ! Please create PR agains master and I will cherry-pick it to release-2.1

[2021-08-16 18:51] terrytangyuan opened #7001 "Switch to use kustomize subcommand in kubectl"
# Summary

What change you think needs making.

Switch to use `kustomize` subcommand in `kubectl`.

# Motivation

Please give examples of your use case, e.g. when would you use this.

Since Kubernetes v1.14, `kustomize` became a subcommand in `kubectl` so we can just use `kubectl` instead. We recently just switched to use `kubectl kustomize` in argo-workflows in https://github.com/argoproj/argo-wo

[2021-08-16 19:27] eytanhanig commented on #6206
Re-implementation is easiest for newly released features. If that's what's needed it'd be best to do it now before this code becomes a dependency for future work.

[2021-08-16 19:32] Hongbo-Miao commented on #6875
Thanks @pasha-codefresh for following up!
I will close for now assuming it fixed. I will reopen if the issue is still there in future!

[2021-08-16 19:32] #6875 closed

[2021-08-16 20:01] ciiay commented on #5261
@jsoref It looks like the Schedule period label background width has been increased. We only need to fix the text being cutting off on the bottom row in this issue. Could you confirm that and update this issue? Thank you!

<img width="904" alt="Screen Shot 2021-08-16 at 3 58 52 PM" src="https://user-images.githubusercontent.com/26255262/129622374-212aa07d-1de8-4d01-8026-42b58db04733.png">

[2021-08-16 20:11] ciiay commented on #5236
@jsoref I tried to reproduce this issue and the I couldn't see the same as described. Could you confirm if this still exists? Thank you!

[2021-08-16 20:39] jsoref commented on #5236
Can't seem to reproduce, the new design looks like it's protected from this, thanks for checking.

[2021-08-16 20:39] #5236 closed

[2021-08-16 20:48] ciiay commented on #5200
I'd like to work on this issue.

[2021-08-16 20:50] jsoref commented on #5200
Be my guest 😄

[2021-08-16 21:13] jsoref commented on #5261
Still happens for a somewhat narrow window:
![image](https://user-images.githubusercontent.com/2119212/129629994-08017eea-12a1-47a3-a1a7-c330c3a314bb.png)

[2021-08-17 10:06] cbl315 opened #7006 "Argo-server panics unexpectly while logging."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-17 10:06] charles-woshicai commented on #7006
/assign

[2021-08-17 10:24] cbl315 opened #7007 "Application page reports `js` error"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-17 13:07] Reamer commented on #6968
Done.

[2021-08-17 18:03] rbreeze commented on #7007
Can you give any more details about the applications where you're seeing this error?

[2021-08-17 19:27] #6424 closed

[2021-08-17 19:33] ciiay commented on #5200
@jsoref @alexmt For Health Status indicator colors, Missing, Unknown and Suspended are using same shade of gray across the app. Do we want to add more colors to the color spec to make each pie slice have unique color? This change will affect the entire app wherever there is a health status label.

Here's an example of how it looks with number added to chart legend.

<img width="1035" alt="Screen S

[2021-08-17 20:19] jsoref commented on #5200
So, I'd want each pie wedge to have its own color, or at least to ensure that adjacent pie wedges get unique colors. Since there are a finite number of wedges, and since each can be present or absent, it's better for each wedge to have a unique color.

Also there should be a space between `Healthy` and `(3)` (and similar for all of the others).

@reginapizza

[2021-08-17 20:58] ciiay commented on #5200
@jsoref Thanks for the reply. Space added to chart legends.

To which team member I need to discuss with about adding colors to the app?

[2021-08-18 01:26] rajdeep2001 commented on #6933
SOLVED - I was getting 404 not b'coz of above errors but since the static assets were missing in the **argocd-server** deployment manifest. I've added below container cmd arguments and ArgoCD UI started working..
        - --insecure
        - --staticassets
        - /shared/app
![image](https://user-images.githubusercontent.com/26584741/129821713-3e560d62-dc16-4a3c-95af-dbeb8a8ce226.png)

[2021-08-18 02:56] charles-woshicai commented on #7007
Here is the response body of API `api/v1/applications/<my-app>` (replace some fields values)

[code]
---
And response body of api `/api/v1/applications/<my-app>/resources-tree`

[code]

[2021-08-18 03:00] charles-woshicai commented on #7007
@rbreeze there are other apis but the data is simple so I don't post them, here is the list:
- `api/version`
- `api/v1/settings`
- `api/v1/userinfo`
- `api/v1/applications/<my-app>/revisions/8ecfa5d493189be706f6fd30d69e2bd97d5a35e4/metadata`

[2021-08-18 04:37] pavankumar-go commented on #3775
Same issue in ArgoCD `v2.0.5` on AWS  EKS `1.17`
<img width="1437" alt="Screenshot 2021-08-18 at 10 06 28 AM" src="https://user-images.githubusercontent.com/64532630/129837733-a6e3e030-eafe-45c5-847d-97bb2b1718cc.png">

[2021-08-18 07:02] sedadas opened #7011 "IgnoreExtraneous not working with mutated secrets"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When deploying applications that use the [Vault mutating webhook from banzai cloud](https://banzaicloud.com/docs/bank-vaults/mutating-webhook/) for secrets mutation, we get the issue th

[2021-08-18 09:01] craqs commented on #6108
@jessebye I also have the same problem, I've upgraded ArgoCD to `v2.1-RC3` and the problem is still here. With ~30 apps every app is being refreshed (level 0) every 5-6 seconds, one app is being updated more frequently (every 2 seconds) and it's the "parent" app from an app-of-apps pattern. The average CPU usage for application controller is ~1000-1300m CPU

[2021-08-18 09:51] rimasgo opened #7012 "Cookie too long when using Dex with LDAP"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ yes ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ yes ] I've included steps to reproduce the b

[2021-08-18 10:18] #6968 closed

[2021-08-18 10:43] MehrCurry commented on #6984
PR created. I am not sure if it is complete. I suppose that the helm example lack something like `type: helm`. But i didn't checked that.

[2021-08-18 14:05] Reamer commented on #6968
@alexmt The PR has been merged into Master.
I am waiting for a cherry pick :-D

[2021-08-18 14:45] jannfis commented on #6968
@Reamer I just cherry picked it, thanks!

[2021-08-18 14:57] satishreddys opened #7014 "Argocd is slack integration is not working as expected #100a"
Issue

Argocd-notifications-controller is able to trigger event but slack integration is not working expected

NAME TEMPLATE CONDITION
on-deployed app-deployed app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy'

Sample APP
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
name: guestbook
annotations:
notifications.argoproj.io/subscribe.on-deployed

[2021-08-18 15:09] jessebye commented on #6108
@craqs @Aenima4six2 that's good to know. I guess we won't prioritize updating if this issue is still persistent.

@craqs do you use Keda and/or external secrets too?

@alexmt Would really like to help get this fixed. We get frequent alerts about our Conntrack tables filling up, and Argo CD is almost always the culprit. It seems to create a ton of network connections, in addition to thrashing the C

[2021-08-18 16:21] fafg opened #7015 "add new user using yaml file and try to load the user account list"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-18 16:24] #6946 closed

[2021-08-18 17:15] cbradley857lw opened #7018 "Unknown apps when helm repository returns 401"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2021-08-18 18:18] #6984 closed

[2021-08-18 19:23] #6733 closed

[2021-08-18 19:39] alexmt commented on #6108
Hello @jessebye , sorry - had to prioritize stabilizing v2.1 so we can release accumulated improvements. Please bear with me.

I suspect the root cause is some "noisy" resource that constantly getting updates and triggers frequent reconciliation. The long-term solution is to introduce throttling so the controller could handle it gracefully. Short term we can try to find the resource and use e.g. `

[2021-08-18 20:35] slavafomin opened #7020 "GKE Autopilot: resource "mutatingwebhookconfigurations" is managed and access is denied"
Hello! First of all, thank you for your hard work and this amazing project!

## Describe the bug

ArgoCD produces the following error message when trying to sync ArgoCD application (self-managed) in GKE Autopilot cluster:

[code]

GKE Autopilot has [a list of limitations](https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview).

Is it possible to run ArgoCD in GKE Autopilot cl

[2021-08-18 21:56] ciiay commented on #5200
Added a "Shadow Blue"(#7B8DB0) color to the the color scheme, as the color of "Suspended". Also propose to use same warning yellow of "OutOfSync" status for "Missing" health status.

<img width="771" alt="Screen Shot 2021-08-18 at 5 51 17 PM" src="https://user-images.githubusercontent.com/26255262/129977192-a993baaa-f061-4092-8e95-458a86cb24b5.png">

<img width="211" alt="Screen Shot 2021-08-18 at

[2021-08-18 22:08] jsoref commented on #5200
* Try changing Suspended to a purple (so we use more of the color wheel and fewer things in the Black-Gray area).
* Make the order of the Health Status filter match the order of the pie key (the pie key order seems better to me).

[2021-08-19 00:49] tschmidt64-SC commented on #7020
+1 have this same issue

[2021-08-19 00:50] tschmidt64-SC commented on #5813
+1 have this same issue

[2021-08-19 05:17] chetan-rns commented on #6727
@vivekjainx86 I think your example repo is missing the [CRD](https://github.com/crossplane/provider-aws/blob/master/package/crds/aws.crossplane.io_providerconfigs.yaml) for `ProviderConfig`. Could you please include it in your CRDs folder and try again? I tried to reproduce this issue and the app synced for me after including the missing CRD.

[2021-08-19 07:32] pasha-codefresh commented on #7015
@alexmt i would take it

[2021-08-19 08:11] MehrCurry commented on #6985
Also fixed by #7013

[2021-08-19 08:11] #6985 closed

[2021-08-19 08:20] craqs commented on #6108
@jessebye No, I don't use that.

@alexmt Do you have any suggestion how to check it? Recently I briefly tracked `resourceVersion` of several kinds of resources and I didn't find anything that could trigger application controller to refresh so frequently. Also `DEBUG` logging level on application controller doesn't show anything useful in this context :(

[2021-08-19 10:17] Elyytscha commented on #7011
yep i can reproduce with

[code]
and application is still shown as out of sync in the argo cd webui and is constantly syncing

[2021-08-19 11:24] dorroddorrod commented on #3895
Hi everyone,
I'm facing the same issue,
It start when i tried to run a rollback from the UI and got the following error :
<img width="1426" alt="Screen Shot 2021-08-19 at 14 17 16" src="https://user-images.githubusercontent.com/31075689/130060054-ec69c73f-ef5e-43e5-93ad-e3d842ed3781.png">
Then, i chose one of the old deployment to rollback, got prompt if i want to disable the auto-sync, clicked ye

[2021-08-19 11:51] olvesh commented on #6500
Yeah, this stopped me just now.

Trying to install ksops, which is added in https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch
I run this in GKE, and trying to use Workload Identity I did not have a service account to pin the IAM Service Account to.

[2021-08-19 12:45] chetan-rns commented on #6098
@alexmt I'll investigate more. Could you please assign it to me?

[2021-08-19 12:56] dorroddorrod commented on #3895
@sadovnikov Would you mind to re-open this issue ?

[2021-08-19 14:17] RomanBats commented on #6878
Quite a frustrating issue :)
I tried to use Fluent Bit with Splunk output. It uses "record accessors pattern" to access values in the JSON.
This [record accessors pattern](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/record-accessor) starts with a dollar sign.

[2021-08-19 15:26] reginapizza opened #7023 "Application Health Status Bar is reproduced at bottom of page"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The application status health bar is also present at the bottom of the page.

**To Reproduce**
Visit https://cd.apps.argoproj.io/applications and scroll to bottom

**Expected behavior**

[2021-08-19 15:40] #7015 closed

[2021-08-19 16:15] rbreeze opened #7024 "UI Crashes when opening Resource Details due to Extensions support"
When clicking on any resource to view its Details, the UI crashes.

If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit

[2021-08-19 16:55] #7024 closed

[2021-08-19 17:47] cbradley857lw commented on #7018
This may be caused by a change on my end where it seems a 'helm dependency build' is kicked off. Looking into this more to confirm the cause is on our end

[2021-08-19 17:47] #7018 closed

[2021-08-19 18:31] ciiay commented on #5200
@jsoref Thanks for the feedback. The gray like color from previous comment was actually generated between a blue shade(#7b8db0) and a red shade(#e96d76) from current color scheme. I aimed at purple too. But the blue shade I used is probably too shallow. I'm changing it to another blue shade to get the more purple like color. The reason I didn't randomly pick a purple color is that using colors fro

[2021-08-19 18:38] ciiay commented on #5200
Discussed this color scheme change proposal in contributor meeting, the below decisions were made.
1. Use same yellow shade of "OutOfSync" from Sync Status for "Missing" health status.
2. Add a new color generated from current color scheme as "Suspended" health status color.
3. Use icons with their own unique color which matches pie slice color instead of bullets for the chart legends. Same as sta

[2021-08-19 19:14] jannfis commented on #6500
Hey, the repo server has no ServiceAccount mounted to it for security reasons - it does execute third party binaries and possibly semi-trusted input, with user provided input.

So, we won't provide a ServiceAccount mounted to repo server and appropriate Role/RoleBindings per default.

Users can always opt-in to have a Kustomize overlay for this.

[2021-08-19 20:25] rbreeze commented on #7023
To be honest I thought this was intended behavior. I think it could be useful to have at both the top and bottom, but I don't have a strong opinion either way.

[2021-08-19 20:27] alexmt commented on #7014
Can you please open this issue in https://github.com/argoproj-labs/argocd-notifications ?

[2021-08-19 20:27] #7014 closed

[2021-08-19 20:28] alexmt commented on #7020
Error indicates that argocd controller don't have permission to access mutatingwebhookconfigurations  the cluster.

You can fix it using `argocd cluster add` to grant admin permissions or use `resource.exclusion` setting to stop managing mutatingwebhookconfigurations using Argo CD

[2021-08-19 21:24] mabushey commented on #3295
I'm having this issue from upgrading from ArgoCD 2.0.4 to 2.0.5

[2021-08-20 04:12] vijay-dcrust opened #7033 "delete application without cascade using kubectl"
I am following this document to delete application using kubectl without cascading effect on underlying resources.

https://argoproj.github.io/argo-cd/user-guide/app_deletion/#deletion-using-kubectl

But it is deleting my resources also which are created by argocd application.

I tried removing finalizer also before deleting the application without any luck.

[2021-08-20 05:32] alexmt commented on #4296
Closing and will reopen if someone reproduce issue again

[2021-08-20 05:32] alexmt commented on #4451
Closing and will reopen if someone reproduce issue again

[2021-08-20 05:32] #4451 closed

[2021-08-20 05:32] alexmt commented on #4925
Closing and will reopen if someone reproduce issue again

[2021-08-20 05:32] #4925 closed

[2021-08-20 05:52] #6840 closed

[2021-08-20 06:06] chetan-rns commented on #7033
@vijay-dcrust It is working as expected for me. How was the finalizer added? AFAIK Argo CD doesn't add the finalizer when the app is created. It gets added when the app is deleted either from CLI or UI with cascade enabled.

[2021-08-20 06:15] odidev opened #7035 "Release Linux/ARM64 Argo-CD binary to the GitHub Releases"
Hi Team,

I am working on Argo-CD over Linux/ARM64 platform. I could see that Argo-CD does not release binaries for ARM64 architecture in the GitHub releases.

I have successfully generated Linux/ARM64 binaries on the native platform using below command:
[code]

There is already a PR raised for releasing Linux/ARM64 Argo-CD docker image. It will be helpful if ARM64 binaries are also made available

[2021-08-20 07:06] iam-veeramalla commented on #7035
Hi @odidev , Yes, there is some work going on in the PR #6758 to release the ARM64 Images. I think the binaries would be part of the release when ARM images are made part of the release but @jannfis can confirm this.

@jannfis can we assume if the decision is made to release ARM images it would also include the release of the ARM binaries ?

[2021-08-20 07:08] spirosoik commented on #3588
I can give it a try

[2021-08-20 07:28] iam-veeramalla commented on #7033
Hi @vijay-dcrust , How did you remove the finalizer ? Can you please mask the secrets(if any) and paste the application file here ?

[2021-08-20 07:39] james-callahan opened #7036 "Unable to login with CLI when server behind auth"
We have ArgoCD instances behind Cloudflare Access; which require:

1. an mTLS client key/certificate
2. a cloudflare access token.

Despite telling the `argocd` cli to use these, it doesn't seem to for the `login` subcommand.

e.g. (assume `DOMAIN=argocd.example.com`) here is the `version` subcommand working, and showing the (correct) server version:
[code]

but the login command fails (I have man

[2021-08-20 09:42] Brice187 commented on #6919
@alexmt:

Today i tried out `argoproj/argocd:v2.1.0`

Now basehref is basically working, but I still get a blank screen an following error in Chrome DevTools

[code]

Could you pls have a look again?

[2021-08-20 10:12] slavafomin commented on #7020
Thank you @alexmt for a quick reply.

I don't think that this problem could be fixed by adding permissions, because the error message clearly states: `cluster scoped resource "mutatingwebhookconfigurations/" is MANAGED and access is denied`, this means that the resource is managed by the GKE Autopilot itself and the access is denied to prevent external changes. At leas as far as I understand it.

[2021-08-20 11:20] jannfis commented on #7036
Does running `cloudflared access token -app=https://$DOMAIN` produce a CR character at the end, maybe?

[2021-08-20 12:29] bdzanko17 commented on #6362
I am having the same problem, did someone figured this out?

[2021-08-20 15:08] u2m4c6 commented on #4110
Has there been any progress on this? It is hard to estimate the cost of running Argo CD without knowing minimum resources

[2021-08-20 15:21] james-callahan commented on #7036
No (checked via `xxd`)

The fact that the server version is returned suggests that at least the `version` subcommand is sending the certificate and header correctly. I think it's just the `login` command that's not doing it?

[2021-08-20 15:37] vijay-dcrust commented on #7033
Hi @chetan-rns I am adding finalizer in application manifest. So when i create it is automatically added. Are you saying that i should create application without adding finalizer. Is that the default way.

Below is my app definition.

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubevela-ops-resources-argo-events-HOSTNAME
  namespace: argocd
  finalizers:
    - resource

[2021-08-20 16:42] ciiay commented on #6275
I am adding color for `health.suspended` and assigning `OutOfSync` yellow color to `Missing` health status as part of #5200 . I just want to confirm if it's okay to go ahead and ungroup `Unknown` and 'Missing` in the health status bar.

[2021-08-20 18:18] rbreeze commented on #6275
Sounds good to me

[2021-08-20 19:41] #4233 closed

[2021-08-20 20:58] angelosanramon opened #7043 "Not Creating Namespace in External Cluster"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2021-08-20 20:59] rbreeze commented on #6924
@alexec I've opened a PR to move the human-friendly date formatter functions into Argo UI: https://github.com/argoproj/argo-ui/pull/134

Once this is merged I'll add this feature in CD

[2021-08-20 23:32] lowkeyliesmyth commented on #6108
That describes the behavior of both Keda and ExternalSecrets quite well.

This [kubernetes event tracing project](https://github.com/weaveworks-experiments/kspan) would help visualize resource update events by turning them into OTel spans. I don't have any tracing infrastructure setup to get this running but if someone else has it ready to go this might provide some insight.

[2021-08-21 00:42] angelosanramon opened #7044 "ArgoCD upgrade v2.0.5 to v2.1.0 cause argocd-repo-server CrashLoopBackOff"
I am trying to upgrade argocd from v2.0.5 to v2.10. The argo-repo-server is showing CrashLoopBackOff error. I am getting the following status when running `kubectl get pod -n argo-cd argocd-repo-server-5b8db4f6d-svx5k -o yaml`

[code]

[2021-08-21 03:05] #6529 closed

[2021-08-21 08:22] jannfis commented on #7044
You will have to update the installation manifests to the 2.1 version as well, since the startup command of the repo server has changed.

[2021-08-21 12:32] joke commented on #6323
same problem with v2.1.0

[2021-08-21 14:57] angelosanramon commented on #7044
Thanks for the reply. I am using the ArgoCD helm chart version 3.12.1. In the values.yaml file, I only changed the global.image.tag value to v.2.1.0. Can you tell what other settings in the values.yaml file I need to change?

[2021-08-21 15:30] shibumi commented on #6323
Sorry, I forgot my test result, but I just wanted to add that I solved this problem via using "Umbrella helm charts" instead.
Instead of specifying the values in argo itself, I just specify them in a values file in a repository pulling the chart as dependency. This has the nice side-effect, that I can add additional YAML or templates to the helm chart.

[2021-08-22 02:02] angelosanramon commented on #7044
This looks like an argocd helm chart issue. https://github.com/argoproj/argo-helm/issues/882#issue-975576768

Closing this issue.

[2021-08-22 02:02] #7044 closed

[2021-08-22 02:05] angelosanramon commented on #7043
Adding clusterResourceWhitelist to project definition solved my issue. Closing this issue.

[code]

[2021-08-22 02:05] #7043 closed

[2021-08-22 11:09] nadenf commented on #3663
@rbreeze .. Looks related to [this](https://github.com/argoproj/argo-cd/issues/5608).

Pretty sure ArgoCD is broken with Kube Prometheus which is a worry as it's a very popular component.

[2021-08-22 16:54] Aenima4six2 commented on #6108
How are you working around the `Conntrack` issues?

[2021-08-22 18:59] karthikvijayan3 opened #7046 "Cluster filter popping out of box"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*

[2021-08-22 21:15] servo1x commented on #7023
Perhaps it should be sticky?

[2021-08-23 02:36] charles-woshicai commented on #7007
Any update?

[2021-08-23 03:19] wtam2018 commented on #7033
@vijay-dcrust Please report back if non-cacade deletion is achieved when no finalizer `resources-finalizer.argocd.argoproj.io` is  added which is what the doc is suggesting.

[2021-08-23 03:20] wtam2018 commented on #7035
milestone v2.2

[2021-08-23 06:17] tim-sendible opened #7048 "Can't seem to use a plugin to extend argocd when using Helm"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have a plugin that takes the output of `helm template` and performs string interpolation based on set values. My plugin setup is this:
[code]

Until Argocd 2.1, this worked most of th

[2021-08-23 06:32] pavankumar-go commented on #2401
For those who came looking for adding policy to just restart the deployments, it can be done this way
[code]

[2021-08-23 07:20] iam-veeramalla commented on #7046
@saumeya or @ciiay  may be interested

[2021-08-23 08:48] kofl91 opened #7052 "Add Link to the URL of Openshift Routes (to match ingress resources)"
# Summary

There is a UI element that allows to follow the URL/Link of an Ingress resource. This is not possible for openshift routes. It would be a small but welcome addition.

# Motivation

When having manually synced an application it would be nice to also manually test. For this use case a link to the URL of the route would be nice, instead of going into the live manifest and copy paste the ur

[2021-08-23 10:48] cslovell commented on #2932
I had this issue and it drove me nuts. What I discovered was that I had to restart the argo-server pod after creating a new key-value pair in the secret configuration:

I started the pod with a reference to the non-existed $oidc.keycloak.clientSecret:
[code]

I then followed the instructions here to set up keycloak, adding the new key-value pair to the secret config file. However, the logs of the

[2021-08-23 12:14] iam-veeramalla commented on #7052
@kofl91 I have started working on something similar to this as part of #5096 . @wtam2018 can we take this into the milestone v2.2 ?

[2021-08-23 12:17] wtam2018 commented on #7036
component:sso

[2021-08-23 12:22] wtam2018 commented on #4601
milestone v2.2

[2021-08-23 12:22] wtam2018 commented on #7052
duplicate https://github.com/argoproj/argo-cd/issues/4601
milestone v2.2

[2021-08-23 13:38] mccrackend commented on #7012
What ingress controller are you using?  I've had to battle this issue with Dex and users have tons of ldap groups before using nginx-ingress.  Bumping some of those properties was what resolved that for me, particularly these guys if I recall:

[code]

[2021-08-23 14:17] wtam2018 commented on #7012
component:sso

[2021-08-23 15:56] alexmt commented on #7046
or @rbreeze

[2021-08-23 16:33] rbreeze commented on #7046
I think this will need to be fixed in https://github.com/argoproj/argo-ui. I can take a look

[2021-08-23 16:34] SabySen commented on #3464
OK this issue is still there in the version 2.1.0. we are getting the below
Unable to connect HTTPS repository: existing repository spec is different; use upsert flag to force update. This is while adding a repo to  argocd via UI. is this the same issue as reported here?

[2021-08-23 19:09] ttk commented on #6061
I tested to see if the newer version of argocd (v2.0.4+0842d44) resolves this issue, and it does not.  We will be upgrading to v2.1 soon, so I will test it again at that point.  It would be great if someone else can confirm/reproduce this issue, that way I can rule out a problem with our specific install and configuration.

[2021-08-23 19:41] wtam2018 commented on #7048
cherry-pick/2.1
milestone 2.2

[2021-08-23 19:45] Kampe commented on #4811
it's possible given invalid k8s manifest yaml to get Argocd to refuse to terminate jobs with 2.0.5, very easy to accomplish.

[2021-08-23 20:48] jsmcnair commented on #3124
For anyone who finds this thread and is wondering how to implement this, I found the following blog article very useful when setting up tanka as a plug-in for ArgoCD.

https://hodovi.cc/blog/gitops-argocd-and-tanka/

[2021-08-23 21:01] duedal commented on #6000
I had this error after upgrading from ArgoCD 2.0.5 to 2.1.0, I converted the repo credentials to the [new format](https://argoproj.github.io/argo-cd/operator-manual/upgrading/2.0-2.1/) in the same iteration as upgrading ArgoCD, and it then failed to connect to the repo because the repo server was applied before the new (Sealed)Secret.
Manually applying the sealed secret fixed the issue.

The error

[2021-08-23 21:40] booleanbetrayal commented on #6876
@rbreeze / @alexmt - This appears to be fixed as of `2.1.0`!

[2021-08-23 21:40] #6876 closed

[2021-08-23 21:45] alexmt commented on #6876
Thank you!

[2021-08-23 21:59] alexmt commented on #7012
The long cookie issue was supposed to be fixed by https://github.com/argoproj/argo-cd/pull/5497 . Argo CD is supposed to split long cookie into longer chunks. I'm pretty sure functionality works but probably we don't handle some edge case correctly.

[2021-08-24 01:26] saggar commented on #4917
Hi. We're facing Docker rate limiting with our KubeFlow pipelines on AWS EKS. Is there a way for users to specify the ```wait``` container image (here ```argoproj/argoexec:v2.3.0```) when submitting a pipeline step? This is something a user can do for the ```main``` container. However, couldn't find an option for the ```wait``` container.

[code]

[2021-08-24 02:29] rbreeze opened #7056 "Long messages in UI Banner get cut off instead of wrapping"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

[2021-08-24 03:24] wtam2018 commented on #4917
@saggar If you pull the image from quay.io/argoproj/argoexec repository, you won't have rate limit issue.

[2021-08-24 04:27] tuananh commented on #2640
a nicer error message would be much appreciated :)

[2021-08-24 04:56] wtam2018 commented on #7012
It looks like the cookie length exceeds the max length.
[code]

[code]

[2021-08-24 05:16] jakirpatel commented on #4138
btw any fix for this ?

[2021-08-24 09:06] pasha-codefresh opened #7057 "Ability to define retry options during app creation"
# Summary

Ability to define retry options during argocd app creation

# Motivation
It is possible to define the retry option during sync, but it is impossible to define it during app creation

During sync flow :
<img width="590" alt="During sync flow" src="https://user-images.githubusercontent.com/39732895/130589485-bf14ff97-8408-40f6-98ba-54da32ba889d.png">

During app creation flow :

<img widt

[2021-08-24 09:11] mpryahin commented on #4590
@jessesuen @SimoneFalzone, I'm just wondering if there is any progress or updates on this feature? I'v been also struggling with kustomize and remote bases not being updated.
Thank you!

[2021-08-24 09:21] pasha-codefresh opened #7058 "Issue with dropdown validation"
The issue with dropdown validation

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Once you remove the selected cluster during app creation, you can see the validation message `Cluster server is required`. After if you click on inpu

[2021-08-24 09:35] samvdb commented on #6206
I would love to see a configuration flag that disables this confirmation popup. Even remove the requirement to input the resource name would be an improvement. We use long names and having to copy / paste each time is plain annoying.

Thanks

[2021-08-24 10:05] olvesh commented on #3491
Also just ran into this, been open a while... Any known simple workarounds?

[2021-08-24 10:14] plakyda-codefresh commented on #7057
I would take it

[2021-08-24 10:14] plakyda-codefresh commented on #7058
I would take it

[2021-08-24 10:20] joaosilva15 commented on #4275
Hello. I still see this issue. In my case, I see that while the certificate is being issued there are two conditions.
[code]
I believe the second condition is being caught by the script and the resource is deemed as degraded.

Is this because I'm using an external provider for certmanager and should I change the validation script or is something lacking in the argocd builtin?

[2021-08-24 10:35] iam-veeramalla commented on #3491
@olvesh not yet, we are exploring options for a different logging package as the current project `logrus` is no longer active. It would continue as a maintenance project.

[2021-08-24 14:16] olvesh commented on #3491
Ok. I will try to upgrade to 2.1 tomorrow. As I understand I can set the log-format to json in that version. Perhaps that will remedy some of the logging issues in GKE (the other ones being that GKE fluentbit does not ingest the key=values as separate fields)🤞

On the other hand - why not then log structured logging to stdout and unstructured errors unhandled exeptions to stderr?
Surely that can b

[2021-08-24 14:29] reginapizza commented on #6206
Restating here what was discussed in the Argo CD contributor's meeting on Thursday, we will not go with shift-click to delete but will change the delete confirmation to consist of a checkbox that the user will have to check to confirm that they understand what they are deleting, and then they must click the delete button. The user will no longer have to type in the entire resource name. The name o

[2021-08-24 14:30] reginapizza commented on #6580
(Copied from  #6206 ) Restating here what was discussed in the Argo CD contributor's meeting on Thursday, we will not go with shift-click to delete but will change the delete confirmation to consist of a checkbox that the user will have to check to confirm that they understand what they are deleting, and then they must click the delete button. The user will no longer have to type in the entire res

[2021-08-24 14:34] ruslan-byondxr opened #7061 "FATA[0000] Argo CD server address unspecified"
The argocd UI running and working.
Im trying to list apps with
[code]

or

[code]

Thats what I get :
[code]

**Version**

[code]

**Logs**

[code]

[2021-08-24 15:24] enys commented on #968
for anyone arriving here, the link is now : https://doc.traefik.io/traefik/providers/kubernetes-ingress/#publishedservice

[2021-08-24 15:25] enys commented on #1704
For Traefik users : https://doc.traefik.io/traefik/providers/kubernetes-ingress/#publishedservice
And this a boolean option in the helm chart.

[2021-08-24 16:31] SabySen commented on #2925
Face this issue in 2.1.0 again. Unable to add the repo.
Unable to connect HTTPS repository: existing repository spec is different; use upsert flag to force update

[2021-08-24 17:12] 9maf4you opened #7064 "keycloak integration does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
The error `unknown app state IMmdkGyVek` happens when trying to login using keycloak

**To Reproduce**
1. Setup keycloak and argocd using the manual https://argoproj.github.io/argo-cd/op

[2021-08-24 17:14] alexmt commented on #7061
Hello @ruslan-byondxr ,

You need to specify server host using `--server` flag or run `argocd login <server-host>`. E.g.
* `argocd login cd.apps.argoproj.io`
* `argocd app list --server cd.apps.argoproj.io`

[2021-08-24 17:50] alexmt opened #7065 "Custom Styles feature is broken"
**Describe the bug**

As part of Argo CD Core feature, the static resources were packaged into the `argocd` binary and `--staticassets` flag of `argocd-server` had been deprecated. As a result, it became impossible to use custom style [instructions](https://argoproj.github.io/argo-cd/operator-manual/custom-styles/) and customize Argo CD UI.

**To Reproduce**

Try following [instructions](https://a

[2021-08-24 18:39] yosefy commented on #3698
as i understand this feature is meant to keep helm installed versions in cluster
but as argo only uses helm for templating? i guess it is less important.
so the main thing is to just to apply kustomize after helm

which is really very needed feature

thanks

[2021-08-24 21:10] ruslan-byondxr commented on #7061
@alexmt
Sorry, i don't understand what you mean.
I'm running argocd locally. Which server you are talking about ?

[2021-08-24 22:08] #7065 closed

[2021-08-24 23:38] alexmt commented on #7061
The `argocd` can talk to different argocd instances. So you need to specify server address using `argocd login` command or `--server` flag.

Are you running argocd server locally, as a process? In this case you can use `argocd login localhost:8080`.

If argocd is installed in minikube then you can use `argocd login --core` - in this mode argocd talks directly to k8s cluster and don't need api serv

[2021-08-25 00:00] servo1x opened #7072 "Add namespace identifier for resources"
# Summary

To make it easier to identify what namespaces resources are located in at a glance.

# Motivation

There are cases where an Application has resources that spans across multiple namespaces and resources will all have the same name, so it can be difficult to tell which namespace the resource is in without having to click the node or hover over it.

# Proposal

Some ideas on how it could b

[2021-08-25 00:52] alexmt commented on #6919
Hello @Brice187 ,

I've tried to reproduce the issue with the following steps. Run argocd server  v2.1.0 with ` --basehref /argocd/` and nginx reverse proxy that drops `/argocd/` path:

argocd-server:

[code]

nginx
[code]

Cannot reproduce the error. Can you confirm that you have a proxy in front of Argo CD that overrides `/argocd/` ?

[2021-08-25 05:40] iam-veeramalla commented on #7064
@9maf4you Can you please confirm if this behavior is intermittent ? I have seen people running into this issue and were able to resolve it by choosing a different browser or by just cleaning the cache and cookies.

If this is not intermittent, Do you also see any errors in the Keycloak Pod logs ? If yes, Please share them by masking any secure information.

[2021-08-25 06:21] #5787 closed

[2021-08-25 06:26] odidev commented on #7035
@wtam2018 @iam-veeramalla  ..... Thank you for adding this activity to milestone v2.2. May I know if there is an ETA for the same?

[2021-08-25 06:27] iam-veeramalla commented on #7035
@alexmt can answer this :)

[2021-08-25 06:33] #7061 closed

[2021-08-25 06:37] jannfis commented on #7036
Thanks @james-callahan, I must have overlooked that the version command actually works.

[2021-08-25 06:40] romachalm opened #7074 "Doc: Missing `type: helm` in repo-creds example"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have used the new `repo-creds` secret to manage helm and dependencies deployment. Authentication to main helm chart repo is managed with `repository` secret, and authentication to dep

[2021-08-25 06:58] romachalm opened #7075 "Cannot deploy multiple helm dependencies from same private repo server : repository name already exists"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-25 07:03] Brice187 commented on #6919
Sorry for wasting your time, the fault was on my side :)

[2021-08-25 07:03] #6919 closed

[2021-08-25 07:19] james-callahan commented on #7036
I guess it's because [`ClientCertFile` and `ClientCertKeyFile`](https://github.com/argoproj/argo-cd/blob/ca5003f3ba569acc90bcf8e28bd33673a1aea395/pkg/apiclient/apiclient.go#L109-L110) are not set here:
https://github.com/argoproj/argo-cd/blob/ca5003f3ba569acc90bcf8e28bd33673a1aea395/cmd/argocd/commands/login.go#L88-L98

[2021-08-25 07:43] tuananh opened #7076 "helm dependency build failed exit status 1: Error: no cached repository for helm-manager"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-08-25 08:28] chtime commented on #2953
I encountered the same error and found that when installing ArgoCD, one can either add the `--insecure` flag (as written above) or you can update the ConfigMap to populate the environment variables used by `argo-server`  (only the `data` object is new):

[code]

Unfortunately this is still a change in the original installation file, thus you need to download and change it before `kubectl apply`ing

[2021-08-25 09:16] sgielen opened #7078 "ssh: handshake failed: ssh: no authorities for hostname: quis.cx:22"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to add a private Git repository on quis.cx using the UI (Settings -> Repositories, Connect repo using SSH).

First, I tried to add the repository "git@quis.cx:argocd". This

[2021-08-25 09:27] #6843 closed

[2021-08-25 09:55] plakyda-codefresh opened #7079 ""Show orphaned" overlapping"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Show orphaned overlaps (Resources list view)

**Screenshots**

![image](https://user-images.githubusercontent.com/41683345/130769432-fa00a8ea-8526-4f61-9136-7a3e2bfe733f.png)

**Version

[2021-08-25 09:56] plakyda-codefresh commented on #7079
Let's move show orphaned to filter block
![image](https://user-images.githubusercontent.com/41683345/130770108-8a7aaf2d-1ea7-401d-9b41-763acb7e5627.png)

[2021-08-25 10:11] iam-veeramalla commented on #7079
@plakyda-codefresh Thanks for the issue !! @saumeya or @ciiay  do you think this is a simple fix to consider for the next milestone?

[2021-08-25 10:19] plakyda-codefresh commented on #7079
@iam-veeramalla I would take this issue

[2021-08-25 12:40] fredleger commented on #5282
From our tests, i totally agree with the conclusion of @m-yosefpor.
The side effect we were facing is that the ci/cd workflow was using same names for both docker image and helm chart.
Once prefixed (we used a `charts/` sub-folder/repo inside the same OCI registry - so `myproject:1.2.3` for docker image and `charts/myproject:1.2.3` for helm chart) this work like a charm.

Then i guess it should be

[2021-08-25 12:52] rouke-broersma commented on #5282
I can confirm that we eventually realized the only issue was that our OCI image name was different from our chart name. Helm unpacks the image to a folder with the chart name, but argo doesn't know the chart name only the image name. So argo tries to look for a folder with the image name, which does not exist.

[2021-08-25 13:30] kj187 commented on #2925
same here

[2021-08-25 13:42] an-tex commented on #5576
increase the timeout in your mappings, the default of 3 seconds is too low:
[code]

[2021-08-25 14:41] rbreeze commented on #7079
Hi @plakyda-codefresh, thanks for pointing this out. You’re more than welcome to fix this standalone, but as a heads up, I currently have a PR that will relocate filters and the `Show Orphaned` checkbox, so this will be fixed in that PR:

https://github.com/argoproj/argo-cd/pull/6966

[2021-08-25 15:13] alexmt commented on #6919
No problem :) thanks for confirming!

[2021-08-25 18:46] AndresJulia opened #7086 "Is it possible to pass a list on ApplicationSet file generator?"
I need to pass a list to ApplicationSet file generator, but not sure if it is possible.

[code]
When i pass that, the Application wont recognize {{app.test}}.

[2021-08-26 09:40] warmfusion opened #7090 "UI pollutes browser location history"
We recently upgraded to ArgoCD v2.1.0+d0b2d55 and have noticed that when browsing the UI the history in Firefox gets really polluted when changing pages.

## Steps to reproduce;

1. Open a new browser tab
2. Navigate to ArgoCD
3. Long-press back button on browser

## Expected
- A single entry for ArgoCD

## Actual

History contains 15 separate entries for the same URI, preventing the back button b

[2021-08-27 07:16] patrickhuy opened #7099 "in ArgoCD 2.1.1 Parameters shown in ArgoCD UI for helm based applications do not match parameters used"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Since ArgoCD 2.1 it seems like the parameters shown in the ArgoUI do not match the actual parameters used for templating helm charts. I'm deploying the same helm chart with multiple val

[2021-08-27 18:31] guillaume-roland-cd opened #7106 "Environment variables substitution in spec.source.helm.parameters"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Parameters (_spec.source.helm.parameters_) that look like environment variables are replaced by an empty string
Might be related to https://github.com/argoproj/argo-cd/pull/6097

**To Re

[2021-08-28 09:50] w0wka91 commented on #2789
Doesn't the proxy chart method mean that we're bound to a specific chart version for all stages?
What if we want to upgrade a chart just for a single environment, how would this work?

[2021-08-28 10:01] esys commented on #2789
I chime in: we have some charts used in multiple stage. Each stage may use a different chart version. So for example, for a given chart, we have to use 3 proxy charts for 3 different deployment stages (dev, staging, prod) in the same repo. It's neither elegant nor DRY at all.

[2021-08-28 10:48] joke commented on #7106
I'm having the same problem with version 2.1.1

[2021-08-28 19:06] zwilling79 opened #7107 "argocd-redis role is missing in install.yaml since ArgoCD 2.0 (non-HA)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Since ArgoCD 2.1.0 the `argocd-redis` role is missing in `manifests/install.yaml` but is still referenced in the corresponding role binding. The role exists in `manifests/ha/install.yam

[2021-08-28 19:39] jannfis commented on #7107
This change was done as part of cleanup in https://github.com/argoproj/argo-cd/pull/5863

Can you please elaborate on the error you are seeing without this role?

[2021-08-28 20:59] zwilling79 commented on #7107
I wanted to update my ArgoCD instance from 2.0.5 to 2.1.1 and have seen this as a diff. Furthermore, I was confused why the `argocd-redis` role is still referenced in the `argocd-redis` RoleBinding resource. The update had no issues (the role still exists in the cluster/namespace). Also an installation into an empty namespace didn't show any errors. So it seems that Kubernetes can handle this situ

[2021-08-28 21:08] zwilling79 commented on #7107
What also confuses me, why is the `argocd-redis-ha` role still included in `manifest/ha/install.yaml`?

[2021-08-29 12:11] fblgit commented on #7064
i have no problem at all with argocd and keycloak

[2021-08-29 13:23] utkuozdemir commented on #1786
Is there any updates or established best practices on this issue? I think it's a big pain point on adopting ArgoCD since a long time. I'd be willing to contribute if there are any plans for addressing this.

[2021-08-29 13:49] yspreen commented on #2401
@pavankumar-go it's a bit unclear to me what kind of syntax that is

[2021-08-29 14:04] jschnurr commented on #4276
I had the same problem with `cert-manager` on `AKS`, and tweaked @fdebuire 's suggestion to use `jqPathExpressions`, which also worked:

[code]

[2021-08-30 02:05] iam-veeramalla commented on #7064
@wtam2018 @jessesuen @jannfis can you please add #works-for-me label on this ?

[2021-08-30 02:28] iam-veeramalla commented on #7086
Hi @AndresJulia I know that there is a matrix generator where you can use child generators
https://argocd-applicationset.readthedocs.io/en/stable/Generators-Matrix/

cc: @jgwest

[2021-08-30 04:12] tuananh commented on #3280
hi, did anyone manage to fix this?

[2021-08-30 07:06] Adiii717 commented on #970
The above fixed worked for me, encounter this issue today after upgrading from ArgoCD from `argocd-server: v1.7.6+b04c25e` to `argocd-server: v2.1.0+d0b2d55`
It seems hard to update each and every pipeline, is it something because of the new version?

Is there a way to set `AppProject spec` globally?
[code]

[2021-08-30 07:13] zamrokk commented on #1786
no other choice than write your own Secret on a separated file ... but not on Argo Application CRD

[2021-08-30 11:25] cm0s opened #7111 "Add labels to the output of "argocd app get" command"
# Summary

Add list of labels to the output of the "argocd app get [app_name]" command

# Motivation

I'm using argocd command from my CI tool in order to create / delete and get information of ArgoCD applications. Being able to get a list of the labels attached to an ArgoCD application without having to use a kubectl command will simplify my process.

# Proposal

Add labels to the command's outpu

[2021-08-30 13:25] whdckszxxx commented on #3491
I'm willing to contribute to addressing this issue.
Replacing `logrus` to another looks like best solution. What alternative packages do we have?

[2021-08-30 13:41] mballoni commented on #6062
Now that we upgrades from 2.0.5 to 2.1.1 we are also facing this issue. I suspect it will only returns to work after this:

https://github.com/argoproj/argo-cd/pull/6994

[2021-08-30 14:33] iam-veeramalla commented on #3491
@whdckszxxx
https://github.com/golang/glog
https://github.com/kubernetes/klog (fork of glog)

[2021-08-30 15:06] whdckszxxx commented on #3491
@iam-veeramalla
I was asking for packages under your consideration now.
If you had your research, plz share with me :)

[2021-08-30 15:11] iam-veeramalla commented on #3491
Yes,
https://github.com/golang/glog
https://github.com/kubernetes/klog (fork of glog)

we also had a discussion to explore the above packages in the contributors meeting

[2021-08-30 15:19] alvarogonzalez-packlink commented on #2593
Check this new docs for deploying to GKE and adjust them to your needs, it may help you.

https://argo-cd.readthedocs.io/en/latest/operator-manual/ingress/#google-cloud-load-balancers-with-kubernetes-ingress

[2021-08-30 15:23] chanzxxx commented on #3491
Thanks, `klog` looks good to me.
I will post a PR soon

[2021-08-30 15:48] ams0 commented on #4276
@mateustanaka True, `jqPathExpressions` is not available on `v1alpha`, I solved the `cert-manager` on AKS constant out-of-sync problem with this:

[code]

I'm on v2.1.0+d0b2d55 deployed with the Helm chart of version argo-cd-3.13.2

[2021-08-30 16:27] olvesh commented on #3491
It has been a while since I programmed in Golang...
But - does it exists a logging lib that can log sympathetic to the cloud it runs in? I.e. so that running in GCE will log in a format native to Google Logging (https://cloud.google.com/logging/docs/setup/go) and similar for AWS, Azure etc?
At least so that it can be configured to tell the library that it is logging in a such-and-such environment?

[2021-08-30 17:30] alexmt opened #7115 ""POST /cluster" API and Argo CD CLI should support adding labels and annotations"
# Summary

Is should be possible to manage labels and annotations using "POST /cluster" API and Argo CD

# Motivation

Cluster labels and annotations are useful to create applications using application set. Currently, labels and annotations have to be applied manually to cluster secret which is inconvenient and difficult to automate with k8s access.

# Proposal

Extend existing "POST /cluster" API

[2021-08-30 19:03] sspreitzer commented on #6351
Same problem here with GitLab helm chart version 5.2.1.

[2021-08-30 20:14] stecky commented on #3709
+1 for this

[2021-08-30 21:29] cilindrox commented on #6351
Seems upgrading argo to `v2.1.1` works on k8s `v1.21` - still testing but the latest release might've updated the bundled deps.

[2021-08-30 22:23] rayterrill commented on #1373
Is there a way to tell ArgoCD to just completely disregard any child resources created by a resource managed by Argo? We're deploying HNC with Argo and it's creating n number of namespaces - don't really need Argo to manage those at all, but unfortunately we also do need Argo to create some namespaces outside of HNC (so we can't just ignore all namespace objects).

[2021-08-31 05:19] tomaszdudek7 opened #7119 "Enhance documentation by a multiple environments setup example and considerations (dev, qa, preprod, ...)"
# Summary

We need a clear example/scaffold with best practices applied, how should we set up and prepare multi environment setup for ArgoCD. By multi environment I mean having the same system (with perhaps different versions of helm charts/kustomize bases) deployed several times as `dev`, `qa0`, `qa1`, `preprod`, `prod` etc.

# Motivation

I see "parametrized app of apps pattern" mentioned here a

[2021-08-31 10:41] am250360 commented on #7075
I'm also seeing the same thing for deploying dependency charts from multiple public repos with the same host. e.g. for Kyverno plus its policy-reporter:
[code]

Gives an error log from ArgoCD when syncing:
[code]

Should be easy enough to work around (just deploying the two dependency charts in two separate Argo apps), but non ideal.

[2021-08-31 11:24] haslersn commented on #5989
Is this fixed in some newer version or when will it be fixed? We are stuck on 1.8.6 and cannot upgrade without this fixed, because it makes argo-cd completely unusable due to the errors when syncing.

This makes me wonder: How can anybody at all use the new versions if there's such a severe bug?

[2021-08-31 11:49] hjorth commented on #5989
Are your projects limited to specific namespaces? I guess it would make sense that you can't apply non namespaced resources without permissions and cannot see them either - hence why they are seen as blank.

I dont have the same issue, but i don't have much limitations on my projects.

[2021-08-31 12:32] sspreitzer commented on #6351
I am still seeing this issue in the following combination:
 * argo-cd helm chart version `3.17.5`
 * argo-cd version `v2.1.1+aab9542`
 * GitLab helm chart version `5.2.1`
 * Kubernetes version `1.22.1`

[2021-08-31 12:56] raphink opened #7121 "How to add an OCI helm repository in declarative mode"
**Describe the bug**

It doesn't seem possible to add an OCI helm repository using a repo cred secret.

**To Reproduce**

I've created a secret like this:

[code]

When trying to deploy a helm chart using the `myrepo.example.com` OCI repository, it fails with:

[code]

which seems to hint that the `enableOCI` parameter is not understood. I couldn't find anything in the docs on how to set this up w

[2021-08-31 13:06] c4m4 opened #7122 "argocd option to use helm install"
# Summary

I would like to use argocd with rancher to manage the cluster applications and still be able to the my apps in the rancher-UI

At the moment, this isn't possible, due to the fact that rancher uses helm list to the apps installed on the cluster and helm uses helm template

# Proposal

How do you think this should be implemented?

[2021-08-31 14:41] dmeytin commented on #3598
+1
Any news on this feature request?

[2021-08-31 17:29] mvazquezc opened #7124 "Allow users to disable deletion for specific objects when application is cascade-deleted"
# Summary

Add a new sync option that allows users to disable deletion for specific objects when the application is cascade-deleted.

This will be useful when running patches through Argo CD on objects such as nodes, oauth configs, etc. without this option if the app gets deleted with cascade deletion enabled those objects are deleted.

# Motivation

I need to add a label to a node, I add that lab

[2021-08-31 18:24] OmerKahani commented on #4029
Hi, we have the same issue with Crossplane.
When using Crossplane, the user creates a `claim` object, then Crossplane creates a `CompositePostgreSQLInstance` cluster object. As cluster objects can't have `ownerRefs` to a namespace object, Crossplane uses `claimRef`
[code]

What would be the best way to solve it? I'm ready to work on this, but it would be great to get some directions :)

[2021-08-31 20:21] Aankhen commented on #6460
I got bitten by this because I’m using Terraform to install ArgoCD in a new cluster and I want to add a webhook secret. The installation is through Kustomize, so I can create `argocd-secret` without issues, but if I ever run <kbd>terraform apply</kbd> to change something, Terraform (correctly) detects that the secret has diverged from its desired state and reverts it, making ArgoCD stop functionin

[2021-08-31 20:51] reginapizza commented on #7023
Trying to come up with a solution to this- would it be okay to move it out of it's current space and move it above the paginate component so it doesn't duplicate, and also include an inline button to disable it? I've heard some feedback on the Red Hat side that some users want an option to disable/hide it, so might be good to give users that option... what do you think @rbreeze?

[2021-08-31 23:24] todaywasawesome commented on #7099
Do you mind sharing the screenshots along with the output of helm template on the relevant repos?

[2021-08-31 23:41] jessesuen opened #7127 "Support for OIDC distributed claims"
# Summary

OIDC providers, namely Azure AD, make use of OIDC [distributed claims](https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims). This feature in the OIDC spec, separates out the claims information into a separate URL endpoint. This endpoint is expected to be visited by the OIDC client app, should they need to inspect that information (i.e. for auth-z).

Here is

[2021-09-01 05:07] jotacamou commented on #6222
Bump.  Experiencing same issues even with v2.1.1 on GKE.

[2021-09-01 07:53] pasha-codefresh commented on #6403
@rbreeze we have merged PR that fix this issue. Could you close it? ( we forgot to add Closes tag inside PR )

[2021-09-01 08:00] patrickhuy commented on #7099
It can be reproduced with a trivial helm chart like this one: https://github.com/patrickhuy/argocdui/tree/master/simple

this application uses values-a.yaml but testValueNotInValues shows "b": `nameOverride` shows empty which is the value specified in `values.yaml`, both `values-a` and `values-b` change it's value.
![image](https://user-images.githubusercontent.com/66731536/131634387-29aa7916-0968

[2021-09-01 09:27] sspreitzer opened #7130 "Allow setting APIVersions for repositories"
# Summary

ArgoCD imports the Default Kubernetes capabilities from the kubernetes apiserver package, currently version 1.20 and does not offer a way to extend or override the capabilities.

# Motivation

Kubernetes cluster upgrade from version 1.21 to 1.22 with several API depecrations, including Ingress. Several helm charts rely on Capabilities.APIVersions and `helm template` offers a `-a` or `--

[2021-09-01 10:00] earthquakesan opened #7131 "Synchronization for ConfigMaps over 262144 bytes does not work, when Replace=true flag is specified"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Synchronization for ConfigMaps over 262144 bytes does not work, when Replace=true flag is specified.
Related issues: #5704 #820

**To Reproduce**

Tested on minikube:

[code]

Run the f

[2021-09-01 13:32] Reamer commented on #7107
If I delete the `argocd-redis` role, the redis pod does not start in OKD/Openshift 4.7
[code]

I use this workaround in my `kustomization.yml`
[code]

[2021-09-01 15:17] #6403 closed

[2021-09-01 16:16] alexmt commented on #7075
Fixed by https://github.com/argoproj/argo-cd/pull/7096

[2021-09-01 16:16] #7075 closed

[2021-09-01 21:46] #2338 closed

[2021-09-01 22:08] rbreeze opened #7136 "UI: Option for per-application sticky view preference"
Currently, if you switch views for an Application (e.g. Pod View or Tree View), it sets the view preference across every application. While this may be desirable for some users, sometimes I want a certain application to "stick" to a different view than all the others.

Possible Solutions:

- Add a UI-only button near the view options that enables "stickiness" for that application. This information

[2021-09-01 22:33] #7046 closed

[2021-09-01 23:53] jessesuen commented on #6939
This issue is specific to CRDs

We are able to handle this with native kubernetes kinds **_but not CRDs_** (unless the field is a nested map field). This all has to do with Kubernetes strategic merge patching and Argo CD's inability to calculate a SMP patch on CRDs because it does not understand the schema.

[2021-09-02 00:51] jessesuen commented on #5742
I hit this as well. with v2.1.1. Workaround is to restart argocd-server:

[code]

Logs:
[code]

[2021-09-02 02:41] shiwano commented on #4933
Since `vmihailenco/msgpack` does not use the `buftool` package, I think this problem is of `go-redis/cache` which uses the `bufpool` package.
I encountered the same problem, so I created an issue for this problem on the `go-redis/cache` repository.

[2021-09-02 07:24] magmax opened #7141 "Selective prune"
# Summary

"Prune" option might be dangerous, but maybe it can be harmless if it can be selective.

# Motivation

I'm scary of enabling "Prune" option for everything, but if I could use a jq query to select what can be pruned it will be enabled safely. This way a very important resource will remain untouch but a less important one (such a grafana dashboard configmap) can be pruned.

# Proposal

Ad

[2021-09-02 10:08] acuteaura commented on #820
This occurs with [kubevela](https://github.com/oam-dev/kubevela/tree/master/charts/vela-core) in the `fluxcd` configmap

[2021-09-02 10:46] jessesuen commented on #7141
IMO, I rather we not add more complexity the spec for this use case. We already have annotations to give fined grain control https://argoproj.github.io/argo-cd/user-guide/sync-options/#no-prune-resources over selective pruning

[2021-09-02 11:52] mateustanaka commented on #7012
@mccrackend We've added those properties in our nginx-ingress but still didn't work. We are using Azure AD and facing a similar error, but with the headers, probably caused by the amount of groups too.

[2021-09-02 12:08] apptio-msobala commented on #5592
Hi, the problem was supposed to be fixed in ArgoCD 2.1.0 but it's still happening for me frequently with v2.1.1+aab9542. Any suggestions?

[2021-09-02 12:23] zebraincognito commented on #6300
The issue still persists in 2.1, could you take a look?

[2021-09-02 12:29] jaywcarman commented on #6442
Hi @alexmt! @dberg1 and I are part of the team that is enabling `ppc64le` arch in [Red Hat Advanced Cluster Management for Kubernetes](https://www.redhat.com/en/technologies/management/advanced-cluster-management), along with it's various integrations with software like Argo CD. How can we help get the discussion started here?

[2021-09-02 12:36] shogomuranushi commented on #7020
I had the same problem.

I was able to create the application by setting the resource.exclusions as @alexmt suggested.
However, I don't understand how it will affect us.

[code]

[code]

[2021-09-02 14:22] mateustanaka commented on #7012
We had a similar issue but regarding a big header, probably because of the amount of groups (we are using Azure AD).

We also using nginx-ingress for ArgoCD server and we have increased the [proxy-buffer-size](https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/configmap.md#proxy-buffer-size) and it worked for us.

[code]

[2021-09-02 17:50] rwong2888 opened #7144 "helm dependency build is failing with subchart"
Error
[code]

Chart.yaml
[code]

Plugin
[code]

Versions
[code]

https://www.gitmemory.com/issue/unbroken-dome/gradle-helm-plugin/102/850499759

[2021-09-02 17:59] reginapizza opened #7146 "Tooltips run up into top bar"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-02 18:29] reginapizza commented on #7023
What about something like this?

https://user-images.githubusercontent.com/50851526/131897344-3b28c650-eab6-4142-9c8c-e93145388c30.mp4

(Sidenote: there are some implementation issues I'm working out with this still, especially at different screen sizes. I would still need further testing to make sure this is a fully functional solution)

[2021-09-02 19:22] doyelese commented on #6300
Encountering this issue also with subset addresses:

![Screen Shot 2021-09-02 at 1 21 54 PM](https://user-images.githubusercontent.com/65038083/131903967-4be9cb48-fa84-427c-beca-24a97d21a0d6.png)

[2021-09-02 19:47] rwong2888 commented on #7144
Had to remove .gitignore which contained below. Seems repo server will take the gitignore into account
[code]

Getting new error
[code]

Related to:
https://github.com/argoproj/argo-cd/issues/3280
https://github.com/IBM/argocd-vault-plugin/issues/190
https://github.com/IBM/argocd-vault-plugin/issues/175

Changing ```helm dependency build``` to ```helm dependency update``` did not work

[2021-09-02 19:55] rwong2888 commented on #7144
https://github.com/IBM/argocd-vault-plugin/issues/175#issuecomment-892888255

[2021-09-02 19:56] utkuozdemir commented on #1786
I tackled this issue by using an optional secret mount into ArgoCD.
Wrote a blog post about it here: https://utkuozdemir.org/blog/argocd-helm-secrets/
Sample repo: https://github.com/utkuozdemir/argocd-helm-secret-values-example

[2021-09-02 20:34] rwong2888 commented on #7144
plugin
[code]

Application
[code]

Getting below error now:
[code]

[2021-09-02 20:40] mayzhang2000 commented on #7144
When using plugins, `helm repo add` of the dependent repository needs be be part of the script.

[2021-09-02 20:45] rwong2888 commented on #7144
@mayzhang2000 I have `helm repo add`
[code]

[2021-09-02 21:14] rbreeze opened #7147 "Extensions: Perform pre-processing of tree data before sending to Extensions"
Currently, extensions get the raw resource tree from Argo CD, which offers a lot of data to use, but can require extensive processing if the tree is large. For example, the Rollout Extension must iterate over each tree node to find all ReplicaSets and Pods, and then iterate further through each ReplicaSet and Pod to determine parent/child relationships.

Solution:

Argo CD already does processing

[2021-09-02 22:01] mayzhang2000 commented on #7144
@rwong2888 I just followed your steps and created application using [app](https://github.com/mayzhang2000/argocd-example-apps/blob/master/plugins/application-for-dependencies.yaml). I can see the application has dependencies resolved.
![image](https://user-images.githubusercontent.com/7737306/131921949-70eb4142-4102-42d3-9ebd-494744edc9fe.png)

Maybe I have missed something?

[2021-09-02 22:32] rwong2888 commented on #7144
I'm unable to get it working @mayzhang2000 ...

I'm on below argocd and vault plugin versions...

[code]

[code]

[2021-09-02 23:06] mayzhang2000 commented on #7144
@rwong2888 I did not use argocd-vault-plugin. In my plugin, I used below to test if plugin can resolve dependencies.
[code]

[2021-09-03 02:07] rwong2888 commented on #7144
@mayzhang2000 I think the problem is it's a read only filesystem for repo-server... Any ideas where that may be configured?

Test
[code]

Logs
[code]

[2021-09-03 02:37] rwong2888 commented on #7144
I see read only filesystem got introduced in argo 2.1, are you using a version below that @mayzhang2000 ?

[2021-09-03 07:38] vijay-dcrust commented on #7033
Hi @wtam2018  the finalizer resources-finalizer.argocd.argoproj.io is added automatically by application controller even if i am not specifying it in the manifest. Is there a way to stop it. I am using applicationset to create application.

[2021-09-03 09:19] magmax commented on #7141
@jessesuen Very interesting!
Agreed: that should be enough.

Thank you very much!

[2021-09-03 09:19] #7141 closed

[2021-09-03 10:27] pmorch commented on #5991
I can confirm that this works:

[code]

My `SealedSecret`-s are no longer progressing

[2021-09-03 11:50] rwong2888 commented on #7144
Confirmed read only filesystem is the culprit. Downgraded to 2.0.5 to test

I see jetstack yaml in repo-server now and manifests attempting to sync now with the error
[code]

[code]

![image](https://user-images.githubusercontent.com/61470342/132000087-70c2bc9e-a118-40b0-940d-db90ea687908.png)

Reference:
https://github.com/argoproj/argo-cd/issues/3648

@mayzhang2000 , @alexmt can we have repo-ser

[2021-09-03 13:20] rwong2888 commented on #7144
Upgraded to 2.1.2 and added this overlay

[code]

Getting past the previous errors now

[2021-09-03 13:27] rwong2888 commented on #7144
@mayzhang2000 , @alexmt can you review the [PR](https://github.com/argoproj/argo-cd/pull/7152)?

[2021-09-03 14:57] rwong2888 commented on #7144
Emptydir is wiping out the cached helm repos specified in configmap...

[2021-09-03 15:05] rwong2888 commented on #7144
Any suggestions on how to overcome this issue @mayzhang2000 , @alexmt ?

New overlay to remove read only filesystem....

[code]

[2021-09-03 15:38] geoffrey-pascal commented on #6442
Hi! This would be very useful to have the ppc64le architecture available in ArgoCD. I am building it manually on ppc64le for a while and as @dberg1 said it requires only minor changes. Thanks

[2021-09-03 16:09] kimkybuom123 opened #7154 "Cant Add Cluster Ipv6"
WARNING: This will create a service account `argocd-manager` on the cluster referenced by context `kubernetes-admin@kubernetes` with full cluster level admin privileges. Do you want to continue [y/N]? yes
INFO[0004] ServiceAccount "argocd-manager" already exists in namespace "kube-system"
INFO[0004] ClusterRole "argocd-manager-role" updated
INFO[0005] ClusterRoleBinding "argocd-manager-role-bindin

[2021-09-03 17:24] jannfis commented on #7124
We do have sync option `Prune=false` already. Have you tested using that?

[2021-09-03 17:31] jsoref opened #7155 "Report imageID instead of requested image label for pods"
# Summary

Provide a way to show imageID instead of just image tags for pods

# Motivation

Some of our systems rely on floating tags (e.g. `latest`), and it's nice to be able to hover over pods and know which images are running in them.

![image](https://user-images.githubusercontent.com/2119212/132044829-a1546605-9a4c-4394-aed9-5b080672dfb7.png)
![image](https://user-images.githubusercontent.com

[2021-09-03 17:42] lsolovey opened #7156 "Fail application sync if it creates resource already managed by another Application CRD"
# Summary

Provide a way to fail Argo CD application sync if it creates resource with the same `namespace/name/type` as already created by another Application.

Current behavior is that the last app being synced actually "wins", resource is being overwritten, and another app (which was synced before) gets `SharedResourceWarning`.

# Motivation

Current Argo CD behavior (proceeding with sync) is op

[2021-09-03 18:50] jopit commented on #7154
What version of argocd are you using?

[2021-09-03 19:13] kimkybuom123 commented on #7154
argocd-server version : 2.0.4
argocd cli : 2.1.1

[2021-09-03 19:42] mvazquezc commented on #7124
Yes. Prune false works as expected when you delete content from Git and you don’t want it to be deleted from the cluster. In this case we need that when deleting the app, I tested deleting the app with prune=false and the patched content was deleted as well. Am I missing anything?

[2021-09-03 19:51] #6956 closed

[2021-09-03 21:38] karthikvijayan3 opened #7158 "Message on Synced -> More field popping out"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

*[ *] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ *] I've included steps to reproduce the bug.
* [

[2021-09-03 21:43] mayzhang2000 commented on #7144
@rwong2888 Have you tried [custom tooling](https://argo-cd.readthedocs.io/en/latest/operator-manual/custom_tools/#adding-tools-via-volume-mounts)?

[2021-09-03 22:12] doyelese opened #7159 "GlusterFS PersistentVolume does not contain a namespace"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-09-03 23:40] mayzhang2000 commented on #7159
PVs are not scoped to any namespace. FYI: [link](https://stackoverflow.com/questions/32316178/does-kubernetes-pv-recognize-namespace-when-created-queried-with-kubectl)

[2021-09-04 16:59] irizzant commented on #7144
Please review https://github.com/argoproj/argo-cd/pull/7162

To me this works like a charm.

Waiting for the approval, you can also use the following kustomize patch:
[code]

[2021-09-06 10:44] chrisob commented on #7107
The HA manifests still reference runAsUser and fsGroup which result in OpenShift refusing to create the pods due to the missing SCC:

https://github.com/argoproj/argo-cd/blob/v2.1.2/manifests/ha/namespace-install.yaml#L1908
https://github.com/argoproj/argo-cd/blob/v2.1.2/manifests/ha/namespace-install.yaml#L1162

[2021-09-06 11:48] sersanherr commented on #7107
I have the same problem, deleting the runAsUser fixes the issue.

[2021-09-06 12:51] penglei commented on #2953
I use passthrough mode in my Ingress, but I forget the annotation `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` and it resulted in nginx-ingress-controller generating `proxy_pass http://upstream_balancer` in the nginx.conf. After I added this annotation, the server stopped responsing 307.

[2021-09-06 22:33] jschnurr commented on #4276
I'm on `Argo v2.1.1`  deployed with `kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/v2.1.1/manifests/install.yaml`, and the following manifest works for me using the `argoproj.io/v1alpha1` apiVersion.

[code]

[2021-09-07 04:49] r0bj opened #7169 "Change Application target revision via web GUI: Unable to resolve 'test_branch' to a commit SHA"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-07 05:36] collardmsc commented on #7107
When trying to install from latest stable manifest

`Error from server (NotFound): error when applying patch:
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"rbac.authorization.k8s.io/v1\",\"kind\":\"RoleBinding\",\"metadata\":{\"annotations\":{},\"labels\":{\"app.kubernetes.io/component\":\"redis\",\"app.kubernetes.io/name\":\"argocd-redis\",\"app

[2021-09-07 05:42] Atoms commented on #7099
I had this issue also on 2.0.x thought some bug in that version, now I see that it's still on 2.1 also.

When you add helm chart from git repo and want to use values file, previously it was suggesting names for values files, now it does not suggest, and when you enter manually, it's not saved to application manifest, as a workaround you can edit application manifest and add valueFiles manually. th

[2021-09-07 06:04] rayshoo opened #7170 "Is argocd-util deprecated in docker image?"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-07 07:22] chetan-rns commented on #7170
Hi @rayshoo, from v2.1.0 onwards argocd-util commands will be available under `argocd admin`. https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.0-2.1/#the-argocd-util-cli-commands-merged-into-argocd-admin

Can you please try replacing argocd-util with `argocd admin`? I believe the [disaster recovery docs](https://argoproj.github.io/argo-cd/operator-manual/disaster_recovery/) sho

[2021-09-07 08:49] rayshoo commented on #7170
@chetan-rns Thank you very much! I solved the problem thanks to you. It looks like the docs need to be updated. Good luck and have a nice day!! :)

[2021-09-07 08:49] #7170 closed

[2021-09-07 13:48] Jaydee94 commented on #2925
Experienced the Same Problem with Version 2.1.2.

[2021-09-07 14:56] Ragatzino commented on #6351
I tried to add a feature to solve this kind of problem : https://github.com/helm/helm/pull/10108. Yet it seems like it is not the good way around. Have you got another idea ? 🍵 🦖

[2021-09-07 15:30] rwong2888 commented on #7144
Thanks @irizzant , I was looking into exporting `HELM_CACHE_HOME` in the plugin, but this is cleaner and works!

Any thoughts on adding `HELM_PLUGINS`? I tried to do that, but it did not move my plugin from `HELM_PLUGINS=/home/argocd/.local/share/helm/plugins/` to `/helm-working-dir`. Additional configuration must be needed.

[2021-09-07 15:31] flaviolemos78 opened #7173 "Retry with exponential backoff result in time to wait of zero"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-07 16:53] cwilkers opened #7175 "Resource Customizations for KubeVirt Data Types"
# Summary

As a KubeVirt user, I would like for Argo-CD to better understand status fields of VirtualMachines, VirtualMachineInstances, and DataVolumes.

# Motivation

DataVolumes often require a long download or PVC clone phase, where they are manifest complete, but not "Conditions=Ready"

VirtualMachines are dependent on creating a VMI, which can only be done once relevant storage is sorted

Vir

[2021-09-07 20:10] sathieu commented on #6351
We need some ArgoCD devs input here. @alexmt, sorry to disturb you, but could you please take a look at https://github.com/helm/helm/pull/10108#issuecomment-914363291? Is the proposed path acceptable from the ArgoCD perspective?

[2021-09-07 20:43] ttk commented on #6061
Tested again with v2.1.0+d0b2d55.  Same problem.

[2021-09-08 08:11] snorwin opened #7178 "Pattern matching in health checks"
# Summary
Support pattern matching in health checks.

# Motivation
Pattern matching in custom health checks would allow to create more sophisticated health checks.

# Proposal
Add `string` library which contains powerful functions such as `find` and `sub` to the Lua VM.

[2021-09-08 08:24] aslafy-z opened #7179 "Show "Open application" link in Application details list view"
# Summary

Show "Open application" link in Application details list view.

# Motivation

This "Open application" link is only visible in Application details tree view. It would be helpful to have it in list view too.

# Proposal

The link may be added here: https://github.com/argoproj/argo-cd/blob/master/ui/src/app/applications/components/application-details/application-resource-list.tsx#L31
Eithe

[2021-09-08 09:42] irizzant commented on #7144
@rwong2888  you're welcome.

It's weird it doesn't work. Indeed, just with the above config, helm should be already able to use `helm-working-dir`.
I tried myself using the kustomize patch reported above, and when I run `helm plugin install` I get no error and I see the plugin data listed in `helm-working-dir/plugins`.

E.g
[code]

Which plugin are you trying to install?

[2021-09-08 12:42] saumeya commented on #7158
I'll try to reproduce and fix this

[2021-09-08 13:01] snorwin commented on #7178
Never mind, already covered by: #6050

[2021-09-08 13:01] #7178 closed

[2021-09-08 13:21] rwong2888 commented on #7144
Ah, I figured it out @irizzant , it is an artifact from Build Your Own Image...
However, If I were to point it to the helm dir, then the above overlay would wipe it out.
Should I be installing it after the fact somehow?

[code]

[2021-09-08 13:37] dineshpatilcloud commented on #6056
Hi @jessesuen  any chance to get this fixed , I also tried with the below options
actions/apps/Deployment/restart but this is not working
like below
p, proj:support-bot:restart-deploy, applications, action/apps/Deployment/restart, support-bot/*, allow

But this is not working @jessesuen  can you please help me here

[2021-09-08 13:54] irizzant commented on #7144
@rwong2888 in this case I think you could specify a Kubernetes initContainer doing exactly the same.

[2021-09-08 15:02] alexec opened #7182 "Dataflow pods stay in progressing state"
My pods stay in progressing, event thought they are ready/running:

![image](https://user-images.githubusercontent.com/1142830/132534455-3239ca01-1fc3-4520-bddd-5ddb2591dda1.png)

Any chance you can take 2 mins to let me know why that might be? It is confusing for me.

[code]

[2021-09-08 16:17] alexec opened #7183 "Zoom in and out on resource view"
# Summary

I'd like to be able to zoom out to see large apps.

# Motivation

Because I have large apps.

# Proposal

Like we do for workflows.

[2021-09-08 16:39] alexec commented on #7182
Here is the cause:

[code]

[2021-09-08 16:39] doyelese commented on #7159
@mayzhang2000 Thanks for the info.

What would cause the diff in this PV to not update properly then? Maybe I was connecting the dots the wrong way.

![Screen Shot 2021-09-08 at 10 39 12 AM](https://user-images.githubusercontent.com/65038083/132549759-e4ab0134-9e9a-498b-8b41-aaf96fdb6e07.png)

[2021-09-08 16:40] rwong2888 commented on #7144
@irizzant it looks like it installs the plugin as I see the directory, however it does not show up in `helm plugin list` nor does it recognize a handler for `gs`. Am I missing an env variable?

[code]

[code]

[code]

[2021-09-08 18:29] adrianbjordan opened #7184 "Generic "Something went wrong!" message while trying to view yaml in ArgoCD UI"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x ] I've included steps to reproduce the bug.

[2021-09-08 21:31] andy-v-h commented on #6206
This is resolved by https://github.com/argoproj/argo-cd/pull/6961, correct?

[2021-09-08 21:47] jutley commented on #4997
Found this ticket from wanting behavior like this. My recommendation would be to make a separate metric `argocd_app_labels` in the same spirit as kube-state-metrics' `kube_pod_labels`.

Regarding cardinality, I would argue that this is not an issue. Typically cardinality concerns have to do with having many possible values for multiple labels, and having metrics express all the possible combinatio

[2021-09-08 21:58] cheddarwhizzy commented on #3895
[code]

[2021-09-08 22:38] rbreeze commented on #6206
@andy-v-h no, #6961 only fixes an issue with spacing. This issue describes a UX issue that is more than just cosmetic

[2021-09-08 22:45] matoszz commented on #2925
also experienced the same issue on v2.1.2

[2021-09-09 03:48] zhj-hx commented on #5068
@jsoref  hello, I also encountered similar problems. How did you solve them ?

[2021-09-09 03:51] jsoref commented on #5068
No good answer, sorry.

[2021-09-09 07:06] zhj-hx commented on #5068
thanks,I saw him recover automatically

[2021-09-09 08:46] irizzant commented on #7144
@rwong2888 I think this is more an Helm issue.

I bumped into https://github.com/helm/helm/issues/7528 and tried to also set `XDG_DATA_HOME=/helm-working-dir`.
At this point `helm plugin list` starts complaining about double plugin names:
[code]
but this seems to me more related to helm than to the Kubernetes volume.

[2021-09-09 10:05] bitfactory-henno-schooljan commented on #6785
I see that since this change a `targetRevision: <branch name>` without the `refs/heads/` prefix is no longer triggering the refreshes for me when a webhook comes in. For instance I would have a `release/1.0` branch in GitHub, and a `targetRevision: release/1.0` which would trigger correctlyon Argo CD v2.0, but on v2.1 I need to change it into `targetRevision: refs/heads/release/1.0` for it to work

[2021-09-09 10:27] bitfactory-henno-schooljan commented on #4435
Just be aware that that would allow for the management of arbitrary namespaces as right now we cannot white-/blacklist cluster-wide resources by resource name in an application. You could obliterate any namespace by adding it to the Application and then deleting the Application.

[2021-09-09 12:32] jvilhuber opened #7186 "Quickly switch between applications, bypassing main page"
# Summary

Would be nice to be able to search and jump to applications from application pages, not just from the main page.

# Motivation

We have a lot of apps, and from some parts of the world loading /applications takes upwards of 15 seconds (some days much more, depending on internet quality), so jumping back to the main applications page every time I need to switch to another app annoying to

[2021-09-09 13:55] IbraheemAlSaady commented on #3454
Why is this issue closed?

I've tested this with the following and it didn't work

[code]

Shouldn't `Redis` app run after the `cert-manager` app is in a healthy state?

I also enabled the health assesment mentioned [here](https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/1.7-1.8/#health-assessement-of-argoprojioapplication-crd-has-been-removed)

*Versions:*

[code]

[2021-09-09 14:02] rwong2888 commented on #7144
I am okay keeping `HELM_PLUGINS` unset as it is working for me and revisiting later @irizzant . Do you or @alexmt foresee any issues with that?

[2021-09-09 14:07] ferdinandosimonetti commented on #6222
Same of above, ArgoCD 2.1.2 (Helm chart argo-cd-3.17.6), Kubernetes 1.19.13-rancher1 (RKE).
Had to rollback to old resource API version, sigh.

[2021-09-09 16:03] #7115 closed

[2021-09-09 17:49] #7144 closed

[2021-09-09 19:13] shanproofpoint opened #7189 "Ability to read additional environment variables within the argocd-repo-server"
# Summary

When specifying an Application yaml, we would like the build envirionment to include all os level environment variables or can be restricted to any custom os environment variable prefixed with ARGOCD_

# Motivation

we are setting up many clusters that poll a single git repo for their entire list of applications and their configuration.  however, each cluster has an identity that is use

[2021-09-09 20:13] u2m4c6 commented on #2920
Please update the docs! Shouldn't have to come to a Github issue to backup argocd :)

[2021-09-09 21:39] patchon opened #7191 "Scoped repositories may not work as intended"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hi,

I think this could be a bug, but it could also be a missunderstanding, or a feature that is not yet complete.
We are very exciting about the idea about scoped repositories, since i

[2021-09-09 21:56] jutley opened #7192 "Cmd+Click on multiple applications opens each application in the same browser tab"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When I cmd+click multiple applications, a new browser tab is opened for the first application, but each successive application opens in the same browser tab as the first application. Ty

[2021-09-09 22:22] jutley opened #7193 "Allow viewing previous container logs in log viewer"
# Summary

When using `kubectl logs`, we have the flag `--previous` available, which allows us to view the logs of the previous container before it stopped running, which may have been due to a crash or a successful completion. This functionality is not currently available in the Argo CD logs view, and would be a nice addition.

# Motivation

Many of our users are almost exclusively using Argo CD

[2021-09-09 22:24] alexmt commented on #7191
Hello @patchon. Thanks for trying the feature and providing feedback!

It is not expected that someone whitelist `ssh://git@internal-git-server:9999/**` in project. Only the administrator might create this setting but the administrator should not do it to take advantage to project scoped repos/clusters.

As opposed to "shared" repositories "project scoped" repositories should not be whitelisted in

[2021-09-10 03:00] tsunamishaun commented on #5584
Wanted to report that I also see this when last-applied configuration for a secret contains `data: {}` my example is a certificate from cert manager. You can delete the last-applied annotation all you want but it will come back.

[2021-09-10 03:24] rwong2888 commented on #7048
It's due to read only filesystem. See [my issue](https://github.com/argoproj/argo-cd/issues/7144)

[2021-09-10 03:48] #7099 closed

[2021-09-10 05:22] tylerauerbeck commented on #7090
@alexmt I'd be happy to give this an update. For some clarity though, is it just updating `navigation.goto` calls with this parameter within this file? Or would this be across the board within the ui?

[2021-09-10 10:15] xlanor commented on #2424
Does anybody have a solution for saml/okta with groups instead of explicitly specifying permissions for each username>

[2021-09-10 10:19] xlanor commented on #5232
@cp1408  Any chance you could post a working sample? Thanks

[2021-09-10 11:39] limoges commented on #4296
We had very high hopes that this would be fixed with v2.1 and I've come around to making the update to v2.1.2.

Unfortunately, the performance issue is still there. I didn't measure before the update but I don't notice any difference.
![image](https://user-images.githubusercontent.com/281221/132847772-7f6da6c9-f15b-41fb-8d0f-b65669303363.png)

We have ~1000 applications.

[2021-09-10 11:59] matoous commented on #4296
Can confirm, the load time is still slow
<img width="696" alt="Screen Shot 2021-09-10 at 13 56 04" src="https://user-images.githubusercontent.com/15747583/132850020-4b5d41f2-e497-4d9b-8b3d-2d41953e9155.png">

[2021-09-10 12:23] johnkost commented on #2424
We use Okta and were able to use groups here. We use Ansible to drive creation of the Helm values

Generic users with access to only their apps
[code]

Admin teams
[code]

[2021-09-10 15:52] ThoughtHopper commented on #3895
I'm having this problem too.

I'm trying it from the UI (buttons), modifying the manifest, the kubectl patch does not work either.

I'm under the impression that this is something intermittent. I think it was working a day or two ago, but now it's not.

Here is my server version

{
    "Version": "v2.0.4+0842d44",
    "BuildDate": "2021-06-23T01:27:53Z",
    "GitCommit": "0842d448107eb1397b251e63e

[2021-09-10 16:08] alexmt commented on #7090
Thank you @tylerauerbeck ! I was thinking across the board. In particular, code that opens/closes sliding panels on applications list and application details pages. I think this is the main contributor that pollutes history.

[2021-09-10 16:28] alexmt commented on #4296
Thank you @matoous and @limoges ! Reopening ticket. Will attack it in 2.2 again

[2021-09-10 16:39] alexmt opened #7197 "Enable/Disable auto sync button behavior improvement"
**Describe the bug**

The enable/disable autosync button behavior needs an improvement:

* Enable/Disable autosync button click handles does not show error message if API fails to change policy (catch is missing):
https://github.com/argoproj/argo-cd/blob/b37eee1054e42c873699460dd5e2447c2f9fe5a6/ui/src/app/applications/components/application-summary/application-summary.tsx#L320-L327

* By default A

[2021-09-10 16:40] alexmt commented on #3895
Created ticket to improve auto-sync button behavior: https://github.com/argoproj/argo-cd/issues/7197

[2021-09-10 18:09] francilioaraujo opened #7198 "Project destination using cluster name does not work"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-10 18:24] francilioaraujo commented on #7198
The same thing happens on v2.1.2

argocd: v2.1.0+d0b2d55
  BuildDate: 2021-08-20T05:30:54Z
  GitCommit: d0b2d55e3fb7fe8b17385d6687886de41651f31b
  GitTreeState: clean
  GoVersion: go1.16.5
  Compiler: gc
  Platform: linux/amd64
argocd-server: v2.1.2+7af9dfb
  BuildDate: 2021-09-02T18:05:23Z
  GitCommit: 7af9dfb3524c13e941ab604e36e49a617fe47d2e
  GitTreeState: clean
  GoVersion: go1.16.5
  Compiler

[2021-09-10 18:29] alexmt commented on #7198
I think it is not a bug but valid feature request. We need to update application controller to use [ValidateDestination](https://github.com/argoproj/argo-cd/blob/49378a95c400a9e535a7178a2a77ba2022a5e084/util/argo/argo.go#L301) function to fetch cluster server URL if only cluster `name` is specified. This should be enough to support validation using cluster name. Also projects cluster name should b

[2021-09-10 18:35] ThoughtHopper commented on #7197
I guess having an error message would help, but if the #3895 Unable to disable auto-sync is a bug, that should be fixed

Thanks

[2021-09-10 20:31] neelk-s1 commented on #2925
we had luck reverting to v2.0.2

[2021-09-10 21:16] SabySen commented on #2925
@neelk-s1 2.0.4 is good as well. I am thinking the moment you go to the next minor version the trouble begins.

[2021-09-12 14:23] iyurev commented on #3539
+ 1 have the same issue

[2021-09-12 17:36] pasha-codefresh commented on #2925
I can't reproduce this issue with steps as inside description. Could you please share details
@SabySen @kj187 @neelk-s1 @matoszz @Jaydee94

[2021-09-12 19:02] rbreeze opened #7204 "Argo-CD-Instance Level Resource Usage View"
In the Application Pod View, if you use Node View, for each node you see how much CPU / Memory your application pods (and their neighbors) are using.

It should be possible to see, in one view, each node that the Argo CD instance is aware of, and see the resources that each app is taking up. This way it doesn’t require traversing through each app to find out which ones are resource hungry.

[2021-09-12 20:58] duyngle commented on #7146
Can I work on this bug @mayzhang2000

[2021-09-13 02:07] alexmt commented on #7146
Sure, Thank you @duyngle !

[2021-09-13 02:11] aelbarkani commented on #3539
same here

[2021-09-13 08:35] pasha-codefresh commented on #7058
Cant reproduce the issue anymore

[2021-09-13 09:00] MikeK184 commented on #3213
Hi, just to clarify, is this already in use? Because currently the [field iat](https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml#L2398-L2415) is still the only field thats required. Unfortunately in order to save your JWT Tokens in case of a Disaster-Recovery you would need to know the IAT which you only know after you create the Token.

[2021-09-13 10:08] patchon commented on #7191
Wow, thanks for the quick response @alexmt.
After removing the whitelist, the user could only add the repositories that were speciefied in the scoped repositories list. So this is all working as expected.

One last question if you may,
- There is no "edit" btn from the gui to edit the list scoped repositories. Is this by design, and that this should only be done trhough the cli ? Or is it simply n

[2021-09-13 10:44] yogeek commented on #2925
Hi :)
Same problem with 2.1.1
here are the details :
[code]

[2021-09-13 11:03] pasha-codefresh commented on #7191
Hi @patchon . Thank you for your feedback. It was designed in such way. I think we can add UI for this , @alexmt wdyt ?

[2021-09-13 11:05] pasha-codefresh commented on #2925
Thank you @yogeek , i will check it today

[2021-09-13 11:11] yogeek commented on #2925
@pasha-codefresh thanks
Side note : maybe the issue is only if argocd has been updated to a new version, not sure about that but I had the issue only on clusters where I did an upgrade, not fresh install

[2021-09-13 11:18] joaosilva15 commented on #6108
Hey. I was having the exact same problem and managed to find the resource that was causing trouble.

After digging around I found that all apps in the cert-manager namespace were triggering ~60 refreshes per minute.
In our setup, we had orphanedResources enabled in all projects and looking at those I found that (in our case) 3 configmaps were constantly being updated by cert-manager leader electio

[2021-09-13 12:16] patchon commented on #7191
I guess it *could* be a little bit "confusing" for the user not being able to edit this from the gui. I mean, if the user has the right access it could edit the other settings, no ?

But other than that, I think this is a great feature that I know atleast we will use to make users have a more self-service approach.

Thanks again!

[2021-09-13 12:51] SabySen commented on #2925
Seems to me that the issue is when you upgrade to the 2.1.x version. you can replicate the same from the UI as well.

[2021-09-13 12:55] Jaydee94 commented on #2925
I've Upgrades from 2.0.1 to 2.1.2. Seems to work with a fresh Installation. When upgrading from a prior version the issue appears.

[2021-09-13 13:02] SabySen commented on #2925
IDK upgrading from 2.0.1 but 2.0.4 to 2.1.0 gives me this issue.

[2021-09-13 13:08] iyurev commented on #3539
After all I've added our root CAs to the argocd image,  maybe it's dirty workaround, but it works:
[code]

[2021-09-13 14:37] patchon commented on #7191
I'll close this since I think it works as expected and that it was an misunderstanding from our side.
I've just tried it with the argocd cli as well and it seems to work adding / removing scoped repos as well.

Awesome 🥳 🎉

[2021-09-13 14:37] #7191 closed

[2021-09-13 15:01] pasha-codefresh commented on #7191
Thank you for evaluating this feature :)

[2021-09-13 15:48] alexmt commented on #2251
Implemented! Thanks to @pasha-codefresh

[2021-09-13 15:48] #2251 closed

[2021-09-13 15:48] alexmt commented on #5283
Implemented! Thanks to @pasha-codefresh

[2021-09-13 15:48] #5283 closed

[2021-09-13 17:16] rdgacarvalho commented on #4276
I trying to apply the above example on **argo-cd-3.10.0** and I am getting the following error.

[code]

Kubernetes-1.20.0

[2021-09-13 17:58] #7064 closed

[2021-09-13 18:35] rwong2888 commented on #6958
Found a workaround with kustomized-helm

argocd-cm
[code]

application.yaml
[code]

applications/coredns/base/Chart.yaml
[code]

applications/coredns/overlays/remove-label.yaml
[code]

applications/coredns/kustomization.yaml
[code]

[2021-09-13 18:35] #6958 closed

[2021-09-13 22:52] rbreeze opened #7208 "UI: Add quick-action buttons to Pod View top level resources"
In the Application List Tiles view, there are "quick action" buttons to easily refresh, sync, etc. an application:

<img width="405" alt="Screen Shot 2021-09-13 at 3 50 59 PM" src="https://user-images.githubusercontent.com/6250584/133167153-c4f31df5-a9f9-4436-b4b1-e1583b8d3c26.png">

This could be added to the Pod View so that users do not have to click the "three dots" button to restart a deploym

[2021-09-14 09:39] reggie-k opened #7211 "Introduce RBAC based approach to pod logs"
# Summary

Need to disable the access to pod logs in the UI / cli for some users

# Motivation

Security considerations. Operators of the deployments are sometimes not allowed to see the pod logs, which possibly contain sensitive business data.

# Proposal

RBAC based approach to pod logs, API enforced.
Something like the following project policy may be appropriate:
"- p, proj:my-project:log-viewe

[2021-09-14 11:58] mcanevet commented on #2936
Would it be possible to use an array of maps instead of a map so that we can pass multiple values as the `helm` binary supports it?

[code]
i.e.
[code]

[2021-09-14 12:47] pasha-codefresh commented on #2925
I have tried
1. Install argocd v2.0.0
2. Execute argocd repocreds add git@$GIT_URL: --ssh-private-key-path ~/.ssh/id_rsa
3. Upgrade to stable kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
4. Execute argocd repocreds add git@$GIT_URL: --ssh-private-key-path ~/.ssh/id_rsa

As result I got: "repository credentials for added" without any er

[2021-09-14 12:48] pasha-codefresh commented on #2925
I would propose improve this error message, "existing repository spec is different; use upsert flag to force update" with details what actually was changed

[2021-09-14 16:31] jsoref opened #7213 "`namespace: undefined` should not say `undefined`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-14 16:44] jsoref opened #7214 "Filters should favor matching on short names"
# Summary

What change you think needs making.

# Motivation

Entering `sts`, or `pvc` or `cr` or `crd` should filter/highlight matching short names

# Proposal

1. Visit https://cd.apps.argoproj.io/applications/argo-cd?resource=
2. In kinds, enter `svc` or `crd` or `rs` or `cm` or `rb` or `sts`
3. Expect to see first and foremost in the list the item whose shortname corresponds to the entered sho

[2021-09-14 17:35] jaideepr97 commented on #7198
Hey @alexmt, I'd be interested in looking into this

[2021-09-14 17:39] alexmt commented on #7198
Thank you @jaideepr97 !

[2021-09-14 18:35] LarsAC opened #7216 "Unable to create Ingress from helm chart"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-14 20:30] jaideepr97 commented on #7198
Hi @francilioaraujo @alexmt
I'm trying to reproduce this issue, but I'm not sure how to
Could you elaborate on how I should create the application?

I tried applying this application manifest through the terminal but didn't encounter the described issue:
[code]

 I also tried creating this app through the UI and failed to reproduce the issue

[2021-09-14 20:43] alexmt commented on #7198
Hello @jaideepr97 ,

I think to reproduce it you need to create a project that whitelist cluster by name but not URL. UI does not allow it so you would have to use Kubectl. Here is sample project YAML:

[code]

[2021-09-14 21:00] jaideepr97 commented on #7198
Ah okay, so currently we get an error: `application destination {https://192.168.1.128:6551 guestbook} is not permitted in project 'myproject'`, and user would explictly have to perfrom `argocd proj add-destination myproject https://192.168.1.128:6551 guestbook` in order to get it to work, and we don't want this step to be required, instead it should be able to resolve the cluster name to the serv

[2021-09-14 23:13] alexmt commented on #7198
That is correct. The  `argo.ValidateDestination` function contains logic that lookup cluster by name and set  the server url in the dest`ApplicationDestination` go structure.

I would suggest change `argo.GetAppProjectByName` fuction and use `argo.ValidateDestination`  to filfull destination server URL

[2021-09-15 06:33] jannfis commented on #7216
I think you might be missing

[code]
from your list of allowed resources.

[2021-09-15 08:07] rouke-broersma opened #7219 "Overwrite revisionhistorylimit for deployments from argocd"
# Summary

We deploy many helm charts from 3rd parties in our environment. Most of these helm charts do not allow specifying the revisionhistorylimit. Due to this all our applications have 10 replicasets for every deployment. However we are fully gitops, so we have no use for replica history. We would like to be able to specify in argocd to overwrite the revisionhistorylimit before deploying.

# M

[2021-09-15 08:21] duyngle commented on #7213
Hi @alexmt , can I work on this bug

[2021-09-15 08:37] victorboissiere commented on #6125
We have the same use case as well where we usually have 3 to 6k of ArgoCD applications in our staging environment. The fact that the sharding is on a per-cluster basis instead of per-app is not helping much because we deploy everything into the same cluster (in staging).

[2021-09-15 12:27] rouke-broersma commented on #6078
@KlavsKlavsen are your crd's in the crd folder of the chart or in the template folder?

[2021-09-15 12:32] LarsAC commented on #7216
Great, confirmed working. Thanks a lot.

Does the group tag correspond to the namespace ?

Lars

[2021-09-15 12:32] #7216 closed

[2021-09-15 12:40] joaomo opened #7324 "External Secret Sync failure"
Every time an external secret is in a failed state it prevents ArgoCD from doing a sync of changes and requires a delete of the resource.

This behavior was reported here: https://www.gitmemory.com/issue/argoproj/argo-cd/6039/821598989

[2021-09-15 12:43] jannfis commented on #7216
`group` specifies the API group for resources

[2021-09-15 13:28] mikebryant opened #7223 "`argocd admin settings resource-overrides ignore-differences` doesn't work with `jqPathExpressions`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

With a configmap setting like:

[code]

The CLI tool doesn't recognise the config:
[code]

**To Reproduce**

Use config as above that doesn't use the `jsonPointers` section

**Expected

[2021-09-15 14:12] sebastianbuechler commented on #6595
Hi @whereismyjetpack, we have exactly the same problem. However, we are not able to solve it just with the `scopes` parameter. Do you mind sharing some example config files from you successful solution?

[2021-09-15 15:27] whereismyjetpack commented on #6595
@sebastianbuechler  -- we solved this by adding the following to `argocd-rbac-cm`

[code]

Then on the AzureAD side creating roles, and mapping those roles to security groups.

[2021-09-15 15:30] sebastianbuechler commented on #6595
Thanks for the reply @whereismyjetpack! And how do you map the role of AzureAD to the security groups exactly?

[2021-09-15 15:36] scjudd opened #7226 "Persist port-forward configuration in localconfig"
# Summary

We should allow `port-forward-namespace` to be specified in the `servers` entries in `~/.argocd/config`.

# Motivation

I have multiple Argo CD servers in different namespaces. I currently connect to these servers by first switching to the correct context via `argocd context foo` and then pass the `--port-forward-namespace foo` parameter to all CLI commands.

It would make for a better

[2021-09-15 15:56] whereismyjetpack commented on #6595
You create an `App Role` within the app registration
![Screen Shot 2021-09-15 at 11 53 31 AM](https://user-images.githubusercontent.com/3694886/133467107-1bf26241-4027-4afb-a762-17ab19e080e3.png)

Then in the "Enterprise Aplications side of the app registration, you find "Users and Groups" add a user or group, then bind it to that role

if a member of that group logs in, in my example they will be

[2021-09-15 15:57] bdun1013 opened #7227 "`Argo CD server address unspecified` with Argo CD CLI `v2.1.x`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-15 16:04] whereismyjetpack commented on #6595
oh, yes sorry -- i omitted that becuase of institutional stuff

but one of our roles looks like this
```p, role:devteam, applications, get, defalt/devs-*, allow```

[2021-09-15 16:05] parsley42 opened #7228 "Cluster bootstrapping doc should mention Application wave behavior"
# Summary

In implementing the "app of apps" pattern for cluster bootstrapping, I found that bootstrapping in waves didn't work without a configuration change. I had to search around to find [the issue](https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/1.7-1.8/).

# Motivation

Anyone bootstrapping a modestly interesting cluster would want to know about this.

# Proposal

I have a

[2021-09-15 16:05] #6336 closed

[2021-09-15 17:21] booleanbetrayal opened #7230 "Git and repository caching issues with 2.1.0+?"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

We are seeing the following error occasionally, resulting in ArgoCD Sync failures that propagate as Unknown sync status for any Application that relies on that repo:

[code]

This happe

[2021-09-15 17:34] u2m4c6 commented on #5110
I am seeing this as well with v2 and go 1.16. I have restarted all of the argocd pods. Any ideas how to fix this?

{
    "Version": "v2.1.1+aab9542",
    "BuildDate": "2021-08-25T15:12:04Z",
    "GitCommit": "aab9542f8b3354f0940945c4295b67622f0af296",
    "GitTreeState": "clean",
    "GoVersion": "go1.16.5",
    "Compiler": "gc",
    "Platform": "linux/amd64",
    "KsonnetVersion": "v0.13.1",

[2021-09-15 18:12] u2m4c6 commented on #5110
If it helps, this problem started happening after I tried to access argocd with the CLI with Ingress Nginx. So my argocd ui is at argocd.example.com and my cli endpoint is grpc.argocd.example.com.

[2021-09-15 19:01] DoumLaberge commented on #3204
I wonder on wich datetime the sync windows are based, because I've passed the env
       - name: TZ
          value: "America/Montreal"
to all container, but the sync windows continue tu be based on UTC.  The server/application-controller/repo-server pods are in my timezone, but the enabled/disabled fonctions of the sync windows continue to compare the UTC time with the settings..  Very strange.

[2021-09-15 19:51] #2227 closed

[2021-09-15 19:51] #3927 closed

[2021-09-15 20:10] rouke-broersma commented on #3204
Sync windows are hard-coded to UTC AFAIK.

[2021-09-15 21:14] reginapizza commented on #7208
I was thinking about maybe trying to work on this...  it seems like most pods ([using this as an example](https://cd.apps.argoproj.io/applications/argo-cd?resource=&view=pods)) only have Details, Delete, and Logs, although I see some of them having up to 5 options (Details, Sync, Delete, Logs, Restart), are you suggesting they all be "quick start" options or just some of them if they're available?

[2021-09-15 21:15] larsks opened #7231 "rpc error: code = Unknown desc = error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK not-specified""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When trying to sync an application from a private repository, we are
seeing the error "rpc error: code = Unknown desc = error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK

[2021-09-15 22:53] jutley commented on #2267
I'd love to see Argo CD support server-side apply.

We have a use case I don't see discussed much. We leverage mutating webhooks to provide lots of valuable default configuration for our Kubernetes users. An issue with this is that when running `kubectl apply`, the mutation will not take place if there is no difference between the desired and live states (I believe kubectl doesn't try to apply the

[2021-09-15 23:06] rgeraskin commented on #7121
Maybe it is related to #6062 See #6994 also

Btw the manifest you provided is not correct: the data section should be base64 encoded. Or use stringData instead

[2021-09-16 02:10] deadok22 opened #7232 "Compression for all data queried by Argo CD UI"
# Summary

It would be great if all of the endpoints queried by Argo CD UI supported compression.

https://github.com/argoproj/argo-cd/issues/4226 covered most of the endpoints, however that change does not cover the endpoints returning the content type of `text/event-stream`. Some examples of the endpoints with this content type include `/api/v1/stream/applications`, `/api/v1/stream/applications/

[2021-09-16 05:53] shiwano commented on #4933
https://github.com/go-redis/cache/issues/68 has been fixed, so probably this issue will be fixed after upgrading to `github.com/go-redis/cache@v8.4.2`

[2021-09-16 06:01] rogfut opened #7234 "Unable to connect to private helm OCI repo x509: certificate signed by unknown authority"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x ] I've included steps to reproduce the bug.

[2021-09-16 06:25] cp1408 commented on #5232
yes..i will share soon..i have made sso possible with all possibilities

On Fri, Sep 10, 2021 at 3:49 PM jingkai. ***@***.***> wrote:

--

*With Regards,*

*Chandra Prakash Sharma*

[2021-09-16 06:27] KlavsKlavsen commented on #6078
in the crd folder typicly..  Its not MY CRD's.. its the application I manage with argocd that has CRDs.. which is almost EVERY application.. its becoming very popular to use CRDs.. ArgoCds own CRDs has the same problem when ArgoCD is used to manage itself (which I do).

[2021-09-16 06:29] KlavsKlavsen commented on #6078
The Velero chart f.ex. https://github.com/vmware-tanzu/helm-charts/tree/main/charts/velero - but also look at argocd chart. Same issue.

[2021-09-16 07:04] rouke-broersma commented on #6078
Mhm I can confirm that argo does not perform CRD deletions, but our argo does update CRD's.

[2021-09-16 07:20] KlavsKlavsen commented on #6078
Also when Argocd manages it? it doesn't run helm. And why should argocd handle CRDs from argocd helm chart any differently than when its pointed to velero helm chart.? If you can point to what should be the cause - I'll gladly submit such a fix to velero and other CRD handling Helm charts..
And - the worst part here - is that I get ZERO alerts about the CRD in cluster isn't the SAME as the one gen

[2021-09-16 07:27] rouke-broersma commented on #6078
Everything in our cluster is managed by argocd, nothing is done manually. Afaik argo does a `helm template --include-crds` which makes plain kubernetes manifests and does a `kubectl apply` and nothing else special.

[2021-09-16 08:58] KlavsKlavsen commented on #6078
You are indeed correct.. Just tested and it showed me the CRD diff just fine.. I'll try and reproduce with patched CRDs.. it seems to work fine for "normal upgrades" thankfully.

[2021-09-16 10:07] shakaluu opened #7236 "UI: List view not showing all resource types"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In the UI choosing the list view to show resources in an application results in a list which shows not all resources in the project. The most prominent resource type missing is "pod". I

[2021-09-16 12:22] SansDK opened #7237 "ArgoCD doesn't deploy hook resources when there are no other resources in the Argo application"
**Describe the bug**

ArgoCD doesn't seem to deploy a Job with the following annotations when it is the only resource in the Argo application.
[code]

**To Reproduce**

1. Create an Argo application
2. Add a Job to it with above annotations
3. Try to sync the application

**Expected behavior**

We would expect that the Job itself would run once, then be deleted once an update is detected in the im

[2021-09-16 13:22] bdun1013 commented on #7227
I’m running with this ingress option: https://argoproj.github.io/argo-cd/operator-manual/ingress/#option-1-ssl-passthrough

[2021-09-16 16:20] rogfut commented on #7234
Someone in the slack channel had mentioned that this isn't a bug but instead I need to install the cert into /etc/ssl/certs via configmap or secret in argocd-server, but I'm struggling to find the documentation on how to do so.  Any cert I install as a secret goes to /app/config/tls but does not get added to /etc/ssl/certs or /etc/ssl/certs/ca-certificates.crt.

Is there documentation on adding a

[2021-09-16 17:16] rayterrill commented on #6215
Having the ability to add labels/annotations to namespaces created with createNamespace is something we're definitely looking for :pray: - currently running into some issues with this because we need to add labels to namespaces created implicitly with createNamespace.

[2021-09-16 18:23] #7227 closed

[2021-09-16 18:25] #6787 closed

[2021-09-16 18:25] kannamr commented on #6787
didn't get any response

[2021-09-16 18:28] reginapizza opened #7241 "ArgoCDExtensions Docs Error"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Repo structure (among other text) is messed up, causing bad rendering in the docs
![docsError-uiExtensions](https://user-images.githubusercontent.com/50851526/133665258-7e7a109d-efd0-40

[2021-09-16 19:03] AustinSmart commented on #7121
@raphink is `myrepo.example.com` the full _repository_ url?

The error message you are receiving indicates you are missing the repository subpath, as `index.yaml` is generally never aviable at the root of a _registry_. Generally an OCI repository will have a subpath.

EX: `myrepo.example.com/my-oci-charts`

I'm able to add an OCI repository declaratively on v2.1.2

[code]

`enableOCI` is picked up

[2021-09-16 20:00] #7241 closed

[2021-09-16 20:57] larsks commented on #7231
I think this was version skew...it sounds like the feature we're trying to use are only available in more recent versions of argocd than what we're currently running.

[2021-09-16 20:57] #7231 closed

[2021-09-16 21:17] atoy3731 opened #7243 "Support for Disabling Pod View for PaaS Environments"
# Summary

We run ArgoCD as a hosted, multi-tenant PaaS environment and utilize RBAC to give app teams specific access to their applications.

When a user utilizes the Pod view for a pod, it exposes node-level metrics that while aren't entirely sensitive, expose kernel/usage metrics and information that could expose an attack vector.

# Motivation

See above.

# Proposal

A) Support a global flag

[2021-09-17 00:31] rogfut commented on #7234
Closing this as an environment issue.

In case anyone finds this, the solution I found was to use a configMap to mount the self-signed certificate to /etc/ssl/certs on the argocd-server pod.  I did this by patching the argocd-server deployment in the argocd provided install.yaml.

Here is the patch.yaml I made to the Deployment

[code]

[2021-09-17 00:31] #7234 closed

[2021-09-17 01:38] alexmt commented on #7230
Most likely it is related to:

reconciliation cycle. This dramatically reduces the number of Git requests.

Argo CD caches `git ls-remote` for 3 mins. @booleanbetrayal how do you think is it possible that the repository got `git push --force` and some commits got removed from git history?

[2021-09-17 03:27] booleanbetrayal commented on #7230
@alexmt - We have a squash-merge policy on our repo for feature branches going into `main` (which kicks off our git-ops flow). Likewise, developers are free to rebase at will in those feature branches. Both those processes would definitely be dropping commits, but no history rewriting should be happening in `main`. We actually have a repo policy that forbids any force push operations there.

[2021-09-17 03:38] booleanbetrayal commented on #7230
@alexmt - Just thinking out loud, but we sometimes spool ArgoCD environments for these feature branches ... I'm wondering if having an environment polling that git branch (set as the `--revision` values) at some point, while it is in the process of being squash merged into `main` could bring this about.

The net result is that all the environments that are polling that repo, regardless of target r

[2021-09-17 05:07] rogfut commented on #7121
In my experience, this error that you got happens when argocd tries to connect to a non-OCI Helm repo.

`rpc error: code = Unknown desc = Manifest generation error (cached): `helm repo add myrepo.example.com https://myrepo.example.com` failed exit status 1: Error: looks like "https://myrepo.example.com" is not a valid chart repository or cannot be reached: failed to fetch https://myrepo.example.co

[2021-09-17 07:56] #7121 closed

[2021-09-17 07:56] raphink commented on #7121
Thanks, it works with the full path. Maybe there should be some doc about this?

[2021-09-17 08:10] ErikLundJensen commented on #3937
I have looked a bit into implementing this.
First we are lacking a good parser of Azure Webhook payload written in Go, however, we only need to pick 3 elements from the json payload. Writing a Azure Webhook parser for push-events could be done using dynamic json parsing using "encoding/json".

Mapping of json to variables is as follows:
```weburl``` from ```resource.repository.remoteUrl```
```revi

[2021-09-17 08:31] ErikLundJensen commented on #6252
This this functionality really needed?
If the CRDs are already installed then Argo CD nor ```helm template``` will try to install the CRDs.

[2021-09-17 13:11] rgeraskin commented on #7121
I still have the same troubles with my private OCI helm repo in argocd 2.1.2.

I'm using this config. Just like @AustinSmart one
[code]

Notice quoted `true` because without quotes it fails on validation. And extended metadata sections. But it makes no big difference anyway.

[code]

I can't login inside argocd-repo-server container also (see #7144 and #7162):
[code]

Using Argocd v2.2.0+183d729 I

[2021-09-17 13:20] lirlia opened #7247 "AutoPrune is not working to Secret (generated by ExternalSecret or Cert Manager)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I generated secrets by ExternalSecret and CertManager with no annotation
like

[code]

And Application(app-of-apps pattern) use **prune: true**

[code]

But ArgoCD did not delete these

[2021-09-17 13:57] raphink commented on #7121
I don't know if it makes a difference, but in my case, the URL had a final `/`, both in the Secret and in the Application source.

[2021-09-17 14:05] Keramblock commented on #2789
Any news? =(

[2021-09-17 15:58] AustinSmart commented on #7121
@rgeraskin are you using the OCI repo directly, or as a subchart dependency? The latter is currently broken in 2.1.2.

[2021-09-17 17:30] jessesuen opened #7250 "Pause/resume action for Deployments"
# Summary

Deployments can be paused and resumed (spec.paused). We could create a lua action for Deployments to modify this field.

# Motivation

An action that allows this would remove the kubectl access currently needed for doing this.

# Proposal

Implement the lua script for a pause and resume action for Deployments.

[2021-09-17 19:44] rgeraskin commented on #7121
@AustinSmart oh you are right, it is because I use helm OCI subchart. Using OCI repo directly works fine, thanks!

@raphink it's funny but in my case, it works only without trailing `/` in the Secret =)

[2021-09-17 20:51] jessesuen commented on #7020
No it does not need to have access. Argo CD just wants access to **_all_** resources by default because, well it wants to present them in the UI and deploy them. But if you have no need for argo cd to present or deploy them, you can exclude them entirely from argo cd through the use of resource exclusions.

I think this should be a doc bug w.r.t to GKE auto pilot

[2021-09-17 20:55] jessesuen commented on #5958
Does GKE have to work using an exec provider like AWS does? I thought not, because of the gcp auth provider that is compiled in the go-client:

[code]

But I notice that the codebase does not even import it. So maybe that is part of the problem. The following post seems to outline other things that may be needed to be done to get this to work:

https://www.fullstory.com/blog/connect-to-google-kube

[2021-09-19 01:17] valsen commented on #3709
+1

[2021-09-19 01:33] servo1x opened #7256 "ui: Add refresh/hard refresh apps button"
# Summary

To have a Refresh/Hard Refresh Apps button next to the Sync Apps button, so multiple apps can be selected to be refreshed.

# Motivation

We frequently run into situations where we have hundreds of apps that need to be refreshed or hard refreshed due to some upstream issue like the repository was not reachable. Currently some users who are heavy web-ui users have to click through each a

[2021-09-19 18:30] MeNsaaH opened #7257 "Cannot reference local values file when using Remote Helm chart"
**Describe the bug**

When using remote helm charts, I realized that all my values files I specify in the repository don't work. I don't know if this is by design. I'm trying to use it alongside the helm secrets plugin, hence the need to pass the values files externally via the schemed-path format (`secrets://secrets.yaml`)

Here's my app file
[code]

**Screenshots**

If applicable, add screenshot

[2021-09-19 18:53] rbreeze commented on #7208
I was thinking quick actions for the parent / top level resources rather than the pods, as most of these boxes have multiple pods so it would be unclear which pod the action should be applied to. But I do think it would be a good idea to have each menu option be available as a button.

It would be really nice to have one-click access to a Deployment’s logs, or to restart the Deployment, for exampl

[2021-09-19 22:13] sarahhenkens opened #7259 "Argo fails to detect pod ready state for some operators"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using the [ArangoDB operator](https://github.com/arangodb/kube-arangodb) with [ArgoCD](https://argoproj.github.io/argo-cd/). Any pod created (and attached to the custom resource) g

[2021-09-20 01:11] jsoref commented on #5705
Some views are ok, but the root applications view is really bad. The filters area should be next to a minimum box for the applications view, so that on narrow portrait screens, one gets a little horizontal scrolling, or a zoom effect.

![Screenshot_20210919-210353](https://user-images.githubusercontent.com/2119212/133949096-bd046d64-97bf-4e47-964d-f00b485d60e8.png)
![Screenshot_20210919-210406](ht

[2021-09-20 02:05] servo1x opened #7260 "ui: filters by label for app view"
# Summary

To add label filter support when viewing the `Application` graph.

# Motivation

We have ArgoCD Applications are are deployed with Helm and made up of many dependencies, it would be very useful if we could filter it out to a specific dependency. It can be difficult to find a specific resource.

# Proposal

This feature could be accomplished by supporting label filters on the Application

[2021-09-20 02:35] sarahhenkens commented on #7259
Hmm I think this is the same issue as https://github.com/argoproj/argo-cd/issues/7182. This operator sets the restart policy to "never" and argocd keeps those into a progressing state:

inside: `getCorev1PodHealth`:
[code]

[2021-09-20 02:41] sarahhenkens commented on #7259
Root cause inside the ArangoDB operator: https://github.com/arangodb/kube-arangodb/blob/13f3e2a09b4c6c08f050efffc364d498b1293dcf/pkg/util/k8sutil/pods.go#L433

Is there a better way to let ArgoCD still let pods be considered healthy with a custom setting?

[2021-09-20 06:24] ishitasequeira commented on #7250
@jessesuen I would like to work on this issue

[2021-09-20 07:01] saumeya commented on #7236
I'll take a look at this

[2021-09-20 08:17] jessesuen commented on #7250
Sure!

[2021-09-20 13:33] vutkin commented on #7033
@vijay-dcrust same behaviour on 2.1.2.

[2021-09-20 13:56] keithchong opened #7261 "Allow UI Banner to be non-closable or non-dismissible"
# Summary

See original enhancement https://github.com/argoproj/argo-cd/issues/4230

The banner is good for notification type messages and the behaviour now is that the banner can be dismissed and not shown again.  However, those who can edit the argocd-cm could want the banner to be non-dismissible so that the header is permanent.

# Motivation

It is possible multiple instances of ArgoCD can be

[2021-09-20 14:20] pasha-codefresh opened #7262 "Application details view performance issue"
Application details view has issue with CPU consuming

Checklist:

* [X ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Application details consume 100% of CPU.

**To Reproduce**

Go to application details, switch between tabs a few times .
If you c

[2021-09-20 14:22] plakyda-codefresh commented on #7262
I would take it

[2021-09-20 16:59] wanghong230 commented on #7247
Could you share the external secret and secret manifests (omit the secret data)? I wish to tell the relationship from the manfeist.

[2021-09-20 17:02] wanghong230 commented on #7259
What is the rational reason to do Never from ArangoDB? I believe that question has to be explored.

[2021-09-20 17:50] lirlia commented on #7247
@wanghong230

Thanks, your reply !
These are my manifests. (I use kustomize)

application.yaml

[code]

external-secret.yaml

[code]

Secret (generated by External Secret)

[code]

[2021-09-20 22:41] agustinvinao commented on #4211
Hi,

I was trying to find any info about when arm64 images may be available. Any update on this or an idea when this may be available?

[2021-09-21 02:15] sarahhenkens commented on #7259
From the linked ticket:

[2021-09-21 12:14] aupadh12 opened #7271 "Ability to read secrets from a non-argocd specific secret"
# Summary

Hi Team,

I am using AzureAD based oidc for authentication and logging into ArgoCD which I have deployed in my EKS cluster.
So, I have specific client id and client secret. clinet secret is stored as base64 encoded and is then used in argocd-secret which is then used in argocd-cm.
Now, I am storing all the secrets including the AzureAD one in AWS Secrets manager and encrypting using KMS

[2021-09-21 12:16] selcuk-cofe commented on #3181
That issue still exist I m using 2.0.5 and in the middle of the POC with kustomization app of apps repo. I already tried @Woland2k and @FearTheBadger recommendation but still have no luck child apps stuck at OutOfSync

argocd: v2.0.5+4c94d88.dirty
  BuildDate: 2021-07-23T05:12:02Z
  GitCommit: 4c94d886f56bcb2f9d5b3251fdc049c2d1354b88
  GitTreeState: dirty
  GoVersion: go1.16.6
  Compiler: gc
  Pla

[2021-09-21 13:36] keithchong commented on #7261
@alexmt @rbreeze @jannfis, your thoughts?

[2021-09-21 14:12] sh3llf1sh commented on #3094
May not be the best solution, but if you just want a working solution you can use:

`docker run -v ~/.kube:/root/.kube --rm --user root -t argoproj/argocd:$VERSION argocd-util export > backup.yaml`

[2021-09-21 15:52] iaditya0375 opened #7273 "ArgoCD Controller UI Refresh Gets stuck at random times"
Checklist:

* [ yes ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ yes ] I've included steps to reproduce the bug.
* [ yes ] I've pasted the output of `argocd version`.

**Describe the bug**

We have been using the ArgoCD for over a year now with version v1.5.8. And sometimes what we see is that when we try to view any app on argo UI, it takes a lot of time to lo

[2021-09-21 16:19] wanghong230 commented on #7273
v1.5.8 is quite an old version. We have spent quite some time addressing issues. Maybe consider moving to the latest stable version.

[2021-09-21 16:25] wanghong230 commented on #7271
argocd-secret is hard coded, so it has to be "argocd-secret" and argocd-secret should never be checked into the repository.

You may explore the solution like a secret-controller to read from KMS and inject the secret data into the argocd-secret instead.

[2021-09-21 16:34] wanghong230 commented on #7226
Any reason to not give a load balancer to your argocd(s)?
port-forward-namespace and port-forward are used for troubleshooting and debugging in most the senerios.

[2021-09-21 16:58] alexmt commented on #7230
I think you are right @booleanbetrayal . Trying to reproduce it locally and will prioritize fixing it.

[2021-09-21 18:52] scjudd commented on #7226
Yeah the LoadBalancer works fine, and maybe this use case is a bit contrived, I just thought that the port-forward feature could be a little less cumbersome if it could be used with the CLI contexts.

I had the a colleague make the same suggestion (i.e., just don't use port-forwarding) out-of-band, but it's not due to a lack of a workable solution that I've raised this. This is a proposal on how w

[2021-09-21 19:38] rbreeze commented on #7261
I like this idea. I think as long as it is a configurable option in `argocd-cm` and the default is the previous behavior, that works with me. Thanks Keith

[2021-09-21 20:58] jphelton opened #7275 "Argo CD's dex integration overwrites a custom dex.config.oauth2 yaml block"
**Describe the bug**

When

**To Reproduce**

Deploy Argo CD with the following data for the `argo-cm` ConfigMap

[code]

When I examine generated dex config in the argocd-dex-server pod I find this

[code]

I expected to see

[code]
but instead I got:

[code]

**Expected behavior**

I want to be able to generate an oauth token with dex using the password grant-type when integrating with LDAP.  Th

[2021-09-21 21:34] #4096 closed

[2021-09-21 22:30] jphelton commented on #7275
The code to fix this seems simple enough, I don't mind submitting a PR if this is accepted.

[2021-09-22 06:41] timox opened #7276 "argocd admin export error on applicationsets.argoproj.io"
**Describe the bug**

after upgrading from 2.0.5 to 2.1.1, `argocd admin export` produce an error while we do not use applicationset CRDs :

[code]
Do I really need applicationsets CRDs ?
Is the export correct and this is just an informative message ?

The Roles argocd-server :
[code]

In CRD argoproj.io i only have "Application" and "AppProject" defined

**To Reproduce**

 - connect to the argocd

[2021-09-22 09:26] calvinShan opened #7277 "Argocd cannot communicate with github"
Hello,
After installing argocd on AKS Azure, we cannot creat the appliction, because it cannot comunicate with github.

error: FATA[0040] rpc error: code = InvalidArgument desc = application spec is invalid: InvalidSpecError: repository not accessible: rpc error: code = Unknown desc = Get "http://xxxl/xxx/configurationkubernetes/info/refs?service=git-upload-pack": context deadline exceeded (Client

[2021-09-22 09:52] fedorlitau opened #7278 "core-install.yaml always refers to latest argocd image"
Hi,

when getting the `install.yaml` for a specific version, we get expected behavior:

[code]

For `.../argo-cd/v2.1.2/manifests/...` we get `image: ... v2.1.2`

when getting the `core-install.yaml` for a specific version, we always the the `latest` image tag:

[code]

Does it need to be corrected?

[2021-09-22 11:31] pasha-codefresh opened #7279 "Unit tests not passing inside master branch"
git_test.go TestNewFactory not working anymore because https://jsuen0437@dev.azure.com/jsuen0437/jsuen/_git/jsuen no longer exist

[2021-09-22 11:36] Im5tu commented on #4211
I'm also keenly interested in this. Anything that I can do to help push this along? :)

[2021-09-22 12:27] #7279 closed

[2021-09-22 14:37] pmorch commented on #5156
@jessesuen : I'm not sure I understand your comment:

Lets say I have two repos:
[code]

Both repos `repoA` and `repoB` have been added to argocd in the "Repositories" section with the settings outlined above and the corresponding secrets exist in the argocd namespace.

Now if `repoB` is a submodule of `repoA`, I expect argocd to use the credentials for `repoB` above when initializing the submodul

[2021-09-22 15:35] KarstenSiemer opened #7282 "Argocd rejects app creation with "Unable to resolve to a commit SHA" even though branch exists"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We are creating apps dynamically using the api and just updated from v1.8.4+28aea3d to v2.1.2+7af9dfb.
When a pull request is opened for a argocd managed repo a jenkins pipeline will do

[2021-09-22 18:08] alexmt commented on #7282
Issue is fixed by https://github.com/argoproj/argo-cd/pull/7244 . Fix is cherry-picked into 2.1 and will be released shortly as a patch release.

[2021-09-22 18:08] #7282 closed

[2021-09-22 18:09] #7277 closed

[2021-09-22 18:13] alexmt commented on #7276
Thank you for reporting it @timox . I think you can workaround issue by adding `applicationsets`to the `resources` list in the Role.

As I understand applicationset was added `argocd admin export` command but we did not update documentation. I think as for now missing applicationset permissions should be handled gracefully: `argocd admin export` should print warning and proceed.

[2021-09-22 18:18] alexmt commented on #7271
Actually, v2.1 already supported: https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#alternative

You can `app.kubernetes.io/part-of: argocd` label to any secret in same namespace where Argo CD is deployed and reference key from it using `$<secret-name>:<key>`

[2021-09-22 18:20] rbreeze commented on #7208
Yeah, exactly. We don't need a "Details" button as clicking the header of the white box does this already, but I think a 'Sync', 'Delete', 'Logs', and 'Restart' button are all good to have. If a pod group doesn't have one of these actions available we can just grey it out.

If there's not enough room to include all of these with full text labels, we can probably just use the icon and use a tooltip

[2021-09-22 18:43] conman2305 opened #7284 "Slow Application Sync via CLI in 2.1.2"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-22 18:51] peterhaddad3121 commented on #5065
Are there any updates for Helm to provide https support and encoding URLs and passwords? This would be an extremely useful feature.

[2021-09-22 19:36] reginapizza commented on #7208
In that case, does it still make sense to have the dropdown at all? Having the dropdown in addition to something like this seems a little redundant to me

![quick-starts](https://user-images.githubusercontent.com/50851526/134410111-94bb30f2-2aa9-4f90-b541-1c60aba2a266.png)

[2021-09-22 23:21] ciiay commented on #5261
I'd love to work on this.

[2021-09-23 03:55] wanghong230 commented on #7259
We need to have a quick discussion about this. I will bring it up in tomorrow's maintainer meeting.

[2021-09-23 07:21] bang-le-sct commented on #3024
After spending 3 days to integrate Helm secrets, sops and argocd, I ended up with your solution LOL :)

[2021-09-23 12:52] Brice187 commented on #7257
Maybe this gets fixed with https://github.com/argoproj/argo-cd/pull/6280

[2021-09-23 13:53] marcportabellaclotet-mt opened #7285 "ignore deployments generation increase number"
# Summary

I am using kyverno to apply some policies in our k8s. kyverno is deployed using argocd.
Everytime that kyverno is used to mutate a resource, a new annotation is patched to the kyverno deployment:
 annotations:
    kyverno.io/last-request-time: "2021-09-23T13:49:17.475532085Z"

This causes an increase of the deployment generation number, and argo sets healthy a progressing

HEALTH DETAIL

[2021-09-23 14:36] timox commented on #7276
thx for answer : ok, adding `applicationssets` to the resources list in role do the trick.

[2021-09-23 14:55] rwong2888 opened #7287 "multiple remote clusters with the same name"
getting this error
unable to find destination server: there are 2 clusters with the same name: [https://x.x.x.x https://x.x.x.x]

I had one cluster and ran below
[code]

The cluster recreated.

I reconnected to the cluster to update my kubeconfig.

I reran below command
[code]

I saw 2 of the same cluster name in argocd.

I expected the 2nd command to overwrite over the existing cluster, to throw

[2021-09-23 16:25] wanghong230 commented on #7287
Do they have the same API server URL?

[2021-09-23 16:29] wanghong230 commented on #7259
The same issue: https://github.com/argoproj/argo-cd/issues/7182

[2021-09-23 16:57] rbreeze commented on #7208
Oh, that's a good point. Yeah, if all of the actions fit, let's get rid of the dropdown. Also, could we center all the buttons? If you put them in a flex box, you can just do `justify-content: center`.

Otherwise looks great so far! Thanks

[2021-09-23 17:06] logileifs commented on #1936
I had the same issue and the cause of the problem was network policies

[2021-09-23 17:06] logileifs commented on #4174
I had the same issue and the cause of the problem was network policies

[2021-09-23 17:38] rwong2888 commented on #7287
@wanghong230 , no IPs were different.

[2021-09-23 19:13] conman2305 commented on #7284
Just a quick update - looks like there's an issue with the `argocd app wait` CLI command as well. Eveen when an app is fully synced and healthy, it's waiting the full value of the timeout specified.

[2021-09-23 22:02] Conrimaceogain commented on #2677
Hi all, has anyone had a chance to take a look at this? I'm running into this issue myself and the workaround @Kyle-sandeman-mrdfood mentions works for our non-HA deploy of Argo CD, but not for our HA deploy, even after ~25k API calls in about a minute.

[2021-09-24 07:45] rouke-broersma commented on #7198
fyi this was solved for Applications, there you can actually use the destination name.

[2021-09-24 08:09] sathieu opened #7291 "Helm template appends api/versions to compiled in api/versions instead of replacing"
**Describe the bug**

There are several bugs about `.Capabilities.APIVersions`.

Here is my understanding of the current behavior, with identified filled issues:

- Argo CD uses `helm template` with ` --kube-version x.y` and `--api-versions api/version`
  - (:bug: problem 1: this is not the case for the CLI (#3594))
  - :bug: problem 2: api/version/kind is not passed (#6351)
- `helm template` does

[2021-09-24 08:12] sathieu commented on #3594
I've filled a new bug, with a summary of problems about APIVersions (and a new one). See #7291.

[2021-09-24 08:12] sathieu commented on #6351
I've filled a new bug, with a summary of problems about APIVersions (and a new one). See #7291.

[2021-09-24 13:38] artem-kosenko commented on #5744
not sure 1 option will work, because you can not publish the helm chart with the same name and chart version (but another appVersion inside). You allowed replace existed one with --force key, but argocd ignore such "changes".

I build my apps like a helm charts in scope of application CI part and save them to S3, each app inside have dependency of the "base-app" helm chart (actually all k8s resour

[2021-09-24 13:54] keithchong commented on #7204
Hi @rbreeze, could you elaborate on this?  When you say one view, is it the current Node view, or will it be a new view?

[2021-09-24 14:17] artem-kosenko commented on #5744
it will be really nice to see the "application version" next to the "REVISION" in `argocd app history` and next to the `TARGET` in `argocd apps list` commands
For now it is impossible to track the chart and app version separately as it was designed.
I use the chart version to track global release number, and applications inside has their own versions.

now no see the app version I have to check th

[2021-09-24 14:34] lienerieksta commented on #5744
The first point does not suggest using the appVersion field of the helm chart. As you pointed out, it would still require to repackage the chart.

Rather it's a suggestion to simply include an optional extra field in the ArgoCD Application CRD to be used to represent the actual application version not the helm chart version and show it in the UI. Whether to use the field and how to populate it, wo

[2021-09-24 15:31] veresij commented on #1364
Hey any way we can seal the `argocd-secret`? I would like to add some OAuth configs for dex. But currently argocd manages the `argocd-secret` and is always re-created if I delete it.

[2021-09-24 16:22] renaudguerin commented on #5882
Like I'm @mikebryant I have some immutable GCP ConfigConnector resources (`DNSRecordSet` in `dns.cnrm.cloud.google.com/v1beta1`) where even "Replace" doesn't seem to be good enough :

```error when replacing "/dev/shm/438125077": admission webhook "deny-immutable-field-updates.cnrm.cloud.google.com" denied the request: annotation cnrm.cloud.google.com/state-into-spec is immutable```

As @mmerrill3

[2021-09-24 21:41] jsoref opened #7294 "Poor error reporting for missing namespace"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-25 05:58] pacoguzman commented on #4972
@jemisonf could you share your ongoing work so maybe someone else can continue with it? We're standardising OpenTelemetry use and we would like to have in ArgoCD too

[2021-09-25 06:24] jemisonf commented on #4972
@pacoguzman thanks for the ping, I have changed roles and am not currently working on this but you can see my most recent work on the `open-telemetry-2` branch here: https://github.com/jemisonf/argo-cd. My main finding was that OTel itself was a good fit for the project but integrating the dependencies for the two codebases was very complex. Please feel free to ask to have the issue assigned to yo

[2021-09-25 21:07] johnlonganecker commented on #4211
## My Solution - build with docker on Pi4 8G running Raspian

Install docker
[code]

Built the image (this took awhile)
[code]

## Installed with getting started yaml
[code]

replaced container images with arm images in `install.yaml`
[code]

[code]

Then it just worked!

[2021-09-27 06:14] damntourists commented on #7035
I am also interested in this.

[2021-09-27 09:31] sshota0809 commented on #6106
I'm facing the same issue with v2.1.2.
Any clue?

[2021-09-27 12:53] ReeSilva commented on #7223
It also happens on UI and when trying to apply a application with ignoreDifferences for a jqPath. The yaml below could be used to reproduce:

[code]

[2021-09-27 13:37] keithchong commented on #6989
Hi @Alexc, @rbreeze , @alexmt, could you please elaborate on points 2 and 3?

So for point 1, you want to show the actual CPU/Mem usage in the tooltip of each pod, something like this?

<img width="427" alt="Screen Shot 2021-09-27 at 9 17 36 AM" src="https://user-images.githubusercontent.com/7726022/134919154-4c1dbc70-9fce-4940-b667-02faaf9a0002.png">

Looks like there might be server and app cont

[2021-09-27 13:37] saumeya commented on #7214
Hi @jsoref, I can try taking a look at this

[2021-09-27 14:55] alexec commented on #6989
If a pod is using less resources that it requests (in resource requests) then it is costing more than it needs to.

Metrics Server stores the resource usage of pods.

https://github.com/kubernetes-sigs/metrics-server#use-cases

You can then calculate "(requested resources - resource usage) / requested resources" which would tell you how much more a resource is costing to run than it needs to.

You

[2021-09-27 17:24] francilioaraujo commented on #5424
The health check algorithm for HPAs in ArgoCD can be seen here https://github.com/argoproj/gitops-engine/blob/33f542da003cf7e227299a901a42d46f80015873/pkg/health/health_hpa.go#L108-L126. The conditions slice is gathered from annotations for api version v1 and from status for api versions v2beta1 and v2beta2. The HPA is healthy for the following conditions:

|Type | Reason |
| --- | --- |
| AbleToS

[2021-09-27 18:55] reginapizza opened #7297 "`preventOverflow` console warnings"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

![preventOverflowError](https://user-images.githubusercontent.com/50851526/134967794-c9af3eb9-b0ee-46c7-bc0c-1ba4ec8c8280.png)

**To Reproduce**

Go to https://cd.apps.argoproj.io/appli

[2021-09-27 19:49] keithchong commented on #6989
Yeah, it looks like in the app controller, we are totalling up the capacity and resource requests for the entire node.  I think we need to keep track of the individual pod stats, right @rbreeze ?

[2021-09-27 20:10] maruina commented on #5424
I raised a PR to fix the use case when scaling is disabled: https://github.com/argoproj/gitops-engine/pull/323
Just looking for a reviewer :)

[2021-09-27 20:31] #7056 closed

[2021-09-27 21:02] jsoref opened #7301 "Provide better protection against deleting argocd"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-27 21:40] therevoman opened #7302 "ssh key requires specific line endings"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-09-27 21:40] therevoman commented on #7302
Or, can we provide a validator with an error message to warn the user?

[2021-09-27 22:01] supernovae commented on #7302
It would be nice if the input was sanitized or a formatter could show hidden CRLF to warn user to santitize it. The error a user gets looks to be network/host related.

[2021-09-28 00:40] booleanbetrayal commented on #7230
Thanks @alexmt !

[2021-09-28 02:44] adrianbjordan opened #7303 "ArgoCd application sync issue - error unmarshaling JSON"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-09-28 15:24] #5031 closed

[2021-09-28 19:47] keithchong opened #7313 "Allow Banner position to be customizable to the top or bottom of the page"
# Summary

This is a follow on enhancement to: https://github.com/argoproj/argo-cd/issues/7261

It will be nice to offer the option to position the banner at the bottom of the view, as well as the top.

# Motivation

Please give examples of your use case, e.g. when would you use this.

Just for flexibility.

# Proposal

How do you think this should be implemented?

Provide another argocd-cm banner

[2021-09-28 19:47] keithchong commented on #7261
The option to position the banner at the top or the bottom will be covered by the issue: https://github.com/argoproj/argo-cd/issues/7313

[2021-09-29 06:06] nlamirault commented on #4174
I'm on a k3s ARM64 cluster. I'v got the same error.

Like @jrhoward i change Redis image :

[code]

Connexion to the cluster works fine now.

[2021-09-29 10:01] denniseffing commented on #3401
Yes, please! Much appreciated feature request.

[2021-09-29 10:31] danylohetmantsev commented on #6785
@saprette is that change incompatible with previous configurations? we also facing a problem when using master branch as a name for revision, refresh is not triggered correctly when webhook is sent.

[2021-09-29 11:45] sergeyshaykhullin opened #7318 "Migrate to helm 3.7.0"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Helm 3.7.0 change/rename some commands. Now argo cd is not working with new oci images generated with helm 3.7.0

**To Reproduce**
1. Package and push oci image with helm 3.7.0. Example

[2021-09-29 13:48] tobiaswi commented on #7285
We ran into the exact issue this week and spend some time pulling our hair to figure out the source of the bahaviour.

[2021-09-29 14:27] ReneGa opened #7319 "`Application` CRD: Support "globstar" (**) in `source.directory.include` and `...exclude` fields"
# Summary

The `include` and `exclude` fields under `source.directory` in the `Application` CRD should be configurable to also support the "globstar" `**` wildcard. With this support, `**` should match path separators, while `*` should not.

# Motivation

It should be possible to specify a file pattern with a specific amount of directory layers (`source.directory.recurse: true` being set). The pat

[2021-09-29 15:28] meysholdt commented on #5592
We're seeing this error in ArgoCD `v2.1.0+d0b2d55`, too. Any hints on how to avoid this are very much appreciated.

[2021-09-29 15:36] tbbharaj commented on #7035
Eagerly looking forward to arm64 release...would be interested to know if there's timeline planned for it :)

[2021-09-29 16:55] pasha-codefresh opened #7320 "Failed to edit argocd application because retry options are empty"
Failed to edit argocd application because retry options are empty
My recommendation add checkbox in same way as we are doing inside sync panel

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

A clear and concise description of what t

[2021-09-29 17:19] plakyda-codefresh commented on #7320
I would take it

[2021-09-29 17:27] #7297 closed

[2021-09-29 17:32] omallo commented on #938
Hi @alexmt , I do have a similar requirement as @rpahli and I believe that #1145 is not really addressing this fully.

With the implementation in #1145, when using a Helm repository as a source, it is not possible to use the `source.helm.valueFiles` or `source.helm.fileParameters` elements since there is no reference to a Git repository in which those external files would be stored.

Would it make

[2021-09-29 18:50] ciiay commented on #7256
I'd like to work on this.

[2021-09-29 19:24] #7146 closed

[2021-09-29 19:33] #7276 closed

[2021-09-29 19:51] alexmt commented on #7278
ops, sorry @ishitasequeira . I noticed that you've assignedthe issue too late. Created PR that fixes the problem: https://github.com/argoproj/argo-cd/issues/7278

[2021-09-29 20:14] artem-kosenko commented on #5744
Yep. I found such field than can be used to represent any kay:value (app version in this case too)

it was missed in the default chart but the fix is already merged.

https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/templates/argocd-server/applications.yaml#L42

I thing it might help you too

[2021-09-29 21:05] #7278 closed

[2021-09-29 21:41] mabushey commented on #4204
I have private clusters accessible via IAP through a bastion proxy, so I also specify proxy-url and am running into this error.

[2021-09-29 21:53] #5261 closed

[2021-09-29 22:22] r0bj commented on #7169
It seems that it's fixed by https://github.com/argoproj/argo-cd/pull/7244

[2021-09-29 22:22] #7169 closed

[2021-09-30 00:43] jessesuen commented on #7324
The error:

[code]

is from this health check:

[2021-09-30 00:58] #7250 closed

[2021-09-30 05:06] eytanhanig commented on #5826
@KaiReichart To help move your PR along I've requested that it be part the [agenda for next Wednesday's Argo CD & Rollouts Community Meeting](https://docs.google.com/document/d/1ttgw98MO45Dq7ZUHpIiOIEfbyeitKHNfMjbY5dLLMKQ/edit#). In preparation for that can you please:
1. Update/rebase this so there are no merge conflicts.
1. Sign-off on your contribution to resolve the DCO test. Instructions for

[2021-09-30 05:28] karthikvijayan3 commented on #5592
@alexmt  @jessesuen  Can you please reopen the ticket?

[2021-09-30 08:14] lienerieksta commented on #5744
@artem-kosenko

It's not a field, it's a list and therefore inconvenient to work with.

* If there are multiple info values I need to manage for the Application, I need to search the list for the correct value each time.
* I cannot reference a single info value in argocd notifications trigger `oncePer` field as that would introduce a new set of problems, like making sure that the list elements are

[2021-09-30 10:18] mikebryant opened #7325 "Kubernetes Warning events should show up in yellow(?) - not red"
# Summary

Events should show the type (Warning, Error) and use a different colour for warnings

# Motivation

One of our users was confused today on the events tab for a resource. We have some policy warnings from Kyverno showing up, and it's not clear that they're warnings rather than a reason something failed

![Screenshot 2021-09-30 at 11 16 40](https://user-images.githubusercontent.com/147810

[2021-09-30 11:36] tschale commented on #5307
What's the state for non-mac users? On ubuntu argocd v2.1.2+7af9dfb doesn't seem to have `argocd-util` available...

[2021-09-30 12:29] iam-veeramalla commented on #7173
Assigned this to myself ... Will be happy to work on it :)

[2021-09-30 16:47] runderwoodcr14 opened #7330 "Applicationset stuck in deletion"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

While doing some deployments, I removed one of my applicationsets as per needed to be changed and needed a clean deployment, currently I have an app of app setup with a parent applicati

[2021-09-30 17:25] jessesuen commented on #7325
There are only two possible colors since Kubernetes Events can only be either `Warning` or `Normal`. If there was a third level (e.g. `Error`) then I would agree. But since there are other things like CrashLoopBackoff categorized as `Warning`, we need to convey this sense of urgency.

[2021-09-30 17:26] #7325 closed

[2021-09-30 17:38] mikebryant commented on #7325
Oh, I didn't realise this. Makes sense, sorry for wasting your time

[2021-09-30 17:46] alexmt commented on #5307
Hello @tschale . We've ended up [merging](https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.0-2.1/#the-argocd-util-cli-commands-merged-into-argocd-admin) `argocd-util` into `argocd` . The `argocd-util` commands are available under `argocd admin`, e.g. `argocd admin export`

[2021-09-30 18:35] alexmt commented on #5592
reopened, @apptio-msobala , @meysholdt , @karthikvijayan3 . Just to double-check: you are not running two controller instances , right (see https://github.com/argoproj/argo-cd/issues/5592#issuecomment-797056751 )?