[2022-06-23 05:44] thesuperzapper opened #9767 "make clicking "replace" less desirable (make warning red)"
Currently, we have an orange "warning" symbol beside the "replace" option in the "sync" menu.

Because people associate the orange color with "out of sync", many people will instinctively click this option, without realizing that it's not usually what you want to do when syncing.

I think we should make it a different color, perhaps red or purple, to indicate a "warning".

![Screen Shot 2022-06-23

[2022-06-23 06:07] PaulWen commented on #8128
The following article solved it for me: https://blog.ediri.io/kube-prometheus-stack-and-argocd-23-how-to-remove-a-workaround

[2022-06-23 06:43] VladoPortos commented on #8128
@PaulWen I have solved it for now by deploying the whole thing, waiting for it to fail and then clicking on the offending CRD and sync with replace. However, this is not a good solution, replace should not be used, it can be dangerous. It can cause issue (not in this case, but in DB deployment or something similar you can lose data)

[2022-06-23 10:53] pnieweglowski commented on #9606
@shmurata would you share, what changes have you done in sync.go file?

[2022-06-23 10:56] patrickshan commented on #9685
same happens to the `argocd admin dashboard` command with `-n` parameter

[2022-06-23 11:24] HamzaMalik95 commented on #2789
Hi,
I have a scenario in which we want the values to be taken from Private GitHub Repo, and also maintain the versions of Helm Repo's, can we achieve that given that we can only add one source Repo for ArgoCD whether it be a Helm Repo or GitHub Repo, is there any way we can control versioning of respective Helm Charts.
A similar issue was present with reference to https://github.com/argoproj/argo-

[2022-06-23 11:28] HamzaMalik95 commented on #2789
I have opened this issue on slack as well,

https://cloud-native.slack.com/archives/C01TSERG0KZ/p1655283787634499
@jessesuen can u kindly have a look into it.

[2022-06-23 11:59] cn-5p1ke commented on #702
@mbuccarello could you please share the configuration.

[2022-06-23 12:37] jojand opened #9773 "Wrong diff against specific revision for non-namespaced objects when using `application.resourceTrackingMethod: annotation`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The tracking annotation `argocd.argoproj.io/tracking-id` contains namespace for non-namespaced objects.
Running diff against specific revision (`argocd app diff --revision`) indicates d

[2022-06-23 12:56] crenshaw-dev commented on #9643
Keep in mind that Argo CD doesn't use _your_ account to exec into a Pod. It uses its own ServiceAccount. So even if you can `kubectl exec` in, that doesn't necessarily mean the RBAC (either the k8s RBAC restricting the Argo CD API Server or the Argo CD RBAC restricting the user) is permissive enough.

[2022-06-23 13:26] #9670 closed

[2022-06-23 13:44] wajdiail opened #9774 "Argocd doesn't detect diff for k8s resources annotate with hooks (helm/argo)"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

Argocd doesnt detect changes to k8s resources that are annotated with helm or argo hook. (preinstall, presync etc).

**To Reproduce**

Create a configmap or jobs and annotate with pr

[2022-06-23 13:52] rcarre opened #9775 "CMP bash -c command parameters not supported"
**Describe the bug**
Here is the manifest file to deployed via ArgoCD application:
[code]

Here is the extract from argocd-cm configmap about my plugin which trigger envsubst tool:
[code]
**Error:** container argocd-repo-server-xxxxx is not able to parse the args command line. Here is the error message displayed in ArgoCD GUI coming from argocd-application-controller-xxxx container:
[code]

**Expe

[2022-06-23 14:25] crenshaw-dev commented on #9429
If my understanding is accurate, that is correct - the CLI makes no assumptions about the server's TLS cert. From the [docs](https://argo-cd.readthedocs.io/en/stable/operator-manual/tls/#tls-certificates-used-by-argocd-server):

If the cert is self-signed or otherwise not verifiable by the CLI host, the CLI will reject it. So if it's self-signed, you'll need to add it to the host's root CAs.

[2022-06-23 14:29] rcarre commented on #9775
Thanks for your reply. Even not working from my laptop:

[code]

[2022-06-23 14:36] GeorgiDimv commented on #9429
I have a valid certificate issued by [Letsencrypt](https://letsencrypt.org/certificates/). When I log in via the UI I have a secure connection but when I use the CLI it doesn’t recognize the root CA. What to do in this situation because `argocd login --insecure` is not an option?

[2022-06-23 14:47] GeorgiDimv commented on #9429
Thank you a lot, I got it working!

[2022-06-23 14:56] awalford16 commented on #702
Our dex server is running on the same cluster as ArgoCD with this config:

[code]

Then based on the comments above we have tried to configure ArgoCD through the `oidc.config` but I cannot find much documentation on how to do this. So far, all we have is:

[code]

This is the error we see when attempting to login with LDAP on ArgoCD:

`Invalid redirect URL: the protocol and host (including port) m

[2022-06-23 14:59] crenshaw-dev commented on #9775
When running on your laptop, the environment variable substitution is happening too soon. The single-quotes, when embedded in double-quotes, do not protect your environment variable from substitution. Consider this demonstration:

[code]

So `envsubst` is receiving the wrong argument.

But there is a local test which should work:

[code]

You can think of the `'"'"'` sequence as a gnarly escape fo

[2022-06-23 15:04] crenshaw-dev commented on #702
@awalford16 can you open an issue and specify the version you're running?

My immediate instinct is that Argo CD is trying to compare the redirect URL with the configured `url` field (in `argocd-cm`), but I'm not sure.

[2022-06-23 15:06] crenshaw-dev commented on #9429
@GeorgiDimv what was the difference between the failing config and the now-working config?

[2022-06-23 15:29] rcarre commented on #9775
Thanks for you crystal clear last reply. Just tested in ArgoCD: no more parsing error but still unsuccessful. What would be the test to be performed to ensure ${ARGOCD_APP_NAME} is defined ?

**kubectl describe cm argocd-cm**
[code]

**Desired manifest**
[code]
**LIve manifest**
[code]

[2022-06-23 15:44] MichaelSp commented on #8938
Can we please revert this performance improvement, because for us now it's not working at all.

[2022-06-23 15:45] rcarre commented on #9775
I guess there is a more general problem with the **envsubst** embedded CMP. This setup gives the same live manifest as above:
[code]

[2022-06-23 16:08] rcarre commented on #9775
Looks like updated argocd-cm configMap is not taken into account ... which container should be notified ?

[2022-06-23 16:17] crenshaw-dev commented on #9775
Ah! The old manifest is probably cached. You can either do a hard-refresh of the app or change something in the application manifest (like the revision) to force manifest regeneration.

I'd probably cycle the repo-server pod first. I'm not sure that plugin changes in the configmap are picked up automatically by the repo-server.

[2022-06-23 16:52] couloum opened #9776 "Improve compact diff view to separate diff blocks"
# Summary

Improve compact diff view to clearly separate diff blocks from each other.

# Motivation

The current compact diff view display all diffs as a single sequence. An example is better than words. Here is a compact diff I had to review:

![image](https://user-images.githubusercontent.com/600871/175350971-e9e28648-cba5-4c4e-aaa3-6974cbd06953.png)

We clearly see that we change path for `live

[2022-06-23 17:12] HariSekhon commented on #9701
@djfinnoy I use Helm for various 3rd party apps which I override/tune further in Kustomize, but internally I avoid Helm because it's not as flexible as Kustomize, so in short I have a mix.

One workaround to your problem is to materialize the outputs to Git and serve them straight like that, thereby removing the Helm pull overheads from ArgoCD entirely.

I went through a phase where I materialized

[2022-06-23 18:41] MichaelSp commented on #8938
Some repos we fetch by branch and some we fetch with a specific SHA. *ALL* SHA fetches do no longer work.

Example by branch: ✅
[code]

Example by SHA: ❌
[code]

Error message
[code]

but cloning the repo locally it is very well possible to `git checkout --force 8b5b0099a0298f3e95320b78cd4bd6e54af43f85`.
Conclusion: The error message is correct, there is no ref like that in the tree, because it ha

[2022-06-23 18:56] crenshaw-dev commented on #8938
@MichaelSp can you confirm that this worked before https://github.com/argoproj/argo-cd/pull/8897 ?

The exact same actions should be taken, just in a different order.

Before (abbreviated):

[code]

After (abbreviated):

[code]

[2022-06-23 19:05] booleanbetrayal commented on #9440
Just a confirmation that we are seeing this as well in our logs.

[2022-06-23 19:08] djfinnoy commented on #9701
Thanks for sharing. I find v2.4.0 to be a bit sluggish, but I upgraded at the same time as I refactored our git repositories, so I'm not sure whether its the new version or the new setup that's causing problems.

The new setup is structured like this:
[code]
Each app is a helm chart, and they all have the same dependency charts that are kept in a remote helm repository. I guess each app is pulling

[2022-06-23 19:08] #9698 closed

[2022-06-23 21:01] rumstead commented on #9298
Also facing this. We have been adding source repos to each project if using appsets.

[2022-06-23 22:15] k-mckinney commented on #9626
We ran into this in GKE as well, and so far what seems to be working is using `resource.exclusions` to exclude `ngresses.v1beta1.extensions`. Added this to the `argocd-cm` ConfigMap:

[code]

[2022-06-24 00:41] mmerickel commented on #1548
The cluster dropdown when creating an app just shows the urls for me in argocd 2.4.2. I'm confused how this issue is considered fixed - maybe it was reverted at some point?

[2022-06-24 02:14] ron1 commented on #1237
Once Rancher Provisioner issue https://github.com/rancher/rancher/issues/38053 is resolved, an operator such as https://github.com/dntosas/capi2argo-cluster-operator should be able to fully automate this manual operation.

[2022-06-24 04:41] alkdese commented on #6078
I also have same issue with my own helm chart which was having only configmap. Once I deleted helm application, the application disappeared but config map still there 2 days after deletion. I have had SyncPolic.prune=true in the app. What am I doing wrong?

[2022-06-24 04:50] saumeya commented on #9752
@rodrigo14miguel, which version are you on? This should be fixed in the current version.

[2022-06-24 07:26] rouke-broersma commented on #6078
Did you set the finalizer on the application?

[2022-06-24 07:29] alkdese commented on #6078
Nope. Do I need?

[2022-06-24 07:30] rouke-broersma commented on #6078
Without the finalizer, argocd will only remove resources that are removed from the application source. If the application is removed argocd will not remove resources.

[2022-06-24 08:30] romuduck commented on #9437
same question
And we could help contributing too to speed it all up if needed

[2022-06-24 08:32] magf commented on #3889
v2.3.4 - the bug is still there

[2022-06-24 09:06] KrustyHack commented on #9626
It doesn't break other things on ArgoCD side ? ArgoCD is still capable to watch and list Kubernetes Ingresses ?

[2022-06-24 09:09] rcarre commented on #9775
Thanks @crenshaw-dev for your last reply ... I do confirm that Hard Refresh is doing the job ... Hence I do confim that `args: ["envsubst '${ARGOCD_APP_NAME}' < deployment.yaml"]` is the good syntax. Thx again.

Fyi I also successfully tested this CMP : `args: ["envsubst \"$(printf '${%s} ' $(env | cut -d'=' -f1))\" < deployment.yaml | argocd-vault-plugin generate -"]`

[2022-06-24 09:14] rcarre commented on #9775
However can we state that this syntax is not supported by Argo CMP ? Or are we hitting once again a parsing issue ?
`args: ['envsubst $0 < deployment.yaml' '${ARGOCD_APP_NAME}']`

[2022-06-24 09:20] adrian-gierakowski commented on #2224
https://serverfault.com/a/1090492

probably best to use `Proxy-Authorization` header in case argocd cli itself uses `Authorization`

[2022-06-24 09:40] pf2rich commented on #9605
![image](https://user-images.githubusercontent.com/22682155/175508887-20355269-0fff-4c5d-87f8-ddbff9476a0f.png)
websocks auto input some string for alpine image

[2022-06-24 09:52] PatrickZuell commented on #8773
Hello,
we had the same issue for our redis. We changed the repo to:
"https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami"
This temporary resolved the issue.  We will now plan to update the helm chart

[2022-06-24 10:03] romuduck commented on #9352
I agree. On our side we indeed groups appset into a dedicated repo that only admin can manage... it's too sensitive/risky otherwise

[2022-06-24 11:00] Hanyu96 opened #9780 "web terminal url not with rootpath, api use / not rootpath"
argocd-server command
[code]

![image](https://user-images.githubusercontent.com/22790389/175521690-c3911626-01b0-4621-84f8-b9e33a7ed4ad.png)

I set the rootpath and everything else works fine in my ui, but the websocket does not connect, I found that the websocket does not have the rootpath prefix added, is this a bug?

version:2.4.2

[2022-06-24 11:01] jannfis opened #9781 "Argo CD loses track of managed live resource when switching tracking method"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

When switching tracking method from `label` to `annotation` (or vice versa) in a running Argo CD system, Argo CD will lose track of managed live resources, resulting in a situation wher

[2022-06-24 11:05] snehagupta-coder commented on #9437
To speedup I think its possible to put a topic in Agenda here and participate in weekly meeting:
[](https://docs.google.com/document/d/1xkoFkVviB70YBzSEa4bDnu-rUZ1sIFtwKKG1Uw8XsY8/edit#
)

[2022-06-24 13:11] ghost opened #9783 "Argo CD 2.4.0: RBAC resources exec and logs not known to the projects REST API"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hey there!
We started upgrading our Argo CD instances to 2.4.0. To give permissions to our developers, we create a role on each project in ArgoCD allowing the assigned groups to only do

[2022-06-24 13:19] crenshaw-dev commented on #9429
Possibly. But letsencrypt should be valid. Maybe there's something wrong with the root CA bundle?

[2022-06-24 13:23] crenshaw-dev commented on #9775
@rcarre I think the last snippet is simply invalid YAML. There's no comma between the two items in the `args` list, and I don't think YAML supports space-delimited lists.

[2022-06-24 13:49] rodrigo14miguel commented on #9752
@saumeya, version 2.4.2
I've done a clean install. The tooltip shows the name in tile view but there is no tooltip for list view.

[2022-06-24 14:33] cigna-asoria commented on #9626
Thanks @KrustyHack  - that would be great information.

I was working with RedHat on another similar issue with an operator though not the same as ArgoCD. But what was interesting is that the operator would check on those deprecated API's because the scheme existed which I believe is happening here too with ArgoCD. Since those API's exist, ArgoCD is just scrapping it and checking it.

I'm also pla

[2022-06-24 15:09] KrustyHack commented on #9626
I did a test on a GKE cluster 1.21 :

1. I deployed ArgoCD latest version (from https://argo-cd.readthedocs.io/en/stable/getting_started/  tutorial)
2. I created an hello world app on in (simple Nginx with Ingress)
3. I checked the logs and found deprecation warning in GCP logs
4. I upgraded my GKE cluster to 1.22
5. I checked my ArgoCD installation, all seems fine
6. I checked the logs again. No

[2022-06-24 15:49] josecsotomorales commented on #3896
I'm also getting this issue periodically

[2022-06-24 16:29] k-mckinney commented on #9626
@KrustyHack

We're not actually using them - that was why the calls to the deprecated API were confusing.

[2022-06-24 16:39] rwong2888 opened #9786 "argocd-k8s-auth calling removed v1beta1 api"
Using `argocd 2.4.2`

I am on `gke 1.21` and trying to prepare for `1.22` where apis have been removed.

I recently have implemented `argocd-k8s-auth` as mentioned [here](https://argo-cd.readthedocs.io/en/latest/operator-manual/declarative-setup/#clusters), [here](https://github.com/argoproj/argo-cd/issues/6749#issuecomment-1116712896), and [here](https://github.com/argoproj/argo-cd/pull/9190/file

[2022-06-24 18:13] amohamedhey commented on #9679
same here
[code]

[2022-06-24 18:27] rumstead commented on #9298
The source repos aren't populated by the global project [here](https://github.com/argoproj/argo-cd/blob/af03b291d4b7e9d3ce9a6580ae9c8141af0e05cf/pkg/apis/application/v1alpha1/app_project_types.go#L349). It is because [validateGeneratedApplications](https://github.com/argoproj/argo-cd/blob/001c7b2c9da9061121a83dd056243c242d7eea7e/applicationset/controllers/applicationset_controller.go#L354:36) neve

[2022-06-24 20:21] jannfis commented on #9786
This is the normal behavior of the application controller. It establishes a watch on all available resources in the clusters it manages. It is not an API used by the application controller, or any other Argo CD component.

As long as none of your applications manages a deprecated resource, you can safely upgrade your cluster version and the messages will disappear (because the API is not available

[2022-06-24 21:26] rumstead commented on #9298
@crenshaw-dev any thoughts on how to "share" the project lister to the appset controller?

I did a copy and pasta of the Application Controller and it doesn't seem to like it.
[code]
[code]
[code]

[2022-06-25 02:29] 12345ieee commented on #9335
Hello, I'm using v2.4.2 out of the latest version of the official helm chart (4.9.7).
We're hitting the same Terminal Connection Error above, due to the GET `wss://MY_URL.....` NOT FOUND.

We use a few custom args, including the infamous `--insecure`:
[code]
 to expose behind a nearly vanilla Ingress the helm chart deploys for us, which I show:
[code]

The RBACs and ClusterRole are right (thanks t

[2022-06-25 02:35] 12345ieee commented on #9335
Sorry for double posting:

Considering that the wss request is sent to:
`wss://MY_URL/terminal?pod=argocd-server...`
instead of
`wss://MY_URL/argo-cd/terminal?pod=argocd-server...`

I assume the wss functionality is not respecting the custom root path.
Where should I configure it?

[2022-06-25 07:42] romuduck commented on #9437
Do you think we could consider adding validation steps in the middle, with or without pause, with API/prometheus metrics/... as per argo-rollout?
Also, something Im not sure to understand: if a new commit should update 3 apps progressively (sequentially), and 2nd app rollout failed. What will we see in the face of all 3 apps?
- 1st app: new commit, synced OK
- 2nd app: new commit, synced NOK / unh

[2022-06-25 11:10] sawaca96 commented on #2789
### There is breaking change at v2.4
**After v2.4, have to use prefix(`ARCODE_ENV') for env**

If you don't want to wast your time, please check out [breaking change](https://argo-cd.readthedocs.io/en/latest/operator-manual/upgrading/2.3-2.4/#update-plugins-to-use-newly-prefixed-environment-variables)

[2022-06-25 14:09] deepto98 commented on #9637
@crenshaw-dev I've fixed this in #9787, do let me know if this works.

[2022-06-25 19:12] rwong2888 commented on #9786
@jannfis can you explain why I didn't see logs for it before setting up `argocd-k8s-auth`?

[2022-06-26 03:14] saumeya commented on #9752
Thanks for clarifying, my bad. I didn't read the summary properly.

[2022-06-26 08:03] toVersus commented on #9786
@rwong2888
The application controller is calling the Ingress v1beta1 APIs regardless of setting up `argocd-k8s-auth` or not. You can see the same logs described in https://github.com/argoproj/argo-cd/discussions/8121 in either case. The difference is a caller of the deprecated APIs. Before using `argocd-k8s-auth` mechanism, I guess your application controller was calling the deprecated APIs using

[2022-06-26 20:46] romuduck commented on #9437
Also the more I think about it, the more I think what we need is to kind of extend argo-rollout from an application POD update via canary/blue-green to a set of applications. After all, these are all meant to minimize risk of deploying everything at once.
Btw, even at app level, id love to see argo-rollout perform "analysis" for any app change (not just PODs).

[2022-06-26 23:39] alkdese commented on #6078
Many thanks for your answer. I still believe the default behaviour should be application deletion should clean up all its resources, unless I wanna keep them. I disagree with this https://argo-cd.readthedocs.io/en/stable/user-guide/app_deletion/#deletion-using-kubectl
I think it should be done opposite way, I mean I should specify finalizer not to do so() if I need, while in most cases I think it

[2022-06-27 01:05] mauricemojito commented on #4174
You saved my day :)

[2022-06-27 01:55] heesuk-ahn commented on #4863
+1

[2022-06-27 05:35] nikhleshgoenka commented on #8821
**When I'm trying to sync all apps it deletes the namespace for me too!! Though in ArgoCD logs there is no symptom of delete namespace being called by any application, is it due to Replace being used in all the apps?

{
    "Version": "v2.2.9+38755a4",
    "BuildDate": "2022-05-18T12:02:28Z",
    "GitCommit": "38755a4c1e5232aa2e6f80c062593c9f07da0757",
    "GitTreeState": "clean",
    "GoVersion":

[2022-06-27 05:35] nikhleshgoenka commented on #6046
**When I'm trying to sync all apps it deletes the namespace for me too!! Though in ArgoCD logs there is no symptom of delete namespace being called by any application, is it due to Replace being used in all the apps?

{
    "Version": "v2.2.9+38755a4",
    "BuildDate": "2022-05-18T12:02:28Z",
    "GitCommit": "38755a4c1e5232aa2e6f80c062593c9f07da0757",
    "GitTreeState": "clean",
    "GoVersion":

[2022-06-27 06:18] odedonato commented on #9641
@crenshaw-dev I was wondering if is useful and possible to put validShells in a ConfigMap, so we can add our shell, like pwsh, ash, etc.
In that way is not binded in the code.

[2022-06-27 06:44] DavidRayner commented on #9780
I also have this problem - I made a discussion a few days ago because I wasn't sure if it was fixable with different config: https://github.com/argoproj/argo-cd/discussions/9751

[2022-06-27 06:45] sotkovsky commented on #9783
i think it's not just a projects scope problem:

[code]

[2022-06-27 06:50] liechtinat commented on #9783
Interesting, because the Admission Controller in K8s doesn't reject the setting.

Maybe for others stumbling upon that, a workaround that worked for us was adding the following lines to the global `argocd-rbac-cm`:

[code]

This allows everyone that has access to an application to also exec into pods and get logs, then you'd just have to control who is able to see which application.

[2022-06-27 07:01] rmorilha commented on #6812
As an Addition to...

Just the KexAlgorithms did not worked for me.
I had to add a couple more lines.

So, the workaround until Azure DevOps does not fix their known_hosts ssh key is:

1. Create the configmap like @brunovianco mentions, but with some additional configurations specifically for Azure devops:
[code]

2. Afterwards is just mount the configmap as @brunovianco mentions:
[code]

[2022-06-27 08:39] EnriqueHormilla commented on #9214
Hi @crenshaw-dev thanks for the support.
I know the change is reflected in the UI, but despite that, argoCD doesn't do anything with this change. In this picture, i have configured argo in my repo like that:
[code]

In my values-stg.yaml I have replicaCount :6, but I have only one pod.
![image](https://user-images.githubusercontent.com/16726452/175895263-70a80463-78e4-4c60-a848-3d2cf0f3fa7d.png)

[2022-06-27 09:10] saumeya commented on #9754
Hi @djfinnoy , thanks for the idea - I do have a PR up for dark-theme https://github.com/argoproj/argo-cd/pull/9703. If this does get approved, it will be much easier to add more themes as well.

[2022-06-27 09:25] shmurata commented on #9606
@pnieweglowski  I got around this by changing to get clusters by name as follows.
I don't know if this is the right way to do it because I don't know all the affected codes.

<details>
[code]
</details>

[2022-06-27 09:25] jannfis commented on #8683
Fix for this issue: #9791

[2022-06-27 09:40] BlueCog commented on #9582
Filling that annotation is probably a Helm 'trick' to force redeployment of components on each Helm Upgrade (via a checksum of  .Release.Time).

What i'm thinking happens here (correct me if i'm wrong) is dat ArgoCD is constantly checking the state from Git and is processing  {{ .Release.Time | quote | sha256sum }} each time. What results in a new checksum and a out-of-sync application.

I'm not s

[2022-06-27 12:59] k-mckinney commented on #9626
To me it seems like the root of the issue is that `kubect api-resources` is returning the `extensions/v1beta1` version of the `Ingress`, and ArgoCD is caching that resource type and then polling. So maybe the real question is why is that resource type being returned even after the control plane and all nodes are updated to `v1.22`... 🤔

[2022-06-27 13:19] SamuelRobotiq opened #9793 "notification service 'webhook' is not supported"
**Describe the bug**
Following the notification webhook documentation (https://argocd-notifications.readthedocs.io/en/stable/services/webhook/)
does not work. The following error is logged in ``
[code]

**To Reproduce**

Have the `argocd-notifications-controller-cm` `ConfigMap` with the following:
[code]

**Expected behavior**
No error in the log.
Webhook to work like described in documentation.

[2022-06-27 13:20] EnriqueHormilla commented on #2789
I merged the comments I saw below, and I would like to do a summary:
For argocd-cm configmap add:
[code]
for app yaml:
[code]

[2022-06-27 13:26] EnriqueHormilla commented on #9214
Hi @crenshaw-dev  finally I did the workaround suggest for the community in https://github.com/argoproj/argo-cd/issues/2789#issuecomment-1167345080 .

[2022-06-27 13:36] rwong2888 opened #9794 "After implementing argocd-k8s-auth seeing Connection closed early in gke audit logs"
As per, [9786](https://github.com/argoproj/argo-cd/issues/9786#issuecomment-1166446845)

cc @toVersus

[2022-06-27 13:37] rwong2888 commented on #9786
Thank you @toVersus that was very thorough. Funny you mention #3 as I have been seeing that as well. Opened [9794](https://github.com/argoproj/argo-cd/issues/9794)

I will manually upgrade to 1.22 and report back here.

[2022-06-27 14:33] rumstead commented on #9298
Hmm, maybe I couldn't find anything else.

You can see [GetAppProjectByName](https://github.com/argoproj/argo-cd/blob/a67b97d6ad5d17137190f6d9b863757da97e7c82/util/argo/argo.go#L412) call [https://github.com/argoproj/argo-cd/blob/a67b97d6ad5d17137190f6d9b863757da97e7c82/util/argo/argo.go#L625](https://github.com/argoproj/argo-cd/blob/a67b97d6ad5d17137190f6d9b863757da97e7c82/util/argo/argo.go#L620)

[2022-06-27 14:38] crenshaw-dev commented on #9641
@odedonato making it configurable is probably a good idea. But I'm not yet convinced that the (only) problem is not having enough shells in that array. If someone has time, a quick test to see if adding `ash` fixes Alpine would be helpful.

[2022-06-27 14:39] crenshaw-dev commented on #9783
@liechtinat yep, this seems like a CLI/API bug. Configuring directly via the ConfigMap should be fine.

Be carefully granting the exec privilege. It's a powerful one.  :-)

[2022-06-27 15:02] valvin1 commented on #9706
We have upgraded to v2.4.2 and it looks it works better. I'll confirm in few days and close this issue.

[2022-06-27 15:04] jasonhao518 commented on #3847
Looking forward the same feature,

I'm looking forward the same feature, actually the idea is quite similar, when project and applications in a dedicate namespace of a tenant, means disposal will be quite simple, just need to drop everything in the namespace.  @peterbosalliandercom do you find any solution or work around for this ?

[2022-06-27 17:11] wmgroot commented on #9437
@romuduck The proposed implementation would be able to lean on the existing argo-rollouts feature set, since the proposal would respect the rollout process of the argo-rollouts controller before a progressing Application resource becomes "ready".

If your example, the 3rd Application would remain unchanged until the 2nd Application became "ready". The applicationset controller would not update the

[2022-06-27 17:18] crenshaw-dev commented on #9177
@reddymh I think what's being described here is [multi-source Applications](https://github.com/argoproj/argo-cd/blob/master/docs/proposals/multiple-sources-for-applications.md) which is currently a work in progress.

[2022-06-27 17:20] crenshaw-dev commented on #3847
@jasonhao518 there is a PR for this feature. Please review and comment if you have time! https://github.com/argoproj/argo-cd/pull/9755

[2022-06-27 17:25] #9780 closed

[2022-06-27 17:48] rumstead commented on #9298
I am not sure what is the best way to expose the app project cache. My PR is a stop-gap to unblock global projects.
1. Update the argo db to expose the app project informer/lister similar to secrets?
2. Make the argo [GetAppVirtualProject](https://github.com/argoproj/argo-cd/blob/a67b97d6ad5d17137190f6d9b863757da97e7c82/util/argo/argo.go#L620) more generic and get the global project and projects i

[2022-06-27 18:28] romuduck commented on #9437
@wmgroot what i meant to say is that argo-rollout consists in:
- a progressive delivery mechanism at replicaset/pod level from which part of the logic (sequencing, pausing) could be used as is
- an analysis layer which would be great if we could use all the time (after an application change rollout, not just deployment.yaml update, as well as during each step of an applicationset progressive rollo

[2022-06-27 18:33] odedonato commented on #9641
@crenshaw-dev I downloaded the code and added `ash` then builded the container and tried but didn't work, same black screen with blinking cursor.

[2022-06-27 19:26] survivant commented on #7131
I have argocd :
v2.4.0+a67b97d

<img width="273" alt="image" src="https://user-images.githubusercontent.com/191879/176017707-2e7bcb77-f5a9-4e6f-af66-0270838c529d.png">

<img width="1521" alt="image" src="https://user-images.githubusercontent.com/191879/176017805-4c70ba5d-1fe8-48fb-92ac-a03da4aa6574.png">

I don't have that cm in my cluster
[code]

I'm not able to delete the resource from the UI
<i

[2022-06-27 19:29] survivant commented on #7131
the sync didn't work, but if I use the --replace flag it works.   I'll use that as a workaround.

[2022-06-27 20:55] jessesuen commented on #9783
Fix for this should go here:
https://github.com/argoproj/argo-cd/blob/c7ff388b8476a85d10e888f457e35e050658a1c8/pkg/apis/application/v1alpha1/types.go#L1556-L1560

[2022-06-27 21:19] alopsing commented on #9335
+1, I am still seeing an issue with accessing terminal via Ingress. However it works when I do a port-forward using ArgoCD service.
`kubectl port-forward svc/argocd-server -n argocd 18297:443 &`

Ingress definition:
[code]

I have updated the ClusterRole, argocd-cm as well. I could verify by running from local. It's just that it is not working behind the ingress.

Can someone help?

[2022-06-27 22:02] crenshaw-dev commented on #9433
Fix was released with 2.4.3.

[2022-06-27 22:32] danielhelfand commented on #9747
This seems to specifically happen in core mode:

[code]

If I login to Argo CD with using `--core` flag with CLI, the server version is shown accurately.

[2022-06-27 23:59] mdrakiburrahman commented on #2875
This did the trick for me - was using SealedSecrets with Kustomize - here's the App of Apps:
[code]

[2022-06-28 02:46] arthurk commented on #9641
I don't think adding more shells to the list is going to fix the problem. I often use k9s to launch shells in containers and it works  well. Their code looks like this:

https://github.com/derailed/k9s/blob/fc8ffe5d37d068f14e86aed7e8b847d016c99b19/internal/view/exec.go#L30

I would be interested to see if putting `sh` before `bash` would show a different result.

[2022-06-28 04:50] odedonato commented on #9641
@crenshaw-dev turns out that the black screen it's only on local k8s cluster where is located argocd and it's because it was a lack of permission, added in `ClusterRole:argocd-server`

[code]

[2022-06-28 06:21] JasonHao123 commented on #3847
Thanks a lot for your invitation. Already commented on the ticket

[2022-06-28 06:53] utpk opened #9802 "Prioritize OperatorGroup and Subscription resource sync sequence before CRD for OpenShift"
# Summary

Regarding default sync sequence by kind (Namespace, Default K8 Resource, CRD) https://argo-cd.readthedocs.io/en/stable/user-guide/sync-waves/#:~:text=When%20Argo%20CD%20starts%20a%20sync,%20it%20orders%20the%20resources%20in%20the%20following%20precedence

I would suggest to add more priority to common CRD (Operator) in order to reduce custom-defined sync wave.

from: Namespace -> Defau

[2022-06-28 09:18] cberge908 commented on #9747
That's correct, I'm also using the `--core` flag to login.

[2022-06-28 10:18] ysaakpr opened #9803 "Resources are showing out of sync even if they are not"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

for some resource order of the item in list may vary every time it fetch, but shows as the resource is out of sync
<img width="1020" alt="Screenshot 2022-06-28 at 3 44 51 PM" src="https

[2022-06-28 10:21] reggie-k commented on #9783
I will work on that for both resources.

[2022-06-28 10:22] shivakumar12 opened #9804 "ArgoCD: upgrade issue: helm repository credentials for Chart dependencies failure"
facing this after upgrade from 2.1.9 to 2.2.4 or 2.3.0

rpc error: code = Unknown desc = Manifest generation error (cached): helm dependency build failed exit status 1: Error: could not download [https://repositories.cloud:443/artifactory/api/helm/sf-helm/mychart/mychart-1.0.4.tgz](https://repositories.cloud/artifactory/api/helm/sf-helm/mychart/mychart-1.0.4.tgz): failed to fetch [https://reposito

[2022-06-28 10:31] arthurk commented on #9200
I have the same issue with Argo CD 2.4.3. We have helm-secrets installed and configured:

`helm.valuesFileSchemes: http, https, secrets`

Everything works fine when deploying/syncing applications, just the `argocd app diff` command fails with the `URL scheme 'secrets' is not allowed` error.

[2022-06-28 11:04] vilkovtato commented on #9252
@pdrastil  - peter, it should be NOT placed on constrained template. It should be places on constrained resource: "apiVersion: constraints.gatekeeper.sh/v1beta1", so you have placed it on wrong resource. I had the same problem and I have used only the SkipDryRunOnMissingResource annotation and argocd has succesfully created everything

[2022-06-28 13:19] #9743 closed

[2022-06-28 15:14] crenshaw-dev commented on #9780
Fix was released with 2.4.3.

[2022-06-28 16:14] krancour opened #9807 "make test-tools-image fails on Apple silicon"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

On any M1 Mac, the `test-tools-image` make target fails with the following error:

[code]

The issue is due to lib paths being different from one CPU architecture to the next.

**To Rep

[2022-06-28 16:21] marcio-pessoa commented on #9145
Yes!
The issue was fixed.
Congrats @EppO !

[2022-06-28 17:13] nice-pink opened #9809 "argo-repo-server issue: gpg ... --gen-key failed exit status 2"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading argo-cd from version v2.3.5 to v.2.4.3 the argo-repo-server stopped working with the logs:

[code]

This leads to Argo CD UI showing error:

[code]

**To Reproduce**

Fo

[2022-06-28 17:56] Moep90 commented on #1786
@crenshaw-dev
I dont get the difference here. Other tools like argo-workflow already supports the `valueFrom` reference.

See the following references:
- https://argoproj.github.io/argo-workflows/walk-through/secrets/
- https://argoproj.github.io/argo-workflows/fields/#valuefrom
- https://argoproj.github.io/argo-workflows/executor_plugins/#secrets

[2022-06-28 18:15] joebowbeer opened #9810 "Enhance securityContext in ha manifests"
# Summary

Enhance securityContext in HA installs to comply with PSS/restricted level.

https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

This is the part of #9743 that was not fixed by #9765

# Motivation

The following ha manifests do not comply with PSS/restricted policies:
* `manifests/ha/cluster-install`
* `manifests/ha/namespace-install`

The following command

[2022-06-28 18:26] dcherman commented on #1786
@Moep90 The big difference between those two is that Argo Workflow runs workflows using a specific service account, so you can easily restrict access to secrets/resources using plain Kubernetes RBAC.  ArgoCD currently runs all of the manifest generation using a single service account which would make this very insecure for multi-tenant usage.

The two main workarounds/proposals that I made in prev

[2022-06-28 18:37] AnshumanTripathi commented on #9478
Seeing similar issues with 2.4.2
[code]

[2022-06-28 18:49] #9727 closed

[2022-06-28 18:51] crenshaw-dev commented on #6462
If anyone wants to open a docs PR I'd be happy to review!

[2022-06-28 18:52] crenshaw-dev commented on #2991
I believe @Gnote3 fixed this by setting `ARGOCD_EXEC_TIMEOUT`. I'm going to open a PR to get that env var better documented.

[2022-06-28 19:13] crenshaw-dev commented on #1786
@Moep90, @dcherman is exactly right. An Argo Workflow runs under a user-configurable ServiceAccount, which can be tuned to provide minimal privileges for just that Workflow. You can do something similar with repo-server by creating a ServiceAccount, giving it access to a Secret, and mounting that Secret in the repo-server (or a plugin sidecar). But, just as with Workflows, you have to do the Servi

[2022-06-28 20:19] mreinhartGopuff commented on #9764
This was fixed by pinning the argo helm version to 3.9
https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#using-initcontainers
[code]

[2022-06-28 20:19] #9764 closed

[2022-06-28 21:07] feydan commented on #8321
We have the exact same use case ^.  Pretty sure this was working in a previous version of ArgoCD too.

[2022-06-28 21:59] erhudy opened #9812 "Clusters with slashes in name cannot be fetched by UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If a cluster name has a slash in it (and I would guess possibly other characters that need to be URL-encoded), the API will return a 403 instead of information on that cluster, presumab

[2022-06-28 23:34] ivanaguilario commented on #8563
Can confirm it works in v2.4.2 using OCI with Google Cloud Artifact Registry

[2022-06-29 03:34] Moep90 commented on #1786
@crenshaw-dev I got the concern.
Could you then give an example code how this should look like?
I can imagine that as part of the docs on how you can achive secure mutli-tenancy or similar.

[2022-06-29 04:11] arthurk commented on #9200
Looking a bit more into this, it looks like when the `--local` flag is passed the settings are not read.

https://github.com/argoproj/argo-cd/blob/b52476971425d396cfd63306d53193a3e9f54df6/cmd/argocd/commands/app.go#L838
(It uses a `ClusterClient` instead of a `SettingsClient` for local diff)

[2022-06-29 05:01] mmerickel commented on #2472
I’ve also been experiencing this since deploying argocd over the last couple weeks on versions 2.4.0 through 2.4.3. The behavior is exactly as @yingchi1994 described. All of the traffic is in a single aws vpc and our self-hosted gitlab has been very reliable. I have to think there is a race condition or bad timeout in argocd. The only other thought is that we deploy several app-of-apps repos where

[2022-06-29 07:12] vpandi opened #9818 "Support for 1500 ArgoCD applications in a single cluster"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
We want to go with the centralised argocd setup which ultimately create 1500+ argocd application CRDs in multi region data centres.
Do we have any constraint in creating numerous applicat

[2022-06-29 08:44] EnriqueHormilla commented on #9214
Thanks @crenshaw-dev , good news!

[2022-06-29 08:58] fungiboletus opened #9819 "[Feature request] Ignore resources"
# Summary

I would like to tell ArgoCD to completely ignore some resources.

# Motivation

I have a few resources that change often, and because of that ArgoCD wastes a lot of CPU doing nothing.

I have for example a `ConfigMap` from KubeVirt CDI named `cdi-operator-leader-election-helper` that has one annotation named `control-plane.alpha.kubernetes.io/leader` changing all the time. The annotatio

[2022-06-29 10:08] the-technat commented on #9783
Yeah of course it's a powerful one, but we wanted to roll that out with our next release so the workaround we came up with was to allow exec to everyone. If we limit who can see which app it won't be that dangerous though.

[2022-06-29 11:49] mariusandersen opened #9824 "Add support for Azure Devops Webhook"
Trying to use the Azure Devops Webhook for git push event, we get error

Unknown webhook event

The code does not support webhooks from Azure Devops. https://github.com/argoproj/argo-cd/blob/b52476971425d396cfd63306d53193a3e9f54df6/util/webhook/webhook.go#L403

FYI, here is the Test hook that is being sent on a git.push event (no sensitive info):
[code]

[2022-06-29 14:22] iamstarkov commented on #9078
and it would be great to support GitHub App In ApplicationSet SCM generator too

[2022-06-29 16:33] #9668 closed

[2022-06-29 18:40] trexx commented on #7835
I'm using a private helm repo with a private CA. Enabling the option via kustomize.buildOptions causes x509 unknown authority errors as it seems ArgoCD isn't yet able to pass the --ca-file parameter when kustomize performs a helm pull.

[2022-06-29 19:33] reggie-k commented on #9783
I will add it for both resources then

[2022-06-29 19:49] choover-broad commented on #6640
This feature would be a huge win for us. Although I think it would be even better if:
* ArgoCD masked all secrets by default
* The UI had a button to unmask secrets with this annotation
* Argo apps had a flag to disable/enable secret unmasking globally for all secrets managed by the app
* The UI supported diffing/editing unmasked Secrets (as with ConfigMaps).

Unfortunately sometimes you just can'

[2022-06-29 19:59] crenshaw-dev commented on #9819
Maybe related: https://github.com/argoproj/argo-cd/issues/9558

[2022-06-29 20:24] crenshaw-dev commented on #6640
This feature is probably possible, but maybe a bit more involved than it appears at first. I'd recommend extreme caution. We've dealt with CVEs which would have had far worse consequences if plaintext secrets were accessible via the API.

Here would be my proposal:

* Viewing plaintext secrets in the UI should be globally disabled by default.
* If anonymous mode is enabled, viewing/editing secrets

[2022-06-29 20:27] #9675 closed

[2022-06-29 20:59] crenshaw-dev commented on #6640
I think we'd also want to sit down and have a long, careful ponder about our current XSS protections. e.g. are the current CSP headers sufficient?

[2022-06-29 21:43] trexx commented on #7835
Kustomize has a --helm-command parameter that allows customising the "helm pull" command. There can use --ca-file and hardcode a path to a certificate in /app/config/tls. My first attempt failed as the helm parameters were interpreted by Kustomize, I guess I need to escape some quotes somewhere.

Alternatively I was also thinking about editing the containers ca bundle or overriding it via SSL_CERT

[2022-06-29 21:51] OliverLeighC opened #9830 "Argo hook not running on auto sync only on manual sync"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We have some jobs that use argo hooks to kick off a job but the hook only gets triggered when we run the app sync from the cli. The app itself is auto-syncing and will show as synced in

[2022-06-30 02:21] trinhpham commented on #8484
IMO, allowing user to add url param (such as: `&fullversion=true`) could be a solution.

[2022-06-30 02:38] javens0601 commented on #5620
I'm having the same problem, is there a way to get this stuttering status through the api?

[2022-06-30 04:19] foxracle commented on #5107
these  are the two terrible problems after working with argocd two years from version 1.7.x ~ 2.3.x, especially in an urgent deploy case.

- ComparisonError: rpc error: code = Unknown desc = Manifest generation error (cached): `helm dependency build` failed timeout after 1m30s
- ComparisonError: rpc error: code = DeadlineExceeded desc = context deadline exceeded

most time, I know it is not a perf

[2022-06-30 06:11] djfinnoy commented on #7835
@crenshaw-dev I think the `argocd-cm` method is sufficient; it should probably be mentioned in the docs under a sub-header on combining kustomize and helm (the `--enable-helm` feature is well hidden in the kustomize docs).

Quote from the kustomize:

Making this acknowledgement for all kustomize apps should be fine, I don't see any compelling reason why ArgoCD users should need the ability to do t

[2022-06-30 07:57] shivakumar12 commented on #9804
@EugeneLugovtsov Thank you for the response.
We already added project in the helm app declarative manifest.
EX:
`apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo1
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  source:
    repoURL: https://github.com/demo.git
    path: demo
    targetRevision: HEAD
  destination:
    server: https://k

[2022-06-30 10:10] jessesuen commented on #9774
I believe this is expected behavior. Hooks are not considered managed resources because they can be ephemeral (e.g. deleted after) If you want it to be diffed, you should probably convert it to a normal resource. Perhaps what you really want is a Sync Wave instead of a Pre/Post sync hook

[2022-06-30 10:13] FuyuanChu opened #9831 "Manifest cache still missed when using webhook to sync applications that have the annotation manifest-generate-paths"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

1. Create webhook for the gitops repo
2. Update the Application with annotation: `argocd.argoproj.io/manifest-generate-paths: /charts/auto-deploy-app;/service-values/d

[2022-06-30 10:14] #9803 closed

[2022-06-30 10:16] #9807 closed

[2022-06-30 10:19] jessesuen commented on #9810
Good suggestion. We just need a few more overlays here:
https://github.com/argoproj/argo-cd/tree/master/manifests/ha/base/redis-ha/overlays

[2022-06-30 10:28] jessesuen commented on #9819
We actually prevent Endpoints from refresh Applications because we know these objects to be of high churn. Likewise, I think we may want to do the same for EndpointSlices:

https://github.com/argoproj/gitops-engine/blob/f9456de217f8fb8893d09998bab0d8efff95f4fd/pkg/cache/cluster.go#L1050-L1054

This code was written before EndpointSlices was a thing

[2022-06-30 10:28] reggie-k commented on #4212
We are also interested in this feature

[2022-06-30 10:44] jessesuen commented on #9773
Is the problem only with the CLI? Does the UI show a diff?

[2022-06-30 10:45] jessesuen commented on #9759
See:
* https://argo-cd.readthedocs.io/en/stable/user-guide/diffing/
* https://github.com/kubernetes/kubernetes/issues/74099

[2022-06-30 10:45] #9759 closed

[2022-06-30 10:48] #9745 closed

[2022-06-30 10:53] jessesuen commented on #9722
If the resource `metadata.deletionTimestamp` then someone/something deleted it. Theres no turning back from a delete request. I can't answer why it got deleted without more information/logs around the deletion timestamp, perhaps it got auto-pruned when it might have disappeared in git. But the delete is currently blocked because we don't delete a project until its associated applications are also

[2022-06-30 10:56] jessesuen commented on #9721
I believe we should show this. Do you have a screenshot of the panel after clicking under `LAST SYNC RESULT` for a failed sync that fails to show it. e.g.:

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/12677113/176660718-dc8934af-de9f-4680-bcc6-c4427abf1207.png">

[2022-06-30 10:59] aagu commented on #9745
@jessesuen Thanks for your reply! Maybe I did not point out the issue clear before.
The helm chart has never been deployed into the cluster since it is **invalid**. To my understanding, no resources related to the helm has been applied into the cluster, I have no idea how the live state could be compute in that case ?

[2022-06-30 12:54] crenshaw-dev commented on #5107
Quick note on this one:

That's a generic error message from the golang `context` package, and it just means "a timeout happened somewhere."

We've made efforts recently to always wrap all error messages to provide more context. Hopefully in future versions the _reason_ for the timeout will be much more clear.

[2022-06-30 12:55] crenshaw-dev commented on #7835
@djfinnoy I'll just turn this issue into a docs issue.  :-D

[2022-06-30 13:01] crenshaw-dev commented on #9831
Maybe relevant conversation: https://cloud-native.slack.com/archives/C01TSERG0KZ/p1654789866328669

[2022-06-30 13:07] #9783 closed

[2022-06-30 14:38] qixiaobo commented on #9440
The same problem

[2022-06-30 14:52] able8 commented on #6108
https://github.com/argoproj/argo-cd/issues/8100#issuecomment-1076067184

[2022-06-30 15:03] crenshaw-dev commented on #6108
@able8 that seems consistent with what I found here: https://github.com/argoproj/argo-cd/issues/9558

[2022-06-30 15:25] ctron commented on #9721
Right now, unfortunately not. I will post one when I run into this again.

[2022-06-30 15:34] wajdiail commented on #9774
@jessesuen  we cannot convert it to a normal resource because for db migrations  or for any infra related task the job should run first.  the problem is we cannot use autosync as there is no diff when there is change only in the hook job resource.

By using sync wave can we see a diff if there is change in the job?

[2022-06-30 15:36] crenshaw-dev commented on #9637
@ftsell do you remember why you needed `unsafe-eval`?

[2022-06-30 17:41] the-scott-hand commented on #7655
still waiting on the merge for this

[2022-06-30 17:45] ftsell commented on #9637
No I can't specifically tell you why that is necessary just that without it the GUI doesn't work

[2022-06-30 19:50] jmmclean opened #9840 "Unable to add a supported helm repository with custom plugin (like helm-s3 or helm-gcs)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The documentation is a bit misleading since repository protocols, such as `s3://` or `gs://`, are not support and will error out

Doc reference - https://argo-cd.readthedocs.io/en/stabl

[2022-06-30 19:50] jmmclean commented on #9840
CNCF thread: https://cloud-native.slack.com/archives/C01TSERG0KZ/p1656615428581369

[2022-06-30 19:52] jmmclean commented on #9840
Also, its interesting that we can add a custom scheme for a helm values file, but not a helm repo - https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cm.yaml#L227

[2022-07-01 00:16] arloliu opened #9844 "Plugin env. doesn't invalidate manifest cache well"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Tested argocd version: 2.4.3, 2.3.3

The plugin env. var set via `argocd app set <APP_NAME> --plugin-env` doesn't invalidate manifest cache well.

**To Reproduce**
1. Set plugin env. via

[2022-07-01 01:40] sukantadash commented on #4979
Yes, the issue still exists 2.3.4 as well

[2022-07-01 01:49] Adiii717 commented on #8278
same here, the only thing that worked for me is to delete ingress manually.

[2022-07-01 05:33] Hanyu96 commented on #9809
Is it the same machine before and after the upgrade and does it have git access?

[2022-07-01 05:51] georgblumenschein opened #9845 "ApplicationSet - BitBucket SCM Generator fails on empty repositories"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

It seems that filters are not applied before searching through the repositories when using an Applicationset with the Bitbucket SCM generator. This leads to a failure if a repository is

[2022-07-01 06:24] rodrigopztpedro900 commented on #1648
Is posible use keel with argocd with kind rollout, from argo rollout?

[2022-07-01 06:44] nice-pink commented on #9809
It is the same machine, same setup. Just upgraded from 2.3.X to 2.4.X. I'm facing the same issue with all 2.4.X versions. After the downgrade to 2.3.5 repo server works as expected.

[2022-07-01 07:28] Devamparikh commented on #9810
Could I take this up? Hi all! , I'm new here and I find continues delivery is interesting part of devops/gitops and want to get my hands on with it. I could use all the help here. Thank you. ;)

[2022-07-01 10:34] JapiTh opened #9850 "Helm chart change does not trigger pre-sync hook"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug & steps to reproduce**

What is working:
The setup is as following: An ArgoCD application is referring to a GIT-repo. In this GIT-repo a helm-chart (let's call it Helm-A) is configured wit

[2022-07-01 11:14] cnjohnniekwok commented on #9626
True, resource exclusions does the trick :D

[2022-07-01 12:09] ABRIO-PR commented on #9666
The same issue on Ubuntu 20.04

argocd: v2.4.3+471685f
  BuildDate: 2022-06-27T21:23:52Z
  GitCommit: 471685feae063c1c2e36a5ff268c4da87c697b85
  GitTreeState: clean
  GoVersion: go1.18.3
  Compiler: gc
  Platform: linux/amd64
FATA[0000] config file has incorrect permission flags:-rw-r--r--.change the file permission either to 0400 or 0600.

[2022-07-01 12:14] anamaymane opened #9853 "Persistent volume claim are deleted automatically when deleting argocd app"
When deleting an argocd app from the UI, PVC are deleted even if add the annotation **argocd.argoproj.io/sync-options: Prune=false** which prevents argocd from pruning the resource. Here is the yaml file of my persistent volume:

[code]

For the app deletion operation, I use the UI with the foreground delete option:
![image](https://user-images.githubusercontent.com/46690914/176892222-1d654403-176

[2022-07-01 12:25] mcarbonneaux commented on #6032
i face to the same problem than @robertogyn19, i think the documentation must be updated to add this attribut.
https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/keycloak/#configuring-argocd-oidc

[2022-07-01 12:49] aagu commented on #9853
We've encountered this issue few days ago.

[2022-07-01 12:51] aagu commented on #9853
#7124

[2022-07-01 12:55] crenshaw-dev commented on #9810
@Devamparikh it will involve editing the source Kustomize files in `manifests` and then running `make manifests`.

[2022-07-01 13:41] crenshaw-dev commented on #9666
@ABRIO-PR the problem in Windows was that 0400/0600 was not possible. Are you able to `chmod` the config file on Ubuntu?

[2022-07-01 15:09] jlozano-rh commented on #9233
In my case... installing the operator `GitLab Runner` cause conflict with the operator of `ArgoCD`. So, to solve the issue... i was to add the next snippet of code in the instance of ArgoCD:
[code]

[2022-07-01 15:28] ABRIO-PR commented on #9666
Okay, thanks, it works )

[2022-07-01 17:27] pclalv opened #9857 "A repository URL with a trailing slash, and the same URL without a trailing slash, are treated as different repos"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Given a repo secret configured for a GitHub repo with url
`https://github.com/example-org/example-repo`, Argo CD will error if
an Application is submitted with a repo URL of
`https://gi

[2022-07-01 18:26] dipankardas011 opened #9858 "To Remove the namespace mentioned in getting started of argocd installation"
# Summary

to make argocd installation from one command

# Motivation

As its consistent during installation that one would use `argocd` as namespace for installation why not add the namespace resource in the install.yaml ?

# Proposal

As mentioned in the getting started

**FROM**
[code]

**TO**
[code]

[2022-07-01 18:53] jullianow commented on #3073
+1

[2022-07-01 19:12] spkane opened #9859 "ArgoCD fails initial refresh (resync) from private repos after clean install despite having secrets inplace"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I am installing ArgoCD (v2.4.2 via chart v4.9.8) via Helm and Terraform into a brand new EKS cluster, that already has an "argocd" namespace created which contains a kubernets secret fo

[2022-07-01 22:32] jstewart612 commented on #8394
I can confirm that, as of at least ArgoCD 2.4.3 if not sooner, and the latest helm chart 4.9 or greater, the image used is "argocd" instead of "argocd-application-controller" and it works out of the box on my Pi 4s and CM4s both.

I would presume this was a natural win after consolidated the outer applicationset repository into the main argocd repository proper, thus combining the build processes

[2022-07-02 00:01] mdrakiburrahman opened #9861 "ArgoCD app health does not respect Hooked Job's result, custom LUA check doesn't work either"
* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`:

### Describe the bug

My App-of-apps Use case:
* An Argo App (say, App N) that consists of a Single `Job`. Nothing else.
* App N+1 must only proceed if App N succeeds - so I use App N's health (`Healthy`, `Degraded`, `Pr

[2022-07-02 05:14] #8592 closed

[2022-07-02 06:01] tooptoop4 commented on #9549
@crenshaw-dev https://github.com/argoproj/argo-cd/pull/9862

[2022-07-02 08:07] toVersus commented on #9794
I looked into this and found that those audit logs are normal and not harmful. I think we can close this issue.

At first, those logs are generated [here](https://github.com/kubernetes/kubernetes/blob/v1.22.8/staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go#L92-L109) and intended to record a long running request (i.e. watch API). I’m not a person in GKE team, so the only thing I can do

[2022-07-02 11:09] romuduck opened #9863 "Helm chart dependency build fail with private repositories"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

If a chart dependency comes from a private repository and no associated credentials were found at 1st init of the application, the application will never sync even after adding repo

[2022-07-02 17:56] liammurray commented on #7645
I ran into this. In the UI the live manifest contains "serviceAccountName" and the desired manifest does not. The diff view shows no diffs. I have v2.4.2. I tried editing the deployed manifest directly to see if diff would show it (changed resource limit)--and it did as expected, but the live manifest still ended up with the serviceAccountName. I then deleted the deployment and this time sync work

[2022-07-02 20:06] souravsk commented on #9810
How can an "Enhance security context" be a good-first issue. can anyone explain

[2022-07-03 09:01] evoosa commented on #7975
bumping

[2022-07-03 22:58] mtougeron opened #9866 "Sync Window doesn't match if based on cluster name"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When adding a Sync Window the matching works for Applications, Namespaces and Cluster.Server but not Cluster.Name

**To Reproduce**

Create a sync window based on just a cluster name wi

[2022-07-04 08:23] ctron commented on #9721
Now I got one, it wasn't easy making a screenshot. I hope that works for you:

![Screen Shot 2022-07-04 at 10 22 13](https://user-images.githubusercontent.com/202474/177113794-d26d6c31-1363-4833-b6e7-18c169fe37bb.png)

[2022-07-04 08:42] mkilchhofer commented on #8272
We at Swiss Post would also love to see that feature.

[2022-07-04 11:40] hcelaloner commented on #9002
In https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/, for `argocd-application-controller` it is stated that

so `argocd-application-controller` uses a sharding technique to support managing many clusters and many applications.

If a single `applicationset controller` is not able to process ~1.8k applicationsets, maybe we can implement a similar sharding approach. In https

[2022-07-04 11:52] hcelaloner commented on #9002
Also, https://github.com/argoproj/argo-cd/releases/tag/v2.4.0, mentions `OpenTelemetry Tracing Integration`. Are there any plans for other components like applicationset controller. In our company, we are also trying to use OpenTelemetry in our applications, it may provide richer telemetry data to investigate performance bottlenecks in cases like this. If there are such plans, we can discuss and I

[2022-07-04 12:34] nxcc commented on #9018
We have the same issue with a `Sync` Hook. The interresting part is that this issue was introduced after adding `application.instanceLabelKey: argocd.argoproj.io/instance` to `argocd-cm`. After removing `application.instanceLabelKey` again, the issue goes away. Unfortunately that's not a solution as we introduced this option to our config for a reason. However, hopefully this helps to triage this

[2022-07-04 12:49] mkilchhofer opened #9869 "Notifications Slack Bot wasn't merged into Argo CD"
**Describe the bug**

It seems that the Slack Bot of notifications wasn't migrated in PR #7350.

Follow-up of [Slack conversation](https://cloud-native.slack.com/archives/C020XM04CUW/p1654109494458449):

**To Reproduce**

`-`

**Expected behavior**

Slack Bot (https://argocd-notifications.readthedocs.io/en/stable/bots/slack-bot/) of argocd-notifications is also merged into Argo CD.

**Screenshots*

[2022-07-04 12:56] mkilchhofer commented on #7350
Created dedicated issue for that:
- #9869

[2022-07-04 16:19] yogeek commented on #9749
ok I think I found the root cause : https://argo-cd.readthedocs.io/en/stable/faq/#why-is-my-app-out-of-sync-even-after-syncing

[2022-07-04 17:52] yeya24 commented on #9641
I am aware of this issue but there might be other isssue more than the shell order. For k8s dashboard code, it uses the same shell order but it can enable exec for alpine images using sh.

Wondering if this is caused by error check at the frontend side.

[2022-07-04 20:14] elmariofredo commented on #9641
It feels like this issue will be bit harder to figure out, as there are multiple libraries involved. My suggestion is to quick fix this issue, by temporary removing bash shell from list which would resolve this issue for most containers. When problem shell test is resolved we can put bash back. WDYT?

[2022-07-04 21:42] yeya24 commented on #9641
I don't have any preference. Feel free to open a pr to change the order and ArgoCD maintainers can decide whether they are willing to do this change or not. Again maybe a configmap for shells so that users can reorder the shells as they want would be more flexible.

[2022-07-04 22:07] crenshaw-dev commented on #9641
I’m in favor of that change, and I agree that a configurable list makes sense.

[2022-07-05 02:50] Moep90 commented on #1786
@crenshaw-dev is it possible to provide an wxample for your RBAC secret solution?

[2022-07-05 05:38] nauco opened #9875 "In application yaml, repoURL's last slash makes some error."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I use bitbucket private repo as config repo with kustomize.
And I have an application yaml.
[code]
In Argocd v2.3.3, that yaml apply, applied well.
But in Argocd v2.4.3, that yaml apply

[2022-07-05 12:05] lorelei-rupp-imprivata commented on #9018
We definitely do not have this set in our config map and still see the issue

[2022-07-05 12:08] nxcc commented on #9018
ah, ok. so it's just a coincidence.

[2022-07-05 12:09] lorelei-rupp-imprivata commented on #9018
This also might be related to this ticket too https://github.com/argoproj/argo-cd/issues/4979

[2022-07-05 12:22] lorelei-rupp-imprivata commented on #4979
Anyone find any good workarounds here, this is really impacting us and preventing deploys from happening because syncs are just stuck syncing. We tried going back to 2.0.3 but the issue was still there for us. We are now on latest argo and the issue is there too, hoping someone might have a good workaround

[2022-07-05 12:28] pierluigilenoci commented on #7927
@crenshaw-dev sorry for the delay in answering.

The workarounds that exist are either poor (only one replica?) or do not solve some problems (ie disk pressure on the node's disk) unless there is one clever enough I find that `StatefulSet` is the only solution.

[2022-07-05 13:33] crenshaw-dev commented on #8394
@jstewart612 that's exactly right. Closing!

[2022-07-05 13:33] #8394 closed

[2022-07-05 13:39] crenshaw-dev commented on #9810
@souravsk the original post specifies which changes need to be made.

[2022-07-05 13:49] crenshaw-dev commented on #7975
Is this equivalent to just disabling auto-sync, or would you also like to disable manual syncs?

@rosscdh  this seems like a different request, basically to prevent pruning.

[2022-07-05 14:12] slayer commented on #4979
In my case full reinstall of argocd helps.

[2022-07-05 14:45] crenshaw-dev commented on #9002
@hcelaloner looks like opentelemetry was not added for the appset controller, but I'd welcome a PR to add it and would be happy to review!

[2022-07-05 14:47] #7835 closed

[2022-07-05 15:04] crenshaw-dev commented on #1786
I'm not sure what you mean. If I understand correctly, Argo CD would have to create a SA/Role/RoleBinding for each Application which has at least one `valueFrom` field. It would then have to apply that SA to its own repo-server deployment (non-declaratively).  But even then it wouldn't work, because the deployment can only have one SA. So Argo CD would have to maintain the Role settings to allow t

[2022-07-05 15:12] pclalv commented on #9857
@crenshaw-dev yes, that does sound much better from a code point of view (I imagine it could get gnarly to try to equate the repo with and without the trailing slash), and useful for users and operators alike! thank you for bringing more clarity to the situation that I described.

[2022-07-05 15:21] crenshaw-dev commented on #7927
Again, I'm not completely opposed to PVC. I just haven't seen a use case yet that I think is _impossible_ to solve with less-drastic changes.

[2022-07-05 15:24] dcherman commented on #1786
@crenshaw-dev FWIW you wouldn't necessarily need a separate repo-server per application (which wouldn't scale at all), you would basically need to look up the secret associated with the serviceaccount with a specific project and make any requests to the k8s api using that token.  I never got around to prototyping it, but that was the basic idea

[2022-07-05 15:38] crenshaw-dev commented on #1786
@dcherman ah, I see.

We'd have to give the repo-server access to those tokens somehow, but then I think we can trust it to enforce the project boundaries.

[2022-07-05 15:48] danielhelfand commented on #9858
Thanks for opening this, @dipankardas011.

It might be helpful to read through Argo CD installation cases documented [here](https://argo-cd.readthedocs.io/en/stable/operator-manual/installation/). It can't be always be assumed that Argo CD will be installed in the argocd namespace (e.g. multiple instances installed on same cluster). To include the argocd namespace in the installation would definit

[2022-07-05 16:19] dcherman commented on #1786
@crenshaw-dev Yep.  If I recall correctly, you can find the secret associated with a given service account in the `status` field, so during manifest generation you would find the service account associated with the app being worked on, find the correct secret, fetch the contents, then use that token for any requests to the k8s api.

It's been a while since I worked on this so I don't recall the ex

[2022-07-05 16:27] pclalv commented on #9875
this looks like it could be related to an issue that I recently reported: https://github.com/argoproj/argo-cd/issues/9857

[2022-07-05 16:38] lorelei-rupp-imprivata commented on #4979
Actually we did just this, we removed HA for redis, repo server, and server and went back to single deployments. We also got all things that were "stuck syncing" unstuck by running a Sync "APPLY Only" and now we appear to be working again. We are going to monitor and slowly add HA back in for the repo server and server

[2022-07-05 18:40] m-yosefpor commented on #9643
all the following 3 issues are the same:
- https://github.com/argoproj/argo-cd/issues/9643
- https://github.com/argoproj/argo-cd/issues/9641
- https://github.com/argoproj/argo-cd/issues/9605

I think we can follow in one thread.

[2022-07-05 18:42] m-yosefpor commented on #9641
all the following 3 issues are the same:
- https://github.com/argoproj/argo-cd/issues/9643
- https://github.com/argoproj/argo-cd/issues/9641
- https://github.com/argoproj/argo-cd/issues/9605

I think we can follow in one thread.

[2022-07-05 18:42] m-yosefpor commented on #9605
all the following 3 issues are the same:
- https://github.com/argoproj/argo-cd/issues/9643
- https://github.com/argoproj/argo-cd/issues/9641
- https://github.com/argoproj/argo-cd/issues/9605

I think we can follow in one thread.

[2022-07-05 18:51] m-yosefpor commented on #9641
I'm not against this feature, but I feel  this feature might not be useful for most of the use-cases, as logical order of shells for a simple pod terminal is what currently listed in the code (as `bash` and `sh` are the most common shells which could be found in container images). Also it doesn't really fixes the retrying next shell issue (which is the actual problem here), since as I wrote in [he

[2022-07-05 19:16] crenshaw-dev commented on #9641
I'm satisfied with a temporary workaround for now. This will solve a headache for 90% of use cases and will buy us time to figure out the 10%.

Making the list configurable is a win regardless, because people might want to add options that are not currently in the hardcoded list (e.g. `ash`).

[2022-07-05 20:25] mkilchhofer commented on #8272
I'd happy to contribute but I am really not familiar with the internals/codebase of Argo CD.
But I found that workflows supports this since August 2021: https://github.com/argoproj/argo-workflows/pull/6572

Maybe we can implement it in a similar way?

[2022-07-05 20:50] todaywasawesome commented on #9869
@pasha-codefresh @alexmt Is there an important reason or should we just get a PR opened to add the bots?

[2022-07-05 21:38] crenshaw-dev commented on #8272
Glancing at the code, I think it would be quite similar. Looks like Workflows takes apart the id token in the callback handler and then augments it with groups. The same could be done in oidc.go's `HandleCallback`.

[2022-07-05 21:50] LanceR1303 commented on #8965
@deadmandrive
I've noticed the exact same issue yesterday with ArgoCD v2.4.2. Did you find any solution or workaround?

[2022-07-05 22:05] Talador12 commented on #3451
+1 on this issue

[2022-07-06 01:11] zostay commented on #9323
I had some difficulty with this as well. I suspect it came down to the namespace setting. I haven't dug into the code for argocd, but based on behavior, I'd guess that all/most fields in the spec have to be given. I was specifically struggling to find a way to ignore the `failurePolicy` field you mentioned. I found that this works:

[code]

I explicitly set `namespace: ""` when I edited the Applic

[2022-07-06 06:07] CRASH-Tech opened #9884 "Declarative token creation"
# Summary

Declarative create static tokens

# Motivation

I'm using helm for create app projects and roles. Then I create token by hands, which call argo-cd from CI. It's a pain and not declarative.

# Proposal

Keep static tokens in secret or AppProject CRD.

[2022-07-06 07:42] souravsk commented on #9810
@crenshaw-dev thanks for your time.
honestly speaking sir  I don't the whole thing so if you have time then can you please explain
1. what do I do to understand this issue
2. how to do that.
It will be very helpful if you can explain this to me

[2022-07-06 09:24] Haebuk opened #9885 "No applications yet but app exists in url"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I use argocd with ALB(AWS Application Load Balancer) there is no problem to login, but some error occurs create a app.
`Unable to load data: error getting app by name: application.argop

[2022-07-06 12:59] #3118 closed

[2022-07-06 13:05] crenshaw-dev commented on #9884
Tokens are signed with the API server's key, so they must be generated at runtime. You can always declaratively store the tokens in Secrets using SealedSecrets or something similar.

[2022-07-06 13:38] #9794 closed

[2022-07-06 13:49] leosussan commented on #8613
Different context (using `port-forward`, for different purposes), exact same issue.

Problem was resolved by matching my client instance of `kubectl` with the server's major version. If your cluster is running version 1.22, for instance, make sure your `kubectl` version matches. I was previously using 1.23 against v1.22.

Ran `kubectl version` to check this.

[2022-07-06 14:21] gadiener commented on #9679
same here
[code]

[2022-07-06 15:06] ralfovelgoenne opened #9888 "Application sync hang with "unable to fork off sideband demultiplexer""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Moving from ArgoCD 2.2.5 to 2.4.3. After that application gets stuck in sync with:
rpc error: code = Internal desc = Failed to fetch default: `git fetch origin --tags --force` failed ex

[2022-07-06 16:53] #9781 closed

[2022-07-06 17:03] crenshaw-dev opened #9890 "Support PKCE for web logins"
# Summary

The CLI currently supports PKCE. The web interface should do so as well.

# Proposal

I believe the API server will have to maintain a cache of code verifiers.

[2022-07-06 17:13] endophage opened #9891 "Add a Resource phase that runs before all other phases"
# Summary

There needs to be a way to create specified resources before anything else happens, i.e. before PreSync hooks run. If a PreSync hooks is to do something useful like run a database migration or notify an external service it likely needs some configuration that under the present model, won't get created or updated until the Sync phase. This causes PreSync hooks to fail and the operator is

[2022-07-06 17:45] todaywasawesome commented on #9891
It's not a bad idea.

Another approach is to build more into your services. For example, with secrets using an init-container is probably best practice at this point because it's the most secure option. The nice thing about init-containers is that logic remains tied to the app itself rather than becoming some kind of meta object to manage.

[2022-07-06 17:46] todaywasawesome commented on #9890
+1

[2022-07-06 17:51] todaywasawesome commented on #9888
This could be a memory issue or a network issue. I haven't seen anyone else post this bug yet.

Can you add more logs?

[2022-07-06 17:54] todaywasawesome commented on #9885
This sounds like it's caused by the missing GRPC/HTTP service. See [this guide](https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#aws-application-load-balancers-albs-and-classic-elb-http-mode) from the operator manual.

[2022-07-06 17:55] #9885 closed

[2022-07-06 17:57] todaywasawesome commented on #9884
@CRASH-Tech I agree with @crenshaw-dev here. Argo CD is setup so you can use your own secrets solution for this which is a better solution than trying to get everyone to use one specific one or to reinvent the wheel with something new.

[2022-07-06 17:58] flightofthunder opened #9893 "Namespace "x" for Object "y" is not managed."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I am setting up an ArgoCD server (using the ArgoCD operator on OpenShift) with multiple clusters. I currently only have a single app that is deployed to two namespaces via two ArgoCD ap

[2022-07-06 18:56] ralfovelgoenne commented on #9888
Output from log of the repo-server, nothing really new:
![grafik](https://user-images.githubusercontent.com/8797158/177621813-29ea0dad-5bb2-46db-b589-f4d86f2174f5.png)

I also thought about a memory or network issue. I already raised memory limits for all pods comparing to the running status with version 2.2.5. Normally there were no network issues with version 2.2.5.

What I did compared to the s

[2022-07-06 19:58] plaisted opened #9894 "argocd admin dashboard CLI site is inaccessible when run on windows"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Attempting to locally run argocd dashboard using `argocd admin dashboard --core` does not work on windows.
Running appears to work:
[code]
But when accessing the url the index.html is r

[2022-07-06 20:15] crenshaw-dev commented on #9893
I could be way, way off here, but I think I recall seeing that error message when I had a cluster configured to manage a certain list of namespaces, and an Application had a resource which wasn't in that list. I fixed it by editing the cluster secret via the UI to include the target namespace.

[2022-07-06 20:58] souravsk commented on #9810
thank you @crenshaw-dev for your time
I read the documentation of  `` security context`` so I understand what the Restricted policy is .
I also read about kustomize and understand the use  of it

So what I understood is that these two files didn't follow the correct instruction
[manifests/ha/cluster-install](https://github.com/argoproj/argo-cd/blob/master/manifests/ha/cluster-install/kustomization

[2022-07-06 21:31] victor10x commented on #9571
@crenshaw-dev I'm unsure if you mean I got the command wrong, if I'm making a fundamentally unsound suggestion, or if you're adding more clarity. In any case, just from my POV it was a lot of trial and error before landing on a successful override. If there's a better way please let me know, but also I'd appreciate an example in the help text 😄

[2022-07-06 21:40] crenshaw-dev commented on #9571
I think you're correct, examples in the docs would be helpful! I was just pointing out that `-p` refers to things set in the `spec.source.helm.parameters` section of the Application manifest, while `--values-literal` refers to `spec.source.helm.values`. If you use `-p`, you can unset an individual parameter (but _only_ if it's set as one of the name/value pairs in the `parameters` field). If you u

[2022-07-06 22:34] satyamkapoor commented on #2789
Hello!

We can use two sources by utilizing ApplicationSet CRD.

In my use case, I want to have the values file in a separate repository which gets synced after regular intervals.

We can define an ApplicationSet object which utilises a git generator to fetch the values from a different source repo. Once we've got the config from this repo, we can use helm.parameters to perform the variable interp

[2022-07-06 22:58] crenshaw-dev commented on #2789
@satyamkapoor that's a really clever solution.

I think the git files generator supports YAML files. Could you do something like this?

config.yaml:

[code]

appset:

[code]

[2022-07-06 23:38] notfromstatefarm commented on #9653
Secrets are base64 encoded by default. If you use `data` instead of `stringData` you should be able to use envsubst as you desire.

[2022-07-06 23:39] endophage commented on #9891
@todaywasawesome thanks for the reply. I'm not sure what you're suggesting with init containers. Our application is defined in a helm chart which Argo uses to render the k8s manifests so our secrets are already well managed alongside the app definition.

Possibly you're not familiar with aws-secret-operator, it takes the AWS secret name and the version ID in the form of an AWSSecret CRD and from t

[2022-07-07 04:41] nauco commented on #9875
![image](https://user-images.githubusercontent.com/15735447/177691891-93b209f5-fea8-4866-9d5c-830bfa31464d.png)

I set a connection in dashboard, and private repo is accessible after remove slash.
I just wonder what difference between v2.3.3 and v2.4.3 makes this change.

And I agree @pclalv 's comments, it seems to be related.

[2022-07-07 05:46] CRASH-Tech commented on #9884
How I can do it?

[2022-07-07 07:58] souravsk commented on #9810
so I fork this project but how do I test locally in my minikube

[2022-07-07 08:04] elmariofredo commented on #9641
I can confirm that your PR is solving the issue. Even that bash will fail, switch to sh is working and terminal is usable 🎉

Thanks!

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/82104/177723328-f5860b92-1d43-4c85-847e-94c047db1d30.png">

[2022-07-07 08:45] florianzimm commented on #9809
i had the same issue. switched back to latest 2.35 as well.

[2022-07-07 09:10] SC-CTS opened #9898 "Docs Bug: UI with AWS ALB Ingress does not work"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.

**Describe the bug**

Related to: https://github.com/argoproj/argo-cd/issues/8765

Configuring an ALB Ingress for an EKS hosted ArgoCD instance, as described in the official docs: https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#aws-applica

[2022-07-07 09:28] rcarre commented on #9653
Thanks @notfromstatefarm for your reply. Indeed, this is what I need.
[code]

[2022-07-07 09:29] rcarre commented on #9653
See above manifest. Thx

[2022-07-07 11:11] dan-m8t opened #9900 "How to narrow down default "read-only" role?"
Hi there,

I got a problem in ArgoCD regarding RBAC.
I am using OKD 4.8 with the ArgoCD Operator and ArgoCD in version 2.3.4.

We operate a multi-tenant cluster and want to narrow down the permissions as far as possible.

By default every authenticated user has read-only rights and can see anything inside ArgoCD. This is a behaviour we do not want, as we already seperate projects by namespaces wit

[2022-07-07 12:11] v-theo opened #9901 "Path is not discovered when creating an app with a git repo"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When creating an app, using a git repo, the path is not always discovered.
However, if the directory is not discovered, it is not possible to recover the values files and therefore impo

[2022-07-07 13:14] crenshaw-dev commented on #9884
@CRASH-Tech I assume you're currently generating a token with something like `argocd proj role create-token`. After generating it, you'd just store it in any mechanism that allows you to generate a Secret (such as in a SealedSecret if you have that controller installed, or in Vault if you have a Vault controller installed, etc.). Once it's in a Secret in Kubernetes, you can reference it wherever y

[2022-07-07 14:13] todaywasawesome commented on #9850
@JapiTh Can you share the logs from Argo CD?

Also, in general, when referencing dependencies it's best to version those references so you control what's deployed entirely in the repo Argo CD is monitoring.

[2022-07-07 14:19] crenshaw-dev commented on #9884
If your CI is already capable of creating AppProjects and Applications, then it is effectively admin. What is the need for the project token / where is that token eventually used?

[2022-07-07 14:51] CRASH-Tech commented on #9884
I can't manual sync or refresh over crd's. Only over cli.

[2022-07-07 15:49] v-theo commented on #9901
@todaywasawesome
I don't think it's a network problem because it's only the path that doesn't come up, there's no problem with the rest (recovery of branches, synchronization of apps when a modification is made on git ...).
it also doesn't come from the size of the instance because I also tested on a sandbox that only has 3 apps.
I also specify that I didn't have the problem in version 2.2.3, I on

[2022-07-07 16:19] fhivemind commented on #1786
It's been three years since the post initially started. What is the current state? Can we expect this anytime soon?

Currently, my workaround is to use kustomize and handle app deployments by pulling secrets from GCP buckets and overriding the default resources, but this becomes a tedious procedure for multiple apps. Additionally, on each version bump, things need to be reprocessed, so it's not a

[2022-07-07 16:28] fhivemind commented on #1364
@jessesuen Honestly, what you wrote makes no sense. The question here is not "being opinionated about how secrets are managed", but rather "can we manage the secrets", and clearly not. It doesn't go against GitOps practices to enforce a native way for secret management (heck, almost every platform now supports it in one way or another).

If you really want to remain unopinionated, add native secre

[2022-07-07 16:39] souravsk commented on #9810
installed kustomize in my system and kyverno in the minikube which take too much time because it keeps giving some errors
so after installing i run this command

kustomize build https://github.com/kyverno/policies//pod-security | \
  kyverno apply --policy-report -r \
  <(kustomize build ./manifests/ha/namespace-install) \ -

but it keeps giving the error kyverno command not found, as you can see

[2022-07-07 16:49] joebowbeer commented on #9810
Install kyverno-cli: https://kyverno.io/docs/kyverno-cli/

[2022-07-07 17:25] crenshaw-dev commented on #9884
Ah! So you want to create a project token with only Kubernetes access, not Argo CD access. You could

1) add `accounts.some-username: apiKey, login` to argocd-cm
1) add `accounts.some-username.password: 'some-bcrypted-password'` to argocd-secret
1) after creating an AppProject, log in to Argo CD with the CLI using the newly-created account
1) use the CLI to create a project token
1) use the projec

[2022-07-07 17:40] crenshaw-dev commented on #1364
I think the previous close was accidental.

[2022-07-07 18:09] jsoref opened #9903 "Reword `No applications yet`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If a user has access to a system (via GitHub) and their groups doesn't entitle them to see any applications, they see a message that says "No applications yet".

This is misleading, the

[2022-07-07 18:10] jsoref commented on #9903
Fwiw, in our case, the change I'm going to make is to fix the permissions mapping so my users can see the applications, as opposed to actually creating more applications.

[2022-07-07 18:36] jsoref opened #9905 "RBAC isn't updated until users log out"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I renamed GitHub groups and then updated the ArgoCD RBAC mappings. Updating RBAC mappings should invalidate any old grants under the previous mapping. It didn't.

**To Reproduce**

1. U

[2022-07-07 19:02] shuker85 commented on #8355
Do we want to get rid of `HELM_EXPERIMENTAL_OCI` or also `IsHelmOci` definitions too ?

[2022-07-07 19:46] crenshaw-dev commented on #9905
Casbin provides an [InvalidateCache](https://github.com/casbin/casbin/blob/f0c2a4fc8e480346a6525822b5e377c0c45f5a5c/enforcer_cached.go#L166) method. I imagine we're simply failing to call it somewhere important.

[2022-07-07 19:50] fhivemind commented on #1786
@crenshaw-dev Thanks for the update! Regarding the way to bypass the limitations, we are pulling the secrets via short script before applying the manifests, and disregarding them in later stages. The process just serves to embed the secrets during deployment, and no sensitive information is available within repos
.

[2022-07-07 19:56] liammurray commented on #7875
It would also be nice when using the ApplicationSet Pull Request generator.

[2022-07-07 20:37] crenshaw-dev commented on #1786
You bet! Gotcha... and does that script live in a plugin? Or is it somehow tied to the built-in Kustomize config management tool?

[2022-07-08 00:21] jmwri opened #9907 "Support files in 'argocd.argoproj.io/manifest-generate-paths' annotation"
# Summary

The current implementation of `argocd.argoproj.io/manifest-generate-paths` only supports a list of directories, which is fine 99% of the time, but it would be nice to be able to specify specific files here as well.

# Motivation

I am using the app-of-apps pattern within a monorepo with a directory structure similar to the following:

[code]

With this directory structure  I would like

[2022-07-08 03:29] prima101112 commented on #9172
is there any update on this could we get option when to auto delete on old cluster or keep pod in old cluster

[2022-07-08 04:30] matray commented on #8321
Same! This would be invaluable!

[2022-07-08 07:07] ctron commented on #9696
I am having the same issue, just with the `openshift-controller-manager` manager on ArgoCD 2.3.x.

[2022-07-08 08:39] chunklhit opened #9909 "rbac enf.enforce() function return true which is unexpect"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
The TestNoPolicy() function in util/rbac/rbac.test.go file, testcase return True when enf.Enforce("","","","")  function params has fource empty value.
The bug is find by go-fuzz.

**To

[2022-07-08 09:34] GeorgeMac opened #9913 "Manual Sync Replace=true in the UI can lead to problematic subsequent merges"
## Description

We recently had a situation where an engineer did a sync in the UI with `replace` toggled on.
The purpose was to resolve an issue with a change needed on a resource with an immutable field.

A large amount of replaces happened, and this all synced successfully. This wasn't initially a problem.

This app syncs automatically from the HEAD of our configuration repository.
The subseque

[2022-07-08 09:43] sass1997 commented on #9809
I do have the same issue here. Are you also having istio activated?

[2022-07-08 09:45] nice-pink commented on #9809
No, I'm not using istio.

[2022-07-08 09:47] sass1997 commented on #9809
As far as I've read the documentation:
`As a security enhancement, the argocd-repo-server Deployment uses its own Service Account instead of default.

If you have a custom environment that might depend on repo-server using the default Service Account (such as a plugin that uses the Service Account for auth), be sure to test before deploying the 2.4 upgrade to production.`

Has anybody noticed that

[2022-07-08 09:55] pnowy commented on #3451
I'm working with ArgoCD quite long time but notice this problem first time. The issue is that usually when I'm using external dependencies I don't have to put the chart in git repo. Example `Chart.yaml` (which is pointed in ArgoCD as main app):

[code]

So this is `kube-prometheus-stack` chart which has other dependencies inside to prometheus-operator, grafana, etc. and working without any issues

[2022-07-08 09:59] nice-pink commented on #9809
This might not be an issue in our setup, but thanks for the hint. I'll check that.

[2022-07-08 10:01] sass1997 commented on #9809
I will try to debug and let you know with the correct Rolebinding which is needed to start this pod

[2022-07-08 10:03] souravsk commented on #9810
I did install but still, it's showing the same error
![Screenshot from 2022-07-08 15-28-24](https://user-images.githubusercontent.com/33636054/177968689-0990aff2-ef8f-4211-971d-135323eea43d.png)
As you can see I have installed the kyverno version 1.7.1

[2022-07-08 10:10] sass1997 commented on #9809
I can confirm it's definitely missing special rights for this service account. I granted now everything for this service account and now the argocd-repo-server is starting. I'm now digging into that we have a least privilege role.

[2022-07-08 10:23] mikutas commented on #7768
It seems to be related with https://github.com/helm/helm/issues/10735

[2022-07-08 10:28] joebowbeer commented on #9810
The version reported is for the kyverno plugin for kubectl, not the standalone kyverno CLI.

[2022-07-08 10:47] souravsk commented on #9810
can please give me the steps to install it will be very helpful because I tried every step from the official website.

[2022-07-08 10:52] chunklhit opened #9914 "ValidateProject() function in app_project_types.go file has nil dereference bug"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I find a nil dereference at ValidateProject() function in app_project_types.go file by go-fuzz with gofuzz.

**To Reproduce**
1、The AppProject struct's SyncWindows list has nil  like bel

[2022-07-08 10:57] joebowbeer commented on #9810
@souravsk I ran `brew install kyverno` on macos

If you have more questions concerning kyverno itself, please refer to https://kyverno.io/community/

[2022-07-08 12:18] crenshaw-dev commented on #9226
@rs-cole as a workaround, we found that a Force Refresh cleared the old pods.

[2022-07-08 12:27] FrittenToni commented on #7875
It's a workaround but for our PR deployments we've just added a "Namespace" object to our helm charts that will be applied for pull requests only. The pull request generator injects the correct PR number and Argo creates and deletes our PR preview namespaces accordingly, e.g:

filename: pr-namespace.yaml
[code]

[2022-07-08 12:49] 0dragosh commented on #9226
Plus a restart of the argocd application controller.

[2022-07-08 12:50] JapiTh commented on #9850
@todaywasawesome I added the logs of the argocd-server. In this helm-chart an application is synced and we would expect the presync-hooks to be executed. I also added some screenshots. One from the application and the other one from a pre-sync hook. As you can see in the first screenshot, the pre-sync hook is executed a long time before the pods were started. This was from a manual sync.

[2022-07-08 12:53] #9907 closed

[2022-07-08 12:56] crenshaw-dev commented on #9172
I think that would require a new config section in the Application spec, but it seems reasonable. Would anyone be up for writing a PR?

[2022-07-08 13:00] hamedbrd commented on #3118
Hi guys, when do you think we can get this fix?

[2022-07-08 13:05] crenshaw-dev commented on #9900
I'm using vanilla Argo CD, so I set `policy.default: ""` in argocd-rbac-cm.  I'm guessing that's what OKD's `defaultPolicy` does?

I even restarted the API server just to be sure it took effect.

I must admit, I'm a bit stumped. I think I'd have to use a debugger and step through the auth code to figure out why the Applications aren't showing up.

[2022-07-08 13:06] rshiva777 opened #9915 "Resources are not deployed to the cluster"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Resources created by application are not deploying to the cluster.

I have created application  which deploys kubernetes resources like deployments/secrets/configmaps/clusterrole/cluste

[2022-07-08 15:56] rs-cole commented on #9226
Hitting Refresh - > Hard reset and restarting the application controller didn't seem to do the trick. Old non existant replicasets continued to grow, the applications RevisionHistoryLimit is set to 3. Perhaps I'm utilizing argocd incorrectly?

[2022-07-08 15:57] notfromstatefarm commented on #9905
@crenshaw-dev Looking at `rbac.go`, the entire cache of enforcers is being wiped out any time the policy (or other settings) is updated. We don't ever call InvalidateCache on the enforcer directly, we just get rid of them entirely.

[2022-07-08 16:05] crenshaw-dev commented on #9905
Ah, true. Looks like we could really use some debug logging before the `.Flush()` call(s).

[2022-07-08 17:15] muma378 commented on #9747
Option 1 sounds enough for this case, telling users explicitly that he/she is connecting to the apiserver and that why we can't get the server version information, then they will switch back to the non-core mode to get the information.

[2022-07-08 17:39] rwong2888 commented on #9786
I am still seeing some hits on a remote cluster post upgrade for the connection closed early. I don't think it is a big deal. Do I have to upgrade my argocd cluster to 1.22 to remove completely @toVersus ?

[2022-07-08 18:09] marcelofabricanti opened #9918 "Web Shell - Terminal log for auditing purposes"
# Summary

In v2.4.0 version, ArgoCD brought us a much waited (and awesome) feature that enables you to shell into containers.
Now developers can have access to their pods freely.

# Motivation

Grant access to people dig into their pods in production environments led us to a few concerns about security and accountability.
Perhaps we need to have visibility about the commands inputed into the pods

[2022-07-08 18:11] crenshaw-dev opened #9919 "ApplicationSet CRD should not validate `template` or `generators[].{generator}.template` fields"
# Summary

The ApplicationSet CRD inherits validation rules from the Application spec. We should clear out the "required" validation rules for all the `template` fields (i.e. the generator templates and the main template).

# Motivation

The problem is that, if you want to provide part of the Application template in the main `template` field and the rest of it in a [generator template](https://arg

[2022-07-08 18:18] marcelofabricanti opened #9920 "Drop all references to exec unless the feature is enabled"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The UI needs to drop all references to exec unless the feature is enabled.
The pod details page do not show the terminal tab, but context menu doesn't have the same rule.

**To Reproduc

[2022-07-08 19:19] crenshaw-dev commented on #9918
Adding good-first-issue labels because I think the most naiive implementation is very easy - add an env var to the API server to enable logging commands and then add the log statement.

I think logging is a fine first choice rather than another service. If someone has `exec` access, they are already somewhat trusted. And if they want to fill up logs, they probably have other ways to do so.

[2022-07-08 19:28] SamuelRobotiq commented on #9793
@jessesuen Thx!

The problem come from the subscriptions configuration.
[code]

I find the documentation on argocd website misleading about this. Would be nice to specify to not set the `webhook:`.

[2022-07-08 20:05] souravsk commented on #9810
thanks, @joebowbeer this final work https://kyverno.io/docs/kyverno-cli/#building-the-cli-from-source
I run this command and I get this output
![Screenshot from 2022-07-09 01-30-54](https://user-images.githubusercontent.com/33636054/178062637-2648a029-1e4e-4a41-ad9c-d4d3f0342f99.png)
as I can see it has 6 fail
so how do i make 0 fail

[2022-07-08 20:32] souravsk commented on #9810
thanks, @joebowbeer for the help I tried everything, and then this work https://kyverno.io/docs/kyverno-cli/#building-the-cli-from-source
I run the commands and as you stayed it has fail 6
so to remove that i have add this

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  seccompProfile:
    type: RuntimeDefault

or i have to do something else

[2022-07-08 23:36] toVersus commented on #9786
Ah sorry, I forgot to share the most important thing. That's because the GKE reverts the removal of Ingress v1beta1 API since 1.22.7-gke.300. (I think this life-prolonging treatment taken by GKE ended up causing a lot of confusion.) So, you will continue to see the connection closed early audit logs until GKE 1.23 or later. Also, the deprecation insights may still show the alerts after upgrade. We

[2022-07-09 07:36] TheSwarnim commented on #9918
Hi @crenshaw-dev, please assign this issue to me. I would like to work on it.

[2022-07-09 14:14] notfromstatefarm opened #9924 "gRPC upgrade in 2.4.x causes ENHANCE_YOUR_CALM error for gRPC streams taking longer than ~40s"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading to 2.4.x, our CMP sidecars were mysteriously failing 100% of the time with an `ENHANCE_YOUR_CALM` error from the cmp-server to the repo-server.

Looking into gRPC docume

[2022-07-09 18:18] gawsoftpl opened #9925 "Deploy argocd from yaml manifest from S3 Bucket"
# Summary

What change you think needs making.
I use Skaffold during development and I want to use it in my gitlab pipeline to execute kubernetes manifests to k8s cluster.
This manifest I can save in artifact server for example S3 bucket.
For CD it would be great if I can deploy this manifest via ArgoCD, but argo only use source from git or helm, there is no option for source from bucket s3. Is th

[2022-07-09 18:36] notfromstatefarm commented on #9925
Argo isn't just about deploying. It's about implementing GitOps and that requires having a Git repository or some other kind of version control. An S3 bucket only provides versioning on individual files, not the bucket as a whole.

I'd recommend implementing a pipeline that commits your manifests into a Git repo.

[2022-07-10 00:59] stevenspinoza commented on #8548
For me, it worked just adding the repo when I created the app, also had to figure out the urls segments for the REPO URL and CHART fields.. (not too intuitive)

![image](https://user-images.githubusercontent.com/5944011/178127288-d53b8070-ba85-4d0f-a7f1-81a7835dd7f9.png)

![image](https://user-images.githubusercontent.com/5944011/178127311-731743ab-9098-4400-8959-610e7291f1c8.png)

[2022-07-10 07:58] chunklhit commented on #9909
haha. i will close the issue.

[2022-07-10 07:58] #9909 closed

[2022-07-10 08:26] chunklhit commented on #9914
Good Job

[2022-07-10 08:26] #9914 closed

[2022-07-10 09:01] czchen commented on #9172
I am not sure if the current `left resources in old cluster when changing destination` is needed in any scenario. If this is not needed in any case, we can just change current behavior.

[2022-07-10 10:36] zfrhv commented on #998
i tried to modify but its being overwritten,
if you install argocd on openshift try checking the `argocd-cluster` secret instead of `argocd-secret`

[2022-07-10 10:38] gawsoftpl commented on #9925
As alternative I can use git hooks like husky and generate k8s manifest in folder release before commit to repo.

[2022-07-10 11:28] AharonIsraelCohen commented on #7257
Can you share us the code ?

[2022-07-10 11:52] rouke-broersma commented on #8548
@stevenspinoza like I said deploying a chat works fine, it's just the connectivity check that fails.

[2022-07-10 13:18] hyerim-gn commented on #1936
I solved node scale out.

[2022-07-10 17:00] jsoref opened #9927 "Logs view doesn't update between container creating and after created"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

If you open the logs viewer for a pod while it's at `container creating`, it won't always (ever?) update to show logs from the pod once it's running.

**To Reproduce**

1. Delete a pod

[2022-07-10 17:07] jsoref opened #9928 "Save button should be visible even when scrolled down"
# Summary

When one edits the app details pane, one regularly needs to scroll down to get to the setting to change. The save button should be accessible w/o having to scroll back up.

# Motivation

Normally `save` buttons are in toolbars at the top of windows that are not scrolled off screen when one scrolls their corresponding document.

# Proposal

Move the button out of the scrolling part of th

[2022-07-10 21:39] ejhayes opened #9931 "Applicationset not refreshed after webhook event using matrix generator when using matrix generator references"
@KojoRising @crenshaw-dev @sboschman

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

It appears that the changes from #8998 are not compatible with the work done in #9080. This has been confirmed by the author of #8998

**To Reprodu

[2022-07-10 21:47] joebowbeer commented on #9810
@souravsk in the process of answering your questions, I ended up creating a PR that I think will fix the issue:

#9930

In the description, I added the commands I used to perform a static check of the manifests.

Do you want to install these manifests in minikube and give them a spin?

[2022-07-11 07:11] scalen commented on #3593
I terms of deferring to k8s RBAC, could we have a new kind of rule that maps groups to k8s users/groups? Behind the scenes, this would let manual operations be conducted using the `--as` and `--as-group` kubectl flags.

That would allow ArgoCD RBAC to remain at the Application level, keep the system permissions unchanged, but limit user capabilities regarding resources within the Applications.

[2022-07-11 07:17] roelvdberg opened #9933 "Critical CVE in go-restful CVE-2022-1996"
Authorization Bypass Through User-Controlled Key in GitHub repository emicklei/go-restful prior to v3.8.0.

Our scanners found a CVE-2022-1996, this is an authorization issue with the go-restful module.
What is the impact of this CVE on ArgoCD and can it be fixed?

https://avd.aquasec.com/nvd/2022/cve-2022-1996/

[2022-07-11 07:21] arturzielinskicard opened #9934 "Moving existing app yaml to apps-of-apps causes app delete and create again"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I'm trying to migrate existing apps on ArgoCD to apps-of-apps pattern with root app. When I add application YAML to templates directory of root app, my ArgoCD app change status to missi

[2022-07-11 07:34] dan-m8t commented on #9900
The ArgoCD operator sets "read-only" as the defaultPolicy

Is there something I can provide to debug the problem?

[2022-07-11 08:30] muma378 commented on #9679
Try to login to my argocd server with same flags and version, it reports an error with "xxx is not configured with SSO", which is correct.

But when I tried it with a fake address such as "random.com",  it hangs there and no more progressing.

Guess it because the `BlockingDial` dials with no timeout set.

[2022-07-11 08:54] souravsk commented on #9810
I'm sorry @joebowbeer for all the trouble.
Yes will install those manifests in minikube

[2022-07-11 10:01] sree-warrier opened #9936 "need to create a custom RBAC roles for Devs to do rollback operation"
# Summary
It would be great to have a separate RBAC permission for some of other operation which comes under "update".

# Motivation
Sometimes rollback via gitops way would take some time, so for critical application Devs should do rollback of there own if any issues with a deployment happens. We are unable to achieve it as the roll-back operation comes with "update" permission and it give some wi

[2022-07-11 12:52] rwong2888 commented on #9786
Thank you @toVersus , that was very thorough

[2022-07-11 12:52] #9786 closed

[2022-07-11 13:09] dantastisk commented on #9830
I am experiencing the same.

[2022-07-11 13:09] timbuchwaldt opened #9937 "Tool for CI of Apps of Apps"
# Summary

Using ArgoCD the way we considers it's intended, by using the app of apps pattern, makes it very hard to test manifests before submitting them to the cluster. You either have to specify special values.yaml for testing or figure out a way how the tree of apps renders.
I propose implementing a recursive renderer for app of apps structures that allows generating all manifests that result f

[2022-07-11 13:29] ZeroDeltaAlpha opened #9941 "Helm templating and escaping parameters"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Hi, I have an issue with argo cd and helm templating. We have the following valid helm command
[code]

The issue we are having is that any escaping of the podAnnotations value in argo re

[2022-07-11 13:49] amirb-argon commented on #8097
+1 on this.
This issue makes it very hard to adopt OCI helm repositories hosted on ECR + ArgoCD.
The use case behind this is to be able to lock ArgoCD apps to a specific in-house (private) helm chart when you want to do breaking changes.

Would really appreciate if someone could implement this natively in ArgoCD, similar to how it's implemented here:
https://argocd-image-updater.readthedocs.io/en/

[2022-07-11 15:15] dan-m8t commented on #9900
I have to admit that me and my colleagues screwed up :)

I didn't post here the output of `oc get groups | grep prj-xxx-xx` - that would have solve this way earlier.

Turns out we named the viewer groups like this: prj-xxx-xx-stage-viewer**s** (mind the s :)).

In our AppProjects we always set a permission for "get" for the applications bind to the group membership as mentioned above. But we forgo

[2022-07-11 15:15] #9900 closed

[2022-07-11 15:15] crenshaw-dev commented on #9918
Yep, I forget that this is a stream of characters rather than lines.

[2022-07-11 15:22] crenshaw-dev commented on #9172
I'm not comfortable changing default behavior to delete-resources when it was previously don't-delete-resources. Even if the existing behavior doesn't serve any valid use cases, the behavior might be _assumed_ by some users. New behavior to delete resources should be opt-in.

[2022-07-11 15:24] #7257 closed

[2022-07-11 15:28] crenshaw-dev commented on #9931
Are there any interesting logs in the applicationset controller when it handles the webhook event?

[2022-07-11 15:30] ejhayes commented on #9931
No logs at all @crenshaw-dev -- just appears to be skipped altogether

[2022-07-11 15:39] #9933 closed

[2022-07-11 15:41] crenshaw-dev commented on #9809
@sass1997 the permissionless service account is working for me in both my local docker-desktop setup and in Intuit Argo CD instances. I'm not able to reproduce the bug.

[2022-07-11 15:58] crenshaw-dev commented on #9937
So something like `argocd app manifests APPNAME --local . --resursive`?

[2022-07-11 16:02] #9924 closed

[2022-07-11 16:04] sboschman commented on #9931
The [webhook](https://github.com/argoproj/argo-cd/blob/master/applicationset/utils/webhook.go#L255) code just uses the string as defined in the appset, it does not do any interpolating/transforming/merging/templating as added in #9080. It is however unclear to me how to get the interpolated generator params from the impl of #9080. The Transform method seems to return rendered Application objects.

[2022-07-11 16:05] scalen commented on #3593
@crenshaw-dev Nope, it is all done through [k8s RBAC](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation), so admins of each ArgoCD system would need to allow the ArgoCD serviceaccount to impersonate users and groups (and can limit _which_ users and groups it can imitate), but no authentication is needed at any point.

This should work smoothly for mapping A

[2022-07-11 16:05] mmisztal1980 commented on #9863
I'm experiencing a similar issue with ArgoCD 4.8.3 and working with Azure DevOps and Azure Container Registry:

HELM Repos are defined using ArgoCD's HELM values file:

[code]

HELM & GIT Repos are visible in the **Repositories** view:
![image](https://user-images.githubusercontent.com/1357057/178306883-b2c0bd6a-743f-4312-929b-7daa7a4857a2.png)

Apps are modelled as HELM subcharts in their respect

[2022-07-11 16:38] PierreRAFFA commented on #9809
I have just tested to install version 2.3.5 and argocd-repo-server works

[2022-07-11 16:54] jsoref opened #9942 "Line numbers in logs view are reversed"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The line numbers in the log view don't make sense.

1. They start at some high number and count down
2. The oldest item is the highest number

**To Reproduce**

1. Visit https://cd.apps

[2022-07-11 18:26] wtam2018 commented on #9893
There is some more documentation. Do you see any errors from the Argo CD UI?

[2022-07-11 18:27] ashutosh16 commented on #7006
/assign

[2022-07-11 20:12] jsoref opened #9945 "Button behavior is very inconsistent"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

1. Visit https://cd.apps.argoproj.io/applications/argo-cd?view=tree&resource=name%3Aargocd-redis-ha-server%2Cname%3Aargocd-redis-ha-server-0&node=%2FPod%2Fargocd%2Farg

[2022-07-11 20:15] jsoref opened #9946 "Pop out doesn't honor show previous logs"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Full screen view disregards show previous logs

**To Reproduce**

1. Visit https://cd.apps.argoproj.io/applications/argo-cd?view=tree&resource=name%3Aargocd-redis-ha-server%2Cname%3Aarg

[2022-07-11 20:29] mmisztal1980 commented on #9863
If I understand the [code](https://github.com/argoproj/argo-cd/blob/f34687bd80a8977052f2ce9cd145c8f0265d9b59/util/helm/helm.go#L73) correctly (I'm not a GO developer) :
- if the repository is an OCI repository, argo is going to:
  - perform `helm registry login`
  - attempt to execute `helm dependencies build`
  - perform `helm registry logout`
  - ensure the `h.cmd.IsHelmOci` is set

I'm guessing

[2022-07-11 22:17] scalen commented on #8885
The Helm Charts let you specify elements of the security context for the notifications controller (and, I think, the applicationset controller); this can allow you to set `runAsUser: 999` (the `argocd` UID), but yeah, kustomize can do the same job. The PodSecurityPolicy is also a nice solution I hadn't seen before 👍🏼

This is necessary if the image sets its USER by name, rather than `uid:gid` (whi

[2022-07-11 22:47] scalen commented on #7689
As an alternative to this, could we not use k8s impersonation as ArgoCD, but still manage the permissions for it in k8s directly? This would alleviate concerns about permissions escalation, as ArgoCD would not, itself, be able to elevate anyone's privilege. (Beyond the basic superuser permissions of the ArgoCD service account, anyway 🙈)

I.e. the cluster managers can give the ArgoCD ServiceAccount

[2022-07-12 03:08] TheSwarnim commented on #9942
Hi @crenshaw-dev and @jsoref, can you assign this issue to me?

[2022-07-12 06:20] via-justa commented on #8826
Same behaviour on ArgoCD 2.4.4

[2022-07-12 10:41] arthurk commented on #9641
@michalziobro the fix is not in 2.4.4, I think it will be available in the next release

[2022-07-12 12:34] crenshaw-dev commented on #9641
Yep, I'll release the fix in the next few hours. It'll be in 2.4.6, since I've got some other stuff queued up for 2.4.5.

[2022-07-12 12:36] ErikLundJensen commented on #3937
Sorry for not responding before. I ended up writing a small converter that took Azure DevOps push event and transformed it into GitHub Event. It seamed easier than implementing it all in ArgoCD. The converter runs as a pod and forward the requests to ArgoCD server.

[2022-07-12 12:53] EugeneLugovtsov opened #9951 "Terminal does not work with windows containers"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I can open the terminal tab and it successfully connects to the pod, but I cannot type anything in the terminal window.

![image](https://user-images.githubusercontent.com/34510252/1784

[2022-07-12 13:40] Ninsbean commented on #2437
Does anyone have a solution for this? I'm having this exact problem.

[2022-07-12 14:52] rshiva777 commented on #5425
I am facing same issue. able to see below log from one of the redis-ha-proxy pod

[ALERT] 192/144952 (1) : parsing [/usr/local/etc/haproxy/haproxy.cfg:24] : 'server R0' : could not resolve address 'argocd-redis-ha-announce-0'.

[2022-07-12 15:45] danielhelfand commented on #9747
Another thing to note is this issue also affects the UI and changes would need to be made there as well. The version info is viewable through the UI with `argocd admin dashboard` command.

[2022-07-12 16:00] crenshaw-dev opened #9955 "Add codegen to sync manifest image tags with Procfile image tags"
# Summary

We need to automatically reflect changes to the redix/dex/haproxy image tags from the manifests directory to the Procfile so e2e tests use the correct version.

# Motivation

e2e tests use the processes initiated in Procfile. We should use the same version in Procfile as what is set in the manifests.

# Proposal

Probably a BASH script invoked from the Makefile. It should be part of the

[2022-07-12 16:18] crenshaw-dev opened #9956 "ADA-ARGO-SA-01: `help.chatUrl` should be validated"
It can currently be a `javascript:` link. Only admins can set this value, so it's reasonably safe. But it's probably better to URL validate that value to help admins avoid doing something dangerous.

[2022-07-12 16:27] crenshaw-dev opened #9957 "Log a warning of OIDCTLSConfig is nil"
If external (non-bundled Dex) OIDC is _not_ enabled, `a.TLSConfig()` can return `nil`. If that happens, we should log a warning here. https://github.com/argoproj/argo-cd/blob/f223182ddc83d6385abb897577067f99953c4d74/util/settings/settings.go#L1684

[2022-07-12 18:46] presidenten commented on #4188
@lknite You the mvp man. Thanks for sharing!

[2022-07-12 18:49] sidewinder12s commented on #9437
We're also very interested in this from a cluster operations perspective.

[2022-07-12 20:32] notfromstatefarm commented on #9951
I believe this is fixed in #9895, which will be released in 2.4.6.

[2022-07-12 21:06] speedfl opened #9961 "Advanced templating for ApplicationSet"
# Summary

Currently ApplicationSet template is using https://github.com/valyala/fasttemplate. But it does not provide advanced templating feature which can be useful for inline helm values

# Motivation

When using inline helm values it could be nice to have templating capabilities such as loop, if etc

[code]

# Proposal

Use Advanced templating such as Mustache. I am opened to work on a PR usin

[2022-07-12 21:18] crenshaw-dev opened #9962 "TOB-ARGO-TM8: Set a reasonable default if UserSessionDuration parsing fails"
# Summary

When UserSessionDuration is parsed from `argocd-cm`, failed parsing defaults to 0. Instead, set a reasonable default.

https://github.com/argoproj/argo-cd/blob/fdceed6051f2659adff206498a9417695e23e74c/util/settings/settings.go#L1274

[2022-07-12 21:24] crenshaw-dev opened #9963 "TOB-ARGO-006: Do not `defer f.Close()`"
# Summary

In places where we currently `defer f.Close()`, we should add logic to handle any error returned from `f.Close()`.

[2022-07-12 21:43] scalen commented on #9915
This will be because there is a strict ordering in which kinds of resources are deployed in a Helm release, and if an earlier kind fails then later kinds don't even try. I believe already deployed resources should be deleted as part of an automated rollback, as Helm releases are supposed to be atomic... But even if some resources weren't rolled back, no "later" resources would be installed in the

[2022-07-12 21:52] danielhelfand commented on #9894
Was able to reproduce on Windows machine. I'm getting an error from the local Argo CD server for core mode saying the `/tmp/extensions` path cannot be found. This is coming from [here](https://github.com/argoproj/argo-cd/blob/af7d97076c3bcce322288dac353eed361468c589/server/server.go#L877). It looks like there may also need to be some work done to make the local server not use unix file paths on wi

[2022-07-12 21:55] crenshaw-dev opened #9964 "Prevent `../`in Application `path` on POST"
# Summary

The UI validates the Application's `path` field before creating a new Application. But if someone directly POSTed to the application endpoint, they could include `../` in the `path`.

Actual traversal would still be blocked in `GenerateManifest`. But an extra layer of protection would be good.

# Motivation

If some part of Argo CD code trusted instead of validating the `path` field, so

[2022-07-12 21:56] scalen commented on #9891
@endophage, you can make any resource a Helm hook. When running multiple Helm hooks of the same priority, the normal resource ordering applies. So if you give your ConfigMaps/Secrets the same hook annotations as the Jobs that need them, those should be deployed first, then the Job(s), then all the non-hook resources.

If you don't trust the default resource ordering, you can even set the ConfigMap

[2022-07-12 22:00] crenshaw-dev opened #9965 "`kustomize.version.*` is not documented"
`kustomize.path` and `kustomize.buildOpts` are documented. But `kustomize.version` (which seems to be similar to `kustomize.path`) is not documented. We should add docs for that feature.

[2022-07-12 22:02] crenshaw-dev opened #9966 "TOB-ARGO-024: Toolchain docs should link to Docker docs about not the `docker` group"
# Summary

The [toolchain docs](https://argo-cd.readthedocs.io/en/stable/developer-guide/toolchain-guide/#before-you-start) say "don't use root w/ Docker," but it doesn't explain _why_.

# Motivation

People sometimes ignore security recommendations unless they understand _why_ the recommendations were made.

This was pointed out in item 24 of the Trail of Bits security audit. https://github.com/a

[2022-07-12 22:28] crenshaw-dev commented on #5433
This was noted in the Trail of Bits security audit as item 32. file:///Users/mcrenshaw/Downloads/argo_security_final_report%20(2).pdf

[2022-07-12 23:35] crenshaw-dev opened #9968 "TOB-ARGO-TM2: Add network policies for ApplicationSet and Notifications controllers"
# Summary

Certain components do not need to be able to talk to each other.

# Motivation

If an attacker were able to get access to, say, the applicationset controller, they should not have unrestricted network access to other Argo CD components. The applicationset controller does not need to be able to make API calls to, for example, the API server.

This was mentioned as item 2 in the Trail of

[2022-07-12 23:49] crenshaw-dev opened #9969 "CLI suggests that it is possible to create the same application twice"
From the [Trail of Bits audit](https://github.com/argoproj/argoproj/blob/4324729c1c9d3ea21d22afbf7378921826fd2529/docs/argo_security_final_report.pdf) (item 22):

[2022-07-13 00:11] sidewinder12s opened #9970 "ArgoCD Server Log Level env var incorrect"
Shouldn't this environment variable and then Kustomize manifest env var be `ARGOCD_SERVER_LOG_LEVEL`?

Especially with config moving into the shared configmap?

https://github.com/argoproj/argo-cd/blob/356307e243973f90b5238cff150821fffd7668c2/manifests/base/server/argocd-server-deployment.yaml#L49

https://github.com/argoproj/argo-cd/blob/ae19965ff75fd6ba199914b258d751d6b7ea876c/cmd/argocd-server/

[2022-07-13 00:30] notfromstatefarm commented on #9695
@sidewinder12s The issue in my case was that I was correctly setting --repo-server-timeout-seconds on the argocd-server, but not on the argocd-application-controller. You need to set both `server.repo.server.timeout.seconds` and `controller.repo.server.timeout.seconds` in `argocd-cmd-params-cm`.

[2022-07-13 00:31] my-git9 commented on #9963
I can try
/assign

[2022-07-13 00:32] my-git9 commented on #9963
I can try

[2022-07-13 00:39] ahmednreldin commented on #9966
Docker recommend to use non-root as a best practice without explain why
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/

However, CIS explain this very well
https://www.cisecurity.org/benchmark/docker/
the **Container Defense in Depth** section clearly illustrates the point, which shows how a container with a mount volume can gain root access to the host,
![image](https:/

[2022-07-13 01:28] sidewinder12s commented on #9695
Ok. It actually appears that I was hitting the AWS ALB Idle Timeout of 60s.

Once I bumped that, I got no more 504s/context canceled errors. Kinda different/weird that it propagated through like that, but I guess the server is holding open the downstream connection until it gets success from the repo-server

[2022-07-13 02:06] #9955 closed

[2022-07-13 02:31] notfromstatefarm commented on #9968
Aren't there already network policies? 🤔

i.e. https://github.com/argoproj/argo-cd/blob/master/manifests/base/repo-server/argocd-repo-server-network-policy.yaml

[2022-07-13 03:15] rshiva777 commented on #9915
Hi @scalen,

Thanks for the quick response. That's correct when i deploy using helm charts. At present, i m deploying using manifest files directly without using helm, does  argocd follow same for pattern as helm chart  for directory?

More over, when i try to sync manually the other components deployment/configmap/secret from argocd application UI, they are getting synced, only issue happens duri

[2022-07-13 03:40] arthurk commented on #9641
I've upgraded to 2.4.6 and can confirm that the web terminal feature works well now

[2022-07-13 03:42] ADustyOldMuffin commented on #9903
Hello! I'd be interested in taking this on can I be assigned?

[2022-07-13 06:13] scalen commented on #9915
I haven't verified this anywhere, but I _believe_ ArgoCD follows the same (or a similar) pattern, because it doesn't actually use Helm to deploy, only to template. For the actual deployment to align, it must therefore implement the pattern itself.

Following such a pattern then only makes sense, as the assumption is that all resources in an Application are necessary, and (that being the case) cert

[2022-07-13 08:10] jaredclarke commented on #5433
https://github.com/argoproj/argo-cd/pull/5444

This was added and merged a year ago so closing this issue

[2022-07-13 08:10] #5433 closed

[2022-07-13 10:28] zfrhv commented on #6878
thank you so much for the `$$VAR` escape character,
couldn't figure out what was keep removing my `$VAR`

[2022-07-13 10:58] Kerwood commented on #9920
Is it possible to only show the "Exec" menu if the features is enabled **and** the user as the proper permissions?

Eg.
[code]
My issues is that I want the feature enabled, but not all users to have access the feature and I don't want the users without access to see the menu item or the tab on the pod overview.

If the feature is enabled but the user does not have access to exec an error will appe

[2022-07-13 12:12] Kerwood commented on #9966
The Toolchain docs states:

Which refers to not running Docker commands as root, but add your user to the local `docker` group to avoid using `sudo`, eg. `usermod -a -G docker <username>`.

It doesn't matter if you run Docker commands with `sudo` or not. The Docker daemon still runs with root privileges whether you are in the `docker` group or not, it just saves you the `sudo` on every command. Th

[2022-07-13 12:25] timbuchwaldt commented on #9937
Wondering: Is this something you would consider implementing or accepting a contribution - or would you consider this out of scope for the ArgoCD project itself?

[2022-07-13 13:11] crenshaw-dev commented on #9968
Ah! I should read our manifests some time.

I think we're still missing policies for the ApplicationSet and Notification controllers. I guess this issue can track those two.

[2022-07-13 13:24] v1ctorrhs opened #9972 "Multiple rbac configmap support"
# Summary

Adding support for multiple `argocd-rbac-cm-*` configmaps to enable dynamic configuration of rbac permissions.

# Motivation

With the introduction of the Web Terminal in UI we would really like to utilise it so our engineers can support escalations faster/easier. Kubectl is not an option, argocd web terminal is a perfect use case for this. With large organisations it's pretty common to

[2022-07-13 14:52] notfromstatefarm commented on #9972
@v1ctorrhs do you want to be able to specify extra ConfigMaps, or just specify extra CSVs within the existing configmap? The latter would be significantly easier.

[2022-07-13 15:00] crenshaw-dev commented on #9437
If anyone wants to push this, most of the work would be copy/paste into the proposal [template](https://github.com/argoproj/argo-cd/blob/master/docs/proposals/001-proposal-template.md), filling in some empty sections, and then opening a PR to collect comments.

[2022-07-13 15:02] todaywasawesome commented on #9969
I believe that it is attempting to create the app again and because the manifest is the same it just reports success. If you try to modify the app in any way you'll get an error and a prompt to use the upsert flag.

[code]

I don't think it should error out, just report that the app was unchanged, similar to `kubectl`. It's better that commands work idempotently.

[2022-07-13 15:03] todaywasawesome commented on #9961
Would this allow setting default values? That would be HUGE.

[2022-07-13 15:05] crenshaw-dev commented on #9961
There's a PR to do something similar: https://github.com/argoproj/argo-cd/pull/9873

I would like to see that PR drop fasttemplate support, since it's no longer being developed.

I'd rather use Go text templating with Sprig functions rather than Mustache. The Argo suite already makes use of a lot of different template languages/styles. I think keeping it close to the Go ecosystem is advisable.

[2022-07-13 15:21] danieljkemp commented on #7799
Another use for setting namespace labels: `https://kubernetes.io/docs/concepts/security/pod-security-admission/`

Will likely wait for multi-source applications in 2.5 (or 2.6...)

[2022-07-13 15:22] #9549 closed

[2022-07-13 15:22] crenshaw-dev commented on #9549
@tooptoop4 lmk if you need this cherry-picked. https://github.com/argoproj/argo-cd/pull/9947

Otherwise I'll just leave it for 2.5.

[2022-07-13 15:24] crenshaw-dev commented on #9920
It should be possible! That PR would follow the pattern of this one: https://github.com/argoproj/argo-cd/pull/9828

[2022-07-13 15:31] crenshaw-dev commented on #9966
Apologies, I completely misread the report. It's saying you _should_ use `sudo` rather than adding your user to the `docker` group, because the latter effectively gives your user root (according to the Docker docs).

[2022-07-13 15:32] crenshaw-dev commented on #9937
@timbuchwaldt I'd absolutely review a contribution! I think I'd only add it myself if I had an Intuit-internal use case (which is becoming increasingly likely as we adopt AppSets more).

[2022-07-13 15:50] wmgroot commented on #9437
I've been working on the actual PR with the changes to implement this functionality, I'll go ahead and open a proposal PR using the formal proposal template.

[2022-07-13 15:51] cconnert opened #9973 "UI does not display related RS or Pod of Deployment"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ~] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

The UI does not display any related RS or Pod resource (see screenshot). Not sure why this is the case. Just upgraded ArgoCD 2.2.5 to the latest version.

**To Reproduce**

I suspect

[2022-07-13 15:53] crenshaw-dev commented on #9437
Nice, thanks!

[2022-07-13 15:54] crenshaw-dev commented on #9973
If the Application's Project is using a resource allow-list, make sure all the resources you want to see are allow-listed.

[2022-07-13 16:13] cconnert commented on #9973
Thanks for the quick reply. Just updated my project and could managed to verify that the issue got resolved by extending the allow-list.
But actually I would have preferred not disallow the creation of those kind of resources by our teams. Well, nothing we can do about that I guess...

[2022-07-13 16:17] crenshaw-dev commented on #9973
If your users have the ability to create Deployments, don't they already have the ability to create Pods and ReplicaSets by proxy?

[2022-07-13 16:25] cconnert commented on #9973
True that, but maybe I want to force them to utilize Deployments as interaction point.

[2022-07-13 16:35] yiyan-wish commented on #2472
@mmerickel We also use app-of-apps repos, and the unknown state occur frequently.
Dose your problem solved?

[2022-07-13 17:27] ivanklee86 commented on #9679
I gave the newest release version (v2.4.6) a shot this afternoon and it unfortunately still seems like this is happening. 😢

CLI version:
[code]

Result:
[code]

We can connect to our ArgoCD instance using v2.3.6 successfully so pretty sure network connectivity/TLS certificate/etc are OK.  Happy to provide any other information!

[2022-07-13 17:42] iamnoah commented on #9465
I think  #9839 addresses this

[2022-07-13 17:58] iamnoah opened #9978 "Ability to map/rename/copy parameters"
# Summary

I propose that each generator should have a config block like this:

[code]

# Motivation

For clarity and to smooth out interactions between generators. e.g., copy a property so it can be used as a merge key.

More use cases detailed in a [docs update](https://github.com/argoproj/argo-cd/blob/9fcf59aae664b05e331d51ad06041c509f95de25/docs/operator-manual/applicationset/Generators.md#par

[2022-07-13 17:58] notfromstatefarm commented on #9972
That actually wasn't as hard as I thought! Implemented in #9976

[2022-07-13 18:37] v1ctorrhs commented on #9972
I'm speechless. What a beast!

[2022-07-13 20:34] krisrang opened #9980 "Terminal doesn't load when opening via deploy/STS/etc"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Opening pod terminal via parent resource such as deployment, statefulset, etc doesn't work.
It tries to open a terminal using the name of the parent resource instead of a suitable relat

[2022-07-13 20:44] crenshaw-dev commented on #9978
We should be careful to avoid a billion laughs attack.

Given the proposed design, two rules we should enforce are:
1) destinations in `mapParams` should not also be valid sources
1) updates should be atomic - i.e. all mappings should be applied in one operation

These rules prevent a billion-laughs attack.

Example of an invalid `mapParams` that breaks rule 1:

[code]

Example of what should happ

[2022-07-13 20:45] #9424 closed

[2022-07-13 20:56] Kerwood commented on #9966
I can't seem to find where it says that you should use `sudo` instead of the `docker` group.

The "Before you start" section is a list of tools needed to start developing on ArgoCD. How you use Docker is not a prerequisite for developing on ArgoCD. The documentation shouldn't dictate how to use Docker and it's hardly a security concern if you use `sudo` or the `docker` group. If the developer is u

[2022-07-13 22:50] mmerickel commented on #2472
Unfortunately this is still an issue even with 2.4.6. I think #9739 only solved it for TLS and not for ssh. Clicking refresh again on an app in the unknown state fixes the problem every single time for me.

[2022-07-13 23:02] mmerickel opened #9981 "intermittent unknown sync state, ssh connection reset by peer"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

`app.status.sync.status == Unknown`

Regularly we are receiving network errors from the repo-server when connecting to git repos over ssh. URL format is `git@redacted.hostname:sub/path.

[2022-07-13 23:03] mmerickel commented on #2472
I opened https://github.com/argoproj/argo-cd/issues/9981 to have this tracked by an open ticket.

[2022-07-13 23:17] ejhayes opened #9982 "Add support for GitHub Deployments Generator"
# Summary

Add GitHub deployments generator to applicationsets.

# Motivation

Right now applicationsets provide several great GitHub specific generators. One use case that would be really useful would be the ability to create/update ArgoCD apps when new GitHub deployments are created using the [deployments api](https://docs.github.com/en/rest/deployments/deployments). This would be particularly u

[2022-07-14 05:05] cconnert commented on #9973
Perfect, I'll crate an enhancement request

[2022-07-14 05:05] #9973 closed

[2022-07-14 05:13] cconnert opened #9986 "Add permissions (e.g. readonly/rw) to allow-list elments"
# Summary

The resource allow-list on the AppProject should be extended with a flag (e.g. `readonly`) to get finer graded permissions on the resource.

# Motivation

The issue arises due to [9973](https://github.com/argoproj/argo-cd/issues/9973). Frankly after the update I had to add Pod and ReplicaSets to the allow list in order to display them properly in the UI. BUT I still want to limit/force

[2022-07-14 08:15] LeartBeqiraj commented on #9101
Any update on this?

[2022-07-14 09:51] RyanW8 commented on #7898
We're running into the same issue running ArgoCD `v2.3.3`

[2022-07-14 10:00] cconnert opened #9988 "Last Sync Result: Sync failed with multi level root-app-of-apps & sync-waves"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [~] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We have a self-managed, multi (2) level app-of-app setup which utilizes sync-waves for initial bootstrapping. More ore less one can thinks of:

Root-App-Of-Apps->Intermediated-App-Of-A

[2022-07-14 10:05] timbuchwaldt commented on #9937
Okay, I'll give it a shot!
I'm still trying to grasp the codebase and some details, but here is what I'm thinking, maybe you can point me in a different direction if mine seems off:

- I'd implement a subcommand like `argocd app local-manifests` that refers to a local repository for starters (I have seen some stuff around using Git credentials, but for a first version I'd probably skip this)
- Int

[2022-07-14 10:16] riuvshyn commented on #9616
how do I enable audit logs for argocd? I can't find any docs related to audit logs configuration

[2022-07-14 11:55] ops-hummus commented on #8432
@davidblum
Are you sure it's working? I tried using skipCrds from an applicationset (deploying Prometheus if it matters), and it did generated an application, but eventually it didn’t include the skipscrd in the application cr. What am I missing?

[2022-07-14 12:02] FischerLGLN commented on #2789
The first example of this blog https://softrams.com/insights/external-value-files-in-argo-cd-with-applicationsets/ solved my problem with "external" per domain/cluster values.

applicationset.yaml:

[code]

I put the "in-cluster.yaml" in the same git repo, where my applicationset.yaml is.

[code]
This is my git structure:
[code]

Works great so far.

[2022-07-14 12:46] mugdha-adhav commented on #2902
It would be helpful if we have a filter for `cluster-name` while getting or listing applications.
For instance -
[code]

Right now I am doing it by having application name like `<cluster-name>-<application name>`, and then getting a specific application using grep on the application name to match the cluster name.

[2022-07-14 13:19] saumeya commented on #9956
I'd like to work on this, what does `javascript:` link mean @crenshaw-dev

[2022-07-14 13:24] Kerwood commented on #9920
@crenshaw-dev Will you assign this to me? I think I will give this a go.

[2022-07-14 13:30] crenshaw-dev commented on #9956
@saumeya, I believe the `href` attribute for the "chat" button can start with `javascript: `, meaning it can be used to run arbitrary JavaScript code instead of navigating to an external page. If I were a malicious Argo CD admin, I could embed code in that `href` to take malicious actions using the victim's credentials (do things like deleting an app).

The fix could make use of some of this valid

[2022-07-14 13:42] davidblum commented on #8432
@ops-hummus The steps I outlined above worked for me.

What issue are you seeing?

Have you tried running the steps I suggest [here](https://github.com/argoproj/argo-cd/issues/8432#issuecomment-1139743726) ?

Can you post some logs or relevant configs?

[2022-07-14 14:14] LeartBeqiraj opened #9990 "I am able to delete applications created by an applicationset when deleting the applicationset even with the policy set to create-only"
**Describe the bug**

Since I am using a single applicationset to create more than 50 applications, I have set the policy - create-only within the controller Deployment container, I did this so other engineers can do changes manually in individual applications. After some tests, I was able to "bypass" the "create-only policy" and I deleted all the applications by deleting the applicationset even t

[2022-07-14 14:52] rshiva777 commented on #9915
Yes, looks like argocd is following the helm pattern. Thanks for the inputs @scalen

[2022-07-14 15:13] crenshaw-dev commented on #9978
For the moment, yes, but I think we're only a few small changes away from making them usable by non-admins. I'd like to keep that possibility open.

In a single-tenant environment, that's worse. In a multi-tenant environment, you might be limited to harming only your own environment with those attacks. I also anticipate we'll eventually add restrictions to prevent those attacks.

I'm not super com

[2022-07-14 15:22] todaywasawesome commented on #9951
@EugeneLugovtsov [2.4.6](https://github.com/argoproj/argo-cd/releases/tag/v2.4.6) was just released which includes #9895 , do you want to give it a try?

[2022-07-14 15:41] snarlysodboxer commented on #6067
I'd like to work on this, but am unsure if this enhancement proposal has been accepted. Could we get some feedback on this?

[2022-07-14 15:47] EugeneLugovtsov commented on #9951
@todaywasawesome yes, I have already given it a shot. I have the ability to type commands in ArgoCD v2.4.6. However, I can see that the terminal freezes sometimes, and the cursor is jumping around the terminal window
![image](https://user-images.githubusercontent.com/34510252/179022791-0591a964-db83-437f-9e19-e45380189c58.png)

[2022-07-14 15:59] crenshaw-dev commented on #9951
I wonder if this is a race condition on the WriteMessage call. @EugeneLugovtsov if I wrote a patch, would you be able to build the image and test it?

[2022-07-14 16:02] iamnoah commented on #9978
Ah, I misunderstood the restriction. `path[0]` is an output parameter from the generator, but as you say, it is not assigned in the mapping, so redefining its value would be allowed? Would `path[0]="foo-{{path[0]}}"` be allowed?

I agree the lack of redefinition is not a blocker to accomplishing any particular result, but it does have costs in clarity, readability, and maintenance. Not to mention

[2022-07-14 16:49] crenshaw-dev commented on #9951
Can you give this a try? https://github.com/argoproj/argo-cd/pull/9994

I'm sharing the read and write lock. It's possible we could get away with write having its own lock.

[2022-07-14 17:03] crenshaw-dev commented on #9951
(My suspicion is that this might solve the hanging issue but not the intermingled text issue.)

[2022-07-14 17:30] crenshaw-dev commented on #9616
@riuvshyn depending on what you mean by "audit," they may be enabled by default. On Slack you mentioned you wanted a record of each request. Those logs are available at the `INFO` (default) log level in the Argo CD API server pods.

[2022-07-14 17:52] iamnoah commented on #9978
I was not aware cluster values had interpolation. Adding that to every generator would accomplish the same thing wrt to merge keys.

I can stand to drop the rest in favor of follow on attempts to improve templating.

[2022-07-14 17:59] crenshaw-dev commented on #9978
Cool, glad that's a viable route. Do you have time to build that PR? I'd be very happy to review and get at least one other reviewer on board.

[2022-07-14 18:13] wmiller112 commented on #5585
Have an almost identical setup - top level Application pointing to directory with a few ApplicationSets.  The resulting apps from the ApplicationSets have the appropriate wave annotations to install some of the apps before others, and they all show in the UI as part of the top level Application. This seems like it falls under the app of apps concept that _should_ work based on other GH issue resol

[2022-07-14 18:48] notfromstatefarm commented on #9980
Confirmed, ran into this myself.

[2022-07-14 19:06] iamnoah commented on #9978
I am looking at updating my PR, but noticed one deficiency of using `values`. Default values for params can no longer be provided for many cases. e.g., any parameter from git files that doesn't already start with values., or labels and annotations from the cluster generator.

[2022-07-14 20:44] TdSch opened #9996 "Allow cluster update through the CLI"
# Summary

Update cluster information through the CLI. Currently the only options for cluster in the CLI are get, add, rm.

# Motivation

I need to update the managed namespace of my cluster every time there is a new application. My applications are created by an automated script and I would like to add the required step of adding the namespace in the cluster in that script.

# Proposal

New comma

[2022-07-14 20:57] #9970 closed

[2022-07-14 22:53] scalen commented on #9891
Yes, I use Helm hooks and let ArgoCD translate them to ArgoCD hooks, so that the chart remains portable.

I have always specified hook-based ConfigMaps and secrets for my hook-based jobs, and separate ConfigMaps and Secrets in/for the "main" set of resources, so haven't seen how the main application behaves when relying on hook-based data resources...

However, I have never seen a "delete-before-c

[2022-07-14 23:55] ab-arao opened #9998 "Dex SSO failing with "http: server gave HTTP response to HTTPS client""
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Receiving following error message when trying to login with SSO to argocd:
[code]

I'm wondering if it could be related to any of the following recent changes:

- https://github.com/arg

[2022-07-15 01:41] danielhelfand commented on #9996
You should be able to use the `--upsert` option with `argocd cluster add` to update the cluster details:
https://github.com/argoproj/argo-cd/blob/7d31d612ef2309a4d6dfef3a47e565af4742586f/cmd/argocd/commands/cluster.go#L154

[2022-07-15 02:01] crenshaw-dev commented on #9998
I bet it was https://github.com/argoproj/argo-cd/security/advisories/GHSA-7943-82jg-wmw5.

https://github.com/argoproj/argo-cd/issues/9424 wasn't (and won't be) backported to 2.4.

Have you set `server.dex.server` in argocd-cmd-params-cm?

[2022-07-15 02:48] ab-arao commented on #9998
Thanks very much for having a look @crenshaw-dev

The `argocd-cmd-params-cm` configmap is empty, so no. Could you let me know what that's supposed to be set to? `true`, like in https://github.com/argoproj/argo-cd/blob/master/manifests/base/server/argocd-server-deployment.yaml#L61?

I did try setting `dex.server.disable.tls: true` in `argocd-cm` but it sounds like you are saying that setting is a r

[2022-07-15 03:13] SeibertronSS opened #10002 "How to turn automatic syncing back on"
I found out that after using the rollback feature, the app's auto-sync will be turned off, how do I turn it back on.

[2022-07-15 05:42] rshiva777 commented on #5425
Hello all, cluster networking was broken, hence i faced the below error

**[ALERT] 192/144952 (1) : parsing [/usr/local/etc/haproxy/haproxy.cfg:24] : 'server R0' : could not resolve address 'argocd-redis-ha-announce-0'.**

After restarting of calico pods fixed the issue.

[2022-07-15 06:47] dry4ng opened #10003 "ArgoCD preventing automatic GKE upgrade to 1.22"
We are getting this warning on all GKE clusters:

User agent: argocd-application-controller/v0.0.0 (linux/amd64) kubernetes/$Format
Total calls (last 30 days): 86146

[2022-07-15 10:15] EugeneLugovtsov commented on #9951
@crenshaw-dev I build the ArgoCD image from your branch. However, the terminal tab is missing now  :(
To make the image I followed this wiki https://argo-cd.readthedocs.io/en/stable/developer-guide/running-locally/#run-your-own-argocd-images-on-your-cluster

[2022-07-15 12:37] crenshaw-dev commented on #9951
My bad @EugeneLugovtsov, I based that PR on master instead of release-2.4. Can you give this one a try? https://github.com/argoproj/argo-cd/pull/10005

[2022-07-15 12:39] crenshaw-dev commented on #9679
@muma378 unfortunately I'm not sure how to debug this one. Do you have any ideas?

[2022-07-15 12:44] crenshaw-dev commented on #9465
Agreed, I think you can get what you need with `{{path}}/{{path.filename}}` after @iamnoah's fix in 2.4.4.

I do see the benefit of a dedicated `filepath` param though, if you still want to add that.

[2022-07-15 12:48] #9898 closed

[2022-07-15 12:53] crenshaw-dev commented on #9966
Yep, I agree! Thanks for the clarifications. Opened a PR.

[2022-07-15 12:57] alindeman commented on #9679
I was able to spend some time looking into this yesterday, and I believe I have a hypothesis. But it will take me some time to verify and write up. I'll try to get to it later today or tomorrow.

[2022-07-15 13:11] crenshaw-dev commented on #9101
I think it would be a nontrivial change in ApplicationSet. We'd have to do a diff, apply ignored-field rules, and apply the diff as a patch. Not terrible, but also not trivial.

I'm curious if we can just solve the problem one level higher, using an Application, so the already feature-rich Application controller can handle it.

What if you 1) converted your ApplicationSet to a Helm chart, 2) deplo

[2022-07-15 13:16] crenshaw-dev commented on #9937
I'd have to look at the code to be certain, but this might call external tools (e.g. Helm) on your local machine. That might be fine, just good to be aware that version differences might be relevant.

Eventually, if it's not part of your initial plan, I'd love to push this work onto the API server. It could pull the top-level manifests from the repo-server, render recursively, and then send the fi

[2022-07-15 13:55] czhujer commented on #7799
FYI I'm currently solving PSS/PSA annotations and looks like kyverno has policies for [this](https://kyverno.io/policies/?policytypes=Pod%2520Security%2520Admission)..

[2022-07-15 14:04] reefland commented on #9599
@alexmt - I saw this was merged into master 17 days ago and there have been several releases since then.  I can't tell if this has been included in a release yet, but its still broken with `v2.4.6+a48bca0`.

[2022-07-15 14:19] crenshaw-dev commented on #9599
Thanks for the reminder @reefland! It'll be part of 2.4.7. I'm going to see if I can get a few more fixes merged and then cut a release in the next 3ish days.

[2022-07-15 14:29] crenshaw-dev commented on #9956
Just to clarify: if someone is an Argo CD admin, there are a lot more malicious things they can do than this. So this isn't really a vulnerability. It would just be good to add an extra layer of protection.  :-)

[2022-07-15 14:40] jmwri commented on #9907
@crenshaw-dev Is there any chance to get this into the next release?

[2022-07-15 15:14] iamnoah commented on #9978
I don't think so. Even if I kept things as is, setting defaults requires a merge generator, so it's a pretty incomplete defaults solution. Looking at other enhancements, I think adding values to all generators will push things forward a bit, and Go templating can be used to handle the rest.

[2022-07-15 15:35] EugeneLugovtsov commented on #9951
The terminal window just freezes (only once after ~1 minute it turned on, but the commands appeared on the screen very slowly)
![image](https://user-images.githubusercontent.com/34510252/179256968-7f1c4c15-b529-4a18-87f0-29b4e9c5ad30.png)

[2022-07-15 15:42] #9966 closed

[2022-07-15 15:44] crenshaw-dev commented on #9907
@jmwri I'll see if there's any opposition to cherry-picking it back. If not, I'll add it to 2.4.7 (within the next 3ish days). https://cloud-native.slack.com/archives/C020XM04CUW/p1657899841866619

[2022-07-15 15:47] crenshaw-dev commented on #9951
Gotcha, so shared read/write lock probably hurts performance and doesn't solve the problem.

Are there any error logs in the browser (dev tools console or network traffic) or in the argocd-server?

[2022-07-15 16:02] jmwri commented on #9907
That would be fantastic, thanks!

[2022-07-15 16:06] EugeneLugovtsov commented on #9951
Nothing from the browser dev console, but I see a lot of errors in argo-server logs
![image](https://user-images.githubusercontent.com/34510252/179262909-03801268-68a8-4556-9a6b-50fbb8ac9b40.png)

[2022-07-15 16:12] muma378 commented on #9679
I have no good ideas, except for using debugging tools like [vscode and delve](https://www.thegreatcodeadventure.com/debugging-a-go-web-app-with-vscode-and-delve/) to run step by step to find out which line blocks the procedure.

Sorry for my mistake. I should have checked the case with correct configuration and address. 😢

[2022-07-15 16:15] crenshaw-dev commented on #9951
You mentioned it fails after ~1m. Is it possible there's a timeout on a reverse proxy? https://stackoverflow.com/a/57706152/684776

[2022-07-15 16:32] jsoref opened #10008 "Remove quotes from delete dialog"
# Summary

Quotation marks should be used to delineate things and make it clear that things are not prose.

There are other ways to delineate such things, e.g. `<tt>text</tt>` instead of `'text'`.

# Motivation

I've watched people try to select the name of the resource in order to delete an object, e.g.:
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/2119212/17926716

[2022-07-15 16:39] chris93111 opened #10009 "argocd stuck in refresh 2.4.6"
Hello

After upgrade argocd to 2.4.6, the ui stuck all app in refresh,

in logs of composants i don't see error except sometime watch fail to kind in application controller

The cluster status in UI is Unknow

They are no probleme with resource cpu / ram

Restart all pods redis/argo no resolve the problem

K3s 1.23 with rhel 7.9

17 applications, many manifests

argocd-server: v2.4.6+a48bca0
  Bui

[2022-07-15 16:55] alindeman commented on #9679
I believe the problematic section of code is the [TestTLS section in login.go](https://github.com/argoproj/argo-cd/blob/ff40c209f2aa8fde67fca9c5e82b65d01134550a/cmd/argocd/commands/login.go#L74-L90) but for a surprising reason.

To reproduce this, I believe ArgoCD must be setup behind a load balancer or reverse proxy that does have TLS support but does _not_ have full HTTP/2 support (e.g., [a clas

[2022-07-15 17:15] crenshaw-dev commented on #9679
![fascinating](https://user-images.githubusercontent.com/350466/179274704-833bfb7d-67da-4fc4-91ef-92f3e587c59a.gif)

Let me re-read this a few times...

[2022-07-15 17:27] crenshaw-dev commented on #9679
First, thanks for the research and the awesome writeup! Really interesting read.

I agree that option 3 would be ideal, but is a bit of work. I think I like the idea of option 1: add a `--skip-tls-probe` flag.

[2022-07-16 02:47] toVersus commented on #10003
This is not a bug and is the normal behavior of the Argo CD application controllers. Please see the discussion in #9786, especially the comments [here](https://github.com/argoproj/argo-cd/issues/9786#issuecomment-1165907817), [here](https://github.com/argoproj/argo-cd/issues/9786#issuecomment-1166446845) and [here](https://github.com/argoproj/argo-cd/issues/9786#issuecomment-1179429531).
As descri

[2022-07-16 09:22] taniaduggal commented on #9965
Hey @crenshaw-dev .I want to work on this issue, Could you elaborate please?

[2022-07-16 09:47] taniaduggal commented on #9332
Hyy @ls0f .I want to work on this issue, please help me to get started with it.

[2022-07-16 11:28] deepto98 commented on #10008
Can I pick this up?

[2022-07-16 11:29] deepto98 commented on #9962
Can I pick this up?

[2022-07-16 13:18] #9990 closed

[2022-07-16 14:40] Marvin9 commented on #9945
Please assign this to me

[2022-07-17 08:52] BeyerJC commented on #9982
We currently archive this using image updater. But using the deployment api sounds much cleaner.

I really like this proposal !

[2022-07-17 10:10] muma378 commented on #9679
@alindeman  fantastic analysis!

So the culprit is trying to connect to a reverse proxy which supports TLS over HTTP/1 by HTTP/2.

If we want to support option 3, what should do is dialing server with HTTP/1 instead of grpc when BlockingDial timeout?

[2022-07-17 12:22] XDavidT opened #10017 "Permission denied (publickey). fatal: Could not read from remote repository"
**Describe the bug**
Fresh new installation - added a local git repo and then added a new app.
Found that it's weird that the branch list is working, but typing path isn't auto-complete me, but did it anyway. after clicking add got an error :

**To Reproduce**

1. Install new argocd
2. Add local repo - mark 'skip server verification'
3. add a new application

or using the CLI:
`argocd app create i

[2022-07-17 15:49] jheck88 commented on #5609
Bumping this.

This seems like a great feature, considering I want to ensure that my pipelines pass before argo updates.  I could add a patch and manual sync but that seems no better then a standard helm deploy.

Willing to support this.

[2022-07-17 23:17] scalen commented on #9891
@endophage I'm a little confused by what your use-case might be... You seem to be suggesting setting Deployments as presync hooks? That makes little sense in the first place, as presync hooks are meant to be workloads that complete, i.e. jobs or pods (and the static resources, like ConfigMaps, on which such workloads rely).  Any resources other than jobs and pods will get "deployed" at the same ti

[2022-07-18 05:16] dry4ng commented on #10003
Thanks for the links. I understand that I can manually upgrade the cluster. I already did so. I still get the above message even after upgrade. And I would like to have automatic updates for our non critical clusters. Any suggestions on how to achieve that with ArgoCD oauth enabled?

[2022-07-18 05:53] toVersus commented on #10003
Sorry, I think there is no workaround at this moment. I believe this situation will be improved if we can manually disable the feature to block the automatic GKE upgrade because there are no faults on Argo CD. It dynamically gets list of available APIs on the cluster so it works fine after upgrading the cluster to the version removing the deprecated APIs. I think it would be better to consult with

[2022-07-18 09:06] evoosa commented on #7975
hey i'd love to add some details regarding this issue, it persists. it happened as follows:
1. one of our developers used okteto to create a deployment named `control`. he added the annotation to his okteto yaml.
2. suddenly, he got the following error in his okteto:
[code]
ScalingReplicaSet
Scaled down replica set control-598448fcc7 to 0
6
1d ago
Yesterday at 11:48 AM
20m ago
Today at 11:40 AM
Sc

[2022-07-18 09:09] LiberoScarcelli opened #10020 "ArgoCD does not show all helm parameters from the values.yaml file"
Hi,

it seems that ArgoCD is not showing all parameters from values.yaml files. This is what the text editor shows:

![helm](https://user-images.githubusercontent.com/101608253/179479691-bce9af29-84c3-4641-b951-0ea14b06c5f1.jpg)

This is what the ArgoCD console shows:

![argocd](https://user-images.githubusercontent.com/101608253/179479800-9cddb3eb-641a-41cd-a7f1-2064a360777e.jpg)

The "scripts" p

[2022-07-18 09:42] zephyros-dev commented on #3124
The instructions here still works but with a caveat: The environments variables in the application now come with a `ARGOCD_ENV_` prefix. .i.e: to use `TK_ENV` in the application, the command should be: `tk show environments/${ARGOCD_ENV_TK_ENV} --dangerous-allow-redirect`

[2022-07-18 10:56] rzvn2600 opened #10023 "argocd stable installation && repo server cannot connect to any github/gitlab repository `transport: Error while dialing dial tcp 172.20.86.254:8081: i/o timeout`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hi All,

I am tryinf to deploy an application ito a fresh argocd installation and it does not work. I cannot create an app from the UI/CLI or through kubectl apply. Everything fails wit

[2022-07-18 12:49] vavdoshka commented on #9639
most likely you need to have secret less app client,
check out this guide for more details https://gist.github.com/vavdoshka/f180bc49886728d9f051d9c4db045f9e

[2022-07-18 12:54] vavdoshka commented on #1471
maybe some things changed since then,
here is the guide which is going through the setup procedure - https://gist.github.com/vavdoshka/f180bc49886728d9f051d9c4db045f9e

[2022-07-18 14:17] dry4ng commented on #10003
Got it. I will explain the situation to GCP support.

[2022-07-18 14:17] #10003 closed

[2022-07-18 14:31] aMiss-aWry commented on #1329
`for some reason, kubectl delete apps <app_name> -n <namespace> did not work for me.
The response application.argoproj.io "<app_name>" deleted looks like it worked, but if I
kubectl get apps -n <namespace>, the app still remains.`

I'm running into this precise issue. How exactly are people resolving it? I've tried 'argocd app delete (app)', 'kubectl delete apps (app)', 'kubectl delete apps (app)

[2022-07-18 15:24] kstedman9 opened #10027 "Disable RBAC Policies on some clusters"
# Summary

With the Exec policy available it would be nice to add the ability to disable some policies on some clusters but allow the project to still define that policy for those that allow it.

# Motivation

Our clusters are setup in such a way that all our environments are attached to a single Argocd instance.  We would like to allow the developers in the dev/qa clusters to be able to specify t

[2022-07-18 15:57] crenshaw-dev commented on #10027
I'm not sure I fully understand the setup. Do you have one Argo CD instance, or multiple? If a single instance, you could just group your applications into Projects by environment (dev, qa, prod) and then enable exec only for the dev/qa Projects. If multiple, you could disable exec entirely for the prod instance(s).

[2022-07-18 16:07] kstedman9 commented on #10027
So yes we have all clusters (dev, qa, prod, etc.)  under one Argocd instance.  Everything with Argocd is done with declarative setups in GIT with the developers having control over their own project files.  Our security team wants us to have a way to completely disable certain RBAC policies for the prod clusters so that even if the developer puts in their project file the exec policy it will not w

[2022-07-18 16:28] crenshaw-dev commented on #10027
Ah, I see. You need a way to restrict what user-managed AppProjects can permit.

Giving developers the ability to manage AppProjects is currently a bad idea in general. AppProjects control resource destinations. If I can make the `argocd` namespace a valid destination, I can create an Application to manage the `argocd-rbac-cm` ConfigMap and give myself any permissions I want.

I'm [working on a pr

[2022-07-18 16:38] crenshaw-dev commented on #10027
Actually I wonder if you can just add a deny rule to a role you know those users are going to be in... I need to do some testing, not sure how that works.

[2022-07-18 16:45] crenshaw-dev commented on #10027
Ah cool, you're good then.

Yeah, I believe `deny` instead of `allow` at the end of the rule should work. But you're correct, there's no way to segment by cluster directly. You could use a Project name pattern (`dev-*`) to target Applications in those clusters.

[2022-07-18 16:51] Drugoy opened #10029 "Can't 'argocd login' with KeyCloak"
We are using KeyCloak and I can login via web just fine.
But running `argocd login --insecure ${argocd_host} -sso` from console produces this log:
[code]
The browser opens KeyCloak page prompting login + password, I enter them once and then get redirected to `http://localhost:8085/auth/callback?state=${some_short_hash}&session_state=${some_uid}&code=${two_uids_concatenated_with_dot}`
which says:
[

[2022-07-18 17:01] crenshaw-dev commented on #10027
Ah. Then if a project exists which can deploy to the argocd namespace, then any developer can achieve admin access. That's another enhancement I want to make: Project allow-listing in Apps of Apps.

You could use an AppSet with a hard-coded (or otherwise AppSet-controlled) `project` field.

[2022-07-18 17:02] ab-arao commented on #9998
@crenshaw-dev

This started happening again just now. The command params configmap still shows the http dex server:
[code]

I'm trying to identify if something else has changed today or over the weekend.

[2022-07-18 17:13] crenshaw-dev commented on #9998
This is very very weird. I've seen one other case where the Dex URL seemed to change with no reason (in that case, the hostname changed as well, not just the schema).

The URL is set [when the dex round tripper is created](https://github.com/argoproj/argo-cd/blob/708906d063cf737f37421c6ac6111b0b1dd5123f/util/dex/dex.go#L103), which happens when the [session manager is created](https://github.com/a

[2022-07-18 17:21] crenshaw-dev opened #10030 "Add maintenance/upgrade policy to the security docs"
# Summary

Document that we 1) maintain the most 3 recent minor versions with security patches and 2) release security updates for dependencies (including images in the manifests) with "high" or "critical" vulnerabilities (as reported by Snyk).

[2022-07-18 17:53] ab-arao commented on #9998
The function I keep returning to when trying to step through the code here is this: https://github.com/argoproj/argo-cd/blob/a2a6d9d6947a3c5b8894f372766bb762c2a588ed/util/dex/dex.go#L126

That function is referenced in several places. I can't tell if it would be possible for there to be some kind of condition in that results in the string being returned with `https://` prepended to it.

The condit

[2022-07-18 18:28] crenshaw-dev commented on #9998
My bad, some of my links were to the latest code. Here's the file for the version you're running: https://github.com/argoproj/argo-cd/blob/v2.4.0/util/dex/dex.go

The http/https switch is new for 2.5. It should always be http in your version.

[2022-07-18 20:24] ashutosh16 commented on #10009
Are you seeing the issue consistently in your deployment and your cluster setup is right?  I tried the refresh feature in our 2.4.6 deployment and it's working fine, not able to reduce the issue. Will wait for others to try 2.4.x and verify the bug.

[2022-07-18 21:19] ab-arao commented on #9998
I turned on some kind of SSO debugging using the `ARGOCD_SSO_DEBUG: 1` environment variable in the `argocd_server` deployment manifest, and now I'm seeing the following in the logs:
[code]

Based on searching that initial log message, it looks like the provider is failing to initialize as a result of this line failing: https://github.com/argoproj/argo-cd/blob/62a6c7ae550a724445ac26c027391a7f26ce63

[2022-07-18 21:57] jlane67 commented on #4539
If anyone found this ticket searching for a similar problem on EKS, you need to allow HTTPS API access from your whole VPC in your control plane security group to allow Argo CD to manage other EKS clusters in the VPC.

[2022-07-18 22:46] ab-arao commented on #9998
If I change the `url` in the `argocd-cm` ConfigMap to not have the protocol, i.e. just `<server>` instead of `https://<server>` I now get the following error message when I click the SSO login button:
[code]

In contrast, before when `url` was set to `https://<server>` I got the previous error:
[code]

And setting the `url` to `http://<server>` gives the following error:
[code]

The settings being

[2022-07-18 22:55] omar-pulpo commented on #4539
I have this problem in EKS, I will try your solution. Thanks

[2022-07-18 23:25] ab-arao commented on #9998
Continuing to play with configuration permutations, I tried setting both the `url` in `argocd-cm` to `https://<server>` and `server.dex.server` in `argocd-cmd-params-cm` to `https://argocd-dex-server:5556`.

This resulted in me being able to log in using SSO, except there was some strange behavior:

- the full callback redirect doesn't seem to be happening, because I'm left on the page `https://<s

[2022-07-19 00:54] migueleliasweb commented on #9622
My experience has been that the argo components might have come up faster than the redis container, causing a bunch of problems with the cache structure. Usually killing all argocd components but redis works for me.

That said, I'm stilll looking for a way to properly fix this as I have a simillar issue on provisioning ArgoCD in  ephemeral environments.

[2022-07-19 01:02] JessieTeng89 commented on #10008
@crenshaw-dev I can work on this if this is still available

[2022-07-19 01:42] jsoref commented on #10008
@deepto98: sure.

[2022-07-19 02:32] yiyan-wish commented on #9981
This issue does not appear again when I scaled out the argocd-repo-server.

[2022-07-19 03:26] wrmedford commented on #8358
@alekc Could you clarify if this preserved order only during bootstrap? Or does this also preserve order when syncing differences across both applications at the same time?

[2022-07-19 05:20] james-callahan opened #10036 "Upgrade dex to 2.31 or higher"
# Summary

Upgrade dex

# Motivation

I want to use https://github.com/dexidp/dex/pull/2268 which was added in dex v2.31.0

# Proposal

Bump the version of dex used by the ArgoCD manifests. e.g. over at https://github.com/argoproj/argo-cd/blob/708906d063cf737f37421c6ac6111b0b1dd5123f/manifests/base/dex/argocd-dex-server-deployment.yaml#L40
I'm not sure what testing is required.

As of writing, the

[2022-07-19 08:02] vijayvenkat34 commented on #10023
I am also getting error

Failed to pull image "quay.io/argoproj/argocd:v2.4.6": rpc error: code = Unknown desc = failed to pull and unpack image "quay.io/argoproj/argocd:v2.4.6": failed to resolve reference "quay.io/argoproj/argocd:v2.4.6": failed to do request: Head https://quay.io/v2/argoproj/argocd/manifests/v2.4.6: proxyconnect tcp: dial tcp 10.224.2.11:9119: i/o timeout

[2022-07-19 08:52] nicolas-vivot commented on #9428
up

[2022-07-19 10:05] jdomag commented on #9368
We hit this bug today as well argo 2.3.2

[2022-07-19 11:10] amitkumar2283 opened #10037 "Openshift Routes are "always" Progressing"
# What am I trying?
We are trying to create a openshift Route using ArgoCD

[code]
ArgoCD Application

[code]
# What is the result
Route is created and Admitted in Openshift project

[code]
# Problem
Despite route being created successfully, the ArgoCD application never completes the sync as the route is always in **Progressing** state with status ***Route is still getting admitted***

![image](ht

[2022-07-19 14:10] jeromewaibel commented on #9622
I did put a `argocd app get --refresh appname >/dev/null` right before each and every `argocd app`command (like `argocd app delete` or `argocd app wait`). This seems to help.

What puzzles me is that a missing cache entry can cause trouble. To me a cache is something that can vanish anytime, and missing cache entries should only slow things down (because you have to recreate the cached data from s

[2022-07-19 16:11] mmerickel commented on #9981
I have 23 apps connected to 7 git repos over ssh. I have tried 1, 2, and 5 repo servers with no improvement.

[2022-07-19 16:17] yiyan-wish commented on #9981
I have 80+ applications to 4 git repos.
ref to the [https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#argocd-application-controller](https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#argocd-application-controller)
And I also add `.argocd-allow-concurrency` file to the git repos

[2022-07-19 18:15] zeemy23 commented on #9015
hello! we just hit this issue and would be crazy grateful if merging multiple string blocks was supported.

[2022-07-19 18:17] mmerickel commented on #9981
I'm not sure these workarounds explain why I'm receiving the `connection reset by peer` error in the ticket. I am using the `.argocd-allow-concurrency` config on the git repos and that has not made it functionally better.

[2022-07-19 19:05] #9694 closed

[2022-07-19 19:09] crenshaw-dev opened #10047 "Handle haproxy:2.0.29-alpine high-severity vulnerability"
Our current haproxy image has one high-severity vulnerability.

There's currently no better image option.

We might be able to just investigate this and add it to the ignore rules in .snyk if it does not apply to us.

[code]

[2022-07-19 19:47] alekc commented on #8358
not sure I understand. As long as the apps manifesto are part of the same helm chart (see example above), it will respect the wave settings on them during the installation and during sync stages.

[2022-07-19 20:25] crenshaw-dev commented on #9015
@xashr would you be interested in opening a PR? Or @zeemy23  if you want to put up a PR using @xashr's changes, I'd be happy to review.

[2022-07-19 23:30] jsoref opened #10049 "Docs don't explain how to regenerate credentials"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

https://argo-cd.readthedocs.io/en/stable/getting_started/#4-login-using-the-cli

Doesn't explain how to `re-generate` (s.b. [`regenerate`](https://www.merriam-webster.com/dictionary/reg

[2022-07-19 23:39] migueleliasweb commented on #9622
Yeah, I agree with you. The `cache` in this case is more like a critical piece of infrastructure. It's odd it has been coded this way.

[2022-07-19 23:49] jsoref opened #10050 "Expose `bcrypt` as part of `argocd`"
# Summary

If `bcrypt` is an important component of how `argocd` works, and argo-cd (the project) doesn't believe everyone has easy access to `bcrypt` (I'm willing to believe this, although at this point, it might be possible to argue that everyone has `python` or even access to `docker`), then `argocd` (the program) should offer `bcrypt` as a command that can be run to do whatever is needed to pe

[2022-07-20 01:37] magzim21 commented on #820
I somehow fixed this issue with the following combination.
[code]

[2022-07-20 02:51] jchenship commented on #8910
same issue in https://github.com/argoproj/argo-cd/issues/7284

[2022-07-20 03:52] tooptoop4 opened #10052 "PreSync hook should run only if changes are detected between git and k8s"
The below PreSync works ok in most cases, except when i migrate my k8s workers to a new set of ASGs. In that case it fails if I have an old change jira in git repo (even though all the k8s objects defined in git are already matching what is on my k8s cluster). It continues to fail in a loop every few minutes. My expected behaviour would be that even before running the presync_check.sh it first com

[2022-07-20 07:07] coufalja commented on #9773
AFAIK yes, no diff in UI. The sad thing is that we are using CLI as part of our PR checks and the bug reduces the usability of such checks.

[2022-07-20 10:16] #10036 closed

[2022-07-20 11:04] Mais316 opened #10054 "Enable Regex in Cluster Secret at namespaces field"
# Summary

Enable Regex in Cluster Secret at namespaces field

What change you think needs making.

Enable Regex in Cluster Secret at namespaces field

# Motivation

Please give examples of your use case, e.g. when would you use this.

We have ArgoCD implementation, where ArgoCD is installed and running on a services clusters then we register all downstream clusters to it by creating the clusters

[2022-07-20 11:14] satyamkapoor commented on #2789
Works great! Does it still makes sense to keep the issue open when an ApplicationSet CRD can solve it?

[2022-07-20 11:20] rzvn2600 commented on #10023
Any idea how to debug this please ?

[2022-07-20 13:31] guitmz commented on #8808
we are running v2.4.3 and the issue is still present

[2022-07-20 13:41] Obito1903 opened #10055 "Missing repo parameter for application list request in apiclient package"
# Summary

The argocd api expose a endpoint to list applications and accept the `repo` parameter. But in the `apiclient` package this parameter is not avalaible when building a request.

# Proposal

From what I understand request structs are auto-enerated from protobuf file and in our case the file `server/application/application.proto` wich contain the repo parameter. So to fix the issue it would

[2022-07-20 14:30] crenshaw-dev commented on #8808
@guitmz can you elaborate? Where have you set the overriding image.tag that you expect to see?

[2022-07-20 14:31] crenshaw-dev commented on #2789
@satyamkapoor I think it does. Using an ApplicationSet is a bit of a hack / the manifest is not super expressive. I think it makes sense to keep this issue open for first-class multi-source support.

[2022-07-20 14:38] guitmz commented on #8808
@crenshaw-dev I have `image.tag` it defined in `values` (not `values files`).

I expect to see the defined `image.tag`  there and not the `YYYY` placeholder default string I have in my chart.

[2022-07-20 14:41] crenshaw-dev commented on #9213
@guitmz rightly [pointed out](https://github.com/argoproj/argo-cd/issues/8808#issuecomment-1190292260) that this has not been fixed.

The fix was for showing values from "Values Files," not from "Values." Showing the "Values" overrides in "Parameters" is still tbd.

[2022-07-20 14:42] crenshaw-dev commented on #8808
Thanks @guitmz! I reopened that issue.

[2022-07-20 14:51] crenshaw-dev commented on #10050
At the very least, we should change the docs to recommend a binary install of `bcrypt` rather than a website.

[2022-07-20 15:36] mmerickel commented on #9981
I think I have pinned down the problem. Will reopen if it comes back but adjusting `MaxStartups` in the `/etc/ssh/sshd_config` on the gitlab server seems to have helped as I haven't seen issues since adjusting it.

[2022-07-20 15:36] #9981 closed

[2022-07-20 15:51] iamstarkov opened #10057 "consider archiving applicationset repo"
# Summary

argoproject should archive and make it readonly. also probably handle hanging issues/pull-requests by either moving it to the main repo or closing and mentioning that issue was moved to main repo

# Motivation

[I](https://github.com/argoproj/applicationset/issues/597) and [other people](https://github.com/argoproj/argo-cd/issues/9078#issuecomment-1098043291) miss that [applicationset r

[2022-07-20 16:09] 34fathombelow commented on #10047
@crenshaw-dev I see that the digest of this image has also changed.  I see no vulnerabilities in my end.

[2022-07-20 16:24] jmmclean opened #10058 "Failed to verify app state - got invalid redirectURL \"/\""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
After upgrading from 2.4.4 to 2.4.7 we received intermittent errors with the below message
[code]

**To Reproduce**
1. Have valid okta configuration for SSO (validate w/ 2.4.4)
2. upgrad

[2022-07-20 16:33] Obito1903 commented on #10055
bad module version thanks google for first result showing an outdated version and me blindly copy-pasting, sorry for the inconvenience.

[2022-07-20 16:34] #10055 closed

[2022-07-20 17:29] chrism417 opened #10060 "For exec, proj/*-dev does not match proj/app-dev"
**Describe the bug**

With version 2.4.7 and granting access to a group, I cannot be more granular than:

- p, proj:redacted:redacted-devs, exec, create, redacted/*, allow

Instead, we would like to only give exec permissions to apps ending in "-dev", for example:

- p, proj:redacted:redacted-devs, exec, create, redacted/*-dev, allow

The above does not work.

**To Reproduce**

Add the policy `- p

[2022-07-20 17:32] iamstarkov commented on #9078
@BeyerJC applicationset repo is deprecated afaik

[2022-07-20 18:55] #9810 closed

[2022-07-20 19:13] crenshaw-dev commented on #10020
I think this might be a duplicate of https://github.com/argoproj/argo-cd/issues/9213

[2022-07-20 19:14] crenshaw-dev commented on #10020
This might be because it expects an object type rather than a string, number, or bool. We'd need to add a YAML editor to express those fields.

[2022-07-20 19:41] chris93111 commented on #10009
@ashutosh16 yes a have always the problem, the synchronization of cluster is too long, i have only 5 namespace managed and one cluster (incluster)

[2022-07-20 19:42] crenshaw-dev commented on #6079
Can you elaborate on the use case? I think my first attempt at doing this would be to 1) disable autosync, 2) manually delete all resources managed by the app and 3) use sync windows to disable syncing.

But that's admittedly a bit hackier than a simple "off" button.

[2022-07-20 19:45] crenshaw-dev commented on #10029
I'm a bit of an OIDC noob, but I believe the problem is that Keycloak expects the CLI to send a "client secret," which the client does not hold. I think that the CLI is a "public client" in the language of the [Keycloak docs](https://www.keycloak.org/docs/latest/securing_apps/#_installed_adapter). Perhaps "public client" needs to be enabled on the Keycloak side.

[2022-07-20 19:46] crenshaw-dev commented on #10029
The fact that you can log in via the UI makes me second-guess myself though...

[2022-07-20 19:52] crenshaw-dev commented on #9998
Yeah, that makes no sense to me, because the OIDC client should be using whatever schema is set in `server.dex.server`.

Apologies for the slow response, coming back to this tomorrow.

[2022-07-20 20:23] #10047 closed

[2022-07-20 20:23] geisterfurz007 commented on #6079
One possible usecase would be configuring an initial setup for example. I was setting up Argo for a project recently and had to fiddle with quite a few settings before the deployment finally worked out. The page wasn't supposed to be live though, so I wanted to stop the deployment again, just comitting some code changes necessary for everything to work while not losing the application's configurat

[2022-07-20 20:42] chris93111 commented on #4863
+1 when i try to add 2 new namespace managed (5 in total), cluster stuck in refresh with only 3 the argocd take 10m to sync the cluster and work again

[2022-07-20 20:43] chris93111 commented on #10009
same issue here https://github.com/argoproj/argo-cd/issues/4863

[2022-07-20 20:54] danielhelfand opened #10063 "cli: error from argocd app create when using --dest-name instead of --dest-server"
**Describe the bug**

While developing #9984, I noticed an odd error from using `argocd app create`. If you create an App using the cli with `--dest-server` option and then later update to `--dest-name` using `--upsert`, the following error is shown by the CLI if you accidentally run the argocd app create command again:

[code]

The error does not make sense since no change to the spec is occurrin

[2022-07-20 21:33] #9723 closed

[2022-07-20 21:36] jsoref opened #10065 "Spinners are too wobbly"
This is 2.4.7:
https://user-images.githubusercontent.com/2119212/180071953-9753a616-8b90-4153-9986-8d22439ee13e.mov

Expected results:
Spinners should not wobble. And spinners of different colors, or even in different directions should have the same top/bottom positions.

[2022-07-20 22:16] jsoref opened #10066 "Clarify what `refresh` and `hard refresh` do"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

There are ui elements for `refresh` and `hard refresh`, but it isn't particularly obvious what they do.

They could mean "ask the server for the current state again". They could mean so

[2022-07-20 22:51] emirot commented on #1936
Seeing this issue after doing:
[code]

Then CrashLoopBackOff on argocd-dex-server

[code]

[2022-07-20 23:34] chris93111 commented on #10009
for resolve the probleme, i have deploy 2 instance of argocd with different managed namespaces 3 each

the application-controller not start with many namespaces because sync is to long

[2022-07-20 23:37] niels-baltodano-matrix opened #10067 "service argo-server not found"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/106764227/180100399-ea729be4-8dd1-4e6d-a785-1dc0f7344b08.png)

**Version**

[

[2022-07-21 00:41] ashutosh16 commented on #10009
Can you provide add more info to the text?

Do you have metrics setup on argocd controllers, gRPC service? if yes then do you see an increase in sync failure/Reconciliation activity or increase in the metrics [controller metrics](https://argo-cd.readthedocs.io/en/stable/operator-manual/metrics/#application-controller-metrics)

[2022-07-21 03:53] aldycool commented on #5882
My condition for this issue is like this:

I need ArgoCD to delete my Pod (and its ReplicaSet inside a Deployment) and then recreate the Pod again, because the Pod is attached to a Volume, and if the Pod launches on different Node than the existing one, it will raise Multi-Attach error (I know about RWX, but I'm still considering to use RWO because I think RWX is overkill for just only this requir

[2022-07-21 04:34] rishabh625 commented on #9398
discussed as a part of #9399

[2022-07-21 04:34] #9398 closed

[2022-07-21 04:54] LiberoScarcelli commented on #10020
Yes exactly, as this parameter expects a multi-lines value, an entire script to initialize the DB. Thank you!

[2022-07-21 05:31] #10067 closed

[2022-07-21 06:03] #10002 closed

[2022-07-21 07:18] maartengo opened #10070 "Allow explicit disable of autosync for applications"
# What is the current behavior
Configuring an application to have no `automated` property within the `syncPolicy` property will turn autosync off once. This will not however enforce that autosync is off. You can manually turn autosync on through the ArgoCD website and it will not be automatically disabled again.

# Expected behavior
There should be a way to explicitly turn autosync off. If a user

[2022-07-21 07:24] raelga commented on #9101
This feature is also interesting for our team, as we usually _play_ with the branches to test changes in the development / staging Applications, before pushing them to production. We also usually manually stop the automatic synching / self healing for non-production Applications while testing.

[2022-07-21 07:33] Kerwood commented on #10060
Did this work en previous versions? If yes, which version?

[2022-07-21 07:34] sathieu commented on #5882
@aldycool Have you tried using a Deployment with [`spec.strategy.type==Recreate`](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#recreate-deployment) or [a stafulset](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/)?

[2022-07-21 07:55] markbenschop opened #10071 "Erronous sync window definition in appproject causes nul pointer dereference when syncing apps"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
When in an appproject object a sync window is defined with an hour value that is not correct, e.g. 6-24 instead of 6-0, syncing of apps in the appproject fail on the cli. An error is thr

[2022-07-21 08:51] chris93111 commented on #10009
@ashutosh16 no it's no enabled, but this appear when sync is too long or fail

time="2022-07-15T14:48:01Z" level=info msg="Alloc=8637 TotalAlloc=36180 Sys=33617 NumGC=18 Goroutines=22"
time="2022-07-15T14:58:01Z" level=info msg="Alloc=21307 TotalAlloc=52005 Sys=42065 NumGC=23 Goroutines=157"
time="2022-07-15T15:08:01Z" level=info msg="Alloc=8902 TotalAlloc=63816 Sys=42065 NumGC=28 Goroutines=13"
t

[2022-07-21 09:03] prasobhen commented on #9631
Error: accumulating resources: accumulation err='accumulating resources from '[https://dev.azure.com/xxxx/xxx/_git/repo?path=/k8s/backend/bases'](https://dev.azure.com/xxx/xxx/_git/repo?path=/k8s/backend/bases%27): yaml: line 27: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch --depth=1 origin HEAD': exit status 128

Could some one help me on this error

[2022-07-21 09:04] prasobhen opened #10072 "Error: accumulating resources: accumulation err='accumulating resources from 'https://dev.azure.com/xxxx/xxx/_git/repo?path=/k8s/backend/bases': yaml: line 27: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch --depth=1 origin HEAD': exit status 128"
Error: accumulating resources: accumulation err='accumulating resources from '[https://dev.azure.com/xxxx/xxx/_git/repo?path=/k8s/backend/bases'](https://dev.azure.com/xxx/xxx/_git/repo?path=/k8s/backend/bases%27): yaml: line 27: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch --depth=1 origin HEAD': exit status 128

[2022-07-21 09:05] prasobhen commented on #10072
Could some one help me on this error.

[2022-07-21 09:10] fantasticnaveen commented on #9631
@prasobhen

use the following format
https://dev.azure.com/<org>/<project>/_git/<base_repo>/base?ref=0.1.0

you can remove the ref if you dont have a tag or branch and the kustomization file is in master branch

[2022-07-21 09:28] prasobhen commented on #9631
@fantasticnaveen

https://dev.azure.com/org/project/_git/<base_repo>/k8s/backend/bases?

I am going to use above one

[2022-07-21 10:11] fantasticnaveen commented on #9631
remove the ?

[2022-07-21 10:16] prasobhen commented on #4465
Error: accumulating resources: accumulation err='accumulating resources from 'https://dev.azure.com/org/project/_git/<remote_repo>/k8s/backend/bases?': yaml: line 6: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch --depth=1 origin HEAD': exit status 128

Could someone help me on this error?

[2022-07-21 10:33] samnano opened #10073 "Apps sync fail when upgrading to 2.4.0 to 2.4.6"
Checklist:

* [y] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [y] I've included steps to reproduce the bug.
* [y] I've pasted the output of `argocd version`.

**Describe the bug**

we have been using and upgrading argocd for a while and it was working successfully upto v2.3.5 to syn apps that use helm chart  but when we tried to upgrade to v2.4.0 upto v2.4.6, the

[2022-07-21 10:42] yuezhuangshi commented on #3008
I also encountered this problem recently, so I am posting it for your reference.

According to [Diffing Customization](https://argo-cd.readthedocs.io/en/stable/user-guide/diffing), we can add the following diffing customization in `argocd-cm` ConfigMap:

[code]

[2022-07-21 10:44] aldycool commented on #5882
@sathieu Yes you're right, I've tested your approach (Deployment with Recreate) and it works fine, thanks.

I actually knew about this from the kubernetes docs, but this statement threw me off:

I thought that in order to kill the pods, the Deployment manifest must somehow be different than the existing one (to be considered an upgrade), but evidently it works evem though the Deployment is exactly

[2022-07-21 10:59] prasobhen commented on #9631
@fantasticnaveen

Still getting same error from azure pipeline

Error: accumulating resources: accumulation err='accumulating resources from 'https://dev.azure.com/myorg/myproject/_git/my_repo/k8s/backend/bases': yaml: line 6: mapping values are not allowed in this context': git cmd = '/usr/bin/git fetch --depth=1 origin HEAD': exit status 128

[2022-07-21 11:25] andreasvikke commented on #5109
Any progress? This feature would really help to clean up the Application sources root folder, when having many application using same helm chart.

[2022-07-21 11:35] fantasticnaveen commented on #9631
@prasobhen  I think you want to use kustomize . also your repo is a private azure repo with restrictions. please have look at here https://github.com/argoproj/argocd-example-apps/tree/master/plugins/kustomized-helm to setup the plugin to use it with argocd. make sure you are able test the kustomize build and the base repo URL in a standalone machine , if that works and if you setup the CMP plugin

[2022-07-21 11:45] fantasticnaveen commented on #9631
@prasobhen this thread is for argocd . and you mentioning azure pipeline, which i could not understand. may be this is not the thread

[2022-07-21 12:37] ilyastoliar commented on #9226
We are experiencing it with EKS as well

[2022-07-21 12:57] jmmclean commented on #8773
@crenshaw-dev I enabled `debug` and got the below logs (didnt seem too helpful, but I will let you decide that)

Command to acquire logs:
`stern argocd-repo | grep -v "with code OK" | grep -v "manifest cache hit" | grep -v "' resolved to"`

Logs (scrubbed of company PII):
[code]

![image](https://user-images.githubusercontent.com/16881666/180218922-f0a65c30-117e-4cbf-af52-82fe645c969f.png)

[2022-07-21 13:09] jmmclean commented on #8773
A little more debug, I exec'd into the repo server and dug around the helm dir. It looks like this dir just keep filling up w/o garbage cleanup
[code]

[2022-07-21 13:56] Kerwood commented on #9920
I fixed the Terminal tab issue with inspiration from the PR @crenshaw-dev linked to. That was pretty easy.
I also only want to show the "Exec" menu option if exec is enabled or allowed.

![image](https://user-images.githubusercontent.com/4029521/180158820-77480255-3392-4634-b9c9-40d5a60995bd.png)

I'm having some trouble figuring out how to do that the best way.
In the [utils.tsx file line 443](ht

[2022-07-21 15:06] crenshaw-dev commented on #8773
I'm not sure why I didn't notice it before, but these files are being cached by Helm and then not cleaned up. So maybe a Helm bug? Or maybe Helm intentionally keeps those files around.

A potential workaround would be to temporarily set the Helm working dir as some temp dir and then delete the temp dir after manifest generation. But then we might be missing out on some caching benefits of using a

[2022-07-21 16:12] hobti01 opened #10076 "Failed display of non-ASCII characters in GPG Key Identities"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Non-ASCII characters in GPG Key Identities do not render in the browser

**To Reproduce**

Create a GPG key with non-ASCII ID and add to Argo CD, view in the UI.

**Expected behavior**