[2021-09-30 20:25] #7090 closed

[2021-09-30 20:43] booleanbetrayal commented on #7230
Sounds like #7244 may close this one out. Will update us shortly and keep an eye on it.

[2021-09-30 21:49] #7197 closed

[2021-09-30 22:29] albertyfwu opened #7333 ".argocd-source-<app-name>.yaml does not get synced by argocd"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-09-30 22:50] jessesuen commented on #2789
Thank you everyone for your comments. There are at least 3 other issues around this topic (which I'll be duplicating shortly): https://github.com/argoproj/argo-cd/issues/5826, https://github.com/argoproj/argo-cd/issues/3988, https://github.com/argoproj/argo-cd/issues/4129.

I brought up this feature in today's weekly contributor's meeting, specifically going over PR https://github.com/argoproj/arg

[2021-09-30 22:50] jessesuen commented on #3988
Duplicating to https://github.com/argoproj/argo-cd/issues/2789

[2021-09-30 22:50] #3988 closed

[2021-09-30 22:51] jessesuen commented on #4129
Duplicating to https://github.com/argoproj/argo-cd/issues/2789

[2021-09-30 22:51] #4129 closed

[2021-09-30 22:54] jessesuen commented on #5826
Duplicate of https://github.com/argoproj/argo-cd/issues/2789

We actually discussed this today's contributors meeting. See https://github.com/argoproj/argo-cd/issues/2789#issuecomment-931756096 for the summary.  October's CD/Rollouts meeting is being cancelled because many of us are going to be busy with KubeCon tasks.

[2021-09-30 22:54] #5826 closed

[2021-10-01 00:05] jessesuen commented on #1648
Closing this, since the https://github.com/argoproj-labs/argocd-image-updater project was created to address this use case in a manner that allowed us to do it outside of core Argo CD.

[2021-10-01 00:05] #1648 closed

[2021-10-01 00:39] jessesuen opened #7335 "Use a new/different annotation for resource tracking"
**Describe the bug**

For v2.2, we will start support for annotation-based resource tracking (instead of labels), which allows us to track which objects "belong" to an application without the character limit. Proposal:

https://github.com/argoproj/argo-cd/blob/d823efee5d16837258bc151a3a5c59671f02509d/docs/proposals/application-name-identifier.md

However, I noticed in the proposal, I noticed we ar

[2021-10-01 00:42] jessesuen commented on #7335
Also, I suggest `:` for the delimiter as is a more commonly used delimiter than semi-colon `;` and I think looks better 😄

[2021-10-01 03:45] eytanhanig commented on #2789
With the [3-month release cadence](https://argo-cd.readthedocs.io/en/stable/developer-guide/release-process-and-cadence/) and v2.1.0 having been released on August 20th, does that mean February is the very earliest we might see this feature? We're in the process of trying to put all of a microservice's configs in a single repo and the absence of this feature will have a large impact on our impleme

[2021-10-01 06:49] mkasinat commented on #6719
We are not able to enable the openlibs .

[2021-10-01 07:31] tschale commented on #5307
Hi @alexmt, thanks for clarifying! It's still referenced as `argocd-util` in the documentation, I stumbled upon it in https://argoproj.github.io/argo-cd/operator-manual/rbac/#testing-a-policy and https://argoproj.github.io/argo-cd/operator-manual/server-commands/argocd-util/.
Is this known, or this is intended?

[2021-10-01 07:54] rosscdh opened #7337 "argocd cli - uses logged in session and not --token for authentication"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
*

[2021-10-01 08:48] pssa opened #7338 "A "Terminal" Window that opens "sh" or "bash" for a pod would be immensely helpful"
# Summary

Similar to Openshift, where you click on a pod and get the Top menu items for SUMMARY, EVENT, LOGS - Have a menu item called TERMINAL - This would simply be the the same as exec'ing into the pod with Bash. For Example how Openshift does this:

![image](https://user-images.githubusercontent.com/45734805/135591353-6e659150-4c6e-474a-a81e-c9335481248d.png)

# Motivation

This would assist

[2021-10-01 10:05] krutsko commented on #5202
Any update on this issue?

[2021-10-01 12:39] kszpakowski commented on #2953
Following configuration works without further modifications

[code]

[2021-10-01 12:54] jannfis commented on #7291
@rbreeze Are you sure about cherry-picking the change of this behavior into 2.1? Frankly, I think this is not a bug, but rather an enhancement to existing functionality. I agree with the v2.2 milestone, but I'd oppose cherry-picking a behavioral change like a possible fix for this into 2.1.

[2021-10-01 15:30] renaudguerin commented on #5882
Hi @alexmt, should this be labelled as a bug rather than an enhancement ?

The stable documentation [suggests this should be working at the resource level](https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#replace-resource-instead-of-applying-changes), but it isn't for me (ArgoCD v2.1.1+aab9542) :

```error when replacing "/dev/shm/515177248": admission webhook "deny-immutable-fiel

[2021-10-01 15:45] Janikio commented on #3181
I am also facing this issue with the subchart pattern of helm.

[2021-10-01 16:23] #7158 closed

[2021-10-01 16:54] #4360 closed

[2021-10-01 16:55] #6520 closed

[2021-10-01 16:55] #6752 closed

[2021-10-01 16:56] #7271 closed

[2021-10-01 16:56] #7273 closed

[2021-10-01 17:02] #7173 closed

[2021-10-01 17:06] alexmt commented on #5307
Argo CD documentation was migrated to https://argo-cd.readthedocs.io/ but we totally forgot to add a redirect https://argoproj.github.io to a new location. Added redirect.

The updated documentation does not mention argocd-util:

https://argo-cd.readthedocs.io/en/stable/operator-manual/rbac/#testing-a-policy
https://argo-cd.readthedocs.io/en/stable/user-guide/commands/argocd_admin/

[2021-10-01 17:24] #7320 closed

[2021-10-01 18:01] pasha-codefresh commented on #4060
@rbreeze are you going to do it ? we can help here if you want

[2021-10-01 20:43] alborotogarcia commented on #4211
@johnlonganecker Looking at the [github dex repo](https://github.com/dexidp/dex/pkgs/container/dex) it seems that there are arm64 builds at v2.27.0.. what makes them different from the ones at docker registry?

I got it working on my pi4, though I am not sure if these are built on top of qemu, if so, then there's a big trade off in performance for sure..

[2021-10-01 21:04] oleksandr-codefresh commented on #7192
i would take it

[2021-10-01 21:25] johnlonganecker commented on #4211
@alborotogarcia When I left the image as `ghcr.io/dexidp/dex:v2.27.0` it was not pulling an arm image and would fail to get into a running state. When I pulled it from docker hub IE `dexidp/dex:v2.27.0` it just worked no problem. This is referencing the dexidp dockerhub account, I am not sure how they built their images (I am assuming that is what you meant by your last comment?).

I did not try t

[2021-10-01 21:55] alexmt commented on #7079
Fixed by https://github.com/argoproj/argo-cd/pull/7082

[2021-10-01 21:55] #7079 closed

[2021-10-01 22:05] alexmt commented on #7156
The logic that detects resources managed by another namespace already exists here:

https://github.com/argoproj/argo-cd/blob/eb70a1e3fa4ffc7e479b75415217e62aa637ecc7/controller/state.go#L473

I think it makes sense to use `SyncOptions` to prevent syncing when `ApplicationConditionSharedResourceWarning` is detected.

https://github.com/argoproj/argo-cd/blob/eb70a1e3fa4ffc7e479b75415217e62aa637ecc7/

[2021-10-01 22:08] alexmt commented on #7057
Implemented by https://github.com/argoproj/argo-cd/pull/7252

[2021-10-01 22:08] #7057 closed

[2021-10-01 22:09] #6933 closed

[2021-10-01 22:13] alexmt commented on #6642
As of v2.1 Argo CD allows referencing secret values from other secrets in the same namespace where argocd installed: https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#alternative

[2021-10-01 22:15] #6500 closed

[2021-10-01 22:24] alexmt commented on #5982
[NodeUpdateAnimation](https://github.com/argoproj/argo-cd/blob/master/ui/src/app/applications/components/application-resource-tree/node-update-animation.tsx) is responsible for animation. I would suggest to support disabling it using user preferences: https://github.com/argoproj/argo-cd/blob/eb70a1e3fa4ffc7e479b75415217e62aa637ecc7/ui/src/app/shared/services/view-preferences-service.ts#L6

[2021-10-01 22:28] alexmt commented on #5936
User preferences are stored using storage API. View Preferences service encapsulates this logic: https://github.com/argoproj/argo-cd/blob/eb70a1e3fa4ffc7e479b75415217e62aa637ecc7/ui/src/app/shared/services/view-preferences-service.ts#L26

I think user preferences is an appropriate place to store favorites.

[2021-10-01 22:31] alexmt commented on #5886
As of v2.1 it is possible to enable cluster level resources in a namespaced mode using:

[code]

[2021-10-01 22:31] #5886 closed

[2021-10-01 22:32] #5816 closed

[2021-10-02 10:21] vikas027 commented on #1648
Hey @Anishmourya , Does `keel` also updates the git repository as well with the image tag as well?

[2021-10-02 10:57] alexisbel1 commented on #2925
I had the same problem when upgraded from v2.0 to v2.1.4. I had to manually removed the repo-**** secret where the SSH key was  already defined.

[2021-10-02 18:35] jochemvankessel commented on #5592
Same issue here with clean install of 2.1.3. Checked, only one controller pod is running.

[2021-10-03 13:13] Orenus commented on #2677
errrrrrr......
When invoking the PATCH from Postman - it works ok! job done.

my code OR any of the Podmans exported codes (curl, axios, wget etc...) same socket hang up!!!!
Mystery that a too high price (few hours head banging + tcpdump + grpc logging)

[2021-10-03 17:24] taintedkernel commented on #6767
I've noticed this as well.  In my case, I was trying the legacy minio chart (at https://github.com/minio/charts) and on version 2.1.2.

I created the application and populated a values file, but did not sync.  This issue was noticeable as I was scanning the diff before syncing - no job appeared in the rendered diff.  A local `helm template` run did show the expected job, so I'm confident this is r

[2021-10-03 18:21] glebk commented on #5587
I think there is a consensus on adding the "created at" to the tooltip?

@jsoref am I correct in understanding that the main reason for having that information is for differentiation during a rollout? If so, can I suggest adding a simple visual indication, just for new pods, let's say younger than 30m, to help with this specifically? For example something like:
![image](https://user-images.githubu

[2021-10-03 19:17] jsoref commented on #5587
I'd go with a 🌟 as a visual indication if you're going that way. Yes, as long as we don't do try rolling restarts within your window, that'd address our use case.

[2021-10-03 23:37] alexmt opened #7349 "Compact application resources tree"
# Summary

Introduce an ability to collapse leaf resources nodes into one node on the application resource details page.

# Motivation

The large application might contain dozens of resources. The resource tree view might be hard to use with such applications. User should be able to switch to compact view as described below:

# Proposal

Once compact view is enabled leaf (node without children) no

[2021-10-03 23:51] alexmt opened #7350 "Merge Argo CD Notifications into Argo CD"
# Summary

Merge Argo CD Notifications into Argo CD

# Motivation

The https://github.com/argoproj-labs/argocd-notifications became a thin wrapper around https://github.com/argoproj/notifications-engine. In order to improve user experience the notifications controller should
be added directly into Argo CD.

# Proposal

Similar to Argo Rollouts the ArgoCD Notifications should be controlled by the s

[2021-10-03 23:55] alexmt commented on #7192
Fixed

[2021-10-03 23:55] #7192 closed

[2021-10-03 23:58] alexmt commented on #7262
Fixed. Thank you #oleksandr-codefresh!

[2021-10-03 23:58] #7262 closed

[2021-10-04 00:15] alexmt opened #7351 "Merge ApplicationSet into Argo CD installation"
# Summary

The [applicationset](https://github.com/argoproj-labs/applicationset) was created with the intention to merge it into Argo CD eventually. The project had been validated and mature enough to it should be available out of the box with Argo CD.

# Motivation

In order to improve user experience, the ApplicationSet controller should be available in Argo CD out of the box.

# Proposal

The h

[2021-10-04 00:25] alexmt opened #7352 "Support manage ApplicationSet using Argo CD UI/API/CLI"
# Summary

Users should be able to manage ApplicationSet instances using Argo CD UI/CLI/API same as Application objects.

# Motivation

In order to improve the experience users need the ability to manage ApplicationSet instances imperatively.

# Proposal

TODO: create sub-tickets with detailed descriptions

[2021-10-04 04:48] mushycode commented on #3811
I see this issue with the latest client too. The latest client also does not have the flag `--grpc-web` which is still not reflecting in any of the FAQs.
[code]
I am specifically trying to get the client working with jwt token.

[2021-10-04 05:04] denstorti commented on #5107
It seems there is some mitigation for tmpcharts clean up in `Helm 3.7.0`, https://github.com/helm/helm/pull/9889

Related to this comment.

It is not as a good solution as having tmp dirs suffixed with a random string, but it will help.
Probably we should release a version with Helm 3.7.0.

[2021-10-04 05:16] raj1592 commented on #2784
Hello There,
I am facing issues when using "ArgoCD Server and UI Root Path(--rootpath)" provided with "*" hosts , I get 401 for all the below api calls:
/argocd/api/version
/argocd/api/v1/settings
/argocd/api/v1/session/userinfo
At the end of the login page I get this error
"Failed to load data, please try again."

below args are used for the server,
extraArgs:
  - --rootpath
  - /argocd
  - --ins

[2021-10-04 05:34] KeerthigaKrishnan commented on #2424
Can we provide access to users for specifc components in applications like logs. user will have get acces to applications, and canonly view logs. Is it possible. ?

[2021-10-04 05:38] aloysius-lim commented on #6642
That's perfect for SSO. Will that also work for webhook secrets (`webhook.github.secret`) and if so, how? The documentation is not clear on whether the new functionality works for other secrets apart from user management.

[2021-10-04 06:09] KlavsKlavsen commented on #7318
And we need Helm 3.7.0 to atleast partially mitigate the constand helm cache failure on "2 operations on one runner-pod" - https://github.com/argoproj/argo-cd/issues/5107#issuecomment-933145692

[2021-10-04 08:38] Happin3ss commented on #3008
I'm having exactly this issue. I'm not quite sure can we use the diff customization to just ignore the `startupProbe` ?

[2021-10-04 08:55] mustafa89 opened #7355 "docs: Getting Started: Login Using CLI. Add `echo` to avoid printing `%`"
# Summary

A very minor change. I would like to update the getting started documentation.

# Motivation

So that the '%' is not printed at the end of the secret (due to missing newline) and makes copying easy.

# Proposal

How do you think this should be implemented?

Append an `echo` after the `kubectl` command.
here: https://argo-cd.readthedocs.io/en/stable/getting_started/#4-login-using-the-cli

[2021-10-04 09:46] Formartha opened #7356 "Get the values of a values.yaml file using rest-api"
Hello,

We have a use case where we need to use APIs to query the values.yaml file content (which is being passed to helm for a deployment of charts).

I didn't found any way to do it using rest api using the dedicated argo-cd swagger-ui reference.

Anyone can help with it?

[2021-10-04 09:58] vijay-dcrust opened #7357 "deployments getting restarted without any change in git"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
 A git change in one of micorservices triggers restart of all the microservices in the cluster. An argocd app corresponds to each microservice. I am using application-set-controller for

[2021-10-04 12:46] 89leon commented on #7211
a must !

[2021-10-04 12:48] Hillelmed commented on #7211
ASAP ! :)

[2021-10-04 12:57] matankila commented on #7211
must have!!!!!!

[2021-10-04 13:10] andrein commented on #6008
I'm hitting the same issue with https://github.com/ns1/cert-manager-webhook-ns1

![image](https://user-images.githubusercontent.com/52871/135857180-d82d1c41-2844-43b4-aaea-991cbf6362e1.png)

[2021-10-04 14:00] Segflow opened #7360 "Wrong paramater name when the value is a slive"
* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

A screenshot is better then a million word 😄
<img width="399" alt="Screen Shot 2021-10-04 at 2 58 27 PM" src="https://user-images.githubusercontent.com/2049730/135864798-51fd041f-5751-497f-b388-5d4

[2021-10-04 15:25] sathieu opened #7364 "ArgoCD is vulnerable to Helm's CVE-2021-32690"
**Describe the bug**

I'm filling this bug to ensure it's fixed rapidly.

The detail of the security issue is available in the first fixed version [v3.6.1](https://github.com/helm/helm/releases/tag/v3.6.1) and in a [dedicated advisory](https://github.com/helm/helm/security/advisories/GHSA-56hp-xqp3-w2jf).

Summary:

I've worked on a fix in #7249.

**Version**

[code]

[2021-10-04 16:42] sbose78 commented on #7351
Thanks, this should help close out https://github.com/argoproj/argoproj/issues/30

[2021-10-04 16:44] sbose78 commented on #7351
I'm good with moving the controller into the same process. Are there any concerns with scalability/resource consumption that we should consider ?

[2021-10-04 16:45] #7261 closed

[2021-10-04 16:48] #7335 closed

[2021-10-04 16:54] alexmt commented on #5104
@wreed4 The ability to label/annotate cluster is available in master. Will be released as part of v2.2

[2021-10-04 18:04] harikrongali opened #7365 "creating JWT token fails"
Stacktrace:

TypeError: Cannot read properties of undefined (reading 'metadata')
    at t.summaryTab (https://argo.argocd.tools-k8s-prd.a.intuit.com/main.37e10f67e24279e8027f.js:59:600822)
    at Object.children (https://argo.argocd.tools-k8s-prd.a.intuit.com/main.37e10f67e24279e8027f.js:59:588226)
    at https://argo.argocd.tools-k8s-prd.a.intuit.com/main.37e10f67e24279e8027f.js:59:256582
    at

[2021-10-04 18:56] Susritha commented on #7179
Hi, Can I please get this issue assigned to me

[2021-10-04 19:03] alexmt commented on #7230
I've spent a couple of days trying to reproduce it but no luck so far. Discovered that in the case of the manual sync the API server retrieves commit SHA without using the cache (API server doesn't even have access to revisions cache at all).

This made me think that revision caching is probably not the root cause. Sounds like something happened with cloned git repo in the repo-server pod and HEAD

[2021-10-04 19:05] jaredmcqueen commented on #4091
I still can't get working with latest and greatest argocd.  Helm shows as version:
`version.BuildInfo{Version:"v3.6.0", GitCommit:"7f2df6467771a75f5646b7f12afb408590ed1755", GitTreeState:"clean", GoVersion:"go1.16.3"}`
still will not install CRDs for cert-manager

[2021-10-04 19:32] booleanbetrayal commented on #7230
Okay @alexmt - I'll keep my eyes peeled for any recurrence now that we are on 2.1.3.

FWIW - We are on GitHub

[2021-10-04 19:54] alexmt commented on #7230
Tried to research what else has changed in 2.1. We actually upgraded git and git-lfs versions:

* v2.0.0
[code]
* v2.1.3
[code]

It might be that error is related to git LFS only. @booleanbetrayal have you seen the Unknown errors for apps that are based on repos without LFS ?

[2021-10-04 21:36] alexmt commented on #7284
Hello @conman2305 ,

Tried to reproduce an issue but had no luck. Both `argocd app sync` and `argocd app sync` exit as soon as app synced and healthy. There might be something special about your application. Can you please share more details?

Argo CD CLI and controller logs would be helpful.

[2021-10-04 21:42] alexmt commented on #5595
I think this is a duplicate of https://github.com/argoproj/argo-cd/issues/4045 as @jannfis  pointed out. Let's close this issue.

[2021-10-04 21:42] #5595 closed

[2021-10-04 21:43] #7365 closed

[2021-10-04 21:58] #6098 closed

[2021-10-04 22:05] jkroepke commented on #3024
That would be the best way to do it.

I wrote a guide to integrate helm-secrets with ArgoCD.

https://github.com/jkroepke/helm-secrets/blob/main/docs/ARGOCD.md

Currently, it's not possible to fetch gpg keys other than local disk. This means, gpg keys still needs to be mounted at the argocd repo server.

[2021-10-04 23:13] dmitry-mightydevops opened #7367 "go template in argocd app of apps"
# Summary

I'm using argocd 2.1.2 via helm chart.

So i have a *root* app looking into `git@github.com:org/gitops.git`

[code]

inside `staging/argocd/apps` I have prometheus app, based on community chart, where I define custom alertmanager slack notification templates as shown below

**staging/argocd/apps/prometheus.yaml**
[code]

I can apply this app via kubectl without any issues

[code]

Howev

[2021-10-05 00:25] dmitry-mightydevops commented on #6878
Same issue with prometheus-community/prometheus chart.
If you embed alert rules in the values, argocd fails

[code]

[2021-10-05 04:38] devtechmediatechai commented on #4091
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L42
Can you try to set it to True ?

[2021-10-05 04:39] qtheya commented on #4091
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L42
Try to set it to True.

[2021-10-05 05:33] mohammadjalali commented on #7223
Hi, can I work on this?
If I can, can you describe what I should look for?

[2021-10-05 05:56] igalg commented on #7211
ASAP!!!!!!!!!

[2021-10-05 08:25] zmx commented on #5882
DO NOT work for Job

[code]

[code]

[2021-10-05 08:26] hritikgupta commented on #7193
<img width="1362" alt="Screenshot 2021-10-05 at 1 52 36 PM" src="https://user-images.githubusercontent.com/24262284/135987014-bbba7156-e8c3-40f0-9649-5da653cef8c2.png">

Hi @jutley, Is there a particular UX that we're targetting ? I believe there will be one more button saying `Previous Logs` along with these existing buttons that the user can use to switch between current and previous logs?

[2021-10-05 08:36] hairmare commented on #2772
related issue: https://github.com/argoproj/argo-cd/issues/4972

[2021-10-05 09:39] vijay-dcrust commented on #7357
This was happening due to a timestamp being passed as env variable to the deployments and since it is a dynamic value, it was causing the restart on sync randomly.

Closing the issue.

[2021-10-05 09:39] #7357 closed

[2021-10-05 10:02] rivetmichael commented on #2973
@De1taE1even could you give an example of how to use the `---` ?

[2021-10-05 11:00] #6570 closed

[2021-10-05 12:25] ArsenyBelorukov opened #7369 "Failing repo after argocd upgrade from v2.0.1 to 2.1.3"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Some private repo doesn't work after upgrading argocd from v2.0.1 to 2.1.3.

Adding repo via argocd cli:
[code]
argocd-repo-server log:
`{"error":"repository not found","grpc.code":"Unk

[2021-10-05 12:42] strantalis commented on #7193
@hritikgupta Not sure if you are working on this issue already but this is something I would like to see also. If you aren't I wouldn't mind trying to tackle this issue. Also does the server need changes like the ability to set the the option to get previous pod logs like mentioned in issue https://github.com/argoproj/argo-cd/issues/4004 .

[2021-10-05 13:03] De1taE1even commented on #2973
@rivetmichael The loop i have above, creates multiple ArgoCD applications in a single yaml file once helm templates it.  To contain multiple kubernetes objects in a single yaml file, you have to separate them using `---`.  So if you're using a loop, you need to put `---` at the bottom of the loop.
This won't work:
[code]
This works fine:
[code]

[2021-10-05 13:18] strantalis commented on #7193
I don’t mind at all. Looking forward to this enhancement 😀.

[2021-10-05 16:15] booleanbetrayal commented on #7230
We don't actually have any apps built around repos without LFS, unfortunately, @alexmt . I think only LFS objects for us would be Helm chart binaries.

[2021-10-05 16:29] strantalis commented on #7156
I can take this enhancement on if it still needs someone to work on it.

[2021-10-05 17:18] leoluz commented on #4997
I think having `argocd_app_labels` dedicated as an info metric a good idea. I also don't think this would exponentially increase the metric cardinality as the labels are always the same for a single `Application`. With that, we are going to have one dimension per `Application` which seems to be fine.

@jessesuen Do you have any objection in going in this direction?

[2021-10-05 18:19] servo1x commented on #7260
Duplicate of #6330.

[2021-10-05 18:19] #7260 closed

[2021-10-05 18:32] ohauer opened #7372 "Helm argo-cd UI it is not possible to use relative path"
Checklist:
* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Relative path to helm value file cannot be set in the UI

[code]

The relative path to the value file will be resetted to value.yaml in the UI

**To Reproduce**
Create new helm app in the

[2021-10-06 09:16] chetan-rns commented on #7223
Hi @mohammadjalali, sorry there is a PR for this already. We have plenty of [good first issues](https://github.com/argoproj/argo-cd/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22). Please feel free to comment on them to get started.

[2021-10-06 11:08] jjohnson-ah opened #7376 "Slack link broken"
Your Slack [link](https://argoproj.github.io/community/join-slack) is broken so I can't join the Slack channel.

[2021-10-06 11:26] jjohnson-ah opened #7377 "ArgoCD complains about revision being unsigned when using a tag"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If I run `kubectl apply` using a signed commit and a `targetRevision` of, e.g. main, it deploys fine. But when I use a `targetRevision` pointing to a tag (signed or unsigned), I get a '

[2021-10-06 14:30] Ashita2000 commented on #6333
Hi @alexmt, I was thinking of working on this issue as a part of Hacktober Fest. Can you tell me in detail about this issue?

[2021-10-06 15:12] om3171991 commented on #7144
@mayzhang2000 @rwong2888 - We reverted back to v2.0.5 but still seeing the same error. any leads?  as It blocked all our deployment with sub-charts.

[2021-10-06 15:30] om3171991 commented on #7144
@rwong2888 - but that also not working. It was working earlier before the upgrade.

[2021-10-06 15:36] rwong2888 commented on #7144
@om3171991 read the change logs and see what changed between your working version and the first version that breaks.

[2021-10-06 16:16] alexec commented on #6333
This is my suggestion, so I'll field it.

I've used the badge to create a dashboard (well, a markdown file) of 350 apps (same app installed in each cluster) so I can get an overview of them:

![image](https://user-images.githubusercontent.com/1142830/136242901-b7c95bc3-98c4-45d0-bb15-016d42e89c75.png)

But I'd like to know when they were last synced, so I can understand if they self-healed. So rat

[2021-10-06 17:04] mikebryant commented on #7223
Thanks for fixing this @chetan-rns :)

[2021-10-06 17:27] alexmt commented on #7230
Thank you, @booleanbetrayal!

According to logs, the error happens only if LFS is enabled. Since you don't need LFS can you try to disable it for the repository to confirm it is only LFS related? The LFS can be disabled in repo settings by adding `enableLfs: "false"` key to repo secret data.

[2021-10-06 18:16] sjentzsch commented on #3781
As a note: Configuration to customize resource behavior should now be configured via splitted sub keys, so the proper link to set up the health assessement should be found here now: https://argo-cd.readthedocs.io/en/stable/operator-manual/health/#argocd-app

[2021-10-06 18:49] booleanbetrayal commented on #7230
Will give that a whirl! I had thought we were using LFS in our gitops repo, but it's actually not reflecting any stored files, so it was never initialized as such. Secrets are updated and I'll keep my eyes on it!

[2021-10-06 21:07] garyy7811 opened #7382 "Multi step/stage/source application?"
# Summary

Let user define multi step/stage/source for one application.

# Motivation

there are certain situations that I want multi step/stage when setting up application, for example, generate secrets and then pass the secret name to the main Helm installation, the secret is part of the application, but it has to be deployed before the main Helm installation.

I understand it can be done with p

[2021-10-07 05:47] zhang-xuebin commented on #3027
Thanks @test-account-0 , can you clarify how does these two gcloud commands help here? The `bearerToken ` in the comment above will expire in a hour, how do we handle that?

[2021-10-07 07:07] jjohnson-ah commented on #7376
This seems to only be an issue in Edge on MacOS.

[2021-10-07 07:07] #7376 closed

[2021-10-08 01:10] pretystar commented on #6365
I got the similar issue, anyone knows the reason?
argocd repo add xxxx.azurecr.io --type helm --name xxx --enable-oci  --username xxx --password xxxx
argocd app create tomcat --repo xxx.azurecr.io --helm-chart app/tomcat-chart --revision 1.0.0 --dest-namespace test --dest-server https://kubernetes.default.svc  --sync-policy auto

[2021-10-08 06:56] vbharath2007 opened #7396 "Unable to login, reset the password for the new user. msg="The handle is invalid."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-10-08 06:58] vbharath2007 commented on #7396
I tried to list the accounts through GUI, argocd page... but i received an error message as shown in the screenshot and requested to raise a bug ticket.

[2021-10-08 17:15] #4997 closed

[2021-10-08 20:16] alexmt commented on #7184
The v1.8.1 is quite old and most likely the bug is fixed already.  I tried to analyze the stack trace to find the fix but cannot match the compiled JS back to source code. can you please try to upgrade to latest stable argocd and check if error persists?

[2021-10-08 21:00] #6764 closed

[2021-10-10 02:53] servo1x commented on #7072
Hi @hritikgupta - yes that's correct. Maybe it should be all the way left, but yeah - I think showing the namespace would be useful.

[2021-10-10 04:37] sarahhenkens commented on #7259
@wanghong230, Any updates from the maintainer meeting?

[2021-10-10 07:57] servo1x commented on #7072
@hritikgupta that's a good point. What if we moved the label to the top?

[2021-10-10 08:09] hritikgupta commented on #7072
Sure @servo1x, I too was thinking of that

[2021-10-10 19:51] alexmt commented on #5587
I agree that adding label with the age will make the view too busy. The visual indication sounds like a better option.

[2021-10-10 23:16] automaticgiant-ml commented on #2730
how is this done in the cli?

[2021-10-10 23:29] maxbrunet commented on #4656
I have created PR #7404 which would add support for files.

If you want to use files right now, this should work too in the `spec.source.directory` of your Application manifest:

[code]

The support for files is only a shorthand for the above.

[2021-10-11 06:00] sunidhi121 opened #7406 "application-controller pod has very High CPU usage"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.
* [ ] I've asked the question in https://cloud-native.slack.com/archives/C01TSERG0KZ/p1633928068217000

**Describe the bug**

The application-controller pod uses about 769% of CPU with ~129 apps.
Our argocd w

[2021-10-11 09:16] nekia commented on #5990
Hi team, I'd like to work on this issue if anyone has not been assigned yet. @cdobinsky @alexmt

[2021-10-11 09:44] aupadh12 opened #7408 "Error in creating application for kustomize load_restrictor option"
Hi Team,

I have installed latest stable version of argocd v2.1.3.
After applying everything, when I try to create application inside argocd, I get below error:
Unable to create application: application spec is invalid: InvalidSpecError: Unable to get app details: rpc error: code =
Unknown desc = `kustomize build /tmp/https___bitbucket_scm_project-manifests/argocd_manifests --load_restrictor LoadR

[2021-10-11 17:39] hintofbasil opened #7412 "Percentage based autosync protection"
# Summary

Autosync protection was added in v1.8 to stop all resources being accidentally deleted in error.  This was added as an on/off toggle.  I propose that this should actually be a percentage to protect in circumstances where most of an application's resources are pruned in error but a few resources remain.

# Motivation

We recently had an incident where, due to a bad config change, we prun

[2021-10-11 18:32] ciiay commented on #7349
I'd like to work on this.

[2021-10-11 19:27] ciiay commented on #7349
Do we have an icon candidate for the compact view button?

[2021-10-11 21:23] abjinugu opened #7413 "kernel capabilities"
### Discussed in https://github.com/argoproj/argo-cd/discussions/5356

<div type='discussions-op-text'>

<sup>Originally posted by **abjinugu** January 29, 2021</sup>
When I create an application from the UI, the deployment always fails with the below message. Am I missing anything here?

_**deployments.apps "account-deployment" is forbidden: user "system:serviceaccount:argocd:argocd-application-c

[2021-10-12 08:03] servo1x commented on #7072
@hritikgupta - yes it does look a bit noisy. Another idea would be to introduce a node for namespace under the `Application` resource and display namespace as part of the tree, but I am not sure what the implications of that are (if any).

[2021-10-12 13:02] gaetansnl opened #7417 "Sync helm chart gets stuck"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When I update an Helm chart, it often gets stuck

**To Reproduce**

Install cert-manager official helm chart `1.5.3`, sync. Change the version for `1.5.4` and sync.
Same problem for kub

[2021-10-12 13:22] silverraven691 opened #7418 "Ignore orphaned resources matching certain labels"
# Summary

I would like to be able to ignore orphaned resources that match a certain label

# Motivation

An operator in my cluster generates resources in each namespace, they don't have ownerReferences (probably impossible), but they do have labels. ArgoCD considers those to be orphaned

# Proposal

Add more selector capabilities to `spec.orphanedResources.ignore` in `AppProject`

[2021-10-12 13:32] Enrico204 commented on #6032
Can you please share some details? Like the version of ArgoCD and Keycloak, their settings, logs, whatever clue may help :-)

[2021-10-12 15:28] #7213 closed

[2021-10-13 01:10] om3171991 opened #7421 "Canary Deployment is causing downtime"
Hi Team,

We are experience downtime for an application while deployment gets into a suspended state (Deployments for someone to do promote full).

Deployment Strategy - Canary without any traffic management.

Usecase - We have a simple nodejs deployment with 4 replica and whenever we do deployment and it gets to a suspended state, ingress associated with the application shows a blank page. As soo

[2021-10-13 11:23] slawekgh opened #7425 "argocd-repo-server problem with istio"
* [YES ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ YES] I've included steps to reproduce the bug.
* [ YES] I've pasted the output of `argocd version`.

[code]

Namespace = argocd

istio auto-injection turned-on NS=argocd

argocd PODS are running except argocd-repo-server :

[code]

seems that argocd-reposerver container is starting properly:

[code]

but corre

[2021-10-13 16:04] calvinShan opened #7428 "create internal ingress controller with manifest file using argocd"
Hello,

I want to deploy ingress controller with argocd on aks based on this article : https://docs.microsoft.com/en-au/azure/aks/ingress-internal-ip

I need to create an application argocd like this:

[code]

But I don't know how to pass the manifest file, the command line should be like this:
helm install nginx-ingress ingress-nginx/ingress-nginx -f internal-ingress.yaml

How to define the '-f i

[2021-10-13 17:15] achebel opened #7429 "New APP using a remote kubernetes cluster - x509: certificate signed by unknown authority"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-10-13 17:42] chrisdoherty4 opened #7430 "BeforeHookCreation fails to delete job resulting in "field is immutable""
**Describe the bug**

_I'm looking for feedback initially having had no response in slack. I expect I'll add to the issue gradually as I learn more._

Jobs configured with the default deletion policy of BeforeHookCreation are not deleted correctly resulting in a 'field is immutable' error. The problem occurs ad-hoc making it hard to reproduce so we're working with theories/observations right now.

[2021-10-13 20:50] imuni4fun commented on #3571
I have a similar interest.  Have you seen any improvement or received any feedback?  Thanks!

[2021-10-13 21:10] calvinShan commented on #7428
@buker  thanks for your response, so how to pass this in argo pls? could you show us an example?

[code]
to install chart helm install nginx-ingress ingress-nginx/ingress-nginx -f internal-ingress.yaml

[2021-10-13 22:19] buker commented on #7428
I editet my comment

[2021-10-13 22:28] alexec commented on #6333
I like it.

[2021-10-13 22:57] rbreeze commented on #6222
This code should be rewritten to not depend on importing extensions.

https://github.com/rbreeze/gitops-engine/blob/master/pkg/health/health.go#L175-L188

[2021-10-14 01:13] #7324 closed

[2021-10-14 05:10] chetan-rns commented on #7355
Fixed by PR #7403

[2021-10-14 05:10] #7355 closed

[2021-10-14 05:42] czchen opened #7433 "Typo in SparkApplication health check script"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

There is a typo in SparkApplication health check script in [here](https://github.com/argoproj/argo-cd/blob/master/resource_customizations/sparkoperator.k8s.io/SparkApplication/health.lu

[2021-10-14 07:25] srouil opened #7436 "helm dependency build with repository alias fails with "no repository definition for @myhelmrepo""
**Describe the bug**

I am creating an application whose helm Chart.yaml uses a helm library chart from a repository defined using a repository alias.

**To Reproduce**

1. You need to have a helm repository containing a library chart.
2. Configure it as helm repository in Argo CD and give it a name, e.g. myhelmrepo
3. Configure an application from a git Repo whose Chart.yaml uses the helm library

[2021-10-14 10:35] cobexer commented on #7436
I hit the same error with a different config:

`helm dependency build failed exit status 1: Error: could not find protocol handler for: alias`

my Chart.yaml looks like:
[code]

this is a regression since this worked in 2.0 and below

[2021-10-14 11:24] om3171991 commented on #7421
@alexmt @mayzhang2000 @jessesuen - Can you please guide me here. If I am doing something wrong.

[2021-10-14 14:01] keithchong opened #7443 "Filter group is cutoff by notification message"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

When the notification banner appears, the filter group isn't shifted down like the other parts of the page.  It is cut off at the top. Not sure if this will be fixed, since the revamped

[2021-10-14 14:06] absynth76 commented on #3436
I completely agree, look here: https://argocd-operator.readthedocs.io/en/stable/reference/argocd/#dex-example
documentation should be updated at least

[2021-10-14 15:32] rdelpret commented on #4211
Built a v2.1.3 Image yesterday on my 4 GB Raspberry pi and put it up on docker hub: `rdelprete/argocd-arm64:v2.1.3`

It took a very long time, I had to add `--network-timeout 1000000` to all the yarn commands 😮

[2021-10-14 19:21] reginapizza opened #7446 "UI Warning- multiple modules with names that only differ in casing"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
When developing locally, terminal states "compiles with warnings". Error is from two modules that only differ by casing (`sg` vs `SG`)

I'm not sure if this has a purpose or is actually

[2021-10-14 20:35] williamcaban opened #7447 "[RFE] Git File Manifest Template Generator"
## Summary

The current `Git File Generator` generates Applications template parameters using the contents of JSON files found within a specified repository.

This request for enhnacement (RFE) is to extend the `Git File Generator` (or create a new generator) to allow for the use of {{param}}-style parameters on source manifest from a Git repo and render them in-flight without requiring source mod

[2021-10-15 00:43] jsoref opened #7450 "Hint at the number of items hidden by a given filter"
# Summary

Currently if I have a bunch of filters applied, I don't know which ones are hiding resources I might care about

# Motivation

I started by visiting

https://cd.apps.argoproj.io/applications/jenkins?resource=kind%3AEndpoints%2Csync%3ASynced
![image](https://user-images.githubusercontent.com/2119212/137414145-98b75ded-d707-4f05-a119-9c53fd05a9fc.png)

And I wanted to see why it was progr

[2021-10-15 06:35] jessesuen commented on #6222
Yes, that would absolutely cause the problem! It also explains the flapping in health status from green to red when you reproduced the issue. I'm actually surprised this was the only issue that you were facing given that you were running two controller pods with such drastic versions.

[2021-10-15 11:20] djboris9 commented on #1811
I did also render Application manifests with AutoSync in CI for MRs but it felt like a hacky solution.

I'm currently thinking about to write an operator as proof-of-concept that can receive webhooks from Gitlab CI etc. and renders a defined manifest (which could be an ArgoCDs Application). Additionally the state is stored so after the MR gets closed or merged, every created resource can be teared

[2021-10-15 12:51] baboune commented on #3709
+1

[2021-10-15 13:44] keithchong commented on #7443
I opened this for the record, but I think this issue might be moot once this gets merged: https://github.com/argoproj/argo-cd/pull/6966 . FYI, @rbreeze

[2021-10-15 15:30] yq314 opened #7454 "argo-rollouts extension resources returns 404"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-10-15 16:45] aslafy-z commented on #7179
@dirien It looks perfect to me!

[2021-10-15 19:25] automaticgiant-ml opened #7459 "enhancement: annotation for Force Syncing"
i would like to be able to set this on specific manifests rather than everywhere

### Discussed in https://github.com/argoproj/argo-cd/discussions/5172

<div type='discussions-op-text'>

<sup>Originally posted by **rumstead** January  4, 2021</sup>
Hi all! I want to be able to automatically “kubectl apply --force” my Kubernetes manifests so I don't have to force sync via the UI when a label or som

[2021-10-15 20:49] keithchong commented on #7313
<img width="1209" alt="RegularBannerWithCloseButton-Top" src="https://user-images.githubusercontent.com/7726022/137551725-7020ab87-b7ba-4c0c-a0f1-f43a39a6eb15.png">

[2021-10-15 20:49] keithchong commented on #7313
<img width="1209" alt="RegularBannerWithCloseButton-Bottom" src="https://user-images.githubusercontent.com/7726022/137551761-cf4c371c-fabd-4740-9186-0336df6eac2a.png">

[2021-10-15 20:50] keithchong commented on #7313
<img width="1212" alt="PermanentBanner-Top" src="https://user-images.githubusercontent.com/7726022/137551827-cd861bbd-979d-4b42-83df-8c16f4e67dc4.png">

[2021-10-15 20:52] keithchong commented on #7313
<img width="1206" alt="PermanentBanner-Bottom-SliderWindowOpened" src="https://user-images.githubusercontent.com/7726022/137552096-80dad6df-aa18-4a83-abbe-8b261a61da6c.png">

[2021-10-15 23:53] aaronthebaron commented on #6215
In our App of Apps, Multi-Cluster model, where we use namespaces to segregate our application stacks into dev|stag|prod environments, we currently are just adding another App that only creates the namespace with istio-injection labels, which is our use case.

This solution clutters the Argo UI and isn't very DRY, but works. The multicluster part makes the App required, because it's the only way we

[2021-10-16 07:07] jochemvankessel commented on #5592
Yes, for me that is the case. I’m triggering a manual sync and then do a wait in my cd pipeline (just like mentioned in the docs)

[2021-10-16 15:14] yq314 commented on #7454
Update:

I tried moving extensions.js from `/tmp/extensions/resources/argoproj.io/Rollout/ui` to `/tmp/extensions/argoproj.io/Rollout/ui` and now it's loaded successfully with status 200. However I'm still not seeing the tab in argo UI

[2021-10-16 17:18] raphaeljlps commented on #6126
I've taken a look and couldn't find where the --namespace flag is being handled
https://github.com/argoproj/argo-cd/blob/d7d8fe3da298e372ddd92777e36f27f79ff79a67/cmd/argocd/commands/admin/settings_rbac.go#L95
https://github.com/argoproj/argo-cd/blob/d7d8fe3da298e372ddd92777e36f27f79ff79a67/cmd/argocd/commands/admin/settings_rbac.go#L200

[2021-10-17 03:31] nekia commented on #5990
Sorry, let me correct the previous post a little bit. v1.8.7 works well as expected. The issue appears from v2.0.0 release. I'm going to look at the difference of [implementation retrieving pod log](https://github.com/argoproj/argo-cd/blob/v2.0.0/ui/src/app/shared/services/applications-service.ts#L186)
It seems that there is [no big difference](https://github.com/argoproj/argo-ui/compare/3d2740a55

[2021-10-17 06:10] jessesuen commented on #677
We originally eschewed this feature due to the added complexity of supporting 2+ sources for a single application. However, due to the refactoring needed to support https://github.com/argoproj/argo-cd/issues/2789, we are now reconsidering this feature.

Reopening.

[2021-10-17 10:30] calvinShan commented on #7428
Hello, @buker

I want to pass the file value.yaml to helm value.yaml in order to override all the values in helm

How to pass a complet file to helm to override all the values in helm exactly?

spec:
  destination:
    namespace: argocd
  source:
    path: Charts/test
    repoURL: repo
    targetRevision: version
    helm:
      valueFiles:
        - values-dev.yaml
In this example, the file value

[2021-10-17 12:09] nekia commented on #5990
In release v2.0.0 or later, `pod-log-viewer` has had its own viewer implementation to support the feature of #5469 instead of using argo-ui `LogViewer` component which is compatible to `xterm`. I think Argo-CD needs to add some convertion from ANSI color code to styled character around [here](https://github.com/argoproj/argo-cd/blob/v2.1.3/ui/src/app/applications/components/pod-logs-viewer/pod-log

[2021-10-17 17:43] #4933 closed

[2021-10-18 02:58] #6855 closed

[2021-10-18 10:47] Shahard2 commented on #3280
Hello,
any solution ??

[2021-10-18 17:55] slawekgh commented on #7425
+1

[2021-10-18 20:49] ciiay commented on #7349
Hi @alexmt , I created a collapsed resources display as the below screenshots. Does this look right to you? And what kind of information is expected to show in the sliding panel for collapsed resources?
Before collapse (Tree view)
![Tree view](https://user-images.githubusercontent.com/26255262/137804543-43132a71-b32d-4835-9774-b0cb16236ebd.png)
After collapse (Compact view)
![Compact view](https:/

[2021-10-18 21:07] alexmt commented on #6727
I'm assuming missing CRD is the reason for the error. Argo CD did not install the CRD before CR since it is not in the repo. Closing the issue.

@vivekjainx86 please let me know if I'm missing something

[2021-10-18 23:35] mdreizin commented on #7282
It looks like we still have the same issue event on `2.1.3` :(

[2021-10-19 01:44] #7198 closed

[2021-10-19 08:14] rosscdh commented on #4682
@vrodomista having the same issue; listed org and teams but still no result can you post more info?

[2021-10-19 16:04] balusarakesh opened #7483 "argocd pods lose IAM access for the first few minutes"
### Description
 - we recently updated argocd to `2.1.3` from `v2.0.0` and also the helm chart to `3.24.0` from version `3.0.0`
 - We are seeing a weird and peculiar issue with argocd version `2.1.3`
 - we use AWS IRSA for the pods to gain access to AWS resources like KMS keys which will allow argocd to decrypt helm secrets using sops
 - for some reason, access to KMS keys is denied by aws IAM for

[2021-10-19 16:30] alexmt opened #7485 "Application status panel shows Syncing instead of Deleting"
**Describe the bug**

The status panel on application details page shows Syncing instead of Deleting

**To Reproduce**

* Create and sync application once
* Try deleting it
* See 'Syncing' status instead of 'Deleting' on status panel

**Expected behavior**

Status panel should show 'Deleting'
**Version**

[code]

[2021-10-19 17:30] #7485 closed

[2021-10-19 18:46] jsoref opened #7487 "Refreshing indicator should be just above the fold instead of just below it"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-10-20 06:57] slawekgh commented on #7425
@jannfis thanks a lot
I made 2 repos - with and without istio - both of them works fine

one additional info for others - Temporary Redirect during argocd login is not ok for envoy-proxies - there is a need for connecting to IP POD directly and everything works great

[2021-10-20 06:57] #7425 closed

[2021-10-20 07:21] #6222 closed

[2021-10-20 09:21] jannfis commented on #7447
Seems issues can't be moving between org (argoproj and argoproj-labs). Closing this issue here, please re-open it in `argoproj-labs/applicationset`.

[2021-10-20 09:21] #7447 closed

[2021-10-20 09:57] mikolajprzybysz opened #7497 "Provide v2 of the argocd image tag and refer to it instead of latest"
# Summary

Provide v2 of the argocd image tag and refer to it instead of latest

# Motivation

This PR https://github.com/argoproj/argo-cd/pull/7321 has introduced referring to the latest argocd image, which is very problematic, because if you ever deliver argocd image v3 that is not compatible with v2 you will break everyone's setups.

# Proposal

As I understand original author intention was to

[2021-10-20 14:49] jetersen opened #7502 "argocd-repo-server does not respect resource limits and tends to use excessive amount of memory."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-10-20 15:00] musabmasood commented on #2078
Do have support for this in `application.yaml` as declarative setup?

[2021-10-20 15:06] #7156 closed

[2021-10-20 18:34] #6847 closed

[2021-10-21 01:53] alexmt commented on #7282
Nevermind. How could I missed it 🤦 . API server makes two API calls to repo server and should not use cache revision in both: https://github.com/argoproj/argo-cd/pull/7508

[2021-10-21 04:07] #5934 closed

[2021-10-21 04:23] alexmt commented on #7338
Closing as duplicate of https://github.com/argoproj/argo-cd/issues/4351 (since it has the most number of thumbs ups)

[2021-10-21 04:34] alexmt commented on #4029
This would be a great feature. The https://github.com/argoproj/argo-cd/issues/5082 proposes the same and also suggests a way to implement the feature. Closing this ticket as duplicate just to keep one discussion thread.

[2021-10-21 04:36] Cylix commented on #5951
Hey folks, I'm looking to contribute to argocd and was thinking about taking a look at this issue. I was able to reproduce locally, so I'll dig a little bit in the upcoming days, but let me know if that's something someone else is working on.

[2021-10-21 09:26] saumeya commented on #7450
I'll work on this @jsoref

[2021-10-21 10:06] PendaGTP commented on #5792
Hi @jannfis, late answer but anyway: there is no `ownerReferences` on `openshift-user-ca` ConfigMap.

[2021-10-21 10:18] victorgetz commented on #5178
Hi we experienced the same problem and we found a good workaround (if you use helm).

In the global argocd server config you need to add this:

[code]

Inside the secret of your helm chart you add the annotation like this:

[code]

The magic is argocd will now look only at vaultInjectionChecksum. If this changes there is diff.
Works like a charm.

[2021-10-21 10:21] victorgetz commented on #7011
Hi i just wanted to share our workaround which in my opinion is better (if you use helm).

In the global argocd server config you need to add this:

# Ignores .data changes of all secrets with a vaultInjectionChecksum annotation
resource.customizations.ignoreDifferences.Secret: |
  jqPathExpressions:
    - '. | select(.metadata.annotations.vaultInjectionChecksum) | .data'
Inside the secret of your

[2021-10-21 11:32] JrCs opened #7512 "Can't use ignoreDifference jqPathExpressions without jsonPointers"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

An application like this:
[code]
is **refused** (because it said that jsonPointers key is required):

**To Reproduce**

[code]

**Expected behavior**

The manifest is accepted

**Versio

[2021-10-21 11:44] Rafaesp opened #7513 "DiffIgnoring the only annotation present leads to an empty annotation object which is still different"
I have the following diff in one of my applications:
![image](https://user-images.githubusercontent.com/437825/138269646-2bb42c6c-2585-4277-a88d-f1ceea0b8301.png)

I've added the following ignoreDifferences to my manifest:
[code]
But the end result is still a difference:
![image](https://user-images.githubusercontent.com/437825/138269861-23f4e918-d9de-43aa-b076-6fbf4007b9da.png)

Is there a way Ar

[2021-10-21 20:20] reginapizza commented on #6333
Hi! I think I (potentially speaking for some users) might have a problem with this change... I remember a while ago I was working on the status badge's colors and someone had given me a screenshot of how they are currently using the status badge, like so:

![image](https://user-images.githubusercontent.com/50851526/138350475-5085f27e-f254-4e18-9026-be08829b58b1.png)

I do not remember the name of

[2021-10-21 21:37] #7012 closed

[2021-10-21 22:43] renatomjr commented on #5592
Still happening in 2.1.5

[2021-10-21 23:43] alexmt commented on #5592
@renatomjr just in case can you check if you have two controllers running in the `argocd` namespace?  Just want to check obvious reasons before digging into code again.

[2021-10-21 23:46] renatomjr commented on #5592
Checked: only one controller running.

[2021-10-21 23:49] renatomjr commented on #5592
@jochemvankessel As a workaround, to simulate a "manual sync" in a cd pipeline you can first `get` with `--refresh`, then `wait`. Something like this:
`argocd --grpc-web app get --refresh my-app > /dev/null && argocd --grpc-web app wait my-app --sync --health`

[2021-10-22 00:58] sidewinder12s opened #7520 "ArgoCD 2.1 Filters hide a lot of information"
# Summary

Labels used in filters used to either wrap or float within the filters pane.

In 2.1 with the new filter sidebar, it cuts off a lot of the label making it harder to use.

The clear button also doesn't look quite right in the window.

![image](https://user-images.githubusercontent.com/1393426/138376390-45998602-5458-4243-997b-822a8debaaf2.png)

# Motivation

Don't hide filter information

[2021-10-22 02:32] nanorobocop opened #7521 "Respect ArgoCD SA RBAC"
# Summary

Currently, if configured with `All namespaces` - ArgoCD tries to cache all objects in cluster scope.
But `All namespaces` does not automatically means having `cluster-admin` role for ArgoCD Service Account.
Because of specific RBAC policies, some resources may be unaccessible in cluster scope.
Cluster sync fails in this case.

# Motivation

In our case, we want to give ArgoCD all permis

[2021-10-22 18:44] m-yosefpor opened #7527 "argocd app create -f apps.yaml does not create all apps."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

If you have a k8s manifest with multiple `Application`s, separated with `---` (like other multiple k8s yaml definitions in 1 file) and try to create them with `argocd app create -f apps

[2021-10-23 03:09] yeya24 opened #7531 "Unnecessary secretToCluster unmarshalling during Sync time"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x

[2021-10-23 08:04] david-becher opened #7534 "Add support for Google Cloud Source repositories"
# Summary

This enhancement aims at adding support for Google Cloud Source repositories. There are already a couple of issues (see #3379 and #2814), where the overall consensus was that it is currently not possible or experimental at best. Also, there is no documented and easy to use solution to clone Google Cloud Source repositories.

# Motivation

ArgoCD users with repositories hosted on Google

[2021-10-24 01:42] netguino commented on #5585
I am not sure either, I am looking at the docs, but I cannot for the life of me, get the child apps to autocreate without autosync.

[2021-10-24 02:13] MeNsaaH opened #7536 "Argocd Helm hook to be different for pre-install and Pre-upgrade"
# Summary
Argocd should have a different hook for `pre-install` and `pre-upgrade` helm hooks.
# Motivation

Currently, argocd treats both `pre-install` and `pre-upgrade` helm hooks as `PreSync` hooks. However, this is not always the case. A typical example is this [gitlab Chart](https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/templates/upgrade_check_hook.yaml) where this hooks only runs

[2021-10-24 23:28] swood opened #7541 "Wrong Ingress documentation about Contour"
Hello, I found that the documentation here is wrong:
https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/

I can reach the UI with this configuration:
[code]

However I can't login via console utility:
[code]

To reach the UI I added `--insecure` to the Deployment configuration and patched the Argo-server service into LoadBalancer.

Could you please help me to fix this configuration t

[2021-10-25 14:13] eli-halych opened #7546 "SSO is failing to append /auth/login to a proper IP/DNS name"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-10-27 02:39] GuangTianLi opened #7555 "GitHub WebHook ping event: Webhook processing failed: event not defined to be parsed"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-10-27 04:06] czchen opened #7557 "sparkoperator.k8s.io/SparkApplication health check does not support dynamicAllocation"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`sparkoperator.k8s.io/SparkApplication` has dynamic allocation mode (`spec.dynamicAllocation.enabled: true`), which does not have key `spec.executor.instances`. However,`spec.executor.i

[2021-10-27 19:30] lzm0 opened #7560 "Better title and description for 'Certificates' on settings page"
# Summary

On `/settings` page, one of the cards has the title 'Certificates' while in fact the link it points to does not contain any certificates.
![image](https://user-images.githubusercontent.com/7163127/139131018-b132ec60-4db8-47ab-8e32-816294785053.png)

# Motivation

This could be misleading as SSH keys are also configured in `/settings/certs`. SSH keys are not considered certificates.

# P

[2021-10-28 01:55] harikrongali opened #7561 "Add ScaleDownLimit as health state for HPA"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-10-28 03:53] zhengyansheng opened #7562 "Error: go get github.com/argoproj/argo-cd"
**Describe the bug**

[code]

**Version**

[code]

**Logs**

[code]

**same type of problem**

- [checksum mismatch in travis with go 1.12.5 #9](https://github.com/hashicorp/go-rootcerts/issues/9)

[2021-10-28 04:47] james-callahan opened #7563 "`argocd admin dashboard` errors: Unable to load data: cannot find pod with selector [app.kubernetes.io/name=argocd-redis]"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-10-28 18:45] jessesuen opened #7571 "Ability to disable https://kubernetes.default.svc"
# Summary

Many users run Argo CD in a mode where that Argo CD instance doesn't ever need or want to deploy Applications to the same cluster Argo CD is running in (e.g. Intuit does this). For these users, the `https://kubernetes.default.svc` should be disabled and removed as an option.

# Motivation

The ability to disable https://kubernetes.default.svc is both a security improvement as well as us

[2021-10-29 12:30] morningspace opened #7575 "A way to do something in hook after delete the Argo Application"
# Summary

It looks there's no way to do some post delete work when I delete an Argo Application, e.g.: to clean up something.

# Motivation

For example, I have a set of Kubernetes resources for OLM, including Subscription, certain Custom Resources, etc. that can be synced by Argo CD to deploy on target cluster. During deploying, OLM will auto-generate a resource called ClusterServiceVersion, whi

[2021-10-29 13:14] yuxintong-github opened #7576 "Server crash of argocd-server deployed in HA mode"
- [x]  I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
- [x] I've included steps to reproduce the bug.
The argocd-server will crashed one time in 1-2 days.
- [x] I've pasted the output of argocd version.
Argocd-server Verion is: "quay.io/argoproj/argocd:v2.1.5"

**Describe the bug**

The argocd-server will crashed one time in 1-2 days. Here is the error logs:

[code]

I

[2021-10-30 00:48] #7364 closed

[2021-10-30 07:28] Cylix commented on #5525
Hey all, that sounds like an interesting idea! I'm frequently using `argocd app diff --local` to preview changes before syncing, but there are a few times I feel something like `argocd app manifests --local` could come in handy.

If nobody is working on this, I'll get started to implement this!

[2021-10-30 08:11] #5951 closed

[2021-10-30 08:33] jannfis commented on #6333
Yes please.

[2021-10-30 22:38] ep4sh commented on #2789
Just to submit, our use-case
- All charts are stored in the local **helm** repo ("helm template" is a separate Github repo)
- All helm values are stored in **GitHub** repo
- All applications are stored in the **separated Github** repo
We pray for this feature (for  now there is a lot of side-car conjure to accomplish that)
Thank you!

[2021-10-31 04:38] unckleg commented on #2532
Any news ?

[2021-10-31 05:29] itziklavon opened #7584 "Telepresence support"
I don't know if it is actually a bug, or feature, or maybe i'm doing something wrong
the issue is as following:
i would like to intercept workload in specific namesapce using telepresence to enable live debugging
when app is being deployed with argo, interception is not working (argo manifest is being changed to tm-XXXX)
when doing the same after deploying manually the application, interception do

[2021-10-31 14:35] danmx commented on #6919
it seems I have the same issue with v2.1.6 both while proxying using Traefik 2.4.8 and while using port forwarding.
![Screenshot from 2021-10-31 15-30-37](https://user-images.githubusercontent.com/11769367/139588519-93b21826-069a-4ebe-a280-6b3006fa241d.png)

Kustomize ConfigMap generator:

[code]

[2021-11-01 02:51] zhengyansheng commented on #7562
`Thank you`. This problem has been preliminarily solved.
But there is one small problem,

``This step``

[code]

[code]

[code]

[code]

[2021-11-01 06:49] 0dragosh commented on #968
If anyone encounters this with Traefik ingress controller deployed via Helm, here's the `values.yaml` to fix it, at least for `v10.6.0`:

[code]

[2021-11-01 07:54] sathieu commented on #7318
Done in #7249?

[2021-11-01 08:14] KlavsKlavsen commented on #7318
It would seem so - looking forward to that release :)

[2021-11-01 08:24] rajeshnair commented on #3709
+1

[2021-11-01 11:41] klamkma commented on #7436
Is there any workaround for this issue?

[2021-11-01 13:59] keithchong commented on #6989
<img width="381" alt="Usage" src="https://user-images.githubusercontent.com/7726022/139683502-9136d7af-cd92-45b8-94a9-69dacd080466.png">

[2021-11-01 14:18] marct83 opened #7588 "Moving to another instance of git"
Here's the situation. We are moving to another instance of git. We need to move our deployment project to this new instance. Once this is done we will need to update argo to use the new project. What I dont want to happen is argo rip everything down and redeploy everything.

What would be the cleanest way to do this?

[2021-11-01 14:57] chtourou-youssef commented on #4114
can you please share your configuration ?

[2021-11-01 15:02] edude03 commented on #5609
Would love to see this as well

[2021-11-01 15:17] alexec commented on #6989
Maybe take a look at [Kubecost](https://www.kubecost.com).

They surface these details, but as a user, I want to know where I can save the most money. I don't want to tweak a resource from 110m to 100m, but I would if it was from 1000m to 500m.

[2021-11-01 16:38] #7318 closed

[2021-11-01 18:30] #7275 closed

[2021-11-01 22:55] mike-serchenia commented on #7282
seems to be the problem is still there (

[code]

argocd version 2.1.6

[2021-11-02 01:00] mike-serchenia commented on #6013
looks like if used step by step
[code]
works ok

[2021-11-02 09:49] yuxintong-github commented on #7576
Anyone can help? 😶

[2021-11-02 10:08] RafPe commented on #677
I am also looking for this! Would make life so much easier when deploying applications which co-exist together!

[2021-11-02 10:39] philipp1992 opened #7594 "proxy in repository config not working at all"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Adding a helm or git repository with the proxy parameter will not work at all. Argocd-repo-server will still try to connect to the URL directly without using the proxy.

**To Reproduce*

[2021-11-02 11:35] herself opened #7596 "Add a confirmation dialog for deleting clusters in the UI"
# Summary

Currently you can delete clusters from the Web UI with a single click, without any confirmation.

# Motivation

Adding an "are you sure" dialog would be beneficial for such a destructive action. Currently a misclick on the "clusters" page can be disastrous in results.

# Proposal

Any way that requires the user to stop and think/move the mouse to a different place would solve this. An A

[2021-11-02 12:37] mosheavni commented on #5202
Same thing happens with aws-load-balancer-controller's mutating webhook that defines tls key, cert and CA:
https://github.com/aws/eks-charts/blob/f4be91b5ae4a2959e821940a77d50dd0424841c1/stable/aws-load-balancer-controller/templates/_helpers.tpl
It can't reuse the previously defined keys if it can't access the cluster, thus producing an Argo app that's always out of sync

[2021-11-02 12:37] pasha-codefresh commented on #7294
merged in https://github.com/argoproj/gitops-engine/pull/336

[2021-11-02 12:37] #7294 closed

[2021-11-02 13:01] DanielHajduk2-TomTom commented on #5882
Just run into the same issue. Cannot change spec of job despite using "Replace=true" syncOption...
What I expected it to do is to remove resource first and then create it again, completely skipping Kubernetes Spec validation issues.

[2021-11-02 14:04] generalpax opened #7600 "SSH SHA-256 key not accepted"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2021-11-02 14:37] leoluz commented on #5584
Just clarifying that the out-of-sync happens because the secret type is: `kubernetes.io/service-account-token`. This will automatically generate entries in the secret data with something like:

[code]

The bug was happening when ArgoCD applies the diff logic between the desired and live states and the former has the `data` field as nil.

[2021-11-02 15:31] #7561 closed

[2021-11-02 15:33] #7214 closed

[2021-11-02 15:48] #5590 closed

[2021-11-02 16:11] jannfis commented on #7600
Are you able to use the same key with your local Git client to access Git Hub?

[2021-11-02 16:26] paragones92 opened #7601 "SyncOperationRequest fails when there are SyncOperationResources defined"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-11-02 16:43] omgapuppy commented on #7588
- Turn off auto-sync of the given application
- Point to new git repo
- Examine diff if any
- Sync to new SHA (if tracking git)
- Re-enable auto-sync (if used)

As long as the templated resources match the cluster state, things should just work.

[2021-11-02 16:50] omgapuppy commented on #7575
Probably not the neatest solution, but a workaround could be using `PostSync` hooks with some logic of identifying the nuked app. This would only work if the app-of-apps pattern is used and the parent application contains the hook definition. Native functionality would be nice as it'd greatly reduce complexity.

[2021-11-02 17:40] renaudguerin commented on #5882
Hi @alexmt, is there anything else blocking this ?
Thanks!

[2021-11-02 18:38] #7596 closed

[2021-11-02 18:50] leoluz commented on #5584
There are 2 different bugs related to this issue:
1. Bug when ArgoCD was trying to diff a secret with empty data
2. Bug when Redis is restarted when it isn't running as a StatefulSet.

Bug #1 is addressed by https://github.com/argoproj/gitops-engine/pull/345
Bug #2 is a duplicate and will be addressed in https://github.com/argoproj/argo-cd/issues/5068

[2021-11-02 19:00] #5584 closed

[2021-11-02 20:33] Plus3IT-Azure commented on #2708
This solution worked for me. thanks

[2021-11-02 20:46] jessebye commented on #7406
@sunidhi121 possibly related: https://github.com/argoproj/argo-cd/issues/6108

[2021-11-02 21:14] morningspace commented on #7575
@omgapuppy Could you please share a bit more details on how the workaround works? I'd like to have a try before it can be natively supported :-) Thanks!

[2021-11-02 21:21] morningspace commented on #7575
Oh, are you saying that people may do the clean up work in hook in the next round of sync? Should it be the `PreSync` instead of `PostSync`? i.e.: to clean up before start the sync?

[2021-11-02 23:09] herself commented on #7596
That was quick, thanks!

[2021-11-02 23:50] trajakovic commented on #3181
I can confirm. This issue still exists to this date:
`{
    "Version": "v2.1.6+a346cf9",
    "BuildDate": "2021-10-28T19:59:40Z",
    "GitCommit": "a346cf933e10d872eae26bff8e58c5e7ac40db25",
    "GitTreeState": "clean",
    "GoVersion": "go1.16.5",
    "Compiler": "gc",
    "Platform": "linux/amd64",
    "KsonnetVersion": "v0.13.1",
    "KustomizeVersion": "v4.2.0 2021-06-30T22:49:26Z",
    "HelmV

[2021-11-03 01:12] IvanovOleg opened #7604 "Unable to create OCI helm application"
Checklist:

* [ X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
* [ X] I've pasted the output of `argocd version`.

**Describe the bug**

I am getting the `manifest does not contain a layer with mediatype application/tar+gzip` error each time I try to create a new application using ArgoCD web portal with helm OCI regis

[2021-11-03 01:15] IvanovOleg commented on #7604
I guess the reason of the issue is in the "**helm chart pull**" command that has been deprecated in favor of the "**helm pull**" command in the helm 3.7.

[2021-11-03 01:52] jsoref opened #7607 "po (pod) image is missing"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-03 02:49] jurgen-weber-deltatre opened #7608 "unable to upgrade a Cronjob batch/v1beta1 resource to batch/v1."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-03 02:55] jurgen-weber-deltatre opened #7609 "service resource not syncing when it has ipFamilies and related keys"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-03 04:56] elvis-cai commented on #6391
great to see this issue already opened before I start to raise an issue for getting orphan resource metrics, will keep an eye on this issue.

[2021-11-03 07:26] jannfis commented on #7600
I think this may be the reason: https://github.blog/2021-09-01-improving-git-protocol-security-github/

[2021-11-03 08:04] chetan-rns commented on #7607
@jsoref I think it's fixed by #7610

[2021-11-03 08:34] #7607 closed

[2021-11-03 11:23] pkrishnath commented on #3119
Still an issue on Openshift 4.6 and argo 2.0.5 when we set list of namespaces

[2021-11-03 11:24] jannfis commented on #7594
@chetan-rns Can you please have a look into this?

[2021-11-03 12:42] KlavsKlavsen commented on #7417
I see the same for 2.1.2

[2021-11-03 12:48] KlavsKlavsen commented on #7417
I've found that only fix, is to kill argocd-application-controller (sync stays in running for days) - and then I can sync and if often works the first time.

[2021-11-03 13:35] ruatag opened #7611 "ignores deployment containers env changes in live manifest"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD show no differencies if live deployment manifest changes: one or more environment variables added to container

**To Reproduce**

Sync deployment with ArgoCD then change live dep

[2021-11-03 14:49] brsolomon-deloitte opened #7612 "ArgoCD doesn't allow using int value as array element"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

int values as part of an array break shit and don't allow an app to be created at all.

Related to

- https://github.com/argoproj/argo-cd/issues/4428
- https://github.com/argoproj/argo-

[2021-11-03 14:50] gorantornqvist commented on #4487
Hi,
Any update?

"Possible solution to this: #6324"

I had trouble finding what the workaround is for making argocd not to track these extra resources created by openshift operators ...

Thanks ...

[2021-11-03 14:51] brsolomon-deloitte commented on #7612
Edit: it appears that the port needs double-quoted, `"33336"`, not single-quoted. I have no idea why that makes a difference here.

[2021-11-03 16:04] yehoshuadimarsky commented on #355
I have the exact same problem, I'm trying to use Argo to deploy the official Airflow Helm chart, and have the same issue where the containers wait forever for the database migration that never happens. Is there any solution?

[2021-11-03 18:34] jannfis commented on #3843
Hey folks, have you considered using `argocd.argoproj.io/hook: Sync` with a deletion policy of `HookFailed` (which I'd assume would not fire on a standard K8s resource)?

I think this could satisfy your use-case of a one-time sync.

[2021-11-03 18:40] yehoshuadimarsky commented on #355
I found the solutions in these PRs https://github.com/apache/airflow/pull/16291 and https://github.com/apache/airflow/pull/16331, they work!

[2021-11-03 18:49] Tjhayhay commented on #3843
The problem is that is still tries to apply the manifest everytime with the hook=sync/presync.  So in the event of a manifest like [this](https://github.com/ExpediaDotCom/kubernetes-sidecar-injector/blob/master/deployment/helm/templates/mutatingwebhook-template.yaml) I just want argo to apply this manifest once and then be done with it.

[2021-11-03 19:00] jessesuen commented on #7571
Changes probably needed here:
https://github.com/argoproj/argo-cd/blob/fe3cc7218caf18276dd6864198783c2ff7c9b064/util/db/cluster.go#L55-L79

[2021-11-03 19:11] jannfis commented on #3843
Ah yeah, you're right.

I believe a hook would be the right entity to solve this problem, tho - maybe a new hook option would make sense then. Something like an immutable hook, that doesn't get re-applied when the specific resource already exists in the cluster.

So this would become a true one-shot resource, with the implication that even when you change the resource in Git, it would not be re-ap

[2021-11-03 19:52] pixelsoccupied commented on #7571
Hi there, to reiterate -- if the user provides `https://kubernetes.default.svc` with `.spec.destination.server` or with cli `--dest-server https://kubernetes.default.svc` we would need to check need if there's a (new?) flag present before we proceed. If there's no flag just go on with the usual flow else log an error?

Could you talk a bit more about this flag/option to disable `https://kubernetes

[2021-11-03 21:07] lukpep opened #7615 "UI: Applications summary view wrongly reports cluster count"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

When on summary view number of clusters used is wrong if `spec.destination.name` is used instead of `spec.destination.server` when choosing on which cluster to deploy the application

[2021-11-03 23:04] jessesuen commented on #2789
For those eagerly awaiting this Argo CD feature, I want to offer/suggest an alternative approach which is possible to do **_today_**. And I would not even consider it a "workaround" since in many ways I find this approach preferable to creating apps from helm repos. In the following example, I will be showing how to deploy and modify `cert-manger` Helm chart. The full example can be seen [here](ht

[2021-11-04 04:52] #3811 closed

[2021-11-04 06:24] hamza3202 commented on #2936
Has there been any progress on this?

@jacobscunn07 How did you progress with this? I am in exactly the same situation as you

[2021-11-04 07:20] KlavsKlavsen commented on #2789
@jessesuen This is a very cool suggestion - and I will definetely test out if I can use this to template my values file - based on the content of a "central value file" in same repo.. I do however greatly NEED OCI support - as we do not have egress internet access from k8s cluster (for security purposes) - and in general it is sound to manage a central repo (and check what you put in there) - and

[2021-11-04 07:22] #3204 closed

[2021-11-04 07:43] oboukili commented on #2789
@jessesuen thanks! Do you know if helm hooks will be properly converted to ArgoCD hooks with this method?

[2021-11-04 07:51] landerz123 commented on #7604
I think it's done in #7249

[2021-11-04 10:39] m-yosefpor commented on #2789
@jessesuen Thanks. I've also come across to a similar solution with reviewing multiple issues and blogs. I think it would be really great if we could have this comment (with some other extra infos) in argocd docs.

However there are some extra notes that I wanted to share around this approach. This is very similar to proxy chart approach which is described in this issue comments; instead of a `hel

[2021-11-04 13:05] w4rgrum commented on #5882
Seems from the UI using force allows the sync of the Job to succeed (delete+recreate).
Is there a way to annotate resources to use "Force"?

The annotation below could be nice to have:
[code]

[2021-11-04 14:22] terrytangyuan commented on #7571
@pixelsoccupied This will be a new key in ArgoCD ConfigMap so you can update it on the fly as well.

[2021-11-04 15:21] terrytangyuan commented on #7571
I created a draft PR in #7620. Feel free to leave your feedback there.

[2021-11-04 15:33] #7527 closed

[2021-11-04 16:28] alexmt opened #7623 "Manifest post processors"
# Summary

Support post-processors that modify manifests generated by argocd-repo-server.

# Motivation

Postprocessors might solve the following use-cases:

* Injecting secrets. The https://github.com/IBM/argocd-vault-plugin/ implements secret injection. Currently, the project has to be used as a config management plugin which has a disadvantage: user no longer benefits from Helm/Kustomize first-

[2021-11-04 17:24] madhukiranbr commented on #5976
Any movement on this?

[2021-11-04 18:12] sumantripuraneni commented on #5976
+1

[2021-11-04 18:42] booleanbetrayal commented on #7230
Just a note that we just re-experienced this after updating to `v2.1.6` and re-enabling LFS support. Going to keep LFS support off for the timing being.

[2021-11-04 19:46] drekle commented on #6915
Same issue using GKE on k8s 1.20
[code]

[2021-11-04 22:29] seizadi opened #7627 "Support Mutating Manifest Container Image/Registry"
# Summary
We have several changes we make to the helm chart on the cluster to deal with container registry and image issues.
We make these changes on the cluster using [mutating hooks](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook). Specifically we use the following:
- [tugger](https://github.com/jainishshah17/tugger)
- [registry-creds](htt

[2021-11-05 01:17] jessesuen commented on #7541
With contour, I recommend terminating TLS at the pod. I think the problem is that contour doesn't like the different protocols (gRPC & HTTP) happening on the same port and gets confused even though the client is sending HTTP using the `--grpc-web` flag. You can use the following `HTTPProxy` using Contour's TLS passthrough feature to allow argocd to decrypt TLS:

[code]

In your argocd-server Deplo

[2021-11-05 02:59] manabusakai commented on #7282
I’m facing the same issue.

[code]

[2021-11-05 09:17] jannfis commented on #7627
Could that be handled with something as suggested in #7623?

[2021-11-05 09:20] jannfis commented on #7623
I do like this proposal. I feel manifest post-processors could be used for a variety of great use-cases.

This could also help image updater to provide a mechanism to update images in other types of applications than Kustomize or Helm.

If you submit an enhancement proposal for this, feel free to add me as sponsor :)

[2021-11-05 09:57] sathieu commented on #7604
@IvanovOleg Please try with the ghcr.io/argoproj/argocd:2.2.0-dc243800 image (or later).

[2021-11-05 11:21] ErikLundJensen commented on #6046
@knweiss always remember to install the CRDs before installing the chart as you don't what all your CR resources to be deleted when the CRD are deleted. This is not just ArgoCD but any CRD.

[2021-11-05 11:29] ErikLundJensen commented on #5464
When allowing the app-of-apps patterns (that is letting projects create Applications in ArgoCD namespace) then you open for a number of security risks. In a apps-of-apps setup the only way to protect your projects is really by installing additional ArgoCD instances as namespaces-argocd installations.

If you can do with one level of apps-of-apps then have a look at ApplicationSets where projects d

[2021-11-05 14:17] leoluz commented on #2925
There was a bug in the `argocd repo add` command that would return a misleading error message `existing repository spec is different; use upsert flag to force update` if the related secret was found in k8s without the proper label. This was addressed by https://github.com/argoproj/argo-cd/pull/7617 and now it will return a proper error message. For example:
[code]

@alexmt Do you think we can clos

[2021-11-05 14:35] bilbof opened #7629 "Discrepancy between "current sync status" and "last sync status""
# Summary

An ArgoCD Application has a "current sync status" and a "last sync result" which display commit SHAs that can differ.

It is not obvious why there would be a difference between these two SHAs (see below).

<img width="757" alt="Inconsistency between current sync status and last sync result" src="https://user-images.githubusercontent.com/8124374/140523592-ba864b0d-1fb1-4ce4-a4e0-4e6a79ab

[2021-11-05 14:54] robinhuiser commented on #4211
I had to update the `yarn install` command with:

`RUN for t in 1 2 3 4 5; do yarn install --network-timeout 1000000 && break || sleep 1; done`

...since it would just not finish the first time (I am building argocd using Concourse pipelines deployed on a Microk8s Raspberry pi cluster).

Problem was... first  time.. you do not have anything cached - hence (as many people are hitting the same issue

[2021-11-05 14:56] leoluz commented on #7369
@ArsenyBelorukov can you please confirm that when you create the repo via secret that you have the key `type` defined? I was able to reproduce the error with message `first path segment in URL cannot contain colon` if the secret doesn't have the  `type` attribute.

The `repository not found` error is returned by the git library that we use in ArgoCD. It seems that this repo is not reachable from w

[2021-11-05 15:24] seizadi commented on #7623
I think it is implied but just to be clear,  the changes also would be part of the logic to compare deployed manifest with Git Repo so that mutations are made before comparison. Also the API/UI would show The Git Repo, what is deployed and the changes made due to the mutations.

[2021-11-05 15:26] seizadi commented on #7627
Yes it would, I add one comment on requirement. We can close this Issue if we move that one forward.

[2021-11-05 20:46] leoluz commented on #2925
@siddana123 can you please check if in the secret associated with your repo the following label is defined?
[code]

[2021-11-05 20:49] alexmt opened #7636 "Support "filters" in Project allow/deny lists"
# Summary

Project allow/deny lists allows restricting resource group/kinds managed by the applications in the project. In addition to group/kinds admin should be able to specify resource level "filter" that allows filtering individual resources.

# Motivation

The allow/deny filters are required to solve the following use case:

The platform team provides Argo CD as a service to manage "addons" i

[2021-11-05 20:51] #7369 closed

[2021-11-06 15:47] ArieLevs opened #7637 "ArgoCD is ignoring Helm Release capabilities"
There is a similar issue https://github.com/argoproj/argo-cd/issues/7438 regarding same issue that has been closed.
Also seen a fix to the Helm capabilities in [2.2 milestone](https://github.com/argoproj/argo-cd/issues/7291), can it also include `Release` part?

**Describe the bug**

ArgoCD is ignoring `Release` [built-in objects](https://helm.sh/docs/chart_template_guide/builtin_objects/)

**To R

[2021-11-06 19:22] abdennour commented on #6062
@mballoni  you should upgrade to 2.1.6 at least

[2021-11-06 23:13] sagikazarmark opened #7638 "Support XDG Base directory standard"
# Summary

Currently the argocd CLI tool creates its config file in the home directory.
Use `$XDG_CONFIG_HOME` instead.

# Motivation

Keep the home directory free from clutter.

# Proposal

Support the XDG base directory standard.

Alternatively, introduce an environment variable (eg. `ARGOCD_CONFIG_HOME`) to allow users controlling the config file location without having to pass `--config` to ev

[2021-11-07 21:44] sasikala-ks opened #7645 "Argocd ignoring serviceaccount removal from a deployment"
**Describe the bug**

Argocd ignoring the change when the serviceaccountname is removed from the deployment.

**To Reproduce**
a) Apply this to the cluster using argocd.
[code]
b) Once it is synced, remove `serviceAccountName: nginx-sa` from the manifests, so that it will default service account by default.

**Expected behavior**

Once the argocd synced, the live manifests should not be having `se

[2021-11-07 22:05] jkroepke commented on #1364
For reference I wrote a documentation to integrate helm-secrets into ArgoCD. It's not longer necessary to seed the ArgoCD managed gpg agent.

Checkout: https://github.com/jkroepke/helm-secrets/blob/main/docs/ARGOCD.md

[2021-11-08 01:21] jessesuen commented on #7127
Here is what I found. Microsoft Azure AD is completely broken & non-compliant with regards to OIDC.

Here is an example of a JWT "distributed claims" returned by Azure using their "OIDC" endpoints, e.g.
`https://login.microsoftonline.com/11111111-1111-1111-1111-111111111111/v2.0`

[code]

Here are all the ways they are non-compliant that I have found:

**1. The client must **_not_** request the `g

[2021-11-08 01:43] jurgen-weber-deltatre commented on #7608
ok, so this one is partially my bad. I mis read the k8s upgrading docs, batch/v1 is not available in 1.20, hence these error.

but maybe we can handle it better?

[2021-11-08 07:17] OferPRTZ commented on #3709
+1 - surely is a pain

[2021-11-08 08:32] manivannan-g opened #7646 "UI: Include image tag in the deploy object"
# Summary

At times the users (especially Dev/QA) find it difficult to find which image/tag is deployed. So showing up which tag of the image is deployed would be helpful right next to the revision label `rev`

Example:
Highlighted the requested enhancement in yellow.
![image](https://user-images.githubusercontent.com/18187267/140708689-83969a36-d29d-4daa-8783-46499af3ee33.png)

# Motivation

Enab

[2021-11-08 08:52] DrPhil commented on #4440
This issue was duplicated by https://github.com/argoproj/argo-cd/issues/7360 and fixed in https://github.com/argoproj/argo-cd/pull/7362. This should probably be closed. (Not sure if the fix has been released yet?)

[2021-11-08 09:36] Sea-you opened #7647 "ArgoCD scalability challenges"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Recently as we have added a new cluster, and the number of non-ArgoCD managed apps started to grow, we are experiencing instability.

Our use case is quite special as on each cluster we

[2021-11-08 10:51] AbhinayGupta741 commented on #2424
This works for us. We are trying to give default admin permission to the specific user and some particular permission to the group of people in Github Teams
SSO: Github

    # Grant all members of 'my-org:team-beta' admins

    p, role:role-name, applications, create, */*, allow
    p, role:role-name, applications, update, */*, allow
    p, role:role-name, applications, sync, */*, allow
    p, rol

[2021-11-08 12:22] dirien commented on #6333
hi @jannfis, @alexmt and @reginapizza

add the flag and updated the docs:

![image](https://user-images.githubusercontent.com/38325136/140741139-52a5bd2f-b7c2-4c76-84df-9c5b3ac0d232.png)

Looking for feedback

[2021-11-08 13:41] chetan-rns commented on #7594
Hi @philipp1992, I'm not able to reproduce the issue. I tried connecting the repository https://bakito.github.io/helm-charts using a proxy and it worked fine. Can you please check if your proxy is handling the requests as expected?

[2021-11-08 15:19] lzm0 opened #7648 "Failed to verify app state WQVEWYBeIO: EOF when trying to use GitHub SSO"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After logged in with GitHub SSO, the page shows
[code]
However, using incognito mode or clearing Argo CD site data would fix this issue.

**To Reproduce**

This is a rare issue and cann

[2021-11-08 15:56] keithchong commented on #6989
Hi Alex, perhaps integrating this with Kubecost could be a follow-on change? Here we have the individual pod stats.

<img width="423" alt="Screen Shot 2021-11-05 at 8 57 37 PM" src="https://user-images.githubusercontent.com/7726022/140773657-9bbe2e6e-de6f-47a6-8648-447eff9ff8e1.png">

<img width="471" alt="Screen Shot 2021-11-05 at 8 57 30 PM" src="https://user-images.githubusercontent.com/7726022

[2021-11-08 16:15] keithchong opened #7649 "Pod view memory size units should be binary based and not decimal based (eg Mi instead of MB)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

The memory that is shown in the pod, group by node view, shows the wrong units for memory.  They should be in binary units. I discovered this while working on https://github.com/argopro

[2021-11-08 17:50] IvanovOleg commented on #7604
@sathieu I tried ArgoCD v2.2.0+46fdb6f and got OCI app created

[2021-11-08 17:53] alexmt commented on #5293
The proposal was implemented by https://github.com/argoproj/argo-cd/pull/6585 . The enhanced UI/API support is tracked in https://github.com/argoproj/argo-cd/issues/5734

[2021-11-08 17:53] #5293 closed

[2021-11-08 19:25] BrianHicks commented on #7555
I noticed this happening too! To save future issue searchers some work: Argo CD 2.1.5 fails on the `ping` event, but works on a `push` event.

You can tell which was which by:

1. going to the GitHub UI
2. opening your webhook
3. opening the delivery history
4. opening an event
5. examining the `X-GitHub-Event` header

[2021-11-08 20:59] kioqueiroz commented on #5592
Same problem here, there are no 2 controllers. i applied the workaround suggested by @jochemvankessel , i just disabled the auto-sync on ArgoCD Application details and the pipeline finished.

[2021-11-08 21:12] redradrat opened #7655 "UI: Application resource tree does not show namespace-scope children of cluster-scope resources"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In case the parent resource is a cluster-scope resource, the resource graph **only** shows cluster-wide children (resources that contain the appropriate ownerReference). As per [Kuberne

[2021-11-08 22:26] jessesuen commented on #7127
I have a working PoC of the OIDC authentication flow working with special case handling of Azure:
https://github.com/jessesuen/argo-cd/tree/oidc-distributed-claims

Still missing:
1. a storage strategy of what to do with the distributed claims after they are fetched (e.g. cookie? redis? a new, merged JWT?)
2. multi-JWT auth processing in argo-cd API server
3. a cleaner way to deal with Azure AD /

[2021-11-08 22:46] wanghong230 commented on #7645
Have you tried the latest ArgoCD version? Do you see the same behavior?

[2021-11-09 00:05] jessesuen commented on #7637
I answer the question in the discussion: https://github.com/argoproj/argo-cd/discussions/7496#discussioncomment-1609267

The short answer we cannot achieve this unless Argo CD starts remembering lifecycle information about applications.

[2021-11-09 00:05] #7637 closed

[2021-11-09 00:12] jessesuen commented on #7645
How did you "remove" this? Did you do it out-of-band from kubectl apply / gitops?

[2021-11-09 00:21] jessesuen commented on #7623
Not sure I like this idea... It seems like we're straying into the business of config management but also validation/mutating webhooks, and will probably do a worse job of it. The Secrets use case seems difficult to achieve in a multi-tenant way.

What would post processors look like? Scripts that accept STDIN? patches?
Are we proposing for post-processing to happen at a global scope? project scop

[2021-11-09 00:22] jessesuen commented on #7638
Agree. Standards are good

[2021-11-09 00:28] jessesuen commented on #7655
Can you use a different example of kubernetes resources where this breaks, instead of Application? Applications don't really apply here because they live in the "control plane" cluster, and not the "managed" cluster. So there are no real children of an Argo CD application (i.e. there is no ownership back-reference to the resources an Application creates)

[2021-11-09 00:41] jessesuen commented on #7649
Here is an example payload we return to UI:

[code]

The requestedByApp is called by summing up `MilliValue()`:

[code]

Which is in decimal:

[code]

The UI in turn is calculating in decimal:

[code]

So unless I'm missing something, it seems to be working as expected.

[2021-11-09 00:44] jessesuen commented on #7648
Duplicate of https://github.com/argoproj/argo-cd/issues/5873

We plan to remove the redis requirement for login flow. After https://github.com/argoproj/argo-cd/issues/5873 is implemented this should no longer happen.

[2021-11-09 00:44] #7648 closed

[2021-11-09 01:05] jessesuen commented on #7647
I think you will need to start sharding your controller. Have you seen the docs on this?

https://github.com/argoproj/argo-cd/blob/43cba9cc0b30ae1f597771b8960ba9daed524a87/docs/operator-manual/high_availability.md#argocd-application-controller

[2021-11-09 01:10] jessesuen commented on #7646
The images used are already surfaced at an application level. See:

![image](https://user-images.githubusercontent.com/12677113/140842938-30fbae25-e816-48be-99c6-61ce694924be.png)

This suggestion can't really scale inside a tiny tree node box, especially when there are many sidecars and long image names.

[2021-11-09 01:10] #7646 closed

[2021-11-09 01:14] jessesuen commented on #7611
I believe you must have added/removed the env var out-of-band from kubectl apply / gitops (e.g. using the resource editor or `kubectl edit`), in which case we will not detect it as a diff since it will be treated like a defaulted field (similar to how we don't detect diffs on mutating webhooks that inject sidecars).

This is expected behavior.

[2021-11-09 01:14] #7611 closed

[2021-11-09 02:18] divya-prakash2 opened #7656 "ArgoCD dexserver configuration fails with ldapserver authentication"
Describe the bug
Need help in configuring argocd with ldap authentication

To Reproduce
argocd-cm has been edited to have the dex.config information as follows
dex.config: |-
connectors:
- type: ldap
name: myad.local
id: ldap
config:
# Ldap server address
host: 172.28.8.3:10389
insecureNoSSL: true
insecureSkipVerify: true
# Variable name stores ldap bindDN in argocd-secret
bindDN: ou=admin,dc=sdom

[2021-11-09 03:33] epg-mori-k opened #7657 "Instant update when receiving a webhook from GitLab does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

refresh when receiving a webhook from GitLab do not work.
It refreshes when it receives a webhook from GitHub.

**To Reproduce**

https://github.com/argoproj/argo-cd/tree/v2.1.6
https:/

[2021-11-09 06:41] ruatag commented on #7611
Can't understand how to compare completely different things like envs from deployment and webhooks injecting sidecars
If someone did ad-hoc change in the cluster an this is not detected this brokes GitOps approach itself as we can't understand what is the real configuration applied. In this way ArgoCD doesn't look better then kubectl apply
ignoreDifferences can be used for indirect changes we expe

[2021-11-09 09:30] hrsikesa commented on #5590
Looks like this Deny Windows issue is still active.
I did a workaround & its works fine for me, others can follow same approach for time being this bug is not resolved.
We can create 2 Sync window, 1 Allow Window & other Deny window.
In Allow Window, use these configuration **_schedule_** -> "* * * * *" & _**duration -> 24h**_. Basically enable Sync Allow Window for 24 hrs.
In Deny Window, specify

[2021-11-09 10:14] arosh opened #7660 "docs: --jsonnet-ext-str is unknown flag"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The docs say `--jsonnet-ext-str` can be used to inject external variables. But the correct flag name is `--jsonnet-ext-var-str`.

See https://github.com/argoproj/argo-cd/blob/2d029488ab

[2021-11-09 10:42] sasikala-ks commented on #7645
gitops. I removed it from a manifest file.

[2021-11-09 10:42] sasikala-ks commented on #7645
Not yet. will try and get back

[2021-11-09 10:45] LvffY commented on #7604
@sathieu I fall into the same error and I also confirm that **v2.2.0+46fdb6f** fix the issue

[2021-11-09 13:12] redradrat commented on #7655
It's not a argo Application, but my own custom CRD which just happens to also be called Application. But it's cluster-scoped. Not namespace-scoped. Unlike argo's Application.

[2021-11-09 13:19] redradrat commented on #7655
Maybe the rest payload helps to better clarify the resource kinds:
[code]

[2021-11-09 15:52] leoluz commented on #7656
Argo CD's externally facing base URL

All configurations to dex server is provided by the argocd-cm

This configuration should go in your LDAP provider

[2021-11-09 16:14] keithchong commented on #7649
Hey @jessesuen

We know that 32 MiB = 33.554432 MB

In the above example, the backend is sending 33554432000.

To convert from milli to bytes:
33554432000 * 10^-3 = 33554432
( eg. https://github.com/argoproj/argo-cd/blob/a3517d594ba96bccb680c11328bd7ed4a6095d9d/ui/src/app/applications/components/application-pod-view/pod-view.tsx#L428)

To convert this value in bytes to MB:
33554432 * 10^-6 = 33.55

[2021-11-09 16:22] jessesuen commented on #7611
You are right. We intend to work exactly like `kubectl apply`, because we use `kubectl apply` and we wish to match diffing behavior of `kubectl diff`.

Yes, because this is working exactly as designed.

[2021-11-09 16:32] christianAckman opened #7663 "Add timestamp for pod logs"
# Summary

I would like the ability to view timestamps for pod output in the logs viewer. Output would be similar to:
[code]

# Motivation

This feature would be helpful for debugging/correlating application errors.

# Proposal

Add a button with similar functionality as _**Show pod names**_ on the log viewer to toggle timestamps on/off.

It looks like [the timestamp data already exists](https://g

[2021-11-09 16:53] zonnie commented on #5107
@gzur I'm not sure I understand where you pass these values ? can you please elaborate ?

[2021-11-09 20:34] leoluz commented on #5590
@hrsikesa https://github.com/argoproj/argo-cd/pull/7517 is supposed to address this issue. The PR is merged but not released yet (its targeted to 2.2). Have you tested with the latest snapshot or with an older version?

[2021-11-09 22:16] l1990790120 opened #7667 "Unable to template helm charts with values.yaml or parameter"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-09 22:49] l1990790120 commented on #7667
i think it's probably similar to this: https://github.com/argoproj/argo-cd/issues/3961
I need to define root element if it's in dependency

[2021-11-09 22:53] l1990790120 commented on #3961
if it helps @parkee , i think the docs you are looking for is subchart: https://v2.helm.sh/docs/chart_template_guide/#subcharts-and-global-values

[2021-11-10 00:11] #7562 closed

[2021-11-10 01:19] RixTmobilender commented on #5958
@piotrjanik Do you have a working example with gcp-exec-creds you could share? I can't for the life of me get the execProvider working 😅.
I attempted to follow the steps in https://github.com/argoproj/argo-cd/discussions/6563 but I keep hitting the "**the server has asked for the client to provide credentials**" message.

My (jsonnet) configuration is as such:
[code]
and my pre-baked Dockerfile:
[

[2021-11-10 02:08] gzur commented on #5107
I don't have access to these manifests anymore but iirc, I added the command-line argument and environment variable through Helm `values.yaml`:

We were using the ArgoCD chart as a subchart (hence the `argocd:` root key in my example.

The actual configuration points are here:

[code]
https://github.com/argoproj/argo-helm/blob/a4b05b43e2f1d7257eb3ece723972dbb340a66ab/charts/argo-cd/values.yaml#L58

[2021-11-10 03:55] james-callahan opened #7669 "User-Agent missing version"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-10 08:26] yuxintong-github commented on #7576
Anyone can help? 😶

[2021-11-10 10:25] JimFran opened #7672 "Unable to connect argocd with Azure Git"
Hello,

After following the official info from argocd. I tried to connect argocd with Azure Git repo using a personal token access but i get an error:

[code]

I modified the argocd-rbac-cm so I can use argocd with Azure AD. The connection is working fine i can login using my azure credentials.

This is what I have in configmap in Kubernetes in argocd-rbac-cm file:

[code]

Logs from **argocd-serv

[2021-11-10 11:46] maartengo opened #7673 "Argo doesn't reload repo-creds secrets"
**Checklist:**

- [X] I've searched in the docs and FAQ for my answer: http://bit.ly/argocd-faq.
- [X] I've included steps to reproduce the bug.
- [X] I've pasted the output of argocd version.

**Describe the bug**
Changing the repository URL in the repository secret isn't recognized by ArgoCD until a reboot. We've only tested this with [Repository Credentials](https://argo-cd.readthedocs.io/en/st

[2021-11-10 11:52] raynix commented on #3124
@jsmcnair nice one. I followed your blog post and [got my tanka working as well](https://raynix.info/archives/4014). Thanks for sharing.

[2021-11-10 12:27] hrsikesa commented on #5590
@leoluz I used this v2.1.5

[2021-11-10 14:06] NargiT commented on #4045
amazing thx !

[2021-11-10 14:26] zonnie commented on #5107
This is my repo-server
[code]

And my controller
[code]

Still getting
[code]

Sad 😢

[2021-11-10 14:31] hamza3202 commented on #7502
Hitting the same issue as well. In my case, its an app of apps to manages a bunch of infrastructure related tools

[2021-11-10 14:52] jetersen commented on #7502
We you apps of app exclusively with lots of helm charting and sub charting, and our argocd atm is totally unusable 😅

[2021-11-10 14:57] calvinShan opened #7675 "certificate signed by un known authority"
Hello,

I have successfully installed argocd and added the repo by commande line.

Now, I want to create an application by this command line:

argocd app create rawmaterial-refom --dest-namespace argocd --dest-server https://kubernetes.default.svc --repo https://gitlab-ri.xxl.wans/FormulationCenter/xx/configurationkubernetes --path test/dev

FATA[0000] rpc error: code = InvalidArgument desc = appl

[2021-11-10 15:31] JanPokorny commented on #2530
The command provided by @alexec did not work for me, needs slight changes:

[code]

[2021-11-10 16:06] Uriende commented on #2789
I've been following the thread since also have an issue that is related but might be slightly different.

Currently we manage our services in an `app of apps` approach.
We have a central repo that holds all the application configuration and each service just references our generic chart and overwrites values.

Our current problem is that we have no "clean" way of handling overwrites for different

[2021-11-10 16:26] mayzhang2000 commented on #7675
From `--dest-server https://kubernetes.default.svc `, you are deploying your application to the cluster where ArgoCD resides. You need to do `argocd cluster add` with `--in-cluster` flag.

[2021-11-10 17:17] divya-prakash2 commented on #7656
@leoluz , Firstly thanks for your response

Does ArgoCD integration with LDAP Server need to have data.url parameter in configmap argocd-cm?
Do you see any issues with the dex.config added here ? Clicking in Ldap login is giving 503 service unavailable if data.url is provided to argocd base URL ? If .data.url is not provided , it keep redirecting the same login page .

  dex.config: |-
   connecto

[2021-11-10 18:29] jessesuen commented on #7672
Do your groups show up in: https://exampleargocd.com/user-info ?

[2021-11-10 18:41] JimFran commented on #7672
Yes seems that is there. However it only shows info about my username. My username is inside that group.

Username: xxx@test.com

Issuer: https://login.microsoftonline.com/xxx-94d0-4397-afba-xxx/v2.0

[2021-11-10 19:35] zonnie commented on #5107
Actually scratch that @kshamajain99 - @gzur solution seems to do the job...
ArgoCD did become a lot slower in "converging" the state...but it's working now...nothing becomes "Unknown" due to the `helm dep` thing...Any idea when will this be actually solved ? (i.e. when is `helm` 3.7 is going to be merged to ArgoCD)

[2021-11-10 19:45] KlavsKlavsen commented on #5107
Helm 3.7.1 is merged in argocd master and should be part of next release (2.1.7) https://github.com/argoproj/argo-cd/commit/2770c690a5597fcbab344cd2ad494c918472bdd1

[2021-11-10 19:53] KlavsKlavsen commented on #5107
@zonnie only fix I've found "until 2.1.7 hopefullyn solves it with Helm 3.7.1" - is to simply KILL all argocd repo pods - and that will flush the cache which causes the problem.
The same way I have to kill all application-controller pods when sync hangs forever (happens with kube-prometheus chart f.ex.)

[2021-11-10 19:57] KlavsKlavsen commented on #2789
@Uriende We do that with same pattern. Works fine. I simply have 2 values files.. one in my "common chart folder" - and one in the "per-cluster" folder - and following order I give them in - cluster values file wins over generic one.
We have a per-cluster folder where the "root" app per cluster points to - which points to the generic values file and the values file for the cluster in question.

My

[2021-11-10 19:57] gzur commented on #5107
The [fix](https://github.com/helm/helm/commit/4b23d0a25b15f990e5de9bc2e1e8cbd80de9243c) for the [underlying issue](https://github.com/helm/helm/pull/9889) was [released](https://github.com/helm/helm/releases/tag/v3.7.0) in `3.7.x` back September and has already been merged into Argo-CD:
 https://github.com/argoproj/argo-cd/blob/2770c690a5597fcbab344cd2ad494c918472bdd1/hack/tool-versions.sh#L12

Ar

[2021-11-10 20:08] leoluz commented on #7656
`data.url` is the public facing URL that points to your ArgoCD server. This needs to be accessible by your LDAP server.
One strange thing from your error message bellow is that I see the IP 172.28.8.9. I was expecting to have it defined with default value of the Dex service which would be `http://argocd-dex-server:5556`:
[code]
Are you reconfiguring the Dex server (`ARGOCD_SERVER_DEX_SERVER`) to p

[2021-11-10 20:30] zonnie commented on #5107
The below example, AFAIK, is `helm` v3 correct ?
`apiVersion: v2` is for `helm` 3 while `apiVersion: v1` is for `helm` 2 - correct ?
[code]

[2021-11-10 20:30] zonnie commented on #5107
@gzur ⬆️

[2021-11-10 20:31] zonnie commented on #5107
Doesn't work for me...it gets to the "crapped out" state pretty quickly - only @gzur solution mitigated the issue

[2021-11-10 21:07] jessesuen commented on #7672
This actually means that your IDP is **_not_** returning groups. Argo CD doesn't have a way to understand your username belongs to a group. It relies on Azure IDP to return group information as part of the JWT claims.

Please follow instructions here on how to enable group claims in Azure.
https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/microsoft/#azure-ad-app-registration

[2021-11-10 21:08] #7672 closed

[2021-11-10 21:20] trv-jsmith10 opened #7680 "Manual Sync issue due to revision caching duration"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

We have upgraded to v2.1.2 version of ArgoCD and observing an issue with Manual Sync. I am describing two use cases below.
Use Cases:
1.	Application is configured to a GitHub repository

[2021-11-10 21:25] ciiay commented on #2902
Hi @etopeter I'm going through least commented issues and found this old one, can you confirm if this is resolved now? If so we can close it, thank you!

[2021-11-10 21:27] jessesuen commented on #7655
Thanks for the explanation.

Yes it appears that we assume owners can only be in the namespace of the child resource. Here is the offending code:

`controller/cache/cache.go`:
[code]

I think the fix may that when we construct `ownerKey`, we need to first determine if `ownerGvk.Group`, `ownerRef.Kind` are cluster-scoped vs. namespace scoped and set it to empty string  or `r.Ref.Namespace` respecti

[2021-11-10 21:29] jessesuen commented on #7680
There were two fixes to caching in v2.1.3 and v2.1.6. I think they address this very issue. Could you update and try again?

[2021-11-10 21:29] jessesuen commented on #7680
https://github.com/argoproj/argo-cd/pull/7244

[2021-11-10 21:35] jessesuen commented on #7609
The ipFamilies feature is beta in K8s v1.21, which means it won't be enabled by default in v1.20 without some k8s API server flags.

So I believe you need to upgrade your K8s cluster to get this feature.

[2021-11-10 21:48] gzur commented on #5107
Correct.

I must admit that I am a bit surprised that https://github.com/helm/helm/pull/9889 did not resolve your issue. There were race-conditions in the previous code-path, which that fix has probably not addressed.

1. How many charts are you running?
2. And do these charts have any subcharts?
3. How is the connectivity to the Helm Repository hosting these charts?

The reason I ask is that at m

[2021-11-10 22:35] jessesuen commented on #7649
Ah, I missed the whole formatSize part of the implementation. You're right. To fix this, I agree we can switch the `const sizes` to return binary units.

[2021-11-10 22:38] jessesuen commented on #7675
Please see docs on how to configure TLS certificates:
https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/#self-signed-untrusted-tls-certificates

https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/#tls-client-certificates-for-https-repositories

[2021-11-10 22:38] #7675 closed

[2021-11-10 23:43] zonnie commented on #5107
So
1. When u say running you mean the entire ArgoCD application count? If so we have them in the 600+ area. If u mean the specific creation act - it's around 10 at that specific moment which we create.
2. If by that u mean app-of-apps than we do - our "tree" has 3 top level applications, in 2 of those we have around 10-20 argo applications. The last one is a single argo application.
3. Our charts

[2021-11-11 07:02] Ailsa-Wu opened #7682 "Application controller should export workqueue depth metrics"
# Summary

Application controller should export workqueue depth metrics

# Motivation

Queuing delay and queue length are important information to debug control plane performance in large scale applications(3k+).

We use one ArgoCD instance to manage about 3K applications. And the number is still increasing, followed by the performance downgrade, for example it would take more time to trigger the

[2021-11-11 07:43] chetan-rns commented on #5506
Fixed by #7126

[2021-11-11 07:43] #5506 closed

[2021-11-11 09:22] IbraheemAlSaady commented on #2789
There is a workaround I've been using for over two months and I didn't see any issues with it. the repo server pod clones the Git repo in the `/tmp` so I can actually point to that path directly like this:

[code]

Again, this is a workaround that's been working out for me for a while, sadly I had to follow that approach but I'm a bit desperate here. If you want to use that, use it carefully.

[2021-11-11 10:19] hilenko commented on #3039
+1

[2021-11-11 12:21] shortsn opened #7683 "sync errors when using jqPathExpressions (Diffing Customization)"
Hi,
unfortunately we are having trouble with the agro diff customization and did not find a working solution yet.

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

One of our Argo Deployments contains a CRD. That CRD includes certain

[2021-11-11 13:07] gzur commented on #5107
Yeah, I don't understand why I'm so inordinately invested in this issue 😂

One thing caught my eye though, @zonnie, [you wrote](https://github.com/argoproj/argo-cd/issues/5107#issuecomment-965265303):

That error string: `unable to move current charts to tmp dir` [got removed](https://github.com/helm/helm/commit/4b23d0a25b15f990e5de9bc2e1e8cbd80de9243c#diff-8157c4e80f3a8abb1dd88a83411502f7d02b91e1

[2021-11-11 13:37] JimFran opened #7684 "No matches for kind "ApplicationSet""
Hello,

I'm trying to deploy an ApplicationSet but getting this message (I tried to deploy it several times):

[code]

applicationset.yml file:

[code]

I also tried to install the application CRD, application-crd.yaml:

https://github.com/argoproj/argo-cd/blob/master/manifests/crds/application-crd.yaml

but seems that there is an error in the official yml file?

[code]
I have jq installed:

[code

[2021-11-11 13:41] thomathom commented on #3281
what was the solution?

[2021-11-11 13:43] redradrat commented on #7655
@jessesuen Thanks for digging up the propagation part. I'll try to carve out some time to take a look/shot at it. Thanks a lot!

[2021-11-11 13:49] cite opened #7685 "Support Generic Webhook for Internal Repositories"
# Summary

Argo CD should provide us with a way to receive notifications about custom, internal git repositories.

# Motivation

For security reasons, we have to mirror all of our GitHub org to an internal mirror, so all our git sources point to that internal mirror. With several thousand of applications, and the need to react more quickly than the default polling period, we should have a way to t

[2021-11-11 13:58] OllowainT commented on #3889
It would be nice if this bug will be fixed in the future. As it is still open since mid of last year I just want to say, that I experienced this strange behavior in v2.1.6 also.

[2021-11-11 15:13] divya-prakash2 commented on #7656
@leoluz
Whatever provided in .data.url is getting populated into the error which you pointed out
Failed to query provider "https://172.28.8.5/api/dex": 503 Service Unavailable:

172.28.8.5 is the public facing URL for ArgoCD server

Dex server logs doesnt show any error
lockmaker01:/opt/gateway/yaml # kubectl logs pod/argocd-dex-server-6d59765b55-m6bcm -n argocd
time="2021-11-10T09:56:45Z" level=i

[2021-11-11 15:24] Volkmire commented on #5839
@backjo, @jessesuen Are you sure this issue is fixed?

Using v2.1.6+a346cf9.
I'm playing around with ArgoCD atm, trying to figure out the ropes. I have an ingress `guestbook` map to the service `guestbook`.
Cluster-side ingress is working (I'm receiving reply from the service), but on network view it looks like this:
![image](https://user-images.githubusercontent.com/48139665/141323116-19575f0c-a2

[2021-11-11 15:51] m-yosefpor commented on #2789
@Uriende We had a similar use case which we needed to override some values for our different clusters, but only in a few apps not all of them, so to ignore those values we solved the issue with the following method:

[code]

in app of apps values.yaml:

[code]

So you can specify which applications have region specific or cluster specific value files. This is indeed not a general approach and you

[2021-11-11 16:24] backjo commented on #5839
@Volkmire the changes haven't landed in a release yet - they're only on master. I imagine they'll go out in 2.2? cc: @jessesuen

[2021-11-11 16:50] alexmt commented on #7682
Hello @Ailsa-Wu ,

The controller workqueue depth metric is already available. You might use the following query to get it: `sum(workqueue_depth{name=~"app_.*"})` .

However, the API response slowness is not related to the controller. It is possible that you are affected by this issue https://github.com/argoproj/argo-cd/issues/4296 . The issue has a fix already and will be available in v2.2-rc1 th

[2021-11-11 17:18] jessesuen commented on #7636
Some comments I raised from the contributors meeting today:

1. I was questioning the choice and syntax of using jq expressions as the mechanism to validate and to see if there was something more explicit or idiomatic Kubernetes YAML based (e.g. like Kyverno).

After looking at Kyverno syntax, I feel it will be too verbose for what we are trying to do:
https://kyverno.io/docs/writing-policies/vali

[2021-11-11 18:14] jessesuen commented on #5839
That's correct, this will be in v2.2. There is a v2.2.0-rc1 release candidate which is about to release if you want to try it out soon.

[2021-11-11 18:21] jessesuen commented on #7684
ApplicationSet is a separately maintained project from Argo CD and needs to be installed separately at the moment. Please follow instructions here https://github.com/argoproj-labs/applicationset.

[2021-11-11 18:21] #7684 closed

[2021-11-11 18:25] jessesuen commented on #7685
The reason for specific GitHub, GitLab, BitBucket, etc... integrations is because they have well-defined, documented payloads in which we know where to extract the relevant git URL. To support this feature request, we would need to allow Argo CD configuration of how to interpret bespoke payloads.

Since you mentioned that you have mirrors of github, what is the custom git provider are you using th

[2021-11-11 18:27] jessesuen commented on #7685
A second workaround is that instead of a Git webhook payload, your custom git provider could instead perform app refreshes of the affected apps. For example, list applications in a repo and calling refresh on each of them. This is in fact what Argo CD webhook is doing.

[2021-11-11 18:41] andrewm-aero opened #7688 "Feature Request: Alert user on non-printing characters in secrets"
# Summary

The server UI cluster viewer (https://argocd.example.com/settings/clusters/<server>) should alert the user if there are non-printing characters in any of the values retrieved from a secret.

# Motivation

My team spent a few hours debugging a misplaced newline in a server URL in a cluster secret. The issue was only discovered by using the browser request viewer to notice the "%0A" at th

[2021-11-11 19:09] Volkmire commented on #5839
Oh, I see. Sorry, didn't know you had such delay between integration and release.
Thanks for the info, will be waiting. :)

[2021-11-11 20:29] jessesuen opened #7689 "Impersonation of destination ServiceAccounts, Users, Groups"
# Summary

Kubernetes has the ability to impersonate ServiceAccounts, users, and groups as part of API requests:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/

Argo CD should provide a way for operators to configure service accounts, users, or groups in the destination clusters, and impersonate these identities when performing mutative Argo CD operations (sync, resource a

[2021-11-11 21:06] grahammather commented on #5813
This appears to be fixed in Kubernetes version 1.21, which google autopilot will install if you specify [Rapid]( https://cloud.google.com/kubernetes-engine/docs/release-notes) as your release channel. I tried to `argocd-autopilot repo bootstrap` on a 1.20 cluster and got the error listed in this issue. Recreated the cluster with the rapid release channel, tried again, and the error did not show up

[2021-11-11 22:16] nxf5025 commented on #2789
@jessesuen - Is it possible to use a private helm repository with this method?

[2021-11-11 22:35] #7541 closed

[2021-11-12 04:24] snuggie12 commented on #5532
Does any of this get fixed with the new focus on config management plugins?

Should I create a new issue for the global versioned options also not running?

[2021-11-12 08:17] Roshick opened #7691 "Allow Resource Hooks to target syncs of specific resources."
# Summary

It would be great to have a selector/filter annotation for resource hooks to only apply when resources with a certain name/label are synced.

# Motivation

A job that should run on config map syncs, a job that only needs to run when a deployment is synced, many use cases imo. Not sure if it fits into resource hooks or should rather be done by workflows.

# Proposal

An annotation on the

[2021-11-12 08:47] jannfis commented on #6709
This seems more like an issue with your cluster not being able to pull the Dex container. Is that issue meanwhile resolved?

[2021-11-12 09:05] jannfis commented on #7691
May I ask concrete use-cases behind this?

[2021-11-12 09:16] Roshick commented on #7691
Of course. In our case we have a renovatebot which is a job that runs based on a configmap, in which repositories are configured that should be checked for dependency updates. Now we have one configmap (and one job) for each team in our company, so whenever a configmap is changed/synced it should trigger the corresponding job instead of all jobs. Since these jobs share secrets and environment vari

[2021-11-12 09:30] cite commented on #7685
We'd indeed write our own code to create the webhook, so yes, mimicking GitHub would be an option (and looking at the source, it seems we can indeed get away with a tiny subset of fields.

My idea was inspired by the way that Jenkins handles [push notifications|https://plugins.jenkins.io/git/#push-notification-from-repository], it's basically enough to `curl http://yourserver/git/notifyCommit?url=

[2021-11-12 10:27] jannfis commented on #7689
Thanks for taking this forward, @jessesuen.

My personal opinion is, that implementing such a feature - along with other changes in how permissions are managed - would be a real benefit to users of Argo CD and help adopting Argo CD in organisations where there is a strong requirement for implementing least privilege concepts, along with a strong need for still being able to self-servicing everythi

[2021-11-12 11:49] jannfis commented on #7691
I'm not sure whether it would be a good idea to move the scope of hooks from application lifecycle to certain resource's lifecycle, to be honest. As you mentioned, to me this sounds more like a job for workflows than for resource hooks.

Although it may sound a little complex at first, I guess a combination of Argo CD (for syncing the ConfigMaps), Argo Workflows (for running the renovate jobs) and

[2021-11-12 11:50] jannfis commented on #7691
That being said, maybe there are also other opinions.

[2021-11-12 12:16] jannfis commented on #7685
I think the Jenkins way (e.g. just having a GET request to an endpoint and specifying the repository URL as a parameter) would certainly not be enough, since we also inspect the payload for paths/files that have changes in the commit (plus possibly some other things), in order to do selective refreshes of apps source from the same repository & target revision.

[2021-11-12 12:43] jannfis opened #7692 "Application controller should be more resilient to network latency or K8s API server hiccups"
# Summary

On network links with a very high latency, or which are very slow, sometimes a remote Kubernetes API drops the connection before a certain request (e.g. fetching remote resources, list of available APIs, etc) could be completed. This currently leads to comparison errors in the application or in aborting other operations (e.g. retrieving manifests using `argocd app manifests`). Effectual

[2021-11-12 13:40] jannfis commented on #7673
I think we do cache the repository secrets (like we do with the `argocd-secret`), but don't setup watches for the cache updates. This effectively never updates the credentials we initially loaded from the secret, until a restart of argocd-server or argocd-application-controller happens.

[2021-11-12 13:42] yuxintong-github commented on #7576
Pls help on this, thank you

[2021-11-12 13:45] jannfis commented on #7669
I agree, we could supply the version in the user agent.

[2021-11-12 13:53] jannfis commented on #7657
Having several dozens of applications sourced from gitlab.com and using webhooks for refreshing the applications, I can only say that it works for me.

If the refresh for your application(s) is not requested, it may have several other causes, for example:

* The push was made to another branch (i.e. doesn't match the application's `targetRevision`)
* The push contained only files outside of what y

[2021-11-12 13:57] jannfis commented on #7667
Yes, that's the way how Helm uses parameters with dependencies.

If you have an umbrella chart in Git, that has a dependency `foo`, parameters for this dependencies must be specified as `foo.parameter1` instead of just `parameter1`.

Can this bug then closed then (because it's obviously not a bug if above works)?

[2021-11-12 13:58] jannfis commented on #7656
Moving this to discussions, because it's obviously not a bug.

[2021-11-12 13:58] #7656 closed

[2021-11-12 14:32] sbose78 commented on #7673
Hi, Is this a regression or did this never work?

[2021-11-12 14:55] jannfis commented on #7673
It's dependent on how you define regression in this case :) The previous way of configuring the repositories, e.g. adding them into `argocd-secret` was auto-reloading. The new method is not. So in a way, it is a regression, yes.

[2021-11-12 16:37] sbose78 commented on #7673
Makes sense, we have an unbounded list of secrets to watch now :)

[2021-11-12 17:15] shibumi opened #7694 "Cannot sync same resource to multiple clusters"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-11-12 17:40] shibumi commented on #7694
Mhh this is interesting. I have removed the `releaseName: cert-manager` from the production Argo App.

Is it normal that the helm release name interferes with the argo application name this way? In my opinion Argo should not rely on Helm or kubernetes instance labels and should use it's own labels instead.

[2021-11-12 17:59] alexmt commented on #7694
Hello @shibumi , this is a known issue. Argo CD uses `app.kubernetes.io/instance` label to track managed resources and Helm charts often use the same label. In v2.2 another way of tracking had been introduced: https://argo-cd.readthedocs.io/en/latest/user-guide/resource_tracking/#additional-tracking-methods-via-an-annotation . The feature is available in [v2.2-rc1](https://github.com/argoproj/argo

[2021-11-12 18:45] alekonko commented on #7436
hi i'm following same similar issue.

In my case I have problems using a private helm repository hosted by JFrog Artifactory, I have no problems using an instance of nexus or with a public repo (these however do not require authentication)

I have tried on different versions of argocd, from 2.0.0 to 2.1.6.

By doing several tests and I verified that the reposerver, according to the different "depe

[2021-11-12 19:49] alexmt commented on #7683
Hello @shortsn , can you please check if you have two controllers running in argocd namespace? This could've happened after upgrading to argocd v2.0 when controller switch to StatefulSet from Deployment.

[2021-11-12 20:28] alexmt commented on #7673
I'm pretty sure we still have auto-reloading. Probably there is an edge case related to whitespace. Trying to reproduce

[2021-11-12 20:59] alexmt commented on #7673
I was able to reproduce the issue. It is a day zero bug related to the whitespace in git repo URL. Repo server creates temp directory for "normalized" URL that already HTTP encodes whitespace characters but uses original URL for the remote

https://github.com/argoproj/argo-cd/blob/3c874ae065c14102003d041d76d4a337abd72f1e/util/git/client.go#L139

As a result after switching URL to `https://dev.azur

[2021-11-12 21:00] alexmt commented on #7673
But good thing it is not a regression :)

[2021-11-12 21:11] pbecotte commented on #3698
The helm generator in kustomize has a drastic weakness- there's no way to use kustomize patch files against the values.yaml. So I wind up with a huge copy-pasta values.yaml file in every overlay. If you don't need that, its pretty great- but am in the process of moving my test project back to native helm because of the problem. Would love post renderers.

[2021-11-12 21:41] seizadi commented on #7623
I consider mutating web hooks being part of configuration management, and changes made by them should indicate the desired state. There are some examples of our use cases for using them here:
https://github.com/argoproj/argo-cd/issues/7627

I think post-processors should be written as plugins using the pattern in kubernetes. You can see a sample code for one of the web hooks we use here:
https://g

[2021-11-12 23:39] shibumi commented on #7694
@alexmt  this should fix my issue. v2.2 will be released soon?

[2021-11-12 23:47] Hampedude opened #7696 "257023"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-12 23:48] Hampedude commented on #7696
Paste the output from `argocd version` here.

[2021-11-13 00:02] mdreizin commented on #7282
@alexmt could you please re-open it? :)

[2021-11-13 01:12] #7696 closed

[2021-11-13 03:00] alexmt opened #7698 "Configurable download links on Help page"
# Summary

Argo CD image includes 3 binaries: linux, mac and window for x64 architecture.  The binaries can be downloaded by end-users using `download/argocd-linux-amd64` etc URLs. The URLs are discoverable using `/help` page.

Instead of pre-bundling all kinds of binaries, it is proposed to keep only linux amd64/arm (depends on image type) and remove mac/windows. Support configuring downloadable

[2021-11-13 06:24] HemanthMarella opened #7700 "Global secrets for 3rd party apps"
### Summary
When deploying 3rd party applications like Splunk, Datadog,logDNA etc or any other apps which has specific token to pass.
1. Current approach, when deploying those with helm charts,  placing sensitive info as variables and passing as flags while running the helm commands.
2. Or creating secret, and passing that secret in helm template to pick it. (or kind of similar).

Let's say, I wan

[2021-11-13 07:19] jessesuen commented on #2789
Just an update about this. The answer to the question of whether private repositories are supported is: **_yes it is supported_**, provided you also commit the extracted chart into git (the generated files after the `kustomize build`). The reason is, the helm authentication would have already happened when the helm chart was extracted. You do not need to give Argo CD Helm credentials using this te

[2021-11-13 08:43] tafkam commented on #2789
We are using ApplicationSets with git-generators pushing cluster-scoped variables (ie. clustername, ingress-domain, network-names) into helm parameters in the ArgoCD app, which is great to manage multiple clusters across several environments (ie. for testing new helm chart version on all development clusters before promoting the helm-chart version to all staging clusters).

Is there any way to pas

[2021-11-13 12:13] MrMYHuang commented on #4279
I fix this error with microk8s on Ubuntu 20.04 on WSL2 on Windows 11.
The document https://argo-cd.readthedocs.io/en/stable/getting_started/
said one requirement for Argo CD is: Have a kubeconfig file (default location is ~/.kube/config).
Thus, I generated one by `kubectl config view --minify > ~/.kube/config`
Then, I restarted WSL2: `wsl --shutdown` then `wsl`. (I am not sure if this step is requ

[2021-11-14 05:29] MrMYHuang commented on #4279
[Update]

I fix this error with microk8s on Ubuntu 20.04 on WSL2 on Windows 11.
Please try this: `microk8s enable dns && microk8s stop && microk8s start`
Then, please try to create an app with Argo CD again :)

[2021-11-15 00:34] jurgen-weber-deltatre commented on #7609
right, so it is a chart templating problem.

Thanks

[2021-11-15 00:34] #7609 closed

[2021-11-15 02:48] Ailsa-Wu commented on #7682
Hi @alexmt , thanks for your response. I have tried to get the metric by accessing the endpoint `http://localhost:8082/metrics` . But I could not find this metric `workqueue_depth`. If there was some issues?🧐
[code]

![image](https://user-images.githubusercontent.com/66725688/141714339-3bbb9737-f95f-4123-9e18-7cb9e0e9c061.png)

[2021-11-15 06:51] flypolarbear commented on #2890
I encountered the same problem in version 2.1.1. Did you solve it?

[2021-11-15 07:17] Spenhouet opened #7703 "Possibility to connect Argo CD to Bitbucket Cloud private workspace without creating a fake user?"
Since there wasn't any reply to my discussion post https://github.com/argoproj/argo-cd/discussions/7671, I guess that this is currently not implemented?

<div type='discussions-op-text'>

<sup>Originally posted by **Spenhouet** November 10, 2021</sup>
We have a company workspace in Bitbucket Cloud with many Git Repositories.
We want to give Argo access to these repositories without needing to crea

[2021-11-15 10:19] epg-mori-k commented on #7657
https://github.com/argoproj/argocd-example-apps
We have cloned the above repository for testing purposes.
I have confirmed that it works by specifying guestbook as the path and setting the load balancer to add or remove.
In addition, I've added --insecure option to argocd-server and set up frontend in ingress.
[code]

The target revision was checked by specifying HEAD branchs or master branchs.
It

[2021-11-15 10:59] scibol opened #7707 "How to export author of sync"
# Summary

I would like to export "who did what" in ArgoCD, e.g. User X synced application Y (or sub-application) at time Z

# Motivation

As audit trail, and to create metrics

# Proposal

Logs would be the best option

[2021-11-15 12:24] claudiuvintila commented on #4945
Hi! I have the same problem.
kubernetes server: v1.19.13
argocd chart: 3.12.1

<img width="1699" alt="Screenshot 2021-11-15 at 13 12 44" src="https://user-images.githubusercontent.com/2284316/141780106-56bbe1d2-d90c-47a2-8590-e0cc6c1eb675.png">

server:
  config:
    accounts.syl: login
  podLabels:
    app: argocd
  rbacConfig:
    policy.csv: |
      p, role:sr-d-all, applications, *, sr-d/*, al

[2021-11-15 17:10] dpiraud commented on #4047
+1 for this one

[2021-11-15 18:54] lwille opened #7711 "Process working directory not set for invocation of `kustomize build`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-15 21:30] jessesuen commented on #5282
Thanks for the updates. Closing

[2021-11-15 21:30] #5282 closed

[2021-11-15 21:38] jessesuen commented on #4047
I think we'll need help with the fix. If anyone wants to take a stab at it, the code which I think needs to be improved is here:

https://github.com/argoproj/argo-cd/blob/375e27bd7a01256f281b656d95932f3bd0480266/util/helm/index.go#L21-L58

[2021-11-16 02:30] sbose78 commented on #7689
I would plug that hole by doing a `SubjectAccessReview` to find out "if user John minimally has 'read' on Service Account foo"

[2021-11-16 05:07] l1990790120 commented on #7667
Yes. Closing the issue per @jannfis

[2021-11-16 05:07] #7667 closed

[2021-11-16 09:06] shortsn commented on #7683
🤯 you are totally right. There was a second application controller running. After purging and resyncing our argo installation everything seems to work now.

Thank you very much for helping that fast and sorry for the delayed feedback.

[2021-11-16 09:06] #7683 closed

[2021-11-16 11:11] LukeRobbo commented on #820
Just came across this issue whilst applying changes with large CRDs... if anyone else is having this issue there is now a flag you can use when syncing resources on argocd v2 or later to use replace instead of apply.

[2021-11-16 14:08] adrianbjordan opened #7716 "ArgoCD does not automatically synchronize with JFrog Artifactory, using helm charts"
Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I am conducting a Proof of Concept(POC) using ArgoCD, Artifactory and Helm.  Based on these requirements, I completed the following:

Created a Kubernetes namespace on the cluster, to

[2021-11-16 14:42] aprohorov-gd commented on #7198
It's not in release 'cause **Integration tests / Run end-to-end tests** failed?

[2021-11-16 15:09] abdennour opened #7717 "Extend Build Environment with 2 environment variables with ARGOCD_APP_PROJECT_NAME and ARGOCD_APP_PROJECT_DESCRIPTION"
# Summary

the repo server component should give a way to access 2 extra info alongside with the listed environment variables: https://argo-cd.readthedocs.io/en/stable/user-guide/build-environment/

These 2 extra info are:
- project name of app
- project description of that app

# Motivation

Resource with Kind Namespace or namely Kind openshift/Project can be more readable if it has description i

[2021-11-16 15:13] abdennour commented on #4733
NOTES.txt is my friend
While implementing helm charts for delivery teams, i  intentionally don't provide 2 documentations. I kept always NOTES.txt as my single source of documentation truth.

I would like to present it in argocd app

[2021-11-16 15:15] abdennour commented on #5225
@jessesuen  we need to shift-start linting/testing as pre-build step

[2021-11-16 17:07] ipomoealba opened #7718 "Be more precise warning message when adding new cluster"
# Summary

When we try to add a new cluster with the `argocd add cluster` command without the skip option, we will get a warning message as below.

[code]

In most cases, it's a kindly reminder.

However, if we apply the command with `--exec-command`, `--aws-cluster-name` or `--service-account`, which would not create the default service account, the message still appears.

# Motivation

I want to

[2021-11-16 18:55] NotAFile opened #7721 "Allow use of different context with CLI in core mode"
# Summary

Allow users to specify the context the argocd cli should use in core mode

# Motivation

The argocd CLI uses the `current-context` of the kubecfg in core mode. This means that it is only usable when the current context is in the argocd namespace, otherwise:

[code]

This means I need to often switch between the argocd and normal admin context.

# Proposal

Perhaps add some way of config

[2021-11-16 19:09] br95187 commented on #5592
I followed your suggestion here and it worked in v2.1.6.
Thanks!

[2021-11-16 20:41] jannfis opened #7723 "SSH connections to github.com stopped working with host key mismatch"
**Describe the bug**

On Nov. 16th, GitHub.com has made changes to their SSH endpoint that prevents Argo CD to connect to github.com repositories when using the SSH protocol. More details can be found here: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints

The error message observed is:

[code]

Determining the root cause is still under pr

[2021-11-16 20:59] paul-civitas commented on #7723
I added the host keys on my laptop thinking "I can connect to github should be fine" and that didn't fix it.

But this did, adding all the ones returned from a keyscan. Very strange.

[2021-11-16 21:02] tiagomeireles opened #7724 "Mergable inline helm values"
# Summary

I'd like to be able to merge inline helm values. Currently, `spec.sources.helm.values` is defined as a string which doesn't have this ability.

# Motivation

Using kustomize, I would like to have a base application with default values. Then patch cluster-specific values using overlays.

Take this example, today, I don't have a way to replace autoDiscovery.clusterName with a different va

[2021-11-16 21:03] joaopaulosr95 commented on #7723
Thank you so much @jannfis, it worked smoothly 😄

[2021-11-16 21:05] paul-civitas commented on #7723
Distressing that argoCD hardcoded in a DSA verification key like that.

[2021-11-16 21:07] paul-civitas commented on #7723
Rather than "adding the new keys" to argoCD how about implementing an actual ssh handshake process and flow?

[2021-11-16 21:32] Cicatrice commented on #7723
Thanks for this fix.

I don't know who is in charge of [argo-helm](https://github.com/argoproj/argo-helm) ; but this fix is to propagate here too https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/values.yaml#L1485

[2021-11-16 21:33] jsoref opened #7725 "ssh validation error should have more information"
# Summary

Provide details about what ssh connection failed and make it easier to act on this information

# Motivation

When #7723 happened, we got some very unhelpful messages:

![image](https://user-images.githubusercontent.com/2119212/142068511-82349256-b540-48de-b165-8efb469068a6.png)

TYPE | NAME | REPOSITORY | CONNECTION STATUS | ...
-|-|-|-|-
git| | git@github.com:... | ❌ Failed | ⋮
git| |

[2021-11-16 21:36] kenny-heyi commented on #7680
I also met same issue

[2021-11-16 22:02] Kampe commented on #7723
same issues for us

[2021-11-16 22:22] joshdk commented on #7723
I had to fix this earlier today, so wanted to share a fix.

## Remediation Steps

### 1. Create a file named `argocd-ssh-known-hosts-cm.yaml` with the following contents:

[code]

### 2. Apply the `argocd-ssh-known-hosts-cm.yaml` file:

[code]

### 3. Restart the `argocd-repo-server` pods:

[code]

---

Afterwards, things in the ArgoCD UI should update, and any "unknown" applications should sort t

[2021-11-16 22:45] keithchong commented on #7649
<img width="413" alt="WithFix" src="https://user-images.githubusercontent.com/7726022/142078330-da33522c-e153-4ab3-ac1f-b3d6fca97415.png">

[2021-11-16 22:56] StevenBarre commented on #7723
https://github.blog/2021-09-01-improving-git-protocol-security-github/#libgit2-and-other-git-clients

I believe that's why its having issues despite not using DSA.

[2021-11-16 23:03] iamnoah commented on #7723
@jannfis thanks for pining this and getting the information out so quickly. I also appreciate that Argo has done 99% of the administration work that we as users are ultimately responsible for here in maintaining our own installations, and that there is an easy workaround.

[2021-11-16 23:14] ruibinghao commented on #7723
Thanks for providing the quick workaround. This bailed us out from a 2-hour long troubleshooting session.

[2021-11-16 23:30] eytanhanig commented on #7723
Here's the Kustomize code.

The overlay file:
[code]

The kustomize.yaml to use the overlay (change filename/path and namespace as needed):
[code]

[2021-11-17 00:13] #7649 closed

[2021-11-17 00:24] tiagomeireles commented on #7724
Duplicate of #2936. Closing as I didn't find that before submitting.

[2021-11-17 00:24] #7724 closed

[2021-11-17 00:24] tiagomeireles commented on #2936
I'm also being burned by this. Is this something that the project would consider?

[2021-11-17 00:29] jessesuen commented on #7680
@alexmt this sounds like the same problem that was raised to us at KubeCon which I thought we fixed already. Is this another corner case?

[2021-11-17 00:43] jessesuen commented on #820
WARNING, you almost never want to couple `replace` with the `--force` **_especially_** as it pertains to CRDs. `kubectl replace --force` will delete the CRD, then create it. Deleting a CRD means all of the CR instances will be deleted as well, which is likely be devastating to your cluster.

The second problem with `replace` is that it will drop the `last-applied-configuration` annotation. `kubect

[2021-11-17 00:51] #7718 closed

[2021-11-17 00:57] jessesuen commented on #7716
You need to use wildcards to track semantic versions (e.g. `1.0.*`). See:

https://argo-cd.readthedocs.io/en/stable/user-guide/tracking_strategies/#helm

[2021-11-17 00:57] #7716 closed

[2021-11-17 01:00] jessesuen commented on #7707
We emit normal kubernetes events about this. We feel this is sufficient enough audit trails since long-term storage of these type of events would be out of scope for Argo CD. Also, I believe these events also already appear in logs as well.

[2021-11-17 01:00] #7707 closed

[2021-11-17 01:07] jessesuen commented on #7694
v2.2 has a release candidate which means it should be GA in the next 1-2 weeks. Closing this since the new tracking mechanism will be the preferred means of resource tracking and will no longer conflict with helm.

[2021-11-17 01:07] #7694 closed

[2021-11-17 01:25] joshdk commented on #7723
@eytanhanig another great way is to use a `configMapGenerator`.

Create a file named `ssh_known_hosts` with the following contents:

[code]

Then, reference it from a (existing) `kustomization.yaml` file:

[code]

[2021-11-17 07:46] josandstrom commented on #7723
Its Open Source, feel free to contribute. Kudos to the ArgoCD team for all great work and for a fix.

[2021-11-17 08:21] darkweaver87 commented on #7725
I added `ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl` which seems to be the new public key of github but I still have issues :-/

[2021-11-17 08:25] darkweaver87 commented on #7725
Adding this one also `ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=` fixed the issue :-)

[2021-11-17 09:25] Sea-you commented on #7647
Thanks @jessesuen I have seen the docs, although it wasn't entirely clear that it could help with these cases as well. I have sharded with 2 replicas for a while, and as you can see from the screenshot below, it's somewhat similar:

![image](https://user-images.githubusercontent.com/8708247/142173224-527bf645-5dcd-44be-b2bd-2205b44d39ff.png)

Then yesterday I increased to 3 replicas, and while it'

[2021-11-17 09:30] LukeRobbo commented on #820
Thanks @jessesuen, very valid point, I've only used this in some testing environments where the full on replacement of our CRDs isn't a big issue.

[2021-11-17 09:58] idrissneumann commented on #7723
Already logged here: https://github.com/argoproj/argo-helm/issues/1019
And fixed here: https://github.com/argoproj/argo-helm/issues/1018
And fixed 😄

[2021-11-17 10:16] jannfis commented on #7725
I agree that we must improve error reporting (and not only in this special place).

However, for some of the information we rely on third-party libraries (e.g. `go-git` and `x/crypto/ssh`) to provide us with the the details. Emitting the host name in the error message should be a quick fix, but getting details about the expected and received key material is something that we probably cannot solve

[2021-11-17 14:27] tech4242 commented on #7723
first of all thx for flagging this!

.. but kind of lost on this one:

1. added ssh-ed25519 to known hosts for github.com
2. restarted repo server
2. `argocd repocreds add git@github.com:xx/ --ssh-private-key-path ~/.ssh/argocd` works with an ssh-ed25519 key.
3. ` argocd repo add git@github.com:xx/xx-config --ssh-private-key-path ~/.ssh/argocd` fails with the handshake error

[2021-11-17 14:32] jsoref commented on #7725
I'll take whatever incremental bits I can get. For the rest, if people could file issues and cross link, that'd be great. I didn't have enough information from the error to even know where to file the rest of the bug 😦 .

[2021-11-17 14:48] empath-nirvana opened #7733 "Namespaced resources owned by clusterscoped resources don't show up in the UI."
* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

**Describe the bug**

Namespaced resources owned by clusterscoped resources don't show up in the UI.

**To Reproduce**

Sync a cluster scoped resource using argocd, then create a namespaced resource separately and ma

[2021-11-17 15:10] cyrilcros commented on #7723
Thank you so much for the fix. Can you please release a new version with it soon?

[2021-11-17 16:01] JimFran opened #7734 "ArgoCD AKS credentials in values.yml"
Hello,

I need to connect via ArgoCD Helm values.yml a couple of AKS clusters when deploying ArgoCD.

https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/values.yaml

**From the values.yml files I saw that it's possible to pass the AKS clusters credentials into the values:**

[code]
**and also when setting up the applications pass the cluster URL**

[code]

My questions are:

1. When

[2021-11-17 18:56] rodrigoaraujo1 opened #7736 "Host key mismatch"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2021-11-17 19:19] mabushey commented on #7736
We have this problem too. This redhat ticket from yesterday ( https://access.redhat.com/solutions/6517171 ) says:
`Issue: SSH from GitOps to github began failing after Github.com made changes to their SSH endpoint.`

[2021-11-17 19:25] brsolomon-deloitte commented on #7736
Related: https://github.com/argoproj/argo-cd/issues/7725

[2021-11-17 21:44] alexmt commented on #7723
Fixed by https://github.com/argoproj/argo-cd/pull/7722 . The fix is available in v2.1.7 release

[2021-11-17 21:44] #7723 closed

[2021-11-17 21:44] alexmt commented on #7725
Fixed by https://github.com/argoproj/argo-cd/pull/7722 . The fix is available in v2.1.7 release

[2021-11-17 21:44] alexmt commented on #7736
Fixed by https://github.com/argoproj/argo-cd/pull/7722 . The fix is available in v2.1.7 release

[2021-11-17 21:44] #7736 closed

[2021-11-17 21:46] jsoref commented on #7725
Err, this is *not* about the fact that github isn't working, it's about the error reporting for when any ssh server isn't working.

[2021-11-17 21:46] alexmt commented on #7733
Confirmed. Bug is reproducible in the latest argocd version (v2.2.0-rc1)

[2021-11-17 22:19] tekenstam commented on #7733
I saw the same issue when using KubeVela with Argo CD. KubeVela's `Application` CR creates a `ResourceTracker` which is cluster-scoped. Any resources that sets `ownerReferences` to the `ResourceTracker` will not be displayed in the Argo CD UI.

[2021-11-17 23:03] Gmanweb commented on #7703
+1

[2021-11-18 04:37] cnukwas commented on #6857
Any idea when this issue will be fixed?

[2021-11-18 08:36] JimFran opened #7738 "ApplicationSet not found in values.yml"
Hello,

I was thiking that "Additional applications" is similar to ApplicationSet so i can deploy different applications in different clusters. However I need to use just a single file ApplicationSet.yml

How can I use ApplicationSet in Values.yml files? I cannot see the option to add the application set file.

In case that I need to pass this fil, how can I do that?

Thank you in advance.

[2021-11-18 10:49] mayurwaghmode opened #7739 "Add support for ppc64le architecture"

[2021-11-18 10:54] tebaly opened #7740 "Disable amimations"
Hello.

https://medium.com/iporaitech/css-background-animation-avoiding-high-cpu-usage-58947ff50900

# Your running stripes are killing my processor

FIX this **BUG** or or provide an option to disable animation in the settings.

![Screenshot_20211118_144619 (2)](https://user-images.githubusercontent.com/9466814/142402285-a8e76bb1-7da6-484e-82fc-b5bf2212f268.png)

[2021-11-18 12:42] kamigerami opened #7741 "Allow setting in-cluster name on install"
# Summary

Allow for setting the in-cluster name during installation of argo-cd.

# Motivation

When bootstrapping argo using an appset that uses a git generator and having the folders named dev/stage/prod it can't create the applications due to the folder name not matching the cluster name.

# Proposal

For example a helm value during installation of argo that can set the in-cluster name to somet

[2021-11-18 13:29] jsoref commented on #7723
Fwiw, here's an issue for the upstream component: https://github.com/go-git/go-git/issues/411

[2021-11-18 14:25] Jojoooo1 opened #7743 "Can not load json as helm parameters with kustomize 4.1.3"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2021-11-18 16:26] ccremer commented on #7285
We're also affected by this using Kyverno.
We tried using the [ignoreDifferences](https://argo-cd.readthedocs.io/en/stable/user-guide/diffing/#application-level-configuration) spec but that _doesn't_ help unfortunately:
[code]
(also see http://jsonpatch.com/)

[2021-11-18 17:06] empath-nirvana commented on #7733
I'm interested in trying to fix this, does anyone know where the relevant code would be to get started?

[2021-11-18 17:58] alexmt commented on #7740
I think it is a duplicate of https://github.com/argoproj/argo-cd/issues/5982 . Let's keep one ticket. Thanks for the link - we might try to use `translateZ`!

[2021-11-18 17:58] #7740 closed

[2021-11-18 18:15] lamebear commented on #4508
Our use-case is similar but a little bit different. We still have the base and child repo, but our child repo references a specific branch or tag:

[code]

 Our CI constrains that production environments always use a tag, so the rollbacks are always deterministic. The issue comes into play with our development branches.

 What we do for development branches is create a branch in our kustomize base

[2021-11-18 18:52] reggie-k commented on #7211
I thought of a default behavior of showing logs as "allowed", and only those customers, who would want to hide the logs, will set it as "deny".
Does this help mitigating the breaking change issue?

[2021-11-18 19:43] fivesheep opened #7745 "argocd cli throws ssh handshake error on app sync"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-18 20:24] jannfis commented on #7745
Hi. In an upgrade scenario, you need to update the manifests as well, since they host keys are stored in the `argocd-known-hosts-cm` ConfigMap, not in the container image.

[2021-11-18 20:40] jannfis commented on #7745
Oh. Sorry, I misunderstood the problem. Sorry, my fault.

@alexmt This is actually about `core` feature not having access to the known hosts.

[2021-11-18 21:04] alexmt commented on #7745
Thank you for pointing this out @jannfis ! Now I've realized this is a duplicate of https://github.com/argoproj/argo-cd/issues/7565 .  @ishitasequeira started working on PR https://github.com/argoproj/argo-cd/pull/5832 that fixes it . PR looks pretty close to completion!

[2021-11-18 21:04] #7745 closed

[2021-11-18 22:44] keithchong commented on #6989
Latest screenshots with PR:

<img width="365" alt="sync-waves-backend-pod" src="https://user-images.githubusercontent.com/7726022/142508474-dcc6dadb-5427-438b-9b0f-7d2d5c12ca75.png">

<img width="362" alt="sync-waves-frontend-pod" src="https://user-images.githubusercontent.com/7726022/142508477-3290d2ab-4fab-4cf4-b0ea-dd0dd5cf9f48.png">

<img width="346" alt="sync-waves-memory-requests" src="https

[2021-11-19 00:15] alexmt commented on #6108
Discovered that high CPU is caused by expensive method that is used only when orphaned resources are enabled:

https://github.com/argoproj/argo-cd/blob/a408e299ffa743213df3aa9135bf7945644ec936/controller/appcontroller.go#L248

The `getAppProj` method implementation had been improved and uses significantly less CPU in v2.2.0-rc1.

@jessebye , @Aenima4six2  , @agrevtcev could you try v2.2.0-rc1 plea

[2021-11-19 01:11] jessebye commented on #6108
@alexmt just updated one of our clusters from 2.1.0 to 2.2.0-rc1. The CPU usage has not gone down significantly. We have orphaned resources disabled.

The logs are still filled with many level 0 refreshes every second, even though I'm not aware of any changes happening to the underlying resources.

[2021-11-19 06:31] John-Lin commented on #6741
same here v2.1.7

[code]

[2021-11-19 06:32] fivesheep opened #7752 "argocd cli intermittent panic during app sync"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-11-19 06:54] zmx commented on #7333
We have also hit this. And may be related to https://github.com/argoproj/argo-cd/issues/6129

[2021-11-19 10:53] ckazimie commented on #3280
I see the same error even in argocd 2.1.6

[2021-11-19 12:46] jannfis commented on #7211
By default, we deny all (sub-) resources and they would have to be explicitly allowed. When we change the behavior to default allow only to this particular resource, imho this would be utterly confusing.

In yesterday's community meeting, we discussed having a global flag to disable the RBAC enforcement on logs resource, so that people can set it when upgrading and don't have to care about RBAC ru

[2021-11-19 12:47] jannfis commented on #7211
I also think that the title of this issue and the details should be adapted to reflect that this is not a UI-only change and that we're gonna introduce a new RBAC resource and enforcement in the API.

[2021-11-19 13:51] kelveden commented on #7736
For anyone who has arrived here trying to fix the same problem but via the official helm chart. (Currently the latest Argo version in the chart is 2.1.6.)

A workaround that worked for me was to add this to the helm manifest:

[code]

**IMPORTANT**: I've only added the two new `github.com` keys added in the fix #7722; so if you need access to hosts other than `github.com`, you'll need to add those

[2021-11-19 14:21] michaelajr commented on #5873
@jessesuen I noticed you are closing all the issues around `failed to verify app state` in anticipation of the encrypted cookie change. I notice this this issue is tagged as a 2.3 milestone. Any chance this can be back ported to 2.1 or upcoming 2.2?

[2021-11-19 15:05] terrytangyuan opened #7754 "Distribute more secure and lightweight docker images with docker-slim"
# Summary

What change needs making?

Switch to use docker-slim for image building. https://github.com/docker-slim/docker-slim

# Use Cases

When would you use this?

I liked the security part of it in particular. Here's what it claims:

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-11-19 20:54] alexmt commented on #6108
Thank you @jessebye ! I think orphaned resources are expected to cause a lot of level 0 refreshes but should not be expensive.

Do you use cluster sharding ? There is a possible bag that causes unnecessary CPU when controller is shared.
Another possibility is applications with cluster name instead of server URL. Can you please check if you have such apps?

[2021-11-19 21:01] jessebye commented on #6108
@alexmt we don't use sharding.

All of our applications have `server: https://kubernetes.default.svc`, is this the best approach?

[2021-11-19 22:53] cisco1115 opened #7756 "Unable to add SSH or HTTPS repos on AWS Hosted Gitlab"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-20 00:11] yeya24 commented on #4351
Hi @pasha-codefresh, have you started working on this issue? If not then I can work on it. Thanks.

[2021-11-20 05:09] cwstrommer opened #7757 "Failing to provide credentials for private OCI subchart repositories"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-11-20 08:44] morningspace commented on #6078
Seeing the same issue when I was trying to deploy/undeploy rook-ceph chart, CRDs not deleted although the Argo Application has gone. Understood that this is expected based on the above discussion history. Can it be settings turned off by default, for example, in `argocd-cm` ConfigMap, so that it gives people an option after they clearly know the risks and need to be enabled explicitly

[2021-11-20 10:02] jannfis commented on #7756
Hi there,

for Git URLs accessed via SSH, you will have to specify the correct username in the URL. Since you've given some details in the `https` URL, I am assuming that the user name for accessing Gitlab is `svc_argocd_onprem` and not `git`. Specifying a SSH key is also mandatory, I believe we should make a check in the CLI already instead of returning the (rather cryptic) error message from the

[2021-11-20 10:04] jannfis commented on #7757
As the error you are seeing is a cached one, can you please try a hard refresh of the application in question? E.g. `argocd app get <yourapp> --hard-refresh`?

[2021-11-20 10:28] jannfis commented on #7741
I feel this belongs to either `argo-helm` or `applicationset` repositories. We don't endorse Helm as an officially supported installation method, the charts are community maintained.

If you're using Kustomize for installation, you can include your cluster configurations as an additional resource to be installed.

[2021-11-20 10:31] jannfis commented on #7739
Closing as duplicate of #6442

[2021-11-20 10:31] #7739 closed

[2021-11-20 10:32] jannfis commented on #7738
Hi @JimFran,

I don't understand your request. Is it about Argo CD installation via Helm chart? If yes, please open an issue in the `argo-helm` repository.

[2021-11-20 15:08] cwstrommer commented on #7757
@jannfis Same result:

[code]

[2021-11-20 15:41] Ognian commented on #3041
I think I hit the same issue:
I'm deploying bitnami keycloak in k3s (on k3os). When deleting the app everything is got deleted except the pvc.
metadata.deletionTimestamp is NOT set on the pvc...

[2021-11-20 16:37] reggie-k commented on #7211
For the intermediate release then, shall I set a param named server.rbac.project.log.enforce with a "false" value in argocd-cmd-params-cm.yaml?

The motivation for such naming convention is to clearly denote resource nesting, in favor of possible new future (sub)-resources.

Should the param be also supported as an env on the server deployment for the sake of those who use the old configuration me

[2021-11-20 18:14] jannfis commented on #7211
I think `server.rbac.log.enforce` would be more appropriate, since it should apply to non-project RBAC as well (at enforcement time, we don't differentiate between a project scoped RBAC or a global one).

The way parameters in `argocd-cmd-params-cm.yaml` work is, that they are actually set as environment variables for the respective workloads. So, introducing a new parameter to the ConfigMap makes

[2021-11-20 21:42] cisco1115 commented on #7756
Hey @jannfis, thank you for the response.

I tried that, and I get this error now:
`Unable to connect SSH repository: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`

[2021-11-20 21:44] cisco1115 commented on #7756
Maybe there is something wrong with the installation... I get this error with the cli. I might just try a clean install.

[code]

[2021-11-20 21:45] cisco1115 commented on #7756
I am more than happy to send logs over if needed.

[2021-11-21 00:46] joebowbeer opened #7760 "core-install manifest references undefined argocd-server ServiceAccount"
**Describe the bug**

The core-install manifest includes a ClusterRoleBinding for an `argocd-server` ServiceAccount, but it does not define this service account:

https://github.com/argoproj/argo-cd/blob/master/manifests/core-install.yaml#L2729

Analysis: The extraneous ClusterRoleBinding for argocd-server originates here:

https://github.com/argoproj/argo-cd/blob/master/manifests/cluster-rbac/arg

[2021-11-21 09:34] pasha-codefresh commented on #4351
Hi @yeya24 , I'm completing another task right now and going to start work on this ( approximately going to start on Wednesday ).

[2021-11-21 09:41] Rahulsharma0810 commented on #4326
Facing same issue

[2021-11-21 10:14] eli-halych commented on #7546
@jessesuen You were right. I discovered the problem was the `url: https://argocd.example.com` that Argo would automatically bring back if I tried to change it. I had to change it in the source file to make it persistent.

[2021-11-21 12:49] donalddewulf opened #7761 "Tree view cut off"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The tree view is cut off, you can't see the root element. I have another cluster with 2.1.7 running and there the tree view is centered.

**To Reproduce**

**Expected behavior**

The tr

[2021-11-22 08:25] reggie-k commented on #7211
As for the intermediate release - what would be the path we follow?

### **A:**

- A default "false" hard coded value for the log rbac enf
- Release doc stating that in order to enable the rbac enforcement the param as "true" in the cm + relevant policies must be defined
- Full transparency for those who do not require this

### **B:**
- No hardcoded default value for the log rbac enf
-  Release d

[2021-11-22 11:38] aelbarkani commented on #5389
Hi!

Any progress on this proposal ?

ArgoCD currently needs cluster-wide read permissions to work. That can lead to a privilege escalation in a multi-tenant context. So imho these wide permissions shouldn't be necessary because some ArgoCD instance need only to read and write in specific namespaces.
In a multi-tenant and self-service context, each team has its own ArgoCD, provisioned through Argo

[2021-11-22 14:41] manuelottlik commented on #5068
I got that problem as well – updated to the latest argocd version, restarted the redis pod etc.. Nothing helped so far! Problem only occours on some applications, is not specific to one cluster... I'm kinda lost on this one.

[2021-11-22 17:21] vieirajluis opened #7766 "helm dependency build` failed exit status 1"
Hello,

We have ArgoCD v2.0.0+f5119c0, on a Azure Kubernetes Cluster
{
    "Version": "v2.0.0+f5119c0",
    "GitTreeState": "clean",
    "GoVersion": "go1.16",
    "Compiler": "gc",
    "Platform": "linux/amd64",
    "KsonnetVersion": "v0.13.1",
    "KustomizeVersion": "v3.9.4 2021-02-09T19:22:10Z",
    "HelmVersion": "v3.5.1+g32c2223",
    "KubectlVersion": "v0.20.4",
    "JsonnetVersion": "v0.17

[2021-11-22 17:36] #7761 closed

[2021-11-22 18:14] Manoj-07 commented on #884
Hi,
Could anyone please let me know how to resolve this error.

[2021-11-22 19:00] crenshaw-dev commented on #7351
Per discussion today, we shouldn't run the ApplicationSet controller in the same process as the Argo CD (application) controller, because we would have to make changes to mirror Argo CD's support for controller sharding.

Instead, we should add the ApplicationSet deployment to the Argo CD install manifests.

[2021-11-22 19:06] crenshaw-dev commented on #7351
Merge steps:
 - [ ] Move ApplicationSet repo to the argoproj org from the argoproj-labs org.
 - [ ] Add ApplicationSet install manifests to Argo CD install manifests (CRD, Deployment, supporting resources[?]).
      It's not immediately clear how this will be done. Will have to analyze the manifest generation tools for both projects.
 - [ ] Create ApplicationSet API (should this code live in the A

[2021-11-22 21:29] ocraviotto opened #7767 "IgnoreMissingValueFiles option to prevent passing non-existing valueFiles to helm template"
# Summary

This is a proposal to add a new application's `source.helm.ignoreMissingValueFiles` property so that when set to `true`, ArgoCD would not pass files in `valueFiles` to `helm template` if they don't exist in the source under the specified path.

# Motivation

We currently use the app-of-apps pattern with a root Helm app whose application `source.helm.valueFiles` lists a static `values.ya

[2021-11-22 21:37] cisco1115 commented on #7756
I got a new error, any help would be appreciated.
[code]

[2021-11-22 21:48] vieirajluis opened #7768 "helm dependency build` failed exit status 1"
### Describe the bug

Hello,

We have ArgoCD v2.0.0+f5119c0, on a Azure Kubernetes Cluster
{
"Version": "v2.0.0+f5119c0",
"GitTreeState": "clean",
"GoVersion": "go1.16",
"Compiler": "gc",
"Platform": "linux/amd64",
"KsonnetVersion": "v0.13.1",
"KustomizeVersion": "v3.9.4 2021-02-09T19:22:10Z",
"HelmVersion": "v3.5.1+g32c2223",
"KubectlVersion": "v0.20.4",
"JsonnetVersion": "v0.17.0"
}
There are ar

[2021-11-23 02:17] foxracle commented on #5107
I have the exact same issue - with argocd 2.2.0.rc1
I have tried every solutions mentioned above, they does not work at all.

after downgrade to v2.1.7 yesterday, it seems like that it can syced quickly now but error message like "helm repo add charts.helm.sh https://charts.helm.sh/stable` failed" appears once after downgrade.

all other error messages likes 'context deadline exceeded' or 'helm de

[2021-11-23 02:23] zonnie commented on #5107
@foxracle I have to say that @gzur solution worked for me.
I have quite a lot of Argo Applications (hundreds)...it used to be unusable, now I have no issues

[2021-11-23 03:17] foxracle commented on #5107
@zonnie I have tried these, I also try to flush all redis cache, but  nothing happened. I do not think it is a problem of load or resources lack of argo-repo-server or something else.

[code]

In fact, I have installed two argocd services in two different k8s cluster, one is v1.7.8 and manages two k8s cluster, one is v2.2.0.rc1 and manages one k8s cluster. they are all use the same git repo with 5

[2021-11-23 03:40] linuxhatto commented on #4114
@chtourou-youssef  my config worked:

apiVersion: v1
data:
  url: https://example.local # real domain https
  dex.config: |
    connectors:
    - type: ldap
      name: Ldap
      id: ldap
      config:
        # Ldap server address
        host: ldap.example.local:389
        insecureNoSSL: true
        insecureSkipVerify: true
        startTLS: false
        bindDN: "$bindDN"
        bindPW: "$b

[2021-11-23 05:07] qtheya commented on #5107
repo-server and `redis` pods ...

[2021-11-23 06:43] liangyuanpeng commented on #7766
Duplicate #7768

[2021-11-23 07:37] ocraviotto commented on #2789
@Uriende @m-yosefpor Created #7767 inspired by your conversation and my own needs. It won't resolve this issue but it will at least partially resolve a common problem you both seem to have faced. I'd appreciate your comments in the ticket too.

[2021-11-23 08:28] Uriende commented on #7767
This is exactly the solution that we would prefer. I originally also thought about giving the code a look but didn't find the time.
This indeed would solve our issue entirely.

[2021-11-23 10:38] devholic77 opened #7770 "Add diff command option for application path"
# Summary
I'm using ```argocd app diff ``` command for verify argocd manifest in jenkins pipeline.
I checked the [argocd app diff documentation](https://argo-cd.readthedocs.io/en/stable/user-guide/commands/argocd_app_diff/), but there is no option for diff the live state and a helm app using new values.

For example, this application is in live state.

[code]

when changed as follows, ```argocd ap

[2021-11-23 10:58] mayurwaghmode commented on #6442
Hi, @geoffrey-pascal! Can you let us know the changes required to make ArgoCD work on ppc64le architecture?
I tried to build the image from your repository but I am facing the below errors.
"[4/5] STEP 9/10: ARG BUILD_ALL_CLIS=true
[4/5] STEP 10/10: RUN if [ "$BUILD_ALL_CLIS" = "true" ] ; then     make BIN_NAME=argocd-darwin-amd64 GOOS=darwin argocd-all &&     make BIN_NAME=argocd-windows-amd64.ex

[2021-11-23 13:40] chetan-rns commented on #7766
Closing this issue since it's a duplicate of #7768

[2021-11-23 13:40] #7766 closed

[2021-11-23 13:41] geoffrey-pascal commented on #6442
@mayurwaghmode you need to turn off the build for other CPU architectures. You can add this argument to your docker build command or in the Makefile: ` --build-arg BUILD_ALL_CLIS="false"`

[2021-11-23 13:54] chetan-rns commented on #7760
I don't think Argo CD in core mode uses the argocd-server since it doesn't install the API server/UI. Maybe we could have a patch to exclude the argocd-server resources

[2021-11-23 14:00] keithchong commented on #7090
Hi @alexmt, @pasha-codefresh , when clicking on the views, eg. Tree, Node, or List view in the details page, then clicking Back button on the browser will bring you back to the Application List page.  Before, it would just go back to the different view page that you had visited. I thought that was helpful.

[2021-11-23 15:28] HariSekhon opened #7772 "ArgoCD Resource Limits for Kustomize install"
# Summary

I've been using Goldilocks and discovered that my ArgoCD kustomize installation doesn't have resource limits, and this is still the case in the latest stable version found here:

https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

# Motivation

Resource requests would improve cluster scheduling and potentially performance.

I appreciate it's hard to put a g

[2021-11-23 17:30] strangiato opened #7773 "Expose Health Check Code in UI"
# Summary

Make the health check code running on a specific object visible to the end user in the UI.

# Motivation

As an end user troubleshooting an issue with a health check it would be useful to see:
- Does this object have a health check?
- What the health check is doing?
- Is this a custom health check?

To view a health check today, a user must look up the health check in the GitHub repo.

[2021-11-23 22:43] justin-watkinson-sp commented on #5068
Ran into this today.  For some reason, in the ha-setup, the ha-proxy health check was only executing health checks against the svc for the server R0 and R1 for all checks, the R2 was skipped in all cases.

I had to cause a manual sentinel failover:

[code]

I ran this from the ha proxy box because I was checking connectivity anyways.  After sentinel selected and promoted a new redis master, the ch

[2021-11-24 00:01] justin-watkinson-sp commented on #5068
Back with logs:

[code]

config-init log:

[code]

Just the standard cluster-install with HA setup.

This came after a simple restart of the deployment of ha proxy.  You can see a long pause from where you see the check_if_redis_is_master_0 and check_if_redis_is_master_1 fail (which is correct, check_if_redis_is_master_2 was master).

It seemed to self resolve after the sentinel failover command f

[2021-11-24 01:45] itshaungmu opened #7774 "app create with --annotations argocd.argoproj.io/refresh=hard` annotations is not effect"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [√] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [√] I've included steps to reproduce the bug.
* [√

[2021-11-24 05:21] mayurwaghmode commented on #6442
Thanks, @geoffrey-pascal! It worked.

[2021-11-24 09:38] gfernandez1988 commented on #1989
we are experiencing this issue, traffic flows from the ingress to the svc but argocd shows them as disconnected
![imagen](https://user-images.githubusercontent.com/30290450/143212978-9d403811-00b2-4035-8bee-7f721e629187.png)
k8s version: 1.19.13
argocd version: v2.1.7+a408e29

[2021-11-24 12:56] ira-gordin-sap commented on #1797
Hi @alexec, not sure I understand why "wontfx" and I see many issues with it.

[2021-11-24 13:21] varesa commented on #4441
On ArgoCD v2.1.2+unknown (packaged by Red Hat as OpenShift GitOps) I got the following status/error message:
[code]
when I had forgotten to enable a deploy key on the git repository. It was actually this issue that I found via Google that made me realize my mistake

[2021-11-24 14:15] willemm commented on #3864
What if the git timeout is definitely caused by slowness not (directly) related to ArgoCD ?

To be more precise, what if the slowness is caused by rate limiting?  Then argocd will start retrying all the calls that are rate-limited for more than 15 seconds, thus hammering the git server with more and more requests, thereby indirectly causing the rate limiting to increase.

It would certainly be ver

[2021-11-24 15:03] keithchong opened #7776 "Add app list and details page specific views to navigation history (regression in behavior)"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I was selecting the various views in the details page and when I pressed the browser's Back button, it brought me back to the Application list page. Before, it would just switch back to

[2021-11-24 15:48] leoluz commented on #2913
After further discussion with @alexmt and @jessesuen we came up with the following proposal. Basically we agreed that there are two different new features related to this issue:

## 1. Leveraging `managedFields`
Using the `managedFields` structure to define which managers should have their fields preserved and never overwritten by the desired state (git) values. This provides a better user experie

[2021-11-24 16:26] mehdicopter commented on #4439
Any news on this issue ?

[2021-11-24 17:27] jajaislanina commented on #3118
Exhuming this one as i have same but opposite case.
My .gitmodules file is using `git@github.com:org/repo-name.git` format, yet ArgoCD is trying to fetch the repo using https and complains about the missing Username.
Parent repo is configured using ssh auth and template credentials are stored in argocd already.

[code]

[2021-11-24 17:52] achebel commented on #7429
Hello

Anyone has already faced this kind of issue.?

[2021-11-24 18:33] apicht opened #7778 "Add HSTS support to argocd-server"
# Summary

It should be possible to enable `argocd-server` to serve the `Strict-Transport-Security` HTTP header. Organizational compliance requirements are trending to include this configuration requirement.

# Motivation

Used when HTTPS is enabled. Aids in preventing man-in-the-middle attacks.

# Proposal

Argo Workflows' `argo server` includes a `--hsts` flag. This would be an acceptable approa

[2021-11-24 19:19] pasha-codefresh commented on #7752
Can`t reproduce this issue. Could you please add argocd version that you use. @fivesheep

[2021-11-24 20:09] pasha-codefresh commented on #7774
Annotation argocd.argoproj.io/refresh=hard uses for request application refresh and once it request controller remove this annotation, you can see it here in comment:

https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/application_annotations.go#L6

[2021-11-24 21:02] rgeraskin commented on #7335
Hi. I've updated to v2.2.0-rc1 expecting to get the new app annotation `argocd.argoproj.io/tracking-id`. But as I can see Argo CD still uses an `app.kubernetes.io/instance` label instead. Should I enable new annotation somewhere?

[2021-11-24 21:36] pasha-codefresh commented on #7335
hi @rgeraskin , you need change cm like this
https://argo-cd.readthedocs.io/en/latest/user-guide/resource_tracking/#choosing-a-tracking-method

[2021-11-24 22:05] #7645 closed

[2021-11-24 22:13] Coder63 commented on #5509
Running into same issue . Do we have fix for this one ? I'm from migrating from v1.7.8 -> v1.8.0

[2021-11-25 02:08] cwstrommer commented on #7757
Perhaps one clarification would be useful - is argocd supposed to log into all configured repositories before performing `helm dependency build`, or only the one matching `repoURL` in the application configuration?  My setup is expecting the former to be the case.  If it's the latter is there any native way to have argocd do the former, or will I have to go the custom tooling route (e.g. building

[2021-11-25 03:05] GuangTianLi opened #7780 "runtime error: invalid memory address or nil pointer dereference"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-11-25 06:42] itshaungmu commented on #7774
My application is deployed using helm. The tag of helm will not change, but the image will change. Argocd cannot automatically check the changes of helm. My original intention is that this application is forced to refresh every time. What do I need to do? . Furthermore, I also think that if this parameter is actively configured, it should not be a one-off.

[2021-11-25 08:04] pasha-codefresh commented on #7774
i understand what you need, i will check if it is possible. i think such function is missed today , I will take a look on it

[2021-11-25 09:32] Bengreen commented on #7436
we had a similar issue and found that some of the repositories were not installed correctly (they looked green on the repository view). So we removed those and then retried and that seemed to fix the alias issue.

[2021-11-25 10:48] rouke-broersma commented on #2267
@jessesuen this has recently become very relevant due to kube prometheus stack having too large CRDs for the last-applied-configuration field. We can currently not update kube prometheus stack with argocd because of this. This would be fixed with server-side apply iirc. See: https://github.com/prometheus-community/helm-charts/issues/1500

[2021-11-25 11:04] foxracle commented on #7768
I have the exact same issue - with the latest version, argocd 2.2.0.rc1 and argocd 2.1.7.

but not with v1.7.8.

[2021-11-25 13:16] AsjadLFC commented on #2226
@alexec @andloh I want to use docker compose as a deployment method. do we have a workaround?

[2021-11-25 14:36] vieirajluis commented on #7768
Hey, so you downgrade your version to fix the issue? Thanks

[2021-11-25 16:23] giskou commented on #7768
We had a similar issue.

We used the app of apps pattern.
One of the final charts had dependencies on charts on different helm repositories that where not whitelisted in the project.
Adding those helm repositories in the allow list of the project solved the issue.

Very misaddressing ....

[2021-11-25 17:38] keithchong commented on #7776
Hi @pasha-codefresh, I can take this.

[2021-11-25 17:42] keithchong commented on #7776
See https://github.com/argoproj/argo-ui/issues/164

[2021-11-25 22:39] redradrat commented on #7733
@empath-nirvana  we already started the discussion here :)
https://github.com/argoproj/argo-cd/issues/7655

[2021-11-26 01:18] EwdAger commented on #7774
sames here. its didn't work for my application. :cry:

[2021-11-26 01:29] foxracle commented on #7768
@vieirajluis  we tried to fix the issue by downgrading v2.2.0.rc1 to v2.1.7, but it did not work as expected. the problem is hard to be fixed because it is failed occasionally not every time.

the older version v1.7.8 that worked well always is the argocd that we used last year and did not upgraded.

@giskou
we also used the app of apps pattern. but we all dependencies charts are in the same git r

[2021-11-26 09:27] haandude commented on #2803
Any update on this?

[2021-11-26 10:15] naimo84 commented on #2677
Any updates on this? I'm trying to patch the targetRevision of an app.

As @Orenus said: curl, postman, nodejs... nothing is working.

[code]

I can't use the argocd-cli in my scenario, so what can i do?

[code]

[2021-11-26 10:33] reggie-k commented on #2803
I will not be able to work on this issue, sorry.

On Fri, Nov 26, 2021, 11:28 Jacob de Haan ***@***.***> wrote:

[2021-11-26 10:56] pasha-codefresh commented on #7774
@EwdAger @itshaungmu i have added ability define argocd.argoproj.io/refresh-type annotation, which actually mean default refresh type on application level. Waiting for review

[2021-11-26 10:58] tehho opened #7784 "Add the option for name or better the documentation regarding destination in project"
# Summary

What change you think needs making:
Add the option to point to a cluster with name instead of server url inside project.spec.destinations.
Can't find any docs if this is an option or see the option to add based on cluster name.
This is supported on app destination so should be the same for projects.

# Motivation

Please give examples of your use case, e.g. when would you use this.
We h

[2021-11-26 11:10] rdonkin-attest commented on #7723
For anyone who wants a heads-up of similar GitHub changes in future - visit https://github.blog/security.atom for security related changes, and follow in an Atom feed reader.  Or use a service such as https://blogtrottr.com/ to convert this into emails.

[2021-11-26 12:47] MatteoJoliveau opened #7786 "Cannot read SSO issuer from different secret"
Hello folks! I have an instance of ArgoCD that uses an external Dex (not the one bundled with ArgoCD) for SSO authentication. The Dex client configuration is stored in a Kubernetes Secret like this one:

[code]

The `argocd-cm` configmap references it like so:

[code]

I would expect ArgoCD to follow the reference to `$dex-argocd-credentials:issuerURL` and read the URL from there, instead it throw

[2021-11-26 13:13] JimFran opened #7787 "Namespaces issue in ArgoCD"
Hi Team,

I am deploying two applications that originally where in different namespaces through ArgoCD Helm. Also ArgoCD will manage itself specifying argocd as a third application.

However after applying my override values yml file, when ArgoCD is being Syncing the applications appear in the dashboard and later on disappear from the ArgoCD dashboard. Most probably because I am trying to deploy t

[2021-11-26 13:27] giskou commented on #7768
@foxracle not really.
I think logging around those errors should be more clear in argo.
Lot's of issues related to `helm dependency build` errors that are solved with various unrelated workarounds.

[2021-11-26 13:32] vieirajluis commented on #7768
Got it fixed by removing the repos from Argocd respos list on the UI and added it directly in the Charts
![image](https://user-images.githubusercontent.com/20665456/143588484-8b8442df-456b-4729-803d-9f2317efbbdf.png)

apiVersion: v2
description: A Helm chart for Kubernetes
name: springapp
version: 0.1.0

dependencies:
  - name: myaliasname
    repository: https://myrepourl
    version: 0.0.1

Than