[2022-10-05 03:07] alexmt opened #10793 "New sidebar icons are missing margin"
**Describe the bug**

New sidebar icons are missing margin. Strangly bug is reproducible only on production build

**To Reproduce**

1. Navigate to. https://cd.apps.argoproj.io

**Current behavior**

<img width="227" alt="image" src="https://user-images.githubusercontent.com/426437/193972166-bef74850-75f9-41b4-8237-d1bdc26eb467.png">

**Expected behavior**

<img width="232" alt="image" src="https:

[2022-10-05 04:22] #10793 closed

[2022-10-05 07:27] jacek-jablonski commented on #10779
Hi @todaywasawesome,
is it anything wrong with my config?

[2022-10-05 07:39] zoop-btc commented on #3039
+1 would be useful

[2022-10-05 07:52] abdennour commented on #9422
I do confirm . Issue appeared in OCP 4.11 which is based on kubernetes 1.24
I would say this is a bug in kubernetes.
Because I can see this behavior is broken with prometheus in openshift . i.e. `oc sa get-token prometheus-k8s -n openshift-monitoring` did not work as well.

So this means that parsing the token of an SA has been changed since k8s 1.24

[2022-10-05 08:18] rajeshnair commented on #10786
@crenshaw-dev

Do you mean is it ok to run `kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/2.4.13/manifests/install.yaml` on an existing 2.0.5 argocd with 80+ apps running on it?
Would that recreate the apps ?
If so, do we have to prepare for PVC recreation which can cause data loss ?
These are the things which are not clear for an argocd upgrade path

[2022-10-05 11:19] taisph opened #10797 "Dex 2.35.0 broke group handling in Google OIDC"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Any RBAC rules depending on groups no longer apply as groups are no longer available with dex 2.35.0. This has been fixed in dex 2.35.1. See https://github.com/dexidp/dex/issues/2694.

[2022-10-05 11:44] kamuridesu commented on #6000
up

[2022-10-05 12:32] llavaud opened #10798 "ApplicationSet leader election configmap appears as orphan resource"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The configmap generated by the ApplicationSet controller when leader election is enabled do not contains any tracking annotation or label, and so appears as an orphan resource.
I'm not

[2022-10-05 13:01] crenshaw-dev commented on #10070
What templating tool(s) need this? I believe Helm is powerful enough to handle the current disable mechanism. And the ApplicationSet controller isn't currently powerful enough to handle templating non-string fields (i.e. booleans like this one). So which templating tools are we solving this problem for?

[2022-10-05 13:04] crenshaw-dev commented on #10070
@alexec have the Workflows folks been happy with the decision to use `StringOrBoolean` fields to support templating? We could consider doing that to make this proposal work for ApplicationSets.

[2022-10-05 13:32] crenshaw-dev commented on #10786
Would that recreate the apps ?

So, the apps aren't going to go anywhere, unless you explicitly delete them.

If you're managing the Argo CD manifests manually (rather than via GitOps), it's important to consider whether you've made any manual changes to Argo CD resources which might be erased by a new `kubectl apply`. For example, if you've changed an env var value on the controller StatefulSet,

[2022-10-05 13:32] maartengo commented on #10070
Helm can indeed handle the part of `don't configure the property if you want it off`. But this isn't a templating problem. The problem is that there is a one-time disable mechanism; not setting the property. But that does not prevent users from enabling the property through the website. The disable isn't enforceable at this moment because Argo doesn't detect it as out-of-sync.
So long as I can use

[2022-10-05 13:38] crenshaw-dev commented on #10070
Ahh. Basically you need the parent App to control the auto-sync on/off mechanism (whatever it might be).

Is auto-syncing a parent app sufficient for your use case? Seems like there will be a moment of time where the child app's configuration is applied before the parent app's preference overrides it. Is that gap okay?

[2022-10-05 13:50] #10369 closed

[2022-10-05 13:50] KrustyHack commented on #10429
I got the same error here :

[code]

[code]

[2022-10-05 13:53] rajeshnair commented on #10786
I think now it makes more sense
`kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/2.4.13/manifests/install.yaml` would simply install the argoCD CRD. This I presume would trigger the redeployment of ArgoCD deployment/services/pods to the updated version.

BTW we use app-of-apps pattern , where all 83 apps are child of 1 single app. Hence it would be simple to turn off/

[2022-10-05 13:54] richardjennings-fc commented on #10070
This allows for an ApplicationSet generator to specify if AutoSync should be enabled on e.g. a Cluster basis. We are not able to control the structure of the yaml, e.g. `autosync: {}` using the templating available in an ApplicationSet. To disable it using configuration from a generator we need an explicit property such as `disabled: {{ autosyncDisabled }}`

[2022-10-05 14:34] CharlieR-o-o-t opened #10802 "OIDC login failed: invalid_client"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Non public oidc clients unable to login with sso, no *client_secret* provided during login session

**To Reproduce**
1) Create non public client_id at the side of OIDC
2) Try to login t

[2022-10-05 15:06] #10797 closed

[2022-10-05 16:14] alexec opened #10803 "Add copy button to user interface"
# Summary

In workflows, we added copy button to many places to make it easier to go to the CLI and do stuff:

<img width="505" alt="image" src="https://user-images.githubusercontent.com/1142830/194109751-5ae2ab7d-79b0-4c6e-a8ec-c61a5ff0748f.png">

I'd love to see this is Argo CD:

<img width="504" alt="image" src="https://user-images.githubusercontent.com/1142830/194109985-d34097ca-b919-4517-8412

[2022-10-05 16:17] hyei commented on #7430
This looks similar, if not the same as what we have been seeing happening every few syncs. We get the field is immutable error, with what looks like a failure to create the pre-sync hook, which simply sends a slack notification.

[2022-10-05 16:23] todaywasawesome commented on #3201
No longer an issue.

[2022-10-05 16:23] #3201 closed

[2022-10-05 16:23] alexec opened #10805 "Log viewer does not respect `kubectl.kubernetes.io/default-container` or `kubectl.kubernetes.io/default-logs-container`"
When either of these are specified, that should be the container default for logs.

#10624

[2022-10-05 16:27] #3263 closed

[2022-10-05 16:43] maheshbaliga commented on #10548
Hi @crenshaw-dev. Since `--resource` can be specified repeatedly, they currently act as OR conditions. The resource has to satisfy one of the filters.

Is the same behaviour expected with the inclusion of `!` too? If yes, `argocd app wait guestbook --resource '!*:Deployment:*' --resource '!*:Service:*'`, will wait for both Deployment & Service. Is this behaviour OK?

[2022-10-05 17:01] AlexandreODelisle opened #10807 "ArgoCD Application ressources being deployed in argocd namespace instead of defined namespace of destination"
**Describe the bug**

The ArgoCD application is being deployed ( k8s ressource ) on the argocd namespace instead of the namespace defined  in the `spec.destination.namespace`

**To Reproduce**

[code]
**Expected behavior**

The ArgoCD Application is being fully deployed in the defined destination namespace

**Version**

ArgoCD v2.4.3

I see that the version v2.5.0 will support a watcher for ArgoCD

[2022-10-05 17:08] jessesuen commented on #10807
By design, Applications are not supposed to live in the destination namespace, as the destination cluster may not even have Application CRs installed. The v2.5 feature to support applications in any namespace might address your use case, but it only works in the cluster that Argo CD is installed in, not remote clusters.

[2022-10-05 17:08] #10807 closed

[2022-10-05 17:25] crenshaw-dev commented on #10548
That seems like the most intuitive behavior to me.  :-)

[2022-10-05 17:28] AlexandreODelisle commented on #10807
@jessesuen, I do understand that the ArgoCD Application `applications.argoproj.io` needs to be in the `argocd` namespace.

Shouldn't ArgoCD be able to install resources in any namespace by defining the `spec.destination.namespace` . As an example, we got an other ArgoCD Application that was able to define secrets in the `default` namespace, but we the namespace hardcoded in the helm templates.

Sh

[2022-10-05 17:33] crenshaw-dev commented on #10805
This was supposed to have been done in https://github.com/argoproj/argo-cd/issues/8015. There might be a regression.

[2022-10-05 17:40] crenshaw-dev commented on #10805
Oh I guess I should have asked which version you saw this in. If 2.5, there's a regression. If earlier, this will be partially fixed in 2.5.0-rc1.

I don't think support has yet been added for `kubectl.kubernetes.io/default-logs-container`.

[2022-10-05 18:14] sathieu commented on #10456
Yes. This is documented here: https://docs.cilium.io/en/stable/configuration/argocd-issues/#argo-cd-deletes-customresourcedefinitions

Still, I don't understand why ArgoCD catches those resources. Maybe they copy the labels and annotations from the pods. Could this be a bug in how ArgoCD prunes?

[2022-10-05 18:16] alexec commented on #10805
I don't care much about `kubectl.kubernetes.io/default-logs-container`.

[2022-10-05 18:16] alexec commented on #10805
I'm running v2.4.

[2022-10-05 18:17] #10805 closed

[2022-10-05 18:48] alexec commented on #10486
[code]

[2022-10-05 18:49] alexec commented on #10486
That is too much info, I just want:

* When it was created, so I know if its was the image I created today.
* Command/entrypoint.
* Env/working dir.
* "More" which show the whole JSON.

[2022-10-05 18:57] crenshaw-dev commented on #10802
@CharlieR-o-o-t if I understand correctly, the fix would require allowing the `argocd login` command to accept and then send a `client_secret` to the OIDC provider. I'm not sure how that's generally done... config file, param, env var?

[2022-10-05 19:00] crenshaw-dev commented on #10786
That command will apply more than the Argo CD CRDs (I believe there are three of them - `Application`, `AppProject`, and `ApplicationSet`). It will apply everything in install.yaml (which you can download to inspect).

2.0.x is also un-maintained, and there are quite a few security fixes in the newer versions!  :-)

[2022-10-05 19:03] crenshaw-dev commented on #10486
We could potentially use the new proxy-ui-extensions feature to handle requests to the image registry (so the user doesn't have to auth with the registry directly).

[2022-10-05 19:36] ardasendur commented on #1476
We encountered same issue. Argocd-application-controller pod gives us bunch of "failed to watch {} start watch {}" loop . In addition to this , we can see the status of cluster state "never". Our argocd version is : v2.4.11+ and openshift version is 4.10.23.

[2022-10-05 19:48] crenshaw-dev opened #10810 "Admins should have full `applicationsets` permissions by default"
**Describe the bug**

Admin should have full permissions for `applicationsets` by default. But they do not.

**To Reproduce**

Logged in as admin

[code]

**Expected behavior**

The admin user should be able to get the applicationset.

**Version**

[code]

**Proposed fix**

Update the [builtin RBAC policy](https://github.com/argoproj/argo-cd/blob/master/assets/builtin-policy.csv) to give admin `ge

[2022-10-05 19:51] CharlieR-o-o-t commented on #10802
@crenshaw-dev , there is already method to gather oidc configuration from argocd, but for some reason clientSecret missing.
`https://github.com/argoproj/argo-cd/blob/master/pkg/apiclient/settings/settings.pb.go#L574`

so during "argo login" all necessary parameters forwarded to OIDC server, but no clientSecret.

[2022-10-05 20:08] #10763 closed

[2022-10-05 20:23] crenshaw-dev commented on #10802
@CharlieR-o-o-t I'm not sure the client secret _should_ be sent to the CLI from the API server. It seems to me that, if you want to log in to your OIDC provider as a confidential client, then you should hold that secret locally, where the CLI is installed.

[2022-10-05 20:24] alexef commented on #8548
The changes in #10641 fix this failing connectivity check for me.

[2022-10-05 20:46] doshianish8 commented on #4281
@crenshaw-dev Would love to work on this as part of hacktoberfest22

[2022-10-05 20:47] alexec commented on #10486
We could, but I think this is more of a core feature?

[2022-10-05 20:51] crenshaw-dev commented on #4281
@doshianish8 I might have actually been a bit optimistic adding the hacktoberfest label to this one. 😆 If you look at the proposal and feel up to it though, I'd be happy to help/review!

[2022-10-05 20:58] karengineering commented on #10810
I would like to work on this issue.

[2022-10-05 21:04] crenshaw-dev opened #10814 "Document the "application info" feature"
# Summary

There's an [undocumented field](https://github.com/argoproj/argo-cd/issues/4281#issuecomment-689133740) in the Application spec which allows folks to add additional info to an Application details page.

# Proposal

We could probably have a new page like the [one for external links](https://argo-cd.readthedocs.io/en/stable/user-guide/external-url/).

We should also document the field in

[2022-10-05 21:19] crenshaw-dev commented on #10486
I think if we see a bunch of interest in this feature, it'd make sense to write it as a core feature first.

If maybe not a flood of support, it could be a good _chance_ to test the limits of the new extensions features. Wouldn't be a requirement, but might make a nice POC and use case for later integrating an extension into core.

[2022-10-05 21:39] zachaller commented on #10802
Yea I don't like sending the secret to the client there are protections in place with public clients like only allowing redirects to localhost etc that make it somewhat more acceptable to need to send the client secret during the auth flow. Sending the secret for confidential clients allows it to be easily misconfigured as well as leaves a window of time for the secret to be compromised either via

[2022-10-05 22:07] thirunavukkarasu95 commented on #10803
I am interested in this, can i try this ?

[2022-10-05 23:14] crenshaw-dev commented on #10803
@thirunavukkarasu95 let me know if you need any help!

[2022-10-05 23:21] crenshaw-dev commented on #10070
As it's written, I'm not sure the proposal (or PR) would accomplish this, because the ApplicationSet controller is currently incapable of writing boolean values into a template. We could theoretically make this possible by either 1) modifying the ApplicationSet controller to write booleans or 2) making the `disabled` field a string instead of a boolean.

But either way, I'm not sure we're properly

[2022-10-06 00:02] crenshaw-dev commented on #10070
Ah! I see that your use case is different from @maartengo. You're using ApplicationSets to set different sync options for different apps, not as an enforcement mechanism. I think the current PR _almost_ gets you that. But we still gotta get the ApplicationSet controller to handle that field.

[2022-10-06 02:22] schakrad commented on #10424
@Hari, Could you please assign me this issue.

[2022-10-06 03:54] larsks commented on #3005
For other folks who find their way here, as I did, because you are using `kubectl port-forward` to expose two argocd instances on different ports on localhost (as was @johnmarcou in the original description), there's a better solution that mucking about with the API server root path.

This is true for Linux and *may* be true for other operating systems: any `127.*` address maps to the loopback int

[2022-10-06 06:27] iam-veeramalla opened #10821 "Update docs for Server-Side Apply to patch existing resources."
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [] I've pasted the output of `argocd version`.

**Describe the bug**
Server-Side Apply docs does not talk about patching of existing resources by turning off schema validation. For example, I have a deployment on the cluster that is **NOT** already managed

[2022-10-06 07:31] Aym3nTN commented on #10204
I can work on this one, can someone assign it to me?

[2022-10-06 08:07] denysvitali commented on #9809
We @swisscom have the same issue with a Kubernetes cluster based on VMware Tanzu `v1.21.9+vmware.1`.
Whoa.

[2022-10-06 08:13] mkilchhofer commented on #9809
Nice! Thanks for confirming that❤️.  We postponed the upgrade intent for Argo on Tanzu and wait for TKGI 1.16 in Q1 2023 🙄

[2022-10-06 09:22] denysvitali commented on #9809
Seems to be related to https://dev.gnupg.org/T2203 somehow:

[code]

[2022-10-06 09:37] LukasAuerbeck opened #10823 "Using oci:// prefix in repository errors with not valid chart error"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When trying to  declaratively deploy a repository that is prefixed with `oci://`, argocd/helm can't pull the chart and errors with:
[code]

There are also a few existing issues regardin

[2022-10-06 09:39] Ahmed-Elbdrawy commented on #9579
🤔🤔🤔 @

[2022-10-06 09:41] denysvitali commented on #9809
I'm getting closer to the issue I think:
https://lists.gnupg.org/pipermail/gnupg-users/2017-April/058158.html

### VMware Tanzu (`v1.21.9+vmware.1`)

[code]

[code]

### AWS (`v1.23.7-eks-7709a84`)

[code]

[code]

TL;DR: VMware Tanzu can't get more than a few bytes from `/dev/random`. Strange!
In any case, /dev/random shouldn't be used by GPG... but at this point I'm not sure.

[2022-10-06 10:11] baileydoestech commented on #10666
Try restarting everything BUT your redis container - failing that a few people have suggested that an empty secret may be causing the issue.

[2022-10-06 10:25] ivancavanaugh commented on #10200
We have the same issue. Version of ArgoCD is:
argocd: v2.4.11+unknown
  BuildDate: 2022-09-07T16:16:56Z
  GitCommit:
  GitTreeState: clean
  GoVersion: go1.18.4
  Compiler: gc
  Platform: linux/amd64
argocd-server: v2.4.11+unknown

[2022-10-06 10:55] denysvitali commented on #9809
And using the workaround proposed somewhere else of setting `ARGOCD_GPG_ENABLED=false` to most of the containers only shifts the problem: it seems that once you do that, #9888 happens.

There is probably something both GPG and git do, that for some reason on Ubuntu 16.04 / VMware Tanzu causes issues:

[code]
https://github.com/git/git/blob/v2.34.1/run-command.c#L1278

https://github.com/git/git/bl

[2022-10-06 10:58] maaft commented on #2753
Could you please elaborate where exactly you used the `--insecure` flag ?

[2022-10-06 11:34] CharlieR-o-o-t commented on #10802
@zachaller , now I got the point. There is no sense to add clientSecret to API server output since it's public endpoint, and it'll be the equivalent of public oidc client.

[2022-10-06 11:34] #10802 closed

[2022-10-06 12:23] 26tanishabanik commented on #10814
@crenshaw-dev , I would like to work on this issue

[2022-10-06 12:51] denysvitali commented on #9809
Downgrading `argocd-repo-server` (only this) to `v2.4.14` fixes the issue:

[code]

[2022-10-06 13:28] Gianluca755 opened #10827 "Broken link in docs RBAC page"
Hello people.

In the docs for RBAC in the [action section](https://argo-cd.readthedocs.io/en/stable/operator-manual/rbac/#the-action-action) there is a broken link about built-in resource customizations that references [github](https://github.com/argoproj/argo-cd/search?q=filename%3Aaction.lua+path%3Aresource_customizations).

[2022-10-06 14:32] #10821 closed

[2022-10-06 15:38] clementblaise opened #10830 "Get Cluster returns PermissionDenied for non-existing clusters"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Argocd API Get Cluster returns PermissionDenied for non-existing clusters

**To Reproduce**

[code]

**Expected behavior**

API should return not found

**Screenshots**

**Version**

[co

[2022-10-06 15:43] jvoeller opened #10831 "argocd-application-controller deletes server.secretkey"
**Describe the bug**

When Argocd manages itself and detects a drift the argocd-application-controller will sometimes replace the existing argocd-secret with an empty one. But it will not restart the argocd-server. This will immediately result in argocd no longer working due to a missing server.secretkey, which will only be generated at boot time.

**To Reproduce**

Set up argocd to manage itself.

[2022-10-06 15:44] todaywasawesome commented on #3000
Closing in favor of using argocd-extensions. https://github.com/argoproj-labs/argocd-extensions

[2022-10-06 15:44] #3000 closed

[2022-10-06 16:04] #10827 closed

[2022-10-06 16:15] Veluu opened #10832 "ApplicationSet: cannot fork() for ssh"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Using ArgoCD  `ApplicationSet`. Configured as follows:

[code]
It's been working fine. Today I just added another catalogue into `repository-with-k8s-manifests.git` and the application

[2022-10-06 18:05] crenshaw-dev commented on #8764
Failed to reproduce the issue in 2.2.14, reproduced it in 2.3.9.

[2022-10-06 18:06] #8764 closed

[2022-10-06 18:26] Veluu commented on #10832
@crenshaw-dev it was the very first time I encountered this problem and I know it was a long shot creating this issue.

It's a small environment so not much of an action really going on. Unfortunately I can't reproduce it now.

[2022-10-06 18:30] pjankovsky opened #10834 "Set default deletion propagation policy for all apps"
# Summary

I'd like to be able to set the default deletion propagation policy for all apps. Even better would be to set the default on a project or application level directly.

# Motivation

Some services we deploy are critical enough that we would like to default deletion propagation policy to "non-cascading". When removing those services, we'd rather remove them from ArgoCD first, then perform c

[2022-10-06 18:58] shuker85 commented on #9121
I guess we can close this as 2.5 is out

[2022-10-06 19:37] ragrag commented on #10204
i think this would be extremely useful and has lots of use-cases,
would be really nice to also expose the PR body especially after was merged https://github.com/argoproj/argo-cd/pull/10026, which would open the door for lots of template customisation capabilities

[2022-10-06 19:40] crenshaw-dev commented on #10157
1. Add the env var to this file: https://github.com/argoproj/argo-cd/blob/master/manifests/base/repo-server/argocd-repo-server-deployment.yaml
2. Document the configmap key here: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cmd-params-cm.yaml

[2022-10-06 19:52] doshianish8 commented on #10157
Thanks @crenshaw-dev for listing work for this ticket. I will start working on them.

[2022-10-06 20:19] sachintandon-nexla opened #10835 "Check Logs & Manage specific orphaned resources in Application by adding labels"
# Summary

Our application calls kubernetes api to spin up new pods and deployments on requests, thus those deployments cannot be managed using argocd . We want a way to manage those deployments / pods in it's own specific application as those are treated as orphaned resources probably by adding specific labels / annotations to those resources and a way to check the logs directly from the argocd u

[2022-10-06 21:09] onceinarow commented on #4344
this rootCA configuration value worked perfectly for me: https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#configuring-a-custom-root-ca-certificate-for-communicating-with-the-oidc-provider

[2022-10-06 22:45] crenshaw-dev opened #10836 "Be more specific about which `description` fields we remove from the ApplicationSet CRD"
# Summary

We should restore some `description` fields to the ApplicationSet CRD which were previously removed to minimize CRD size.

Based on Slack discussion: https://cloud-native.slack.com/archives/C020XM04CUW/p1665094798172779?thread_ts=1665077514.193619&cid=C020XM04CUW

# Motivation

From Matt on Slack:

https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#applications

[2022-10-07 02:35] robozb commented on #2953
Beautiful, this is worked at me, the main rows:

nginx.ingress.kubernetes.io/backend-protocol: HTTPS
name: https

[2022-10-07 04:52] sushmitha-malae commented on #10437
Interested in picking this up during the week if @monicadelaine  is not working on it.

[2022-10-07 06:33] Gianluca755 opened #10837 "ApplicationSets not displayed in UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
ApplicationsSet is not displayed in UI (Tiles), only the Applications that are created.
This makes the Applications respawn after deletion if auto-sync is enabled.
If an Application is m

[2022-10-07 10:44] tback opened #10841 "Github Login broken after upgrade to 2.5.0-rc1"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [] I've pasted the output of `argocd version`.

**Describe the bug**
I have an argocd installation (v2.4.14) installed via helm (v5.5.9). I am using the nginx ingress controller. I tried upgrading to v2.5.0-rc1 by setting `global.image.tag: v2.5.0-rc1`.
No

[2022-10-07 10:48] tback commented on #10841
Probably related to #9424 / #9883

[2022-10-07 11:10] tback commented on #10841
Found the fix: Add
[code]

I leaving this issue open, so someone can decide if this should be mentioned in the upgrade documentation / general documentation somewhere.

[2022-10-07 11:52] s7an-it opened #10843 "Labels set by ArgoCD longer than 63 chars don't get auto truncated"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Application name like example-cluster-example-namespace-service-example-xxxxx-xxxxxxxxxxxxx longer than 63 chars generates a label that will not be auto-truncated and kubernetes blocks

[2022-10-07 12:02] s7an-it commented on #10843
I have a lot of deployment with custom resources so https://github.com/argoproj/argo-cd/issues/10463 is a blocker to adopt different kind of tracking, only workaround is compress with abbreviations.

[2022-10-07 13:38] crenshaw-dev commented on #10841
I'm not sure how this is happening. The API server bases its http client config on the configured Dex URL.

The Dex URL is determined by two environment variables.

If `ARGOCD_SERVER_DEX_SERVER` is set, and the value contains `://`, then the schema in that string is used. If `ARGOCD_SERVER_DEX_SERVER` is not set, or it does not contain `://`, then a schema is prepended depending on the value of `A

[2022-10-07 13:55] rahul-mourya commented on #4044
I am also facing this issue with v2.4.12, although restarting the application controller statefulset seems to resolve it and could also be recreated consistently triggering the invalidation cluster cache sequence on application controller replica. Restarting/Deleting one of the two deployed argocd-server pod, would trigger the cluster cache invalidation and reinitialization in application controll

[2022-10-07 13:57] psimms-r7 commented on #10841
Seeing this too on an upgrade from 2.4.14 using the helm chart and not touching server.dex.server
Manual fix amending the argocd-cmd-params-cm configmap

[2022-10-07 13:57] crenshaw-dev opened #10848 "Automatically update the `stable` tag after a release"
**Describe the bug**

After a release on the current stable branch, we currently have to manually bump the tag. This results in folks not getting the latest manifests: https://github.com/argoproj/argo-cd/pull/10775#issuecomment-1271625320

**To Reproduce**

Do a release on the current stable minor release series and then note that the `stable` tag target does not change.

**Expected behavior**

Th

[2022-10-07 14:46] chicco785 commented on #5202
@13013SwagR how do you use this plugin inside a template for argocd? can you provide an example?

Thx

[2022-10-07 15:14] denysvitali commented on #9888
Doesn't work with:

- `v2.2.14`
- `v2.2.12`

Works with:

- `v2.2.5`
- `v2.2.9`
- `v2.2.11`

Therefore, something happened between v2.2.11 and v2.2.12

### v2.2.11

[code]

### v2.2.12

[code]

---

Given the issue with `fork`, the missing libpthread linking is a good source for investigation

[2022-10-07 15:26] jgwest commented on #10837
Hi @Gianluca755, this is a feature that is being tracked here: https://github.com/argoproj/argo-cd/issues/7352

[2022-10-07 15:59] crenshaw-dev commented on #10832
I'm gonna close this for now, and if someone finds a way to reproduce it (or if we just keep hearing about it and decide we need a retry), we'll re-open!

[2022-10-07 15:59] #10832 closed

[2022-10-07 16:04] denysvitali commented on #9888
Git cloning from `bitnami/git:2.30.2` works, same for `bitnami/git:2.34.1`

Both seems to be linked against `libpthread`, so this might be a distro issue:
[code]

[2022-10-07 16:07] denysvitali commented on #9888
Oh and btw, between v2.2.11 and v2.2.12 the ArgoCD base image was updated in 44d8cb8bedec9c9064a637a1d8ec039792085cca:

[code]

[2022-10-07 16:08] jgwest commented on #10831
@jvoeller do you have an example of how you are deploying Argo CD with Argo CD?

[2022-10-07 16:39] cscorley commented on #6880
We resolved this symptom on v2.4.12+41f54aa for Apps that had many Pods by adding a resource exclusion along these lines to our config map:

[code]

Prior to this, we would have pre-sync job hooks never completing in the ArgoCD UI, but would have actually be completed in Kubernetes.  Sometimes, invalidating the cluster cache would help Argo recognize the job was completed, but most of the time not

[2022-10-07 16:40] tback commented on #10841
thank you @crenshaw-dev, that works for me

[2022-10-07 16:45] denysvitali commented on #9888
With this minimal `Dockerfile` I've created a somehow reproducible environment:

[code]

`old-ubuntu-fix.sh`:

[code]

Using as `VERSION`s:
- `21.04`
- `22.04`

### `21.04`

[code]

### `22.04`

[code]

This effectively confirms that:

- The issue happens with a Docker Image based on Ubuntu 22.04 (when running on a `Ubuntu 16.04.7 LTS` / VMware Tanzu host?)
- The `git` binary without `libpthread`

[2022-10-07 17:02] #10841 closed

[2022-10-07 17:07] ameytotawar commented on #10050
I am working on this issue.

[2022-10-07 19:20] chalin opened #10850 "Support migration to Google Analytics 4 (GA4) - upgrade mkdocs-material to v7.1.8+"
- For the umbrella issue, see https://github.com/argoproj/argo-site/issues/102.
- As of the time of writing this, the docs are built from mkdocs-material==7.1.7 (for GA support of 7.1.7, see [here](https://github.com/squidfunk/mkdocs-material/blob/3d6cbc9d2918deb7ef7b37f7d3cbe708288c2f7a/docs/setup/setting-up-site-analytics.md)):
  https://github.com/argoproj/argo-cd/blob/90760a5088d0d1f965965b4f4

[2022-10-07 19:31] crenshaw-dev commented on #10622
@Aym3nTN I think I'd like to avoid changing the `branch_slug` parameter for two reasons:

1) people might rely on the current sluggification for certain use cases - even if they don't, changing the behavior in a patch release would be Surprising
2) I'd like to encourage folks to switch to using go-templated ApplicationSets, because it will help avoid future backwards-compatibility issues

You coul

[2022-10-07 19:53] chalin commented on #10850
SO question: [Write a search-and-replace filter in Google Analytics 4 (GA4)?](https://stackoverflow.com/questions/73991772/write-a-search-and-replace-filter-in-google-analytics-4-ga4)

[2022-10-07 19:53] nbjohnson opened #10851 "Dark mode appearance improvements"
# Summary

As part of the new amazing dark theme appearance in v2.5.0, I think there were a few spots that were missed as well as a couple nice to have configs that could be implemented.

# Motivation

Want to improve the user experience of the new dark theme before release.

# Proposal

1. There are a couple of areas in the dashboard that don't seem to use a dark background as they are still whit

[2022-10-07 19:59] crenshaw-dev commented on #10679
@dbaudracco on your PR, you proposed modifying [this function](https://github.com/argoproj/argo-cd/blob/43a9457edeff28d0e4f800b302d4793c6ab72c9d/controller/appcontroller.go#L1697), but I didn't follow how it would fix the issue. Can you explain?

[2022-10-07 20:36] #10594 closed

[2022-10-07 20:43] eddie-knight opened #10852 "Bring CLOMonitor score to 100%"
Per discussion in slack, this issue is to track the efforts necessary to bring argo-cd [CLOMonitor](https://clomonitor.io/projects/cncf/argo) score to 100%

Updating to use the new auto-generated CLOMonitor checklist:

## CLOMonitor report

### Summary

**Repository**: argo-cd
**URL**: https://github.com/argoproj/argo-cd
**Checks sets**:  `CODE`
**Score**: 88

### Checks passed per category

| Cat

[2022-10-07 21:14] eddie-knight commented on #10852
Optional: we could add a CLOMonitor badge or report summary to the README

badge:
[![CLOMonitor](https://img.shields.io/endpoint?url=https://clomonitor.io/api/projects/cncf/argo/badge)](https://clomonitor.io/projects/cncf/argo)

report summary:
[![CLOMonitor report summary](https://clomonitor.io/api/projects/cncf/argo/report-summary?theme=light)](https://clomonitor.io/projects/cncf/argo)

[2022-10-07 21:25] crenshaw-dev commented on #10852
I've merged the token permissions PR, so hopefully that'll get marked as done soon.

We do have SBOMs, and the [CLOMonitor page](https://clomonitor.io/projects/cncf/argo#argo-cd_security) reflects that, so I think we can mark that done.

[2022-10-07 21:30] eddie-knight commented on #10852
Perfect, checked SBOM as done ✅

Regarding the token permissions, I think we're going to have a [headache](https://github.com/ossf/scorecard/issues/2338) with that... OpenSSF frowns heavily on using [github actions that require write permissions](https://github.com/argoproj/argo-cd/blob/master/.github/workflows/release.yaml#L274). 😓

[2022-10-07 21:34] #10399 closed

[2022-10-07 21:48] crenshaw-dev commented on #10852
I find that really odd. I'm just trying to think of how folks are expected to automate without having GitHub actions with write permissions. Is there some better way of automating that I'm unaware of? 0_o

[2022-10-07 21:51] eddie-knight commented on #10852
AFAIK the current process is to only approve actions in the github/ library.

Discussion on the linked issue seems to be in the direction of allowing any github actions so long as the permissions are assigned on a granular basis (implying user awareness).

[2022-10-07 21:54] crenshaw-dev commented on #10851
@nbjohnson is point 3 related to dark mode? If not, I think it could be its own issue.

[2022-10-07 21:55] crenshaw-dev commented on #10851
Regarding point 2, I think we should default to the user's OS preference (probably available via some JS API) and then let the user override it. The override should be kept in local storage.

[2022-10-07 21:56] crenshaw-dev commented on #10852
Gotcha. Maybe there are opportunities to use the github/ library which we are currently missing.

[2022-10-07 23:10] nbjohnson commented on #10851
I guess not really, just kinda lumped it in with the other ui changes, I can open it as a separate issue if you want

[2022-10-07 23:29] nshores commented on #4522
I'd also like to see this. Any movement?

[2022-10-08 02:15] yujunz commented on #4044
The root cause for my case turns out to be an extra-large list of CRDs caused by a bug in cert-manager. Cluster cache initialization/refresh was blocked on listing all the resources.

[2022-10-08 06:41] cleverhu commented on #10622
Of course. I may not be familiar with this area.  Please deal with it.

[2022-10-08 06:41] cleverhu commented on #10622
Of course. I may not be familiar with this area. Please deal with it.

[2022-10-08 08:12] cleverhu commented on #10830
It is a bug, so I pulled a request for this.

[2022-10-08 15:31] crenshaw-dev commented on #10592
To be clear, there are hundreds, if not thousands of places in our code base that return unwrapped errors which should be wrapped. PRs are welcome whether they're for one or for a hundred. No need to coordinate, it's extremely unlikely that two people will submit the same changes.  :-)

[2022-10-08 15:33] crenshaw-dev commented on #10592
Here's an example where this kind of work has been done before: https://github.com/argoproj/argo-cd/pull/10271/files

[2022-10-08 15:45] crenshaw-dev opened #10858 "Remove support for fasttemplate ApplicationSet templates"
# Summary

Only support `goTemplate: true` in ApplicationSet.

# Motivation

The fasttemplate library is no longer maintained, and it is too limited for evolving use cases anyway.

# Proposal

In 3.0, evaluate all templates using go instead of fasttemplate.

[2022-10-08 17:19] nirsht commented on #10592
https://github.com/argoproj/argo-cd/pull/10859 hey @crenshaw-dev I just wanna verify that this is what we want to do in this issue. If so I can create more PRs like that.

[2022-10-08 18:28] crenshaw-dev commented on #10592
@nirsht that's precisely the sort of PR we need! I might nitpick some of the messages, but this is a huge step in the right direction.  :-)

[2022-10-08 18:48] nirsht commented on #10568
Hey I made PR that support this request https://github.com/argoproj/argo-cd/pull/10860. How can take a look ?

[2022-10-08 19:33] crenshaw-dev opened #10861 "Add `defaultNamespace` field as a synonym for `namespace` in `spec.destination`"
# Summary

We should use a field called `defaultNamespace` instead of `namespace`.

# Motivation

The `namespace` field is confusing. Without reading docs, it's unclear whether the field takes precedence over namespaces specified in manifests.

Calling it `defaultNamespace` will make clear that the specified namespace will be used as a default, but that manifests' specified namespaces will be resp

[2022-10-08 20:02] crenshaw-dev opened #10863 "Clicking sync option label doesn't check corresponding box"
**Describe the bug**

When clicking the sync options label in the sync panel (when opened from the main Applications page), the corresponding checkbox is not checked.

**To Reproduce**
1. Open the main Argo CD page (the Applications list)
2. Click "sync" on any app
3. Click any sync option label

**Expected behavior**

I expected a click on the sync option label to mark the checkbox.

**Screenshot

[2022-10-08 20:28] crenshaw-dev commented on #10863
I think the labels don't work because the checkboxes' `id` attributes are not unique within the page.

[2022-10-08 20:32] crenshaw-dev commented on #10851
That would be good!

Looks like delete dialogs are also not themed.

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/350466/194726837-8c710ea8-8473-42fc-b71c-4ed2d3113003.png">

[2022-10-08 20:37] crenshaw-dev opened #10864 "Propagation policy radio buttons/labels don't use `cursor: pointer`"
**Describe the bug**

Hovering the propagation policy checkboxes/labels does not use the `cursor: pointer` as do other radio buttons/labels in the UI.

**To Reproduce**

1. Click the "delete" button on an Application.
2. Hover the propagation policy radio buttons/labels
3. Note that the cursor does not change to a pointer

**Expected behavior**

The cursor should change to a pointer on hover.

**S

[2022-10-08 21:24] Sakshi-75 commented on #10864
Hi @crenshaw-dev ,
I would like to work on this. Can you assign it to me please?

[2022-10-08 22:29] nirsht commented on #10063
Hey I made PR the solved this, who can take a look ?

[2022-10-08 22:46] Sakshi-75 commented on #10864
Hi @crenshaw-dev ,
I've raised a PR for this: https://github.com/argoproj/argo-cd/pull/10867
Please review it.

[2022-10-09 14:16] crenshaw-dev commented on #10852
We push seven binaries and two source code archives. I wonder if all nice of those artifacts need to be signed. 0_o

I also question the utility of signing those, when the most important artifact is the container image.

[2022-10-09 16:04] #10864 closed

[2022-10-09 16:30] eddie-knight commented on #10852
From what I can tell, its just looking for one signature per release

https://github.com/ossf/scorecard/blob/main/docs/checks.md#signed-releases

[2022-10-09 16:32] crenshaw-dev commented on #10830
@clementblaise I believe this behavior is intentional, to avoid letting unauthorized users enumerate the clusters by trial and error. By returning a 403 both for "that doesn't exist" and "you're not allowed to see that," we prevent the user from determining which clusters exist.

Generally the preferred way of doing this is to return a 404 (like you get a 404 in GitHub when attempting to view a re

[2022-10-09 16:32] #10830 closed

[2022-10-09 16:59] #10539 closed

[2022-10-09 19:44] ramdisk-ott commented on #2953
its working thanks

[2022-10-09 21:38] crenshaw-dev commented on #10852
Looks like flux signs a checksum file which contains checksums for all the artifacts. I like that, nice and compact. https://github.com/fluxcd/flux2/releases

[2022-10-10 00:19] MaiCabrera commented on #9122
any one have update/workaround and or a solution on this bug?
I've been literally suck in the same situation. @protosam  did you get any luck changing the ssh key ?

[2022-10-10 00:58] crenshaw-dev commented on #7689
@alexef the outcome was sort of "yes, this important, we should do it, but we don't have time right now."

[2022-10-10 01:51] edoger commented on #3491
logrus can't solve this problem, maintainers don't seem interested in fixing this problem, I built a new log library for this: [zkits-logger](https://github.com/edoger/zkits-logger) , the library is now stable, and the API style is consistent with logrus.

[code]

[2022-10-10 02:18] edoger commented on #5793
With the current state of logrus, a new log library should be necessary.

[2022-10-10 05:39] Gianluca755 commented on #10837
Sorry, my bad

[2022-10-10 05:39] #10837 closed

[2022-10-10 05:53] iam-veeramalla commented on #5793
@edoger true, I was evaluating zap logger. I found it good and also recommended by others in the community. I have started migrating in steps, I can collaborate if you are interested.

[2022-10-10 05:54] iam-veeramalla commented on #3491
@edoger true, I was evaluating zap logger. I found it good and also recommended by others in the community. I have started migrating in steps, I can collaborate if you are interested.

[2022-10-10 06:10] maheshbaliga commented on #10548
Hi. I've almost completed `--resource` part of this issue, will submit a PR very soon.

[2022-10-10 07:05] edoger commented on #3491
@iam-veeramalla
Is there a fixed plan? If not I will start devising a solution and I need to fix this asap.

[2022-10-10 07:09] iam-veeramalla commented on #3491
@edoger I already started migrating to the new log system. Please give me a couple of days time and I will let you know the progress.
I am looking at getting the PR asap.

[2022-10-10 07:31] iam-veeramalla commented on #3491
Sure, Thanks

[2022-10-10 07:33] pnowy opened #10870 "[Documentation] Outdated Helm initContainers documentation"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I think the documentation part of ArgoCD related to init containers (https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#using-initcontainers) should be updated due to the changes

[2022-10-10 08:02] reggie-k commented on #4212
For this

@jessesuen @crenshaw-dev
What path of the two ones @AmitBenAmi had suggested shall we take?

[2022-10-10 09:42] aimanfatima commented on #7560
can I work on this issue?

[2022-10-10 11:08] hontarenko commented on #5592
Any updates?

[2022-10-10 11:38] iam-veeramalla commented on #3491
@edoger did you also evaluate zap logger or zero logger ? what is your thought on them ?

[2022-10-10 11:41] reggie-k commented on #4212
I started implementing this for the main config map , with only the Kind being wildcard-able.

But actually it looks like for both Crossplane and GoogleConfigConnector the API Group also needs to be wildcard-able (for supporting pubsub.cnrm.cloud.google.com/PubSubTopic, iam.cnrm.cloud.google.com/IAMPolicyMember, ec2.aws.crossplane.io/Instance, iam.aws.crossplane.io/InstanceProfile, etc)

[2022-10-10 12:23] folsh opened #10877 "ArgoCD user POD interface does not hide logs tab based on RBAC"
Checklist:

* [v] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [v] I've included steps to reproduce the bug.
* [v] I've pasted the output of `argocd version`.

**Describe the bug**

I created a user (visitor) with the role (noLogs). This user shouldn't have access to the pods logs after deploying rbac in my k8s but it still can see them. Did i miss something ? I ha

[2022-10-10 13:06] crenshaw-dev commented on #3491
Aside: looks like structured logging is coming to the standard library, but probably not for a while. https://github.com/golang/go/discussions/54763

[2022-10-10 13:15] crenshaw-dev commented on #2638
I created a test repo with this structure:

[code]

To exclude two root-level configmaps as well as everything in the `a-directory` directory, I used this manifest:

[code]

The `exclude` field is a glob which, if you wrap it in `{}` supports a comma-delimited list of patterns.

This isn't well-documented. I'm going to create some tickets/PRs.  :-)

[2022-10-10 13:16] crenshaw-dev commented on #2638
Closing unless someone has a specific use case that isn't working. Feel free to continue to discuss here though!

[2022-10-10 13:16] #2638 closed

[2022-10-10 13:27] doug62 commented on #2638
@crenshaw-dev This was a feature request to add the ability to ignore files not by using an argo manifiest but to use a file in the repo to signal to argo to ignore files, so the 'font'/source of truth would remain in the repo rather than spread across concerns, so:  .argoIgnore { <file patterns similar to .gitIgnore>} would be ignored.

[2022-10-10 13:29] stephaneetje commented on #4116
Hello, also very interested in that feature that would simplify a LOT our processes

[2022-10-10 13:37] julien-michaud opened #10878 "ApplicationSet probe only return 404 error codes"
The probe endpoint of the applicationset controller only return `404 Not Found` error codes.

It can be problematic when you use a specific Ingress to route the traffic to the /api/webhook path on GKE.
https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml#L2161

The correct backend config must look like this:

[code]

But the GCP healthcheck will return 404 codes.

In the mean

[2022-10-10 13:53] crenshaw-dev commented on #2638
Gotcha. I think the OP's request has been satisfied:

Would you be willing to open another issue to track `.argoignore`?

[2022-10-10 13:59] crenshaw-dev opened #10880 "Add `include` and `exclude` files to Parameters tab of directory apps"
# Summary

Directory-type apps support `include` and `exclude` glob patterns. But those fields must be set in the manifest. There is no UI integration.

# Motivation

The include/exclude feature has [proven confusing and difficult to discover](https://github.com/argoproj/argo-cd/issues/2638). By adding fields to the UI, potentially with glob-pattern validation, we can help folks find and use the f

[2022-10-10 14:15] crenshaw-dev commented on #10877
I just tested, and everything seems to work fine.

argocd-rbac-cm:

[code]

argocd-cm:

[code]

`argocd version`:

[code]

I see that you're running 2.4.13 as the CLI. What version is the server running?

[2022-10-10 14:23] crenshaw-dev commented on #4116
If anyone's willing to put up a PR, I'd be happy to help w/ dev setup and review!

My rough idea of the way this could work is that the custom action could produce a list of manifests (strings of JSON or YAML) and actions (for now just `apply`, but maybe later `delete`, etc.). The API server would then loop over that list and send the manifests to the controller to sync. The controller would make

[2022-10-10 14:26] crenshaw-dev commented on #10841
@psimms-r7 can you elaborate? HTTPS communication with Dex is only available in 2.5. 2.4.x should be unaffected.

[2022-10-10 14:34] ohauer opened #10882 "v2.5.0-rc1 HA argocd-repo-server CrashLoopBackOff"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Update argocd from 2.4.14 to 2.5.0-rc1 via kustomize
old url:  https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.14/manifests/ha/install.yaml
new url: https://raw.githubusercontent

[2022-10-10 14:47] bygui86 opened #10883 "Cascade deletion with finalizer not working if destination cluster is external"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

As written in the doc at [this page](https://argo-cd.readthedocs.io/en/stable/user-guide/app_deletion/#about-the-deletion-finalizer):

This works nicely if the destination cluster is th

[2022-10-10 14:54] bygui86 opened #10884 "argocd login error 'too many colons in address' or 'unknown port'"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`argocd login <URL>` doesn't work anymore.
I have ArgoCD exposed on internet, so I tried with the specific URL and through "kubectl port-foward" but nothing works.

**To Reproduce**

Us

[2022-10-10 14:58] crenshaw-dev commented on #10884
@bygui86 try dropping the `https://`.

Even if that fixes it, I think this error deserves an issue. It's not at all clear what the user should do.

[2022-10-10 15:08] bygui86 commented on #10884
@crenshaw-dev it worked with the external link, thanks a lot!!
Sorry but in the doc it's mentioned the port-forward and the example says to use `https://localhost:8080`.
Anyway the error message is not clear at all :(

[2022-10-10 15:35] crenshaw-dev commented on #10884
@bygui86 you bet!

Can you point to the place in docs where we're adding the `https://`? Just did a quick search and didn't see it.

[2022-10-10 15:39] folsh commented on #10877
Hello crenshaw-dev,

Thanks for your reply.

In the serveur, I have v2.4.12+41f54aa version

And the log tabs in always visible

[2022-10-10 15:51] crenshaw-dev commented on #10877
@folsh I tested with 2.4.12 and still can't reproduce the issue.

Are you sure you're logged in as `visitor` when reproducing the issue? Is it possible that you have a project-based role somewhere granting `logs, get` to the visitor user?

Can you create a repo with your full Argo CD manifests so that I can test locally against your exact setup?

[2022-10-10 15:52] crenshaw-dev commented on #10880
I think this would be reasonably easy to implement, using Kustomize's built-in fields as a guide.

[2022-10-10 15:59] nbjohnson opened #10886 "New UI collapsible sidebar"
# Summary

As part of the new UI a collapsible sidebar was added. It would be nice to have a setting to be able to configure its default behavior (collapsed or open) as it currently defaults to collapsed.

# Motivation

To be able to customize the default UI for each specific use case.

# Proposal

Banner settings are currently handled by passing in a config option through a configmap, having the

[2022-10-10 16:03] crenshaw-dev commented on #10882
I'm curious if this workaround works for you: https://github.com/argoproj/argo-cd/issues/9809#issuecomment-1243415495

[2022-10-10 17:01] reggie-k commented on #4212
https://github.com/argoproj/argo-cd/pull/10885
Implemented with the wildcard on Resource Kind level and updated docs.
Meaning, now :
[code]
can be configured.
However, iam.cnrm.cloud.google.com/*, for example, will still require a separate entry.
Is this good enough or wildcard on a Resource Group level is needed as well?

[2022-10-10 17:09] karengineering commented on #10880
I would like to work on this.

[2022-10-10 17:38] crenshaw-dev commented on #10880
@karengineering go for it! lmk if you need any help.

[2022-10-10 18:43] crenshaw-dev commented on #10863
Reproduced the issue in 2.2-2.4.

[2022-10-10 18:52] #10863 closed

[2022-10-10 19:04] crenshaw-dev opened #10887 "Resource list in sync panel is jumpy on click"
**Describe the bug**

When I uncheck the first item in the sync panel resource list, a warning appears, pushing all the list items down. If a user has scrolled far down the list, they won't see the warning, but they will feel the jump.

The warning is small. I'd propose that we leave the necessary space for the warning when all resources are checked, and then make the warning visible after the fir

[2022-10-10 19:09] crenshaw-dev opened #10888 "Cursor doesn't change to pointer on labels for resource names in sync panel"
**Describe the bug**

When hovering the (clickable) label for each resource in a sync panel, the cursor does not change to a pointer.

**To Reproduce**

1. Create an app in the Argo CD UI
2. In the main Applications page, click the Sync button on the app's card
3. In the list at the bottom of the sync panel, hover the label for any resource checkbox
4. Note that the cursor doesn't change to a poin

[2022-10-10 19:18] theadeyemiolayinka commented on #10888
Hey @crenshaw-dev I would love to be assigned to fix this. Thanks

[2022-10-10 19:20] yogeek commented on #4212
@reggie-k thank you for this !
We use crossplane and for us API Group also needs to be wildcard-able.
Indeed, currently, we have a script that generates the argocd-cm ConfigMap lua content by requesting the cluster to find every crossplane providers CRDs and adding each health check section from a template. And the result is
:
- a lot of duplication on the resulting ConfigMap
- the need to relaunc

[2022-10-10 19:58] daywalked commented on #2753
@maaft, it is best described here: https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/

The context is around ingress configuration, so it goes through the different providers, but it still being relevant. The reference to "server.insecure: true" is talking about helm values, if you are using that. The --insure flag is if you are using the CLI (see: https://argo-cd.readthedocs.io/en/

[2022-10-11 00:36] doug62 opened #10892 ".argoIgnore (like .gitignore)"
As a user, I would like the ability to instruct Argo to ignore files within a git repo based upon a .argoIgnore file (Much like .gitignore, .dockerignore).

While this ability kinda exists in the argo crd/manifests it seems more consistent with source control/cloud patterns such as dockerignore to use a file within the repo to guid how that repo is filtered/represented.  Argo applies Kustomize fil

[2022-10-11 00:52] crenshaw-dev commented on #10892
Good explanation. Maybe call it `.argocd-ignore`, since we also have a `.argocd-source.yaml` feature.

[2022-10-11 01:56] edoger commented on #3491
@iam-veeramalla
Zap is very powerful and adaptable to a variety of application scenarios. It is very suitable for large business applications. The disadvantage is that it must be understood how to use it correctly, and it is not suitable for small applications and libraries (because most of the functions are not used).
The performance of zerolog is very good. It uses many techniques to optimize me

[2022-10-11 03:35] iam-veeramalla commented on #3491
@edgarkz Thanks for the very detailed information.

I just started implementing zap yesterday but because you have already worked with zap and zero log. I think it will be better if you or your team member picks this up. I will be happy to collaborate and be a co-author if required.

Does that work ?

[2022-10-11 03:54] edoger commented on #3491
@iam-veeramalla
Okay, I first need to spend some time understanding the logging module of this library, and then replace the logging library without breaking the existing usage style as much as possible, what do you think of this attention? I don't mind which logging library to use, if you guys have come to a conclusion, just let me know and I'll decide when it's done.

[2022-10-11 03:57] iam-veeramalla commented on #3491
@edoger I think the most popular suggestion here is Zap , so we can start with it. We can also sync up over a call or bring this up in the next community meeting which takes place on Thursday.

[2022-10-11 04:51] wanghong230 commented on #10892
Will it make the repo less readable? With kustomization overlay including feature and Helm templating, there should be enough knobs here and there.

[2022-10-11 05:09] bmarick commented on #8810
any update on this issue?

[2022-10-11 05:42] reggie-k commented on #4212
Ok, so basically you (and me, as I also use Crossplane :)) want all of the following examples to be configurable for the health check:
[code]
[code]
[code]
[code]
In other words:
@yogeek @AmitBenAmi  Each sub package of the API Group can be substituted with a * wildcard + Kind can be substituted with a * wildcard.
Does this cover the requirement?
@jessesuen @crenshaw-dev Is this design acceptable?

[2022-10-11 06:06] bmarick commented on #9678
I am also experiencing this issue

[2022-10-11 06:53] edoger commented on #3491
@iam-veeramalla OK, I'll provide a patch asap.

[2022-10-11 07:32] yogeek commented on #4212
@reggie-k that seems right 👍

[2022-10-11 07:39] dbaudracco commented on #10679
My reasoning is that when a commit doesn't change any file relevant for generating manifests, we can consider as if a sync was already performed against said commit.
My idea was to compare the generated manifests against the live application even if `app.Status.OperationState.SyncResult.Revision != commitSHA`

[2022-10-11 07:56] folsh commented on #10877
Hello crenshaw-dev

This is my test: [https://github.com/folsh/argocd](https://github.com/folsh/argocd)

Thanks for your help

[2022-10-11 08:28] JessieTeng89 commented on #10887
@crenshaw-dev I would like to take this issue, could you please assign it to me?
By my understanding, if one of list resources is unchecked, the warning should be displayed.
Do you want to fix it like below screenshots? We will have a empty row even all items are checked.
![image](https://user-images.githubusercontent.com/101035990/195038989-e9d4ac4a-96b8-4b75-b022-5dd39574a973.png)
![image](https

[2022-10-11 08:36] bygui86 commented on #10884
@crenshaw-dev of course.

In the section [Port forwarding](https://argo-cd.readthedocs.io/en/stable/getting_started/#port-forwarding) of the [Getting started](https://argo-cd.readthedocs.io/en/stable/getting_started) guide, it's mentioned

In the section [Login Using The CLI](https://argo-cd.readthedocs.io/en/stable/getting_started/#4-login-using-the-cli) right below, it's mentioned the command to

[2022-10-11 08:47] Marvin9 commented on #3642
@crenshaw-dev @alexmt would you please assign this to me?

[2022-10-11 08:50] rimasgo commented on #7778
Hi, I believe this should be available as well either configurable by a flag or argocd-cm ConfigMap entry.

[2022-10-11 12:17] saumeya commented on #7560
Sure @aimanfatima, that would be awesome!

[2022-10-11 12:40] crenshaw-dev commented on #10892
Someone could use Helm or Kustomize to selectively include certain files. But 1) I'm not sure those support simple globs and 2) either tool is a bit heavy-weight for this use case.

But I do sympathize with the notion that providing too many ways to do something gets clunky.

[2022-10-11 12:42] crenshaw-dev commented on #10892
Actually @doug62 I think what you're trying to accomplish is already possible with [git-based parameter overrides](https://argo-cd.readthedocs.io/en/latest/user-guide/parameters/#store-overrides-in-git).

You can add argocd-source.yaml to your app's directory and add these contents:

[code]

[2022-10-11 12:46] crenshaw-dev commented on #10887
@JessieTeng89 yep, that's my preference! @rbreeze what do you think? Is the awkward empty row worth it to solve the jumpiness?

[2022-10-11 12:46] llavaud opened #10895 "ApplicationSet generators diff with CLI"
# Summary

Beeing able to diff the ApplicationSet generators

# Motivation

Today to push a modification on an application I can do an `argocd app diff --revision ...` in my CI to see the changes I will add.
I would love to have something similar to see the list of application that will be added or removed by the applicationset.

# Proposal

Implement an `argocd appset diff --revision ...` ?

[2022-10-11 13:14] jdomag commented on #10143
@wtam2018
You took a part in PR approval process, maybe you could help to prioritize this feature? It's a shame that ready to go / working feature is not used.

[2022-10-11 13:48] joaosilva15 commented on #4275
Hey @teejaded, sorry for the loooong delay 🤦 just came to this issue again. Your changes work but I needed to change this line https://github.com/teejaded/argo-cd/blob/cert-healthcheck-fix/resource_customizations/cert-manager.io/Certificate/health.lua#L5 from `condition.Reason` to `condition.reason`

[2022-10-11 14:56] MarySmith5 opened #10899 "Prod Argo needs to be distinctive from other Argo environments"
Add a warning label in the PROD Argo asking that changes be approved before implemented. The Argo tool looks very similar for every environment. For this reason, it would be very easy for an engineer with multiple tabs open to inadvertently change the PROD Argo. We would like a warning banner or some eye catching feature that would warn an engineer that they are in a "dangerous" environment.

[2022-10-11 15:12] MarySmith5 opened #10901 "Editing restrictions"
# Summary

Create  a way  for admins to put editing restrictions on the PROD Argo app details to limit designated engineers from any edits outside of rollingback.

# Motivation

Prevent a newer engineer from inadvertently making changes to the prod Argo

# Proposal

How do you think this should be implemented?

[2022-10-11 15:20] Peter-Barrett commented on #5620
Same here, a solution would be great.

[2022-10-11 16:07] rbreeze commented on #10887
I agree, I think it's worth having an empty row to solve this. Another thought: what if we move the warning to the bottom of the list? That way, there's no empty row and it also doesn't jump.

[2022-10-11 16:28] crenshaw-dev commented on #10887
For short lists, I think the bottom is fine. For very long lists, maybe the top makes a bit more sense? But very long lists are just kinda bad either way, the user is not going to see the warning if they've scrolled to the middle of the list.

[2022-10-11 16:54] denysvitali commented on #9888
Opened an issue to the Ubuntu tracker, hopefully they can provide more insights:
https://bugs.launchpad.net/ubuntu/+bug/1992485

[2022-10-11 19:32] MeNsaaH commented on #4706
@jessesuen I'm interested in picking this up and running with it. Is there any issue with that?

[2022-10-11 21:00] #10810 closed

[2022-10-11 21:33] augustfengd commented on #2294
Holy moly. For those who are trying the `find` method like me, it takes a special level of parsing and escaping:

[code]

[2022-10-11 21:54] rwong2888 opened #10902 "cmp v2 named plugins"
cmp legacy has named plugins

cmp v2 cannot use named plugins, and has to rely on things like find commands

when cmp legacy is removed in 2.6, cmp v2 should get named plugins back

[2022-10-11 22:12] rbreeze commented on #10887
good point- We can leave a gap at the top then!

[2022-10-11 22:16] schakrad commented on #10424
https://github.com/argoproj-labs/rollout-extension/commit/6022db1c82d7bd73fca096ddee8d721ec98b13e2
Th above commit will resolve the bug.

[2022-10-11 23:10] kmlamkin9 commented on #10424
Thanks @schakrad ! Closing issue

[2022-10-11 23:10] #10424 closed

[2022-10-12 01:35] protosam commented on #9122
@MaiCabrera yes, just don't use PEM formatted keys. Use OpenSSH formatted keys. These commands will change the files in-place. Make backups beforehand just in case.
[code]

I actually stopped using Argo CD after seeing these inconsistencies and have fully adopted Flux v2 at this point. The one thing Argo CD would do for me that Flux v2 doesn't is accept an Application that installs cert-manager vi

[2022-10-12 03:20] saumeya commented on #10851
Thanks a lot for reviewing dark mode @nbjohnson. I will look into these suggestions.
@crenshaw-dev the pop-ups and drop-downs are not covered right now (need to pass theme individually) , will try to bring them in another PR.

[2022-10-12 03:47] dayyeung commented on #10835
@jgwest is this a bug though?
we have a similar situation but for us we want to keep them as orphaned resources
we also are not able to view the pod logs
all other functions work

[2022-10-12 07:19] folsh commented on #10877
Thanks !!

It's working: I Just put:

`policy.default: ''`

Many thanks

[2022-10-12 07:19] #10877 closed

[2022-10-12 07:24] saumeya commented on #10899
Hi @MarySmith5, there is a feature to add banner message on top - https://argo-cd.readthedocs.io/en/stable/operator-manual/custom-styles/#banners that could be used to specify different environments. The styles like color could also be added to these banners using custom styles  - https://argo-cd.readthedocs.io/en/stable/operator-manual/custom-styles/#adding-styles-via-remote-url . Let me know if

[2022-10-12 08:12] saumeya commented on #8105
@burkempers, is this still an issue? Or can it be closed?
I have created a PR to update the docs -  https://github.com/argoproj/argo-cd/pull/10907

[2022-10-12 08:22] JessieTeng89 commented on #10887
@crenshaw-dev @rbreeze
Thanks for your confirmations, I will start to work on it and create a PR later for your review

[2022-10-12 08:47] AndyBan commented on #10561
I am seeing exactly the same thing!

We are using an app of apps with a few more layers essentially a config app then a child sharded helm chart so you can be 4 layers deep i.e Kustomize -> helm -> templated ns, sealed secrets, argo app -> Final argo app.

It frequently get stuck on app of apps helm chart, seems to run in the two apps below it fine and health checks pass then within a few seconds

[2022-10-12 09:05] mikeshng opened #10908 "Proposal: Introduce an Optional Pull Mechanism for ApplicationSet"
# Summary

Introduce an optional way for ApplicationSet resource deployment that uses the hub-spoke pattern / pull model. The ApplicationSet will generate Application CRs that will be pulled to the remote clusters and each remote cluster is responsible for reconciling the Application CR.

# Motivation

The current ArgoCD resource deployment is primarily pushing resources from a centralized cluster

[2022-10-12 11:27] Fettah opened #10910 "PullRequest Generator: unknown field "appSecretName" in io.argoproj.v1alpha1.ApplicationSet.spec.generators.pullRequest.github"
I am trying to connect Argocd to our github account and the PullRequest generators.
after created the applicationSet with all the configs, kubectl was compalaining that the appSecretname is known

Here is my config:
[code]

after a `kubectl apply -f` i get the following error:
`: error validating data: ValidationError(ApplicationSet.spec.generators[0].pullRequest.github): unknown field "appSecretN

[2022-10-12 13:10] danmx commented on #3517
check out Skyscanner's project https://github.com/Skyscanner/applicationset-progressive-sync

[2022-10-12 13:23] crenshaw-dev commented on #10910
Ah, the `appSecretName` field won't be available until 2.5.

[2022-10-12 13:39] arkpoah commented on #3537
I try to upgrade to v2.2.14 (same when trying to 2.1.16) from 2.0.1 and I get the same behavior, the diff shows my ConfigMap configurations will gone for theses ones :
ConfigMap.argocd.argocd-cm
ConfigMap.argocd.argocd-rbac-cm
ConfigMap.argocd.argocd-ssh-known-hosts-cm

ssh-known-hosts-cm has a data section but not the two others.

[2022-10-12 13:46] bharatveeryadav commented on #10803
this issue is still open

[2022-10-12 14:55] mgarstecki opened #10912 ""argocd admin notifications template notify" fails when using "call .repo.getAppDetails" in the template"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`argocd admin notifications template notify` throws an error when testing a notification that contains a call to `.repo.getAppDetails`.

**To Reproduce**

Setup this notification in the

[2022-10-12 15:02] amohamedhey opened #10913 "number of cluster(s) in pie chart view isn't correct"
Checklist:

* [*] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [*] I've included steps to reproduce the bug.
* [*] I've pasted the output of `argocd version`.

**Describe the bug**

When I choose too display the application by Pie chart, the number of cluster is not correct

**To Reproduce**

I have five cluster(s) with more than 70 app(s) but show only 2

**Expect

[2022-10-12 15:33] crenshaw-dev commented on #10910
Can you double-check that you deployed the latest CRD? I see that field in the CRD for 2.5.0-rc2: https://github.com/argoproj/argo-cd/blob/v2.5.0-rc2/manifests/crds/applicationset-crd.yaml#L2375

[2022-10-12 15:41] Aym3nTN opened #10914 "RequeueAfterSeconds for PR generator not being detected when using Matrix generator"
When trying to use Matrix generator with PR + Cluster generators, the 'RequeueAfterSeconds' parameter of the PullRequest generator always returns 0.

**Describe the bug**

The ApplicationSet is not detecting new PullRequests when the PR generator is used with the Matrix gen.

**To Reproduce**

- Create an AppSet resource with Matrix generator (Here is mine)
- Set RequeueAfterSeconds to whatever va

[2022-10-12 15:48] irizzant commented on #7898
Same as above on the last version 2.4.14

[2022-10-12 16:09] andredaube opened #10916 "UI Error caused by missing RBAC Permission"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Opening / showing a resource within the application view to which the Argo CD server has no access to leads to the UI error and its stack trace being shown.

**To Reproduce**

1. Create

[2022-10-12 16:34] thirunavukkarasu95 commented on #10803
@bharatveeryadav Hi, I am a beginner to OS, still working on this issue.

[2022-10-12 16:50] #10310 closed

[2022-10-12 18:04] crenshaw-dev commented on #10852
@34fathombelow I think that would be great!

[2022-10-12 20:14] winston0410 commented on #1936
I have the same issue when I install argocd with [Core Install](https://argo-cd.readthedocs.io/en/stable/operator-manual/installation/#core). @dtaniwaki Can we reopen this issue?

[2022-10-12 20:44] Sudhish2607 commented on #10772
Hello @Jellyfrog  @crenshaw-dev,

I would like to work on this feature. If that's ok, do you mind assigning this issue to me?

[2022-10-12 20:55] crenshaw-dev opened #10919 "Strip whitespace from project role group names"
# Summary

I think the API server should strip the leading/trailing whitespace from group names in project roles.

# Motivation

Intuit had a project role where a group name had a trailing whitespace. I believe this was the result of an accidental copy/paste to the UI.

[code]

# Proposal

The API server should strip leading/trailing whitespace from group names before adding them.

**Note:** I'm a

[2022-10-12 21:52] utopian-monkey commented on #10919
i wanna work on this

[2022-10-12 22:04] crenshaw-dev commented on #10919
@utopian-monkey go for it! Let me know if you need any help!

[2022-10-12 23:49] alexec opened #10922 "UI logs remember wrong position"
In the UI, the logs view seems to remember the position of the last app. I should reset when you start looking at a new app.

[2022-10-13 01:07] 34fathombelow commented on #10852
@eddie-knight According to the [OpenSFF documentation](https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions) on token permissions for ```contents:write``` it states "However, points are not reduced if the job utilizes a recognized packaging action or command.  Can you clarify what a recognized package action or command is?

We also have all top level permissions set to read

[2022-10-13 02:04] eddie-knight commented on #10852
The permissions check is a bit of a headache right now because there is an issue open ti fix it, but the expected behavior currently is to just use permissions:write on a job if it uses an action published by github.

The release workflow in this repo has permissions:write on a job that uses a third party action, causing the check to fail 😓

[2022-10-13 05:06] FuyuanChu commented on #9918
Upvote
Could be a killer feature if we could have detailed inputs logged. Complete the missing part of the cluster audit log.
Maybe we can save the detailed inputs and outputs per session.

[2022-10-13 06:28] aman6969 commented on #10919
i would like to work on it please assign this work to me.

[2022-10-13 07:27] winston0410 opened #10924 "Setting controller.self.heal.timeout.seconds does not work"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I want to change the self-heal timeout for controller, and I tried to set [`controller.self.heal.timeout.seconds`](https://github.com/argoproj/argo-cd/blob/c99669e088b5f25c8ce8faff6df25

[2022-10-13 07:59] xgt001 commented on #9214
I am grateful to have found this thread as I was going a bit crazy thinking I am doing something somehow wrong. 😄
Can confirm in our own setup that only values.yaml is read and it doesnt bother reading even from inline `values:` as such

[code]

[2022-10-13 09:48] Fettah commented on #10910
I have noticed when you upgrade the helm chart, the CRDs do not get updated. so i still have the old CRD of the ApplicationSet in my kubernetes. even though i deleted argocd completey and reinstalled it it is still showing the old one
am trying now to delete the custom resource but unable to
<img width="1306" alt="image" src="https://user-images.githubusercontent.com/3440433/195563994-0a2762b9-57d

[2022-10-13 10:18] reggie-k commented on #4116
So upon a new "create-from" action, performed on the
[code]
resource, which is part of some Application, a new
[code]
resource (which is not part of that Application) has to be created?

[2022-10-13 10:48] ThisIsQasim opened #10927 "ArgoCD UI doesn't use the gRPC host incase of Multiple Ingress Objects And Hosts"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When setting up ArgoCD with two ingress objects and separate hostnames for http and gRPC as mentioned [here](https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#option-2-m

[2022-10-13 11:47] Fettah commented on #10910
I found the issue. the argo-helm that i use did not update their configs:
https://github.com/argoproj/argo-helm/blob/9920ecdb6e2126b41cc6b53c0bf41570e720e389/charts/argo-cd/templates/crds/crd-applicationset.yaml

The field does not show up there

[2022-10-13 11:51] Fettah opened #10928 "include appSecretName for github in applicationSet (as in argocd 2.5)"
we need to keep to date to the main argocd project and include their latest updated to their custom resource definitions.
the applicationSet has some new fields like the "appSecretName" for github
https://github.com/argoproj/argo-cd/blob/v2.5.0-rc2/manifests/crds/applicationset-crd.yaml#L2375
would be great to see that included at some points

[2022-10-13 12:21] crenshaw-dev commented on #4116
@reggie-k yep, something like that is what I'd imagine!

[2022-10-13 15:51] crenshaw-dev commented on #10814
@26tanishabanik check out the two links at the bottom of the issue. The first one shows a page that can be used as an example to create a new page in `docs`. After adding the page in the docs directory, you can test the docs with `make serve-docs`. The second link shows a file where examples of the feature can be added (that file is meant to document every possible field in the Application spec).

[2022-10-13 15:55] crenshaw-dev commented on #10928
@Fettah I'm not sure I understand the request. Did you mean to post this in https://github.com/argoproj/argo-helm ?

[2022-10-13 15:56] crenshaw-dev commented on #10910
@Fettah I don't think argo-helm has released a chart for 2.5 yet. I'm sure it's planned, but I think they usually wait for the GA release.

[2022-10-13 19:57] cdutten commented on #5589
Hello :wave:
Can I get this issues assigned?
Will try to reproduce it soon

[2022-10-13 21:33] crenshaw-dev commented on #10283
@raygervais @ashutosh16 has started a PoC. Want to check it out and see if that's how you'd implement it?

[2022-10-13 21:54] #10157 closed

[2022-10-13 22:04] #10568 closed

[2022-10-13 22:13] #10792 closed

[2022-10-13 22:15] crenshaw-dev commented on #10290
For the to-be-pruned icon... what if instead of a circle it were just a yellow X? It'd eliminate the ambiguity with the yellow circular "out of sync" icon?

[2022-10-13 23:08] mjgallag opened #10936 "feat: server-side manifest generation for local sync"
# Summary

add `--server-side-generate` parameter to `argocd app sync`

# Motivation

https://github.com/argoproj/argo-cd/issues/8145

# Proposal

https://github.com/argoproj/argo-cd/pull/10019

[2022-10-13 23:24] crenshaw-dev commented on #8145
Not totally fixed. We should do this: https://github.com/argoproj/argo-cd/issues/10936

[2022-10-14 00:47] #10050 closed

[2022-10-14 01:15] crenshaw-dev commented on #3975
Reopening due to continued reports of issues on the fix PR: https://github.com/argoproj/argo-cd/pull/6183

[2022-10-14 02:17] edoger commented on #3491
@iam-veeramalla I will finish this this weekend.

[2022-10-14 09:37] sdputurn opened #10941 "Add cluster with access to limited resource in a single namespace"
# Summary

we have a target external k8 cluster. where we have access to only one namespace "crd-only" and in that namespace we have access to serviceAccounts and some crd's.  we want to mange apps in this external cluster using argocd. we added this cluster with below command:
argocd cluster add  local-test-sa2 --service-account test-sa --namespace crf-only  --system-namespace  crd-only --project

[2022-10-14 10:04] phuongnt28 opened #10942 "configManagementPlugins does not work at Argocd version 2.4.x"
Hi all,
I have Argocd version 2.3.3 with configManagementPlugins working normally until upgraded to 2.4.14 and this is the log:

time="2022-10-14T07:25:46Z" level=error msg="finished unary call with code Unknown" error="Manifest generation error (cached): `bash -c helm template $ARGOCD_APP_NAME charts/$CHART_NAME -f $CHART_VALUE -n $ARGOCD_APP_NAMESPACE` failed exit status 1: Error: expected at mo

[2022-10-14 10:36] kosta opened #10943 "Some way to provide helm values from another file (.argocd-source.yaml / valueFiles / ...)"
# Summary

The ability to provide additional helm values from a file _outside_ of the application `release.yaml` but from _inside_ the git repo that the application is defined in.

# Motivation

I have multiple kubernetes clusters and an argo-cd app-of-apps `Application` for each, that reads the actual apps from a directory, e.g.

[code]

Now, when I update e.g. app1, I would like to write the ver

[2022-10-14 11:26] yevhen-harmonizehr commented on #1936
i do have same issue after my redis pods restarted. My argo redis do not have PVC, so this might be related.

[2022-10-14 11:43] ONordander commented on #2347
Hey @AmmarovTou
I think I see an issue with your setup:
Your serviceaccount for `argocd-server` and `argocd-application-controller` should be annotated with their own roles and not `argocd-deployer`.
Your `awsAuthConfig` already specifies that it should use `argocd-deployer`-role, and since you allow `argocd-server` & `argocd-application-controller` to assume that role it should work.
Also you don

[2022-10-14 13:01] crenshaw-dev commented on #10943
I think that misinterprets the code. Those four fields are the only fields in `source` which may _not_ be overridden by .argocd-source.yaml. The code merges the Application source with the .argocd-source.yaml source and then overrides the four protected fields with whatever was in the Application. It's a security measure to keep folks from changing those more sensitive fields.

https://github.com/

[2022-10-14 13:03] crenshaw-dev commented on #10892
Closing this because I'm pretty certain .argocd.source.yaml solves this problem.

[2022-10-14 13:03] #10892 closed

[2022-10-14 13:05] crenshaw-dev commented on #10901
I wonder if you could implement a custom "rollback" action on the Application resource and use RBAC to restrict users to only that.

If it were a super popular action, I think we'd want to consider augmenting RBAC with an `update/rollback` or simply `rollback` action.

[2022-10-14 13:14] #10669 closed

[2022-10-14 13:17] kosta commented on #10943
Ah yes, I read that the wrong way around 🙈

So should this already be possible using `.argocd-source.yaml`?

[2022-10-14 13:18] crenshaw-dev commented on #10542
.argocd-source.yaml complicates this. Argo CD only knows about those parameters at manifest-build time.

[2022-10-14 13:19] crenshaw-dev commented on #10519
Yep. Wrote a few more details here: https://github.com/argoproj/argo-cd/issues/10880

[2022-10-14 13:21] crenshaw-dev commented on #10474
May be partially solved by this: https://github.com/argoproj/argo-cd/pull/9216

[2022-10-14 13:23] crenshaw-dev commented on #10442
You can use `{{path.filename}}` (or `{{.path.filename}}` in goTemplate syntax): https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Git/#git-generator-files

[2022-10-14 13:24] crenshaw-dev commented on #10442
@viktorradnai, with `goTemplate: true` in 2.5.0, you'll be able to strip the file extension from `.path.filename`.

[2022-10-14 13:30] crenshaw-dev commented on #3360
kpt config management plugin: https://github.com/bluebrown/argocd-cmp-kpt

[2022-10-14 13:33] nazarewk commented on #10703
not at all, just spit out results to either stdout or file

[2022-10-14 13:39] crenshaw-dev commented on #8420
I think we've done this.  :-)
<img width="1346" alt="Screenshot of Quay image registry showing that Argo CD supports multi-arch images" src="https://user-images.githubusercontent.com/350466/195860804-980502f1-a480-48a8-99cf-92f42c4c6c1f.png">

[2022-10-14 13:39] #8420 closed

[2022-10-14 13:39] crenshaw-dev commented on #3956
Done! https://quay.io/repository/argoproj/argocd/manifest/sha256:b6ac16e57a928941c0ddb49c1733d035430afd3f38844d0c6bf6a7718e32aa67

[2022-10-14 13:39] #3956 closed

[2022-10-14 13:42] crenshaw-dev commented on #4590
I wonder if https://github.com/argoproj/argo-cd/pull/10432 will help support this. It'll do the composite-cache-key part, but as coded I think it would require adding each submodule source to the `sources` field (and maybe excluding all its resources to avoid double-including them).

[2022-10-14 13:47] crenshaw-dev commented on #5114
I like this and would welcome a PR!

[2022-10-14 13:48] crenshaw-dev commented on #8695
Would this be sufficiently solved by specifying multiple sources? https://github.com/argoproj/argo-cd/pull/10432

[2022-10-14 13:50] chrisob commented on #10916
I'm seeing this occur when `argocd-server` doesn't have RBAC permissions for whichever resource is viewed in the UI.

Our usecase: We have multiple "restricted" Argo CD instances in a single cluster where we want to enforce multi-tenancy (ie. 5 Argo CD instances in 5 different Namespaces, each one with Roles/RoleBindings to manage resources in a few other isolated Namespaces).

Of course we could

[2022-10-14 13:51] crenshaw-dev commented on #4192
Hopefully this helps a bit with the `policy.default` behavior: https://github.com/argoproj/argo-cd/pull/10896

But yeah, we need more general commentary about how `deny` works.

[2022-10-14 13:54] crenshaw-dev commented on #2746
I think this is the thing we needed to do, and we did it? https://github.com/argoproj/argo-cd/blob/254f3b69aef1ea261e25aca680248df126239b1d/Dockerfile#L41

lmk if I'm wrong.  :-)

[2022-10-14 13:54] #2746 closed

[2022-10-14 14:03] chris-codeflow opened #10945 "Argo CD CLI app diff/sync to local manifest always fails on **Windows** operating system"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Argo CD CLI `app diff` and `app sync` with `--local` flag doesn't work on **Windows** operating system.

**To Reproduce**

1. Create and sync an app (referencing a Helm chart) from a Gi

[2022-10-14 14:09] chris-codeflow commented on #10945
I analyzed this bug and found the root cause in the file `/util/io/path/resolved.go`.  Both the `resolveSymbolicLinkRecursive` and `ResolveFilePath` functions assume the directory separator to be the *nix **/** character, which is not the case for Windows operating systems.

I changed the functions to use `string(os.PathSeparator)` instead of the hard-coded string "/" and rebuilt the CLI for Windo

[2022-10-14 14:18] ameytotawar commented on #3588
I am working on this issue.

[2022-10-14 14:50] crenshaw-dev commented on #10943
Yep, I think so!

[2022-10-14 14:51] crenshaw-dev commented on #10916
Yeah, I think the `{}` "live view" happens when a user has insufficient Argo CD RBAC. Seems like we could do something similar when the server has insufficient k8s RBAC.

[2022-10-14 15:06] kosta commented on #10943
Ok, I tried again and my issue is that I can only override the "app of apps" (application source "directory") but there is nothing that I want to override. I want to override the individual apps (e.g. cluster1/app1/release.yaml), which is not possible from `.argocd-source.yaml`. Or am I missing something?

[2022-10-14 16:09] doug62 commented on #10892
Thx - where is .argocd.source.yaml  documented?

[2022-10-14 16:15] crenshaw-dev commented on #10888
@Kunalbhandari not yet. Feel free to open a PR!

Here's the guide to run locally: https://argo-cd.readthedocs.io/en/stable/developer-guide/running-locally/

[2022-10-14 16:16] crenshaw-dev commented on #10888
Leaving this unassigned for now. Will review any PRs.  :-)

[2022-10-14 16:17] crenshaw-dev commented on #10892
@doug62 here you go: https://argo-cd.readthedocs.io/en/latest/user-guide/parameters/#store-overrides-in-git

[2022-10-14 16:21] lknite commented on #8324
Also looking for this.  I use argocd and an applicationset that lets me install argocd on multiple clusters.  I have a default rbac in the applicationset which grants admin access to users in a group, but I'd like to also be able to grant specific access to an installed argocd instance, allowing team members full access to a specific application only.

[2022-10-14 16:22] #4549 closed

[2022-10-14 16:25] #9972 closed

[2022-10-14 16:27] crenshaw-dev commented on #8324
This has been mostly done. Would someone be willing to pick up the PR and apply apply the changes Jann requested? https://github.com/argoproj/argo-cd/pull/9976

[2022-10-14 16:27] The-Debarghya commented on #10919
Where are the changes to be implemented?

[2022-10-14 16:34] crenshaw-dev commented on #10919
@The-Debarghya I think either in server/project/project.go's Update function (stripping whitespace on project update) or on the `ProjectRole` struct as a `.GetTrimmedGroups()` function. The latter approach is a bit more involved, but more thorough.

[2022-10-14 16:47] egkelly opened #10951 "Notifications - Events not triggering message to Slack"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I've set up Slack notifications according to the documentation (with a few tweaks given the helm chart version I have deployed - 2.16.0 ), but the events I have triggers/templates set u

[2022-10-14 17:00] ankiiitraj commented on #5778
Hi! I am looking at this enhancement. Will draft something soon.

[2022-10-14 17:27] rumstead opened #10952 "Parallelize ApplicationSet Reconciliation Loop"
# Summary
The ApplicationSet controller *looks* to do a lot, if not all, tasks sequentially. This can cause slow ApplicationSet reconciliation when the controller is stuck waiting on slow tasks, like network IO from a GIT generator.

For instance,

[code]

# Motivation
Speeding up the reconciliation loop will allow for ApplicationSet changes to be applied faster providing a quicker feedback loop.

[2022-10-14 17:37] joelgriffiths commented on #2532
This is not production ready, and it hasn't been updated in months.

The fact that ArgoCD doesn't do this out of the box is mind-blowing to me.

[2022-10-14 18:48] kosta commented on #10943
To apply this to your [app of apps example](https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/#helm-example):

[code]

Is there some way for an app in `templates` to read another values file from within the same git repo or use a `.argocd-source.yaml` or `.argocd-source-<app name>.yaml` file?

[2022-10-14 19:03] akhilchoudhary2k commented on #10803
!assign

[2022-10-14 19:19] bharatveeryadav commented on #10803
@akhilchoudhary2k  yes I Like to work on

[2022-10-14 20:37] #10945 closed

[2022-10-14 20:39] doug62 commented on #10892
Thanks, however that link only has the following type of info...
kustomize:
  images:
    - gcr.io/heptio-images/ks-guestbook-demo:0.2

[2022-10-14 20:53] alexmt commented on #10647
Based on error message this is duplicated of https://github.com/argoproj/argo-cd/issues/10647 . Closing since 10647 has more details

[2022-10-14 20:53] #10647 closed

[2022-10-14 21:14] aimanfatima commented on #7560
hi @saumeya @crenshaw-dev
created this pr - https://github.com/argoproj/argo-cd/pull/10956
Please have a look and let me know.

[2022-10-14 21:26] hernanpl opened #10957 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for Argo](https://clomonitor.io/projects/cncf/argo) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

### Summary

**Repo

[2022-10-14 21:37] eddie-knight commented on #10957
Whoops- duplicate of #10852

[2022-10-14 23:09] aimanfatima commented on #10888
created a PR for this issue - https://github.com/argoproj/argo-cd/pull/10959
Please review.

[2022-10-15 16:05] #10957 closed

[2022-10-15 16:43] eddie-knight commented on #10852
Mentioned this on slack, but dropping it here also for reference. The [OpenSSF Scorecard issue](https://github.com/ossf/scorecard/issues/2338) is being actioned to resolve the Token-Permissions issue with limited disruption to existing workflows.

[2022-10-15 19:12] ThisIsQasim commented on #10927
Perhaps I understood incorrectly, the gRPC endpoint is only for the CLI and the UI won't be using it anyway.

[2022-10-15 19:12] #10927 closed

[2022-10-16 00:25] SafeEval commented on #4276
If you find your way here while trying to use ArgoCD to configure Istio, and are getting an `OutOfSync` error on `istiod-default-validator`, the following configuration in an ArgoCD app that installs the `istio/base` Helm chart will help:

[code]

[2022-10-16 15:03] ChandanChainani opened #10965 "2 modules `kballard/go-shellquote` and `google/shlex` for same task"
# Summary
It would be better to one which will reduce module dependency for project

[2022-10-16 16:10] edoger commented on #3491
@iam-veeramalla
I've created a corresponding patch, which requires further discussion before a global replacement. Unit tests I will complete after the discussion.

[2022-10-17 04:16] wanghong230 commented on #10913
I have the same observation.

[2022-10-17 04:17] wanghong230 commented on #10899
The feature is available to leverage. Close for now.

[2022-10-17 04:17] #10899 closed

[2022-10-17 06:12] JessieTeng89 commented on #10887
Hi @crenshaw-dev
I created a [PR](https://github.com/argoproj/argo-cd/pull/10970) for this issue, kindly help to review it.

[2022-10-17 07:08] hcelaloner commented on #10952
Hi, we are also experiencing slowness in the ApplicationSet Controller side when the number of ApplicationSets increases. We opened #9002 and tried to bring a solution with #9568 for the subject. I am not fully familiar with the code base but like mentioned in the #9002 it seems that Application Controller has some parallelism and sharding support, meanwhile, the ApplicationSet controller does not

[2022-10-17 08:36] thejsdeveloper commented on #10922
@alexec Can you provide more details on this ? I will be able to take it as first time contributor if I have more information. :)
Thanks :)

[2022-10-17 08:46] pixiono commented on #4651
Hi together,

I also have the case that I like to "automatically" add clusters to ArgoCD that I provisioned with cluster-api using the  execProviderConfig from #4600.

I managed to get the token from the execProviderConfig (as in the GCP example).

The problem I have now is that I need to set server and certificate-authority-data, otherwise ArgoCD will not recognize the cluster.

For further testi

[2022-10-17 10:18] prein commented on #7121
Getting 401 as well with the yaml as in previous comments. Similar error in logs:
[code]

Did anyone try, if possible, using some form of short lived token auth or assumed role?

[2022-10-17 12:44] rumstead commented on #10952
Thanks for sharing @hcelaloner! Did you determine why your applicationset controller was taking so long to process the application sets? Ie, network IO?

[2022-10-17 13:12] rumstead commented on #10952
@crenshaw-dev, should we look to make the git requests concurrent first? I am happy to submit a PR/work with @hcelaloner if we have an agreement on the next steps.

[2022-10-17 13:25] crenshaw-dev commented on #10952
@rumstead I guess it depends on _how_ the git requests are made concurrent. Making them concurrent per-ApplicationSet would probably be relatively easy, but it would only be helpful for ApplicationSets which make multiple slow git requests.

Sharding is kind of on the other end of the spectrum, parallelizing at the highest level possible. It solves the problem, but at the cost of spinning up a lot

[2022-10-17 13:54] swamx opened #10974 "Disks disappear when updating to strimzi 0.30.0 (ArgoCD)"
**Describe the bug**
Disks disappear when updating to strimzi 0.30.0

**To Reproduce**
Steps to reproduce the behavior:
Deploy 0.30.0 with the same values as 0.29.0

**Expected behavior**
I expected the disks to keep existing, even when kafka transitions to strimzipodsets.

Environment (please complete the following information):

Strimzi version: 0.20.0 to 0.30.0
Installation method: Helm chart (

[2022-10-17 14:20] iam-veeramalla commented on #3491
Hi @edoger, Do you want to bring this discussion in our next community meeting which is on the thursday ?

[2022-10-17 14:45] rumstead commented on #10952
[MaxConcurrentReconciles](https://github.com/kubernetes-sigs/controller-runtime/blob/8ad090e0663e046c5a9dad68a572af0e30626c85/pkg/controller/controller.go#L40) looks like it can be leveraged here.

https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/controller#Options

[2022-10-17 15:18] todaywasawesome commented on #10272
@gigi206 I was unable to replicate this issue. In general, to debug this dashboard here's what I did.

### Quick guide for debugging Argo CD dashboard with Prometheus and Grafana

1) Make sure to deploy the Argo CD `ServiceMonitor`s listed in the [documentation](https://argo-cd.readthedocs.io/en/stable/operator-manual/metrics/#prometheus-operator).
2) Verify that the `ServiceMonitor`s are configur

[2022-10-17 15:18] #10272 closed

[2022-10-17 15:41] edoger commented on #3491
@iam-veeramalla OK!

- Whether the new application logging subpackage is approved.
- Use the new Logger interface to decouple the log driver library and the application.
- Wraps zap into existing logging styles to reduce refactoring costs.
- Whether to provide configuration items to split log output to standard error and standard output.
- Whether the log format and log level need to be modified w

[2022-10-17 16:40] kelly-brown commented on #10651
I'm seeing the exact same problem.  I'm on 2.4.14.

[2022-10-17 16:44] #8773 closed

[2022-10-17 17:06] prein commented on #8097
@minhnnhat does it work for you without setting the `enableOCI: "true"` in the repository type secret?

[2022-10-17 17:11] minhnnhat commented on #8097
@prein I use ECR for storing both image and helm chart, and `enableOCI: "true"` is required

[2022-10-17 17:25] kamuridesu commented on #4863
+1

[2022-10-17 17:47] iam-veeramalla commented on #3491
Sounds Great :) .. Do you have the link for the contributors meeting ? Please let me know, I can share the invite.

[2022-10-17 18:34] jakestonelater commented on #7968
An upvote for this feature
Yes, there are workarounds, but the ethos of ArgoCD is to add a convenience wrapper to Kubernetes, right?
I believe this feature would meet that criteria

[2022-10-17 19:49] shuker85 commented on #10965
Looks like removing go-shellquote would be more appropriate
[code]

[code]

[2022-10-17 20:18] bkrein-vertex commented on #10895
Having something similar to what `helm template` does would be amazing for troubleshooting syntax!  I'd love some sort of "dry-run" for AppSets.

[2022-10-17 21:32] crenshaw-dev commented on #10880
UI support will be in 2.6. I'll leave this issue open to track glob pattern validation and docs-in-UI (tooltips or whatever to clarify how include/exclude works).

[2022-10-17 21:39] #10803 closed

[2022-10-17 21:39] crenshaw-dev commented on #10803
Reopening since, as implemented, this applies only to resources within applications. It would be nice to have the same feature in the Application Details page as well.

Still a valid hacktoberfest task!  :-)

[2022-10-17 21:43] rishu1601 commented on #10919
Hey @crenshaw-dev , let me know if this is up for grab, I don't see this issue as assigned

[2022-10-17 21:44] BMonsalvatge commented on #10474
Yea, that would partially solve the issue.  I think the only additional functionality that feels missing is a way to prefill those parameters the way `helm` plugin does by default.  Maybe if there was some way a CMP can express where to get those values from (in the case of helm, pointing to `values.yaml`).

[2022-10-17 21:53] crenshaw-dev commented on #10474
@BMonsalvatge that's part of #9216! When the plugin sends Argo CD a description of what parameters it accepts, it can generate the list however it wants and pre-fill values which are already set. We designed it this way specifically with Helm in mind.

The feature proposal actually includes a small script which converts a values.yaml to a list of plugin parameters: https://argo-cd.readthedocs.io/e

[2022-10-17 21:59] BMonsalvatge commented on #10474
Thanks for clarifying!  Understanding that now looking over it a second time.  I appreciate the response!

[2022-10-17 22:50] crenshaw-dev commented on #10474
Yeah I'm pretty excited about the feature, even more excited that it sounds like someone might use it. 😆 We'll get it reviewed and merged in time for 2.6 late next month.

[2022-10-17 23:32] ron1 commented on #4651
You might consider using a Kyverno Generate policy to create the ArgoCD cluster secrets as is done [here:](https://github.com/kyverno/policies/blob/main/argo/argo-cluster-generation-from-rancher-capi/argo-cluster-generation-from-rancher-capi.yaml) specifically for Rancher CAPI.

[2022-10-18 00:06] jessesuen commented on #10974
@swamx Did you mean to file this against https://github.com/strimzi/strimzi-kafka-operator? Otherwise, can you explain why you feel this is an Argo CD issue if your issue is resolved by upgrading to a different strimzi version?

[2022-10-18 01:44] edoger commented on #3491
@iam-veeramalla Please email to share with me. O(∩_∩)O~~~

[2022-10-18 04:07] iam-veeramalla commented on #3491
@edoger you can find it here Contributors Office Hours: [Every Thursday](https://calendar.google.com/calendar/u/0/embed?src=argoproj@gmail.com) | [Agenda](https://docs.google.com/document/d/1xkoFkVviB70YBzSEa4bDnu-rUZ1sIFtwKKG1Uw8XsY8)

[2022-10-18 06:47] hcelaloner commented on #10952
No. I did not. Is there a way to investigate that one? I guess the applicationset controller has some metrics exposed by the controller runtime but it does not expose any metrics for git operations as far as I know. As discussed in the old issue, I guess an OpenTelemetry integration could be useful for observability.

I am not too familiar with the internals of controller runtime. Is this option c

[2022-10-18 07:19] Gianluca755 opened #10981 "Docs: Improve monitoring"
Hello, I'm a newbie but I think that the [metrics page](https://argo-cd.readthedocs.io/en/stable/operator-manual/metrics/) requires some love.
I've installed Argo CD with the Helm chart.

1. Simple repetition of the word "API" and a Markdown error in table https://argo-cd.readthedocs.io/en/stable/operator-manual/metrics/#api-server-metrics.
2. In the docs there is no ServiceMonitor for Dex, as a c

[2022-10-18 10:02] AndersBennedsgaard commented on #8278
Cert-manager apparently does not work well with the default prune deletion propagation policy of `foreground`, as explained [here](https://github.com/argoproj/argo-cd/issues/5724#issuecomment-1041586611). So setting
[code]
in your Application manifest, makes the deletion much faster

[2022-10-18 11:45] jvoeller commented on #10831
Okay, I found the issues. Argo CD was detecting a change in the cluster and deployed itself again. Our Argo CD Helm Chart however had a argocd-secret  which was empty. It then replaced the current argocd-secret. To fix this issue I disabled the `create-secret` flag in the helm chart and manually created the secret.

[2022-10-18 11:45] #10831 closed

[2022-10-18 12:41] prein commented on #8952
Another workaround is described in [another issue coming from the same problem](https://github.com/argoproj/argo-cd/issues/8097).
The workaround works, however, having to run a daemon or a cronjob to refresh the token is sub-optimal. This should be supported natively.

[2022-10-18 13:10] farcaller opened #10982 "Allow Applications to ignore specific resource types despite argocd.argoproj.io/instance"
# Summary

Applications should have an option to ignore resources by GVK and/or name, even if those resources have `argocd.argoproj.io/instance` set pointing at the application.

# Motivation

Tekton uses labels [propagation](https://tekton.dev/docs/pipelines/labels/), so any labels set on Pipeline end up on PipelineRun, TaskRun, and then Pod. This results in lingering PipelineRun confusing argocd

[2022-10-18 14:04] yellowmegaman opened #10984 "ArgoCD CLI port-forward-namespace flag should default to argocd"
# Summary

argocd CLI `--port-forward-namespace` flag should default to `argocd`

# Motivation

Please give examples of your use case, e.g. when would you use this.

I've seen ArgoCD in many companies now, and we are using it in production. I've never seen it being deployed in other namespaces than `argocd`. One can assume it to be a safe default value. Setting it to mostly used value will remove

[2022-10-18 14:12] alexec opened #10985 "Add `argocd app diagnose` to quickly diagnose degraded app"
I don’t tend to go into Argo CD unless my app is broken. Then I often perform the exact same steps each time:

1. Find the degrade resource.
2. Look at recent error events.
3. Find the most recent “error” or “exception” in the logs.

I’d like a button that does that all for me and shows the result on the screen.

[2022-10-18 15:35] crenshaw-dev commented on #10985
We hope to do something similar in the UI with "timeline view."

[2022-10-18 15:39] stephaneetje commented on #7968
That feature would really be VERY useful

[2022-10-18 15:49] cirulls commented on #4174
This was the solution that worked for me too.

[2022-10-18 15:49] #7560 closed

[2022-10-18 17:42] bibhas2 opened #10987 "Failing to prune"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have auto sync and pruning enabled. If I delete a YAML file and push it I expect all components described therein to be pruned. But sync fails with the error ``Skipping sync attempt t

[2022-10-18 17:59] crenshaw-dev commented on #10888
Fixed by https://github.com/argoproj/argo-cd/pull/10959

[2022-10-18 17:59] #10888 closed

[2022-10-18 19:29] NickLarsenNZ commented on #9451
Can these two issues be combined (ie: add the missing features to one of the other, and close one off)?

[2022-10-18 19:45] hlacikd commented on #4275
guys, i do use this
`
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  resource.customizations.health.cert-manager.io_Certificate: |
    hs = {}
    if obj.status ~= nil then
      if obj.status.conditions ~= nil then
        for i, condition in ipairs(obj.status.conditions)

[2022-10-18 20:03] crenshaw-dev commented on #10916
I'm unable to reproduce this in 2.4.12, running in docker-desktop with the server port-forwarded.

Here's my ClusterRole:

[code]

I'm getting the expected 403 from the API server, but not the UI runtime error.

Is this issue limited to the webpack dev server.

[2022-10-18 20:05] bibhas2 commented on #10987
This probably has something to do with [allow empty](https://argo-cd.readthedocs.io/en/stable/user-guide/auto_sync/#automatic-pruning-with-allow-empty-v18) not set to true. There appears to be no way to do this from the UI. Also, during manual sync allowEmpty is not enforced. This is adding to the confusion.

[2022-10-18 23:12] duxing opened #10990 "Unable to run `argocd app edit` when using docker image"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

 Receive `FATA[0000] exec: "vi": executable file not found in $PATH` when running `argocd app edit` inside the docker container

tested in `latest`, `v2.3.10`, `v2.4.0`, `v2.4.10`: all

[2022-10-19 04:36] DasJayYa commented on #6880
We had this issue and it was relating to a customers Job failing to initialise due to a bad secret mounting. You can validate this by checking the events in the namespace the job is being spun up to see if its failing to create.

[2022-10-19 04:44] maheshbaliga commented on #10883
Hi @jgwest. I am working on this issue, will get back to you if I need any help.

[2022-10-19 08:24] alexvanboxel commented on #3360
Another Proof-Of-Concept: https://github.com/treactor/treactor-kpt-functions/tree/main/argo

[2022-10-19 09:12] davshafik opened #10992 "How to Limit targetrevision only to rc tags only"
# Summary

can't limit targetrevision to look up only rc tags from helm registry.
i used to set targetrevision to x.x.x-rc.x but it always gets the latest tag without rc

# Motivation

Is it possible to limit targetrevision to fetch only rc tags when i use helm registry as a repo
possible to use regex ? or is there another way to do so ?

[2022-10-19 09:23] BinaryWorld2099 opened #10993 "Allow to Delete PVC when auto-sync is enable for application"
Allow to Delete PVC when auto-sync is enable for application

I am testing Kasten back up for K8s Argocd application

Fond that when application in argocd enable auto-sync cannot delete PVC
![image](https://user-images.githubusercontent.com/106383882/196651186-74202000-6f9e-4285-a262-0be747b99d41.png)
![image](https://user-images.githubusercontent.com/106383882/196650808-35adaaf7-9861-45ea-b1e8-b2

[2022-10-19 09:34] bygui86 commented on #4116
sorry guys, I don't understand the status of this new feature :)
can someone summarise it?
thanks!!

[2022-10-19 09:36] maaft commented on #9214
@xgt001  what exactly is in `application.yaml` in your case?

I've installed a helm chart from a public repository. Now I want to change `values.yaml` and expect that argocd re-deploys pods, which is not the case.

[2022-10-19 09:48] shydefoo commented on #10430
Hello, I am also facing the same issue, having this would be great! @NPellet did u manage to find a workaround?

[2022-10-19 11:57] herzogf commented on #4863
Can we re-open this issue?
I'm seeing this in argocd 2.3.7 as well (sorry, we're on RH GitOps Operator thus a bit behind in terms of Argo version) when the app sync is triggered by a webhook (in our case by bitbucket server). The app syncs instantly and successfully, is synced but app health says "Progressing". The app is stuck in Progressing until either a) I manually to a "Refresh" in the UI or

[2022-10-19 12:03] kamuridesu commented on #4863
Vote for re-open. I've deployed keycloak via argocd but it's stuck at progressing, neither refresh or automatic refresh changes it.

[2022-10-19 12:12] harisaisundhar commented on #10204
Hey team, I'm starting to work on this case

[2022-10-19 12:21] adecchi-2inno commented on #4979
Hi Users, same problem from here. I have ArgoCD v2.3.2 and the  ArgoCD Application Sync stuck forever waiting.
I tried restarting the application-controller, repo-server, argocd-server, redis and continue in the same situation.
Any idea, how can i force to stop it ?

[2022-10-19 12:43] crenshaw-dev commented on #10803
Looking at it again, I think it's fine to not have this on the Application Details page.

[2022-10-19 13:35] maheshbaliga commented on #10883
Hi @bygui86 - I was not able to replicate this issue. Followed these steps:

- Set up a Kind cluster where the ArgoCD resides and a GKE external cluster.
- Created an App with the finalizer, the resources were created in the external cluster.
- Deleted the app (cascade is true), the resources on the external cluster were deleted too.

When the cascade is false, the app gets deleted and the resourc

[2022-10-19 13:54] bygui86 commented on #10883
Hi @maheshbaliga thanks for investigating. Sorry probably I was not explaining myself in a good way.

First of all a couple details about my environment:
- a GKE cluster on which ArgoCD runs
- another GKE cluster where to deploy resources
- my ArgoCD server is v2.2.1
- I don't use ApplicationSet, but app-of-apps pattern
- all yaml are managed with kustomize

To delete the Application I don't use n

[2022-10-19 14:19] agagniere opened #10997 "Display cluster labels in the UI"
# Summary

## Feature proposed

Adding a list of labels and annotations in the cluster details view, displaying the metadata of the argo-cd Cluster object.

## Context

Those labels are set when running commands such as :
[code]

Currently, the only way I know of to view them is to use the argo-cd CLI, with a command like :
[code]

Those labels can be used by an ApplicationSet to generate a set of

[2022-10-19 14:42] jared-schmidt-niceincontact commented on #10928
I agree with @Fettah.  The argocd app authentication has been added to applicationset generators, but there is no documentation or examples showing how it works or that it even exists.

[2022-10-19 14:57] chkp-alexgl commented on #5202
In case this is still relevant for anyone (@jgoeres ?), a workaround we found for a similar issue is to perform a lookup for Namespace resources. Under 'helm template' it is empty.

[2022-10-19 15:01] Fettah commented on #10928
yes

[2022-10-19 15:08] chicco785 commented on #5202
ciao @chkp-alexgl long time not talking, how are you? :)

[2022-10-19 15:20] srclark213 commented on #9145
Hey, I'm still seeing this issue on ArgoCD version 2.4.14 and kubernetes version 1.24. We have the latest argo charts (as of writing 5.6.0) deployed to our cluster and with

[code]
the HPAs are happy, but if I clear this out or set it to autoscaling/v2, I receive the `unsupported HPA GVK: autoscaling/v2, Kind=HorizontalPodAutoscaler` error on the 2 HPAs in ArgoCD.

output from argocd version:
[cod

[2022-10-19 15:55] marcio-pessoa commented on #9145
Wow!
Could you please kindly share the definition files and Argo CD error message?

[2022-10-19 16:19] pranayraut commented on #10200
I would like to pick this up for hacktoberfest

[2022-10-19 16:20] srclark213 commented on #9145
Sure. So we're using the argo-helm charts on 5.6.0 here (https://github.com/argoproj/argo-helm/tree/argo-cd-5.6.0), which result in this definition file for the repo-server hpa:

[code]

And the error we get with this is
[code]

[2022-10-19 17:34] alexec opened #11000 "Enhanced log viewer"
I would like to improve this.

* Infinite scrolling.
* Clearer labels on button + tooltips.
* Highlight errors and exceptions. Stderr output is in red.
* Search terms highlighted.

Maybe the component could be reused?

[2022-10-19 18:12] crenshaw-dev commented on #11000
Highlighting stderr will be blocked on https://github.com/argoproj/argo-cd/issues/3491

In the meantime, we could use structured logs to determine what's an error.

[2022-10-19 18:18] crenshaw-dev commented on #10990
For reasons discussed on the PR, we won't be adding vim to the main image. If lots of folks want an argocd-cli image, we'll consider adding that to our repo/build.

[2022-10-19 18:18] #10990 closed

[2022-10-19 18:59] nsinghal12 commented on #10880
Hi @crenshaw-dev Can you please assign this to me. Thanks!

[2022-10-19 19:00] nsinghal12 commented on #5279
Can this be assigned to me.

[2022-10-19 20:20] rumstead opened #11001 "Argo CD attempts to unmarshal ApplicationSet config.json files"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
We store our ApplicationSets and GIT config in the same "bootstrap" repo. We have historically only used `*.yaml` files and have not run into any issues. ApplicationSet GIT generators al

[2022-10-19 20:54] crenshaw-dev opened #11002 "Upgrade git to >=2.34.5"
# Summary

The release [patches](https://lore.kernel.org/git/xmqq4jw1uku5.fsf@gitster.g/T/#u) two [vulnerabilities](https://github.blog/2022-10-18-git-security-vulnerabilities-announced/).

# Proposal

Looks like there's no [ubuntu package in 22.04](https://packages.ubuntu.com/jammy/git) yet. We might just have to wait for them.

[2022-10-19 21:00] bensch98 opened #11004 "Traefik IngressRoute not working without tls"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Despite disabling tls by setting server.insecure: "true", the UI is not accessible via Traefik Ingress. Instead I get a 404 page not found error.
I exposed my LoadBalancer via MetalLB a

[2022-10-19 21:45] crenshaw-dev commented on #11001
@rumstead the slight downside to the proposed change is that you won't get the current "oops you forgot to set `kind`" error you will now. I think it's a very small downside, but worth considering.

Would setting the `exclude` field to ignore non-manifest JSON do the job?

[2022-10-19 21:49] crenshaw-dev commented on #11002
We can track the fix availability here: https://security.snyk.io/vuln/SNYK-UBUNTU2204-GIT-3051753

[2022-10-20 02:08] edoger commented on #3491
@iam-veeramalla I don't have access to Google 😞 and may need your help with the results of the discussion.

[2022-10-20 02:18] jgwest commented on #10952
I wasn't around for the early early days of the ApplicationSet controller, but I don't recall much discussion of parallelizing it (or otherwise sharding multiple instances of ApplicationSet), and when PR were merged I don't recall much discussion around ensuring that contributed generators were thread safe. When enabling multithread reconciliation, one needs to be careful in locking shared resourc

[2022-10-20 02:29] purajit commented on #9123
In my case, it's something I've wanted to use while migrating services into ArgoCD to avoid having to merge changes in each time during the import stage while I'm trying to get all the configs in sync.

So if anything it'll make the adoption process a lot nicer :)

[2022-10-20 04:50] iam-veeramalla commented on #3491
I can add this to the agenda .. no problem. You will lead the discussion at the contributors meeting right ?

[2022-10-20 06:59] atefhaloui commented on #9229
Hi,
    I have a similar problem but the issue is coming from the fact that I'm running my gitlab CE on a non standard port.
I've added the ssh public key to know_hosts `(gitlab.mydomain.com ssh-ed25519 xxxxxxxxx`) and tried to add the repository `ssh://git@gitlab.mydomain.com:my_port/fa/myproject.git` but it keeps saying `ssh: handshake failed: knownhosts: key is unknown`
I have no clue on how to

[2022-10-20 07:21] Gianluca755 opened #11007 "Docs: Unclear behavior with resource hooks"
Hello, it is not clear to me the behavior of hooks in the cases of failure, as in the [docs](https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks/).
If we have presync, sync, syncfail, and postsync, and a failure happen in the pre or post, the syncfail will be executed?
If we have presync, sync, syncfail, and postsync, and a failure happen in the sync, the postsync will be executed?

[2022-10-20 08:16] yuval0499 commented on #10204
I'm interested in working on this.
As I can see the right now, only [GithubService](https://github.com/argoproj/argo-cd/blob/6a7d79f8e0d1c583f182cf16b63142506f405923/applicationset/services/pull_request/github.go#L12) and [GitLabService](https://github.com/argoproj/argo-cd/blob/6a7d79f8e0d1c583f182cf16b63142506f405923/applicationset/services/pull_request/gitlab.go#L11) are having labels, while [Bi

[2022-10-20 09:04] mihneastaub commented on #9278
Hello @karlderkaefer,

Thank you for the information provided on this issue.

I want to mention that I have added the resources request and limits for each ArgoCD components (for the notifications I have not added), but the same error appears randomly. Also, I don't see anything in the logs (activated debug mode) for this behaviour.

Another thing to mention is that every-time GitHub have some [in

[2022-10-20 09:22] cbl315 commented on #7557
We have a workaround for this case: override the health check script as shown below:

[code]

In health.lua, we just check whether the dynamicAllocation is enabled:
[code]

And it works for us.

[2022-10-20 12:15] jmmclean commented on #10257
Thanks to you both; I will look into adding the `application.instanceLabelKey` in a future iteration to further create this guardrail.

[2022-10-20 12:34] edoger commented on #3491
@iam-veeramalla  I don't have the right amount of free time to attend and I support the outcome of any of your discussions.
I can't understand English conversations and can only read English documents.

[2022-10-20 12:36] iam-veeramalla commented on #3491
Ok, I will see if I can get this into today's agenda and get back to you with the outcome of the meeting:)

[2022-10-20 12:39] rumstead commented on #11001
Agreed, you wouldn't. IMHO, the difference in behavior between JSON and YAML was confusing and a little misleading.

The short answer is yes but painfully at scale. The long answer is we have a "bootstrap" repo that contains all our developer's application sets. We gatekeep this repo because of some security concerns with application sets (really applications) and the ability to release production

[2022-10-20 12:49] xmath279 commented on #7352
I've tried the RC version with this feature (CLI) and I was wondering if there were any plans to add some of the subcommands supported by the `argocd app` command. The current implementation (by https://github.com/argoproj/argo-cd/pull/9584) only supports `create`, `delete`, `get` and `list`.

I have a use case where it would be useful to set parameters during deployment in a CI/CD for application

[2022-10-20 13:00] rumstead commented on #10952
The `/tmp` directory where the git directories check out is a prime example.

[2022-10-20 14:17] purajit commented on #9773
Big +1 to this, we're testing out Argo but onboarding and moving services onto it has a slower iteration speed.

I've noticed that once the in-repo configuration has the correct name/kind/namespace/apiVersion of each resource, I'm able to then use the CLI to get the correct diffs. But often the naming conventions and what not are what we're trying to get right in the first couple iterations

[2022-10-20 14:32] StinkyBenji commented on #11007
Hey there, afaik, the resource marked with `SyncFail` hook will only be executed when the resource marked with `Sync` hook failed.
There is a chapter in the course "GitOps at Scale" from Codefresh, which explains the concept and usage of Sync Wave/hook/window very well.

[2022-10-20 14:57] swamx commented on #10974
@jessesuen The issue seems to occur only when we use Strimzi on ArgoCD. If we launch the cluster using kubectl and helm without ArgoCD it turns up fine. If we create the PVC's manually then also it works fine.
For some reason when Argo creates the PVC it regards them as orphans and deletes them.

If there was something wrong with the CRD or Strimzi operator the cluster would not turn up normally i

[2022-10-20 15:04] #11004 closed

[2022-10-20 15:05] bensch98 commented on #11004
Issue solved by removing following lines from IngressRoute. The documentation sounded a bit confusing.

[code]

[2022-10-20 15:19] Nicarim opened #11009 "ARGOCD_OPTS doesn't accept `--header` parameter correctly"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When trying to use `ARGOCD_OPTS` with `--header` option, it seems that Argo CD CLI is not able to parse these correctly and just ignores it entirely.

**To Reproduce**

1. Run `export A

[2022-10-20 16:08] 34fathombelow commented on #11002
https://ubuntu.com/security/notices/USN-5686-1
Ubuntu will not upgrade versions of git on an LTS.  Instead they will backport the fix, which has already been done.

[2022-10-20 16:24] shanproofpoint commented on #2913
hi , There are a lot of situations where dynamic discovery of information is required even within ci cd... i hope we can get this feature to reduce hackery.... thank you.

[2022-10-20 16:52] muratakdeniz opened #11010 "ApplicationSet "Git Generator" does not work with Azure devops repos"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Git Generator doesn't generate applications when azure devops repos are used. However it works with  "List Generator".

**To Reproduce**

[code]

[code]

**Expected behavior**

Argocd a

[2022-10-20 17:10] trishnakalita660 opened #11011 "The option selected in Drawer is shown in the Header twice too"
# Bug Description

The option selected in Drawer is shown in the Header twice too.

## To Reproduce

Open any of the below listed pages in the application:
1. [Applications](https://cd.apps.argoproj.io/applications)
2. [Settings](https://cd.apps.argoproj.io/settings)
3. [User Info](https://cd.apps.argoproj.io/user-info)

## Expected behavior

The heading text (APPLICATIONS / SETTINGS / USER INFO)

[2022-10-20 17:19] leoluz commented on #2913
@shanproofpoint The new sync options discussed here are released as part of Argo CD 2.3+. Is there a feature to address your use-case?

[2022-10-20 17:34] shanproofpoint commented on #2913
@leoluz thank you for clarifying! however i was unable to locate the documentation for it

https://argo-cd.readthedocs.io/en/release-2.4/user-guide/sync-options/

is the documentation just not updated to reflect this feature?

[2022-10-20 17:58] leoluz commented on #2913
@shanproofpoint
This is the documentation for the new sync option:
https://argo-cd.readthedocs.io/en/release-2.4/user-guide/sync-options/#respect-ignore-difference-configs

This is the documentation for the new ignore difference method:
https://argo-cd.readthedocs.io/en/release-2.4/user-guide/diffing/#application-level-configuration

There is also a blog post published while back explaining how it

[2022-10-20 18:02] crenshaw-dev commented on #11011
@rbreeze do you agree that the titles shouldn't be duplicated?

[2022-10-20 18:12] maheshbaliga commented on #10883
Hi @bygui86. Thanks for the detailed explanation. I followed the exact same steps with the latest code and it seems to work as expected.

[2022-10-20 18:28] bygui86 commented on #10883
Hi @maheshbaliga then you suggest to upgrade to latest and test again?
We planned already for upgrade but in some weeks, so maybe I should try on a temporary environment...

[2022-10-20 20:33] rbreeze commented on #11011
I think ideally they wouldn't be duplicated, but I'm not sure there is a better way to approach it.

The title on the left is the highest level breadcrumb, while the one on the right is fixed. On nested pages, it doesn't appear duplicated because there are multiple breadcrumbs.

<img width="1276" alt="CleanShot 2022-10-20 at 13 30 57@2x" src="https://user-images.githubusercontent.com/6250584/19705

[2022-10-20 21:02] rdipika commented on #5111
Hi, is this issue still open? I would like to work on this!

[2022-10-20 21:33] wmgroot commented on #10707
We saw this today running v2.4.7+81630e6.
A restart of the argo-server pods resolved the issue for now.

[2022-10-21 03:20] leoluz commented on #8683
@jannfis We found an issue with this new logic in our servers when users update to newer APIGroups (going from extensions/Ingress to networking/Ingress for example). I described the issue with more details in my PR with a fix attempt (https://github.com/argoproj/argo-cd/pull/11012)

[2022-10-21 05:26] iam-veeramalla commented on #3491
Hi @edoger, Please find the response from the community meeting.

 Yes. Do we also want to support Sugar logging with Zap ? Do you see any advantages ?

Yes. There is already a log package, if possible we can leverage that.

Yes

Yes

* Whether the log format and log level need to be modified while the application is running.
No opinion, You can take this decision.

[2022-10-21 05:48] edoger commented on #3491
@iam-veeramalla thank you very much!
I have seen the feedback and understand it. I'll make all the changes this weekend and can do a code review next Monday.
If you have any other questions or comments, feel free to email me at any time.

[2022-10-21 07:35] vsfomin opened #11015 "Error has occurred when I try to delete successful or failed job in argocd web UI"
**Describe the bug**

When I try to delete successful or failed jobs in ArgoCD web interface, the error occurred.
_Unable to delete resource: error deleting resource: jobs.batch "name-of-job-here" not found_

**To Reproduce**
Just try to delete jobs from UI

**Expected behavior**

Successful delete job from application.

**Screenshots**

![image](https://user-images.githubusercontent.com/7394246/1

[2022-10-21 08:22] bygui86 commented on #10883
Hi @maheshbaliga thanks for trying and your help.
I tried once more on temporary environments and on the official environments and I was not able to reproduce this bug anymore... It was for sure my mistake somewhere in yaml or git...
Sorry for this, closing!

[2022-10-21 08:22] #10883 closed

[2022-10-21 08:23] felix-dpg opened #11018 "Docs and API do not reflect argocd cli actions"
**Describe the bug**

In argocd commands docs here:
https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/commands/argocd_app_delete.md

The doc say that you can delete app by label:

[code]
But argocd app does not have flag **-l** to accomplish that:

[code]
Also in api docs (swagger) the flags are not described as possible parameter

![image](https://user-images.githubusercontent.com/7

[2022-10-21 08:38] maheshbaliga commented on #10883
Hi @bygui86 You are welcome. :smile:

[2022-10-21 09:06] allir commented on #9451
I'd think so, #8840 includes this same issue and a little more.

[2022-10-21 10:51] DavidR91 opened #11021 "Unhelpful error message from simple app-of-apps misconfiguration"
In ArgoCD `2.4.1.4+029be59`:

**Describe the bug**
If you create an app of apps where the root application targets a server other than in-cluster (i.e. so it tries to create the sub-application definition on the clusters where their _deployed content_ should be targeting) you can receive the error

`the server could not find the requested resource`

Although the full pod log states what is missing

[2022-10-21 11:27] DavidR91 commented on #11021
I should mention as well that although the path for the application is wrong if using helm (`guestbook` -> `helm-guestbook`) the result is the same and the error encountered is unrelated

[2022-10-21 13:01] iam-veeramalla opened #11023 "Allow Argo CD Instances setup with Self-Signed Certificates in E2E tests."
# Summary
We have Argo CD Instances setup on our OpenShift Clusters which use an Internal CI to sign the certificates.

When I tried to execute the E2E tests on this setup, I have noticed a couple of failures with the below error.

**Failed Tests:**
1. TestClusterURLInRestAPI
2. TestClusterNameInRestAPI

[code]

# Proposal
Allow insecure TLS connection to support self-signed certificates in the te

[2022-10-21 13:29] Blackclaws commented on #10029
Argocd CLI login currently requires a public client, because contrary to expectations the login is not proxied via the webinterface which would be able to hold a client secret.

[2022-10-21 13:37] Blackclaws opened #11025 "Proxy ArgoCD SSO Logins through webinterface"
# Summary

Currently argocd login --sso works by spinning up a local server and launching a browser pointing back at the local server for its redirect. This has multiple drawbacks, such as not being able to use a confidential OIDC client (one containing a client secret), needing to configure localhost as a valid redirect url and allowing redirect uri to be http for localhost.

# Motivation

Login

[2022-10-21 13:37] Blackclaws commented on #10029
Related: https://github.com/argoproj/argo-cd/issues/11025

[2022-10-21 15:53] crenshaw-dev commented on #10622
Closing in favor of the proposed go-template based solution.

[2022-10-21 15:55] #10728 closed

[2022-10-21 16:08] crenshaw-dev commented on #10731
@nbjohnson could the problem be solved by using a matrix generator across an [SCM provider generator](https://argo-cd.readthedocs.io/en/latest/operator-manual/applicationset/Generators-SCM-Provider/#gitlab) and a standard PR generator?

[2022-10-21 16:27] sekizi opened #11027 "argocd app create: unknown flag: --set-finalizer"
**Describe the bug**

https://argo-cd.readthedocs.io/en/stable/user-guide/commands/argocd_app_create/ claims to support `--set-finalizer` but in fact an error is thrown when trying to use it.

**To Reproduce**

`argocd app create --set-finalizer ...`

**Expected behavior**

`--set-finalizer` works

**Version**

[code]

[2022-10-21 17:01] madhubalaravi opened #11028 "Argocd notification for Jenkins webhook is not working"
**Describe the bug**
I'm trying to configure jenkins webhook in argocd.
I have created configmap, secret and application in argocd to trigger jenkins post sync up of the application. Also I don't see any logs related to webhook notification.

**To Reproduce**

**Expected behavior**

It should trigger Jenkins job after the argocd application deployment. 

**Screenshots**

**Version**

[code]

**Log

[2022-10-21 18:40] jselleck-sans commented on #7189
I'd like this too!  In my case I want to override application placeholders with global (or config map) env vars.   Our use case is gitops - we want to use the same manifests but pull from different branches depending on a cluster name variable (changing branch Revision).  I also see us setting parameters in apps for helm charts - dependent on global params..

[2022-10-21 18:44] jselleck-sans commented on #7189
`apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps.git
    targetRevision: $MY_CUSTOM_ENV_VAR
    path: guestbook
  destination:
    server: https://kubernetes.default.svc
    namespace: guestbook`

+ maybe add an annotation to the Application manifest to

[2022-10-21 20:10] cleverhu commented on #11027
the fist arg must be the app name, so you should try to use command like `argocd app create guestbook --repo https://github.com/argoproj/argocd-example-apps.git --path guestbook --dest-namespace default --dest-server https://kubernetes.default.svc --directory-recurse --set-finalizer`.

[2022-10-21 20:55] cleverhu commented on #11009
The ARGOCD_OPTS is used to record  command args instaled of any http header, it is used by local debug.You can lookup `/docs/developer-guide/running-locally.md:` and `/argo-cd/util/config/env.go`.

[2022-10-21 21:25] cleverhu commented on #11001
@crenshaw-dev @rumstead I pulled a request for this, what do you think of it?

[2022-10-21 22:07] nbjohnson commented on #10731
Thanks for the suggestion. It does look like it works, I didn't realize a matrix generator could feed variables from one generator to another, thought they were just combined at the end. So being able to feed in the repo id means I can use either the scm provider or the git provider.

It would be nice to consider adding the functionally of group support directly into the pull request generator, bu

[2022-10-21 22:30] beyondbill commented on #9145
Should we consider reopen the issue given 2.4.0 does not seem fix it based on several comments above?

[2022-10-22 02:28] shogohida commented on #10624
@alexec
Hi, Alex. Can I work on this? This issue has good first issue label and I thought I could contribute to Argo CD for the first time.

[2022-10-22 15:44] Nicarim commented on #11009
I don't full understand what you mean, but I've successfully used ARGOCD_OPTS with flags like `--plaintext` or `--port-forward` and others. I wanted to use ARGOCD_OPTS for `--header` flag i.e. include specified headers on every call of ArgoCD command, and it didn't work as I expected - ArgoCD seemed to ignore that specific flag when it was passed through the env variable.

[2022-10-22 19:53] jdavisp3 commented on #4508
When you say "we discourage this pattern" are you referring to the use of references to other github repos in kustomize files? If so, is there another method you suggest for avoiding a lot of copying between definitions for different environments?

[2022-10-22 22:50] jkroepke commented on #5202
Hi all,

I also run into this problem today. I had the use-case to fetch an annotations from an existing service account.

Since lookup functions does not work, I create a helm plugin to mitigate the issues. At least for me.

Project URL: https://github.com/jkroepke/helm-kubectl

It uses the [helm plugin downloader](https://helm.sh/docs/topics/plugins/#downloader-plugins) syntax to perfectly integ

[2022-10-23 02:16] cleverhu commented on #11009
Ok，I will check the code later,maybe there are some bug.

[2022-10-23 05:00] balajisa09 opened #11041 "go.mod issues while importing argocd package (v0.0.0 not found)"
# Summary

Whenever i try to import the argocd package in my own project and do a go mod tidy , the indirect dependencies are looking for packages with v0.0.0 in kubernetes. so inorder to solve this , i had to add some dependencies with a legit version in the replace part of the go.mod file. I assume this is the same case for all projects depending upon kubernetes. afaik, this is a known issue in

[2022-10-23 07:43] blackliner commented on #8106
Hi, I have the exact same issue, but commenting out the search domain in `/etc/resolv.conf` seems to not help (did not try a reboot yet).

What is argocd trying to do here? I get that my wildcard domain might lead to a public resolution to my public IP, but what is argocd trying to resolve here?

[2022-10-23 08:15] blackliner commented on #8106
UPDATE: ok, so it was a nice mix of DNS wildcard and [microk8s using google DNS](https://microk8s.io/docs/addon-dns) by default. What helped was telling microk8s to take my own, internal DNS that know how to resolve the local search domain.

But I think argocd does something weird, what domain does it try to resolve for this "add repo test"?

[2022-10-23 12:05] rumstead commented on #4508
The use of non-tagged references are discouraged. Ie, a kustomise base that isn’t use a commit sha/tag

[2022-10-23 14:41] jaki300 commented on #9392
{
    "metadata": {},
    "items": [{
        "server": "https://kubernetes.default.svc",
        "name": "in-cluster",
        "config": {
            "tlsClientConfig": {
                "insecure": false
            }
        },
        "connectionState": {
            "status": "Failed",
            "message": "failed to sync cluster https://172.30.0.1:443: failed to load initial state of reso

[2022-10-23 15:18] Xosmond commented on #9122
@protosam Thank you.
It's very weird that so many people have to deal with this issue without a proper response from the maintainer, clear error root cause or updated documentation. I'll look for an alternative tool as I don't plan to spent my time debugging a tool instead of my clusters/applications.

[2022-10-23 16:43] jdmaguire commented on #10941
Are you aware of `resource.inclusions` and `resource.exclusions`? https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cm.yaml#L185

[2022-10-23 19:21] jsirianni commented on #9145
I am also seeing this when upgrading hpa from v2beta to v2.

[2022-10-23 23:12] blackliner commented on #3274
So would it be possible to do the ssl offloading on the ELB, but still have HTTPS traffic between it and argocd-server?

[2022-10-24 07:55] jdomag commented on #10143
@jessesuen can you label that one with component:applications-set, please?
/label component:applications-set

[2022-10-24 12:59] jaideepr97 commented on #8620
hi @abisek9186-baloise are you still facing this issue?
I'm trying to reproduce it
if you could share more details about how your environment is/was set up when you observed this in terms of # of apps, namespaces being managed etc that would be helpful

[2022-10-24 13:44] ssaleh97 commented on #4954
any updates on this ?

[2022-10-24 14:03] Ryu-Z opened #11048 "exec: executable aws not found"
#### cant add cluster(eks)
[code]
#### Dockerfile
[code]
#### i got
[code]
i am sure aws commind existed, i use https://argo-cd.readthedocs.io/en/stable/operator-manual/custom_tools/#byoi-build-your-own-image to build my repo-server image
i use kubectl with kubeconfig in argocd-repo-server,it is can working ok

[2022-10-24 14:08] LelvProgrammer opened #11049 "AppSet with helm chart not overriding values"
I have an AppSet that synchronizes a repository that has a helm chart. Example:

[code]

and the repository content that looks like this

[code]

and the content of the files are

Chart.yaml
[code]

and values.yaml

[code]

With this configuration and with the app running, I only get one pod instead of two
![image](https://user-images.githubusercontent.com/96209272/197543039-3bb67880-eeab-403e-b9d

[2022-10-24 14:19] rumstead commented on #11001
looks better than mine

[2022-10-24 20:55] keithchong opened #11050 "CVE-2021-23382 issue in the 2.3 release and earlier"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

See https://github.com/sasstools/scss-tokenizer/issues/45
https://security.snyk.io/vuln/SNYK-JS-SCSSTOKENIZER-2339884

In release-2.3, Argo CD includes node-sass which depends on sass-g

[2022-10-24 21:46] keithchong commented on #11050
OTOH, it's a dev dependency

[2022-10-25 02:18] edoger commented on #3491
@iam-veeramalla
There are some frustrating issues in this project.

The internal grpc interceptor seems to have to rely on the logrus implementation. Many functions utilize logrus' global logger for log output capture (which is almost impossible to dynamically modify the output of the global logger in zap). Some test cases rely on logrus' log detection and test modules.

I can't quite understand w

[2022-10-25 03:54] bdobay commented on #8040
"These two statements appear to conflict, I am unsure if this "OutOfSync" for "Current Sync Status" is a bug, or this is a documentation error."

A key feature of automatic sync is that it only does 1 sync per SHA. After that, it is up to you to manual sync. Another key factor to note is that automatic sync is effectively doing a refresh (get new SHA) - quickly jumping into "OutOfSync" followed by

[2022-10-25 04:43] pcperera commented on #3150
We do seem to have the same issue. Any workarounds ?

![image](https://user-images.githubusercontent.com/15628990/197684446-4c230d27-9c47-4a1d-b668-134ad5b6b717.png)

[2022-10-25 04:45] pcperera commented on #3150
We do seemingly have the same issue. Any workarounds ?

![image](https://user-images.githubusercontent.com/15628990/197684747-afa80168-2439-4a68-87ac-d7fbd217d0e4.png)

[2022-10-25 13:56] jpcosal opened #11054 "Merge generator where a generator can reference items of another one"
# Summary

Very much like what's been added for the Matrix generator https://github.com/argoproj/argo-cd/pull/9080, it would be nice to have the same for the Merge generator.
Something like

[code]
Notice the {{sha}} reference in the second generator.

cf original issue for merge generator https://github.com/argoproj/applicationset/issues/530

# Motivation

We have the following use case:
- Repo `

[2022-10-25 14:01] ruibinghao commented on #5886
Thanks for saving my day as well since I ran into the same issue after standing up ArgoCD using Openshift GitOps operator. Just curious is there a parameter you can set to enable the cluster resources for the in-build cluster while bringing up a brand new operator for the first time? Or this is something you need to change afterwards?

[2022-10-25 15:45] reginapizza opened #11055 "Deprecate resource.customizations"
# Summary

`resource.customizations` without subkeys in the argocd-cm should be deprecated in 3.0 milestone. Subkeys were added way back in Argo CD 2.1 (see this [PR](https://github.com/argoproj/argo-cd/pull/6060) and [blog post](https://blog.argoproj.io/argo-cd-v2-1-first-release-candidate-is-ready-c1aab7795638) announcing the feature). There has been no mention about when it will be deprecated,

[2022-10-25 15:51] rumstead commented on #10952
@hcelaloner did you have to do anything special to see the `workqueue_depth` metric? I am on 2.4.14 and do not see that metric when I query the endpoint. I do see it in the [container runtime library](https://github.com/kubernetes-sigs/controller-runtime/blob/f236f0345ad2933912ebf34bfcf0f93620769654/pkg/metrics/workqueue.go#L91).

[code]

[2022-10-25 16:02] lapete commented on #3528
I'm having a similar issue in that I can't create an app with a newly installed argoCD (neither via gui nor cli) and thanks to @jannfis suggestion I realized argocd-server can't access kubectl.
[code]
Searching in the pod:
[code]
Is this a problem with my cluster configuration? In my values file I set server.insecure and configured an ingress and dex which are working fine.

[2022-10-25 16:04] crenshaw-dev opened #11056 "Generate release notes in release workflow"
# Summary

Currently we write the release notes locally and then pass it to the release workflow via a shell script.

Instead, we should generate the release notes inside the workflow.

# Motivation

The manual step makes it more difficult for other folks to pick up the release process. It's institutional knowledge we should avoid.

# Proposal

Invoke this from the release pipeline: https://github

[2022-10-25 16:05] crenshaw-dev opened #11057 "Automatically update `stable` tag in release workflow"
# Summary

After pushing a stable release, update the `stable` tag.

# Motivation

We currently do it manually, and it's easy to forget.

# Proposal

Add a step to the release workflow that pushes the tag.

[2022-10-25 16:53] crenshaw-dev opened #11058 "Restrict the `default` project"
# Summary

For convenience, the `default` AppProject which ships with Argo CD is completely unrestricted.

# Motivation

It's [a bit of a foot-gun](https://dnastacio.medium.com/gitops-argocd-security-cbb6fb6378bb).

# Proposal

We should add some restrictions (for example, only allowing deploying `Deployment` and `Service` resources). This would allow, for example, the `guestbook` example to run.

[2022-10-25 17:10] crenshaw-dev opened #11059 "Write "hardening Argo CD" guides"
# Summary

There are two basic ways of using Argo CD: strict GitOps and more pragmatic "do things in the UI" way (and somewhere in between).

We should have hardening guides that help people who lean either one way or the other understand what security controls they need in place in order to follow their preference in a security-conscious way.

# Proposal

New page in Argo CD docs with two checkli

[2022-10-25 22:08] blakepettersson commented on #10997
This should be fixed with #9707 I think?

[2022-10-25 23:31] jarrettprosser commented on #9227
I've found this behaviour as well. I'm deploying Argo CD and the ApplicationsSet manually with Helm. When I update the ApplicationSet and push the change, all of my existing applications are deleted and recreated. I've observed this when I add an annotation, or modify the paths in the git generator configuration.

[2022-10-26 03:15] zerunhu commented on #6876
@alexmt  hi， I am using argocd version: v2.3.4+ac8b7df seems to have this problem again
![image](https://user-images.githubusercontent.com/44351924/197925820-966218ae-6b99-4980-9d10-4ea0573dbc38.png)
![image](https://user-images.githubusercontent.com/44351924/197925974-6a4e226b-e074-4bdf-8318-7c126164198f.png)

[2022-10-26 06:39] kayneb opened #11068 "`/terminal` endpoint assumes cookie auth and does not support bearer token auth, unlike other endpoints"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Using bearer token auth is not supported when opening a websocket on the `/terminal` endpoint. 401 is returned, whereas 101 is expected.

**To Reproduce**

Use a bearer token to authent

[2022-10-26 07:19] zerunhu commented on #6876
The object I am using is a CRD who actually references corev1.Container{}. In the LIVE MANIFEST page of ArgoCD ui,  i observed that the field workload.template.containers[0].envs[0].valueFrom.fieldRef.apiVersion is masked in the LIVE MANIFEST page. I used kubectl get workload -o yaml to get this field with this apiVersion so there is no DIFF with DESIRED MANIFEST page. but not blocking this field

[2022-10-26 07:32] agagniere commented on #10997
@blakepettersson  You are absolutely right, it is exactly that.

[2022-10-26 07:32] #10997 closed

[2022-10-26 08:11] krstosavic opened #11071 "Issue with Dex after upgrade"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We are using ArgoCD on our Azure AKS clusters. Azure AD App Registration Auth using Dex is configured as described in documentation:
https://argo-cd.readthedocs.io/en/stable/operator-ma

[2022-10-26 08:58] maartengo commented on #11071
I also ran into this issue. You probably use the argo-cd helm chart to deploy your Argo, right? If so, chart version 3.7.0 changed the config settings. If you've previously disabled deployment of the argo configmap (argo-cm) then you might need to do so again through `configs.cm.create`

https://github.com/argoproj/argo-helm/pull/1528

[2022-10-26 09:09] #10981 closed

[2022-10-26 09:19] kahirokunn opened #11072 "Chart.yaml: no such file or directory"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I got this error.

this is yaml.

[code]

I checked the operation with the following command.

[code]

The `infinispan` directory is created instead of `infinispan-infinispan`.
However,

[2022-10-26 09:28] sjoukedv commented on #10157
Documentation should be updated accordingly here: https://argo-cd.readthedocs.io/en/stable/user-guide/private-repositories/#git-submodules

[2022-10-26 09:29] jdomag opened #11073 "Allow the Applicationset policy to be set on ApplicationSet object instead of global flag"
# Summary

The [policy](https://argocd-applicationset.readthedocs.io/en/stable/Controlling-Resource-Modification/#policy-create-only-prevent-applicationset-controller-from-modifying-or-deleting-applications) is set per whole controller, while it should be set per ApplicationSet object.

# Motivation

We use have staging and dev environments on the same k8s cluster separated by namespace. For stagi

[2022-10-26 09:51] benjamin-bergia commented on #10882
Hi, I just upgraded from 2.4 to 2.5 this morning I am also hitting this issue. The workaround you mentioned @crenshaw-dev still works.

[2022-10-26 11:14] zerunhu commented on #6876
I am using a SideCarSet CRD, which defines a k8s native corev1.Containers object, and injects the container into the workload pod when it is created, so its fields are the same as the pod.template, including the env.
I use the `kubectl get workload xx -o yaml` command to check any workload and find that the envs[0].valueFrom.fieldRef.apiVersion field is present . However, on the LIVE MANIFEST page

[2022-10-26 11:50] crenshaw-dev commented on #11041
I think an example go.mod would be good... could we generate it, so that people don't have to update the example go.mod every time the main go.mod changes?

[2022-10-26 11:57] balajisa09 commented on #11041
Could you please assign this to me and guide me on how to generate the example go.mod ? @crenshaw-dev

[2022-10-26 11:57] krstosavic commented on #11071
Actually we are using yaml manifests, not helm chart.

[2022-10-26 12:23] crenshaw-dev commented on #11041
Can you post the contents of what you were imagining as the example go.mod? Maybe there's nothing in it that needs to be generated.

[2022-10-26 12:30] crenshaw-dev commented on #11071
@krstosavic 404 is a really weird error for this.... are there any logs in the API server which might be helpful?

[2022-10-26 12:47] krstosavic commented on #11071
Nothing useful in logs.

We are using this url to get manifest file:
https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.15/manifests/install.yaml

Currently we have installed this version of ArgoCD. Of course we added dex.config in ConfigMap.

We are using this install approach a year and a half and everything worked, including SSO.

When we upgraded to version 2.3.7 we noticed that SSO stopp

[2022-10-26 12:53] crenshaw-dev commented on #11071
I'm a bit confused... the manifests you're using are for 2.4.15. What version are you upgrading from in order to get to 2.3.7?

[2022-10-26 13:04] yellowhat opened #11074 "`kube-prometheus-stack` stuck in `OutOfSync`"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Hi,
I am deploying the `kube-prometheus-stack` helm chart using ArgoCD:

[code]

It create all the resources but it stays in `Current sync status: OutOfSync` due to the resource:

[code

[2022-10-26 13:10] krstosavic commented on #11071
We were on version 2.3.3 and tried to upgrade to latest 2.4.15. When we tried to do that SSO stopped working. We then reverted the changes and started troubleshooting.

So I did a bit of investigation to figure out what is causing this. Basically I started from version 2.3.3, started to upgrading one release at the time and tested functionalities.
2.3.4 - worked, 2.3.5 - worked, 2.3.6 - worked, 2.

[2022-10-26 13:15] yellowhat commented on #11074
Thank you very much.
Removing `ServerSideApply=true.` fixed the issue.
Is this still a bug?

[2022-10-26 13:19] yellowhat commented on #11074
Strangely, I was getting error about large CRDs (for `kube-prometheus-stack`) with ArgoCD 2.4.x, I was waiting for 2.5.x to include the `ServerSideApply` option and now it works without it.
I am a bit confused.

[2022-10-26 13:43] fe-ax commented on #10189
I just tested this, and it seems to work for me. I think you interpreted mergeKeys wrong.

[code]

and

[code]

become

[code]

[2022-10-26 14:09] jmccrumm commented on #10189
I see. `firstValues` and `secondValues` need to be the same name. I will try this when the situation arises again. Thank you.

[2022-10-26 14:35] stephaneetje opened #11076 "Argocd-2.5 Can't template AppSet because of new regexp validation on annotations"
since argocd 2.5, i have a problem with appset validations (that was ok before this version)
It fails on the regexp validation on all my annotations with some helm templating , for ex:

[code]

On the ApplicationSet controller i have this error :
[code]

Here is the part of my applicationSet.yaml :
[code]
Then the interpreted ApplicationSet's annotation must be :
[code]
Which will create the Appli

[2022-10-26 14:58] bobertrublik commented on #10655
Yes please! Thanks to 2.5.0 I was finally able to place Argo Apps in their respective namespaces and only miss AppSets :)

[2022-10-26 14:59] yellowhat commented on #11074
I have just reinstalled from scratch, unfortunately `ServerSideApply` is required.

[code]

[2022-10-26 16:36] joseaio commented on #9226
Same problem here with start/stop AKS cluster.

   There is a workaround without ArgoCD restarts (via API?) to remove old/ghost nodes?

[2022-10-26 17:17] balajisa09 commented on #11041
so , i am thinking this should be a doc rather than an example. Under docs/user-guide/import.md , we can mention that , if you are trying to import argocd packages in your own projects , you should have the corresponding version's go.mod replace section in your own go.mod. Hope this makes sense.

[2022-10-26 18:09] luismiguelsaez opened #11080 "CiliumIdentiy resource being marked as OutOfSync"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading from ArgoCD v2.4.11 to v2.5.0 with the Helm chart version 5.8.0, most of the applications ( defined from Application resource ) are continuously OutOfSync. It seems that

[2022-10-26 21:52] stephaneetje commented on #11049
Hello

You are not passing value file in your App, add this:

[code]

[2022-10-27 00:22] yebolenko opened #11083 "Matrix generator to combine both directory and folder generators"
### Discussed in https://github.com/argoproj/argo-cd/discussions/9735

<div type='discussions-op-text'>

<sup>Originally posted by **yebolenko** June 21, 2022</sup>
It seems that the matrix generator doesn't support the combination of git directory and git folder generators

Do you know about any plans to support this feature?</div>

[2022-10-27 06:43] LelvProgrammer commented on #11049
Hey, I believe you haven't read the full description of the problem:

[code]

[2022-10-27 07:03] 0dragosh commented on #9226
@joseaio I could not figure out another workaround

[2022-10-27 07:39] ysong6 commented on #9335
Did you address this problem?

[2022-10-27 07:58] Starslider opened #11086 "ArgoCD 2.5 - Redis Networkpolicy - Egress config blocks Istio communication"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We have integrated ArgoCD into [Istio ](https://istio.io/)- so every pod gets an envoy proxy to communicate within the service mesh.
With the newly introduced egress configuration in #1

[2022-10-27 09:12] rodrigo14miguel commented on #11086
Hi,
**_This is just a workaround for the issue._**
Using argocd v2.5.0 HA with istio sidecar proxy.
I bumped into this yesterday. I simply reverted redis and haproxy network policies to that is declared in argocd 2.4.15 HA manifests. As stated, this removes egress config and I think it removes some ports in the ingress section too, compared to v2.5.0.

[2022-10-27 09:45] agentq15 opened #11087 "Dark mode still leaves a white bar at the bottom"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**
When activating dark mode, under applications you still see a white bar if you have a tall enough screen.

**To Reproduce**
Enable dark mode and go to applications view

**Expected behav

[2022-10-27 09:50] holgerson97 commented on #11071
I am facing the same issue using Helm with version 5.8.2
This is the configuration:

configs:
  cm:

    create: true
    url: https://xxxxx
    exec.enabled: "true"

    dex.config: |
      connectors:
      - type: saml
        id: saml
        name: saml
        config:
          entityIssuer: https://xxxxx/api/dex/callback
          ssoURL: https://login.microsoftonline.com/xxxxx/saml2

[2022-10-27 10:10] aprams commented on #10882
Just as @benjamin-bergia I had the same issue.
The workaround that you mentioned @crenshaw-dev did not work for me.

[2022-10-27 11:36] yonahd commented on #10882
Having this issue as well

[2022-10-27 11:44] goodosoft opened #11088 "ArgoCD Application Stuck In Syncing/Terminating State #8113"
### Discussed in https://github.com/argoproj/argo-cd/discussions/8116

<div type='discussions-op-text'>

<sup>Originally posted by **utkarsh-devops** January  8, 2022</sup>
Hello ArgoCDians,  :wave:

We’re facing a weird issue in production where one of the applications is stuck in a terminating and sync state.

**`Version: 2.1.7`**

**`Background:`**
We manually terminated the sync of an applicat

[2022-10-27 12:08] benjamin-bergia commented on #10882
@aprams In my case I couldn't remove the field like mentioned in the workaround. Instead I replaced the value of `/spec/template/spec/containers/0/securityContext/seccompProfile/type` by `Unconfined` on the `argocd-repo-server` Deployment.

[2022-10-27 12:17] PengLingJun opened #11091 "sidecar plugin can't read any env var when discover"
version is 2.5.0.
I use sidecar plugin to do something,but sidecar discover is scan in repo root path,that not reasonable。
I wonder if it is possible to read a piece of information to distinguish applicaiton from the environment variable, preferably $ARGOCD_APP_SOURCE_PATH. This will determine whether the project can use the plug-in. The configmap management plug-in method of 2.6 will be abandoned

[2022-10-27 12:40] crenshaw-dev commented on #10882
If anyone who has encountered this has time to run a custom build of Argo CD, I'd appreciate the help debugging. I think we could change this command to add `--debug-level guru`: https://github.com/argoproj/argo-cd/blob/309654cece2292fb09959055e8602b9b6dc68077/util/gpg/gpg.go#L283

Alternatively, we could check logs to find out what syscall seccomp is blocking. I haven't yet found the docs for how

[2022-10-27 12:40] bakito commented on #9101
We are using the Image Updater https://argocd-image-updater.readthedocs.io/en/stable/ and would like to set annotations on certain applications created by the applicationset.
Unless we set the policy to "create-only" the pause annotations/labels would help in our case.

[2022-10-27 12:45] crenshaw-dev commented on #11086
I think I'd be in favor of shipping the NetworkPolicy open enough to allow Istio traffic, since that's a very common use case. Unfortunately, I don't know Istio well enough to be any help finding the right policy. Can someone comment if you have some ideas how the NetworkPolicy should be modified?

[2022-10-27 12:47] #11091 closed

[2022-10-27 12:49] crenshaw-dev commented on #11091
@PengLingJun the `DetectConfigManagementPlugin` is called from multiple places. In other cases, the env var is passed. In this case, it's not. We just need to thread through the env vars from those other calls. The env var list shouldn't be empty here.

[2022-10-27 12:56] Starslider commented on #11086
@crenshaw-dev I will work on it tomorrow, should be possible in my opinion.

[2022-10-27 13:01] crenshaw-dev commented on #11041
Yeah I like that! Would you have time to write up a PR?

[2022-10-27 13:17] leoluz commented on #11074
I am not sure but I'd like to understand if this is a problem with Helm Charts only or if it can be reproduced with Kustomize as well? If so, can someone provide an `Application` yaml so I can use for tests?

[2022-10-27 13:21] leoluz commented on #11074
Can you provide the full yaml of your live resource? Please include the `metadata.managedFields`

[2022-10-27 13:33] holgerson97 commented on #11071
@crenshaw-dev
[code]

[2022-10-27 13:37] yonahd commented on #9888
I got this issue when I set ARGOCD_GPG_ENABLED", value: "false"
Only in the repo server and not in the other deployments

[2022-10-27 13:45] EppO commented on #9145
Using 2.4.14, just tested with a `autoscaling/v2` manifest (checked using `argocd app manifests` command as `kubectl get hpa` will give the latest available API version)

[code]

argocd can sync it correctly:
[code]

[2022-10-27 14:02] si-c613 commented on #9678
We are also seeing the issue, we have two ignore differences on Deployments, one for `spec.replicas` using `jsonPointers` as these can be changed by HPA and other external processes, and one for the image `.spec.template.spec.containers[].image` using a `jqPathExpression` due to the array of `containers` (see below).

Through experimentation I've found that if you change `.spec.template.spec.conta

[2022-10-27 14:17] si-c613 commented on #9678
Did a further experiment and found that it doesn't appear to be just the JQ expression but in fact anything with an array.
Knowing we only tend to have single container Pods I changed the `jqPathExpressions` to `jsonPointers` using `/0` in place of the `[]` and found an incomplete sync when changing the memory limit as above

[code]

[2022-10-27 14:19] aprams commented on #10882
@benjamin-bergia thanks a lot, that worked nicely.
@crenshaw-dev I tried to hack my way around having to do a custom build (changing the entrypoint to do that/opening a shell and running the command with debug options), but I did not succeed in a reasonable timeframe, sorry! Might look into it again

[2022-10-27 15:38] balajisa09 commented on #11041
sure will do.

[2022-10-27 15:52] crenshaw-dev commented on #11071
The lack of errors seems to indicate that the API-server traffic is never making it to Dex. Is it possible the 404 is coming from your ingress? I'm just really surprised that the API server has no interesting logs.

[2022-10-27 15:53] crenshaw-dev commented on #5765
@EppO I'd be interested in any experimentation you do there. Maybe we should provide a mechanism to change the multiplexing config via Argo CD config rather than folks having to hack on the repo server manifests.

[2022-10-27 16:37] msw-kialo commented on #11074
@leoluz I have the same issue / background. Currently, syncing `kube-prometheus-stack` with Replace=true for the too big CRDs and testing SSA to resolve that hack.

<details>
<summary>prometheus-operator-kubelet live manifest (after recreating it with ServerSideApply=true on 2.5.0)</summary>

[code]

</details>

<details>
<summary>Desired resource definition (generated locally via helm template; b

[2022-10-27 16:54] pclalv commented on #8665
I ran into this error when testing Argo CD to see if it's notify me of my app being in the errored state if a resource manifest included a syntax error.

[code]

where manifests.yaml looks like this:
[code]

[2022-10-27 18:23] srclark213 commented on #9145
I haven't been able to recreate on a fresh cluster, I'm only seeing this issue on a server that we've recently upgraded both k8s and argocd. We've been slowly trying to narrow down our dependencies to figure out if one of these is causing this. Is there any way to check the version of the gitops engine we're running?

[2022-10-27 19:09] mubarak-j commented on #10914
@Aym3nTN did you meant to share your AppSet manifest?

[2022-10-27 19:43] powellchristoph opened #11097 "UI Error: Unable to edit project: invalid policy rule"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

While logged into the web UI as admin and attempting to update a project, I receive an error about an invalid policy rule but the policy validates and works.

[code]

**To Reproduce**

[2022-10-27 22:03] mayconritzmann commented on #2143
+1 Would like to see this

[2022-10-28 01:43] NabilusT commented on #8009
I've got the same issue trying to login using the `argocd` cli:
[code]
Did someone figured out how to fix this?

[2022-10-28 02:42] tsub commented on #8810
I removed `group: core` and it works in my environment. :smile:

[code]

Secret's API group should be `core`, but it may not be necessary to specify `core`. 🤔

[2022-10-28 04:06] timgriffiths opened #11100 "Registry login error with helm OCI private dependencies ca-file flag being added unnecessarily"
Checklist:

* [ X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ X] I've included steps to reproduce the bug.
* [X ] I've pasted the output of `argocd version`.

**Describe the bug**

I am trying to connect to a [Harbor](https://goharbor.io/) helm repository which is self-hosted and has a self-signed certificate.

for the self-signed certificate, I add the pem to

[2022-10-28 05:32] Starslider commented on #11086
Ok I did some testing and it seems to be only port 15012 for istio that we need to add to the egress config to get redis running.

I am stilll wondering if should remove the egress config at all. Imho the approach from #10226 is too error prone for many users. There are other service mesh products which we should also cover like Linkerd or Consul. Another point is that something could change in Is

[2022-10-28 05:45] luismiguelsaez commented on #11080
Found this fix in [Cilium docs](https://docs.cilium.io/en/stable/configuration/argocd-issues/#argo-cd-deletes-customresourcedefinitions)

It fixed the issue applying that configuration, but I don't understand why we didn't experience this issue with previous ArgoCD versions <v2.5.0 and same identical Cilium configuration and version.

It is still worth to keep this issue open?

[2022-10-28 06:09] pawanbony commented on #10666
Thanks @SebastianBakala-TomTom . It worked.

[2022-10-28 06:09] #10666 closed

[2022-10-28 06:18] balajisa09 commented on #11041
@crenshaw-dev  can you review this PR ? https://github.com/argoproj/argo-cd/pull/11096

[2022-10-28 06:28] Aym3nTN commented on #10914
@jannfis Could someone take a look at this issue/PR?

[2022-10-28 06:47] holgerson97 commented on #11071
When I query the api/dex/callback directly than I can connect to the DEX server and get unauthorised error. The API server does not say anything weird.

Is there anyway to check my ingress?

[2022-10-28 06:53] krstosavic commented on #11071
What is changed in Dex server images after version ghcr.io/dexidp/dex:v2.30.2 ?
Because if you change nothing else, just put that image everything works.

[2022-10-28 07:43] andredaube commented on #10916
The first stack trace from the Chrome console in my issue description above occurred in the UI hosted by the argocd-server Deployment, there is no webpack-dev-server running.
I could view the resource in ArgoCD by appending the `rules` of the Role:

[code]

with:

[code]

The Role has the following RoleBinding:

[code]

Afterwards I got no more 403 for this resource, which contained the following

[2022-10-28 07:53] Starslider commented on #11087
I can not reproduce that behaviour on v2.5.0+b895da4 and Google Chrome Version 107.0.5304.88 - what browser do you use @agentq15 ?

[2022-10-28 07:56] Cowboy-coder commented on #11074
@leoluz

<details>
  <summary>Live manifest</summary>

[code]
</details>

<details>
  <summary>Desired manifest</summary>

[code]
</details>

I also saw this old issue https://github.com/argoproj/argo-cd/issues/4126 related to what looks like the same problem.

Apart from that I also now see another issue using the loki helmchart in a ServiceMonitor - Probably same issue as with `kube-prometheus-s

[2022-10-28 08:42] agentq15 commented on #11087
I use Edge but tested with firefox now and it is the same. On the application page when I only show 3 applications so it doesn't cover the whole area

[2022-10-28 08:57] Starslider commented on #11087
Ok I can reproduce it when I have a browser zoom level of under 100%. Did you have the same behaviour? 100% zoom looks good, under that, a white bar appears at the bottom like your described. @agentq15

[2022-10-28 09:13] alexef opened #11102 "Application list: add filter for "auto-sync enabled""
# Summary

Make it easy to find applications that have Auto Sync disabled (either manually or because someone rolled back).

The existing "Out of Sync" filter doesn't really cover this use case. An application can have Auto Sync enabled, but still go "Out of Sync" (temporarily, or because Self Heal is not enabled), so the existing Sync Status filter cannot be used to detect these application.

# M

[2022-10-28 09:34] rodrigo14miguel commented on #11086
Hi @crenshaw-dev,
As I mentioned before, this issue also occurs for redis-haproxy in the HA install, all other components start without problems.
It seems that redis-haproxy network policy also got a new egress config for this version of ArgoCD.
Checking the logs, port 15012 is used by Envoy sidecar for egress towards Istio control palne.

I did some testing too and adding port 15012 to the egress

[2022-10-28 09:45] Starslider commented on #11086
Yes you are totally right @rodrigo14miguel, for sidecar metric scraping you can add a "general" NetworkPolicy to all istio enabled namespace but ArgoCD still works fine without and there is no change or patch of the upstream network policies necessary.

`apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-inbound-to-istio-sidecar-from-prometheus
spec:
  podSelector:
    ma

[2022-10-28 09:59] agentq15 commented on #11087
The same with 100%
![image](https://user-images.githubusercontent.com/10948042/198560693-13421073-44df-4f75-b727-adf5622c42fc.png)

[2022-10-28 10:20] Alan-pad commented on #7657
In the code base for the webhook the gitlab push event is using the project.web_url of the Gitlab event to match applications, if you're using ssh-based authentication this won't match and the webhook will not trigger any refresh.

here's the code that triggers this issue : https://github.com/argoproj/argo-cd/blob/master/util/webhook/webhook.go#L130

[2022-10-28 11:19] danmx opened #11103 "Support for a container debug (attaching ephemeral containers) in ArgoCD UI"
# Summary

I would like to do a `kubectl debug` a container of a Pod in ArgoCD UI similar to currently available `kubectl exec` option.

# Motivation

As a security engineer I think `kubectl debug` (attaching ephemeral container) is more secure than `kubectl exec` when debugging a container. You can:

- use vetted images containing all necessary debug tools,
- have bareminimum application containe

[2022-10-28 11:59] pritam-acquia commented on #6055
+1

[2022-10-28 13:29] 123MwanjeMike commented on #4308
You may want to add the `--grpc-web-root-path` parameter with the actual path

e.g
`argocd login --insecure --grpc-web k8s.devops.com:32443  --grpc-web-root-path=/argocd`

[2022-10-28 13:45] mmerrill3 commented on #10143
Hi @jdomag , if there's anything you need from me, just let me know.

[2022-10-28 13:49] stephaneetje commented on #11049
Ah yes, sorry i read to quick. I think your problem is that your loading an external chart (dependency). Then the value has to be referred under ChartName key:

budgie.replicaCount : 2

Let me know how that works for you

[2022-10-28 13:53] waaghals opened #11104 "Allow setting application namespace from ApplicationSet template"
# Summary

With the introduction of namespaced applications in #9755 we can have applications in different namespaces.
But the applications generated from an ApplicationSet always use the namespace from the ApplicationSet.

ApplicationSet should allow setting `.spec.template.metadata.namespace` for the generated application.

# Motivation

When deploying the same repository/directory to multiple c

[2022-10-28 14:25] gabriel-brotas opened #11105 "Error on Okta SSO OIDC Authentication, Invalid Redirect URL with Ingress enabled"
values.yaml
[code]

when I try to authenticate I get this error:
[code]

helm chart version = "5.8.2"

[2022-10-28 15:23] jdomag commented on #10143
@mmerrill3 will you be able to merge your PR from previous repo to main argocd repository? Would be great to use bitbucket in a generator.

[2022-10-28 15:50] mabhi commented on #10895
Hi @llavaud / @crenshaw-dev

Should the difference of every application resource, which is part of the ApplicationSet be displayed as output of the new command ? E.g.: the output shows the difference in the case of modification, addition and deletion respectively.

[code]
Do let me know your thoughts on this.

[2022-10-28 16:01] nicolasmafraintelipost commented on #7673
Use hard refresh

[2022-10-28 16:10] jkroepke opened #11106 "StatefulSet and other resources stay in "OutOfSync", if ServerSideApply =true is enabled"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have enabled `ServerSideApply=true` on my ArgoCD application. As result, all StatefulSets with claimTemplates are always out of sync

**To Reproduce**

1. kubectl apply -f https://git

[2022-10-28 16:22] takumakume commented on #9101
My team is having trouble because we are using the Pull Request Generator + Image Updater.

The `create-only` policy alleviates this problem. However, it is difficult to use because it is not deleted when the pull request is closed.

I think the root solution is to keep overwriting or 3-way-merge.

However, this problem has not been solved for a long time because it requires a major modification.

[2022-10-28 17:47] cedi commented on #11080
Can confirm the fix @luismiguelsaez mentioned works. I was running into the same issue as OP when updating my cluster with Cilium from v2.4.* to v2.5.
Never experienced this behaviour before.
feels I have to mention this: I did not install cilium via ArgoCD in the first place, but via the cilium-cli. I only reconcile the cilium config via ArgoCD.

[2022-10-28 19:10] tomasliumparas commented on #10618
Hey @martijncalker I actually had the same idea. I came up with [kupdater](https://github.com/getais/kupdater) (Kubernetes update operator) for that purpose.
Never actually thought about seeing it in Argo.

Renovate looks like a cool tool, but kind off difficult to configure. I wanted something more simple, just to take a glance of a running applications inside the cluster and if they have updates

[2022-10-28 19:14] agaudreault-jive commented on #10895
I posted https://github.com/argoproj/argo-cd/discussions/9904 some time ago. Reposting here.

It could be useful to have a parameter so only the name of the Application are returned.

I assume that having diff in the application is expected if the applicationSet template was updated. But if only the generators were updated, then what is most important in my opinion is the result list of applicatio

[2022-10-28 19:28] llavaud commented on #10895
I am more interested to get only the diff in the result list of applications like @agaudreault-jive said, but if we can have both with a parameter it would be great !

[2022-10-28 19:37] agaudreault-jive commented on #8100
Is there something else than a debug log that we could use to detect this in a production deployment? Enabling debug in production is not something that is possible for us.

I am mainly looking at a way to find resources that are continuously regenerated.

[2022-10-28 19:42] lacion commented on #11071
i just got exactly this problem after upgrading to the latest helm chart. After updating my values to the latest and configuring it via

[code]

when i click on github sso it just redirects me to the argocd login view

this is what i see in the server logs

[code]

on dex i see

[code]

the CM is definitely there with dex config, not sure why this msg shows

[2022-10-28 19:45] pdrastil commented on #11105
Similar issue after 2.5.0 upgrade related to OIDC config - https://github.com/argoproj/argo-helm/issues/1583

[2022-10-28 20:22] tonydelanuez commented on #8959
Have y'all found a viable workaround for this that *isn't* allowlisting resources via `resource.inclusions`?
I'm running into the same issue on a similar deployment, one gateway proxying k8s API requests to other endpoints and ArgoCD knocking the gateway over.

[2022-10-28 20:46] sebastiangaiser commented on #3799
I really like the idea of having it the declarative way as described in the proposal. Maybe this should also be configurable per `Project`.

[2022-10-28 23:42] mmerrill3 commented on #10143
@jdomag, sure, I can do that, I'll open a PR this weekend sometime.

[2022-10-29 02:00] chris93111 commented on #10675
this issue is not resolved , after deploy 76 app and [Resource Exclusion/Inclusion](https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#resource-exclusioninclusion),  the problem appear

[2022-10-29 13:38] jakestonelater commented on #7629
Just adding to the voice of non expert users who are mighty confused.
ArgoCD in some organizations is the only touch point between devs and devops. In places like this, the distinction is far from intuitive to the devs

[2022-10-29 17:06] CRASH-Tech opened #11111 "Disable argo-cd namespace in applications title on web-ui"
# Summary

Disable argo-cd "release name" in applications title on web-ui

# Motivation

No reason to show it

# Proposal

Disable it

![test](https://user-images.githubusercontent.com/13507148/198844155-95c1f914-7844-45ce-b230-460a45d78c7e.jpg)

[2022-10-29 19:19] Emmerson-Miranda opened #11112 "Override values.yaml with values coming from another git repo"
# Summary

In the current Helm integration from an ArgoCD "application" you can specify custom values to the helm chart reading from a file or creating the values inline.

Should be good if we have another option to be able to pull the values.yaml from another git repo also.

# Motivation

I want to have my Helm chart definitions separated from especific helm values per environment.

# Proposal

A

[2022-10-29 19:21] crenshaw-dev commented on #11112
@Emmerson-Miranda thanks for the issue! This feature is being tracked in https://github.com/argoproj/argo-cd/issues/2789, and it is planned for 2.6.

[2022-10-29 19:21] #11112 closed

[2022-10-29 19:32] Emmerson-Miranda commented on #11112
Thank you @crenshaw-dev , when is planned release the version 2.6

[2022-10-29 21:39] andy-v-h opened #11113 "Application sync concurrency groups"
# Summary

Label based concurrency groups could be used to help manage rollouts of large applications groups across clusters, like ingress controllers. But also allowing cluster labels to factor in for how many active running sync jobs are running.

# Motivation

When I go to update ingress-nginx (a common component to all my cluster), I will today typical sync my app-of-apps, then select the proj

[2022-10-30 01:12] mmerrill3 commented on #10143
Hi @jdomag, I just had time to check this, and I see the PR in the master branch of argo-cd for bitbucket-cloud.  Is there a particular part of the PR that's missing?

[2022-10-30 09:02] yonahd commented on #11074
Currently to workaround I just added
[code]
To the dashboards that were too long

[2022-10-30 16:52] niqdev commented on #10551
I know that this is not enabled by default in 2.x, but after upgrading to argo-helm `5.8.7`, I had to explicitly add `p, role:admin, logs, get, */*, allow` for the admin user to re-enable the logs.

Shouldn't [this](https://github.com/argoproj/argo-cd/blob/master/assets/builtin-policy.csv#L16) be added also to the admin by default?

[2022-10-30 17:05] niqdev commented on #11071
@krstosavic thanks for reporting this, I had the same 404 issues and I'm using `helm.sh/chart: argocd-5.8.7`. After downgrading to `v2.30.2` it started working again!

[2022-10-30 23:31] mrysavy opened #11116 "ArgoCD doesn't respect application.namespaces"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

I tried to use application namespaces (#9755) but there are problems in multi-argocd-instances environments. Problem is that neither application-controller nor server respects specified

[2022-10-31 00:13] crenshaw-dev opened #11117 "Add admin command to get initial password"
# Summary

Add an `argocd admin initial-password` command to get the initial password.

# Motivation

It's annoying to remember/use the `kubectl` command from the docs. That command also doesn't explicitly remind you to change the initial password.

# Proposal

The command should use your current kube config to pull down the initial password. Then it should strongly encourage you to change that pa

[2022-10-31 01:52] ozbillwang commented on #7629
@djhoese

Regarding this comment

I am not really care of stage of `Repo -> ArgoCD`, this part, I can chec the commit id to confirm easily

[2022-10-31 02:02] henryzhao95 commented on #7075
Also having this issue with v2.4.14 and v2.5.0, where I have an 'app of apps' containing an app with spec.source.helm.passCredentials: true. The Helm repo is already set up manually in Argo, and hence I can see the repo server trying to add the Helm repo again with username and password (redacted) as well as --pass-credentials, and fail because the repo name already exists.

[2022-10-31 02:06] OUCzhangzheng opened #11118 "user joined too many projects or groups"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

[2022-10-31 02:48] KyleFrisbie commented on #5111
Is the spirit of this request to make a `skip schema validation` toggle option available after app creation? If not, I agree with @dirien that the option is available at argo-app creation time as captured in the screen shot they provided.

[2022-10-31 03:07] henryzhao95 commented on #7075
I am getting this error with `passCredentials: true` (and I need it). I've got an app-of-apps containing Foo API where passCredentials is set, and the subchart links to the external Helm repo which won't authenticate

[2022-10-31 05:33] blackliner commented on #820
Similar thing happens with `kube-prometheus-stack` from `https://prometheus-community.github.io/helm-charts`. The prometheuses.**** CRD is HUGE, makes ArgoCD webUI lag like 1969

[2022-10-31 05:45] henryzhao95 commented on #10676
I'm interested in this also

[2022-10-31 06:38] iam-veeramalla commented on #11117
Hi @crenshaw-dev , Assigning it to myself. Please let me know for any objections :)

[2022-10-31 07:46] RafalMaleska commented on #11086
it's definitely challenging to support all service meshes or kubernetes tools available out there.
the solutions i see are:

- leave it as it is. users know their platforms and inner networking. they can add network-policies accordingly. looking at below examples - hashicorp dosen't include netpol for their own tools (consul, nomad etc.), so why should Argocd define netpols for istio, linkerd, pro

[2022-10-31 07:52] vx-github commented on #10129
Our requirement matches this feature request too.

[2022-10-31 08:00] prein commented on #5467
Would `git clone [remote-url] --branch [name] --single-branch` be worth considering in addition to `--depth 1`?

[2022-10-31 08:09] holgerson97 commented on #11071
@niqdev Did you downgrade Dex or ArgoCD?

[2022-10-31 08:17] lacion commented on #11071
My "fix" for this issue may not be for everyone, but basically, what i did was to add this

`dexserver.disable.tls: true` to the dex config. I'm running everything in Istio, so I'm using mutual mtls and this is not a huge change for me, but with istio i could not make it work without disabling that.

[2022-10-31 08:26] maartengo commented on #11106
This looks like a duplicate of https://github.com/argoproj/argo-cd/issues/11074

[2022-10-31 08:42] niqdev commented on #11071
@holgerson97 only dex, but I'm using ambassador with self-signed certs as of now
[code]

[2022-10-31 08:44] holgerson97 commented on #11071
@niqdev thank you very much!

[2022-10-31 08:52] jdomag commented on #10143
@mmerrill3
I can't see scm provider of bitbucket in [scm_provider.go ](https://github.com/argoproj/argo-cd/blob/master/applicationset/generators/scm_provider.go) - there is only Bitbucket Server.

[2022-10-31 09:06] jkroepke commented on #11106
Yes, I do not found the issue by search. Consider to change the title.

[2022-10-31 09:06] #11106 closed

[2022-10-31 11:34] alexef commented on #3487
Can we close this as it was implemented in #8231 #7923 #3487 ?

So are we still keeping it open for Part 2?

[2022-10-31 11:43] alexef opened #11123 "bug: Application's own external URLs are not shown in the UI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

The `link.argocd.argoproj.io/` annotation prefix can be used on Application resources as well, in order to generate an external link button in the UI.

This works for the `link.argocd.a

[2022-10-31 12:04] alexef commented on #6667
Note that the umbrella shows *all links from all resources managed*. So it is expected that links are aggregated under the App of Apps Application.

This bug can be closed.

Another issue with Application links is described in #11123.

[2022-10-31 13:41] rtoma-pq opened #11125 "argocd logo partially overlapped by permanent banner in 2.5.0"
**Describe the bug**

The argocd logo is partially overlapped by a permanent banner.

See following screenshot where the head of the mascotte is overlapped by the banner:

<img width="792" alt="image" src="https://user-images.githubusercontent.com/114475822/199020791-d6bd902d-6805-455f-a56a-f10e8481cc01.png">

Same when sidebar is collapsed:

<img width="791" alt="image" src="https://user-images.g

[2022-10-31 14:03] karlderkaefer commented on #8952
@jeremydescamps I have tested argocd-image-updater. I could not get a solution to work. The updater is primarly used to update docker image and tags. I could not find any sign that helm registries are detected https://github.com/argoproj-labs/argocd-image-updater/blob/master/pkg/argocd/argocd.go although at the least the registry config is picked up.
[code]

[2022-10-31 14:07] crenshaw-dev commented on #11071
I'd strongly caution against downgrading. 2.30.2 has a [critical vulnerability](https://github.com/dexidp/dex/security/advisories/GHSA-vh7g-p26c-j2cw) which is relevant to Argo CD, given the way we use Dex.

I'm reading through release notes trying to figure out what might be the difference.

Does anyone have time to binary-search the Dex releases?

[2022-10-31 14:18] crenshaw-dev commented on #11086
Thanks for the research! Personally I favor strict egress rules by default with documentation on loosening those restrictions and easy mechanisms in the Helm chart to facilitate those changes.

[2022-10-31 14:36] busser opened #11126 "Network policy egress rules break HA Redis on GKE with NodeLocal DNSCache"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When installing ArgoCD with the provided HA manifests, the Redis cluster never reaches a healthy state:
- The Redis server's `config-init` init-container fails for instances 1 and 2 (in

[2022-10-31 14:46] carsonoid commented on #3487
I would love to see part 2 become a thing. But I could move that to it's own issue so we can track it separately.

[2022-10-31 14:46] #3487 closed

[2022-10-31 15:02] carsonoid opened #11128 "Proposal: Add support for arbitrary application tiles"
# Summary

Add support for customized tiles in an application via a CRD

# Motivation

In may case, the Argo application is the jumping off point for a service. It would be nice to make it easy to add more context and data on the page without having to tie it to a Kubernetes resource.

# Proposal

Right now individual resources have the ability to generate links in an Application dashboard via ann

[2022-10-31 15:02] carsonoid commented on #3487
#11128 is a new issue summarizing this.

[2022-10-31 15:13] 34fathombelow commented on #11126
@busser thank you for your bug report and very detailed analysis.   I would be in favor for option 1.  I have no issue with the pod making make requests to outside dns services.

@crenshaw-dev what do you think?

[2022-10-31 15:18] busser commented on #11126
@34fathombelow thank you for the rapid response. PR #11127 implements option 1.

[2022-10-31 15:52] noaabarki opened #11129 "Allow users to template and render Application's resources"
# Summary
As a user, I'd like to be able to inspect my resources before applying them.  One use case would be to debug, lint and verify Helm Charts before deploying them. Another use-case would be to validate resources(plain or via Helm/Kustomize) for misconfigurations and ensure they comply with pre-defined policies.  To do so, I need to be able to template and inspect the applied resources right

[2022-10-31 15:59] alexef commented on #8952
We’re also using the cronjob approach as a workaround. Having it supported by the system would be much nicer, yes.

[2022-10-31 16:09] niqdev commented on #11071
As mentioned above, I was using a self-signed cert with tls enabled, and it's still not working. From what I found below, it must be a combination of argo/dex tls and self-signed certs. Setting `oidc.tls.insecure.skip.verify: true`, `--disable-tls` and `dexserver.disable.tls: true` wasn't enough for me - I'll give an update if I found a solution.

In the meantime, thanks @crenshaw-dev for mentioni

[2022-10-31 16:13] 34fathombelow commented on #11086
I would agree with both @RafalMaleska & @crenshaw-dev that leaving strict policies in place by default would be best.  We should document senerios on when a user might want to loosen those restrictions.

[2022-10-31 19:39] crenshaw-dev commented on #11129
There are a few different use cases here. We support `argocd app diff --local`, which I think helps with some of the use cases. I think an `argocd app manifests --local` would completely covert that subset of use cases.

I think the ApplicationSet case is covered here: https://github.com/argoproj/argo-cd/issues/10895

[2022-10-31 19:55] duxing commented on #9214
@crenshaw-dev I'm also running into this issue.

I'm running `argocd@v2.4.0+91aefab`
[code]

and the application configuration yaml (`datadog` helm chart in this case):
[code]

when I modified the content inside the `content-of-my-values.yaml` block (`.spec.source.helm.values`) the app is marked as "synced" but the last applied configuration does not pick up my changes.

I checked `argocd app get

[2022-10-31 20:48] pdrastil opened #11132 "Rework how Dex server is managed."
# Summary

Dex server is currently managed via custom made utility that overcomplicates things and locks users from more flexible setups / using HA deployments.

# Motivation

- As a cluster operator I need to have integration with LDAP but I also need to run in HA setups
- As a cluster operator I want to use Dex probes for liveness / readiness checks
- As a cluster operator I want to be able to c

[2022-10-31 20:48] pdrastil commented on #11132
@mkilchhofer Put basic info about Dex as requested

[2022-10-31 23:48] bilalcaliskan commented on #8324
@crenshaw-dev missed that one, im on it!

[2022-10-31 23:59] pbecotte opened #11134 "ExternalProvider cluster auth is cached indefinitely?"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

We have a custom binary to auth against our kubernetes clusters, which uses an external service to generate a certificate (similar to how GKE or EKS handle it). We configured an Externa

[2022-11-01 00:56] hi-artem opened #11135 "Tracking OpenSSL 3.0.2 Issue in ArgoCD"
# Summary

A new OpenSSL vulnerability affecting versions prior to 3.0.7 is present in the latest [ArgoCD container image](https://github.com/argoproj/argo-cd/releases/tag/v2.5.0).

Read more info about upcoming OpenSSL here: https://mta.openssl.org/pipermail/openssl-announce/2022-October/000238.html

# Motivation

This issue is here to track the progress of the ArgoCD team evaluating the issue wh

[2022-11-01 05:14] 34fathombelow commented on #11135
@hi-artem Thank you for bringing this to our attention. This will only be the second time a critical vulnerability has been found in OpenSSL since they have been tracking security flaws (2014).  They have an impeccable record of responsible disclosure and working with upstream providers to ensure a patch is created.
 https://security.snyk.io/vuln/SNYK-UNMANAGED-OPENSSL-3090874

[2022-11-01 05:18] CRASH-Tech commented on #11087
I have this bug too.

[2022-11-01 05:49] alexef commented on #11111
See related Slack thread: https://cloud-native.slack.com/archives/C01TSERG0KZ/p1666947440257579 - this was introduced together with application in multiple namespaces, and it may make sense to hide it when that flag is not active.

[2022-11-01 05:56] alexef commented on #8563
@mehdicopter (and anyone else affected) for us, the way to authenticate is specifying the repo without any protocol.

i.e. instead of `oci://registry.gitlab.com/test/toto` -> `registry.gitlab.com/test/toto`

In the declarative approach, Secret.url and Application.spec.helm.repoURL would also have to be set _without_ protocol.

[2022-11-01 06:03] alexef commented on #11100
Checking the code, it seems like the `--ca-file` flag is only added when the ca file is present. Have you tried to add repo without the ca-file?

[2022-11-01 06:29] hcelaloner commented on #10952
No, I did not do anything special. Just applied the following servicemonitor in our deployments and the metric was available in our Prometheus.

[code]

[2022-11-01 08:11] alexef commented on #11111
yes, this is the problem: even though the flag is not enabled, the prefix shows up.

[2022-11-01 10:37] rishabh625 commented on #11104
Hi , assigning this to myself , would soon submit the change

[2022-11-01 10:52] artem-zherdiev-ingio commented on #4091
Hi, we still get this error.
Cert manager is v1.10.0
ArgoCD is v2.4.11+3d9e9f2
Helm is v3.8.1
values installCRDs: true

Chart.yml
dependencies:
  - name: cert-manager
    version: v1.10.0
    repository: https://charts.jetstack.io

How to fix it?

[2022-11-01 12:18] nilic commented on #6362
For Azure DevOps Server 2020 Update 1.1 this workaround is needed: https://github.com/argoproj/argo-cd/issues/6812#issuecomment-1166957798, just replace `ssh.dev.azure.com` with the name of your Azure DevOps server and remove line `User git`.

Azure DevOps Server 2022 RC2 adds support for additional signature algorithms besides `ssh-rsa` so hopefully this workaround won't be necessary after upgrad

[2022-11-01 12:42] hsharrison commented on #11074
I'm having the same issue with a Crossplan Composition
![image](https://user-images.githubusercontent.com/4441865/199234758-d25c2a6a-f948-4410-abb0-eb7200b77f89.png)

Like the previous examples, fields within arrays are getting added by CRD defaults.
However, I am not using server-side apply.

[2022-11-01 12:58] Dbzman opened #11136 "ServerSideApply fails with "conversion failed""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Using ServerSideApply, configured in an Application via Sync Options, fails with

Using it only with the "Sync" button, without having it configured for the app, works, though.

**To Rep