[2021-01-04 10:11] zemiak opened #5168 "Cannot Compare/Delete app in openshift 4.5"
**Describe the bug**

ArgoCD does not like Openshift 4.5 self-generated certificates when syncing or deleting the projects.

The sync and deletion initiated by Sync triggers the following logs:
[code]

**To Reproduce**

* Install argocd in Openshift 4.5
* create a helm-guestbook in a argocd-guestbook project via GUI
* try to sync or delete the project via GUI

**Expected behavior**

No errors

**V

[2021-01-04 10:40] MasayaAoyama commented on #5165
feature is merged, so clode issue.

[2021-01-04 10:40] #5165 closed

[2021-01-04 16:39] aelbarkani commented on #5104
Awesome !

My use cases:
- As a K8S administrator, I would like to configure my K8S fleet with the same components (Operators, helm charts, quotas, limits,etc) automatically.
- As an application owner, I would like to deploy easily my application in several clusters for high availability.

[2021-01-04 17:37] werne2j opened #5169 "Can not sync cluster role in external cluster if that cluster does not have namespace the application is deployed to"
I have an external cluster that I am trying to deploy a cluster role and cluster role binding to. The argocd application is deployed in the argocd namespace of the cluster where argocd is deployed but when trying to sync the cluster role and cluster role binding it takes the namespace from the app and so I get an error that says “namespace argocd not found”. Is there a way to deploy resources that

[2021-01-04 17:48] jkayani commented on #5169
To add additional information we have tried hardcoding `namespace: default` in the cluster resources since that namespace is guaranteed to exist on all of our external target clusters (even though namespaces shouldn't matter for cluster resources). Unf, that didn't work and instead the error message remained the same: "namespace argocd doesn't exist".

[2021-01-04 17:50] jannfis commented on #5169
What is the value of your Application's `.spec.destination.namespace`?

[2021-01-04 17:53] jkayani commented on #5169
It's `default`. This is the latest attempt's ArgoCD app:

[code]

and the resource is:

[code]

[2021-01-04 18:13] jannfis commented on #5169
And the only resources in `infrastructure/dmt-eu-de-test-infra` (and below directories, due to `recurse: true`) in `some-repo` are your `ClusterRole` and `ClusterRoleBinding` ones? No other namespaced resource in some stray YAML within the path in that repo?

How is your external cluster configured? Does it have any namespace constraints on it?

[2021-01-04 18:16] jkayani commented on #5169
No special configuration comes to mind re: namespaces.

There are other resources, and they are all namespace-specific ones, with hardcoded, non-default values. Those are applied via ArgoCD just fine. An example from `infrastructure/dmt-eu-de-test-infra/customresources/thing.yaml`

[code]

[2021-01-04 20:33] wanghong230 opened #5173 "Don't import k8s.io/kubernetes"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-04 20:36] wanghong230 commented on #5173
The workaround is quite painful: https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505627280

[2021-01-04 21:47] kshamajain99 commented on #4936
Refer documentation https://argoproj.github.io/argo-cd/operator-manual/server-commands/argocd-util_config/ to generate declarative config.

[2021-01-04 21:59] michaelajr commented on #5146
So I've circled back around on this, and sync-waves are definitely broken in an app-of-apps. Everything syncs at once. Don't want to downgrade, so if anyone can get this working, please share. Thanks.

[2021-01-04 22:01] jessesuen commented on #5173
Relevant https://github.com/argoproj/gitops-engine/issues/56

[2021-01-04 22:03] jessesuen commented on #5173
Here's a useful script to update k8s dependencies in go.mod

https://github.com/argoproj/argo-rollouts/blob/master/hack/update-k8s-dependencies.sh

[2021-01-04 22:08] jessesuen commented on #5124
@mnacharov would you like to submit a PR to fix this?

[2021-01-04 22:14] jessesuen commented on #5135
I think the problem is that because we never return sensitive information from our API, a cluster update operation drops the sensitive information on the floor as part of the update.

It could be that the cluster update doesn't properly refetch the cluster before saving it, although I don't see any obvious problems from the code:
https://github.com/argoproj/argo-cd/blob/master/server/cluster/clust

[2021-01-04 22:18] jessesuen commented on #4734
Fixed

[2021-01-04 22:18] #4734 closed

[2021-01-04 22:19] jessesuen commented on #4936
Fixed

[2021-01-04 22:19] #4936 closed

[2021-01-04 22:21] jessesuen opened #5174 "Include argocd-util as part of release artifacts"
# Summary

argocd-util is a useful utility for operators to manage Argo CD instances and should be published as part of a release

[2021-01-04 22:21] kshamajain99 commented on #5174
Taking a look

[2021-01-04 22:22] jessesuen commented on #5174
Will likely need changes to Makefile and GitHub action.

[2021-01-05 00:40] abdennour commented on #3185
@cyrus-mc  please make sure to have the latest argocd CLI version .

[2021-01-05 02:57] jsoref opened #5175 "Offer help w/ pods stuck in pending states `had taints` messages"
# Summary

A user reported seeing:

There's apparently enough information available in the system to help users:
https://stackoverflow.com/questions/62991596/1-nodes-had-taints-that-the-pod-didnt-tolerate-in-kubernetes-cluster

# Motivation

# Proposal

I suspect that an extra tab next to Summary/Events/Logs with `Recommendations` or `Analysis` or something might be the right way to surface this.

[2021-01-05 02:58] jsoref opened #5176 "Count field should be wide enough to fill `count`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-05 04:47] alexmt commented on #5030
Hello @Firgeis ,

I think there are two errors:

* Argo CD assumes that OCI chart path must have exactly two levels. e.g. `<repo-name>/<chart-name>` . In your case chart is stored at `charts/develop/<something>` and Argo CD fallback to non-OCI registry. Chart path should not be used to auto-detect OCI
* Helm does not allow extracting index of OCI registries and does not allow to pull chart by dige

[2021-01-05 06:23] yan-zhao-unity opened #5178 "Kubernetes secret create from vault is Always OutOfSync"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-01-05 06:51] alexmt commented on #5010
Hello @windsource ,

The `argocd-repo-server` enforces 90 seconds timeout for all config management tools. Timeout can be increased using `ARGOCD_EXEC_TIMEOUT` environment variable (value is in seconds). Created PR that documents it https://github.com/argoproj/argo-cd/pull/5180

[2021-01-05 07:46] windsource commented on #5010
Thanks. Meanwhile I have changed it to run `kustomize` offline and only commit the resulting yaml file which runs much smoother and uses less memory in ArgoCD. According to Slack others seem to prefer that solution as well.

[2021-01-05 08:20] jannfis opened #5181 "Move away from github.com/dgrijalva/jwt-go as JWT library"
# Summary

The `github.com/dgrijalva/jwt-go` seems to be abandoned and not maintained any more, but contains a security vulnerability marked as high. See https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-26160

The remediation says to update to 4.0.0-preview1, but from our research, this version does not contain any fix for the specified issue.

There is a fork at `github.com/form3tech-oss/j

[2021-01-05 08:36] abdennour commented on #4651
guys! i can see only 2 in CRDs list :

[code]
there is nothing called `clusters.argoproj.io`.. We expect to have that.

[2021-01-05 09:11] abdennour opened #5182 "/settings/repos page is crashed with Javascript error message Error: Invalid url."
**Describe the bug**

While navigating to ArgoCD website, and specially /settings/repos, i got this error:

[code]

At the begining, i was able to see that it renders the git repository.. for other repos (which are helm repos),it keeps loading ( loading icon), then after 1 or 2 seconds, the whole page crashes.

**To Reproduce**

ArgoCD is installed from a Helm chart :

[code]
And values.yaml inclu

[2021-01-05 09:19] abdennour commented on #5182
it's bug in my values.yaml. there is a repository definition with "type"  but without "url".
[code]
I just need to remove it, then `helmfile apply`

[2021-01-05 09:19] #5182 closed

[2021-01-05 12:47] jannfis commented on #5181
OK, so the research was probably wrong. The fix is in another branch - `release_4_0_0` - not in `master`. So we can upgrade to 4.0.0-preview1 instead of to the fork. Also, my initial tests showed that the fork doesn't handle single `aud` claims in tokens, only two or more.

[2021-01-05 13:48] #5010 closed

[2021-01-05 13:54] LeJav opened #5183 "Bad external URL link https://%!s(<nil>) - Regression?"
Hello,

I am using argo-cd 1.8.1 and I have exactly the same problem as https://github.com/argoproj/argo-cd/issues/1590
This issue might have been corrected. Maybe a regression?

Many thanks for your support and for your very good work on this project.

[2021-01-05 15:56] jannfis commented on #5047
After a few discussions, I think we should go with the latest stable Ubuntu (so, `20.10`) and in the future, move on when Ubuntu releases a new stable version of their distribution (I think it's the `rolling` release, in their terminology).

It seems that `gcc` is the delinquent here.

On image built using `ubuntu:21.04`:
[code]

On image built using `ubuntu:20.10`:
[code]

Now that begs the quest

[2021-01-05 17:00] jannfis commented on #5047
Updated https://github.com/argoproj/argo-cd/issues/5047#issuecomment-744442270 to also contain `ubuntu:20.10` as base image.

[2021-01-05 17:01] jannfis commented on #5047
Also, according to `apt-cache rdepends`, `gcc` is pulled in by `python3-pip` (which we use to install `awscli` in the image).

Maybe this can be changed by some smarter build stages.

[2021-01-05 17:03] buehlmann commented on #4320
This would be a **great** improvement to use JSONPath! :heart_eyes: I ran into this one several times when trying to ignore differences inside an element of an array. For example `containers` inside Deployments or sts is quite common.. Accessing the array by index is not an option because it's non-deterministic.

[2021-01-05 18:27] werne2j commented on #5169
@jannfis Any idea on how we can get around this?

[2021-01-05 20:56] jsoref opened #5187 "Disabling orphaned and visiting an app still shows orphaned checkbox"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-05 21:08] jsoref opened #5188 "Popups should have one extra half row instead of an even multiple of row height"
# Summary

If you make a popup that's exactly X rows tall and people use modern browsers that auto hide scrollbars, they on average won't realize there's anything to scroll

# Motivation

Colleague just discovered that filters include resource types.

# Proposal

Instead of sizing scrollable popups to x rows, do x + 1/2 rows.

![image](https://user-images.githubusercontent.com/2119212/103698539-7b

[2021-01-05 21:18] rbreeze opened #5189 "bug(ui): Node info item overflowing in tree view"
With the addition of Pod View, a new `node` info item was added to pods. For pods that belong to nodes with long names, this causes overflow where the info items are displayed in the tree view.

Proposal:

Either:
- sort each info item by length, and only display the first n items, or
- hide the node info item in the tree view (revert to pre-pod-view behavior)
Checklist:

* [x] I've searched in th

[2021-01-05 21:47] jessesuen commented on #5116
IMO, I don't think theres anything wrong with the way we're presenting this information... the live object is missing a field which the desired does not.

[2021-01-05 21:51] jessesuen commented on #5123
It's unlikely that we'll support this outside of Dex since OIDC has become the standard for SSO

[2021-01-05 21:55] jessesuen commented on #5126
Haven't looked at all your specific issues, but we are aware of many known issues with the app-of-apps pattern (https://github.com/argoproj/argo-cd/issues/4680 is relevant), which is what ApplicationSets is attempting to solve.

[2021-01-05 21:59] jessesuen commented on #5134
We don't support token revokation for local users (including admin) so logout is nothing but a delete of the cookie. If that token was stored somewhere else, it will still be valid.

As a workaround, you can change the admin password (even to the same password), and all current tokens will be invalidated.  But there is no feature to expire individual tokens premature to their original expiry date.

[2021-01-05 22:02] jessesuen commented on #5137
If I understand the bug, `argocd app set staging --kustomize-image grafana/grafana:7.3.4` clobbers the previously set `source.kustomize.version` value? If so this is a bug.

[2021-01-05 22:05] jessesuen commented on #5139
Argo CD v1.9 `argocd-util` CLI will make this easier:
https://argoproj.github.io/argo-cd/operator-manual/server-commands/argocd-util_config_cluster/

The Cluster CRD was considered early on, but because cluster credentials ultimately need to resided in a secret, then it was decided to represent clusters as a Secret and not another CRD.

[2021-01-05 22:07] jessesuen commented on #5145
This is by design. The repo-server is intended to have zero-privileges because it can fork/exec commands/args partially controlled by the user.

You could always add a service account and bind it to the repo-server, but you do this at your own risk.

[2021-01-05 22:07] #5145 closed

[2021-01-05 22:10] jessesuen commented on #5149
Agree this is a bug. We should get the filter content from all objects not just in the applications tree.

[2021-01-05 22:10] jessesuen commented on #5150
Good idea.

[2021-01-05 22:12] jessesuen commented on #5151
I think we should special case Application and AppProject and ApplicationSet as not orphaned resources.

[2021-01-05 22:15] jessesuen commented on #5154
This only happens when plugin fails to render manifests and we fail to surface a relevant error.

[2021-01-05 22:16] jessesuen commented on #5155
I think we can close this as part of https://github.com/argoproj/argo-cd/pull/5185

[2021-01-05 22:16] #5047 closed

[2021-01-05 22:16] #5155 closed

[2021-01-05 22:18] ArjonBu commented on #5137
Yes, that's the case. Unless I specify the kustomize version when running
the argocd command line tool, the already defined kustomize version will be
ignored.

On January 5, 2021 23:03:14 Jesse Suen <notifications@github.com> wrote:

[2021-01-05 22:18] jessesuen commented on #5156
This is a good idea, but the challenge is how to know ahead of time the submodule repo credentials which are also necessary to clone the parent repo.

[2021-01-06 00:12] #5189 closed

[2021-01-06 01:39] jsoref commented on #5116
The bottom half is fine, what interests me is the out of sync hint.

Perhaps changing:

To:

Fwiw, [linkerd2](https://github.com/linkerd/linkerd2) has https://linkerd.io/2/tasks/troubleshooting/ and commands output links to sections within. It's a very nice approach.

[2021-01-06 02:39] jsoref opened #5195 "Disable Transparent Huge Pages (THP) for redis pods"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-06 07:07] yujunz commented on #5154
It happens on directory mode too.

[code]

 In my case, the directory contains a sops encrypted file which can not be parsed as Kubernetes resource.

[2021-01-06 07:17] yujunz opened #5197 "Support single file as source"
# Summary

Support create application from a single file.

# Motivation

When create application from a single file, it prompts the following error

[code]

It is helpful for fine control of resources while creating directory for each of them seems overkilled sometimes.

# Proposal

Support create application from a single file just like `kubectl apply -f`

[2021-01-06 08:07] #5030 closed

[2021-01-06 08:07] #5136 closed

[2021-01-06 09:44] #3422 closed

[2021-01-06 09:52] paddy667 opened #5198 "Unable to add external Openshift clusters using 'argocd cluster add'"
Hi guys,

I'm unable to add external Openshift clusters to my Argocd instance using `argocd cluster add`

[code]

Service accounts are successfully created and I can connect to the Openshift API on the external cluster with the service account token `argocd` has created

[code]

[code]

[code]

[code]

I'm thinking this might be a regression with regards to #1761 and #2744 but I haven't been able

[2021-01-06 10:48] paddy667 commented on #5198
ah scratch this, I've just realised this is down to my proxy configuration in the `argocd-server` deployment. I had to add the external Openshift cluster to the `NO_PROXY` variable e.g:

`oc edit deployments argocd-server`

[code]

I'll close this issue. Thanks!

[2021-01-06 10:48] #5198 closed

[2021-01-06 11:39] rajivml commented on #5126
@jessesuen yes, this look like the crux of the issue and it's a complete mess especially when it comes to delete. Just now I ran into this issue again where delete got stuck from last 2 hours

I have read the spec (google design doc) related to ApplicationSets , it doesn't support sync-wave ordering at Application level and we need that to define the order in which applications can be installed.

[2021-01-06 13:38] sbose78 commented on #5197
Thank you @yujunz for the report.
To be clear, you would have to use a directory with a single file in it, as an alternative, given that pointing to single files is not supported ?

[2021-01-06 21:20] jsoref opened #5200 "Summary Colors don't match key and numbers don't match colors"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-06 21:40] jessesuen commented on #4900
I think if this is your use case, I don't think this feature would be used by you. Is there something lacking in current implementation if this is your access pattern to Argo CD?

FYI, there is a `argocd XXXX --port-forward` flag that allows you to connect to the Argo CD API server using port-forwarding only, so that the server doesn't even need to be exposed at all.

[2021-01-06 21:48] jessesuen commented on #5162
How is this different than https://github.com/argoproj/argo-cd/issues/5159?

[2021-01-06 21:52] jessesuen commented on #5168
@zemiak i believe this is specific to your environment. Argo CD is reporting that when dealing with tekton.dev/v1alpha1, ClusterTask objects, the K8s API server cannot securely connect to your conversion webhook because `https://tekton-pipelines-webhook.openshift-pipelines.svc:443` has an untrusted authority (e.g. self-signed). Argo CD is simply surfacing that error.

[2021-01-06 21:54] jsoref commented on #5162
#5159 is just about changing from a blue animated circle to a red one for terminating.

Loading:
![image](https://user-images.githubusercontent.com/2119212/103823281-cc8ebb80-503f-11eb-96ab-99f6bd61aa89.png)

[2021-01-06 21:55] jessesuen commented on #5169
Something doesn't seem to add up. The error `namespace argocd not found` would indicate that `argocd` is the `spec.destination.namespace` which makes sense to error because `argocd` is typically not a namespace in a managed cluster (it is in the control plane). but according to your spec, you use `default` as the destination namespace.

[2021-01-06 21:59] jessesuen commented on #5175
This seems like it might be out-of-scope. Isn't the events of the pod sufficient for debugging this? I think the Application timeline view of events would help here as an alternative to this suggestion.

Relevant: https://github.com/argoproj/argo-cd/issues/4902

[2021-01-06 22:00] alexmt commented on #5197
FYI. In v1.9 directory source has `include` parameter which is a glob filter. So you can have directory with multiple files and use `include` to specify required file:

[code]

[2021-01-06 22:01] jessesuen commented on #5178
As I understand the behavior (please correct me if I'm wrong), a vault webhook is behind-the-scenes mutating the secret from it's desired state in git. If so, Argo CD is correctly reporting the diff and I would not consider this a bug.

You can always configure ignoreDifferences to ignore the mutations performed by vault.

[2021-01-06 22:04] jessesuen commented on #5187
This requires an app refresh after unchecking the box. Maybe unchecking the box can trigger this automatically (triggered by API server).

[2021-01-06 22:07] jessesuen commented on #5188
Took me a minute to realize that the dropdown was missing all resource filters so yes, this does seem like an usability problem.

[2021-01-06 22:09] werne2j commented on #5169
@jessesuen yes, can confirm ` SyncFailed  namespaces "argocd" not found`. I believe what is happening is because the resources we are trying to sync do not typically have a namespace, it is being stripped away. So then the argocd application uses its namespace which is `argocd`.

[2021-01-06 22:09] jsoref commented on #5175
I'm not sure. This wasn't actually something we hit. It was reported in Argo Slack and I considered how I'd want help from Argo to address it.

I've personally found events to be incredibly hostile. For various reasons.
- From my perspective it randomly orders its list of items
- I haven't been able to really resolve much based on that tab
- A quick survey of our team: "it's useful in knowing that

[2021-01-06 22:10] jessesuen commented on #5197
I think @alexmt suggestion is the proper way to do this pattern so will close this as the solution.

[2021-01-06 22:10] #5197 closed

[2021-01-06 22:13] #5080 closed

[2021-01-06 23:15] kvaps opened #5201 "Option to hide sesetive data in specific fields"
# Summary

We need an opportunity mask or hide specific fields for all resources.

# Motivation

We're using qbec to generate and render kubernetes manifests from jsonnet files.
Just like ksonnet it also can add its own last-applied annotation with gziped secret encoded in base64.

while secret data is hidden, the last-applied annotation doesn't:

![image](https://user-images.githubusercontent.com

[2021-01-07 04:21] rajivml opened #5202 "Helm lookup Function Support"
Hello,

Happy new year Guys !!

So, I have this requirement to build the imagePath by reading the dockerRegistryIP value from configMap, so that I need not ask user explicitly where the registry is located.

[code]

Helm3 has introduced support for this where they introduced a **lookup** function through which configMap can be read at runtime like this,

`{{ (lookup "v1" "ConfigMap" "default" "my-

[2021-01-07 06:03] rajivml commented on #4577
@ronaldour I have replaced the default application health check logic with yours and all apps got stuck in "Progressing" and "Waiting for Application" status , even though they are synced correctly. So, looks like there is something wrong with your code where as with the below code status is being reported correctly

[code]

[2021-01-07 08:30] yujunz commented on #5197
Nice

But I don't see it under UI at the moment.

<img width="546" alt="Screen Shot 2021-01-07 at 4 28 38 PM" src="https://user-images.githubusercontent.com/6813397/103869558-6ec4a700-5105-11eb-91c6-ef9a7c2add81.png">

My version was built from a recent master. Is it too new or just not available in UI yet? @alexmt

[2021-01-07 08:50] paveq opened #5204 "Custom health check with custom status attributes"
# Summary

Custom health check can currently be used to determine health status of custom object: https://argoproj.github.io/argo-cd/operator-manual/health/

In addition, it can pass a message via hs.message field.

It would be useful if there would be possibility to set other kinds of values/attributes to Application object, not only health status and message. These values should be reflected on

[2021-01-07 09:13] fuesec commented on #4320
would love to see this feature

[2021-01-07 10:17] harmen1994 commented on #5136
Hi @alexmt and @jessesuen,

Thank you so much for taking the time to fix this!
I'm looking forward to the new 1.9 release and keep up the good work.

[2021-01-07 10:34] seuf commented on #5067
Hi, I have the same issue with Argocd v1.8.1 :
[code]
sometimes the character is different (`\a`, `\b`, `\t`, `\x00`, etc..)

[2021-01-07 10:34] seuf commented on #4911
Hi, I have the same issue with Argocd v1.8.1 :
[code]
sometimes the character is different (`\a`, `\b`, `\t`, `\x00`, etc..)

[2021-01-07 12:17] JaehoonHyun opened #5205 "when source.path is not existed, also prune the application."
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal
apiVersion: argoproj.io/v1alpha1
kind: Application
....
source:
    repoURL: xxxxxxxxxxx
    targetRevision: yyyyy
    path: zzzzzzzz

-> I think a Application CRD is also deleted if source.path is not existing, because your gitops idea.

How do you think t

[2021-01-07 15:49] kvaps opened #5206 "Infinity out-of-sync with `helm.sh/resource-policy: keep`"
**Describe the bug**

Some Helm charts providing a functionality to generate certificates and the passwords, usually these resources are coming with  `helm.sh/resource-policy: keep` annotation, which instucts helm to not update the resource in cluster for each deploy operation.

**To Reproduce**

create chart:
[code]

Install it using ArgoCD

**Expected behavior**

ArgoCD will skip synchronization

[2021-01-07 17:16] kvaps commented on #5206
It seems I was wrong about this annotation, see https://github.com/helm/helm/issues/4824 and https://github.com/helm/charts/issues/5167.

Some projects are using https://github.com/jet/kube-webhook-certgen to generate certs in their charts to solve this problem (eg. nginx-ingress and prometheus-operator)

Alternatively the lookup function can be used, however lookup will not work with `helm templa

[2021-01-07 17:16] #5206 closed

[2021-01-07 18:05] werne2j commented on #5169
All of our resources that have a namespace in them work just fine but something like a cluster role does not work
This is the live manifest:
[code]
and this is what is in git
[code]

[2021-01-07 21:48] jessesuen commented on #5202
Note that even if we allowed configuring Argo CD to append the `--validate` arg when running the `helm template` command, the repo-server would still need to be given API server credentials (i.e. mount a service account token) in order to perform the `lookup`. We would not ever allow kubernetes credentials to repo-server as a default (though you are welcome to modify your deployment in your enviro

[2021-01-07 21:55] jessesuen commented on #5204
It would simple to enhance the health scripts to surface more metadata about a resource object in the form of key/value string pairs (though this may not have much value over just looking at the YAML of the live object itself).

The suggestion to query based on this metadata information would make it much more useful/powerful, but theres no easy way to make this searchable. I do think the feature

[2021-01-07 21:57] jessesuen commented on #5205
This use case can be accomplished by upcoming ApplicationSet feature using the git generator. I don't think it would be correct to have an Application delete itself.

[2021-01-07 22:14] jsoref opened #5209 "Provide json equivalent of argocd version for cluster info"
# Summary

if you visit
https://cd.apps.argoproj.io/settings/clusters/https%3A%2F%2Fkubernetes.default.svc
you can click the version on the left and click `copy json` to get the version of ArgoCD

It'd be nice to have a similar thing for clusters -- probably providing the equivalent of `kubectl version`

# Motivation

Filing bug reports which ask about my k8s version

# Proposal

Similar to the ar

[2021-01-07 22:47] kvaps commented on #5202
@jessesuen, I guess this workaround is possible only with in-cluster configuration, and wont work for the external ones.

[2021-01-08 01:37] jessesuen commented on #5202
Ah yes, you are right about that unfortunately.

[2021-01-08 07:05] #5174 closed

[2021-01-08 13:30] RomainBelorgey opened #5210 "Upgrade to 1.8.1 won't work when argocd managing itself"
I couldn't find any related issue and reporting this if it could help.

Thanks in advance and keep the good work :+1:

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

Argocd is managing itself on my environment.
Following https://arg

[2021-01-08 15:07] jeliasson commented on #5110
@alexmt
Thanks for the patch! Would you kindly update the comment to have image to `alpine:3.8` rather than `docker.intuit.com/oicp/alpine3.8:latest` so other users don't hit a 403 Unauthorized. Thanks! 😊

[2021-01-08 15:11] jsoref opened #5211 "Icons aren't properly aligned"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-08 16:25] jsoref commented on #4733
For my reference,
[code]
seemed to get me the notes content corresponding to a chart installed using
[code]

[2021-01-08 16:38] jkleinlercher commented on #4814
Hi @jannfis and @jessesuen , unfortunately (and somehow understandable) our security officers are also not very amused about the many CVEs in the argocd images. We had a long discussion today with them and there where ideas from building the argocd images from scratch with own images and reverse engineering which libraries argocd uses or not (which is definitely not the way I would go) or even not

[2021-01-08 17:17] jannfis commented on #4814
Hi @jkleinlercher - we merged https://github.com/argoproj/argo-cd/pull/5185 recently, which switches Docker base image from Debian Buster to Ubuntu 20.10, which has a better track of fixing CVEs in their stable releases. So, the recent `latest` builds already use this new base image, and the security scans I've seen so far (Snyk and Quay) are not blinking like a christmas tree anymore.

This chang

[2021-01-08 17:20] jannfis commented on #4814
Closed by #5185

[2021-01-08 17:20] #4814 closed

[2021-01-08 17:49] jkayani commented on #5169
Hi, everyone - sorry about the confusion, I re-tested the problematic scenario:

[code]

and in `infrastructure/dmt-eu-de-test-infra/rbac`:

[code]

And it sync'd fine without a problem. I suspect I didn't press the Sync button at the right time or something else happened to not cause Argo to sync the change.

The moral of the story here is that for the child app in the app of apps, the destinatio

[2021-01-08 20:24] kshamajain99 commented on #5137
@ArjonBu Can you please share the error message that you are getting?

[2021-01-08 20:26] ArjonBu commented on #5137
The error message is one that I would get if i used the default kustomize
version. I don't remember it right now but its a new patch plugin
introduced in a later kustomize version.

On January 8, 2021 21:24:36 kshamajain99 <notifications@github.com> wrote:

[2021-01-08 21:36] kshamajain99 commented on #5135
Taking a look

[2021-01-08 21:43] rumstead opened #5214 "Expose force sync in SyncOption on the ApplicationSpec"
# Summary

I would like the ability for ArgoCD to automatically force sync applications without having to use the argocd cli or UI.

# Motivation

When a developer makes a change to an immutable object in their manifests, they shouldn't need to take manual steps to sync their applications, if they don't wish to.

# Proposal

I implemented this feature as described here, https://github.com/argoproj

[2021-01-08 21:52] alexmt commented on #5135
@kshamajain99 ClusterUpdateRequest message has `updatedFields` field.
https://github.com/argoproj/argo-cd/blob/98bec61d6154a1baac54812e5816c0d4bbc79c05/server/cluster/cluster.proto#L30

That is a list of fields that should be updated

https://github.com/argoproj/argo-cd/blob/98bec61d6154a1baac54812e5816c0d4bbc79c05/server/cluster/cluster.go#L145-L155

CLI can use it to specify which fields should

[2021-01-08 22:01] jessesuen commented on #5210
What you described is expected. This was mentioned in release notes, but probably not descriptive enough. What happened was it deleted the application controller before it had a chance to deploy the statefulset and your install was stuck.

For auto-synced + auto-prune managed argo-cd instances, this would be a problem.

Note that this use case is now solved via the PruneLast feature: https://githu

[2021-01-08 22:05] jessesuen opened #5215 "Consolidate/standard on sync options in UI"
# Summary

We have inconsistent UX with regards to sync options in our UI (and possibly CLI):

![image](https://user-images.githubusercontent.com/12677113/104069600-61b5bf80-51ba-11eb-9ff1-a1867b1e553a.png)

![image](https://user-images.githubusercontent.com/12677113/104069705-67aba080-51ba-11eb-8519-c22a3434533c.png)

# Proposal

The same set of options should be presented in App sync options, an

[2021-01-08 22:08] jessesuen commented on #5214
Coincidentally, just filed an issue about consolidating all sync options so will dupe to https://github.com/argoproj/argo-cd/issues/5215

FYI: force syncing CRDs is *extremely* dangerous. If the CRD is forcibly synced (due to immutability), it results in the CRD itself being deleted and all CR instances. I know this from experience.

[2021-01-08 22:08] jessesuen commented on #5214
Duplicate of https://github.com/argoproj/argo-cd/issues/5215

[2021-01-08 22:08] #5214 closed

[2021-01-08 22:14] jessesuen opened #5216 "Allow background delete option when deleting apps and resources"
# Summary

Currently we only allow foreground deletion of objects, but due to Kubernetes GC buggy behavior about deletion, foreground deletion can block indefinitely. The only workaround in Argo CD is a force deletion which is more abrasive approach than performing a background deletion. We should expose an option in UI, CLI, API to perform background deletion of resources and applications.

[2021-01-08 22:53] samkeet opened #5217 "Received a non-integer value when creating project token"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using the project token API to create a new token for a role, the JWT token contains non integer values for issuedAt and expiresAt timestamp values.

**To Reproduce**

A list of th

[2021-01-08 22:57] r0bj opened #5218 "argocd login --port-forward not working"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-08 23:04] r0bj opened #5219 "argocd --port-forward-namespace=argocd login not accepting parameter"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-09 00:22] rumstead commented on #5214
Appreciate the note about Cards @jessesuen I will definitely keep that in mind

[2021-01-09 02:05] Geethree commented on #3688
FWIW: Since @deleted and I had a simple app without pulling in other jsonnet libraries - i.e. no jsonnet lock file. The jb update was failing with

[code]

So we just return the appropriate exit code in jb update - i.e.

[code]

[2021-01-09 05:29] kshamajain99 commented on #5135
@alexmt There isn't any CLI for cluster update. I have fixed the UI bug in PR https://github.com/argoproj/argo-cd/pull/5220.

[2021-01-09 17:05] rumstead commented on #5110
We are experiencing this as well after the 1.7 -> 1.8 upgrade. Is there a published version of the repo server image that I can use with the probes?
[code]

[2021-01-09 19:36] #5135 closed

[2021-01-10 05:52] alexmt commented on #5110
@rumstead , just published https://github.com/argoproj/argo-cd/releases/tag/v1.8.2

It includes liveness probe that auto-restart repo-server

[2021-01-10 05:55] alexmt commented on #5110
We've been using liveness probe for a long time - it is pretty good workaround and buys us some time. Next will try to upgrade grpc and golang versions.

[2021-01-11 07:14] yujunz commented on #5154
It seems caused by one of my local changes. Reverted in https://github.com/yujunz/argo-cd/commit/7613d9a85295e15fcbaf0b5f6ba9ed69a74a0919  and the content plugin error can be displayed as expected now.

[2021-01-11 07:14] #5154 closed

[2021-01-11 07:41] mnacharov commented on #5124
Yep! I will submit this week

[2021-01-11 08:53] RomainBelorgey commented on #5210
Thanks, I was thinking that it was this behavior (the deployment killed before creating the new statefulset) :+1:

I will see to put this in the configuration of the `argocd` and make a PR for the documentation ;)

[2021-01-11 09:12] yujunz opened #5221 "Error message truncated in UI when it is very long"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Error message could get truncated in UI when it is too long

**To Reproduce**

Generate a very long error message

**Expected behavior**

Show the complete error message or at least the

[2021-01-11 10:18] RomainBelorgey commented on #5210
Just created https://github.com/argoproj/argo-cd/pull/5222, hope it can help :+1:

[2021-01-11 10:18] #5210 closed

[2021-01-11 11:41] yujunz commented on #5221
The message seems formatted in https://github.com/argoproj/pkg/blob/50e2680bec730dc985bb2e50d02c1d383caa0145/exec/exec.go#L28

Would it be acceptable to swap the args with cause?

[2021-01-11 12:08] larsrnielsen opened #5223 "FATA[0003] no id_token in token response"
AWS environment, with AWS SSO provided authentication. I am no longer able to use the argocd cli for administration.

[code]
argo server:
[code]

[code]

[2021-01-11 12:39] jannfis commented on #5223
Hi @larsrnielsen - is this a regression, i.e. has it worked with v1.8.1?

[2021-01-11 12:45] jannfis commented on #5223
Also, I see that your `argocd` CLI is custom-built. Does it happen with the release CLI as well?

[2021-01-11 15:06] Gallardo994 commented on #5201
Not sure it can cover everything you would like to "hide", but have you tried SealedSecrets? https://github.com/bitnami-labs/sealed-secrets

[2021-01-11 15:14] Gallardo994 commented on #5046
As a workaround, we use Rancher for read-only tasks and shell execution. Might help while the feature is being implemented (if it gets implemented at all)

[2021-01-11 15:16] shivakumar12 opened #5224 "ArgoCD about Vault-injector roadmap"
# Summary
We have requirement to store all the argo used github secrets into vault. As of now we do not have inbuilt solution to  directory inject the vault secrets into kuberntes pods from argo. Either we have to go with external secret store i,e godaddy or vault operators but these are not approved pattern in our environments.

What change you think needs making.
ArgoCD in build Vault-injector t

[2021-01-11 15:21] Joibel commented on #5114
Any feedback on whether this is something the project would like?

[2021-01-11 15:26] Gallardo994 opened #5225 "Helm: show full manifest even when yaml is invalid"
# Summary

Add an ability to show full manifest of a helm chart before it gets applied, with an option to see it even if it's invalid (maybe even add a basic linter to it to debug even faster?)

# Motivation

Sometimes you might make a mistake in making own helm chart (f.e. push to repo and don't test locally - actually happens if you have to work from a different computer) and get a long unreadab

[2021-01-11 15:33] kvaps commented on #5201
This annotation is generated automatically each time when new manifest is applied.

I mean that argocd is hiding the secrets automatically even in `kubectl.kubernetes.io/last-applied-configuration` annotation:

![image](https://user-images.githubusercontent.com/7556217/104201777-64b6e700-542a-11eb-99d0-14f80e5e677a.png)

Which is totaly fine, but it would be more nicier to have this behavior confi

[2021-01-11 17:53] lnattrass commented on #1283
Hey team!
Is there any progress on this piece, or do you have any idea where it fits in the roadmap for ArgoCD?

[2021-01-11 20:35] #4232 closed

[2021-01-11 21:36] alexmt opened #5229 "Pods groups grows vertically on Pods view"
If pods group on the pod view has too many pods then group height increase instead of showing scroll bar

![image](https://user-images.githubusercontent.com/426437/104240899-a8e9bd80-5411-11eb-8d8b-3a7789e69c39.png)

[2021-01-11 21:38] alexmt commented on #5229
@rbreeze , can you check please?

[2021-01-11 21:58] kshamajain99 commented on #5005
I will take a look at this issue.

[2021-01-11 22:00] jessesuen commented on #5005
Spoke with @alexmt and we agree the both the busy box approach as well as sub commands is the way to do this. Busybox prevents upgrade/migration release notes. sub commands allow easier development.

[2021-01-11 22:01] jessesuen commented on #5218
You need to match the CLI to what the server is configured with. Meaning, you also need `--insecure` on the CLI.

[2021-01-11 22:04] jessesuen commented on #5223
If it regressed, could be related to jwt-go regression (alex is fixing one problem there already).

[2021-01-11 22:06] jessesuen commented on #5224
Are you proposing a way to not use Kubernetes Secrets *at all*?

Note that this would be very difficult because we also represent clusters and repos as Kubernetes Secrets, not just argo cd configuration.

[2021-01-11 22:08] jessesuen commented on #5225
This is not easily doable because the API between repo-server and api-server expects well-formatted JSON, which does not support showing the raw rendered output of the tooling

[2021-01-11 22:08] jessesuen commented on #5229
Also let's combine os/arch into one line for compactness

[2021-01-11 22:16] r0bj commented on #5218
Hmm, with CLI `--insecure` parameter I see the same result:
[code]

[2021-01-11 22:35] r0bj commented on #5218
Oh, it seems that CLI parameter `--plaintext` would make it work:
[code]

[2021-01-11 22:58] r0bj commented on #5218
Interestingly, when using manual kubectl port-forward there is no need for `argocd login` additional parameter (--plaintext), it just works.

[2021-01-12 00:11] ghostsquad commented on #1283
I think that https://github.com/ghostsquad/argocd-progressive-rollout-controller this is a POC of that

[2021-01-12 03:14] johejo commented on #4933
Is this issue reported to vmihailenco/msgpack?

[2021-01-12 05:46] alexmt commented on #5217
Fixed by https://github.com/argoproj/argo-cd/pull/5228

[2021-01-12 05:46] #5217 closed

[2021-01-12 07:39] cp1408 commented on #2424
Hi team, how to find the org name in okta ..i am unable to find the org name in okta also the group is not working for me ..i have setup the OKTA with SAML and groups defined in rbac-cm

APP-ArgoCD-DEV-Admin is the group, user is able to login via okta sso. pls check the below rbac-cm yaml

##############################################################################
apiVersion: v1
data:
  policy

[2021-01-12 08:08] jgwest commented on #4627
Confirmed the issue is still reproducible as of this writing.

[2021-01-12 13:03] cp1408 opened #5232 "Okta user is able to login via SSO but cant use policies created to group."
Hello Team, I am using SAML (with DEX) Okta and users able to connect to argocd via SSO. groups defined in OKTA seems ok.
ArgoCD version: 1.7.1

APP-ArgoCD-DEV-Admin is the AD group added in okta, user is able to login via okta sso but cant use policies.

Please let me know if i need to define the "<org name in okta>" with group in rbac-cm yaml like below example.
**g, "org name in okta":APP-ArgoC

[2021-01-12 13:21] caiobegotti commented on #1673
I'm interested on that as well as we're evaluating both Argo and Rancher's Fleet at the company and for others here's the current status about merging ApplicationSet to Argo: https://github.com/argoproj-labs/applicationset/issues/86

[2021-01-12 14:06] travisghansen commented on #1673
Does anyone know if applicationsets let you set env vars on a per cluster basis? I haven’t tried them out yet so was just curious.

[2021-01-12 14:50] shivakumar12 commented on #5224
No, We are looking a inbuilt solution to integrate with vault & get the secrets to k8s cluster.
Is this solution already in-place or any roadmap to provide the solution or its not possible?

[2021-01-12 14:51] reginapizza commented on #5043
I did a little bit of work on this and I have two options for styling I'd like to get some feedback on...

This first fix would just be a gradient and `overflow: hidden` property. The user would not be able to see all the information unless they hit the expand button. However, unless I added in some more logic to it, the gradient would still be applied to shorter messages that would otherwise fit

[2021-01-12 15:23] pydo commented on #5146
Sync-waves have also broken for us after upgrading to `1.8.1`. However our setup is slightly different:

- no app of apps
- autosync disabled

All the outofsync resources in the screenshot had sync-waves set with negative numbers so they would get applied before the other resources.
<img width="667" alt="Screen Shot 2021-01-12 at 10 19 14 AM" src="https://user-images.githubusercontent.com/10181884

[2021-01-12 15:46] jsoref commented on #5043
The scrollbar indeed looks ugly. Can you cheat and just add an extra blank line to the end of the content to force the gradient to work better?

For the dialog-ish thing, maybe copy over the styling from the Sync failed above (red circle w/ x, + Red colored Sync failed, + larger font) ? -- Not certain about this. In principle you should be aware of other styles, so if nothing does this, then maybe

[2021-01-12 15:47] jsoref commented on #5043
Maybe move the `Failed a day ago (timestamp)` into the title-ish area to the right of `Sync failed` instead of leaving it below?

[2021-01-12 15:54] storm1kk commented on #5110
We're going to update ArgoCD to 1.8.2 version. Although, I have to say, we did not hit this issue again since 22 Dec 2020. I think, long holidays could be a reason for this.

[2021-01-12 16:55] dcharbonnier commented on #3039
This "status" of disabled application could be really useful for development.
If I have two projects using the pattern app of apps :
project1 : app1, app2
project2 : app1, app2, app3

I would be able (on my development machine) to stop working on project1 and start working on project2 with 2 clicks (or one commit)
I don't see a use-case for a production environment.

[2021-01-12 20:34] alexmt commented on #5097
Fix is available in v1.8.2: https://github.com/argoproj/argo-cd/releases/tag/v1.8.2

[2021-01-12 20:34] #5097 closed

[2021-01-12 20:52] jsoref opened #5236 "Filters floats away from input field"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-12 21:31] ngoduykhanh commented on #2424
Hi,

How about granting access to an individual user? In my case, it was a Github account authenticated via dex config. The following config map doesn't work.

[code]

[2021-01-12 22:10] jessesuen commented on #5232
`role:org-admin` needs to match one of the items in the `groups` returned in the okta claims. You can see what is available for your logged in user by visiting https://<your argo url>/user-info

[2021-01-12 22:25] jessesuen opened #5237 "argocd app logs APPNAME resource"
# Summary

We have the ability to get logs of a pod in the GUI, but not CLI. The CLI should add this ability

[code]

Kubectl has something similar:

[code]

# Motivation

The GUI is great for a human, but the latter is needed for things like automation in pipelines.

# Proposal

Add a sub command `app logs` which allows the retrieval of logs but also with the ability to specify a parent resource

[2021-01-12 23:04] reginapizza commented on #5043
This is what it would look like with an extra blank line, both with text that would fit in that space normally and  text overflowing. I think it works for the most part but I'm happy to keep trying to improve it if it's not up to standards.
![Screenshot from 2021-01-12 17-38-09](https://user-images.githubusercontent.com/50851526/104383489-e88dd380-54fd-11eb-969b-a87c011f1c98.png)
![Screenshot from

[2021-01-12 23:30] jsoref commented on #5043
Not sure offhand

I'm not opposed to it being a follow-up.

I suspect I'd be willing to pay for that scrollbar if we hit that.

Commit messages can be incredibly long.

I sometimes create PRs that have a thousand commits (GitHub gets unhappy at 250, but even so), and people will sometimes squash them into a single commit, but with each commit getting a single line in the commit message.

Here's a

[2021-01-13 00:30] #1483 closed

[2021-01-13 00:36] rbreeze commented on #5221
Duping to #4152

[2021-01-13 00:36] #5221 closed

[2021-01-13 01:00] jessesuen commented on #5079
I think the cache key should be comprised of the combination of:
1. the live object's `metadata.resourceVersion`
2. the parameters which we send to the repo-server to generate the manifests

If we get a hit, then there is no need to call repo-server or calculate diff because the cache will already have the calculated diff.

[2021-01-13 03:01] cp1408 commented on #5232
![image](https://user-images.githubusercontent.com/22319105/104400738-ecab0700-5578-11eb-8a17-7993e29bbdd3.png)

have attached image user-info in the argocd

And have these settings in argocd-cm.yaml
        usernameAttr: email
        emailAttr: email
        groupsAttr: email

If i use 'group' in groupsAttr, the okta user SSO not able to logged in.

APP-ArgoCD-DEV-Admin is the group created in A

[2021-01-13 04:33] reginapizza commented on #5043
Got it, in that case I will make it a scrollbar in the info-popup. Thanks!

[2021-01-13 04:54] #5229 closed

[2021-01-13 08:51] willemm commented on #3570
I don't see what ArgoCD has to do with this.

Our team has written multiple Kubernetes Operators to create resources outside of the cluster (database settings, kafka topics, etc etc) and the only time ArgoCD comes into it is when managing the operators, and managing the CustomResources that define the eternal resources.

All you need inside ArgoCD is a 'health.lua' type script for custom health mo

[2021-01-13 09:42] yfried commented on #5082
+1
We have the exact same use case: ArgoCD + Istio Operator

[2021-01-13 10:45] larsrnielsen commented on #5223
It used to work with a 1.7 version, I cannot remember which 1.7 version. I am on a Mac (latest OS) so I use `brew install argocd` for installation. I am actually not aware of it builds the code during installation, I haven't had any intention of doing so at least.

[2021-01-13 10:54] jdomag commented on #820
Same here. @kuznero can you reopen the issue?

[2021-01-13 15:55] cp1408 commented on #2424
Hello ,
individual user using mail-id in argocd-rbac-cm.ymal is working as per below definition, i want to assign a group of AD where user are added. i have 4 different groups for which i need to define custom policies and attach to each group.

Also how to find the "org name in okta" for which @saranicole  mentioned in one of the above comment, he got it working with SAML & OKTA with groups.

The

[2021-01-13 15:58] cp1408 commented on #5232
Hello ,
individual user using mail-id in argocd-rbac-cm.yaml is working as per below definition, i want to assign a group of AD where user are added. i have 4 different groups for which i need to define custom policies and attach to each group.

Also how to find the "org name in okta" for which 1 person mentioned to this link https://github.com/argoproj/argo-cd/issues/2424#issuecomment-608086173,

[2021-01-13 16:28] zeagur commented on #4614
We also having this issue with `1.7.9` on `pre-sync` hook that run flyway migration jobs before deploy an applications with kustomize, if flyway failed, argocd will start to loop sync and delete/re-create the flyway jobs until manually terminate the sync multiple times.

annotation used:
`argocd.argoproj.io/hook: PreSync`

argocd version: `1.7.9`
kubernetes version : `1.19.3`

[2021-01-13 16:34] rbreeze commented on #5079
the issue is:
- the current cache is good for app reconciliation avoidance
- it is not good for granular resource diff avoidance

Example:
- there is an app with hundreds of resources
- this app has a single HPA or Lease object which updates and has a new version every 30 seconds

As a result, we do diff on all hundreds of objects every 30 seconds even though the lease/HPA is the only one that cha

[2021-01-13 18:09] rbreeze commented on #5211
This isn't an issue with alignment but rather the animation. It's a known issue with FontAwesome that spinning icons might "wobble":

https://fontawesome.com/how-to-use/on-the-web/styling/animating-icons

I've tried eliminating this by wrapping the icons in a `display: inline-block` div, but it does nothing. The only solution would be to wrap the icons in a `display: block` div, but A) this isn't

[2021-01-13 19:06] jbaskeen opened #5240 "Include ApplicationSet in argocd-util export scope"
# Summary

Currently, `argocd-util export` does not export ApplicationSet. This is likely obvious since ApplicationSet is not completely released/implemented. However, for those of those that are using it, it could be a valuable addition.

# Motivation

Recently, our team faced an outage of our ArgoCD instance which currently leverages ApplicationSet for our ArgoCD use case. Although we had a back

[2021-01-13 19:12] #4627 closed

[2021-01-13 19:27] jsoref opened #5242 "Drop down doesn't move when window resizes"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-13 19:28] jsoref commented on #5211
😞

[2021-01-13 19:37] jsoref opened #5243 "Remove `:`s from containers labels in logs tab"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-13 21:25] kshamajain99 commented on #5005
ArgoCD Binaries Structure:

**argocd/argocd-all**: (busybox format)
1. argocd(cli)
2. argocd-util
3. argocd-server
     - api-server
     - repo-server
     - controller
     - dex

Subcommands for argocd-server:

- `argocd-server api [flags]` starts API server
- `argocd-server repo [flags]` starts repository server
- `argocd-server controller [flags]` starts application controller
- `argocd-serve

[2021-01-13 21:44] jsoref opened #5245 "expose `configManagementPlugins`"
# Summary

Currently the copy json info provides:
[code]

I think it'd be nice to list the `configManagementPlugins` items

# Motivation

Plugins that are added in can be interesting, it'd be nice if they were surfaced somewhere

# Proposal

Possibly via the json, possibly via something in `/settings` ...

[2021-01-13 22:04] jessesuen commented on #5240
This makes perfect sense. Note that to implement this, until/unless we import application-set pkg definitions, we'll need to rely on the dynamic client to export (which may be the better approach overall)

[2021-01-13 22:05] jessesuen commented on #5240
I'll loosely target this for v1.9 but may get dropped.

[2021-01-13 22:28] jsoref opened #5246 "redis error should report service name not ip address"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-13 22:34] jsoref commented on #5246
To be clear: This bug is about the error reporting, not investigating the source of the error.

In this instance, I've connected to the service/pod and verified that everything is alive and operational.

[2021-01-14 10:30] ShireCiel commented on #2347
Same issue when add eks cluster to another cluster's argo-cd.
Is there have a guide to introduce "how to add a aws eks cluster to introduce"?
Add microk8s cluster so simple just run argocd cluster add <cluster conntext name>.
Why so hard when add aws eks cluster?

[2021-01-14 11:19] jannfis commented on #5223
At least with GitHub SSO using Dex, I cannot reproduce this issue on a fresh install:

[code]

[code]

But I would assume that AWS SSO uses direct OIDC, not Dex, correct?

[2021-01-14 13:03] Relers commented on #3451
same here, need to be fixed

[2021-01-14 13:27] zonnie opened #5249 "Creation of AppProject via API fails due to nil dereference"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Trying to create a project programmatically using ArgoCD's golang structs fails due to nil dereference
The `argocd-server` returns 500

**To Reproduce**

Use the following Go function t

[2021-01-14 13:28] zonnie opened #5250 "Creating a AppProject via REST API fails due to nil dereference in server"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Trying to create a project programmatically using ArgoCD's golang structs fails due to nil dereference
The `argocd-server` returns 500

**To Reproduce**

Use the following Go function t

[2021-01-14 13:46] #5169 closed

[2021-01-14 14:05] yhaenggi commented on #3474
@rumstead any update on this? We also need it...

[2021-01-14 15:26] reginapizza commented on #5159
I was looking into this, currently `terminating` is listed as `ARGO_RUNNING_COLOR` which is the blue. Is changing it to `ARGO_FAILED_COLOR` appropriate or is that color reserved for things that are actually failing?

[code]

[2021-01-14 15:55] safe2008 commented on #3149
@toonsevrin

 How to solve this issue?

[2021-01-14 16:24] trim777 commented on #5065
Looks like ArgoCD already can get values from some external HTTP-endpoint, but without any authentication. This is really blocks us, as a workaround we are going to try nginx as proxy to send authenticated request to external source of values.

[2021-01-14 16:24] jsoref commented on #5159
For the time being, I vote for creating a new constant. You can give it the same value, but at least it'll be distinct and can be changed independently.

[2021-01-14 16:43] alex1989hu commented on #5107
No matter which version `v1.8.1` or `v1.8.2` both produces the same. Even with option which is provided above / to add `stable` as Helm repository/. Several days passed, sometimes I see 4 `Unknown` state, sometimes ~36 `Unknown` state.

[2021-01-14 16:51] rumstead commented on #3474
Last I heard the app set hasn't been moved into AroCD yet. Though I am not the best person to give an update.

[2021-01-14 19:07] aelbarkani commented on #3833
I agree, it's an important security feature.

[2021-01-14 21:52] jessesuen commented on #5250
Dupe of https://github.com/argoproj/argo-cd/issues/5249

[2021-01-14 21:52] #5250 closed

[2021-01-14 22:42] abdennour commented on #1415
no answer fix my issue .. i am getting this error:

[code]

Can you notice with me that the log shows `http://cd.devops.company.com:443` while i expect to be: `https://cd.devops.company.com:443` (https not http).

While argocd CLI use http ?

Also i am in this situation:
1. It works fine in the browser (https://cd.devops.company.com)
2. the request flow is :  **client** --(443)--> **corporate load

[2021-01-14 22:52] jessesuen opened #5251 "Better error categorization in logs and APIs"
**Describe the bug**

Currently we do not properly categorize a lot of errors in our logging, so they all appear in logs with an `Unknown` grpc code.  Example:

[code]

We recently started started attempting to formulate alerts and graphs based on log output (to supplement prometheus stats), but found that we were unable to differentiate user caused errors (e.g. repo path not found, kustomize buil

[2021-01-15 07:26] purnima995 commented on #3280
Hi team, I am also facing this same issue with ArgoCD version v1.8.1. Any ETA of the fix or any workarounds?

[2021-01-15 09:13] maruina commented on #5065
Do you have a working example of the HTTP endpoint?

[2021-01-15 09:40] zonnie commented on #5249
@jessesuen - You labeled this as a `workaround` - am I missing it ? what's the workaround ?
Also, the dup issue was an issue with GitHub, the initial issue was stuck on creation so I somehow created 2 - sorry about that. 😄

[2021-01-15 10:34] larsrnielsen commented on #5223
Correct. I will try with a version of argocd that is not installed via Brew. Maybe Brew is installing a version that doesn't work

[2021-01-15 14:51] jeliasson commented on #2557
This sums it up well. Be able to scope what namespaces ArgoCD should listen on. 👍

[2021-01-15 17:03] #5243 closed

[2021-01-15 17:48] jkleinlercher opened #5256 "remove ksonnet from argocd image"
# Summary

ksonnet is not actively maintained anymore and security vulnerability scans find CVE in ksonnet binaries. Also argocd doesn't support ksonnet anymore: https://argoproj.github.io/argo-cd/user-guide/ksonnet/
I think it is time to remove ksonnet from the argocd image and

# Motivation

Without ksonnet the argocd image gets more secure

# Proposal

remove ksonnet from Dockerfile and documen

[2021-01-15 18:56] alexmt commented on #5249
Hello @zonnie ,

AppProject API expects project in `project` field. So payload should look like 👍

[code]

The nil dereference error is a bug of course. API server should return a meaningful error.

Also API is inconsistent with other APIs. We should check if we can make it consistent without breaking backward compatibility.

[2021-01-15 19:10] stefanhenseler commented on #5224
@shivakumar12 If you use Kustomize,  I think you should be able to use one of the Kustomize secret generator plugins to get the secrets from Vault during syncs:

- https://github.com/kubernetes-sigs/kustomize/blob/7971ac1/examples/kvSourceGoPlugin.md
- https://github.com/danielsel/kustomize-plugin-vault
- https://github.com/RealGeeks/kustomize-kvsource-vault

I think you can bundle these plugins l

[2021-01-15 19:12] zonnie commented on #5249
@alexmt How does it translate to Go code? What am I missing in my structs ?

[2021-01-15 19:24] alexmt commented on #5249
I think you can change your code as follows:

[code]

[2021-01-15 19:43] Firgeis opened #5257 "Create App fails if repo is Helm OCI and revision is a hash"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [x ] I've pasted the output of `argocd version`.

**Describe the bug**

Using a hash as revision number when creating an app from a chart hosted on a OCI registry fails (Error seems to suggest it's interpreting it as a semver range). As you can see below

[2021-01-15 19:52] reginapizza commented on #5176
Could someone please assign me to this issue?  Thank you :)

[2021-01-16 13:17] zonnie commented on #5249
@alexmt - Thanks !
Expanding on your answer if anyone else wants something cleaner
[code]
Workaround confirmed to work - thanks guys !

[2021-01-17 04:05] jsoref opened #5260 "Rework Badge format"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-17 05:25] jsoref opened #5261 "default schedule options are cropped"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-17 05:52] jsoref opened #5262 "Forms UX"
# Summary

Forms should behave more or less the same way across the product

# Motivation

Inconsistency and surprise are bad

# Survey

https://cd.apps.argoproj.io/settings/projects?add=true
![image](https://user-images.githubusercontent.com/2119212/104832027-02ac1680-585c-11eb-9b81-f0b4db96bebb.png)
![image](https://user-images.githubusercontent.com/2119212/104832033-0cce1500-585c-11eb-9567-1ee5

[2021-01-17 10:36] jribmartins commented on #1364
I'm using two different approaches to solve the GitOps problem with secrets within ArgoCD:

1. Wrapping argocd helm with a helm secrets installation, similar to [this](https://rtfm.co.ua/en/argocd-a-helm-chart-deployment-and-working-with-helm-secrets-via-aws-kms/#Adding_secrets_yaml) article
2. Using sealed-secrets, with this you only need to replace secrets with sealed-secrets in your helm chart,

[2021-01-17 11:20] #5232 closed

[2021-01-17 11:21] cp1408 commented on #5232
Problem solved.. lack of documentation

[2021-01-17 20:05] mveitas opened #5264 "Unable to fetch metadata with truncated SHA targetRevision"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-18 03:29] jsoref opened #5266 "minor cleanup for app cli help"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-01-18 06:38] #5249 closed

[2021-01-18 11:53] ebkn opened #5267 "Sync is not running when only SealedSecret resources changed"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-18 12:26] chetan-rns commented on #5216
Hi @jessesuen, Is this solved by setting the `PropagationPolicy` as Background while deleting? Could you please assign me this issue?

[2021-01-18 17:58] eirisdg opened #5270 "Add oci protocol to resolve Helm dependencies"
# Summary

According to the new Helm version 3.5.0, OCI protocol in dependencies with `oci://` url format is now supported.
It's allow to download dependencies from a OCI repo.

# Motivation

[code]

# Proposal

Upgrade to Helm 3.5 would be great.

[2021-01-18 22:20] irizzant commented on #5146
it's also broken in the `master` version

[2021-01-18 22:51] jsoref commented on #4733
https://github.com/argoproj/argo-cd/issues/4733#issuecomment-752722470 seems to be #5225

[2021-01-19 04:24] jsoref opened #5272 "Events list should be sorted by something sane (e.g. last occurred)"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-19 04:48] lifelofranco commented on #4811
I would just like to add that this also happens on the example in the docs, about configuring a slack notification at postSync.

<img width="459" alt="Screen Shot 2021-01-19 at 12 44 22 PM" src="https://user-images.githubusercontent.com/4952784/104988912-3f426280-5a54-11eb-9ba8-a6a8ba336cfa.png">

ArgoCD gets stuck at syncing, but terminating it manually and syncing it again would always fix the i

[2021-01-19 06:54] jsoref opened #5273 "Minor cleanup for app errors"
https://github.com/argoproj/argo-cd/blob/6535d1ac340d91c5fbdd4f121b9e9cf9b65ce2ad/controller/clusterinfoupdater.go#L124

should be closer to:

[2021-01-19 06:57] wrdls commented on #4723
I'd need to be able to set this flag for https://github.com/external-secrets/kubernetes-external-secrets/tree/master/charts/kubernetes-external-secrets

They have their own controller to install CRDs and recommend installing with `--skip-crds`.

[2021-01-19 08:58] magmax commented on #5042
Maybe the request is related to this? https://argoproj.github.io/argo-cd/user-guide/compare-options/
Anyways, in version 1.7.6 it is not working to me as expected.

[2021-01-19 10:40] irizzant commented on #5146
After further tests, I found that version 1.7.11 works as expected.

Versions 1.8.0 and later don't.

[2021-01-19 11:18] ArgTang commented on #5107
Same issue here. seems to be a helm issue: https://github.com/helm/helm/issues/5567 with corresponding PR
https://github.com/helm/helm/pull/8846

The issue is intermittent, and will fix itself after a hard reset. How does argocd handle refresh errors? to manually do a hard refresh on our deploys is not a good experience. I think refresh errors could use some improvements regardless of the helm fix

[2021-01-19 13:43] mlbiam opened #5275 "Support multiple service accounts per cluster"
# Summary

When using ArgoCD in a multi-tenant environment, it would be good to specify that a cluster can use a specific service account instead of having a 1-1 relationship between clusters and service accounts.

# Motivation

When using ArgoCD in a multi-tenant environment (where each tenant is at the namespace, not the cluster), you have to rely on the application configuration to limit which

[2021-01-19 14:21] reginapizza commented on #5176
Tried to look into this and worked with Josh yesterday and couldn't reproduce this bug. If it comes up again and I have a way to reproduce it I would be happy to work on it again.

[2021-01-19 15:45] michaelajr commented on #5146
Yeah - we had to downgrade. Which is really too bad as 1.8 has some nice features we want.

[2021-01-19 17:46] irizzant commented on #5146
Hopefully this is going to be fixed, I'd need some of the 1.8 features too

[2021-01-19 17:50] mars64 commented on #5110
Just chiming in with my setup:

*  First noticed this issue in argocd`v1.8.1+c2547dc` in a "low volume" dev cluster, we ended up hitting this issue. Bouncing repo-server appeared to resolve the immediate issue. I've updated to `1.8.2` anyway -- issue still appears to be resolved. We never saw the issue on `1.7.x`
* non-ha -- 1 x argocd-server, 1 x repo server, etc
* installation-wise, argocd is a

[2021-01-19 19:14] dpolicastro opened #5276 "Allow wildcard for IgnoreDifferences.jsonPointers"
# Summary
IDK about other resources, but for Secrets, I felt lack of support to allow the use of wildcards on `jsonPointers`, and that would make secrets management using external tools easier, e.g., SOPS.

# Motivation
I use SOPS to encrypt some of my secrets, so I can push manifest files to the source repository, and for that reason I deploy the secret manually. Basically I have a Chart to creat

[2021-01-19 20:42] alexmt opened #5278 "Consistent commit message rendering"
**Describe the bug**

The issue is a follow-up for https://github.com/argoproj/argo-cd/pull/5241 . Proposing several additional improvements:

* There are two commit messages on app details page: "compared to" and "synced to" . The popup should be shown for both.
* Right now popup shows only the first line on the commit message because API truncates it. https://github.com/argoproj/argo-cd/blob/a12

[2021-01-19 21:13] alexmt commented on #5146
Hello everyone,

Tried to reproduce the bug using app-of-apps and just regular resources with sync-waves, no luck, unfortunately. Everything looks normal. I think I'm missing something. Can someone help me to replicate the issue?

Here is what I've got so far: https://github.com/alexmt/argocd-example-apps/tree/5146/5146

App-of-apps application creates two child apps `app1` and `app2`. The `app1`

[2021-01-19 22:00] jessesuen commented on #5267
Does `kubectl diff` report a diff? We should be consistent with `kubectl diff`.

[2021-01-19 22:00] jessesuen commented on #5270
Is the fix just an upgrade of the helm binary?

[2021-01-19 22:02] jessesuen commented on #5272
It was intended to be sorted, so this is a UI bug

[2021-01-19 22:06] jessesuen commented on #5275
Can't find the other issue (which made the same request), but the reason we have a credential per cluster is for performance reasons. The argocd application controller watches all resources, and it's not scalable to do this per cluster/serviceaccount combination.

[2021-01-19 22:08] jessesuen commented on #5276
This will be superseded by request to support jsonPath as an alternative to jsonPointer issue #4320. Closing as dup because we want jsonPointer to be according to spec (which doesnt support wildcards).

[2021-01-19 22:08] #5276 closed

[2021-01-19 22:09] michaelajr commented on #5146
@alexmt I have auto-sync off on the parent app, and auto-sync on for the child apps. There are about 15 child apps in 5 waves.

* argocd app create the parent app
* argocd app sync the parent app

All the child apps syncing at the same time instead of using waves.

I can get you more detail later tonight. Thanks for looking into this!

[2021-01-19 22:09] jessesuen commented on #5278
@reginapizza would you mind taking this?

[2021-01-19 22:12] reginapizza commented on #5278
@jessesuen sure!

[2021-01-19 22:18] alexmt commented on #5146
Thank you @michaelajr! Trying to increase the number of apps in my sample app.

[2021-01-19 22:31] eirisdg commented on #5270
I think so.
https://github.com/helm/helm/releases/tag/v3.5.0

oci:// can now be used as a scheme to pull dependencies from OCI registries and used to specify repositories in dependency lists. Note, the experiment needs to be enabled before this will work.

[2021-01-19 23:21] rbreeze opened #5279 "Upgrade to Yarn 2"
# Summary

About a year ago, Yarn froze their 1.22.x codebase and is now only pushing patch releases to it. [Yarn 2](https://github.com/yarnpkg/berry) is now where active development occurs. Given the [large list of improvements](https://yarnpkg.com/getting-started/qa#why-should-you-upgrade-to-yarn-modern) I think we should migrate Argo CD to Yarn 2.

**TLDR**: Yarn 2 removes the mess of `node_mod

[2021-01-20 00:56] mlbiam commented on #5275
While I can appreciate that, whats the difference between monitoring 25 clusters with a single account or 25 namespaces with their own service accounts?  It seems like a linear scalability issue.  It appears flux does this by having a controller per namespace which isn't great but I can understand it.  Google's Anthos Configuration Manager also can handle this model (where each namespace gets its

[2021-01-20 03:48] yujunz opened #5281 "Failed to watch *v1.Node in argocd-server"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

Errors in `argocd-server`: `Failed to watch *v1.Node:...`

**To Reproduce**

Build image from master
Override image version and deploy from https://raw.githubusercontent.com/argoproj/ar

[2021-01-20 04:06] alexmt commented on #5281
Hello @yujunz ,

I'm pretty sure the issue was fixed by https://github.com/argoproj/argo-cd/pull/5208 . API server was trying to load nodes data from the control plain cluster. Now information about nodes is loaded by controller from the target clusters.

[2021-01-20 04:14] #5264 closed

[2021-01-20 08:09] yujunz commented on #5281
Fixed after merging latest master.

[2021-01-20 08:09] #5281 closed

[2021-01-20 12:17] eugentius opened #5282 "Error creating application from OCI helm chart in Harbor"
Creating Helm chart and pushing to Harbor registry

[code]

Output:
[code]

Trying to download:
[code]

ArgoCD repo list:
[code]

Trying to create a new Application:
[code]

Output:
[code]

If I repeat the same command, I will get another exception:
[code]

Getting the same errors if try to add App from ArgoCD GUI.

ArgoCD version:
[code]

Harbor version: 2.1.1

[2021-01-20 13:59] kvendingoldo commented on #3349
Has it merged to 1.8 release?

[2021-01-20 14:55] irizzant commented on #5146
In my case I have autosync on at all levels (parent-children), don't know if this has an impact or not.
All the apps start at the same time

[2021-01-20 15:27] dimitarKiryakov opened #5283 "Cluster should belong to a project"
Today, we use RBAC and OIDC to manage user's rules. In our organization, we are using one ArgoCD to manage hundreds of clusters ruled by different teams. While we have the separation between teams on the project level we are still missing the separation for clusters.

We would like to restrict clusters by project, so the user bound to OIDC groups only can list/create/update/delete clusters belongi

[2021-01-20 15:31] michaelajr commented on #5146
@alexmt doing more testing... still seeing child apps sync at once. They seem to appear in waves... but they do not wait until the previous wave is done before starting their sync.  So one wave appears - starts to sync - and then a few seconds later - the next wave appears without the previous wave completing first.

[2021-01-20 15:38] michaelajr commented on #5146
@alexmt we also installed using the helm chart:

[code]

[2021-01-20 19:28] #5005 closed

[2021-01-20 21:40] jessesuen commented on #5283
Related https://github.com/argoproj/argo-cd/issues/5275

[2021-01-20 21:41] jessesuen commented on #5275
assuming you have 30 group/kind of resources, the difference is 25 clusters x 30 total connection streams vs. 25 clusters x 25 namespaces x 30 connection streams

[2021-01-20 21:46] jannfis commented on #5275
There is an issue and stale pull request for adding user impersonation on a per-project basis. I'm not sure why we never looked at it thoroughly, but personally I like the idea. It reuses the same connection to the cluster, but performs impersonation when handling resources:

https://github.com/argoproj/argo-cd/issues/3376 (issue)
https://github.com/argoproj/argo-cd/pull/3377 (PR)

[2021-01-20 21:50] mlbiam commented on #5275
Sorry, I'm missing something.  If I have one cluster with 25 namespaces then argo would use a different account for each namespace, plus a cluster-admin for global resources, you're saying that's 26*30 connections?  If I have 25 separate clusters, each with a single cluster-admin that's still 25x30 regardless of the number of namespaces.  Where's my math wrong?

[2021-01-20 21:54] mlbiam commented on #5275
@jannfis that sounds like a great idea!

[2021-01-20 21:55] dimitarKiryakov commented on #5283
This issue is a bit different. In our use case we do not need to have different service accounts for same cluster. We want to improve project isolation to include clusters in it. What I mean by that is if we currently give permissions to one team to get clusters, this team will be able to list all clusters in ArgoCD. My point is that we want to restrict clusters on project level. For example we ha

[2021-01-20 21:55] michaelajr commented on #5146
@alexmt  to test - I have it down to 3 waves with 1 app each. When I sync the bootstrap app,  all the child apps appear at or around the same time.  The app in wave 1 starts, then the app  in wave 3 starts (before the one in wave 1 finishes), and then the one in wave 2 starts. Definitely not working.

[2021-01-20 21:58] michaelajr commented on #5146
@alexmt oddly enough - deleting the bootstrap apps - removes the child apps in reverse order as expected.

[2021-01-20 23:11] jessesuen commented on #5275
That actually highlights the problem I'm trying to describe. Flux's model of having controller per namespace == additional connection streams. Argo CD avoids this problem by uses one connection stream (a cluster watch) per group/kind. Since Argo CD streams live updates of resources as they happen, it needs to establish a watch stream on resources to show these changes live.

I should also point ou

[2021-01-20 23:23] jessesuen commented on #5275
Using 25 different service accounts implies that there are 25 different authentication credentials used to manage resources in 25 projects. I think what you might be missing in your understanding is that Argo CD fundamentally works by having a cluster-level watch on all group/kind resources. It cannot easily move to per project credentials for these same watches because for each set of credentials

[2021-01-21 00:05] mlbiam commented on #5275
That's reasonable. I think the important feature here is that when the write operation happens, it does so using the sa/impersonation account. This gives you the auditability of tracking specific changes, helps protect against rbac bypasses, and leverages argos great built in rbac.

[2021-01-21 06:58] bitva77 commented on #3181
is this really still an issue?  I'm POC'ing ArgoCD now but this bug makes it seem like App of Apps configuration is broken and so what's the point

[2021-01-21 09:37] victorboissiere commented on #3580
We have the same use case for two main operations:
- when applying rollback, to prevent new deployments made by other devs
- when in maintenance, to block any new deployments

[2021-01-21 10:38] anais-codefresh opened #5286 "Getting Error when updating password"
I have set up argocd on my cluster like specified in the getting started guide.

When I want to update my password I receive the following error message

However, the changed password works afterwards -- so it is correctly updating my password as it seems.
![Screenshot](https://user-images.githubusercontent.com/72611059/105339223-bacf1b80-5bdc-11eb-96e0-1f1430faa16d.png)

[2021-01-21 10:59] jannfis commented on #5286
Hi, this is due to a security upgrade of our JWT library that went into 1.8.2. It has been fixed by https://github.com/argoproj/argo-cd/pull/5228 already, but is not yet released.

[2021-01-21 14:47] victorboissiere opened #5287 "Prometheus metrics cache causes scaling issues with ephemeral projects and apps"
# Summary

When a project and/or application is deleted, it is not deleted from Prometheus metrics and stays in cache until the ArgoCD application controller's next rolling-update.

# Motivation

We use ArgoCD in our QA environment with temporary projects and associated applications.
Each time we create a custom branch on a repository, it creates the resources in ArgoCD to bootstrap a dedicated QA

[2021-01-21 15:11] Starslider commented on #5086
We at Swisscom have a similar behaviour in ArgoCD 1.8.2 - what we found is that every ressource that has the same sync-wave specified as the namespace.yaml will get synced in the same wave, regardless if a hook is specified or not.

That means that your (@ebkn) findings are correct - you never specified the sync-wave of your namespace.yaml, that means that it will get the wave 0. Because of that e

[2021-01-21 20:26] michaelajr commented on #5146
Ok - still not working  - but adding the `resource.customizations` described in the OP gets it back the behavior described in the OP. Order is not honored on the first sync. But if I delete the bootstrap app (the child apps get deleted and then the bootstrap gets deleted as expected). Then if I re-create the bootstrap app and sync... **_sync-waves work._**

**Note that this is seen in a brand new

[2021-01-21 20:39] alexmt opened #5293 "Config management plugins enhancement"
# Summary

Currently, Argo CD provides first-class support for Helm, Kustomize, Jsonnet/YAML, and Ksonnet (to be removed). The first-class support includes:

* Bundled binaries (maintainers periodically upgrade binaries)
* An ability to override parameters using UI/CLI
* The applications are discovered in Git repository and auto-suggested during application creation in UI
* Performance optimizatio

[2021-01-21 20:44] alexmt commented on #5293
Related issues
* Tanka https://github.com/argoproj/argo-cd/issues/3124
* QBEC https://github.com/argoproj/argo-cd/issues/2930
* Dhall https://github.com/argoproj/argo-cd/issues/4961
* Kustomize + Helm https://github.com/argoproj/argo-cd/issues/4738
* kpt https://github.com/argoproj/argo-cd/issues/3360
* jk https://github.com/argoproj/argo-cd/issues/3322

[2021-01-21 20:52] alexmt commented on #3124
Hello everyone. Argo CD maintainer here. Sorry for ignoring this enhancement proposal for so long. We've learned that it is really difficult to provide first-class config management tools support and especially difficult to keep up with changes and deal with breaking changes. Another concern is growing Argo CD image size - every tool is an additional binary that makes Argo CD image bigger.

Instea

[2021-01-21 20:56] alexmt commented on #2930
I would like to ask for feedback for this proposal: https://github.com/argoproj/argo-cd/issues/5293 . The idea is that we improve config management plugins so that it provides first-class like experience. Let me know what you think please

[2021-01-21 20:56] alexmt commented on #3360
I would like to ask for feedback for this proposal: https://github.com/argoproj/argo-cd/issues/5293 . The idea is that we improve config management plugins so that it provides first-class like experience. Let me know what you think please

[2021-01-21 20:56] alexmt commented on #3322
I would like to ask for feedback for this proposal: https://github.com/argoproj/argo-cd/issues/5293 . The idea is that we improve config management plugins so that it provides first-class like experience. Let me know what you think please

[2021-01-21 20:58] alexmt commented on #5146
I'm sorry. Got distracted by meetings and did not have time to work on it. Keep trying to reproduce the issue today.

[2021-01-21 21:32] jessesuen commented on #5286
We plan on releasing v1.8.3 today or tomorrow which contains this fix.

[2021-01-21 21:51] jessesuen commented on #5287
We need to support this use case.

Spoke with @alexmt and of all the proposals, Option 1 seems the best way. Option 2 seems like unnecessary integration effort and Option 3 will be unreliable because it's easy to miss delete events of applications, and you end up having to implement some form of option 1 anyways.

@victorboissiere would you like to contribute this change? We may not get around to

[2021-01-21 21:52] jessesuen commented on #5287
Workaround for this is: daily cronjob which restarts the application-controller.

[2021-01-21 22:13] alexec commented on #5293
I think this is a great idea - I wrote a PoC about 1 year ago ;)

I think Danny mentioned that Golang plugins were not great at the time. Maybe improved now. Did you see how Kustomize does plugins?

Also, it would be good to be able to run concurrent Kustomize and Helm versions

[2021-01-21 23:18] alexmt commented on #5293
Found PoC PR . Here it is https://github.com/argoproj/argo-cd/pull/3338 , may be we can use part of it :)

[2021-01-21 23:41] alexec commented on #5293
If I recall, there are only so many inputs to a plugin (which is just a binary at the end of the day), which are arguments to `exec.Command`:

* PWD
* Environment
* Arguments

So you just need to generalize those into configuration/API.

[2021-01-22 02:08] jessesuen commented on #4398
This is in v1.8.2

[2021-01-22 02:08] #4398 closed

[2021-01-22 09:39] Sapatul opened #5295 "ArgoProject deleted when an application deploys to it"
Hello All,

I'm using ArgoCD since a year, and i have a new issue on it.

When i try to deploy an application, it deleted the argo-project linked.

All my deployment has be done on wiht helm even the project and application.

So to be clear :

First i link my eks cluster to argoCD ==> No Issue
Then i create my project A==> No issue
I add the repo to ArgoCD ==> No issue
I deploy my app in my projec

[2021-01-22 09:57] AbdoulRahimBarry commented on #1944
Hello,

I encounter the problem, when I click on the object I have this error Unable to load data: cache: key is missing
How to solve this problem?

Thanks for your help

[2021-01-22 10:28] abdennour commented on #3867
so this means that argo-cd hides helm behind the scenes.
Let's say argocd is broken, i want to jump to cluster and use helm command line ?!
What the solution now ?

[2021-01-22 11:04] Fixmetal opened #5297 "Kustomize version updating to latest patchset of minor 3.8"
# Summary

ArgoCD 1.8 contains an "old" kustomize version which is 3.8.1. As of today kustomize 3.8 is at 3.8.9.

# Motivation

Kustomize versions up to 3.8.2 are bugged by this https://github.com/kubernetes-sigs/kustomize/issues/2960. Seems `3.8.3` has been patched. See relevant PRs for KyYAML and API:

- https://github.com/kubernetes-sigs/kustomize/pull/2975
- https://github.com/kubernetes-sigs/

[2021-01-22 12:24] peterbosalliandercom commented on #2705
@alexmt Is it possible to implement this above suggestion of using wildcards? We need it to keep toe sourcerepos secure and also workable by using wildcards. Could you change this into a  feature request ?

[2021-01-22 12:37] andersliland commented on #3685
Yes please!

[2021-01-22 13:25] ainmosni commented on #5297
Yeah I hit this bug yesterday as well and worked around it by installing this kustomize version but it would be nice if that wasn't needed for maintenance reasons. I submitted a PR that fixes this.

[2021-01-22 13:41] #5295 closed

[2021-01-22 14:40] rbabyuk commented on #2593
has anyone figured out anything better then '--insecure' option for argocd-server?
I'd like you use managed certificate from GCP as well.

[2021-01-22 15:18] luddskunk commented on #5146
I can join in and say that this does not work for me either as of today. Version 1.8.2

Thanks for acting so swiftly @alexmt!

[2021-01-22 15:38] reginapizza commented on #5278
Hello, I had some questions that I was hoping I could get answered

Do you mean these two boxes? As in the left box is the "compared to" and right is "synced to"?
![example](https://user-images.githubusercontent.com/50851526/105511104-8a02eb00-5c9d-11eb-9de7-ca1913b2fd00.png)

If this is right, then do you expect the "compared to" to have the same info popup for it's own content (expanded), or sho

[2021-01-22 15:51] victorboissiere commented on #5287
@jessesuen thanks for the feedback. I saw that a cron package is already used for the sync window.
I'll try to reuse the same to reset Prometheus metrics every 24 hours. I'll submit the PR following the guide in the documentation.

[2021-01-22 16:12] zeph commented on #4211
@alinbalutoiu perfectly working! thanks mate ...I'm running a microk8s cluster on RP4+ (8GB)

[2021-01-22 16:15] rbreeze commented on #5278
Those are the right two boxes. Alex can correct me if I'm wrong but I believe he's hoping for the former - each of those boxes has their own expand button that shows just their own content, expanded.

[2021-01-22 18:08] abdennour commented on #1672
This is a critical issue BTW !

Seems like Argo uses Helm as generator of YAML manifests only thru `helm template`.
Please be advised that `helm template` is not aware about the server side namely if your helm chart has some conditions based on the existence of API Versions Capabilities.

Similar GH issues:

- https://github.com/helm/helm/issues/3377
- https://github.com/argoproj/argo-cd/issues/36

[2021-01-22 18:11] abdennour commented on #3867
This is a critical issue BTW !

Seems like Argo uses Helm as generator of YAML manifests only thru `helm template`.
Please be advised that `helm template` is not aware about the server side namely if your helm chart has some conditions based on the existence of API Versions Capabilities.

Similar GH issues:

- https://github.com/helm/helm/issues/3377
- https://github.com/argoproj/argo-cd/issues/36

[2021-01-22 20:52] neuromantik33 commented on #2593
You want the same certificates to be used both on the GCP load balancers _and_ within the ArgoCD servers using SSL passthrough? I don't think that's possible at the moment with GKE for any type of service whatsoever.

[2021-01-22 22:44] jannfis commented on #5146
I'm also trying to reproduce this issue. Fresh installation of Argo CD v1.8.3, fresh K8s cluster. The only thing I modified is adding the health customization to `argocd-cm` and created two namespaces for the child apps `guestbook-one` and `guestbook-two`.

I then went to the UI and created an app that spawns the parent app, from a test repository at https://github.com/jannfis/app-of-apps with nam

[2021-01-23 00:26] abdennour commented on #355
@bgvladedivac  Unfortunately, ArgoCD uses Helm just as YAML generator.
It's something similar when you have Car Mercedes Benz, but you are using it like a regular Car.

[2021-01-23 02:53] michaelajr commented on #5146
@jannfis After looking at your example - I think I got it to work. I noticed you had set a sync-wave of `-1` on the parent/bootstrap app. I never had to do that before.  But after adding the annotation to my boostrap - I THINK it is working. Need to test a bit more - but initial sync worked.

Note that my parent/bootstrap app is a Helm chart of other Application resources - that are also Helm char

[2021-01-23 03:19] michaelajr commented on #5146
@alexmt @jannfis That did it. Tested a few times now. Is this something new? Did I miss documentation? If so my apologies. Without the annotation on the  bootstrap app the behavior I saw (not working on initial sync, but working on subsequent syncs when there were not new commits) makes sense I guess, but it was not needed in 1.7.x.

@luddskunk @irizzant @pydo - Does this fix your issues as well?

[2021-01-23 13:26] jannfis commented on #5146
No, it is not even mandatory - I just included it for it completeness. In my tests, it also works without the sync-wave of `-1` on the parent application. You can test it by using the `no-parent-syncwave` branch as target revision for your tests, where I completely removed the sync-wave annotation from the parent.

[2021-01-23 13:36] OmerKahani commented on #3867
I think #1251 solve the capability problem

[2021-01-23 15:50] michaelajr commented on #5146
Ok - preliminary testing shows that removing `-1`  also seems to work. Sigh. Which is just nuts because I have been working with this all week and have never seen it work

However returning to our production branch (using chart v2.10.0) and simply adding the health customization and upgrading the binary to v1.8.2 does NOT work. Also upgrading the chart to 2.11.0 and using a StatefulSet for the app

[2021-01-24 11:08] ebkn commented on #5267
Sorry. I think this is not ArgoCD's bug.

I misunderstood. This command didn't work.

When I updated only SealedSecret, SealedSecret and Secret was successfully updated. And Deployment had no diffs and didn't restarted (i think this is correct behavior).
In my case deployment like app server loaded secrets when it started, so server didn't changed when SealedSecrets changed.

I want to do rollout

[2021-01-24 11:45] jannfis commented on #5267
Hi @ebkn, you might want to take a look at [Reloader](https://github.com/stakater/Reloader), which can trigger a rolling update of `Deployment`, `StatefulSet` and the like on change of `ConfigMap` and `Secret` resources.

As a more sophistic alternative, you could also have a look at Argo Events to set up an event pipeline for accomplishing the same.

[2021-01-24 17:31] Gaikanomer9 commented on #5041
Hello everyone!
@keithchong how is it going? Do you need any help? I could start working on this if you don't have time.
@jannfis what do you think?

[2021-01-24 17:37] Gaikanomer9 commented on #5187
Hello @jessesuen!
Can I take on this issue?

[2021-01-24 20:26] jessesuen commented on #5187
@Gaikanomer9 yes please feel free!

[2021-01-24 22:50] maxbrunet commented on #1648
We have started experimenting with the Flux2 services. Since its features have been broken down into different services, the ones responsible for watching the image registry and updating the manifests in Git can be deployed along side Argo CD:

* https://github.com/fluxcd/image-automation-controller
* https://github.com/fluxcd/image-reflector-controller
* https://github.com/fluxcd/source-controlle

[2021-01-25 01:06] james-callahan commented on #4435
This was what we had to do before `CreateNamespace` was introduced. We'd love for some way to delete automatically created namespaces.

[2021-01-25 04:27] james-callahan opened #5305 "Add finalizer from argocd app CLI/API"
# Summary

When I create an application with `argocd app create` there is no way to add the finalizer `resources-finalizer.argocd.argoproj.io`

# Motivation

I give users the ability to create applications that don't have the ability to `edit` resources in the cluster. I'd like them to be able to request finalization.

# Proposal

New `--cascade-on-delete=true` command line flag for `argocd app cr

[2021-01-25 04:42] ebkn commented on #5267
Thanks. But I think [Reloader](https://github.com/stakater/Reloader) isn't compatible with ArgoCD's hook.
Reloader restarts deployments immediately even if deployments have ArgoCD hooks annotation. Because Reloader ignores ArgoCD's hook (e.g. `argocd.argoproj.io/hook` annotations).

[2021-01-25 07:57] ebkn commented on #5267
I'm trying to use Kustomize's `configMapGenerator` to restart deployments when only sealed secrets updated.
This is a hucky way. I want to migrate if I find out better solution.

<details><summary>sample manifests</summary><div>

kustomization.yaml
[code]

api-deployment.yaml
[code]

</div></details>

other solutions -> https://github.com/bitnami-labs/sealed-secrets/issues/167

[2021-01-25 10:42] jasvinder-tp opened #5306 "argocd-dex-server pod in CrashLoopBackOff"
unknown command "rundex" for "argocd-util"

Error: unknown command "rundex" for "argocd-util"
Run 'argocd-util --help' for usage.

<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>
Details:

Name:           argocd-dex-server-8
Namespace:      argocd
Priority:       0
Node:           gke-k8s-a833487b-0w6x/10.74.0.28
Start Time:     Mon, 25 Jan 2021 15:43:25 +0530
Labels:         app.kubernetes.io/name=argo

[2021-01-25 13:58] TheAggressive commented on #3714
Ran into this too.

[2021-01-25 14:24] dansou901 commented on #3762
You can create the namespace the way you want to by adding a preinstall hook annotation to the namespace template, however when the application is synced, the namespace gets auto-deleted. I haven't found a way around this yet. Maybe I'll just create a helm chart that just creates the namespaces and sync that before syncing the application.

[2021-01-25 14:40] abdennour opened #5307 "Documentation of argocd-util is not clear namely from where to download it"
# Summary
Documentation about from where to download argocd-util does not exist.
# Motivation

Struggling a couple of hours to get the binary of argocd-util , but no hope

# Proposal

Add section about installing argocd-util in this page: https://argoproj.github.io/argo-cd/operator-manual/server-commands/argocd-util/

[2021-01-25 15:11] dansou901 commented on #3762
Ok, if you don't use preinstall hooks at all, it works with at least ArgoCD version 1.8. Then the namespace is created prior to everything else. But, preinstall hooks won't work then.

[2021-01-25 16:10] rbabyuk commented on #2593
@neuromantik33  right, I gave up with the idea.
managedcert for ingress works obviously ok with me.

[2021-01-25 18:58] jshin47 commented on #5306
Also started getting this issue after restarting Dex this afternoon. It had been running for a month or so prior to today without issue. My Dex version according to the deployment is v2.25.0 .

[2021-01-25 19:20] dgreene1 commented on #1593
@emichaf, may I ask what tool you ended up using for promotions?

[2021-01-25 19:48] jshin47 commented on #5306
It appears to be an issue with the "latest" tagged argocd image. When I downgrade the version of argocd image used to copy the `argocd-util` binary to a specific version like `v1.8.3`, it works.

[2021-01-25 19:48] #781 closed

[2021-01-25 19:50] alexmt commented on #5306
Yes, this change is documented here: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/upgrading/1.8-1.9.md#dex-tool-migrated-from-argocd-util-to-argocd-dex

[2021-01-25 20:20] Rami-Y opened #5308 "Disabling the GnuPG functionality in ArgoCD is not working even after setting the variable ARGOCD_GPG_ENABLED to false"
**Describe the bug**
I upgraded my argo cd env from 1.6.2 HA to 1.7.11 HA. As per Argo CD [GnuPG documentation ](https://argoproj.github.io/argo-cd/user-guide/gpg-verification/#disabling-the-feature), I disabled GnuPG functionality by setting up environment variable ARGOCD_GPG_ENABLED to false in argocd-server, argocd-repo-server and argocd-application-controller deployments. But this feature is N

[2021-01-25 21:36] jessesuen commented on #5305
@james-callahan how are applications being deleted? If they are performing delete through the API server, this is always an API decision, so even if `--cascade-on-delete=true` was set upon create, the delete API will honor whatever comes as part of the delete request.

[2021-01-25 21:36] #5306 closed

[2021-01-25 21:39] jessesuen commented on #5307
The documentation is ahead of the feature availability. @reginapizza is working on improving this so that we have separate doc versions per argo  cd.

Argo CD v1.9 will be the first version where we actively distribute `argocd-util` as part of releases.

[2021-01-25 21:41] jessesuen commented on #5307
Lets leave this open to:
1. add instructions on getting the binary
2. more details on how to use the tool for declarative management (e.g. `argocd-util config` examples)

[2021-01-25 23:41] james-callahan commented on #5305
We are deleting them with `kubectl delete`.
At the moment we follow the guide to patch just before deletion, but the decision on whether it should be deleted or not should IMO be the choice of the application creator/manager; not the thing that deletes it.

[2021-01-26 05:44] neoakris commented on #1172
(Not trying to revive a dead post)
I had the same issue and found this page via google, I'm posting on this closed thread incase it helps other future googlers.

I think there was a change in a newer version of argocd.
I had the exact same error message, and it didn't go away for me

until I changed my url from
url: git@10.10.10.10:22/home/git/bootstrap.git

to have ssh:// in the front

[code]

[2021-01-26 08:10] ebuildy opened #5314 "[ui] Add app-of-apps hierarchy in header breadcrumb"
Tested version: 1.7.X

# Summary

On app details page, when using app of apps pattern, we use app A to navigate to app B then app C. Will be good to have all the parent/children hierarchy in the header breadcrumb to go back quickly to the parent app.

# Motivation

Improve navigation

# Proposal

List app of apps hierarchy in the header breadcrumb

[2021-01-26 09:04] rocketspacer opened #5315 "Proposal: Feature to highlight unsupported helm hooks usage"
# Summary

I wish if there could be a warning sign or something on the UI to highlight unsupported helm hooks in the chart.

# Motivation

I recently used ArgoCD to sync a Helm chart that uses hooks which aren't supported by ArgoCD. This is a community chart so I didn't really pay attention to the hooks. Things blow up in a mysterious way. Took me half a day to figure what happened.

# Proposal

W

[2021-01-26 12:51] anais-codefresh commented on #5286
Awesome! Thank you for the quick reply. Going to close this issue

[2021-01-26 12:51] #5286 closed

[2021-01-26 14:15] mvbakker commented on #3474
Is there any progress? Similar to @yhaenggi we would also really like to have this implemented. Centrally we're controlling the `AppProject` resources, but we'd like to give developer teams control over their own `Application` resources, within their `AppProject`. This can now only be done if we also give them access to the `argocd` namespace, which is something we wouldn't like to do.

[2021-01-26 15:20] MartinKanters commented on #5270
This would help us a lot as well!

[2021-01-26 15:46] dansou901 commented on #3640
would also love to see this baked in

[2021-01-26 17:03] reginapizza commented on #5278
hey @alexmt, just wanted to confirm if you need anything else from your original request? I reviewed your PR and it looks like it fits all the user needs, albeit just in a different way (looks even better your way actually). Please let me know so I'll know whether or not to work on this any further, thanks

[2021-01-26 17:39] alexmt commented on #5278
Ops, sorry @reginapizza . I did not realize you are working on it already. The https://github.com/argoproj/argo-cd/pull/5313 implements all required changes. Thank you for checking

[2021-01-26 18:38] jsoref opened #5317 "Network IP boxes have no information"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-26 19:18] jannfis opened #5318 "Expose sync retry options on app creation/update in CLI and UI"
# Summary

With release 1.7 (#3997), support for failed sync retries was added. Currently, configuration of this feature is rather inaccessible to users and not well documented. Although being a very useful feature, configuration is only possible editing the manifests directly.

# Motivation

Make this feature more visible and more easy to configure.

# Proposal

1) Expose the feature on `argocd a

[2021-01-26 21:11] bobbywatson3 commented on #3181
I'm in the same boat as @bitva77 . Our app of apps is a mixture of applications (off the shelf helm charts) and template files in the app of apps chart. Is that not supported?

[2021-01-26 21:22] #5278 closed

[2021-01-26 21:23] jessesuen commented on #5314
We don't actually want to have special handling of the app-of-apps pattern in Argo CD, especially since we will be pushing ApplicationSets as a better overall feature in the future. So I don't think we should do this.

[2021-01-26 21:29] jessesuen commented on #5318
Would https://github.com/argoproj/argo-cd/issues/5215 cover this use case?

[2021-01-26 21:54] jannfis commented on #5318
It has a certain overlap for sure, but I interpreted #5215 focusing on consolidating UX on sync options.

This one would be more about exposing sync retry policy in the CLI, UI and documentation. So I think this should be kept a separate issue.

[2021-01-26 22:24] #4692 closed

[2021-01-26 23:26] #4345 closed

[2021-01-27 03:21] jsoref opened #5324 "Scroll up button in logs viewer"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 03:24] jsoref opened #5325 "k8s client version is blank after removing client binary"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 03:29] jsoref opened #5326 "ArgoCD logs not updating nor busy"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 03:33] jsoref opened #5327 "buttons should not change size when clicked nor after a timeout"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 03:40] jsoref opened #5328 "Hand indicator should indicate clicking does something"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 03:45] jsoref opened #5329 "Change `Compiler` to `Go Compiler` in About"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-27 05:52] tchellomello commented on #3002
Interesting.. having the same issue here. It would be nice to have a way to ArgoCD to be aware of the hpa rules.

[2021-01-27 07:06] ebuildy commented on #5314
Yes I understand, didn't get yet into Application Set .

Thanks you I will give a try .

Le mar. 26 janv. 2021 à 22:23, Jesse Suen <notifications@github.com> a
écrit :

[2021-01-27 07:28] jannfis commented on #5325
Yes, it is definitely a bug that we don't show the Kubernetes client version used. But the goal of the mentioned PR was not to remove version information, but to remove the kubectl binary since we've moved to using the client libraries from Kubernetes instead of the binary.

So, the correct fix to this issue would be to properly display the Kubernetes client version instead of removing the row/inf

[2021-01-27 07:34] jannfis commented on #5329
I agree, "Go Compiler" might be a better term.

I wonder if we should rename the display name of the Go version to "Go version" as well, as to be consistent with the JSON output, so we'd had:

Go version: 1.14.12
Go compiler: gc

What do you think?

[2021-01-27 08:14] #5314 closed

[2021-01-27 09:16] yujunz opened #5333 "Wrong URL is displayed in `argocd app sync ...` output"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`argocd app sync ...` seems using API as base URL for the app. When UI is configured on a different URL, it will be an invalid address.

**To Reproduce**

Configure a different URL from

[2021-01-27 09:33] saidelmark opened #5334 "Error creating aerospike application"
**Describe the bug**

I try to deploy aerospike using it's [public helm chart](https://github.com/aerospike/aerospike-kubernetes/tree/master/helm).
And I get an error "`groupVersion shouldn't be empty`".

**To Reproduce**

1. Start minikube
2. Deploy argocd (I installed with helm and also tried with `kubectl apply -f <argo-cd-manifest>`)
3. Create a minimal manifest for aerospike application:
[cod

[2021-01-27 10:03] jannfis commented on #5334
Hi @saidelmark, the chart requires Helm v3, otherwise it will render the manifest templates erroneously.

The chart however does specify an `apiVersion: v1` in the `Chart.yaml`, which lets Argo CD chose Helm v2 for rendering. You can force usage of Helm v3 by setting `.spec.source.helm.version: v3` in the `Application` manifest, as described in https://argoproj.github.io/argo-cd/user-guide/helm/#h

[2021-01-27 11:16] jsoref commented on #5329
Oh, yes. I was actually only interested in changing the display form, but, yeah, change both :-)

[2021-01-27 12:31] Smirl commented on #3877
Hey @kshamajain99, Any update on this? Any guidance on an open source PR? Our syncs are taking hours to complete now when we only add/update/remove a couple of objects per commit. In our case we have a chart that deploys tenant namespaces, RBAC, resource quotas, etc. as mentioned in https://github.com/argoproj/argo-cd/issues/4521

[2021-01-27 12:34] #5267 closed

[2021-01-27 14:11] markushinz opened #5335 "Send Access-Control-Allow-Origin: * response headers for status badges"
# Summary

Currently, status badges cannot be fetched via XHR (fetch requests) from frontend applications without running into CORS issues. If an `Access-Control-Allow-Origin: *` response header was present for status badges, custom logic could be added to frontend applications e.g. only displaying badges if Argo CD is reachable.

# Motivation

If Argo CD runs behind a VPN connection, it might not

[2021-01-27 14:28] flickerfly commented on #3181
It does seem to work, but there are some gotchas along the way. The one that had us really twisted is that you can NOT set up the app to be recursive or it doesn't properly detect what is going on and ArgoCD gets terribly confused.

[2021-01-27 16:17] saidelmark commented on #5334
@jannfis, thanks! Worked with argocd `v1.8.3` without any issues.

[2021-01-27 16:17] #5334 closed

[2021-01-27 16:42] Velyks opened #5336 "Expose Cluster Name to tools"
# Summary

I would like the name of the cluster specified in a given argocd application manifest to be exposed as an env to tools.

# Motivation

I have DNS entries automatically being created for services in my ArgoCD cluster  and some applications need to know their own base URL. Since the subdomain of the URL depends on which cluster an application is deployed to it would be nice to be able to

[2021-01-27 16:59] ghostsquad commented on #3877
It would nice to have some more debug information on this, like what is it doing that causes it to take so long? (this is a message to the maintainers). Would debug level logging be enough to get this information?

[2021-01-27 17:04] kshamajain99 commented on #3877
@Smirl I am currently working on this issue, you can expect an PR soon in a day or two.

[2021-01-27 18:14] gzur commented on #5107
We have been seeing this intermittently, with an App going into `Unknown` state with the aforementioned error message.

I'm wondering whether this has anything to do with the `application-controller` being too hard on the `reposerver`?

The `application-controller` is invoking this `GenerateManifest` method over `grpc`, with the `reposerver` acting on that request by interfacing **directly with th

[2021-01-27 18:36] gzur commented on #5107
Would setting [`ARGOCD_SYNC_WAVE_DELAY`](https://github.com/argoproj/argo-cd/blob/master/controller/sync.go#L34) to something higher than 2 seconds (the default) affect this at all?

https://github.com/argoproj/argo-cd/blob/master/controller/sync.go#L34

[2021-01-27 18:53] bobbywatson3 commented on #4091
Wait, is that a real solution? I can't get this to work with cert-manager v1.1.0. I don't want to have to pin cert-manager to v0.15.2 in order to make this work. cert-manager is currently on 1.1.0 with 1.2.0 coming soon.

[2021-01-27 23:48] #3455 closed

[2021-01-28 00:13] #5079 closed

[2021-01-28 01:34] rbreeze commented on #4875
@tomjohnburton we also introduced a completely new pod logs viewer in #5233 . Can you see if the issue is present there?

[2021-01-28 01:47] #5324 closed

[2021-01-28 01:47] #5327 closed

[2021-01-28 01:47] #5328 closed

[2021-01-28 06:54] jannfis commented on #5329
I think this was not fixed by #5337

[2021-01-28 10:26] georgevella commented on #4661
Hi everyone.  It seems we are also experiencing this issue and since I've found this issue I'm gonna post here instead of creating a new one, for now.

We have had chart upgrades that change labels and annotations (latest one that did this was the nginx ingress controller chart). Changing the chart version resulted in some pod labels getting replaced, while service selector labels where not, hence

[2021-01-28 13:09] Velyks opened #5341 "--plugin-env flag missing from app set"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-01-28 16:52] aeckard87 commented on #1172
@neoakris could you provide more details on your situation to give better insight on how you found this?

What version of argocd, declarative setup or used argocd cli?

env information??

TIA

[2021-01-28 17:42] isantospardo commented on #4091
We fixed it for 0.15, but it should be good if you are running 1.1.0, you can check [this](https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/#helm) , if you accomplish the requirements.

[2021-01-28 18:25] bobbywatson3 commented on #3181
If you have to deploy the app of apps to the cluster

I tried this, and the app stayed out of sync. It could never sync the directory recurse section. [Apparently recurse: false is the default behavior.](https://github.com/argoproj/argo-cd/issues/4501#issuecomment-705208165)

I ended up not using this tiny kustomize file, instead copying in the entire 26,000 line cert-manager kube file. Bummer, bu

[2021-01-28 19:00] rbreeze opened #5343 "Configurable default values for Apps"
# Summary

When creating an App via the UI, it would be nice if operators could configure the default values. For example configuring the default for auto-create namespace to on, or auto-sync to on.

# Motivation

Even though the "default defaults" are ideal for most people, the default values can have a big impact on user behavior, and some operators might want to change them.

# Proposal

How do

[2021-01-28 19:31] rbreeze commented on #5329
@jannfis I think it was, unless the json name needs to be changed as well?

<img width="526" alt="Screen Shot 2021-01-28 at 11 29 46 AM" src="https://user-images.githubusercontent.com/6250584/106188693-21fc4b00-615c-11eb-8d84-63ab0a5a9234.png">

[2021-01-28 19:48] jannfis commented on #5329
Hm. that's what is showing in my UI (latest build):

![image](https://user-images.githubusercontent.com/3942683/106190556-1e8fb080-61aa-11eb-8a14-03f4aa52c3be.png)

[2021-01-28 19:52] mayzhang2000 commented on #5341
This is not released in v1.8 yet. We are working on better versioning of our documentation.

[2021-01-28 20:08] #5025 closed

[2021-01-28 20:27] HumairAK opened #5348 "Document assigning clusters to shard."
# Summary

Document sharding of clusters to specific replicas .

# Motivation

Had to ask on slack, and found out about the ability to assign clusters to shards from there. The individual in question had to look into the [swagger](https://github.com/argoproj/argo-cd/blob/master/assets/swagger.json#L4909) json to figure it out.

# Proposal

I think the best place to add this is [here](https://argop

[2021-01-28 21:10] #5341 closed

[2021-01-28 21:57] neoakris commented on #1172
argocd:v1.7.8
declarative yaml setup
RKE2 on AWS

I don't have access to the cluster that it used to run on but I know it was an older version of argo on that cluster

[2021-01-29 02:21] jsoref opened #5349 "Wrapped tabs and underline do not work well together"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-01-29 04:19] james-callahan opened #5350 "Docs are incorrect for external links"
https://argoproj.github.io/argo-cd/user-guide/external-url/ says that the annotation to use is `argocd.argoproj.io/external-link`, however the annotation to use is really a prefix of `link.argocd.argoproj.io/`
https://github.com/argoproj/argo-cd/blob/5f1046103459ac8a16a2cd08e0236a75b6094e9c/common/common.go#L143

[2021-01-29 04:44] aywrite commented on #5086
We are seeing similar behavior as @Starslider outlined above, overriding the namespace sync-wave also fixed the issue for us. I noticed however that in our case the pre-sync jobs were actually always executed *after*  the deployments not before (as expected) or concurrently as I think others have seen. Still doing some further testing/trying to get a minimal reproducible example but it looks like

[2021-01-29 09:49] anjmao opened #5351 "Prevent autosync reconcile after rollback"
# Summary

Our argo application CRD manifests placed inside git repository which also contains services which we deploy. By default we enabled auto sync policy for both dev and prod environments. I needed to rollback prod environment and auto sync disabled automatically which is expected. But later as new deployment was triggered to that git repository argo synced back argo application CRD and ena

[2021-01-29 10:32] larsrnielsen commented on #5223
I uninstalled argocd that were installed via Brew and then installed https://github.com/argoproj/argo-cd/releases/download/v1.8.3/argocd-darwin-amd64. Same issue, as you can see below:
[code]

[2021-01-29 10:49] gzur commented on #5107
Nope.

[2021-01-29 12:32] jannfis commented on #5223
Thank you very much for validating with a release CLI @larsrnielsen!

I will have to find a way to reproduce this by setting up an OIDC provider somewhere.

[2021-01-29 14:06] dansou901 commented on #3451
Same here. Works only if you do 'helm dependency update' in your chart folder before uploading stuff. Is not ideal because you have to push the chart to the git repository containing your app, but works.

[2021-01-29 14:49] rcontreras-te commented on #5029
I would add it would be useful to be able to filter an applications resources by labels as well as by name.

We have several applications that have a lot of resources which make it difficult to navigate without filtering. We can already filter those resource by _Sync_,  _Health_ and _Kind_, which is useful, but it would be nice to be able to also filter by resource name and labels.  This would let

[2021-01-29 15:16] jsoref opened #5353 "Provide node view that includes child applications"
# Summary

Provide a version of the node view which includes pods from all child applications

# Motivation

It's possible to view a list of pods from an application by node:
https://cd.apps.argoproj.io/applications/argo-cd?view=pods

![image](https://user-images.githubusercontent.com/2119212/106291954-43237100-621a-11eb-8965-61d3d49968f5.png)

But ArgoCD generally manages more than one app (at le

[2021-01-29 15:25] jsoref opened #5354 "Group by dropdown shouldn't impact pretty art"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

The no objects found image shifts for the node view

**To Reproduce**

Select an app that has no pods and switch between pods, network, and list

**Expected behavior**

The drop down sh

[2021-01-29 15:55] bobbywatson3 commented on #4091
I don't understand what "accomplish the requirements" means. That link says that helm and kubectl must be above a certain version. Helm and kubectl are installed as a part of argocd, and run from argocd. I am running the latest version of argocd. Does it not include Helm >= 3.3.1?

[2021-01-29 16:15] dcherman commented on #5293
As an alternative, what about something like the following:

[code]

By extracting all of this out of the primary configmap and into individual CRDs, it becomes much easier to create and share plugins in the community.  Many of the built-in generators like helm, kustomize, jsonnet, etc. could potentially be refactored to use this API and be bundled with the default installer so that it's a non-bre

[2021-01-29 19:30] #4784 closed

[2021-01-29 20:27] alexmt commented on #3877
Implemented. Thank you @kshamajain99 !

[2021-01-29 20:27] #3877 closed

[2021-01-29 21:19] stlava commented on #4348
I put up #5355 with support for GitHub App repos/repocreds. Re the caching of the auth tokens, I opted to cache them in memory. The underlying `ghinstallation` library handles the refreshes for us.

[2021-01-30 03:31] knkarthik commented on #2554
@jshearer Wondering if you've found a solution to this. We want to give our devs the ability to deploy to different dev braches but hard-coding of targetRevision makes this impossible.

[2021-01-30 08:25] jannfis opened #5359 "Make Helm v3 the default and remove version auto-detection"
# Summary

With Helm v2 now officially deprecated and sun-downed by its maintainers since a while, we should make Helm v3 the default and also disable Helm version detection by evaluating `apiVersion` in `Chart.yaml`.

# Motivation

Many OTS charts need to be rendered using Helm v3, but still specify a `apiVersion: v1` in their `Chart.yaml` (or even specify no `apiVersion` at all).

When rendering

[2021-01-30 21:58] jangraefen commented on #5005
I just tried to work through the [Contribution guide](https://argoproj.github.io/argo-cd/developer-guide/contributing/#test-connection-from-build-container-to-your-k8s-cluster) and noticed that running `make verify-kube-connection` is now no longer working, since `kubectl` is no longer part of the test tools image.

Is that an intended site-effect of this issue? If so, the documentation would need

[2021-01-31 08:03] jshearer commented on #2554
... wow, I remember writing this question years ago. Haha not only have we
moved on from argo, we moved on from k8s entirely: it ended up not being
worth the complexity, though it sure was "fun". Good luck to you though! :)

On Fri, Jan 29, 2021, 10:31 PM Karthik KN <notifications@github.com> wrote:

[2021-01-31 10:10] jangraefen commented on #3492
@jannfis @jaideepr97 Since there does not seem to be that much traction on this issue, would it be okay for me to take this one to get more familiar with the code base?

[2021-01-31 12:57] jannfis commented on #3492
@jangraefen I suppose since @jaideepr97 gave a thumbs up on your request, work has not been started yet. So, feel free to take over and thanks a lot for your offer!

[2021-01-31 14:07] strantalis opened #5364 "failure with invalid label value"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When adding an invalid unquoted numeric label value argocd removes all other labels from the namespace.

**To Reproduce**

#### Initial Namespace
[code]

#### Now add a label-2 unquoted

[2021-01-31 18:02] AmitBenAmi opened #5365 "Post-Rollback custom actions"
# Summary

Add an ability to run `post-rollback` actions/scripts to automate some requirements and actions after a rollback is made.

# Motivation

We use Argo Rollouts, and once we rollback to a previous version, the `AnalysisRun` restarts and it takes time to fully rollback to the old version (all pods of the previous version are taking time since the analysis is running).
Therefore, we need to

[2021-02-01 07:35] dohnto commented on #3799
We would like to utilize this feature as well.

[2021-02-01 08:44] torstenwalter commented on #5335
Configuring the header could be done here:
https://github.com/argoproj/argo-cd/blob/5af0c5ad3a52ba8bfa16cce90855efce761395ed/server/badge/badge.go#L157

In case one really want's so make it configurable one could look into this:
https://github.com/argoproj/argo-cd/blob/5af0c5ad3a52ba8bfa16cce90855efce761395ed/server/badge/badge.go#L73-L75

Another thing which would be nice is the option to get the

[2021-02-01 13:35] tomjohnburton commented on #4875
Sorry for my slow reply. Now running 1.8.2 and yes issue is no longer there. Thanks all!

[2021-02-01 13:35] #4875 closed

[2021-02-01 14:19] keithchong commented on #5041
Hi guys, sorry about the delay. I got re-focused elsewhere but I have already started on this.  Thanks for understanding.

[2021-02-01 15:52] esys opened #5366 "Enable --disable-openapi-validation sync option when using Helm"
# Summary

When using helm as a templating tool, charts requiring the `--disable-openapi-validation` cannot be installed using ArgoCD

# Motivation

For example, the privatebin chart is failing to deploy because the `StatefulSet` object is missing the `spec.serviceName` field. So we have a chart that is deployable through Helm using the `--disable-openapi-validation` option but not with ArgoCD

#

[2021-02-01 15:53] ckeragala commented on #3784
Still the problem exists with argocd v1.8.3. I'm installing aws-loadbalancer-controller using ArgoCD https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller. The crds in the helm chart are not installed.

[2021-02-01 20:13] jgwest commented on #4728
Confirmed as still reproducible on latest Argo CD master, using above reproduction steps.

[2021-02-01 21:32] bruce-au opened #5368 "Allowing the option to delete Statefulset/Deployment resources with "--cascade=false""
# Summary

Add the option to set deletion of certain resources with the "--cascade=false" option.

# Motivation

We are currently trying to delete our deployment objects without the pods also getting deleted via ArgoCD. This doesn't seem like it's currently possible. This might be useful in cases where a `deployment/statefulset` is moved from one Application to another or updating the `deployment/

[2021-02-01 21:48] HumairAK commented on #2969
Hrmm, we've just hit a similar issue, where we have restricted an argocd project from deploying cluster resources, but the team has these cluster resources as part of their kustomization in their repos. Their application will not deploy and report the same errors as above: "Resource X is not permitted in project Y"

What if the user could change this at the application level like with [ignoreDiffe

[2021-02-01 21:53] jessesuen commented on #5359
I agree with the proposal. Is this something we should do for v1.9?

[2021-02-01 21:54] jessesuen commented on #5364
This is not Argo CD doing this, it is kubernetes. Kubernetes drops the entire labels/annotations if there is one invalid value applied.

[2021-02-01 21:56] jessesuen commented on #5365
The problem is that we don't actually distinguish rollbacks vs. syncs from the actual process of deploying. When you click rollback in the UI/CLI, the API-server is simply translating that into a normal sync operation as a convenience.

[2021-02-01 21:58] jessesuen commented on #5366
You can already do this with a Validate=false sync option. See:

https://github.com/argoproj/argo-cd/blob/baa0f2e39c45b86bedc3b3cca0878c0f77253529/docs/user-guide/sync-options.md#disable-kubectl-validation

[2021-02-01 22:00] jessesuen commented on #5368
Are you essentially asking for a checkbox to have a cascade checkbox (similar to the force checkbox)?

![image](https://user-images.githubusercontent.com/12677113/106523304-c43a6c80-6495-11eb-81bd-aff9ac2d45a9.png)

If so, I agree this would be useful.

[2021-02-01 22:26] strantalis commented on #5364
@jessesuen So I probably don't understand everything fully but I thought argocd validates all manifest before being applied?

When do I `kubectl apply --dry-run` the namespace comes back invalid.

[code]

[code]

[2021-02-01 23:32] abdennour commented on #3709
i gonna prefix app name with project name.

[2021-02-02 05:01] jsoref commented on #5365
Could argocd give itself a temporary annotation to remind itself to run a hook once the sync resolves?

It's possible that this is best handled by `argo-rollouts` as opposed to natively by argo-cd.

[2021-02-02 05:16] jgwest commented on #4728
Merged.

[2021-02-02 05:16] #4728 closed

[2021-02-02 06:04] ckeragala commented on #3784
@randrusiak - Please check if your Chart's apiVersion is v1. If so it has to be changed to `apiVersion: v2`
https://helm.sh/docs/topics/v2_v3_migration/

[2021-02-02 07:28] jsoref opened #5370 "Stale documentation"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-02 07:43] peterbosalliandercom commented on #3913
I will follow rfe.

[2021-02-02 07:43] #3913 closed

[2021-02-02 07:58] peterbosalliandercom commented on #3877
@kshamajain99 Is this option influencing the post sync hooks?

[2021-02-02 08:40] matthewhembree opened #5371 "Empty keys in apps/v1/Deployment: argocd-redis-ha-haproxy"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-02 08:49] AmitBenAmi commented on #5365
Adding a login to argo rollouts that will handle rollbacks better is even better in my case since this is the main reason for looking at solutions for this, but it will require argo to tell rollouts that they need to be fully promoted, *after a rollback*.

[2021-02-02 13:16] meshack-mbuvi commented on #5107
I am experiencing the same issue on aws eks. I have tried this suggestion but it does not fix the issue.

[2021-02-02 14:07] MattFellows commented on #4539
@guigo2k What was your solution? I'm hitting a very similar issue, would love to know how you solved it.

[2021-02-02 14:20] MPV commented on #5219
Does setting `ARGOCD_OPTS="--port-forward-namespace argocd"` help?

[2021-02-02 14:33] slayer commented on #4979
We have the same problem:
![image](https://user-images.githubusercontent.com/57521/106614349-e7d3e480-6573-11eb-8a31-c49687ab767f.png)
these jobs were already completed:
![image](https://user-images.githubusercontent.com/57521/106614516-1d78cd80-6574-11eb-87d5-dbed6398d88e.png)

argocd 1.8.3 (latest)

job definition:
[code]

[2021-02-02 15:30] sorinjulean-c opened #5374 "extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-02-02 15:40] sorinjulean-c opened #5376 "Ingress and CustomResourceDefinition apiextensions.k8s.io/v1beta1 deprecation logs at warning level"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD application-controller logs at warning level:
│ W0202 15:37:13.515020       1 warnings.go:67] extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use netwo

[2021-02-02 17:19] aweis89 commented on #5068
I'm actually seeing this error getting logged as `fatal` using argocd 1.8.2:
`level=fatal msg="rpc error: code = Unknown desc = cache: key is missing"`

[2021-02-02 17:30] hawksight commented on #4911
I have also got the same error on v1.8.3 currently

[2021-02-02 17:53] #4906 closed

[2021-02-02 18:26] r0bj commented on #5219
WIth using `ARGOCD_OPTS="--port-forward-namespace argocd" ` is the same effect.

[2021-02-02 18:31] rbreeze commented on #5374
Is this a request to update our docs and tests? Argo CD installations don't include any Ingresses.

[2021-02-02 18:35] rbreeze commented on #5376
Personally, I think `WARN` is the appropriate log level for this rather than `DEBUG`. Here's a good reference for when to use which log level: https://reflectoring.io/logging-levels/

[2021-02-02 18:52] danylohetmantsev opened #5380 "Add a possibility of limiting access to logs tab in ArgoCD WebUI"
# Summary

Add a possibility to disable log output for certain applications in WebUI by using RBAC.

# Motivation

Example: Application writes the private information to STDOUT and you don't want to be able to see that on the logs tab of the pod.

# Proposal

If user doesn't have the action "logs" -> "Logs" tab is shown on all apps by default.

If user have the action "logs" only for certain appli

[2021-02-02 19:34] #5350 closed

[2021-02-02 19:40] alexmt commented on #5364
The 1.8 has an improvement https://github.com/argoproj/argo-cd/issues/1787 .  Argo CD used to drop unknown fields - now such fields stay untouched. @strantalis  can you please check if upgrade resolves issue?

[2021-02-02 20:03] kshamajain99 opened #5381 "Authentication error occurs for >=v1.8.2"
**Describe the bug**

version: >=v1.8.2

For environments using existing OIDC provider, argocd cli returns following error
[code]

**To Reproduce**

upgrade argocd to >=v1.8.2 on an environment using existing OIDC provider

**workaround**

Removed the `refresh-token` value from `$HOME/.argocd/config` and that fixed the issue

**Version**

[code]

Another instance: https://github.com/argoproj/argo-

[2021-02-02 20:04] kintarowins commented on #3864
same problem with v1.8.3+0f9c684

[2021-02-02 20:18] rbreeze commented on #5272
Having a hard time reproducing this. How did you get your `argocd-redis` into a crash loop?

[2021-02-02 20:24] #4230 closed

[2021-02-02 20:39] jsoref commented on #5272
Dunno. I definitely wasn't trying to...

[2021-02-02 21:03] perezjasonr commented on #2730
can you provide a snippet of how you did that/what the section looked like in the application object? theres no examples of how it looks in the docs.

[2021-02-02 21:14] keithchong commented on #5041
<img width="1379" alt="Screen Shot 2021-02-02 at 2 42 45 PM" src="https://user-images.githubusercontent.com/7726022/106663374-a0e4ef80-6571-11eb-9c49-d320fb175b04.png">

[2021-02-02 21:17] alexmt commented on #5041
Thank you for update!

[2021-02-02 21:24] jessesuen commented on #5380
The problem is: to introduce an `application/logs` sub resource in rbac policies, it implies that GET on application will no longer allow you to retrieve logs, thereby breaking everyone's RBAC after the upgrade.

Casbin has the possibility of using deny rules, but we rather use an additive way of controlling RBAC rather than mixing additive and subtractive.

[2021-02-02 21:40] jcstryker opened #5382 "PermissionDenied on app creation using project tokens in v1.8.3"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

WIth `v1.8.3` I am getting this error when attempting to create/sync an application using project tokens. Seems similar to #1019

The same process/yaml worked in `v1.7.6`

[code]

**To

[2021-02-02 22:03] rbreeze commented on #3663
@AlehB can you confirm that this issue still exists on 1.8?

[2021-02-02 22:07] alexmt commented on #5382
I've tried to reproduce it and noticed that `machine-learning-platform` project has roles `admin` and `jenkins` but not `ci-cd`. Tried to generate token for `jenkins` role and was able to successfully create app. It is possible that `ci-cd` was deleted ?

[2021-02-02 22:12] keithchong commented on #5041
No problem @alexmt.  Jesse said in the above comment to not show it if the restart count is 0:

<img width="1417" alt="Screen Shot 2021-02-02 at 5 09 08 PM" src="https://user-images.githubusercontent.com/7726022/106669486-c544ca00-6579-11eb-8feb-4e52eb9ff8c8.png">

[2021-02-02 22:20] alexmt commented on #5282
Hello @eugentius ,

Tried to reproduce the issue. Pushed chart to `demo.goharbor.io` and successfully created application. Which Argo CD version are you using?

[2021-02-02 22:37] jcstryker commented on #5382
I think I copied the wrong yaml, here is the manifest right out of the cluster
[code]
The ci-cd role is definitly there and lists a token, still getting the permission denied

[2021-02-02 22:51] vjpie2002 commented on #5041
Will it be better to show restart count as zero that will ensure that it is
actually showing data rather than showing no data?

- Vijay

On Tue, Feb 2, 2021 at 2:13 PM Keith Chong <notifications@github.com> wrote:

[2021-02-02 22:56] #4385 closed

[2021-02-02 23:15] #5272 closed

[2021-02-02 23:18] #5041 closed

[2021-02-03 00:07] #5325 closed

[2021-02-03 00:07] #5270 closed

[2021-02-03 00:27] james-callahan commented on #5350
I don't think this was entirely fixed by #5377

It still needs to be documented that `link.argocd.argoproj.io/` is a prefix and you can place your own string after the `/`

[2021-02-03 05:26] strantalis commented on #5364
I tried upgrading to 1.8.3 but it still didn't seem to change anything. This is the namespace definition in git below and some screenshots of live, diff and desired.

[code]
#### Live
<img src="https://user-images.githubusercontent.com/18211470/106701512-c9420d80-65b4-11eb-8689-a1c44ea73c59.png" width="400" />

#### Diff
<img src="https://user-images.githubusercontent.com/18211470/106701630-f4c4f8

[2021-02-03 09:07] ziimon commented on #5380
@jessesuen Aren't there other sub-resources as well where DENY rules would be useful? I understand that sticking to additive rules as long as possible makes things easier, but especially for larger setups (e.g. corporate) a fine granular RBAC is crucial.  Especially for logs, that potentially can contain confidential customer information, this really is a problem. Are you considering that topic in

[2021-02-03 09:58] Timoses opened #5388 "Multiple external URLs for SSO access"
# Summary

Currently, only one `url` can be configured in ArgoCD ConfigMap (`argocd-cm.yaml`; see https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/).
It should be possible to specify more than one valid url.

# Motivation

Our clusters generally have two access paths:
1. via F5 BigIP and
2. via a management network (directly to cluster via nginx Ingress).

This also means that

[2021-02-03 11:03] tkanters commented on #2347
I recently implemented this, the above comments and references to the documentation helped me a lot. It still took me quite some time to get a working setup.

I wrote a tutorial describing a basic setup that works and is fairly flexible: https://www.modulo2.nl/blog/argocd-on-aws-with-multiple-clusters

Hope this helps someone.

[2021-02-03 12:37] andras-babos opened #5389 "define minimum necessary rbac permissions"
# Summary

Please define a more restricted minimum necessary cluster role permissions for the argocd-applicaton-controller and argocd-manager permissions instead of the current cluster wide get, list, watch.

https://argoproj.github.io/argo-cd/getting_started/

"The rules of the argocd-manager-role role can be modified such that it only has create, update, patch, delete privileges to a limited set

[2021-02-03 14:37] perezjasonr opened #5390 "apply sync doesn't actually kubectl apply"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X ] I've included steps to reproduce the bug.
*

[2021-02-03 14:48] sbose78 opened #5391 "Lua healthchecks for OLM Operator resources"
Given that OLM/operator framework resources ( `Subscription`) need special care with parsing the health, we should consider adding lua health checks for the same:
https://github.com/argoproj/argo-cd/tree/master/resource_customizations

[2021-02-03 16:01] matthyx opened #5394 "Add support for immutable ConfigMaps/Secrets"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2021-02-03 16:51] kshamajain99 commented on #5183
@LeJav can you provide details about your incorrectly generated application spec and relevant ingress spec?

[2021-02-03 17:00] markushinz commented on #5335
Thanks for your feedback @torstenwalter! In the meanwhile I created a PR for adding the header. But I agree, having a JSON endpoint would be great

[2021-02-03 18:25] meghanabsrinath opened #5397 "Multiple errors during ArgoCD login when exposed as LoadBalancer"
We are seeing few random, intermittent issues with the latest installation of ArgoCD on EKS/AKS/GKE clusters when argocd-server is exposed as `LoadBalancer` service. While doing argocd login, we are facing the error as below
[code]
However, this works after a while without any issues. This happens even when using` --insecure` flag. Sometimes, the error is
[code]
And again, after a while, it works

[2021-02-03 18:37] Xtigyro commented on #2143
+1

[2021-02-03 19:03] jangraefen opened #5398 "Manage Repositories via individual resources"
# Summary

Instead of managing repositories inside the `argocd-cm` config map, repository connections should be stored as individual resources, like secrets or a new CRD.

# Motivation

As a developer who uses ArgoCD as my tool of choice to power my GitOps deployment, I expect to deploy and configure ArgoCD itself in a similar way. This holds true for [Applications](https://argoproj.github.io/argo

[2021-02-03 21:15] ishitasequeira commented on #5152
Looking into this issue

[2021-02-03 22:33] reginapizza commented on #5260
I was about to submit a PR for this but wanted to make sure I understood this a little better first... from looking at the code, the text for this could also be "Healthy | Synced", correct? Are there other options I'm missing? Is "unknown" here a possibility? I wanted to test out my spacing with all possibilities so that I know it won't mess any other options up; so far I have it looking like this

[2021-02-03 23:05] LeJav commented on #5183
Here is for instance an ingress spec (grafana app):

[code]
I do not specify host -> it applies to all hosts

On argo-cd UI, for the grafana app, the link is "http://%!s(<nil>)/grafana

[2021-02-03 23:36] jsoref commented on #5260
I'm personally asking for contrast. Someone from the project could provide more project orientated guidance (sorry, I'm wearing an end user /accessibility hat 🎩 here).

You might look at what/how other groups/projects that manage badges do to when making yellow badges.

The lazy approach is black on yellow instead of white on yellow.

[2021-02-04 00:55] rbreeze commented on #5216
@chetan-rns would you still like to work on this?

[2021-02-04 01:09] vsrisubhash opened #5403 "Personal Tokens for SSO users"
# Summary

Let SSO users generate personal tokens.
   - We have project based tokens and Generic ID tokens inside Argo CD. However the issue with first one is that they are specific to project, and the later options we need to create and maintain user inside  Argo CD..

# Motivation
There are multiple use cases:
Use Case1:  Organizations that want to avoid creating users inside products, this impl

[2021-02-04 01:16] rbreeze commented on #4914
@chetan-rns Are you still working on this?

[2021-02-04 01:32] dan-j opened #5404 "Allow argocd-util export only export specific objects"
# Summary

Running `argocd-util export` currently exports all data, including `AppProject` and presumably `Application` resources (I haven't got as far as adding my `Application` manifests yet).

It would be good if there was a command to only export config and secrets and not the additional resources.

# Motivation

I'm using kustomize to deploy Argo CD, using the remote base from this repository

[2021-02-04 01:38] dan-j commented on #5404
I've also just come across another edge case, the kustomization also shouldn't care about the resources with the annotation `managed-by: argocd.argoproj.io`, since these aren't created at the time of installation.

[2021-02-04 09:15] kheraud commented on #876
Same experience here

[code]

I have this issue when I port forward to argocd-server. No problem when port-forwarding to other pods

[2021-02-04 11:54] chetan-rns commented on #4914
Yeah @rbreeze. I've raised a PR and should fix some e2e tests

[2021-02-04 11:55] chetan-rns commented on #5216
Thanks @rbreeze I'm looking into it. Could you please assign me this issue?

[2021-02-04 17:02] OmerKahani commented on #1903
Hi, is there any update on this? what is blocking this from been merged?

[2021-02-04 17:09] jsoref opened #5407 "Operations should offer filtering"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-04 17:57] rbreeze opened #5408 "ui: Darken text to increase contrast ratio for visually impaired users"
# Summary

The [WCAG 2.0](https://www.w3.org/TR/WCAG20/) recommend a minimum contrast ratio of 4.5:1 (text:background) for its AA standard, and a 7:1 ratio for AAA. The current contrast ratio of `$argo-color-gray-6` (used for most text in the UI) to a white background is [4.15:1](https://webaim.org/resources/contrastchecker/?fcolor=6D7F8B&bcolor=FFFFFF), which while only slightly below the AA stan

[2021-02-04 17:58] rbreeze commented on #5216
Will do!

[2021-02-04 18:09] jsoref opened #5409 "There should be whitespace between warnings and errors"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-04 19:27] rbreeze commented on #3205
@keithchong @chiragthaker was this fixed by #4994 ?

[2021-02-04 20:26] jcstryker commented on #5382
@alexmt can you share how you reproduced it? maybe I am doing something wrong

[2021-02-04 21:33] jessesuen commented on #3045
This use case is intended to be solved by the "global project" feature. However, it currently does not merge allowed repositories.

https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/projects.md#configuring-global-projects-v18

I think we can simply improve global projects to also merge the global allowed repos.

[2021-02-04 22:46] snuggie12 commented on #5293
It's not documented, but the helm chart inflator became a built in plugin in kustomize in at least version 3.9.2 so perhaps kustomize-helm can be removed from the list.

Also in some recent version of kustomize (at least 3.8.4) the ability to run krm functions (I believe the name is getting changed to "image plugins" in kustomize soon?) works, but it requires docker to pull and execute the image.

[2021-02-05 00:38] #5381 closed

[2021-02-05 00:59] rbreeze opened #5418 "Add labels to App Details Status Panel"
To help both Argo CD beginners and screen readers, I think some small labels in the status panel would be helpful. This also complies better with [WCAG section 2.4.6](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=246).

Here's a quick mockup of how I think this should look:

<img width="901" alt="Screen Shot 2021-02-04 at 4 03 37 PM" src="https://user-images.githubusercontent

[2021-02-05 01:17] #4872 closed

[2021-02-05 01:17] #4654 closed

[2021-02-05 01:24] rbreeze commented on #4296
https://github.com/argoproj/argo-cd/pull/5342 is a workaround for this, but ideally we should still implement a map for OIDC group lookup

[2021-02-05 03:50] reginapizza commented on #5260
what if it was a color like this? I chose blue for contrast + is supposed to be a complementary color to the coral color, contrast for this is 3.01:1.

Alternatively, purple like the helmet image on the badge itself, contrast for that one is 3.22:1

![argocd-badge](https://user-images.githubusercontent.com/50851526/106987353-3ed7e600-673b-11eb-959f-850602cda864.png)
![argocd-badge2](https://user-i

[2021-02-05 06:28] ymmt2005 opened #5423 "Application health assessment failed with "ComparisonError: json: cannot unmarshal array into Go value of type""
**Describe the bug**

When I added a Lua script to restore Application health assessment behavior in v1.7 for v1.8.3 server
according to the [this](https://argoproj.github.io/argo-cd/operator-manual/upgrading/1.7-1.8/#health-assessement-of-argoprojioapplication-crd-has-been-removed), `argocd-application-controller` stop syncing Applications.

An Application had a status like this:

[code]

`argocd

[2021-02-05 06:52] jannfis commented on #5423
Hi @ymmt2005, the error message suggests that there might have been a C&P or other error (such as indentation) when you integrated the Lua script into your ConfigMap. I have looked into the repository you mentioned, but could not find a change that has the health check actually integrated, so this is a wild guess.

However, I'm running several 1.8 instances with a C&P of the health check mentioned

[2021-02-05 06:59] ymmt2005 commented on #5423
Hi @jannfis , thank you for the information.

I find [the failed CI log](https://app.circleci.com/pipelines/github/cybozu-go/neco-apps/5113/workflows/5693bce2-6e4a-4f25-a205-0e00783d4193/jobs/17458) and `argocd-cm` at that point https://github.com/cybozu-go/neco-apps/blob/a7aeab296ab9315a5354d9bc10a8bc78829dadb1/argocd/base/configmap.yaml#L19-L30 .

We gave up adding this and switched to unordered

[2021-02-05 07:41] #5335 closed

[2021-02-05 13:55] jsoref commented on #5260
I don't think you can use blue (that's generally the color used for progressing).

Out of sync's current indicator looks like this:
![image](https://user-images.githubusercontent.com/6354229/101232187-ea45bb00-3664-11eb-95a2-5000829f852e.png)
-- Picture stolen from a random issue (we don't seem to have any out of sync objects right now, I suppose I should be happy?)

One approach would be to use t

[2021-02-05 14:01] jsoref opened #5424 "Add docs and SEO for `Waiting to Autoscale`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-05 15:05] debu99 commented on #4811
i have the same issue as @lifelofranco mentioned
Argo CD
v1.8.3+0f9c684
Build Date
2021-01-21T22:20:39Z

[2021-02-05 15:33] strantalis commented on #5364
@alexmt One thing I noticed is argocd/kube does block a bad label with spaces on sync so not sure whats going on with the integer label value. Seems to be something happening before the sync phase. Maybe when it does the diff?

[code]

[code]

<img src="https://user-images.githubusercontent.com/18211470/107053774-39ab8300-679d-11eb-8e19-84a00c65ddc4.png" width="800" />

[2021-02-05 16:01] adamjohnson01 commented on #5224
You could also try https://github.com/IBM/argocd-vault-plugin

[2021-02-05 16:21] soumitasardar opened #5425 "argocd-redis-ha-haproxy pod is giving CrashLoopBackOff error with multiple restart after upgrading eks version to 1.18"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-02-05 17:09] sfatgc commented on #3988
Hey all!

Is there any progress on this issue?

We wish to use third party helm charts from third party git repos, providing them with our value files, in the way like this:
[code]

So requirement to put value files to the same repo as chart looks like a huge functionality restriction.

And yes - I give +1 for the point, about embedding complicated values structure into application manifest file.

[2021-02-05 18:36] jsoref opened #5427 "Page position isn't embedded in log viewer url"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-05 19:13] jcstryker commented on #5382
I tried this again with v1.8.4 and got an interesting new error
[code]

[2021-02-05 19:16] alexmt commented on #5382
That looks like another issue. Trying to reproduce a theory

[2021-02-05 19:38] jcstryker commented on #5382
[code]
Token is definitely there in the CR

[2021-02-05 19:48] #3045 closed

[2021-02-05 21:27] jessesuen commented on #5425
It's apparent that kubelet can't connect to HA proxy (connection refused). Are you able to connect to this port via port-forwarding? Logs of haproxy may indicate why it's not coming up.

[2021-02-05 21:31] mayzhang2000 opened #5429 "No environment vars when running helm generate"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-02-05 21:50] rbreeze commented on #4296
Discussed with @jessesuen and we feel pagination addresses the user experience of slow loading apps.

[2021-02-05 23:14] abc225666 opened #5431 "Delete application named same as native helm3 release will delete all resources in argo-cd and native ones."
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X

[2021-02-05 23:18] Gowiem commented on #1786
Another follow up here -- @dcherman's use-case regarding seeding configuration from ConfigMaps created by Terraform is exactly my problem coming from FluxV1 / helm-operator to ArgoCD. This is particularly painful for managing 3rd party charts which need AWS IAM Role ARNs when you're dealing with many environments / clusters. Looks like that will be one of my largest hangups in the switch from Flux

[2021-02-06 00:35] #5371 closed

[2021-02-06 00:54] #4946 closed

[2021-02-06 02:42] jessesuen opened #5432 "Argo Rollouts UI Integration"
# Summary

The Argo Rollouts kubectl CLI can display a lot of useful information such as analysis runs failure counts, the current role of a ReplicaSet (canary vs. active vs. preview vs. stable), and grouping all objects by revision.

The Argo Ui should have better integration when it detects a Rollout to show the same information that the CLI is able to do.

# Proposal

There should be a new view

[2021-02-06 03:11] jaredclarke opened #5433 "Add ability for users to update their passwords through the UI"
# Summary

A way to for a user to update their own password through the UI

# Motivation

We have a number of users who will be given access to ArgoCD as a way to track deployments and logs - they should have the ability to manage their own password without needing kubectl or argocd CLI tools (and access into the cluster).

# Proposal

A sliding drawer on the user info page

#5444

I did a quick s

[2021-02-06 05:24] likaiwen123 commented on #3988
Maybe the methods above can act as workaround for this issue, but may not be that elegant. So could any maintainers or contributors express their considerations?

[2021-02-06 09:00] MiteshSharma commented on #876
Even I am facing the same issue on the Kubernetes server. Although after a few retries i am able to open UI.

[code]

[2021-02-06 11:43] servo1x commented on #5394
Have you tried force sync? Force sync should recreate the resource.

[2021-02-06 12:16] riweston commented on #3181
Is there any way around this? I'm specifically trying to use a number of kustomize.yml configs in my repo and rely on all applications being recursively deployed from a kustomize file but I'm seeing the same sync issues unless I disable recursion

In my case I'm trying to run a bootstrap that then adds an app-of-apps to argocd where I expect my source of truth for everything to be.

[code]

[code]

[2021-02-06 18:44] jangraefen commented on #3707
Hello @astein-te. Did you made any progress on this one? Otherwise I would like to take shot 😄.

[2021-02-06 22:49] alexmt opened #5436 "Deprecate `repositories` and `repository.credentials` keys of `argocd-cm` ConfigMap key"
# Summary

The `repositories` and `repository.credentials` keys of `argocd-cm` ConfigMap contain yaml serialized list of repositories credentials. Both keys should be deprecated and replaced with just only list of secrets.

# Motivation

These two keys make it difficult to manage repositories declaratively and imperatively at the same time (see https://github.com/argoproj/argo-cd/issues/3218). In

[2021-02-07 01:23] jangraefen commented on #5436
I proposed something similar in #5398. I think one of them could be closed.

I am also very interessted to contribute this functionality. Would that be an option?

[2021-02-07 03:00] jsoref opened #5437 "Node view should include available values"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-07 03:31] jsoref commented on #5260
Fwiw, all other views include icons e.g. ⏸️ for paused or 👻 for missing. or ⬆️  for out of sync. I think I'd like those icons to be included in the badges. It will add some consistency between the normal ArgoCD views and the badging.

[2021-02-07 05:07] alexmt opened #5439 "Split `resource.customizations` setting into sub-keys"
# Summary

The `resource.customizations` of `argocd-cm` ConfigMap contains complex, YAML serialized list of resource customizations. It should be split into sub-keys to enhance the user experience.

# Motivation

The one key means that all customizations must be stored in a single file which is inconvinient. If we split `resource.customizations` into sub-keys it will be possible to split `argocd-c

[2021-02-07 05:17] alexmt commented on #5436
Hello @jangraefen, Looks like #5398 proposes using CRDs. Is it a critical requirement or you agree that Secrets are good enough for repository credentials?

After had several discussions we've concluded that at least repository credentials don't need CRDs and could be stored just as Secrets. The reason is that sensitive information must be stored as a secret, either way, so CRDs looks like overkil

[2021-02-07 05:24] alexmt commented on #5436
Thank you for offering help! If you have time your contribution is very welcome. This feature is not on the critical path for 1.9 release and we have enough time to work on design and implementation.

Please let me know what you think about using Secrets vs ConfigMaps.

[2021-02-07 11:17] sidiqputra commented on #4979
any update for this issue? I face the same issue on version 1.8.2.

[2021-02-07 11:55] daveresbk commented on #3027
Any update? I have just tried and I have the same results that @r0kas

[2021-02-07 12:12] jangraefen commented on #5398
See discussion in #5436

[2021-02-07 12:12] #5398 closed

[2021-02-07 12:27] jannfis commented on #5436
To chip my 2 cents into this, both types of configuration (CRDs vs Secrets) would be a major breaking change for about all of our users and both would require equally much work on the user side to migrate existing repository configuration. Taking this into account, I guess `v2.0` would be the proper release to target for either of both changes.

I have not been part of the mentioned discussions, s

[2021-02-07 12:34] jangraefen commented on #5436
Thank you for your reply @alexmt.

I tried to formulate #5398 in a way that it allows for secrets as a solution as well and discuss the pros and cons of using secrets vs. CRDs.

I fully agree that the actual credentials should always be stored within a secret and nowhere else. CRDs add a "strongly typed" API, validation and [better compatibility](https://kubernetes.io/docs/tasks/extend-kubernetes/

[2021-02-07 15:26] jannfis commented on #5424
I agree that the question "Why is my resource progressing? What does it actually mean?" comes up very often in real world installations of Argo CD.

But since the reasons for a progressing health status could be very manifold, depending on the actual resource kind, we should solve this in a more general way. It's not viable to address every possible status of every possible resource (including unk

[2021-02-07 16:10] jannfis commented on #5433
I think having feature-parity between the CLI and the UI is something we should work towards to achieve.

What @jessesuen wrote in #3257 still holds true, and I strongly agree with him in this matter. However, I think this feature would be rather an UI enhancement instead of a new feature for local user management, since the API already supports it and the CLI is also already a consumer of that AP

[2021-02-07 16:22] jsoref opened #5441 "Maybe hint to check errors for unknown"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-07 16:26] jsoref opened #5442 "Commit sha isn't listed for unknown"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2021-02-07 16:32] jsoref commented on #5442
One point of clarity, this was actually a templated application. It was never healthy, but there was definitely a commit sha that was used to try to instantiate the application. It just didn't actually work. It's still important to know which sha that was.

I made a commit which would cause the application not to be created, and I needed to know if that was seen.

[2021-02-07 18:25] jsoref opened #5443 "Remove colons from summary view"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-07 18:30] daveresbk commented on #3027
I have just tried and everythink is working fine.
Follow the following link to test your gke connection:
https://argoproj.github.io/argo-cd/faq/#argo-cd-is-unable-to-connect-to-my-cluster-how-do-i-troubleshoot-it
About the cluster status, it'll blank until you deploy an application to the new cluster

[2021-02-07 22:12] r0kas commented on #3027
Thanks for the update!
But I would say that status behavior is confusing. One would like to know that cluster is seen by ArgoCD before deploying any app to it, no? :)

[2021-02-07 22:55] jsoref opened #5445 "Delete CRD should give an indication of the number and list of items to be deleted"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-08 05:06] IamGabrielWu opened #5448 "SSO setup with Github doesn't work with RBAC"
Hi
Is it a bug ? or something i missed ?
I followed the link https://argoproj.github.io/argo-cd/operator-manual/rbac/ to set up rbac but turns out people within team-sre still don't have proper access.
I placed sensitive information with xxx_

my argo-cm.yaml
[code]
my rbac
[code]
My goal is to allow people within Github team "team-sre" to be admin.
And the argocd page gives me error like below pi

[2021-02-08 07:55] yujunz commented on #5333
The `appURL` seems formatted from client options at the moment

https://github.com/argoproj/argo-cd/blob/1734b46f71209589cf4177f7fe72e19769782f4e/cmd/argocd/commands/app.go#L363

It should be read from server side.

[2021-02-08 09:00] peterbosalliandercom commented on #2705
@jannfis is this something you can react on?

[2021-02-08 09:02] qrilka commented on #5297
Also the current `kustomize` isn't working correctly with backend service names for ingress in k8s-1.19 and later (it's now service/name instead of seviceName)  as https://github.com/kubernetes-sigs/kustomize/commit/62e4df72d32f615dd88e78bdb3654f043b9d5b44 appeared only in the version 3.8.6

[2021-02-08 09:30] jannfis commented on #2705
@peterbosalliandercom I think this can already be achieved by using a combination of the allowed source repositories restriction on AppProject level and appropriate RBAC rules for `create` action on `repositories`.

In case you have tried this already and it didn't work out, please let me know more details so we can figure out a possible solution.

[2021-02-08 09:35] shubham25namdeo opened #5450 "OneLogin SAML setup"
# Summary

I am using Argo CD for EKS deployments. For better usability and User management OneLogin needs to be integrated with it. But due to company norms, I can't use OIDC method, and SAML is not provided for OneLogin, I've tried using steps from OKTA to map OneLogin in a same manner but it didn't work.

# Motivation

Companies like mine, who uses SAML on OneLogin might get benefit from this,

[2021-02-08 09:40] soumitasardar commented on #5425
Hi @jessesuen , Thanks for the response!!!

logs for that particular pod
`kubectl logs argocd-redis-ha-haproxy-766c67b584-pwnqd -n argocd
[ALERT] 038/093302 (1) : parsing [/usr/local/etc/haproxy/haproxy.cfg:25] : 'server R1' : could not resolve address 'argocd-redis-ha-announce-1'.`

The 3 replicas of haproxy, 2 are running fine.
**
![image](https://user-images.githubusercontent.com/45121616/10720

[2021-02-08 10:11] jsoref opened #5451 "Pruned icon is odd"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-08 10:42] jsoref opened #5452 "Flashing Syncing every 3 seconds for out of sync app is annoying"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-08 11:06] jsoref opened #5453 "Offer to generate IgnoreDifferences"
# Summary

It'd be nice to be able to easily generate `IgnoreDifferences` that one could copy+paste 📋 into an ArgoCD application to make ArgoCD happy.

# Motivation

https://github.com/bitnami-labs/sealed-secrets/pull/487#pullrequestreview-585380279 introduced:
![image](https://user-images.githubusercontent.com/2119212/107211260-4addd500-69d3-11eb-9538-b648c49f3b28.png)

Which is apparently not pr

[2021-02-08 11:08] jsoref opened #5454 "Use consistent case for `Compact diff`/`Inline Diff`"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-08 11:40] jsoref commented on #4754
For reference, someone wrote a sample health check: https://github.com/bitnami-labs/sealed-secrets/issues/346#issuecomment-637631528

@jessesuen am I right that this should be implemented in https://github.com/argoproj/gitops-engine/ ?

[2021-02-08 11:52] chetan-rns commented on #4754
@jsoref There's also `resource_customizations` directory where I see similar lua scripts (health.lua) for health checks

[2021-02-08 12:27] jannfis commented on #4754
The right place to add health checks for third-party resources is, as @chetan-rns pointed out, at https://github.com/argoproj/argo-cd/tree/master/resource_customizations. There is documentation on how to contribute a health check for third-party CRDs at https://argoproj.github.io/argo-cd/operator-manual/health/#way-2-contribute-a-custom-health-check

[2021-02-08 12:57] jannfis commented on #4754
@chetan-rns Mind if I assign this issue to you, when you already offered to pick it up? :)

[2021-02-08 13:03] chetan-rns commented on #4754
Thanks, @jannfis. I'm happy to work on it :+1:

[2021-02-08 13:13] matthyx commented on #5394
Indeed, when doing a manual sync with *force sync* it works. Do you have a way to make it without human intervention?

[2021-02-08 13:34] delamart commented on #2730
@rumstead would also like to know how you did it.

Also +1 on this issue, would help handling immutable configMaps/secrets for example ( https://github.com/argoproj/argo-cd/issues/5394 )

[2021-02-08 13:46] lifelofranco commented on #4811
@rbreeze, I was running v1.7.6, the default appVersion of the helm chart at the time. Also encountered issues where deletion gets stuck.

However, I have since updated to v1.8.3 and I am no longer facing any issues! Everything working as expected.

[2021-02-08 14:45] reginapizza commented on #5260
I like the idea of adding the badges and I think having the color behind only the associated icon instead of the wording would both look good and add greater contrast to better see the wording. However, this badge is already very crowded and I imagine that adding another icon would require the width of the badge to be increased. I understand that the badge can be taken and used on a user's README/

[2021-02-08 15:17] alan-copeland-keysight commented on #4047
I also care about this one. Any progress @jessesuen ? Maybe an alternate approach that works?

[2021-02-08 15:20] giorgian commented on #5107
We too are experiencing this quite often. Our workaround is to just run `redis-cli flushall` in the Redis pod.

[2021-02-08 15:25] rumstead commented on #2730
I have a controller that will help generate the ArgoCD applications for us (this was before the announcement of [Application Sets](https://github.com/argoproj-labs/applicationset)). In the code, I set the SyncStrategy as described above though I am not sure how those can be set on the Application CR itself.

[2021-02-08 16:35] ishitasequeira commented on #4662
Looking into this issue

[2021-02-08 16:51] eugentius commented on #5282
Found RC.
Chart name shouldn't contain "chart".
I renamed
"charts/app-chart"
to
"charts/app".
and it worked

[2021-02-08 17:17] alexmt commented on #5152
Implemented by https://github.com/argoproj/argo-cd/pull/5400 . Thank you @ishitasequeira !

[2021-02-08 17:17] #5152 closed

[2021-02-08 17:49] eugentius opened #5456 "Chart name/version UI dropdown list doesn't work for OCI Helm repos"
Chart name/version UI dropdown list doesn't work for OCI Helm repos when editing or adding a new Application.
<img width="1421" alt="Screen Shot 2021-02-08 at 8 26 36 PM" src="https://user-images.githubusercontent.com/43003148/107260341-114aaf80-6a4f-11eb-95f9-c8a8d0b91a7d.png">

[code]

[2021-02-08 18:16] jsoref commented on #5260
Potentially, but most places tend to just have an area for a run of badges and hopefully wouldn't mind a lot.

[2021-02-08 21:05] rbreeze commented on #5448
Could you try setting `loadAllGroups: true` in the Github connector config section of your `dex.config`?

[2021-02-08 21:49] rbreeze commented on #5431
Argo CD considers resources with the label `app.kubernetes.io/instance` as part of an application. You can choose a different value of this label so that it isn't identical to the one Helm chooses to use, which is also what Helm uses to associate Helm apps. To change this, set `application.instanceLabelKey: mycompany.com/appname` in `argocd-cm.yaml`:

https://github.com/argoproj/argo-cd/blob/maste

[2021-02-08 22:04] rbreeze commented on #5445
Are you saying you deleted the actual CRD itself? Or a single sealed secret?

If you deleted the sealed secret CRD from the cluster, then it's expected that all sealed secret resources would be deleted. This is expected behavior and beyond the scope of Argo CD to warn about this

[2021-02-08 22:04] #5445 closed

[2021-02-08 22:42] alexmt commented on #5436
I agree both https://github.com/argoproj/argo-cd/issues/5436 and https://github.com/argoproj/argo-cd/issues/5439  it should be implemented in a downward-compatible way. I like option 2 as well:

Argo CD should keep parse the `repository` and `repository.credentials` config map keys.  Additionally list of repositories should be loaded directly from secrets. So the user should be able to add more me

[2021-02-09 00:06] #4911 closed

[2021-02-09 01:16] nivekastoreth opened #5462 "ArgoCD UI External links dropdown caret positioned incorrectly in list view"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-09 01:18] nivekastoreth commented on #5462
Note, I observed this on windows in both chrome, firefox, and edge.

[2021-02-09 01:28] IamGabrielWu commented on #5448
I added and tried again "loadAllGroups: true". Still this doesn't work @rbreeze

[2021-02-09 02:05] rbreeze commented on #5448
Thanks for checking! I had a similar issue when setting up SSO on a personal cluster a few months ago and I seemed to remember that helping, so it's a bummer it didn't work for you... what version are you running?

[2021-02-09 02:09] IamGabrielWu commented on #5448
[code]
my versions @rbreeze

[2021-02-09 03:03] jsoref opened #5463 "Small buttons should have tooltips"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-02-09 06:34] gadisn opened #5464 "The app-of-apps pattern allows moving an application between projects with no access"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [v ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [v ] I've included steps to reproduce the bug.
*

[2021-02-09 08:12] soumitasardar commented on #5425
Sevices created :
![image](https://user-images.githubusercontent.com/45121616/107334340-9b8d2500-6adc-11eb-9705-8f860e568f37.png)

Even after running the command:
`ANNOUNCE_IP=$(getent hosts "argocd-redis-ha-announce-1" | awk '{ print $1 }')`

I am not getting any output.
Can anyone please help if this is the issue for not able to resolve the address.
And how to resolve it.

[2021-02-09 11:08] ebuildy commented on #820
Hello @jessesuen  where did you see argocd can use "create" instead of "apply"?

Tried with

[code]

![Capture d’écran 2021-02-09 à 11 59 38](https://user-images.githubusercontent.com/1219817/107355162-65957400-6acf-11eb-8adf-d5a8210fac71.png)

[2021-02-09 11:26] jangraefen commented on #5436
I have a couple of questions:
- Should the repository URL really be an annotation? For clusters the URL is stored as part of the secret data. I think it would be preferable to not have two different ways to represent very similar information. I concede that having to encode the URL with base64 is not that nice, but stringData helps a bit here. Alternatively, cluster secrets should be aligned to al

[2021-02-09 13:18] rajivml commented on #4655
HI, is there any chance of this getting picked up ?

[2021-02-09 13:32] rajivml commented on #4736
@jessesuen am fine it being exposed as secret at all other places but on UI can we introduce a way to mask the password. Context is we are planning to use Argo as an Application lifecycle management tool (ALM) to deliver software to customers on premise environments and usually during debugging sessions we record the session for training purposes and passwords being in clear text is a big no over

[2021-02-09 14:05] reginapizza commented on #5408
Hi @rbreeze, I think that Argo CD UI in many places does not meet WebAIM contrast standards (for example, [this is also another issue with that](https://github.com/argoproj/argo-cd/issues/5260)). I plan on bringing up this as an issue at the UI/UX-focused ArgoCD Contributors call this coming Thursday :)

[2021-02-09 15:09] reginapizza commented on #5043
this issue should now be closed @jsoref

[2021-02-09 16:04] #5043 closed

[2021-02-09 18:14] maberny opened #5465 "Moving applications from projects causes Unauthorized errors"
I have also asked about this particular issue in slack.

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

When moving an existing (synced) application to another project, the application then fails to sync with `Unauthorized` errors on all the resources. A

[2021-02-09 18:40] rbreeze opened #5466 "Keyboard navigation for UI"
# Summary

Easy navigation of UI with the keyboard.

# Motivation

Better accessibility, and productivity with keyboard shortcuts.

# Proposal

### Application List:
- Navigate applications with arrow keys
- `/` to search apps
- `Enter` to go to selected app

### Application Details
- Navigate resource tree or pod view with arrow keys
- `Enter` to open details panel for selected resource
- `l` key

[2021-02-09 18:47] rbreeze commented on #5463
Because of the way we render the toolbar, this is a pretty involved change and would require a PR to the `argo-ui` repo

[2021-02-09 19:02] rbreeze commented on #5408
I agree, there are a lot of accessibility improvements that can be made. #5458 starts work on this one

[2021-02-09 20:44] askreet opened #5467 "Shallow clone option for reposerver?"
# Summary

I'm wondering if the team would be interested in having a feature that allows the reposerver to shallow clone the target repository, to an optional depth value. We have a use case that is probably abnormal in that we are provisioning entire environments with their own argocd deployment, and then deploying a fleet of applications. Some of the git repositories have quite a lot of history

[2021-02-09 20:48] reginapizza commented on #5466
Kind of related to #4829 I think, or more that that issue relates to this as a whole

[2021-02-09 21:06] #5183 closed

[2021-02-09 21:28] jessesuen commented on #5464
This is our check for "moving" applications from one project to another:
https://github.com/argoproj/argo-cd/blob/master/server/application/application.go#L734-L744

When changing projects the caller
* must have application create & update privileges in new project
* also have 'update' privileges in the old project

So are you saying the token being used does not have those privileges?

[2021-02-09 21:28] jessesuen commented on #5464
Also, with app-of-apps, there are no checks being done because the "move" is not going through the Argo CD API server, and is directly being modified in git.

[2021-02-09 21:31] jsoref commented on #4944
Here's a fancier example:
https://cd.apps.argoproj.io/applications/argo-events?view=tree
![image](https://user-images.githubusercontent.com/2119212/107430599-5cb69980-6af3-11eb-9d83-6051d9516c21.png)
![image](https://user-images.githubusercontent.com/2119212/107430846-b3bc6e80-6af3-11eb-9750-8d5ff67bc911.png)

https://cd.apps.argoproj.io/applications/argo-events?view=pods
By top level resource:
![

[2021-02-09 22:22] jessesuen opened #5468 "Network view should group pods into higher level workload"
# Summary

The network view does not look good when you have a large application with many pods.

![image](https://user-images.githubusercontent.com/12677113/107435478-0e000400-6ae1-11eb-9526-6e6ba9b3caf8.png)

Most of the time, users don't care how traffic is routed to individual pods, but rather to some higher level workload that created that pod (e.g. ReplicaSet).

# Proposal

Instead of showin

[2021-02-09 22:46] kshamajain99 commented on #5465
@maberny This doesn't look like argocd error, it might be coming from kubernetes api server. Please take a look at your application logs for more details on the error.

[2021-02-09 22:57] gzur commented on #5107
We finally resolved this by increasing
* `--repo-server-timeout-seconds` on the application-controller
* `ARGOCD_EXEC_TIMEOUT` on the repo-server

[code]

Doesn't make me happy, but until `helm dep update` is thread-safe(https://github.com/helm/helm/pull/8846#issuecomment-768479847), it'll have to do.

[2021-02-09 23:06] rbreeze commented on #4944
What do you mean by metadata?

In this specific example, I see what you mean - because of the long chain between the EventSource and Pod, you can't see one of those resources in that chain in pod view. Why don't you use the tree view to access the deployment?

Most of the time deployments *do* show up in pod view top level resource. This is somewhat of an edge case.

[2021-02-09 23:23] jsoref commented on #4944
By metadata, I mean that I can't click it to get a right covering sheet (pictured in roughly every second picture in that comment -- I'm not sure what they're actually called), unlike almost all other objects.

The tree view generally has lots and lots of replicasets with no pods, which makes it painful to view, hence my original request. And sometimes, there will be a handful of RS each with pods

[2021-02-09 23:34] #4337 closed

[2021-02-10 01:27] #5287 closed

[2021-02-10 02:08] rbreeze commented on #5432
I've attached some ideas of how this could look. The left side is a very slight modification to pod view to display rollout type as an info item. The right side is the new rollouts view for the info panel.

![rollouts-ui](https://user-images.githubusercontent.com/6250584/107454269-8bd40780-6b01-11eb-9228-043be00dc8b8.png)

[2021-02-10 02:09] #5418 closed

[2021-02-10 04:22] reginapizza opened #5470 "Add step to link/close an issue in Argo CD github PR template"
# Summary

Going through the issue queue, I see many issues that are open and have had merges done to fix them but they just haven't been closed. Maybe what would help is providing a prompt in the PR template to state specifically that it would close the issue.

Currently, one of the checkboxes in the PR template is:
[code]
but while this creates a mention of the PR on the issue, it does not close

[2021-02-10 05:52] karthicgit commented on #4726
I am facing the same issue for private repo . I followed the same steps. I tried to do via UI and faced the issue as well

[2021-02-10 13:26] leo-viridis commented on #4863
Is there a recommended solution for this? I have tried lowering sync time and even running refresh manually but those don't work. I have multiple replicas of a service and each of them takes 3 minutes exactly to be marked as healthy. That means that previous version of the app doesn't get terminated until new one is marked as healthy.

[2021-02-10 14:05] soumitasardar commented on #5425
Hi, Can anyone please help to resolve the issue?

[2021-02-10 14:17] SamDecrock commented on #3185
@cyrus-mc You don't have to login when using tokens. Simply provide the token when running the command. For example:
[code]
Also make sure your `ci` user has enough rights. This means you'll probably have to update the `argocd-rbac-cm` ConfigMap (`kubectl -n argocd edit cm argocd-rbac-cm`) so that it contains:
[code]

[2021-02-10 15:45] dpolicastro opened #5472 "Ignore Deployment spec.replicas if not present"
# Summary
When using HPA for deployment, we need to remove the `spec.replicas` field from the manifest. But even after removing it, ArgoCD uses a default value of 1 for this field.

# Motivation
I know it's possible to use `ignoreDifferences` on Application CRD to ignore this field, but in this case I think it's a missbehaviour, bacause in some cases the lack of replicas field is ignored, and in o

[2021-02-10 17:48] alexmt commented on #5472
Hello @dpolicastro ,

This is expected behavior. Argo CD, as well as `kubectl apply/diff` calculate diff using user-provided manifest, live resource manifest and manifest stored in `kubectl.kubernetes.io/last-applied-configuration` annotation. Most likely in your case `kubectl.kubernetes.io/last-applied-configuration` have Deployment version with replicas, so Argo CD thinks it should be defaulted.

[2021-02-10 17:52] alexmt commented on #5467
I think can be optionally enabled per repository. Apparently, the shallow clone is expensive. See https://github.com/Homebrew/discussions/discussions/225

[2021-02-10 17:57] askreet commented on #5467
@alexmt It puts burden on the server side to compute the bundle that is sent over the wire, if I understand correctly. In Homebrew's case, that's probably a noticeable impact to GitHub (where Homebrew uses GitHub as a backing repository server, essentially, and has a huge commit history).

When you said "I think it can be optionally enabled per repository", you mean if it were to be implemented, r

[2021-02-10 18:00] grtrout commented on #4917
Have any alternate registries been identified and/or used? Like many others, I am part of a large organization and, as a result, the pull rate limit seems to _always_ be a problem. I decided to do a full cluster reinstall an hour or so ago and am dead in water at this step, waiting for some indeterminate amount of time. I'm not sure if upgrading to Docker Pro/Team is a feasible option for me. In t

[2021-02-10 18:02] alexmt commented on #4917
hello @grtrout ,

Argo CD moved to quay.io: `quay.io/argoproj/argocd`

[2021-02-10 18:07] alexmt commented on #5467
Thank you for clarification @askreet !

I was trying to say that the shallow clone should not be the default behavior. This is not supported yet. We would have to introduce e.g. `fetchDepth` field in repository [settings](https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/types.go#L1378) and use it in git client:

https://github.com/argoproj/argo-cd/blob/fb8096a1f7f3dcca

[2021-02-10 19:42] grtrout commented on #4917
I have not used quay before. Is there a documented way to use that repo instead of Docker Hub? I am installing based on the resource definition in the quick start guide. I.e.:
https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

[2021-02-10 19:54] phs opened #5473 "Please add a --port-forward-context option"
# Summary

Please support using an explicitly named `kubectl` context in addition to an explicit namespace when connecting via port-forwarding.

# Motivation

I would like to use argocd to help programmatically bootstrap kubernetes clusters in my replicated workload multi-cluster architecture, as well as keep them up to date later with its gitops features.  As such my kubectl configuration contain

[2021-02-10 20:51] grtrout commented on #1172
Just FYI... this is pretty obvious and maybe no one else has encountered the same problem as me. However, I wanted to add this here just in case it saves someone a few minutes of troubleshooting.

I originally set up my repositories in ArgoCD using SSH keys. I recently started using 'deploy tokens' in GitLab and this seems like a better solution overall. Long story short, in the CRDs for my applic