[2022-01-14 18:03] tgolsson commented on #8179
Yes, when we debugged this we tried multipl combinations of sync settings and they all spun infinitely on syncing with the warnings showing. I also reproed the same later after renaming some applications, both for the k8s resources and within an app-of-app setup.

[2022-01-14 18:10] jannfis commented on #8179
By any chance, is one of the new apps (including the parent) having the same name as the old app you've deleted?

[2022-01-14 19:45] #8071 closed

[2022-01-14 20:11] jannfis commented on #8181
@keithchong Could you have a look at this one, please?

[2022-01-14 20:20] tgolsson commented on #8179
Nope, unfortunately not. Originally I had `a.b.c.app`. I then split that into `a.b.c.{d, e, f, g, h}` with `a.b.c.app-live` as parent, with the same resources. Then I renamed all (to get rid of the long names) to `xx.{d, e, f, g, h}` with parent `xx.bundle.app`.

The resources of the original `app` was split among `{d, e, f, g, h}`, and when renaming they retained mostly the same resources (some w

[2022-01-14 20:22] brsolomon-deloitte commented on #8021
From a k8s admin perspective, my only gripe with this is it now introduces some necessary duplication, it seems. Let's say I have 10 different `Ingress` resources deployed, and they all sit behind a reverse proxy with TLS terminated at the load balancer; this would necessitate an annotation on each one of the `Ingress` specs, right?

[2022-01-14 20:45] jannfis commented on #8184
Thanks for the detailed reproduction specs. I could reproduce it against v2.2.2 and HEAD.

Seems to be a regression introduced by https://github.com/argoproj/argo-cd/pull/7224

@pasha-codefresh Can you have a look please?

[2022-01-14 20:49] jannfis commented on #8178
Where do you envision should those secrets live, i.e. in which namespace?

How would we ensure that a user with permissions to create an Application is privileged enough to read from that secret?

[2022-01-14 21:09] pasha-codefresh commented on #8184
Sure @jannfis , im taking it

[2022-01-14 21:36] keithchong commented on #8181
Hi @exocode , looks like you are doing this locally?  Could you use the browser developer tools and try to unminify the source?

[2022-01-14 21:56] #6252 closed

[2022-01-14 22:01] shinebayar-g commented on #4723
This is now implemented in https://github.com/argoproj/argo-cd/pull/8012 Duplicate of https://github.com/argoproj/argo-cd/issues/6252

[2022-01-14 22:30] #4723 closed

[2022-01-14 22:46] #7776 closed

[2022-01-14 23:30] alexmt commented on #8181
UI is probably served by `argocd admin dashboard`. @exocode if you could download and attach http://localhost:8080/main.1702c5fe397269593f33.js it would help as well.

[2022-01-15 01:19] #8184 closed

[2022-01-15 08:08] jannfis commented on #8184
The fix for this has been cherry-picked into `release-2.2` branch and should be released with v2.2.3.

[2022-01-15 08:38] exocode commented on #8181
I am simply port-forwarding my argocd deployment. The cluster is in the cloud.

And `argocd admin dashboard` returns that:
[code]

Only wanna mention, that I am not using port `8080` I use `8888`

[main.1702c5fe397269593f33.js.zip](https://github.com/argoproj/argo-cd/files/7874578/main.1702c5fe397269593f33.js.zip)

[2022-01-15 08:43] exocode commented on #8181
The current problem is, that I have "pending syncs" right now, so the error currently does not appear. but when something is not syncing I will immediately will post it. (It will happen, because it happend often before posting this issue)

[2022-01-15 09:00] karlschriek commented on #8178
Hmmm, yes that is a good point. We don't typically host ArgoCD for multiple users. We use it to underpin a single (but highly complicated) installation on a single cluster. All the Applications are rolled out in the same namespace as argocd.

So for us any such Secret would be within in the `argocd` namespace by default, but in the more general case this would not hold.

I don't really have a good

[2022-01-15 10:42] der-eismann commented on #8184
Awesome, thanks for the quick fix!

[2022-01-15 18:59] jannfis commented on #8179
It sounds that you indeed might have shared resources between apps?

I just tested:

* Create an app `guestbook-one` in namespace `guestbook-test` with resources from the example guestbook app
* Sync app
* Delete app `guestbook-one` in a non-cascading manner
* Create new app `guestbook-two` with same settings as previously `guestbook-one`

App `guestbook-two` is out of sync from the start and I re

[2022-01-15 21:42] jannfis commented on #8021
Actually, there is already some progress on this: https://github.com/argoproj/argo-cd/issues/3487 and https://github.com/argoproj/argo-cd/pull/7923

[2022-01-16 05:10] suseendare commented on #4174
Hi, I am also facing the same problem. Any new workarounds?

[2022-01-16 07:22] zfrhv commented on #8129
yeah looks great, thank you a lot !

we will try to use it, if i dont reply then everything is perfect 👍

[2022-01-16 07:22] #8129 closed

[2022-01-16 09:34] jannfis commented on #8100
I agree, this information would be really useful. We had reconciliation loops bugs in the past, where it wasn't clear which resource(s) actually triggered the reconciliation and took tremendous efforts to troubleshoot.

[2022-01-16 19:16] epcim commented on #5553
What is the status as of today? Kustomize added KRM functions recently.

[2022-01-17 07:39] abhinayguptapeoplegrove opened #8196 "Argo-CD SYNC in one directory, shows message of another directory in UI"
We have deployed two components [A, B] in ArgoCD whose helms structure are show below

[code]

**ArgoCD application yaml**
COMPONENT-A
[code]
COMPONENT-B
[code]

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq. [Done]
* [ ] I've included steps to reproduce the bug. [Done]
* [ ] I've pasted the output of `argocd version`. [Done]

**Describe the bug**

``

[2022-01-17 08:47] jannfis commented on #8196
The manifest path generation annotations only work for webhooks. Because it only happens "sometimes", maybe the app refresh interval triggers the reconciliation of Component-B, because the target revision (they are redacted above, but I suspect they both point to the same) resolves to a new commit SHA?

[2022-01-17 09:37] raviusit opened #8197 "Does anyone has syncWindows examples other than provided in the documentation"
### Discussed in https://github.com/argoproj/argo-cd/discussions/8195

<div type='discussions-op-text'>

<sup>Originally posted by **raviusit** January 17, 2022</sup>
Does anyone has syncWindows examples other than those provided in the documentation (https://argo-cd.readthedocs.io/en/stable/user-guide/sync_windows/)
I am looking for some real-world examples and implementations </div>

[2022-01-17 11:08] Funk66 commented on #8100
The issue about changing secrets was mentioned in #6108. I have checked all resources being tracked by the corresponding applications and none of them sees to change, or at least not at that rate. The `ignoreResourceStatusField` parameter didn't help in my case. I will have to dig deeper to ferret out what is going on. I agree that more comprehensive logging would make this much easier.

[2022-01-17 11:42] psanzm commented on #8196
We are facing the same problem. We have a mono-repo and we configured webhooks in Github to trigger the resync but when an application is refreshed, we can see other applications totally unrelated and located in different paths being synchronized too.

This is an example of one commit modifying one application:

![Captura de pantalla 2022-01-17 a las 12 38 34](https://user-images.githubusercontent

[2022-01-17 12:57] kpiroddi-yieldstreet commented on #3491
Any update on this issue? Thanks

[2022-01-17 12:58] Piroddi commented on #3491
Any update on this issue? Thanks

[2022-01-17 15:01] AnjaliSrivastava29 commented on #6708
Hello!
Has there been any resolution for this?

[2022-01-17 15:13] jannfis commented on #8197
Close as duplicate of #8195

[2022-01-17 15:13] #8197 closed

[2022-01-17 15:48] gadiener commented on #1672
Yeah @tyriis, it's sad to see that. This would open the project to a wide range of new use cases

[2022-01-17 17:57] Phil0ctetes commented on #5202
Ran into this today :(

Do you have any timeline when the lookup will be available?

[2022-01-17 20:23] ognjen-it commented on #2558
Hi @victorboissiere ,

you wrote that you set somewhere Helm3, but you didn't write where :)
I deployed argocd-s3-proxy as well as you, but still have problems when trying to deploy the app:

Could you please write how did you resolve the problem with little more detail?

[2022-01-18 03:51] beekhof commented on #7623
Alternatively, we could create an interface for driving those capabilities that is compatible with the existing Helm/Kustomize first-class approaches (unlike using plugins today).

[2022-01-18 05:35] KarthikeyanODL opened #8204 "Unable to add multi cluster with IPv6 , secret name appending "[" with metadata.name from the server url"
I am trying ArgoCD to add multiple IPv6 clusters for my POC. I followed the instructions from the docs page.
I ran the below commad
./cli-argocd cluster add  cntxtname  --name sp2 --kubeconfig sp2

I got below error
INFO[0002] ServiceAccount "argocd-manager" created in namespace "kube-system"
INFO[0002] ClusterRole "argocd-manager-role" created
INFO[0002] ClusterRoleBinding "argocd-manager-role-bi

[2022-01-18 06:53] gimpiron commented on #5585
Hey, any news on that issue? are you guys found some good workaround?
I have tried to use neg / positive sync wave values but with no success - its not working on argocd/application
on latest version.

[2022-01-18 07:59] Mais316 commented on #4326
Having the same issue was there any fix, tried the above didnt work.

[2022-01-18 08:59] peterbosalliandercom opened #8207 "Stop self-heal between time periods"
# Summary

We want to implement a nightly downscale of our deployments and statefullsets. We have implemented a downscaler functionality which uses the kubectl scale command to downscale all non prd pods. This works good except for the ones that have self-heal enabled in the argocd application. Is it possible to create a self-heal window where the self heal temporaryly is disabled? This is the sam

[2022-01-18 09:23] testn commented on #2373
Has this been addressed?

[2022-01-18 09:27] yujunz opened #8208 "`make codegen` fails in `clidocsgen`"
**Describe the bug**

`make codegen` fails in `clidocsgen`

**To Reproduce**

Check out master branch. Run `make codegen`

**Expected behavior**

Code generated

**Screenshots**

N/A

**Version**

N/A

**Logs**

[code]

[2022-01-18 09:29] yujunz commented on #8208
It seems `import` is modified. Is it an unexpected outcome?

[code]

[2022-01-18 10:40] kamsz opened #8209 "Istio and event-stream calls for ArgoCD"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [

[2022-01-18 10:59] KarthikeyanODL commented on #8204
I changed domain name in my kubeconfig instead of ipv6 IP [::] . able to add the cluster

[2022-01-18 11:15] aslafy-z commented on #3008
Similar issue with v2.2.1+122ecef

[2022-01-18 12:22] sidh commented on #7237
Same issue here.

[2022-01-18 13:59] vaibhavjain882 commented on #5991
What are you getting in your sealed secret object events in the agro UI? I can see it is healthy but in the events, its shows "Failed to unseal: no key could decrypt secret".

[2022-01-18 14:08] ismailyenigul commented on #5991
Yes. because it is not sealed-secret code update. it is just helm update.

[2022-01-18 14:09] ismailyenigul commented on #5991
This is not something about sealed-secrets configuration.
Maybe you signed secret with non-existed key or sealed for different namespace.
How did you create this key?

[2022-01-18 14:16] cwilkers commented on #7992
This would be helpful as the current `--core` login process is broken unless you set your `/home/.kube/config` current context to include Argo CD's namespace, then never change it.

I would suggest also including an environment variable like ARGO_KUBECONFIG to accomplish the same goal.

[2022-01-18 15:01] cwilkers commented on #7986
I had more luck with the local toolchain on Fedora 35. Podman cannot quite manage the docker permissions the same as docker, so I had to switch. To make just the client, do `make cli-local`

[2022-01-18 15:28] rufreakde opened #8211 "ArgoCD example of Bitnami Sealed Secrets Application faulty"
# Summary
Using the example here
https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#declarative
results in a lot of kubeseal cli issues.

What change you think needs making.
- Just change the namespace to kube-system than it works out of the box from the example.

# Motivation
Very confusing since its a ready made example snippet.

# Proposal
Change namespace to kube-system

[2022-01-18 15:48] lirlia commented on #8131
i face same problems in helm chart.
so my workaround is to add a sync container

cmp-plugin

[code]

Deployment.yaml(argo-repo-server)

[code]

[2022-01-18 16:38] crenshaw-dev commented on #8131
Thanks for the workaround, @lirlia!

@gmalkov I'm still working on the timeout issue. I've realized that a configurable timeout on the CMP server probably isn't the best approach. Instead we should be using the Deadline from the repo server to inform how long the CMP server is allowed to take.

I expect to have a new PR up in a day or two.

[2022-01-18 16:50] sidh commented on #6215
We too are looking for labelled namespaces. It is required to enable automatic pod readiness gates for AWS LoadBalancer Controller - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/pod_readiness_gate/.

[2022-01-18 17:49] DWSR commented on #7655
Looks like this has been fixed here: https://github.com/argoproj/gitops-engine/pull/366

[2022-01-18 18:55] alexmt commented on #5181
@jannfis we can close this,  right?

[2022-01-18 18:58] jannfis commented on #5181
Oh nice. I forgot about this one totally :)

Closing. Was implemented by #8136

[2022-01-18 18:58] #5181 closed

[2022-01-18 19:06] hamza-tumturk commented on #6222
The changes in https://github.com/argoproj/gitops-engine/pull/335 haven't fixed this issue.
This error might soon affect many people who are upgrading Kubernetes clusters to 1.20 and above. As stated by @eestolano in v1.22 you can't even use v1beta1 as a workaround anymore.

[2022-01-18 19:38] gmalkov commented on #8131
@crenshaw-dev Makes sense, thanks again for jumping on this!

[2022-01-18 22:35] pthornton opened #8214 "OCI helm charts hosted in AWS OCI broken after upgrade from v2.0.4 to v2.2.2"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2022-01-18 22:40] pthornton commented on #8214
ApplicationSet that creates application for above chart:
[code]

[2022-01-18 22:43] #7186 closed

[2022-01-18 23:06] sunshine69 commented on #3008
I fixed the problem, mostly is around k8s ha scaler re-ordering which has been mentioned somewhere I found when googling - that is k8s auto re-range the condition based on key.

Another time happened is the mismatch between docker tag and image tag, so it is not really argocd problem (in my case)

[2022-01-19 01:40] HerHde commented on #1322
Since I ran into the same problem today while trying to add a private repo from my GitLab instance via SSH (AND host key verification) in a declarative way to my ArgoCD running in Minikube, I'll share my solution:

1. Gerate a SSH keypair for Argo without a password (`ssh-keygen -t ed25519 -N '' -C argo@minikube -f ed25519_delme`)
2. Add it as a (read only) deploy key to the GitLab repo
3. From th

[2022-01-19 05:51] peterbean410 commented on #4541
This error happens again in my settings (v2.2), can we reopen this issue?

[2022-01-19 08:55] pmorch commented on #8167
You might have a better chance of a response in Discussions rather than creating an issue for this.

Also, you're asking others for benchmarks. Have you yourself tried to benchmark this?

[2022-01-19 10:10] wofr opened #8218 "ClussterIssuer could not be intalled via ArogCD, and it is always marked as missing"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2022-01-19 10:14] peterbean410 opened #8219 "Fails to parse json when argocd handle jsonnet with a shared libary"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I used the same setup here https://github.com/argoproj/argo-cd/issues/4541 with only the basic.jsonnet file and a `vendored` folder and here is what I got

[code]
**To Reproduce**
1. Run

[2022-01-19 11:26] pavan-kumar-ceemala commented on #8167
Thanks for responding @pmorch, I could not try it myself, I'm trying my luck if somebody has done this already and can share here.

[2022-01-19 11:26] pavan-kumar-ceemala commented on #8167
I will follow up on the discussion one, hence closing this.

[2022-01-19 11:26] #8167 closed

[2022-01-19 11:39] gouravjoshicldcvr commented on #8113
@jgwest by limiting the reversion this issue got solved.
Thanks

[2022-01-19 11:59] NickLarsenNZ commented on #5992
I'm getting this too

[2022-01-19 12:07] tgolsson commented on #8179
That sounds fairly similar to what I did with different outcomes. I can for sure say that the shared resource warning said it was also owned by an app *that didn't exist*, i.e., *a.b.c.app*. The URL for that said it didn't exist, and it didn't show as an application in the frontend. I'm *not sure* whether it existed as a non-synced/dead resource inside the master app-of-apps.

[2022-01-19 14:39] crenshaw-dev commented on #2789
We should probably also consider whether the external values source should be able to also set a Helm targetRevision. That would be helpful in cases where a devops team wants to give developers the flexibility to set values and version, but not other parts of the Application (as in [this question from CNCF Slack](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1642590187462500)).

On the othe

[2022-01-19 14:53] edib opened #8220 "sync from running clusters to git repo"
# Summary

What change you think needs making.
sync should run two sided.
now it is only from git to the cluster.

# Motivation

Please give examples of your use case, e.g. when would you use this.
1. ARGOCD new comers already have running clusters. For them, it will be easy to sync both side.
2. gitops is a culture, sometimes, in harsh circumstances, it may be necessary to change something in k8s

[2022-01-19 14:55] NickLarsenNZ opened #8221 "OICD login stopped working (at least for Auth0)"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2022-01-19 16:01] leoluz commented on #7926
Resource override expects the 4th key split to refer to the resource identifier (GK) and the string value to be able to marshal into a `v1alpha1.OverrideIgnoreDiff{}` in case of `ignoreDifferences`.

To accommodate the existing logic the updated proposal is to define the keys as:

[code]

[2022-01-19 16:38] hammeryx commented on #8214
@AustinSmart  t I noticed you had some comments in other threads around OCI chart deps being broken in 2.1.0.... Is this related?

[2022-01-19 16:49] hammeryx commented on #8214
Is there a workaround for that?

[2022-01-19 16:57] pthornton commented on #8214
[code]

Might be related to [7104](https://github.com/argoproj/argo-cd/issues/7104)

[2022-01-19 17:44] alexmt commented on #5992
Argo CD API server indeed has an "interceptor" that translates K8S unauthorized errors to Unauthenticated  (401): https://github.com/argoproj/argo-cd/blob/988d7604743339da02983317b789a6cc9072ae75/util/grpc/errors.go#L67

I think this is incorrect:
- If Argo CD access its own cluster to read application/configmap etc then unauthorized errors should be translated to internal error
- If Argo CD tries

[2022-01-19 19:02] cten opened #8223 "Clarification on performance caveat in docs"
# Summary

Update docs to clarify if when using Kustomize (with overlays) but not using `parameter overrides` still causes a performance degradation. Also clarify if its possible to process in parallel parameterless Kustomize apps.

# Motivation

Trying to improve performance of Argocd deployment, docs aren't clear for my setup.

# Proposal

Docs updated to clarify

[2022-01-19 19:03] crenshaw-dev commented on #8223
The doc page in question: https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#enable-concurrent-processing

[2022-01-19 20:15] jannfis opened #8225 "Escape key should close sliding window in UI"
# Summary

In the UI, when a slider window opens, it should be closable using the Escape key.

# Motivation

Better user experience for people using the UI with keyboard and mouse in combination. Being able to close popups/modals using the Escape key seems best practice.

# Proposal

Have the slider closable using the Escape key.

[2022-01-19 20:39] shruthiiraju commented on #5982
@alexmt / @drewboswell If nobody is working on this, and this is still a needed fix, I'd like to get started to implement this!

[2022-01-19 20:54] alexmt commented on #5982
Thank you @shruthiiraju !

[2022-01-19 21:14] jannfis opened #8228 "Stop bundling and shipping Helm v2 binaries"
# Summary

For backwards-compatibility reasons, we still ship a version of Helm 2 binaries with the Argo CD container image. We have deprecated Helm v2 in v2.0.0 and promised shipping Helm v2 for the next two consecutive releases.

For release v2.4, we should stop bundling and shipping Helm v2 and remove any support for it from the code base.

# Motivation

Helm v2 is end-of-life since a while. We

[2022-01-19 21:57] sidprak commented on #8075
Can we use an LTS image so we don't have to keep updating it so often? If we switch to 20.04, it will remain supported until 2025.

[2022-01-19 22:28] jannfis commented on #8075
We had that discussion when we moved from Debian to Ubuntu, but decided against it: https://github.com/argoproj/argo-cd/issues/5047

[2022-01-19 22:46] alexmt commented on #8075
Created PR just in case: https://github.com/argoproj/argo-cd/pull/8230
@jannfis  please let me know if I'm missing something

[2022-01-19 22:57] #7926 closed

[2022-01-20 05:07] Sphinxgaia commented on #6126
I could take this, if nobody is on 😁

[2022-01-20 05:37] 594904292 opened #8232 "not open argocd webconsole"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2022-01-20 07:29] #8075 closed

[2022-01-20 09:34] dosmanak opened #8233 "kustomize fails with github resource on argcd-server while on localhost it works"
* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I use kustomize, so I have a repo with kustomization file in DEV subdir with resources leading to another git repo on the same server, but it use a resource from github.
Both `kubectl kustomize` an

[2022-01-20 11:24] bat79a commented on #4096
Hi all.

I have the admin user enabled, I can login on the UI with this admin user, and have created 2 users with a configmap.

I can list and see this 2 users with :
- argocd account list --port-forward service/argocd-server --insecure

But when I want to create password for this 2 new local users like the docs explain, it's impossible :
- argocd account update-password --account baptiste --curre

[2022-01-20 13:20] tgolsson commented on #8179
Oh, sorry @jannfis , I know why we're getting different results! We specify `- FailOnSharedResource=true` in our common application config. So that's why we're getting this because it *can't* sync. I still think it's a *bug* because it's not actually shared anymore, we've deleted the other app - i.e, the ownership annotations are outdated.

[2022-01-20 14:37] jannfis commented on #8179
@tgolsson Argo CD at that point wouldn't know that resource is _not_ shared anymore. For example, it could be managed by another Argo CD instance on the cluster, e.g. due to a misconfiguration. And I think it's fair to assume that with that option set to `true`, the sync fails once a resource has the application instance label set on it.

I could see a possibility to be less strict for `FailOnShar

[2022-01-20 14:54] tgolsson commented on #8179
I think removing the annotation is always safe, no matter whether there's multiple ArgoCD instances -- the annotation is the lock, no matter who owns the application manifest itself - right?

Let's assume *all* applications have the flag; then:

* Since the flag was set, we know that when deleting an application, it *must* be the true owner of any resource which currently has the annotation matchi

[2022-01-20 15:16] crenshaw-dev commented on #3336
This issue should have been solved with the PR above. If you're still encountering it with >= 1.5.1 please add instructions to reproduce the issue (i.e. your Argo CD version and the chart/version it's failing with).

[2022-01-20 15:48] djmario-ro opened #8235 "ArgoCD does not deploy app. Is actually char by char some variables"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [

[2022-01-20 16:02] crenshaw-dev commented on #8235
Did a little find/replace to get to the super weird part of the logs:

[code]

[2022-01-20 16:14] chetan-rns commented on #8232
Please provide more information about the bug

[2022-01-20 23:03] pmorch opened #8243 ""Configure plugin via sidecar" ⇒ child resources not pruned on deletion"
**Describe the bug**

The behavior differs between a [plugin via Argo CD configmap](https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/#configure-plugins-via-argo-cd-configmap) and a [plugin via sidecar](https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/#configure-plugin-via-sidecar) if the application manifest has:

[code]

When the plugin is

[2022-01-20 23:07] pmorch commented on #8117
Do see #8243 before deprecating `argocd-cm` plugins.

[2022-01-20 23:57] maximmold commented on #2795
Did this work for you? I've been struggling even with the ~1.

[2022-01-21 00:29] #7760 closed

[2022-01-21 02:11] pmorch commented on #3688
@jessebye writes:

One thing with jsonnet-bundler/`jb` that tends to get overlooked is when a dependency inside `jsonnetfile.json` refers to a private git repo. Then a simple `jb update` is not going to suffice.

Is that one of the situations you got working? How?

If PAT is a "personal access token", then one way I've got it working with `bash` is:

[code]

My vote would be that if jsonnet-bundle

[2022-01-21 03:45] keithchong commented on #8024
Hi @lancehudson , the base URL is currently calculated by:

`const root = `${location.protocol}//${location.host}${context.baseHref}`;`

eg. everything before `api/badge....`

Do you simply want to override this base URL with the config option (in the config map)?

Does this redirection work for you currently?

According to the docs

https://argo-cd.readthedocs.io/en/stable/user-guide/status-badge

[2022-01-21 04:27] sidprak commented on #8075
@jannfis how often do you normally do releases? Is it possible to do a release for this soon since the EOL date for Ubuntu 21.04 was today?

[2022-01-21 11:30] Eslam-mohammed-anwar commented on #5442
Yes we experience the same issue here ,as the argo notification failed to push github statue with error

level=error msg="Failed to notify recipient {github \"\"} defined in resource default/xxxxx-qa: POST https://api.github.com/repos/xxxxx/xxxxx/statuses/%3Cno%20value%3E: 422 No commit found for SHA: <no value> []" resource=default/xxxxxxx-qa

[2022-01-21 11:53] patrickjahns opened #8249 "Invalid Semantic Version when using KUBE_VERSION in configManagementPlugins in EKS 1.20"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2022-01-21 14:54] subhashchy commented on #677
Would be great for us to have as well.  For us each application is a set of Frontend, edge-api-gateway, redis and 2 different edge workers.

[2022-01-21 15:10] maximmold commented on #2795
I'm having issues ignoring a label in a CRD. It appears that K8S is automatically removing it for some reason and I'd like to just ignore it if the label is there in source control, but not showing up in K8S.

The CRD looks like this
[code]

Here is my application spec...
[code]

Does this not work with the custom plugin?

[2022-01-21 17:34] williamsmt commented on #5958
#8032 seems promising for a long term approach

[2022-01-21 17:42] renaudguerin commented on #4808
Exactly. Very interested in this feature too, as we have ArgoCD managed by itself and we have to go back to the root manifests and commit things to git whenever we need to temporarily disable `selfHeal` in an `Application` several levels below.

[2022-01-21 19:12] amitde69 opened #8252 "separate refresh button without diffing against git"
# Summary

Couldn't find an issue on this already so... I think we should have some kind of button to refresh the view of the resources in the cluster.

# Motivation

Sometimes the application view isn't updated in real time with the cluster state.
For example while a roll out happens and I observe the pods and can see when they scale or transition between running/pending/failed state.
To reload t

[2022-01-21 20:43] armenr commented on #3039
+1

[2022-01-21 21:21] agaudreault-jive commented on #4808
I have the same use case, I also tried to configure diffing on the parent application, with the code below, however, if the parent application detect that the app is OutOfSync for any other reason or if a manual sync is done on the parent application, then it will re-apply what is configured in the source control.

The only way to turn off automated sync when the app is managed as code, is to do a

[2022-01-21 23:58] morningspace commented on #5585
It looks I am having the same issue. I'm using ApplicationSet and created the top level application pointing to a set of ApplicationSet from UI, not sure if it introduces any difference. After the top level application created, the apps will be auto-generated after I registered a cluster (I'm using cluster generator), then I see all child applications are created automatically and some application

[2022-01-22 21:11] ishitasequeira commented on #8208
Tried running it locally. Did not face any issues in `make codegen` from master branch.

[code]

Maybe try clearing go cache and rerun `make codegen`

[2022-01-23 12:01] #8249 closed

[2022-01-23 15:49] TheGeka commented on #8221
Thanks, was searching like crazy to see if I did the setup wrong but reverting to 2.2.2 fixed it for me.

[2022-01-23 17:27] NickLarsenNZ commented on #8221
@TheGeka, do you also use Auth0 or another OIDC provider?

[2022-01-23 19:06] TheGeka commented on #8221
I use Keycloak as OIDC provider.

[2022-01-23 22:15] romuduck commented on #8168
If i understood right, only the argocd-cm listed plugins will be visible.
New plugins work on discovery only. You shall not provide a plugin name in your application manifest (or it will try to look for it in argocd-cm), but rather make sure the discovery method returns successfully when run on your app source.

[2022-01-24 05:34] yujunz commented on #8208
Tested OK on a clean checkout.

[2022-01-24 05:34] #8208 closed

[2022-01-24 07:19] gevraud commented on #8168
Hello,

Yes, I removed it in every yaml and it's working now.

But the question is : why is there a plugin section in an ArgoCD App if it remains / should remain empty ?

Regards

[2022-01-24 12:41] singhravinderlko opened #8266 "OCI helm chart with dependencies not picking helm repo secret"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [y] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [y ] I've included steps to reproduce the bug.
* [

[2022-01-24 12:51] NickLarsenNZ commented on #8221
I'm thinking this is a UI bug, as I can still do SSO login via the CLI:

[code]

[2022-01-24 12:58] whyman commented on #4628
👍 From us too, for [External Secrets key name restrictions](https://github.com/external-secrets/kubernetes-external-secrets#using-namespace-annotation)

[2022-01-24 15:41] conman2305 commented on #7284
Hey - just wanted to do a friendly poke to see what the status of this ticket is.

Thanks!

[2022-01-24 16:24] jgwest commented on #7351
@alexmt @ishitasequeira

We have a minor chicken-and-egg relationship (dependency cycle) between Argo CD and ApplicationSet controller:
- The Argo CD install manifests point to the ApplicationSet install manifests (see PR#8148)
- But, ApplicationSet depends on Argo CD, in ApplicationSet's `go.mod`

## My proposed solution is:

First, Argo CD 'master' branch should always points to ApplicationSet '

[2022-01-24 17:02] alexmt commented on #8175
Seeing the same in one of our Argo CD instances. Investigating the reason.

[2022-01-25 00:57] marcellodesales commented on #1322
# 🎉 Multiple Private Repos in Gitlab - Shared SSH Key - `Prefixed ssh://`

* First define the shared secret using `ssh://` repos for pattern matching the URLs
* Declare the repo in a project that matches the repo substring

# 🔧 Shared Gitlab Secret for an Org

[code]

## 🔧 Declare the app with URL (substring)

[code]

[2022-01-25 00:59] alexmt opened #8269 "argocd CLI fails in core mode"
**Describe the bug**

The any argocd CLI fails in headless mode

**To Reproduce**

* `argocd login --core`
* `argocd app list`

**Expected behavior**

Command should not fail.

**Version**

[code]

**Logs**

[code]

[2022-01-25 02:52] jsoref opened #8271 "Ingest https://api.github.com/meta"
# Summary

GitHub has added their ssh keys to https://api.github.com/meta

# Motivation

A number of us suffered a major GitHub driven CI outage as covered by #7723 and temporarily fixed by #7722

# Proposal

How do you think this should be implemented?

Parse https://api.github.com/meta to extract the `ssh_keys` array (probably at start of the proper module).

At present, it has this content:
[co

[2022-01-25 03:45] cdobbyn opened #8272 "Optionally query OIDC UserInfo to gather group claims"
# Summary
Today the OIDC implementation assumes that every OIDC provider provides "fat tokens" (containing the id token, profile attributes, and groups). It should be optionally available to query `/userinfo` to gather the necessary profile and group information.

# Motivation
This will increase the usability of OIDC with ArgoCD and enable more compatibility with IDPs.

Today ArgoCD with OIDC is i

[2022-01-25 05:34] yujunz opened #8273 "Group nodes with threshold"
# Summary

Allow configuring a threshold for grouping nodes

# Motivation

Grouping nodes simplifies UI when there are many nodes. The drawback is that it requires an extra click to view details.

# Proposal

Group nodes only when the count exceeds a preconfigured threshold, e.g. 3.

[2022-01-25 08:12] jannfis commented on #8271
While it may sound tempting, I think we shouldn't do this.

What if people decide to remove github.com SSH keys from their configuration, because they don't use GitHub? Will they automatically be re-added? Or what if they are in a disconnect environment, and don't have access to github.com (or the Internet) at all? Or what if GitHub delivers "garbage" by accident from that endpoint for a while?

I

[2022-01-25 08:15] #8269 closed

[2022-01-25 11:15] 1234 commented on #3336
same problem in helm.sh/chart: `argo-cd-3.31.0`
how to reproduce:
[code]
workaround:
include crds in your helm template using `--include-crds`
[code]
NOTE If you get an error like this after first run:
[code]
 just run the command again, this happens because you’ve just installed the CRD Application and trying to install an instance of it.

[2022-01-25 11:38] #8181 closed

[2022-01-25 11:52] christophercutajar commented on #3864
We're experiencing the same timeout issues after deploying an ApplicationSet which creates 9 applications.

[code]

ArgoCD version deployed: v2.2.2+03b17e0
ArgoCD ApplicationSet version: v0.3.0

Controller settings:

[code]

GitHub API rate limits are 5000 API calls per hour, or ~83 calls per minute. I'm not knowledgeable enough about ArgoCD engine to say that we're hitting such but limits but I t

[2022-01-25 12:31] luna-duclos commented on #3295
We're also dealing with this issue when generating manifests via a custom plugin, its very hard to get started when this happens spuriously and we'd need to be able to see the generated source

[2022-01-25 13:48] jsoref commented on #8271
There should be a flag to turn it on/off.

The alternative of adding a check to CI seems like a good first step.

[2022-01-25 15:34] lancehudson commented on #8024
I have sso configured, so it is using a fixed url. That url is internal ONLY. I have a separate url setup for webhook and status badges. I'd like to be able to override the image url to that separate url. Does that clear things up?

[2022-01-25 17:28] OmerKahani commented on #8271
I think there is an assumption here that everyone is running the latest ArgoCD.

This solution would support all ArgoCD from version X, no matter if they run the latest version of not

[2022-01-25 20:32] LiorLieberman commented on #6787
any updates on this?

[2022-01-25 20:55] gigi206 opened #8278 "deleting an application that uses a certificate generated by cert-manager can lead to being stucked"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
If you install an application that requires a certificate generated by cert-manager and after you delete it on the web UI, you have a chance to be stuck for a long time because cert-mana

[2022-01-25 22:03] ishitasequeira commented on #7351
@jgwest This totally makes sense. I will update the URL pointing to the master.
Should the process be documented somewhere in the docs?

[2022-01-25 22:32] NickLarsenNZ commented on #8221
Accidentally closed via description text containing "fixed"

[2022-01-25 22:34] kgyovai commented on #8122
I'm encountering a similar issue with 3 nodes.

Warning  FailedScheduling  0s (x8 over 6m45s)  default-scheduler  0/3 nodes are available: 3 node(s) didn't match pod affinity/anti-affinity rules, 3 node(s) didn't match pod anti-affinity rules.

app.kubernetes.io/name=argocd-redis-ha-haproxy

[2022-01-25 22:38] alexmt commented on #8221
The https://raw.githubusercontent.com/argoproj/argo-cd/8b57bc990cd72c6475e2ae88126a1ed57e2460a3/manifests/ha/install.yaml uses the latest image tag. So it pulls the most recent version of the Argo CD. We've recently migrated to `golang-jwt/jwt` (https://github.com/argoproj/argo-cd/pull/8136). It might be related

[2022-01-25 23:42] alexmt commented on #7351
Thanks a lot for thinking about it, @jgwest ! Agree with your proposal - it makes total sense.

[2022-01-25 23:45] #8131 closed

[2022-01-26 07:22] shuker85 commented on #8228
Hello @jannfis. In addition to binaries should the tests be also removed ? On 1st sight i found lots of places where helm2 is referenced.

[2022-01-26 09:53] guilhem opened #8281 "UI crash when using proxy"
**Describe the bug**

UI crash when using proxy

![Screenshot-20220126104208-1818x426](https://user-images.githubusercontent.com/486876/151141199-68675a73-eb18-41b8-8cd4-2114773d3fb7.png)

**To Reproduce**

Install argo on a rancher controlled cluster and use proxy:
![image](https://user-images.githubusercontent.com/486876/151141362-f6f0633f-a2dd-4d5f-a2b3-9864f9ea66fe.png)

**Expected behavior**

[2022-01-26 09:57] wofr opened #8282 "Sync Failed (Cluster-Bootstrapping) on external cluster due to missing CRD"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ x] I've included steps to reproduce the bug.
*

[2022-01-26 11:18] #7351 closed

[2022-01-26 12:49] jannfis commented on #7983
I was wondering whether this enhancement becomes superfluous once #2789 is implemented, which allows storing values file for Helm charts in a Git repository. This way, Argo CD would just use the credentials configured for the Git repository where the values file is stored.

[2022-01-26 15:02] gorantornqvist opened #8284 "Custom repository certificates are removed after addition (v2.2.2+u)"
**Describe the bug**

We had argocd running fine for a while connected with our internal GitLab that uses a certificate issued from our internal PKI.
We had repository certificates containing the host cert, issuing ca cert and root certificate.
Today argocd stopped working with the error "x509: certificate signed by unknown authority"
The repo certs arent displayed in Settings / Certificates and i

[2022-01-26 15:50] cnukwas commented on #8284
We have noticed same issue after OpenShift GitOps operator upgraded to 1.4.0 version. Opened a support case as I don't see an option to revert the operator and Argo CD to an earlier version.

[2022-01-26 15:54] leoluz commented on #4808
@agaudreault-jive wrote:

This will be addressed by https://blog.argoproj.io/new-sync-and-diff-strategies-in-argocd-44195d3f8b8c

[2022-01-26 16:05] agaudreault-jive commented on #4808
@leoluz I havent, It seemed too hack-ish to use the sync windows as a process to disable the sync during emergencies.
I will try to add the following configuration when I have the time to test master locally or when 2.3 is released.

[code]
This seems like it could work, and it will be applied only for the automated fields

[2022-01-26 16:40] jannfis commented on #5104
@sbose78  Can this be closed with #8148 merged?

[2022-01-26 17:08] NickLarsenNZ opened #8286 "Notifications slack template: invalid_attachments"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2022-01-26 17:34] NickLarsenNZ commented on #8286
I just tried it this way, which works:

[code]

 but I'm now stuck trying to specify the block color. I have tried the following without success:

[code]

[2022-01-26 18:59] #5873 closed

[2022-01-26 19:18] alexmt commented on #6300
PR argoproj/gitops-engine#347 fixed ports issue but addresses issue is still there. Working on second PR to fix it as well

[2022-01-26 19:45] alexmt commented on #8286
@pasha-codefresh can you please help?

[2022-01-26 19:45] romuduck commented on #7983
Indeed. Passing values via a Url is more like a workaround until 2789 gets implemented (just saw it was shifted by a release), but with no authent plus the need to regenerate the url so to "refresh" the app is a bit of a bricolage

[2022-01-26 19:58] romuduck commented on #7983
I also saw some request for enhancement on appset side to add "function"... associated with a git file generator you could cover #2789 (Loosing the commit track though)

[2022-01-26 22:32] lucianiz commented on #7786
@MatteoJoliveau  did you find a workaround for this?

[2022-01-26 22:55] alexmt opened #8287 "EndPoint with multiple addresses causes false diff"
**Describe the bug**

EndPoint with multiple addresses causes false diff

**To Reproduce**

Create Argo CD app that manages endpoint with several addresses

**Expected behavior**

The difference in addresses order should not case diff

**Screenshots**

![](https://user-images.githubusercontent.com/65038083/131903967-4be9cb48-fa84-427c-beca-24a97d21a0d6.png)

**Version**

[code]

[2022-01-26 22:55] alexmt commented on #6300
Created separate ticket for endpoint addresses https://github.com/argoproj/argo-cd/issues/8287

[2022-01-26 22:55] #6300 closed

[2022-01-26 23:04] mfbieber commented on #8214
I had the same issue (also AWS ECR repo that connected well but the same 401 error when adding an application).

The regression probably came in with (lines 195 to 197 in `RepoAdd()` in `util/helm/cmd.go` on October 30th 2021):
[code]

This is not what we need to login to the ECR, we need it without the --pass-credentials flag for helm. So for instance, this works to login:
[code]

I haven't dug i

[2022-01-27 00:02] sunshine69 commented on #5944
Hi, I have the same problems and for me configuring using dex does not work. I am sure we do not have any dex instance running in our environment which might cause conflict. If I use dex then after clicking the auth button it just refresh the browser quickly and goes back to where it was without any error or more useful information.

However using direct OIDC seems to work at least I can authentic

[2022-01-27 01:11] jsoref opened #8289 "Clicking text next to radio buttons doesn't work in delete resource dialog"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2022-01-27 02:47] #8098 closed

[2022-01-27 03:42] acherla commented on #2288
I dont think this actually solves the issue.  The user is explicitly requesting the ability to add the same cluster api url with different alias'.  Right now since ArgoCD keys off of the api server url, it results in the controller picking up the incorrect cluster.

The user is likely asking for this feature because they want the ability to add multiple alias' for the same cluster due to namespace

[2022-01-27 04:37] peterbean410 commented on #8219
Finally settled with `exclude` rules, so closing this issue

[2022-01-27 04:37] #8219 closed

[2022-01-27 04:48] iam-veeramalla commented on #8284
Hi @gorantornqvist , Thanks for raising the issue. However, this is not the right place. OpenShift-GitOps issues are tracked here.
https://github.com/redhat-developer/gitops-operator

Please feel free to raise an issue there.

[2022-01-27 04:48] #8284 closed

[2022-01-27 04:51] iam-veeramalla commented on #8284
@gorantornqvist I raised an issue with the gitops-operator
https://github.com/redhat-developer/gitops-operator/issues/271

[2022-01-27 06:09] #8221 closed

[2022-01-27 06:31] gorantornqvist commented on #8284
Aaah operator overwrite, of course.
Thanks ...

[2022-01-27 08:55] fabricepipart1a commented on #7983
@jannfis I would say that having #2789 could unblock us. But I don't think that would fill the gap for all our needs. let me elaborate why.

As of today, we have a separate repository that contains all our environment files. This is because:
- we wanted to have them generated
- we have tens of similar environments
- those environment files are handled by ops and not by dev like the helm chart is

[2022-01-27 13:01] Reamer commented on #5792
I have the same problem. The workaround from @peterbosalliandercom does not work for me. I am using ArgoCD 2.1
I have added the two annotations that @jannfis mentioned.

[2022-01-27 13:41] Links2004 commented on #3553
`clusterResourceWhitelist` and `clusterResourceBlacklist` with `name` support is exactly what we need for our use cases.

[2022-01-27 14:05] yellowmegaman commented on #1786
Extremely needed indeed!

[2022-01-27 14:40] cnukwas commented on #8284
@iam-veeramalla, thanks for the update. I saw your post on RH bug list and workaround details. It's working now.

[2022-01-27 17:11] benjyiw commented on #7890
@bgolding355 were you ever able to find a work around for this problem?

[2022-01-27 17:41] bgolding355 commented on #7890
I do not quite recall unfortunately

I believe that I deleted the redis pods and terminated the sync

sorry ^ can't be of more help. Good luck

[2022-01-27 17:50] pasha-codefresh commented on #8286
I didn't find the possibility to define block color in slack API. i think it is impossible

[2022-01-27 17:51] saumeya opened #8298 "Horizontal Scrolling doesn't appear until page end"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2022-01-27 19:31] arthurlm44 commented on #5232
@cp1408 any luck on sharing a sample? :grimacing:
I'm stuck on the same issue, and the docs are incomplete...

[2022-01-27 20:09] #8286 closed

[2022-01-27 20:41] trv-jsmith10 commented on #7680
We are going to execute test on Argo CD v2.2 and report  back with results. If we don't observe the issue I'll close this issue.

[2022-01-27 22:11] reginapizza commented on #8225
I'll try to take this one!

[2022-01-28 07:51] iam-veeramalla commented on #5621
This issue is obsolete. I have tested this on the latest version of Argo CD v2.2.2. Please refer to the screenshot below.
![Screenshot 2022-01-28 at 1 18 18 PM](https://user-images.githubusercontent.com/43399466/151507771-4d0730f7-802d-4a03-8d32-998962a17989.png)

@jsoref I am closing the issue. Please feel free to open the issue If you still see it.

[2022-01-28 08:09] iam-veeramalla commented on #3180
@gregdurham were you happy with the discussion #1648 ? Please let us know if we can close this issue ?

[2022-01-28 08:15] iam-veeramalla commented on #3768
In my opinion it is a good practise to keep the approach as simple as posible. An application per micro service would be a better approach.

@bmartima this issue is in opened state for almost more than 6 months now. Did you figure out which approach is better for you ? Please let me know if this issue can be closed.

[2022-01-28 09:01] iam-veeramalla commented on #3876
@syedimranhassan

And if we specify our local branch in yaml file and that branch will not be in the remote repo it will through error
I was looking into your issue description and I think you have misunderstood the flag `--local`.

Please find the usage below. It has nothing to do with local or remote branches as using `--local` tag does not query any git server.
`--local string`           ->

[2022-01-28 09:05] wofr commented on #8282
The problem seems definilty to be liked to the app of apps pattern.  If I add the application one by one the deployment works like expected.  Otherwise I currently do get the Sync-error

![grafik](https://user-images.githubusercontent.com/2195242/151518215-afdcd0a1-6d39-4733-8c10-352f94c272d5.png)

[2022-01-28 09:17] iam-veeramalla commented on #3958
I hope that is what you are looking for ? @rsassPwC please feel free to re-open the issue if you still face any issue.

[2022-01-28 09:17] #3958 closed

[2022-01-28 09:22] kostis-codefresh commented on #3570
@AceHack you can already do that with crossplane.io

More info here https://codefresh.io/about-gitops/gitops-for-infrastructure-and-applications/
or if you prefer video format
https://www.youtube.com/watch?v=pdECNa80pfk

I agree that I don't see what implementation is needed on the ArgoCD side. It just works.
Or maybe we can add some documentation about this? Would that be enough for you?

[2022-01-28 09:42] jannfis commented on #8281
What do you mean by "and use proxy"?

Use proxy between client (browser) and server (argocd-server), or when there is proxy environment defined for the Argo CD pods?

[2022-01-28 10:14] jannfis commented on #8271
I was giving this a little more thought, and I'm still opposing having this feature in the core as automated means to update the Argo CD configuration.

For one (and this is a weaker concern), this would (presumably) only solve an issue for one very vendor specific use-case (i.e. for `github.com`). We do ship keys for other vendor's public offerings (i.e. gitlab.com, bitbucket.com) as well.

Secon

[2022-01-28 10:41] rhblind opened #8306 "Openshift route health checks are stuck in "Progressing" state"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version` (only json output, sorry).

**Describe the bug**

After upgrading Argo CD to `v2.2.2+unknown` routes are stuck in "Progressing" state.

**To Reproduce**

I have tried the following

- Deleted the route from Op

[2022-01-28 10:42] rhblind commented on #8306
Tagging some co-workers for FYI reference
- @stianfro
- @niklashjh

[2022-01-28 11:52] tamilsaran opened #8307 "How to rename the argocd application name? Eg. I put the application name in the test I want to rename the application like test into dev?"
### Discussed in https://github.com/argoproj/argo-cd/discussions/8305

<div type='discussions-op-text'>

<sup>Originally posted by **tamilsaran** January 28, 2022</sup>
How to rename the argocd application name? Eg. I put the application name in the test I want to rename the application like test into dev?</div>

[2022-01-28 11:56] jsoref commented on #5621
@iam-veeramalla reopened. Please try harder to reproduce next time.

[2022-01-28 12:00] jsoref commented on #8271
I'm sure that BitBucket and GitLab can be convinced to offer similar APIs.

The data is validated by TLS which is definitely a validated source.

I think a job that does this instead of burning in the values might be better. Clearly burning in the values had bad results.

[2022-01-28 12:14] iam-veeramalla commented on #5621
@jsoref Can I know the reason for re-opening the issue ? Do you still see a curved line without any description in the latest version of Argo CD ?

[2022-01-28 12:15] jsoref commented on #5621
@iam-veeramalla: I updated the description. I reopened because it's still there and it was clear you didn't put in the minimal effort to confirm it wasn't.

[2022-01-28 12:31] iam-veeramalla commented on #5621
I wish you could have updated this description before. It is next to impossible to understand what your intention is without updating the steps to reproduce.

Anyways, Thanks .. steps are much clear now. I will try to reproduce.

[2022-01-28 12:32] iam-veeramalla commented on #5621
Looking at the changes that you made to the description, I feel that you almost opened a new issue.

[2022-01-28 12:37] jsoref commented on #5621
I didn't realize when I filed the issue that my screen was sufficiently narrow to trigger a special case. If you went back to the original version and tried to reproduce the issue in good faith, you'd only reproduce it w/ a narrowed window. Thus, the issue is not new, just clarified.

[2022-01-28 12:38] sekthor commented on #7894
Thank you very much @ONordander. Your answer made me realize I have been putting tokens in the wrong format into the kubernetes secret.
As you said, the correct format is `[{"id": "token-id", "iat": 123}]`, whereas I assumed it needed to be in the base64-JWT format of e.g: `["eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZXN0IjoidGVzdCJ9.ljmhQFQyD3RFJIiB1yxxEmai2qF-3E8SyjYvlGYThQ8]"]`

[2022-01-28 12:38] #7894 closed

[2022-01-28 12:42] iam-veeramalla commented on #5621
Ok .. Anyways, it's much clear now. Thanks for updating the description.

[2022-01-28 13:34] jannfis commented on #8271
No, it is not. I don't want to nit on that, but simplified speaking, TLS only validates whether the peer you are talking to is indeed the one you think it is, and it makes some promises about the integrity of the data that the peer sent (i.e. that it was not modified on the way from system a to system b) - hence the name "Transport Layer Security", as it secures the transport layer between two sys

[2022-01-28 13:41] jannfis commented on #8307
Closing as duplicate of #8305. Please not open a discussion and an issue for the same topic. Thanks.

[2022-01-28 13:41] #8307 closed

[2022-01-28 13:53] jannfis commented on #8282
In an app-of-apps pattern, the `Application` used as parent app needs to have your local cluster and Argo CD namespace (usually `argocd`) as destination.

[2022-01-28 13:54] jannfis commented on #8306
@ishitasequeira Can you please take a look at this?

[2022-01-28 13:58] jsoref commented on #8271
Ok, you're right, this is pointless.

PGP keys only assert that someone either had access to keys, access to enough computing power to forge a signature, access to your computer to hack its processing path, or access to the supply chain for the software running on your computer.

The same applies for TLS. If your supply chain is compromised that you can't properly validate a TLS connection, then,

[2022-01-28 14:35] dnskr commented on #8306
@rhblind Check release [v2.2.3](https://github.com/argoproj/argo-cd/releases/tag/v2.2.3)
[code]

[2022-01-28 14:35] iam-veeramalla commented on #3180
Thanks for closing the issue @gregdurham

[2022-01-28 14:47] rhblind commented on #8306
@dnskr Ah, thank you very much! Missed that one!

[2022-01-28 15:34] leoluz commented on #8081
I did a quick investigation about how to implement this using existing tools. The SPDX format is the standard used for producing SBOM documents. I [this github action](https://github.com/philips-software/spdx-action) that will generate a SPDX file automatically inspecting the repository using [ORT](https://github.com/oss-review-toolkit/ort) which is compatible with go projects.

An example on how

[2022-01-28 16:14] jannfis commented on #8306
Fixed with #8170

[2022-01-28 16:14] #8306 closed

[2022-01-28 18:58] #4935 closed

[2022-01-28 20:19] #5936 closed

[2022-01-28 20:29] jannfis commented on #8228
Yes, probably everything related to Helm v2 should be removed from the code base.

[2022-01-29 01:06] ilanni2460 opened #8314 "argocd cluster add cannot add a cluster through the proxy-url of kubeconfig"
argocd version: 2.2.3

kubeconfig config:
`
apiVersion: v1
clusters:
- cluster:
    proxy-url: http://192.168.254.176:3128
    server: https://10.20.10.10:6443
...
`

 argocd cluster add cannot add a cluster through the proxy-url of kubeconfig

this is error log:

argocd cluster add c4135f4aa85864 --kubeconfig prod-k8s-admin --name prod -y
INFO[0000] ServiceAccount "argocd-manager" created in name

[2022-01-29 01:45] phortonssf commented on #4979
Argcd 1.7.7  with dryrun infinite loop with hooks. How to stop sync?

[2022-01-29 13:42] TheDome commented on #8278
Same for me. I am using LetsEncrypt ClusterIssuer to issue the certificates, but I am also receiving the following kubernetes logs:
[code]
The current solution for me it to orphan delete the ingress manually, which is quite time consuming for several apps

[2022-01-29 14:37] MaxWinterstein commented on #5991
Same here, after few rollouts it was stuck while waiting for something of sealed sealed secrets.

Updating from `1.6.x` to `1.7.3` seems to fix it for me.

[2022-01-29 19:56] albertfrates commented on #8067
This issue can be fixed by reformatting your ingress service spec to:

`spec:
  rules:
  - host: argocd.argoproj.io
    http:
      paths:
      - pathType: ImplementationSpecific
        backend:
          service:
            name: argogrpc
            port:
              number: 80
      - pathType: ImplementationSpecific
        backend:
          service:
            name: argocd-server

[2022-01-29 23:14] jacekszlachtass opened #8317 "Build environment should be available to kustomize"
# Summary

Build environment should be available to sources using kustomize.
At the moment this is not supported: https://argo-cd.readthedocs.io/en/stable/user-guide/kustomize/#build-environment

# Motivation

It is possible to use env variables with kustomize, please see these links:
https://rm3l.org/using-system-envvars-with-kustomize/
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/k

[2022-01-29 23:15] yeya24 commented on #7682
@alexmt @jessesuen I don't think this works as well. We only registers workqueue metrics to the registry inside `component-base` library and we don't register it when serving `/metrics` endpoint. We need to register workqueue metrics to controller's own registry

[2022-01-30 01:00] yeya24 commented on #7682
I just created https://github.com/argoproj/argo-cd/pull/8318 to fix this.

[2022-01-30 18:04] justinwatkinson opened #8320 "Add project Filter to argocd app sync sub-dommand"
# Summary

The `argocd app list` command supports adding a `--project` filter, in addition to the selector argument.  This will allow users of the CLI to avoid additional looping by having to first issue an `argocd app list` (with project filter) to get a list of unique Applications names, then separately call argocd app sync.

# Motivation

This will make the CLI operation more consistent and all

[2022-01-30 18:15] kshamajain99 commented on #8287
@doyelese Will you be able to share some more details about your endpoint objects? Does it have non-empty targetRef ?

[2022-01-30 18:43] IvanovOleg opened #8321 "ArgoCD ignores helm post-delete hooks on termination of the app"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
I use a helm chart as a source for my ArgoCD app. That helm chart contains pre-install and post-delete jobs (helm hooks). When the app is created, ArgoCD creates pre-install hook job as

[2022-01-30 21:12] doyelese commented on #8287
Sure, it is a glusterfs endpoint for our shared storage.  What do you mean on-empty targetRef? I can get additional info. Here is our `desc endspoints` result

[code]

[2022-01-30 21:16] doyelese commented on #8287
`pv desc`

[code]

[2022-01-30 22:19] faraktingi commented on #4204
hello @sumitnagal would like to know whether you fixed this problem since I've exactly the same on my Mac.

[2022-01-30 23:32] jkroepke commented on #5673
Fixed by https://github.com/argoproj/argo-cd/pull/8096

[2022-01-30 23:32] #5673 closed

[2022-01-31 13:34] alen-z commented on #2789
Looked forward to see it in 2.3, hope 2.4 will bring us the gift :)

[2022-01-31 13:54] keithchong commented on #8024
Hi @lancehudson , thanks for the reply.  Take for example, the `governor` app, go here:

https://cd.apps.argoproj.io/applications/governor?view=tree&resource=&node=argoproj.io%2FApplication%2Fargocd%2Fgovernor%2F0

and scroll down to the Status Badge section.

We currently show the image URL:

https://cd.apps.argoproj.io/api/badge?name=governor&revision=true

Note that these are application specif

[2022-01-31 14:45] lancehudson commented on #8024
1. In my case, I'd want to be able to override the hostname. I can imagine others would also want to be able to override the prefix. I don't need to override the API path.

Ex:

[code]

2. Correct, It isn't NEEDED for the actual image within the UI. It also wouldn't hurt in my case.

3. One other thought or bonus points. If you change the display from URL to one of the others that includes a link.

[2022-01-31 14:46] gajus commented on #4811
@alexmt Has this been addressed in v2.3?

[2022-01-31 15:12] bilalcaliskan opened #8324 "support for multiple rbac configmaps"
# Summary
Currently if we dont provide a config file with flag `--policy-file` argument, the ConfigMap `argocd-rbac-cm` from K8s is used as expressed in [here](https://github.com/argoproj/argo-cd/blob/master/cmd/argocd/commands/admin/settings_rbac.go#L110). It will be great if we can provide multiple configmaps to increase maintainability of our RBAC configurations. If this is discussed earlier,

[2022-01-31 15:12] jkroepke opened #8325 "Implement refresh tokens in ArgoCD Web UI"
Hi, I'm coming from https://github.com/argoproj/argo-cd/issues/455

# Summary

Implement refresh tokens in ArgoCD Web UI.

# Motivation

For security reasons, all access tokens are short-living (5 minutes) and refresh token (12 hours).

I full understand the "re-logging in should be as convenient as possible" these, but I opened an application in ArgoCD Web UI. It wont refresh the UI. After 5 minu

[2022-01-31 15:23] alexec commented on #8081
Might be worthwhile looking into this:

https://github.com/kubernetes-sigs/bom

Used by Kubernetes and ISTIO

[2022-01-31 15:51] leoluz commented on #8081
I gave up on the philips-software/spdx-action idea as documentation is lacking and tooling is very complex.
I'm currently giving `https://github.com/spdx/spdx-sbom-generator` a try as it is much simpler and is a community supported spdx generator in Go

[2022-01-31 16:16] #8162 closed

[2022-01-31 16:32] MaxWinterstein commented on #3799
For everyone like me, who had no idea how to disable it globally,

[code]

[2022-01-31 17:16] leoluz commented on #8081
this is a similar github action job that uses sigs.k8s bom suggested by @alexec
[code]

[2022-01-31 17:35] andrewm-aero commented on #8113
In case anyone else ends up here with a similar issue, we ran into this, but we couldn't get the application controller to "terminate" the sync, even after setting the revision limit. The solution ended up being to delete the "status" field via a "kubectl edit" and set the status to an empty object.

[2022-01-31 17:51] wofr commented on #8282
Ok this did the trick.

I adpated my values.yaml

[code]

In my apps yaml I used the  `server: {{ .Values.spec.destination.destserver }}` as destination cluster.  I added the project with `argocd app create energy-simu-devops --repo git@git.atosone.com:global-manufacturing/energy-simu-deployment-k8.git --path argo/apps --dest-server https://kubernetes.default.svc --dest-namespace default`

and now

[2022-01-31 17:51] #8282 closed

[2022-01-31 17:52] wofr commented on #8282
Ok this did the trick.

I adpated my values.yaml

spec:
  destination:
    # Adapt detination url
    server: https://kubernetes.default.svc
    destserver: <IP-dest-cluster>
  source:
    repoURL: git@git.atosone.com:global-manufacturing/energy-simu-deployment-k8.git
    targetRevision: HEAD

In my apps yaml I used the server: {{ .Values.spec.destination.destserver }} as destination cluster. I ad

[2022-01-31 17:57] Chainsaw-does-brr opened #8326 "Automated sync policy becomes out of sync by itself"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
After cluster syncs, a root app of apps gets becomes out of sync, because it's trigger diff sets to: `automated: {}`, while in source is defined as:
[code]

**To Reproduce**

I have a re

[2022-01-31 19:48] agaudreault-jive commented on #7948
I spent a bit more time on this to make sure it wasn't a network problem, but I was able to curl the endpoint correctly on a pod running on the same node and using the service token + ca information.
`curl -v --cacert cert.pem --header "Authorization: Bearer $(cat token.key)" https://<my_k8s_api_endpoint>/api/v1/namespaces/kube-system/pods\?limit\=1`

[2022-01-31 20:08] derverzweifler commented on #1786
`valuesFromRef` loading the values from a secret located in application's namespace would just perfectly solve the issue for the most use-cases.

[2022-01-31 20:47] shapirov103 commented on #7756
@ChetHosey the URL format is exactly the same as GitHub and apparently GitLab as well expects. This URL format is what customers will use. It is a separate issue whether it is correct from the specification perspective (to be fixed by GitHub).

[2022-01-31 23:25] kshamajain99 commented on #8287
@doyelese Will you be able to share the raw yaml spec?

[2022-01-31 23:30] doyelese commented on #8287
Redacted and without the deployments it connects to, but heres the service section of the yaml

[code]

[2022-02-01 05:06] reginapizza commented on #8298
Hey! I've looked into this, I'm not sure if this change is possible without extensive changes to the frontend unfortunately, so I'm not sure if it's worth it especially with the UI v2 in progress. If someone else wants to try their hand at it and prove me wrong I would love to see how you achieved it

[2022-02-01 06:03] saumeya commented on #7023
can this be closed @reginapizza

[2022-02-01 06:07] saumeya commented on #7007
@charles-woshicai are you still facing this?

[2022-02-01 06:11] saumeya commented on #5409
can this be closed @jsoref

[2022-02-01 11:15] psibi opened #8328 "Swagger API docs doesn't work when either UI Base path or UI Root path is used"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When deploying ArgoCD server either by configuring UI base path or UI
root path, the swagger UI doesn't work.

There is issues in each of those configuration:
- The [URL](https://github

[2022-02-01 11:52] jsoref commented on #5409
It appears this should be fixed by:
https://github.com/argoproj/argo-cd/pull/5458/files#diff-4b88f846774c449afe371a91f0a5184f764cc1cc98a947003281c74407dc4074R22-R24

I'm not a huge fan of centering the messages when wrapping, but I can live with it.

Fwiw, we're running ~2.2.0, and I'm pretty sure I saw this glitch in January 2022.

I'll need to get us upgraded and see if I hit it again.

Note: It

[2022-02-01 11:52] #5409 closed

[2022-02-01 13:26] pseymournutanix commented on #6880
I have the same problem on the 2.3.0 RC1 as well

[2022-02-01 13:28] pseymournutanix commented on #5608
I also see this with 2.3.0-rc1 fwiw

[2022-02-01 14:16] dlh opened #8331 "v2.3.0-rc1 minor manifest image issues"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

I had some minor issues trying out v2.3.0-rc1.

The manifests for [v2.3.0-rc1](https://github.com/argoproj/argo-cd/releases/tag/v2.3.0-rc1) use `quay.io/argoproj/argocd:v2.3.0-rc1` as t

[2022-02-01 14:23] ChetHosey commented on #7756
I don’t see how it can be. A port number can’t be a string. My guess is that it should be a slash before “devops”, and not a colon.

Do you have a reference, or a real URL that works with this exact format?

[2022-02-01 14:23] karlschriek commented on #6440
I am a bit surprised that there is very little discussion on this topic going on. I just learnt about this limitation and it causes a fundamental breakage of our workflows, which (the same as with @alexey907) relies on kustomizations that point to various private remotes.

I get the idea that keys should be scoped for security, but there should also be a way to add declare that certain keys may be

[2022-02-01 14:24] karlschriek commented on #6440
Is there any known workaround for this? We don't have a multi-tenant setup, so for us it would be fine if all keys are simply available everywhere.

[2022-02-01 14:28] ledroide commented on #7799
Similar to #6215

[2022-02-01 15:03] jkroepke commented on #8325
To gain more information, why we have such a low access token lifetime in our system:

https://www.pcidssguide.com/pci-dss-session-timeout-requirements/

From my point of view, solutions like https://github.com/argoproj/argo-workflows/pull/4095 won't help here, since the JWE generated by ArgoCD must have a short life access time, otherwise it might be a conflict with PCI.

[2022-02-01 15:19] shapirov103 commented on #7756
Any GitHub project expect this URL format for SSH, you can pick your favorite. E.g. git@github.com:sigstore/cosign.git.
The way customers get it is through GitHub when they select to clone repo using SSH:

<img width="600" alt="Screen Shot 2022-02-01 at 10 15 51 AM" src="https://user-images.githubusercontent.com/60622975/151996025-45b7ce0a-fbff-451a-afd6-a47a6d5b235a.png">

I am with you as far as

[2022-02-01 15:19] leoluz commented on #8081
As discussed with @alexmt we decided to go with `spdx/spdx-sbom-generator` as it supports multiple package managers like gomod, yarn, npm as opposed to `kubernetes-sigs/bom` which is gomod centric.

[2022-02-01 15:32] Meza1923 opened #8334 "argocd repo add -->> error --ssh-private-key-path is only supported for SSH repositories"
Hey

I have tried to run -
**argocd repo add ssh://<azure-devops-git-repo>:22/path/to/repo/ --ssh-private-key-path ./key-for-repo**
to enable connection to the azure-devops repo and I get the next error -
**FATA[0000] --ssh-private-key-path is only supported for SSH repositories**

As you see I tries to connect to SSH repository so I don't understand why it happen.

It's important to say that I'm

[2022-02-01 16:04] IuryAlves commented on #3593
Any updates on this ?

[2022-02-01 16:32] #8081 closed

[2022-02-01 16:34] kshamajain99 commented on #8287
@doyelese What version of Argo CD are you using?

[2022-02-01 16:40] doyelese commented on #8287
Argo CD
v2.1.1+aab9542

[2022-02-01 16:59] alexec commented on #8081
I'm trying to understand, what files should go in the bom. Not just source code, but also any binaries?

[2022-02-01 18:19] leoluz commented on #8081
@alexec

I guess it really depends on what we want. If the main purpose is to provide a way to inspect for vulnerabilities in libraries we depend on, analysing the package manage should be enough. If we also want to provide binary report, I guess we would have to inspect our docker image for every binary added to every layer. Docker image inspection is only available in `kubernetes-sigs/bom`. If t

[2022-02-01 18:57] #7682 closed

[2022-02-01 19:07] alexec commented on #8081
How come you need to `yarn install` is that in case the actual files are different to the `package.json`. E.g. you're using some kind of NPM "latest" version?

Docker image creation will bring in new "ingredients" (e.g. from apt). How can we include them in the BOM? With `bom` you can do this https://github.com/kubernetes-sigs/bom#process-a-container-image.

[2022-02-01 19:08] alexec commented on #8081
I see you already answer my question about images.

[2022-02-01 19:45] megabreit commented on #4110
I was sent here from Slack because I was asking the question about the minimum kubernetes version for particular argocd versions. In particular I have Openshift 3.11 here and try to find out what argo cd version will work.
Any hints?

[2022-02-01 20:07] alexmt commented on #8331
Reopening. https://github.com/argoproj/argo-cd/pull/8336 has to be merged to fix applicationset image tag

[2022-02-01 20:08] alexmt commented on #5104
Closing. @sbose78 please ping me if you want to keep it open for some reason.

[2022-02-01 20:08] #5104 closed

[2022-02-01 20:11] sbose78 commented on #5104
👍 Thanks!

[2022-02-01 20:32] ocraviotto commented on #8266
@singhravinderlko Support for credential templates for oci dependencies was introduced in #6027 and then improved in #6994
I came here to report a pending issue when using credential templates only with oci private registries (without a repository matching), but the error is different in those cases (more below).

Could you please confirm the same credentials in the repocreds secret work if you us

[2022-02-01 20:52] leoluz commented on #8081
@alexec pushed another PR (https://github.com/argoproj/argo-cd/pull/8338) introducing binary inspection from docker image

[2022-02-01 22:20] zswanson commented on #8278
I think this may relate to #6873
I'm seeing this too, if we do a cascade delete of an ingress using certmanager tls, argo and cert-manager get stuck in a delete-create loop.

[2022-02-01 22:42] fr3fou commented on #5608
Is there a workaround to this?

[2022-02-01 23:00] reginapizza commented on #8225
I have a question about implementation... I've gotten it to work, but the way I have it now is that pressing the escape key will close any sliding panel as a default behavior. The change will have to be in argo-ui, which I know workflows also uses. Would this change be okay as a default behavior or would it be better to make it into an optional prop that the the sliding panels in only argo cd use.

[2022-02-02 01:06] #8331 closed

[2022-02-02 01:58] jessesuen commented on #4978
Dont think this is valid anymore

[2022-02-02 01:58] #4978 closed

[2022-02-02 05:08] gdsoumya commented on #7986
I was debugging where the error originates from and it appears that even for client version calls the PreRun hook tries to startup the local API server. I have added a check for `version --client` that skips this hook solving the issue. PR #8341

[2022-02-02 06:55] ghilman27 commented on #2789
Looking forward to seeing this in the future release. We also have the same use case :). For now, I'm using the @jessesuen solution for a workaround.

[2022-02-02 08:51] emretanriverdi commented on #5107
@gzur's solution worked for me.

[2022-02-02 09:38] samyak-jn commented on #8334
Hi @Meza1923,

There is a similar issue that talked about the same issue, kindly take a look [here](https://github.com/argoproj/argo-cd/issues/3016).

[2022-02-02 10:02] ledroide commented on #6215
Another use case for namespace labels : [Pod Security Standards](https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/).
[code]
This feature replaces PodSecurityPolicies (deprecated) and requires namespace labels to be set
Namespace labels becomes a mandatory feature for future apps in Kubernetes 1.23+.

[2022-02-02 10:10] Meza1923 commented on #8334
Hey @samyak-jn,
I have tried this change --> ssh://server:22/path/to/repo ssh://git@server:22/path/to/repo/
and now I stuck  with
**ssh: handshake failed: knownhosts: key is unknown**

Do you familiar with that error? it could happened cause the previous error?

[2022-02-02 10:38] samyak-jn commented on #8334
Can you print your $HOME/.ssh/known_host, the error that you are getting means that the host is not found on it?

[2022-02-02 11:26] Meza1923 commented on #8334
@samyak-jn

I can't show you the file content, but I execute this commands
 - ssh-keyscan <servername> >> /root/.ssh/known_hosts
 - ssh-keyscan <servername> | argocd cert add-ssh --batch
and it still annoying with that message.

When I add the flag --insecure-skip-server-verification it's work fine.

[2022-02-02 11:40] karlschriek opened #8342 "Make SSH keys available within multiple repo scopes"
# Summary

Make it possible to pass an SSH key to multiple source repos, either by explicitly stating from which sources it is allowed to be used, or by making it possible to allow this generally for all repos (which would be a valid approach if one does not have a mutli-tenant setup).

See also https://github.com/argoproj/argo-cd/issues/6440

# Motivation

With reference also to this issue: https

[2022-02-02 11:56] samyak-jn commented on #8334
Aha, I should have been more clear with print, I wanted you to verify it locally.
But, you can refer to this section for more details: [Self-signed & Untrusted TLS Certificates](https://argo-cd.readthedocs.io/en/release-1.8/user-guide/private-repositories/#self-signed-untrusted-tls-certificates).

[2022-02-02 12:00] karlschriek commented on #8342
If there are any known workarounds for now that would also be welcome info!

[2022-02-02 13:24] Meza1923 commented on #8334
thanks a lot, I'm very appreciate your help! 👍

I saw in the link you send:
"It can take up to a couple of minutes until the changes performed by the argocd cert command are propagated across your cluster, depending on your Kubernetes setup."
and that was my case, after 1 minute the command worked for me.

[2022-02-02 13:33] #8334 closed

[2022-02-02 13:48] #5723 closed

[2022-02-02 14:03] srispl commented on #7835
It looks like `--enable-helm` at argo-cm level will enable for all apps. Though the flag wont impact for apps not using helm charts, using at platform level impact for all clusters. Creating custom plugin will definitely helps if we need separate the flag only for specific applications.

What you need to do is

1. Create custom plugin in argocd-cm
`data:
  configManagementPlugins: |
- name: kustom

[2022-02-02 14:09] jcputter commented on #7006
i'm hitting this exact issue trying to retrieve log stream via the api. (/api/v1/applications/{name}/logs)

[2022-02-02 15:14] zerodayyy commented on #5388
I'm having a similar issue as well, where an ArgoCD instance can be referred to via multiple URLs, and the SSO provider fully supports it. However, due to the hard-coded single-URL logic implemented in #4780, it's only possible to have a single external URL. The change should be as simple as adding `urls` config parameter, accepting the list of URLs, and at some point deprecating the `url` paramet

[2022-02-02 15:36] brsolomon-deloitte commented on #8021
A workaround we've found for this is to have the ingress controller just issue an 80->443 redirect rather than removing the port 80 listener entirely. I realize that setup doesn't describe everyone's situation, though.

[2022-02-02 16:28] BadLiveware commented on #6215
This would also help assigning namespaces to projects in rancher which uses annotations
[code]

So a way to connect argocd projects to rancher projects without managing them separately would be very helpful

[2022-02-02 17:00] sathieu commented on #5882
To fix the `Job` spec being immutable, I added the following annotations in the Helm chart:

[code]

Which maps to:

[code]

Refs:

- https://argo-cd.readthedocs.io/en/stable/user-guide/helm/
- https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks/
- inspired by https://github.com/prometheus-community/helm-charts/blob/0f09f3d9be41ce503169375ca2c95d5121f2f7ab/charts/kube-prometheus-sta

[2022-02-02 19:42] epcim commented on #5553
@snuggie12 @jannfis any update?
What are Argo plans to support Kustomize/KPT KRM Fn ?

[2022-02-02 19:54] yydzhou commented on #8172
We are same here too. Previously we had 4800+ applications the  argocd handles them pretty well, although with some slowness on application listing. After some re-org, we have 3000+ applications now. However, since upgraded v2, the refresh and the sync become very very slow. The refresh action, which supposed to be done in a few seconds can run up to 2 minutes.  The sync waiting is even slower.  c

[2022-02-02 20:10] crenshaw-dev commented on #8243
[code]

The (partial) ConfigMap diff is interesting. I wonder if the problem is that the sidecar CMP is failing to apply the necessary label.

[2022-02-02 21:43] jannfis commented on #8321
Helm's `post-delete` hooks are not supported, and `pre-install` hooks are actually mapped to `PreSync` hooks. Please refer to https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#helm-hooks

So, this feels more like an enhancement request than a bug. Could you please elaborate more on the use cases for `post-delete` hooks?

[2022-02-02 21:49] jannfis commented on #8317
Maybe this could be extended to also set arbitrary environment variables for kustomize applications, instead of only passing build environment?

[2022-02-02 22:01] crenshaw-dev commented on #8243
I think I've found the fix. The most difficult part will be writing an e2e test for it. Should be done tomorrow.

[2022-02-03 00:56] IvanovOleg commented on #8321
@jannfis Sure. I need this webhook for the PR based ephemeral environments (apps). On each PR a specific github actions workflow is executed to create a new namespace in K8S and new app in ArgoCD in order to allow developer to validate his code. When developer closes or merges his PR, another workflow gets triggered in order to clean the app and namespace. The app requires a temporary database on

[2022-02-03 01:55] snuggie12 commented on #5553
The issue I referenced is closed now and I believe the documentation is located [here](https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/). I think the best bet would do the sidecar approach and use the same setup I referenced with a statically built podman symlinked to docker.

Disappointingly, currently kustomize is preparing to remove their helm chart plugin and reva

[2022-02-03 06:24] alexmt commented on #8317
This has been implemented already. Please see latest version of build environment: https://argo-cd.readthedocs.io/en/latest/user-guide/build-environment/

[2022-02-03 06:33] alexmt commented on #8172
It is really difficult to troubleshoot it remotelly. The controller might be CPU throttled, repo server might need to be scaled up or control plane K8S API server might be slow.

@klamkma , @yydzhou if possible can we have an interactive session (e.g. zoom call) and debug it together. Later we could document changes we've made to help anyone else who faces this issue.

[2022-02-03 07:08] yeya24 commented on #8172
Thank you @alexmt. Would be great to have a debug session together with @yydzhou.

[2022-02-03 07:15] ocraviotto commented on #7858
@LiorLieberman
I believe I found a couple of related bugs in the way the repository server handles the credentials for dependency charts.
Let me ask you to confirm if the following points describe your issue. I'll link later from the bug report once I complete writing, but want to collect related issue (the fix is simple and I will do that too, most likely over the weekend)

From what you said:
1.

[2022-02-03 07:40] jannfis commented on #8225
Good catch @reginapizza!

@alexec From a workflows UI perspective, would you think this change is something you want to use as well (then we can make it global), or should we make it a property so consumers can decide themselves?

[2022-02-03 08:40] dolefirenko commented on #4639
This will be a really good feature for ArgoCD... Awaiting :)

[2022-02-03 09:00] gimpiron commented on #4174
i would like to add regarding argocd -
i have installed argocd with helm, this issue accured when i missused the vaules file with this section:
[code]

after removing it, all my problems were gone.
thats super weird and not possible to findout based on the redis error message.
hope this helps for some of you

[2022-02-03 09:12] nbarnes22 commented on #709
I have an ArgoCD deployment in K8s, when I encountered this I simply deleted all of the pods and the deployment recreated them and this was solved.

[2022-02-03 09:48] gdsoumya commented on #3592
Hi @jannfis, it seems that the existing PR for this issue is outdated. Can I take this up if it's still relevant? If so do you think it'd be a good idea to first standardize all the command-specific error codes and then do the implementation?

[2022-02-03 11:58] zerodayyy opened #8354 "Allow providing multiple external URLs in ArgoCD config"
# Summary

As per #5388, it's currently impossible to use multiple external URLs with ArgoCD.

# Motivation

The use case here would be accessing ArgoCD via multiple external URLs, for example I have ArgoCD set up on every Kubernetes cluster, which can be referred via multiple hostnames like `argocd.k8s-production.example.com` and `argocd.k8s-green.example.com`. Some SSO providers (like Azure AD i

[2022-02-03 13:07] chetan-rns opened #8355 "Don't set HELM_EXPERIMENTAL_OCI environment variable"
# Summary

Support for OCI registries is generally available in Helm v3.8.0. PR https://github.com/argoproj/argo-cd/pull/8301 upgraded the Helm version to v3.8.0 and Argo CD no longer needs to set the `HELM_EXPERIMENTAL_OCI` environment variable for enabling the support for OCI registries.

# Proposal

Do not set the Helm experimental variable when OCI registries are being used.

[2022-02-03 15:27] alekc opened #8358 "Argo cd doesn't respect waves"
Checklist:

* [x ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x ] I've included steps to reproduce the bug.
* [ x] I've pasted the output of `argocd version`.

Similar to https://github.com/argoproj/argo-cd/issues/5146 and https://github.com/argoproj/argo-cd/issues/5585
**Describe the bug**

When applying multiple argocd application (not apps of the apps) with d

[2022-02-03 16:18] mcjhknauf commented on #7858
As mentioned above I experienced the issue initially, then updated the CRDs to get the `passCredentials` present and was solved.

Recently some coworkers start to experience the same. At the end, after comparing our solutions the difference was the `sourceRepos` in the `AppProject`.

In my case I have a "*", but if some repository is already present, the OCI one need to be added. After adding it t

[2022-02-03 16:33] ocraviotto commented on #7858
If you did not have a secret with username and password I'd be tempted to say it might be related to an actual issue I'll report in a moment... but since you do have a repository secret with credentials, please see below.

@mamjong Yes, you can't omit `oci://` from your dependency, helm needs that know it needs to use an OCI registry.
On the passCredentials flag with helm, it does not appear you n

[2022-02-03 16:40] mamjong commented on #7858
@mcjhknauf @ocraviotto We have the following project configuration:

![](https://i.imgur.com/sEGhKIy.png)

As you can see we have the asterisk wildcard for the source and scoped repositories.

[2022-02-03 16:44] #8232 closed

[2022-02-03 16:50] mcjhknauf commented on #7858
Another thing I did (maybe differently) was creating the Secret directly (this create the repository also if contains the proper label).
I don't know if related but we observed that at some point the secret name and argocd repo NAME in the repo list were not the same.

[2022-02-03 17:06] mcjhknauf commented on #7858
In the above error you could see `Manifest generation error (cached)`, if you try with `argocd app get <app name> --hard-refresh`
this will force a cleanup of the cache.

For example, during the tests I removed the repository and with the above I get a similar error, but without the `Manifest generation error (cached)` part.

`ComparisonError rpc error: code = Unknown desc = `helm dependency build

[2022-02-03 17:10] mamjong commented on #7858
Thanks for the help.
We added a name to the secret as follows:
[code]
It doesn't work yet but we do have a different error:
```rpc error: code = Unknown desc = `helm repo add --username ****** --password ****** --pass-credentials <subdomain>.azurecr.io <subdomain>.azurecr.io` failed exit status 1: Error: could not find protocol handler for:```

Unfortunately the error stops there...

[2022-02-03 17:16] mcjhknauf commented on #7858
I'm using something like
[code]

[2022-02-03 17:46] mamjong commented on #7858
We now added a `name` property to the `stringData` of the secret which is the same as the name of the secret itself, and it works!
Thank you very much!

[2022-02-03 17:49] lamebear commented on #5882
I needed to have the Job specified in a sync wave, so what I did was create a Job that runs in a PreSync hook that deletes the Job that wouldn't update. The only other change I needed to do was to create a Role and RoleBinding allowing the SA to delete the Job. It's a bit of a hack, but it works.

[code]

[2022-02-03 17:52] mcjhknauf commented on #7858
Great, You're welcome.

[2022-02-03 18:21] StephanSalas opened #8364 "Support for Argo Application Healthchecks on Child Custom Resources"
# Summary
Currently child Kubernetes CRs of parent Kubernetes CRs do not have existing Argo-Healthchecks applied to their types when created by an Argo Application CR.

This is inconsistent with native-kubernetes containerized deployments, which use the logic defined https://github.com/argoproj/argo-cd/blob/83458e0bd965132454d6e7d6569d106821fe8add/ui/src/app/applications/components/utils.tsx#L756

[2022-02-03 18:24] StephanSalas commented on #8364
If there's any quick workaround, please let me know as well. If not, I think this would be a great addition to the ArgoProj because it supports the wider community's future architecture and goals toward custom-resource use.

[2022-02-03 18:33] bitgandtter opened #8419 "Github App authentication failure reconcile"

[2022-02-03 19:31] drduker commented on #2789
Yes, also looking forward to this in a release.  I don't like jessesuen solution because the whole reason to use multiple helm files is to avoid kustomize.   It seems that you can't even traverse folders to include other files currently.

[2022-02-03 19:54] sathieu commented on #5882
@lamebear I don't understand why you need to delete the configmap (there is no immutable fields in a configmap)...

[2022-02-03 19:54] KojoRising opened #8365 "Missing ApplicationSet Controller in ArgoCD-HA Install | v2.3.0-rc2"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We had recently upgraded to argocd:v2.3.0-rc1 to get the applicationset-controller for free, with no issues.

However when we upgraded to argocd:v2.3.0-rc2, we noticed the applicationse

[2022-02-03 21:11] ishitasequeira commented on #8365
The process of building ArgoCD add-ons like ApplicationSet has been automated in PR [#8336](https://github.com/argoproj/argo-cd/pull/8336).

[2022-02-03 23:04] gw0 commented on #820
Just a thought: If you have everything in ArgoCD and self-healing enabled, then all CR instances will eventually get recreated and this should not be so devastating. Or am I missing something?

[2022-02-03 23:58] ericmeadows commented on #7257
From what I can tell, he (and I, now) are asking to support a remote Helm chart using a git-backed values file.  The way around this is that you have to create your own Helm chart locally and add said `values.yaml` file, making the external chart a dependency of an empty chart.  I feel like there's a lot of entangled logic that [Plumbr.ai](https://www.plumbr.ai/) would surface here...

[2022-02-04 04:19] nfsouzaj commented on #2789
So sad to see a product such as argocd not supporting a very basic kubernetes ecosystem standard which is to pass unique values file to override hem charts. Wondering if I should adopt Argo after reading this thread.

[2022-02-04 06:22] gdsoumya commented on #7291
@alexmt @sathieu can you confirm if this is what is expected for issue #3594

[2022-02-04 07:05] chetan-rns commented on #7352
@alexmt @jgwest @wtam2018  I'd be happy to help with the integration of Appsets in the API and CLI. I think we should break this down into multiple smaller issues.

[2022-02-04 07:33] karlschriek commented on #827
This workaround no longer appears to be working (on v 2.2.3) with:

[2022-02-04 07:53] djfinnoy commented on #7835
Indeed, but as I said I would like to do this without making a custom plugin. The reason is that if I would like to use any of the  [built-in kustomize configuration options](https://open.spotify.com/playlist/6Rr8sqPsI8Ld4gCFqASubc?si=e58210b0f3844b6a) along with `--enable-helm`, I would have to code them into the custom plugin. This is why I feel like including the `enable-helm` option among the

[2022-02-04 08:31] dolefirenko commented on #4351
This will be a really good feature for ArgoCD... Awaiting :)

[2022-02-04 08:33] jannfis commented on #8358
Hi. Sync-waves only apply during the same sync context, and not globally. So, they are not respected across different Applications, since each Application will have its own sync context.

There is some ongoing effort to implement dependencies between Applications (#7437, #3892).

I think we should close this issue as a duplicate.

[2022-02-04 08:37] jannfis commented on #8354
Isn't this a duplicate of #5388, which you already mentioned in your summary?

Or is there any substantial difference between the two that I've missed?

[2022-02-04 08:49] KlavsKlavsen commented on #2789
@nfsouzaj You do realize that argocd supports giving multiple value files just fine - this is about supporting them coming from different git repositories only.

[2022-02-04 08:57] stefangrosaru commented on #8281
@jannfis This is a "dynamic proxy" enabled by the Rancher UI, it basically allows you to access services inside the k8s cluster without needing to expose them outside the cluster.

I'm also experiencing this issue, does ArgoCD need to be told about any proxies?

I'm using the same setup to access other internal services such as Prometheus, Grafana, Longhorn, etc. And there are no issues when acces

[2022-02-04 09:42] alekc commented on #8358
Oh, I see. Docs description was not clear at all in regard.

So the only feasible way for this to work (right now) is to wrap these apps inside one giant helm chart to emulate apps of apps behaviour?

[2022-02-04 10:01] sathieu commented on #7291
@gdsoumya Don't know. I'm more interested in problem 3.

[2022-02-04 10:49] morningspace commented on #8107
I have similar requirement. It looks right now I can only use argocd CLI to add cluster. Is there way to make it using `kubectl apply`?

[2022-02-04 10:50] fabricepipart1a commented on #5525
Hi
I am currently struggling with PR validation with Argo CD like mentioned in this issue. My use case is that I have a PR on the repository watched by Argo and I want to automate the analysis of what has changed in the PR.

As @Cylix seems to be doing, I use `argocd app diff --local` to get an idea of what has changed.

The problem I have today is when I want to add a new manifest in my repo. `ar

[2022-02-04 11:32] cruggieri commented on #3537
I upgraded this morning from version 2.2.0 to 2.2.4 (latest) due to the CVE of the last hours.

[code]

I experience this:

`kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/v2.2.4/manifests/install.yaml`

[code]

Note the **configmap/argocd-rbac-cm configured**.

All the configuration in that config map are gone.
I think this is a great issue.

[2022-02-04 11:41] jannfis commented on #3537
Hm, this is weird, because in the manifests, the ConfigMap does not contain a `.data` section:

https://github.com/argoproj/argo-cd/blob/78d749ec88bea5a5e851fc48b9404fdf067192b6/manifests/install.yaml#L2867-L2875

[2022-02-04 12:00] rouke-broersma commented on #8107
This is not true. "Declarative Setup - Argo CD - Declarative GitOps CD for Kubernetes" https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters

[2022-02-04 13:28] Jojoooo1 commented on #8084
same in v2.3.0-rc4+ed734fe

[2022-02-04 13:36] exocode commented on #8107
I modified a script of @janwillies so, that my `kubeconfig`-Secret - which was created by my Crossplane cloud-provider (provider-civo) - gets mapped to match the requirements of argoCD secrets. It also assigns the kubeconfig values in the `data`-root of that secret, so it can be consumed by other resources.

The result looks like this:

[code]

https://github.com/exocode/crossargo-sync

Simply cha

[2022-02-04 13:50] drduker commented on #2789
@KlavsKlavsen i’m actually having trouble with multiple value files in version 2.1.7 from the same folder as the repo path or going back directories with ../ within the same repo.  I think it is fixed in 2.2.0 so I’ll have to wait for that upgrade.

[2022-02-04 15:35] gbaker21 opened #8377 "Security Issue :- CVE-2021-38297"
Our security scanner has raised a Critical Issue :- [CVE-2021-38297] which affects the go versions I believe ArgoCD uses. This CVE isnt mentioned on the Security Pages.
Is this issue being addressed within ArgoCD? How does it affect ArgoCD?

[2022-02-04 15:47] srispl commented on #7835
Second that @djfinnoy

[2022-02-04 15:50] crenshaw-dev commented on #2789
There's a [proposal PR](https://github.com/argoproj/argo-cd/pull/8322) for this feature. Reviews are appreciated!

[2022-02-04 16:14] bentcoder opened #8378 "Automated Sync Policy default interval value"
Hi,

Could you please add an information [here](https://argo-cd-docs.readthedocs.io/en/latest/user-guide/auto_sync/) on **how often** (_the polling interval_) ArgoCD auto sync-es repositories please? Also, if it is **configurable** or **not**.

Thanks

[2022-02-04 16:35] evgf commented on #2789
Thank you, it's really great to hear that we're finally getting there!

[2022-02-04 17:12] diranged opened #8379 "ArgoCD 2.2.4 w/ new CVE fix does not allow for symlink'd values.yaml files"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

In a few of our charts, we leverage symlinking `values.XX.yaml` to `values.staging.yaml` for example... where `XX` may be a dynamic cluster name value. As of ArgoCD 2.2.4, this fails:

[2022-02-04 17:16] KlavsKlavsen commented on #2789
It does seem like it covers much more than external values files.. which makes it much harder to add. IMHO this should be broken up. External values files support in Helm - is a sub-part of that proposal - and IMHO should be added seperately.

[2022-02-04 17:20] KlavsKlavsen commented on #2789
I use the full path /tmp/... (open shell on repo pod and see path).. then you're not going back with ../.. - that works for me. I am on newer argocd though.

[2022-02-04 17:25] drduker commented on #2789
Yeah, I did that too.  Would've been sweet if that worked.  Just 2.1.7 seems to have including files in general broken.

On a side note, i need to figure out how to clear out all my 10k files from that tmp folder that start with "kust-plugin-config" for my sops secret generator.  That should be cleaning itself up but it isn't.

[2022-02-04 17:39] mhjacks commented on #4326
I had the same issue, but was able to resolve it by specifying the group as noted above in https://github.com/argoproj/argo-cd/issues/4326#issuecomment-692308968

[2022-02-04 18:00] KojoRising commented on #8365
Great, thanks for that!

I was able to add the addon as a resource in our Kustomization.yaml's resources:

[code]

[2022-02-04 18:01] #8365 closed

[2022-02-04 18:16] crenshaw-dev commented on #2789
@KlavsKlavsen I had the same instinct and made the case for breaking up the work in yesterday's [Argo CD community meeting](https://docs.google.com/document/d/1ttgw98MO45Dq7ZUHpIiOIEfbyeitKHNfMjbY5dLLMKQ/edit) (link is to the planning doc, will update w/ video link when available).

The folks most familiar with the code (and the most likely to be involved in implementation) convincingly argued tha

[2022-02-04 18:47] ohauer opened #8380 "add missing resources applicationsets to argocd-server role"
# Summary

give argocd-server role access to applicationsets

# Motivation

Managing Applicationsets in the argocd UI

# Proposal

[code]

Not sure if the request is valid since I haven't installed 2.3.0-rxX until now,
but this change was required in argocd 2.2.x in combination with the application-controller

[2022-02-04 19:24] KlavsKlavsen commented on #2789
@crenshaw-dev Thank you for your explanation - if thats the case, then fair enough - I truly hope it comes to fruition :)
I assume multiple app sources, would have to be like merging arrays - you need to decide WHICH has precedence - if 2 definie the same object - or if you want to try and merge objects ( I would recommend to just let higher - prio source win for entire object - not trying to merg

[2022-02-04 19:33] crenshaw-dev commented on #2789
Really good question, I've added it as a [comment](https://github.com/argoproj/argo-cd/pull/8322/files#r799755548) on the [proposal](https://github.com/argoproj/argo-cd/pull/8322/). I think your suggested behavior makes the most sense.

Cloning the git repo with the values file is the easy part. Monitoring the repo for changes and invalidating the cache based on those changes is trickier, and it's

[2022-02-04 19:42] exocode opened #8384 "using ServerName instead of server URL to reference cluster IPs"
# Summary

`Applications` and `AppProjects` should be able to access `Cluster` by it's `ServerName` instead of `URL` to be less redundant.

# Motivation

In ArgoCD I can add `clusters` by manifests. These manifests already contain a `name`.
But `AppProjects` and `Applications` need to pass the server IP
You have to change all `AppProject` and `Application` manifests when the Cluster IP is changing

[2022-02-04 19:54] rumstead opened #8386 "Application's destination namespace does not override Kubernetes manifests"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
When deploying, the application destination namespace does not override what is in the Kubernetes manifests.

**To Reproduce**

Git repo to reproduce: https://github.com/rumstead/argocd-

[2022-02-04 19:57] crenshaw-dev commented on #8386
Tiny docs improvement: https://github.com/argoproj/argo-cd/pull/8383

Probably need some more.

[2022-02-04 20:06] survivant commented on #2532
just to be sure.  Argocd doesn't have a hook that I could call from Jenkins to tell ArgoCD to start a sync ?  I know of the auto-sync feature, that I use.  I use the default 3 min sync.  Most of the time the develops won't push code that often, but when they do, they want to see there modification asap in the cluster.

It will be useful to notify argocd to start syncing for an Application on deman

[2022-02-04 20:26] ohauer commented on #8380
Notice from @alexmt
The argocd-server does not query ApplicationSet API yet.

[2022-02-04 20:26] #8380 closed

[2022-02-04 20:47] leoluz commented on #8377
Go versions used in ArgoCD are:
v2.3 - 1.17.6
v2.2 - 1.16.11

CVE says Go before 1.16.9 and 1.17.x before 1.17.2

Not applicable to ArgoCD

[2022-02-04 20:47] #8377 closed

[2022-02-04 20:47] jannfis commented on #8379
Can you provide more information about the symlink, please (e.g. output of `ls -l` at the source)?

[2022-02-04 20:50] jannfis commented on #8379
Also, last time I've checked, `helm package` would dereference symlinks before packaging them. Do you create the Helm chart manually? Or is it an extracted Helm chart in Git?

[2022-02-04 21:18] mlerota commented on #8084
I had the same error but when adding the application. Reinstalled everything, lost 10 hours, and then accidentally found out that I added the wrong repo :-).
Added:
 `argocd repo add ssh://AWS_SSH_KEY_ID@git-codecommit.eu-west-1.amazonaws.com/v1/repos/one-repo --ssh-private-key-path /path/to/id_rsa`

And in the manifest was
`spec`
  `  project: default`
      ` source:`
    `repoURL: 'ssh://AWS_SS

[2022-02-04 21:49] diranged commented on #8379
[code]

[2022-02-04 21:50] diranged commented on #8379
We do not use `helm package` but instead have Argo pointing to Git repos directly and pulling the charts from paths and targetRevisions.

[2022-02-04 22:03] jannfis commented on #8379
Thanks! That's indeed a bug, and is not intended to be prevented. Sorry about that.

Working on a fix.

[2022-02-04 22:14] diranged commented on #8379
Thanks!

[2022-02-04 22:40] IvanovOleg opened #8388 "ArgoCD doesn't allow to add itself as an application"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
I am going to add argocd itself as an app in order to make it self managed. I am using a very simple kustomized configuration that contains only a link to the install.yaml file in github

[2022-02-04 23:07] #8379 closed

[2022-02-05 00:00] dhild commented on #7995
I ran into this same issue. I may have a simple fix in code; but I am just setting up a test environment for the first time so this may take awhile to validate.

[2022-02-05 00:21] philipmattingly commented on #5473
I have the same bootstrapping issue.
perhaps consider using the `--kubeconfig` / `--context` parameters that exists across projects such has kubectl/helm etc

[2022-02-05 00:35] #3594 closed

[2022-02-05 01:02] guillaume-roland-cd commented on #7106
When I escape the string that are interpreted as env. variable, it make ArgoCD work the same way than before.

Application:
[code]

Desired manifest:
[code]

[2022-02-05 01:02] #7106 closed

[2022-02-05 01:32] #8386 closed

[2022-02-05 02:12] IvanovOleg commented on #8388
[code]

[2022-02-05 04:39] #8388 closed

[2022-02-05 07:26] jannfis commented on #8379
@diranged We just released 2.4.5 which includes the fix to the regression. Feel free to reopen this issue if the bug still persists.

[2022-02-05 08:02] morningspace commented on #8107
@exocode I am reading your [code](https://github.com/exocode/crossargo-sync/blob/master/main.go), and wonder where the `bearerToken` comes from.

When I inspect the secrets created in my env, it looks something as below:
[code]

And the config can be decoded as below:
[code]

I don't know how to prepare the bearerToken, so that I can create the secret by myself.

[2022-02-05 08:34] eyulf commented on #2323
@alexec Using SHA256 checksums to validate downloads is a fairly common practice in general.

Examples include:
- https://github.com/fluxcd/flux2/releases/tag/v0.26.1
- https://github.com/helm/helm/releases/tag/v3.8.0
- https://github.com/kubernetes/kubernetes/releases/tag/v1.23.3

More Information:
- https://techdocs.akamai.com/download-ctr/docs/verify-checksum
- https://docs.hak5.org/hc/en-us/ar

[2022-02-05 08:49] exocode commented on #8107
That token comes from an ArgoCD user created to access and create ArgoCD ressources for this Crossplane extension: https://github.com/crossplane-contrib/provider-argocd
The steps to produce that user are here:
https://github.com/crossplane-contrib/provider-argocd/blob/main/README.md

TLDR:

[code]

[2022-02-05 12:00] rlipscombe opened #8394 "argocd-applicationset-controller doesn't start on arm64"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [n/a] I've pasted the output of `argocd version`.

**Describe the bug**

The v2.3.0-rc5 release (which adds arm64 support) doesn't _quite_ add complete arm64 support. The argocd-applicationset-controller pod enters CrashLoopBackoff.

**To Reproduce**

Run

[2022-02-05 12:08] rlipscombe commented on #8394
I tried editing the install.yaml to point to the latest image on quay.io -- https://quay.io/repository/argoproj/argocd-applicationset/manifest/sha256:5cc0ac030f5ff218e8e41fd34501670624b67fd85f3dcb0f51baab41e0a1c108 -- but that still fails.

[2022-02-05 20:10] bentcoder commented on #5110
The issue is still present.

[code]

[2022-02-06 10:40] Enrico204 opened #8397 "CVE-2022-24348 fix broke Helm downloader plugins interface"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

The fix for `CVE-2022-24348` introduced a check for helm remote protocols (see `allowedHelmRemoteProtocols`, `isURLSchemeAllowed` and others in https://github.com/argoproj/argo-cd/commi

[2022-02-06 12:05] jkroepke commented on #8397
Hi,

the fix breaks the [downloader plugin](https://helm.sh/docs/topics/plugins/#downloader-plugins) feature in at all.

Consider to allow to configure the allowedHelmRemoteProtocols propterty, e.g. through argocd-cm

[2022-02-06 12:24] Enrico204 commented on #8397
Be aware that allowing custom schemes in `allowedHelmRemoteProtocols` might reintroduce the CVE bug via plugins. For example, in this case (helm secrets), the "secrets" YAML is loaded via a relative URL that can go outside the project dir, hence allowing directory traversal vulnerabilities.

I think that a very prominent warning should be placed in doc and other places.

Another solution may be so

[2022-02-06 12:59] jkroepke commented on #8397
Thats abolute correct. Someone needs to be faked the file protocol and the issue appears again. While the standard installation might be safe for now, custom schemes needs to implements first by an administrator (by installing the plugin inside the container)

This is a good catch. I will add a switch here to disable following symlinks, Since the plugin doesn't know the boundaries, I can only deny

[2022-02-06 14:13] Enrico204 commented on #8397
A more general solution for path traversal vulnerabilities in ArgoCD (and this issue) might be `proot`. It doesn't require `root` privileges, and it's able to restrict the access to directories (regardless of the tool):

[code]

Apparently, `proot` is able to bind directories from the "host" (without using `mount`), e.g. `-b /dev` (or even remap, like docker/podman: `-b "/host/dir:/inside/proot/di

[2022-02-06 16:01] jkroepke commented on #8397
Restrict the directory with something like proot increase the complexity in general. Who knows, if ptrace is allowed by AppArmor/SELinux.

This issue that other build directory can access, exists in Jenkins, Gitlab and other CI systems, too. To separate build directories and denied the access from each other, separate or non peristent runner/agents would archive this. Something like multiple repo-

[2022-02-06 17:55] bentcoder opened #8399 "Manual Sync affects other applications as well"
Hi,

Not sure if this is a bug but if I use `SYNC` button on one application, other applications are get synced as well. Is this an expected behaviour? If so, how do I avoid it? I mean all applications should be independent from each other.

For instance, if I SYNC `tetris-cli-2`, suddenly `tetris-nonprod` app gets synced as well and become out of sync.

Thanks

`version: v2.2.4+78d749e`

![Untitl

[2022-02-07 10:05] amirensit commented on #4204
Same for me using minikube on wsl2. Any idea please ?

[2022-02-07 10:39] lud97x commented on #8084
Same for me, after verification, the ssh repo url was wrong.
I think the error shown by argocd in that case is misleading.

[2022-02-07 11:27] deechella commented on #8397
Can we update the argocd version directly to 2.2.4 from 2.0.0 to overcome this https://nvd.nist.gov/vuln/detail/CVE-2022-24348

[2022-02-07 12:26] brsolomon-deloitte opened #8403 "ignoreDifferences not ignoring `Secret.data` diff"
For a deployment of [jupyterhub](https://zero-to-jupyterhub.readthedocs.io/en/latest/), secret values change post-deployment and seem to be a good candidate for `ignoreDifferences`.

![Screen Shot 2022-02-07 at 7 22 34 AM](https://user-images.githubusercontent.com/81818815/152787630-267490ec-816b-47b7-8d94-8564b48287f9.png)

I use the following to attempt to ignore that diff:

[code]

However, eve

[2022-02-07 12:57] bentcoder commented on #8399
This is happening if an "application" is deployed to a same "cluster" but running in a different "namespace". For instance:

If you have these, sync-ing one app will affect the other one and put it into out of sync state.

[code]

Currently there is only one solution (_unless there is something special in ArgoCD that I missed_) to this problem which can be considered as a "limitation" in ArgoCD. C

[2022-02-07 13:54] conman2305 commented on #7284
For the heck of it, I tried this with the 2.3.0 RC and still seeing the issue

[2022-02-07 13:55] ArsenyBelorukov commented on #8403
Kind:Secret doesn't have a group. Please try to delete 'group: apps'
`ignoreDifferences:
  - kind: Secret
    jsonPointers:
      - /data/hub.config.ConfigurableHTTPProxy.auth_token
      - /data/hub.config.CryptKeeper.keys
      - /data/hub.config.JupyterHub.cookie_secret`

[2022-02-07 13:59] Manoj0251 opened #8407 "ComparisonError rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: authentication handshake failed: tls: first record does not look like a TLS handshake""
When trying to deploy any application from gitlab or helm
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**ComparisonError rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "trans

[2022-02-07 14:10] brsolomon-deloitte commented on #8403
Thank you, that fixed things. `bug` label can be removed.

[2022-02-07 14:42] olvesh commented on #5992
Thanks for writing this up, it set me on track for my own misconfiguration!

[2022-02-07 14:51] pthornton commented on #8214
@mfbieber I'm setting this in the application but I'm not sure it's getting honored.  I'm using ApplicationSet to create the application.  The ApplicationSet shows:
[code]
The created Application has no mention of passCredentials:
[code]
Know of any way to verify passCredentials value on the Application?  I see a --helm-pass-credentials on argocd cli set command, but nothing on get?  Both get/set

[2022-02-07 15:47] #8358 closed

[2022-02-07 15:48] pthornton commented on #8214
@mfbieber What version are you on?  I created the application directly and same failure on 3.29.5/2.2.2.

I created the Application directly and it still fails with same error:
[code]
Are you calling this directly yourself?

[code]

[2022-02-07 18:25] ttk commented on #6061
I tested this again with (argocd v2.2.5+8f981cc) using the new resource tracking introduced in 2.2.  I enabled it using `application.resourceTrackingMethod: annotation` config, then allowed ArgoCD to sync up the new labels on all the resources.  However, the bug remains.  If I delete the `Application` resource from git, ArgoCD doesn't detect it, and the app remains.  I had to revert back to the or

[2022-02-07 18:38] bentcoder opened #8417 "App gets stuck in "Unknown" state if referencing Helm charts are removed from its git repository"
Hi,

Removing Helm Charts from git repository doesn't automatically delete the application from ArgoCD although auto-sync is enabled. Is this an expected behaviour or a bug? Currently I have to manually delete the app in UI.

Thanks

[code]

`version: v2.2.4+78d749e`

[2022-02-07 18:54] dh-apporto opened #8418 "helm ignoreMissingValueSet not part of ApplicationSet CRD in 2.3.x"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**

2.3.0 includes support for ignoring missing values files for helm charts (see [PR 8003](https://github.com/argoproj/argo-cd/pull/8003)). This feature would be especially helpful for usi

[2022-02-07 19:49] jdmulloy commented on #4358
Seeing this on 2.2.3 with K8s 1.20. This is not resolved.

[code]

[2022-02-07 21:04] alexec opened #8421 "ChatBots for issue triage and governance"
Request for comments, please comment on [main issue](https://github.com/argoproj/argoproj/issues/110).

[2022-02-07 21:04] keithchong opened #8422 "Adjust z-index for newly added tree view toolbar"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

The current collapsible sidebar filter should actually be on top of the new graph toolbar

**To Reproduce**

1. Go to the tree details view of an app
2. Resize and reduce the width of t

[2022-02-07 22:07] jdmulloy commented on #4358
I figured out my issue. Somewhere in upgrading ArgoCD switched from using a Deployment to using a StateFul set and upgrading via ArgoCD didn't delete the old Deployment, so it ended up abandoned. So we had a 1.7.8 application controller and a 2.2.3 application controller running at the same time, fighting with each other. If Google bring you here try running the following.

`kubectl get pods`

Min

[2022-02-07 23:55] WilliamCoffeyTri opened #8425 "CodeCommit Repository Does Not Exist"
![image](https://user-images.githubusercontent.com/22283547/152891239-61523fad-2d0a-491f-9ce8-b3eb872153b2.png)

Attached image demonstrates the issue. It is being run directly from the argocd-server container.

I have an AWS CodeCommit repository which very explicitly _does_ exist, that ArgoCD can't recognize. The appropriate private/public key pair was generated and the public key was provided t

[2022-02-08 06:33] Manoj0251 commented on #8407
Add "- --repo-server-plaintext" in under command in argocd-application-controller

[2022-02-08 06:33] #8407 closed

[2022-02-08 07:26] yeya24 opened #8428 "bug: app configured with non existent server name would get into endless loop"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

Our argocd server is used in a multi tenant platform and some users create apps with some unknown destination server names. We have about 6 unknown apps due to this reason and it slows

[2022-02-08 07:26] odidev opened #8429 "Failing to generate login password on the Amazon-Linux ARM64 AWS instance"
**Describe the bug**

Hi Team,

I am working with argocd on the **Amazon-Linux ARM64 AWS instance** and facing issues while generating the password to login to argocd server.

I am following the getting started guide here: < https://argo-cd.readthedocs.io/en/stable/getting_started/ >. I have confirmed that I am working with the correct namespace as used in this documentation and using the correct

[2022-02-08 07:27] yeya24 commented on #8428
@alexmt @jessesuen That's the root cause of the slow refresh/sync for us. After fix the condition we found the refresh is much faster now.

[2022-02-08 08:18] jannfis commented on #8429
Hi. Can you confirm that the `argocd-server` pod is actually running correctly?

[2022-02-08 08:20] jannfis commented on #8429
Sorry, clicked the wrong button.

[2022-02-08 08:35] Meza1923 commented on #6048
Hey,
I saw this case cause I have similar problem.

I have setup all the chain of my helm repo and also his certificate,
in the pod I can see the certificates in /app/config/tls/.
although all this, I still getting  "x509: certificate signed by unknown authority".

It's important to say that I have already success to establish connection to the helm-repo,
but I try  to do it again, and it's failed

[2022-02-08 08:39] pasha-codefresh commented on #6061
i will take a look @ttk

[2022-02-08 11:05] geowalrus4gh commented on #3539
When are you planning to fix this ? we are affected with this issue. Our internal setup is with an https and Harbor as the registry. Tried to make the repo insecure also didnt work.

[2022-02-08 11:17] geowalrus4gh commented on #3693
Almost 2 year old 'relevant' bug. Do you guys have any plan to fix it ?

[2022-02-08 12:20] MickeyKi commented on #7703
+1

[2022-02-08 12:23] philippart commented on #8314
Same issue here.

[2022-02-08 14:35] odidev commented on #8429
@jannfis, thank you for the response.

I have noticed that the pods are running and crashing very randomly on the Amazon-Linux ARM64 AWS instance. Sometimes “kubectl get all –n argocd” command shows that pods are running. If I check them again after a few minutes, the same pods are seen crashing. This is only the case with Amazon-Linux ARM64 AWS instance. In Ubuntu ARM64 AWS instance, argocd-serve

[2022-02-08 15:21] ebr opened #8432 "skipCrds not part of ApplicationSet CRD in 2.3.x"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

https://github.com/argoproj/argo-cd/pull/8012 includes the new `skipCrds` key in the `Application` spec. However, this key is missing from the `ApplicationSet` spec.

**To Reproduce**

[2022-02-08 15:23] ebr commented on #8418
Same with the `skipCrds` option. I just raised that in https://github.com/argoproj/argo-cd/issues/8432, but perhaps this is an indication of a larger sync or inheritance issue between the `Application` and `ApplicationSet` CRDs.

[2022-02-08 16:48] #8422 closed

[2022-02-08 16:54] iampranabroy commented on #6078
@rouke-broersma Is there a way to achieve that if I want to delete certain CRD's as part of the deletion application from ArgoCD?

[2022-02-08 16:55] rouke-broersma commented on #6078
No, you have to delete them manually.

[2022-02-08 16:59] alexmt commented on #8432
This is fixed by https://github.com/argoproj/argo-cd/pull/8416 . Next RC will have changes

[2022-02-08 16:59] alexmt commented on #8418
This is fixed by https://github.com/argoproj/argo-cd/pull/8416 . Next RC will have changes

[2022-02-08 18:33] yeya24 commented on #4972
Because of the grpc version limitation, we cannot easily add opentelemetry to argocd.
Internally, we added jaeger based opentracing instrumentation to argocd and it works well. Opentracing project has been archived recently. Is it acceptable for me to open a pr to upstream the opentracing instrumentation?

[2022-02-08 20:54] alexmt commented on #8418
Sorry, closed it incorrectly - the issue is still there

[2022-02-08 20:54] alexmt commented on #8432
Sorry, closed it incorrectly - the issue is still there

[2022-02-08 21:21] christianAckman commented on #7663
Hi @reginapizza,

Correct me if I'm wrong, but I believe those logs are from the application itself (GuestBook).

For example in my scenario I have a pod with two containers (one OpenResty sidecar). I can see the timestamp logs for the OpenResty container because they are outputted in stdout but not for the application container.

I was looking for a way to view the timestamps without having to mo

[2022-02-08 21:53] romuduck commented on #2789
Great to see it back on track.
I dunno for the others but in my case it is not so much about syncing from multiple sources (which source takes precedence? what about perf? what will appear in UI under Sync ). It's rather that the sync source should be the one where environment value files reside.
In practice, I will **pin** my application to a specific helm package version and set externalValueFil

[2022-02-08 22:23] evgf commented on #2789
Getting back to my original post 2+ years ago in the original post:

`What we want to achieve:

When the values-file gets updated, ArgoCD synchronises the environment using the Helm chart + this values files.`

The point was to monitor the values file in Git and, when the change is detected - deploy the Helm chart from the repository customized with this values-file.

At some point in the discussi

[2022-02-08 22:30] taylorsmithgg commented on #7968
Just wanted to bump this for visibility and let you know this is still desperately needed.
Our current strategy is to push just the `Job` into a separate argo manifest.
As you can imagine, it's more tedious and less reliable than having an easy way to just trigger a cronjob.

[2022-02-08 22:39] WilliamCoffeyTri commented on #8425
![image](https://user-images.githubusercontent.com/22283547/153087460-68f269e6-549a-49cd-810b-b246c4181bb4.png)

Expanding on this with a bit of new info- I had used the address format provided by CodeCommit. After adjusting it to mimic the format provided by github instead, ArgoCD seems to find the repository but still fails, reporting a success message for SSH authentication as the error. This i

[2022-02-08 22:43] keunlee commented on #5592
FYI, running into this issue with Red Hat Openshift GitOps Operator 1.4.2 (downstream) on OCP 4.9.x. The workaround above appears to work.

[2022-02-08 23:02] nfsouzaj commented on #2789
@KlavsKlavsen: I wasn't successful trying to use an external helm chart (such as ingress-nginx) with local values.yaml located in my gitOps repo.

I tried setting a path for my values.yaml in the valuesFiles field (ie: /config/abc/dev/aks-cluster-test-001/values-ingress.yaml) and I was not able to understand why argocd didn't handle it well, which seems to be the problem described in the origin po

[2022-02-08 23:30] ChadiEM commented on #2789
Looking forward to having this!

Is the version of the chart in scope as well? Or is it only for values?

In other words, will it be possible to update a chart version in the cluster with a git commit?

[2022-02-09 00:22] ttyS0 commented on #2789
@ChadiEM

You can already update the helm chart version with `targetRevision`.

[2022-02-09 01:43] Meegada-Mahesh commented on #7992
@yasintahaerol working on this? I would like to take this up if you are not

[2022-02-09 03:01] jessesuen opened #8437 "Ability to disable built-in config management tooling"
# Summary

Argo CD should provide some system-level configuration options to disable invocation of built-in config management tooling.

# Motivation

The Argo CD repo-server invokes commands such as `helm template`, `kustomize build` for config management tooling. Even though the behavior of these commands can be manipulated by Argo CD users to an extent, it was considered relatively safe to run t

[2022-02-09 07:34] yeya24 commented on #4351
Would love to discuss about the implementation a little bit more here as I am currently working on it.
Based on the kubernetes dashboard implementation, it uses websocket and saves shell sessions in memory in a map. But the main drawback is that it doesn't support multiple replicas.

For us, we are using having multiple replicas so it would be good to make this implementation work for multiple rep

[2022-02-09 08:58] Funk66 commented on #8100
So I've finally taken some time to have another look at this and here's what I found. First, I can confirm that the issue started with v2.2.0. Reverting the application-controller image to an earlier version makes the problem go away. Furthermore, I think the issue was introduced with commit 05935a9d, where an 'if' statement to exclude orphaned resources was removed.
The problem itself is that Arg

[2022-02-09 09:31] matan1811 commented on #4722
+1

[2022-02-09 09:40] tooptoop4 commented on #4351
maybe these are relevant: https://github.com/KubeOperator/webkubectl and https://github.com/yudai/gotty

[2022-02-09 10:12] KlavsKlavsen commented on #2789
Thats already possible today. Just enable Autosync on the application that manages that chart an thats how it works.

[2022-02-09 10:12] rainfd commented on #8009
Do you login in argocd ui via xx.xx.xx.eks.amazonaws.com?

[2022-02-09 10:16] KlavsKlavsen commented on #2789
Here's a guide showing how to do the Umbrella (apps manageing apps) - with those apps using upstream Helm charts and overriding values.
https://www.arthurkoziel.com/setting-up-argocd-with-helm/

[2022-02-09 10:24] mamjong commented on #7858
Correction: The `name` value does not necessarily have to be the same as the secret name. Simply adding the `name` key-value to the `stringData` was enough to fix our problem.

[2022-02-09 10:52] tarrychk commented on #7555
This is similar to #6029 which was fixed by #6034.
https://github.com/argoproj/argo-cd/blob/e01ab05d555b799cba08097710482afac3be601e/util/webhook/webhook.go#L388 needs to be changed to `payload, err = a.github.Parse(r, github.PushEvent, github.PingEvent)`.

[2022-02-09 11:34] brackend opened #8439 "Maintenance, issues and operational Notices per project box"
# Summary

Currently there is one banner for notifications on Argocd.  It would be cool to have allow banners for individual projects

Yaml values files has a banner option which includes comments and a link ( eg to teams chat or web page)

# Motivation

Super to have this where multiple teams have deployed projects and applications.  And provide notifications, updates, and status commentary on th

[2022-02-09 12:04] yngvark commented on #2890
I'm encountering this in 2.1.7. Not sure if the problems is if I did something wrong or ArgoCD yet.

[2022-02-09 12:07] yasintahaerol commented on #7992
Sorry, I could not focus on it. You can take over the issue.

[2022-02-09 12:39] stephaneetje commented on #8397
Hello,

Any news with this issue ? SInce i updated argocd, i cant use helm secrets anymore which is very problematic. Is there any workaround ?

[2022-02-09 12:44] brsolomon-deloitte commented on #8009
No. Though I did log in via web UI which is an Ingress resource using ingress-nginx, if that matters. `xx.xx.xx.eks.amazonaws.com` is the K8s control plane API server itself which I do not believe provides a UI.

[2022-02-09 13:05] rainfd commented on #8009
You can try `argocd login your-web-ui.com` to login

[2022-02-09 13:07] tomelliff opened #8442 "Expose `--kubectl-parallelism-limit` as an environment variable"
# Summary

It looks like [not all of the command line flags](https://github.com/argoproj/argo-cd/blob/master/cmd/argocd-application-controller/commands/argocd_application_controller.go#L153-L167) can be passed as environment variables. In particular I'd like to pass the `--kubectl-parallelism-limit` flag as an environment variable.

# Motivation

`--kubectl-parallelism-limit` can be useful to limi

[2022-02-09 13:19] Meegada-Mahesh commented on #7992
/assign

[2022-02-09 15:51] jopit opened #8443 "CMP 2 discover.find.command doesn't use exit code"
**Describe the bug**

The CMP 2.0 documentation says

but the argocd code actually expects the find command to write a non-empty string to stdout in order to indicate that the type is supported.
[code]
https://github.com/argoproj/argo-cd/blob/e01ab05d555b799cba08097710482afac3be601e/cmpserver/plugin/plugin.go#L201

**To Reproduce**

ConfigMap for plugin.yaml
[code]

Sidecar definition
[code]

Appl

[2022-02-09 18:36] iusergii commented on #6940
Also looking for a proper workaround for this.

[2022-02-09 18:36] jannfis commented on #8442
Please feel free to submit a PR for this :)

[2022-02-09 18:40] iusergii commented on #6940
Escaping dot helps:
[code]

[2022-02-09 19:11] rishabh625 commented on #7669
/assign

[2022-02-09 19:55] MazenElzanaty opened #8444 "ArgoCD doesn't delete resources it creates"
Argo v2.2.5+8

I have the following app in my repo but when I delete it from the repo, argocd removes it from the argocd namespace only, but the resources themselves are still there, deployment, ingress, etc

[code]
Checklist:

* [ yes ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ yes ] I've included steps to reproduce the bug.
* [ yes ] I've pasted the output o

[2022-02-09 20:54] MeNsaaH commented on #8397
@stephaneetje  none for now aside downgrading to the vulnerable version..

[2022-02-09 22:03] alexmt commented on #8397
Working on fixing it. Once the fix is ready will cherry-pick it into 2.3, 2.2 and 2.1. Please check vulnerability limitations in https://medium.com/argo-project/argo-cd-deals-with-our-first-zero-day-cve-86e8fb158e8f . The vulnerability is there but it is not applicable to every organization.

[2022-02-09 22:49] derrickburns opened #8448 "Application CR values parsing doesn't respect flattened args"
I have a values.yaml file that has flattened keys like this:

[code]

When argo parses them it does not reflect that the keys are flattened. Instead, it unflattens them.

The problem comes in when I overwrite a value.  Then argo writes out the new value as a hierarchy:
[code]

This introduces a problem for Java where the values are intended to be Java properties.

Instead, the argo UI should respe

[2022-02-10 01:49] jessesuen commented on #8444
This is documented. you will need the `resources-finalizer.argocd.argoproj.io` finalizer in the application if you want argo cd to perform the deletion in a declarative setup.

https://argo-cd.readthedocs.io/en/stable/user-guide/app_deletion/#about-the-deletion-finalizer
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#applications

[2022-02-10 01:49] #8444 closed

[2022-02-10 04:21] #7023 closed

[2022-02-10 06:14] brandon-piner-aruba commented on #3149
also make sure that the secret has the  argocd label:

[code]

[2022-02-10 07:52] MazenElzanaty commented on #4435
Any workarounds for this?

[2022-02-10 07:55] Moep90 commented on #2932
solved it for me.
[code]

[2022-02-10 11:31] grid-dev commented on #8420
Possible duplicate to https://github.com/argoproj/argo-cd/issues/3956

[2022-02-10 12:05] rgordill commented on #2437
+1. It will be very helpful if we can deploy a cluster, argocd and then everything can set up a complete operative cluster, including not only the applications but also patching what set up "as-is" in the original cluster deployment but has to be customized.

Examples: authentication methods, retention params in monitoring, api-server customizations, etc.

[2022-02-10 14:45] sdelrio commented on #5107
Yes, I'm using helm chart to deploy ArgoCD. Using last chart I saw 3.33.5 (5 Feb 2022)
Using this chart version and rolling back to v2.2.2 also fix the issue. The previous chart version I was using was 3.29.5

[2022-02-10 15:00] begemotik commented on #5107
Just try out the 3.29.5 and specify image tag 2.2.5, it will work fine. We were trying to identify the problem with chart causing that and we have some clues, but no confirmation so far

[2022-02-10 15:06] sdelrio commented on #5107
Thank you very much. I will test 2.2.5 + chart 3.29.5.
For what I just saw the main differences are `Poddisruptionbudget` and initcontainer `copyutil` for copy argocd binary, but they seems to be disabled by default.

[2022-02-10 17:44] adynetro commented on #998
I've tried all the above and still have the same issue. I can login with openshift but I dont't have permissions to sync.

[2022-02-10 17:55] keithchong commented on #8024
Hi @lancehudson , the PR has been created. I did not implement your suggestion described in point 3. https://github.com/argoproj/argo-cd/issues/8024#issuecomment-1025820084

Sounds like perhaps the strategy needs to be ironed out first? Feel free to open a separate enhancement issue for that.

[2022-02-10 20:37] pthornton commented on #8214
Have a workaround using plugin.
In values.yaml:
[code]
Add scripts configmap under templates/plugin-scripts.yaml:
[code]
In application def, replace helm section with plugin:
[code]

[2022-02-10 21:17] AdamFarhat opened #8461 "Error when adding cluster: FATA[0013] rpc error: code = Unknown desc"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We've got a hosted argo-cd instance on a AKS Cluster and trying to add another AKS cluster in different VNET but getting the following output:

[code]

**To Reproduce**

1. Create Clust

[2022-02-10 21:18] keithchong commented on #8298
Hey @reginapizza , I created a PR for this. Check it out.

![8298-HorizontalScrollBar](https://user-images.githubusercontent.com/7726022/153483649-9d6e61b4-4738-4df4-87ad-1c7647404828.gif)

[2022-02-10 21:32] AdamFarhat commented on #8461
Turns out that this issue was a networking issue on our side.We updated the HUB firewall and it worked.

[2022-02-10 21:32] #8461 closed

[2022-02-10 21:47] gw0 commented on #4706
@musabmasood I guess this is the expected behavior? You had just an App without a chart deployed, so the live state that ArgoCD is aware of is empty (i.e. there were no resources marked as being part of the App). In your branch you had added the chart, so the target state contains all the resources. The difference is to apply them all (which would probably just add some annotations, but leave them

[2022-02-10 22:55] #7986 closed

[2022-02-10 23:47] jessesuen commented on #5256
Added to v2.4. it's more than removing image. we should also remove backend & front-end logic

[2022-02-10 23:52] whyvez commented on #8084
I was able to solve my issue after seeing this issue: https://github.com/argoproj/argo-cd/issues/4358

Specifically: https://github.com/argoproj/argo-cd/issues/4358#issuecomment-1031983396

Looks like the update to 2.2.3 changes the application controller from a `Deployment` to a `StatefulSet` and the old deployment is never deleted.

I deleted the `application-controller` `Deployment` and all is

[2022-02-10 23:52] #8084 closed

[2022-02-11 00:38] otterley commented on #8429
The issue is most likely that since you're on arm64, there aren't any release builds yet for that architecture. It appears that multi-arch builds for amd64 + arm64 will be available once v2.3.0 is released. Try installing this instead in the meantime:

[code]

When I did this, all but one deployment started its pods, and the `argocd-initial-admin-secret` became available. I was able to log in to t

[2022-02-11 00:40] otterley commented on #8420
It looks like this is coming in v2.3.0 since #8108 was applied.

[2022-02-11 00:57] otterley commented on #8429
argocd-applicationset relevant PR: https://github.com/argoproj/applicationset/pull/499

[2022-02-11 01:01] gw0 commented on #8326
I guess this is expected behavior, because the format for no options is to show `{}`. (Similar thing happens in `cert-manager/Certificates` where `duration: 123h` gets changed to `duration: 123h0m0s` and ArgoCD attempts to change it back.)

You can either define your App definition to match the expected output:
[code]

Or you could add the `automated` field to `ignoreDifferences`.

[2022-02-11 01:48] gw0 commented on #7770
If I understand correctly, many `argocd app diff` issues are seem to be related (https://github.com/argoproj/argo-cd/issues/4706, https://github.com/argoproj/argo-cd/issues/4703, https://github.com/argoproj/argo-cd/issues/7770, https://github.com/argoproj/argo-cd/issues/6942, https://github.com/argoproj/argo-cd/issues/6167, https://github.com/argoproj/argo-cd/issues/5532).

Basically, we need an o

[2022-02-11 02:56] derrickburns opened #8464 "Helm Parameters does not allow common annotations"
I would like to pass an annotation via helm parameters in the Application CRD such as:
[code]

However, this does not work:

[code]

Is there another syntax?

[2022-02-11 05:37] saumeya commented on #8298
This looks great @keithchong

[2022-02-11 07:22] rajivml opened #8466 "UI warning about force sync option"
# Summary

HI,

Is it possible to disable Sync + Force via argocd RBAC ?

![image](https://user-images.githubusercontent.com/46923567/153551481-a3f9f0aa-b9ff-4a65-b509-be0fdeac2f62.png)

# Motivation

Our customers use argoCD to install and upgrade our software on top of kubernetes. Since "Force" being destructive in nature, one of our customer ended up in doing so i.e. "Sync + Force" and it resul

[2022-02-11 07:54] nilsbillo commented on #8100
Running argocd 2.1.3 in EKS and have problem with high cpu usage and throttling of application controller aswell. So do not think 2.2 is the only issue though.

[2022-02-11 09:15] kamil-wojcik opened #8469 "Allow application sync by project name"
# Summary

It would be useful to allow argocd application sync via project name

# Motivation

In my case I would like use call argocd app sync with some arguments that would sync all alls in given project.

Currently it is

# Proposal
There are two ways I think it could be done.
1. Add project label to each application based on the project it belong to so eg. argocd.argoproj.io/project=myproject.

[2022-02-11 09:47] chetan-rns commented on #8469
@kamil-wojcik There is an open PR https://github.com/argoproj/argo-cd/pull/8343 for this feature

[2022-02-11 10:24] #8281 closed

[2022-02-11 10:40] DPT4 opened #8470 "Sync Window Exceptions for Specific Application Definitions"
# Summary

It would be very helpful to have an exceptional feature (extra field to define exceptional project name) for covering sync windows hierarchically.

# Motivation

For example, you've defined a sync window under your project "X" that covers all applications under itself with a "*" for a limited time (which comes from duration). And after that, you needed to create an exception for only a

[2022-02-11 11:07] bhupenderS012 opened #8471 "Hight CPU consumption on argocd-application-controller and argocd-repo-server"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

    I am using ArgoCD helm chart for argocd deployment. CPU consumption is high on argocd-application-controller and argocd-repo-server.

      Number of applications running on argocd:

[2022-02-11 11:08] gw0 commented on #4706
Oh, I found a manual workaround for the OP issue... So, the goal is to get a diff on all manifests generated by an App when you make a local change to the App manifest.

- First you check out the repository implementing the App-of-Apps pattern and make the proposed local changes.
- Render the root of App-of-Apps and extract the modified App manifest.
    * If the root is a Helm App, use `helm temp

[2022-02-11 11:59] gw0 commented on #4706
Lets script this workaround:

[code]

[2022-02-11 12:28] odidev commented on #8429
@otterley, Thank you for the response.

I have used the yaml script for the pre-release version, i.e. 2.3.0-rc*, < https://github.com/argoproj/argo-cd/releases/tag/v2.3.0-rc5 >, and everything is working fine now.

May I know, is there any ETA for v2.3.0?

[2022-02-11 14:57] reginapizza commented on #7663
hey @christianAckman! Tried reaching out to you via CNCF slack and email but maybe you haven't seen them, I was wondering if we could connect quick, I'm having some trouble finding an example of this in working environments. Lmk, thanks!

[2022-02-11 15:22] rizzaricreative commented on #7756
Hi All,

Did anyone manage to get to the bottom of this ? This is the error I experience:

`ComparisonError
rpc error: code = Unknown desc = Repository 'ssh://git@github.com:${PROJECT}/${REPO}.git' cannot be initialized, because its root would be system temp at /tmp`

[2022-02-11 15:31] shapirov103 commented on #7756
`ssh://` never worked for me when connecting to git repos using ssh.

In the ticket description I noticed that the path the works commonly for me for GitHub was tried without SSH key:

[code]

The problem with ArgoCD is that error description is not always clear. So SSH_AUTH_SOCK is thrown when key is not specified or invalid. Try the same with the SSH key.
@cisco1115 ^^

[2022-02-11 15:40] distorhead opened #8475 "Continuous deployment of OCI helm charts"
Hi!

# Summary

Automatically rollout latest version of OCI helm chart gitops-style.

# Motivation

I have an application which is bundled as a chart into the OCI container regsitry. This chart is versioned using some semver. I need to rollout this chart by the argocd application automatically based on some policy: always latest semver or latest semver within constraint/mask. This will enable Cont

[2022-02-11 15:45] christianAckman commented on #7663
@reginapizza I found you an example for you to run. Here is an example manifest you can add to your GitOps repo:

Source Code: https://github.com/heroku/docker-nodejs-hello-world
Docker Image: https://hub.docker.com/r/heroku/nodejs-hello-world

[code]

Results:
![image](https://user-images.githubusercontent.com/23055989/153622357-62570000-61c3-46c9-be93-b7c86546cc39.png)

Keep in mind I believe th

[2022-02-11 17:18] jemag commented on #6078
I feel like there should at least be a way to tell ArgoCD that you want to delete CRDs for specific applications. Having to do it manually for 100% of situations seems counter-productive

[2022-02-11 17:26] cisco1115 commented on #7756
Hi. I was able to finally get it to work with: `ssh://git@gitlab.mydomain.com/devops/argocd-deployment.git`

My other issue was not giving the service account associated with that key permission. doh!

[2022-02-11 21:02] jemag commented on #820
@jessesuen given the `replace` drawbacks you mentioned, what would be the recommended way for ArgoCD users to handle such use cases?

I am guessing at some point server-side apply could be used (https://github.com/argoproj/argo-cd/issues/2267), but not sure for the best way to proceed meanwhile.

[2022-02-12 00:48] agaudreault-jive commented on #5933
I get intermittent errors with the repo-server, I have 5 different pods using ~80Mi and the limit is 512Mi. Although the request is 128Mi.

[code]

@KlavsKlavsen  I was wondering if and how you fixed it

[2022-02-12 05:00] tooptoop4 commented on #3864
@mnasruul what was the fix?

[2022-02-12 05:14] gdsoumya commented on #5256
@jessesuen have raise a PR #8479 for the changes, it removes ksonnet from docker as well as other places in argo-cd code base. Besides changes in argo-cd repo I think we also need to remove ksonnet from the applicationset repo https://github.com/argoproj/applicationset/blob/5787c33af6768d0ed085e11f5f1ece57a4c03a50/manifests/crds/argoproj.io_applicationsets.yaml#L224

[2022-02-12 10:34] gmuth commented on #8328
Fixing this bug should include two tasks:
1) make swagger-ui accessible via http://<CUSTOM_DOMAIN><CUSTOM_PATH/swagger-ui
   by recognizing the path configured with --basehref <CUSTOM_PATH>
   Potential Issue: leading '/' could cause issues
2) fix the link on help page button "Open the API DOCS"

[2022-02-12 11:57] jkroepke commented on #8397
There is no invulnerable version, yet. If you take a look at this [chart](https://github.com/jkroepke/CVE-2022-24348-2/tree/main/helm-file-get), you are still able to access files from everywhere.

[2022-02-13 00:28] nhuray commented on #7835
@lfdominguez  I tried your suggestion but unfortunately it looks I have an issue to render a kustomized helm chart.

Here is my configuration:
[code]

The configmap:
[code]

But the app is not created:
<img width="1311" alt="Screen Shot 2022-02-12 at 7 27 38 PM" src="https://user-images.githubusercontent.com/958983/153733243-def53778-8132-4e8a-9910-74a86e527f53.png">

Any thoughts ?

[2022-02-13 01:26] Cylix commented on #5525
Hey @fabricepipart1a, I implemented the change in https://github.com/argoproj/argo-cd/pull/7658 (pending review).

Unfortunately, this change still relies on APPNAME to be known by the live Argo instance, because I followed the implementation of `argocd app diff --local`:
* `argocd app manifests --local` when APPNAME is known will show the manifests for that app using the local data.
* `argocd app

[2022-02-13 02:12] lfdominguez commented on #7835
You must set a real helm repository, not that URL

[2022-02-13 02:19] nhuray commented on #7835
@lfdominguez

When I run  kustomize in local with that config, the helm chart is rendered and patched :

<img width="1677" alt="Screen Shot 2022-02-12 at 9 16 16 PM" src="https://user-images.githubusercontent.com/958983/153735452-275c5636-3d48-417b-a826-afea3ce7ba70.png">

So why it would be different in ArgoCD ?

[2022-02-13 03:08] ilanni2460 opened #8483 "How argocd modifies the user's password policy"
How argocd modifies the user's password policy
argocd version: 2.2.5

[2022-02-13 03:23] lfdominguez commented on #7835
Sorry i learn now that you can use the raw path of the url to get the chart... thanks

[2022-02-13 09:23] lbednaszynski opened #8484 "Helm revision is truncated on status badge"
Feature adding revision to the status badge is pretty cool (https://github.com/argoproj/argo-cd/issues/2445), but it works incorrectly for helm release pinned to the helm chart version instead of commit. Helm versioning uses SemVer2 and the version can quite long. In the implementation revision number is truncated to 7 characters: https://github.com/argoproj/argo-cd/blob/85a746f861c3fbfd42f5db3ea6

[2022-02-13 13:09] tooptoop4 opened #8485 "https://github.com/argoproj/argo-cd/blob/master/manifests/base/dex/argocd-dex-server-deployment.yaml missing livenessprobe"
https://github.com/argoproj/argo-cd/blob/master/manifests/base/dex/argocd-dex-server-deployment.yaml missing livenessprobe

[2022-02-13 13:26] iampranabroy commented on #6078
Adding the `resources-finalizer.argocd.argoproj.io` helped in deleting the resources/CRD in my case. ArgoCD doc [here](https://argocd-applicationset.readthedocs.io/en/stable/Application-Deletion/)

[code]

[2022-02-13 16:02] rouke-broersma commented on #6078
Are you absolutely certain argocd deleted your crd's? Because it should not, by design. Adding a finalizer should not change anything in the case of crds.

[2022-02-13 19:50] NotAFile opened #8486 "argocd admin dashboard gives 500 error"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
When testing v2.3.0-rc5, `argocd admin dashboard` does not serve the dashboard, instead it produces the following error:
[code]

**To Reproduce**

Install rc5, run `argocd admin dashboar

[2022-02-13 19:55] NotAFile commented on #8486
Interestingly, I get a different error with curl:
[code]

[2022-02-13 20:18] NotAFile commented on #8486
I further bisected the error to somewhere between v2.2.5 and v2.3.0rc1

[2022-02-13 22:50] mfbieber commented on #8214
@pthornton, sorry for replying late.

I am working with 3.26.12 and yes, I called this myself:
[code]
I would try to check this week if something changed during the last two weeks in the code. I could also submit a PR to somehow fix this, but I am unsure of how we would like to solve this. I'll think about it and will try to make a proposal, if I can.

Good that you have the plugin working, it loo

[2022-02-14 04:56] alexmt opened #8489 "Argo CD should retry failed K8S requests due to KIAM failures"
**Describe the bug**

[KIAM](https://github.com/uswitch/kiam) is often used to configure Argo CD -> managed K8S cluster access. If KIAM has intermittent issues the Argo CD sync operation/application creation fails. Argo CD should retry K8S requests failed due to intermittent KIAM failures.

**To Reproduce**

No clear steps to reproduce.

**Expected behavior**

Argo CD sync operation/application cr

[2022-02-14 06:09] KlavsKlavsen opened #8490 "FEATURE: Notice / prune objects NOT created by Argocd"
# Summary

It would be nice if argocd could be configured to notice objects NOT managed by it - and complain in a way

It would also be very nice to be able to simply 'sync' - for argocd to REMOVE the 'illegal' objects

# Motivation

We can then make alerts if this happens, as we want to detect if anyone is editing or adding k8s objects outside argocd - to ensure we ARE 100% gitops.

We also often

[2022-02-14 06:16] KlavsKlavsen commented on #5933
I have not seen the problem after setting limit to 1gb and also we switched to OCI

[2022-02-14 09:40] hichamov commented on #2532
You can update your deployment file with you ci tool by using 'yq' tool.

[2022-02-14 10:44] AtzeDeVries opened #8492 "Remote bases on private repos and github apps"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When using a remote base which is in a private repo we run into this error

[code]
Now more people are reporting this #8342  and #6440 but we are using a github app to authenticate agai

[2022-02-14 11:30] jannfis commented on #8417
The application will not be removed from Argo CD when you delete its resources. This is expected.

There are two things to consider here:

* If you remove the directory in Git where your Helm chart is stored (e.g. what is specified as `.source.path`), Argo CD will consider it an error (because the Application assumes the source path to exist).

* If you remove all files within the directory in Git

[2022-02-14 12:09] chetan-rns commented on #8486
@alexmt I think the dashboard command relies on the embedded static UI assets. There was a PR to fix it in the Makefile https://github.com/argoproj/argo-cd/pull/7715

[2022-02-14 12:12] bentcoder commented on #8417
I personally would add another flag to help automatically remove the application if there is no resource for it anymore. Obviously this would be false by default. It is entirely within users' discretion whether they will opt in or not.

[2022-02-14 13:20] survivant commented on #2532
@hichamov that will be pickup on the next sync (each 3 minutes), so it will not launch it right away.

[2022-02-14 13:28] jannfis commented on #8417
I think that's not how it should work. The Application was not created from the Helm chart, so it should not be removed when the Helm chart does not exist. If something is created & managed imperatively, it should also be removed that way.

If you want the Application to be removed from a trigger in Git, the application resource itself must live in Git too (i.e. app-of-apps pattern).

[2022-02-14 18:45] #8492 closed

[2022-02-14 20:46] jessesuen commented on #8490
I believe you are looking for the orphaned resource feature:
https://argo-cd.readthedocs.io/en/stable/user-guide/orphaned-resources/

But it doesn't do anything with removal of objects. Just presentation and warning.

[2022-02-14 21:33] maratsal commented on #6303
We got the same issue when we are trying to pass empty value (null) argo cd strips it out from application definition.

desired application code:
[code]

but instead we receive following application code and it breaks helm chart generation as argo cd is replacing empty value (null) with empty string ('').
[code]

[2022-02-14 22:07] Cylix opened #8496 "add a new `--degraded` flag to `argocd app wait` command"
# Summary

We would like to add a new flag to the `argocd app wait` CLI to stop waiting when the health status is `degraded`.

# Motivation
`argocd app wait` already have the following flags:
* `--operation`: waits for pending operations.
* `--sync`: waits for the app to be synced
* `--suspended`: wait for the health status to be `suspended`, can be combined with `--health`
* `--health`: wait for

[2022-02-14 22:14] Cylix commented on #8496
FYI, I opened a PR with the change I have in mind: https://github.com/argoproj/argo-cd/pull/8497

[2022-02-15 04:03] KlavsKlavsen opened #8501 "Update PVCs WITHOUT disrupting service - using sync option"
# Summary

Argocd cannot handle sync'ing of pvc changes in statefulsets, because k8s cannot.

There is a solution for this (recreate statefulset without cascade delete) - but as I understand it - recreate is unfortunately done WITH cascade=true (default) as far as I can see.. (the docs here does not even mention recreate option though: https://github.com/argoproj/argo-cd/blob/master/docs/user-guid

[2022-02-15 05:53] subhashchy opened #8502 "Cannot read properties of undefined on page load"
Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

**Describe the bug**

After upgrading, The page stopped opening - seeing this error

`Stacktrace:

TypeError: Cannot read properties of undefined (reading 'includes')
    at https://cd.mydukaan.io/main.9e5f1

[2022-02-15 05:59] EdwardCooke opened #8503 "SharedResourceWarning when CRD has app.kubernetes.io/instance label"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
In version 2.3.0-rc5 when applying a custom resource definition with an `app.kubernetes.io/instance` label it shows an error stating it is part of 2 different applications, the argo appl

[2022-02-15 06:01] subhashchy commented on #8502
This is fixed in [v2.3.0-rc5]
can be closed.

[2022-02-15 06:01] #8502 closed

[2022-02-15 06:05] Yejing0609 opened #8504 "is it possible that argocd manage multiple git branches?"
### Discussed in https://github.com/argoproj/argo-cd/discussions/8500

<div type='discussions-op-text'>

<sup>Originally posted by **Yejing0609** February 15, 2022</sup>
we have the below situation.
gitlab pipeline to build images and helm charts.
in github repo, we define the argocd managed application. The configuration is like below
[code]

and under path `argocd/workload` we define again with

[2022-02-15 10:47] kvendingoldo commented on #6125
We have the same issue with load, only one shard is working and during the high load it fails, but all others do not pick tasks.

[2022-02-15 11:30] kaustubhsharma-009 commented on #2973
I am facing the same issue but with cron job template. I have configured the template in a similar fashion cron job resource is not getting deployed at all
[code]

The values.yml snippet for this is:
[code]
@De1taE1even

Thanks

[2022-02-15 12:23] norbertkeri commented on #4204
Workaround for kind, might work for other single node k8s solutions:

[code]

Find the entry belonging to the cluster in your `.kube/config`, and change the server entry:

[code]

Verify that `kubectl get pods` is still working, then try `argocd cluster add`.

[2022-02-15 13:05] jannfis commented on #7604
Seems this issue can be closed.

Please feel free to reopen if issue persists.

[2022-02-15 13:05] jannfis commented on #7858
I'm assuming this issue can be closed? Please feel free to re-open if issue still persists.

[2022-02-15 13:05] #7858 closed

[2022-02-15 13:33] bat79a commented on #4096
Up tested with helm chart v2.2.5

Can't find where is the problem !

[2022-02-15 13:37] bat79a opened #8509 "Change the new user password created"
**Describe the bug**

Hi all.

I have the admin user enabled, I can login on the UI with this admin user, and have created 2 users with a configmap.

I can list and see this 2 users with :
[code]

But when I want to create password for this 2 new local users like the docs explain, it's impossible :
[code]

return to me :

[code]

**To Reproduce**

helm install ...

**Expected behavior**

Add a pas

[2022-02-15 15:17] wojtekidd commented on #4837
Can I take this one for a spin @jessesuen ?

[2022-02-15 15:58] alexec opened #8511 "3-stage application sync - plan, approve, execute"
Currently, when you click sync, you don't have the option of knowing exactly what will happen. This is mostly mitigated by checking the app-diff view. However, it does not cater for sync waves, sync-hooks, or other ordering.

Lest break the sync into two parts.

1. Create a "plan".
2. Get the user to "approve" the plan is correct.
3. "Execute" then plan.

The plan is a JSON document stored in Redi

[2022-02-16 00:32] tabnul commented on #7844
same issue here  , but how can it be closed?
Why do you need CRD on target machine? And if you'd need it, why doesnt argo deploy those when adding a cluster?

[2022-02-16 03:09] #7571 closed

[2022-02-16 03:58] ishitasequeira commented on #8464
I would like to work on this.

[2022-02-16 05:58] kaustubhsharma-009 commented on #2973
@rivetmichael @De1taE1even any help would be great as this is sort of a priority. Please let me know if there's a suitable solution for the above stated issue

[2022-02-16 06:41] om3171991 opened #8521 "helm-dependency with configMaps"
Hi Team,

We are trying to deploy an application using https://github.com/argoproj/argocd-example-apps/tree/master/helm-dependency, but we have a use-case where the base helm dir contains another config dir with properties file and these are required by the dependent helm chart to create config maps, but when I deploy the app via Argo, it creates empty config maps.

**service2 configMap manifest:*

[2022-02-16 07:22] s-u-b-h-a-k-a-r commented on #7969
Facing the same issue..
The repo is getting added twice
helm repo add https://helmrepo https://helmrepo

[2022-02-16 08:16] bilalcaliskan commented on #8324
/assign bilalcaliskan

[2022-02-16 09:03] longshine commented on #8272
+1 with same issue

[2022-02-16 10:14] xoanmm opened #8522 "Ability to enable FullTimeStamp option in logs based in environment variable"
# Summary

Be able to enable or disable `FullTimeStamp` in `logrus.Formatter` used for logs.

# Motivation

It can be very useful to have logs that have the `FullTimeStamp` option enabled or not depending on whether an environment variable `ARGOCD_LOG_FORMAT_ENABLE_TIMESTAMP` has the value 1 or not, just as it is possible to indicate the log format through the `ARGOCD_LOG_FORMAT` environment varia

[2022-02-16 11:11] #8522 closed

[2022-02-16 11:12] xoanmm opened #8523 "Ability to enable FullTimeStamp option in logs based in environment variable"
# Summary

Be able to enable or disable `FullTimeStamp` in `logrus.Formatter` used for logs.

# Motivation

It can be very useful to have logs that have the `FullTimeStamp` option enabled or not depending on whether an environment variable `ARGOCD_LOG_FORMAT_ENABLE_TIMESTAMP` has the value 1 or not, just as it is possible to indicate the log format through the `ARGOCD_LOG_FORMAT` environment varia

[2022-02-16 11:31] krrrr38 opened #8524 "dex rundex cannot change logformat and loglevel"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

`argocd-dex rundex` output both json and text log.

[code]

Even if we add `logformat` option into `argocd-dex rundex`, we cannot use it. Because [dex can use logformat option](https://

[2022-02-16 12:36] neiser opened #8527 "Document ARGOCD_K8S_* environment variables"
This [code](https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/cluster_constants.go) shows that there are the following environment variables available to configure usage of the k8s API by ArgoCD:

[code]

They were recently extended in #8404 and there was the need for documentation needed, and thus this issue would like to add documentation.

Add a new section to the do

[2022-02-16 15:02] #8417 closed

[2022-02-16 15:19] samm-git opened #8529 "Access to the events in the LUA health checks"
# Summary

I would like to be able to access events data in the lua health checks. This would help to write a health check which knows better if resource is really healthy or not.

# Motivation

I am writing health check for the `PersistentVolumeClaim`. It is expexted for this resource to be in the `Pending` state with `WaitForFirstConsumer` event. However, this `WaitForFirstConsumer` event is not

[2022-02-16 15:56] rlipscombe commented on #8394
I noted a v0.4.0 tag on the image, so I tried that. Still seeing the same error.

[2022-02-16 17:11] rbreeze opened #8530 "UI: Favorite star icon is cut off"
<img width="360" alt="Screen Shot 2022-02-16 at 09 10 12" src="https://user-images.githubusercontent.com/6250584/154318816-30dc9eaa-f096-4ff1-95d2-f2d6f66ecac4.png">

Checklist:

* [ ] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [ ] I've included steps to reproduce the bug.
* [ ] I've pasted the output of `argocd version`.

[2022-02-16 17:14] rbreeze opened #8531 "UI: Move pod logs containers to dropdown in pod logs toolbar"
# Summary

Right now, the containers list sidebar takes up quite a bit of space in the pod logs viewer (approx. 1/4 or 1/3 of the screen real estate). Often there is a lot of empty space beneath this list. I suggest we move this to a dropdown list located in the toolbar with other pod logs actions (i.e. Follow Logs, Show Container Names etc.) and expand the logs viewer itself to the full width of

[2022-02-16 20:29] alexec opened #8533 "Extend ArgoCDExtension to support new API endpoints"
Today, you can extend the UI to add components that help make resources easier to understand.

I'd like to go beyond that, specifically in our case, which is to surface telemetery.

We cannot put telemetry into a CRD because etcd is not design for the kind of churn updating the CRD would produce. Nor in etcd a time-series database.

We want the benefits of the UI - i.e. SSO, RBAC, etc.

Backstage

[2022-02-16 20:30] alexec opened #8534 "ArgoCDExtension catalog"
There should be a catalog of these.

[2022-02-16 20:52] #8243 closed

[2022-02-16 22:07] alexmt commented on #8486
@chetan-rns , I've noticed your comment and your PR after creating my own PR, sorry.

Looks like we implemented almost the same fix, but in https://github.com/argoproj/argo-cd/pull/7715 CI failed since CI host don't have all tools to build UI. In https://github.com/argoproj/argo-cd/pull/8536 I'm using docker build to create UI assets.

[2022-02-16 23:03] yeya24 commented on #4351
Quick update for our progress. We have already implemented the basic web shell for pod, based on the k8s dashboard implementation.

![image](https://user-images.githubusercontent.com/25150124/154372059-c9d4fe5c-ffdf-47a2-b9f5-66c49270672d.png)

We also find one blocker https://github.com/argoproj/argo-ui/issues/180 for us. The `xterm` dependency used by `argo-ui` project is too low. Can we upgrade

[2022-02-17 01:11] jessesuen commented on #8466
It's unlikely we will add separate RBAC just for a sync option. Argo CD RBAC is granular to actions/resources and sync option is too granular of an action.

That said, I agree force needs a stronger warning (like replace) because it is potentially disruptive.

Also, what might help you in the future, is when we have user/serviceaccount impersonation, you would be able to use kubernetes RBAC so tha

[2022-02-17 01:17] jessesuen commented on #8503
We inject the app name into `app.kubernetes.io/instance`. Sometimes helm charts conflict with the `app.kubernetes.io/instance` label which is what might be happening here. In which case you should consider using annotation based tracking (which will become the default in the future) so that there is no conflict.

https://argo-cd.readthedocs.io/en/latest/user-guide/resource_tracking/#additional-tra

[2022-02-17 01:19] jessesuen commented on #8504
Hello, please keep issue lists to either bugs or enhancement requests.

[2022-02-17 01:19] #8504 closed

[2022-02-17 01:28] jessesuen commented on #8501
When you say "recreate" do you mean Argo CD's "replace" sync option?

If this workaround works: `kubectl delete sts --cascade=false <statefulset>`, couldn't deleting the object in Argo CD UI with cascade=false also work for you as well?

[2022-02-17 01:35] jessesuen commented on #8529
Health checks are intentionally limited to examining just the single resource it is assessing. It is required to happen quickly since Argo CD is assessing health of hundreds objects many times a second. Including other objects (including Events) would increase the complexity of the controller logic as well as impact the performance. We would need to start caching Kubernetes events (which we curren

[2022-02-17 01:35] #8529 closed

[2022-02-17 01:59] jessesuen commented on #8469
Duplicate of https://github.com/argoproj/argo-cd/issues/8320

[2022-02-17 01:59] #8469 closed

[2022-02-17 03:08] #8486 closed

[2022-02-17 06:37] RexHuang commented on #6079
yes, it is useful, pls improve.

[2022-02-17 08:12] samm-git commented on #8529
@jessesuen ok, thank you for reply and explanation. I will think, may be i can use hooks to update annotations and use them in the healthcheck

[2022-02-17 08:47] kostis-codefresh commented on #4679
@tetchel is this still an issue now that https://github.com/argoproj/argo-cd/pull/4674 is merged?

[2022-02-17 08:52] kostis-codefresh commented on #7421
I think this issue should be move to https://github.com/argoproj/argo-rollouts

[2022-02-17 09:36] gnubibi33 commented on #2789
This feature would be great ;)

What is the best workaround actually ? Get the chart + values in gitlab repo ?

[2022-02-17 09:50] manuelstein commented on #8314
same here

[2022-02-17 10:58] servo1x commented on #6175
Hi, anyone have an updated answer for this? I am confused whether we should be using the newer format or not.

[2022-02-17 11:00] servo1x commented on #3856
Still have this issue with `2.2.5`.

[2022-02-17 11:10] rouke-broersma opened #8548 "Helm OCI repositories connectivity test unsupported protocol scheme"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

When connecting a helm OCI repository the repository connectivity check marks the connection as failed:

`Unable to connect to repository: rpc error: code = Unknown desc = error testing

[2022-02-17 11:28] #7663 closed

[2022-02-17 11:36] willemm commented on #5107
We're having similar issues.

One thing I would like to add (which is why I'm commenting) is that I believe an application should never get into a permanently broken state just because of a temporary issue like this.

i.e. if I click 'hard refresh' on the applications that are broken like this, they become fixed.  I don't want to have to do that manually, it should just sort itself out.

[2022-02-17 15:08] jprecuch opened #8551 "ArgoCD ignores immutable secrets with randAlphaNum inside"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We are trying to migrate our current environment under argoCD. We are using helmcharts for this currently.
Some of our helmchart secrets are using randAlphaNum to generate random passwo

[2022-02-17 15:11] ustuehler-brands4friends commented on #4397
Although this issue is older, I think it could be considered a duplicate of #5724, which has more details by now. Can it be closed?

[2022-02-17 15:21] jaydipdave commented on #6880
The PreSync hook, PostSync hook, and "Syncing" (while No Operation Running) are the only long pending major issues in ArgoCD at the moment.

[2022-02-17 16:15] s-u-b-h-a-k-a-r opened #8553 "ArgoCD: Upgrade from 2.1.9 to 2.2.4 or 2.3.0 issue with helm dependencies"
facing this after upgrade from 2.1.9 to 2.2.4 or 2.3.0

rpc error: code = Unknown desc = Manifest generation error (cached): `helm dependency build` failed exit status 1: Error: could not download [https://repositories.cloud:443/artifactory/api/helm/sf-helm/mychart/mychart-1.0.4.tgz](https://repositories.cloud/artifactory/api/helm/sf-helm/mychart/mychart-1.0.4.tgz): failed to fetch [https://reposi

[2022-02-17 16:35] alexec commented on #8533
Notes from meeting:

* Was avoided in rollouts, not needed.
* We will never provide as good a service as Wavefront. Argo CD could have a better deep linking system/one click to other system.
* More extensions into UI wanted, e.g. notifications/image updater.

[2022-02-17 17:34] tetchel commented on #4679
The aliases were explicitly removed from that PR. Refer to discussion: https://github.com/argoproj/argo-cd/pull/4674#pullrequestreview-517902788

I haven't worked on this project in over a year so maybe it's been done in the meantime.

[2022-02-17 19:11] MalKeshar opened #8554 "Argo-cd doesn't mark resources with additional field "spec.tolerations" as "Out of sync""
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Argo-cd doesn't mark resources with additional tolerations fields as "Out of sync"
Tested on daemonset and deployment

**To Reproduce**
* Use kubectl to add tolerations to daemonset or d

[2022-02-17 19:51] #8397 closed

[2022-02-17 21:36] ciiay commented on #8530
@rbreeze Could you provide more details how you get this issue? I'm not able to see the same issue from my end.

[2022-02-17 21:46] fujin commented on #4979
Hello. I am still seeing this in v2.2.4. PreSync hook is scheduled, Job starts, runs to completion, Argo sits there spinning "Progressing" until terminated. To work around it, we are terminating the op and using 'sync --strategy=apply' (disabling the hook) and running our job out of band.

Kube events during the sync confirm the job success. I no longer see the job/pod (per those events) if I chec

[2022-02-17 22:00] rbreeze commented on #8530
I use Safari, so it could be a Safari specific issue. Otherwise, my environment was pretty standard (13" laptop sized browser window)

[2022-02-17 22:25] ciiay commented on #2355
@alexec @alexmt  Can we give a second thought about if this is a #good first issue? After taking a closer look at this issue, it seems that to achieve the request we will need to update the API side logic to cache the code on previous deployment. Not sure if it's too expensive to do so now. Let me know what you think. Thanks!

[2022-02-17 22:29] Paragon1970 commented on #8278
Also seeing this behaviour with deletion of Argo applicationsets since under the hood it is removing an argo application.
Currently on Argocd v2.2.5

[2022-02-17 23:05] lukpep commented on #7875
upvote from my side - exactly my case also - crating those on-demand, temporary environments and dealing with hanging namespaces after env deletion.

[2022-02-17 23:38] ciiay commented on #8530
Yes, it's due to a smaller default font size in Safari and the `line-height` is calculated by the font size.

[2022-02-18 00:17] booleanbetrayal commented on #7035
Just trying to follow the status of ARM64 binaries availability for the Releases page. Is this currently slated for the v2.3 milestone?

[2022-02-18 03:13] aslamkhan-dremio commented on #6880
Hello. I am still seeing this in v2.2.4. PreSync hook is scheduled, Job starts, runs to completion, Argo sits there spinning "Progressing" until terminated. To work around it, we are terminating the op and using 'sync --strategy=apply' (disabling the hook) and running our job out of band.

Kube events during the sync confirm the job success. I no longer see the job/pod (per those events) if I chec

[2022-02-18 04:52] dhirschfeld opened #8560 "Allow choosing which part (start/end) of a name will get truncated"
In the application details view the names of the resources are truncated, making it impossible to understand the status of the resources at a glance - you have to hover over each resource to see it's name - e.g. what cron jobs are they?

![image](https://user-images.githubusercontent.com/881019/154619148-31ff4f14-991e-47cd-ab12-d06ab4de6829.png)

This becomes even more of an issue with larger appl

[2022-02-18 07:23] yujunz opened #8561 "Ignore spaces in diff view"
# Summary

Currently, spaces are always displayed in diff.

<img width="326" alt="Screen Shot 2022-02-18 at 3 19 10 PM" src="https://user-images.githubusercontent.com/6813397/154636275-5f193044-a443-45d3-abe1-b41a8c24afc1.png">

It would be nice to have an option to ignore spaces.

# Motivation

Ignoring spaces will help user focus on content changes that really matters.

# Proposal

git diff supp

[2022-02-18 10:04] v1r7u commented on #6215
In our environment, we use multiple argocd applications inside the same namespace and we also need custom labels to be attached on namespaces. However, I tend to think that adding labels together with namespace auto-creation could cause significant headaches in edge cases:

- if we have several argocd Applications that are deployed to the same namespace, should all of them have `createNamespace=tr

[2022-02-18 10:59] Deaddy opened #8562 "ignoreDifferences default group undocumented/leaving empty does not work on Ingress"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

I have an ingress resource which I would like to ignore differences on certain json path fields, e.g. /spec/rules or /metadata/annotations, for the usual reasons we kubernetes people do

[2022-02-18 11:22] jerousseau opened #8563 "Registry login error with helm OCI private dependencies"
Checklist:

* [X] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [X] I've included steps to reproduce the bug.
* [X] I've pasted the output of `argocd version`.

**Describe the bug**
Similar issue to this comment : https://github.com/argoproj/argo-cd/issues/8266#issuecomment-1027261191

When setting credentials templates that match a registry but that are not given a

[2022-02-18 13:00] jerousseau commented on #8266
@ocraviotto I couldn't find your issue so I created one : #8563

[2022-02-18 14:59] sl0815 commented on #1415
Hi @abdennour,

we are currently facing the same problem 😢 Did you manage to find a solution to this problem?

[2022-02-18 16:01] puckettgw commented on #2936
Wow, I thought I was doing it wrong. This feature really should be implemented... pretty please?
I was so excited to use ArgoCD instead of the various other tools I had been using. But I *need* to be able to feed an array, map, SOMETHING besides a string to my Helm chart.

[2022-02-18 16:10] R-Lam opened #8567 "argocd cli stop responding after 'n' builds in docker-based CI"
Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

We use an image used in Gitlab CI pipelines that contains only the cli of argocd that connects, sync and/or create projects,repositories,apps as needed. However, after a certain number

[2022-02-18 17:46] Belorus commented on #1415
Did you try to read discussion?

[2022-02-18 18:22] rbreeze opened #8569 "UI: Application Health Status bar toggle is broken"
The Application health status bar toggle (the ruler icon to the right of the search bar on the Applications List page) is broken; clicking this button once hides the status bar as intended, but clicking again does not re-show the status bar.

Using Safari v15.1

[2022-02-18 18:30] sl0815 commented on #1415
Yes, for sure: And nothing fixed it for me. I have the exact same setup as described by @abdennour so referenced his question directly.

[2022-02-18 18:55] crenshaw-dev commented on #2789
@gnubibi33 yep, that's one workaround! I think it's been called a "proxy chart" here. There are quite a few workarounds discussed above, with various advantages and disadvantages.

[2022-02-18 19:00] jemag commented on #5158
I think that would be a great feature. Would be nice also if we could only enable orphaned resource monitoring for specific namespaces.

Currently, with AppProject, it enables it globally for all the applications it contains, however we may only want this behavior for a very specific subset of namespaces.

[2022-02-18 20:01] jozefs commented on #4326
This worked for me:

[code]

[2022-02-18 20:32] jessesuen commented on #8551
This is known/documented behavior if you are using non-hermetic config management tooling & features such as randAlpha. See:
https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/diffing.md#diffing-customization

Fundamentally, we work differently than helm because we invoke `helm template` early and often. Whereas helm only invokes this at point of install or upgrade. Unfortunately, the

[2022-02-18 20:32] #8551 closed

[2022-02-18 20:33] ciis0 commented on #5553
What about building a small program that interprets `docker run` commands and converts them to appropriate `kubectl run` commands? Then the repo-server could intercerpt the calls kustomize want to make to docker and instead, given the appropriate permissions, run containers in new temporary pods and forward stdout/stderr from there.
(I hope a pod running creating other temporary pods is not a anti

[2022-02-18 20:38] jessesuen commented on #8554
This is expected behavior when you are mixing imperative updates with declarative ones (kubectl apply). `kubectl apply` records your intent in the `last-applied-configuration` annotation, whereas `patch` and `kubectl edit` do not. The former is what allows diffing to be accurate. The patch you applied is treated like the normal behavior of kubernetes controllers defaulting fields of the object, wh

[2022-02-18 20:38] #8554 closed

[2022-02-18 22:42] #8530 closed

[2022-02-19 11:29] jkroepke commented on #8397
@alexmt Hi, is there a chance to backport this into the 2.2.x branch? In case if not, is there any release of ArgoCD 2.3 planned?

[2022-02-19 11:30] rlipscombe commented on #8394
Still no dice with the current 'latest' image w/SHA https://quay.io/repository/argoproj/argocd-applicationset/manifest/sha256:ea791980b0e2925e97492c4185a6319a28e7790a58392b3006e1961018ec0e02

[2022-02-19 13:04] jr64 commented on #8394
The problem here is that argocd does not yet provide arm64 builds of the applicationset image. We can easily verify that with `docker manifest inspect -v quay.io/argoproj/argocd-applicationset:latest`:

[code]
I have investigated a bit and I think the problem is the different build system they use for that particular image. The other images use buildx for building which has integrated support for

[2022-02-19 13:16] rlipscombe commented on #8394
Fix #8400 is supposed to address the problem. What I was attempting to do was track whether the updated images included the fix or not. Maybe there's a better way to do that, but I don't see a good way to correlate the image tag/sha with the git tag/sha. I'll try your container later, thanks.

[2022-02-19 19:02] epcim commented on #5580
FlexV2 has this feature and its very usefull.

BTW, any workaround plugin for the same?

[2022-02-19 19:27] MalKeshar commented on #8554
Thank you for explanation.

[2022-02-19 19:49] danielhelfand opened #8576 "cli: argocd app get leaves Server property blank if destination name is used"
# Summary

When using a destination name as opposed to destination server for an Application, the `Server` property is left blank when you run argocd app get:

[code]

# Motivation

The user running argocd app get may only recognize the destination by the symbolic name and would have to take additional steps to find that information (e.g. including `-o yaml`).

# Proposal

Populate server property

[2022-02-20 03:20] yeya24 commented on #4351
Good question. Right now we just use `Action Get`. I think we need to add another permission for it for example `EXEC`.

[2022-02-20 12:05] mcbenjemaa opened #8579 "argocd Application: Support kustomize patch values"
# Summary

What change you think needs making.

A new patching approach for arogcd Application with kustomize.

# Motivation

Please give examples of your use case, e.g. when would you use this.

Managing many platforms that essentially use almost the same applications is somehow cumbersome with apps of apps pattern or via a helm chart. (We want to avoid DRY as mush as possible!)
Using kustomize t

[2022-02-20 12:20] mcbenjemaa commented on #2936
Hey guys,

I know most of you are dealing with this issue!

I have already tackle around to find a solution, so created an enhancement proposal https://github.com/argoproj/argo-cd/issues/8579
and submitted a PR #8580 I hope it will be accepted and merged soon.

Please support this enhancement by (+1) in the proposal.

You can also check my demo repo: https://github.com/mcbenjemaa/argocd-apps

I wi

[2022-02-20 20:54] ybialik commented on #3008
does anyone got a fix for this?

we are seeing our deployments synced on kubernetes after a tag change but argo ui is showing out of sync for a minute or so and then gets synced

[2022-02-21 04:00] sunshine69 commented on #3008
I think you better check if there is anything outside argocd trying to update the live k8s object which makes it unsynced.
I have just experienced one more thing (in addition to the HPA ordering issue above) that is the resourceVersion - if this is (wrongly) set in the metadata section of a service, when deploy k8s will auto change the value to be different one and argocd will keep syncing forever

[2022-02-21 04:01] sunshine69 commented on #3008
One way to check is to view the live manifest and desired manifest in argocd ui, and the diff.

[2022-02-21 04:47] tidunguyen commented on #3454
How is this going on? I still have this issue and `sync-wave` does not seem to help.

[2022-02-21 04:50] tidunguyen commented on #3454
Seems like `sync-wave` only supports levels lower than application, not the applications themselves. Issue #7978 mentioned this.

[2022-02-21 04:53] tidunguyen commented on #7978
It has been more than 2 months for since issue was created. Is there any temporary workaround for this?

[2022-02-21 06:09] KlavsKlavsen commented on #8501
Yes - I meant replace sorry :)

Definetely - its just difficult to find the right object manually on a big application and a very  manual process - and I know several of my colleagues can't figure out which "option" is the correct one to tick, when they want to sync an application - so argocd really should make it easier..

I would really think "replace" - should by default do this "delete without

[2022-02-21 06:39] rajivml commented on #8466
@jessesuen thanks for looking into it, do you have any ticket tracking user/serviceaccount impersonation efforts ?

and btw if not RBAC, is it possible to add a flag through which "replace" and "force" option can be completely hidden from UI ?

[2022-02-21 08:39] epcim commented on #5553
There are multiple options implementation can take. One is that Kustomize will offer an interface what is being called to run function) another is that Argo will implement role of orchestrator - so it will run the functions on its own.

I would even consider that ArgoCD Application `spec.source.plugin` could accept an KRM Fn as plugin. Some global template processing could be easily done this way

[2022-02-21 10:25] ledroide commented on #6215
Hello @v1r7u . Good questions. But some use cases look weird, specific, or complicated to me.

Simple answer : if one of the has the `createNamespace=true` flag, even if other _Apps_ don't, then the namespace should be created (if the _AppProj_ allows this resource).

If you have 1 _App_ per namespace, this should not happen. If 2 _Apps_  deploy to the same namespace with different namespace label

[2022-02-21 14:10] sourceful-karlson commented on #6915
Same issue k8s 1.21

[2022-02-21 14:24] v1r7u commented on #6215
Hello, @ledroide!
Thanks for your answers!

Most of _our_ problems will arise when we will need to understand how the namespace was created. We have _multiple_ relatively big repositories that are used and maintained by several independent teams. And all the time we have several Applications deployed to the same namespace.

With the proposed model we increase the cognitive load on a human. I might

[2022-02-21 14:41] ledroide commented on #6215
@v1r7u : There will always exist tricky use cases like yours. It should not prevent however from offering simple solutions that satisfy most use cases.

About managing resources.requests/limits, the solution is to set [Limit Ranges](https://kubernetes.io/docs/concepts/policy/limit-range/) for your pods in the namespace, combined with Resource Quotas

[2022-02-21 15:44] telmich commented on #6640
That's a feature I would be looking forward to a lot. It enables non-developers to obtain information about deployed apps, albeit still doing the base64 decode, which is imho an acceptable burden.

[2022-02-21 17:00] adrian-gierakowski commented on #1636
would you accept a PR for this?

[2022-02-21 17:40] lukpep commented on #7799
also waiting for this feature - super handy

[2022-02-21 22:30] olegstepura commented on #1705
I've created a simple docker container image containing `envsubst` which can be used as [config management plugin](https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/) to post-process manifests replacing ENV vars.  Usage example in the readme: [olegstepura/glibc-envsubst](https://github.com/olegstepura/glibc-envsubst)

Idea is the following:

[2022-02-22 03:23] tooptoop4 opened #8586 "OutOfSync/Missing status for Job with ttl"
I have below Job with ttl/backoff. ArgoCD deploys and runs the job fine at first but then it reports status 'OutOfSync' / Missing.

[code]

![image](https://user-images.githubusercontent.com/33283496/155057133-b7754690-3f67-48ab-aefb-1e2312a18636.png)
![image](https://user-images.githubusercontent.com/33283496/155057190-e12513dd-22b2-4e37-9b5f-b0672e5e328c.png)

When i click details it shows live

[2022-02-22 03:43] mkue commented on #2438
I recently came across this again. I managed to set this up by installing Argo CD with `kubectl` as described in the documentation and then creating a new Argo CD application that points to a Helm chart that represents the Argo CD installation.

This seems to work. At least, it's possible to configure the installation by setting parameters in the `values.yaml` file. I can't say how this behaves wi

[2022-02-22 04:42] terrytangyuan commented on #8466
BTW, I just submitted a PR to add the warning in https://github.com/argoproj/argo-cd/pull/8574. Feel free to review and leave any feedback there.

[2022-02-22 04:58] pearj commented on #1705
@olegstepura kustomize already supports environment variables, so you don't need `envsubst`, as long as the environment variables are available when you run kustomize. It is worth noting that environment variables are slightly fiddly to use with kustomize, but it does work, just not out of the box with ArgoCD.

[2022-02-22 06:06] chris-ng-scmp commented on #3295
Would be great if possible to return plugin error message when creating ArgoCD app

[2022-02-22 08:36] wangyi198682 commented on #6106
facing the same issue with argocd v2.2.5, and I can even clone repo from github inside the argocd-repo-server pod.

[2022-02-22 12:06] bkk-bcd commented on #7875
upvote here on both counts

The situation is worse when you use statefulsets with on-demand environments; because argocd doesn't delete the namespace the PV's are left around $$

+1 on documentation too...the Application CRD is not documented well at all and arguably one of the most import things to document.

[2022-02-22 13:39] bkrein-vertex commented on #2401
It'd be really nice if the docs could have more detailed explanations of more complex configs like this.  I was looking for this as well but the docs don't give any clue about the more complex action shown here.

[2022-02-22 14:06] richardpj commented on #8471
I am also seeing this behaviour. Repo servers are ok but controller cpu very high on 4 replicas. From the logs it seems to be doing duplicate recon. Is it maybe not repecting the replica count env var?

[2022-02-22 15:50] sylvainOL commented on #3517
Hello,
any news on this proposal?
What can I do to help?

[2022-02-22 15:51] sylvainOL commented on #3698
Any news on this?
What can I do for help?

[2022-02-22 16:52] zoltan-patchworks commented on #8464
Try escaping the dot.

Example:
[code]

[2022-02-22 17:22] #5482 closed

[2022-02-22 20:49] mattsfrey commented on #3799
Another voice of support here, pulling submodules is causing a lot of issues for me.

[2022-02-22 20:54] olegstepura commented on #1705
Hi, @pearj !

Thanks! You must be talking about [this feature](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/), right?

For some reason I could not make it work. In this example:
[code]

[code]

It keeps var intact after ArgoCD syncs it.
<img width="673" alt="image" src="https://user-images.githubusercontent.com/534510/155217036-a5d7ff5e-ac98-4f58-8747-2ea44ac86ab0.png

[2022-02-23 00:02] nfsouzaj commented on #2789
@KlavsKlavsen Hi, just wanted to give a feedback. I was able to successfully run a decent PoC using proxy charts (fake chart + dependency). Really appreciate the heads up.
Cheers,

[2022-02-23 02:36] eugene-chernyshenko opened #8591 "Support helm release instead of helm template"
# Summary

ArgoCD applies yaml rendered with helm template.
It makes the typical workflow with helm difficult.
We are unable to use helm features like listing releases and showing the diff

# Proposal

It's could be better to use helm upgrade --install instead of helm template with apply

[2022-02-23 02:40] eugene-chernyshenko commented on #8591
May be it's could be possible to do with configManagementPlugins
but there are only init and generate commands available

[2022-02-23 02:41] rajivml commented on #8466
@terrytangyuan thanks for taking it up, it looks good to me. Also want to know if it is technically possible to expose an flag through which force and replace can be disabled because even with warnings, I have seen users blindly syncing apps with replace or force resulting in un-expected behavior

Just for this functionality we don't want to clone the repo and maintain it

[2022-02-23 06:34] tooptoop4 opened #8592 "Anyway to set git branch in AppProject?"
[code]

my git repo has multiple branches. How can i point the AppProject at a specific branch?